<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.abs.mapper.HlsCusAbsProductPurposeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.abs.dto.HlsCusAbsProductPurpose">
        <result column="PURPOSE_ID" property="purposeId" jdbcType="DECIMAL" />
        <result column="PRODUCT_ID" property="productId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="CON_DOCUMENT_CATEGORY" property="conDocumentCategory" jdbcType="VARCHAR" />
        <result column="PURPOSE_TYPE" property="purposeType" jdbcType="VARCHAR" />
        <result column="ABS_COMPANY_ID" property="absCompanyId" jdbcType="DECIMAL" />
        <result column="PURPOSE_AMOUNT" property="purposeAmount" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />

        <result column="purpose_doc_number" property="purposeDocNumber" jdbcType="VARCHAR" />
        <result column="purpose_doc_name" property="purposeDocName" jdbcType="VARCHAR" />
        <result column="sal_bp_name" property="salBpName" jdbcType="VARCHAR" />
        <result column="buy_bp_name" property="buyBpName" jdbcType="VARCHAR" />
        <result column="PURPOSE_TYPE_N" property="purposeTypeN" jdbcType="VARCHAR" />
        <result column="ABS_COMPANY_ID_N" property="absCompanyIdN" jdbcType="VARCHAR" />
        <result column="PURPOSE_DOC_NUMBER_N" property="purposeDocNumberN" jdbcType="VARCHAR" />

    </resultMap>


      <select id="selectAbsProductPurpose" parameterType="com.hand.hls.abs.dto.HlsCusAbsProductPurpose" resultMap="BaseResultMap">
          SELECT
          CAPP.PURPOSE_ID,
          CAPP.PRODUCT_ID,
          CAPP.CONTRACT_ID,
          CAPP.CON_DOCUMENT_CATEGORY,
          CAPP.PURPOSE_TYPE,
          V1.MEANING PURPOSE_TYPE_N,
          CAPP.ABS_COMPANY_ID,
          V2.MEANING ABS_COMPANY_ID_N,
          CAPP.PURPOSE_AMOUNT,
          CAPP.DESCRIPTION,
          CON.CONTRACT_NAME PURPOSE_DOC_NAME,
          CON.CONTRACT_NUMBER PURPOSE_DOC_NUMBER,
          CON.CONTRACT_NUMBER PURPOSE_DOC_NUMBER_N,
          CON.SAL_BP_NAME,
          CON.BUY_BP_NAME
          FROM
          CT_ABS_PRODUCT_PURPOSE CAPP
          LEFT JOIN (
          SELECT
          CC.CONTRACT_ID,
          CC.CONTRACT_NAME,
          CC.CONTRACT_NUMBER,
          (
          SELECT
          MAX( BM.BP_NAME )
          FROM
          PRJ_PROJECT_BP PB
          JOIN HLS_BP_MASTER BM ON PB.BP_ID = BM.BP_ID
          WHERE
          PB.BP_CATEGROY = 'CON_CONTRACT'
          AND PB.BP_TYPE = 'TENANT'
          AND PB.PROJECT_ID = CC.PROJECT_ID
          ) SAL_BP_NAME,
          (
          SELECT
          MAX( BM.BP_NAME )
          FROM
          PRJ_PROJECT_BP PB
          JOIN HLS_BP_MASTER BM ON PB.BP_ID = BM.BP_ID
          WHERE
          PB.BP_CATEGROY = 'CON_CONTRACT'
          AND PB.BP_TYPE = 'TENANT_SEC'
          AND PB.PROJECT_ID = CC.PROJECT_ID
          ) BUY_BP_NAME,
          'CON_CONTRACT' CON_DOCUMENT_CATEGORY
          FROM
          CON_CONTRACT CC
          WHERE
          CC.DATA_CLASS = 'NORMAL'

          UNION


          SELECT
          FC.CONTRACT_ID,
          FC.CONTRACT_NAME,
          FC.CONTRACT_NUMBER,
          (
          SELECT
          MAX( HBM.BP_NAME )
          FROM
          FCT_PROJECT_BP FPB
          JOIN HLS_BP_MASTER HBM ON HBM.BP_ID = FPB.BP_ID
          WHERE
          FPB.BP_ROLE_TYPE = 'SELLER'
          AND FPB.PROJECT_ID = FP.PROJECT_ID
          ) SAL_BP_NAME,
          (
          SELECT
          MAX( HBM.BP_NAME )
          FROM
          FCT_PROJECT_BP FPB
          JOIN HLS_BP_MASTER HBM ON HBM.BP_ID = FPB.BP_ID
          WHERE
          FPB.BP_ROLE_TYPE = 'BUYER'
          AND FPB.PROJECT_ID = FP.PROJECT_ID
          ) BUY_BP_NAME,
          'FCT_CONTRACT' CON_DOCUMENT_CATEGORY
          FROM
          FCT_CONTRACT FC
          JOIN FCT_PROJECT FP ON FC.PROJECT_ID = FP.PROJECT_ID
          WHERE
          FC.DATA_CLASS = 'NORMAL'

          UNION


          SELECT
          CC.CONTRACT_ID,
          CC.CONTRACT_NAME,
          CC.CONTRACT_NUMBER,
          NULL SAL_BP_NAME,
          NULL BUY_BP_NAME,
          'LON_CONTRACT' CON_DOCUMENT_CATEGORY
          FROM
          LON_CONTRACT CC
          ) CON ON CON.CONTRACT_ID = CAPP.CONTRACT_ID
          -- AND CON.CON_DOCUMENT_CATEGORY = CAPP.CON_DOCUMENT_CATEGORY
          LEFT JOIN sys_code_value_b_v v1 ON v1.CODE = 'PURPOSE_TYPE'
          AND v1.code_value = CAPP.PURPOSE_TYPE
          LEFT JOIN sys_code_value_b_v v2 ON v2.CODE = 'ABS_COMPANY_ID'
          AND v2.code_value = CAPP.ABS_COMPANY_ID
          <where>
              <if test="productId != null">
                  AND CAPP.PRODUCT_ID = #{productId}
              </if>
          </where>

      </select>

</mapper>