<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.abs.mapper.HlsCusAbsProjectMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.abs.dto.HlsCusAbsProject">
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="issue_amount" property="issueAmount" jdbcType="DECIMAL"/>
        <result column="project_date" property="projectDate" jdbcType="DATE"/>
        <result column="due_date_begin" property="dueDateBegin" jdbcType="DATE"/>
        <result column="due_date_end" property="dueDateEnd" jdbcType="DATE"/>
        <result column="pay_interest_frequency" property="payInterestFrequency" jdbcType="VARCHAR"/>
        <result column="rental_back_date" property="rentalBackDate" jdbcType="DATE"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="base_date" property="baseDate" jdbcType="DATE"/>
        <result column="collection_account_id" property="collectionAccountId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="DECIMAL"/>
        <result column="unit_id" property="unitId" jdbcType="DECIMAL"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="project_status" property="projectStatus" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="business_type_n" property="businessTypeN" jdbcType="VARCHAR"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="transfer_status" property="transferStatus" jdbcType="VARCHAR"/>
        <result column="exspense_status" property="exspenseStatus" jdbcType="VARCHAR"/>
        <result column="redemption_date" property="redemptionDate" jdbcType="DATE"/>
        <result column="receive_description" property="receiveDescription" jdbcType="VARCHAR"/>
        <result column="approval_result" property="approvalResult" jdbcType="VARCHAR"/>
        <result column="approval_comment" property="approvalComment" jdbcType="VARCHAR"/>
        <result column="project_short_name" property="projectShortName" jdbcType="VARCHAR"/>
        <result column="other_project_type" property="otherProjectType" jdbcType="VARCHAR"/>
        <result column="currency_code" property="currencyCode" jdbcType="VARCHAR"/>
        <result column="rele_pack_flag" property="relePackFlag" jdbcType="VARCHAR"/>
        <result column="pack_id" property="packId" jdbcType="DECIMAL"/>
        <result column="base_asset_type" property="baseAssetType" jdbcType="VARCHAR"/>
        <result column="project_english_type" property="projectEnglishType" jdbcType="VARCHAR"/>

        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
        <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
        <result column="name_or_number" property="nameOrNumber" jdbcType="VARCHAR"/>

        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR"/>
        <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>

        <result column="noMeaning" property="noMeaning" jdbcType="VARCHAR"/>
        <result column="collection_account_name" property="collectionAccountName" jdbcType="VARCHAR"/>
        <result column="collection_account_num" property="collectionAccountNum" jdbcType="VARCHAR"/>
        <result column="collection_branch_name" property="collectionBranchName" jdbcType="VARCHAR"/>

         <result column="pack_number" property="packNumber" jdbcType="VARCHAR"/>
         <result column="uncollected_due_amount" property="uncollectedDueAmount" jdbcType="DECIMAL" />
        <result column="uncollected_principal" property="uncollectedPrincipal" jdbcType="DECIMAL" />
        <result column="uncollected_interest" property="uncollectedInterest" jdbcType="DECIMAL" />
        <result column="asset_contract_count" property="assetContractCount" jdbcType="DECIMAL" />
        <result column="collected_due_amount" property="collectedDueAmount" jdbcType="DECIMAL" />
        <result column="collected_principal" property="collectedPrincipal" jdbcType="DECIMAL" />
        <result column="collected_interest" property="collectedInterest" jdbcType="DECIMAL" />
        <result column="asset_rent_count" property="assetRentCount" jdbcType="DECIMAL" />
         <result column="overdue_count" property="overdueCount" jdbcType="DECIMAL" />

         <result column="currency_code_n" property="currencyCodeN" jdbcType="VARCHAR" />
         <result column="project_status_n" property="projectStatusN" jdbcType="VARCHAR" />
         <result column="base_asset_type_n" property="baseAssetTypeN" jdbcType="VARCHAR" />
         <result column="pack_id_n" property="packIdN" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="assetsPackage">
     (select
          p.pack_id,
          count(1) asset_contract_count,
          sum(p.uncollected_due_amount) uncollected_due_amount,
          sum(p.collected_due_amount)  collected_due_amount,
          sum(p.uncollected_principal) uncollected_principal,
          sum(p.collected_principal)   collected_principal,
          sum(p.uncollected_interest)  uncollected_interest,
          sum(p.collected_interest)    collected_interest,
          sum(p.overdue_count) overdue_count
     from (
        select
            caap.pack_id,
            caap.package_id,
            nvl(sum(
                case
                    when (caap.times_from &lt;= con.times
                        and caap.times_to &gt;= con.times )
                    then con.uncollected_due_amount
                    else 0
                end),0) uncollected_due_amount,
            nvl(sum(
            case
                when (caap.times_from &lt;= con.times
                    and caap.times_to &gt;= con.times )
                then con.collected_due_amount
                else 0
            end),0) collected_due_amount,
            nvl(sum(
                case
                    when (caap.times_from &lt;= con.times
                        and caap.times_to &gt;= con.times )
                    then con.uncollected_principal
                    else 0
                end),0) uncollected_principal,
            nvl(sum(
                case
                    when (caap.times_from &lt;= con.times
                        and caap.times_to &gt;= con.times )
                    then con.collected_principal
                    else 0
                end),0) collected_principal,
            nvl(sum(
                case
                    when (caap.times_from &lt;= con.times
                        and caap.times_to &gt;= con.times )
                    then con.uncollected_interest
                    else 0
                end),0) uncollected_interest,
            nvl(sum(
                case
                    when (caap.times_from &lt;= con.times
                        and caap.times_to &gt;= con.times )
                    then con.collected_interest
                    else 0
                end),0) collected_interest,
          nvl(sum(
                case
                    when (caap.times_from &lt;= con.times
                        and caap.times_to &gt;= con.times )
                    then (
                         case when con.overdue_status='Y'
                              then 1
                              else 0
                         end
                         )
                    else 0
                end),0) overdue_count
        from
            ct_abs_assets_package caap
        join
            (
                select
                    fc.contract_id,
                    'FCT_CONTRACT'           con_document_category,
                    ca.quotation_cashflow_id cashflow_id,
                    ca.times,
                    nvl(ca.due_amount,0)-nvl(ca.received_amount,0)   uncollected_due_amount,
                    nvl(ca.due_amount,0)                             collected_due_amount,
                    case when ca.cf_item=54
                    then  nvl(ca.due_amount,0)-nvl(ca.received_amount,0)
                    else 0 end uncollected_principal,
                    case when ca.cf_item=54
                    then  nvl(ca.due_amount,0)
                    else 0 end collected_principal,
                    case when ca.cf_item=55
                    then  nvl(ca.due_amount,0)-nvl(ca.received_amount,0)
                    else 0 end   uncollected_interest,
                     case when ca.cf_item=55
                    then  nvl(ca.due_amount,0)
                    else 0 end   collected_interest,
                    ca.overdue_status
                from
                    fct_contract fc
                join
                    fct_quotation_cashflow ca
                on
                    fc.contract_id=ca.contract_id
                where
                    fc.data_class='NORMAL'
                and ca.cf_status = 'RELEASE'
                and ca.cf_direction = 'INFLOW'
                and ca.cf_item in(54,55)
                union
                select
                    fc.contract_id,
                    'CON_CONTRACT' con_document_category,
                    ca.cashflow_id,
                    ca.times,
                    nvl(ca.due_amount,0)-nvl(ca.received_amount,0)   uncollected_due_amount,
                    nvl(ca.due_amount,0)                             collected_due_amount,
                    nvl(ca.principal,0)-nvl(ca.received_principal,0) uncollected_principal,
                    nvl(ca.principal,0)                              collected_principal,
                    nvl(ca.interest,0)-nvl(ca.received_interest,0)   uncollected_interest,
                    nvl(ca.interest,0)                               collected_interest,
                    ca.overdue_status
                from
                    con_contract fc
                join
                    con_contract_cashflow ca
                on
                    fc.contract_id=ca.contract_id
                where
                    fc.data_class='NORMAL'
                and ca.cf_status = 'RELEASE'
                and ca.cf_direction = 'INFLOW'
                and ca.cf_item =1) con
        on
            caap.contract_id=con.contract_id
        and caap.con_document_category=con.con_document_category
        where
            1=1
        group by
            caap.pack_id,
            caap.package_id
        ) p
         group by  p.pack_id )
    </sql>

    <sql id="assetsRentCount">
        (select
            pa.pack_id,
            count(1) asset_rent_count
        from
            (
                select distinct
                    caap.pack_id,
                    con.bp_id
                from
                    ct_abs_assets_package caap
                join
                    (
                        select
                            fc.contract_id,
                            'FCT_CONTRACT' con_document_category,
                            pb.bp_id
                        from
                            fct_contract fc
                        join
                            fct_project_bp pb
                        on
                            pb.project_id=fc.project_id
                        and pb.bp_role_type='SELLER'
                        where
                            fc.data_class='NORMAL'
                        union
                        select
                            fc.contract_id,
                            'CON_CONTRACT' con_document_category,
                            pb.bp_id
                        from
                            con_contract fc
                        join
                            prj_project_bp pb
                        on
                            pb.project_id=fc.project_id
                        and pb.bp_categroy='CON_CONTRACT'
                        and pb.bp_type='TENANT'
                        where
                            fc.data_class='NORMAL' ) con
                on
                    caap.contract_id=con.contract_id
                and caap.con_document_category=con.con_document_category) pa
        group by
            pa.pack_id)
    </sql>

    <select id="queryProjectDetail" parameterType="com.hand.hls.abs.dto.HlsCusAbsProject" resultMap="BaseResultMap">
        SELECT
        caap.pack_number as pack_id_n,
        cap.*,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'ABS_TYPE' and s.code_value = cap.business_type) business_type_n,
        su.description AS create_person,
        ( SELECT fc.company_full_name FROM fnd_company fc WHERE fc.company_id = cap.company_id ) AS company_name,
        ( SELECT fou.unit_name FROM fnd_org_unit fou WHERE fou.unit_id = cap.unit_id ) AS unit_name,
        caap.base_date,
        caap.pack_number,
        pack.asset_contract_count,
        rent.asset_rent_count,
        pack.uncollected_due_amount,
        pack.uncollected_principal,
        pack.uncollected_interest,
        pack.collected_due_amount,
        pack.collected_principal,
        pack.collected_interest,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'CHS.CURRENCY_TYPE'
        and scv.value = cap.currency_code)  as currency_code_n,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'ABS.PROJECT_STATUS'
        and scv.value = cap.project_status)  as project_status_n,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'ABS.BASE_ASSET_TYPE'
        and scv.value = cap.base_asset_type)  as base_asset_type_n

        FROM
            ct_abs_project cap
        left join ct_abs_assets_package caap
        on cap.pack_id = caap.pack_id
        left join  <include refid="assetsPackage"/> pack
        on pack.pack_id  = caap.pack_id
        left join  <include refid="assetsRentCount"/> rent
        on rent.pack_id  = caap.pack_id
        left join sys_user su on su.user_id = cap.user_id
        <where> 1=1
            and cap.company_id = #{request.companyId}
           <!-- <if test="noMeaning != null">
                and exists (select 1 from ct_abs_property_contract t where t.project_id = cap.project_id and t.product_id is null)
            </if>-->
            <if test="projectName != null">
                and cap.project_name like concat('%',concat(#{projectName},'%'))
            </if>
            <if test="projectNumber != null">
                and cap.project_number like concat('%',concat(#{projectNumber},'%'))
            </if>
            <if test="projectId != null">
                and cap.project_id = #{projectId}
            </if>
            <if test="projectStatus != null">
                and cap.project_status = #{projectStatus}
            </if>
            <if test="projectDateStart != null">
                and cap.project_date &gt;= #{projectDateStart}
            </if>
            <if test="projectDateEnd != null">
                and cap.project_date &lt;= #{projectDateEnd}
            </if>
            <if test="issueAmount != null">
                and cap.issue_amount = #{issueAmount}
            </if>
            <if test="amountFrom != null">
                and cap.issue_amount &gt;= #{amountFrom}
            </if>
            <if test="amountTo != null">
                and cap.issue_amount &lt;= #{amountTo}
            </if>
            <if test="nameOrNumber != null">
                and (cap.project_number like concat('%',concat(#{nameOrNumber},'%')) or cap.project_name like
                concat('%',concat(#{nameOrNumber},'%')))
            </if>
            <if test="createPerson != null">
                and su.description like concat('%',concat(#{createPerson},'%'))
            </if>
            order by cap.creation_date desc
        </where>
    </select>

    <resultMap id="absPieChartQueryMap" type="java.util.Map">
        <result column="project_count" property="projectStatus"/>
        <result column="project_count" property="projectCount"/>
        <result column="project_count_percent" property="projectCountPercent"/>
        <result column="project_sum" property="projectSum"/>
    </resultMap>
    <select id="absPieChartQuery" parameterType="com.hand.hls.abs.dto.HlsCusAbsProject" resultMap="absPieChartQueryMap">
        select ap.project_status,
        count(ap.project_id) project_count,
        count(ap.project_id)/(select count(*) from ct_abs_project c where c.company_id = #{request.companyId})*100 project_count_percent,
        (select count(*) from ct_abs_project a where a.company_id = #{request.companyId}) project_sum
        from ct_abs_project ap
        where ap.company_id = #{request.companyId}
        group by ap.project_status
    </select>


    <select id="selectProjectPackageData" parameterType="com.hand.hls.abs.dto.HlsCusAbsProject" resultMap="BaseResultMap">
        select
             cap.project_number,
             cap.project_name,
             (select su.description from sys_user su where su.user_id = cap.user_id )  create_person,
             caap.base_date,
             pack.*
         from
             ct_abs_project cap
         join
             ct_abs_assets_pack caap
           on
             cap.pack_id=caap.pack_id
         join  <include refid="assetsPackage"/> pack
           on
             pack.pack_id  = caap.pack_id
        where
            cap.project_status='APPROVED'
         <if test="projectNumber != null">
            and (cap.project_name like concat('%',concat(#{projectNumber},'%')) or cap.project_number like concat('%',concat(#{projectNumber},'%')))
        </if>
    </select>

    <select id="selectProductCountByProjectId" resultType="int">
        select
            count(1)
          from
             ct_abs_product cap
          where
              cap.data_class='NORMAL'
          and cap.project_id = #{projectId}
    </select>
</mapper>

