<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.abs.mapper.HlsCusAbsPropertyContractMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.abs.dto.HlsCusAbsPropertyContract">
        <result column="property_contract_id" property="propertyContractId" jdbcType="DECIMAL"/>
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="total_principal" property="totalPrincipal" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        <result column="total_interest" property="totalInterest" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        <result column="uncollected_principal" property="uncollectedPrincipal" jdbcType="DECIMAL" />
        <result column="uncollected_interest" property="uncollectedInterest" jdbcType="DECIMAL" />
        <result column="received_interest" property="receivedInterest" jdbcType="DECIMAL" />
        <result column="net_received_interest" property="netReceivedInterest" jdbcType="DECIMAL" />
        <result column="received_principal" property="receivedPrincipal" jdbcType="DECIMAL" />
        <result column="over_due" property="overDue" jdbcType="VARCHAR"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="BIGINT"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
        
        
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="project_date" property="projectDate" jdbcType="DATE"/>
        <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
    </resultMap>
    
    <select id="query" parameterType="com.hand.hls.abs.dto.HlsCusAbsPropertyContract" resultMap="BaseResultMap">
        select * from (SELECT
        capc.property_contract_id,
        capc.over_due,
        capc.contract_id,
        capc.project_id,
        capc.product_id,
        capc.total_principal,
        capc.total_interest,
        capc.uncollected_principal,
        capc.uncollected_interest,
        capc.document_type,
        fc.contract_number,
        fc.contract_name,
		(
		SELECT
		hbm.bp_name
		FROM
		hls_bp_master hbm,
		fct_project_bp fpb
		WHERE
		hbm.bp_id = fpb.bp_id
		AND fpb.project_id = fc.project_id
		AND fpb.credit_grantor_party = 'Y'
		) AS bp_name
        FROM
        ct_abs_property_contract capc, fct_contract fc
		where
			capc.contract_id = fc.contract_id
        and capc.document_type = 'FCT_CONTRACT'
        
        
        UNION
        
        
        SELECT
        capc.property_contract_id,
        capc.over_due,
        capc.contract_id,
        capc.project_id,
        capc.product_id,
        capc.total_principal,
        capc.total_interest,
        capc.uncollected_principal,
        capc.uncollected_interest,
        capc.document_type,
        cc.contract_number,
        cc.contract_name,
		( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE cc.tenant_id = hbm.bp_id ) AS bp_name
		FROM
        ct_abs_property_contract capc
        , con_contract cc where capc.contract_id = cc.contract_id
        and
        capc.document_type = 'CON_CONTRACT') t1
        <where> 1=1
            <if test="projectId != null">
                and t1.project_id = #{projectId}
            </if>
            <if test="productId != null">
                and t1.product_id = #{productId}
            </if>
        </where>
    </select>
    
    <select id="queryHome" parameterType="com.hand.hls.abs.dto.HlsCusAbsPropertyContract" resultMap="BaseResultMap">
        select t3.* from
        (select t2.*,cap.project_name,cap.project_number,cap.project_date,(select su.description from sys_user su where su.user_id = cap.user_id) as create_person from (
        select t1.project_id,
        sum(t1.uncollected_principal) as uncollected_principal,
        sum(t1.uncollected_interest) as uncollected_interest
        from (SELECT
        capc.property_contract_id,
        capc.over_due,
        capc.project_id,
        capc.product_id,
        capc.total_principal,
        capc.total_interest,
        capc.uncollected_principal,
        capc.uncollected_interest,
        fc.contract_number,
        fc.contract_name,
        (
        SELECT
        hbm.bp_name
        FROM
        hls_bp_master hbm,
        fct_project_bp fpb
        WHERE
        hbm.bp_id = fpb.bp_id
        AND fpb.project_id = fc.project_id
        AND fpb.credit_grantor_party = 'Y'
        ) AS bp_name
        FROM
        ct_abs_property_contract capc, fct_contract fc
        where
        capc.contract_id = fc.contract_id
        and capc.document_type = 'FCT_CONTRACT'
        
        
        UNION
        
        
        SELECT
        capc.property_contract_id,
        capc.over_due,
        capc.project_id,
        capc.product_id,
        capc.total_principal,
        capc.total_interest,
        capc.uncollected_principal,
        capc.uncollected_interest,
        cc.contract_number,
        cc.contract_name,
        ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE cc.tenant_id = hbm.bp_id ) AS bp_name
        FROM
        ct_abs_property_contract capc
        , con_contract cc where capc.contract_id = cc.contract_id
        and
        capc.document_type = 'CON_CONTRACT') t1
        group by t1.project_id) t2 ,ct_abs_project cap where t2.project_id = cap.project_id) t3
        <where> 1=1
        <if test="projectName != null">
            and (t3.project_name like concat('%',concat(#{projectName},'%')) or t3.project_number like concat('%',concat(#{projectNumber},'%')))
        </if>
        </where>
    </select>
    
    <select id="queryContract" parameterType="com.hand.hls.abs.dto.HlsCusAbsPropertyContract" resultMap="BaseResultMap">
    SELECT
        (
        CASE
        document_type
        WHEN 'CON_CONTRACT' THEN
        ( SELECT cc.contract_name FROM con_contract cc WHERE cc.contract_id = pc.contract_id ) ELSE ( SELECT fc.contract_name FROM fct_contract fc WHERE fc.contract_id = pc.contract_id )
        END
        ) AS contract_name,
        (
        CASE
        document_type
        WHEN 'CON_CONTRACT' THEN
        ( SELECT cc.contract_number FROM con_contract cc WHERE cc.contract_id = pc.contract_id ) ELSE ( SELECT fc.contract_number FROM fct_contract fc WHERE fc.contract_id = pc.contract_id )
        END
        ) AS contract_number,
        (
        CASE
        document_type
        WHEN 'CON_CONTRACT' THEN
        ( SELECT hbm.bp_name FROM con_contract cc, hls_bp_master hbm WHERE cc.contract_id = pc.contract_id AND cc.tenant_id = hbm.bp_id ) ELSE (
        SELECT
        hbm.bp_name
        FROM
        fct_contract fc,
        hls_bp_master hbm,
        fct_project_bp fpb
        WHERE
        hbm.bp_id = fpb.bp_id
        AND fpb.project_id = fc.project_id
        AND fc.contract_id = pc.contract_id
        AND fpb.credit_grantor_party = 'Y'
        )
        END
        ) AS bp_name,
        pc.*
        FROM
        ct_abs_property_contract pc
    <where> pc.product_id is null
    <if test="projectId != null">
        and pc.project_id = #{projectId}
    </if>
    <if test="contractIds != null">
        and pc.contract_id NOT IN
        <foreach collection="contractIds" item="item" open="(" separator="," close=")">
        #{item}
        </foreach>
    </if>
    </where>
    </select>

    <select id="queryChangeContract" parameterType="com.hand.hls.abs.dto.HlsCusAbsPropertyContract"
            resultMap="BaseResultMap">
        SELECT
        t1.*
        FROM
        (
        SELECT
        cc.contract_id,
        cc.contract_name,
        cc.contract_number,
        cc.company_id,
        'CON_CONTRACT' AS document_type
        FROM
        ( SELECT c.contract_id, c.contract_name,c.contract_number,c.company_id, c.data_class, c.contract_status FROM
        con_contract c ) cc
        WHERE
        cc.data_class = 'NORMAL'
        AND cc.contract_status = 'INCEPT'
        AND EXISTS ( SELECT 1 FROM con_contract_cashflow ccc WHERE ccc.contract_id = cc.contract_id AND
        ccc.write_off_flag != 'FULL' )

        UNION


        SELECT
        fc.contract_id,
        fc.contract_name,
        fc.contract_number,
        fc.company_id,
        'FCT_CONTRACT' AS document_type
        FROM
        fct_contract fc
        WHERE
        fc.data_class = 'NORMAL'
        AND fc.contract_status = 'INCEPT'
        AND EXISTS ( SELECT 1 FROM fct_quotation_cashflow fqc WHERE fqc.contract_id = fc.contract_id AND
        fqc.write_off_flag != 'FULL' )
        ) t1
        <where>
            t1.company_id = #{request.companyId}
            AND NOT EXISTS ( SELECT 1 FROM ct_abs_property_contract capc WHERE capc.contract_id = t1.contract_id AND
            capc.document_type = t1.document_type )
            <if test="contractName != null">
                and t1.contract_name like concat('%',concat(#{contractName},'%'))
            </if>
            <if test="contractNumber != null">
                and t1.contract_number like concat('%',concat(#{contractNumber},'%'))
            </if>
            ORDER BY
            t1.contract_id DESC
        </where>
    </select>

    <resultMap id="AbsContractResultMap" type="java.util.Map">
        <result column="contract_id" property="contractId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="company_id" property="companyId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="total_principal" property="totalPrincipal" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        <result column="total_interest" property="totalInterest" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        <result column="uncollected_principal" property="uncollectedPrincipal" jdbcType="DECIMAL"
                javaType="java.math.BigDecimal"/>
        <result column="uncollected_interest" property="uncollectedInterest" jdbcType="DECIMAL"
                javaType="java.math.BigDecimal"/>
    </resultMap>
    
    <select id="queryContractForProductContract" parameterType="com.hand.hls.abs.dto.HlsCusAbsPropertyContract" resultMap="AbsContractResultMap">
        SELECT
            t1.*
        FROM
            (
            SELECT
                cc.contract_id,
                cc.contract_name,
                cc.contract_number,
                cc.company_id,
                'CON_CONTRACT' AS document_type,
                ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE cc.tenant_id = hbm.bp_id ) AS bp_name,
                ( SELECT sum( ccc.principal ) FROM con_contract_cashflow ccc WHERE ccc.contract_id = cc.contract_id ) AS total_principal,
                ( SELECT sum( ccc.interest ) FROM con_contract_cashflow ccc WHERE ccc.contract_id = cc.contract_id ) AS total_interest,
                (
                SELECT
                    sum( ccc.principal - ccc.received_principal )
                FROM
                    con_contract_cashflow ccc
                WHERE
                    ccc.contract_id = cc.contract_id
                    AND ccc.write_off_flag != 'FULL'
                    AND ccc.due_date >  date_add( to_date(#{dateStr},'YYYY-MM-DD'), interval cast(-cc.renting_frequency as unsigned int) month )
                ) AS uncollected_principal,
                (
                SELECT
                    sum( ccc.interest - ccc.received_interest )
                FROM
                    con_contract_cashflow ccc
                WHERE
                    ccc.contract_id = cc.contract_id
                    AND ccc.write_off_flag != 'FULL'
                    AND ccc.due_date >  date_add( to_date(#{dateStr},'YYYY-MM-DD'),  interval cast(cc.renting_frequency as unsigned int) month)
                ) AS uncollected_interest
            FROM
                (
                SELECT
                    c.contract_id,
                    c.contract_name,
                    c.contract_number,
                    c.company_id,
                    c.data_class,
                    c.contract_status,
                    c.tenant_id,
                    ( CASE c.renting_frequency WHEN 'YEAR' THEN 12 WHEN 'HALF_A_YEAR' THEN 6 WHEN 'QUARTER' THEN 3 ELSE 1 END ) renting_frequency
                FROM
                    con_contract c
                ) cc
            WHERE
                cc.data_class = 'NORMAL'
                AND cc.contract_status = 'INCEPT'
                AND EXISTS ( SELECT 1 FROM con_contract_cashflow ccc WHERE ccc.contract_id = cc.contract_id AND ccc.write_off_flag != 'FULL' ) UNION
            SELECT
                fc.contract_id,
                fc.contract_name,
                fc.contract_number,
                fc.company_id,
                'FCT_CONTRACT' AS document_type,
                (
                SELECT
                    hbm.bp_name
                FROM
                    hls_bp_master hbm,
                    fct_project_bp fpb
                WHERE
                    hbm.bp_id = fpb.bp_id
                    AND fpb.project_id = fc.project_id
                    AND fpb.credit_grantor_party = 'Y'
                ) AS bp_name,
                ( SELECT sum( nvl( fqc.due_amount, 0 ) ) FROM fct_quotation_cashflow fqc WHERE fqc.contract_id = fc.contract_id AND fqc.cf_item = 54 ) AS total_principal,
                ( SELECT sum( nvl( fqc.due_amount, 0 ) ) FROM fct_quotation_cashflow fqc WHERE fqc.contract_id = fc.contract_id AND fqc.cf_item = 55 ) AS total_interest,
                (
                SELECT
                    sum( nvl( fqc.due_amount, 0 ) )
                FROM
                    fct_quotation_cashflow fqc
                WHERE
                    fqc.contract_id = fc.contract_id
                    AND fqc.write_off_flag != 'FULL'
                    AND fqc.cf_item = 54
                    AND fqc.due_date > to_date( #{dateStr}, 'YYYY-MM-DD' )
                ) AS uncollected_principal,
                (
                SELECT
                    sum( nvl( fqc.due_amount, 0 ) )
                FROM
                    fct_quotation_cashflow fqc
                WHERE
                    fqc.contract_id = fc.contract_id
                    AND fqc.write_off_flag != 'FULL'
                    AND fqc.cf_item = 55
                    AND fqc.due_date > to_date( #{dateStr}, 'YYYY-MM-DD' )
                ) AS uncollected_interest
            FROM
                fct_contract fc
            WHERE
                fc.data_class = 'NORMAL'
                AND fc.contract_status = 'INCEPT'
                AND EXISTS ( SELECT 1 FROM fct_quotation_cashflow fqc WHERE fqc.contract_id = fc.contract_id AND fqc.write_off_flag != 'FULL' )
            ) t1
        <where> 1=1
        <if test="contractId != null">
            and t1.contract_id = #{contractId}
        </if>
        <if test="documentType != null">
            and t1.document_type = #{documentType}
        </if>
        </where>
    </select>

    <select id="queryAssetChangeContract" parameterType="com.hand.hls.abs.dto.HlsCusAbsPropertyContract" resultMap="BaseResultMap">
        SELECT
        (
        CASE
        document_type
        WHEN 'CON_CONTRACT' THEN
        ( SELECT cc.contract_name FROM con_contract cc WHERE cc.contract_id = pc.contract_id ) ELSE ( SELECT
        fc.contract_name FROM fct_contract fc WHERE fc.contract_id = pc.contract_id )
        END
        ) AS contract_name,
        (
        CASE
        document_type
        WHEN 'CON_CONTRACT' THEN
        ( SELECT cc.contract_number FROM con_contract cc WHERE cc.contract_id = pc.contract_id ) ELSE ( SELECT
        fc.contract_number FROM fct_contract fc WHERE fc.contract_id = pc.contract_id )
        END
        ) AS contract_number,
        (
        CASE
        document_type
        WHEN 'CON_CONTRACT' THEN
        ( SELECT hbm.bp_name FROM con_contract cc, hls_bp_master hbm WHERE cc.contract_id = pc.contract_id AND
        cc.tenant_id = hbm.bp_id ) ELSE (
        SELECT
        hbm.bp_name
        FROM
        fct_contract fc,
        hls_bp_master hbm,
        fct_project_bp fpb
        WHERE
        hbm.bp_id = fpb.bp_id
        AND fpb.project_id = fc.project_id
        AND fc.contract_id = pc.contract_id
        AND fpb.credit_grantor_party = 'Y'
        )
        END
        ) AS bp_name,
        pc.*
        FROM
        ct_abs_property_contract pc
        <where>pc.product_id is null
            <if test="projectId != null">
                and pc.project_id = #{projectId}
            </if>
            <if test="propertyContractIds != null">
                and pc.property_contract_id NOT IN
                <foreach collection="propertyContractIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryFinishContract" parameterType="com.hand.hls.abs.dto.HlsCusAbsPropertyContract"
            resultMap="BaseResultMap">
        SELECT
        (
        CASE
        document_type
        WHEN 'CON_CONTRACT' THEN
        ( SELECT cc.contract_name FROM con_contract cc WHERE cc.contract_id = pc.contract_id ) ELSE ( SELECT
        fc.contract_name FROM fct_contract fc WHERE fc.contract_id = pc.contract_id )
        END
        ) AS contract_name,
        (
        CASE
        document_type
        WHEN 'CON_CONTRACT' THEN
        ( SELECT cc.contract_number FROM con_contract cc WHERE cc.contract_id = pc.contract_id ) ELSE ( SELECT
        fc.contract_number FROM fct_contract fc WHERE fc.contract_id = pc.contract_id )
        END
        ) AS contract_number,
        (
        CASE
        document_type
        WHEN 'CON_CONTRACT' THEN
        ( SELECT hbm.bp_name FROM con_contract cc, hls_bp_master hbm WHERE cc.contract_id = pc.contract_id AND
        cc.tenant_id = hbm.bp_id ) ELSE (
        SELECT
        hbm.bp_name
        FROM
        fct_contract fc,
        hls_bp_master hbm,
        fct_project_bp fpb
        WHERE
        hbm.bp_id = fpb.bp_id
        AND fpb.project_id = fc.project_id
        AND fc.contract_id = pc.contract_id
        AND fpb.credit_grantor_party = 'Y'
        )
        END
        ) AS bp_name,
        pc.*
        FROM
        ct_abs_property_contract pc
        <where>1=1
            <if test="productId != null">
                and pc.product_id = #{productId}
            </if>
            <if test="propertyContractIds != null">
                and pc.property_contract_id NOT IN
                <foreach collection="propertyContractIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>

