<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.abs.mapper.HlsCusAbsProductReceiptMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.abs.dto.HlsCusAbsProductReceipt">
        <result column="RECEIPT_ID" property="receiptId" jdbcType="DECIMAL" />
        <result column="PRODUCT_ID" property="productId" jdbcType="DECIMAL" />
        <result column="STRUCTURE_ID" property="structureId" jdbcType="DECIMAL" />
        <result column="RECEIPT_COMPANY_ID" property="receiptCompanyId" jdbcType="DECIMAL" />
        <result column="ABS_BANK_ACCOUNT_ID" property="absBankAccountId" jdbcType="DECIMAL" />
        <result column="RECEIPT_AMOUNT" property="receiptAmount" jdbcType="DECIMAL" />
        <result column="RECEIPT_DATE" property="receiptDate" jdbcType="DATE" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_NUM" property="bankAccountNum" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_NAME" property="bankAccountName" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_NAME_N" property="bankAccountNameN" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_NAME" property="bankBranchName" jdbcType="VARCHAR" />
        <result column="COMPANY_FULL_NAME" property="companyFullName" jdbcType="VARCHAR" />
        <result column="PROJECT_GRADE" property="projectGrade" jdbcType="VARCHAR" />

    </resultMap>

    <select id="selectProductReceiptData"  parameterType="com.hand.hls.abs.dto.HlsCusAbsProductReceipt" resultMap="BaseResultMap">
    SELECT
        CAPR.RECEIPT_ID,
        CAPR.PRODUCT_ID,
        CAPR.RECEIPT_COMPANY_ID,
        CAPR.STRUCTURE_ID,
        CAPR.ABS_BANK_ACCOUNT_ID,
        CAPR.RECEIPT_AMOUNT,
        CAPR.RECEIPT_DATE,
        CAPR.DESCRIPTION,
        CAPR.COMPANY_FULL_NAME,
        CAPR.BANK_ACCOUNT_NUM,
        CAPR.BANK_ACCOUNT_NAME,
        CAPR.BANK_ACCOUNT_NAME as BANK_ACCOUNT_NAME_N,
        CAPR.BANK_BRANCH_NAME
    FROM
        CT_ABS_PRODUCT_RECEIPT CAPR
    WHERE
       1=1
    <if test="productId != null">
      AND CAPR.PRODUCT_ID = #{productId}
    </if>

    </select>

</mapper>