<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.abs.mapper.HlsCusAbsProductCollectionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.abs.dto.HlsCusAbsProductCollection">
        <result column="collection_id" property="collectionId" jdbcType="DECIMAL"/>
        <result column="product_id" property="productId" jdbcType="DECIMAL"/>
        <result column="times" property="times" jdbcType="DECIMAL"/>
        <result column="rental_back_date" property="rentalBackDate" jdbcType="DATE"/>
        <result column="cash_date" property="cashDate" jdbcType="DATE"/>
        <result column="collection_date" property="collectionDate" jdbcType="DATE"/>
        <result column="remittance_date" property="remittanceDate" jdbcType="DATE"/>
        <result column="report_date" property="reportDate" jdbcType="DATE"/>
        <result column="due_amount" property="dueAmount" jdbcType="DECIMAL"/>
        <result column="principal" property="principal" jdbcType="DECIMAL"/>
        <result column="interest" property="interest" jdbcType="DECIMAL"/>
        <result column="collection_number" property="collectionNumber" jdbcType="VARCHAR"/>
        <result column="collection_apply_date" property="collectionApplyDate" jdbcType="DATE"/>
        <result column="collection_amount" property="collectionAmount" jdbcType="DECIMAL"/>
        <result column="collection_status" property="collectionStatus" jdbcType="VARCHAR"/>
        <result column="collection_organization_id" property="collectionOrganizationId" jdbcType="BIGINT"/>
        <result column="collection_account_id" property="collectionAccountId" jdbcType="BIGINT"/>
        <result column="imputation_account_id" property="imputationAccountId" jdbcType="BIGINT"/>
        <result column="remittance_number" property="remittanceNumber" jdbcType="VARCHAR"/>
        <result column="remittance_apply_date" property="remittanceApplyDate" jdbcType="DATE"/>
        <result column="remittance_amount" property="remittanceAmount" jdbcType="DECIMAL"/>
        <result column="remittance_status" property="remittanceStatus" jdbcType="VARCHAR"/>
        <result column="remittance_organization_id" property="remittanceOrganizationId" jdbcType="BIGINT"/>
        <result column="cash_number" property="cashNumber" jdbcType="VARCHAR"/>
        <result column="cash_apply_date" property="cashApplyDate" jdbcType="DATE"/>
        <result column="cash_amount" property="cashAmount" jdbcType="DECIMAL"/>
        <result column="cash_status" property="cashStatus" jdbcType="VARCHAR"/>
        <result column="complete_cash" property="completeCash" jdbcType="VARCHAR"/>
        <result column="service_fee" property="serviceFee" jdbcType="DECIMAL"/>
        <result column="hosting_fee" property="hostingFee" jdbcType="DECIMAL"/>
        <result column="management_fee" property="managementFee" jdbcType="DECIMAL"/>
        <result column="underwriting_fee" property="underwritingFee" jdbcType="DECIMAL"/>
        <result column="rating_fee" property="ratingFee" jdbcType="DECIMAL"/>
        <result column="evaluation_fee" property="evaluationFee" jdbcType="DECIMAL"/>
        <result column="listing_fee" property="listingFee" jdbcType="DECIMAL"/>
        <result column="lawyer_fee" property="lawyerFee" jdbcType="DECIMAL"/>
        <result column="accountant_fee" property="accountantFee" jdbcType="DECIMAL"/>
        <result column="other_fee" property="otherFee" jdbcType="DECIMAL"/>
        <result column="tax_fee" property="taxFee" jdbcType="DECIMAL"/>
        <result column="interest_period_days" property="interestPeriodDays" jdbcType="DECIMAL"/>
        <result column="data_class" property="dataClass" jdbcType="VARCHAR"/>
        <result column="collection_bank_account_name" property="collectionBankAccountName" jdbcType="VARCHAR"/>
        <result column="collection_bank_account_num" property="collectionBankAccountNum" jdbcType="VARCHAR"/>
        <result column="collection_bank_branch_name" property="collectionBankBranchName" jdbcType="VARCHAR"/>
        <result column="remittance_account_id" property="remittanceAccountId" jdbcType="DECIMAL"/>
        <result column="remittance_bank_account_name" property="remittanceBankAccountName" jdbcType="VARCHAR"/>
        <result column="remittance_bank_account_num" property="remittanceBankAccountNum" jdbcType="VARCHAR"/>
        <result column="remittance_bank_branch_name" property="remittanceBankBranchName" jdbcType="VARCHAR"/>
        <result column="collection_organization_name" property="collectionOrganizationName" jdbcType="VARCHAR"/>
        <result column="remittance_organization_name" property="remittanceOrganizationName" jdbcType="VARCHAR"/>
        <result column="collection_receiver_amount" property="collectionReceiverAmount" jdbcType="DECIMAL"/>
        <result column="remittance_receiver_amount" property="remittanceReceiverAmount" jdbcType="DECIMAL"/>
        <result column="collection_cf_item" property="collectionCfItem" jdbcType="DECIMAL"/>
        <result column="collection_cf_type" property="collectionCfType" jdbcType="DECIMAL"/>
        <result column="remittance_cf_item" property="remittanceCfItem" jdbcType="DECIMAL"/>
        <result column="remittance_cf_type" property="remittanceCfType" jdbcType="DECIMAL"/>

        <result column="before_rental_back_date" property="beforeRentalBackDate" jdbcType="DATE"/>
        <result column="collection_account_name" property="collectionAccountName" jdbcType="VARCHAR"/>
        <result column="imputation_account_name" property="imputationAccountName" jdbcType="VARCHAR"/>
        <result column="collection_account_number" property="collectionAccountNumber" jdbcType="VARCHAR"/>
        <result column="imputation_account_number" property="imputationAccountNumber" jdbcType="VARCHAR"/>
        <result column="plan_cash_principal_sum" property="planCashPrincipalSum" jdbcType="DECIMAL"/>
        <result column="plan_cash_interest_sum" property="planCashInterestSum" jdbcType="DECIMAL"/>
        <result column="cash_principal_sum" property="cashPrincipalSum" jdbcType="DECIMAL"/>
        <result column="cash_interest_sum" property="cashInterestSum" jdbcType="DECIMAL"/>
        <result column="surplus_amount" property="surplusAmount" jdbcType="DECIMAL"/>
        <result column="product_short_name" property="productShortName" jdbcType="VARCHAR"/>
        <result column="product_number" property="productNumber" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="income_fee" property="incomeFee"/>
        <result column="cf_item" property="cfItem"/>
        <result column="confirm_flag" property="confirmFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectProductCollectionData" parameterType="com.hand.hls.abs.dto.HlsCusAbsProductCollection" resultMap="BaseResultMap">
        SELECT
            capc.*,
            nvl(pcd.plan_cash_principal_sum,0) plan_cash_principal_sum,
            nvl(pcd.plan_cash_interest_sum,0) plan_cash_interest_sum,
            nvl(pcd.cash_principal_sum,0) cash_principal_sum,
            nvl(pcd.cash_interest_sum,0) cash_interest_sum,
            capc.due_amount-nvl(pcd.plan_cash_principal_sum,0)-nvl(pcd.plan_cash_interest_sum,0)-
           (nvl(capc.service_fee,0)+ nvl(capc.hosting_fee,0)+ nvl(capc.management_fee,0)+ nvl(capc.underwriting_fee,0)+
            nvl(capc.rating_fee,0)+ nvl(capc.evaluation_fee,0)+ nvl(capc.listing_fee,0)+ nvl(capc.lawyer_fee,0)+ ifnull
            (capc.accountant_fee,0)+ nvl(capc.other_fee,0)+nvl(capc.tax_fee,0) ) surplus_amount
        FROM
            ct_abs_product_collection capc
        LEFT JOIN
        (
            SELECT
              cd.collection_id,
              SUM(cd.plan_cash_principal) plan_cash_principal_sum,
              SUM(cd.plan_cash_interest) plan_cash_interest_sum,
              SUM(cd.cash_principal) cash_principal_sum,
              SUM(cd.cash_interest)  cash_interest_sum
            FROM
                ct_abs_product_cash_detail cd
            GROUP BY
            cd.collection_id
        ) pcd
        ON
          pcd.collection_id=capc.collection_id
        WHERE
             1=1
         <if test="productId != null">
            and capc.product_id = #{productId}
        </if>
        <if test="dataClass != null">
            and capc.data_class= #{dataClass}
        </if>
        <if test="confirmFlag != null">
            and capc.confirm_flag= #{confirmFlag}
        </if>
        ORDER BY capc.times
    </select>

    <select id="collectionTimesLov" parameterType="com.hand.hls.abs.dto.HlsCusAbsProductCollection" resultMap="BaseResultMap">
        SELECT
            capc.collection_id,
            capc.times,
            capc.rental_back_date,
            capc.cash_date,
            capc.collection_date,
            capc.remittance_date,
            capc.report_date,
            capc.due_amount,
            ( SELECT c1.rental_back_date
              FROM ct_abs_product_collection c1
              WHERE c1.product_id = capc.product_id
              AND c1.times = capc.times - 1
            ) AS before_rental_back_date
        FROM
            ct_abs_product_collection capc
        WHERE
            capc.collection_number is null
        and  capc.data_class='NORMAL'
        <if test="productId != null">
            and capc.product_id = #{productId}
        </if>
    </select>

    <select id="remittanceTimesLov" parameterType="com.hand.hls.abs.dto.HlsCusAbsProductCollection"
            resultMap="BaseResultMap">
        SELECT
        capc.collection_id,
        capc.times,
        capc.rental_back_date,
        capc.cash_date,
        capc.collection_date,
        capc.remittance_date,
        capc.report_date,
        capc.due_amount,
        ( SELECT c1.rental_back_date
        FROM ct_abs_product_collection c1
        WHERE c1.product_id = capc.product_id
        AND c1.times = capc.times - 1
        ) AS before_rental_back_date
        FROM
        ct_abs_product_collection capc
        WHERE
        capc.remittance_number = ''
        and capc.collection_status = 'CONFIRM'
        and capc.data_class='NORMAL'
        <if test="productId != null">
            and capc.product_id = #{productId}
        </if>
    </select>

    <select id="queryCollection" parameterType="com.hand.hls.abs.dto.HlsCusAbsProductCollection"
            resultType="com.hand.hls.abs.dto.HlsCusAbsProductCollection">
    SELECT
        capc.collection_id as collectionId,
        capc.imputation_account_id as imputationAccountId,
        capc.collection_organization_id as collectionOrganizationId,
        capc.times,
        capc.rental_back_date as rentalBackDate,
        capc.cash_date as cashDate,
        capc.collection_date as collectionDate,
        capc.remittance_date as remittanceDate,
        capc.report_date as reportDate,
        capc.due_amount as dueAmount,
        capc.principal,
        capc.interest,
        capc.collection_number as collectionNumber,
        capc.collection_apply_date as collectionApplyDate,
        capc.collection_status as collectionStatus,
        capc.collection_account_id as collectionAccountId,
        ( SELECT c1.rental_back_date FROM ct_abs_product_collection c1 WHERE c1.product_id = capc.product_id AND c1.times = capc.times - 1 ) AS beforeRentalBackDate,
        ( SELECT hbm.bp_name FROM ct_abs_product_organization po, hls_bp_master hbm WHERE capc.collection_organization_id = po.organization_id AND po.bp_id = hbm.bp_id ) AS bpName,
        ( SELECT ba.bank_account_num FROM ct_abs_product_organization po, hls_bp_master_bank_account ba WHERE capc.collection_organization_id = po.organization_id AND ba.bank_account_id = po.bank_account_id ) AS bankAccountNum,
        ( SELECT ba.bank_account_name FROM ct_abs_product_organization po, hls_bp_master_bank_account ba WHERE capc.collection_organization_id = po.organization_id AND ba.bank_account_id = po.bank_account_id ) AS bankAccountName,
        ( SELECT ba.bank_branch_name FROM ct_abs_product_organization po, hls_bp_master_bank_account ba WHERE capc.collection_organization_id = po.organization_id AND ba.bank_account_id = po.bank_account_id ) AS bankName,
        ( SELECT cba.bank_account_name FROM csh_bank_account cba WHERE capc.collection_account_id = cba.bank_account_id) AS collectionAccountName,
        ( SELECT cba.bank_account_num FROM csh_bank_account cba WHERE capc.collection_account_id = cba.bank_account_id) AS collectionAccountNumber,
        ( SELECT cba.bank_account_name FROM csh_bank_account cba WHERE capc.imputation_account_id = cba.bank_account_id) AS imputationAccountName,
        ( SELECT cba.bank_account_num FROM csh_bank_account cba WHERE capc.imputation_account_id = cba.bank_account_id) AS imputationAccountNumber
    FROM
        ct_abs_product_collection capc
    WHERE
        capc.collection_id = #{collectionId}
    </select>

   <select id="queryCashDeatil" parameterType="com.hand.hls.abs.dto.HlsCusAbsProductCollection"
                resultMap="BaseResultMap">
    SELECT
        capc.collection_id,
        capc.product_id,
        capc.times,
        capc.collection_amount,
        capc.collection_status,
        capc.remittance_amount,
        capc.remittance_status,
        capc.remittance_date,
        capc.cash_date,
        capc.cash_status,
        capc.cash_amount,
        cad.product_short_name,
        cad.product_number,
        cad.business_type,
        cad.product_name,
        nvl(pcd.plan_cash_principal_sum,0) plan_cash_principal_sum,
        nvl(pcd.plan_cash_interest_sum,0) plan_cash_interest_sum,
        nvl(pcd.cash_principal_sum,0) cash_principal_sum,
        nvl(pcd.cash_interest_sum,0) cash_interest_sum
    FROM
        ct_abs_product_collection capc
    JOIN
        ct_abs_product cad
    ON
        cad.product_id=capc.product_id
    LEFT JOIN
        (
            SELECT
              cd.collection_id,
              SUM(cd.plan_cash_principal) plan_cash_principal_sum,
              SUM(cd.plan_cash_interest) plan_cash_interest_sum,
              SUM(cd.cash_principal) cash_principal_sum,
              SUM(cd.cash_interest)  cash_interest_sum
            FROM
                ct_abs_product_cash_detail cd
            GROUP BY
            cd.collection_id
        ) pcd
        ON
          pcd.collection_id=capc.collection_id
    WHERE
        capc.collection_id = #{collectionId}
    </select>

    <select id="queryRemittance" parameterType="com.hand.hls.abs.dto.HlsCusAbsProductCollection"
            resultType="com.hand.hls.abs.dto.HlsCusAbsProductCollection">
    SELECT
        capc.collection_id as collectionId,
        capc.remittance_organization_id as remittanceOrganizationId,
        capc.times,
        capc.rental_back_date as rentalBackDate,
        capc.cash_date as cashDate,
        capc.collection_date as collectionDate,
        capc.remittance_date as remittanceDate,
        capc.report_date as reportDate,
        capc.due_amount as dueAmount,
        capc.principal,
        capc.interest,
        capc.remittance_number as remittanceNumber,
        capc.remittance_apply_date as remittanceApplyDate,
        capc.remittance_status as remittanceStatus,
        ( SELECT c1.rental_back_date FROM ct_abs_product_collection c1 WHERE c1.product_id = capc.product_id AND c1.times = capc.times - 1 ) AS beforeRentalBackDate,
        ( SELECT hbm.bp_name FROM ct_abs_product_organization po, hls_bp_master hbm WHERE capc.remittance_organization_id = po.organization_id AND po.bp_id = hbm.bp_id ) AS bpName,
        ( SELECT ba.bank_account_num FROM ct_abs_product_organization po, hls_bp_master_bank_account ba WHERE capc.remittance_organization_id = po.organization_id AND ba.bank_account_id = po.bank_account_id ) AS bankAccountNum,
        ( SELECT ba.bank_account_name FROM ct_abs_product_organization po, hls_bp_master_bank_account ba WHERE capc.remittance_organization_id = po.organization_id AND ba.bank_account_id = po.bank_account_id ) AS bankAccountName,
        ( SELECT ba.bank_branch_name FROM ct_abs_product_organization po, hls_bp_master_bank_account ba WHERE capc.remittance_organization_id = po.organization_id AND ba.bank_account_id = po.bank_account_id ) AS bankName
    FROM
        ct_abs_product_collection capc
    WHERE
        capc.collection_id = #{collectionId}
    </select>

    <select id="queryAllNumberFromProject" resultMap="BaseResultMap">
        SELECT
        collection_number,
        remittance_number
        FROM
        ct_abs_product_collection
        WHERE
        product_id IN ( SELECT product_id FROM ct_abs_product WHERE project_id = #{projectId} AND data_class = 'NORMAL'
        )
        <if test="numberType == 'collectionNumber'">
            and collection_number != ''
        </if>
        <if test="numberType == 'remittanceNumber'">
            and remittance_number != ''
        </if>

    </select>

    <delete id="deleteProductNotCollection">
        DELETE FROM
             ct_abs_product_collection cbpc
         WHERE
              cbpc.product_id=#{productId}
           AND
               cbpc.collection_status in ('NOT')
    </delete>

    <select id="selectMaxRentalBackDate" resultType="java.util.Date">
        SELECT
            MAX(cbpc.rental_back_date)
         FROM
          ct_abs_product_collection cbpc
         WHERE
              cbpc.product_id=#{productId}
    </select>

     <select id="selectMaxCollectionTimes" resultType="java.lang.Long">
        SELECT
            MAX(cbpc.times)
         FROM
          ct_abs_product_collection cbpc
         WHERE
              cbpc.product_id=#{productId}
    </select>

    <select id="selectCashFeeSum" resultType="java.math.BigDecimal">
         SELECT
            nvl(capc.service_fee,0)+ nvl(hosting_fee,0)+ nvl(management_fee,0)+ nvl(underwriting_fee,0)+
            nvl(rating_fee,0)+ nvl(evaluation_fee,0)+ nvl(listing_fee,0)+ nvl(lawyer_fee,0)+ ifnull
            (accountant_fee,0)+ nvl(other_fee,0)+nvl(tax_fee,0) fee_sum
        FROM
            ct_abs_product_collection capc
        WHERE
            capc.collection_id=#{collectionId}
    </select>
    <select id="selectProductCollectionInfoByCfItem" resultMap="BaseResultMap">
        select v.times,v.cash_date,v.income_fee,v.collection_id from(select (case when #{cfItem} = 910  then OTHER_FEE
                                                                                  when #{cfItem} = 909  then ACCOUNTANT_FEE
                                                                                  when #{cfItem} =  908 then LISTING_FEE
                                                                                  when #{cfItem} =  907 then EVALUATION_FEE
                                                                                  when #{cfItem} = 906  then RATING_FEE
                                                                                  when #{cfItem} = 905  then LAWYER_FEE
                                                                                  when #{cfItem} = 904  then UNDERWRITING_FEE
                                                                                  when #{cfItem} = 903  then MANAGEMENT_FEE
                                                                                  when #{cfItem} = 902  then HOSTING_FEE
                                                                                  when #{cfItem} = 901  then SERVICE_FEE end) income_fee,
                                                                                  t.*
from CT_ABS_PRODUCT_COLLECTION t
where PRODUCT_ID = #{productId}) v where v.income_fee is not null order by v.times desc
    </select>

    <update id="updateCollectionStatusBlock">
        UPDATE
            CT_ABS_PRODUCT_COLLECTION CAPC
        SET
            CAPC.COLLECTION_STATUS='BLOCK',
            CAPC.REMITTANCE_STATUS='BLOCK'
        WHERE
            CAPC.RENTAL_BACK_DATE>
            (
                SELECT
                    MIN(CAPB.BUYBACK_DATE) BUYBACK_DATE
                FROM
                    CT_ABS_PRODUCT_BUYBACK CAPB
                WHERE
                    CAPB.PRODUCT_ID=CAPC.PRODUCT_ID)
        AND CAPC.COLLECTION_STATUS='NEW'
        AND CAPC.REMITTANCE_STATUS='NEW'
        AND CAPC.PRODUCT_ID=#{productId}
    </update>

    <select id="selectLastConfirmCollection"  resultMap="BaseResultMap">
      SELECT
          CAPC.*
        FROM
            CT_ABS_PRODUCT_COLLECTION CAPC
        WHERE
            CAPC.DATA_CLASS='NORMAL'
        AND CAPC.TIMES=
            (
                SELECT
                    MAX(PC.TIMES)
                FROM
                    CT_ABS_PRODUCT_COLLECTION PC
                WHERE
                    PC.CONFIRM_FLAG='Y')
        AND CAPC.PRODUCT_ID=#{productId}
    </select>

    <update id="updateConfirmTempCollection">
        UPDATE
            CT_ABS_PRODUCT_COLLECTION CAPC
        SET
            CAPC.CONFIRM_FLAG='Y'
        WHERE
            CAPC.DATA_CLASS='TEMP'
        AND CAPC.PRODUCT_ID=#{productId}
        AND CAPC.TIMES=#{times}
    </update>


    <select id="selectNotConfirmCollectionCount" resultType="int">
        SELECT
            COUNT(1)
        FROM
          CT_ABS_PRODUCT_COLLECTION CAPC
        WHERE
            CAPC.DATA_CLASS='NORMAL'
        AND ( nvl(CAPC.COLLECTION_STATUS,'NEW')!='CONFIRM'
          OR nvl(CAPC.REMITTANCE_STATUS,'NEW')!='CONFIRM'
          OR nvl(CAPC.CASH_STATUS,'NEW')!='CONFIRM')
        AND CAPC.PRODUCT_ID=#{productId}
    </select>

    <delete id="deleteByCollection" parameterType="com.hand.hls.abs.dto.HlsCusAbsProductCollection">
        delete from ct_abs_product_collection where confirm_flag='N' and product_id = #{productId} and data_class=#{dataClass}
    </delete>
</mapper>
