<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.abs.mapper.HlsCusAbsContractFinishMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.abs.dto.HlsCusAbsContractFinish">
        <result column="finish_id" property="finishId" jdbcType="DECIMAL"/>
        <result column="product_id" property="productId" jdbcType="DECIMAL"/>
        <result column="property_contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="con_document_category" property="conDocumentCategory" jdbcType="DECIMAL"/>
        <result column="finish_amount" property="finishAmount" jdbcType="VARCHAR"/>
        <result column="make_up" property="makeUp" jdbcType="VARCHAR"/>
        <result column="makeup_amount" property="makeupAmount" jdbcType="DECIMAL"/>

        <result column="approval_number" property="approvalNumber" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="uncollected_due_amount" property="uncollectedDueAmount" jdbcType="DECIMAL"/>
        <result column="pre_clean_total_money" property="preCleanTotalMoney" jdbcType="DECIMAL"/>
        <result column="pre_service_charge" property="preServiceCharge" jdbcType="DECIMAL"/>

    </resultMap>

    <select id="queryAbsContractFinish" parameterType="com.hand.hls.abs.dto.HlsCusAbsContractFinish" resultMap="BaseResultMap">
      SELECT
            cacf.finish_id,
            cacf.product_id,
            cacf.finish_amount,
            cacf.make_up,
            cacf.makeup_amount,
            cacf.contract_id,
            cacf.con_document_category,
            contract.contract_number,
            contract.contract_name,
            contract.approval_number,
            contract.uncollected_due_amount,
            contract.pre_clean_total_money,
            contract.pre_service_charge
        FROM
            ct_abs_contract_finish cacf
        left join
        (
            select
                fc.contract_id,
                fc.contract_name,
                fc.contract_number,
                fc.approval_number,
                'FCT_CONTRACT' con_document_category,
                fc.pre_clean_total_money,
                fc.pre_service_charge,
                nvl(cash.uncollected_due_amount,0) uncollected_due_amount
            from
                fct_contract fc
            left join
                (
                    select
                        ca.contract_id,
                        sum(ca.due_amount) uncollected_due_amount
                    from
                        fct_quotation_cashflow ca
                    where
                        ca.cf_status='BLOCK'
                    and ca.cf_item in(54,55)
                    group by
                        ca.contract_id ) cash
            on
                cash.contract_id=fc.contract_id
            where
                fc.data_class='NORMAL'
            union all
            select
                fc.contract_id,
                fc.contract_name,
                fc.contract_number,
                pp.approval_number,
                'CON_CONTRACT' con_document_category,
                fc.pre_clean_total_money,
                fc.pre_service_charge,
                nvl(cash.uncollected_due_amount,0) uncollected_due_amount
            from
                con_contract fc
            join
                prj_project pp
            on
                pp.project_id=fc.project_id
            left join
                (
                    select
                        ca.contract_id,
                        sum(ca.due_amount) uncollected_due_amount
                    from
                        con_contract_cashflow ca
                    where
                        ca.cf_status='BLOCK'
                    and ca.cf_item=1
                    group by
                        ca.contract_id ) cash
            on
                cash.contract_id=fc.contract_id
            where
                fc.data_class='NORMAL'

            ) contract
        on cacf.contract_id=contract.contract_id
        and cacf.con_document_category=contract.con_document_category
        where
            1=1
            <if test="productId != null">
                and cacf.product_id = #{productId}
            </if>
    </select>
</mapper>
