<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.abs.mapper.HlsCusAbsAssetsPackMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.abs.dto.HlsCusAbsAssetsPack">
        <result column="PACK_ID" property="packId" jdbcType="DECIMAL" />
        <result column="PACK_NUMBER" property="packNumber" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="BASE_DATE" property="baseDate" jdbcType="DATE" />
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR"/>
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR"/>
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="DATA_CLASS" property="dataClass" jdbcType="VARCHAR"/>
        <result column="CHANGE_REQ_ID" property="changeReqId" jdbcType="DECIMAL"/>
        <result column="REF_PACK_ID" property="refPackId" jdbcType="DECIMAL"/>

        <result column="CREATION_NAME" property="creationName" jdbcType="VARCHAR" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE" />

        <result column="UNCOLLECTED_DUE_AMOUNT" property="uncollectedDueAmount" jdbcType="DECIMAL" />
        <result column="UNCOLLECTED_PRINCIPAL" property="uncollectedPrincipal" jdbcType="DECIMAL" />
        <result column="UNCOLLECTED_INTEREST" property="uncollectedInterest" jdbcType="DECIMAL" />
        <result column="UNCOLLECTED_DEPOSIT" property="uncollectedDeposit" jdbcType="DECIMAL" />
        <result column="UNCOLLECTED_CHARGE" property="uncollectedCharge" jdbcType="DECIMAL" />
        <result column="ASSET_CONTRACT_COUNT" property="assetContractCount" jdbcType="DECIMAL" />
        <result column="COLLECTED_DUE_AMOUNT" property="collectedDueAmount" jdbcType="DECIMAL" />
        <result column="COLLECTED_PRINCIPAL" property="collectedPrincipal" jdbcType="DECIMAL" />
        <result column="COLLECTED_INTEREST" property="collectedInterest" jdbcType="DECIMAL" />
        <result column="ASSET_RENT_COUNT" property="assetRentCount" jdbcType="DECIMAL" />
        <result column="PROJECT_NUMBER" property="projectNumber" jdbcType="VARCHAR" />
        <result column="PROJECT_SHORT_NAME" property="projectShortName" jdbcType="VARCHAR" />
        <result column="OCCUPY_STATUS" property="occupyStatus" jdbcType="VARCHAR" />
        <result column="PACK_STATUS" property="packStatus" jdbcType="VARCHAR" />
        <result column="BASE_DATE_FROM" property="baseDateFrom" jdbcType="DATE" />
        <result column="BASE_DATE_TO" property="baseDateTo" jdbcType="DATE" />
        <result column="OCCUPY_STATUS_N" property="occupyStatusN" jdbcType="VARCHAR" />

    </resultMap>


    <select id="selectAssetsPack" parameterType="com.hand.hls.abs.dto.HlsCusAbsAssetsPack" resultMap="BaseResultMap">
        SELECT
        PACK.*
        FROM(
        SELECT
        CAAP.PACK_ID,
        CAAP.PACK_NUMBER,
        CAAP.DESCRIPTION,
        CAAP.BASE_DATE,
        CAAP.CREATION_DATE,
        CAAP.BUSINESS_TYPE,
        CAAP.DOCUMENT_TYPE,
        CAAP.DOCUMENT_CATEGORY,
        CAAP.DATA_CLASS,
        CAAP.CHANGE_REQ_ID,
        CAAP.REF_PACK_ID,
        CAAP.PACK_STATUS,
        CAAP.BASE_DATE_FROM,
        CAAP.BASE_DATE_TO,
        SU.DESCRIPTION CREATION_NAME,
        PD.PROJECT_NUMBER,
        PACKAGE.UNCOLLECTED_DUE_AMOUNT,
        PACKAGE.UNCOLLECTED_PRINCIPAL,
        PACKAGE.UNCOLLECTED_INTEREST,
        PACKAGE.UNCOLLECTED_DEPOSIT,
        PACKAGE.UNCOLLECTED_CHARGE,
        -- CAP.PROJECT_SHORT_NAME,
        case when PD.PRODUCT_STATUS like '%APPROVED%' then '已占用'
        when PD.PRODUCT_STATUS is not null and PD.PRODUCT_STATUS not like '%APPROVED%' then '拟占用'else
        '未占用' end as OCCUPY_STATUS_N
        FROM
        CT_ABS_ASSETS_PACK CAAP
        LEFT JOIN (
        SELECT
        V.PACK_ID,
        sum( v.UNCOLLECTED_DUE_AMOUNT ) AS UNCOLLECTED_DUE_AMOUNT,
        sum( v.UNCOLLECTED_PRINCIPAL ) AS UNCOLLECTED_PRINCIPAL,
        sum( v.UNCOLLECTED_INTEREST ) AS UNCOLLECTED_INTEREST,
        sum( v.UNCOLLECTED_DEPOSIT ) AS UNCOLLECTED_DEPOSIT,
        sum( v.UNCOLLECTED_CHARGE ) AS UNCOLLECTED_CHARGE
        FROM
        (
        SELECT
        caap.PACKAGE_ID,
        caap.PACK_ID,
        nvl(
        (
        SELECT
        SUM( nvl( ccc.DUE_AMOUNT, 0 )  )
        FROM
        con_contract_cashflow ccc
        WHERE
        ccc.CONTRACT_ID = cc.CONTRACT_ID
and ccc.cf_status = 'RELEASE'
        AND ccc.CF_ITEM IN ( 1, 3, 51 )
        AND ccc.DUE_DATE &gt;= caap.PACK_DATE_FROM
        AND ccc.DUE_DATE &lt;= caap.PACK_DATE_TO
        AND caap.PACK_DATE_FROM IS NOT NULL
        AND caap.PACK_DATE_TO IS NOT NULL
        ),
        0
        ) AS UNCOLLECTED_DUE_AMOUNT,
        nvl(
        (
        SELECT
        SUM( nvl( ccc.PRINCIPAL, 0 ))
        FROM
        con_contract_cashflow ccc
        WHERE
        ccc.CONTRACT_ID = cc.CONTRACT_ID
        AND ccc.CF_ITEM = 1
and ccc.cf_status = 'RELEASE'
        AND ccc.DUE_DATE &gt;= caap.PACK_DATE_FROM
        AND ccc.DUE_DATE &lt;= caap.PACK_DATE_TO
        AND caap.PACK_DATE_FROM IS NOT NULL
        AND caap.PACK_DATE_TO IS NOT NULL
        ),
        0
        ) AS UNCOLLECTED_PRINCIPAL,
        nvl(
        (
        SELECT
        SUM( nvl( ccc.INTEREST, 0 ))
        FROM
        con_contract_cashflow ccc
        WHERE
        ccc.CONTRACT_ID = cc.CONTRACT_ID
        AND ccc.CF_ITEM = 1
and ccc.cf_status = 'RELEASE'
        AND ccc.DUE_DATE &gt;= caap.PACK_DATE_FROM
        AND ccc.DUE_DATE &lt;= caap.PACK_DATE_TO
        AND caap.PACK_DATE_FROM IS NOT NULL
        AND caap.PACK_DATE_TO IS NOT NULL
        ),
        0
        ) AS UNCOLLECTED_INTEREST,
        nvl(
        (
        SELECT
        SUM( nvl( ccc.due_amount, 0 ))
        FROM
        con_contract_cashflow ccc
        WHERE
        ccc.CONTRACT_ID = cc.CONTRACT_ID
        AND ccc.CF_ITEM = 51
        AND ccc.DUE_DATE &gt;= caap.PACK_DATE_FROM
        AND ccc.DUE_DATE &lt;= caap.PACK_DATE_TO
        AND caap.PACK_DATE_FROM IS NOT NULL
and ccc.cf_status = 'RELEASE'
        AND caap.PACK_DATE_TO IS NOT NULL
        ),
        0
        ) AS UNCOLLECTED_DEPOSIT,
        nvl(
        (
        SELECT
        SUM( nvl( ccc.due_amount, 0 ))
        FROM
        con_contract_cashflow ccc
        WHERE
        ccc.CONTRACT_ID = cc.CONTRACT_ID
        AND ccc.CF_ITEM = 3
and ccc.cf_status = 'RELEASE'
        AND ccc.DUE_DATE &gt;= caap.PACK_DATE_FROM
        AND ccc.DUE_DATE &lt;= caap.PACK_DATE_TO
        AND caap.PACK_DATE_FROM IS NOT NULL
        AND caap.PACK_DATE_TO IS NOT NULL
        ),
        0
        ) AS UNCOLLECTED_CHARGE,
        nvl(
        (
        SELECT
        SUM( nvl( ccc.DUE_AMOUNT, 0 ) )
        FROM
        con_contract_cashflow ccc
        WHERE
        ccc.CONTRACT_ID = cc.CONTRACT_ID
        AND ccc.CF_DIRECTION = 'INFLOW'
        AND CCC.CF_ITEM NOT IN ( 1, 51 )
and ccc.cf_status = 'RELEASE'
        AND ccc.DUE_DATE &gt;= caap.PACK_DATE_FROM
        AND ccc.DUE_DATE &lt;= caap.PACK_DATE_TO
        AND caap.PACK_DATE_FROM IS NOT NULL
        AND caap.PACK_DATE_TO IS NOT NULL
        ),
        0
        ) AS UNCOLLECTED_OTHER_AMOUNT,
        (
        SELECT
        nvl( SUM( CASE WHEN CA.OVERDUE_STATUS = 'Y' THEN 1 ELSE 0 END ), 0 )
        FROM
        CON_CONTRACT_CASHFLOW CA
        WHERE
        CC.CONTRACT_ID = CA.CONTRACT_ID
        AND CA.DUE_DATE &gt;= caap.PACK_DATE_FROM
        AND CA.DUE_DATE &lt;= caap.PACK_DATE_TO
        AND caap.PACK_DATE_FROM IS NOT NULL
        AND caap.PACK_DATE_TO IS NOT NULL
        ) AS OVERDUE_STATUS
        FROM
        ct_abs_assets_package caap
        LEFT JOIN con_contract cc ON caap.CONTRACT_ID = cc.CONTRACT_ID
        ) V
        GROUP BY
        V.PACK_ID
        ) PACKAGE ON CAAP.PACK_ID = PACKAGE.PACK_ID
        LEFT JOIN
        SYS_USER SU
        ON
        CAAP.CREATED_BY=SU.USER_ID
        LEFT JOIN (SELECT
        pd.PACK_ID,
        wm_concat(pd.PROJECT_ID) as PROJECT_ID,
        wm_concat(pd.PRODUCT_STATUS) as PRODUCT_STATUS,
        wm_concat(pj.PROJECT_NUMBER) as PROJECT_NUMBER
        FROM
        CT_ABS_PRODUCT pd,
        CT_ABS_PROJECT pj
        WHERE
        pd.IF_RELATE_PACK = 'Y'
        and pd.PROJECT_ID = pj.PROJECT_ID
        group by pd.PACK_ID) PD on PD.PACK_ID = CAAP.PACK_ID
        ) PACK
        WHERE 1=1
        <if test="packId != null">
            AND PACK.PACK_ID = #{packId}
        </if>
        <if test="packId == null">
            AND PACK.DATA_CLASS = 'NORMAL'
        </if>
        <if test="packNumber != null">
            AND (PACK.PACK_NUMBER  LIKE CONCAT('%',CONCAT(#{packNumber},'%'))
            OR PACK.DESCRIPTION  LIKE CONCAT('%',CONCAT(#{packNumber},'%')) )
        </if>
        <if test="baseDate != null">
            AND PACK.BASE_DATE =  #{baseDate}
        </if>
        <if test="baseDateFrom != null">
            AND PACK.BASE_DATE_FROM &gt;= #{baseDateFrom}
        </if>
        <if test="baseDateTo != null">
            AND PACK.BASE_DATE_TO &lt;= #{baseDateTo}
        </if>
        <if test="occupyStatusN != null">
            AND PACK.OCCUPY_STATUS_N = #{occupyStatusN}
        </if>
        ORDER BY PACK.CREATION_DATE DESC
    </select>

    <select id="selectProjectAssetsPack" parameterType="com.hand.hls.abs.dto.HlsCusAbsAssetsPack" resultMap="BaseResultMap">
        SELECT
        CAAP.PACK_ID,
        CAAP.PACK_NUMBER,
        CAAP.DESCRIPTION,
        CAAP.BASE_DATE,
        CAAP.BUSINESS_TYPE,
        CAAP.DOCUMENT_TYPE,
        CAAP.DOCUMENT_CATEGORY,
        CAAP.PACK_STATUS,
        SU.DESCRIPTION CREATION_NAME,
        PAG.UNCOLLECTED_DUE_AMOUNT,
        PAG.UNCOLLECTED_PRINCIPAL,
        PAG.UNCOLLECTED_INTEREST,
        PAG.COLLECTED_DUE_AMOUNT,
        PAG.COLLECTED_PRINCIPAL,
        PAG.COLLECTED_INTEREST,
        PAG.ASSET_CONTRACT_COUNT,
        RENT.ASSET_RENT_COUNT
        FROM
        CT_ABS_ASSETS_PACK CAAP
        LEFT JOIN  <include refid="com.hand.hls.abs.mapper.HlsCusAbsProjectMapper.assetsPackage"/> PAG
        ON PAG.PACK_ID=CAAP.PACK_ID
        LEFT JOIN  <include refid="com.hand.hls.abs.mapper.HlsCusAbsProjectMapper.assetsRentCount"/> RENT
        ON RENT.PACK_ID=CAAP.PACK_ID
        LEFT JOIN SYS_USER SU
        ON
        CAAP.CREATED_BY=SU.USER_ID
        WHERE 1=1
        AND CAAP.PACK_ID NOT IN (
        SELECT
        CAP.PACK_ID
        FROM
        CT_ABS_PROJECT CAP
        WHERE
        CAP.PACK_ID IS NOT NULL
        AND CAP.PROJECT_STATUS!='CANCEL'
        )
        AND CAAP.PACK_STATUS='NORMAL'
        <if test="packId != null">
            AND CAAP.PACK_ID = #{packId}
        </if>
        <if test="packId == null">
            AND CAAP.DATA_CLASS = 'NORMAL'
        </if>
        <if test="packNumber != null">
            AND CAAP.PACK_NUMBER  LIKE CONCAT('%',CONCAT(#{packNumber},'%'))
        </if>
        <if test="baseDate != null">
            AND CAAP.BASE_DATE  = #{baseDate,jdbcType=DATE}
        </if>
        <if test="baseDateStr != null and baseDateStr!=''">
            AND  CAAP.BASE_DATE = #{baseDateStr,jdbcType=VARCHAR}
        </if>
        <if test="creationName!=null ">
            AND SU.DESCRIPTION LIKE '%'||#{creationName,jdbcType=VARCHAR}||'%'
        </if>
    </select>
</mapper>
