<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.abs.mapper.HlsCusAbsProductOrganizationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.abs.dto.HlsCusAbsProductOrganization">
        <result column="organization_id" property="organizationId" jdbcType="DECIMAL" />
        <result column="product_id" property="productId" jdbcType="DECIMAL" />
        <result column="organization_type" property="organizationType" jdbcType="VARCHAR" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="take_lead" property="takeLead" jdbcType="VARCHAR" />
        <result column="bank_account_type" property="bankAccountType" jdbcType="VARCHAR"/>
        <result column="bank_account_id" property="bankAccountId" jdbcType="DECIMAL" />
        <result column="contact_person" property="contactPerson" jdbcType="VARCHAR" />
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />


        <result column="organization_name" property="organizationName" jdbcType="VARCHAR"/>
        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR"/>
        <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR"/>
        <result column="bank_branch_name" property="bankBranchName" jdbcType="VARCHAR"/>
        <result column="receiver_flag" property="receiverFlag" jdbcType="VARCHAR"/>
        <result column="fee_amount_sum" property="feeAmountSum" jdbcType="DECIMAL" />

        <result column="organization_type_n" property="organizationTypeN" jdbcType="VARCHAR"/>
        <result column="organization_name_n" property="organizationNameN" jdbcType="VARCHAR"/>
        <result column="bank_account_name_n" property="bankAccountNameN" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="queryOranization" resultMap="BaseResultMap">
        SELECT
        cpo.organization_id,
        cpo.organization_name as organization_name_n,
        cpo.bank_account_name as bank_account_name_n,
        product_id,
        organization_type,
        ( SELECT v.meaning FROM sys_code_value_b_v v WHERE v.CODE = 'ABS.INSTITUTION_TYPE' AND v.code_value = cpo.organization_type ) AS organization_type_n,
        bp_id,
        take_lead,
        bank_account_type,
        bank_account_id,
        contact_person,
        contact_phone,
        receiver_flag,
        organization_name,
        bank_account_name,
        bank_account_num,
        bank_branch_name,
        description,
        nvl(apfi.fee_amount_sum,0) fee_amount_sum
        FROM
        ct_abs_product_organization cpo
        left join (
        select
        fee.organization_id,
        sum(fee.fee_amount) fee_amount_sum
        from
        ct_abs_pro_fee_info fee
        group by fee.organization_id
        ) apfi
        on apfi.organization_id=cpo.organization_id
        <where>
            <if test="projectId != null">
                and cpo.product_id = #{productId}
            </if>
            <if test="receiverFlag != null">
                and cpo.receiver_flag = #{receiverFlag}
            </if>
            <if test="organizationName != null">
                and cpo.organization_name = #{organizationName}
            </if>
        </where>
    </select>

    <select id="queryDetail" parameterType="com.hand.hls.abs.dto.HlsCusAbsProductOrganization" resultMap="BaseResultMap">
        select
           co.*,
           nvl(apfi.fee_amount_sum,0) fee_amount_sum
        from ct_abs_product_organization co
        left join (
              select
                 fee.organization_id,
                 sum(fee.fee_amount) fee_amount_sum
               from
                 ct_abs_pro_fee_info fee
              group by fee.organization_id
        ) apfi
        on apfi.organization_id=co.organization_id
        <where> 1=1
            <if test="productId != null">
                and co.product_id = #{productId}
            </if>
            <if test="bankAccountName != null">
                and co.bank_account_name like concat('%',concat(#{bankAccountName},'%'))
            </if>
             <if test="bankBranchName != null">
                and co.bank_branch_name like concat('%',concat(#{bankBranchName},'%'))
            </if>
             <if test="organizationName != null">
                and co.organization_name like concat('%',concat(#{organizationName},'%'))
            </if>
        </where>
    </select>
</mapper>
