<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.taa.mapper.JcTransferApplicationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.taa.dto.JcTransferApplication">
        <result column="TRANSFER_APPLICATION_ID" property="transferApplicationId" jdbcType="DECIMAL" />
        <result column="TRANSFER_APPLICATION_NUMBER" property="transferApplicationNumber" jdbcType="VARCHAR" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
        <result column="APPLICATION_DATE" property="applicationDate" jdbcType="DATE" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="PROCESS_INSTANCE_ID" property="processInstanceId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID_N" property="employeeIdN" jdbcType="VARCHAR" />
        <result column="unit_id_n" property="unitIdN" jdbcType="VARCHAR" />
        <result column="STATUS_N" property="statusN" jdbcType="VARCHAR" />

    </resultMap>
    <select id="queryJcTransferApplication" parameterType="com.hand.hls.taa.dto.JcTransferApplication"
            resultMap="BaseResultMap">
      select
    jta.TRANSFER_APPLICATION_ID,
    jta.TRANSFER_APPLICATION_NUMBER,
    jta.EMPLOYEE_ID,
    jta.APPLICATION_DATE,
     (
    SELECT em.name
    FROM fnd_employee em
    WHERE em.employee_id = jta.EMPLOYEE_ID ) AS EMPLOYEE_ID_N,
    jta.UNIT_ID ,
    (
        SELECT fou.unit_name
        FROM fnd_org_unit fou
        WHERE fou.unit_id = jta.unit_id ) AS unit_id_n,
        jta.STATUS,
    (
    SELECT meaning
    FROM sys_code_value_b_v v
    WHERE v.CODE = 'LON.CONTRACT_WITHDRAW_STATUS' AND v.code_value = jta.STATUS ) AS STATUS_N
    from jc_transfer_application jta
    <where>
        1=1
        <if test="authority !=null">
            and (jta.created_by = #{authority}
            or EXISTS (SELECT
            1
            FROM
            sys_user U
            LEFT JOIN SYS_USER_ALLOCATION UR ON UR.USER_ID = U.USER_ID
            LEFT JOIN SYS_ROLE_B R ON R.ROLE_ID = UR.ROLE_ID
            WHERE
            R.ROLE_CODE = 'ADMIN' and U.USER_ID = #{authority}))
        </if>
        <if test="transferApplicationNumber!=null">
            and jta.TRANSFER_APPLICATION_NUMBER = #{transferApplicationNumber}
        </if>
        <if test="employeeId!=null">
            and jta.EMPLOYEE_ID = #{employeeId}
        </if>
        <if test="unitId!=null">
            and jta.UNIT_ID = #{unitId}
        </if>
        <if test="status!=null">
            and jta.status = #{status}
        </if>
        <if test="applicationDate!=null">
            and  jta.APPLICATION_DATE = #{applicationDate}
        </if>
        order by jta.TRANSFER_APPLICATION_ID desc
    </where>
    </select>

</mapper>