<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.BusinessConfirmMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.BusinessConfirm">
        <result column="CONFIRM_ID" property="confirmId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="VERSION" property="version" jdbcType="DECIMAL" />
        <result column="BATCH_ID" property="batchId" jdbcType="DECIMAL" />
    </resultMap>
    <delete id="batchDel">
        delete con_business_confirm where batch_id in (${batchIds})
    </delete>

    <select id="queryNextVersion" resultType="long">
        select nvl(max(cbc.version), 0) + 1 from con_business_confirm cbc
    </select>

    <select id="query" resultMap="BaseResultMap">
        select contract_id,confirm_id from con_business_confirm where  batch_id =${batchId}
    </select>


</mapper>