<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.cont.mapper.ConChangeEtInfoMapper">
  <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.ConChangeEtInfo">
    <!--@mbg.generated generated on Mon Aug 22 14:48:11 CST 2022.-->
    <!--@Table CON_CHANGE_ET_INFO-->
    <id column="CHANGE_ET_INFO_ID" jdbcType="DECIMAL" property="changeEtInfoId" />
    <result column="ET_DATE" jdbcType="DATE" property="etDate" />
    <result column="LEASE_START_DATE" jdbcType="DATE" property="leaseStartDate" />
    <result column="UNRECEIVED_PRINCIPAL" jdbcType="DECIMAL" property="unreceivedPrincipal" />
    <result column="ET_INTEREST" jdbcType="DECIMAL" property="etInterest" />
    <result column="NOMINAL_COST" jdbcType="DECIMAL" property="nominalCost" />
    <result column="ET_FEE" jdbcType="DECIMAL" property="etFee" />
    <result column="OTHER_FEE" jdbcType="DECIMAL" property="otherFee" />
    <result column="LIQUIDATED_DAMAGES" jdbcType="DECIMAL" property="liquidatedDamages" />
    <result column="REDUCE_AMOUNT" jdbcType="DECIMAL" property="reduceAmount" />
    <result column="TOTAL_AMOUNT" jdbcType="DECIMAL" property="totalAmount" />
    <result column="OLD_XIRR" jdbcType="DECIMAL" property="oldXirr" />
    <result column="NEW_XIRR" jdbcType="DECIMAL" property="newXirr" />
    <result column="PROJECT_ID" jdbcType="DECIMAL" property="projectId" />
    <result column="OLD_PROJECT_ID" jdbcType="DECIMAL" property="oldProjectId" />
    <result column="CONTRACT_ID" jdbcType="DECIMAL" property="contractId" />
    <result column="CHANGE_REQ_ID" jdbcType="DECIMAL" property="changeReqId" />
    <result column="REQUEST_ID" jdbcType="DECIMAL" property="requestId" />
    <result column="PROGRAM_ID" jdbcType="DECIMAL" property="programId" />
    <result column="CREATED_BY" jdbcType="DECIMAL" property="createdBy" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="LAST_UPDATED_BY" jdbcType="DECIMAL" property="lastUpdatedBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="LAST_UPDATE_LOGIN" jdbcType="DECIMAL" property="lastUpdateLogin" />
    <result column="CALC_FLAG" jdbcType="VARCHAR" property="calcFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Aug 22 14:48:11 CST 2022.-->
    CHANGE_ET_INFO_ID, ET_DATE, UNRECEIVED_PRINCIPAL, ET_INTEREST, NOMINAL_COST, ET_FEE, 
    OTHER_FEE, REDUCE_AMOUNT, TOTAL_AMOUNT, OLD_XIRR, NEW_XIRR, PROJECT_ID, OLD_PROJECT_ID, 
    CONTRACT_ID, CHANGE_REQ_ID, REQUEST_ID, PROGRAM_ID, CREATED_BY, CREATION_DATE, LAST_UPDATED_BY, 
    LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, LIQUIDATED_DAMAGES, LEASE_START_DATE
  </sql>


  <select id="queryChangeEtInfo" parameterType="com.hand.hls.cont.dto.ConChangeEtInfo" resultMap="BaseResultMap">
    select
      CHANGE_ET_INFO_ID,
      ET_DATE,
      UNRECEIVED_PRINCIPAL,
      ET_INTEREST,
      NOMINAL_COST,
      ET_FEE,
      OTHER_FEE,
      REDUCE_AMOUNT,
      TOTAL_AMOUNT,
      OLD_XIRR,
      NEW_XIRR,
      PROJECT_ID,
      OLD_PROJECT_ID,
      CONTRACT_ID,
      CHANGE_REQ_ID,
      REQUEST_ID,
      PROGRAM_ID,
      CREATED_BY,
      CREATION_DATE,
      LAST_UPDATED_BY,
      LAST_UPDATE_DATE,
      LAST_UPDATE_LOGIN,
      LIQUIDATED_DAMAGES,
      LEASE_START_DATE,
      CALC_FLAG
    from CON_CHANGE_ET_INFO ccei
    <where>
      1=1
      <if test="changeEtInfoId != null">
        and ccei.change_repayment_info_id = #{changeEtInfoId}
      </if>
      <if test="projectId != null">
        and ccei.project_id = #{projectId}
      </if>
    </where>

  </select>
</mapper>