<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.cont.mapper.ConChangeRepaymentInfoMapper">
  <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.ConChangeRepaymentInfo">
    <!--@mbg.generated generated on Thu Aug 18 15:56:18 CST 2022.-->
    <!--@Table CON_CHANGE_REPAYMENT_INFO-->
    <id column="CHANGE_REPAYMENT_INFO_ID" jdbcType="DECIMAL" property="changeRepaymentInfoId" />
    <result column="CHANGE_START_DATE" jdbcType="DATE" property="changeStartDate" />
    <result column="CHANGE_START_TIMES" jdbcType="DECIMAL" property="changeStartTimes" />
    <result column="AFTER_TOTAL_TIMES" jdbcType="DECIMAL" property="afterTotalTimes" />
    <result column="BEFORE_TOTAL_TIMES" jdbcType="DECIMAL" property="beforeTotalTimes" />
    <result column="AFTER_REMAIN_TIMES" jdbcType="DECIMAL" property="afterRemainTimes" />
    <result column="REPAYMENT_CHANGE_TYPE" jdbcType="VARCHAR" property="repaymentChangeType" />
    <result column="REPAYMENT_CHANGE_TYPE_N" jdbcType="VARCHAR" property="repaymentChangeTypeN" />
    <result column="CCR_FEE" jdbcType="DECIMAL" property="ccrFee" />
    <result column="OLD_XIRR" jdbcType="DECIMAL" property="oldXirr" />
    <result column="NEW_XIRR" jdbcType="DECIMAL" property="newXirr" />
    <result column="PROJECT_ID" jdbcType="DECIMAL" property="projectId" />
    <result column="OLD_PROJECT_ID" jdbcType="DECIMAL" property="oldProjectId" />
    <result column="CONTRACT_ID" jdbcType="DECIMAL" property="contractId" />
    <result column="CHANGE_REQ_ID" jdbcType="DECIMAL" property="changeReqId" />
    <result column="REQUEST_ID" jdbcType="DECIMAL" property="requestId" />
    <result column="PROGRAM_ID" jdbcType="DECIMAL" property="programId" />
    <result column="CREATED_BY" jdbcType="DECIMAL" property="createdBy" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="LAST_UPDATED_BY" jdbcType="DECIMAL" property="lastUpdatedBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="LAST_UPDATE_LOGIN" jdbcType="DECIMAL" property="lastUpdateLogin" />

    <result column="AFTER_LEASE_END_DATE" jdbcType="DATE" property="afterLeaseEndDate" />
    <result column="BEFORE_LEASE_END_DATE" jdbcType="DATE" property="beforeLeaseEndDate" />
    <result column="AFTER_TOTAL_AMOUNT" jdbcType="DECIMAL" property="afterTotalAmount" />
    <result column="BEFORE_TOTAL_AMOUNT" jdbcType="DECIMAL" property="beforeTotalAmount" />
    <result column="AFTER_TOTAL_PRINCIPAL" jdbcType="DECIMAL" property="afterTotalPrincipal" />
    <result column="BEFORE_TOTAL_PRINCIPAL" jdbcType="DECIMAL" property="beforeTotalPrincipal" />
    <result column="AFTER_TOTAL_INTEREST" jdbcType="DECIMAL" property="afterTotalInterest" />
    <result column="BEFORE_TOTAL_INTEREST" jdbcType="DECIMAL" property="beforeTotalInterest" />
    <result column="AFTER_TOTAL_DEPOSIT" jdbcType="DECIMAL" property="afterTotalDeposit" />
    <result column="BEFORE_TOTAL_DEPOSIT" jdbcType="DECIMAL" property="beforeTotalDeposit" />
    <result column="AFTER_TOTAL_FEE" jdbcType="DECIMAL" property="afterTotalFee" />
    <result column="BEFORE_TOTAL_FEE" jdbcType="DECIMAL" property="beforeTotalFee" />
    <result column="AFTER_IRR" jdbcType="DECIMAL" property="afterIrr" />
    <result column="BEFORE_IRR" jdbcType="DECIMAL" property="beforeIrr" />
    <result column="CALC_FLAG" jdbcType="VARCHAR" property="calcFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Aug 18 15:56:18 CST 2022.-->
    CHANGE_REPAYMENT_INFO_ID, CHANGE_START_DATE, CHANGE_START_TIMES, AFTER_TOTAL_TIMES, 
    BEFORE_TOTAL_TIMES, AFTER_REMAIN_TIMES, REPAYMENT_CHANGE_TYPE, CCR_FEE, OLD_XIRR, 
    NEW_XIRR, PROJECT_ID, OLD_PROJECT_ID, CONTRACT_ID, CHANGE_REQ_ID, REQUEST_ID, PROGRAM_ID, 
    CREATED_BY, CREATION_DATE, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN
  </sql>


  <select id="queryChangeRepaymentInfo" parameterType="com.hand.hls.cont.dto.ConChangeRepaymentInfo" resultMap="BaseResultMap">
    select
    ccri.change_repayment_info_id,
    ccri.change_start_date,
    ccri.change_start_times,
    ccri.after_total_times,
    ccri.before_total_times,
    ccri.after_remain_times,
    ccri.repayment_change_type,
    case when ccri.repayment_change_type = 'extension' then '展期'
         when ccri.repayment_change_type = 'contraction' then '缩期' end as repayment_change_type_n,
    ccri.ccr_fee,
    ccri.old_xirr,
    ccri.new_xirr,
    ccri.project_id,
    ccri.old_project_id,
    ccri.contract_id,
    ccri.change_req_id,
    ccri.request_id,
    ccri.program_id,
    ccri.created_by,
    ccri.creation_date,
    ccri.last_updated_by,
    ccri.last_update_date,
    ccri.last_update_login,

    ccri.AFTER_LEASE_END_DATE,
    ccri.BEFORE_LEASE_END_DATE,
    ccri.AFTER_TOTAL_AMOUNT,
    ccri.BEFORE_TOTAL_AMOUNT,
    ccri.AFTER_TOTAL_PRINCIPAL,
    ccri.BEFORE_TOTAL_PRINCIPAL,
    ccri.AFTER_TOTAL_INTEREST,
    ccri.BEFORE_TOTAL_INTEREST,
    ccri.AFTER_TOTAL_DEPOSIT,
    ccri.BEFORE_TOTAL_DEPOSIT,
    ccri.AFTER_TOTAL_FEE,
    ccri.BEFORE_TOTAL_FEE,
    ccri.AFTER_IRR,
    ccri.BEFORE_IRR,
    ccri.CALC_FLAG
    from CON_CHANGE_REPAYMENT_INFO ccri
    <where>
      1=1
      <if test="changeRepaymentInfoId != null">
        and ccri.change_repayment_info_id = #{changeRepaymentInfoId}
      </if>
      <if test="projectId != null">
        and ccri.project_id = #{projectId}
      </if>
    </where>

  </select>
</mapper>