<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.ConfirmBatchTempMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.ConfirmBatchTemp">
        <result column="BATCH_ID" property="batchId" jdbcType="DECIMAL" />
        <result column="BATCH_CODE" property="batchCode" jdbcType="VARCHAR" />
        <result column="REFRESH_STATUS" property="refreshStatus" jdbcType="VARCHAR" />
        <result column="REFRESH_DATE" property="refreshDate" jdbcType="DATE" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="manufacturer_name" property="manufacturerName" jdbcType="VARCHAR" />
        <result column="factory_name" property="factoryName" jdbcType="VARCHAR" />
        <result column="creat_date" property="creatDate" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryForConfirmDetailLview" resultMap="BaseResultMap">
        select cbt.batch_id,
       cbt.batch_code,
       cbt.refresh_status,
       cbt.refresh_date,
       cbt.factory_id,
       cbt.manufacturer_id,
       cbt.object_version_number,
       cbt.request_id,
       cbt.program_id,
       cbt.created_by,
       to_char(cbt.creation_date,'yyyy-mm-dd') as  creat_date,
       (select su.description from sys_user su where su.user_id=cbt.created_by) as user_name,
       (select hm.bp_name from hls_bp_master hm where hm.bp_id =cbt.manufacturer_id) as manufacturer_name,
       (select hm.bp_name from hls_bp_master hm where hm.bp_id =cbt.factory_id) as factory_name
        from con_confirm_batch_temp cbt
        where cbt.batch_id =#{batchId}
    </select>

</mapper>