<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.ContentNumberLineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.ContentNumberLine">
        <result column="LINE_ID" property="lineId"/>
        <result column="HEAD_ID" property="headId"/>
        <result column="CONTENT_TYPE" property="contentType"/>
        <result column="DOCUMENT_NUMBER" property="documentNumber" />
        <result column="CONTENT_TYPE_N" property="contentTypeN"/>
        <result column="order_number" property="orderNumber"/>
    </resultMap>

    <resultMap id="ContentLineListMap" type="map">
        <result column="line_id" property="line_id"/>
        <result column="head_id" property="head_id"/>
        <result column="content_type" property="content_type"/>
        <result column="document_number" property="document_number"/>
        <result column="content_type_n" property="content_type_n"/>
    </resultMap>

    <select id="selectContentLineList" resultMap="BaseResultMap">
        select c.line_id,
               (@i :=@i + 1) AS  order_number,
               c.head_id,
               c.content_type,
               c.document_number,
               s.MEANING content_type_n
          from (SELECT @i := 0) AS row_seq ,con_content_number_line c
          left join sys_code_value_b_v s
            on s.CODE = 'CON.CONTENT_NUM_TYPE'
           and s.code_value = c.content_type
           where c.head_id = #{headId}
    </select>


</mapper>