<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.ContractPaymentPlanMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.ContractPaymentPlan">
        <result column="PLAN_ID" property="planId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="PLAN_DATE" property="planDate" jdbcType="DATE" />
        <result column="PLAN_AMOUNT" property="planAmount" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR" />
        <result column="PANYMENT_METHOD" property="panymentMethod" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="RaypmentPlanInfoMap" type="map">
        <result column="plan_id" property="plan_id"/>
        <result column="contract_id" property="contract_id"/>
        <result column="plan_date" property="plan_date"/>
        <result column="plan_amount" property="plan_amount"/>
        <result column="bp_id" property="bp_id"/>
        <result column="bank_name" property="bank_name"/>
        <result column="bank_account" property="bank_account"/>
        <result column="payment_method" property="payment_method"/>
        <result column="payment_method_n" property="payment_method_n"/>
        <result column="bp_id_n" property="bp_id_n"/>
        <result column="seq_num" property="seq_num"/>
        <result column="contract_number" property="contract_number"/>
        <result column="reported_status" property="reported_status"/>
    </resultMap>

    <select id="selectRaypmentPlanInfo" resultMap="RaypmentPlanInfoMap">
        select c.plan_id,
               c.contract_id,
               c.plan_date,
               c.plan_amount,
               c.bp_id,
               c.bank_name,
               c.bank_account,
               c.payment_method,
               c.seq_num,
               c.reported_status,
               s.MEANING payment_method_n,
               hbm.bp_name bp_id_n,
               (select cc.contract_number from con_contract cc where cc.contract_id = c.contract_id) contract_number
          from con_contract_payment_plan c
          left join sys_code_value_b_v s
            on s.CODE = 'CSH.PAYMENT_METHOD'
           and c.payment_method = s.code_value
          left join hls_bp_master hbm on hbm.bp_id = c.bp_id
        where c.contract_id = #{contractId}
    </select>

</mapper>