<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.HlsCusBillManagementLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.HlsCusBillManagementLn">
        <result column="BILL_MANAGEMENT_LN_ID" property="billManagementLnId" jdbcType="DECIMAL"/>
        <result column="BILL_MANAGEMENT_ID" property="billManagementId" jdbcType="DECIMAL"/>
        <result column="BILL_MANAGEMENT_LN_TYPE" property="billManagementLnType" jdbcType="VARCHAR"/>
        <result column="BILL_MANAGEMENT_LN_TYPE_N" property="billManagementLnTypeN" jdbcType="VARCHAR"/>
        <result column="BILL_MANAGEMENT_LN_NAME" property="billManagementLnName" jdbcType="VARCHAR"/>
        <result column="BILL_MANAGEMENT_LN_PLEDGEE" property="billManagementLnPledgee" jdbcType="VARCHAR"/>
        <result column="BILL_MANAGEMENT_LN_DATE" property="billManagementLnDate" jdbcType="VARCHAR"/>
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL"/>
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="VARCHAR"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="VARCHAR"/>
        <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="query" parameterType="com.hand.hls.cont.dto.HlsCusBillManagementLn"
            resultMap="BaseResultMap">
        SELECT sa.*,
         (SELECT v.meaning FROM
        sys_code_value_b_v v WHERE v.CODE = 'BILL_TYPE' AND v.code_value = sa.bill_management_ln_type) bill_management_ln_type_n
         FROM BILL_MANAGEMENT_LN sa
        <where>

            <if test="billManagementId != null and billManagementId != ''">
                and sa.bill_management_id=#{billManagementId}
            </if>

        </where>
    </select>

</mapper>