<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.HlsCusConFloatingRateReqLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.HlsCusConFloatingRateReqLn">
        <result column="flt_req_ln_id" property="fltReqLnId" jdbcType="DECIMAL"/>
        <result column="flt_req_id" property="fltReqId" jdbcType="DECIMAL"/>
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="quotation_id" property="quotationId" jdbcType="DECIMAL"/>
        <result column="withdraw_id" property="withdrawId" jdbcType="DECIMAL"/>
        <result column="base_rate_type" property="baseRateType" jdbcType="VARCHAR"/>
        <result column="old_base_rate" property="oldBaseRate" jdbcType="DECIMAL"/>
        <result column="new_base_rate" property="newBaseRate" jdbcType="DECIMAL"/>
        <result column="old_int_rate" property="oldIntRate" jdbcType="DECIMAL"/>
        <result column="new_int_rate" property="newIntRate" jdbcType="DECIMAL"/>
        <result column="floating_range_method" property="floatingRangeMethod" jdbcType="VARCHAR"/>
        <result column="floating_calc_method" property="floatingCalcMethod" jdbcType="VARCHAR"/>
        <result column="unit_adj_amount" property="unitAdjAmount" jdbcType="DECIMAL"/>
        <result column="base_rate_adj_range" property="baseRateAdjRange" jdbcType="DECIMAL"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="interest_adj_amount" property="interestAdjAmount" jdbcType="DECIMAL"/>
        <result column="document_version_id" property="documentVersionId" jdbcType="DECIMAL"/>
        <result column="contract_status" property="contractStatus" jdbcType="VARCHAR"/>
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR"/>
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR"/>
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR"/>
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR"/>
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR"/>
        <result column="REF_V06" property="refV06" jdbcType="VARCHAR"/>
        <result column="REF_V07" property="refV07" jdbcType="VARCHAR"/>
        <result column="REF_V08" property="refV08" jdbcType="VARCHAR"/>
        <result column="REF_V09" property="refV09" jdbcType="VARCHAR"/>
        <result column="REF_V10" property="refV10" jdbcType="VARCHAR"/>
        <result column="REF_V11" property="refV11" jdbcType="VARCHAR"/>
        <result column="REF_V12" property="refV12" jdbcType="VARCHAR"/>
        <result column="REF_V13" property="refV13" jdbcType="VARCHAR"/>
        <result column="REF_V14" property="refV14" jdbcType="VARCHAR"/>
        <result column="REF_V15" property="refV15" jdbcType="VARCHAR"/>
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL"/>
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL"/>
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL"/>
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL"/>
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL"/>
        <result column="REF_N06" property="refN06" jdbcType="DECIMAL"/>
        <result column="REF_N07" property="refN07" jdbcType="DECIMAL"/>
        <result column="REF_N08" property="refN08" jdbcType="DECIMAL"/>
        <result column="REF_N09" property="refN09" jdbcType="DECIMAL"/>
        <result column="REF_N10" property="refN10" jdbcType="DECIMAL"/>
        <result column="REF_D01" property="refD01" jdbcType="DATE"/>
        <result column="REF_D02" property="refD02" jdbcType="DATE"/>
        <result column="REF_D03" property="refD03" jdbcType="DATE"/>
        <result column="REF_D04" property="refD04" jdbcType="DATE"/>
        <result column="REF_D05" property="refD05" jdbcType="DATE"/>
        <result column="REF_D06" property="refD06" jdbcType="DATE"/>
        <result column="REF_D07" property="refD07" jdbcType="DATE"/>
        <result column="REF_D08" property="refD08" jdbcType="DATE"/>
        <result column="REF_D09" property="refD09" jdbcType="DATE"/>
        <result column="REF_D10" property="refD10" jdbcType="DATE"/>


        <result column="contract_name" property="contractName"/>
        <result column="contract_number" property="contractNumber"/>
        <result column="quotation_number" property="quotationNumber"/>
        <result column="status_n" property="statusN"/>
        <result column="bp_name" property="bpName"/>
        <result column="floating_range_method_n" property="floatingRangeMethodN"/>
        <result column="business_type_n" property="businessTypeN"/>
        <result column="document_type_desc" property="documentTypeDesc"/>
        <result column="price_list_n" property="priceListN"/>
        <result column="description" property="description"/>

        <result column="old_due_amount" property="oldDueAmount"/>
        <result column="new_due_amount" property="newDueAmount"/>
        <result column="old_principal" property="oldPrincipal"/>
        <result column="new_principal" property="newPrincipal"/>
        <result column="old_interest" property="oldInterest"/>
        <result column="new_interest" property="newInterest"/>
        <result column="old_outstanding_interest" property="oldOutstandingInterest"/>
        <result column="new_outstanding_interest" property="newOutstandingInterest"/>
        <result column="interest_adj_amount" property="interestAdjAmount"/>

        <result column="quotation_id_new" property="quotationIdNew"/>
        <result column="contract_number_con" property="contractNumberCon"/>
        <result column="host_unit_id" property="hostUnitId"/>
        <result column="unit_name" property="unitName"/>
        <result column="company_name" property="companyName"/>
        <result column="lpr_link_date" property="lprLinkDate"/>
        <result column="next_adjustment_date" property="nextAdjustmentDate"/>
        <result column="lpr_base_date" property="lprBaseDate"/>
        <result column="lpr_base_date_n" property="lprBaseDateN"/>
        <result column="lpr_fixed_date" property="lprFixedDate"/>
        <result column="lpr_adjustment_term" property="lprAdjustmentTerm"/>
        <result column="lpr_adjustment_period_n" property="lprAdjustmentPeriodN"/>
        <result column="int_rate_type" property="intRateType"/>
        <result column="int_rate_type_n" property="intRateTypeN"/>
        <result column="float_type" property="floatType"/>
        <result column="floating_way_rate" property="floatingWayRate"/>
        <result column="base_rate" property="baseRate"/>
        <result column="int_rate" property="intRate"/>
        <result column="base_rate_type_n" property="baseRateTypeN"/>
        <result column="new_base_rate_collect" property="newBaseRateCollect"/>
        <result column="new_base_rate_collect_n" property="newBaseRateCollectN"/>

    </resultMap>

    <select id="queryConFloatingRateReqLn" resultMap="BaseResultMap"
            parameterType="com.hand.hls.cont.dto.HlsCusConFloatingRateReqLn">
        SELECT
        *
        FROM
        (
        SELECT
        t.*,
        c.contract_name,
        c.contract_number,
        q.quotation_number,
        q.description,
        (SELECT wm_concat(hbm.bp_name )
        FROM prj_project_bp ppb, hls_bp_master hbm
        WHERE ppb.project_id = pp.project_id
        AND ppb.bp_id = hbm.bp_id
        AND ppb.bp_categroy = 'CON_CONTRACT'
        AND ppb.Bp_Type IN ('TENANT', 'TENANT_SEC')) AS bp_name,
        pp.contract_number AS contract_number_con,
        pp.host_unit_id,
        (SELECT fou.unit_name
        FROM fnd_org_unit fou
        WHERE fou.unit_id = pp.host_unit_id) AS unit_name,
        (SELECT fc.company_full_name
        FROM fnd_company fc
        WHERE fc.company_id = pp.company_spv) AS company_name,


        q.lpr_base_date,

        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'FND.BASE_RATE_TYPE'
        AND s.code_value = q.base_rate_type) AS base_rate_type_n,

        q.int_rate_type,
        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'CON.INT_RATE_TYPE'
        AND upper(s.code_value) = upper(q.int_rate_type)) AS int_rate_type_n,
        q.float_type,
        q.floating_way_rate,
        q.base_rate,
        q.int_rate,

        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'LPR_BASE_DATE'
        AND s.code_value = q.lpr_base_date) AS lpr_base_date_n,
        q.lpr_fixed_date,
        q.lpr_adjustment_term,
        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'CON.FLOATING_RANGE_METHOD'
        AND s.code_value = q.lpr_adjustment_period) AS lpr_adjustment_period_n,

        (select h.description
        from hls_price_list h
        where h.price_list = q.price_list) price_list_n,

        (
        SELECT
        scvb.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        WHERE
        scb.code_id = scvb.code_id
        AND scvb.VALUE= t.STATUS
        AND scb.CODE = 'CON.FLOATING_REQ_LN_STATUS'
        AND scb.enabled_flag = 'Y'
        AND scvb.enabled_flag = 'Y'
        ) AS status_n
        FROM
        con_floating_rate_req_ln t
        LEFT JOIN con_contract c ON t.contract_id = c.contract_id
        LEFT JOIN prj_quotation q ON t.quotation_id = q.quotation_id
        LEFT JOIN prj_project pp  ON c.project_id = pp.project_id
        )t1
        <where>
            <if test="fltReqId!=null">
                t1.flt_req_id = #{fltReqId}
            </if>
            <if test="fltReqLnId!=null">
                AND t1.flt_req_ln_id = #{fltReqLnId}
            </if>
            <if test="contractNumber!=null">
                AND t1.contract_number LIKE concat('%',#{contractNumber},'%')
            </if>
            <if test="bpName!=null">
                AND t1.bp_name LIKE concat('%',#{bpName},'%')
            </if>
        </where>
    </select>


    <update id="cancleRateChange" parameterType="com.hand.hls.cont.dto.HlsCusConFloatingRateReqLn">
        UPDATE con_floating_rate_req_ln tab
        SET tab.new_base_rate = NULL,tab.floating_range_method = NULL,
        tab.floating_calc_method = NULL,tab.unit_adj_amount = NULL,
        tab.base_rate_adj_range = NULL,
        <if test="status!=null">
            tab.status = #{status},
        </if>
        <if test="objectVersionNumber!=null">
            tab.object_version_number = #{objectVersionNumber},
        </if>
        <if test="requestId!=null">
            tab.request_id = #{requestId},
        </if>
        <if test="programId!=null">
            tab.program_id = #{programId},
        </if>
        <if test="createdBy!=null">
            tab.created_by = #{createdBy},
        </if>
        <if test="creationDate!=null">
            tab.creation_date = #{creationDate},
        </if>
        <if test="lastUpdatedBy!=null">
            tab.last_updated_by = #{lastUpdatedBy},
        </if>
        <if test="lastUpdateDate!=null">
            tab.last_update_date = #{lastUpdateDate},
        </if>
        <if test="lastUpdateLogin!=null">
            tab.last_update_login = #{lastUpdateLogin},
        </if>
        tab.interest_adj_amount = NULL,tab.document_version_id = NULL
        WHERE tab.flt_req_ln_id = #{fltReqLnId}
    </update>

    <select id="queryFloatlnCalcDetail" resultMap="BaseResultMap"  parameterType="com.hand.hls.cont.dto.HlsCusConFloatingRateReqLn">
          SELECT (select nvl(sum(ccc.due_amount),0)
              from  con_contract_cashflow ccc
             where  ccc.contract_id = cfr.contract_id
               and ccc.cf_item in (1, 10)) as old_due_amount, --调息前租金
           (select nvl(sum(pqc.due_amount),0)
              from prj_quotation_cashflow pqc
             where pqc.quotation_id = cfr.quotation_id_new
               and cf_item in (1, 10)) as new_due_amount, --调息后租金
           (select nvl(sum(ccc.principal),0)
              from con_contract_cashflow ccc
             where   ccc.contract_id = cfr.contract_id
               and ccc.cf_item in (1, 10)) as old_principal, --调息前本金
           (select nvl(sum(pqc.principal),0)
              from prj_quotation_cashflow pqc
             where pqc.quotation_id = cfr.quotation_id_new
               and pqc.cf_item in (1, 10)) as new_principal, --调息后本金
           (select nvl(sum(ccc.interest),0)
              from con_contract_cashflow ccc
             where  ccc.contract_id = cfr.contract_id
               and ccc.cf_item in (1, 10)) as old_interest, --调息前利息
           (select nvl(sum(pqc.interest),0)
              from prj_quotation_cashflow pqc
             where pqc.quotation_id = cfr.quotation_id_new
               and pqc.cf_item in (1, 10)) as new_interest, --调后前利息
           (select nvl(sum(ccc.interest),0) - nvl(sum(ccc.received_interest),0)
              from con_contract_cashflow ccc
             where   ccc.contract_id = cfr.contract_id
               and ccc.cf_item in (1, 10)) old_outstanding_interest, --调息前剩余利息
           ((select nvl(sum(pqc.interest),0)
               from prj_quotation_cashflow pqc
              where pqc.quotation_id = cfr.quotation_id_new
                and pqc.cf_item in (1 , 10)) -
            (select nvl(sum(ccc.received_interest),0)
               from con_contract_cashflow ccc
              where  ccc.contract_id = cfr.contract_id
                and ccc.cf_item in (1 , 10)
                and EXISTS (select 1 from prj_quotation_cashflow pqc
        where pqc.quotation_id = cfr.quotation_id_new
        and pqc.cf_item in (1 , 10) )
                -- and ccc.write_off_flag != 'NOT'
             )
           ) new_outstanding_interest, --调息后剩余利息
             ((select nvl(sum(pqc.interest), 0)
                from prj_quotation_cashflow pqc
                where pqc.quotation_id = cfr.quotation_id_new
                and pqc.cf_item in (1, 10)) -
                (select nvl(sum(ccc.interest), 0)
                from con_contract_cashflow ccc
                where  ccc.contract_id = cfr.contract_id
                and ccc.cf_item in (1, 10) and EXISTS (select 1 from prj_quotation_cashflow pqc
        where pqc.quotation_id = cfr.quotation_id_new
        and pqc.cf_item in (1 , 10) ))
            ) as interest_adj_amount  -- 利息差值

        from con_floating_rate_req_ln cfr
        <where>
        1=1
        and cfr.flt_req_ln_id = #{fltReqLnId}
        </where>
    </select>

    <select id="queryFloatByReqId" resultMap="BaseResultMap"  parameterType="com.hand.hls.cont.dto.HlsCusConFloatingRateReqLn">
      select cfr.*
      from con_floating_rate_req_ln cfr
      <where>
            cfr.flt_req_id = #{fltReqId}
      </where>
    </select>

</mapper>