<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.HlsCusConFloatingRateReqMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.HlsCusConFloatingRateReq">
        <result column="flt_req_id" property="fltReqId" jdbcType="DECIMAL" />
        <result column="company_id" property="companyId" jdbcType="DECIMAL" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="flt_req_date" property="fltReqDate" jdbcType="DATE" />
        <result column="flt_req_user_id" property="fltReqUserId" jdbcType="DECIMAL" />
        <result column="document_type" property="documentType" jdbcType="VARCHAR" />
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR" />
        <result column="business_type" property="businessType" jdbcType="VARCHAR" />
        <result column="flt_req_number" property="fltReqNumber" jdbcType="VARCHAR" />
        <result column="process_instance_id" property="processInstanceId" jdbcType="DECIMAL" />
        <result column="statusDesc" property="statusDesc" />

        <result column="document_type_desc" property="documentTypeDesc"/>
        <result column="base_rate_set" property="baseRateSet"/>
        <result column="valid_from" property="validFrom"/>
        <result column="business_type_n" property="businessTypeN" jdbcType="VARCHAR" />
        <result column="document_type_n" property="documentTypeN" jdbcType="VARCHAR" />
        <result column="status_n" property="statusN" jdbcType="VARCHAR" />
        <result column="flt_req_ln_id" property="fltReqLnId" jdbcType="VARCHAR" />

    </resultMap>
    <select id="queryConFloatingRateReq" parameterType="com.hand.hls.cont.dto.HlsCusConFloatingRateReq"
            resultMap="BaseResultMap">
        select t.*,
        (select scvb.meaning from sys_code_b scb,sys_code_value_b scvb
        where scb.code_id = scvb.code_id
        and scvb.value = t.document_type and scb.code = 'CON.RATE_DOCUMENT_TYPE'
        and scb.enabled_flag = 'Y' and scvb.enabled_flag = 'Y')AS document_type_n,
        (select scvb.meaning from sys_code_b scb,sys_code_value_b scvb
        where scb.code_id = scvb.code_id
        and scvb.value = t.status and scb.code = 'HLS_WFL_STATUS'
        and scb.enabled_flag = 'Y' and scvb.enabled_flag = 'Y')AS status_n,
        nvl((select sum(nvl(l.interest_adj_amount,0)) from con_floating_rate_req_ln l where l.flt_req_id = t.flt_req_id),0) total_interest_adj_amount
        from con_floating_rate_req t
        <where>
            1=1
            <if test="fltReqDate!=null">
                and t.flt_req_date = #{fltReqDate}
            </if>
            <if test="status!=null">
                and t.status = #{status}
            </if>
            <if test="fltReqNumber!=null">
                and t.flt_req_number like concat(CONCAT('%',#{fltReqNumber}),'%')
            </if>
            <if test="fltReqId!=null">
                and t.flt_req_id =#{fltReqId}
            </if>
        </where>
        order by t.flt_req_date desc
    </select>
    <select id="queryHeadList" resultMap="BaseResultMap">
         SELECT
	cfrr.*, (
		SELECT
			scvb.MEANING
		FROM
			sys_code_value_b scvb
		WHERE
			code_id = (
				SELECT
					code_id
				FROM
					sys_code_b
				WHERE
					CODE = 'CON.CONTRACT_PROCESS_STATUS'
			)
		AND scvb.VALUE= cfrr. STATUS
	) AS statusDesc,
    (select hdt.description
       from hls_document_type hdt
     where hdt.document_category = 'CON_FLOATING_RATE_REQ'
       and hdt.document_type = cfrr.document_type) document_type_desc,
    (select fbrs.valid_from from fnd_base_rate_set fbrs
        where fbrs.base_rate_set = cfrr.base_rate_set) valid_from
FROM
	con_floating_rate_req cfrr
	<where>
        <if test="fltReqId!=null">
             flt_req_id = #{fltReqId}
        </if>
        <if test="companyId!=null">
           and company_id = #{companyId}
        </if>
        <if test="statusList!=null">
            AND status IN
            <foreach collection="statusList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </where>
    </select>
    <select id="queryBaseRateSet" resultMap="BaseResultMap">
        select base_rate_set,valid_from from fnd_base_rate_set
        <where>
            1=1
            <if test="baseRateSet!=null">
                and base_rate_set = #{baseRateSet}
            </if>
            <if test="validFrom!=null">
                and valid_from = #{validFrom}
            </if>

        </where>
    </select>


    <select id="queryHistory" parameterType="com.hand.hls.cont.dto.HlsCusConFloatingRateReq"
            resultMap="BaseResultMap">
        SELECT t.flt_req_id,
               t.STATUS,
               t.flt_req_date,
               t.flt_req_number,
               l.flt_req_ln_id,
               (
                   SELECT scvb.meaning
                   FROM sys_code_b scb,
                        sys_code_value_b scvb
                   WHERE scb.code_id = scvb.code_id
                     AND scvb.
                             VALUE
                       = t.STATUS
                     AND scb.CODE = 'HLS_WFL_STATUS'
                     AND scb.enabled_flag = 'Y'
                     AND scvb.enabled_flag = 'Y'
               ) AS status_n
        FROM con_floating_rate_req t,
             con_floating_rate_req_ln l
        WHERE l.quotation_id = #{quotationId}
          AND l.flt_req_id = t.flt_req_id
         order by t.flt_req_number desc
    </select>


</mapper>