<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.AssetsDisposalCostMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.AssetsDisposalCost">
        <result column="ASSETS_DISPOSAL_COST_ID" property="assetsDisposalCostId" jdbcType="DECIMAL" />
        <result column="ASSETS_DISPOSAL_ID" property="assetsDisposalId" jdbcType="DECIMAL" />
        <result column="COST_NAME" property="costName" jdbcType="VARCHAR" />
        <result column="COST_MONEY" property="costMoney" jdbcType="DECIMAL" />
        <result column="PLAY_OBJECT" property="playObject" jdbcType="VARCHAR" />
        <result column="COST_STATUS" property="costStatus" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="COST_STATUS_N" property="costStatusN" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAssetsDisposalCost" parameterType="com.hand.hls.pam.dto.AssetsDisposalCost"
            resultMap="BaseResultMap">
        select
        adc.COST_STATUS,
        (SELECT meaning
            FROM sys_code_value_b_v v
            WHERE v.CODE = 'ASSETS_DISPOSAL_FLASH'
            AND v.code_value = adc.COST_STATUS) COST_STATUS_N,
        adc.*
        from assets_disposal_cost adc
        <where>
            adc.ASSETS_DISPOSAL_ID = #{assetsDisposalId}
        </where>

    </select>

</mapper>