<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.HlsCusLeaseItemListMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.HlsCusLeaseItemList" >
        <id column="hls_lease_item_list_id" property="hlsLeaseItemListId"/>
        <result column="lease_item_id" property="leaseItemId" jdbcType="DECIMAL" />
        <result column="seq" property="seq" jdbcType="DECIMAL" />
        <result column="asset_num" property="assetNum" jdbcType="VARCHAR" />
        <result column="asset_type" property="assetType" jdbcType="VARCHAR" />
        <result column="asset_name" property="assetName" jdbcType="VARCHAR" />
        <result column="posted_date" property="postedDate" jdbcType="DATE" />
        <result column="specification" property="specification" jdbcType="VARCHAR" />
        <result column="vender" property="vender" jdbcType="VARCHAR" />
        <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
        <result column="quantity" property="quantity" jdbcType="DECIMAL" />
        <result column="uom" property="uom" jdbcType="VARCHAR" />
        <result column="original_asset_value" property="originalAssetValue" jdbcType="DECIMAL" />
        <result column="net_asset_value" property="netAssetValue" jdbcType="DECIMAL" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
        <result column="net_asset_value" property="netAssetValue" jdbcType="DECIMAL" />
        <result column="accumulated_depreciation" property="accumulatedDepreciation" jdbcType="DECIMAL" />
        <result column="currency" property="currency" jdbcType="VARCHAR" />
        <result column="installation_site" property="installationSite" jdbcType="DECIMAL" />
        <result column="invoice_amt" property="invoiceAmt" jdbcType="DECIMAL" />
        <result column="invoice_amt_after_tax" property="invoiceAmtAfterTax" jdbcType="DATE" />
        <result column="invoice_num" property="invoiceNum" jdbcType="DECIMAL" />
        <result column="invoice_date" property="invoiceDate" jdbcType="DATE" />
        <result column="img_num" property="imgNum" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="lease_type" property="leaseType" jdbcType="VARCHAR" />
        <result column="valuation" property="valuation" jdbcType="DECIMAL" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    </resultMap>

    <select id="selectItemList" resultMap="BaseResultMap">
        select hlil.*,
        (hlil.quantity * hlil.price) as total_price,
        (select wm_concat(file_name)
        from fnd_atm_attachment       fa,
        fnd_atm_attachment_multi fam
        WHERE fam.table_name = 'HLS_LEASE_ITEM_ATTACHMENT'
        and fam.table_pk_value =
        hlil.hls_lease_item_list_id
        and fa.attachment_id = fam.attachment_id) file_name
        from  hls_lease_item_list hlil
        <where>
            1=1
            <if test="leaseItemId != null">
                and hlil.lease_item_id = #{leaseItemId}
            </if>
        </where>
    </select>

    <select id="selectItemList1" resultMap="BaseResultMap">
        select hlil.*
        from  hls_lease_item_list hlil
        <where>
            1=1
            <if test="leaseItemId != null">
                and hlil.lease_item_id = #{leaseItemId}
            </if>
        </where>
    </select>

    <select id="selectItemTotal" resultMap="BaseResultMap">
    select
    CASE
    WHEN
    ( SELECT max( lal.fair_value ) FROM lease_asset_ln lal WHERE lal.LEASE_ITEM_ID = hlil.LEASE_ITEM_ID ) IS NULL THEN
    sum( hlil.PRICE*hlil.QUANTITY ) ELSE ( SELECT max( lal.fair_value ) FROM lease_asset_ln lal WHERE lal.LEASE_ITEM_ID = hlil.LEASE_ITEM_ID )
    END AS ASSET_VALUE_TOTAL
    from hls_lease_item_list hlil
    where #{leaseItemId}= hlil.LEASE_ITEM_ID
    GROUP BY  hlil.LEASE_ITEM_ID
    </select>


<!--    <select id="selectItemName" resultMap="java.lang.String">-->
<!--    select hli.FULL_NAME  from hls_lease_item hli where hli.LEASE_ITEM_ID=#{leaseItemId}-->
<!--    </select>-->



</mapper>
