<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.HlsCusLeaseItemMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.HlsCusLeaseItem">

        <result column="lease_item_id" property="leaseItemId" jdbcType="DECIMAL"/>
        <result column="owner_user_id" property="ownerUserId" jdbcType="DECIMAL"/>
        <result column="lease_item_code" property="leaseItemCode" jdbcType="VARCHAR"/>
        <result column="short_name" property="shortName" jdbcType="VARCHAR"/>
        <result column="full_name" property="fullName" jdbcType="VARCHAR"/>
        <result column="lease_item_type" property="leaseItemType" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="search_term" property="searchTerm" jdbcType="VARCHAR"/>
        <result column="serial_number" property="serialNumber" jdbcType="VARCHAR"/>
        <result column="pattern" property="pattern" jdbcType="VARCHAR"/>
        <result column="uom" property="uom" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="DECIMAL"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="original_asset_value" property="originalAssetValue" jdbcType="DECIMAL"/>
        <result column="net_asset_value" property="netAssetValue" jdbcType="DECIMAL"/>
        <result column="accumulated_depreciation" property="accumulatedDepreciation" jdbcType="DECIMAL"/>
        <result column="detention" property="detention" jdbcType="DECIMAL"/>
        <result column="manufacturer_id" property="manufacturerId" jdbcType="DECIMAL"/>
        <result column="manufacturer_name" property="manufacturerName" jdbcType="VARCHAR"/>
        <result column="manufacturing_date" property="manufacturingDate" jdbcType="DATE"/>
        <result column="vender_id" property="venderId" jdbcType="DECIMAL"/>
        <result column="vender_name" property="venderName" jdbcType="VARCHAR"/>
        <result column="ship_model" property="shipModel" jdbcType="VARCHAR"/>
        <result column="fixed_assets_site" property="fixedAssetsSite" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="installation_site" property="installationSite" jdbcType="VARCHAR"/>
        <result column="ship_classification" property="shipClassification" jdbcType="VARCHAR"/>
        <result column="fair_value_recognition" property="fairValueRecognition" jdbcType="VARCHAR"/>
        <result column="origin_price" property="originPrice" jdbcType="DECIMAL"/>
        <result column="origin_book_value" property="originBookValue" jdbcType="DECIMAL"/>
        <result column="net_book_value" property="netBookValue" jdbcType="DECIMAL"/>
        <result column="asset_value" property="assetValue" jdbcType="DECIMAL"/>
        <result column="complete_value" property="completeValue" jdbcType="DECIMAL"/>
        <result column="fair_value" property="fairValue" jdbcType="DECIMAL"/>
        <result column="asset_types" property="assetTypes" jdbcType="VARCHAR"/>
        <result column="asset_types_sub" property="assetTypesSub" jdbcType="VARCHAR"/>
        <result column="regulatory_asset_class" property="regulatoryAssetClass" jdbcType="VARCHAR"/>
        <result column="regulatory_asset_class_sub" property="regulatoryAssetClassSub" jdbcType="VARCHAR"/>
        <result column="nominal_transaction_price" property="nominalTransactionPrice" jdbcType="DECIMAL"/>
        <result column="include_principal_tax" property="includePrincipalTax" jdbcType="DECIMAL"/>
        <result column="lease_financing_amt" property="leaseFinancingAmt" jdbcType="DECIMAL"/>
        <result column="if_tangible_movable" property="ifTangibleMovable" jdbcType="VARCHAR"/>
        <result column="if_obtain_deduction" property="ifObtainDeduction" jdbcType="VARCHAR"/>
        <result column="lease_registration_number" property="leaseRegistrationNumber" jdbcType="VARCHAR"/>
        <result column="asset_status" property="assetStatus" jdbcType="VARCHAR"/>
        <result column="asset_types_n" property="assetTypesN" jdbcType="VARCHAR"/>
        <result column="asset_types_sub_n" property="assetTypesSubN" jdbcType="VARCHAR"/>
        <result column="regulatory_asset_class_n" property="regulatoryAssetClassN" jdbcType="VARCHAR"/>
        <result column="regulatory_asset_class_sub_n" property="regulatoryAssetClassSubN" jdbcType="VARCHAR"/>
        <result column="currency_n" property="currencyN" jdbcType="VARCHAR"/>
        <result column="asset_status_n" property="assetStatusN" jdbcType="VARCHAR"/>
        <result column="if_tangible_movable_n" property="ifTangibleMovableN" jdbcType="VARCHAR"/>
        <result column="if_obtain_deduction_n" property="ifObtainDeductionN" jdbcType="VARCHAR"/>
        <result column="fair_value_recognition_n" property="fairValueRecognitionN" jdbcType="VARCHAR"/>
        <result column="if_registered_ownership_n" property="ifRegisteredOwnershipN" jdbcType="VARCHAR"/>
        <result column="vender_id_n" property="venderIdN" jdbcType="VARCHAR"/>
        <result column="if_registered_ownership" property="ifRegisteredOwnership" jdbcType="VARCHAR"/>
        <result column="registration_agency" property="registrationAgency" jdbcType="VARCHAR"/>
        <result column="ownership_register_status" property="ownershipRegisterStatus" jdbcType="VARCHAR"/>
        <result column="ownership_register_status_n" property="ownershipRegisterStatusN" jdbcType="VARCHAR"/>
        <result column="estimated_register_time" property="estimatedRegisterTime" jdbcType="DATE"/>
        <result column="start_construct_date" property="startConstructDate" jdbcType="DATE"/>
        <result column="factory_delivery_date" property="factoryDeliveryDate" jdbcType="DATE"/>
        <result column="other_information" property="otherInformation" jdbcType="VARCHAR"/>
        <result column="middleman_name" property="middlemanName" jdbcType="VARCHAR"/>
        <result column="brand" property="brand" jdbcType="VARCHAR"/>
        <result column="useage" property="useage" jdbcType="VARCHAR"/>
        <result column="specification" property="specification" jdbcType="VARCHAR"/>


        <result column="COLLATERAL_START_DATE" property="collateralStartDate" jdbcType="DATE"/>
        <result column="COLLATERAL_CATEGORIES" property="collateralCategories" jdbcType="VARCHAR"/>
        <result column="COLLATERAL_CLASSIFY_ONE" property="collateralClassifyOne" jdbcType="VARCHAR"/>
        <result column="COLLATERAL_CLASSIFY_TWO" property="collateralClassifyTwo" jdbcType="VARCHAR"/>
        <result column="MORTGAGOR" property="mortgagor" jdbcType="VARCHAR"/>
        <result column="MORTGAGE_SEQUENCE" property="mortgageSequence" jdbcType="VARCHAR"/>
        <result column="MORTGAGE_DATE_FROM" property="mortgageDateFrom" jdbcType="DATE"/>
        <result column="MORTGAGE_DATE_TO" property="mortgageDateTo" jdbcType="DATE"/>
        <result column="MORTGAGE_AMOUNT" property="mortgageAmount" jdbcType="DECIMAL"/>
        <result column="VALUATION_DATE" property="valuationDate" jdbcType="DATE"/>
        <result column="VALUATION_UNIT" property="valuationUnit" jdbcType="VARCHAR"/>
        <result column="USAGE_TYPE" property="usageType" jdbcType="VARCHAR"/>
        <result column="BUILDING_AREA" property="buildingArea" jdbcType="DECIMAL"/>
        <result column="EQUITY_NUMBER" property="equityNumber" jdbcType="VARCHAR"/>
        <result column="FLOOR_AREA" property="floorArea" jdbcType="DECIMAL"/>
        <result column="IF_SINCE_THE_MORTGAGE" property="ifSinceTheMortgage" jdbcType="VARCHAR"/>
        <result column="LAND_LOCATED" property="landLocated" jdbcType="VARCHAR"/>
        <result column="LAND_USE" property="landUse" jdbcType="VARCHAR"/>

        <result column="LEASE_ITEM_TYPE_N" property="leaseItemTypeN" jdbcType="VARCHAR"/>
        <result column="MORTGAGOR_N" property="mortgagorN" jdbcType="VARCHAR"/>
        <result column="CURRENCY_N" property="currencyN" jdbcType="VARCHAR"/>
        <result column="REGULATORY_ASSET_CLASS_N" property="regulatoryAssetClassN" jdbcType="VARCHAR"/>
        <result column="REGULATORY_ASSET_CLASS_SUB_N" property="regulatoryAssetClassSubN" jdbcType="VARCHAR"/>
        <result column="collateral_categories_N" property="collateralCategoriesN" jdbcType="VARCHAR"/>
        <result column="collateral_classify_one_N" property="collateralClassifyOneN" jdbcType="VARCHAR"/>
        <result column="collateral_classify_two_N" property="collateralClassifyTwoN" jdbcType="VARCHAR"/>
        <result column="MORTGAGE_SEQUENCE_N" property="mortgageSequenceN" jdbcType="VARCHAR"/>
        <result column="USAGE_TYPE_N" property="usageTypeN" jdbcType="VARCHAR"/>
        <result column="IF_SINCE_THE_MORTGAGE_N" property="ifSinceTheMortgageN" jdbcType="VARCHAR"/>
        <result column="lease_create_date" property="leaseCreateDate" jdbcType="VARCHAR"/>
        <result column="owner_user_name" property="ownerUserName" jdbcType="VARCHAR"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="VARCHAR"/>
        <result column="PATTERN_N" property="patternN" jdbcType="VARCHAR"/>
        <result column="PLEDGE_STATE_N" property="pledgeStateN" jdbcType="VARCHAR"/>
        <result column="if_require_insurance" property="ifRequireInsurance" jdbcType="VARCHAR"/>
        <result column="if_require_insurance_n" property="ifRequireInsuranceN" jdbcType="VARCHAR"/>
        <result column="pledge_state" property="pledgeState" jdbcType="VARCHAR"/>
        <result column="result_id" property="resultId" jdbcType="DECIMAL"/>
        <result column="net_asset_value_total" property="netAssetValueTotal" jdbcType="DECIMAL"/>

        <result column="result_id" property="resultId" jdbcType="DECIMAL"/>
        <result column="excel_id" property="excelId" jdbcType="DECIMAL"/>

        <result column="MORTGAGE_AMOUNT_TOTAL" property="mortgageAmountTotal" jdbcType="DECIMAL"/>
        <result column="ASSET_VALUE_TOTAL" property="assetValueTotal" jdbcType="DECIMAL"/>
        <result column="PLEDGE_VALUE_TOTAL" property="pledgeValueTotal" jdbcType="DECIMAL" />

        <result column="authority_rule_string" property="authorityRuleString" jdbcType="VARCHAR"/>
        <result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="VALUATION_METHOD" property="valuationMethod" jdbcType="VARCHAR"/>
        <result column="VALUATION_METHOD_N" property="valuationMethodN" jdbcType="VARCHAR"/>
        <result column="bond_amount" property="bondAmount" jdbcType="DECIMAL"/>

        <result column="contract_status" property="contractStatus" jdbcType="VARCHAR"/>

        <result column="PLEDGE_CONTRACT_NUM" property="pledgeContractNum" jdbcType="VARCHAR"/>
        <result column="PLEDGE_ASSET_VALUE" property="pledgeAssetValue" jdbcType="DECIMAL"/>
        <result column="PLEDGE_ASSET_DEC" property="pledgeAssetDec" jdbcType="DECIMAL"/>
        <result column="LEASE_ITEM_DET_ID" property="leaseItemDetId" jdbcType="DECIMAL"/>
        <result column="PATTERN_DET" property="patternDet" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName"/>
        <result column="host_project_manager" property="hostProjectManager"/>
        <result column="allocation_id" property="allocationId"/>
        <result column="lease_start_date" property="leaseStartDate"/>

        <result column="document_created_by" property="documentCreatedBy"/>

        <result column="INTERNATIONAL_REGISTRATION_MSN" property="internationalRegistrationMsn" jdbcType="VARCHAR"/>
        <result column="ASSET_VALUE_TOTAL_ALL" property="assetValueTotalAll" jdbcType="DECIMAL"/>


        <result column="asset_name" property="assetName"/>
        <result column="IMG_NUM" property="imgNum"/>
        <result column="INVOICE_NUM" property="invoiceNum"/>
        <result column="ASSET_NUM" property="assetNum"/>
        <result column="MANUFACTURER" property="manufacturer"/>
    </resultMap>
    <select id="selectLeaseMes" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        SELECT
            p.project_id,
            (select h.full_name from hls_lease_item h where h.lease_item_id = pi.lease_item_id)full_name,
            P.HOST_PROJECT_MANAGER,
            (
                SELECT
                    s.ALLOCATION_ID
                FROM
                    sys_user_allocation s, fnd_employee_assigns f
                WHERE
                    s.user_id = p.HOST_PROJECT_MANAGER
                    and s.EMPLOYEE_ASSIGN_ID = f.EMPLOYEE_ASSIGN_ID
                    and f.PRIMARY_POSITION_FLAG = 'Y'
            ) ALLOCATION_ID,
            (
                SELECT
                    date_add(min(q.lease_start_Date), INTERVAL -1 MONTH)
                FROM
                    prj_quotation q,
                    con_contract t
                WHERE
                    q.quotation_id = t.quotation_id
                AND t.project_id = p.project_id
                AND t.data_class = 'NORMAL'
                AND t.contract_status = 'INCEPT'
            ) lease_start_date
        FROM
            prj_project_lease_item pi,
            prj_project p
        WHERE
            NOT EXISTS (
                SELECT
                    1
                FROM
                    lease_asset_ln l
                WHERE
                    l.lease_item_id = pi.lease_item_id
                AND to_char(l.EVALUATION_DATE, 'yyyy') = to_char(sysdate, 'yyyy')
            )
        AND p.project_id = pi.project_id
        AND p.contract_status = 'SIGN'
        AND p.data_class = 'VIRTUAL_CON'
        AND p.data_type = 'NORMAL'
        AND EXISTS (
            SELECT
                1
            FROM
                con_contract tt
            WHERE
                tt.project_id = p.project_id
        )
        GROUP BY
            p.project_id
    </select>
    <select id="selectPlgMes" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        SELECT
            p.project_id,
            P.HOST_PROJECT_MANAGER,
            (
                SELECT
                    s.ALLOCATION_ID
                FROM
                    sys_user_allocation s
                WHERE
                    s.user_id = p.HOST_PROJECT_MANAGER
            ) ALLOCATION_ID,
            (
                SELECT
                date_add(min(q.lease_start_Date), INTERVAL 1 MONTH)
                FROM
                    prj_quotation q,
                    con_contract t
                WHERE
                    q.quotation_id = t.quotation_id
                AND t.project_id = p.project_id
                AND t.data_class = 'NORMAL'
                AND t.contract_status = 'INCEPT'
            ) lease_start_date
        FROM
            prj_project_chance_mp pi,
            prj_project p
        WHERE
            NOT EXISTS (
                SELECT
                    1
                FROM
                    lease_asset_ln l
                WHERE
                    l.lease_item_id = pi.lease_item_id
                AND to_char(l.EVALUATION_DATE, 'yyyy') = to_char(sysdate, 'yyyy')
            )
        AND p.project_id = pi.project_id
        AND p.contract_status = 'SIGN'
        AND p.data_class = 'VIRTUAL_CON'
        AND p.data_type = 'NORMAL'
        AND EXISTS (
            SELECT
                1
            FROM
                con_contract tt
            WHERE
                tt.project_id = p.project_id
        )
        GROUP BY
            p.project_id
    </select>
    <select id="selectPamLeaseItem" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        (
        SELECT
        (
        SELECT
        max(pp.project_number)
        FROM
        prj_project_lease_item ppli,
        prj_project pp
        WHERE
        ppli.lease_item_id = hli.lease_item_id
        AND ppli.project_id = pp.project_id
        AND pp.data_class = 'NORMAL'
        ) project_number,
        (
        SELECT
        max(pp.contract_number)
        FROM
        prj_project_lease_item ppli,
        prj_project pp
        WHERE
        ppli.lease_item_id = hli.lease_item_id
        AND ppli.project_id = pp.project_id
        AND pp.data_class = 'VIRTUAL_CON'
        ) contract_number,
        (
        SELECT
        pp.contract_status
        FROM
        prj_project_lease_item ppli,
        prj_project pp
        WHERE
        ppli.lease_item_id = hli.lease_item_id
        AND ppli.project_id = pp.project_id
        AND pp.data_class = 'VIRTUAL_CON'
        and rownum=1
        ) AS contract_status,
        (
        SELECT
        hbt.description
        FROM
        hls_business_type hbt
        WHERE
        hbt.document_category = 'REGULATORY_ASSET_CLASS'
        AND hbt.business_type = hli.asset_types
        ) asset_types_n,
        (
        SELECT
        scv.MEANING
        FROM
        sys_code_b sc,
        sys_code_value_b scv
        WHERE
        sc.CODE_ID = scv.CODE_ID
        AND sc. CODE = 'SYS.YES_NO'
        AND scv.
        VALUE
        = hli.if_since_the_mortgage
        ) if_since_the_mortgage_n,
        (
        SELECT
        hdt.description
        FROM
        hls_document_type hdt
        WHERE
        hdt.document_category = 'REGULATORY_ASSET_CLASS'
        AND hdt.business_type = hli.asset_types
        AND hdt.document_type = hli.asset_types_sub
        ) asset_types_sub_n,
        (
        SELECT
        nvl(
        sum(hlil.QUANTITY * hlil.PRICE),
        0
        )
        FROM
        hls_lease_item_list hlil
        WHERE
        hlil.lease_item_id = hli.lease_item_id
        ) net_asset_value_total,
        (
        SELECT
        hbm.bp_name
        FROM
        hls_bp_master hbm
        WHERE
        hbm.bp_id = hli.vender_id
        ) vender_id_n,
        hli.creation_date lease_create_date,
        (
        SELECT
        FC.CURRENCY_NAME
        FROM
        FND_CURRENCY FC
        WHERE
        FC.ENABLED_FLAG = 'Y'
        AND FC.CURRENCY_CODE = hli.CURRENCY
        ) currency_n,
        (
        SELECT
        fe. NAME
        FROM
        fnd_employee fe
        WHERE
        fe.employee_id = hli.owner_user_id
        ) AS owner_user_name,
        (
        SELECT
        scvb.MEANING value_name
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        WHERE
        scb.CODE_ID = scvb.CODE_ID
        AND scb. CODE = 'ASSET_STATUS'
        AND scvb.
        VALUE
        = hli.ASSET_STATUS
        ) asset_status_n,
        (
        SELECT
        wm_concat(DISTINCT b.bp_name)
        FROM
        prj_project_bp pp,
        prj_project_lease_item pi,
        hls_bp_master b
        WHERE
        pp.project_id = pi.project_id
        AND pp.BP_TYPE = 'TENANT'
        AND pp.BP_CATEGROY = 'CON_CONTRACT'
        AND pp.bp_id = b.bp_id
        AND pi.lease_item_id = hli.lease_item_id
        ) bp_name,
        hli.*,
        hli.CREATED_BY  document_created_by
        FROM
        hls_lease_item hli
        WHERE
        hli.LEASE_ITEM_TYPE = 'LEASE'
        AND hli.enabled_flag = 'Y'
        ) v
        <where>
            1=1
            <if test="createdBy != null">
                and (v.document_created_by = #{request.userId}
                or #{request.employeeCode} in('ADMIN','HULITING','CHENGUANGFU','WANGPEI')
                OR
                exists(
                select 1 from fnd_org_unit a1,fnd_employee a2,fnd_employee_assigns a3,FND_ORG_POSITION a4
                where a3.employee_id=a2.employee_id
                and a3.unit_id=a1.unit_id
                and a4.position_id=a3.position_id
                and a4.chief_position_flag='Y'
                and employee_code=#{request.employeeCode}
                AND A1.UNIT_ID IN(select b.unit_id
                from sys_user_allocation a,fnd_employee_assigns b
                where a.user_id=v.document_created_by
                AND a.employee_assign_id=b.employee_assign_id)))
            </if>
            <if test="leaseItemId!=null">
                and v.lease_item_id = #{leaseItemId}
            </if>
            <if test="leaseItemCode!=null">
                <bind name="leaseItemCode" value="'%' + leaseItemCode + '%'"/>
                and v.lease_item_code like #{leaseItemCode}
            </if>
            <if test="bpName!=null">
                <bind name="bpName" value="'%' + bpName + '%'"/>
                and v.bp_name like #{bpName}
            </if>
            <if test="fullName!=null">
                <bind name="fullName" value="'%' + fullName + '%'"/>
                and v.full_name like #{fullName}
            </if>
            <if test="assetTypes != null">
                and v.asset_types = #{assetTypes}
            </if>
            <if test="ifSinceTheMortgage != null">
                and v.if_since_the_mortgage = #{ifSinceTheMortgage}
            </if>
            <if test="netAssetValueTotal != null">
                and v.net_asset_value_total = #{netAssetValueTotal}
            </if>
        </where>
        ORDER BY
        v.creation_date DESC
    </select>

    <select id="selectPamLeaseItemReport" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        (
        SELECT
        ppli.project_number,
        ppli_cc.contract_number,
        ppli_cc.contract_status,
        hbt.description asset_types_n,
        (
        SELECT
        scv.MEANING
        FROM
        sys_code_b sc,
        sys_code_value_b scv
        WHERE
        sc.CODE_ID = scv.CODE_ID
        AND sc.CODE = 'SYS.YES_NO'
        AND scv.
        VALUE
        = hli.if_since_the_mortgage
        ) AS if_since_the_mortgage_n,
        hdt.description AS asset_types_sub_n,
        hlil_total.net_asset_value_total,
        ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = hli.vender_id ) AS vender_id_n,
        hli.creation_date AS lease_create_date,
        ( SELECT FC.CURRENCY_NAME FROM FND_CURRENCY FC WHERE FC.ENABLED_FLAG = 'Y' AND FC.CURRENCY_CODE = hli.CURRENCY ) AS currency_n,
        ( SELECT fe.NAME FROM fnd_employee fe WHERE fe.employee_id = hli.owner_user_id ) AS owner_user_name,
        (
        SELECT
        scvb.MEANING AS value_name
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        WHERE
        scb.CODE_ID = scvb.CODE_ID
        AND scb.CODE = 'ASSET_STATUS'
        AND scvb.
        VALUE
        = hli.ASSET_STATUS
        ) AS asset_status_n,
        ppli_bp.bp_name,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'PLEDGE_STATE0' AND code_value = hli.PLEDGE_STATE ) PLEDGE_STATE_N,
        hli.CREATION_DATE,
        hli.LEASE_ITEM_ID,
        hli.LEASE_ITEM_CODE,
        hli.ASSET_TYPES,
        hli.IF_SINCE_THE_MORTGAGE,
        hli.FULL_NAME,
        hli.BRAND,
        hli.MORTGAGE_DATE_FROM,
        hli.MORTGAGE_DATE_TO,
        hlil.asset_name,
        hlil.PRICE,
        hlil.QUANTITY,
        hlil.SPECIFICATION,
        hlil.MANUFACTURER,
        hlil.ASSET_NUM,
        hlil.INVOICE_NUM,
        hlil.IMG_NUM,
        hlil.INSTALLATION_SITE,
        hlil.DESCRIPTION,
        hli.CREATED_BY AS document_created_by
        FROM
        hls_lease_item hli
        LEFT JOIN (
        SELECT
        ppli.lease_item_id,
        MAX( pp.project_number ) AS project_number
        FROM
        prj_project_lease_item ppli,
        prj_project pp
        WHERE
        ppli.project_id = pp.project_id
        AND pp.data_class = 'NORMAL'
        GROUP BY
        ppli.lease_item_id
        ) ppli ON ppli.lease_item_id = hli.lease_item_id
        LEFT JOIN (
        SELECT
        ppli.lease_item_id,
        MAX( pp.contract_number ) AS contract_number,
        contract_status
        FROM
        prj_project_lease_item ppli,
        prj_project pp
        WHERE
        ppli.project_id = pp.project_id
        AND pp.data_class = 'VIRTUAL_CON'
        GROUP BY
        ppli.lease_item_id
        ) ppli_cc ON ppli_cc.lease_item_id = hli.lease_item_id
        LEFT JOIN hls_business_type hbt ON hbt.document_category = 'ASSET_TYPES'
        AND hbt.business_type = hli.asset_types
        LEFT JOIN hls_document_type hdt ON hdt.document_category = 'ASSET_TYPES'
        AND hdt.business_type = hli.asset_types
        AND hdt.document_type = hli.asset_types_sub
        LEFT JOIN (
        SELECT
        hlil.lease_item_id,
        nvl( SUM( hlil.QUANTITY * hlil.PRICE ), 0 ) AS net_asset_value_total
        FROM
        hls_lease_item_list hlil
        GROUP BY
        hlil.lease_item_id
        ) AS hlil_total ON hlil_total.lease_item_id = hli.lease_item_id
        LEFT JOIN (
        SELECT
        pi.lease_item_id,
        wm_concat( DISTINCT b.bp_name ) AS bp_name
        FROM
        prj_project_bp pp,
        prj_project_lease_item pi,
        hls_bp_master b
        WHERE
        pp.project_id = pi.project_id
        AND pp.BP_TYPE = 'TENANT'
        AND pp.BP_CATEGROY = 'CON_CONTRACT'
        AND pp.bp_id = b.bp_id
        GROUP BY
        pi.lease_item_id
        ) ppli_bp ON ppli_bp.lease_item_id = hli.lease_item_id,
        hls_lease_item_list hlil
        WHERE
        hli.LEASE_ITEM_TYPE = 'LEASE'
        AND hli.enabled_flag = 'Y'
        AND hlil.lease_item_id = hli.lease_item_id
        ) v
        <where>
            1=1
            <if test="leaseItemId!=null">
                and v.lease_item_id = #{leaseItemId}
            </if>
            <if test="leaseItemCode!=null">
                and v.lease_item_code like concat(concat('%',#{leaseItemCode}),'%')
            </if>
            <if test="pledgeStateN!=null">
                and v.pledge_state_n like concat(concat('%',#{pledgeStateN}),'%')
            </if>
            <if test="assetName!=null">
                and v.asset_name like concat(concat('%',#{assetName}),'%')
            </if>
            <if test="bpName!=null">
                <bind name="bpName" value="'%' + bpName + '%'"/>
                and v.bp_name like #{bpName}
            </if>
            <if test="fullName!=null">
                <bind name="fullName" value="'%' + fullName + '%'"/>
                and v.full_name like #{fullName}
            </if>
            <if test="assetTypes != null">
                and v.asset_types = #{assetTypes}
            </if>
            <if test="ifSinceTheMortgage != null">
                and v.if_since_the_mortgage = #{ifSinceTheMortgage}
            </if>
            <if test="netAssetValueTotal != null">
                and v.net_asset_value_total = #{netAssetValueTotal}
            </if>
        </where>
        ORDER BY
        v.creation_date DESC
    </select>
    <!--/*(select a.EVALUATION_VALUE
        from (select hlid.lease_item_id,
        sum(hlid.EVALUATION_VALUE) as EVALUATION_VALUE
        from hls_lease_item_detail hlid
        group by hlid.lease_item_id) a
        where a.lease_item_id = t.lease_item_id) ASSET_VALUE_TOTAL,*/-->
    <select id="selectLeaseCollateral" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        select * from
        (select
        t.LEASE_ITEM_ID,
        t.LEASE_ITEM_CODE,
        t.full_name,
        t.ASSESSMENT_TYPE,
        t.PATTERN,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'HLS.PATTERN' AND code_value = t.PATTERN ) PATTERN_N,
        t.MORTGAGOR,
        ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = t.MORTGAGOR ) MORTGAGOR_N,
        (
        select sum(a.evaluation_value) from ((select
        t1.evaluation_value,t2.lease_item_id
        from hls_lease_item_detail t1,hls_lease_item t2
        where
        t1.PATTERN_DET = 'MOVABLE_PROPERTY_PLEDGE'
        and t1.lease_item_id = t2.lease_item_id
        ) union  (select
        t1.evaluation_value,t2.lease_item_id
        from hls_lease_item_detail t1,hls_lease_item t2
        where
        t1.PATTERN_DET = 'NO_MOVABLE_PROPERTY_PLEDGE'
        and t1.lease_item_id = t2.lease_item_id
        )) a where a.lease_item_id = t.lease_item_id
        ) ASSET_VALUE_TOTAL,
        ( select sum(pled.evaluation_value) from ( select
        t1.evaluation_value,t1.lease_item_id
        from hls_lease_item_detail t1,hls_lease_item t2
        where
        t1.PATTERN_DET = 'DZ_PROPERTY_PLEDGE'
        and t1.lease_item_id = t2.lease_item_id) pled where pled.lease_item_id = t.lease_item_id ) PLEDGE_VALUE_TOTAL,
        t.PLEDGE_STATE,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'PLEDGE_STATE0' AND code_value = t.PLEDGE_STATE )
        PLEDGE_STATE_N,
        (
        SELECT
        wm_concat(p.project_number)
        FROM
        prj_project_chance_mp pi,
        prj_project p
        WHERE
        pi.project_id = p.project_id
        AND pi.lease_item_id = t.lease_item_id
        and p.data_class = 'NORMAL'
        ) AS project_number,
        (
        SELECT
        wm_concat(p.contract_number)
        FROM
        prj_project_chance_mp pi,
        prj_project p
        WHERE
        pi.project_id = p.project_id
        AND pi.lease_item_id = t.lease_item_id
        AND p.data_class = 'VIRTUAL_CON'
        ) AS contract_number,
        t.IF_SINCE_THE_MORTGAGE,
        (select meaning
        from sys_code_value_b_v
        where code = 'SYS.YES_NO'
        and code_value = t.IF_SINCE_THE_MORTGAGE) IF_SINCE_THE_MORTGAGE_N,
        t.created_by   document_created_by,
        (SELECT
        fe. NAME
        FROM
        fnd_employee fe
        WHERE
        fe.employee_id = t.owner_user_id
        ) AS owner_user_name,
        <!-- 子查询报多行错误,该字段未发现有用到,先做wm_concat处理 -->
        nvl (
        ( SELECT  dbms_lob.substr(wm_concat ( p.contract_status ), 1000 )
        FROM
        prj_project_chance_mp pi,
        prj_project p
        WHERE
        pi.project_id = p.project_id
        AND pi.lease_item_id = t.lease_item_id
        AND p.data_class = 'VIRTUAL_CON'
        ),
        'NEW'
        ) AS contract_status
        FROM
        hls_lease_item t
        where t.enabled_flag = 'Y'
        and t.LEASE_ITEM_TYPE in ('MORTGAGE','PLEDGE')
        )v

        <where>
            v.contract_status != 'SIGN'
            <if test="createdBy!=null">
                and (v.document_created_by = #{createdBy}
                or #{request.employeeCode} in('ADMIN')
                OR
                exists(
                select 1 from fnd_org_unit a1,fnd_employee a2,fnd_employee_assigns a3,FND_ORG_POSITION a4
                where a3.employee_id=a2.employee_id
                and a3.unit_id=a1.unit_id
                and a4.position_id=a3.position_id
                and a4.chief_position_flag='Y'
                and employee_code=#{request.employeeCode}
                AND A1.UNIT_ID IN(select b.unit_id
                from sys_user_allocation a,fnd_employee_assigns b
                where a.user_id=v.document_created_by
                AND a.employee_assign_id=b.employee_assign_id)))
            </if>
            <if test="leaseItemId != null">
                and v.lease_item_id = #{leaseItemId}
            </if>
            <if test="leaseItemCode!=null">
                and v.lease_item_code like concat(concat('%',#{leaseItemCode}),'%')
            </if>
            <if test="fullName!=null">
                and v.full_name like concat(concat('%',#{fullName}),'%')
            </if>
            <if test="leaseItemType != null">
                and v.lease_item_type = #{leaseItemType}
            </if>
            <if test="pattern != null">
                and v.pattern = #{pattern}
            </if>
            <if test="mortgagorN != null">
                and v.MORTGAGOR_N like concat(concat('%',#{mortgagorN}),'%')
            </if>
            <if test="assetValueTotal != null">
                and v.ASSET_VALUE_TOTAL = #{assetValueTotal}
            </if>
            <if test="pledgeValueTotal">
                and v.PLEDGE_VALUE_TOTAL = #{pledgeValueTotal}
            </if>
        </where>
        order by v.lease_item_id desc
    </select>


    <select id="selectLeaseCollateralDetail" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem"
            resultMap="BaseResultMap">
        select hli.lease_item_id,
        hli.full_name,
        hli.LEASE_ITEM_TYPE,
        hli.lease_item_code,
        (select meaning
        from sys_code_value_b_v
        where code = 'HLS.COLLATERAL_TYPE'
        and code_value = hli.LEASE_ITEM_TYPE) LEASE_ITEM_TYPE_N,
        (select a.MORTGAGE_PLEDGE_AMOUNT from
        (select hlid.lease_item_id, sum(hlid.MORTGAGE_PLEDGE_AMOUNT) as MORTGAGE_PLEDGE_AMOUNT
        from hls_lease_item_detail hlid group by hlid.lease_item_id) a where a.lease_item_id = hli.lease_item_id)
        MORTGAGE_AMOUNT_TOTAL,
        (select a.EVALUATION_VALUE from
        (select hlid.lease_item_id, sum(hlid.EVALUATION_VALUE) as EVALUATION_VALUE
        from hls_lease_item_detail hlid group by hlid.lease_item_id) a where a.lease_item_id = hli.lease_item_id)
        ASSET_VALUE_TOTAL,
        hli.PATTERN,
        (select meaning
        from sys_code_value_b_v
        where code ='HLS.PATTERN'
        and code_value = hli.PATTERN) PATTERN_N,
        hli.REGULATORY_ASSET_CLASS,
        (select t.description
        from hls_business_type t where t.document_category = 'REGULATORY_ASSET_CLASS'
        and t.business_type = hli.REGULATORY_ASSET_CLASS) REGULATORY_ASSET_CLASS_N,
        hli.REGULATORY_ASSET_CLASS_SUB,
        (select t.description
        from hls_document_type t where t.document_category = 'REGULATORY_ASSET_CLASS'
        and t.business_type = hli.REGULATORY_ASSET_CLASS
        and t.document_type = hli.REGULATORY_ASSET_CLASS_SUB) REGULATORY_ASSET_CLASS_SUB_N,
        hli.collateral_categories,
        (select t.description
        from hls_collateral_categories t where t.collateral_categories = hli.collateral_categories)
        collateral_categories_N,
        hli.collateral_classify_one,
        (select t.description
        from hls_collateral_classify_one t
        where t.collateral_classify_one = hli.collateral_classify_one) collateral_classify_one_N,
        hli.collateral_classify_two,
        (select t.description
        from hls_collateral_classify_two t
        where t.collateral_classify_two = hli.collateral_classify_two) collateral_classify_two_N,
        hli.MORTGAGOR,
        (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id = hli.MORTGAGOR) MORTGAGOR_N,
        hli.MORTGAGE_SEQUENCE,
        (select meaning
        from sys_code_value_b_v
        where code = 'HLS.MORTGAGE_SEQUENCE'
        and code_value = hli.MORTGAGE_SEQUENCE) MORTGAGE_SEQUENCE_N,
        hli.VALUATION_METHOD,
        (select meaning
        from sys_code_value_b_v
        where code = 'HLS.VALUATION_METHOD'
        and code_value = hli.VALUATION_METHOD) VALUATION_METHOD_N,
        hli.bond_amount,
        hli.MORTGAGE_DATE_FROM,
        hli.mortgage_date_to,
        hli.MORTGAGE_AMOUNT,
        hli.CURRENCY,
        (SELECT FC.CURRENCY_NAME
        FROM FND_CURRENCY FC WHERE FC.ENABLED_FLAG = 'Y'
        and FC.CURRENCY_CODE = hli.CURRENCY) CURRENCY_N,
        hli.ASSET_VALUE,
        hli.VALUATION_DATE,
        hli.VALUATION_UNIT,
        hli.USAGE_TYPE,
        (select meaning
        from sys_code_value_b_v
        where code = 'HLS.USAGE_TYPE'
        and code_value = hli.USAGE_TYPE) USAGE_TYPE_N,
        hli.BUILDING_AREA,
        hli.EQUITY_NUMBER,
        hli.FLOOR_AREA,
        hli.IF_SINCE_THE_MORTGAGE,
        (select meaning
        from sys_code_value_b_v
        where code = 'SYS.YES_NO'
        and code_value = hli.IF_SINCE_THE_MORTGAGE) IF_SINCE_THE_MORTGAGE_N,
        hli.LAND_LOCATED,
        hli.PLEDGE_STATE ,
        hli.LAND_USE,
        (select meaning
        from sys_code_value_b_v
        where code = 'PLEDGE_STATE0'
        and code_value = hli.PLEDGE_STATE) PLEDGE_STATE_N,
        ( select hr.result_id
        from hls_web_excel_calc_result hr
        where hr.source_document_id = hli.lease_item_id
        and hr.source_document_category = 'MORTGAGE_PLEDGE_REPORT') result_id,
        ( select h.excel_id
        from hls_web_excel h
        where h.enabled_flag = 'Y'
        and h.excel_type = 'MORTGAGE_PLEDGE_REPORT') excel_id
        from hls_lease_item hli
        <where>
            (hli.LEASE_ITEM_TYPE in ('MORTGAGE','PLEDGE')
            or hli.if_since_the_mortgage = 'Y')

            and hli.lease_item_id = #{leaseItemId}

        </where>
    </select>

    <select id="selectModelByCondition" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        SELECT
        (select h.excel_id
        from hls_web_excel h
        where h.enabled_flag = 'Y'
        and h.excel_type = 'LEASE_RENTAL_REPORT') as excel_id,
        (SELECT max(hr.result_id)
        FROM hls_web_excel_calc_result hr ,hls_web_excel hwe
        where hr.source_document_id = hli.lease_item_id
        and hwe.excel_id = hr.excel_id
        and hr.source_document_category = 'HLS_LEASE_ITEM_RENTAL') as result_id,
      /*  (SELECT nvl(sum(hlid.net_asset_value),0)
        FROM hls_lease_item_detail hlid where hlid.lease_item_id = hli.lease_item_id
        ) net_asset_value_total,*/
        ( SELECT nvl( SUM( hlil.QUANTITY * hlil.PRICE ), 0 ) FROM hls_lease_item_list hlil WHERE hlil.lease_item_id = hli.lease_item_id ) AS net_asset_value_total,
        (select hbt.description
        from hls_business_type hbt
        where hbt.document_category= 'REGULATORY_ASSET_CLASS'
        and hbt.business_type = hli.asset_types) asset_types_n,
        (select hdt.description
        from hls_document_type hdt
        where hdt.document_category = 'REGULATORY_ASSET_CLASS'
        and hdt.business_type = hli.asset_types
        and hdt.document_type = hli.asset_types_sub) asset_types_sub_n,
        (select hbt.description
        from hls_business_type hbt
        where hbt.document_category = 'REGULATORY_ASSET_CLASS'
        and hbt.business_type = hli.regulatory_asset_class) regulatory_asset_class_n,

        (select hdt.description
        from hls_document_type hdt
        where hdt.document_category = 'REGULATORY_ASSET_CLASS'
        and hdt.business_type = hli.regulatory_asset_class
        and hdt.document_type = hli.regulatory_asset_class_sub) regulatory_asset_class_sub_n,

        (SELECT FC.CURRENCY_NAME
        FROM FND_CURRENCY FC WHERE FC.ENABLED_FLAG = 'Y'
        and FC.CURRENCY_CODE = hli.CURRENCY) currency_n,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'SYS.YES_NO'
        and scv.value = hli.if_tangible_movable) if_tangible_movable_n,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'SYS.YES_NO'
        and scv.value = hli.if_obtain_deduction) if_obtain_deduction_n,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'ASSET_STATUS'
        and scv.value = hli.asset_status) asset_status_n,

        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'LEASE.FAIR_VALUE_RECOGNITION'
        and scv.value = hli.fair_value_recognition) fair_value_recognition_n,

        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'SYS.YES_NO'
        and scv.value = hli.if_registered_ownership) if_registered_ownership_n,
        (SELECT hbm.bp_name FROM hls_bp_master hbm where hbm.bp_id = hli.vender_id) vender_id_n,
        (select scv.MEANING
        FROM sys_code_b sc, sys_code_value_b scv
        WHERE sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'CURRENT_OWNERSHIP_REGISTRATION'
        and scv.value = hli.ownership_register_status) ownership_register_status_n,
        (select scv.MEANING
        FROM sys_code_b sc, sys_code_value_b scv
        WHERE sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'SYS.YES_NO'
        and scv.value = hli.if_since_the_mortgage) if_since_the_mortgage_n,
        (select scv.MEANING
        FROM sys_code_b sc, sys_code_value_b scv
        WHERE sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'SYS.YES_NO'
        and scv.value = hli.if_require_insurance) if_require_insurance_n,

        (select scv.MEANING
        FROM sys_code_b sc, sys_code_value_b scv
        WHERE sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'PLEDGE_STATE'
        and scv.value = hli.pledge_state) pledge_state_n,
        (select meaning
        from sys_code_value_b_v
        where code = 'HLS.VALUATION_METHOD'
        and code_value = hli.VALUATION_METHOD) VALUATION_METHOD_N,
        hli.*
        FROM hls_lease_item hli

        <where>
            1 = 1
            <if test="leaseItemCode!=null">
                and hli.lease_item_code = #{leaseItemCode}
            </if>
            <if test="leaseItemId!=null">
                and hli.lease_item_id = #{leaseItemId}
            </if>

        </where>
    </select>

</mapper>
