<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.HlsCapitalInvestmentInfoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.HlsCapitalInvestmentInfo">
        <id column="CAPITAL_INVESTMENT_ID" property="capitalInvestmentId" jdbcType="DECIMAL" />
        <result column="LOAN_APPLICATION_NO" property="loanApplicationNo" jdbcType="DECIMAL" />
        <result column="PAYMENT_APPLICATION_DET" property="paymentApplicationDet" jdbcType="VARCHAR" />

        <result column="PAY_TABLE_NO" property="payTableNo" jdbcType="VARCHAR" />
        <result column="LEASE_ITEM_ID" property="leaseItemId" jdbcType="DECIMAL" />
        <result column="PAYMENT_REQ_ID" property="paymentReqId" jdbcType="DECIMAL" />
        <result column="PAY_STATUS" property="payStatus"  />
        <result column="pay_time" property="payTime"  />
        <result column="apply_amount" property="applyAmount"  />
        <result column="PAY_STATUS_n" property="payStatusN"  />
        <result column="LOAN_APPLICATION_NO_n" property="loanApplicationNoN"  />

    </resultMap>
    <select id="selectCapitalInvestmentInfo" resultMap="BaseResultMap">
        SELECT
        hcii.*,
        ( select hd.PAYMENT_REQ_number FROM csh_payment_Req_hd hd WHERE hd.payment_req_id = hcii.LOAN_APPLICATION_NO ) LOAN_APPLICATION_NO_n,
        ( select hd.PAYMENT_APPROVED_STATUS FROM csh_payment_Req_hd hd WHERE hd.payment_req_id = hcii.LOAN_APPLICATION_NO ) PAY_STATUS,
        (SELECT scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'PAYMENT_APPROVED_STATUS'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = ( select hd.PAYMENT_APPROVED_STATUS FROM csh_payment_Req_hd hd WHERE hd.payment_req_id = hcii.LOAN_APPLICATION_NO ) ) PAY_STATUS_n,
        hcii.LOAN_APPLICATION_NO AS PAYMENT_REQ_ID,

        ( select hd.LOAN_TOTAL_AMOUNT FROM csh_payment_Req_hd hd WHERE hd.payment_req_id = hcii.LOAN_APPLICATION_NO ) APPLY_AMOUNT,

        ( select hd.ACTUAL_PAY_DATE FROM csh_payment_Req_hd hd WHERE hd.payment_req_id = hcii.LOAN_APPLICATION_NO ) PAY_TIME

        FROM
        hls_capital_investment_info hcii
        <where>
            1=1
            <if test="leaseItemId != null">
                and hcii.lease_item_id = #{leaseItemId}
            </if>
        </where>
    </select>

</mapper>