<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.HlsCusHlsLeaseItemWarrantMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.HlsCusHlsLeaseItemWarrant">
        <result column="WARRANT_ID" property="warrantId" jdbcType="DECIMAL" />
        <result column="LEASE_ITEM_ID" property="leaseItemId" jdbcType="DECIMAL" />
        <result column="WARRANT_TYPE" property="warrantType" jdbcType="VARCHAR" />
        <result column="IF_PUT_IN_STORAGE" property="ifPutInStorage" jdbcType="VARCHAR" />
        <result column="WARRANT_NUMBER" property="warrantNumber" jdbcType="VARCHAR" />
        <result column="WARRANT_MORTGAGOR" property="warrantMortgagor" jdbcType="VARCHAR" />
        <result column="MORTGAGED_LAND_AREA" property="mortgagedLandArea" jdbcType="DECIMAL" />
        <result column="WARRANT_MORTGAGE_AMOUNT" property="warrantMortgageAmount" jdbcType="DECIMAL" />
        <result column="LAND_CERTIFICATE_NUMBER" property="landCertificateNumber" jdbcType="VARCHAR" />
        <result column="LAND_USE" property="landUse" jdbcType="VARCHAR" />
        <result column="USAGE_TYPE" property="usageType" jdbcType="VARCHAR" />
        <result column="ORGANIZATION" property="organization" jdbcType="VARCHAR" />
        <result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />



        <result column="WARRANT_TYPE_N" property="warrantTypeN" jdbcType="VARCHAR" />
        <result column="IF_PUT_IN_STORAGE_N" property="ifPutInStorageN" jdbcType="VARCHAR" />
        <result column="WARRANT_MORTGAGOR_N" property="warrantMortgagorN" jdbcType="VARCHAR" />

        <result column="lease_item_code" property="leaseItemCode" jdbcType="VARCHAR" />
        <result column="full_name" property="fullName" jdbcType="VARCHAR" />
        <result column="LEASE_ITEM_TYPE_N" property="leaseItemTypeN" jdbcType="VARCHAR" />
        <result column="MORTGAGOR_N" property="mortgagorN" jdbcType="VARCHAR" />
        <result column="FILE_TYPE_N" property="fileTypeN" jdbcType="VARCHAR" />
        <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
        <result column="contract_status" property="contractStatus" jdbcType="VARCHAR" />
        <result column="contract_status_desc" property="contractStatusDesc" jdbcType="VARCHAR" />
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
        <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
        <result column="bp_name" property="bpName" jdbcType="VARCHAR" />
        <result column="host_project_manager" property="hostProjectManager" jdbcType="VARCHAR" />
        <result column="project_id" property="projectId" jdbcType="VARCHAR" />
        <result column="warrant_status" property="warrantStatus" jdbcType="VARCHAR" />
        <result column="warrant_status_n" property="warrantStatusN" jdbcType="VARCHAR" />
        <result column="document_type" property="documentType" jdbcType="VARCHAR" />
        <result column="document_type_n" property="documentTypeN" jdbcType="VARCHAR" />
        <result column="document_class" property="documentClass" jdbcType="VARCHAR" />
        <result column="document_class_n" property="documentClassN" jdbcType="VARCHAR" />
        <result column="warrant_name" property="warrantName" jdbcType="VARCHAR" />
        <result column="warrant_explanation" property="warrantExplanation" jdbcType="VARCHAR" />
        <result column="business_document_type" property="businessDocumentType" jdbcType="VARCHAR" />
        <result column="business_type" property="businessType" jdbcType="VARCHAR" />
        <result column="business_document_type_n" property="businessDocumentTypeN" jdbcType="VARCHAR" />
        <result column="attachment_id" property="attachmentId" jdbcType="VARCHAR" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
        <result column="upload_date" property="uploadDate" jdbcType="DATE" />
        <result column="upload_person" property="uploadPerson" jdbcType="VARCHAR" />

        <result column="bp_type" property="bpType" jdbcType="VARCHAR" />
        <result column="bp_type_n" property="bpTypeN" jdbcType="VARCHAR" />
        <result column="file_number" property="fileNumber" jdbcType="VARCHAR" />
        <result column="warehouse_number" property="warehouseNumber" jdbcType="VARCHAR" />
        <result column="number_files" property="numberFiles" jdbcType="DECIMAL" />
    </resultMap>

    <select id="selectWarrant" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        select hliw.*,(select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code in ('HLS.PLEDGE_TYPE','HLS.MORTGAGE_TYPE')
        and scvb.value = hliw.WARRANT_TYPE
        ) WARRANT_TYPE_N,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code = 'SYS.YES_NO'
        and scvb.value = hliw.IF_PUT_IN_STORAGE
        )IF_PUT_IN_STORAGE_N,
        (select su.description from sys_user su where su.user_id = hliw.WARRANT_MORTGAGOR) WARRANT_MORTGAGOR_N,
        (select scvb.meaning
        FROM sys_code_value_b scvb, sys_code_b scb
        WHERE scvb.CODE_ID = scb.CODE_ID
        and scb.code = 'WARRANT.FILE_TYPE'
        and scvb.value = hliw.FILE_TYPE) FILE_TYPE_N
        from hls_lease_item_warrant hliw
        <where>
            1=1
            <if test="warrantId != null">
                and hliw.warrant_id = #{warrantId}
            </if>
        </where>
    </select>
    <select id="selectItemWarrant" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        select hliw.*,hli.lease_item_code,hli.FULL_NAME,(select meaning
        from sys_code_value_b_v
        where code = 'HLS.COLLATERAL_TYPE'
        and code_value = hli.LEASE_ITEM_TYPE) LEASE_ITEM_TYPE_N,
        (select su.description from sys_user su where su.user_id = hli.MORTGAGOR) MORTGAGOR_N
        from hls_lease_item_warrant hliw,hls_lease_item hli
        <where>
            hli.lease_item_id = hliw.lease_item_id
            <if test="leaseItemId != null">
                and hli.lease_item_id = #{leaseItemId}
            </if>
        </where>
    </select>

    <select id="queryMainContracrInfo" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
       select *
       from
       (SELECT
               pp.project_id,
               pp.contract_number,
               pp.contract_name,
               (select hbm.bp_name
                  from hls_bp_master hbm
                 where hbm.bp_id = pp.tenant_id) as bp_name,
                pp.host_unit_id,
                (SELECT fou.unit_name
                FROM fnd_org_unit fou
                where fou.unit_id = pp.host_unit_id) as unit_name,
                (SELECT su.description
                 FROM   sys_user su
                 where  su.user_id = pp.host_project_manager) as host_project_manager,
               pp.contract_status,
               hds2.description contract_status_desc
       FROM prj_project pp
        LEFT JOIN (select *
                       FROM hls_document_status t1
                      WHERE t1.document_category = 'CON_CONTRACT') hds2
        ON hds2.status_code = nvl(pp.contract_status, 'NEW')
        where      pp.contract_number is not null
        and pp.data_class = 'VIRTUAL_CON'
        order by pp.last_update_date desc)v
        <where>
            <if test="contractNumber != null">
                <bind name="contractNumber" value="'%' + contractNumber + '%'"/>
                and v.contract_number like #{contractNumber}
            </if>
            <if test="contractName != null">
                <bind name="contractName" value="'%' + contractName + '%'"/>
                and v.contract_name like #{contractName}
            </if>
            <if test="bpName != null">
                <bind name="bpName" value="'%' + bpName + '%'"/>
                and v.bp_name like #{bpName}
            </if>
            <if test="unitName != null">
                <bind name="unitName" value="'%' + unitName + '%'"/>
                and v.unit_name like #{unitName}
            </if>
            <if test="contractStatus != null">
                and v.contract_status = #{contractStatus}
            </if>
        </where>

    </select>


    <select id="queryWarrantDetailInfo" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">

        SELECT hliw.*,

                 (select hbt.description
                    from hls_business_type hbt
                    where hbt.document_category= 'WARRANT_TYPE'
                    and  hbt.business_type = hliw.file_type) file_type_n,

                (select hdt.description
                    from hls_document_type hdt
                    where hdt.document_category = 'WARRANT_TYPE'
                    and hdt.business_type =hliw.file_type
                    and hdt.document_type =hliw.warrant_type) warrant_type_n,


                 (select scv.MEANING
                        from sys_code_b sc,sys_code_value_b scv
                        where sc.CODE_ID = scv.CODE_ID
                        and sc.CODE = 'WARRANT_INOUT_STATUS'
                        and scv.value = hliw.warrant_status) warrant_status_n,
                  (select scv.MEANING
                        from sys_code_b sc,sys_code_value_b scv
                        where sc.CODE_ID = scv.CODE_ID
                        and sc.CODE = 'WARRANT_DOCUMENT_TYPE'
                        and scv.value = hliw.document_type) document_type_n,
                  (select scv.MEANING
                        from sys_code_b sc,sys_code_value_b scv
                        where sc.CODE_ID = scv.CODE_ID
                        and sc.CODE = 'WARRANT_DOCUMENT_CLASS'
                        and scv.value = hliw.document_class) document_class_n,

                   (select wm_concat(fa.attachment_id)
                        from fnd_atm_attachment fa, fnd_atm_attachment_multi fam
                       where fa.attachment_id = fam.attachment_id
                         and fam.table_name = 'HLS_LEASE_ITEM_WARRANT'
                         and hliw.warrant_id = fam.table_pk_value) attachment_id,

                   (select wm_concat(fa.file_name)
                      from fnd_atm_attachment fa, fnd_atm_attachment_multi fam
                     where fa.attachment_id = fam.attachment_id
                       and fam.table_name = 'HLS_LEASE_ITEM_WARRANT'
                       and hliw.warrant_id = fam.table_pk_value) file_name,

                   (select  max(fa.creation_date)
                      from fnd_atm_attachment fa, fnd_atm_attachment_multi fam
                     where fa.attachment_id = fam.attachment_id
                       and fam.table_name = 'HLS_LEASE_ITEM_WARRANT'
                       and hliw.warrant_id = fam.table_pk_value) upload_date,

                   (select max(su.description)
                      from fnd_atm_attachment       fa,
                           fnd_atm_attachment_multi fam,
                           sys_user                 su
                     where fa.attachment_id = fam.attachment_id
                       and fam.table_name = 'HLS_LEASE_ITEM_WARRANT'
                       and hliw.warrant_id = fam.table_pk_value
                       and su.user_id = fa.created_by) upload_person,
                  (select sc.meaning
      from sys_code_value_b_v sc
      where sc.code = 'BP.BP_MASTER_ROLE_CARD'
      and sc.code_value = hliw.bp_type) bp_type_n

         FROM     HLS_LEASE_ITEM_WARRANT hliw
        where hliw.project_id = #{projectId}

    </select>

    <select id="queryWarrantByStock" parameterType="com.hand.hls.pam.dto.HlsWarrantStockHd" resultMap="BaseResultMap">

        SELECT hliw.*,

                 (select hbt.description
                    from hls_business_type hbt
                    where hbt.document_category= 'WARRANT_TYPE'
                    and  hbt.business_type = hliw.file_type) file_type_n,

                (select hdt.description
                    from hls_document_type hdt
                    where hdt.document_category = 'WARRANT_TYPE'
                    and hdt.business_type =hliw.file_type
                    and hdt.document_type =hliw.warrant_type) warrant_type_n,

                 (select scv.MEANING
                        from sys_code_b sc,sys_code_value_b scv
                        where sc.CODE_ID = scv.CODE_ID
                        and sc.CODE = 'WARRANT_INOUT_STATUS'
                        and scv.value = hliw.warrant_status) warrant_status_n,
                  (select scv.MEANING
                        from sys_code_b sc,sys_code_value_b scv
                        where sc.CODE_ID = scv.CODE_ID
                        and sc.CODE = 'WARRANT_DOCUMENT_TYPE'
                        and scv.value = hliw.document_type) document_type_n,
                  (select scv.MEANING
                        from sys_code_b sc,sys_code_value_b scv
                        where sc.CODE_ID = scv.CODE_ID
                        and sc.CODE = 'WARRANT_DOCUMENT_CLASS'
                        and scv.value = hliw.document_class) document_class_n,

                   (select  wm_concat(fa.attachment_id)
                        from fnd_atm_attachment fa, fnd_atm_attachment_multi fam
                       where fa.attachment_id = fam.attachment_id
                         and fam.table_name = 'HLS_LEASE_ITEM_WARRANT'
                         and hliw.warrant_id = fam.table_pk_value) attachment_id,

                   (select  wm_concat(fa.file_name)
                      from fnd_atm_attachment fa, fnd_atm_attachment_multi fam
                     where fa.attachment_id = fam.attachment_id
                       and fam.table_name = 'HLS_LEASE_ITEM_WARRANT'
                       and hliw.warrant_id = fam.table_pk_value) file_name,

                   (select  max(fa.creation_date)
                      from fnd_atm_attachment fa, fnd_atm_attachment_multi fam
                     where fa.attachment_id = fam.attachment_id
                       and fam.table_name = 'HLS_LEASE_ITEM_WARRANT'
                       and hliw.warrant_id = fam.table_pk_value) upload_date,

                   (select max(su.description)
                      from fnd_atm_attachment       fa,
                           fnd_atm_attachment_multi fam,
                           sys_user                 su
                     where fa.attachment_id = fam.attachment_id
                       and fam.table_name = 'HLS_LEASE_ITEM_WARRANT'
                       and hliw.warrant_id = fam.table_pk_value
                       and su.user_id = fa.created_by) upload_person,
                  (select sc.meaning
                      from sys_code_value_b_v sc
                      where sc.code = 'BP.BP_MASTER_ROLE_CARD'
                      and sc.code_value = hliw.bp_type) bp_type_n

        FROM       warrant_stock_ln wsl
        left join  hls_lease_item_warrant hliw
        on         hliw.warrant_id = wsl.warrant_id
        <where>
            <if test="warrantStockId != null">
                wsl.warrant_stock_id = #{warrantStockId}
            </if>
        </where>

    </select>


    <select id="queryCategoryInfo" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">

      select t.business_type as business_type
      from hls_business_type t
      where t.document_category = #{documentCategory}
      and t.description = #{documentCategoryN}

    </select>

    <select id="queryDocumentInfo" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">


    SELECT t.document_type as business_document_type
      FROM hls_document_type t
     where t.document_category = #{documentCategory}
     and t.description =#{businessTypeN}


    </select>

    <select id="queryBusinessDocumentInfo" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">


     select t.document_type as business_document_type_n
       from hls_document_type t
      where t.document_category = #{documentCategory}
        and t.business_type = #{businessType}
        and t.document_type = #{businessDocumentType}


    </select>



</mapper>