<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.HlsCusHlsLeaseItemInsureMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.HlsCusHlsLeaseItemInsure">
        <result column="INSURE_ID" property="insureId" jdbcType="DECIMAL" />
        <result column="LEASE_ITEM_ID" property="leaseItemId" jdbcType="DECIMAL" />
        <result column="INSURE_NUMBER" property="insureNumber" jdbcType="VARCHAR" />
        <result column="BASIS_OF_ASSERTING" property="basisOfAsserting" jdbcType="VARCHAR" />
        <result column="IF_PROVIDE_ORIGINAL" property="ifProvideOriginal" jdbcType="VARCHAR" />
        <result column="INSURE_FEE" property="insureFee" jdbcType="DECIMAL" />
        <result column="INSURE_AMOUNT" property="insureAmount" jdbcType="DECIMAL" />
        <result column="INSURE_CATEGORY" property="insureCategory" jdbcType="VARCHAR" />
        <result column="INSURE_COMPANY" property="insureCompany" jdbcType="VARCHAR" />
        <result column="IF_INSURE_COVER_ITEM" property="ifInsureCoverItem" jdbcType="VARCHAR" />
        <result column="INSURE_END_DATE" property="insureEndDate" jdbcType="DATE" />
        <result column="IF_APPROVAL_NOTICE" property="ifApprovalNotice" jdbcType="VARCHAR" />
        <result column="INSURE_PERSON_DESC" property="insurePersonDesc" jdbcType="VARCHAR" />
        <result column="INSURED_COM_PERSON" property="insuredComPerson" jdbcType="VARCHAR" />
        <result column="BATCH_NUMBER" property="batchNumber" jdbcType="VARCHAR" />
        <result column="FIRST_BENEFICIARY" property="firstBeneficiary" jdbcType="VARCHAR" />
        <result column="CONTRACT_AGREEMENT" property="contractAgreement" jdbcType="VARCHAR" />
        <result column="INSURANCE_POLICY_ORIGINAL" property="insurancePolicyOriginal" jdbcType="VARCHAR" />
        <result column="SINGLE_ORIGINAL" property="singleOriginal" jdbcType="VARCHAR" />
        <result column="INSURANCE_COVERAGE" property="insuranceCoverage" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />



        <result column="BASIS_OF_ASSERTING_N" property="basisOfAssertingN" jdbcType="VARCHAR" />
        <result column="IF_PROVIDE_ORIGINAL_N" property="ifProvideOriginalN" jdbcType="VARCHAR" />
        <result column="INSURE_CATEGORY_N" property="insureCategoryN" jdbcType="VARCHAR" />
        <result column="IF_INSURE_COVER_ITEM_N" property="ifInsureCoverItemN" jdbcType="VARCHAR" />
        <result column="IF_APPROVAL_NOTICE_N" property="ifApprovalNoticeN" jdbcType="VARCHAR" />
        <result column="CONTRACT_AGREEMENT_N" property="contractAgreementN" jdbcType="VARCHAR" />
        <result column="INSURANCE_POLICY_ORIGINAL_N" property="insurancePolicyOriginalN" jdbcType="VARCHAR" />
        <result column="SINGLE_ORIGINAL_N" property="singleOriginalN" jdbcType="VARCHAR" />
        <result column="INSURE_COMPANY_N" property="insureCompanyN" jdbcType="VARCHAR" />
        <result column="INSURED_DATE" property="insuredDate" jdbcType="DATE" />
    </resultMap>
    <select id="selectInsure" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        select hlii.*,
        ( select hbm.bp_name  from hls_bp_master hbm where hbm.bp_id = hlii.insure_company ) as insure_company_n,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code = 'HLS.BASIS_OF_ASSERTING'
        and scvb.value = hlii.BASIS_OF_ASSERTING
        ) BASIS_OF_ASSERTING_N,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code = 'HLS.IF_PROVIDE_ORIGINAL'
        and scvb.value = hlii.IF_PROVIDE_ORIGINAL
        ) IF_PROVIDE_ORIGINAL_N,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code = 'INSURE_CATEGORY'
        and scvb.value = hlii.INSURE_CATEGORY
        ) INSURE_CATEGORY_N,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code = 'SYS.YES_NO'
        and scvb.value = hlii.IF_INSURE_COVER_ITEM
        ) IF_INSURE_COVER_ITEM_N,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code = 'SYS.YES_NO'
        and scvb.value = hlii.IF_APPROVAL_NOTICE
        ) IF_APPROVAL_NOTICE_N,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code = 'SYS.YES_NO'
        and scvb.value = hlii.CONTRACT_AGREEMENT
        ) CONTRACT_AGREEMENT_N,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code = 'SYS.YES_NO'
        and scvb.value = hlii.INSURANCE_POLICY_ORIGINAL
        ) INSURANCE_POLICY_ORIGINAL_N,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code = 'SYS.YES_NO'
        and scvb.value = hlii.SINGLE_ORIGINAL
        ) SINGLE_ORIGINAL_N
        from  hls_lease_item_insure hlii
        <where>
            1=1
            <if test="insureId != null">
                and hlii.insure_id = #{insureId}
            </if>
        </where>
    </select>
    <select id="selectItemInsure" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        select hlii.*,
        hlii.creation_date as  INSURED_DATE,
        (select scvb.meaning
        FROM sys_code_value_b scvb, sys_code_b scb
        WHERE scvb.CODE_ID = scb.CODE_ID
        and scb.code = 'INSURE_CATEGORY'
        and scvb.value = hlii.insure_category) INSURE_CATEGORY_N,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code = 'SYS.YES_NO'
        and scvb.value = hlii.CONTRACT_AGREEMENT
        ) CONTRACT_AGREEMENT_N,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code = 'SYS.YES_NO'
        and scvb.value = hlii.INSURANCE_POLICY_ORIGINAL
        ) INSURANCE_POLICY_ORIGINAL_N,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code = 'SYS.YES_NO'
        and scvb.value = hlii.SINGLE_ORIGINAL
        ) SINGLE_ORIGINAL_N
        from  hls_lease_item_insure hlii,hls_lease_item hli
        <where>
            hli.lease_item_id = hlii.lease_item_id
            and hli.lease_item_id = #{leaseItemId}

        </where>
    </select>
</mapper>