<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.HlsInvoiceInfoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.HlsInvoiceInfo">
        <result column="INVOICE_INFO_ID" property="invoiceInfoId" jdbcType="BIGINT" />
        <result column="LEASE_ITEM_ID" property="leaseItemId" jdbcType="BIGINT" />
        <result column="INVOICE_LN_ID" property="invoiceLnId" jdbcType="BIGINT" />
        <result column="INVOICE_CODE" property="invoiceCode" jdbcType="VARCHAR" />
        <result column="INVOICE_NUMBER" property="invoiceNumber" jdbcType="VARCHAR" />
        <result column="RECORD_DATE" property="recordDate" jdbcType="DATE" />
        <result column="BP_ID" property="bpId" jdbcType="BIGINT" />
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />
        <result column="INVOICE_TYPE" property="invoiceType" jdbcType="VARCHAR" />
        <result column="TAX_TYPE_RATE" property="taxTypeRate" jdbcType="DECIMAL" />
        <result column="TAX_AMOUNT" property="taxAmount" jdbcType="DECIMAL" />
        <result column="TOTAL_AMOUNT" property="totalAmount" jdbcType="DECIMAL" />
        <result column="INVOICE_STATUS" property="invoiceStatus" jdbcType="VARCHAR" />
        <result column="INVOICE_STATUS_N" property="invoiceStatusN" jdbcType="VARCHAR" />
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR" />
        <result column="INVOICE_CODE_N" property="invoiceCodeN" jdbcType="VARCHAR" />
        <result column="invoice_handover_id" property="invoiceHandoverId" />
        <result column="TAX_TYPE_RATE_N" property="taxTypeRateN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="searchInvoiceLnListQuery" resultMap="BaseResultMap" parameterType="com.hand.hls.pam.dto.HlsInvoiceInfo">
    select
    ail.INVOICE_INFO_ID,
    ail.LEASE_ITEM_ID,
    ail.INVOICE_LN_ID,
    t.INVOICE_CODE as INVOICE_CODE_N,
    t.INVOICE_CODE,
    t.INVOICE_NUMBER,
    t.RECORD_DATE,
    t.BP_ID,
    t.BP_NAME,
    t.TOTAL_AMOUNT,
    concat(t.TAX_TYPE_RATE*100,'%')TAX_TYPE_RATE_N,
    t.TAX_AMOUNT,
    t.INVOICE_STATUS,
    (SELECT
    scvb.meaning AS value_name
    FROM
    sys_code_value_b scvb,
    sys_code_b scb
    WHERE
    scb. CODE = 'VAT.INVOICE_STATUS'
    AND scb.code_id = scvb.code_id
    AND scvb.enabled_flag = 'Y'
    AND scvb.VALUE = t.INVOICE_STATUS)INVOICE_STATUS_N,
        (select  t1.INVOICE_HANDOVER_ID  from invoice_handover_application  t1  where  t1.DOCUMENT_ID= t.INVOICE_LN_ID
        )  INVOICE_HANDOVER_ID
    from hls_invoice_info ail,acp_invoice_ln t
    <where>
        ail.INVOICE_LN_ID = t.INVOICE_LN_ID
        and
    ail.LEASE_ITEM_ID = #{leaseItemId}
    </where>
        order by ail.INVOICE_INFO_ID desc
    </select>
</mapper>