<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.HlsLeaseBuildDeliverInfoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.HlsLeaseBuildDeliverInfo">
        <result column="build_deliver_info_id" property="buildDeliverInfoId" jdbcType="DECIMAL" />
        <result column="STATISTICAL_TIME" property="statisticalTime" jdbcType="DATE" />
        <result column="STATISTICAL_WAY" property="statisticalWay" jdbcType="DECIMAL" />
        <result column="LEASE_ITEM_ID" property="leaseItemId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="COMPLETION_SCHEDUIE" property="completionScheduie" jdbcType="VARCHAR" />
        <result column="LEASE_ACCEPTANCE" property="leaseAcceptance" jdbcType="VARCHAR" />
        <result column="YDELIVERY_STATUS" property="ydeliveryStatus" jdbcType="VARCHAR" />
        <result column="RECEIVING_STATUS" property="receivingStatus" jdbcType="VARCHAR" />
        <result column="DOCUMENT_NUM" property="documentNum" jdbcType="VARCHAR" />
        <result column="DECRIPTION" property="decription" jdbcType="VARCHAR" />

        <result column="EMPLOYEE_ID_N" property="employeeIdN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectBuildDeliverInfo" resultMap="BaseResultMap">
        select
        (select fe.NAME
        from fnd_employee fe
        where fe.EMPLOYEE_ID = hlbdi.EMPLOYEE_ID) EMPLOYEE_ID_N,
        hlbdi.*
        from  hls_lease_build_deliver_info hlbdi
        <where>
            1=1
            <if test="leaseItemId != null">
                and hlbdi.lease_item_id = #{leaseItemId}
            </if>
        </where>
    </select>
</mapper>