<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.HlsLeaseItemDetailMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.HlsLeaseItemDetail">
        <result column="LEASE_ITEM_DETAIL_ID" property="leaseItemDetailId" jdbcType="DECIMAL" />
        <result column="LEASE_ITEM_ID" property="leaseItemId" jdbcType="DECIMAL" />
        <result column="LEASE_FULL_NAME" property="leaseFullName" jdbcType="VARCHAR" />
        <result column="PURCHASE_CONTRACT_NUMBER" property="purchaseContractNumber" jdbcType="VARCHAR" />
        <result column="DETAIL_TYPE" property="detailType" jdbcType="VARCHAR" />
        <result column="QUANTITY" property="quantity" jdbcType="VARCHAR" />
        <result column="CERTIFICATE_SERIAL_NUMBER" property="certificateSerialNumber" jdbcType="VARCHAR" />
        <result column="VENDER_NAME" property="venderName" jdbcType="VARCHAR" />
        <result column="PURCHASE_PRICE" property="purchasePrice" jdbcType="DECIMAL" />
        <result column="RECORDED_TIME" property="recordedTime" jdbcType="DATE" />
        <result column="CREDITED_AMOUNT" property="creditedAmount" jdbcType="DECIMAL" />
        <result column="DEPRECIATED" property="depreciated" jdbcType="VARCHAR" />
        <result column="NET_ASSET_VALUE" property="netAssetValue" jdbcType="DECIMAL" />
        <result column="EVALUATION_VALUE" property="evaluationValue" jdbcType="DECIMAL" />
        <result column="REMAINING_SERVICE_LIFE" property="remainingServiceLife" jdbcType="DECIMAL" />
        <result column="IF_PLEDGE" property="ifPledge" jdbcType="VARCHAR" />
        <result column="IF_INSURE" property="ifInsure" jdbcType="VARCHAR" />
        <result column="IF_REDUCE_EXEMPT_TAX" property="ifReduceExemptTax" jdbcType="VARCHAR" />
        <result column="RENTAL_PLACE" property="rentalPlace" jdbcType="VARCHAR" />
        <result column="AIRCRAFT_MANUFACTURER" property="aircraftManufacturer" jdbcType="VARCHAR" />
        <result column="AIRPLANE_MODEL" property="airplaneModel" jdbcType="VARCHAR" />
        <result column="ENGINE" property="engine" jdbcType="VARCHAR" />
        <result column="INTERNATIONAL_REGISTRATION_MSN" property="internationalRegistrationMsn" jdbcType="VARCHAR" />
        <result column="MTOW" property="mtow" jdbcType="DECIMAL" />
        <result column="MAX_RANGE" property="maxRange" jdbcType="DECIMAL" />
        <result column="UOM" property="uom" jdbcType="VARCHAR" />
        <result column="ORIGINAL_ASSET_VALUE" property="originalAssetValue" jdbcType="DECIMAL" />
        <result column="STAKE" property="stake" jdbcType="VARCHAR" />
        <result column="DETAIL_LENGTH" property="detailLength" jdbcType="DECIMAL" />
        <result column="AREA" property="area" jdbcType="DECIMAL" />
        <result column="LOCATED" property="located" jdbcType="VARCHAR" />
        <result column="REAL_ESTATE_NUMBER" property="realEstateNumber" jdbcType="VARCHAR" />
        <result column="ASSET_TYPES" property="assetTypes" jdbcType="VARCHAR" />
        <result column="if_pledge_n" property="ifPledgeN" jdbcType="VARCHAR" />
        <result column="if_insure_n" property="ifInsureN" jdbcType="VARCHAR" />
        <result column="if_reduce_exempt_tax_n" property="ifReduceExemptTaxN" jdbcType="VARCHAR" />
        <result column="net_book_value" property="netBookValue" jdbcType="VARCHAR" />
        <result column="remain_use_month" property="remainUseMonth" jdbcType="VARCHAR" />
        <result column="specification_model" property="specificationModel" jdbcType="VARCHAR" />
        <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
        <result column="lease_category" property="leaseCategory" jdbcType="VARCHAR" />

        <result column="LEASE_MORTGAGOR" property="leaseMortgagor" jdbcType="VARCHAR" />
        <result column="PRICE" property="price" jdbcType="DECIMAL" />
        <result column="REGISTRATION_AGENCY" property="registrationAgency" jdbcType="VARCHAR" />
        <result column="MORTGAGE_DATE_FROM" property="mortgageDateFrom" jdbcType="DATE" />
        <result column="MORTGAGE_DATE_TO" property="mortgageDateTo" jdbcType="DATE" />

        <result column="PLEDGE_CONTRACT_NUM" property="pledgeContractNum" jdbcType="VARCHAR" />
        <result column="PLEDGE_ASSET_VALUE" property="pledgeAssetValue" jdbcType="DECIMAL" />
        <result column="PLEDGE_ASSET_DEC" property="pledgeAssetDec" jdbcType="DECIMAL" />
        <result column="PATTERN_DET" property="patternDet" jdbcType="VARCHAR" />

        <result column="LEASE_ITEM_CODE" property="leaseItemCode" jdbcType="VARCHAR" />
        <result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="FULL_NAME" property="fullName" jdbcType="VARCHAR" />
        <result column="LEASE_ITEM_TYPE_N" property="leaseItemTypeN" jdbcType="VARCHAR" />
        <result column="PATTERN_N" property="patternN" jdbcType="VARCHAR" />
        <result column="MORTGAGOR_N" property="mortgagorN" jdbcType="VARCHAR" />
        <result column="PLEDGE_STATE_N" property="pledgeStateN" jdbcType="VARCHAR" />
        <result column="ASSET_VALUE_TOTAL" property="assetValueTotal" jdbcType="DECIMAL" />
        <result column="ORIGINAL_ASSET_VALUE_TOTAL" property="originalAssetValueTotal" jdbcType="DECIMAL" />

        <result column="PATTERN" property="pattern" jdbcType="VARCHAR" />
        <result column="PLEDGE_STATE" property="pledgeState" jdbcType="VARCHAR" />
        <result column="MORTGAGOR" property="mortgagor" jdbcType="VARCHAR" />

    </resultMap>

    <select id="selectByLeaseForeignKey" parameterType="com.hand.hls.pam.dto.HlsLeaseItemDetail" resultMap="BaseResultMap">
        SELECT


        (select scv.MEANING
            from sys_code_b sc, sys_code_value_b scv
            where sc.CODE_ID = scv.CODE_ID
            and sc.CODE = 'SYS.YES_NO'
            and scv.value = hlid.if_pledge) if_pledge_n,
        (select scv.MEANING
            from sys_code_b sc, sys_code_value_b scv
            where sc.CODE_ID = scv.CODE_ID
            and sc.CODE = 'SYS.YES_NO'
            and scv.value = hlid.if_insure) if_insure_n,
        (select scv.MEANING
            from sys_code_b sc, sys_code_value_b scv
            where sc.CODE_ID = scv.CODE_ID
            and sc.CODE = 'SYS.YES_NO'
            and scv.value = hlid.if_reduce_exempt_tax) if_reduce_exempt_tax_n,

        hlid.*
        FROM hls_lease_item_detail hlid,hls_lease_item hli,prj_project_lease_item pp

        <where>
            1 = 1
            and hli.asset_types = hlid.asset_types
            and hli.lease_item_id = hlid.lease_item_id
            and hli.lease_item_id = pp.lease_item_id
            <if test="leaseItemId!=null">
                and hlid.lease_item_id = #{leaseItemId}
            </if>
            <if test="projectId != null">
                and pp.project_id = #{projectId}
            </if>
        </where>
    </select>

    <select id="selectByLeaseSerialNumber" parameterType="com.hand.hls.pam.dto.HlsLeaseItemDetail" resultMap="BaseResultMap">
        SELECT
        hlid.*
        FROM hls_lease_item_detail hlid
        <where>
            1 = 1
            <if test="leaseItemId!=null">
                and hlid.lease_item_id = #{leaseItemId}
            </if>
            <if test="serialNumber != null">
                and hlid.serial_number = #{serialNumber}
            </if>
        </where>
    </select>
    <delete id="deleteLeaseItemDetailByLeaseItemId">

        delete from hls_lease_item_detail h where h.lease_item_id = #{leaseItemId}

    </delete>

    <select id="selectLeaseMovables" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
       select
        t1.*
        from hls_lease_item_detail t1,hls_lease_item t2
        where
        t1.PATTERN_DET = 'MOVABLE_PROPERTY_PLEDGE'
        <if test="leaseItemId!=null">
            and t1.lease_item_id = #{leaseItemId}
        </if>
        and t1.lease_item_id = t2.lease_item_id
        order by t1.lease_item_detail_id desc
    </select>

    <select id="selectLeaseMovablesReport" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        SELECT
        t1.*,
        hli.LEASE_ITEM_CODE,
        (
        SELECT
        wm_concat(p.project_number)
        FROM
        prj_project_chance_mp pi,
        prj_project p
        WHERE
        pi.project_id = p.project_id
        AND pi.lease_item_id = hli.lease_item_id
        and p.data_class = 'NORMAL'
        ) AS project_number,
        (
        SELECT
        wm_concat(p.contract_number)
        FROM
        prj_project_chance_mp pi,
        prj_project p
        WHERE
        pi.project_id = p.project_id
        AND pi.lease_item_id = hli.lease_item_id
        AND p.data_class = 'VIRTUAL_CON'
        ) AS contract_number,
        hli.FULL_NAME,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'HLS.COLLATERAL_TYPE' AND code_value = hli.LEASE_ITEM_TYPE ) AS LEASE_ITEM_TYPE_N,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'HLS.PATTERN' AND code_value = hli.PATTERN ) AS PATTERN_N,
        hbm.bp_name AS MORTGAGOR_N,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'PLEDGE_STATE0' AND code_value = hli.PLEDGE_STATE ) AS PLEDGE_STATE_N,
        a.EVALUATION_VALUE AS ASSET_VALUE_TOTAL,
        b.original_asset_value_total
        FROM
        hls_lease_item hli
        LEFT JOIN hls_lease_item_detail t1 ON t1.lease_item_id = hli.lease_item_id
        AND t1.PATTERN_DET = 'MOVABLE_PROPERTY_PLEDGE'
        LEFT JOIN hls_bp_master hbm ON hbm.bp_id = hli.MORTGAGOR
        LEFT JOIN ( SELECT hlid.lease_item_id, SUM( hlid.EVALUATION_VALUE ) AS EVALUATION_VALUE FROM hls_lease_item_detail hlid GROUP BY hlid.lease_item_id ) a ON a.lease_item_id = hli.lease_item_id
        LEFT JOIN ( SELECT hlid.lease_item_id, SUM( nvl(hlid.purchase_price,0) + nvl(hlid.pledge_asset_value,0)) AS original_asset_value_total FROM hls_lease_item_detail hlid GROUP BY hlid.lease_item_id ) b ON b.lease_item_id = hli.lease_item_id
        where
        hli.pattern IN ( 'MOVABLE_PROPERTY_PLEDGE' )
        <if test="leaseItemId!=null">
            and t1.lease_item_id = #{leaseItemId}
        </if>
        <if test="leaseItemCode!=null">
            and hli.lease_item_code like concat(concat('%',#{leaseItemCode}),'%')
        </if>
        <if test="fullName!=null">
            and hli.full_name like concat(concat('%',#{fullName}),'%')
        </if>
        <if test="mortgagorN!=null">
            and hbm.bp_name like concat(concat('%',#{mortgagorN}),'%')
        </if>
        <if test="leaseFullName!=null">
            and t1.lease_full_name like concat(concat('%',#{leaseFullName}),'%')
        </if>
        order by hli.lease_item_id desc
    </select>


    <select id="selectLeaseNoMovables" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        select
        t1.*
        from hls_lease_item_detail t1,hls_lease_item t2
        where
        t1.PATTERN_DET = 'NO_MOVABLE_PROPERTY_PLEDGE'
        <if test="leaseItemId!=null">
            and t1.lease_item_id = #{leaseItemId}
        </if>
        and t1.lease_item_id = t2.lease_item_id
        order by t1.lease_item_detail_id desc
    </select>

    <select id="selectLeaseNoMovablesReport" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        SELECT
        t1.*,
        hli.LEASE_ITEM_CODE,
        (
        SELECT
        wm_concat(p.project_number)
        FROM
        prj_project_chance_mp pi,
        prj_project p
        WHERE
        pi.project_id = p.project_id
        AND pi.lease_item_id = hli.lease_item_id
        and p.data_class = 'NORMAL'
        ) AS project_number,
        (
        SELECT
        wm_concat(p.contract_number)
        FROM
        prj_project_chance_mp pi,
        prj_project p
        WHERE
        pi.project_id = p.project_id
        AND pi.lease_item_id = hli.lease_item_id
        AND p.data_class = 'VIRTUAL_CON'
        ) AS contract_number,
        hli.FULL_NAME,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'HLS.COLLATERAL_TYPE' AND code_value = hli.LEASE_ITEM_TYPE ) AS LEASE_ITEM_TYPE_N,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'HLS.PATTERN' AND code_value = hli.PATTERN ) AS PATTERN_N,
        hbm.bp_name AS MORTGAGOR_N,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'PLEDGE_STATE0' AND code_value = hli.PLEDGE_STATE ) AS PLEDGE_STATE_N,
        a.EVALUATION_VALUE AS ASSET_VALUE_TOTAL,
        b.original_asset_value_total
        FROM
        hls_lease_item hli
        LEFT JOIN hls_lease_item_detail t1 ON t1.lease_item_id = hli.lease_item_id
        AND t1.PATTERN_DET = 'NO_MOVABLE_PROPERTY_PLEDGE'
        LEFT JOIN hls_bp_master hbm ON hbm.bp_id = hli.MORTGAGOR
        LEFT JOIN ( SELECT hlid.lease_item_id, SUM( hlid.EVALUATION_VALUE ) AS EVALUATION_VALUE FROM hls_lease_item_detail hlid GROUP BY hlid.lease_item_id ) a ON a.lease_item_id = hli.lease_item_id
        LEFT JOIN ( SELECT hlid.lease_item_id, SUM( nvl(hlid.purchase_price,0) + nvl(hlid.pledge_asset_value,0)) AS original_asset_value_total FROM hls_lease_item_detail hlid GROUP BY hlid.lease_item_id ) b ON b.lease_item_id = hli.lease_item_id
        WHERE
        hli.pattern IN ( 'NO_MOVABLE_PROPERTY_PLEDGE' )
        <if test="leaseItemId!=null">
            and t1.lease_item_id = #{leaseItemId}
        </if>
        <if test="leaseItemCode!=null">
            and hli.lease_item_code like concat(concat('%',#{leaseItemCode}),'%')
        </if>
        <if test="fullName!=null">
            and hli.full_name like concat(concat('%',#{fullName}),'%')
        </if>
        <if test="mortgagorN!=null">
            and hbm.bp_name like concat(concat('%',#{mortgagorN}),'%')
        </if>
        <if test="leaseFullName!=null">
            and t1.lease_full_name like concat(concat('%',#{leaseFullName}),'%')
        </if>
        order by hli.lease_item_id desc
    </select>


    <select id="selectLeaseMovablesDz" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        select
        t1.*
        from hls_lease_item_detail t1,hls_lease_item t2
        where
        t1.PATTERN_DET = 'DZ_PROPERTY_PLEDGE'
        <if test="leaseItemId!=null">
            and t1.lease_item_id = #{leaseItemId}
        </if>
        and t1.lease_item_id = t2.lease_item_id
        order by t1.lease_item_detail_id desc
    </select>

    <select id="selectLeaseMovablesDzReport" parameterType="com.hand.hls.pam.dto.HlsCusLeaseItem" resultMap="BaseResultMap">
        SELECT
        t1.*,
        hli.LEASE_ITEM_CODE,
        (
        SELECT
        wm_concat(p.project_number)
        FROM
        prj_project_chance_mp pi,
        prj_project p
        WHERE
        pi.project_id = p.project_id
        AND pi.lease_item_id = hli.lease_item_id
        and p.data_class = 'NORMAL'
        ) AS project_number,
        (
        SELECT
        wm_concat(p.contract_number)
        FROM
        prj_project_chance_mp pi,
        prj_project p
        WHERE
        pi.project_id = p.project_id
        AND pi.lease_item_id = hli.lease_item_id
        AND p.data_class = 'VIRTUAL_CON'
        ) AS contract_number,
        hli.FULL_NAME,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'HLS.COLLATERAL_TYPE' AND code_value = hli.LEASE_ITEM_TYPE ) AS LEASE_ITEM_TYPE_N,
        hli.PATTERN,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'HLS.PATTERN' AND code_value = hli.PATTERN ) AS PATTERN_N,
        hbm.bp_name AS MORTGAGOR_N,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'PLEDGE_STATE0' AND code_value = hli.PLEDGE_STATE ) AS PLEDGE_STATE_N,
        a.EVALUATION_VALUE AS ASSET_VALUE_TOTAL,
        b.original_asset_value_total
        FROM
        hls_lease_item hli
        LEFT JOIN hls_lease_item_detail t1 ON t1.lease_item_id = hli.lease_item_id AND t1.PATTERN_DET = 'DZ_PROPERTY_PLEDGE'
        LEFT JOIN hls_bp_master hbm ON hbm.bp_id = hli.MORTGAGOR
        LEFT JOIN ( SELECT hlid.lease_item_id, SUM( hlid.EVALUATION_VALUE ) AS EVALUATION_VALUE FROM hls_lease_item_detail hlid GROUP BY hlid.lease_item_id ) a ON a.lease_item_id = hli.lease_item_id
        LEFT JOIN ( SELECT hlid.lease_item_id, SUM( nvl(hlid.purchase_price,0) + nvl(hlid.pledge_asset_value,0)) AS original_asset_value_total FROM hls_lease_item_detail hlid GROUP BY hlid.lease_item_id ) b ON b.lease_item_id = hli.lease_item_id
        where
        hli.pattern IN ( 'GUQUAN_PROPERTY_PLEDGE', 'SHOUKUAN_PROPERTY_PLEDGE', 'SHOUYIQUAN_PROPERTY_PLEDGE' )
        <if test="leaseItemId!=null">
            and t1.lease_item_id = #{leaseItemId}
        </if>
        <if test="leaseItemCode!=null">
            and hli.lease_item_code like concat(concat('%',#{leaseItemCode}),'%')
        </if>
        <if test="fullName!=null">
            and hli.full_name like concat(concat('%',#{fullName}),'%')
        </if>
        <if test="pattern!=null">
            and hli.pattern = #{pattern}
        </if>
        order by hli.lease_item_id desc
    </select>

</mapper>