<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.HlsLeaseItemTransferMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.HlsLeaseItemTransfer">
        <result column="LEASE_ASSET_ID" property="leaseAssetId" jdbcType="DECIMAL" />
        <result column="LEASE_ITEM_ID" property="leaseItemId" jdbcType="DECIMAL" />
        <result column="TRANSFER_TIME" property="transferTime" jdbcType="DATE" />
        <result column="POSSESSOR" property="possessor" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectLeaseTransferForeignKey" parameterType="com.hand.hls.pam.dto.HlsLeaseItemTransfer" resultMap="BaseResultMap">
        SELECT

        hlit.*
        FROM hls_lease_item_transfer  hlit

        <where>
            1 = 1
            <if test="leaseItemId!=null">
                and hlit.lease_item_id = #{leaseItemId}
            </if>

        </where>
    </select>

</mapper>