<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.HlsWarrantStockLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.HlsWarrantStockLn">
        <result column="WARRANT_LN_ID" property="warrantLnId" jdbcType="DECIMAL" />
        <result column="WARRANT_STOCK_ID" property="warrantStockId" jdbcType="DECIMAL" />
        <result column="WARRANT_ID" property="warrantId" jdbcType="DECIMAL" />
        <result column="stock_number" property="stockNumber" jdbcType="VARCHAR" />
        <result column="approve_count" property="approveCount" jdbcType="DECIMAL" />
        <result column="warrant_name" property="warrantName" jdbcType="VARCHAR" />
    </resultMap>



    <select id="warrantStockCheck" parameterType="com.hand.hls.pam.dto.HlsWarrantStockLn" resultMap="BaseResultMap">
       SELECT  count(0) as approve_count ,  wm_concat( distinct hliw.warrant_name) as warrant_name
        FROM hls_lease_item_warrant hliw
          left join warrant_stock_ln wsl
            on hliw.warrant_id = wsl.warrant_id
          left join warrant_stock_hd wsh
          on wsl.warrant_stock_id = wsh.warrant_stock_id
          <where>
               wsh.approve_status ='APPROVING'

            <if test="warrantIdList != null " >
               and hliw.warrant_id  in
                <foreach collection="warrantIdList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>


          </where>



    </select>


</mapper>