<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.HlsWarrantStockHdMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.HlsWarrantStockHd">
        <result column="WARRANT_STOCK_ID" property="warrantStockId" jdbcType="DECIMAL" />
        <result column="STOCK_TYPE" property="stockType" jdbcType="VARCHAR" />
        <result column="RETURN_DATE" property="returnDate" jdbcType="DATE" />
        <result column="HD_ID" property="hdId" jdbcType="DECIMAL" />
        <result column="STOCK_DESCRIPTION" property="stockDescription" jdbcType="VARCHAR" />
        <result column="APPLICANT_ID" property="applicantId" jdbcType="DECIMAL" />
        <result column="APPLICANT_UNIT" property="applicantUnit" jdbcType="DECIMAL" />
        <result column="APPLICANT_DATE" property="applicantDate" jdbcType="DATE" />
        <result column="APPLICANT_NUMBER" property="applicantNumber" jdbcType="VARCHAR" />
        <result column="APPROVE_STATUS" property="approveStatus" jdbcType="VARCHAR" />
        <result column="applicant_name" property="applicantName" jdbcType="VARCHAR" />
        <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
        <result column="stock_type_n" property="stockTypeN" jdbcType="VARCHAR" />
        <result column="hd_id_n" property="hdIdN" jdbcType="VARCHAR" />
        <result column="project_id" property="projectId" jdbcType="DECIMAL" />
        <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
        <result column="bp_name" property="bpName" jdbcType="VARCHAR" />
        <result column="approve_status_n" property="approveStatusN" jdbcType="VARCHAR" />
        <result column="warrant_status" property="warrantStatus" jdbcType="VARCHAR" />
        <result column="warrant_id" property="warrantId" jdbcType="DECIMAL" />
        <result column="warrant_status_n" property="warrantStatusN" jdbcType="VARCHAR" />
        <result column="warrant_name" property="warrantName" jdbcType="VARCHAR" />
        <result column="allocation_id" property="allocationId" jdbcType="DECIMAL" />
        <result column="stock_manager" property="stockManager" jdbcType="DECIMAL" />
        <result column="applicant_employ" property="applicantEmploy" jdbcType="DECIMAL" />


    </resultMap>

    <select id="queryApplicantInfo" parameterType="com.hand.hls.pam.dto.HlsWarrantStockHd" resultMap="BaseResultMap">
        SELECT
            wsh.warrant_stock_id,
            wsh.stock_type,

            (select scv.MEANING
                from sys_code_b sc, sys_code_value_b scv
                where sc.CODE_ID = scv.CODE_ID
                and sc.CODE = 'WARRANT_STOCK_STATUS'
                and scv.value = wsh.stock_type) stock_type_n,
            wsh.return_date,
            wsh.hd_id,
            (SELECT hd.duration_number FROM hls_duration_hd hd where hd.hd_id = wsh.hd_id    ) as hd_id_n,

            wsh.stock_description,
            wsh.applicant_id,
            (SELECT su.description FROM          sys_user su where su.user_id = wsh.applicant_id ) as applicant_name,
            wsh.applicant_unit,
            (SELECT fou.unit_name FROM         fnd_org_unit fou where fou.unit_id = wsh.applicant_unit) as unit_name,
            wsh.applicant_date,
            wsh.applicant_number,
            wsh.approve_status,
            wsh.project_id ,
            wsh.contract_name ,
            wsh.contract_number
        FROM warrant_stock_hd wsh
        <where>

            <if test="warrantStockId != null ">
                and wsh.warrant_stock_id = #{warrantStockId}
            </if>

        </where>
    </select>

    <select id="queryWarrantOutIn" parameterType="com.hand.hls.pam.dto.HlsWarrantStockHd" resultMap="BaseResultMap">

       SELECT wsh.applicant_number,

            wsh.stock_type,
            (SELECT scv.MEANING
            FROM sys_code_b sc, sys_code_value_b scv
            WHERE sc.CODE_ID = scv.CODE_ID
            AND sc.CODE = 'WARRANT_STOCK_STATUS'
            AND scv.value = wsh.stock_type) AS stock_type_n,
            wsh.return_date,
            wsh.applicant_id,
            (SELECT su.description
            FROM sys_user su
            WHERE su.user_id = wsh.applicant_id) AS applicant_name,
            wsh.applicant_unit,
            (SELECT fou.unit_name
            FROM fnd_org_unit fou
            WHERE fou.unit_id = wsh.applicant_unit) AS unit_name,
            wsh.applicant_date,
            wsh.approve_status,
            (SELECT scv.MEANING
            FROM sys_code_b sc, sys_code_value_b scv
            WHERE sc.CODE_ID = scv.CODE_ID
            AND sc.CODE = 'WARRANT_APPROVE_STATUS'
            AND scv.value = wsh.approve_status) AS approve_status_n,

            (SELECT scv.MEANING
            FROM sys_code_b             sc,
            sys_code_value_b       scv,
            hls_lease_item_warrant hliw
            WHERE sc.CODE_ID = scv.CODE_ID
            AND sc.CODE = 'WARRANT_INOUT_STATUS'
            and hliw.warrant_id = wsl.warrant_id
            AND scv.value = hliw.warrant_status) AS warrant_status_n,

            wsh.warrant_stock_id,

            (SELECT hliw.project_id
            FROM hls_lease_item_warrant hliw
            where hliw.warrant_id = wsl.warrant_id) project_id,
            (SELECT hliw.warrant_name
            FROM hls_lease_item_warrant hliw
            where hliw.warrant_id = wsl.warrant_id) warrant_name,

            (SELECT hliw.bp_name
            FROM hls_lease_item_warrant hliw
            where hliw.warrant_id = wsl.warrant_id) bp_name,

            wsl.warrant_id

        FROM warrant_stock_ln wsl

        LEFT JOIN warrant_stock_hd wsh
        ON wsl.warrant_stock_id = wsh.warrant_stock_id
         <where>
          <if test="projectId != null">
             and   wsh.project_id = #{projectId}
          </if>

         </where>
         order by wsl.warrant_ln_id desc


    </select>



    <select id="queryReturnDateNotice" parameterType="com.hand.hls.pam.dto.HlsWarrantStockHd" resultMap="BaseResultMap">
        SELECT wsh.return_date,
               wsh.applicant_id,
               (SELECT sua.allocation_id
                  FROM sys_user_allocation sua
                 where sua.user_id = wsh.applicant_id) allocation_id,
               hliw.warrant_id,
               hliw.project_id,
                (SELECT pp.contract_name
                    FROM prj_project pp
                    where pp.project_id = hliw.project_id) contract_name,
                (SELECT pp.contract_number
                    FROM prj_project pp
                    where pp.project_id = hliw.project_id) contract_number,
               wsh.warrant_stock_id,
               wsl.warrant_ln_id,
                hliw.warrant_name
          FROM hls_lease_item_warrant hliw
          left join warrant_stock_ln wsl
            on hliw.warrant_id = wsl.warrant_id
          left join warrant_stock_hd wsh
            on wsl.warrant_stock_id = wsh.warrant_stock_id
         <where>
             hliw.warrant_status = '临时出库'
         and wsh.stock_type = 'TEMP_OUT_STOCK'
         and wsh.approve_status = 'APPROVED'
         </where>

    </select>



</mapper>