<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.pam.mapper.LeaseAssetLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.pam.dto.LeaseAssetLn">
        <result column="ASSET_LN_ID" property="assetLnId" jdbcType="DECIMAL" />
        <result column="ASSET_HD_ID" property="assetHdId" jdbcType="DECIMAL" />
        <result column="LEASE_ITEM_ID" property="leaseItemId" jdbcType="DECIMAL" />
        <result column="FULL_NAME" property="fullName" jdbcType="VARCHAR" />
        <result column="LEASE_ITEM_TYPE" property="leaseItemType" jdbcType="VARCHAR" />
        <result column="ASSET_VALUE_TOTAL" property="assetValueTotal" jdbcType="DECIMAL" />
        <result column="FAIR_VALUE_RECENT" property="fairValueRecent" jdbcType="DECIMAL" />
        <result column="FAIR_VALUE" property="fairValue" jdbcType="DECIMAL" />
        <result column="EVALUATION_DATE" property="evaluationDate" jdbcType="DATE" />
        <result column="EVALUATION_METHOD" property="evaluationMethod" jdbcType="VARCHAR" />
        <result column="LEASE_ITEM_CODE" property="leaseItemCode" jdbcType="VARCHAR" />
        <result column="VALUATION_UNIT" property="valuationUnit" jdbcType="VARCHAR" />
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />

        <result column="ASSET_NUMBER" property="assetNumber" jdbcType="VARCHAR" />
        <result column="MODIFY_PERSON_N" property="modifyPersonN" jdbcType="VARCHAR" />
        <result column="LEASE_ITEM_ID_N" property="leaseItemIdN" jdbcType="VARCHAR" />
        <result column="LEASE_ITEM_TYPE_N" property="leaseItemTypeN" jdbcType="VARCHAR" />

        <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
        <result column="ATTACHMENT_ID" property="attachmentId" jdbcType="DECIMAL" />

    </resultMap>

    <select id="selectLeaseAssetLn" resultMap="BaseResultMap">
        select
        (select lah.ASSET_NUMBER
        from lease_asset_hd lah
        where lah.ASSET_HD_ID = lai.ASSET_HD_ID) ASSET_NUMBER,
        (select lah.MODIFY_PERSON
        from lease_asset_hd lah
        where lah.ASSET_HD_ID = lai.ASSET_HD_ID) MODIFY_PERSON,
        (
        select fe.NAME
        from fnd_employee fe,lease_asset_hd lah
        where fe.EMPLOYEE_ID = lah.MODIFY_PERSON
        and lah.ASSET_HD_ID = lai.ASSET_HD_ID
        )MODIFY_PERSON_N,
        lai.*
        from  lease_asset_ln lai
        <where>
            1=1
            <if test="leaseItemId != null">
                and lai.lease_item_id = #{leaseItemId}
            </if>
        </where>
        order by lai.EVALUATION_DATE desc
    </select>

    <select id="selectLeaseAssetLnList" resultMap="BaseResultMap">
        select
        lal.*,
        a.lease_item_code as LEASE_ITEM_ID_N,
        a.lease_item_type,
        a.full_name,
        (SELECT meaning
        FROM sys_code_value_b_v v
        WHERE v.CODE = 'REVALUE_LEASE_ITEM_TYPE'
        AND v.code_value = a.lease_item_type) lease_item_type_n,
        (SELECT sum(hlid.net_asset_value)
        FROM hls_lease_item_detail hlid
        where hlid.lease_item_id = a.lease_item_id) as asset_value_total,
        (case
        when a.fair_value is null then
        (SELECT sum(hlid.net_asset_value)
        FROM hls_lease_item_detail hlid
        where hlid.lease_item_id = a.lease_item_id)
        else
        a.fair_value
        end) fair_value_recent,
        (select  distinct(hbm.bp_name)
        from prj_project_bp ppb, prj_project pp , hls_bp_master hbm
        WHERE ppb.lease_item_id = a.lease_item_id
        and ppb.project_id = pp.project_id
        and ppb.bp_role_type IN ('MORTGAGOR', 'PLEDGOR')
        and hbm.bp_id = pp.tenant_id)  bp_name,
        (
        SELECT
        wm_concat( fa.file_name )
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi fam
        WHERE
        fa.attachment_id = fam.attachment_id
        AND fam.table_name = 'lease_asset_ln'
        AND lal.asset_ln_id = fam.table_pk_value
        ) FILE_NAME,
        (
        SELECT
        fa.attachment_id
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi fam
        WHERE
        fa.attachment_id = fam.attachment_id
        AND fam.table_name = 'lease_asset_ln'
        AND lal.asset_ln_id = fam.table_pk_value
        ) ATTACHMENT_ID
        from lease_asset_ln lal,lease_asset_hd lah,hls_lease_item a
        where
            lal.ASSET_HD_ID = lah.ASSET_HD_ID
            and  lal.LEASE_ITEM_ID = a.LEASE_ITEM_ID
            <if test="assetHdId != null">
                and lal.ASSET_HD_ID = #{assetHdId}
            </if>

        order by lal.EVALUATION_DATE desc
    </select>

</mapper>