<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.BpMasterAttachmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.BpMasterAttachment">
        <result column="BP_ATTACHMENT_ID" property="bpAttachmentId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="BP_ATTACHMENT_CATEGORY" property="bpAttachmentCategory" jdbcType="VARCHAR" />
        <result column="DOCUMENT_NAME" property="documentName" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="UPLOAD_PERSON" property="uploadPerson" jdbcType="VARCHAR" />
        <result column="upload_date" property="uploadDate" jdbcType="VARCHAR" />
        <result column="UPLOAD_PERSON_ID" property="uploadPersonId" jdbcType="DECIMAL" />
        <result column="LIST_DOCUMENT_ID" property="listDocumentId" jdbcType="DECIMAL" />
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR" />
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR" />
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR" />
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR" />
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR" />
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL" />
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL" />
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL" />
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL" />
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL" />
        <result column="REF_D01" property="refD01" jdbcType="TIMESTAMP" />
        <result column="REF_D02" property="refD02" jdbcType="TIMESTAMP" />
        <result column="REF_D03" property="refD03" jdbcType="TIMESTAMP" />
        <result column="REF_D04" property="refD04" jdbcType="TIMESTAMP" />
        <result column="REF_D05" property="refD05" jdbcType="TIMESTAMP" />
        <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
        <result column="ATTACHMENT_ID" property="attachmentId" jdbcType="DECIMAL" />
<!--        <result column="attach_code" property="attachCode" jdbcType="VARCHAR"/>-->
        <result column="th_back_flag" property="thBackFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="QueryBpAttachmentMap" type="map">
        <result column="bp_attachment_id" property="bp_attachment_id" />
        <result column="document_name" property="document_name" />
        <result column="file_names" property="file_names" />
        <result column="file_type" property="file_type" />
        <result column="file_id" property="file_id" />
        <result column="source_key" property="source_key" />
        <result column="description" property="description" />
        <result column="bp_attachment_category" property="bp_attachment_category" />
        <result column="bp_id" property="bp_id" />
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR" />
        <result column="REF_V01_N" property="refV01N" jdbcType="VARCHAR" />
        <result column="UPLOAD_PERSON" property="uploadPerson" jdbcType="VARCHAR" />
        <result column="upload_date" property="uploadDate" jdbcType="VARCHAR" />
<!--        <result column="attach_code" property="attach_code" />-->
    </resultMap>

    <select id="queryBpMasterAttachment" resultMap="QueryBpAttachmentMap">
        SELECT ca.bp_id,
                ca.bp_attachment_id,
                ca.document_name,
                ca.bp_attachment_category,
               ca.creation_date upload_date,
        (select v.meaning  from  sys_code_value_b_v v  where v.code_value=ca.REF_V01 and  v.code='FILE_TYPE') ref_v01_n,
        (SELECT su.description
        FROM sys_user su
        WHERE su.user_id = ca.created_by) upload_person,
               ca.ref_v01,
                (SELECT to_char(wm_concat(sf.FILE_NAME))
                FROM fnd_atm_attachment sf, fnd_atm_attachment_multi sa
                WHERE sa.ATTACHMENT_ID = sf.ATTACHMENT_ID
                AND to_char(ca.bp_attachment_id) = sa.table_pk_value
                AND upper(sa.table_name) = 'BP_MASTER_ATTACHMENT') file_names,
                (SELECT to_char(wm_concat(sf.file_type_code))
                FROM fnd_atm_attachment sf, fnd_atm_attachment_multi sa
                WHERE sa.ATTACHMENT_ID = sf.ATTACHMENT_ID
                AND to_char(ca.bp_attachment_id) = sa.table_pk_value
                AND upper(sa.table_name) = 'BP_MASTER_ATTACHMENT') file_type,
                (SELECT to_char(wm_concat(sf.attachment_id))
                FROM fnd_atm_attachment sf, fnd_atm_attachment_multi sa
                WHERE sa.ATTACHMENT_ID = sf.ATTACHMENT_ID
                AND to_char(ca.bp_attachment_id) = sa.table_pk_value
                AND upper(sa.table_name) = 'BP_MASTER_ATTACHMENT') file_id,
                (SELECT to_char(wm_concat(sa.table_pk_value))
                FROM fnd_atm_attachment sf, fnd_atm_attachment_multi sa
                WHERE sa.ATTACHMENT_ID = sf.ATTACHMENT_ID
                AND to_char(ca.bp_attachment_id) = sa.table_pk_value
                AND upper(sa.table_name) = 'BP_MASTER_ATTACHMENT') source_key,
                ca.description
        FROM bp_master_attachment ca
        <where>
            <if test="bpId !=null">
                and ca.bp_id = #{bpId,jdbcType=BIGINT}
            </if>
        </where>

    </select>

    <select id="queryAttachmentDetails" resultMap="BaseResultMap" parameterType="java.util.Map">

        select * from bp_master_attachment bma where bma.bp_id = #{bpId}

    </select>

    <select id="queryForApp" parameterType="long" resultMap="BaseResultMap">
        select a.DOCUMENT_NAME, a.DESCRIPTION, fa.FILE_NAME, fa.ATTACHMENT_ID
        from BP_MASTER_ATTACHMENT a,
             FND_ATM_ATTACHMENT_MULTI m,
             FND_ATM_ATTACHMENT fa
        where a.BP_ID = #{bpId}
          and m.ATTACHMENT_ID = fa.ATTACHMENT_ID
          AND to_number(a.bp_attachment_id) = m.table_pk_value
          AND upper(m.table_name) = 'BP_MASTER_ATTACHMENT'
    </select>

    <select id="queryByBpId" resultMap="BaseResultMap">
        select t.*
        from bp_master_attachment t,fnd_atm_attachment_multi fm,fnd_atm_attachment fa
        where t.bp_attachment_category = #{bpAttachmentCategory}
          and fm.table_name = 'bp_master_attachment'
          and fm.table_pk_value = to_char(t.bp_attachment_id)
          and fm.attachment_id = fa.attachment_id
          and t.bp_id = #{bpId}
    </select>

<!--    <select id="queryAttachCodeByBpId" resultType="string">-->
<!--        select faa.attach_code-->
<!--        from bp_master_attachment     bma,-->
<!--             fnd_atm_attachment_multi faam,-->
<!--             fnd_atm_attachment       faa-->
<!--        where to_char(bma.bp_attachment_id) = faam.table_pk_value-->
<!--          and faam.table_name = 'bp_master_attachment'-->
<!--          and faa.source_type_code = 'fnd_atm_attachment_multi'-->
<!--          and faa.source_pk_value = to_char(faam.record_id)-->
<!--          and bma.bp_id = #{bpId}-->
<!--    </select>-->
</mapper>
