<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.fnd.mapper.HlsLayoutCodeRuleEngineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.HlsLayoutCodeRuleEngine">
        <id column="layout_code_engine_id" jdbcType="BIGINT" property="layoutCodeEngineId"/>
        <result column="layout_code_engine_code" jdbcType="VARCHAR" property="layoutCodeEngineCode"/>
        <result column="layout_code_engine_name" jdbcType="VARCHAR" property="layoutCodeEngineName"/>
        <result column="rule_engine_id" jdbcType="BIGINT" property="ruleEngineId"/>
        <result column="data_source_id" jdbcType="BIGINT" property="dataSourceId"/>
        <result column="sequence" jdbcType="BIGINT" property="sequence"/>
        <result column="rule_engine_type" jdbcType="VARCHAR" property="ruleEngineType"/>
        <result column="enabled_flag" jdbcType="VARCHAR" property="enabledFlag"/>
        <result column="date_source_desc" jdbcType="VARCHAR" property="dataSourceDesc"/>
    </resultMap>

    <select id="query" parameterType="com.hand.hls.fnd.dto.HlsLayoutCodeRuleEngine" resultMap="BaseResultMap">
        select hlcre.*,hdbs.description date_source_desc,hret.description ruleEngineTypeDesc
        from hls_layout_code_rule_engine hlcre
        left join hls_rule_engine_type hret on hret.rule_engine_type = hlcre.rule_engine_type
        left join hls_db_data_source hdbs on hlcre.data_source_id = hdbs.data_source_id
        <where>
            <if test="layoutCodeEngineCode!=null">
                and hlcre.layout_code_engine_code = #{layoutCodeEngineCode}
            </if>
            <if test="layoutCodeEngineName!=null">
                and hlcre.layout_code_engine_name = #{layoutCodeEngineName}
            </if>
            <if test="enabledFlag!=null">
                and hlcre.enabled_flag = #{enabledFlag}
            </if>
        </where>
        order by
        hlcre.sequence asc
    </select>
    <select id="queryFunctionRoute" parameterType="java.util.HashMap" resultType="long">
       select d.route_id
      from hls_rule_engine_route d, hls_rule_engine_condition hrc
     where d.rule_engine_id = #{ruleEngineId}
       and d.route_id = hrc.route_id
       and hrc.xcondition_value = 'function_code'
       and hrc.ycondition_value1 = #{functionCode}
       and hrc.enabled_flag='Y'
    </select>

    <select id="queryFunctionResult" parameterType="java.lang.Long" resultType="string">
       select hrr.route_result_value
    from hls_rule_engine_route d, hls_rule_engine_result hrr
    where d.parent_route_id = #{routeId}
    and d.route_id = hrr.route_id
    </select>

</mapper>