<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hls.core.fnd.mapper.HlsPenaltyProfileDtlMapper">
    <resultMap id="BaseResultMap" type="hls.core.fnd.dto.HlsPenaltyProfileDtl">
        <id column="penalty_profile" property="penaltyProfile" jdbcType="VARCHAR"/>
        <result column="cf_item" property="cfItem" jdbcType="VARCHAR"/>
        <result column="penalty_rate" property="penaltyRate" jdbcType="BIGINT"/>
        <result column="grace_period" property="gracePeriod" jdbcType="BIGINT"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectList" parameterType="hls.core.fnd.dto.HlsPenaltyProfileDtl" resultMap="BaseResultMap">
                    SELECT
                    t1.*
                    FROM
                    hls_penalty_profile_dtl t1
                    <where>
                        <if test="queryCondition != null">
                            (t1.penalty_rate  like concat(concat('%',#{queryCondition}),'%'))
                             OR (t1.grace_period LIKE concat(concat('%',#{queryCondition}),'%'))
                        </if>
                        <if test="penaltyProfile != null">
                            AND t1.penalty_profile = #{penaltyProfile}
                        </if>
                    </where>

    </select>
    <select id="selectAllHlsPenProDtlById" parameterType="hls.core.fnd.dto.HlsPenaltyProfileDtl" resultMap="BaseResultMap">
        SELECT * FROM hls_penalty_profile_dtl hppd where hppd.penalty_profile = #{penaltyProfile,jdbcType=VARCHAR} and hppd.cf_item =#{cfItem,jdbcType=VARCHAR}
    </select>

</mapper>

