<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.rc.mapper.HlsCusRentCollectionRuleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.rc.dto.HlsCusRentCollectionRule">
        <result column="COLLECTION_RULE_ID" property="collectionRuleId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="CONTRACT_DOC_CATEGORY" property="contractDocCategory" jdbcType="VARCHAR" />
        <result column="COLLECTION_DAYS" property="collectionDays" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="LAST_COLLECTION_DATE" property="lastCollectionDate" jdbcType="DATE" />

        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR" />
        <result column="APPROVAL_NUMBER" property="approvalNumber" jdbcType="VARCHAR" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />
        <result column="ALL_TIMES" property="allTimes" jdbcType="DECIMAL" />
        <result column="OVERDUE_TIMES" property="overdueTimes" jdbcType="DECIMAL" />
        <result column="OVERDUE_DAYS" property="overdueDays" jdbcType="DECIMAL" />
        <result column="OVERDUE_AMOUNT" property="overdueAmount" jdbcType="DECIMAL" />
        <result column="OVERDUE_PENALTY" property="overduePenalty" jdbcType="DECIMAL" />
        <result column="IS_SETTLE" property="isSettle" jdbcType="VARCHAR" />
        <result column="DOCUMENT_TYPE_DESC" property="documentTypeDesc" jdbcType="VARCHAR" />
        <result column="OVERDUE_DATE" property="overdueDate" jdbcType="DATE" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ASSIGN_ID" property="employeeAssignId" jdbcType="DECIMAL" />
        <result column="PROJECT_ASSISTANT_ASSIGNS_ID" property="projectAssistantAssignsId" jdbcType="DECIMAL" />
        <result column="contract_id_n" property="contractIdN" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectRentCollectionRuleData" parameterType="com.hand.hls.plm.rc.dto.HlsCusRentCollectionRule"  resultMap="BaseResultMap">
    SELECT
        PRCR.COLLECTION_RULE_ID,
        PRCR.COLLECTION_DAYS,
        PRCR.DESCRIPTION,
        PRCR.ENABLED_FLAG,
        PRCR.LAST_COLLECTION_DATE,
        HDT.DESCRIPTION DOCUMENT_TYPE_DESC,
        con.CONTRACT_NUMBER as contract_id_n,
        CON.*

    FROM
        PLM_RENT_COLLECTION_RULE PRCR
    JOIN
        (
            SELECT
                CC.CONTRACT_NUMBER,
                CC.CONTRACT_NAME,
                PP.APPROVAL_NUMBER,
                CC.CONTRACT_ID,
                CC.DOCUMENT_TYPE,
                CC.BUSINESS_TYPE,
                CC.TENANT_ID AS BP_ID,
                HBM.BP_NAME,
                'CON_CONTRACT' AS CONTRACT_DOC_CATEGORY,
                nvl(
                      (
                      SELECT
                          MAX(CCC.TIMES)
                      FROM
                          CON_CONTRACT_CASHFLOW CCC
                      WHERE
                          CCC.CONTRACT_ID = CC.CONTRACT_ID
                      GROUP BY
                          CCC.CONTRACT_ID ),0) AS ALL_TIMES,
                (
                    SELECT
                        COUNT(1)
                    FROM
                        CON_CONTRACT_CASHFLOW CCC
                    WHERE
                        CCC.CONTRACT_ID = CC.CONTRACT_ID
                    AND CCC.CF_ITEM = 9 ) AS OVERDUE_TIMES,
                nvl(
                      (
                      SELECT
                          MAX(CCC.FINE_DAYS)
                      FROM
                          CON_CONTRACT_CASHFLOW CCC
                      WHERE
                          CCC.CONTRACT_ID = CC.CONTRACT_ID
                      AND CCC.CF_ITEM = 1
                      AND CCC.OVERDUE_STATUS = 'Y'
                      GROUP BY
                          CCC.CONTRACT_ID ),0) AS OVERDUE_DAYS,
                nvl(
                      (
                      SELECT
                          SUM(CCC.DUE_AMOUNT-CCC.RECEIVED_AMOUNT)
                      FROM
                          CON_CONTRACT_CASHFLOW CCC
                      WHERE
                          CCC.CONTRACT_ID = CC.CONTRACT_ID
                      AND CCC.CF_ITEM = 1
                      AND CCC.OVERDUE_STATUS = 'Y'
                      AND CCC.WRITE_OFF_FLAG != 'FULL'
                      GROUP BY
                          CCC.CONTRACT_ID),0) AS OVERDUE_AMOUNT,
                nvl(
                      (
                      SELECT
                          SUM(CCC.DUE_AMOUNT-CCC.RECEIVED_AMOUNT)
                      FROM
                          CON_CONTRACT_CASHFLOW CCC
                      WHERE
                          CCC.CONTRACT_ID = CC.CONTRACT_ID
                      AND CCC.CF_ITEM = 9
                      GROUP BY
                          CCC.CONTRACT_ID),0) AS OVERDUE_PENALTY,
                (
                    SELECT
                        CASE
                            WHEN COUNT(1) > 0
                            THEN 'N'
                            ELSE 'Y'
                        END
                    FROM
                        CON_CONTRACT_CASHFLOW CCC
                    WHERE
                        CCC.CONTRACT_ID = CC.CONTRACT_ID
                    AND CCC.CF_ITEM = 1
                    AND CCC.WRITE_OFF_FLAG != 'FULL' ) AS IS_SETTLE
            FROM
                CON_CONTRACT CC
            JOIN
                PRJ_PROJECT PP
              ON
                PP.PROJECT_ID=CC.PROJECT_ID
            LEFT JOIN
                HLS_BP_MASTER HBM
            ON
                CC.TENANT_ID = HBM.BP_ID
            WHERE
                CC.DATA_CLASS = 'NORMAL'
        <!--<if test="companyId!=null">-->
        <!--AND CC.COMPANY_ID = #{companyId}-->
        <!--</if>-->
            UNION ALL
            SELECT
                FCT.CONTRACT_NUMBER,
                FCT.CONTRACT_NAME,
                FCT.APPROVAL_NUMBER,
                FCT.CONTRACT_ID,
                FCT.DOCUMENT_TYPE,
                FCT.BUSINESS_TYPE,
                HBM.BP_ID,
                HBM.BP_NAME,
                'FCT_CONTRACT' AS CONTRACT_DOC_CATEGORY,
                nvl(
                      (
                      SELECT
                          MAX(FQC.TIMES)
                      FROM
                          FCT_QUOTATION_CASHFLOW FQC
                      WHERE
                          FQC.CONTRACT_ID = FCT.CONTRACT_ID
                      GROUP BY
                          FCT.CONTRACT_ID ), 0 ) AS ALL_TIMES,
                (
                    SELECT
                        COUNT(1)
                    FROM
                        FCT_QUOTATION_CASHFLOW FQC
                    WHERE
                        FQC.CONTRACT_ID = FCT.CONTRACT_ID
                    AND FQC.CF_ITEM = 45 ) AS OVERDUE_TIMES,
                nvl(
                      (
                      SELECT
                          MAX(FQC.FINE_DAYS)
                      FROM
                          FCT_QUOTATION_CASHFLOW FQC
                      WHERE
                          FQC.CONTRACT_ID = FCT.CONTRACT_ID
                      AND FQC.CF_ITEM IN(54,
                                         55,
                                         57,
                                         51)
                      AND FQC.OVERDUE_STATUS = 'Y'
                      GROUP BY
                          FQC.CONTRACT_ID ), 0 ) AS OVERDUE_DAYS,
                nvl(
                      (
                      SELECT
                          SUM(FQC.DUE_AMOUNT-nvl(FQC.RECEIVED_AMOUNT,0))
                      FROM
                          FCT_QUOTATION_CASHFLOW FQC
                      WHERE
                          FQC.CONTRACT_ID = FCT.CONTRACT_ID
                      AND FQC.CF_ITEM IN (54,
                                          55,
                                          57,
                                          59)
                      AND FQC.WRITE_OFF_FLAG != 'FULL'
                      AND FQC.OVERDUE_STATUS = 'Y'
                      GROUP BY
                          FQC.CONTRACT_ID ), 0 ) AS OVERDUE_AMOUNT,
                nvl(
                      (
                      SELECT
                          SUM(FQC.DUE_AMOUNT-nvl(FQC.RECEIVED_AMOUNT,0))
                      FROM
                          FCT_QUOTATION_CASHFLOW FQC
                      WHERE
                          FQC.CONTRACT_ID = FCT.CONTRACT_ID
                      AND FQC.CF_ITEM = 45
                      GROUP BY
                          FQC.CONTRACT_ID ), 0 ) AS OVERDUE_PENALTY,
                (
                    SELECT
                        CASE
                            WHEN COUNT(1) > 0
                            THEN 'N'
                            ELSE 'Y'
                        END
                    FROM
                        FCT_QUOTATION_CASHFLOW FQC
                    WHERE
                        FQC.CONTRACT_ID = FCT.CONTRACT_ID
                    AND FQC.CF_ITEM IN (54,
                                        55,
                                        57,
                                        51)
                    AND FQC.WRITE_OFF_FLAG != 'FULL' ) AS IS_SETTLE
            FROM
                FCT_CONTRACT FCT,
                FCT_PROJECT_BP FPB,
                HLS_BP_MASTER HBM
            WHERE
                FCT.DATA_CLASS = 'NORMAL'
            AND FCT.PROJECT_ID = FPB.PROJECT_ID
            AND FPB.BP_ID = HBM.BP_ID
            AND FPB.CREDIT_GRANTOR_PARTY='Y'
        <!--<if test="companyId!=null">-->
        <!--AND FCT.COMPANY_ID = #{companyId}-->
        <!--</if>-->
        ) CON
    ON
        CON.CONTRACT_ID=PRCR.CONTRACT_ID
    AND CON.CONTRACT_DOC_CATEGORY=PRCR.CONTRACT_DOC_CATEGORY
    LEFT JOIN
        HLS_DOCUMENT_TYPE HDT
        ON HDT.DOCUMENT_CATEGORY=CON.CONTRACT_DOC_CATEGORY
        AND HDT.DOCUMENT_TYPE=CON.DOCUMENT_TYPE
        AND HDT.BUSINESS_TYPE=CON.BUSINESS_TYPE
    WHERE
        1=1
        <!--<if test="companyId!=null">-->
        <!--and CON.OVERDUE_TIMES>0-->
        <!--</if>-->

       <if test="collectionRuleQuery!=null and collectionRuleQuery!=''">
    AND  (CON.CONTRACT_NUMBER LIKE CONCAT(CONCAT('%',#{collectionRuleQuery}),'%')
       OR CON.BP_NAME LIKE CONCAT(CONCAT('%',#{collectionRuleQuery}),'%')
       OR CON.APPROVAL_NUMBER LIKE CONCAT(CONCAT('%',#{collectionRuleQuery}),'%')
       )
       </if>
        <if test="collectionRuleId!=null">
             AND  PRCR.COLLECTION_RULE_ID=#{collectionRuleId}
        </if>
    </select>

    <select id="selectRentCollectionContract" parameterType="com.hand.hls.plm.rc.dto.HlsCusRentCollectionRule"  resultMap="BaseResultMap">

   SELECT
        HDT.DESCRIPTION DOCUMENT_TYPE_DESC,
        CON.*
    FROM (
        SELECT
            CC.CONTRACT_NUMBER,
            CC.CONTRACT_NAME,
            PP.APPROVAL_NUMBER,
            CC.CONTRACT_ID,
            CC.DOCUMENT_TYPE,
            CC.BUSINESS_TYPE,
            CC.TENANT_ID AS BP_ID,
            HBM.BP_NAME,
            'CON_CONTRACT' AS CONTRACT_DOC_CATEGORY,
            nvl(
                  (
                  SELECT
                      MAX(CCC.TIMES)
                  FROM
                      CON_CONTRACT_CASHFLOW CCC
                  WHERE
                      CCC.CONTRACT_ID = CC.CONTRACT_ID
                  GROUP BY
                      CCC.CONTRACT_ID ),0) AS ALL_TIMES,
            (
                SELECT
                    COUNT(1)
                FROM
                    CON_CONTRACT_CASHFLOW CCC
                WHERE
                    CCC.CONTRACT_ID = CC.CONTRACT_ID
                AND CCC.CF_ITEM = 9 ) AS OVERDUE_TIMES,
            nvl(
                  (
                  SELECT
                      MAX(CCC.FINE_DAYS)
                  FROM
                      CON_CONTRACT_CASHFLOW CCC
                  WHERE
                      CCC.CONTRACT_ID = CC.CONTRACT_ID
                  AND CCC.CF_ITEM = 1
                  AND CCC.OVERDUE_STATUS = 'Y'
                  GROUP BY
                      CCC.CONTRACT_ID ),0) AS OVERDUE_DAYS,
            nvl(
                  (
                  SELECT
                      SUM(CCC.DUE_AMOUNT-CCC.RECEIVED_AMOUNT)
                  FROM
                      CON_CONTRACT_CASHFLOW CCC
                  WHERE
                      CCC.CONTRACT_ID = CC.CONTRACT_ID
                  AND CCC.CF_ITEM = 1
                  AND CCC.OVERDUE_STATUS = 'Y'
                  AND CCC.WRITE_OFF_FLAG != 'FULL'
                  GROUP BY
                      CCC.CONTRACT_ID),0) AS OVERDUE_AMOUNT,
            nvl(
                  (
                  SELECT
                      SUM(CCC.DUE_AMOUNT-CCC.RECEIVED_AMOUNT)
                  FROM
                      CON_CONTRACT_CASHFLOW CCC
                  WHERE
                      CCC.CONTRACT_ID = CC.CONTRACT_ID
                  AND CCC.CF_ITEM = 9
                  GROUP BY
                      CCC.CONTRACT_ID),0) AS OVERDUE_PENALTY,
            (
                SELECT
                    CASE
                        WHEN COUNT(1) > 0
                        THEN 'N'
                        ELSE 'Y'
                    END
                FROM
                    CON_CONTRACT_CASHFLOW CCC
                WHERE
                    CCC.CONTRACT_ID = CC.CONTRACT_ID
                AND CCC.CF_ITEM = 1
                AND CCC.OVERDUE_STATUS = 'Y'
                AND CCC.WRITE_OFF_FLAG != 'FULL' ) AS IS_SETTLE
        FROM
            CON_CONTRACT CC
        JOIN
             PRJ_PROJECT PP
         ON
             PP.PROJECT_ID=CC.PROJECT_ID
        LEFT JOIN
            HLS_BP_MASTER HBM
        ON
            CC.TENANT_ID = HBM.BP_ID
        WHERE
            CC.DATA_CLASS = 'NORMAL'
        AND (CC.CONTRACT_STATUS='INCEPT' OR
             (CC.CONTRACT_STATUS='PENDING' AND
              (
                 SELECT
                       COUNT(1)
                   FROM
                   CON_CONTRACT CT
                  WHERE CT.DATA_CLASS='CHANGE_REQ'
                    AND CT.CONTRACT_STATUS='INCEPT'
                    AND CT.REF_CONTRACT_ID=CC.CONTRACT_ID
                ) >0
             )
        )
        AND CC.COMPANY_ID = #{request.companyId}
        UNION ALL
        SELECT
            FCT.CONTRACT_NUMBER,
            FCT.CONTRACT_NAME,
            FCT.APPROVAL_NUMBER,
            FCT.CONTRACT_ID,
            FCT.DOCUMENT_TYPE,
            FCT.BUSINESS_TYPE,
            HBM.BP_ID,
            HBM.BP_NAME,
            'FCT_CONTRACT' AS CONTRACT_DOC_CATEGORY,
            nvl(
                  (
                  SELECT
                      MAX(FQC.TIMES)
                  FROM
                      FCT_QUOTATION_CASHFLOW FQC
                  WHERE
                      FQC.CONTRACT_ID = FCT.CONTRACT_ID
                  GROUP BY
                      FCT.CONTRACT_ID ), 0 ) AS ALL_TIMES,
            (
                SELECT
                    COUNT(1)
                FROM
                    FCT_QUOTATION_CASHFLOW FQC
                WHERE
                    FQC.CONTRACT_ID = FCT.CONTRACT_ID
                AND FQC.CF_ITEM = 45 ) AS OVERDUE_TIMES,
            nvl(
                  (
                  SELECT
                      MAX(FQC.FINE_DAYS)
                  FROM
                      FCT_QUOTATION_CASHFLOW FQC
                  WHERE
                      FQC.CONTRACT_ID = FCT.CONTRACT_ID
                  AND FQC.CF_ITEM IN(54,
                                     55,
                                     57,
                                     51)
                  AND FQC.OVERDUE_STATUS = 'Y'
                  GROUP BY
                      FQC.CONTRACT_ID ), 0 ) AS OVERDUE_DAYS,
            nvl(
                  (
                  SELECT
                      SUM(FQC.DUE_AMOUNT-nvl(FQC.RECEIVED_AMOUNT,0))
                  FROM
                      FCT_QUOTATION_CASHFLOW FQC
                  WHERE
                      FQC.CONTRACT_ID = FCT.CONTRACT_ID
                  AND FQC.CF_ITEM IN (54,
                                      55,
                                      57,
                                      51)
                  AND FQC.OVERDUE_STATUS = 'Y'
                  AND FQC.WRITE_OFF_FLAG != 'FULL'
                  GROUP BY
                      FQC.CONTRACT_ID ), 0 ) AS OVERDUE_AMOUNT,
            nvl(
                  (
                  SELECT
                      SUM(FQC.DUE_AMOUNT-nvl(FQC.RECEIVED_AMOUNT,0))
                  FROM
                      FCT_QUOTATION_CASHFLOW FQC
                  WHERE
                      FQC.CONTRACT_ID = FCT.CONTRACT_ID
                  AND FQC.CF_ITEM = 45
                  GROUP BY
                      FQC.CONTRACT_ID ), 0 ) AS OVERDUE_PENALTY,
            (
                SELECT
                    CASE
                        WHEN COUNT(1) > 0
                        THEN 'N'
                        ELSE 'Y'
                    END
                FROM
                    FCT_QUOTATION_CASHFLOW FQC
                WHERE
                    FQC.CONTRACT_ID = FCT.CONTRACT_ID
                AND FQC.CF_ITEM IN (54,
                                    55,
                                    57,
                                    51)
                AND FQC.OVERDUE_STATUS = 'Y'
                AND FQC.WRITE_OFF_FLAG != 'FULL' ) AS IS_SETTLE
        FROM
            FCT_CONTRACT FCT,
            FCT_PROJECT_BP FPB,
            HLS_BP_MASTER HBM
        WHERE
            FCT.DATA_CLASS = 'NORMAL'
        AND (FCT.CONTRACT_STATUS='INCEPT' OR
             (FCT.CONTRACT_STATUS='PENDING' AND
              (
                 SELECT
                        COUNT(1)
                   FROM
                   FCT_CONTRACT FT
                  WHERE FT.DATA_CLASS='CHANGE_REQ'
                    AND FT.CONTRACT_STATUS='INCEPT'
                    AND FT.REF_CONTRACT_ID=FCT.CONTRACT_ID
                ) >0
             )
        )
        AND FCT.PROJECT_ID = FPB.PROJECT_ID
        AND FPB.BP_ID = HBM.BP_ID
        AND FPB.CREDIT_GRANTOR_PARTY='Y'
        AND FCT.COMPANY_ID = #{request.companyId}
    ) CON
     LEFT JOIN
              HLS_DOCUMENT_TYPE HDT
        ON  HDT.DOCUMENT_CATEGORY=CON.CONTRACT_DOC_CATEGORY
        AND HDT.DOCUMENT_TYPE=CON.DOCUMENT_TYPE
        AND HDT.BUSINESS_TYPE=CON.BUSINESS_TYPE
    WHERE 1=1
    <if test="contractNumber!=null">
    AND CON.CONTRACT_NUMBER LIKE CONCAT(CONCAT('%',#{contractNumber}),'%')
    </if>
    <if test="contractName!=null">
    AND CON.CONTRACT_NAME LIKE CONCAT(CONCAT('%',#{contractName}),'%')
    </if>
    <if test="approvalNumber!=null">
    AND CON.APPROVAL_NUMBER LIKE CONCAT(CONCAT('%',#{approvalNumber}),'%')
    </if>
    <if test="bpName!=null">
    AND CON.BP_NAME LIKE CONCAT(CONCAT('%',#{bpName}),'%')
    </if>
    </select>

    <select id="selectContractRentCount"  parameterType="com.hand.hls.plm.rc.dto.HlsCusRentCollectionRule" resultType="int">
        SELECT
            COUNT(1)
          FROM
              PLM_RENT_COLLECTION_RULE PRCR
          WHERE
               PRCR.CONTRACT_ID=#{contractId}
            AND
               PRCR.CONTRACT_DOC_CATEGORY=#{contractDocCategory}
           <if test="collectionRuleId!=null">
             AND  PRCR.COLLECTION_RULE_ID!=#{collectionRuleId}
           </if>
    </select>

    <select id="selectOverDateContract"  resultMap="BaseResultMap">
    SELECT
        PRCR.COLLECTION_RULE_ID,
        PRCR.COLLECTION_DAYS,
        PRCR.DESCRIPTION,
        PRCR.ENABLED_FLAG,
        PRCR.LAST_COLLECTION_DATE,
        CON.*
    FROM
        PLM_RENT_COLLECTION_RULE PRCR
    JOIN
        (
            SELECT
                CC.CONTRACT_NUMBER,
                CC.CONTRACT_NAME,
                PP.APPROVAL_NUMBER,
                CC.CONTRACT_ID,
                CC.COMPANY_ID,
                FEA.EMPLOYEE_ASSIGN_ID,
                PP.PROJECT_ASSISTANT_ASSIGNS_ID,
                'CON_CONTRACT' AS CONTRACT_DOC_CATEGORY,
                 (
                      SELECT
                          MIN(CCC.DUE_DATE)
                      FROM
                          CON_CONTRACT_CASHFLOW CCC
                      WHERE
                          CCC.CONTRACT_ID = CC.CONTRACT_ID
<!--                       AND CCC.CF_ITEM = 9 -->
                       AND CCC.OVERDUE_STATUS='Y'
                       AND CCC.WRITE_OFF_FLAG!='FULL'
                    ) OVERDUE_DATE,
                 (
                      SELECT
                          MAX (CCC.FINE_DAYS)
                      FROM
                          CON_CONTRACT_CASHFLOW CCC
                      WHERE
                          CCC.CONTRACT_ID = CC.CONTRACT_ID
<!--                       AND CCC.CF_ITEM = 9 -->
                       AND CCC.OVERDUE_STATUS='Y'
                       AND CCC.WRITE_OFF_FLAG!='FULL'
                    ) OVERDUE_DAYS,
                 (
                    SELECT
                        COUNT(1)
                    FROM
                        CON_CONTRACT_CASHFLOW CCC
                    WHERE
                        CCC.CONTRACT_ID = CC.CONTRACT_ID
                    AND CCC.CF_ITEM = 9 ) AS OVERDUE_TIMES
            FROM
                CON_CONTRACT CC
            JOIN
                PRJ_PROJECT PP
              ON
                PP.PROJECT_ID=CC.PROJECT_ID
            JOIN
                FND_EMPLOYEE_ASSIGNS FEA
            ON
                FEA.EMPLOYEE_ID=PP.EMPLOYEE_ID
            AND FEA.ENABLED_FLAG='Y'
            WHERE
                CC.DATA_CLASS = 'NORMAL'
            UNION ALL
            SELECT
                FCT.CONTRACT_NUMBER,
                FCT.CONTRACT_NAME,
                FCT.APPROVAL_NUMBER,
                FCT.CONTRACT_ID,
                FCT.COMPANY_ID,
                FP.EMPLOYEE_ASSIGN_ID,
                FP.PROJECT_ASSISTANT_ASSIGNS_ID,
                'FCT_CONTRACT' AS CONTRACT_DOC_CATEGORY,
                 (
                      SELECT
                          MIN(FQC.DUE_DATE)
                      FROM
                          FCT_QUOTATION_CASHFLOW FQC
                      WHERE
                          FQC.CONTRACT_ID = FCT.CONTRACT_ID
<!--                      AND FQC.CF_ITEM = 45-->
                        AND FQC.OVERDUE_STATUS='Y'
                         AND FQC.WRITE_OFF_FLAG!='FULL'
                    ) OVERDUE_DATE,
                    (
                        SELECT
                        MAX(FQC.FINE_DAYS)
                        FROM
                        FCT_QUOTATION_CASHFLOW FQC
                        WHERE
                        FQC.CONTRACT_ID = FCT.CONTRACT_ID
                        <!--                      AND FQC.CF_ITEM = 45-->
                        AND FQC.OVERDUE_STATUS='Y'
                        AND FQC.WRITE_OFF_FLAG!='FULL'
                    ) OVERDUE_DAYS,
               (
                    SELECT
                        COUNT(1)
                    FROM
                        FCT_QUOTATION_CASHFLOW FQC
                    WHERE
                        FQC.CONTRACT_ID = FCT.CONTRACT_ID
                    AND FQC.CF_ITEM = 45 ) AS OVERDUE_TIMES
            FROM
                FCT_CONTRACT FCT
            JOIN
                FCT_PROJECT FP
             ON
                FCT.PROJECT_ID=FP.PROJECT_ID
            WHERE
                FCT.DATA_CLASS = 'NORMAL' ) CON
    ON
        CON.CONTRACT_ID=PRCR.CONTRACT_ID
    AND CON.CONTRACT_DOC_CATEGORY=PRCR.CONTRACT_DOC_CATEGORY
    WHERE
        PRCR.ENABLED_FLAG='Y'
    AND CON.OVERDUE_TIMES &gt;0
    AND PRCR.COLLECTION_DAYS IS NOT NULL
    </select>

    <update id="updateLastCollectionDate" parameterType="com.hand.hls.plm.rc.dto.HlsCusRentCollectionRule">
        UPDATE
             PLM_RENT_COLLECTION_RULE PRCR
          SET
             PRCR.LAST_COLLECTION_DATE=#{lastCollectionDate}
        WHERE
             PRCR.COLLECTION_RULE_ID=#{collectionRuleId}
    </update>


    <select id="selectOverMonthContract" resultMap="BaseResultMap">
        SELECT
            CON.*
        FROM
            (
                SELECT
                    CC.CONTRACT_NUMBER,
                    CC.CONTRACT_NAME,
                    PP.APPROVAL_NUMBER,
                    CC.CONTRACT_ID,
                    CC.COMPANY_ID,
                    'CON_CONTRACT' AS CONTRACT_DOC_CATEGORY,
                    (
                        SELECT
                            MIN(CCC.DUE_DATE)
                        FROM
                            CON_CONTRACT_CASHFLOW CCC
                        WHERE
                            CCC.CONTRACT_ID = CC.CONTRACT_ID
                        AND CCC.CF_ITEM = 9 ) OVERDUE_DATE,
                    nvl(
                          (
                          SELECT
                              MAX(CCC.FINE_DAYS)
                          FROM
                              CON_CONTRACT_CASHFLOW CCC
                          WHERE
                              CCC.CONTRACT_ID = CC.CONTRACT_ID
                          AND CCC.CF_ITEM = 9 ),0) AS COLLECTION_DAYS
                FROM
                    CON_CONTRACT CC
                JOIN
                     PRJ_PROJECT PP
                  ON
                     PP.PROJECT_ID=CC.PROJECT_ID
                WHERE
                    CC.DATA_CLASS = 'NORMAL'
                AND CC.CONTRACT_STATUS='INCEPT'
                UNION ALL
                SELECT
                    FCT.CONTRACT_NUMBER,
                    FCT.CONTRACT_NAME,
                    FCT.APPROVAL_NUMBER,
                    FCT.CONTRACT_ID,
                    FCT.COMPANY_ID,
                    'FCT_CONTRACT' AS CONTRACT_DOC_CATEGORY,
                    (
                        SELECT
                            MAX(FQC.DUE_DATE)
                        FROM
                            FCT_QUOTATION_CASHFLOW FQC
                        WHERE
                            FQC.CONTRACT_ID = FCT.CONTRACT_ID
                        AND FQC.CF_ITEM = 45 ) OVERDUE_DATE,
                    nvl(
                          (
                          SELECT
                              MAX(FQC.FINE_DAYS)
                          FROM
                              FCT_QUOTATION_CASHFLOW FQC
                          WHERE
                              FQC.CONTRACT_ID = FCT.CONTRACT_ID
                          AND FQC.CF_ITEM = 45 ),0) AS COLLECTION_DAYS
                FROM
                    FCT_CONTRACT FCT
                WHERE
                    FCT.DATA_CLASS = 'NORMAL'
                AND FCT.CONTRACT_STATUS='INCEPT' )CON
        WHERE
            CON.FINE_DAYS &gt;30
    </select>

    <select id="selectOverTimesContract"  resultMap="BaseResultMap">
       SELECT
            *
        FROM
            (
                SELECT
                    CC.CONTRACT_NUMBER,
                    CC.CONTRACT_NAME,
                    PP.APPROVAL_NUMBER,
                    CC.CONTRACT_ID,
                    CC.COMPANY_ID,
                    'CON_CONTRACT' AS CONTRACT_DOC_CATEGORY,
                    (
                        SELECT
                            COUNT(1)
                        FROM
                            CON_CONTRACT_CASHFLOW CCC
                        WHERE
                            CCC.CONTRACT_ID = CC.CONTRACT_ID
                        AND CCC.CF_ITEM = 9 ) AS OVERDUE_TIMES
                FROM
                    CON_CONTRACT CC
                JOIN
                    PRJ_PROJECT PP
                ON
                    PP.PROJECT_ID=CC.PROJECT_ID
                WHERE
                    CC.DATA_CLASS = 'NORMAL'
                AND (
                        CC.CONTRACT_STATUS='INCEPT'
                    OR  (
                            CC.CONTRACT_STATUS='PENDING'
                        AND (
                                SELECT
                                    COUNT(1)
                                FROM
                                    CON_CONTRACT CT
                                WHERE
                                    CT.DATA_CLASS='CHANGE_REQ'
                                AND CT.CONTRACT_STATUS='INCEPT'
                                AND CT.REF_CONTRACT_ID=CC.CONTRACT_ID ) >0 ) )
                AND CC.CONTRACT_ID NOT IN
                    (
                        SELECT
                            R.CONTRACT_ID
                        FROM
                            PLM_RENT_COLLECTION_RULE R
                        WHERE
                            R.CONTRACT_DOC_CATEGORY='CON_CONTRACT'
                        AND R.ENABLED_FLAG='Y')
                UNION ALL
                SELECT
                    FCT.CONTRACT_NUMBER,
                    FCT.CONTRACT_NAME,
                    FCT.APPROVAL_NUMBER,
                    FCT.CONTRACT_ID,
                    FCT.COMPANY_ID,
                    'FCT_CONTRACT' AS CONTRACT_DOC_CATEGORY,
                    (
                        SELECT
                            COUNT(1)
                        FROM
                            FCT_QUOTATION_CASHFLOW FQC
                        WHERE
                            FQC.CONTRACT_ID = FCT.CONTRACT_ID
                        AND FQC.CF_ITEM = 45 ) AS OVERDUE_TIMES
                FROM
                    FCT_CONTRACT FCT
                WHERE
                    FCT.DATA_CLASS = 'NORMAL'
                AND (
                        FCT.CONTRACT_STATUS='INCEPT'
                    OR  (
                            FCT.CONTRACT_STATUS='PENDING'
                        AND (
                                SELECT
                                    COUNT(1)
                                FROM
                                    FCT_CONTRACT FT
                                WHERE
                                    FT.DATA_CLASS='CHANGE_REQ'
                                AND FT.CONTRACT_STATUS='INCEPT'
                                AND FT.REF_CONTRACT_ID=FCT.CONTRACT_ID ) >0 ) )
                AND FCT.CONTRACT_ID NOT IN
                    (
                        SELECT
                            R.CONTRACT_ID
                        FROM
                            PLM_RENT_COLLECTION_RULE R
                        WHERE
                            R.CONTRACT_DOC_CATEGORY='FCT_CONTRACT'
                        AND R.ENABLED_FLAG='Y')) CON
        WHERE
            CON.OVERDUE_TIMES>0
    </select>
</mapper>
