<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.insure.mapper.HlsCusPrjInsuranceClaimsMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.insure.dto.HlsCusPrjInsuranceClaims">
        <result column="INSURANCE_CLAIMS_ID" property="insuranceClaimsId" jdbcType="DECIMAL"/>
        <result column="INSURE_ID" property="insureId" jdbcType="DECIMAL"/>
        <result column="CLAIMS_NUMBER" property="claimsNumber" jdbcType="VARCHAR"/>
        <result column="CLAIMS_PERSON" property="claimsPerson" jdbcType="VARCHAR"/>
        <result column="INSURANCE_DATE" property="insuranceDate" jdbcType="DATE"/>
        <result column="INSURANCE_PLACE" property="insurancePlace" jdbcType="VARCHAR"/>
        <result column="OPERATE_PERSON" property="operatePerson" jdbcType="VARCHAR"/>
        <result column="CLAIMS_DATE" property="claimsDate" jdbcType="DATE"/>
        <result column="CLAIMS_AMOUNT" property="claimsAmount" jdbcType="DECIMAL"/>
        <result column="CLAIMS_DESCRIPTION" property="claimsDescription" jdbcType="VARCHAR"/>
        <result column="CLAIMS_METHOD" property="claimsMethod" jdbcType="VARCHAR"/>
        <result column="CLAIMS_REASON" property="claimsReason" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>


        <result column="upload_person" property="uploadPerson" jdbcType="VARCHAR"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="file_size" property="fileSize" jdbcType="DECIMAL"/>
        <result column="upload_date" property="uploadDate" jdbcType="VARCHAR"/>
        <result column="file_Id" property="fileId"/>
        <result column="file_type" property="fileType"/>
        <result column="source_type" property="sourceType"/>
        <result column="source_key" property="sourceKey"/>
        <result column="attachment_id" property="attachmentId" jdbcType="DECIMAL"/>
        <result column="source_id" property="sourceId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="queryAllFile" resultMap="BaseResultMap" parameterType="com.hand.hls.insure.dto.HlsCusPrjInsuranceClaims">
        select * from(
            select pic.insurance_claims_id as insurance_claims_id,
            pic.claims_number as claims_number,
            sa.attachment_id as attachment_id,
            sf.file_id as file_id,
            sf.file_name as file_name,
            sf.file_size as file_size,
            sf.description,
            (select su.description
            from sys_user su
            where sf.last_updated_by = su.user_id) as upload_person,
            sf.last_update_date as uploadDate,
            sa.source_key
            from PRJ_INSURANCE_CLAIMS pic, sys_attachment sa, sys_file sf
            where pic.insurance_claims_id = sa.source_key
            and sa.source_type = 'PRJ_INSURANCE_CLAIMS'
            and sa.attachment_id = sf.attachment_id
        <if test="insuranceClaimsId != null and insuranceClaimsId != ''">
            and pic.INSURANCE_CLAIMS_ID = #{insuranceClaimsId}
        </if>
        ) qf
        order by qf.uploadDate desc
    </select>

</mapper>