<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cap.mapper.HlsCusCapFinancingPlanMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cap.dto.HlsCusCapFinancingPlan"
               extends="com.hand.hap.mapper.StdMapper.STD">
        <result column="plan_id" property="planId" jdbcType="DECIMAL"/>
        <result column="data_class" property="dataClass" jdbcType="VARCHAR"/>
        <result column="change_req_id" property="changeReqId" jdbcType="DECIMAL"/>
        <result column="ref_plan_id" property="refPlanId" jdbcType="DECIMAL"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="plan_name" property="planName" jdbcType="VARCHAR"/>
        <result column="plan_number" property="planNumber" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="period" property="period" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="DECIMAL"/>
        <result column="apply_amount" property="applyAmount" jdbcType="DECIMAL"/>
        <result column="confirm_status" property="confirmStatus" jdbcType="VARCHAR"/>
        <result column="plan_status" property="planStatus" jdbcType="VARCHAR"/>
        <result column="confirm_status_n" property="confirmStatusN" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>

        <result column="plan_info" property="planInfo" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="rest_amount" property="restAmount" jdbcType="DECIMAL"/>
        <result column="finance_method" property="financeMethod"/>
        <result column="finance_method_n" property="financeMethodN"/>
        <result column="total_apply_amount" property="totalApplyAmount"/>
        <result column="currency" property="currency"/>
        <result column="currency_n" property="currencyN"/>
        <result column="plan_status_n" property="planStatusN"/>
        <result column="unspecific_investment" property="unspecificInvestment"/>
        <result column="exist_investment" property="existInvestment"/>
        <result column="new_investment" property="newInvestment"/>
        <result column="creation_date" property="creationDate"/>
        <result column="apply_amount_percent" property="applyAmountPercent"/>
        <result column="withdraw_number" property="withdrawNumber"/>

        <result column="contract_name" property="contractName"/>
        <result column="major_contract_number" property="majorContractNumber"/>
        <result column="contract_number" property="contractNumber"/>
        <result column="bp_name" property="bpName"/>
        <result column="company_short_name" property="companyShortName"/>
        <result column="finance_amount" property="financeAmount"/>
        <result column="contract_id" property="contractId"/>
        <result column="withdraw_id" property="withdrawId"/>
        <result column="withdraw_plan_id" property="withdrawPlanId"/>

        <!--<result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />-->
    </resultMap>
    <sql id="sumNo" >
            (select nvl(sum(lcw.due_amount),0)
             from cap_financing_plan_ln pl,
                  lon_contract_withdraw lcw
             where lcw.finance_plan_line_id = pl.finance_plan_line_id
               and pl.plan_id = cfp.plan_id
               and lcw.data_class = 'NORMAL')
    </sql>

    <select id="queryFinancingPlan" resultMap="BaseResultMap">
        select tab.* from(
        select
        ( CASE WHEN <include refid="sumNo"/>=0 THEN '未融资'
        WHEN cfp.apply_amount - <include refid="sumNo"/>&gt;0 THEN '部分融资'
        ELSE '完全融资'  END) AS planStatus,
        cfp.*,
        (select sc.meaning
        from sys_code_value_b_v sc
        where sc.code = 'CHS.CURRENCY_TYPE' and cfp.currency = sc.code_value) currency_n,
        (select sc.meaning
        from sys_code_value_b_v sc
        where sc.code = 'FIN.FINANCE_METHOD' and cfp.finance_method = sc.code_value) finance_method_n,
        (select sc.meaning
        from sys_code_value_b_v sc
        where sc.code = 'CAP.CAP_CONFIRM_STATUS' and cfp.confirm_status = sc.code_value) confirm_status_n,
        (
        cfp.apply_amount - <include refid="sumNo"/>
        )rest_amount,
        (
        select su.description
        from sys_user su
        where su.user_id = cfp.user_id
        )user_name,
        (
        select company_short_name
        from fnd_company fc
        where fc.company_id = cfp.company_id
        )company_name
        from cap_financing_plan cfp
        )tab
        where 1 = 1
        <if test="lonContract ==null ">
            and tab.company_id = #{request.companyId}
        </if>
        <if test="lonContract !=null ">
            and tab.company_id = #{companyId}
        </if>
        <if test="planId !=null ">
            and tab.plan_id = #{planId}
        </if>
        <if test="planInfo!=null">
            and (tab.plan_name like '%'||#{planInfo}||'%'
            or tab.plan_number like '%'||#{planInfo}||'%')
        </if>
        <if test="planName!=null">
            and tab.plan_name like '%'||#{planInfo}||'%'
        </if>
        <if test="planNumber!=null">
            and tab.plan_number like '%'||#{planInfo}||'%'
        </if>
        <if test="period !=null ">
            and tab.period = #{period}
        </if>
        <if test="confirmStatus !=null ">
            and tab.confirm_status = #{confirmStatus}
        </if>
        <if test="periodArray !=null and periodArray !=''">
            and tab.period in
            <foreach item="item" index="index" collection="periodArray" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="applyAmount !=null ">
            and tab.apply_amount = #{applyAmount}
        </if>
        <if test="isRest !=null and isRest == 'UNREST'">
            and tab.rest_amount = 0
        </if>
        <if test="isRest !=null and isRest == 'REST'">
            and tab.rest_amount &gt; 0
        </if>
        <if test="creationDateStart!=null">
            AND tab.creation_date &gt;= #{creationDateStart}
        </if>
        <if test="creationDateEnd!=null">
            AND tab.creation_date &lt;= #{creationDateEnd}
        </if>
        <if test="planStatus!=null ">
            AND planStatus=#{planStatus}
        </if>
        order by tab.creation_date desc
    </select>


    <resultMap id="finPieChartQueryMap" type="java.util.Map">
        <result column="confirm_status" property="confirmStatus"/>
        <result column="plan_count" property="planCount"/>
        <result column="plan_count_percent" property="planCountPercent"/>
        <result column="plan_sum" property="planSum"/>
        <result column="currentMonthAppend" property="currentMonthAppend"/>
        <result column="plan_status" property="planStatus"/>
    </resultMap>
    <select id="queryFinancingPlanChart" parameterType="com.hand.hls.cap.dto.HlsCusCapFinancingPlan"
            resultMap="finPieChartQueryMap">
        SELECT cfp.confirm_status,
               COUNT(cfp.plan_id) plan_count,
               COUNT(cfp.plan_id) / (SELECT COUNT(*) FROM cap_financing_plan c) * 100 plan_count_percent,
               (SELECT COUNT(*) FROM cap_financing_plan a) plan_sum,
               (SELECT COUNT(p.plan_id)
                FROM cap_financing_plan p
                WHERE p.creation_date > (CURDATE() - DAY(CURDATE()) + 1)) AS currentMonthAppend,
               SUM(nvl(apply_amount,0)) apply_amount,
              ROUND((SUM(nvl(apply_amount,0))/(SELECT SUM(nvl(apply_amount,0)) FROM cap_financing_plan)),4)*100 ||'%' apply_amount_percent
        FROM cap_financing_plan cfp
        where cfp.data_class='NORMAL'
        GROUP BY cfp.confirm_status
    </select>


    <select id="queryFinancingPlanChartNew" parameterType="com.hand.hls.cap.dto.HlsCusCapFinancingPlan"
            resultMap="finPieChartQueryMap">
         select
         PLAN_STATUS,
         COUNT(temp.plan_id) plan_count,
         COUNT(temp.plan_id) / (SELECT COUNT(*) FROM cap_financing_plan c) * 100 plan_count_percent,
        (SELECT COUNT(*) FROM cap_financing_plan a) plan_sum,
        (SELECT COUNT(p.plan_id) FROM cap_financing_plan p
          WHERE p.creation_date > (CURDATE() - DAY(CURDATE()) + 1)) AS currentMonthAppend,
        SUM(nvl(temp.apply_amount,0)) apply_amount,
       ROUND((SUM(nvl(temp.apply_amount,0))/(SELECT SUM(nvl(temp.apply_amount,0)) FROM cap_financing_plan)),4)*100 ||'%' apply_amount_percent
        from
             (
                SELECT
                ( CASE WHEN <include refid="sumNo"/>=0 THEN 'NONE'
                WHEN cfp.apply_amount - <include refid="sumNo"/>&gt;0 THEN 'NOT_ALL'
                ELSE 'ALL'  END) plan_status,
                cfp.*
                FROM cap_financing_plan cfp
                where cfp.data_class='NORMAL'
             ) temp
        GROUP BY  plan_status
    </select>

    <resultMap id="lonPlanMap" type="java.util.Map">
        <result column="withdraw_id" property="withdrawId"/>
        <result column="withdraw_plan_id" property="withdrawPlanId"/>
        <result column="contract_id" property="contractId"/>
        <result column="contract_name" property="contractName"/>
        <result column="major_contract_number" property="majorContractNumber"/>
        <result column="contract_number" property="contractNumber"/>
        <result column="bp_name" property="bpName"/>
        <result column="company_short_name" property="companyShortName"/>
        <result column="document_type" property="documentType"/>
        <result column="finance_amount" property="financeAmount"/>
        <result column="withdraw_number" property="withdrawNumber"/>
    </resultMap>
    <select id="queryLonFinancingPlan" parameterType="com.hand.hls.cap.dto.HlsCusCapFinancingPlan"
            resultMap="BaseResultMap">
        SELECT p.withdraw_id,
        p.withdraw_plan_id,
        lc.contract_id,
        lc.contract_name,
        lc.major_contract_number,
        lc.contract_number,
        p.withdraw_number,
        hbm.bp_name,
        fc.company_short_name,
        hdt.description          document_type,
        p.due_amount             finance_amount
        FROM lon_contract_withdraw p, lon_contract lc
        LEFT JOIN hls_bp_master hbm
        ON hbm.bp_id = lc.credit_bp_id
        LEFT JOIN fnd_company fc
        ON lc.lon_company_id = fc.company_id
        LEFT JOIN hls_document_type hdt
        ON hdt.document_type = lc.document_type
        AND hdt.document_category = 'LON_CONTRACT'
        WHERE p.contract_id = lc.contract_id
        AND p.data_class = 'NORMAL'
        and p.finance_plan_line_id = #{financePlanLineId}
    </select>

</mapper>
