<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cap.mapper.HlsCusCapitalInvestmentPlanLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cap.dto.HlsCusCapitalInvestmentPlanLn">
        <result column="plan_line_id" property="planLineId" jdbcType="DECIMAL"/>
        <result column="plan_head_id" property="planHeadId" jdbcType="DECIMAL"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="execute_status" property="executeStatus" jdbcType="VARCHAR"/>
        <result column="pay_date" property="payDate" jdbcType="DATE"/>
        <result column="final_pay_date" property="finalPayDate" jdbcType="DATE"/>
        <result column="new_or_stock" property="newOrStock" jdbcType="VARCHAR"/>
        <result column="new_or_stock_desc" property="newOrStockDesc" jdbcType="VARCHAR"/>
        <result column="new_or_stock_n" property="newOrStockN" jdbcType="VARCHAR"/>
        <result column="apply_investment_amount" property="applyInvestmentAmount" jdbcType="DECIMAL"/>
        <result column="investment_rate" property="investmentRate" jdbcType="VARCHAR"/>
        <result column="actual_investment_amount" property="actualInvestmentAmount" jdbcType="DECIMAL"/>
        <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="last_actual_pay_date" property="lastActualPayDate"/>

        <result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="credit_amount" property="creditAmount" jdbcType="DECIMAL"/>
        <result column="seq" property="seq" jdbcType="VARCHAR"/>
        <result column="credit_plan" property="creditPlan" jdbcType="VARCHAR"/>
        <result column="lease_term" property="leaseTerm" jdbcType="VARCHAR"/>
        <result column="contract_lease_term" property="contractLeaseTerm" jdbcType="VARCHAR"/>
        <result column="contract_investment_rate" property="contractInvestmentRate" jdbcType="VARCHAR"/>
        <result column="project_manager" property="projectManager" jdbcType="VARCHAR"/>
        <result column="seq" property="seq" jdbcType="VARCHAR"/>

        <result column="date_from" property="dateFrom" jdbcType="DATE"/>
        <result column="date_to" property="dateTo" jdbcType="DATE"/>
        <result column="plan_number" property="planNumber" jdbcType="VARCHAR"/>
        <result column="plan_name" property="planName" jdbcType="VARCHAR"/>
        <result column="plan_amount" property="planAmount"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="hls_business_type" property="hlsBusinessType" jdbcType="VARCHAR"/>
        <result column="business_type_desc" property="businessTypeDesc" jdbcType="VARCHAR"/>
        <result column="hls_document_type" property="hlsDocumentType" jdbcType="VARCHAR"/>
        <result column="valid_from" property="validFrom" jdbcType="DATE"/>
        <result column="valid_to" property="validTo" jdbcType="DATE"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="plan_cycle" property="planCycle" jdbcType="VARCHAR"/>
        <result column="plan_cycle_desc" property="planCycleDesc" jdbcType="VARCHAR"/>
        <result column="real_pay_date" property="realPayDate" jdbcType="DATE"/>
        <result column="real_amount" property="realAmount" jdbcType="DECIMAL"/>
        <result column="execute_degree" property="executeDegree" jdbcType="DECIMAL"/>
        <result column="pay_date_desc" property="payDateDesc" jdbcType="VARCHAR"/>
        <result column="execute_status_desc" property="executeStatusDesc" jdbcType="VARCHAR"/>
        <result column="credit_plan" property="creditPlan" jdbcType="VARCHAR"/>
        <result column="payment_condition" property="paymentCondition" jdbcType="VARCHAR"/>
        <result column="manage_condition" property="manageCondition" jdbcType="VARCHAR"/>
        <result column="seller_or_tenant" property="sellerOrTenant"/>
        <result column="buyer_or_tenant_sec" property="buyerOrTenantSec"/>
        <result column="lease_start_date" property="leaseStartDate"/>
        <result column="lease_end_date" property="leaseEndDate"/>
        <result column="finance_amount" property="financeAmount"/>
        <result column="lease_item_amount" property="leaseItemAmount"/>
        <result column="prj_type" property="prjType"/>
        <result column="project_status_desc" property="projectStatusDesc"/>
        <result column="currency_name" property="currencyName"/>
        <result column="unit_name" property="unitName"/>
        <result column="approve_date" property="approveDate"/>
        <result column="plan_status" property="planStatus"/>
        <result column="approve_status" property="approveStatus"/>
        <result column="delay_reason" property="delayReason"/>
        <result column="cancel_reason" property="cancelReason"/>
        <result column="last_investment_date" property="lastInvestmentDate"/>
        <result column="project_status" property="projectStatus"/>
        <result column="data_class" property="dataClass"/>
        <result column="data_type" property="dataType"/>
        <result column="ref_flag" property="refFlag"/>

        <result column="project_id_n" property="projectIdN"/>
        <result column="business_type_n" property="businessTypeN"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="tenant_id_n" property="tenantIdN"/>
        <result column="currency" property="currency"/>
        <result column="project_status_n" property="projectStatusN"/>
    </resultMap>

    <select id="planLnQuery" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT tab.*
        FROM (
        SELECT ln.*,
        nvl(ifnull2(finance_plan_id,
        (SELECT 'Y'
        FROM dual
        WHERE EXISTS (SELECT 1
        FROM cap_financing_plan
        WHERE plan_id = ln.finance_plan_id
        AND confirm_status != 'CANCEL')),
        'N'),
        'N') ref_flag,
        (SELECT MAX(ccc.full_write_off_date)
        FROM con_contract cc,con_contract_cashflow ccc
        WHERE cc.contract_id=ccc.contract_id
        AND ccc.cf_item=0
        AND cc.plan_ln_id=ln.plan_line_id) last_investment_date,
        hd.plan_name,
        hd.plan_number,
        hd.approve_date,
        hd.approve_status,
        hd.plan_status,
        hd.data_class,
        hd.apply_investment_amount_sum,
        (
        SELECT
        sys.description
        FROM
        sys_user sys
        WHERE
        sys.USER_ID = hd.user_id
        ) AS user_name,
        (SELECT fou.unit_name FROM fnd_org_unit fou WHERE fou.unit_id = hd.unit_id) as unit_name,
        pp.project_number project_id_n,
        pp.project_name,
        pp.approval_amount credit_amount,
        pp.credit_plan,
        pp.payment_condition,
        pp.manage_condition,
        v1.meaning execute_status_desc,
        v2.meaning new_or_stock_n,
        (select currency_name from fnd_currency fc,prj_quotation pq where currency_code = pq.currency and
        pq.source_document_category = 'PRJ_PROJECT' and pq.source_document_id = pp.project_id) currency_name,
        (select description from hls_document_status
        where document_category = 'PRJ_PROJECT'
        and status_code = pp.project_status) project_status_n,
        (SELECT description
        FROM hls_document_type
        WHERE document_category = 'PRJ_PROJECT'
        AND business_type = pp.business_type
        AND enabled_flag = 'Y') business_type_n,
        (SELECT MIN(pc.due_date)
        FROM prj_quotation_cashflow pc, prj_quotation pq
        WHERE pc.quotation_id = pq.quotation_id
        AND pq.source_document_id = pp.project_id
        AND pq.source_document_category = 'PRJ_PROJECT'
        AND pq.data_class = 'PRJ_PROJECT_INVEST'
        ) lease_start_date,
        (SELECT MAX(pc.due_date)
        FROM prj_quotation_cashflow pc, prj_quotation pq
        WHERE pc.quotation_id = pq.quotation_id
        AND pq.source_document_id = pp.project_id
        AND pq.source_document_category = 'PRJ_PROJECT'
        AND pq.data_class = 'PRJ_PROJECT_INVEST'
        ) lease_end_date,
        (SELECT lease_item_amount
        FROM prj_quotation
        WHERE source_document_id = pp.project_id
        AND source_document_category = 'PRJ_PROJECT'
        AND data_class = 'PRJ_PROJECT_INVEST') finance_amount,
        (SELECT  wm_concat(hbm.bp_name)
        FROM hls_bp_master hbm, prj_project_bp pb
        WHERE hbm.bp_id = pb.bp_id
        AND pb.project_id = pp.project_id
        AND pb.bp_categroy = 'PRJ_PROJECT'
        AND pb.bp_type = 'TENANT') seller_or_tenant,
        (SELECT  wm_concat(hbm.bp_name )
        FROM hls_bp_master hbm, prj_project_bp pb
        WHERE hbm.bp_id = pb.bp_id
        AND pb.project_id = pp.project_id
        AND pb.bp_categroy = 'PRJ_PROJECT'
        AND pb.bp_type = 'TENANT_SEC') buyer_or_tenant_sec,
        (SELECT lease_item_amount
        FROM prj_quotation
        WHERE source_document_id = pp.project_id
        AND source_document_category = 'PRJ_PROJECT'
        AND data_class = 'PRJ_PROJECT_INVEST') lease_item_amount
        FROM prj_project pp,
        cap_capital_invest_plan_hd hd,
        cap_capital_invest_plan_ln ln
        LEFT JOIN (SELECT vb.*
        FROM sys_code_b b, sys_code_value_b vb
        WHERE b.CODE_ID = vb.CODE_ID
        AND b.code = 'CAP.EXECUTE_STATUS') v1
        ON v1.value = ln.execute_status
        LEFT JOIN (SELECT vb.*
        FROM sys_code_b b, sys_code_value_b vb
        WHERE b.CODE_ID = vb.CODE_ID
        AND b.code = 'CAP.NEW_OR_STOCK') v2
        ON v2.value = ln.new_or_stock
        WHERE pp.project_id = ln.project_id
        AND ln.plan_head_id = hd.plan_head_id
        AND ln.company_id = pp.company_id) tab
        where 1=1
        <if test="dataClass!=null">
            and tab.data_class = #{dataClass}
        </if>
        <if test="dataType!=null">
            and tab.data_type = #{dataType}
        </if>

        <if test="companyId==null">
            and tab.company_id = #{request.companyId}
        </if>
        <if test="companyId!=null">
            and tab.company_id = #{companyId}
        </if>
        <if test="planHeadId!=null">
            and tab.plan_head_id = #{planHeadId}
        </if>
        <if test="executeStatus!=null">
            and tab.execute_status != #{executeStatus}
        </if>
        <if test="forPlan!=null and forPlan=='Y'.toString()">
            and tab.execute_status not in ('EXECUTED','CANCEL')
            and tab.data_class = 'NORMAL'
            AND NOT EXISTS  (select plan_id from cap_financing_plan where confirm_status != 'CANCEL' AND plan_id = tab.finance_plan_id)
        </if>
        <if test="planLineId!=null">
            and tab.plan_line_id = #{planLineId}
        </if>
        <if test='projectId!=null and companyId==248'>
            and tab.project_id = (select ref_project_id from prj_project where project_id = (select project_id from
            con_contract where contract_id = #{projectId}))
        </if>

        <if test="projectName!=null">
            and tab.project_name like concat('%',concat(#{projectName},'%'))
        </if>
        <if test="planName!=null">
            and tab.plan_name like concat('%',concat(#{planName},'%'))
        </if>
        <if test="financePlanId!=null">
            and tab.finance_plan_id = #{financePlanId}
        </if>
        <if test="approveStatus!=null">
            and tab.approve_status = #{approveStatus}
        </if>
        <if test="planInfo !=null and planInfo !='' ">
            and ((tab.plan_name like concat('%',concat(#{planInfo},'%')) or (tab.plan_number like
            concat('%',concat(#{planInfo},'%'))))
            and tab.approve_status = 'APPROVED'
        </if>
        <if test="executeStatusStr !=null and executeStatusStr !=''">
            and tab.execute_status in
            <foreach item="item" index="index" collection="executeStatusStr" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="applyAmountFrom!=null">
            and tab.applyInvestmentAmount >= #{applyAmountFrom}
        </if>
        <if test="applyAmountTo">
            and tab.applyInvestmentAmount &lt;= #{applyAmountTo}
        </if>
        <if test="actualAmountFrom!=null">
            and tab.actualInvestmentAmount >= #{actualAmountFrom}
        </if>
        <if test="actualAmountTo!=null">
            and tab.actualInvestmentAmount &lt;= #{actualAmountTo}
        </if>
        <if test="unitName!=null">
            and tab.unit_name like concat('%',concat(#{unitName},'%'))
        </if>
        <if test="userName!=null">
            and tab.user_name like concat('%',concat(#{userName},'%'))
        </if>
        <if test="payDateFrom!=null">
            and tab.pay_date >= #{payDateFrom}
        </if>
        <if test="payDateTo!=null">
            and tab.pay_date &lt;= #{payDateTo}
        </if>
        <if test="actualPayDateFrom!=null">
            and tab.last_investment_date >= #{actualPayDateFrom}
        </if>
        <if test="actualPayDateTo!=null">
            and tab.last_investment_date &lt;= #{actualPayDateTo}
        </if>
    </select>

    <update id="updateInvestmentAmount">
        UPDATE
        CAP_CAPITAL_INVESTMENT_PLAN_LN PL
        SET
        PL.ACTUAL_INVESTMENT_AMOUNT=
        CASE
        WHEN PL.PRJ_TYPE='PRJ_PROJECT'
        THEN ifnull (
        (
        SELECT
        SUM(CASH.RECEIVED_AMOUNT)
        FROM
        CON_CONTRACT CON
        JOIN
        CON_CONTRACT_CASHFLOW CASH
        ON
        CON.CONTRACT_ID=CASH.CONTRACT_ID
        AND CASH.CF_ITEM=0
        WHERE
        PL.PLAN_LINE_ID=CON.PLAN_LN_ID),0)
        ELSE ifnull (
        (
        SELECT
        SUM(CASH.RECEIVED_AMOUNT)
        FROM
        FCT_CONTRACT CON
        JOIN
        FCT_QUOTATION_CASHFLOW CASH
        ON
        CON.CONTRACT_ID=CASH.CONTRACT_ID
        AND CASH.CF_ITEM=40
        WHERE
        PL.PLAN_LINE_ID=CON.PLAN_LN_ID),0)
        END ,
        PL.EXECUTE_STATUS=(
        CASE
        WHEN PL.EXECUTE_STATUS='CANCEL'
        OR  PL.EXECUTE_STATUS='DELAY'
        THEN PL.EXECUTE_STATUS
        ELSE (
        CASE
        WHEN PL.APPLY_INVESTMENT_AMOUNT= (
        CASE
        WHEN PL.PRJ_TYPE='PRJ_PROJECT'
        THEN ifnull (
        (
        SELECT
        SUM(CASH.RECEIVED_AMOUNT)
        FROM
        CON_CONTRACT CON
        JOIN
        CON_CONTRACT_CASHFLOW CASH
        ON
        CON.CONTRACT_ID=CASH.CONTRACT_ID
        AND CASH.CF_ITEM=0
        WHERE
        PL.PLAN_LINE_ID=CON.PLAN_LN_ID),0)
        ELSE ifnull (
        (
        SELECT
        SUM(CASH.RECEIVED_AMOUNT)
        FROM
        FCT_CONTRACT CON
        JOIN
        FCT_QUOTATION_CASHFLOW CASH
        ON
        CON.CONTRACT_ID=CASH.CONTRACT_ID
        AND CASH.CF_ITEM=40
        WHERE
        PL.PLAN_LINE_ID=CON.PLAN_LN_ID),0)
        END)
        THEN 'EXECUTED'
        WHEN (
        CASE
        WHEN PL.PRJ_TYPE='PRJ_PROJECT'
        THEN ifnull (
        (
        SELECT
        SUM(CASH.RECEIVED_AMOUNT)
        FROM
        CON_CONTRACT CON
        JOIN
        CON_CONTRACT_CASHFLOW CASH
        ON
        CON.CONTRACT_ID=CASH.CONTRACT_ID
        AND CASH.CF_ITEM=0
        WHERE
        PL.PLAN_LINE_ID=CON.PLAN_LN_ID),0)
        ELSE ifnull (
        (
        SELECT
        SUM(CASH.RECEIVED_AMOUNT)
        FROM
        FCT_CONTRACT CON
        JOIN
        FCT_QUOTATION_CASHFLOW CASH
        ON
        CON.CONTRACT_ID=CASH.CONTRACT_ID
        AND CASH.CF_ITEM=40
        WHERE
        PL.PLAN_LINE_ID=CON.PLAN_LN_ID),0)
        END) =0
        THEN 'UNEXECUTED'
        ELSE 'PARTIAL_EXECUTED'
        END )
        END )
        WHERE
        PL.PLAN_LINE_ID =#{planLineId}
    </update>

    <update id="updateInvestmentAmountSum">
        UPDATE
        CAP_CAPITAL_INVESTMENT_PLAN_HD HD
        SET
        HD.INVESTED_AMOUNT=
        (
        SELECT
        nvl( SUM(LN.ACTUAL_INVESTMENT_AMOUNT),0)
        FROM
        CAP_CAPITAL_INVESTMENT_PLAN_LN LN
        WHERE
        LN.PLAN_HEAD_ID=HD.PLAN_HEAD_ID
        AND LN.EXECUTE_STATUS!='CANCEL'),
        HD.APPLY_INVESTMENT_AMOUNT_SUM=
        (
        SELECT
        nvl( SUM(LN.APPLY_INVESTMENT_AMOUNT),0)
        FROM
        CAP_CAPITAL_INVESTMENT_PLAN_LN LN
        WHERE
        LN.PLAN_HEAD_ID=HD.PLAN_HEAD_ID
        AND LN.EXECUTE_STATUS!='CANCEL'),
        HD.PLAN_STATUS=(
        CASE
        WHEN (
        SELECT
        nvl( SUM(LN.ACTUAL_INVESTMENT_AMOUNT),0)
        FROM
        CAP_CAPITAL_INVESTMENT_PLAN_LN LN
        WHERE
        LN.PLAN_HEAD_ID=HD.PLAN_HEAD_ID
        AND LN.EXECUTE_STATUS!='CANCEL')=0
        THEN 'NOT'
        WHEN (
        SELECT
        nvl( SUM(LN.ACTUAL_INVESTMENT_AMOUNT),0)
        FROM
        CAP_CAPITAL_INVESTMENT_PLAN_LN LN
        WHERE
        LN.PLAN_HEAD_ID=HD.PLAN_HEAD_ID
        AND LN.EXECUTE_STATUS!='CANCEL')&lt;
        (
        SELECT
        nvl( SUM(LN.APPLY_INVESTMENT_AMOUNT),0)
        FROM
        CAP_CAPITAL_INVESTMENT_PLAN_LN LN
        WHERE
        LN.PLAN_HEAD_ID=HD.PLAN_HEAD_ID
        AND LN.EXECUTE_STATUS!='CANCEL')
        THEN 'PARTIAL'
        ELSE 'FULL'
        END )
        <!--  ,
          HD.PLAN_NAME=
              (
                  SELECT
                      FOU.UNIT_NAME
                  FROM
                      FND_ORG_UNIT FOU
                  WHERE
                      HD.UNIT_ID=FOU.UNIT_ID ) ||
            (
              SELECT
                  nvl( SUM(LN.APPLY_INVESTMENT_AMOUNT),0)
              FROM
                  CAP_CAPITAL_INVESTMENT_PLAN_LN LN
              WHERE
                  LN.PLAN_HEAD_ID=HD.PLAN_HEAD_ID
              AND LN.EXECUTE_STATUS!='CANCEL')-->
        WHERE
        1=1
        <if test="planHeadId!=null">
            AND HD.PLAN_HEAD_ID=#{planHeadId}
        </if>
        <if test="planLineId!=null">
            AND HD.PLAN_HEAD_ID=
            (
            SELECT
            LN.PLAN_HEAD_ID
            FROM
            CAP_CAPITAL_INVESTMENT_PLAN_LN LN
            WHERE
            LN.PLAN_LINE_ID=#{planLineId})
        </if>
    </update>
</mapper>
