<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.app.user.mapper.HlsCusVersionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.app.user.dto.HlsCusVersion">
        <result column="VERSION_ID" property="versionId" jdbcType="DECIMAL" />
        <result column="APP_VERSION" property="appVersion" jdbcType="VARCHAR" />
        <result column="VERSION_URL" property="versionUrl" jdbcType="VARCHAR" />
        <result column="PLATFORM" property="platform" jdbcType="VARCHAR" />
        <result column="UPDATE_CONTENT" property="updateContent" jdbcType="VARCHAR" />
        <result column="BIG_VERSION" property="bigVersion" jdbcType="VARCHAR" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
    </resultMap>

    <update id="updateAppVersion">
       UPDATE app_version t SET t.app_version =  #{appVersion,jdbcType=DECIMAL}

    </update>

</mapper>