<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.mapper.HlsCusShipsMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.dto.HlsCusShips">
        <result column="PLI_CONTRACT_ID" property="pliContractId" jdbcType="DECIMAL" />
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="INFO_ID" property="infoId" jdbcType="DECIMAL" />
        <result column="RUNNING_CONDITION" property="runningCondition" jdbcType="VARCHAR" />
        <result column="JOB_SITE" property="jobSite" jdbcType="VARCHAR" />
        <result column="MAIN_CUSTOMER" property="mainCustomer" jdbcType="VARCHAR" />
        <result column="LEASE_ITEM_NAME" property="leaseItemName" jdbcType="VARCHAR" />
        <result column="APPROVAL_NUMBER" property="approvalNumber" jdbcType="VARCHAR" />
        <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR" />
        <result column="POSTLOAN_INSPECTION_ID" property="postloanInspectionId" jdbcType="DECIMAL" />
    </resultMap>
    <select id="selectShipInfoIdsByProjectId" resultType="java.lang.Float">
        select
        PROJECT_LEASE_ITEM_ID
        from PRJ_PROJECT_LEASE_ITEM
        <where>
            PROJECT_ID = #{projectId,jdbcType=FLOAT}
            AND ITEM_TYPE='VESSEL'
        </where>
    </select>
    <select id="selectShip" resultMap="BaseResultMap">
        SELECT
        ship.*,
        item.LEASE_ITEM_NAME,
        pp.APPROVAL_NUMBER,
        pp.CONTRACT_NAME
        FROM PLM_SHIPS ship
        INNER JOIN PRJ_PROJECT_LEASE_ITEM item ON ship.ITEM_ID=item.PROJECT_LEASE_ITEM_ID
        LEFT JOIN PRJ_PROJECT pp on item.PROJECT_ID=pp.PROJECT_ID
        <where>
            <if test="postloanInspectionId != null">
                AND ship.POSTLOAN_INSPECTION_ID =#{postloanInspectionId,jdbcType=BIGINT}
            </if>
            <if test="pliContractId != null"> AND ship.PLI_CONTRACT_ID=#{pliContractId}</if>
            <if test="itemId != null">AND ship.ITEM_ID=#{itemId,jdbcType=FLOAT}</if>
            <if test="infoId != null">AND ship.INFO_ID=#{infoId,jdbcType=FLOAT}</if>
            <if test="runningCondition != null and runningCondition != ''">
                AND ship.RUNNING_CONDITION LIKE '%'||#{runningCondition,jdbcType=VARCHAR}||'%'
            </if>
            <if test="jobSite != null and jobSite != ''">
                AND ship.JOB_SITE LIKE '%'||#{jobSite,jdbcType=VARCHAR}||'%'
            </if>
            <if test="mainCustomer != null and mainCustomer != ''">
                AND ship.MAIN_CUSTOMER LIKE '%'||#{mainCustomer,jdbcType=VARCHAR}||'%'
            </if>
        </where>
    </select>


</mapper>
