<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.mapper.HlsCusPlmAttachmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.dto.HlsCusPlmAttachment">
        <result column="plm_attachment_id" property="plmAttachmentId" jdbcType="DECIMAL"/>
        <result column="plm_id" property="plmId" jdbcType="DECIMAL"/>
        <result column="plm_attachment_category" property="plmAttachmentCategory" jdbcType="VARCHAR"/>
        <result column="document_name" property="documentName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="make_up" property="makeUp" jdbcType="VARCHAR"/>
        <result column="source_id" property="sourceId" jdbcType="DECIMAL"/>
        <result column="plm_type" property="plmType" jdbcType="VARCHAR"/>

        <result column="file_Id" property="fileId"/>
        <result column="file_path" property="filePath"/>
        <result column="file_type" property="fileType"/>
        <result column="source_type" property="sourceType"/>
        <result column="source_key" property="sourceKey"/>
        <result column="download_File_Name" property="downloadFileName"/>
        <result column="attachment_id" property="attachmentId" jdbcType="DECIMAL"/>

        <result column="upload_person" property="uploadPerson" jdbcType="VARCHAR"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="file_size" property="fileSize" jdbcType="DECIMAL"/>
        <result column="upload_date" property="uploadDate" jdbcType="VARCHAR"/>
        <result column="update_status" property="updateStatus" jdbcType="VARCHAR"/>

        <result column="change_time" property="changeTime" jdbcType="DECIMAL"/>
        <result column="change_iq" property="changeIq" jdbcType="VARCHAR"/>
        <result column="change_delete" property="changeDelete" jdbcType="VARCHAR"/>

        <result column="five_classification_id" property="fiveClassificationId" jdbcType="DECIMAL"/>


    </resultMap>


    <select id="plmAttachmentQuery" parameterType="com.hand.hls.plm.dto.HlsCusPlmAttachment"
            resultMap="BaseResultMap">
        select ppa.plm_attachment_id,
        ppa.plm_id,
        ppa.plm_attachment_category,
        ppa.document_name,
        ppa.description,
        ppa.make_up,
        ppa.plm_type,
        ppa.change_iq,
        ppa.change_time,
        ppa.five_classification_id,
        (select wm_concat(fat.file_name)
        from fnd_atm_attachment fat, fnd_atm_attachment_multi faam
        where fat.attachment_id = faam.attachment_id
        and faam.table_name = 'PLM_ATTACHMENT'
        and faam.table_pk_value = ppa.plm_attachment_id) file_name

        from plm_attachment ppa
        where ppa.plm_attachment_category = 'PLM_FC_ATTACHMENT'
        <if test="fiveClassificationId!=null">
            AND ppa.five_classification_id = #{fiveClassificationId}
        </if>
    </select>



    <select id="plmAttachmentDetailQuery" parameterType="com.hand.hls.plm.dto.HlsCusPlmAttachment"
            resultMap="BaseResultMap">
        SELECT
        t1.document_name,
        t1.file_id,
        sf.file_name,
        sf.file_type,
        sf.upload_date,
        sf.file_size,
        t1.plm_attachment_id,
        t1.plm_attachment_category as source_type,
        t1.plm_id,
        t1.description,
        t1.make_up,
        (SELECT su.description
        FROM sys_user su
        WHERE su.user_id = sf.last_updated_by) uploadPerson
        FROM (
        SELECT pa.document_name,pa.plm_attachment_id,pa.plm_id,pa.plm_attachment_category,
        pa.source_id AS file_id,pa.description,pa.make_up,
        (SELECT a.attachment_id
        FROM sys_attachment a
        WHERE a.SOURCE_KEY =CONCAT((CONCAT(pa.plm_type,'-')),pa.plm_id)
        AND a.source_type = #{plmAttachmentCategory}) attachment_id
        FROM plm_attachment pa
        <where>
            pa.plm_id = #{plmId}
            AND pa.plm_type = #{plmType}
            AND pa.plm_attachment_category = #{plmAttachmentCategory}
            <if test="changeIq!=null and changeIq!=''">
              AND  pa.change_iq = #{changeIq}
            </if>
        </where>

        ) t1
        LEFT JOIN sys_file sf
        ON sf.file_id = t1.file_id
    </select>

    <resultMap id="PlmAttachmentLeafMap" type="map">
        <result column="plm_attachment_id" property="plm_attachment_id"/>
        <result column="plm_id" property="plm_id"/>
        <result column="plm_attachment_category" property="plm_attachment_category"/>
        <result column="document_name" property="document_name"/>
        <result column="description" property="description"/>
        <result column="make_up" property="make_up"/>
        <result column="document_id" property="document_id"/>
        <result column="plm_type" property="plm_type"/>
        <result column="source_id" property="source_id"/>
        <result column="change_iq" property="change_iq"/>
        <result column="postloan_inspection_id" property="postloan_inspection_id"/>
        <result column="file_name" property="file_name"/>
    </resultMap>

    <select id="plmAttachmentLeafQuery" resultMap="PlmAttachmentLeafMap">

        select
          pa.plm_attachment_id,
          pa.plm_id,
          pa.plm_attachment_category,
          pa.document_name,
          pa.description,
          pa.make_up,
          pa.document_id,
          pa.plm_type,
          pa.source_id,
          pa.change_iq,
          pa.postloan_inspection_id,
          (select wm_concat(fat.file_name) from fnd_atm_attachment fat, fnd_atm_attachment_multi faam where fat.attachment_id = faam.attachment_id
          and faam.table_name = 'POSTLOAN_INSPECTION_ATTACHMENT' and faam.table_pk_value = pa.plm_attachment_id
          ) file_name
        from plm_attachment pa
        where pa.postloan_inspection_id = #{postloanInspectionId}

    </select>


    <select id="plmAttachmentDetailQuery2" parameterType="com.hand.hls.plm.dto.HlsCusPlmAttachment"
            resultMap="BaseResultMap">
        select pa.*,
        (SELECT wm_concat(aa.file_name)
        FROM fnd_atm_attachment aa, fnd_atm_attachment_multi am
        WHERE aa.attachment_id = am.attachment_id
        AND am.table_name = 'PLM_ATTACHMENT'
        AND am.table_pk_value = pa.plm_attachment_id
        ) AS file_name
        from plm_attachment pa
        <where>
            1=1
            <if test="changeIq!=null and changeIq!=''">
                AND pa.change_iq = #{changeIq}
            </if>
            <if test="plmId!=null and plmId!=''">
                AND pa.plm_id = #{plmId}
            </if>
            <if test="plmAttachmentCategory!=null and plmAttachmentCategory!=''">
                AND pa.plm_attachment_category = #{plmAttachmentCategory}
            </if>

        </where>
    </select>
   <!-- plmAttachmentDetailQuery2原始版本-->
<!--    <select id="plmAttachmentDetailQuery2" parameterType="com.hand.hls.plm.dto.HlsCusPlmAttachment"
            resultMap="BaseResultMap">
        select
        ( SELECT
        wm_concat(sf.file_name || sf.file_suffix) FROM
        sys_file sf left join
        sys_attachment sa on sa.source_type ='PLM_RW_ATTACHMENT' and sa.attachment_id = sf.attachment_id
        WHERE TO_CHAR(hba.plm_attachment_id) = sa.source_key) download_File_Name,
        (SELECT sf.file_id
          FROM sys_file sf
          left join sys_attachment sa
            on sa.source_type = #{sourceType}
           and sa.attachment_id = sf.attachment_id
         WHERE TO_CHAR(hba.plm_attachment_id) = sa.source_key) file_id,
         (SELECT sf.file_path
          FROM sys_file sf
          left join sys_attachment sa
            on sa.source_type = #{sourceType}
           and sa.attachment_id = sf.attachment_id
         WHERE TO_CHAR(hba.plm_attachment_id) = sa.source_key) file_path,
        hba.plm_attachment_id,
        hba.document_name,
        (
        SELECT
        wm_concat(sf.file_name)
        FROM
        sys_file sf left join
        sys_attachment sa on sa.source_type = #{sourceType} and sa.attachment_id = sf.attachment_id
        WHERE
        TO_CHAR(hba.plm_attachment_id) = sa.source_key) file_name,
        hba.description
        from plm_attachment hba
        where
        (hba.plm_source_type = #{sourceType} or hba.PLM_ATTACHMENT_CATEGORY = #{sourceType})
         and hba.plm_id = #{plmId}
        order by hba.plm_attachment_id
    </select>-->

    <select id="selectAttachment" parameterType="com.hand.hls.plm.dto.HlsCusPlmAttachment" resultMap="BaseResultMap">
        select pa.* from plm_attachment pa
        <where>
            <if test="changeIq!=null and changeIq!=''">
                AND pa.change_iq = #{changeIq}
            </if>
            <if test="plmId!=null and plmId!=''">
                AND pa.plm_id = #{plmId}
            </if>
            <if test="plmType!=null and plmType!=''">
                AND pa.plm_type = #{plmType}
            </if>

        </where>
    </select>

    <select id="selectNoDeleteAttachment" parameterType="com.hand.hls.plm.dto.HlsCusPlmAttachment"
            resultMap="BaseResultMap">
        select pa.* from plm_attachment pa
        <where>
            1=1
            AND pa.change_delete !='DELETE'
            <if test="changeIq!=null and changeIq!=''">
                AND pa.change_iq = #{changeIq}
            </if>
            <if test="plmId!=null and plmId!=''">
                AND pa.plm_id = #{plmId}
            </if>
            <if test="plmType!=null and plmType!=''">
                AND pa.plm_type = #{plmType}
            </if>


        </where>
    </select>

    <update id="plmAttachmentChangeOldRemove" parameterType="com.hand.hls.plm.dto.HlsCusPlmAttachment">
         update plm_attachment pa set pa.change_delete='DELETE'
         where pa.plm_attachment_id = #{plmAttachmentId}
    </update>

    <select id="selectMaxChangeTime" parameterType="com.hand.hls.plm.dto.HlsCusPlmAttachment"
            resultMap="BaseResultMap">
        SELECT
	MAX(pa.change_time) AS chang_time
FROM
	plm_attachment pa
WHERE
	pa.plm_id = #{plmId}
AND pa.plm_type = #{plmType}
GROUP BY
	pa.plm_id;

    </select>

    <select id="queryAllFile" parameterType="com.hand.hls.plm.dto.HlsCusPlmAttachment" resultMap="BaseResultMap">
        select * from(
        select hba.plm_attachment_id as plm_attachment_id,
        hba.document_name as document_name,
        sa.attachment_id attachment_id,
        sf.file_id as file_id,
        sf.file_name as file_name,
        sf.file_size as file_size,
        (select su.description
        from sys_user su
        where sf.last_updated_by = su.user_id) as upload_person,
        sf.last_update_date as uploadDate
        from plm_attachment hba,
        sys_attachment sa,
        sys_file sf
        where hba.plm_attachment_id = sa.source_key
        and hba.plm_source_type = sa.source_type
        and sa.attachment_id = sf.attachment_id
        <if test="plmAttachmentId != null and plmAttachmentId != ''">
            and hba.plm_attachment_id = #{plmAttachmentId}
        </if>
        <if test="plmId != null and plmId != ''">
            and hba.plm_id = #{plmId}
        </if>
        ) qf
        order by qf.uploadDate desc
    </select>


    <update id="updateAttachmentChangeIq" parameterType="com.hand.hls.plm.dto.HlsCusPlmAttachment">
        update plm_attachment pa set pa.change_iq=#{changeIq}
         where pa.plm_id = #{plmId}
         AND pa.plm_type = #{plmType}
         AND pa.change_iq = #{changeIqOld}
    </update>
    <delete id="deleteSysFile">
        DELETE  FROM  SYS_FILE  f
        <where>
            f.ATTACHMENT_ID in
            (
                 select  sa.ATTACHMENT_ID  from
                 SYS_ATTACHMENT  SA
                 inner join PLM_ATTACHMENT PA on SA.SOURCE_KEY = pa.PLM_ATTACHMENT_ID
                 and SA.SOURCE_TYPE=PA.PLM_ATTACHMENT_CATEGORY
                 where PA.PLM_ID= #{plmId,jdbcType=BIGINT}
                 and PA.PLM_TYPE=#{plmAttachmentCategory,jdbcType=VARCHAR}
            )
        </where>
    </delete>
    <delete id="deleteSysAttachment">
        DELETE from SYS_ATTACHMENT SA
        <where>
            SA.SOURCE_KEY=#{plmId}
            and
            SA.SOURCE_TYPE=#{plmAttachmentCategory,jdbcType=VARCHAR}
        </where>
    </delete>
</mapper>
