<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.credit.mapper.HlsCusBpCreditWhiteListMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.credit.dto.HlsCusBpCreditWhiteList">
        <result column="BP_WHITE_ID" property="bpWhiteId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="MARK" property="mark" jdbcType="VARCHAR" />

        <result column="create_date_s" property="createDateS" jdbcType="VARCHAR" />
        <result column="bp_name" property="bpName" jdbcType="VARCHAR" />
        <result column="bp_code" property="bpCode" jdbcType="VARCHAR" />
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR" />
    </resultMap>





    <select id="selectBpWhiteInfo" parameterType="com.hand.hls.credit.dto.HlsCusBpCreditWhiteList" resultMap="BaseResultMap">
select t1.bp_white_id,
       t1.bp_id,

       t1.mark,
       t1.enabled_flag,
       t1.creation_date  create_date_s,
       h.bp_name,
       h.bp_code,
      h.bp_code as bp_id_n

  from hls_bp_credit_white_list t1, hls_bp_master h
 where t1.bp_id = h.bp_id
        <if test="bpName!=null">
            and h.bp_name like concat(concat('%',#{bpName}),'%')
        </if>
        <if test="bpCode!=null">
            and h.bp_code like concat(concat('%',#{bpCode}),'%')
        </if>
    </select>


</mapper>