<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.calc.mapper.HlsCalcConfigMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.calc.dto.HlsCalcConfig">
        <result column="price_list" property="priceList" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="sheets" property="sheets" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="payment_type" property="paymentType"/>
        <result column="payment_type_n" property="paymentTypeN"/>
        <result column="adjust_rate_price" property="adjustRatePrice"/>
        <result column="adjust_rate_description" property="adjustRateDescription"/>
    </resultMap>

    <select id="queryAll" resultMap="BaseResultMap" parameterType="com.hand.hls.calc.dto.HlsCalcConfig">
        select t1.PRICE_LIST,t1.DESCRIPTION,t1.ENABLED_FLAG from hls_price_list t1
        <where>
            1=1
            and t1.enabled_flag='Y'
            <if test='intranetFlag!="Y"'>
                and t1.price_list in ('EXTENSION_COMPOUND','EXTENSION_EQUAL_PRINCIPAL','EXTENSION_EQUAL_PRINCIPAL_COMPOUND','INTEREST_PAYMENT_POSTPONEMENT','YH_EQUAL_PRINCIPAL','YX_EQUAL_RENTAL','Yh_EQUAL_PRINCIPAL_FREE','Yh_EQUAL_RENTAL_FREE')
            </if>
            <if test="priceList!=null">
                and t1.price_list like concat(concat('%',#{priceList,jdbcType=VARCHAR}),'%')
            </if>
            <if test="description!=null">
                and t1.description like concat(concat('%',#{description,jdbcType=VARCHAR}),'%')
            </if>
            <if test="enabledFlag!=null">
                and t1.enabled_flag = #{enabledFlag,jdbcType=VARCHAR}
            </if>
        </where>

        order by t1.price_list
    </select>

    <select id="queryUnSheets" resultMap="BaseResultMap" parameterType="com.hand.hls.calc.dto.HlsCalcConfig">
        select
        t1.price_list,
        t1.description,
        t1.enabled_flag,
        t1.payment_type,
        (
        select scvb.meaning
        from sys_code_b scb,sys_code_value_b scvb
        where scb.code = 'HLS.PRICE_LIST_PAYMENT_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.value = t1.payment_type
        ) as payment_type_n,
        t1.adjust_rate_price,
        t1.adjust_rate_description

        from hls_price_list t1
        <where>
            <if test="priceList!=null">
                t1.price_list like concat(concat('%',#{priceList,jdbcType=VARCHAR}),'%')
            </if>
            <if test="description!=null">
                and t1.description like concat(concat('%',#{description,jdbcType=VARCHAR}),'%')
            </if>
            <if test="enabledFlag!=null">
                and t1.enabled_flag = #{enabledFlag,jdbcType=VARCHAR}
            </if>
        </where>

        order by t1.price_list
    </select>

    <update id="updateSheets" parameterType="java.lang.String">
    	update hls_price_list
    	set sheets = #{sheets,jdbcType=VARCHAR}
   		where price_list = #{priceList,jdbcType=VARCHAR}
   </update>

</mapper>