<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hand.hls.calc.mapper.HlsPriceListConfigHdMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.calc.dto.HlsPriceListConfigHd">
        <result column="config_hd_id" property="configHdId" jdbcType="BIGINT"/>
        <result column="price_list" property="priceList" jdbcType="VARCHAR"/>
        <result column="table_name" property="tableName" jdbcType="VARCHAR"/>
        <result column="table_type" property="tableType" jdbcType="VARCHAR"/>
        <result column="multi_line_from" property="multiLineFrom" jdbcType="VARCHAR"/>
        <result column="multi_line_to" property="multiLineTo" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
		<result column="sheet_name" property="sheetName"/>
		<result column="config_type" property="configType"/>
		<result column="config_type_n" property="configTypeN"/>
    </resultMap>
    <select id="getConfigHdInfoByPriceList" parameterType="com.hand.hls.calc.dto.HlsPriceListConfigHd"
            resultMap="BaseResultMap">
        select
        hd.*,
        hpl.description,
        hd.sheet_name,
		(select s.MEANING from sys_code_value_b_v s where s.CODE = 'PRICE.CONFIG_TYPE' and s.code_value = hd.config_type)config_type_n
         from hls_price_list_config_hd hd
        left join hls_price_list hpl on hpl.price_list = hd.price_list
        <where>
        <if test="priceList!=null">
            AND hd.price_list=#{priceList}
        </if>
        <if test="tableType!=null">
            AND hd.table_type=#{tableType}
        </if>
        <if test="sheetName != null">
			and hd.sheet_name = #{sheetName}
		</if>
		<if test="configType != null">
			and (hd.config_type is null or hd.config_type = 'OUTPUT')
		</if>
		</where>
    </select>
    <insert id="insertHlsPriceListConfigHd" parameterType="com.hand.hls.calc.dto.HlsPriceListConfigHd">
		insert into	hls_price_list_config_hd(
			price_list,
			table_name,
			table_type,
			multi_line_from,
			multi_line_to
		) values(
			#{priceList},
			#{tableName},
			#{tableType},
			#{multiLineFrom},
			#{multiLineTo}
		)
	</insert>
    <update id="updateHlsPriceListConfigHd" parameterType="com.hand.hls.calc.dto.HlsPriceListConfigHd">
		update
		hls_price_list_config_hd hd
		set
		hd.price_list= #{priceList},
		hd.table_name= #{tableName},
		hd.table_type= #{tableType},
		hd.multi_line_from= #{multiLineFrom},
		hd.multi_line_to= #{multiLineTo},
		hd.config_type = #{configType}
		where
		hd.config_hd_id = #{configHdId}
	</update>
</mapper>