<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hand.hls.calc.mapper.HlsPriceListConfigLnMapper">
	<resultMap type="com.hand.hls.calc.dto.HlsPriceListConfigLn" id="HlsPriceListConfigLnMap">
		<result column="config_ln_id" property="configLnId" />
		<result column="config_hd_id" property="configHdId" />
		<result column="column_name" property="columnName" />
		<result column="column_code" property="columnCode" />
		<result column="column_type" property="columnType" />
		<result column="validate_type" property="validateType" />
		<result column="validate_sql" property="validateSql" />
		<result column="cashflow_item" property="cashflowItem" />
		<result column="description" property="description" />

		<result column="input_mode" property="inputMode" />
		<result column="precisions" property="precisions" />
		<result column="net_column_code" property="netColumnCode" />
		<result column="vat_column_code" property="vatColumnCode" />
		<result column="formula_no_check_flag" property="formulaNoCheckFlag" />
		<result column="hide_column_flag" property="hideColumnFlag" />
		<result column="hide_row_flag" property="hideRowFlag" />
		<result column="prompt" property="prompt" />
		<result column="sheet_name" property="sheetName"/>
	</resultMap>
	<select id="selectAllHlsPriceListConfigLn" resultMap="HlsPriceListConfigLnMap" parameterType="com.hand.hls.calc.dto.HlsPriceListConfigLn">
		select ln.*,item.description from hls_price_list_config_ln ln LEFT JOIN hls_cashflow_item  item ON ln.cashflow_item = item.cf_item
		<where>
			<if test="configHdId !=null"> 
				ln.config_hd_id = #{configHdId}
			</if>
			<if test="columnName !=null">
				and ln.column_name like concat(concat('%',#{columnName}),'%')
			</if>
			<if test="columnCode !=null">
				and ln.column_code like concat(concat('%',#{columnCode}),'%')
			</if>
		</where>
	</select>

	<select id="selectHlsPriceListConfiglineByHdId" resultMap="HlsPriceListConfigLnMap" parameterType="com.hand.hls.calc.dto.HlsPriceListConfigLn">
		SELECT
		ln.*, item.description
		FROM
		hls_price_list_config_ln ln
		LEFT JOIN hls_cashflow_item item ON ln.cashflow_item = item.cf_item,
		hls_price_list_config_hd hd
		where ln.config_hd_id=hd.config_hd_id
		and ln.config_hd_id = #{configHdId}
		<if test="priceList !=null">
			and hd.price_list= #{priceList}
		</if>
		<if test="tableType !=null">
			AND hd.table_type = #{tableType}
		</if>
		<if test="formulaNoCheckFlag !=null">
			and ln.formula_no_check_flag=#{formulaNoCheckFlag}
		</if>
		<if test="hideColumnFlag !=null">
			and ln.hide_column_flag=#{hideColumnFlag}
		</if>
		<if test="hideRowFlag !=null">
			and ln.hide_row_flag=#{hideRowFlag}
		</if>
		<if test="columnName !=null">
			and ln.column_name like concat(concat('%',#{columnName}),'%')
		</if>
		<if test="columnCode !=null">
			and ln.column_code like concat(concat('%',#{columnCode}),'%')
		</if>
		order by ln.config_ln_id desc
	</select>

	<select id="selectHlsPriceListConfiglineByPriceListReq" resultMap="HlsPriceListConfigLnMap" parameterType="com.hand.hls.calc.dto.HlsPriceListConfigLn">
		SELECT
		ln.*, item.description,
		hd.sheet_name
		FROM
		hls_price_list_config_ln ln
		LEFT JOIN hls_cashflow_item item ON ln.cashflow_item = item.cf_item,
		hls_price_list_config_hd hd
		where ln.config_hd_id=hd.config_hd_id
			and hd.sheet_name not in ('BASIC','INPUT')
		<if test="priceList !=null">
			and hd.price_list= #{priceList}
		</if>
		<if test="sheetName != null">
			and hd.sheet_name = #{sheetName}
		</if>
		<if test="tableType !=null">
			AND hd.table_type = #{tableType}
		</if>
		<if test="formulaNoCheckFlag !=null">
			and ln.formula_no_check_flag=#{formulaNoCheckFlag}
		</if>
		<if test="configHdId != null">
			and ln.config_hd_id = #{configHdId}
		</if>
		<if test="hideColumnFlag !=null">
			and ln.hide_column_flag=#{hideColumnFlag}
		</if>
		<if test="hideRowFlag !=null">
			and ln.hide_row_flag=#{hideRowFlag}
		</if>
		<if test="columnName !=null">
			and ln.column_name like concat(concat('%',#{columnName}),'%')
		</if>
		<if test="columnCode !=null">
			and ln.column_code like concat(concat('%',#{columnCode}),'%')
		</if>
		order by ln.config_ln_id desc
	</select>

	<select id="selectHlsPriceListConfiglineByPriceList" resultMap="HlsPriceListConfigLnMap" parameterType="com.hand.hls.calc.dto.HlsPriceListConfigLn">
       SELECT
	     ln.*, item.description,
	     hd.sheet_name
           FROM
	          hls_price_list_config_ln ln
            LEFT JOIN hls_cashflow_item item ON ln.cashflow_item = item.cf_item,
             hls_price_list_config_hd hd
        where ln.config_hd_id=hd.config_hd_id
		<if test="priceList !=null">
			and hd.price_list= #{priceList}
		</if>
		<if test="sheetName != null">
			and hd.sheet_name = #{sheetName}
		</if>
		<if test="tableType !=null">
			AND hd.table_type = #{tableType}
		</if>
		<if test="formulaNoCheckFlag !=null">
			and ln.formula_no_check_flag=#{formulaNoCheckFlag}
		</if>
		<if test="configHdId != null">
			and ln.config_hd_id = #{configHdId}
		</if>
		<if test="hideColumnFlag !=null">
			and ln.hide_column_flag=#{hideColumnFlag}
		</if>
		<if test="hideRowFlag !=null">
			and ln.hide_row_flag=#{hideRowFlag}
		</if>
		<if test="columnName !=null">
			and ln.column_name like concat(concat('%',#{columnName}),'%')
		</if>
		<if test="columnCode !=null">
			and ln.column_code like concat(concat('%',#{columnCode}),'%')
		</if>
		order by ln.config_ln_id desc
	</select>

	<select id="targetColumnCode" resultMap="HlsPriceListConfigLnMap" parameterType="com.hand.hls.calc.dto.HlsPriceListConfigLn">
		SELECT
		DISTINCT
		hplcl.config_hd_id,
		hplcl.column_name,
		hplcl.column_code,
		hplcl.column_type,
		hplch.sheet_name
		FROM
		HLS_PRICE_LIST_CONFIG_HD hplch,
		HLS_PRICE_LIST_CONFIG_LN hplcl
		where
		hplch.CONFIG_HD_ID = hplcl.CONFIG_HD_ID
		<if test="priceList!=null">
			AND hplch.PRICE_LIST=#{priceList}
		</if>
	</select>

	<select id="queryConfigLnByPriceListAndColumnCode" resultMap="HlsPriceListConfigLnMap">
		select hhl.*
		from hls_price_list_config_ln hhl,hls_price_list_config_hd hhd
		where hhd.price_list = #{priceList}
		and hhd.table_type = 'SINGLE'
		and hhd.config_hd_id = hhl.config_hd_id
		and hhl.column_code = #{columnCode}
	</select>

</mapper>