<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.prj.mapper.PrjProjectApprovalMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.PrjProjectApproval">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="APPROVAL_ID" jdbcType="BIGINT" property="approvalId"/>
        <result column="PROJECT_ID" jdbcType="BIGINT" property="projectId"/>
        <result column="MEETING_ID" jdbcType="BIGINT" property="meetingId"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="APPROVAL_RESULT" jdbcType="VARCHAR" property="approvalResult"/>
        <result column="APPROVAL_COUNT" jdbcType="BIGINT" property="approvalCount"/>
        <result column="EXISTS_COMMENT_FLAG" jdbcType="VARCHAR" property="existsCommentFlag"/>
        <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy"/>
        <result column="CREATION_DATE" jdbcType="DATE" property="creationDate"/>
        <result column="LAST_UPDATED_BY" jdbcType="BIGINT" property="lastUpdatedBy"/>
        <result column="LAST_UPDATE_DATE" jdbcType="DATE" property="lastUpdateDate"/>
        <result column="REF_N01" jdbcType="BIGINT" property="refN01"/>
        <result column="REF_N02" jdbcType="BIGINT" property="refN02"/>
        <result column="REF_N03" jdbcType="BIGINT" property="refN03"/>
        <result column="REF_N04" jdbcType="BIGINT" property="refN04"/>
        <result column="REF_N05" jdbcType="BIGINT" property="refN05"/>
        <result column="REF_N06" jdbcType="BIGINT" property="refN06"/>
        <result column="REF_N07" jdbcType="BIGINT" property="refN07"/>
        <result column="REF_N08" jdbcType="BIGINT" property="refN08"/>
        <result column="REF_N09" jdbcType="BIGINT" property="refN09"/>
        <result column="REF_N10" jdbcType="BIGINT" property="refN10"/>
        <result column="REF_D01" jdbcType="DATE" property="refD01"/>
        <result column="REF_D02" jdbcType="DATE" property="refD02"/>
        <result column="REF_D03" jdbcType="DATE" property="refD03"/>
        <result column="REF_D04" jdbcType="DATE" property="refD04"/>
        <result column="REF_D05" jdbcType="DATE" property="refD05"/>
        <result column="REF_D06" jdbcType="DATE" property="refD06"/>
        <result column="REF_D07" jdbcType="DATE" property="refD07"/>
        <result column="REF_D08" jdbcType="DATE" property="refD08"/>
        <result column="REF_D09" jdbcType="DATE" property="refD09"/>
        <result column="REF_D10" jdbcType="DATE" property="refD10"/>
        <result column="MANAGER_APPROVAL_RESULT" jdbcType="VARCHAR" property="managerApprovalResult"/>
        <result column="DIRECTOR_APPROVAL_RESULT" jdbcType="VARCHAR" property="directorApprovalResult"/>
        <result column="DIRECTOR_APPROVAL_DATE" jdbcType="DATE" property="directorApprovalDate"/>
        <result column="NORMAL_FLAG" jdbcType="VARCHAR" property="normalFlag"/>
        <result column="APPROVE_CRITERIA" jdbcType="VARCHAR" property="approveCriteria"/>
        <result column="MEETING_DATE" jdbcType="DATE" property="meetingDate"/>
        <result column="MEETING_COUNT" jdbcType="VARCHAR" property="meetingCount"/>
        <result column="APPROVAL_FLAG" jdbcType="VARCHAR" property="approvalFlag"/>
        <result column="SECOND_FLAG" jdbcType="VARCHAR" property="secondFlag"/>
        <result column="RECON_FLAG" jdbcType="VARCHAR" property="reconFlag"/>
        <result column="MEETING_TIME" jdbcType="LONGVARCHAR" property="meetingTime"/>
        <result column="REF_V01" jdbcType="LONGVARCHAR" property="refV01"/>
        <result column="REF_V02" jdbcType="LONGVARCHAR" property="refV02"/>
        <result column="REF_V03" jdbcType="LONGVARCHAR" property="refV03"/>
        <result column="REF_V04" jdbcType="LONGVARCHAR" property="refV04"/>
        <result column="REF_V05" jdbcType="LONGVARCHAR" property="refV05"/>
        <result column="REF_V06" jdbcType="LONGVARCHAR" property="refV06"/>
        <result column="REF_V07" jdbcType="LONGVARCHAR" property="refV07"/>
        <result column="REF_V08" jdbcType="LONGVARCHAR" property="refV08"/>
        <result column="REF_V09" jdbcType="LONGVARCHAR" property="refV09"/>
        <result column="REF_V10" jdbcType="LONGVARCHAR" property="refV10"/>
        <result column="MANAGER_APPROVAL_COMMENT" jdbcType="LONGVARCHAR" property="managerApprovalComment"/>
        <result column="DIRECTOR_APPROVAL_COMMENT" jdbcType="LONGVARCHAR" property="directorApprovalComment"/>
        <result column="PROJECT_MANAGER_REPLAY" jdbcType="LONGVARCHAR" property="projectManagerReplay"/>
        <result column="APPROVER_COMMENT_SUMMARY" jdbcType="LONGVARCHAR" property="approverCommentSummary"/>
        <result column="MEETING_LOCATION" jdbcType="LONGVARCHAR" property="meetingLocation"/>

        <result column="approval_date" property="approvalDate"/>
        <result column="approval_number" property="approvalNumber"/>
        <result column="approval_term" property="approvalTerm"/>
        <result column="approval_note" property="approvalNote"/>
        <result column="charge_method" property="chargeMethod"/>
        <result column="guar_method" property="guarMethod"/>
        <result column="deposit_method" property="depositMethod"/>
        <result column="founding_method" property="foundingMethod"/>
        <result column="payment_method" property="paymentMethod"/>
        <result column="repayment_method" property="repaymentMethod"/>
        <result column="business_type_n" property="businessTypeN"/>
        <result column="finance_amount" property="financeAmount"/>
        <result column="lease_term" property="leaseTerm"/>
        <result column="int_rate" property="intRate"/>
        <result column="finance_amount_his" property="financeAmountHis"/>
        <result column="lease_term_his" property="leaseTermHis"/>
        <result column="int_rate_his" property="intRateHis"/>
        <result column="lessor_name" property="lessorName"/>
        <result column="tenant_id_n" property="tenantIdN"/>
        <result column="data_class" property="dataClass"/>

        <result column="fist_meet" property="fistMeet"/>
        <result column="fist_meet_n" property="fistMeetN"/>
        <result column="approval_method_n" property="approvalMethodN"/>
        <result column="approval_method" property="approvalMethod"/>

        <result column="first_approval_date" property="firstApprovalDate"/>

        <result column="company_name" property="companyName"/>
        <result column="number_of_judges" property="numberOfJudges"/>
        <result column="approved_flag" property="approvedFlag"/>
        <result column="approved_flag_n" property="approvedFlagN"/>
    </resultMap>

    <resultMap id="prjProjectApprovalResultMap" type="map">
        <result column="approval_id" property="approval_id"/>
        <result column="project_id" property="project_id"/>
        <result column="meeting_id" property="meeting_id"/>
        <result column="meeting_time" property="meeting_time"/>
        <result column="status" property="status"/>
        <result column="approval_result" property="approval_result"/>
        <result column="approval_count" property="approval_count"/>
        <result column="exists_comment_flag" property="exists_comment_flag"/>
        <result column="created_by" property="created_by"/>
        <result column="creation_date" property="creation_date"/>
        <result column="last_updated_by" property="last_updated_by"/>
        <result column="last_update_date" property="last_update_date"/>
        <result column="ref_v01" property="ref_v01"/>
        <result column="ref_v02" property="ref_v02"/>
        <result column="ref_v03" property="ref_v03"/>
        <result column="ref_v04" property="ref_v04"/>
        <result column="ref_v05" property="ref_v05"/>
        <result column="ref_v06" property="ref_v06"/>
        <result column="ref_v07" property="ref_v07"/>
        <result column="ref_v08" property="ref_v08"/>
        <result column="ref_v09" property="ref_v09"/>
        <result column="ref_v10" property="ref_v10"/>
        <result column="ref_n01" property="ref_n01"/>
        <result column="ref_n02" property="ref_n02"/>
        <result column="ref_n03" property="ref_n03"/>
        <result column="ref_n04" property="ref_n04"/>
        <result column="ref_n05" property="ref_n05"/>
        <result column="ref_n06" property="ref_n06"/>
        <result column="ref_n07" property="ref_n07"/>
        <result column="ref_n08" property="ref_n08"/>
        <result column="ref_n09" property="ref_n09"/>
        <result column="ref_n10" property="ref_n10"/>
        <result column="ref_d01" property="ref_d01"/>
        <result column="ref_d02" property="ref_d02"/>
        <result column="ref_d03" property="ref_d03"/>
        <result column="ref_d04" property="ref_d04"/>
        <result column="ref_d05" property="ref_d05"/>
        <result column="ref_d06" property="ref_d06"/>
        <result column="ref_d07" property="ref_d07"/>
        <result column="ref_d08" property="ref_d08"/>
        <result column="ref_d09" property="ref_d09"/>
        <result column="ref_d10" property="ref_d10"/>
        <result column="manager_approval_result" property="manager_approval_result"/>
        <result column="manager_approval_comment" property="manager_approval_comment"/>
        <result column="director_approval_result" property="director_approval_result"/>
        <result column="director_approval_comment" property="director_approval_comment"/>
        <result column="director_approval_date" property="director_approval_date"/>
        <result column="normal_flag" property="normal_flag"/>
        <result column="approve_criteria" property="approve_criteria"/>
        <result column="project_manager_replay" property="project_manager_replay"/>
        <result column="approver_comment_summary" property="approver_comment_summary"/>
        <result column="meeting_location" property="meeting_location"/>
        <result column="meeting_date" property="meeting_date"/>
        <result column="meeting_count" property="meeting_count"/>
        <result column="approval_flag" property="approval_flag"/>
        <result column="second_flag" property="second_flag"/>
        <result column="recon_flag" property="recon_flag"/>
        <result column="data_class" property="dataClass"/>
        <result column="company_name" property="companyName"/>
    </resultMap>

    <select id="updateApprovalStatus" resultMap="BaseResultMap">
        update prj_project_approval
        set data_class = #{dataClass}
        where project_id = #{projectId}
          and data_class = 'CHANGE'
    </select>

    <select id="queryReplyAll" parameterType="com.hand.hls.prj.dto.PrjProjectApproval" resultMap="BaseResultMap">
        SELECT
        t.*, (
        SELECT
        q.finance_amount
        FROM
        prj_quotation q
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'PRJ_PROJECT_INVEST'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        ) finance_amount,
        (
        SELECT
        q.lease_term
        FROM
        prj_quotation q
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'PRJ_PROJECT_INVEST'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        ) lease_term,
        (
        SELECT
        q.int_rate
        FROM
        prj_quotation q
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'PRJ_PROJECT_INVEST'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        ) int_rate,
        (
        SELECT
        v.meaning
        FROM
        prj_quotation q,
        sys_code_value_b_v v
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'PRJ_PROJECT_INVEST'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        AND q.BUSINESS_TYPE = v.CODE_VALUE
        AND v. CODE = 'HLS200.LEASING_PRODUCT_DETAIL'
        ) business_type_n,
        (select b.bp_name from prj_project p,hls_bp_master b where p.tenant_id = b.bp_id and p.project_id = t.project_id
        )tenant_id_n,
        (select b.company_short_name from prj_project p,fnd_company b where p.company_id = b.company_id and p.project_id
        = t.project_id )lessor_name
        FROM
        prj_project_approval t
        <where>
            1=1
            and t.data_class = (case (select h.duration_status from hls_duration_hd h where h.hd_id = #{hdId}) when 'APPROVING' then 'CHANGE' when 'CANCEL' then 'CANCEL'  else 'NORMAL' end )
            <if test="projectId != null">
                and t.project_id = #{projectId}
            </if>
        </where>
    </select>

    <select id="queryAll" parameterType="com.hand.hls.prj.dto.PrjProjectApproval" resultMap="BaseResultMap">
        SELECT
        t.*, (
        SELECT
        q.finance_amount
        FROM
        prj_quotation q
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'PRJ_PROJECT_INVEST'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        ) finance_amount,
        (
        SELECT
        q.lease_term
        FROM
        prj_quotation q
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'PRJ_PROJECT_INVEST'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        ) lease_term,
        (
        SELECT
        q.int_rate
        FROM
        prj_quotation q
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'PRJ_PROJECT_INVEST'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        ) int_rate,
        (
        SELECT
        v.meaning
        FROM
        prj_quotation q,
        sys_code_value_b_v v
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'PRJ_PROJECT_INVEST'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        AND q.BUSINESS_TYPE = v.CODE_VALUE
        AND v. CODE = 'HLS200.LEASING_PRODUCT_DETAIL'
        ) business_type_n,
        (select b.bp_name from prj_project p,hls_bp_master b where p.tenant_id = b.bp_id and p.project_id = t.project_id
        )tenant_id_n,
        (select b.company_short_name from prj_project p,fnd_company b where p.company_id = b.company_id and p.project_id
        = t.project_id )lessor_name
        FROM
        prj_project_approval t
        <where>
            1=1
            and t.data_class = 'NORMAL'
            <if test="projectId != null">
                and t.project_id = #{projectId}
            </if>
            <if test="approvalType != null">
                and nvl(t.approval_type,'NORMAL')=#{approvalType}
            </if>
        </where>
    </select>

    <select id="queryAllChange" parameterType="com.hand.hls.prj.dto.PrjProjectApproval" resultMap="BaseResultMap">
        SELECT
        t.*, (
        SELECT
        q.finance_amount
        FROM
        prj_quotation q
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'PRJ_PROJECT_INVEST'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        ) finance_amount,
        (
        SELECT
        q.lease_term
        FROM
        prj_quotation q
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'PRJ_PROJECT_INVEST'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        ) lease_term,
        (
        SELECT
        concat(q.int_rate * 100, '%')
        FROM
        prj_quotation q
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'PRJ_PROJECT_INVEST'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        ) int_rate,
        (
        SELECT
        v.meaning
        FROM
        prj_quotation q,
        sys_code_value_b_v v
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'PRJ_PROJECT_INVEST'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        AND q.BUSINESS_TYPE = v.CODE_VALUE
        AND v. CODE = 'HLS200.LEASING_PRODUCT_DETAIL'
        ) business_type_n,
        (select b.bp_name from prj_project p,hls_bp_master b where p.tenant_id = b.bp_id and p.project_id = t.project_id
        )tenant_id_n,
        (select b.company_short_name from prj_project p,fnd_company b where p.company_id = b.company_id and p.project_id
        = t.project_id )lessor_name
        FROM
        prj_project_approval t
        <where>
            1=1
            and t.data_class = 'CHANGE'
            <if test="projectId != null">
                and t.project_id = #{projectId}
            </if>
        </where>
    </select>
    <select id="conQueryAll" parameterType="com.hand.hls.prj.dto.PrjProjectApproval" resultMap="BaseResultMap">
        SELECT
        t.*, (
        SELECT
        q.finance_amount
        FROM
        prj_quotation q
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'VIRTUAL_CON'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        ) finance_amount,
        (
        SELECT
        q.lease_term
        FROM
        prj_quotation q
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'VIRTUAL_CON'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        ) lease_term,
        (
        SELECT
        concat(q.int_rate * 100, '%')
        FROM
        prj_quotation q
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'VIRTUAL_CON'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        ) int_rate,
        (
        SELECT
        v.meaning
        FROM
        prj_quotation q,
        sys_code_value_b_v v
        WHERE
        q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
        and q.data_class = 'VIRTUAL_CON'
        AND q.SOURCE_DOCUMENT_ID = t.project_id
        AND q.BUSINESS_TYPE = v.CODE_VALUE
        AND v. CODE = 'HLS200.LEASING_PRODUCT_DETAIL'
        ) business_type_n,
        (select b.bp_name from prj_project p,hls_bp_master b where p.tenant_id = b.bp_id and p.project_id = t.project_id
        )tenant_id_n,
        (select b.company_short_name from prj_project p,fnd_company b where p.company_id = b.company_id and p.project_id
        = t.project_id )lessor_name
        FROM
        prj_project_approval t
        <where>
            1=1
            and t.data_class = 'NORMAL'
            and t.APPROVAL_TYPE = 'NORMAL'
            <if test="projectId != null">
                and t.project_id = #{projectId}
            </if>
        </where>
    </select>
    <select id="query" resultMap="prjProjectApprovalResultMap">
        select  * from prj_project_approval ppa where  ppa.data_class = 'NORMAL'
    </select>


    <select id="queryAuditInfo" parameterType="com.hand.hls.prj.dto.PrjProjectApproval" resultMap="BaseResultMap">
        SELECT
        t.APPROVAL_ID,
        t.PROJECT_ID,
        t.APPROVAL_NUMBER,
        t.APPROVAL_NOTE,
        t.FIST_MEET,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'SYS.MEET_TYPE' AND code_value = t.FIST_MEET ) FIST_MEET_N,
        OTHER,
        ( SELECT max( APPROVAL_DATE ) FROM prj_project_approval ppa WHERE ppa.project_id = t.project_id AND FIST_MEET = '1' ) FIRST_APPROVAL_DATE,
        APPROVAL_TERM,
        APPROVAL_DATE,
        APPROVAL_METHOD,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'SYS.APPROVAL_METHOD' AND code_value = t.APPROVAL_METHOD ) APPROVAL_METHOD_N,
        t.REPORT_COMPANY,
        '广东粤海融资租赁有限公司' COMPANY_NAME,
        ( SELECT company_full_name FROM FND_COMPANY WHERE company_id = t.REPORT_COMPANY ) REPORT_COMPANY_N,
        adjust,
        discuss,
        T.NUMBER_OF_JUDGES,
        T.approved_flag,
        (select s.MEANING from sys_code_value_b_v s where s.CODE_VALUE = T.approved_flag and s.code = 'SYS.YES_NO') approved_flag_N,
        T.approval_result
        FROM
        prj_project_approval t
        where t.project_id = to_char(#{projectId})
        and t.data_class = 'NORMAL'
        <if test="approvalType != null">
            and nvl(t.approval_type,'NORMAL')=#{approvalType}
        </if>
    </select>

    <!--查询表决结果-->
    <select id="queryVotingResults" parameterType="com.hand.hls.prj.dto.PrjProjectApproval" resultMap="BaseResultMap">
        SELECT
        t.APPROVAL_ID,
        t.PROJECT_ID,
        T.NUMBER_OF_JUDGES,
        T.approved_flag,
        (select s.MEANING from sys_code_value_b_v s where s.CODE_VALUE = T.approved_flag and s.code = 'SYS.YES_NO') approved_flag_N,
        T.approval_result
        FROM
        prj_project_approval t
        where t.project_id = to_char(#{projectId})
        and t.data_class = 'NORMAL'
        <if test="approvalType != null">
            and nvl(t.approval_type,'NORMAL')=#{approvalType}
        </if>
    </select>


    <select id="queryAuditAdjust" parameterType="com.hand.hls.prj.dto.HlsCusPrjProjectParam" resultMap="BaseResultMap">
        SELECT
        t.APPROVAL_ID,
        t.PROJECT_ID,
        adjust
        FROM
        prj_project_approval t
        where t.project_id = to_char(#{projectId})
        and t.data_class = 'NORMAL'
        <if test="approvalType != null">
            and nvl(t.approval_type,'NORMAL')=#{approvalType}
        </if>
    </select>
    <select id="queryAuditDiscuss" parameterType="com.hand.hls.prj.dto.HlsCusPrjProjectParam" resultMap="BaseResultMap">
        SELECT
        t.APPROVAL_ID,
        t.PROJECT_ID,
        discuss
        FROM
        prj_project_approval t
        where t.project_id = to_char(#{projectId})
        and t.data_class = 'NORMAL'
        <if test="approvalType != null">
            and nvl(t.approval_type,'AUDIT')=#{approvalType}
        </if>
    </select>

    <update id="updateApprovalResult" parameterType="com.hand.hls.prj.dto.PrjProjectApproval">
        UPDATE
            prj_project_approval
        SET
            approval_result = #{approvalResult}
        WHERE
            approval_id = #{approvalId}
    </update>
</mapper>