<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.prj.mapper.ZxBpOrgbaseMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.ZxBpOrgbase">
        <id column="RECORD_ID" jdbcType="INTEGER" property="recordId"/>
        <result column="BP_ID" jdbcType="INTEGER" property="bpId"/>
        <result column="BANKCODE" jdbcType="VARCHAR" property="bankcode"/>
        <result column="CUSTTYPE" jdbcType="VARCHAR" property="custtype"/>
        <result column="ORGCREDITCODE" jdbcType="VARCHAR" property="orgcreditcode"/>
        <result column="REGNOTYPE" jdbcType="VARCHAR" property="regnotype"/>
        <result column="REGNO" jdbcType="VARCHAR" property="regno"/>
        <result column="LOCALTAXNO" jdbcType="VARCHAR" property="localtaxno"/>
        <result column="ACCOUNTPERMITNO" jdbcType="VARCHAR" property="accountpermitno"/>
        <result column="DATAEXTRADATE" jdbcType="VARCHAR" property="dataextradate"/>
        <result column="RESERVEDFIELD" jdbcType="VARCHAR" property="reservedfield"/>
        <result column="ISINSTITUTION" jdbcType="VARCHAR" property="isinstitution"/>
        <result column="CREATED_BY" jdbcType="INTEGER" property="createdBy"/>
        <result column="CREATION_DATE" jdbcType="DATE" property="creationDate"/>
        <result column="LAST_UPDATED_BY" jdbcType="INTEGER" property="lastUpdatedBy"/>
        <result column="LAST_UPDATE_DATE" jdbcType="DATE" property="lastUpdateDate"/>
    </resultMap>
    <select id="queryZxBpOrgbase" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT T1.BP_ID,
               T1.RECORD_ID,
               T1.BANKCODE,
               T1.CUSTTYPE,
               (select v.meaning
                from sys_code_value_b_v V
                where v.code = 'ZX_BP_TYPE'
                  AND V.code_value = T1.CUSTTYPE) custtypeN,
               T1.ORGCREDITCODE,
               (select v.meaning
                from sys_code_value_b_v V
                where v.code = 'SYS.YES_NO'
                  AND V.code_value = T1.ISINSTITUTION) isinstitutionN,
               T1.ISINSTITUTION,
               T1.REGNOTYPE,
               T1.REGNO,
               T1.LOCALTAXNO,
               T1.ACCOUNTPERMITNO,
               (SELECT V.meaning
                FROM sys_code_value_b_v V
                WHERE V.CODE = 'ZX_REGNOTYPE'
                  AND V.CODE_VALUE = T1.REGNOTYPE) regnotypeN,
               T1.Reservedfield
        FROM ZX_BP_ORGBASE T1
        where
            T1.bp_id = #{bpId}
    </select>

    <select id="queryZxBpOrgbase2" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT T1.BP_ID,
        T1.RECORD_ID,
        T1.BANKCODE,
        T1.CUSTTYPE,
        (select v.meaning
        from sys_code_value_b_v V
        where v.code = 'ZX_BP_TYPE'
        AND V.code_value = T1.CUSTTYPE) custtypeN,
        T1.ORGCREDITCODE,
        (select v.meaning
        from sys_code_value_b_v V
        where v.code = 'SYS.YES_NO'
        AND V.code_value = T1.ISINSTITUTION) isinstitutionN,
        T1.ISINSTITUTION,
        T1.REGNOTYPE,
        T1.REGNO,
        T1.LOCALTAXNO,
        T1.ACCOUNTPERMITNO,
        (SELECT V.meaning
        FROM sys_code_value_b_v V
        WHERE V.CODE = 'ZX_REGNOTYPE'
        AND V.CODE_VALUE = T1.REGNOTYPE) regnotypeN,
        T1.Reservedfield
        FROM ZX_BP_ORGBASE T1
        where
          T1.bp_id = #{bpId}
    </select>
    
    <update id="updateZxBpOrgbase" flushCache="true">
    update ZX_BP_ORGBASE set REGNOTYPE = #{regnotype},REGNO = #{regno} where BP_ID = #{bpId}
    </update>
</mapper>
