<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fp.mapper.FundingExecuteMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fp.dto.FundingExecute">
        <result column="EXCUTE_ID" property="excuteId" jdbcType="DECIMAL"/>
        <result column="FILLING_ID" property="fillingId" jdbcType="DECIMAL"/>
        <result column="FILL_TYPE" property="fillType" jdbcType="VARCHAR"/>
        <result column="FILL_YEAR" property="fillYear" jdbcType="VARCHAR"/>
        <result column="FILL_QUARTER" property="fillQuarter" jdbcType="VARCHAR"/>
        <result column="FILL_MON" property="fillMon" jdbcType="VARCHAR"/>
        <result column="FILL_WEEK" property="fillWeek" jdbcType="VARCHAR"/>
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL"/>
        <result column="FILL_USER_ID" property="fillUserId" jdbcType="DECIMAL"/>
        <result column="PLAN_STATUS" property="planStatus" jdbcType="VARCHAR"/>
        <result column="PROCESS_INSTANCE_ID" property="processInstanceId" jdbcType="DECIMAL"/>
        <result column="IMPLEMENTATION_MEASURES" property="implementationMeasures" jdbcType="VARCHAR"/>
        <result column="CONFIRM_STATUS" property="confirmStatus" jdbcType="VARCHAR"/>
        <result column="DIMENSION_TYPE" property="dimensionType" jdbcType="VARCHAR"/>
        <result column="summary_flay" property="summaryFlag"/>
        <result column="dimension_type_n" property="dimensionTypeN"/>
        <result column="confirm_status_n" property="confirmStatusN" jdbcType="VARCHAR"/>
        <result column="unit_code" property="unitCode"/>
        <result column="FILL_TYPE_N" property="fillTypeN" jdbcType="VARCHAR"/>
        <result column="FILL_YEAR_N" property="fillYearN" jdbcType="VARCHAR"/>
        <result column="FILL_QUARTER_N" property="fillQuarterN" jdbcType="VARCHAR"/>
        <result column="FILL_MON_N" property="fillMonN" jdbcType="VARCHAR"/>
        <result column="FILL_WEEK_N" property="fillWeekN" jdbcType="VARCHAR"/>
        <result column="unit_id_n" property="unitIdN" jdbcType="VARCHAR"/>
        <result column="FILL_USER_ID_N" property="fillUserIdN" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByfillingId" parameterType="com.hand.hls.fp.dto.FundingExecute" resultMap="BaseResultMap">
        select t.*,(SELECT
        u.UNIT_CODE
        FROM
        fnd_org_unit u
        WHERE
        u.unit_id = t.unit_id)unit_code from jc_funding_execute t
        <where>
            1 = 1
            <if test="fillingId != null and fillingId != ''">
                and t.filling_id = #{fillingId}
            </if>
        </where>

    </select>

    <select id="queryAllByUnit" parameterType="com.hand.hls.fp.dto.FundingExecute" resultMap="BaseResultMap">
        select t1.*
        from
        ( SELECT
        t.*, (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_TYPE'
        AND sc.code_value = t.fill_type
        ) FILL_TYPE_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_YEAR'
        AND sc.code_value = t.fill_year
        ) FILL_YEAR_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_QUARTER'
        AND sc.code_value = t.fill_quarter
        ) FILL_QUARTER_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_MON'
        AND sc.code_value = t.fill_mon
        ) FILL_MON_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_WEEK'
        AND sc.code_value = t.fill_week
        ) FILL_WEEK_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_STATUS'
        AND sc.code_value = t.plan_status
        ) PLAN_STATUS_N,
        (
        SELECT
        s.description
        FROM
        sys_user s
        WHERE
        s.user_id = t.fill_user_id
        ) FILL_USER_ID_N,
        (
        SELECT
        u.unit_name
        FROM
        fnd_org_unit u
        WHERE
        u.unit_id = t.unit_id
        ) unit_id_n,
        (
        SELECT
        u.unit_code
        FROM
        fnd_org_unit u
        WHERE
        u.unit_id = t.unit_id
        ) unit_code,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'EXCUTE_DIMENSION'
        AND sc.code_value = t.DIMENSION_TYPE
        ) DIMENSION_TYPE_n,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.CONFIRM_STATUS'
        AND sc.code_value = t.CONFIRM_STATUS
        ) CONFIRM_STATUS_n
        FROM
        jc_funding_execute t
        )t1
        <where>
            1 = 1
            <if test="fillingId != null">
                and t1.filling_id = #{fillingId}
            </if>
            <if test="excuteId != null">
                and t1.excute_id = #{excuteId}
            </if>
            <if test="fillType != null">
                and t1.fill_type = #{fillType}
            </if>
            <if test="fillYear != null">
                and t1.fill_year = #{fillYear}
            </if>
            <if test="fillQuarter != null">
                and t1.fill_quarter = #{fillQuarter}
            </if>
            <if test="fillWeek != null">
                and t1.fill_week = #{fillWeek}
            </if>
            <if test="fillMon != null">
                and t1.fill_mon = #{fillMon}
            </if>
            <if test="unitId != null">
                and (t1.unit_id = #{unitId} or EXISTS (SELECT
                1
                FROM
                sys_user U
                LEFT JOIN SYS_USER_ALLOCATION UR ON UR.USER_ID = U.USER_ID
                LEFT JOIN SYS_ROLE_B R ON R.ROLE_ID = UR.ROLE_ID
                WHERE
                R.ROLE_CODE = 'ADMIN' and U.USER_ID = #{createdBy}) )
            </if>
            <if test="fillUserIdN != null">
                and t1.fill_user_id_n = #{fillUserIdN}
            </if>
            <if test="confirmStatus != null">
                and t1.confirm_status = #{confirmStatus}
            </if>
            <if test="dimensionType != null">
                and t1.dimension_type = #{dimensionType}
            </if>
        </where>

    </select>

    <select id="queryAll" parameterType="com.hand.hls.fp.dto.FundingExecute" resultMap="BaseResultMap">
        select t1.*
        from
        ( SELECT
        t.*, (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_TYPE'
        AND sc.code_value = t.fill_type
        ) FILL_TYPE_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_YEAR'
        AND sc.code_value = t.fill_year
        ) FILL_YEAR_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_QUARTER'
        AND sc.code_value = t.fill_quarter
        ) FILL_QUARTER_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_MON'
        AND sc.code_value = t.fill_mon
        ) FILL_MON_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_WEEK'
        AND sc.code_value = t.fill_week
        ) FILL_WEEK_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_STATUS'
        AND sc.code_value = t.plan_status
        ) PLAN_STATUS_N,
        (
        SELECT
        s.description
        FROM
        sys_user s
        WHERE
        s.user_id = t.fill_user_id
        ) FILL_USER_ID_N,
        (
        SELECT
        u.unit_name
        FROM
        fnd_org_unit u
        WHERE
        u.unit_id = t.unit_id
        ) unit_id_n,
        (
        SELECT
        u.unit_code
        FROM
        fnd_org_unit u
        WHERE
        u.unit_id = t.unit_id
        ) unit_code,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'EXCUTE_DIMENSION'
        AND sc.code_value = t.DIMENSION_TYPE
        ) DIMENSION_TYPE_n,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.CONFIRM_STATUS'
        AND sc.code_value = t.CONFIRM_STATUS
        ) CONFIRM_STATUS_n
        FROM
        jc_funding_execute t
        )t1
        <where>
            1 = 1
            <if test="fillingId != null">
                and t1.filling_id = #{fillingId}
            </if>
            <if test="excuteId != null">
                and t1.excute_id = #{excuteId}
            </if>
            <if test="fillType != null">
                and t1.fill_type = #{fillType}
            </if>
            <if test="fillYear != null">
                and t1.fill_year = #{fillYear}
            </if>
            <if test="fillQuarter != null">
                and t1.fill_quarter = #{fillQuarter}
            </if>
            <if test="fillWeek != null">
                and t1.fill_week = #{fillWeek}
            </if>
            <if test="fillMon != null">
                and t1.fill_mon = #{fillMon}
            </if>
            <if test="unitId != null">
                and t1.unit_id = #{unitId}
            </if>
            <if test="fillUserIdN != null">
                and t1.fill_user_id_n = #{fillUserIdN}
            </if>
            <if test="confirmStatus != null">
                and t1.confirm_status = #{confirmStatus}
            </if>
            <if test="dimensionType != null">
                and t1.dimension_type = #{dimensionType}
            </if>
        </where>

    </select>

    <select id="queryAllConfirm" parameterType="com.hand.hls.fp.dto.FundingExecute" resultMap="BaseResultMap">
        select t1.*
        from
        ( SELECT
        t.*, (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_TYPE'
        AND sc.code_value = t.fill_type
        ) FILL_TYPE_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_YEAR'
        AND sc.code_value = t.fill_year
        ) FILL_YEAR_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_QUARTER'
        AND sc.code_value = t.fill_quarter
        ) FILL_QUARTER_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_MON'
        AND sc.code_value = t.fill_mon
        ) FILL_MON_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_WEEK'
        AND sc.code_value = t.fill_week
        ) FILL_WEEK_N,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.FILL_STATUS'
        AND sc.code_value = t.plan_status
        ) PLAN_STATUS_N,
        (
        SELECT
        s.description
        FROM
        sys_user s
        WHERE
        s.user_id = t.fill_user_id
        ) FILL_USER_ID_N,
        (
        SELECT
        u.unit_name
        FROM
        fnd_org_unit u
        WHERE
        u.unit_id = t.unit_id
        ) unit_id_n,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'EXCUTE_DIMENSION'
        AND sc.code_value = t.DIMENSION_TYPE
        ) DIMENSION_TYPE_n,
        (
        SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'FP.CONFIRM_STATUS'
        AND sc.code_value = t.CONFIRM_STATUS
        ) CONFIRM_STATUS_n
        FROM
        jc_funding_execute t
        )t1
        <where>
            1 = 1
            and t1.confirm_status = 'CONFIRM'
            <if test="fillingId != null">
                and t1.filling_id = #{fillingId}
            </if>
            <if test="fillType != null">
                and t1.fill_type = #{fillType}
            </if>
            <if test="fillYear != null">
                and t1.fill_year = #{fillYear}
            </if>
            <if test="fillQuarter != null">
                and t1.fill_quarter = #{fillQuarter}
            </if>
            <if test="fillWeek != null">
                and t1.fill_week = #{fillWeek}
            </if>
            <if test="fillMon != null">
                and t1.fill_mon = #{fillMon}
            </if>
            <if test="unitId != null">
                and t1.unit_id = #{unitId}
            </if>
            <if test="fillUserIdN != null">
                and t1.fill_user_id_n = #{fillUserIdN}
            </if>
            <if test="confirmStatus != null">
                and t1.confirm_status = #{confirmStatus}
            </if>
            <if test="dimensionType != null">
                and t1.dimension_type = #{dimensionType}
            </if>
        </where>

    </select>
</mapper>