<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fp.mapper.JcFundFillingLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fp.dto.JcFundFillingLn">
        <result column="FILLING_LN_ID" property="fillingLnId" jdbcType="DECIMAL"/>
        <result column="FILLING_ID" property="fillingId" jdbcType="DECIMAL"/>
        <result column="FILL_ITEM" property="fillItem" jdbcType="VARCHAR"/>
        <result column="fill_item_code" property="fillItemCode" jdbcType="VARCHAR"/>
        <result column="FIELD1" property="field1" jdbcType="DECIMAL"/>
        <result column="FIELD2" property="field2" jdbcType="DECIMAL"/>
        <result column="FIELD3" property="field3" jdbcType="DECIMAL"/>
        <result column="FIELD4" property="field4" jdbcType="DECIMAL"/>
        <result column="FIELD5" property="field5" jdbcType="DECIMAL"/>
        <result column="FIELD6" property="field6" jdbcType="DECIMAL"/>
        <result column="FIELD7" property="field7" jdbcType="DECIMAL"/>
        <result column="FIELD8" property="field8" jdbcType="DECIMAL"/>
        <result column="FIELD9" property="field9" jdbcType="DECIMAL"/>
        <result column="FIELD10" property="field10" jdbcType="DECIMAL"/>
        <result column="FIELD11" property="field11" jdbcType="DECIMAL"/>
        <result column="FIELD12" property="field12" jdbcType="DECIMAL"/>
        <result column="FIELD13" property="field13" jdbcType="DECIMAL"/>
        <result column="FIELD14" property="field14" jdbcType="DECIMAL"/>
        <result column="FIELD15" property="field15" jdbcType="DECIMAL"/>
        <result column="FIELD16" property="field16" jdbcType="DECIMAL"/>
        <result column="SUM_AMOUNT" property="sumAmount" jdbcType="DECIMAL"/>
        <result column="fill_type" property="fillType"/>
        <result column="fill_quarter" property="fillQuarter"/>
        <result column="fill_week" property="fillWeek"/>
        <result column="fill_year" property="fillYear"/>
        <result column="unit_id" property="unitId"/>
        <result column="fill_mon" property="fillMon"/>
        <result column="first_day" property="firstDay"/>
        <result column="second_day" property="secondDay"/>
        <result column="third_day" property="thirdDay"/>
        <result column="fourth_day" property="fourthDay"/>
        <result column="fifth_day" property="fifthDay"/>
        <result column="sixth_day" property="sixthDay"/>
        <result column="seventh_day" property="seventhDay"/>
        <result column="eighth_day" property="eighthDay"/>
        <result column="ninth_day" property="ninthDay"/>
        <result column="tenth_day" property="tenthDay"/>
        <result column="eleventh_day" property="eleventhDay"/>
        <result column="twelfth_day" property="twelfthDay"/>
        <result column="thirteenth_day" property="thirteenthDay"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="field1_prompt" property="field1Prompt"/>
        <result column="field2_prompt" property="field2Prompt"/>
        <result column="field3_prompt" property="field3Prompt"/>
        <result column="field4_prompt" property="field4Prompt"/>
        <result column="field1_start_date" property="field1StartDate"/>
        <result column="field2_start_date" property="field2StartDate"/>
        <result column="field3_start_date" property="field3StartDate"/>
        <result column="field4_start_date" property="field4StartDate"/>
        <result column="field1_end_date" property="field1EndDate"/>
        <result column="field2_end_date" property="field2EndDate"/>
        <result column="field3_end_date" property="field3EndDate"/>
        <result column="field4_end_date" property="field4EndDate"/>
        <result column="end_amount1" property="endAmount1"/>
        <result column="filed_num" property="filedNum"/>
        <result column="fund_type" property="fundType"/>
        <result column="unit_code" property="unitCode"/>
        <result column="filling_req_id" property="fillingReqId"/>
    </resultMap>
    <select id="updateByItemCode" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        update jc_fund_filling_ln
        set FIELD1 = #{field1},
            FIELD2 = #{field2},
            FIELD3 = #{field3},
            FIELD4 = #{field4},
            FIELD5 = #{field5},
            FIELD6 = #{field6},
            FIELD7 = #{field7},
            FIELD8 = #{field8},
            FIELD9 = #{field9},
            FIELD10 = #{field10},
            FIELD11 = #{field11},
            FIELD12 = #{field12},
            FIELD13 = #{field13}
        where FILLING_ID = #{fillingId}
              and fill_item_code = #{fillItemCode}
    </select>

    <select id="updateFillingDetailUnitId" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">

            UPDATE jc_fund_filling_detail t1
                SET t1.host_unit_id = (
                    SELECT
                        u.unit_id
                    FROM
                        jc_fund_filling_ln a,
                        fnd_org_unit u
                    WHERE
                        a.filling_ln_id = #{fillingLnId}
                    AND substring_index(a.UNIT_CODE,'1',1) = u.UNIT_CODE
                )
            WHERE
                t1.FILLING_ID = #{fillingId}
            AND t1.filling_ln_id = #{fillingLnId}
            AND t1.host_unit_id IS NULL
    </select>

    <select id="queryByItemCode" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        SELECT
        t.*
        FROM
        jc_fund_filling_ln t,
        jc_funding_plan_one n,
        jc_funding_plan p
        <where>
            t.FILL_ITEM_CODE IN ('SX_KYHA','SX_BLHA','TJ_KYHA','TJ_BLHA','SX_KYHB','SX_BLHB','TJ_KYHB','TJ_BLHB','INITIAL_BALANCE','END_BALANCE')
            AND t.FILL_ITEM_CODE = n.ITEM_CODE
            AND p.REPORT_CODE = 'JC-20200311-004'
            AND n.FUNDING_ID = p.FUNDING_ID
            <if test="fillingId!=null">
                and t.filling_id = #{fillingId}
            </if>
            ORDER BY
            n.ITEM_SEQ
        </where>
    </select>

    <select id="queryAll" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        SELECT
        t.*
        FROM
        jc_fund_filling_ln t
        <where>
            1=1
            <if test="fillingReqId!=null">
                and t.filling_id = #{fillingId}
            </if>
        </where>
    </select>

    <select id="queryAllForUpdateAmount" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        SELECT
        t.*
        FROM
        jc_fund_filling_ln t
        <where>
            1=1
            <if test="fillingId!=null">
                and t.filling_id = #{fillingId}
            </if>
        </where>
    </select>

    <select id="deleteFillingLn" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
         DELETE
            FROM
            jc_fund_filling_ln
            WHERE
            filling_id =  #{fillingId}
    </select>

    <select id="queryAllReq" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        SELECT
        t.*
        FROM
        jc_fund_filling_ln t
        <where>
            1=1
            <if test="fillingId!=null">
                and t.filling_id = #{fillingId}
            </if>
        </where>
    </select>

    <select id="queryAllNew" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        SELECT
        t.FILLING_ID,
        t.FILLING_LN_ID,
        t.FILL_ITEM,
        t.FILL_ITEM_CODE,
        nvl(t.FIELD1,0)FIELD1,
        nvl(t.FIELD2,0)FIELD2,
        nvl(t.FIELD3,0)FIELD3,
        nvl(t.FIELD4,0)FIELD4,
        nvl(t.FIELD5,0)FIELD5,
        nvl(t.FIELD6,0)FIELD6,
        nvl(t.FIELD7,0)FIELD7,
        nvl(t.FIELD8,0)FIELD8,
        nvl(t.FIELD9,0)FIELD9,
        nvl(t.FIELD10,0)FIELD10,
        nvl(t.FIELD11,0)FIELD11,
        nvl(t.FIELD12,0)FIELD12,
        nvl(t.FIELD13,0)FIELD13,
        nvl(t.FIELD14,0)FIELD14,
        nvl(t.FIELD15,0)FIELD15,
        nvl(t.FIELD16,0)FIELD16,
        (select f.fill_type from jc_fund_filling f where f.filling_id = t.filling_id)fill_type,
        (select f.fill_quarter from jc_fund_filling f where f.filling_id = t.filling_id)fill_quarter,
        (select f.fill_week from jc_fund_filling f where f.filling_id = t.filling_id)fill_week,
        (select f.fill_year from jc_fund_filling f where f.filling_id = t.filling_id)fill_year,
        (
        nvl(t.FIELD1, 0) + nvl(t.FIELD2, 0) + nvl(t.FIELD3, 0) + nvl(t.FIELD4, 0) + nvl(t.FIELD5, 0) +
        nvl(t.FIELD6, 0) + nvl(t.FIELD7, 0) + nvl(t.FIELD8, 0) + nvl(t.FIELD9, 0) + nvl(t.FIELD10, 0) +
        nvl(t.FIELD11, 0) + nvl(t.FIELD12, 0) + nvl(t.FIELD13, 0) + nvl(t.FIELD14, 0) + nvl(t.FIELD15, 0)
        + nvl(t.FIELD16, 0)
        ) SUM_AMOUNT,
        t.CREATION_DATE
        FROM
        jc_fund_filling_ln t
        <where>
            1=1
            <if test="fillingId!=null">
                and t.filling_id = #{fillingId}
            </if>
            <if test="fillingLnId!=null">
                and t.FILLING_LN_ID = #{fillingLnId}
            </if>
        </where>
        order by t.FILLING_LN_ID asc
    </select>

    <select id="queryAllDetailNew" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        SELECT
        t.FILLING_ID,
        t.FILLING_LN_ID,
        t.FILL_ITEM,
        t.FILL_ITEM_CODE,
        t.FIELD1,
        t.FIELD2,
        t.FIELD3,
        t.FIELD4,
        t.FIELD5,
        t.FIELD6,
        t.FIELD7,
        t.FIELD8,
        t.FIELD9,
        t.FIELD10,
        t.FIELD11,
        t.FIELD12,
        t.FIELD13,
        t.FIELD14,
        t.FIELD15,
        t.FIELD16,
        (select f.fill_type from jc_fund_filling f where f.filling_id = t.filling_id)fill_type,
        (select f.unit_id from jc_fund_filling f where f.filling_id = t.filling_id)unit_id,
        (select f.fill_quarter from jc_fund_filling f where f.filling_id = t.filling_id)fill_quarter,
        (select f.fill_week from jc_fund_filling f where f.filling_id = t.filling_id)fill_week,
        (select f.fill_year from jc_fund_filling f where f.filling_id = t.filling_id)fill_year,
        (select f.fill_mon from jc_fund_filling f where f.filling_id = t.filling_id)fill_mon,
        (
        nvl(t.FIELD1, 0) + nvl(t.FIELD2, 0) + nvl(t.FIELD3, 0) + nvl(t.FIELD4, 0) + nvl(t.FIELD5, 0) +
        nvl(t.FIELD6, 0) + nvl(t.FIELD7, 0) + nvl(t.FIELD8, 0) + nvl(t.FIELD9, 0) + nvl(t.FIELD10, 0) +
        nvl(t.FIELD11, 0) + nvl(t.FIELD12, 0) + nvl(t.FIELD13, 0) + nvl(t.FIELD14, 0) + nvl(t.FIELD15, 0)
        + nvl(t.FIELD16, 0)
        ) SUM_AMOUNT
        FROM
        jc_fund_filling_ln t
        <where>
            1=1
            <if test="fillingId!=null">
                and t.filling_id = #{fillingId}
            </if>
            <if test="fillingLnId!=null">
                and t.filling_ln_id = #{fillingLnId}
            </if>
        </where>
    </select>

    <select id="queryFiledPrompt" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        SELECT
        CONCAT_ws(
        '~',
        t1.start_date,
        t1.end_date
        ) field1_prompt,
        t1.start_date as field1_start_date,
        t1.end_date as field1_end_date,
        (
        SELECT
        CONCAT_ws(
        '~',
        t.start_date,
        t.end_date
        )
        FROM
        jc_fund_plan_schedule t
        WHERE
        t.FILL_YEAR = t1.fill_year
        AND t.FILL_MON = t1.fill_mon
        AND t.FILL_WEEK = 2
        ) field2_prompt,
        (
        SELECT
        t.start_date
        FROM
        jc_fund_plan_schedule t
        WHERE
        t.FILL_YEAR = t1.fill_year
        AND t.FILL_MON = t1.fill_mon
        AND t.FILL_WEEK = 2
        ) field2_start_date,
        (
        SELECT
        t.end_date
        FROM
        jc_fund_plan_schedule t
        WHERE
        t.FILL_YEAR = t1.fill_year
        AND t.FILL_MON = t1.fill_mon
        AND t.FILL_WEEK = 2
        ) field2_end_date,
        (
        SELECT
        CONCAT_ws(
        '~',
        t.start_date,
        t.end_date
        )
        FROM
        jc_fund_plan_schedule t
        WHERE
        t.FILL_YEAR = t1.fill_year
        AND t.FILL_MON = t1.fill_mon
        AND t.FILL_WEEK = 3
        ) field3_prompt,
        (
        SELECT
        t.start_date
        FROM
        jc_fund_plan_schedule t
        WHERE
        t.FILL_YEAR = t1.fill_year
        AND t.FILL_MON = t1.fill_mon
        AND t.FILL_WEEK = 3
        ) field3_start_date,
        (
        SELECT
        t.end_date
        FROM
        jc_fund_plan_schedule t
        WHERE
        t.FILL_YEAR = t1.fill_year
        AND t.FILL_MON = t1.fill_mon
        AND t.FILL_WEEK = 3
        ) field3_end_date,
        (
        SELECT
        CONCAT_ws(
        '~',
        t.start_date,
        t.end_date
        )
        FROM
        jc_fund_plan_schedule t
        WHERE
        t.FILL_YEAR = t1.fill_year
        AND t.FILL_MON = t1.fill_mon
        AND t.FILL_WEEK = 4
        ) field4_prompt,
        (
        SELECT
        t.start_date
        FROM
        jc_fund_plan_schedule t
        WHERE
        t.FILL_YEAR = t1.fill_year
        AND t.FILL_MON = t1.fill_mon
        AND t.FILL_WEEK = 4
        ) field4_start_date,
        (
        SELECT
        t.end_date
        FROM
        jc_fund_plan_schedule t
        WHERE
        t.FILL_YEAR = t1.fill_year
        AND t.FILL_MON = t1.fill_mon
        AND t.FILL_WEEK = 4
        ) field4_end_date
        FROM
        jc_fund_plan_schedule t1
        <where>
            1=1
            and t1.fill_week = 1
            <if test="fillYear!=null and fillYear!=''">
                and t1.fill_year = #{fillYear}
            </if>
            <if test="fillMon!=null and fillMon!=''">
                and t1.fill_mon = #{fillMon}
            </if>
            <if test="fillWeek!=null and fillWeek!=''">
                and t1.fill_week = #{fillWeek}
            </if>
            <if test="fillQuarter!=null">
                and t1.fill_quarter = #{fillQuarter}
            </if>
        </where>
    </select>

    <select id="queryWeekFiledPrompt" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        SELECT
        concat(
        (
        CASE to_char(t.FIRST_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.FIRST_DAY
        ) FIRST_DAY,
        concat(
        (
        CASE to_char(t.SECOND_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.SECOND_DAY
        ) SECOND_DAY,
        concat(
        (
        CASE to_char(t.THIRD_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.THIRD_DAY
        ) THIRD_DAY,
        concat(
        (
        CASE to_char(t.FOURTH_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.FOURTH_DAY
        ) FOURTH_DAY,
        concat(
        (
        CASE to_char(t.FIFTH_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.FIFTH_DAY
        ) FIFTH_DAY,
        concat(
        (
        CASE to_char(t.SIXTH_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.SIXTH_DAY
        ) SIXTH_DAY,
        concat(
        (
        CASE to_char(t.SEVENTH_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.SEVENTH_DAY
        ) SEVENTH_DAY,
        concat(
        (
        CASE to_char(t.EIGHTH_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.EIGHTH_DAY
        ) EIGHTH_DAY,
        concat(
        (
        CASE to_char(t.NINTH_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.NINTH_DAY
        ) NINTH_DAY,
        concat(
        (
        CASE to_char(t.TENTH_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.TENTH_DAY
        ) TENTH_DAY,
        concat(
        (
        CASE to_char(t.ELEVENTH_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.ELEVENTH_DAY
        ) ELEVENTH_DAY,
        concat(
        (
        CASE to_char(t.TWELFTH_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.TWELFTH_DAY
        ) TWELFTH_DAY,
        concat(
        (
        CASE to_char(t.THIRTEENTH_DAY, 'w')
        WHEN 1 THEN
        '星期一'
        WHEN 2 THEN
        '星期二'
        WHEN 3 THEN
        '星期三'
        WHEN 4 THEN
        '星期四'
        WHEN 5 THEN
        '星期五'
        WHEN 6 THEN
        '星期六'
        ELSE
        '星期天'
        END
        ),
        '\n',
        t.THIRTEENTH_DAY
        ) THIRTEENTH_DAY
        FROM
        jc_fund_plan_schedule t
        <where>
            1=1
            <if test="fillYear!=null and fillYear!=''">
                and t.fill_year = #{fillYear}
            </if>
            <if test="fillMon!=null and fillMon!=''">
                and t.fill_mon = #{fillMon}
            </if>
            <if test="fillWeek!=null and fillWeek!=''">
                and t.fill_week = #{fillWeek}
            </if>
            <if test="fillQuarter!=null">
                and t.fill_quarter = #{fillQuarter}
            </if>
        </where>
    </select>

    <select id="queryEndBalanceAmountSxK" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        select
           (
            #{endAmount1} + (SELECT
            (CASE #{filedNum}
            WHEN '01' THEN
            nvl(sum(t.FIELD1), 0)
            WHEN '02' THEN
            nvl(sum(t.FIELD2), 0)
            WHEN '03' THEN
            nvl(sum(t.FIELD3), 0)
            WHEN '04' THEN
            nvl(sum(t.FIELD4), 0)
            WHEN '05' THEN
            nvl(sum(t.FIELD5), 0)
            WHEN '06' THEN
            nvl(sum(t.FIELD6), 0)
            WHEN '07' THEN
            nvl(sum(t.FIELD7), 0)
            WHEN '08' THEN
            nvl(sum(t.FIELD8), 0)
            WHEN '09' THEN
            nvl(sum(t.FIELD9), 0)
            WHEN '10' THEN
            nvl(sum(t.FIELD10), 0)
            WHEN '11' THEN
            nvl(sum(t.FIELD11), 0)
            WHEN '12' THEN
            nvl(sum(t.FIELD12), 0)
            WHEN '13' THEN
            nvl(sum(t.FIELD13), 0)
            END
            )
            FROM
            jc_fund_filling_ln t
            WHERE
            t.FILL_ITEM_CODE IN (
            'ZB_AMOUNT',
            'WD_AMOUNT_NEW',
            'WD_AMOUNT_CHANGE',
            'YD_AMOUNT_NEW',
            'ZQ_AMOUNT',
            'PJ_AMOUNT',
            'OTHER_AMOUNT',
            'SX_KYHC'
            )
            and t.filling_id = #{fillingId})
            -(SELECT
                (
                    CASE #{filedNum}
                    WHEN '01' THEN
                        nvl(sum(t.FIELD1), 0)
                    WHEN '02' THEN
                        nvl(sum(t.FIELD2), 0)
                    WHEN '03' THEN
                        nvl(sum(t.FIELD3), 0)
                    WHEN '04' THEN
                        nvl(sum(t.FIELD4), 0)
                    WHEN '05' THEN
                        nvl(sum(t.FIELD5), 0)
                    WHEN '06' THEN
                        nvl(sum(t.FIELD6), 0)
                    WHEN '07' THEN
                        nvl(sum(t.FIELD7), 0)
                    WHEN '08' THEN
                        nvl(sum(t.FIELD8), 0)
                    WHEN '09' THEN
                        nvl(sum(t.FIELD9), 0)
                    WHEN '10' THEN
                        nvl(sum(t.FIELD10), 0)
                    WHEN '11' THEN
                        nvl(sum(t.FIELD11), 0)
                    WHEN '12' THEN
                        nvl(sum(t.FIELD12), 0)
                    WHEN '13' THEN
                        nvl(sum(t.FIELD13), 0)
                    END
                )
            FROM
                jc_fund_filling_ln t
            WHERE
                t.FILL_ITEM_CODE IN (
                    'PRINCIPAL_WD',
                    'INTEREST_WD',
                    'LEGAL_FEE_WD',
                    'DEPOSIT_WD',
                    'PRINCIPAL_YD',
                    'INTEREST_YD',
                    'LEGAL_FEE_YD',
                    'DEPOSIT_YD',
                    'LEGAL_FEE_PJ',
                    'DEPOSIT_PJ',
                    'PLUS_PJ',
                    'SALARY_BONUS',
                    'TAX_FEE',
                    'PURCHASE_OTHER'
                )
                and t.filling_id = #{fillingId}
            )-(
                SELECT
                nvl(sum(d.DUE_AMOUNT),0)
            FROM
                jc_fund_filling_detail d
            WHERE
                d.ITEM_CODE = 'LOAN_DELIVERY'
            AND d.FUND_TYPE = #{fundType}
            and d.filling_id = #{fillingId}
            AND EXISTS (
                SELECT
                    1
                FROM
                    csh_bank_account a
                WHERE
                    a.BANK_ACCOUNT_ID = d.BANK_ID
                AND a.company_id = 248
                AND a.bank_type_new = 'USED_ACCOUNT'
                )
            )) end_amount1
        from dual

    </select>
    <select id="queryEndBalanceAmountSxB" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        select
           (
            #{endAmount1} + (SELECT
            (CASE #{filedNum}
            WHEN '01' THEN
            nvl(sum(t.FIELD1), 0)
            WHEN '02' THEN
            nvl(sum(t.FIELD2), 0)
            WHEN '03' THEN
            nvl(sum(t.FIELD3), 0)
            WHEN '04' THEN
            nvl(sum(t.FIELD4), 0)
            WHEN '05' THEN
            nvl(sum(t.FIELD5), 0)
            WHEN '06' THEN
            nvl(sum(t.FIELD6), 0)
            WHEN '07' THEN
            nvl(sum(t.FIELD7), 0)
            WHEN '08' THEN
            nvl(sum(t.FIELD8), 0)
            WHEN '09' THEN
            nvl(sum(t.FIELD9), 0)
            WHEN '10' THEN
            nvl(sum(t.FIELD10), 0)
            WHEN '11' THEN
            nvl(sum(t.FIELD11), 0)
            WHEN '12' THEN
            nvl(sum(t.FIELD12), 0)
            WHEN '13' THEN
            nvl(sum(t.FIELD13), 0)
            END
            )
            FROM
            jc_fund_filling_ln t
            WHERE
            t.FILL_ITEM_CODE IN (
            'SX_BLHC'
            )
            and t.filling_id = #{fillingId})
            -(SELECT
                (
                    CASE #{filedNum}
                    WHEN '01' THEN
                        nvl(sum(t.FIELD1), 0)
                    WHEN '02' THEN
                        nvl(sum(t.FIELD2), 0)
                    WHEN '03' THEN
                        nvl(sum(t.FIELD3), 0)
                    WHEN '04' THEN
                        nvl(sum(t.FIELD4), 0)
                    WHEN '05' THEN
                        nvl(sum(t.FIELD5), 0)
                    WHEN '06' THEN
                        nvl(sum(t.FIELD6), 0)
                    WHEN '07' THEN
                        nvl(sum(t.FIELD7), 0)
                    WHEN '08' THEN
                        nvl(sum(t.FIELD8), 0)
                    WHEN '09' THEN
                        nvl(sum(t.FIELD9), 0)
                    WHEN '10' THEN
                        nvl(sum(t.FIELD10), 0)
                    WHEN '11' THEN
                        nvl(sum(t.FIELD11), 0)
                    WHEN '12' THEN
                        nvl(sum(t.FIELD12), 0)
                    WHEN '13' THEN
                        nvl(sum(t.FIELD13), 0)
                    END
                )
            FROM
                jc_fund_filling_ln t
            WHERE
                t.FILL_ITEM_CODE IN (
                    'INTEREST_YD1','PRINCIPAL_YD1',
                    'LEGAL_FEE_YD1','DEPOSIT_YD1',
                    'PRINCIPAL_ZQ','INTEREST_ZQ','FEE_ZQ'
                )
                and t.filling_id = #{fillingId}
            )-(
                SELECT
                nvl(sum(d.DUE_AMOUNT),0)
            FROM
                jc_fund_filling_detail d
            WHERE
                d.ITEM_CODE = 'LOAN_DELIVERY'
            AND d.FUND_TYPE = #{fundType}
            and d.filling_id = #{fillingId}
            AND EXISTS (
                SELECT
                    1
                FROM
                    csh_bank_account a
                WHERE
                    a.BANK_ACCOUNT_ID = d.BANK_ID
                AND a.company_id = 248
                AND a.bank_type_new = 'FACTORING_ACCOUNT'
                )
            )) end_amount1
        from dual

    </select>
    <select id="queryEndBalanceAmountTjK" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        select
           (
            #{endAmount1} + (SELECT
            (CASE #{filedNum}
            WHEN '01' THEN
            nvl(sum(t.FIELD1), 0)
            WHEN '02' THEN
            nvl(sum(t.FIELD2), 0)
            WHEN '03' THEN
            nvl(sum(t.FIELD3), 0)
            WHEN '04' THEN
            nvl(sum(t.FIELD4), 0)
            WHEN '05' THEN
            nvl(sum(t.FIELD5), 0)
            WHEN '06' THEN
            nvl(sum(t.FIELD6), 0)
            WHEN '07' THEN
            nvl(sum(t.FIELD7), 0)
            WHEN '08' THEN
            nvl(sum(t.FIELD8), 0)
            WHEN '09' THEN
            nvl(sum(t.FIELD9), 0)
            WHEN '10' THEN
            nvl(sum(t.FIELD10), 0)
            WHEN '11' THEN
            nvl(sum(t.FIELD11), 0)
            WHEN '12' THEN
            nvl(sum(t.FIELD12), 0)
            WHEN '13' THEN
            nvl(sum(t.FIELD13), 0)
            END
            )
            FROM
            jc_fund_filling_ln t
            WHERE
            t.FILL_ITEM_CODE IN (
            'ZB_AMOUNT1',
            'WD_AMOUNT_NEW1',
            'WD_AMOUNT_CHANGE1',
            'YD_AMOUNT_NEW1',
            'ZQ_AMOUNT1',
            'PJ_AMOUNT1',
            'OTHER_AMOUNT1',
            'TJ_KYHC'
            )
            and t.filling_id = #{fillingId})
            -(SELECT
                (
                    CASE #{filedNum}
                    WHEN '01' THEN
                        nvl(sum(t.FIELD1), 0)
                    WHEN '02' THEN
                        nvl(sum(t.FIELD2), 0)
                    WHEN '03' THEN
                        nvl(sum(t.FIELD3), 0)
                    WHEN '04' THEN
                        nvl(sum(t.FIELD4), 0)
                    WHEN '05' THEN
                        nvl(sum(t.FIELD5), 0)
                    WHEN '06' THEN
                        nvl(sum(t.FIELD6), 0)
                    WHEN '07' THEN
                        nvl(sum(t.FIELD7), 0)
                    WHEN '08' THEN
                        nvl(sum(t.FIELD8), 0)
                    WHEN '09' THEN
                        nvl(sum(t.FIELD9), 0)
                    WHEN '10' THEN
                        nvl(sum(t.FIELD10), 0)
                    WHEN '11' THEN
                        nvl(sum(t.FIELD11), 0)
                    WHEN '12' THEN
                        nvl(sum(t.FIELD12), 0)
                    WHEN '13' THEN
                        nvl(sum(t.FIELD13), 0)
                    END
                )
            FROM
                jc_fund_filling_ln t
            WHERE
                t.FILL_ITEM_CODE IN (
                    'PRINCIPAL_WD_TJ',
                    'INTEREST_WD_TJ',
                    'LEGAL_FEE_WD_TJ',
                    'DEPOSIT_WD_TJ',
                    'PRINCIPAL_YD2',
                    'INTEREST_YD2',
                    'LEGAL_FEE_YD2',
                    'DEPOSIT_YD2',
                    'LEGAL_FEE_PJ_TJ',
                    'DEPOSIT_PJ_TJ',
                    'PLUS_PJ_TJ'
                )
                and t.filling_id = #{fillingId}
            )-(
                SELECT
                nvl(sum(d.DUE_AMOUNT),0)
            FROM
                jc_fund_filling_detail d
            WHERE
                d.ITEM_CODE = 'LOAN_DELIVERY'
            AND d.FUND_TYPE = #{fundType}
            and d.filling_id = #{fillingId}
            AND EXISTS (
                SELECT
                    1
                FROM
                    csh_bank_account a
                WHERE
                    a.BANK_ACCOUNT_ID = d.BANK_ID
                AND a.company_id = 313
                AND a.bank_type_new = 'USED_ACCOUNT'
                )
            )) end_amount1
        from dual

    </select>
    <select id="queryEndBalanceAmountTjB" parameterType="com.hand.hls.fp.dto.JcFundFillingLn" resultMap="BaseResultMap">
        select
           (
            #{endAmount1} + (SELECT
            (CASE #{filedNum}
            WHEN '01' THEN
            nvl(sum(t.FIELD1), 0)
            WHEN '02' THEN
            nvl(sum(t.FIELD2), 0)
            WHEN '03' THEN
            nvl(sum(t.FIELD3), 0)
            WHEN '04' THEN
            nvl(sum(t.FIELD4), 0)
            WHEN '05' THEN
            nvl(sum(t.FIELD5), 0)
            WHEN '06' THEN
            nvl(sum(t.FIELD6), 0)
            WHEN '07' THEN
            nvl(sum(t.FIELD7), 0)
            WHEN '08' THEN
            nvl(sum(t.FIELD8), 0)
            WHEN '09' THEN
            nvl(sum(t.FIELD9), 0)
            WHEN '10' THEN
            nvl(sum(t.FIELD10), 0)
            WHEN '11' THEN
            nvl(sum(t.FIELD11), 0)
            WHEN '12' THEN
            nvl(sum(t.FIELD12), 0)
            WHEN '13' THEN
            nvl(sum(t.FIELD13), 0)
            END
            )
            FROM
            jc_fund_filling_ln t
            WHERE
            t.FILL_ITEM_CODE IN (
            'TJ_BLHC'
            )
            and t.filling_id = #{fillingId})
            -(SELECT
                (
                    CASE #{filedNum}
                    WHEN '01' THEN
                        nvl(sum(t.FIELD1), 0)
                    WHEN '02' THEN
                        nvl(sum(t.FIELD2), 0)
                    WHEN '03' THEN
                        nvl(sum(t.FIELD3), 0)
                    WHEN '04' THEN
                        nvl(sum(t.FIELD4), 0)
                    WHEN '05' THEN
                        nvl(sum(t.FIELD5), 0)
                    WHEN '06' THEN
                        nvl(sum(t.FIELD6), 0)
                    WHEN '07' THEN
                        nvl(sum(t.FIELD7), 0)
                    WHEN '08' THEN
                        nvl(sum(t.FIELD8), 0)
                    WHEN '09' THEN
                        nvl(sum(t.FIELD9), 0)
                    WHEN '10' THEN
                        nvl(sum(t.FIELD10), 0)
                    WHEN '11' THEN
                        nvl(sum(t.FIELD11), 0)
                    WHEN '12' THEN
                        nvl(sum(t.FIELD12), 0)
                    WHEN '13' THEN
                        nvl(sum(t.FIELD13), 0)
                    END
                )
            FROM
                jc_fund_filling_ln t
            WHERE
                t.FILL_ITEM_CODE IN (
                    'PRINCIPAL_YD3','INTEREST_YD3',
                    'LEGAL_FEE_YD3','DEPOSIT_YD3'
                )
                and t.filling_id = #{fillingId}
            )-(
                SELECT
                nvl(sum(d.DUE_AMOUNT),0)
            FROM
                jc_fund_filling_detail d
            WHERE
                d.ITEM_CODE = 'LOAN_DELIVERY'
            AND d.FUND_TYPE = #{fundType}
            and d.filling_id = #{fillingId}
            AND EXISTS (
                SELECT
                    1
                FROM
                    csh_bank_account a
                WHERE
                    a.BANK_ACCOUNT_ID = d.BANK_ID
                AND a.company_id = 313
                AND a.bank_type_new = 'FACTORING_ACCOUNT'
                )
            )) end_amount1
        from dual

    </select>
</mapper>