<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fp.mapper.JcFundingPlanOneMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fp.dto.JcFundingPlanOne">
        <result column="FUNDING_ONE_ID" property="fundingOneId" jdbcType="DECIMAL" />
        <result column="FUNDING_ID" property="fundingId" jdbcType="DECIMAL" />
        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
        <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
        <result column="ITEM_SEQ" property="itemSeq" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.fp.dto.JcFundingPlanOne" resultMap="BaseResultMap">
        select t.*  from jc_funding_plan_one t
        <where>
            t.funding_id = #{fundingId}
        </where>
    </select>

    <select id="queryList" parameterType="com.hand.hls.fp.dto.JcFundingPlanOne" resultMap="BaseResultMap">
        select t.*  from jc_funding_plan_one t
        <where>
            t.funding_id = #{fundingId}
            <if test="enabledFlag != null">
                and t.enabled_flag = #{enabledFlag}
            </if>
            order by t.ITEM_SEQ asc
        </where>
    </select>

</mapper>