<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fp.mapper.JcFundingPlanSecondMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fp.dto.JcFundingPlanSecond">
        <result column="FUNDING_SECOND_ID" property="fundingSecondId" jdbcType="DECIMAL" />
        <result column="FUNDING_ID" property="fundingId" jdbcType="DECIMAL" />
        <result column="FUNDING_ONE_ID" property="fundingOneId" jdbcType="DECIMAL" />
        <result column="SECOND_ITEM_CODE" property="secondItemCode" jdbcType="VARCHAR" />
        <result column="SECOND_ITEM_NAME" property="secondItemName" jdbcType="VARCHAR" />
        <result column="SECOND_ITEM_SEQ" property="secondItemSeq" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.fp.dto.JcFundingPlanSecond" resultMap="BaseResultMap">
        select t.*  from jc_funding_plan_second t
        <where>
            t.funding_one_id = #{fundingOneId}
            <if test="enabledFlag != null">
                and t.enabled_flag = #{enabledFlag}
            </if>
        </where>
        order by t.SECOND_ITEM_SEQ asc
    </select>

</mapper>