<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fp.mapper.JcFundingPlanFiveMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fp.dto.JcFundingPlanFive">
        <result column="FUNDING_FIVE_ID" property="fundingFiveId" jdbcType="DECIMAL" />
        <result column="FUNDING_ID" property="fundingId" jdbcType="DECIMAL" />
        <result column="FUNDING_ONE_ID" property="fundingOneId" jdbcType="DECIMAL" />
        <result column="FUNDING_SECOND_ID" property="fundingSecondId" jdbcType="DECIMAL" />
        <result column="FUNDING_THREE_ID" property="fundingThreeId" jdbcType="DECIMAL" />
        <result column="FUNDING_FOUR_ID" property="fundingFourId" jdbcType="DECIMAL" />
        <result column="FIVE_ITEM_CODE" property="fiveItemCode" jdbcType="VARCHAR" />
        <result column="FIVE_ITEM_NAME" property="fiveItemName" jdbcType="VARCHAR" />
        <result column="FIVE_ITEM_SEQ" property="fiveItemSeq" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.fp.dto.JcFundingPlanFive" resultMap="BaseResultMap">
        select t.*  from jc_funding_plan_five t
        <where>
            t.funding_four_id = #{fundingFourId}
        </where>
        order by t.FIVE_ITEM_SEQ asc
    </select>
</mapper>