<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fp.mapper.JcFundPlanScheduleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fp.dto.JcFundPlanSchedule">
        <result column="schedule_id" property="scheduleId" jdbcType="DECIMAL" />
        <result column="FILL_YEAR" property="fillYear" jdbcType="DECIMAL" />
        <result column="FILL_QUARTER" property="fillQuarter" jdbcType="DECIMAL" />
        <result column="FILL_MON" property="fillMon" jdbcType="DECIMAL" />
        <result column="FILL_WEEK" property="fillWeek" jdbcType="DECIMAL" />
        <result column="FIRST_DAY" property="firstDay" jdbcType="DATE" />
        <result column="SECOND_DAY" property="secondDay" jdbcType="DATE" />
        <result column="THIRD_DAY" property="thirdDay" jdbcType="DATE" />
        <result column="FOURTH_DAY" property="fourthDay" jdbcType="DATE" />
        <result column="FIFTH_DAY" property="fifthDay" jdbcType="DATE" />
        <result column="SIXTH_DAY" property="sixthDay" jdbcType="DATE" />
        <result column="SEVENTH_DAY" property="seventhDay" jdbcType="DATE" />
        <result column="EIGHTH_DAY" property="eighthDay" jdbcType="DATE" />
        <result column="NINTH_DAY" property="ninthDay" jdbcType="DATE" />
        <result column="TENTH_DAY" property="tenthDay" jdbcType="DATE" />
        <result column="ELEVENTH_DAY" property="eleventhDay" jdbcType="DATE" />
        <result column="TWELFTH_DAY" property="twelfthDay" jdbcType="DATE" />
        <result column="THIRTEENTH_DAY" property="thirteenthDay" jdbcType="DATE" />
        <result column="DAY14" property="day14" jdbcType="DATE" />
        <result column="START_DATE" property="startDate" jdbcType="DATE" />
        <result column="END_DATE" property="endDate" jdbcType="DATE" />
    </resultMap>
    <select id="queryAll" parameterType="com.hand.hls.fp.dto.JcFundPlanSchedule" resultMap="BaseResultMap">
        select t.*
         from jc_fund_plan_schedule t
        <where>
            1=1
            <if test="fillYear!=null">
                and t.fill_year = #{fillYear}
            </if>
            <if test="fillQuarter!=null">
                and t.fill_quarter = #{fillQuarter}
            </if>
            <if test="fillMon!=null">
                and t.fill_mon = #{fillMon}
            </if>
            <if test="fillWeek!=null">
                and t.fill_week = #{fillWeek}
            </if>
        </where>
    </select>


</mapper>