<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.CshAllocationAdvanceMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.CshAllocationAdvance">
        <result column="ADVANCE_ID" property="advanceId" jdbcType="DECIMAL" />
        <result column="ALLOCATION_ID" property="allocationId" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_DUE_AMOUNT" property="writeOffDueAmount" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_TYPE" property="writeOffType" jdbcType="VARCHAR" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />
    </resultMap>


</mapper>