<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.CshAllocationDepositMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.CshAllocationDeposit">
        <result column="DEPOSIT_ID" property="depositId" jdbcType="DECIMAL" />
        <result column="ALLOCATION_ID" property="allocationId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="CASHFLOW_ID" property="cashflowId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />
        <result column="WRITE_OFF_DUE_AMOUNT" property="writeOffDueAmount" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_TYPE" property="writeOffType" jdbcType="VARCHAR" />
        <result column="write_off_type_desc" property="writeOffTypeDesc" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
        <result column="deposit_amount" property="depositAmount" jdbcType="DECIMAL" />
        <result column="surplus_deposit_amount" property="surplusDepositAmount" jdbcType="DECIMAL" />
    </resultMap>

    <select id="getDepositList" parameterType="com.hand.hls.csh.dto.CshAllocationDeposit" resultMap="BaseResultMap">
        select cad.*,
               '收款核销保证金' as write_off_type_desc,
               cc.contract_number,
               ccc.due_amount     as deposit_amount,
               ccc.DUE_AMOUNT-nvl(ccc.DEPOSIT_DEDUCT_AMOUNT,0)     as surplus_deposit_amount
          from csh_allocation_deposit cad
         inner join con_contract cc
            on cad.contract_id = cc.contract_id
         inner join con_contract_cashflow ccc
            on cad.cashflow_id = ccc.cashflow_id
         <where>
             <if test="allocationId!=null">
                 and cad.allocation_id = #{allocationId}
             </if>
         </where>
    </select>


</mapper>