<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.CshDepositDeductReqHdMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.CshDepositDeductReqHd">
        <result column="REQ_HD_ID" property="reqHdId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR" />
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR" />
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
        <result column="REQ_NUMBER" property="reqNumber" jdbcType="VARCHAR" />
        <result column="REQ_STATUS" property="reqStatus" jdbcType="VARCHAR" />
        <result column="DEDUCT_DATE" property="deductDate" jdbcType="DATE" />
        <result column="TRANSACTION_ID" property="transactionId" jdbcType="DECIMAL" />
        <result column="CAN_RETURN_AMOUNT" property="canReturnAmount" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="OWNER_USER_ID" property="ownerUserId" jdbcType="DECIMAL" />
        <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
        <result column="deduct_status" property="deductStatus" jdbcType="VARCHAR" />
        <result column="error_message" property="errorMessage" jdbcType="VARCHAR" />

        <result column="REQ_STATUS_N" property="reqStatusN" jdbcType="VARCHAR" />
        <result column="TRANSACTION_NUM" property="transactionNum" jdbcType="VARCHAR" />
        <result column="TRANSACTION_AMOUNT" property="transactionAmount" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_AMOUNT" property="writeOffAmount" jdbcType="DECIMAL" />
        <result column="DEDUCT_DATE_FROM" property="deductDateFrom" jdbcType="DATE" />
        <result column="DEDUCT_DATE_TO" property="deductDateTo" jdbcType="DATE" />
        <result column="deduct_status_desc" property="deductStatusDesc" jdbcType="VARCHAR" />

        <result column="AUTHORITY_RULE_STRING" property="authorityRuleString" jdbcType="VARCHAR" />

        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="CONTRACT_SEQ_NUM" property="contractSeqNum" jdbcType="VARCHAR" />
        <result column="DOCUMENT_NAME" property="documentName" jdbcType="VARCHAR" />
        <result column="bp_name" property="bpName" jdbcType="VARCHAR" />
        <result column="manufacturer_id" property="manufacturerId" jdbcType="DECIMAL" />
        <result column="create_deduct_method" property="createDeductMethod" jdbcType="VARCHAR" />
        <result column="create_deduct_method_n" property="createDeductMethodN" jdbcType="VARCHAR" />
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
        <result column="block_amount" property="blockAmount" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="selectCshDepositDeductReqHdInit" resultMap="BaseResultMap">
        SELECT
            ct.transaction_amount - nvl(ct.write_off_amount, 0) can_return_amount,
            ct.transaction_id,
            ct.transaction_num,
            ct.transaction_amount,
            ct.write_off_amount,
            ct.block_amount
        FROM csh_transaction ct
        WHERE ct.transaction_id = #{transactionId}
    </select>

    <select id="selectCshDepositDeductReqHdInitWithBlockAmt" resultMap="BaseResultMap">
        SELECT
            ct.transaction_amount - nvl(ct.write_off_amount, 0) - nvl(ct.block_amount, 0) can_return_amount,
            ct.transaction_id,
            ct.transaction_num,
            ct.transaction_amount,
            ct.write_off_amount,
            ct.block_amount
        FROM csh_transaction ct
        WHERE ct.transaction_id = #{transactionId}
    </select>


    <select id="selectCshDepositDeductReqHd" resultMap="BaseResultMap">
        SELECT
            cddrh.req_hd_id,
            cddrh.document_category,
            cddrh.document_type,
            cddrh.business_type,
            cddrh.req_number,
            cddrh.req_status,
            cddrh.deduct_date,
--             cddrh.transaction_id,
            decode(cddrh.can_return_amount,
                    NULL,
                    ct.transaction_amount - nvl(ct.write_off_amount, 0),
                    cddrh.can_return_amount) can_return_amount,
            cddrh.company_id,
            cddrh.owner_user_id,
            cddrh.remarks,
        cddrh.DEDUCT_STATUS,
            cddrh.object_version_number,
            cddrh.request_id,
            cddrh.program_id,
            cddrh.created_by,
            cddrh.creation_date,
            cddrh.last_updated_by,
            cddrh.last_update_date,
            cddrh.last_update_login,
            (SELECT v.meaning
            FROM sys_code_value_b_v v
            WHERE v. code = 'CSH.DEPOSIT_DEDUCT_REQ_STATUS'
            AND v.code_value = cddrh.req_status) req_status_n,
            ct.transaction_id,
            ct.transaction_num,
            ct.transaction_amount,
            ct.write_off_amount,
            cddrh.authority_rule_string,
            ct.contract_id,
            (SELECT pq.quotation_number
            FROM prj_quotation pq
            WHERE pq.source_document_category = 'CONTRACT'
            AND pq.source_document_id = ct.contract_id) contract_seq_num,
            (SELECT hbm.bp_name
            FROM con_contract  cc,
            hls_bp_master hbm
            WHERE hbm.bp_id = cc.tenant_id
            AND cc.contract_id = ct.contract_id) || '-' ||
            (SELECT hbm.bp_name
            FROM con_contract  cc,
            hls_bp_master hbm
            WHERE hbm.bp_id = cc.MANUFACTURER_ID
            AND cc.contract_id = ct.contract_id) || '-' ||
            (select cc.CONTRACT_NUMBER from CON_CONTRACT cc where cc.CONTRACT_ID = ct.CONTRACT_ID) as document_name,
        (SELECT  hbm.bp_name
        FROM con_contract  cc,
        hls_bp_master hbm
        WHERE hbm.bp_id = cc.tenant_id
        AND cc.contract_id = ct.contract_id) bp_name,
        (select cc.manufacturer_id
        from con_contract cc
        where cc.contract_id = ct.contract_id) manufacturer_id,
        cddrh.create_deduct_method,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. code = 'CREATE_DEDUCT_METHOD'
        AND v.code_value =cddrh.create_deduct_method) create_deduct_method_n
        FROM csh_deposit_deduct_req_hd cddrh,
            csh_transaction           ct
        WHERE ct.transaction_id = cddrh.transaction_id

        <if test="reqHdId != null">
            AND cddrh.req_hd_id = #{reqHdId}
        </if>
        <if test="transactionId != null">
            AND ct.transaction_id = #{transactionId}
        </if>
    </select>

    <select id="selectCshDepositDeductReqHdList" resultMap="BaseResultMap">
        SELECT t1.* from (SELECT
            cddrh.req_hd_id,
            cddrh.document_category,
            cddrh.document_type,
            cddrh.business_type,
            cddrh.req_number,
            cddrh.req_status,
            cddrh.deduct_date,
--             cddrh.transaction_id,
            cddrh.can_return_amount,
            cddrh.company_id,
            cddrh.owner_user_id,
            cddrh.remarks,
            cddrh.DEDUCT_STATUS,
        (select scvb.MEANING
        from SYS_CODE_B scb,SYS_CODE_VALUE_B scvb
        where scb.CODE = 'CSH_DEDUCT_SAP_STATUS'
        and scb.CODE_ID = scvb.CODE_ID
        and scvb.VALUE = cddrh.DEDUCT_STATUS) as DEDUCT_STATUS_DESC,
            cddrh.error_message,
            cddrh.object_version_number,
            cddrh.request_id,
            cddrh.program_id,
            cddrh.created_by,
            cddrh.creation_date,
            cddrh.last_updated_by,
            cddrh.last_update_date,
            cddrh.last_update_login,
            (SELECT v.meaning
            FROM sys_code_value_b_v v
            WHERE v. code = 'CSH.DEPOSIT_DEDUCT_REQ_STATUS'
            AND v.code_value = cddrh.req_status) req_status_n,
            ct.transaction_id,
            ct.transaction_num,
            ct.transaction_amount,
            ct.write_off_amount,
            cddrh.authority_rule_string,
            ct.contract_id,
            (SELECT pq.quotation_number
            FROM prj_quotation pq
            WHERE pq.source_document_category = 'CONTRACT'
            AND pq.source_document_id = ct.contract_id) contract_seq_num,
            (SELECT '承租人【' || hbm.bp_name || '】-合同【' || cc.contract_number || '】-保证金抵扣申请【' || cddrh.req_number||'】'
            FROM con_contract  cc,
            hls_bp_master hbm
            WHERE hbm.bp_id = cc.tenant_id
            AND cc.contract_id = ct.contract_id) document_name,
            (select cc.manufacturer_id
            from con_contract cc
            where cc.contract_id = ct.contract_id) manufacturer_id,
            cddrh.create_deduct_method,
            (SELECT v.meaning
            FROM sys_code_value_b_v v
            WHERE v. code = 'CREATE_DEDUCT_METHOD'
            AND v.code_value =cddrh.create_deduct_method) create_deduct_method_n,
            (select cc.CONTRACT_NUMBER
            from con_contract cc
            where cc.contract_id = ct.contract_id) CONTRACT_NUMBER
        FROM csh_deposit_deduct_req_hd cddrh,
             csh_transaction           ct
        WHERE ct.transaction_id = cddrh.transaction_id) t1
        <where>
            <include refid="com.hand.hls.cont.mapper.HlsCusConContractMapper.ContractManageAuthoritySql"><property name="alias" value="t1"/></include>
            <if test="reqNumber != null">
                AND t1.req_number LIKE CONCAT('%',CONCAT(#{reqNumber,jdbcType=VARCHAR},'%'))
            </if>
            <if test="transactionNum != null">
                AND t1.transaction_num LIKE CONCAT('%',CONCAT(#{transactionNum,jdbcType=VARCHAR},'%'))
            </if>
            <if test="reqStatus != null">
                AND t1.req_status = #{reqStatus,jdbcType=VARCHAR}
            </if>
            <if test="deductDateFrom!=null">
                AND t1.deduct_date &gt;= #{deductDateFrom}
            </if>
            <if test="deductDateTo!=null">
                AND t1.deduct_date &lt;= #{deductDateTo}
            </if>
            <if test="contractNumber!=null">
                AND t1.CONTRACT_NUMBER LIKE CONCAT('%',CONCAT(#{contractNumber,jdbcType=VARCHAR},'%'))
            </if>
        </where>
        ORDER BY t1.req_number DESC
    </select>

    <resultMap id="queryCsh503Map" type="map">
        <result column="contract_id" property="contract_id"/>
        <result column="contract_number" property="contract_number"/>
        <result column="bp_id_tenant_n" property="bp_id_tenant_n"/>
        <result column="tenant_id" property="tenant_id"/>
        <result column="factory_id" property="factory_id"/>
        <result column="factory_id_n" property="factory_id_n"/>
        <result column="manufacturer_id" property="manufacturer_id"/>
        <result column="vender_name" property="vender_name"/>
        <result column="transaction_date" property="transaction_date"/>
        <result column="transaction_amount" property="transaction_amount"/>
        <result column="deduct_date" property="deduct_date"/>
        <result column="write_off_due_amount" property="write_off_due_amount"/>
        <result column="refund_date" property="refund_date"/>
        <result column="refund_amount" property="refund_amount"/>
        <result column="cf_item" property="cf_item"/>
        <result column="cf_item_n" property="cf_item_n"/>
        <result column="times" property="times"/>
        <result column="due_date" property="due_date"/>
        <result column="due_amount" property="due_amount"/>
        <result column="source_pk_id" property="source_pk_id"/>
        <result column="source_type" property="source_type"/>
        <result column="transaction_num" property="transaction_num"/>
        <result column="deduct_write_off_amount" property="deduct_write_off_amount"/>
        <result column="return_write_off_amount" property="return_write_off_amount"/>
        <result column="can_return_amount" property="can_return_amount"/>


    </resultMap>
    <select id="queryCsh503" resultMap="queryCsh503Map">
        select t1.*
        from (
                 select a.*
                 from (

                          select cc.contract_id,
                                 cc.contract_number,
                                 cc.tenant_id,
                                 ( SELECT
                                       nvl ( SUM( nvl ( wo.csh_write_off_amount, 0 ) ), 0 )
                                   FROM
                                       csh_write_off wo
                                   WHERE
                                       wo.csh_transaction_id = ct.transaction_id
                                     AND wo.reversed_flag = 'N'
                                     AND wo.write_off_type != 'REFUND'
                      ) deduct_write_off_amount,
                      (
                          SELECT
                              nvl ( Sum( ll.REFUND_AMOUNT ), 0 )
                          FROM
                              CSH_TRANSACTION_REFUND_LN ll,
                              CSH_TRANSACTION_REFUND r
                          WHERE
                              ll.refund_id = r.refund_id
                            AND r.refund_status = 'APPROVED'
                            AND ll.SOURCE_TRANSACTION_ID = ct.TRANSACTION_ID
                      ) AS return_write_off_amount,
                      (
                          nvl ( ct.transaction_amount, 0 ) - (
				SELECT
					nvl ( Sum( nvl ( line.REFUND_AMOUNT, 0 ) ), 0 )
				FROM
					CSH_TRANSACTION_REFUND_LN line,
					CSH_TRANSACTION_REFUND r
				WHERE
					line.refund_id = r.refund_id
					AND r.refund_status IN ( 'NEW', 'REJECTED' )
					AND line.SOURCE_TRANSACTION_ID = ct.TRANSACTION_ID
					) - (
				SELECT
					nvl ( Sum( cwo.csh_write_off_amount ), 0 )
				FROM
					csh_write_off cwo
				WHERE
					cwo.csh_transaction_id = ct.transaction_id
					AND cwo.reversed_flag = 'N'
				) - nvl ( ct.BLOCK_AMOUNT, 0 )
                          ) AS can_return_amount,
                                 (select hbm.bp_name
                                  from hls_bp_master hbm
                                  where hbm.bp_id = cc.tenant_id)   bp_id_tenant_n,
                                 cc.factory_id,
                                 (SELECT hb.bp_name
                                  FROM hls_bp_master hb
                                  WHERE hb.bp_id = cc.factory_id)      factory_id_n,
                                 cc.manufacturer_id,
                                 (Select hm.bp_name
                                  From hls_bp_master hm
                                  Where hm.bp_id = cc.manufacturer_id) vender_name,
                                 ct.transaction_date               as  transaction_date,
                                 ct.TRANSACTION_AMOUNT             as  transaction_amount,
                                 ch.deduct_date                    as  deduct_date,
                                 cl.write_off_due_amount           as  write_off_due_amount,
                                 null                              as  refund_date,
                                 null                              as  refund_amount,
                                 ccc.cf_item                       as  cf_item,
                                 (SELECT hci.description
                                  FROM hls_cashflow_item hci
                                  WHERE ccc.cf_item = hci.cf_item
                                    AND ccc.cf_type = hci.cf_type) as  cf_item_n,
                                 ccc.times                         as  times,
                                 ccc.due_date                      as  due_date,
                                 ccc.due_amount                    as  due_amount,
                                 cl.req_ln_id                      as  source_pk_id,
                                 'DEDUCT'                          as  source_type,
                                 ct.TRANSACTION_NUM               as  transaction_num
                          from csh_deposit_deduct_req_ln cl,
                               csh_deposit_deduct_req_hd ch,
                               con_contract cc,
                               con_contract_cashflow ccc,
                               csh_transaction ct
                          where ch.req_hd_id = cl.req_hd_id
                            and ch.transaction_id = ct.transaction_id
                            and cl.cashflow_id = ccc.cashflow_id
                            and ccc.contract_id = cc.contract_id

                      ) a
                 order by nvl(a.DEDUCT_DATE, a.REFUND_DATE)
             ) t1
        <where>
            <if test="contractNumber != null">
                <bind name="contractNumber" value="'%'+contractNumber+'%'"/>
                and t1.contract_number like #{contractNumber}
            </if>
            <if test="bpIdTenantN != null">
                <bind name="bpIdTenantN" value="'%'+bpIdTenantN+'%'"/>
                and t1.bp_id_tenant_n like #{bpIdTenantN}
            </if>
            <if test="factoryId != null">
                and t1.factory_id = #{factoryId}
            </if>
            <if test="venderName != null">
                <bind name="venderName" value="'%'+venderName+'%'"/>
                and t1.vender_name like #{venderName}
            </if>
            <if test="transactionDateFrom!=null">
                and t1.transaction_date >= to_date(#{transactionDateFrom},'yyyy-MM-dd')
            </if>
            <if test="transactionDateTo!=null">
                and t1.transaction_date &lt;= to_date(#{transactionDateTo},'yyyy-MM-dd')
            </if>
            <if test="deductDateFrom!=null">
                and t1.deduct_date >= to_date(#{deductDateFrom},'yyyy-MM-dd')
            </if>
            <if test="deductDateTo!=null">
                and t1.deduct_date &lt;= to_date(#{deductDateTo},'yyyy-MM-dd')
            </if>
        </where>
    </select>


</mapper>
