<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.csh.mapper.CshDepositDeductJobLogsMapper">
  <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.CshDepositDeductJobLogs">
    <id column="LOG_ID" jdbcType="DECIMAL" property="logId" />
    <result column="BATCH_ID" jdbcType="VARCHAR" property="batchId" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ERROR_MSG_PREVIEW" jdbcType="VARCHAR" property="errorMsgPreview" />
    <result column="PUSH_DATE" jdbcType="TIMESTAMP" property="pushDate" />
    <result column="CONTRACT_NUMBER" jdbcType="VARCHAR" property="contractNumber" />
    <result column="REQ_NUMBER" jdbcType="VARCHAR" property="reqNumber" />
    <result column="TRANSACTION_NUM" jdbcType="VARCHAR" property="transactionNum" />
    <result column="DEDUCT_SOURCE" jdbcType="VARCHAR" property="deductSource" />
    <result column="OBJECT_VERSION_NUMBER" jdbcType="DECIMAL" property="objectVersionNumber" />
    <result column="REQUEST_ID" jdbcType="DECIMAL" property="requestId" />
    <result column="PROGRAM_ID" jdbcType="DECIMAL" property="programId" />
    <result column="CREATED_BY" jdbcType="DECIMAL" property="createdBy" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="LAST_UPDATED_BY" jdbcType="DECIMAL" property="lastUpdatedBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="LAST_UPDATE_LOGIN" jdbcType="DECIMAL" property="lastUpdateLogin" />
  </resultMap>

  <select id="selectExecutingBatchId" resultType="java.lang.String">
    select t.batch_id from CSH_DEPOSIT_DEDUCT_JOB_LOGS t
    where t.status = 'EXECUTING'
      and t.batch_id != #{batchId}
      and t.deduct_source = 'AUTO'
      and rownum = 1
  </select>

  <select id="selectExecutingBatchIdNew" resultType="java.lang.String">
    select t.batch_id from CSH_DEPOSIT_DEDUCT_JOB_LOGS t
    where t.status = 'EXECUTING'
      and t.deduct_source = 'AUTO'
      and t.batch_id != #{batchId}
      and rownum = 1
  </select>

  <select id="selectDeductConfirmExecutingBatchId" resultType="java.lang.String">
    select t.batch_id from CSH_DEPOSIT_DEDUCT_JOB_LOGS t
    where t.status = 'EXECUTING'
      and t.batch_id != #{batchId}
      and t.contract_number = #{contractNumber}
      and t.deduct_source = 'PAYMENT_CONFIRM'
      and rownum = 1
  </select>

  <select id="selectDeductConfirmExecutingBatchIdNew" resultType="java.lang.String">
    select t.batch_id from CSH_DEPOSIT_DEDUCT_JOB_LOGS t
    where t.status = 'EXECUTING'
      and t.deduct_source = 'PAYMENT_CONFIRM'
      and t.batch_id != #{batchId}
      and t.contract_number = #{contractNumber}
      and rownum = 1
  </select>

  <update id="updateExecutedByBatchId" parameterType="java.lang.String">
    UPDATE CSH_DEPOSIT_DEDUCT_JOB_LOGS t
    SET t.status = 'SUCCESS',
        t.last_update_date = CURRENT_TIMESTAMP
    WHERE t.status = 'EXECUTING'
      and t.batch_id = #{batchId}
  </update>

  <select id="selectExecutingAllBatchId" resultType="java.lang.String">
    select t.batch_id from CSH_DEPOSIT_DEDUCT_JOB_LOGS t
    where t.status = 'EXECUTING'
      and t.batch_id != #{batchId}
      and t.contract_number = #{contractNumber}
      and rownum = 1
  </select>

</mapper>