<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.CshPaymentReqLnBankAccountMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount">
        <result column="PAYMENT_REQ_LN_ID" property="paymentReqLnId" jdbcType="DECIMAL"/>

        <result column="PAYMENT_AMOUNT" property="paymentAmount" jdbcType="DECIMAL"/>
        <result column="RATE" property="rate" jdbcType="DECIMAL"/>
        <result column="ACTUAL_PAYMENT_AMOUNT" property="actualPaymentAmount" jdbcType="DECIMAL"/>
        <result column="CSH_BANK_ACCOUNT_ID" property="cshBankAccountId" jdbcType="DECIMAL"/>
        <result column="CSH_BANK_ACCOUNT_NUM" property="cshBankAccountNum" jdbcType="VARCHAR"/>
        <result column="CSH_BANK_ACCOUNT_NUM_N" property="cshBankAccountNumN" jdbcType="VARCHAR"/>
        <result column="CSH_BANK_ACCOUNT_NAME" property="cshBankAccountName" jdbcType="VARCHAR"/>
        <result column="CSH_BANK_BRANCH_NAME" property="cshBankBranchName" jdbcType="VARCHAR"/>
        <result column="CSH_BANK_ID" property="cshBankId" jdbcType="DECIMAL"/>
        <result column="PAYMENT_REQ_ID" property="paymentReqId" jdbcType="DECIMAL"/>
        <result column="SOURCE_DOC_ID" property="sourceDocId" jdbcType="DECIMAL"/>
        <result column="SOURCE_DOC_LINE_ID" property="sourceDocLineId" jdbcType="DECIMAL"/>
        <result column="DEDUCT_AMOUNT" property="deductAmount" jdbcType="DECIMAL"/>
        <result column="REFUND_ID" property="refundId" jdbcType="DECIMAL"/>


        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="ACTUAL_PAY_DATE" property="actualPayDate" jdbcType="TIMESTAMP"/>
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR"/>

        <result column="CF_ITEM" property="cfItem" jdbcType="VARCHAR"/>
        <result column="CF_type" property="cfType" jdbcType="VARCHAR"/>

        <result column="times" property="times"/>
        <result column="FUNDING_PLAN_LN_ID" property="fundingPlanLnId" jdbcType="DECIMAL"/>
        <result column="FUNDING_PLAN_LN_ID" property="fundingPlanLnId" jdbcType="DECIMAL"/>
        <result column="PAYMENT_NAME" property="paymentName" jdbcType="VARCHAR"/>
        <result column="CSH_BANK_ACCOUNT_ID_N" property="cshBankAccountIdN" jdbcType="VARCHAR"/>

        <result column="PAYMENT_NAME_ID" property="paymentNameId" jdbcType="DECIMAL"/>
        <result column="actual_payment_date" property="actualPaymentDate" jdbcType="DECIMAL"/>

        <result column="SOURCE_TRANSACTION_ID" property="sourceTransactionId" jdbcType="DECIMAL"/>


        <result column="payment_number" property="paymentNumber" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="contract_amount" property="contractAmount" jdbcType="VARCHAR"/>
        <result column="currency_n" property="currencyN" jdbcType="VARCHAR"/>
        <result column="proposed_launch_date" property="proposedLaunchDate" jdbcType="TIMESTAMP"/>
        <result column="payment_type_n" property="paymentTypeN" jdbcType="VARCHAR"/>
        <result column="loan_type" property="loanType" jdbcType="VARCHAR"/>
        <result column="loan_type_n" property="loanTypeN" jdbcType="VARCHAR"/>
        <result column="payment_method_n" property="paymentMethodN" jdbcType="VARCHAR"/>
        <result column="bill_id_n" property="billIdN" jdbcType="VARCHAR"/>
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR"/>
        <result column="bp_bank_account_name_n" property="bpBankAccountNameN" jdbcType="VARCHAR"/>
        <result column="bp_bank_account_name" property="bpBankAccountName" jdbcType="VARCHAR"/>
        <result column="bp_bank_account_num" property="bpBankAccountNum" jdbcType="VARCHAR"/>
        <result column="bp_bank_branch_name" property="bpBankBranchName" jdbcType="VARCHAR"/>
        <result column="currency_fk_n" property="currencyFkN" jdbcType="VARCHAR"/>

        <result column="payment_name_n" property="paymentNameN" jdbcType="VARCHAR"/>

        <result column="apy_number" property="apyNumber" jdbcType="VARCHAR"/>
        <result column="flow_no" property="flowNo" jdbcType="VARCHAR"/>
        <result column="flow_no_n" property="flowNoN" jdbcType="VARCHAR"/>
        <result column="trade_no" property="tradeNo" jdbcType="VARCHAR"/>
        <result column="trade_no_n" property="tradeNoN" jdbcType="VARCHAR"/>
        <result column="purpose" property="purpose" jdbcType="VARCHAR"/>
        <result column="rival_account_no" property="rivalAccountNo" jdbcType="VARCHAR"/>
        <result column="rival_account_name" property="rivalAccountName" jdbcType="VARCHAR"/>
        <result column="payment_status" property="paymentStatus" jdbcType="VARCHAR"/>
        <result column="payment_status_n" property="paymentStatusN" jdbcType="VARCHAR"/>
        <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR"/>
        <result column="payment_method_n" property="paymentMethodN" jdbcType="VARCHAR"/>

        <result column="file_num" property="fileNum" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="basic_column">
        tt1.payment_req_ln_id,
       tt1.payment_amount,
       tt1.rate,
       tt1.actual_payment_amount,
       tt1.csh_bank_account_id,
       tt1.csh_bank_account_num,
       tt1.csh_bank_account_name,
       tt1.created_by,
       tt1.creation_date,
       tt1.last_updated_by,
       tt1.last_update_date,
       tt1.last_update_login,
       tt1.object_version_number,
       tt1.request_id,
       tt1.program_id,
       tt1.csh_bank_id,
       tt1.payment_name_id,
       tt1.payment_name,
       tt1.actual_payment_date,
       tt1.process_instance_id,
       tt1.flow_no,
       tt1.trade_no,
       tt1.purpose,
       tt1.apy_number,
       tt1.csh_bank_branch_name,
    </sql>
    <select id="selectCshPaymentReqLnBankAccount" resultMap="BaseResultMap"
            parameterType="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount">
        SELECT
        <include refid="basic_column"/>
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'CSH.PAYMENT_METHOD'
        and scvb.value = t.payment_method) payment_name_n,
        t.FUNDING_PLAN_LN_ID,

        t.PAYMENT_REQ_ID,
        nvl(t.DEDUCT_AMOUNT,0) DEDUCT_AMOUNT,

        t.SOURCE_DOC_ID,
        t.SOURCE_DOC_LINE_ID,
        tt2.COMPANY_ID,
        tt2.document_type,
        tt1.actual_payment_date actual_pay_date,
        tt2.CURRENCY,
        (select ccc.CF_ITEM from con_contract_cashflow ccc where ccc.CASHFLOW_ID=t.SOURCE_DOC_LINE_ID) CF_ITEM,
        (select ccc.CF_type from con_contract_cashflow ccc where ccc.CASHFLOW_ID=t.SOURCE_DOC_LINE_ID) CF_type,
        (select ccc.times from con_contract_cashflow ccc where ccc.CASHFLOW_ID=t.SOURCE_DOC_LINE_ID) times,

        nvl(tt1.CSH_BANK_BRANCH_NAME,tt1.CSH_BANK_ACCOUNT_NAME) CSH_BANK_ACCOUNT_ID_N,

        (select f.rival_account_no
        from hls_itfc_bank_flow f
        where f.flow_id=tt1.flow_no
        and rownum = 1) rival_account_no,
        (select f.rival_account_no
        from hls_itfc_bank_flow f
        where f.flow_id=tt1.flow_no
        and rownum=1) flow_no_n,
        (select f.rival_account_name
        from hls_itfc_bank_flow f
        where f.flow_id=tt1.flow_no
        and rownum = 1) rival_account_name,
        tt1.actual_payment_amount,
        tt1.payment_amount,
        tt2.bp_bank_account_id csh_bank_account_id,
        tt2.bp_bank_account_name csh_bank_account_name,
        tt2.bp_bank_account_num csh_bank_account_num,
        tt1.csh_bank_id
        FROM
        csh_pay_req_ln_bank_account tt1,
        csh_payment_req_ln t,
        csh_payment_req_hd tt2


        <where>
            tt1.PAYMENT_REQ_LN_ID = t.PAYMENT_REQ_LN_ID
            and t.PAYMENT_REQ_ID=tt2.PAYMENT_REQ_ID
            <if test="paymentReqId != null">
                and t.PAYMENT_REQ_ID = #{paymentReqId}
            </if>
            <if test="paymentReqLnId != null">
                and t.PAYMENT_REQ_LN_ID = #{paymentReqLnId}
            </if>
            <if test="paymentName != null">
                and tt1.PAYMENT_NAME = #{paymentName}
            </if>
            <if test="refundId != null">
                and tt1.REFUND_ID = #{refundId}
            </if>
        </where>

    </select>

    <select id="selectRetailCshPaymentReqLnBankAccount" resultMap="BaseResultMap"
            parameterType="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount">
        SELECT tt1.payment_amount,
            tt1.rate,
            tt1.actual_payment_amount,
            tt1.csh_bank_account_id,
            tt1.csh_bank_account_num,
            tt1.csh_bank_account_name,
            tt1.created_by,
            tt1.creation_date,
            tt1.last_updated_by,
            tt1.last_update_date,
            tt1.last_update_login,
            tt1.object_version_number,
            tt1.request_id,
            tt1.program_id,
            tt1.csh_bank_id,
            tt1.payment_name_id,
            tt1.payment_name,
            tt1.actual_payment_date,
            tt1.process_instance_id,
            tt1.flow_no,
            tt1.trade_no,
            tt1.purpose,
            tt1.apy_number,
            tt1.csh_bank_branch_name,
            (select scvb.meaning
            from sys_code_value_b scvb,
            sys_code_b scb
            where scvb.CODE_ID = scb.CODE_ID
            and scb.code = 'CSH.PAYMENT_METHOD'
            and scvb.value = t.payment_method)                                                            payment_name_n,
            t.FUNDING_PLAN_LN_ID,

            t.PAYMENT_REQ_ID,
            t.PAYMENT_REQ_LN_ID,
            nvl(t.DEDUCT_AMOUNT, 0)                                                                          DEDUCT_AMOUNT,

            t.SOURCE_DOC_ID,
            t.SOURCE_DOC_LINE_ID,
            tt2.COMPANY_ID,
            tt2.document_type,
            tt2.ACTUAL_PAY_DATE,
            tt2.CURRENCY,
            (select ccc.CF_ITEM from con_contract_cashflow ccc where ccc.CASHFLOW_ID = t.SOURCE_DOC_LINE_ID) CF_ITEM,
            (select ccc.CF_type from con_contract_cashflow ccc where ccc.CASHFLOW_ID = t.SOURCE_DOC_LINE_ID) CF_type,
            (select ccc.times from con_contract_cashflow ccc where ccc.CASHFLOW_ID = t.SOURCE_DOC_LINE_ID)   times,
            nvl(tt1.CSH_BANK_BRANCH_NAME,tt1.CSH_BANK_ACCOUNT_NAME)                                          CSH_BANK_ACCOUNT_ID_N,

            (select f.rival_account_no
            from hls_itfc_bank_flow f
            where f.flow_id = tt1.flow_no
            and rownum = 1)                                                                               rival_account_no,
            (select f.rival_account_no
            from hls_itfc_bank_flow f
            where f.flow_id = tt1.flow_no
            and rownum = 1)                                                                               flow_no_n,
            (select f.rival_account_name
            from hls_itfc_bank_flow f
            where f.flow_id = tt1.flow_no
            and rownum = 1)                                                                               rival_account_name

            FROM csh_pay_req_ln_bank_account tt1,
            csh_payment_req_ln t,
            csh_payment_req_hd tt2
        <where>
            tt1.PAYMENT_REQ_ID = tt2.PAYMENT_REQ_ID
            and t.PAYMENT_REQ_ID = tt2.PAYMENT_REQ_ID
            <if test="paymentReqId != null">
                and tt1.PAYMENT_REQ_ID = #{paymentReqId}
            </if>
            <if test="sourceDocId != null">
                and t.SOURCE_DOC_ID = #{sourceDocId}
            </if>
            <if test="paymentReqLnId != null">
                and t.PAYMENT_REQ_LN_ID = #{paymentReqLnId}
            </if>
            <if test="paymentName != null">
                and tt1.PAYMENT_NAME = #{paymentName}
            </if>
        </where>

    </select>

    <select id="selectCshPaymentReqLnBankAccountTT" resultMap="BaseResultMap"
            parameterType="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount">
        SELECT
        <include refid="basic_column"/>
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'CSH.PAYMENT_METHOD'
        and scvb.value = t.payment_method) payment_name_n,
        t.FUNDING_PLAN_LN_ID,

        t.PAYMENT_REQ_ID,
        nvl(t.DEDUCT_AMOUNT,0) DEDUCT_AMOUNT,

        t.SOURCE_DOC_ID,
        t.SOURCE_DOC_LINE_ID,
        tt2.COMPANY_ID,
        tt2.document_type,
        tt2.ACTUAL_PAY_DATE,
        tt2.CURRENCY,
        (select ccc.CF_ITEM from con_contract_cashflow ccc where ccc.CASHFLOW_ID=t.SOURCE_DOC_LINE_ID) CF_ITEM,
        (select ccc.CF_type from con_contract_cashflow ccc where ccc.CASHFLOW_ID=t.SOURCE_DOC_LINE_ID) CF_type,
        (select ccc.times from con_contract_cashflow ccc where ccc.CASHFLOW_ID=t.SOURCE_DOC_LINE_ID) times,
        nvl(tt1.CSH_BANK_BRANCH_NAME,tt1.CSH_BANK_ACCOUNT_NAME) CSH_BANK_ACCOUNT_ID_N,

        (select f.rival_account_no
        from hls_itfc_bank_flow f
        where f.flow_id=tt1.flow_no
        and rownum = 1) rival_account_no,
        (select f.rival_account_no
        from hls_itfc_bank_flow f
        where f.flow_id=tt1.flow_no
        and rownum=1) flow_no_n,
        (select f.rival_account_name
        from hls_itfc_bank_flow f
        where f.flow_id=tt1.flow_no
        and rownum = 1) rival_account_name

        FROM
        csh_pay_req_ln_bank_account tt1,
        csh_payment_req_ln t,
        csh_payment_req_hd tt2


        <where>
            tt1.PAYMENT_REQ_LN_ID = t.PAYMENT_REQ_LN_ID
            and t.PAYMENT_REQ_ID=tt2.PAYMENT_REQ_ID
            /*and tt1.PAYMENT_NAME = 'TT'*/
            <if test="paymentReqId != null">
                and t.PAYMENT_REQ_ID = #{paymentReqId}
            </if>
            <if test="paymentReqLnId != null">
                and t.PAYMENT_REQ_LN_ID = #{paymentReqLnId}
            </if>

        </where>

    </select>

    <select id="selectCshPaymentReqLnBankAccountOther" resultMap="BaseResultMap"
            parameterType="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount">
        SELECT
        <include refid="basic_column"/>
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'CSH.PAYMENT_METHOD'
        and scvb.value = t.payment_method) payment_name_n,
        t.FUNDING_PLAN_LN_ID,

        t.PAYMENT_REQ_ID,
        nvl(t.DEDUCT_AMOUNT,0) DEDUCT_AMOUNT,

        t.SOURCE_DOC_ID,
        t.SOURCE_DOC_LINE_ID,
        tt2.COMPANY_ID,
        tt2.document_type,
        tt2.ACTUAL_PAY_DATE,
        tt2.CURRENCY,
        (select ccc.CF_ITEM from con_contract_cashflow ccc where ccc.CASHFLOW_ID=t.SOURCE_DOC_LINE_ID) CF_ITEM,
        (select ccc.CF_type from con_contract_cashflow ccc where ccc.CASHFLOW_ID=t.SOURCE_DOC_LINE_ID) CF_type,
        (select ccc.times from con_contract_cashflow ccc where ccc.CASHFLOW_ID=t.SOURCE_DOC_LINE_ID) times,
        nvl(tt1.CSH_BANK_BRANCH_NAME,tt1.CSH_BANK_ACCOUNT_NAME) CSH_BANK_ACCOUNT_ID_N,

        (select f.rival_account_no
        from hls_itfc_bank_flow f
        where f.flow_id=tt1.flow_no
        and rownum = 1) rival_account_no,
        (select f.rival_account_no
        from hls_itfc_bank_flow f
        where f.flow_id=tt1.flow_no
        and rownum=1) flow_no_n,
        (select f.rival_account_name
        from hls_itfc_bank_flow f
        where f.flow_id=tt1.flow_no
        and rownum = 1) rival_account_name

        FROM
        csh_pay_req_ln_bank_account tt1,
        csh_payment_req_ln t,
        csh_payment_req_hd tt2


        <where>
            tt1.PAYMENT_REQ_LN_ID = t.PAYMENT_REQ_LN_ID
            and t.PAYMENT_REQ_ID=tt2.PAYMENT_REQ_ID
            and tt1.PAYMENT_NAME = 'OTHER'
            <if test="paymentReqId != null">
                and t.PAYMENT_REQ_ID = #{paymentReqId}
            </if>
            <if test="paymentReqLnId != null">
                and t.PAYMENT_REQ_LN_ID = #{paymentReqLnId}
            </if>
        </where>

    </select>

    <select id="selectCshPaymentReqLnBankAccountReport" resultMap="BaseResultMap"
            parameterType="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount">
        SELECT
        *
        FROM
        (
        SELECT
        cc.contract_number AS payment_number,
        cc.contract_name,
        pp.contract_number,
        (select hb.bp_name from hls_bp_master hb where hb.bp_id=hd.bp_id) bp_name,
        pp.contract_amount,
        fc.currency_name AS currency_n,
        (
        SELECT
        abs.currency_name
        FROM
        fnd_currency abs
        WHERE
        abs.CURRENCY_CODE = hd.CURRENCY
        ) AS currency_fk_n,
        hd.proposed_launch_date,
        (
        SELECT
        meaning
        FROM
        sys_code_value_b_v
        WHERE
        CODE = 'CSH701_TRANSACTION_TYPE'
        AND code_value = hd.PAYMENT_TYPE
        ) PAYMENT_TYPE_N,
        hd.loan_type,
        (
        SELECT
        meaning
        FROM
        sys_code_value_b_v
        WHERE
        CODE = 'CSH.LOAN_TYPE'
        AND code_value = hd.loan_type
        ) LOAN_TYPE_N,
        (
        SELECT
        scvb.meaning
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scvb.code_id = scb.code_id
        AND scb. CODE = 'CSH.PAYMENT_METHOD'
        AND scvb.
        VALUE
        = ln.PAYMENT_METHOD
        ) PAYMENT_METHOD_n,
        ln.PAYMENT_METHOD,
        hbr.BILL_APPLY_NUMBER bill_id_n,
        hbm.bp_name bp_id_n,
        ln.BP_BANK_ACCOUNT_NAME bp_bank_account_name_n,
        ln.BP_BANK_ACCOUNT_NAME,
        ln.bp_bank_account_num,
        ln.bp_bank_branch_name,
        lnba.payment_name,
        lnba.CSH_BANK_ACCOUNT_ID,
        lnba.CSH_BANK_ACCOUNT_NAME AS CSH_BANK_ACCOUNT_ID_N,
        lnba.csh_bank_account_num,
        lnba.actual_payment_date,
        lnba.payment_amount,
        lnba.rate,
        lnba.actual_payment_amount
        FROM
        csh_pay_req_ln_bank_account lnba,
        csh_payment_req_ln ln
        LEFT JOIN hls_bill_request hbr ON hbr.bill_id = ln.bill_id
        LEFT JOIN hls_bp_master hbm ON hbm.bp_id = ln.bp_id,
        csh_payment_req_hd hd
        LEFT JOIN con_contract cc ON cc.CONTRACT_ID = hd.SOURCE_CONTRACT_ID
        LEFT JOIN prj_project pp ON cc.project_id = pp.project_id
        LEFT JOIN fnd_currency fc ON fc.currency_code = hd.contract_currency_id
        WHERE
        lnba.PAYMENT_REQ_LN_ID = ln.PAYMENT_REQ_LN_ID
        AND ln.PAYMENT_REQ_ID = hd.PAYMENT_REQ_ID
        ) t
        <where>
            1=1
            <if test="bpName!=null">
                and t.bp_name like concat('%',#{bpName},'%')
            </if>
            <if test="contractNumber!=null">
                and t.contract_number like concat('%',#{contractNumber},'%')
            </if>
            <if test="paymentNumber!=null">
                and t.payment_number like concat('%',#{paymentNumber},'%')
            </if>
            <if test="contractName!=null">
                and t.contract_name like concat('%',#{contractName},'%')
            </if>
            <if test="actualPaymentDateFrom!=null">
                and t.actual_payment_date &gt;= #{actualPaymentDateFrom}
            </if>
            <if test="actualPaymentDateTo!=null">
                and t.actual_payment_date &lt;= #{actualPaymentDateTo}
            </if>
            <if test="loanType!=null">
                and t.loan_type = #{loanType}
            </if>
            <if test="proposedLaunchDateFrom!=null">
                and t.proposed_launch_date &gt;= #{proposedLaunchDateFrom}
            </if>
            <if test="proposedLaunchDateTo!=null">
                and t.proposed_launch_date &lt;= #{proposedLaunchDateTo}
            </if>
            <if test="cshBankAccountId!=null">
                and t.csh_bank_account_id = #{cshBankAccountId}
            </if>
            <if test="paymentMethod!=null">
                and t.payment_method = #{paymentMethod}
            </if>
            <if test="csh_bank_account_name!=null">
                and t.csh_bank_account_name = #{paymentMethod}
            </if>
        </where>

    </select>

    <select id="queryActualPaymentAmount" resultType="java.lang.Double">
        SELECT
        sum(tt1.ACTUAL_PAYMENT_AMOUNT) ACTUAL_PAYMENT_AMOUNT


        FROM
        csh_pay_req_ln_bank_account tt1,
        csh_payment_req_ln t,
        csh_payment_req_hd tt2


        <where>
            tt1.PAYMENT_REQ_LN_ID = t.PAYMENT_REQ_LN_ID
            and t.PAYMENT_REQ_ID=tt2.PAYMENT_REQ_ID
            <if test="paymentReqId!=null">
                and t.PAYMENT_REQ_ID = #{paymentReqId}
            </if>
        </where>
    </select>

    <select id="queryContractCshBank" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select pa.*,
        l.SOURCE_DOC_ID,
        l.SOURCE_DOC_LINE_ID
        from con_contract c,
        csh_pay_req_ln_bank_account pa,
        csh_payment_req_ln l,
        csh_payment_req_hd h
        <where>
            c.contract_id = l.source_doc_id
            and h.payment_req_id = l.payment_req_id
            and (l.payment_req_id = pa.payment_req_id
                or l.payment_req_ln_id=pa.payment_req_ln_id)
            and h.payment_req_status = 'APPROVED'
            -- and h.payment_approved_status = 'PAID'
            and c.contract_id=#{contractId}

        </where>
    </select>
    <select id="retailPaymentBankAccountDetail" resultMap="BaseResultMap"
            parameterType="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount">
        select cprba.payment_req_ln_id,
               cprba.payment_amount,
               cprba.rate,
               cprba.actual_payment_amount,
               cprba.csh_bank_account_id,
               cprba.csh_bank_account_name csh_bank_account_id_n,
               cprba.csh_bank_account_num,
               cprba.csh_bank_account_name,
               cprba.created_by,
               cprba.creation_date,
               cprba.last_updated_by,
               cprba.last_update_date,
               cprba.last_update_login,
               cprba.object_version_number,
               cprba.request_id,
               cprba.program_id,
               cprba.csh_bank_id,
               cprba.payment_name_id,
               cprba.payment_name,
               cprba.actual_payment_date,
               cprba.process_instance_id,
               cprba.flow_no,
               cprba.trade_no,
               cprba.purpose,
               cprba.apy_number,
               cprba.csh_bank_branch_name,
               cprba.PAYMENT_REQ_ID
        from CSH_PAY_REQ_LN_BANK_ACCOUNT cprba
        <where>
            <if test="paymentReqId != null">
                and cprba.PAYMENT_REQ_ID = #{paymentReqId}
            </if>
            <if test="paymentReqLnId != null">
                and cprba.PAYMENT_REQ_LN_ID = #{paymentReqLnId}
            </if>
            <if test="paymentName != null">
                and cprba.PAYMENT_NAME = #{paymentName}
            </if>
        </where>
    </select>

    <select id="retailPaymentBankAccountDetailTT" resultMap="BaseResultMap"
            parameterType="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount">
        select cprba.payment_req_ln_id,
        cprba.payment_amount,
        cprba.rate,
        cprba.actual_payment_amount,
        cprba.csh_bank_account_id,
        cprba.csh_bank_account_name csh_bank_account_id_n,
        cprba.csh_bank_account_num,
        cprba.csh_bank_account_num csh_bank_account_num_n,
        cprba.csh_bank_account_name,
        cprba.created_by,
        cprba.creation_date,
        cprba.last_updated_by,
        cprba.last_update_date,
        cprba.last_update_login,
        cprba.object_version_number,
        cprba.request_id,
        cprba.program_id,
        cprba.csh_bank_id,
        (select count(*)
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi fam
        WHERE
            fam.table_name = 'CSH_PAY_REQ_LN_BANK_ACCOUNT'
            AND fam.table_pk_value = cprba.csh_bank_id
            AND fa.attachment_id = fam.attachment_id) file_num,
        cprba.payment_name_id,
        cprba.payment_name,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'CSH.PAYMENT_METHOD'
        and scvb.value = cprba.payment_name) payment_name_n,
        cprba.actual_payment_date,
        cprba.process_instance_id,
        cprba.flow_no,
        cprba.trade_no,
        cprba.trade_no trade_no_n,
        cprba.purpose,
        cprba.apy_number,
        cprba.csh_bank_branch_name,
        cprba.PAYMENT_REQ_ID,
        cprba.payment_status,
        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'PAYMENT_APPROVED_STATUS'
        and s.code_value=cprba.payment_status)payment_status_n,
        cprba.payment_method,
        (select bv.MEANING
        from SYS_CODE_VALUE_B_V bv
        where bv.CODE='CSH.PAYMENT_METHOD1'
        and bv.code_value=cprba.payment_method) payment_method_n,
        cprba.refund_id
        from CSH_PAY_REQ_LN_BANK_ACCOUNT cprba
        <where>
            <if test="paymentReqId != null">
                and cprba.PAYMENT_REQ_ID = #{paymentReqId}
            </if>
            <if test="paymentReqLnId != null">
                and cprba.PAYMENT_REQ_LN_ID = #{paymentReqLnId}
            </if>
            <if test="refundId != null">
                and cprba.REFUND_ID = #{refundId}
            </if>

        </where>
    </select>
    <select id="retailPaymentBankAccountDetailOther" resultMap="BaseResultMap"
            parameterType="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount">
        select cprba.payment_req_ln_id,
        cprba.payment_amount,
        cprba.rate,
        cprba.actual_payment_amount,
        cprba.csh_bank_account_id,
        cprba.csh_bank_account_name csh_bank_account_id_n,
        cprba.csh_bank_account_num,
        cprba.csh_bank_account_name,
        cprba.created_by,
        cprba.creation_date,
        cprba.last_updated_by,
        cprba.last_update_date,
        cprba.last_update_login,
        cprba.object_version_number,
        cprba.request_id,
        cprba.program_id,
        cprba.csh_bank_id,
        cprba.payment_name_id,
        cprba.payment_name,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'CSH.PAYMENT_METHOD'
        and scvb.value = cprba.payment_name) payment_name_n,
        cprba.actual_payment_date,
        cprba.process_instance_id,
        cprba.flow_no,
        cprba.trade_no,
        cprba.purpose,
        cprba.apy_number,
        cprba.csh_bank_branch_name,
        cprba.PAYMENT_REQ_ID
        from CSH_PAY_REQ_LN_BANK_ACCOUNT cprba
        <where>
            cprba.PAYMENT_NAME = 'OTHER'
            <if test="paymentReqId != null">
                and cprba.PAYMENT_REQ_ID = #{paymentReqId}
            </if>
            <if test="paymentReqLnId != null">
                and cprba.PAYMENT_REQ_LN_ID = #{paymentReqLnId}
            </if>

        </where>
    </select>

    <!--二期功能：退款支付，支付信息查询，线上支付-->
    <select id="refundPaymentBankAccountDetailTT" resultMap="BaseResultMap"
            parameterType="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount">
        select cprba.payment_req_ln_id,
        cprba.payment_amount,
        cprba.rate,
        cprba.actual_payment_amount,
        cprba.csh_bank_account_id,
        cprba.csh_bank_account_name             csh_bank_account_id_n,
        cprba.csh_bank_account_num,
        cprba.csh_bank_account_name,
        cprba.created_by,
        cprba.creation_date,
        cprba.last_updated_by,
        cprba.last_update_date,
        cprba.last_update_login,
        cprba.object_version_number,
        cprba.request_id,
        cprba.program_id,
        cprba.csh_bank_id,
        cprba.payment_name_id,
        cprba.payment_name,
        (select scvb.meaning
        from sys_code_value_b scvb,
        sys_code_b scb
        where scvb.CODE_ID = scb.CODE_ID
        and scb.code = 'CSH.PAYMENT_METHOD'
        and scvb.value = cprba.payment_name) payment_name_n,
        cprba.actual_payment_date,
        cprba.process_instance_id,
        cprba.flow_no,
        cprba.trade_no,
        cprba.purpose,
        cprba.apy_number,
        cprba.csh_bank_branch_name,
        cprba.PAYMENT_REQ_ID,
        cprba.REFUND_ID
        from CSH_PAY_REQ_LN_BANK_ACCOUNT cprba
        <where>
            cprba.PAYMENT_NAME = 'TT'
            <if test="refundId != null">
                and cprba.REFUND_ID = #{refundId}
            </if>
            <if test="cshBankId != null">
                and cprba.csh_bank_id = #{cshBankId}
            </if>
        </where>
    </select>

    <!--二期功能：退款支付，支付信息查询，线上支付-->
    <select id="refundPaymentBankAccountDetailOther" resultMap="BaseResultMap"
            parameterType="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount">
        select cprba.payment_req_ln_id,
        cprba.payment_amount,
        cprba.rate,
        cprba.actual_payment_amount,
        cprba.csh_bank_account_id,
        cprba.csh_bank_account_name             csh_bank_account_id_n,
        cprba.csh_bank_account_num,
        cprba.csh_bank_account_name,
        cprba.created_by,
        cprba.creation_date,
        cprba.last_updated_by,
        cprba.last_update_date,
        cprba.last_update_login,
        cprba.object_version_number,
        cprba.request_id,
        cprba.program_id,
        cprba.csh_bank_id,
        cprba.payment_name_id,
        cprba.payment_name,
        (select scvb.meaning
        from sys_code_value_b scvb,
        sys_code_b scb
        where scvb.CODE_ID = scb.CODE_ID
        and scb.code = 'CSH.PAYMENT_METHOD'
        and scvb.value = cprba.payment_name) payment_name_n,
        cprba.actual_payment_date,
        cprba.process_instance_id,
        cprba.flow_no,
        cprba.trade_no,
        cprba.purpose,
        cprba.apy_number,
        cprba.csh_bank_branch_name,
        cprba.PAYMENT_REQ_ID,
        cprba.REFUND_ID
        from CSH_PAY_REQ_LN_BANK_ACCOUNT cprba
        <where>
            cprba.PAYMENT_NAME = 'OTHER'
            <if test="refundId != null">
                and cprba.REFUND_ID = #{refundId}
            </if>
            <if test="cshBankId != null">
                and cprba.csh_bank_id = #{cshBankId}
            </if>
        </where>
    </select>

    <select id="queryRefundPaymentAmount" resultType="java.lang.Double">
        SELECT
        sum(prlba.ACTUAL_PAYMENT_AMOUNT)  refund_payment_amount
        FROM
        csh_pay_req_ln_bank_account    prlba
        <where>
            prlba.refund_id = #{refundId}
        </where>
    </select>

    <select id="selectRefundCshPaymentReqLnBankAccount" parameterType="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount" resultMap="BaseResultMap">
        SELECT tt1.payment_req_ln_id,
                tt1.payment_amount,
                tt1.rate,
                tt1.actual_payment_amount,
                tt1.csh_bank_account_id,
                tt1.csh_bank_account_num,
                tt1.csh_bank_account_name,
                tt1.created_by,
                tt1.creation_date,
                tt1.last_updated_by,
                tt1.last_update_date,
                tt1.last_update_login,
                tt1.object_version_number,
                tt1.request_id,
                tt1.program_id,
                tt1.csh_bank_id,
                tt1.payment_name_id,
                tt1.payment_name,
                tt1.process_instance_id,
                tt1.flow_no,
                tt1.trade_no,
                tt1.purpose,
                tt1.apy_number,
                tt1.csh_bank_branch_name,
                tt1.REFUND_ID,
                (select scvb.meaning
                from sys_code_value_b scvb,
                sys_code_b scb
                where scvb.CODE_ID = scb.CODE_ID
                and scb.code = 'CSH.PAYMENT_METHOD'
                and scvb.value = t.payment_method)                                                             payment_name_n,
                t.LN_ID,
                t.SOURCE_TRANSACTION_ID,
                tt2.ACTUAL_PAYMENT_DATE,
                tt2.CURRENCY_CODE                                                                                 currency,
                nvl(tt1.CSH_BANK_BRANCH_NAME, tt1.CSH_BANK_ACCOUNT_NAME)                                          CSH_BANK_ACCOUNT_ID_N,

                (select ct.CONTRACT_ID from CSH_TRANSACTION ct where ct.TRANSACTION_ID = t.SOURCE_TRANSACTION_ID) SOURCE_DOC_ID,

                (select f.rival_account_no
                from hls_itfc_bank_flow f
                where f.flow_id = tt1.flow_no
                and rownum = 1)                                                                                rival_account_no,
                (select f.rival_account_no
                from hls_itfc_bank_flow f
                where f.flow_id = tt1.flow_no
                and rownum = 1)                                                                                flow_no_n,
                (select f.rival_account_name
                from hls_itfc_bank_flow f
                where f.flow_id = tt1.flow_no
                and rownum = 1)                                                                                rival_account_name

                FROM csh_pay_req_ln_bank_account tt1,
                csh_transaction_refund_ln t,
                csh_transaction_refund tt2
                where tt1.REFUND_ID = tt2.REFUND_ID
                and t.REFUND_ID = tt2.REFUND_ID
        <if test="refundId != null">
            and tt1.REFUND_ID = #{refundId}
        </if>
        <if test="cshBankId != null">
            and t.csh_bank_id = #{cshBankId}
        </if>

    </select>

    <update id="updateCshPaymentReqLnBankAccountByLn" parameterType="com.hand.hls.csh.dto.CshPaymentReqLnBankAccount">
        update csh_pay_req_ln_bank_account ba
          set ba.payment_status= #{paymentStatus}
        <where>
            1=1
            <if test="paymentReqLnId!=null">
                and ba.payment_req_ln_id=#{paymentReqLnId}
            </if>
            <if test="refundId != null">
                and ba.refund_id = #{refundId}
            </if>
        </where>
    </update>
</mapper>