<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.CshPaymentReqSlipMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.CshPaymentReqSlip">
        <result column="SLIP_ID" property="slipId" jdbcType="DECIMAL" />
        <result column="PAY_NUMBER" property="payNumber" jdbcType="VARCHAR" />
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR" />
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR" />
        <result column="SLIP_DATE" property="slipDate" jdbcType="VARCHAR" />
        <result column="SLIP_AMOUNT" property="slipAmount" jdbcType="DECIMAL" />
        <result column="PAYMENT_METHOD" property="paymentMethod" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_ID" property="bankAccountId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="BP_BANK_ACCOUNT_ID" property="bpBankAccountId" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR" />
        <result column="SLIP_STATUS" property="slipStatus" jdbcType="VARCHAR" />
        <result column="BELNR" property="belnr" jdbcType="VARCHAR" />
        <result column="GJAHR" property="gjahr" jdbcType="VARCHAR" />
        <result column="ERROR_MESSAGE" property="errorMessage" jdbcType="VARCHAR" />
        <result column="AUTHORITY_RULE_STRING" property="authorityRuleString" jdbcType="VARCHAR" />
        <result column="PAYMENT_DATE" property="paymentDate" jdbcType="VARCHAR" />
        <result column="ERROR_COUNT" property="errorCount" jdbcType="DECIMAL" />
        <result column="SEND_EMAIL_FLAG" property="sendEmailFlag" jdbcType="VARCHAR" />
        <result column="SERIAL_NO" property="serialNo" jdbcType="DECIMAL" />
    </resultMap>


</mapper>