<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.CshTransactionRefundLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.CshTransactionRefundLn">
        <id column="LN_ID" property="lnId" jdbcType="DECIMAL" />
        <result column="REFUND_ID" property="refundId" jdbcType="DECIMAL" />
        <result column="BANK_ACCOUNT_ID" property="bankAccountId" jdbcType="DECIMAL" />
        <result column="REFUND_AMOUNT" property="refundAmount" jdbcType="DECIMAL" />
        <result column="PAYMENT_METHOD" property="paymentMethod" jdbcType="VARCHAR" />
        <result column="BANK_SLIP_NUM" property="bankSlipNum" jdbcType="VARCHAR" />
        <result column="source_transaction_id" property="sourceTransactionId" jdbcType="DECIMAL" />

        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR" />
        <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR" />
        <result column="payment_method_n" property="paymentMethodN" jdbcType="VARCHAR" />
        <result column="payment_name" property="paymentName" jdbcType="VARCHAR" />
        <result column="payment_name_id" property="paymentNameId" jdbcType="BIGINT" />

        <result column="transaction_id" property="transactionId" jdbcType="BIGINT"/>
        <result column="bp_payment_name" property="bpPaymentName" jdbcType="VARCHAR"/>
        <result column="transaction_num" property="transactionNum" jdbcType="VARCHAR"/>
        <result column="transaction_type_desc" property="transactionTypeDesc" jdbcType="VARCHAR"/>
        <result column="currency_code" property="currencyCode" jdbcType="VARCHAR"/>
        <result column="currency_code_desc" property="currencyCodeDesc" jdbcType="VARCHAR"/>
        <result column="TRANSACTION_AMOUNT" property="transactionAmount" jdbcType="DECIMAL"/>
        <result column="TRANSACTION_DATE" property="transactionDate" jdbcType="DATE"/>
        <result column="WRITE_OFF_AMOUNT" property="writeOffAmount" jdbcType="VARCHAR"/>
        <result column="posted_flag" property="postedFlag" jdbcType="VARCHAR"/>
        <result column="can_return_amount" property="canReturnAmount" jdbcType="DECIMAL"/>
        <result column="block_amount" property="blockAmount" jdbcType="DECIMAL"/>
        <result column="return_write_off_amount" property="returnWriteOffAmount" jdbcType="DECIMAL"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>

        <result column="OBJECT_VERSION_NUMBER" jdbcType="BIGINT" property="objectVersionNumber"/>
        <result column="REQUEST_ID" jdbcType="BIGINT" property="requestId"/>
        <result column="PROGRAM_ID" jdbcType="BIGINT" property="programId"/>
        <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy"/>
        <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="LAST_UPDATED_BY" jdbcType="BIGINT" property="lastUpdatedBy"/>
        <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
        <result column="LAST_UPDATE_LOGIN" jdbcType="BIGINT" property="lastUpdateLogin"/>

        <result column="con_cashflow_id" property="conCashflowId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="detailQuery" parameterType="com.hand.hls.csh.dto.CshTransactionRefundLn" resultMap="BaseResultMap">
        SELECT t.*,
               (select a.bank_account_name from csh_bank_account a where a.bank_account_id = t.bank_account_id)bank_account_name,
               (select a.bank_account_num from csh_bank_account a where a.bank_account_id = t.bank_account_id) bank_account_num,
               (select scvb.MEANING from sys_code_value_b scvb,  sys_code_b scb where scvb.CODE_ID=scb.CODE_ID and scvb.VALUE=t.PAYMENT_METHOD and scb.CODE='CSH.PAYMENT_METHOD') as payment_method_n
        FROM csh_transaction_refund_ln t
        <where>
            <if test="refundId != null">
                AND t.refund_id = #{refundId}
            </if>
        </where>
        order by t.ln_id
    </select>
    <!--二期功能：待支付清单-退款申请 支付页面合同信息查询-->
    <select id="refundPayLineDetail" parameterType="com.hand.hls.csh.dto.CshTransactionRefundLn" resultMap="BaseResultMap">
        SELECT t1.*
        FROM (SELECT ct.TRANSACTION_ID,
        ct.TRANSACTION_NUM,
        ct.TRANSACTION_TYPE,
        ct.posted_flag,
        cc.CONTRACT_ID,
        cc.contract_number,
        ctrl.ln_id,
        ctrl.refund_id,
        ctrl.bank_account_id,
        ctrl.refund_amount,
        ctrl.payment_method,
        ctrl.bank_slip_num,
        ctrl.object_version_number,
        ctrl.request_id,
        ctrl.program_id,
        ctrl.created_by,
        ctrl.creation_date,
        ctrl.last_updated_by,
        ctrl.last_update_date,
        ctrl.last_update_login,
        ctrl.SOURCE_TRANSACTION_ID,
        ct.TRANSACTION_DATE,
        ct.TRANSACTION_AMOUNT,
        ct.CURRENCY_CODE,
        nvl(ct.WRITE_OFF_AMOUNT, 0)                                                                 AS WRITE_OFF_AMOUNT,
        (SELECT m.BP_NAME FROM HLS_BP_MASTER m WHERE m.BP_ID = ct.BP_ID)                            AS bp_payment_name,
        (SELECT scvb.MEANING
        FROM SYS_CODE_B scb
        LEFT JOIN SYS_CODE_VALUE_B scvb
        ON scb.CODE = 'CSH301_TRANSACTION_TYPE' AND scb.CODE_ID = scvb.CODE_ID
        WHERE scvb.VALUE = ct.TRANSACTION_TYPE)                                                    AS transaction_type_desc,
        (SELECT scvb.MEANING
        FROM SYS_CODE_B scb
        LEFT JOIN SYS_CODE_VALUE_B scvb ON scb.CODE = 'CHS.CURRENCY_TYPE' AND scb.CODE_ID = scvb.CODE_ID
        WHERE scvb.VALUE = ct.CURRENCY_CODE)                                                       AS currency_code_desc,
        (SELECT nvl(SUM(cwo.csh_write_off_amount), 0)
        FROM csh_write_off cwo
        WHERE cwo.csh_transaction_id = ct.transaction_id
        AND cwo.reversed_flag = 'N'
        AND cwo.write_off_type = 'REFUND')                                                          return_write_off_amount,
        (nvl(ct.transaction_amount, 0) - nvl(ct.block_amount, 0) - (SELECT nvl(SUM(cwo.csh_write_off_amount), 0)
        FROM csh_write_off cwo
        WHERE cwo.csh_transaction_id = ct.transaction_id
        AND cwo.reversed_flag = 'N')) AS can_return_amount
        FROM csh_transaction_refund_ln ctrl
        INNER JOIN csh_transaction ct ON ct.TRANSACTION_ID = ctrl.SOURCE_TRANSACTION_ID
        LEFT JOIN con_contract cc ON ct.contract_id = cc.contract_id
        WHERE ct.TRANSACTION_TYPE IN ('ADVANCE_RECEIPT', 'DEPOSIT', 'MANAGEMENT_FEE', 'PERFORMANCE_BOND')) t1
        <where>
            <if test="refundId != null">
                and t1.refund_id = #{refundId}
            </if>
            <if test="transactionIds != null">
                AND t1.transaction_id in
                <foreach collection="transactionIds" open="(" separator="," close=")" item="item" index="index">
                    #{item,jdbcType=DECIMAL}
                </foreach>
            </if>
        </where>
    </select>

    <update id="updatePaymentAmount" parameterType="com.hand.hls.csh.dto.CshTransactionRefundLn">
        update csh_pay_req_ln_bank_account ba
        set ba.payment_status= #{paymentStatus}
        <where>
            1=1
            <if test="paymentReqLnId!=null">
                and ba.payment_req_ln_id=#{paymentReqLnId}
            </if>
            <if test="refundId != null">
                and ba.refund_id = #{refundId}
            </if>
        </where>
    </update>
</mapper>