<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.DepositAttachmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.DepositAttachment">
        <result column="DEPOSIT_ATTACHMENT_ID" property="depositAttachmentId" jdbcType="DECIMAL" />
        <result column="MANAGE_HD_ID" property="manageHdId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_NAME" property="documentName" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="upload_person" property="uploadPerson" jdbcType="VARCHAR" />
        <result column="upload_date" property="uploadDate" jdbcType="DATE" />
        <result column="attachment_id" property="attachmentId" jdbcType="VARCHAR" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectAttachmentInfo" resultMap="BaseResultMap">
        SELECT
            ppa.DEPOSIT_ATTACHMENT_ID,
            ppa.MANAGE_HD_ID,
            ppa.DOCUMENT_NAME,
            ppa.DESCRIPTION,
            (
                SELECT
                    wm_concat( fa.file_name )
                FROM
                    fnd_atm_attachment fa,
                    fnd_atm_attachment_multi fam
                WHERE
                    fa.attachment_id = fam.attachment_id
                  AND fam.table_name = 'csh_deposit_attachment'
                  AND ppa.DEPOSIT_ATTACHMENT_ID = fam.table_pk_value
            ) file_name,
            (
                SELECT
                    max( fat.last_update_date )
                FROM
                    fnd_atm_attachment fat,
                    fnd_atm_attachment_multi faam
                WHERE
                    fat.attachment_id = faam.attachment_id
                  AND faam.table_name = 'csh_deposit_attachment'
                  AND faam.table_pk_value = ppa.DEPOSIT_ATTACHMENT_ID
            ) upload_date,
            (
                SELECT
                    max( su.description )
                FROM
                    sys_user su,
                    fnd_atm_attachment fat,
                    fnd_atm_attachment_multi faam
                WHERE
                    fat.attachment_id = faam.attachment_id
                  AND faam.table_name = 'csh_deposit_attachment'
                  AND faam.table_pk_value = ppa.DEPOSIT_ATTACHMENT_ID
                  AND su.user_id = fat.last_updated_by
            ) upload_person,

            (select max(faa.attachment_id)
             from fnd_atm_attachment       faa,
                  fnd_atm_attachment_multi faam
             where faam.table_name = 'csh_deposit_attachment'
               and faam.table_pk_value = ppa.DEPOSIT_ATTACHMENT_ID
               and faa.source_pk_value = faam.record_id) attachment_id
        FROM
            csh_deposit_attachment ppa
        <where>
            <if test="depositAttachmentId != null">
                and ppa.deposit_attachment_id = #{depositAttachmentId}
            </if>
            <if test="manageHdId != null">
                and ppa.manage_hd_id = #{manageHdId}
            </if>
        </where>
    </select>

    <select id="query" resultMap="BaseResultMap">
        SELECT
        ppa.DEPOSIT_ATTACHMENT_ID,
        ppa.MANAGE_HD_ID,
        ppa.DOCUMENT_NAME,
        ppa.DESCRIPTION,
        (
        SELECT
        wm_concat( fa.file_name )
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi fam
        WHERE
        fa.attachment_id = fam.attachment_id
        AND fam.table_name = 'csh_deposit_attachment'
        AND ppa.DEPOSIT_ATTACHMENT_ID = fam.table_pk_value
        ) file_name,
        (
        SELECT
        max( fat.last_update_date )
        FROM
        fnd_atm_attachment fat,
        fnd_atm_attachment_multi faam
        WHERE
        fat.attachment_id = faam.attachment_id
        AND faam.table_name = 'csh_deposit_attachment'
        AND faam.table_pk_value = ppa.DEPOSIT_ATTACHMENT_ID
        ) upload_date,
        (
        SELECT
        max( su.description )
        FROM
        sys_user su,
        fnd_atm_attachment fat,
        fnd_atm_attachment_multi faam
        WHERE
        fat.attachment_id = faam.attachment_id
        AND faam.table_name = 'csh_deposit_attachment'
        AND faam.table_pk_value = ppa.DEPOSIT_ATTACHMENT_ID
        AND su.user_id = fat.last_updated_by
        ) upload_person,

        (select max(faa.attachment_id)
        from fnd_atm_attachment       faa,
        fnd_atm_attachment_multi faam
        where faam.table_name = 'csh_deposit_attachment'
        and faam.table_pk_value = ppa.DEPOSIT_ATTACHMENT_ID
        and faa.source_pk_value = faam.record_id) attachment_id
        FROM
        csh_deposit_attachment ppa
        <where>
            <if test="depositAttachmentId != null">
                and ppa.deposit_attachment_id = #{depositAttachmentId}
            </if>
        </where>
    </select>
</mapper>