<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.HlsCusCshTransactionDtlMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.HlsCusCshTransactionDtl">
        <result column="TRANSACTION_DTL_ID" property="transactionDtlId" jdbcType="DECIMAL" />
        <result column="TRANSACTION_ID" property="transactionId" jdbcType="DECIMAL" />
        <result column="TRANSACTION_NUM" property="transactionNum" jdbcType="VARCHAR" />
        <result column="TRANSACTION_CATEGORY" property="transactionCategory" jdbcType="VARCHAR" />
        <result column="TRANSACTION_TYPE" property="transactionType" jdbcType="VARCHAR" />
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
        <result column="TRANSACTION_DATE" property="transactionDate" jdbcType="DATE" />
        <result column="PENALTY_CALC_DATE" property="penaltyCalcDate" jdbcType="DATE" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="TRANSACTION_AMOUNT" property="transactionAmount" jdbcType="DECIMAL" />
        <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR" />
        <result column="PAYMENT_METHOD" property="paymentMethod" jdbcType="VARCHAR" />
        <result column="payment_method_n" property="paymentMethodN" jdbcType="VARCHAR" />
        <result column="BANK_SLIP_NUM" property="bankSlipNum" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_ID" property="bankAccountId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR" />
        <result column="BP_BANK_ACCOUNT_ID" property="bpBankAccountId" jdbcType="DECIMAL" />
        <result column="BP_BANK_NAME" property="bpBankName" jdbcType="VARCHAR" />
        <result column="BP_BANK_BRANCH_NAME" property="bpBankBranchName" jdbcType="VARCHAR" />
        <result column="BP_BANK_ACCOUNT_NUM" property="bpBankAccountNum" jdbcType="VARCHAR" />
        <result column="BP_BANK_ACCOUNT_NAME" property="bpBankAccountName" jdbcType="VARCHAR" />
        <result column="REVERSED_FLAG" property="reversedFlag" jdbcType="VARCHAR" />
        <result column="REVERSED_TRX_ID" property="reversedTrxId" jdbcType="DECIMAL" />
        <result column="REVERSED_DATE" property="reversedDate" jdbcType="DATE" />
        <result column="POSTED_FLAG" property="postedFlag" jdbcType="VARCHAR" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="SOURCE_DOC_CATEGORY" property="sourceDocCategory" jdbcType="VARCHAR" />
        <result column="SOURCE_DOC_ID" property="sourceDocId" jdbcType="DECIMAL" />
        <result column="SOURCE_DOC_LINE_ID" property="sourceDocLineId" jdbcType="DECIMAL" />
        <result column="HANDLING_CHARGE" property="handlingCharge" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_FLAG" property="writeOffFlag" jdbcType="VARCHAR" />
        <result column="WRITE_OFF_AMOUNT" property="writeOffAmount" jdbcType="DECIMAL" />
        <result column="FULL_WRITE_OFF_DATE" property="fullWriteOffDate" jdbcType="DATE" />
        <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
        <result column="EXTRA_DESCRIPTION" property="extraDescription" jdbcType="VARCHAR" />
        <result column="IS_POLISHING_DEPOSIT" property="isPolishingDeposit" jdbcType="VARCHAR" />
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR" />
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR" />
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR" />
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR" />
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR" />
        <result column="REF_V06" property="refV06" jdbcType="VARCHAR" />
        <result column="REF_V07" property="refV07" jdbcType="VARCHAR" />
        <result column="REF_V08" property="refV08" jdbcType="VARCHAR" />
        <result column="REF_V09" property="refV09" jdbcType="VARCHAR" />
        <result column="REF_V10" property="refV10" jdbcType="VARCHAR" />
        <result column="REF_V11" property="refV11" jdbcType="VARCHAR" />
        <result column="REF_V12" property="refV12" jdbcType="VARCHAR" />
        <result column="REF_V13" property="refV13" jdbcType="VARCHAR" />
        <result column="REF_V14" property="refV14" jdbcType="VARCHAR" />
        <result column="REF_V15" property="refV15" jdbcType="VARCHAR" />
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL" />
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL" />
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL" />
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL" />
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL" />
        <result column="REF_N06" property="refN06" jdbcType="DECIMAL" />
        <result column="REF_N07" property="refN07" jdbcType="DECIMAL" />
        <result column="REF_N08" property="refN08" jdbcType="DECIMAL" />
        <result column="REF_N09" property="refN09" jdbcType="DECIMAL" />
        <result column="REF_N10" property="refN10" jdbcType="DECIMAL" />
        <result column="REF_D01" property="refD01" jdbcType="VARCHAR" />
        <result column="REF_D02" property="refD02" jdbcType="VARCHAR" />
        <result column="REF_D03" property="refD03" jdbcType="VARCHAR" />
        <result column="REF_D04" property="refD04" jdbcType="VARCHAR" />
        <result column="REF_D05" property="refD05" jdbcType="VARCHAR" />
        <result column="REF_D06" property="refD06" jdbcType="VARCHAR" />
        <result column="REF_D07" property="refD07" jdbcType="VARCHAR" />
        <result column="REF_D08" property="refD08" jdbcType="VARCHAR" />
        <result column="REF_D09" property="refD09" jdbcType="VARCHAR" />
        <result column="REF_D10" property="refD10" jdbcType="VARCHAR" />
        <result column="IMPORT_FLAG" property="importFlag" jdbcType="VARCHAR" />
        <result column="IMPORT_DATE" property="importDate" jdbcType="DATE" />
        <result column="REVERSED_DESCRIPTION" property="reversedDescription" jdbcType="VARCHAR" />
        <result column="OUT_BANK_ACCOUNT_ID" property="outBankAccountId" jdbcType="VARCHAR" />
        <result column="OUT_BANK_ACCOUNT_ID_n" property="outBankAccountIdN" jdbcType="VARCHAR" />
        <result column="payment_name" property="paymentName" jdbcType="VARCHAR" />
        <result column="payment_account" property="paymentAccount" jdbcType="VARCHAR" />
        <result column="source_doc_line_id_n" property="sourceDocLineIdN" jdbcType="VARCHAR" />
        <result column="in_bank_account_name" property="inBankAccountName" jdbcType="VARCHAR" />
        <result column="in_bank_account_num" property="inBankAccountNum" jdbcType="VARCHAR" />
        <result column="in_bank_branch_name" property="inBankBranchName" jdbcType="VARCHAR" />
        <result column="currency_n" property="currencyN" jdbcType="VARCHAR" />
        <result column="currency" property="currency" jdbcType="VARCHAR" />
        <result column="exchange" property="exchange" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryTransListDetail" parameterType="com.hand.hls.csh.dto.HlsCusCshTransactionDtl" resultMap="BaseResultMap">
        select

        eftl.TRANSFER_LIST_ID,
        eftl.OUT_BANK_ACCOUNT_ID,
        (select cb.bank_name
        from csh_bank_account c1, csh_bank cb
        where c1.enabled_flag = 'Y'
        and c1.bank_id = cb.bank_id
        and c1.bank_account_id = eftl.OUT_BANK_ACCOUNT_ID) out_bank_account_id_n,

        (select c1.bank_account_num
        from csh_bank_account c1
        where c1.bank_account_id = eftl.OUT_BANK_ACCOUNT_ID) PAYMENT_ACCOUNT,

        eftl.OUT_BANK_ACCOUNT_ID as bank_account_id,

        eftl.payment_amount as transaction_amount,
        eftl.payment_amount as write_off_amount,

        (select t.company_full_name
        from fnd_company t, prj_project pp
        where t.company_id = pp.company_spv
        and pp.project_id = cc.project_id) PAYMENT_NAME,

        ccc.payment_method,
        (select scvb.meaning
        from sys_code_b scb, sys_code_value_b scvb
        where scb.code = 'CSH.PAYMENT_METHOD'
        and scb.code_id = scvb.code_id
        and scvb.value = ccc.payment_method) payment_method_n,

        ln.BP_ID,
        (select hbm.bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = ln.BP_ID) bp_id_n,
        (select hbm.bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = ln.BP_ID) source_doc_line_id_n,
        eftl.IN_BANK_ACCOUNT_NAME,
        eftl.IN_BANK_ACCOUNT_NUM,
        eftl.IN_BANK_BRANCH_NAME,

        eftl.in_bank_account_id   as BP_BANK_ACCOUNT_ID,
        eftl.IN_BANK_ACCOUNT_NUM  as BP_BANK_ACCOUNT_NUM,
        eftl.IN_BANK_ACCOUNT_NAME as BP_BANK_ACCOUNT_NAME,
        eftl.IN_BANK_BRANCH_NAME  as BP_BANK_BRANCH_NAME,

        eftl.description,
        (SELECT currency_name FROM fnd_currency WHERE currency_code = ln.currency) currency_n,
        ln.EXCHANGE


        FROM EFT_FUND_TRANSFER_LIST eftl
        LEFT JOIN csh_payment_req_ln ln
        ON eftl.SOURCE_DOC_LINE_ID = ln.payment_req_ln_id

        LEFT JOIN con_contract_cashflow ccc
        ON ccc.cashflow_id = ln.SOURCE_DOC_LINE_ID
        LEFT JOIN hls_bp_master_bank_account hba
        ON hba.bank_account_id = ccc.bank_account_id, csh_payment_req_hd hd,
        con_contract cc

        <where>
            eftl.SOURCE_DOC_ID = hd.PAYMENT_REQ_ID
            and cc.contract_id = ccc.contract_id
            <if test="paymentReqId!=null">
                AND EFTL.SOURCE_DOC_ID = #{paymentReqId}
            </if>
        </where>
        ORDER BY EFTL.APPLY_PAY_DATE
    </select>

</mapper>