<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.csh.mapper.HlsCusConDebtExemptionReqMapper">
    <resultMap type="com.hand.hls.csh.dto.HlsCusConDebtExemptionReq" id="baseResultMap">
        <id column="change_req_id" property="changeReqId"/>
        <result column="change_req_number" property="changeReqNumber"/>
        <result column="document_type" property="documentType"/>
        <result column="document_category" property="documentCategory"/>
        <result column="business_type" property="businessType"/>
        <result column="company_id" property="companyId"/>
        <result column="req_user_id" property="reqUserId"/>
        <result column="req_status" property="reqStatus"/>
        <result column="req_date" property="reqDate"/>
        <result column="description" property="description"/>
        <result column="process_instance_id" property="processInstanceId"/>
        <result column="document_id" property="documentId"/>
        <result column="project_number" property="projectNumber"/>
        <result column="project_name" property="projectName"/>
        <result column="manufacturer_name" property="manufacturerName"/>
        <result column="bp_code" property="bpCode"/>
        <result column="bp_name" property="bpName"/>
        <result column="sum_amount" property="sumAmount"/>
        <result column="countract_num" property="countractNum"/>
    </resultMap>

    <select id="selectReqByChangeReqId" resultMap="baseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusConDebtExemptionReq">
        select  t.change_req_id,
                t.change_req_number,
                t.document_type,
                t.document_category,
                t.business_type,
                t.company_id,
                t.req_user_id,
                t.req_status,
                t.req_date,
                t.description,
                t.process_instance_id,
                t.document_id,
               t.sum_amount,
               t.countract_num,
                (select p.project_number
                from prj_project p
                where p.project_id = cc.project_id) project_number,
                (select p.project_name
                from prj_project p
                where p.project_id = cc.project_id) project_name,
                (select max(hls.bp_code)
                from prj_project p, prj_project_bp ppb, hls_bp_master hls
                where p.project_id = cc.project_id
                and ppb.project_id = p.project_id
                and ppb.bp_id = hls.bp_id
                and ppb.bp_type = 'TENANT') bp_code,
                (select max(hls.bp_name)
                from prj_project p, prj_project_bp ppb, hls_bp_master hls
                where p.project_id = cc.project_id
                and ppb.project_id = p.project_id
                and ppb.bp_id = hls.bp_id
                and ppb.bp_type = 'TENANT') bp_name,
        (select bp_name from prj_project pp,hls_bp_master hbm
        where cc.PROJECT_ID=pp.PROJECT_ID and pp.MANUFACTURER_ID=hbm.BP_ID) manufacturer_name
         from con_debt_exemption_req t, con_contract cc
         <where>
             t.document_id = cc.contract_id
             <if test="changeReqId!=null">
                 and t.change_req_id =#{changeReqId}
             </if>
         </where>
    </select>



</mapper>
