<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.HlsCusCshBankAccountMapper">
    <resultMap id="BaseResultMap2" type="com.hand.hls.csh.dto.HlsCusCshBankAccount">
        <result column="BANK_ACCOUNT_ID" property="bankAccountId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="BANK_ID" property="bankId" jdbcType="DECIMAL" />
        <result column="BANK_BRANCH_NAME" property="bankBranchName" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_NUM" property="bankAccountNum" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_NAME" property="bankAccountName" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_TYPE" property="bankAccountType" jdbcType="VARCHAR" />
        <result column="GLD_ACCOUNT_CODE" property="gldAccountCode" jdbcType="VARCHAR" />
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
        <result column="BANK_COLOR" property="bankColor" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="FINANCING_LOAN_FLAG" property="financingLoanFlag" jdbcType="VARCHAR" />
        <result column="SWIFT_CODE" property="swiftCode" jdbcType="VARCHAR" />
        <result column="OPENING_DATE" property="openingDate" jdbcType="DATE" />
        <result column="CLOSING_DATE" property="closingDate" jdbcType="DATE" />
        <result column="CNAPS_CODE" property="cnapsCode" jdbcType="VARCHAR" />
        <result column="ACCOUNT_NATURE_ONE" property="accountNatureOne" jdbcType="VARCHAR" />
        <result column="ACCOUNT_NATURE_TWO" property="accountNatureTwo" jdbcType="VARCHAR" />
        <result column="ACCOUNT_NATURE_THREE" property="accountNatureThree" jdbcType="VARCHAR" />
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR" />
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR" />
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR" />
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR" />
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR" />
        <result column="REF_V06" property="refV06" jdbcType="VARCHAR" />
        <result column="REF_V07" property="refV07" jdbcType="VARCHAR" />
        <result column="REF_V08" property="refV08" jdbcType="VARCHAR" />
        <result column="REF_V09" property="refV09" jdbcType="VARCHAR" />
        <result column="REF_V10" property="refV10" jdbcType="VARCHAR" />
        <result column="REF_V11" property="refV11" jdbcType="VARCHAR" />
        <result column="REF_V12" property="refV12" jdbcType="VARCHAR" />
        <result column="REF_V13" property="refV13" jdbcType="VARCHAR" />
        <result column="REF_V14" property="refV14" jdbcType="VARCHAR" />
        <result column="REF_V15" property="refV15" jdbcType="VARCHAR" />
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL" />
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL" />
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL" />
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL" />
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL" />
        <result column="REF_N06" property="refN06" jdbcType="DECIMAL" />
        <result column="REF_N07" property="refN07" jdbcType="DECIMAL" />
        <result column="REF_N08" property="refN08" jdbcType="DECIMAL" />
        <result column="REF_N09" property="refN09" jdbcType="DECIMAL" />
        <result column="REF_N10" property="refN10" jdbcType="DECIMAL" />
        <result column="REF_D01" property="refD01" jdbcType="DATE" />
        <result column="REF_D02" property="refD02" jdbcType="DATE" />
        <result column="REF_D03" property="refD03" jdbcType="DATE" />
        <result column="REF_D04" property="refD04" jdbcType="DATE" />
        <result column="REF_D05" property="refD05" jdbcType="DATE" />
        <result column="REF_D06" property="refD06" jdbcType="DATE" />
        <result column="REF_D07" property="refD07" jdbcType="DATE" />
        <result column="REF_D08" property="refD08" jdbcType="DATE" />
        <result column="REF_D09" property="refD09" jdbcType="DATE" />
        <result column="REF_D10" property="refD10" jdbcType="DATE" />
        <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
        <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
        <result column="bank_short_name" property="bankShortName" jdbcType="VARCHAR" />
        <result column="bank_account_type_n" property="bankAccountTypeN" jdbcType="VARCHAR" />
        <result column="currency_n" property="currencyN" jdbcType="VARCHAR" />
        <result column="INVOICE_FLAG" property="invoiceFlag" jdbcType="VARCHAR" />
        <result column="UNIT_BANK_CODE" property="unitBankCode" jdbcType="VARCHAR" />
        <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
        <result column="MANAGER_ID" property="managerId" jdbcType="DECIMAL" />
        <result column="MANAGER_NAME" property="managerName" jdbcType="VARCHAR" />
        <result column="CONTACT" property="contact" jdbcType="VARCHAR" />
        <result column="VALID_FLAG" property="validFlag" jdbcType="VARCHAR" />
        <result column="VALID_START" property="validStart" jdbcType="DATE" />
        <result column="VALID_END" property="validEnd" jdbcType="DATE" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="message" property="message" jdbcType="VARCHAR" />
        <result column="time" property="time" jdbcType="VARCHAR" />
        <result column="ref_v02_n" property="refV02N" jdbcType="VARCHAR" />
        <result column="city_n" property="cityN" jdbcType="VARCHAR" />
        <result column="company_full_name" property="companyFullName" jdbcType="VARCHAR" />
        <result column="bank_type_new" property="bankTypeNew" jdbcType="VARCHAR" />
        <result column="bank_type_new_n" property="bankTypeNewN" jdbcType="VARCHAR" />
        <result column="purpose_type" property="purposeType" jdbcType="VARCHAR" />
        <result column="purpose_type_n" property="purposeTypeN" jdbcType="VARCHAR" />


    </resultMap>

    <select id="queryCshBankAccount2" parameterType="com.hand.hls.csh.dto.HlsCusCshBankAccount" resultMap="BaseResultMap2">
        select * from (select
        t.*,

        (SELECT fc.company_full_name  FROM fnd_company fc where fc.company_id = t.company_id )company_full_name,

        (select cb.bank_code from csh_bank cb where cb.bank_id= t.bank_id)bank_code,
        (select cb.bank_name from csh_bank cb where cb.bank_id= t.bank_id)bank_name,
        (select cb.bank_short_name from csh_bank cb where cb.bank_id= t.bank_id)bank_short_name,
        (
        SELECT
        vb.meaning
        FROM
        sys_code_value_b vb,
        sys_code_b b
        WHERE
        b. CODE = 'BALANCE_NATURE'
        AND b.CODE_ID = vb.code_id
        AND vb.VALUE= t.bank_account_type
        AND vb.enabled_flag = 'Y'
        ) AS bank_account_type_n,

        (
        SELECT
        vb.meaning
        FROM
        sys_code_value_b vb,
        sys_code_b b
        WHERE
        b. CODE = 'ACCOUNT_TYPE'
        AND b.CODE_ID = vb.code_id
        AND vb.VALUE= t.ref_v02
        AND vb.enabled_flag = 'Y'
        ) AS ref_v02_n,

        (select fc.city_n from eas_city_data fc where fc.city_code=t.ref_v03)city_n,

        (select fc.currency_name
        from
        fnd_currency fc where fc.currency_code =t.CURRENCY
        and fc.enabled_flag='Y')  as currency_n,
        (
        SELECT
        vb.meaning
        FROM
        sys_code_value_b vb,
        sys_code_b b
        WHERE
        b. CODE = 'BANK_TYPE_NEW'
        AND b.CODE_ID = vb.code_id
        AND vb.VALUE= t.ref_v02
        AND vb.enabled_flag = 'Y'
        )bank_type_new_n,
        (
        SELECT
        vb.meaning
        FROM
        sys_code_value_b vb,
        sys_code_b b
        WHERE
        b. CODE = 'PURPOSE_TYPE_NEW'
        AND b.CODE_ID = vb.code_id
        AND vb.VALUE= t.purpose_type
        AND vb.enabled_flag = 'Y'
        )purpose_type_n
        from csh_bank_account t)t
        <where>
            1=1
            <if test="bankId != null">
                and t.bank_id = #{bankId}
            </if>
            <if test="bankCode!=null">
                and t.bank_code = #{bankCode}
            </if>
            <if test="bankName!=null">
                and t.bank_name LIKE concat(CONCAT('%',#{bankName}),'%')
            </if>
            <if test="bankBranchName!=null">
                and t.bank_branch_name LIKE concat(CONCAT('%',#{bankBranchName}),'%')
            </if>
            <if test="bankAccountNum!=null">
                and t.bank_account_num LIKE concat(CONCAT('%',#{bankAccountNum}),'%')
            </if>
            <if test="bankAccountName!=null">
                and t.bank_account_name LIKE concat(CONCAT('%',#{bankAccountName}),'%')
            </if>
            <if test="currencyN!=null">
                and t.currency_n = #{currencyN}
            </if>
            <if test="currency!=null">
                and t.currency = #{currency}
            </if>
            <if test="openingDateFrom != null">
                and trunc(t.opening_date+0) >= #{openingDateFrom}
            </if>
            <if test="openingDateTo!= null">
                and #{openingDateTo} >= trunc(t.opening_date+0)
            </if>
        </where>
    </select>

</mapper>