<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.HlsCusCshBankMapper">
    <resultMap id="BaseResultMap2" type="com.hand.hls.csh.dto.HlsCusCshBank">
        <result column="BANK_ID" property="bankId" jdbcType="DECIMAL"/>
        <result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR"/>
        <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR"/>
        <result column="BANK_SHORT_NAME" property="bankShortName" jdbcType="VARCHAR"/>
        <result column="BANK_TYPE" property="bankType" jdbcType="VARCHAR"/>
        <result column="BANK_TYPE_N" property="bankTypeN" jdbcType="VARCHAR"/>
        <result column="ORG_TYPE" property="orgType" jdbcType="VARCHAR"/>
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL"/>
        <result column="START_ACTIVE_DATE" property="startActiveDate" jdbcType="DATE"/>
        <result column="END_ACTIVE_DATE" property="endActiveDate" jdbcType="DATE"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR"/>
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR"/>
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR"/>
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR"/>
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR"/>
        <result column="REF_V06" property="refV06" jdbcType="VARCHAR"/>
        <result column="REF_V07" property="refV07" jdbcType="VARCHAR"/>
        <result column="REF_V08" property="refV08" jdbcType="VARCHAR"/>
        <result column="REF_V09" property="refV09" jdbcType="VARCHAR"/>
        <result column="REF_V10" property="refV10" jdbcType="VARCHAR"/>
        <result column="REF_V11" property="refV11" jdbcType="VARCHAR"/>
        <result column="REF_V12" property="refV12" jdbcType="VARCHAR"/>
        <result column="REF_V13" property="refV13" jdbcType="VARCHAR"/>
        <result column="REF_V14" property="refV14" jdbcType="VARCHAR"/>
        <result column="REF_V15" property="refV15" jdbcType="VARCHAR"/>
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL"/>
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL"/>
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL"/>
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL"/>
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL"/>
        <result column="REF_N06" property="refN06" jdbcType="DECIMAL"/>
        <result column="REF_N07" property="refN07" jdbcType="DECIMAL"/>
        <result column="REF_N08" property="refN08" jdbcType="DECIMAL"/>
        <result column="REF_N09" property="refN09" jdbcType="DECIMAL"/>
        <result column="REF_N10" property="refN10" jdbcType="DECIMAL"/>
        <result column="REF_D01" property="refD01" jdbcType="DATE"/>
        <result column="REF_D02" property="refD02" jdbcType="DATE"/>
        <result column="REF_D03" property="refD03" jdbcType="DATE"/>
        <result column="REF_D04" property="refD04" jdbcType="DATE"/>
        <result column="REF_D05" property="refD05" jdbcType="DATE"/>
        <result column="REF_D06" property="refD06" jdbcType="DATE"/>
        <result column="REF_D07" property="refD07" jdbcType="DATE"/>
        <result column="REF_D08" property="refD08" jdbcType="DATE"/>
        <result column="REF_D09" property="refD09" jdbcType="DATE"/>
        <result column="REF_D10" property="refD10" jdbcType="DATE"/>
        <result column="BANK_DOSSIER" property="bankDossier" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryCshBank2" parameterType="com.hand.hls.csh.dto.HlsCusCshBank" resultMap="BaseResultMap2">
       SELECT
          t.*,
          (
            SELECT
              vb.meaning
            FROM
              sys_code_value_b vb,
              sys_code_b b
            WHERE
              b. CODE = 'BANK_TYPE'
              AND b.CODE_ID = vb.code_id
              AND vb.
                  VALUE
                  = t.bank_type
              AND vb.enabled_flag = 'Y'
          ) AS bank_type_n
        FROM
          csh_bank t
        <where>
            1=1
            <if test="bankCode!=null">
                and t.BANK_CODE = #{bankCode}
            </if>
            <if test="bankShortName!=null">
                and t.bank_short_name like concat(concat('%',#{bankShortName}),'%')
            </if>
        </where>
        order by t.bank_code
    </select>

</mapper>