<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.csh.mapper.HlsCusConDebtExemptionReqCfMapper">
    <resultMap type="com.hand.hls.csh.dto.HlsCusConDebtExemptionReqCf" id="baseResultMap">
        <id column="change_req_cf_id" property="changeReqCfId"/>
        <result column="change_req_id" property="changeReqId"/>
        <result column="cashflow_id" property="cashflowId"/>
        <result column="contract_id" property="contractId"/>
        <result column="cf_item" property="cfItem"/>
        <result column="cf_type" property="cfType"/>
        <result column="cf_direction" property="cfDirection"/>
        <result column="cf_status" property="cfStatus"/>
        <result column="times" property="times"/>
        <result column="due_date" property="dueDate"/>
        <result column="due_amount" property="dueAmount"/>
        <result column="principal" property="principal"/>
        <result column="interest" property="interest"/>
        <result column="exemption_amount" property="exemptionAmount"/>
        <result column="cf_item_desc" property="cf_item_desc"/>
        <result column="days" property="days"/>
        <result column="delay_id" property="delay_id"/>
        <result column="received_amount" property="receivedAmount"/>
        <result column="withdraw_id" property="withdrawId"/>
        <result column="withdraw_cf_id" property="withdrawCfId"/>
    </resultMap>
    <select id="selectExemptionReqCf" resultMap="baseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusConDebtExemptionReqCf">
        SELECT
        cash.cashflow_id,
        cash.contract_id,
        cash.times,
        (select hls.description from hls_cashflow_item hls where hls.cf_item=cash.cf_item) cf_item_desc,
        (select datediff(curdate(),cash.due_date)) days,
        ccc.cashflow_id as delay_id,
        ccc.due_amount,
        ccc.received_amount,
        cf.exemption_amount
        FROM
            con_debt_exemption_req_cf cf,
            con_contract_cashflow cash,
            con_contract_cashflow ccc
        WHERE
        cash.contract_id = #{contractId}
       <if test="changeReqId !=null">
           AND cf.change_req_id= #{changeReqId}
       </if>
        AND cf.cashflow_id=cash.cashflow_id
        AND ccc.cashflow_id=cash.generated_source_doc_id
        AND ccc.cf_item !=9

    </select>
    <select id="selectExemptionReqCfById" resultMap="baseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusConDebtExemptionReqCf">
        SELECT
        cf.change_req_cf_id,
        cf.change_req_id,
        cf.cashflow_id,
        cf.contract_id,
        cf.due_amount,
        cash.received_amount,
        ccc.cashflow_id as delay_id,
        (select hls.description from hls_cashflow_item hls where hls.cf_item=ccc.cf_item) cf_item_desc,
        (select datediff(curdate(),ccc.due_date)) days,
        ccc.times,
        cf.exemption_amount
        FROM
        con_debt_exemption_req_cf cf,
        con_contract_cashflow cash,
        con_contract_cashflow ccc
        WHERE
        cash.contract_id = #{contractId}
        <if test="changeReqId !=null">
            AND cf.change_req_id= #{changeReqId}
        </if>
        AND cf.cashflow_id=cash.cashflow_id
        AND cash.generated_source_doc_id=ccc.cashflow_id
        AND ccc.cf_item !=9

    </select>
    <select id="selectReqCfByCashflowId" resultMap="baseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusConDebtExemptionReqCf">
        SELECT
        cf.change_req_cf_id,
        cf.change_req_id,
        cf.cashflow_id,
        cf.contract_id,
        cf.cf_item,
        cf.cf_type,
        cf.cf_direction,
        cf.cf_status,
        cf.times,
        cf.due_date,
        cf.due_amount,
        cf.principal,
        cf.interest,
        cf.exemption_amount
        FROM
        con_debt_exemption_req_cf cf
        LEFT JOIN con_debt_exemption_req req ON cf.change_req_id = req.change_req_id
        <where>
            req.req_status = 'APPROVED'
            <if test="cashflowId!=null">
                AND cf.cashflow_id=#{cashflowId}
            </if>
            <!--<if test="withdrawCfId!=null">
                AND cf.withdraw_cf_id=#{withdrawCfId}
            </if>-->
        </where>
    </select>

    <resultMap id="ConDebtExemptionReqCfMap" type="map">
        <result column="change_req_cf_id" property="change_req_cf_id"/>
        <result column="change_req_id" property="change_req_id"/>
        <result column="contract_id" property="contract_id"/>
        <result column="tenant_name" property="tenant_name"/>
        <result column="contract_number" property="contract_number"/>
        <result column="contract_name" property="contract_name"/>
        <result column="lease_times" property="lease_times"/>
        <result column="returned_times" property="returned_times"/>
        <result column="quotation_id" property="quotation_id"/>
        <result column="cf_item" property="cf_item"/>
        <result column="cf_item_n" property="cf_item_n"/>
        <result column="cf_type" property="cf_type"/>
        <result column="cf_direction" property="cf_direction"/>
        <result column="cf_status" property="cf_status"/>
        <result column="cashflow_irr" property="cashflow_irr"/>
        <result column="cashflow_irr_after_tax" property="cashflow_irr_after_tax"/>
        <result column="cashflow_irr_without_fee" property="cashflow_irr_without_fee"/>
        <result column="vat_total" property="vat_total"/>
        <result column="times" property="times"/>
        <result column="due_date" property="due_date"/>
        <result column="calc_date" property="calc_date"/>
        <result column="fin_income_date" property="fin_income_date"/>
        <result column="due_amount" property="due_amount"/>
        <result column="net_due_amount" property="net_due_amount"/>
        <result column="vat_due_amount" property="vat_due_amount"/>
        <result column="principal" property="principal"/>
        <result column="interest" property="interest"/>
        <result column="net_interest" property="net_interest"/>
        <result column="vat_interest" property="vat_interest"/>
        <result column="write_off_flag" property="write_off_flag"/>
        <result column="received_amount" property="received_amount"/>
        <result column="received_principal" property="received_principal"/>
        <result column="received_interest" property="received_interest"/>
        <result column="outstanding_principal" property="outstanding_principal"/>
        <result column="last_received_date" property="last_received_date"/>
        <result column="full_write_off_date" property="full_write_off_date"/>
        <result column="penalty_process_status" property="penalty_process_status"/>
        <result column="billing_status" property="billing_status"/>
        <result column="billing_amount" property="billing_amount"/>
        <result column="billing_principal" property="billing_principal"/>
        <result column="billing_interest" property="billing_interest"/>
        <result column="payment_bp_id" property="payment_bp_id"/>
        <result column="overdue_status" property="overdue_status"/>
        <result column="generated_source_doc_id" property="generated_source_doc_id"/>
        <result column="generated_source" property="generated_source"/>
        <result column="fine_days" property="fine_days"/>
        <result column="fine_amount" property="fine_amount"/>
        <result column="received_fine_amount" property="received_fine_amount"/>
        <result column="fine_reduce_amount" property="fine_reduce_amount"/>
        <result column="reduce_amount" property="reduce_amount"/>
        <result column="fine_reduction_type" property="fine_reduction_type"/>
        <result column="description" property="description"/>
        <result column="fine_status" property="fine_status"/>
        <result column="fine_reduce_req" property="fine_reduce_req"/>
        <result column="billing_vat_rate" property="billing_vat_rate"/>
        <result column="object_version_number" property="object_version_number"/>
        <result column="request_id" property="request_id"/>
        <result column="program_id" property="program_id"/>
        <result column="day_end_date" property="day_end_date"/>
        <result column="print_status" property="print_status"/>
        <result column="print_status" property="print_status"/>
        <result column="cashflow_name" property="cashflow_name"/>
        <result column="interest_adjust_amount" property="interest_adjust_amount"/>
        <result column="interest_amortization_method" property="interest_amortization_method"/>
        <result column="lease_charge_amort_method" property="lease_charge_amort_method"/>
        <result column="adv_service_amort_method" property="adv_service_amort_method"/>
        <result column="uncollected_amount" property="uncollected_amount"/>
        <result column="exemption_amount" property="exemption_amount"/>
        <result column="exempted_amount" property="exempted_amount"/>
    </resultMap>

    <select id="selectConDebtExemptionReqCf" parameterType="com.hand.hls.csh.dto.HlsCusConDebtExemptionReqCf"
            resultMap="ConDebtExemptionReqCfMap">
        select v.*,(v.due_amount-v.exemption_amount) exempted_amount from (select
        t.change_req_cf_id,
        t.change_req_id,
        t.cashflow_id,
        t.contract_id,
        t.cf_item,
        t.cf_type,
        t.cf_direction,
        t.cf_status,
        t.times,
        t.due_date,
        t.due_amount,
        t.principal,
        t.interest,
        t.exemption_amount,
        (select cc.contract_number
        from con_contract cc
        where cc.contract_id = t.contract_id) contract_number,
        (select cc.contract_name
        from con_contract cc
        where cc.contract_id = t.contract_id) contract_name,
        (select  wm_concat(hls.bp_name)
        from hls_bp_master hls, con_contract cc
        where cc.contract_id=t.contract_id
        and hls.bp_id = cc.tenant_id) tenant_name,
        (select hct.description from HLS_CASHFLOW_TYPE hct where hct.cf_type = t.cf_type) cf_item_n,
        (select ccc.received_amount from con_contract_cashflow ccc where ccc.cashflow_id = t.cashflow_id) received_amount,
        (t.due_amount - (select ccc.received_amount from con_contract_cashflow ccc where ccc.cashflow_id = t.cashflow_id)) uncollected_amount

        from con_debt_exemption_req_cf t) v
        <where>
            1=1
            <if test="changeReqId != null">
                and v.change_req_id = #{changeReqId}
            </if>

            <if test="changeReqId == null">
                and v.change_req_id = 0
            </if>
        </where>


    </select>
    <select id="selectConDebtExemptionReqCf1" parameterType="com.hand.hls.csh.dto.HlsCusConDebtExemptionReqCf"
            resultMap="ConDebtExemptionReqCfMap">
        select v.*,(v.due_amount-v.exemption_amount) exempted_amount from (select
        t.change_req_cf_id,
        t.change_req_id,
        t.cashflow_id,
        t.contract_id,
        t.cf_item,
        t.cf_type,
        t.cf_direction,
        t.cf_status,
        t.times,
        t.due_date,
        t.due_amount,
        t.principal,
        t.interest,
        t.exemption_amount,
        (select cc.contract_number
        from con_contract cc
        where cc.contract_id = t.contract_id) contract_number,
        (select cc.contract_name
        from con_contract cc
        where cc.contract_id = t.contract_id) contract_name,
        (select hct.description from HLS_CASHFLOW_TYPE hct where hct.cf_type = t.cf_type) cf_item_n,
        (select ccc.received_amount from con_contract_cashflow ccc where ccc.cashflow_id = t.cashflow_id) received_amount,
        (t.due_amount - (select ccc.received_amount from con_contract_cashflow ccc where ccc.cashflow_id = t.cashflow_id)) uncollected_amount

        from con_debt_exemption_req_cf t) v
        <where>
            1=1
            <if test="changeReqId != null">
                and v.change_req_id = #{changeReqId}
            </if>

            <if test="changeReqId == null">
                and v.change_req_id = 0
            </if>
        </where>


    </select>
</mapper>
