<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.ProjectCreditConditionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.ProjectCreditCondition">
        <result column="CREDIT_CONDITION_ID" property="creditConditionId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="EXEMPTION_CAUSE" property="exemptionCause" jdbcType="VARCHAR" />
        <result column="EXEMPTION_FLAG" property="exemptionFlag" jdbcType="VARCHAR" />
        <result column="APPROVAL_FLAG" property="approvalFlag" jdbcType="VARCHAR" />
        <result column="APPROVAL_FLAG_N" property="approvalFlagN" jdbcType="VARCHAR" />
        <result column="ADD_FLAG" property="addFlag" jdbcType="VARCHAR" />

        <result column="if_practicable" property="ifPracticable" jdbcType="VARCHAR" />
        <result column="if_immunity" property="ifImmunity" jdbcType="VARCHAR" />
        <result column="credit_condition_number" property="creditConditionNumber" jdbcType="VARCHAR" />
        <result column="end_task_node_id" property="endTaskNodeId" jdbcType="VARCHAR" />
        <result column="end_task_node_id_n" property="endTaskNodeIdN" jdbcType="VARCHAR" />
        <result column="his_condition" property="hisCondition"/>
        <result column="NEW_FLAG" property="newFlag" jdbcType="VARCHAR" />
        <result column="IMPLEMENTATION_LEASE" property="implementationLease" jdbcType="VARCHAR" />
        <result column="IMPLEMENTATION_SITUATION" property="implementationSituation" jdbcType="VARCHAR" />
        <result column="conditions" property="conditions" jdbcType="VARCHAR" />
        <result column="CONDITION_TYPE" property="conditionType" jdbcType="VARCHAR" />
        <result column="CONDITION_CONTENT" property="conditionContent" jdbcType="VARCHAR" />
        <result column="CONDITION_TYPE_n" property="conditionTypeN" jdbcType="VARCHAR" />

        <result column="OTHER" property="other" jdbcType="VARCHAR" />
        <result column="payment_req_id" property="paymentReqId" jdbcType="DECIMAL" />
    </resultMap>

    <select id="selectChangeAddInfo" parameterType="com.hand.hls.csh.dto.ProjectCreditCondition" resultMap="BaseResultMap">
        select *
          from PRJ_PROJECT_CREDIT_CONDITION p
         where p.project_id = #{projectId}
           and not exists (select *
                  from PRJ_PROJECT_CREDIT_CONDITION his
                 where his.credit_condition_id = p.ref_credit_condition_id)
    </select>

    <select id="selectChangeRemoveInfo" parameterType="com.hand.hls.csh.dto.ProjectCreditCondition" resultMap="BaseResultMap">
        select *
          from PRJ_PROJECT_CREDIT_CONDITION p
         where p.project_id = #{hisProjectId}
           and not exists (select *
                  from PRJ_PROJECT_CREDIT_CONDITION his
                 where his.ref_credit_condition_id = p.credit_condition_id)
    </select>

    <select id="selectNotChangeInfo" parameterType="com.hand.hls.csh.dto.ProjectCreditCondition" resultMap="BaseResultMap">
        select p.conditions, his.conditions as his_condition
          from PRJ_PROJECT_CREDIT_CONDITION p,PRJ_PROJECT_CREDIT_CONDITION his
         where p.project_id = #{projectId}
           and his.credit_condition_id = p.ref_credit_condition_id
           and his.conditions = p.conditions
    </select>

    <select id="selectChangeDiffInfo" parameterType="com.hand.hls.csh.dto.ProjectCreditCondition" resultMap="BaseResultMap">
        select p.conditions, his.conditions as his_condition
          from PRJ_PROJECT_CREDIT_CONDITION p,PRJ_PROJECT_CREDIT_CONDITION his
         where p.project_id = #{projectId}
           and his.credit_condition_id = p.ref_credit_condition_id
           and his.conditions != p.conditions
    </select>

    <select id="queryAll" parameterType="com.hand.hls.csh.dto.ProjectCreditCondition" resultMap="BaseResultMap">
        SELECT
        pcc.CREDIT_CONDITION_ID,
        pcc.CREDIT_CONDITION_NUMBER,
        pcc.PROJECT_ID,
        pcc.CONDITIONs,
        pcc.EXEMPTION_CAUSE,
        pcc.EXEMPTION_FLAG,
        pcc.APPROVAL_FLAG,
        pcc.ADD_FLAG,
        pcc.if_practicable,
        pcc.end_task_node_id,
        (select sc.meaning
        from sys_code_value_b_v sc
        where sc.code = 'CSH.PAY_CONDITION_NODE' and pcc.end_task_node_id = sc.code_value) end_task_node_id_n,
        case when pcc.approval_flag = 'APPROVED' then 'Y'
        else 'N' end if_immunity,
        (SELECT v.meaning FROM sys_code_value_b_v v
        WHERE v.code = 'CSH.PAYMENT_CONDITION_STATUS' AND v.code_value = pcc.APPROVAL_FLAG) APPROVAL_FLAG_N
        from prj_project_credit_condition pcc
        <where>
            1=1
            <if test="projectId != null">
                AND pcc.project_id = #{projectId}
            </if>
            <if test="list != null">
                and pcc.credit_condition_id in
                <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="queryByPrj" parameterType="com.hand.hls.csh.dto.ProjectCreditCondition" resultMap="BaseResultMap">
        SELECT
        -1 payment_req_id,
        pcc.CREDIT_CONDITION_ID,
        pcc.CREDIT_CONDITION_NUMBER,
        pcc.PROJECT_ID,
        <!-- pcc.CONDITIONs, -->
        pcc.EXEMPTION_CAUSE,
        pcc.EXEMPTION_FLAG,
        pcc.APPROVAL_FLAG,
        pcc.ADD_FLAG,
        pcc.if_practicable,
        pcc.end_task_node_id,
        pcc.new_flag,
        pcc.CONDITIONS,
        pcc.CONDITION_TYPE,
        pcc.implementation_lease,
        pcc.implementation_situation,
        (select sc.meaning
        from sys_code_value_b_v sc
        where sc.code = 'CSH.PAY_CONDITION_NODE' and pcc.end_task_node_id = sc.code_value) end_task_node_id_n,
        case when pcc.approval_flag = 'APPROVED' then 'Y'
        else 'N' end if_immunity,
        (SELECT v.meaning FROM sys_code_value_b_v v
        WHERE v.code = 'CSH.PAYMENT_CONDITION_STATUS' AND v.code_value = pcc.APPROVAL_FLAG) APPROVAL_FLAG_N,
        (SELECT v.meaning FROM sys_code_value_b_v v
        WHERE v.code = 'APPROVAL_TYPE' AND v.code_value = pcc.CONDITION_TYPE) CONDITION_TYPE_n
        from prj_project_credit_condition pcc
        <where>
            1=1
            <if test="projectId != null">
                AND pcc.project_id = #{projectId}
            </if>
        </where>
    </select>

    <select id="queryOtherByPrj" parameterType="com.hand.hls.csh.dto.ProjectCreditCondition" resultMap="BaseResultMap">
        SELECT
        pcc.CREDIT_CONDITION_ID,
        pcc.other,
        from prj_project_credit_condition pcc
        <where>
            1=1
            <if test="projectId != null">
                AND pcc.project_id = #{projectId}
            </if>
        </where>
    </select>

    <delete id="deleteCreditConditionByProjectId">
        delete from prj_project_credit_condition p where p.project_id = #{projectId}
    </delete>
    <select id="queryByPrjNew" parameterType="com.hand.hls.csh.dto.ProjectCreditCondition" resultMap="BaseResultMap">
        SELECT
        p2.*
        FROM
        prj_project_approval p1,
        prj_approval_condition p2
        WHERE
        p1.PROJECT_ID = p2.PROJECT_ID
        AND p1.project_id =(
        SELECT
        pp.ref_project_id
        FROM
        prj_project pp
        WHERE
        pp.project_id =#{projectId})

    </select>
</mapper>