<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.ty.mapper.JcTianyanchaInterfaceInfoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.ty.dto.JcTianyanchaInterfaceInfo">
        <result column="INTERFACE_ID" property="interfaceId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_ID" property="documentId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="DATA" property="data" jdbcType="VARCHAR" />
        <result column="ERROR" property="error" jdbcType="VARCHAR" />
        <result column="TOTAL" property="total" jdbcType="DECIMAL" />
        <result column="ERROR_CODE" property="errorCode" jdbcType="DECIMAL" />
        <result column="USG_DATE" property="usgDate" jdbcType="DATE" />
        <result column="RETRIEVAL_STATE" property="retrievalState" jdbcType="VARCHAR" />
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryJcTianyanchaInterfaceInfoList" parameterType="com.hand.hls.ty.dto.JcTianyanchaInterfaceInfo" resultMap="BaseResultMap">
        select
        tii.*
        from jc_tianyancha_interface_info tii
        <where>
             to_char(tii.USG_DATE, 'YYYY-MM-DD') = to_char(sysdate, 'YYYY-MM-DD')
            and tii.RETRIEVAL_STATE = #{retrievalState}
        </where>

    </select>



</mapper>