<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.activiti.mapper.HlsCusActMeetingMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.activiti.dto.HlsCusActMeeting">
        <id column="meeting_id" property="meetingId" jdbcType="BIGINT" />
        <result column="document_id" property="documentId" jdbcType="BIGINT"/>
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="meeting_name" property="meetingName" jdbcType="VARCHAR"/>
        <result column="meeting_location" property="meetingLocation" jdbcType="VARCHAR"/>
        <result column="meeting_date" property="meetingDate" jdbcType="DATE"/>
        <result column="meeting_time" property="meetingTime" jdbcType="VARCHAR"/>
        <result column="number_of_judges" property="numberOfJudges" jdbcType="BIGINT"/>
        <result column="voting_result" property="votingResult" jdbcType="VARCHAR"/>
        <result column="meeting_summary" property="meetingSummary" jdbcType="VARCHAR"/>
        <result column="supple_condition" property="suppleCondition" jdbcType="VARCHAR"/>
        <result column="meeting_record" property="meetingRecord" jdbcType="VARCHAR"/>
        <result column="meeting_record_name" property="meetingRecordName" jdbcType="VARCHAR"/>
        <result column="process_instance_id" property="processInstanceId" jdbcType="BIGINT"/>
        <result column="meeting_type" property="meetingType" jdbcType="VARCHAR"/>
        <result column="meeting_document_category" property="meetingDocumentCategory" jdbcType="VARCHAR"/>
        <result column="comprehensive_comment" property="comprehensiveComment" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryMeetingIdByDetails" parameterType="com.hand.hls.activiti.dto.HlsCusActMeeting"
            resultType="java.lang.Long">
        select meeting_id
        from
        act_meeting
        where
        1 = 1
        <if test="processInstanceId !=null and processInstanceId != ''">
        and process_instance_id = #{processInstanceId}
        </if>
        <if test="documentId !=null and documentId != ''">
            and document_id = #{documentId}
        </if>
        <if test="documentCategory !=null and documentCategory != ''">
            and document_category = #{documentCategory}
        </if>
    </select>

    <select id="queryMeetingIdByProcessInstanceId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select meeting_id
        from
        act_meeting
        where
        1 = 1
        <if test="processInstanceId !=null and processInstanceId != ''">
        and process_instance_id = #{processInstanceId}
        </if>
    </select>

    <select id="queryMeetingDetailByProcessInstanceId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        am.meeting_id,
        am.meeting_name,
        am.meeting_location,
        am.meeting_date,
        am.meeting_time,
        am.number_of_judges,
        am.voting_result,
        am.meeting_summary,
        am.supple_condition,
        am.meeting_record,
        am.meeting_type,
        (select fe.name from fnd_employee fe where fe.employee_code = am.meeting_record ) as meeting_record_name,
        am.comprehensive_comment
        from
        act_meeting am
        where
        1 = 1
        <if test="processInstanceId !=null and processInstanceId != ''">
        and process_instance_id = #{processInstanceId}
        </if>
    </select>

    <update id="updateMeetingType" parameterType="com.hand.hls.activiti.dto.HlsCusActMeeting">
        update ACT_MEETING set MEETING_TYPE=#{meetingType} where PROCESS_INSTANCE_ID=#{processInstanceId}
    </update>

    <update id="updateMeetingComprehensiveComment" parameterType="com.hand.hls.activiti.dto.HlsCusActMeeting">
        update ACT_MEETING set comprehensive_comment=#{comprehensiveComment}
        where
        1 = 1
        <if test="processInstanceId !=null and processInstanceId != ''">
            and process_instance_id = #{processInstanceId}
        </if>
    </update>


    <select id="queryMeetingTypeByProcessInstanceId" parameterType="java.lang.Long" resultType="java.lang.String">
        select meeting_type
        from
        act_meeting
        where
        1 = 1
        <if test="processInstanceId !=null and processInstanceId != ''">
            and process_instance_id = #{processInstanceId}
        </if>
    </select>
</mapper>
