<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.activiti.mapper.HlsCusActOnlineMeetingMemberMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.activiti.dto.HlsCusActOnlineMeetingMember">
        <result column="online_meeting_member_id" property="onlineMeetingMemberId" jdbcType="BIGINT"/>
        <result column="online_meeting_member_code" property="onlineMeetingMemberCode" jdbcType="VARCHAR"/>
        <result column="process_instance_id" property="processInstanceId" jdbcType="BIGINT"/>
        <result column="meeting_id" property="meetingId" jdbcType="BIGINT"/>
        <result column="member_name" property="memberName" jdbcType="VARCHAR"/>
        <result column="project_document_category" property="projectDocumentCategory" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="VARCHAR"/>
        <result column="allocation_id" property="allocationId"/>
    </resultMap>

    <select id="queryMeetingMemberByProcessInstanceId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT online_meeting_member_id,
        online_meeting_member_code,
        process_instance_id,
        allocation_id,
        meeting_id,(
        select
        distinct su.USER_NAME
        from
        sys_user su ,
        sys_user_allocation sua ,
        fnd_employee_assigns fea ,
        fnd_employee fe
        where
        su.USER_ID = sua.user_id
        and sua.employee_assign_id = fea.employee_assign_id
        and fe.employee_id = fea.employee_id
        and fe.employee_code = online_meeting_member_code
        )as member_name
        FROM act_online_meeting_member
        WHERE process_instance_id = #{processInstanceId}
    </select>

    <select id="queryMeetingMemberByDocumentInfo" parameterType="com.hand.hls.activiti.dto.HlsCusActOnlineMeetingMember"
            resultMap="BaseResultMap">
        SELECT online_meeting_member_id,
        online_meeting_member_code,
        process_instance_id,
        meeting_id,(
        select
        distinct su.USER_NAME
        from
        sys_user su ,
        sys_user_allocation sua ,
        fnd_employee_assigns fea ,
        fnd_employee fe
        where
        su.USER_ID = sua.user_id
        and sua.employee_assign_id = fea.employee_assign_id
        and fe.employee_id = fea.employee_id
        and fe.employee_code = online_meeting_member_code
        )as member_name
        FROM act_online_meeting_member
        WHERE project_id = #{projectId}
        AND project_document_category = #{projectDocumentCategory}
    </select>

    <select id="queryMeetingMemberByProcessInstanceIdLov" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT online_meeting_member_id,
        online_meeting_member_code,
        process_instance_id,
        meeting_id,
        (select fe.name
        from fnd_employee fe
        where online_meeting_member_code = fe.employee_code) as member_name
        FROM act_online_meeting_member
        WHERE
        1 = 1
        <if test="processInstanceId != null and processInstanceId != ''">
            and process_instance_id = #{processInstanceId}
        </if>

    </select>

</mapper>
