<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.BpCreditRateMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.BpCreditRate">
        <result column="CREDIT_RATE_ID" property="creditRateId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
        <result column="RATING_TIME" property="ratingTime" jdbcType="DATE" />
        <result column="ACCREDITING_AGENCIES" property="accreditingAgencies" jdbcType="VARCHAR" />
        <result column="RATING_MATURITY" property="ratingMaturity" jdbcType="DATE" />
        <result column="IDENTIFICATION_RESULT" property="identificationResult" jdbcType="VARCHAR" />
        <result column="IDENTIFICATION_RESULT_N" property="identificationResultN" jdbcType="VARCHAR" />
        <result column="DEFAULT_PROBABILITY" property="defaultProbability" jdbcType="DECIMAL" />
        <result column="RATING_TIME_O" property="ratingTimeO" jdbcType="DATE" />
        <result column="ACCREDITING_AGENCIES_O" property="accreditingAgenciesO" jdbcType="VARCHAR" />
        <result column="RATING_MATURITY_O" property="ratingMaturityO" jdbcType="DATE" />
        <result column="IDENTIFICATION_RESULT_O" property="identificationResultO" jdbcType="VARCHAR" />
        <result column="IDENTIFICATION_RESULT_O_N" property="identificationResultON" jdbcType="VARCHAR" />
        <result column="OUTLOOK" property="outlook" jdbcType="VARCHAR" />
        <result column="RATING_STATUS" property="ratingStatus" jdbcType="VARCHAR" />
        <result column="RATING_STATUS_N" property="ratingStatusN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsCusBpAssetslistMovables" resultMap="BaseResultMap">
        SELECT
        bcr.*,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'HLS.IDENTIFICATION_RESULT'
        and sc.code_value = bcr.IDENTIFICATION_RESULT) IDENTIFICATION_RESULT_N,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'HLS.EXTERNAL_RATING_RESULT'
        and sc.code_value = bcr.IDENTIFICATION_RESULT_O) IDENTIFICATION_RESULT_O_N,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'HLS.BP_RATING_STATUS'
        and sc.code_value = bcr.RATING_STATUS) RATING_STATUS_N
        FROM
        hls_bp_credit_rate  bcr
        <where>
            <if test="bpId != null">
                bcr.bp_id = #{bpId}
            </if>
            <if test="creditRateId != null">
                bcr.credit_rate_id = #{creditRateId}
            </if>
        </where>
    </select>

</mapper>