<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.BpMasterVisitRecordMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.BpMasterVisitRecord">
        <result column="VISIT_RECORD_ID" property="visitRecordId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="VISIT_DATE" property="visitDate" jdbcType="DATE" />
        <result column="VISIT_MATTER" property="visitMatter" jdbcType="VARCHAR" />
        <result column="VISIT_PLACE" property="visitPlace" jdbcType="VARCHAR" />
        <result column="PARTICIPANTS" property="participants" jdbcType="VARCHAR" />
        <result column="FEEDBACK_RESULTS" property="feedbackResults" jdbcType="VARCHAR" />
        <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
        <result column="RECORD_ID" property="recordId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="VISIT_DATE" property="visitDate" jdbcType="VARCHAR" />
        <result column="VISIT_PLACE" property="visitPlace" jdbcType="VARCHAR" />
        <result column="VISIT_TARGET" property="visitTarget" jdbcType="VARCHAR" />
        <result column="VISIT_RESULT" property="visitResult" jdbcType="VARCHAR" />
        <result column="PARTICIPANTS" property="participants" jdbcType="VARCHAR" />
        <result column="VISIT_TYPE" property="visitType" jdbcType="VARCHAR" />
    </resultMap>


</mapper>