<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.BpShareholderInfoHtMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.BpShareholderInfoHt">
        <result column="SHAREHOLDER_LN_ID" property="shareholderLnId" jdbcType="DECIMAL" />
        <result column="SHAREHOLDER_INFORMATION_ID" property="shareholderInformationId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="SHAREHOLDER_TYPE" property="shareholderType" jdbcType="VARCHAR" />
        <result column="SHAREHOLDER_NAME" property="shareholderName" jdbcType="VARCHAR" />
        <result column="SUBSCRIPTION_AMOMON" property="subscriptionAmomon" jdbcType="DECIMAL" />
        <result column="SUBSCRIPTION_PERCEN" property="subscriptionPercen" jdbcType="VARCHAR" />
        <result column="SUBSCRIPTION_TIME" property="subscriptionTime" jdbcType="DATE" />
        <result column="SUBSCRIPTION_PAYMET" property="subscriptionPaymet" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryBpShareholderInfoHt" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.BpShareholderInfoHt">
        SELECT
        BSPT.*
        FROM
        hls_bp_shareholder_info_ht BSPT
        <where>
            <if test="bpId!= null">
                BSPT.BP_ID =#{bpId}
            </if>
        </where>
    </select>
</mapper>