<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.bp.mapper.BusinessCgNewMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.BusinessCategory" >
        <id column="bp_category" property="bpCategory" jdbcType="VARCHAR" />
        <id column="usage_category" property="usageCategory" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="system_flag" property="systemFlag" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectList" parameterType="com.hand.hls.bp.dto.BusinessCategory" resultType="com.hand.hls.bp.dto.BusinessCategory">
        select
        hbc.bp_category as bp_category,
        hbc.description as description,
        hbc.enabled_flag as enabled_flag,
        hbc.system_flag as system_flag
        from hls_bp_category hbc
        <where>
            <if test="queryCondition != null">
                (hbc.DESCRIPTION  like concat(concat('%',#{queryCondition}),'%'))
                OR (hbc.BP_CATEGORY like concat(concat('%',#{queryCondition}),'%'))
            </if>
        </where>
    </select>

    <select id="bpMasterOtherQuery" parameterType="com.hand.hls.bp.dto.BusinessCategory" resultType="com.hand.hls.bp.dto.BusinessCategory">
        SELECT
            hbc.bp_category AS bp_category
        FROM
            hls_bp_category hbc
        WHERE
        hbc.bp_category not in ('TENANT','TENANT_SEC','GUARANTOR','PLEDGER','VENDER')
    </select>

    <select id="usageCategory" resultMap="BaseResultMap">
    SELECT
        hbc.bp_category usage_category,
        hbc.description
    FROM
        hls_bp_category hbc
    WHERE
        hbc.bp_category IN (
             'WARRANTOR',
            'TENANT',
            'VENDER',
            'MORTGAGOR_PLEGDOR'
        )
        and hbc.enabled_flag = 'Y'
    </select>
</mapper>
