<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.FndScoreTemplateDbSourceMapper">
    <resultMap id="BaseResultMap1" type="com.hand.hls.bp.dto.FndScoreTemplateDbSource">
        <result column="score_template_db_source_id" property="scoreTemplateDbSourceId" jdbcType="DECIMAL" />
        <result column="score_template_hd_id" property="scoreTemplateHdId" jdbcType="DECIMAL" />
        <result column="db_data_source_id" property="dbDataSourceId" jdbcType="DECIMAL" />
        <result column="db_data_source_name" property="dbDataSourceName" jdbcType="VARCHAR" />
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="combDsMap1" type="java.util.HashMap">
        <result column="data_source_id" property="dataSourceId"/>
        <result column="alias_name" property="aliasName"/>
    </resultMap>

    <select id="combDs1" resultMap="combDsMap1">
        SELECT
        hddst.data_source_id,hddst.alias_name
        FROM
        hls_db_data_source_tb hddst
    </select>

    <select id="selectDbSourceName1" resultMap="BaseResultMap1">
        SELECT hstds.*,hdds.description as db_data_source_name
        FROM fnd_score_tplt_db_source hstds,hls_db_data_source hdds
        <where>
            hstds.db_data_source_id = hdds.data_source_id
            <if test="#{scoreTemplateHdId}!=null">
                and hstds.score_template_hd_id = #{scoreTemplateHdId}
            </if>
        </where>
    </select>

    <select id="sourceId1" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT hstds.db_data_source_id
        FROM fnd_score_tplt_db_source hstds ,hls_db_data_source hdds
        <where>
            hstds.enabled_flag='Y'
            and hstds.db_data_source_id = hdds.data_source_id
            and hstds.score_template_hd_id = #{scoreTemplateHdId}
        </where>
    </select>

</mapper>