<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.FndScoreTargetValuesMapper">
    <resultMap id="BaseResultMap1" type="com.hand.hls.bp.dto.FndScoreTargetValues">
        <result column="score_target_value_id" property="scoreTargetValueId" jdbcType="DECIMAL" />
        <result column="score_target_id" property="scoreTargetId" jdbcType="DECIMAL" />
        <result column="line_number" property="lineNumber" jdbcType="DECIMAL" />
        <result column="left_bracket" property="leftBracket" jdbcType="VARCHAR" />
        <result column="from_value" property="fromValue" jdbcType="VARCHAR" />
        <result column="to_value" property="toValue" jdbcType="VARCHAR" />
        <result column="right_bracket" property="rightBracket" jdbcType="VARCHAR" />
        <result column="fixed_target_value" property="fixedTargetValue" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />

        <!--<result column="from_value_n" property="fromValueN" jdbcType="VARCHAR" />-->
        <!--<result column="to_value_n" property="toValueN" jdbcType="VARCHAR" />-->
    </resultMap>

    <!--<select id="getTargetValueObj" resultMap="BaseResultMap" parameterType="java.util.Map">

        SELECT *
        FROM
        hls_score_target_values fstv
        WHERE
        fstv.score_target_id = #{scoreTargetId}
        <if test="sqlPart!=null">
            ${sqlPart}
        </if>


    </select>-->


    <select id="getTargetValueObj1" resultMap="BaseResultMap1" parameterType="java.util.Map">

       select
		 hstv.SCORE_TARGET_VALUE_ID,
		 hstv.SCORE_TARGET_ID,
		 hstv.LEFT_BRACKET,
       (case
        when hstv.FROM_VALUE = 'EXECLLENT_VALUE' then t2.EXECLLENT_VALUE
        when hstv.FROM_VALUE = 'GOOD_VALUE' then t2.GOOD_VALUE
          when hstv.FROM_VALUE = 'AVERAGE_VALUE' then t2.AVERAGE_VALUE
          when hstv.FROM_VALUE = 'POOR_VALUE' then t2.POOR_VALUE end) AS FROM_VALUE,

      (case
        when hstv.TO_VALUE = 'EXECLLENT_VALUE' then t2.EXECLLENT_VALUE
        when hstv.TO_VALUE = 'GOOD_VALUE' then t2.GOOD_VALUE
        when hstv.TO_VALUE = 'AVERAGE_VALUE' then t2.AVERAGE_VALUE
        when hstv.TO_VALUE = 'POOR_VALUE' then t2.POOR_VALUE end) AS TO_VALUE,
            hstv.RIGHT_BRACKET,
            hstv.DESCRIPTION

        from hls_score_target hst, hls_score_target_values hstv,(select
                                                  qds.EXECLLENT_VALUE,
                                                  qds.GOOD_VALUE,
                                                  qds.AVERAGE_VALUE,
                                                  qds.POOR_VALUE,
                                                  qds.SCORE_TARGET_ID,
                                                  qds.SCORE_TEMPLATE_HD_ID
                                           from qujian_data_source qds) t2
        where hst.SCORE_TARGET_ID = t2.SCORE_TARGET_ID
        and hst.SCORE_TARGET_ID = hstv.SCORE_TARGET_ID
        and hst.SCORE_TARGET_ID = #{scoreTargetId}
        and t2.SCORE_TEMPLATE_HD_ID =#{scoreTemplateHdId}
        <if test="sqlPart!=null">
            ${sqlPart}
        </if>

    </select>


    <select id="getTargetValueObj2" resultMap="BaseResultMap1" parameterType="java.util.Map">

        select t.*
        from (SELECT hstv.SCORE_TARGET_VALUE_ID, hstv.SCORE_TARGET_ID, hstv.LEFT_BRACKET , CASE WHEN hstv.FROM_VALUE = 'EXECLLENT_VALUE' THEN t2.EXECLLENT_VALUE WHEN hstv.FROM_VALUE = 'GOOD_VALUE' THEN t2.GOOD_VALUE WHEN hstv.FROM_VALUE = 'AVERAGE_VALUE' THEN t2.AVERAGE_VALUE WHEN hstv.FROM_VALUE = 'POOR_VALUE' THEN t2.POOR_VALUE END AS FROM_VALUE , CASE WHEN hstv.TO_VALUE = 'EXECLLENT_VALUE' THEN t2.EXECLLENT_VALUE WHEN hstv.TO_VALUE = 'GOOD_VALUE' THEN t2.GOOD_VALUE WHEN hstv.TO_VALUE = 'AVERAGE_VALUE' THEN t2.AVERAGE_VALUE WHEN hstv.TO_VALUE = 'POOR_VALUE' THEN t2.POOR_VALUE END AS TO_VALUE, hstv.RIGHT_BRACKET, hstv.DESCRIPTION
                FROM hls_score_target hst, hls_score_target_values hstv, (
                SELECT qds.EXECLLENT_VALUE, qds.GOOD_VALUE, qds.AVERAGE_VALUE, qds.POOR_VALUE, qds.SCORE_TARGET_ID , qds.SCORE_TEMPLATE_HD_ID
                FROM qujian_data_source qds ) t2
                WHERE hst.SCORE_TARGET_ID = t2.SCORE_TARGET_ID AND hst.SCORE_TARGET_ID = hstv.SCORE_TARGET_ID AND hst.SCORE_TARGET_ID = #{scoreTargetId} AND t2.SCORE_TEMPLATE_HD_ID = #{scoreTemplateHdId} ) t
       where
        1=1
        <if test="sqlPart!=null">
            ${sqlPart}
        </if>

    </select>





    <select id="findScoreTargetValueList" resultMap="BaseResultMap1" parameterType="com.hand.hls.bp.dto.FndScoreTargetValues">

        SELECT
        fstv.*
        FROM
        hls_score_target_values fstv
        WHERE
        fstv.score_target_id = #{scoreTargetId}

    </select>



</mapper>