<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.FndScoreResultMapper">
    <resultMap id="BaseResultMap1" type="com.hand.hls.bp.dto.FndScoreResult">
        <result column="SCORE_RESULT_ID" property="scoreResultId" jdbcType="DECIMAL" />
        <result column="SCORE_VALUE" property="scoreValue" jdbcType="DECIMAL" />
        <result column="SCORE_GRADE" property="scoreGrade" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="SCORE_TEMPLATE_HD_ID" property="scoreTemplateHdId" jdbcType="DECIMAL" />
        <result column="FINAL_SCORE_GRADE" property="finalScoreGrade" jdbcType="VARCHAR" />
        <result column="FROM_DATE" property="fromDate" jdbcType="DATE" />
        <result column="TO_DATE" property="toDate" jdbcType="DATE" />
        <result column="GRADE_STATUS" property="gradeStatus" jdbcType="VARCHAR" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="FISCAL_YEAR" property="fiscalYear" jdbcType="DECIMAL" />
        <result column="FISCAL_MONTH" property="fiscalMonth" jdbcType="DECIMAL" />
        <result column="GREAD_DATE" property="greadDate" jdbcType="DATE" />
        <result column="BP_NAME_N" property="bpNameN" jdbcType="VARCHAR" />
        <result column="SCORE_TEMPLATE_HD_ID_N" property="scoreTemplateHdIdN" jdbcType="VARCHAR" />
        <result column="RESULT_ID_N" property="resultIdN" jdbcType="VARCHAR" />
        <result column="IS_TURN_UP_N" property="isTurnUpN" jdbcType="VARCHAR" />

        <result column="FISCAL_YEAR_N" property="fiscalYearN" jdbcType="VARCHAR" />
        <result column="FISCAL_MONTH_N" property="fiscalMonthN" jdbcType="VARCHAR" />

    </resultMap>

    <select id="selectScoreResult" parameterType="com.hand.hls.bp.dto.FndScoreResult" resultMap="BaseResultMap1">
      select
        fsr.SCORE_RESULT_ID,
        fsr.SCORE_TEMPLATE_HD_ID,
        fsr.GREAD_DATE,
        fsr.RESULT_ID,
        fsr.IS_TURN_UP,
        fsr.bp_id,
        (select
        hbm.BP_NAME
        from  hls_bp_master hbm
        where hbm.BP_ID = fsr.BP_ID) BP_NAME_N,

        (select fsth.SCORE_TEMPLATE_HD_NAME value_name
        from fnd_score_template_hd fsth
        where fsth.SCORE_TEMPLATE_HD_ID = fsr.SCORE_TEMPLATE_HD_ID) SCORE_TEMPLATE_HD_ID_N,

        (
        select
        hfsh.FISCAL_YEAR value_name
        from hls_fin_statement_hd hfsh
        where hfsh.FIN_STATEMENT_HD_ID = fsr.FISCAL_YEAR
        ) FISCAL_YEAR_N,

        (
        select
        hfsh.FISCAL_MONTH value_name
        from hls_fin_statement_hd hfsh
        where hfsh.FIN_STATEMENT_HD_ID = fsr.FISCAL_MONTH
        ) FISCAL_MONTH_N,

        (
        SELECT
        hr.FIN_STATEMENT_NAME
        FROM
        hls_bp_financial_header h,
        hls_web_excel_calc_result hr,
        hls_web_excel hwe
        WHERE
        h.header_id = hr.source_document_id
        AND hr.source_document_category = 'FINANCIAL_REPORT'
        AND hwe.excel_id = hr.excel_id
        and hr.RESULT_ID = fsr.RESULT_ID
        AND h.bp_id = fsr.bp_id
        ) RESULT_ID_N,

        (select
        scvb.MEANING value_name
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        where scb.CODE_ID = scvb.CODE_ID
        and scb.CODE = 'GRADE.IS_TURN_UP'
        and scvb.VALUE = fsr.IS_TURN_UP) IS_TURN_UP_N



      from fnd_score_result fsr

      <where>
          <if test="bpId!=null">
            fsr.bp_id = #{bpId}
          </if>

          <if test="scoreResultId!=null">
             and fsr.SCORE_RESULT_ID = #{scoreResultId}
          </if>
      </where>
    </select>

    <select id="queryFndScoreResult1" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * from fnd_score_result

        WHERE score_result_id = #{scoreResultId}

    </select>

</mapper>