<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.GovernmentFinancPlatformMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.GovernmentFinancPlatform">
        <result column="PLATFORM_ID" property="platformId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="PLATFORM_NAME" property="platformName" jdbcType="VARCHAR" />
        <result column="ORGANIZATION_CODE" property="organizationCode" jdbcType="VARCHAR" />
        <result column="PLATFORM_DATE" property="platformDate" jdbcType="VARCHAR" />
        <result column="PLATFORM_RISK" property="platformRisk" jdbcType="VARCHAR" />
        <result column="PLATFORM_RISK_N" property="platformRiskN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.GovernmentFinancPlatform">
        SELECT
        HG.*,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'PLATFORM_RISK'
        AND hg.PLATFORM_RISK = v.code_value) PLATFORM_RISK_N
        FROM
        HLS_GOVERNMENT_FINANC_PLATFORM HG
        <where>
        1=1
            <if test="platformName!= null">
                and HG.PLATFORM_NAME like concat(concat('%',#{platformName}),'%')
            </if>
            <if test="organizationCode!= null">
                and HG.ORGANIZATION_CODE like concat(concat('%',#{organizationCode}),'%')
            </if>
            <if test="platformRisk!= null">
                and HG.PLATFORM_RISK = #{platformRisk}
            </if>
        </where>
        ORDER BY IF (
        isnull(HG.PLATFORM_DATE),
        1,
        0
        ) DESC
    </select>

</mapper>