<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBpChangeReqMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBpChangeReq">
        <result column="CHANGE_ID" property="changeId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="CHANGE_ITEM" property="changeItem" jdbcType="VARCHAR" />
        <result column="CHANGE_TIME" property="changeTime" jdbcType="DATE" />
        <result column="CHANGE_BEFORE" property="changeBefore" jdbcType="VARCHAR" />
        <result column="CHANGE_AFTER" property="changeAfter" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsBpChangeReq">
        SELECT
            t.*
        FROM
        hls_bp_change_req t
        <where>
            <if test="bpId!= null">
                t.bp_id =#{bpId}
            </if>
        </where>
    </select>

</mapper>