<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBpMasterBusinessConditionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBpMasterBusinessCondition">
        <result column="CONDITION_ID" property="conditionId" jdbcType="DECIMAL"/>
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL"/>
        <result column="ORDER_GROWING_TRENDS" property="orderGrowingTrends" jdbcType="VARCHAR"/>
        <result column="ORDER_INDUSTRY_AVG_LEVEL" property="orderIndustryAvgLevel" jdbcType="VARCHAR"/>
        <result column="ORDER_COMMENT" property="orderComment" jdbcType="VARCHAR"/>
        <result column="ORDER_FLAG" property="orderFlag" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_BANK" property="accountBank" jdbcType="VARCHAR"/>
        <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR"/>
        <result column="BANK_GROWING_TRENDS" property="bankGrowingTrends" jdbcType="VARCHAR"/>
        <result column="BANK_COMMENT" property="bankComment" jdbcType="VARCHAR"/>
        <result column="BANK_FLAG" property="bankFlag" jdbcType="VARCHAR"/>
        <result column="SALE_GROWING_TRENDS" property="saleGrowingTrends" jdbcType="VARCHAR"/>
        <result column="SALE_COMMENT" property="saleComment" jdbcType="VARCHAR"/>
        <result column="SALE_FLAG" property="saleFlag" jdbcType="VARCHAR"/>
        <result column="RECEIVE_PAY_GROWING_TRENDS" property="receivePayGrowingTrends" jdbcType="VARCHAR"/>
        <result column="RECEIVE_PAY_COMMENT" property="receivePayComment" jdbcType="VARCHAR"/>
        <result column="RECEIVE_FLAG" property="receiveFlag" jdbcType="VARCHAR"/>
        <result column="PAY_FLAG" property="payFlag" jdbcType="VARCHAR"/>
        <result column="HYDROPOWER_GROWING_TRENDS" property="hydropowerGrowingTrends" jdbcType="VARCHAR"/>
        <result column="HYDROPOWER_COMMENT" property="hydropowerComment" jdbcType="VARCHAR"/>
        <result column="WATER_FLAG" property="waterFlag" jdbcType="VARCHAR"/>
        <result column="ELECTRICITY_FLAG" property="electricityFlag" jdbcType="VARCHAR"/>
        <result column="TAX_GROWING_TRENDS" property="taxGrowingTrends" jdbcType="VARCHAR"/>
        <result column="TAX_COMMENT" property="taxComment" jdbcType="VARCHAR"/>
        <result column="TAX_FLAG" property="taxFlag" jdbcType="VARCHAR"/>


        <result column="order_flag_n" property="orderFlagN" jdbcType="VARCHAR"/>
        <result column="bank_flag_n" property="bankFlagN" jdbcType="VARCHAR"/>
        <result column="sale_flag_n" property="saleFlagN" jdbcType="VARCHAR"/>
        <result column="receive_flag_n" property="receiveFlagN" jdbcType="VARCHAR"/>
        <result column="pay_flag_n" property="payFlagN" jdbcType="VARCHAR"/>
        <result column="water_flag_n" property="waterFlagN" jdbcType="VARCHAR"/>
        <result column="electricity_flag_n" property="electricityFlagN" jdbcType="VARCHAR"/>
        <result column="tax_flag_n" property="taxFlagN" jdbcType="VARCHAR"/>


    </resultMap>
    <select id="queryAllByConditionId" resultMap="BaseResultMap">

        select hbmbc.*,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'SYS.YES_NO'
        and sc.code_value = hbmbc.order_flag) order_flag_n,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'SYS.YES_NO'
        and sc.code_value = hbmbc.bank_flag) bank_flag_n,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'SYS.YES_NO'
        and sc.code_value = hbmbc.sale_flag) sale_flag_n,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'SYS.YES_NO'
        and sc.code_value = hbmbc.receive_flag) receive_flag_n,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'SYS.YES_NO'
        and sc.code_value = hbmbc.pay_flag) pay_flag_n,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'SYS.YES_NO'
        and sc.code_value = hbmbc.water_flag) water_flag_n,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'SYS.YES_NO'
        and sc.code_value = hbmbc.electricity_flag) electricity_flag_n,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'SYS.YES_NO'
        and sc.code_value = hbmbc.tax_flag) tax_flag_n
        from hls_bp_master_business_condition hbmbc
        where hbmbc.condition_id = #{conditionId}

    </select>



</mapper>