<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBusinessConditionSaleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBusinessConditionSale">
        <result column="SALE_ID" property="saleId" jdbcType="DECIMAL" />
        <result column="CONDITION_ID" property="conditionId" jdbcType="DECIMAL" />
        <result column="MONTH" property="month" jdbcType="VARCHAR" />
        <result column="INVOICE_NUM" property="invoiceNum" jdbcType="DECIMAL" />
        <result column="INVOICE_AMOUNT" property="invoiceAmount" jdbcType="DECIMAL" />

        <result column="month_n" property="monthN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAllByConditionId" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsBusinessConditionSale">

        select hbcs.*,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'MONTH'
        and sc.code_value = hbcs.month) month_n
        from hls_business_condition_sale hbcs
        <where>
            1 = 1
            <if test="conditionId != null">
                and condition_id = #{conditionId}
            </if>
        </where>

    </select>

</mapper>