<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBusinessConditionOrderMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBusinessConditionOrder">
        <result column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
        <result column="CONDITION_ID" property="conditionId" jdbcType="DECIMAL" />
        <result column="MONTH" property="month" jdbcType="VARCHAR" />
        <result column="ORDER_NUMBER" property="orderNumber" jdbcType="DECIMAL" />
        <result column="ORDER_AMOUNT" property="orderAmount" jdbcType="DECIMAL" />
        <result column="VAT" property="vat" jdbcType="DECIMAL" />
        <result column="YEAR" property="year" jdbcType="VARCHAR" />
        <result column="year_n" property="yearN" jdbcType="VARCHAR" />

        <result column="month_n" property="monthN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAllByConditionId" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsBusinessConditionOrder">

        select hbco.*,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'MONTH'
        and sc.code_value = hbco.month) month_n,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'YEAR'
        and sc.code_value = hbco.year) year_n
        from hls_business_condition_order hbco
        <where>
            1 = 1
            <if test="conditionId != null">
                and condition_id = #{conditionId}
            </if>
        </where>

    </select>


</mapper>