<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBusinessConditionHydropowerMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBusinessConditionHydropower">
        <result column="HYDROPOWER_ID" property="hydropowerId" jdbcType="DECIMAL" />
        <result column="CONDITION_ID" property="conditionId" jdbcType="DECIMAL" />
        <result column="MONTH" property="month" jdbcType="VARCHAR" />
        <result column="WATER_AMOUNT" property="waterAmount" jdbcType="DECIMAL" />
        <result column="ELECTRICITY_AMOUNT" property="electricityAmount" jdbcType="DECIMAL" />
        <result column="YEAR" property="year" jdbcType="VARCHAR" />
        <result column="year_n" property="yearN" jdbcType="VARCHAR" />

        <result column="month_n" property="monthN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAllByConditionId" resultMap="BaseResultMap" >

        select hbch.*,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'MONTH'
        and sc.code_value = hbch.month) month_n,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'YEAR'
        and sc.code_value = hbch.year) year_n
        from hls_business_condition_hydropower hbch
        where condition_id = #{conditionId}

    </select>


</mapper>