<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBpCustomerRelationshipMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBpCustomerRelationship">
        <result column="RELATIONSHIP_ID" property="relationshipId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="r_bp_id" property="rBpId" jdbcType="DECIMAL" />
        <result column="CUSTOMER_RELATIONSHIP" property="customerRelationship" jdbcType="VARCHAR" />
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />
        <result column="LEGAL_PERSON_NAME" property="legalPersonName" jdbcType="VARCHAR" />
        <result column="REGISTERED_CAPITAL" property="registeredCapital" jdbcType="DECIMAL" />
        <result column="INCORPORATION_DATE" property="incorporationDate" jdbcType="DATE" />
        <result column="ENTERPRISE_STATUS" property="enterpriseStatus" jdbcType="VARCHAR" />
        <result column="r_bp_name" property="rBpName" jdbcType="DECIMAL" />
        <result column="r_bp_code" property="rBpCode" jdbcType="VARCHAR" />
        <result column="r_bp_id_n" property="rBpIdN" jdbcType="VARCHAR" />
        <result column="customer_relationship_n" property="customerRelationshipN" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryBpCustomerRelationship" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsBpCustomerRelationship">
        SELECT
                (
                SELECT
                b.bp_name
                FROM
                hls_bp_master b
                WHERE
                b.bp_id = t.r_bp_id
                ) r_bp_name,
                (
                SELECT
                b.bp_name
                FROM
                hls_bp_master b
                WHERE
                b.bp_id = t.r_bp_id
                ) r_bp_id_n,
                (
                SELECT
                b.bp_code
                FROM
                hls_bp_master b
                WHERE
                b.bp_id = t.r_bp_id
                ) r_bp_code,
                (
                SELECT
                s.meaning
                FROM
                sys_code_value_b_v s
                WHERE
                s.CODE = 'BP.CUSTOMER_RELATIONSHIP'
                AND s.code_value = t.customer_relationship
                ) customer_relationship_n,
                t.*
            FROM
        hls_bp_customer_relationship t
        <where>
            <if test="bpId!= null">
                t.bp_id =#{bpId}
            </if>
        </where>
    </select>

</mapper>