<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBpFinancialHeaderMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBpFinancialHeader">
        <result column="HEADER_ID" property="headerId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="EXPORT_DATE" property="exportDate" jdbcType="TIMESTAMP" />
        <result column="excel_name" property="excelName"/>
        <result column="check_status" property="checkStatus"/>
        <result column="result_id" property="resultId"/>
        <result column="excel_id" property="excelId"/>
        <result column="excel_code" property="excelCode"/>
        <result column="report_year_str" property="reportYearStr"/>
        <result column="report_type" property="reportType"/>
        <result column="if_financial_company" property="ifFinancialCompany"/>
        <result column="report_year_one" property="reportYearOne"/>
        <result column="report_year_two" property="reportYearTwo"/>
        <result column="report_year_three" property="reportYearThree"/>
        <result column="report_year_four" property="reportYearFour"/>
        <result column="fin_statement_name" property="finStatementName"/>
        <result column="created_by" property="createdBy" />
    </resultMap>


    <select id="selectBpExportInfo" resultMap="BaseResultMap">
        select h.creation_date export_date,
               h.created_by,
               hwe.excel_name,
               hr.fin_statement_name,
               h.check_status,
               h.header_id,
               hr.result_id,
               hwe.excel_code,
               hwe.excel_id,
                (select wm_concat(hd.report_year) from hls_fin_statement_hd hd where hd.header_id = h.header_id ) report_year_str,
                (select hd.report_type from  hls_fin_statement_hd hd where hd.bp_id = h.bp_id and hd.header_id = h.header_id and rownum=1)report_type,
                (select hd.if_financial_company from  hls_fin_statement_hd hd where hd.bp_id = h.bp_id and hd.header_id = h.header_id and rownum=1)if_financial_company,
            (select v.report_year
                from (
                          <!--
                            select hfd.*,
                         row_number() over(partition by hfd.header_id order by hfd.fin_statement_hd_id) row_count
                        IF (
                            @p = hfd.header_id  ,
                            @rank := @rank + 1 ,@rank := 1
                        ) AS row_count,
                        @p := hfd.header_id as rank1
                        from hls_fin_statement_hd hfd,(SELECT @p := NULL ,@rank := 0) r
                         -->
                        select hfd.*,row_number() over(partition by header_id order by header_id) row_count, header_id rank1 from hls_fin_statement_hd hfd
                    ) v
                where v.header_id = h.header_id
                and row_count = 1) report_year_one,
            (select v.report_year
                from (
                <!--
                    select hfd.*,
                    row_number() over(partition by hfd.header_id order by hfd.fin_statement_hd_id) row_count
                IF (
                    @p = hfd.header_id  ,
                    @rank := @rank + 1 ,@rank := 1
                ) AS row_count,
                 @p := hfd.header_id as rank2
                from hls_fin_statement_hd hfd,(SELECT @p := NULL ,@rank := 0) r
                -->
                        select hfd.*,row_number() over(partition by header_id order by header_id) row_count, header_id rank2 from hls_fin_statement_hd hfd
                    ) v
                where v.header_id = h.header_id
                and row_count = 2) report_year_two,
            (select v.report_year
                from (
                <!--
                    select hfd.*,
                 row_number() over(partition by hfd.header_id order by hfd.fin_statement_hd_id) row_count
                IF (
                    @p = hfd.header_id  ,
                    @rank := @rank + 1 ,@rank := 1
                ) AS row_count,
                @p := hfd.header_id as rank3
                from hls_fin_statement_hd hfd,(SELECT @p := NULL ,@rank := 0) r
                -->
                        select hfd.*,row_number() over(partition by header_id order by header_id) row_count, header_id rank3 from hls_fin_statement_hd hfd
                    ) v
                where v.header_id = h.header_id
                and row_count = 3) report_year_three,
            (select v.report_year
                from (
                 <!--
                    select hfd.*,
                 row_number() over(partition by hfd.header_id order by hfd.fin_statement_hd_id) row_count
                IF (
                    @p = hfd.header_id  ,
                    @rank := @rank + 1 ,@rank := 1
                ) AS row_count,
                @p := hfd.header_id as rank4
                from hls_fin_statement_hd hfd,(SELECT @p := NULL ,@rank := 0) r
                -->
                        select hfd.*,row_number() over(partition by header_id order by header_id) row_count, header_id rank4 from hls_fin_statement_hd hfd
                    ) v
                where v.header_id = h.header_id
                and row_count = 4
                ) report_year_four
         from hls_bp_financial_header h,hls_web_excel_calc_result hr,
              hls_web_excel hwe
         where h.header_id = hr.source_document_id
         and hr.source_document_category = 'FINANCIAL_REPORT'
         and hwe.excel_id = hr.excel_id
        <if test="bpId != null">
            and h.bp_id = #{bpId}
        </if>
        <if test="headerId != null">
            and h.header_id = #{headerId}
        </if>
    </select>

    <delete id="deleteHlsBpFinStatementHdByHeaderId">

        delete from hls_fin_statement_hd  where header_id = #{headerId}

    </delete>

    <delete id="deleteHlsBpFinStatementLnByHeaderId">
        delete from hls_fin_statement_ln  where header_id = #{headerId}
    </delete>

    <delete id="deleteHlsWebExcelCalcResult">
        delete from hls_web_excel_calc_result  where source_document_category = 'FINANCIAL_REPORT' and source_document_id = #{headerId}
    </delete>

</mapper>