<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBpLitigationFinalMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBpLitigationFinal">
        <result column="FINAN_ID" property="finanId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
        <result column="CASE_FINAL_TIME" property="caseFinalTime" jdbcType="DATE" />
        <result column="CASE_CREATE_TIME" property="caseCreateTime" jdbcType="DATE" />
        <result column="EXEC_COURT_NAME" property="execCourtName" jdbcType="VARCHAR" />
        <result column="EXEC_MONEY" property="execMoney" jdbcType="VARCHAR" />
        <result column="Z_NAME" property="zName" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsBpLitigationFinal" resultMap="BaseResultMap">
        SELECT
        bcr.*
        FROM
        hls_bp_litigation_final  bcr
        <where>
            <if test="bpId != null">
                bcr.bp_id = #{bpId}
            </if>
        </where>
    </select>

    <insert id="insertHlsBpLitigationFinal" parameterType="com.hand.hls.bp.dto.HlsBpLitigationFinal">
        INSERT INTO
        hls_bp_litigation_final
        (BP_ID, CASE_CODE, CASE_FINAL_TIME, CASE_CREATE_TIME, EXEC_COURT_NAME, EXEC_MONEY,Z_NAME )
        VALUES
	    (#{bpId}, #{caseCode},#{caseFinalTime}, #{caseCreateTime}, #{execCourtName}, #{execMoney},#{zName} );
    </insert>

</mapper>