<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBpEventOthersMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBpEventOthers">
        <result column="EVENT_ID" property="eventId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="NOTE" property="note" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsBpEventOthers" resultMap="BaseResultMap">
        SELECT
          bcr.*
        FROM
        hls_bp_event_others  bcr
        <where>
            <if test="bpId != null">
                bcr.bp_id = #{bpId}
            </if>
        </where>
    </select>
</mapper>