<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBpAssetsListMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBpAssetsList">
        <result column="ASSETS_ID" property="assetsId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="ASSETS_NAME" property="assetsName" jdbcType="VARCHAR" />
        <result column="ASSETS_OWNER" property="assetsOwner" jdbcType="VARCHAR" />
        <result column="LOCATION" property="location" jdbcType="VARCHAR" />
        <result column="MORTGAGE_SITUATION" property="mortgageSituation" jdbcType="VARCHAR" />
        <result column="CERTIFICATE_NUM" property="certificateNum" jdbcType="VARCHAR" />
        <result column="ACQUISITION_METHOD" property="acquisitionMethod" jdbcType="VARCHAR" />
        <result column="PURCHASE_PRICE" property="purchasePrice" jdbcType="DECIMAL" />
        <result column="MARKET_PRICE" property="marketPrice" jdbcType="DECIMAL" />
        <result column="NOTE" property="note" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsBpAssetsList" resultMap="BaseResultMap">
        SELECT
        hbs.*
        FROM
        hls_bp_assets_list  hbs
        <where>
            <if test="bpId != null">
                hbs.bp_id = #{bpId}
            </if>
        </where>
    </select>

</mapper>