<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBpIllegalTaxationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBpIllegalTaxation">
        <result column="TAXATION_ID" property="taxationId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="PUBLISH_TIME" property="publishTime" jdbcType="DATE" />
        <result column="CASE_TYPE" property="caseType" jdbcType="VARCHAR" />
        <result column="DEPARTMENT" property="department" jdbcType="VARCHAR" />
        <result column="TAXPAYER_NAME" property="taxpayerName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsBpIllegalTaxation" resultMap="BaseResultMap">
        SELECT
        hbs.*
        FROM
        hls_bp_illegal_taxation  hbs
        <where>
            <if test="bpId != null">
                hbs.bp_id = #{bpId}
            </if>
        </where>
    </select>
</mapper>