<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBpShareholderInfoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBpShareholderInfo">
        <result column="SHAREHOLDER_LN_ID" property="shareholderLnId" jdbcType="DECIMAL" />
        <result column="SHAREHOLDER_INFORMATION_ID" property="shareholderInformationId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="SHAREHOLDER_NAME" property="shareholderName" jdbcType="VARCHAR" />
        <result column="ALIAS" property="alias" jdbcType="VARCHAR" />
        <result column="AMOMON" property="amomon" jdbcType="DECIMAL" />
        <result column="SUB_TIME" property="subTime" jdbcType="DATE" />
        <result column="PAYMET" property="paymet" jdbcType="VARCHAR" />
        <result column="PERCENT" property="percent" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryHlsBpShareholderInfo" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsBpShareholderInfo">
        SELECT
        HBSI.*
        FROM
        hls_bp_shareholder_info HBSI
        <where>
            <if test="bpId!= null">
                HBSI.BP_ID =#{bpId}
            </if>
        </where>
    </select>
</mapper>