<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBpLitigationHtMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBpLitigationHt">
        <result column="LITIGATION_HT_ID" property="litigationHtId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="PLAINTIFFS" property="plaintiffs" jdbcType="VARCHAR" />
        <result column="COURT" property="court" jdbcType="VARCHAR" />
        <result column="CASE_REASON" property="caseReason" jdbcType="VARCHAR" />
        <result column="URL" property="url" jdbcType="VARCHAR" />
        <result column="CASE_NO" property="caseNo" jdbcType="VARCHAR" />
        <result column="TITLE" property="title" jdbcType="VARCHAR" />
        <result column="ABSTRACTS" property="abstracts" jdbcType="VARCHAR" />
        <result column="SUBMIT_TIME" property="submitTime" jdbcType="DATE" />
        <result column="JUDGE_TIME" property="judgeTime" jdbcType="DATE" />
        <result column="CASE_TYPE" property="caseType" jdbcType="VARCHAR" />
        <result column="DOC_TYPE" property="docType" jdbcType="VARCHAR" />
        <result column="THIRD_PARTIES" property="thirdParties" jdbcType="VARCHAR" />
        <result column="DEFENDANTS" property="defendants" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsBpLitigationHt" resultMap="BaseResultMap">
        SELECT
        hblt.*
        FROM
        hls_bp_litigation_ht  hblt
        <where>
            <if test="bpId != null">
                hblt.bp_id = #{bpId}
            </if>
        </where>
    </select>
</mapper>