<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsBpOutInvestmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBpOutInvestment">
        <result column="investment_id" property="investmentId" jdbcType="DECIMAL" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="investment_company_nam" property="investmentCompanyNam" jdbcType="VARCHAR" />
        <result column="org_type" property="orgType" jdbcType="VARCHAR" />
        <result column="credit_code" property="creditCode" jdbcType="VARCHAR" />
        <result column="reg_capital" property="regCapital" jdbcType="DECIMAL" />
        <result column="reg_status" property="regStatus" jdbcType="VARCHAR" />
        <result column="estiblish_time" property="estiblishTime" jdbcType="DATE" />
        <result column="legal_person_name" property="legalPersonName" jdbcType="VARCHAR" />
        <result column="category" property="category" jdbcType="VARCHAR" />
        <result column="business_scope" property="businessScope" jdbcType="VARCHAR" />
        <result column="amount_suffix" property="amountSuffix" jdbcType="VARCHAR" />
        <result column="percent" property="percent" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="category_N" property="categoryN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryHlsBpOutInvestment" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsBpOutInvestment">
        SELECT
        t.category,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        where
        v.CODE = 'FND.INDUSTRY_2'
        and v.code_value = t.category) category_N,
        t.*
        FROM
        hls_bp_out_investment t
        <where>
            <if test="bpId!= null">
                t.BP_ID =#{bpId}
            </if>
        </where>
    </select>
</mapper>