<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpAssetslistMovablesMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpAssetslistMovables">
        <result column="movable_assets_id" property="movableAssetsId" jdbcType="DECIMAL" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="movable_name" property="movableName" jdbcType="VARCHAR" />
        <result column="movable_amount" property="movableAmount" jdbcType="DECIMAL" />
        <result column="Note" property="note" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsCusBpAssetslistMovables" resultMap="BaseResultMap">
        SELECT
        hbam.movable_assets_id,
        hbam.bp_id,
        hbam.movable_name,
        hbam.movable_amount,
        hbam.Note
        FROM
        hls_bp_assetsList_movables  hbam
        <where>
            <if test="bpId != null">
                hbam.bp_id = #{bpId}
            </if>
            <if test="movableAssetsId != null">
                hbam.movable_assets_id = #{movableAssetsId}
            </if>
        </where>
    </select>
</mapper>