<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpMasterVisitRecordMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpMasterVisitRecord">
        <result column="VISIT_RECORD_ID" property="visitRecordId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="VISIT_DATE" property="visitDate" jdbcType="DATE" />
        <result column="VISIT_MATTER" property="visitMatter" jdbcType="VARCHAR" />
        <result column="VISIT_PLACE" property="visitPlace" jdbcType="VARCHAR" />
        <result column="PARTICIPANTS" property="participants" jdbcType="VARCHAR" />
        <result column="FEEDBACK_RESULTS" property="feedbackResults" jdbcType="VARCHAR" />
        <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByBpid" parameterType="com.hand.hls.bp.dto.HlsCusBpMasterVisitRecord" resultMap="BaseResultMap">
        select *
        from hls_bp_master_visit_record
        <where>
            <if test="bpId != null">
                and bp_id = #{bpId}
            </if>
        </where>

    </select>

</mapper>