<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpAssetslistEquityMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpAssetslistEquity">
        <result column="equity_assets_id" property="equityAssetsId" jdbcType="DECIMAL" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="registered_capital" property="registeredCapital" jdbcType="VARCHAR" />
        <result column="shareholding_ratio" property="shareholdingRatio" jdbcType="DECIMAL" />
        <result column="investment_amount" property="investmentAmount" jdbcType="DECIMAL" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="cny" property="cny" jdbcType="VARCHAR" />
        <result column="cny_n" property="cnyN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsCusBpAssetslistEquity" resultMap="BaseResultMap">
        SELECT
        hbae.equity_assets_id,
        hbae.bp_id,
        hbae.company_name,
        hbae.registered_capital,
        hbae.shareholding_ratio,
        hbae.investment_amount,
        hbae.description,
        hbae.cny,
        (select sc.meaning
        from sys_code_value_b_v sc
        where sc.code = 'CHS.CURRENCY_TYPE' and sc.code_value = hbae.cny) cny_n
        FROM
        hls_bp_assetsList_equity  hbae
        <where>
            <if test="bpId != null">
                hbae.bp_id = #{bpId}
            </if>
            <if test="equityAssetsId != null">
                hbae.equity_assets_id = #{equityAssetsId}
            </if>
        </where>
    </select>

</mapper>
