<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusHlsBpInstitutionMemberMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusHlsBpInstitutionMember">
        <result column="BP_INSTITUTION_MEMBER_ID" property="bpInstitutionMemberId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="MANAGER_NAME" property="managerName" jdbcType="VARCHAR" />
        <result column="MANAGER_CERTYPE" property="managerCertype" jdbcType="VARCHAR" />
        <result column="MANAGER_CERTYPE_N" property="managerCertypeN" jdbcType="VARCHAR" />
        <result column="MANAGER_CERTID" property="managerCertid" jdbcType="VARCHAR" />
        <result column="MEMBER_RELATYPE" property="memberRelatype" jdbcType="VARCHAR" />
        <result column="MEMBER_RELATYPE_N" property="memberRelatypeN" jdbcType="VARCHAR" />
        <result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR" />
        <result column="MEBER_CERTYPE" property="meberCertype" jdbcType="VARCHAR" />
        <result column="MEBER_CERTYPE_N" property="meberCertypeN" jdbcType="VARCHAR" />
        <result column="MEBER_CERTID" property="meberCertid" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsCusHlsBpInstitutionMember" resultMap="BaseResultMap">
        SELECT
        hbim.*,
        (SELECT v.meaning FROM sys_code_value_b_v v WHERE v.code = 'FND.CERT_TYPE' AND v.code_value = hbim.MANAGER_CERTYPE) MANAGER_CERTYPE_N,
        (SELECT v.meaning FROM sys_code_value_b_v v WHERE v.code = 'ZX_MEMBERTYPE' AND v.code_value = hbim.MEMBER_RELATYPE) MEMBER_RELATYPE_N,
        (SELECT v.meaning FROM sys_code_value_b_v v WHERE v.code = 'FND.CERT_TYPE' AND v.code_value = hbim.MEBER_CERTYPE) MEBER_CERTYPE_N
        FROM
        hls_bp_institution_member  hbim
        <where>
            <if test="bpId != null">
                hbim.bp_id = #{bpId}
            </if>
            <if test="bpInstitutionMemberId != null">
                hbim.bp_institution_member_id = #{bpInstitutionMemberId}
            </if>
        </where>
    </select>

</mapper>