<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpMasterRelationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpMasterRelation">
        <id column="relation_bp_id" property="relationBpId" jdbcType="BIGINT"/>
        <id column="bp_id" property="bpId" jdbcType="BIGINT"/>
        <id column="bp_relation_id" property="bpRelationId" jdbcType="BIGINT"/>
        <result column="bp_relation_type" property="bpRelationType" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="bp_code" property="bpCode" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="bp_relation_type_n" property="bpRelationTypeN"/>
        <result column="related_bp_id_n" property="relatedBpIdN"/>
        <result column="relation_type_n" property="relationTypeN"/>
		<result column="bp_code_n" property="bpCodeN"/>

		<result column="admit_status" jdbcType="VARCHAR" property="admitStatus"/>
		<result column="admit_status_n" jdbcType="VARCHAR" property="admitStatusN"/>
		<result column="relation_type" jdbcType="VARCHAR" property="relationType"/>
		<result column="relation_category" jdbcType="VARCHAR" property="relationCategory"/>
		<result column="related_bp_id" jdbcType="BIGINT" property="relatedBpId"/>
		<result column="enabled_flag" jdbcType="VARCHAR" property="enabledFlag"/>
		<result column="term_of_agreement_from" jdbcType="DATE" property="termOfAgreementFrom"/>
		<result column="term_of_agreement_to" jdbcType="DATE" property="termOfAgreementTo"/>

		<result column="CREATED_BY" jdbcType="BIGINT" property="createdBy"/>
		<result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate"/>
		<result column="LAST_UPDATED_BY" jdbcType="BIGINT" property="lastUpdatedBy"/>
		<result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
		<result column="REF_V01" jdbcType="VARCHAR" property="refV01"/>
		<result column="REF_V02" jdbcType="VARCHAR" property="refV02"/>
		<result column="REF_V03" jdbcType="VARCHAR" property="refV03"/>
		<result column="REF_V04" jdbcType="VARCHAR" property="refV04"/>
		<result column="REF_V05" jdbcType="VARCHAR" property="refV05"/>
		<result column="REF_N01" jdbcType="BIGINT" property="refN01"/>
		<result column="REF_N02" jdbcType="BIGINT" property="refN02"/>
		<result column="REF_N03" jdbcType="BIGINT" property="refN03"/>
		<result column="REF_N04" jdbcType="BIGINT" property="refN04"/>
		<result column="REF_N05" jdbcType="BIGINT" property="refN05"/>
		<result column="REF_D01" jdbcType="TIMESTAMP" property="refD01"/>
		<result column="REF_D02" jdbcType="TIMESTAMP" property="refD02"/>
		<result column="REF_D03" jdbcType="TIMESTAMP" property="refD03"/>
		<result column="REF_D04" jdbcType="TIMESTAMP" property="refD04"/>
		<result column="REF_D05" jdbcType="TIMESTAMP" property="refD05"/>
		<result column="report_link" property="reportLink" jdbcType="VARCHAR"/>
		<result column="report_status" property="reportStatus" jdbcType="VARCHAR"/>
		<result column="report_query_times" property="reportQueryTimes" jdbcType="DECIMAL"/>
		<result column="report_token" property="reportToken" jdbcType="VARCHAR"/>

	</resultMap>

    <select id="selectRelationType" resultMap="BaseResultMap" parameterType="java.lang.Long">
  		SELECT
			br.bp_relation_type,
			br.description
		FROM
			hls_bp_relation br,
			hls_bp_master bm
		WHERE
			bm.bp_class = br.bp_class
		AND bm.bp_id = #{bpId ,jdbcType=BIGINT}
  </select>

    <select id="selectRelationCode" resultMap="BaseResultMap">
  		SELECT
			bm.bp_code,
			bm.bp_name
		FROM
			hls_bp_master bm
		WHERE
			bm.bp_id != #{bpId ,jdbcType=BIGINT}
		AND bm.bp_class = (
				SELECT
					bm_b.bp_class
				FROM
					hls_bp_master bm_b
				WHERE
					bm_b.bp_id = #{bpId ,jdbcType=BIGINT}
			)
  </select>

    <select id="queryBpId" resultType="java.lang.Long">
  	   select t.bp_id as relation_bp_id 
  	   from hls_bp_master t 
  	   where t.bp_code = #{bpCode ,jdbcType=VARCHAR}
  	   and t.bp_name = #{bpName ,jdbcType=VARCHAR}
  </select>

    <select id="queryAll" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsCusBpMasterRelation">
  		SELECT
  			hmr.bp_id,
  			hmr.relation_bp_id,
			hbr.bp_relation_type,
			hbr.description,
			hbm.bp_code,
			hbm.bp_name
		FROM
			hls_bp_master_relation hmr,
			hls_bp_master hbm,
			hls_bp_relation hbr
		WHERE
			hmr.relation_bp_id = hbm.bp_id
		AND hmr.bp_relation_type = hbr.bp_relation_type
		AND	hmr.bp_id = #{bpId,jdbcType=BIGINT} 
  
  </select>

    <select id="queryAllType" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsCusBpMasterRelation">
		SELECT
		hmr.bp_id,
		hmr.relation_bp_id,
		hbr.bp_relation_type,
		hbr.description,
		hbm.bp_code,
		hbm.bp_name
		FROM
		hls_bp_master_relation hmr,
		hls_bp_master hbm,
		hls_bp_relation hbr
		WHERE
		hmr.relation_bp_id = hbm.bp_id
		AND hmr.bp_relation_type = hbr.bp_relation_type
		AND	hbr.bp_class = #{personType}

	</select>

    <select id="selectBpRelationType" resultMap="BaseResultMap"
            parameterType="com.hand.hls.bp.dto.HlsCusBpMasterRelation">
        SELECT
        br.bp_relation_type,
        br.description
        FROM
        hls_bp_relation br, hls_bp_master bm
        WHERE
        bm.bp_class = br.bp_class
        <if test="bpClass!=null">
            AND br.bp_class = #{bpClass}
        </if>
        <if test="bpId!=null">
            AND bm.bp_id = #{bpId}
        </if>
    </select>

    <select id="queryCusBpMasterRelationByBpId" resultMap="BaseResultMap"
			parameterType="java.util.Map">
  		SELECT
  			hmr.bp_relation_id,
  			hmr.bp_id,
  			hmr.relation_bp_id,
			hmr.bp_relation_type,
			(select sc.meaning
            from sys_code_value_b_v sc
            where sc.code = 'BP.CUSTOMER_RELATIONSHIP'
            AND sc.CODE_VALUE = hmr.bp_relation_type) bp_relation_type_n,
			hbm.bp_code,
			hbm.bp_code bp_code_n,
			hbm.bp_name
		FROM
			hls_bp_master_relation hmr
		left join hls_bp_master hbm
  		on hmr.relation_bp_id = hbm.bp_id
		WHERE hmr.bp_id = #{bpId}
  </select>

	<select id="query" resultMap="BaseResultMap">
		select hbmr.*,hbm.bp_name relatedBpIdN,hbr.description relationTypeN,
			   (select v.meaning value_name
				from sys_code_value_b_v v
				where v.CODE = 'BP_RELATION_STATUS'
				  and v.code_value = hbmr.admit_status)admitStatusN
		from hls_bp_master_relation hbmr
				 left join hls_bp_master hbm on hbm.bp_id = hbmr.related_bp_id
				 left join hls_bp_relation hbr on hbmr.relation_type = hbr.bp_relation_type
		where
			hbmr.bp_id = #{bpId}
		order by hbmr.enabled_flag desc,hbmr.creation_date desc
	</select>

	<select id="queryRelationByBpRelationId" resultMap="BaseResultMap">
		select hbmr.*,hbm.bp_name relatedBpIdN,hbr.description relationTypeN,
			   (select v.meaning value_name
				from sys_code_value_b_v v
				where v.CODE = 'BP_RELATION_STATUS'
				  and v.code_value = hbmr.admit_status)admitStatusN,
			   (select bm.bp_name
				from hls_bp_master bm
				where bm.bp_id = hbmr.bp_id) bpIdN
		from hls_bp_master_relation hbmr
				 left join hls_bp_master hbm on hbm.bp_id = hbmr.related_bp_id
				 left join hls_bp_relation hbr on hbmr.relation_type = hbr.bp_relation_type
		where
			hbmr.bp_relation_id = #{bpRelationId}
	</select>
	<select id="queryRelationDetails" resultMap="BaseResultMap" parameterType="java.util.Map">
    select hbmr.*,hbm.bp_name relatedBpIdN,hbr.description relationTypeN,
   (select v.meaning value_name
    from sys_code_value_b_v v
    where v.CODE = 'BP_RELATION_STATUS'
      and v.code_value = hbmr.admit_status)admitStatusN
    from hls_bp_master_relation hbmr
    left join hls_bp_master hbm on hbm.bp_id = hbmr.related_bp_id
    left join hls_bp_relation hbr on hbmr.relation_type = hbr.bp_relation_type
    where
    hbmr.bp_id = #{bpId}
  </select>
</mapper>