<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpAssetslistStockMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpAssetslistStock">
        <result column="stock_assets_id" property="stockAssetsId" jdbcType="DECIMAL" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="stock_name" property="stockName" jdbcType="VARCHAR" />
        <result column="hold_method" property="holdMethod" jdbcType="VARCHAR" />
        <result column="quantity" property="quantity" jdbcType="DECIMAL" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsCusBpAssetslistStock" resultMap="BaseResultMap">
        SELECT
        hbas.stock_assets_id,
        hbas.bp_id,
        hbas.stock_name,
        hbas.hold_method,
        hbas.quantity,
        hbas.description
        FROM
        hls_bp_assetsList_stock  hbas
        <where>
            <if test="bpId != null">
                hbas.bp_id = #{bpId}
            </if>
            <if test="stockAssetsId != null">
                hbas.stock_assets_id = #{stockAssetsId}
            </if>
        </where>
    </select>
</mapper>