<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpZdwSituationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpZdwSituation">
        <result column="zdw_situation_id" property="zdwSituationId" jdbcType="DECIMAL" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="regist_certification_code" property="registCertificationCode" jdbcType="VARCHAR" />
        <result column="register_date" property="registerDate" jdbcType="DATE" />
        <result column="register_date_end" property="registerDateEnd" jdbcType="DATE" />
        <result column="pledgee_name" property="pledgeeName" jdbcType="VARCHAR" />
        <result column="zdw_situation_type" property="zdwSituationType" jdbcType="VARCHAR" />
        <result column="zdw_situation_amount" property="zdwSituationAmount" jdbcType="DECIMAL" />
        <result column="zdw_situation_update_time" property="zdwSituationUpdateTime" jdbcType="DATE" />
        <result column="register_type" property="registerType" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsCusBpFinancingSituation" resultMap="BaseResultMap">
        SELECT
        hbzs.zdw_situation_id,
        hbzs.bp_id,
        hbzs.regist_certification_code,
        hbzs.register_date,
        hbzs.register_date_end,
        hbzs.pledgee_name,
        hbzs.zdw_situation_type,
        hbzs.zdw_situation_amount,
        hbzs.zdw_situation_update_time,
        hbzs.register_type
        FROM
        hls_bp_zdw_situation  hbzs
        <where>
            <if test="bpId != null">
                hbzs.bp_id = #{bpId}
            </if>
            <if test="zdwSituationId != null">
                hbzs.zdw_situation_id = #{zdwSituationId}
            </if>
        </where>
    </select>

</mapper>