<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpFinancingSituationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpFinancingSituation">
        <result column="financing_situation_id" property="financingSituationId" jdbcType="DECIMAL" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="financing_agency" property="financingAgency" jdbcType="VARCHAR" />
        <result column="variety" property="variety" jdbcType="VARCHAR" />
        <result column="variety_n" property="varietyN" jdbcType="VARCHAR" />
        <result column="exposure_amount" property="exposureAmount" jdbcType="DECIMAL" />
        <result column="interest_rate" property="interestRate" jdbcType="DECIMAL" />
        <result column="time_limit" property="timeLimit" jdbcType="DECIMAL" />
        <result column="expiry_date" property="expiryDate" jdbcType="DATE" />
        <result column="guarantee_method" property="guaranteeMethod" jdbcType="VARCHAR" />
        <result column="guarantee_method_n" property="guaranteeMethodN" jdbcType="VARCHAR" />
        <result column="margin_ratio" property="marginRatio" jdbcType="DECIMAL" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="time_unit" property="timeUnit" jdbcType="VARCHAR"/>
        <result column="time_unit_n" property="timeUnitN" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsCusBpFinancingSituation" resultMap="BaseResultMap">
        SELECT hbfs.financing_situation_id,
        hbfs.bp_id,
        hbfs.financing_agency,
        nvl(hbfs.variety, '') variety,
        (select v.MEANING
        from sys_code_value_b_v v
        where v.code_value = hbfs.variety
        and v.code = 'HLS_BP_MASTER_VARIETY') variety_n,
        hbfs.exposure_amount,
        hbfs.interest_rate,
        hbfs.time_limit,
        hbfs.expiry_date,
        nvl(hbfs.guarantee_method, '') guarantee_method,
        (select v.MEANING
        from sys_code_value_b_v v
        where v.code_value = hbfs.guarantee_method
        and v.code = 'LON.GUARANTEE_TYPE') guarantee_method_n,
        hbfs.margin_ratio,
        hbfs.note,
        hbfs.time_unit,
        (select v.MEANING
        from sys_code_value_b_v v
        where v.code_value = hbfs.time_unit
        and v.code = 'LON.DATE_UOM') time_unit_n
        FROM hls_bp_financing_situation hbfs
        <where>
            <if test="bpId != null">
                hbfs.bp_id = #{bpId}
            </if>
            <if test="financingSituationId != null">
                hbfs.financing_situation_id = #{financingSituationId}
            </if>
        </where>
        order by hbfs.expiry_date
    </select>

    <delete id="deleteFinancingByBpId" parameterType="java.lang.Long">
        DELETE FROM hls_bp_financing_situation where bp_id = #{bpId}
    </delete>

</mapper>