<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpLiabilitiesMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpLiabilities">
        <result column="liabilities_id" property="liabilitiesId" jdbcType="DECIMAL" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="guarantee_object" property="guaranteeObject" jdbcType="VARCHAR" />
        <result column="legal_form" property="legalForm" jdbcType="VARCHAR" />
        <result column="legal_form_n" property="legalFormN" jdbcType="VARCHAR" />
        <result column="guarantee_method" property="guaranteeMethod" jdbcType="VARCHAR" />
        <result column="guarantee_method_n" property="guaranteeMethodN" jdbcType="VARCHAR" />
        <result column="guarantee_amount" property="guaranteeAmount" jdbcType="DECIMAL" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="liabilities_update_time" property="liabilitiesUpdateTime" jdbcType="DATE" />
        <result column="creditor" property="creditor" jdbcType="VARCHAR" />
        <result column="time_limit" property="timeLimit" jdbcType="VARCHAR" />

    </resultMap>
    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsCusBpLiabilities" resultMap="BaseResultMap">
        SELECT
        hbl.*,
        (select v.MEANING
        from sys_code_value_b_v v
        where v.code_value = hbl.guarantee_method
        and v.code = 'LON.GUARANTEE_TYPE') guarantee_method_n,
        (select v.MEANING
        from sys_code_value_b_v v
        where v.code_value = hbl.legal_form
        and v.code = 'FND.ENTERPRISE_LEGAL_FORM') legal_form_n
        FROM
        hls_bp_liabilities  hbl
        <where>
            <if test="bpId != null">
                hbl.bp_id = #{bpId}
            </if>
            <if test="liabilitiesId != null">
                hbl.liabilities_id = #{liabilitiesId}
            </if>
        </where>
    </select>

    <delete id="deleteLiabilitiesByBpId" parameterType="java.lang.Long">
        DELETE FROM hls_bp_liabilities where bp_id = #{bpId}
    </delete>

    <resultMap id="sysCodeMap" type="java.util.Map">
        <result column="value" property="value" jdbcType="VARCHAR" />
        <result column="meaning" property="meaning" jdbcType="VARCHAR" />

    </resultMap>

    <select id="selectSysCodeValue" resultMap="sysCodeMap" parameterType="java.lang.String">
        SELECT
	scvb.`VALUE`,
	scvb.MEANING
FROM
	sys_code_b scb,
	sys_code_value_b scvb
WHERE
	scb.`CODE` = #{sysCode}
	AND scb.CODE_ID = scvb.CODE_ID
    </select>
</mapper>