<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpMasterRoleMapper" >
  <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsBpMasterRole" >
    <id column="bp_id" property="bpId" jdbcType="BIGINT" />
    <id column="bp_type" property="bpType" jdbcType="VARCHAR" />
    <result column="bp_category" property="bpCategory" jdbcType="VARCHAR" />
    <result column="category_description" property="categoryDescription" jdbcType="VARCHAR" />
    <result column="type_description" property="typeDescription" jdbcType="VARCHAR" />
    <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR" />
  </resultMap>
 <select id="queryAll" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsBpMasterRole">
 	SELECT
		hmr.bp_id, hmr.bp_type ,hbt.description type_description,hbc.description category_description,hmr.enabled_flag enabled_flag
	FROM
		hls_bp_master_role hmr,
		hls_bp_category hbc,
		hls_bp_type  hbt
	WHERE
		hmr.bp_category = hbc.bp_category
	and hmr.bp_type = hbt.bp_type
	and hmr.bp_id = #{bpId,jdbcType=BIGINT}
 </select>

	<!--User:Jeffery/Time:2017.04.28/-->
	<!--商业伙伴正在创建的时候（还没保存生成bpId的时候查询商业伙伴类型）-->
	<select id="queryRoleType" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsBpMasterRole">
		SELECT
		hbt.description type_description,hbc.description category_description,hbc.enabled_flag enabled_flag
		FROM
		hls_bp_type  hbt,
		hls_bp_category hbc
		WHERE
		hbt.bp_category = hbc.bp_category
		AND hbt.bp_type = #{bpType}
	</select>


	<select id="queryType" resultType="java.lang.String" parameterType="java.lang.Long">
 	SELECT
	bt.description
FROM
	hls_bp_master_role mr,
	hls_bp_type bt
WHERE
	mr.bp_type = bt.bp_type
	and mr.bp_id = #{bpId ,jdbcType=BIGINT } 
	and mr.enabled_flag = 'Y'
 </select>
 
 <select id="selectType" resultMap="BaseResultMap">
 		select bc.bp_category,bc.description category_description ,bt.bp_type ,bt.description type_description 
		from hls_bp_category bc
		left join hls_bp_type bt on bc.bp_category= bt.bp_category
	 WHERE
		1=1
	 <if test="bpCategory!=null">
		 AND bc.bp_category like  concat('%',concat(#{bpCategory},'%'))
	 </if>
	 <if test="bpType!=null">
		 AND bt.bp_type like concat('%',concat(#{bpType},'%'))
	 </if>
 </select>
 
 <select id="selectAllType" resultMap="BaseResultMap">
 	select bp_type,description as type_description from hls_bp_type	
 </select>
 
 <select id="selectBbpCategory" resultType="java.lang.String" parameterType="java.lang.String">
 	SELECT
		bt.bp_category
	FROM
		hls_bp_type  bt
	WHERE
		bt.bp_type =#{bpType,jdbcType=VARCHAR}
 </select>
 
 <select id="selectRoleById" resultType="java.lang.String"  parameterType="java.lang.Long">
 	SELECT
		mr.bp_type
	FROM
		hls_bp_master_role mr
	WHERE
		mr.bp_id = #{bpId ,jdbcType=BIGINT }
	AND mr.enabled_flag = 'Y' 
 </select>

</mapper>