<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusHlsBpBorrowerInfoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusHlsBpBorrowerInfo">
        <result column="BP_BORROWER_INFO_ID" property="bpBorrowerInfoId" jdbcType="DECIMAL" />
        <result column="LAW_NO" property="lawNo" jdbcType="VARCHAR" />
        <result column="PLAINTIFF_NAME" property="plaintiffName" jdbcType="VARCHAR" />
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="EXECUTE_SUM" property="executeSum" jdbcType="VARCHAR" />
        <result column="EXECUTE_DATE" property="executeDate" jdbcType="VARCHAR" />
        <result column="EXECUTE_RESULT" property="executeResult" jdbcType="VARCHAR" />
        <result column="APPELL_CAUSE" property="appellCause" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsCusHlsBpBorrowerInfo">
        SELECT
        BSP.BP_ID,
        BSP.BP_BORROWER_INFO_ID,
        BSP.LAW_NO,
        BSP.PLAINTIFF_NAME,
        BSP.CURRENCY,
        BSP.EXECUTE_SUM,
        BSP.EXECUTE_DATE,
        BSP.EXECUTE_RESULT,
        BSP.APPELL_CAUSE
        FROM
        HLS_BP_BORROWER_INFO BSP
        <where>
            <if test="bpId!= null">
                BSP.BP_ID = #{bpId}
            </if>
        </where>
    </select>

</mapper>