<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpAttachmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpAttachment">
        <result column="bp_attachment_id" property="bpAttachmentId" jdbcType="DECIMAL"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="bp_attachment_category" property="bpAttachmentCategory" jdbcType="VARCHAR"/>
        <result column="document_name" property="documentName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="document_id" property="documentId" jdbcType="DECIMAL"/>
        <result column="bp_source_type" property="bpSourceType" jdbcType="VARCHAR"/>
        <result column="file_names" property="fileNames" jdbcType="VARCHAR"/>
        <result column="file_Id" property="fileId"/>
        <result column="file_type" property="fileType"/>
        <result column="file_type_n" property="fileTypeN"/>
        <result column="source_type" property="sourceType"/>
        <result column="source_key" property="sourceKey"/>
        <result column="attachment_id" property="attachmentId" jdbcType="DECIMAL"/>

        <!--上传人-->
        <result column="upload_person" property="uploadPerson" jdbcType="VARCHAR"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="file_size" property="fileSize" jdbcType="DECIMAL"/>
        <result column="upload_date" property="uploadDate" jdbcType="TIMESTAMP"/>
        <result column="update_status" property="updateStatus" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="fileInfoMap" type="java.util.HashMap">
        <result column="file_name" property="file_name"/>
        <result column="upload_person" property="upload_person"/>
        <result column="upload_date" property="upload_date"/>
    </resultMap>

    <select id="queryFileInfoByTablePkValue" parameterType="java.lang.String"  resultMap="fileInfoMap">
        select
            fa.file_name,
            (SELECT DISTINCT (fe. NAME)
             FROM sys_user_allocation  sua,
                  fnd_employee_assigns fea,
                  fnd_employee         fe
             WHERE fa.created_by = sua.user_id
               AND sua.employee_assign_id = fea.EMPLOYEE_ASSIGN_ID
               AND fe.EMPLOYEE_ID = fea.EMPLOYEE_ID) upload_person,
            fa.creation_date upload_date
        FROM fnd_atm_attachment fa, fnd_atm_attachment_multi fam
        WHERE  fam.table_name = 'HLS_BP_ATTACHMENT'
          and fa.attachment_id = fam.attachment_id
          and fam.table_pk_value = #{tablePkValue}
        order  by fam.last_update_date desc
    </select>

    <select id="bptAttachmentDetailQuery" parameterType="com.hand.hls.bp.dto.HlsCusBpAttachment"
            resultMap="BaseResultMap">
SELECT
	hba.*, sfs.FILE_NAME,
	sfs.file_id,
	sfs.UPLOAD_DATE,
	sfs.FILE_SIZE,
	nvl(
		(
			SELECT
				su.DESCRIPTION
			FROM
				sys_user su
			WHERE
				su.USER_ID = hba.CREATED_BY
		),
		''
	) AS upload_person
FROM
	hls_bp_attachment hba,
	(
		SELECT
			sf.file_id,
			sf.FILE_NAME,
			sf.UPLOAD_DATE,
			sf.FILE_SIZE,
			sf.ATTACHMENT_ID,
			sa.SOURCE_KEY
		FROM
			sys_file sf,sys_attachment sa
WHERE
	sf.ATTACHMENT_ID = sa.ATTACHMENT_ID
AND sa.SOURCE_TYPE = #{bpAttachmentCategory,jdbcType=VARCHAR}
) sfs where sfs.file_id = hba.document_id
and hba.bp_id = #{bpId}
AND hba.bp_attachment_category = #{bpAttachmentCategory,jdbcType=VARCHAR}


    </select>

    <select id="queryAllBpFileDocumentListName" parameterType="com.hand.hls.bp.dto.HlsCusBpAttachment"
            resultMap="BaseResultMap">
        select hba.bp_attachment_id,
        hba.bp_id,
        hba.document_name,
        hba.file_type,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'FILE_TYPE'
        and sc.code_value = hba.file_type) file_type_n,
        (SELECT wm_concat(fa.file_name)
        FROM fnd_atm_attachment fa, fnd_atm_attachment_multi fam
        WHERE to_char(hba.bp_attachment_id) = fam.table_pk_value
        AND fam.table_name = 'HLS_BP_ATTACHMENT'
        and fa.attachment_id = fam.attachment_id) file_name,
        (SELECT (SELECT DISTINCT (fe. NAME)
        FROM sys_user_allocation  sua,
        fnd_employee_assigns fea,
        fnd_employee         fe
        WHERE fa.created_by = sua.user_id
        AND sua.employee_assign_id = fea.EMPLOYEE_ASSIGN_ID
        AND fe.EMPLOYEE_ID = fea.EMPLOYEE_ID) upload_person
        FROM fnd_atm_attachment fa, fnd_atm_attachment_multi fam
        WHERE to_char(hba.bp_attachment_id) = fam.table_pk_value
        AND fam.table_name = 'HLS_BP_ATTACHMENT'
        and fa.attachment_id = fam.attachment_id
        and rownum=1) upload_person,
        (SELECT fa.creation_date
        FROM fnd_atm_attachment fa, fnd_atm_attachment_multi fam
        WHERE to_char(hba.bp_attachment_id) = fam.table_pk_value
        AND fam.table_name = 'HLS_BP_ATTACHMENT'
        and fa.attachment_id = fam.attachment_id
        and rownum=1) upload_date,
        hba.description
        from hls_bp_attachment hba
        where 1 = 1
        <if test="bpId != null and bpId != ''">
        and hba.bp_id = #{bpId}
        </if>
        order by last_update_date asc
    </select>


    <select id="queryAllFile" parameterType="com.hand.hls.bp.dto.HlsCusBpAttachment" resultMap="BaseResultMap">
        select * from(
        select hba.bp_attachment_id as bp_attachment_id,
        hba.document_name as document_name,
        sa.attachment_id attachment_id,
        sf.file_id as file_id,
        sf.file_name as file_name,
        sf.file_size as file_size,
        (select su.description
        from sys_user su
        where sf.last_updated_by = su.user_id) as upload_person,
        sf.last_update_date as uploadDate
        from hls_bp_attachment hba,
        sys_attachment sa,
        sys_file sf
        where hba.bp_attachment_id = sa.source_key
        and hba.bp_source_type = sa.source_type
        and sa.attachment_id = sf.attachment_id
        <if test="bpAttachmentId != null and bpAttachmentId != ''">
            and hba.bp_attachment_id = #{bpAttachmentId}
        </if>
        <if test="bpId != null and bpId != ''">
            and hba.bp_id = #{bpId}
        </if>
        ) qf
        order by qf.uploadDate desc
    </select>

    <delete id="deleteFileByFileId" parameterType="java.lang.Long" >
        delete from sys_file where file_id = #{fileId}
    </delete>
</mapper>