<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpMasterAddressMapper" >
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpMasterAddress" >
        <id column="address_id" property="addressId" jdbcType="BIGINT" />
        <result column="bp_id" property="bpId" jdbcType="BIGINT" />
        <result column="address_type" property="addressType" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="district" property="district" jdbcType="VARCHAR" />
        <result column="street" property="street" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="zipcode" property="zipcode" jdbcType="VARCHAR" />
        <result column="contact_person" property="contactPerson" jdbcType="VARCHAR" />
        <result column="position" property="position" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="fax" property="fax" jdbcType="VARCHAR" />
        <result column="cell_phone" property="cellPhone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="address_detail" property="addressDetail" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="is_mail_invoice_address" property="isMailInvoiceAddress" jdbcType="VARCHAR" />

        <result column="province_desc" property="provinceDesc"/>
        <result column="city_desc" property="cityDesc"/>
        <result column="district_desc" property="districtDesc"/>
        <result column="region" property="region"/>
        <result column="contact_info" property="contactInfo"/>
        <result column="address_info" property="addressInfo"/>
        <result column="address_type_n" property="addressTypeN"/>
        <result column="country_n" property="countryN"/>
        <result column="country_id" property="countryId"/>
        <result column="country_id_n" property="countryIdN"/>
        <result column="province_n" property="provinceN"/>
        <result column="province_id" property="provinceId"/>
        <result column="province_id_n" property="provinceIdN"/>
        <result column="city_n" property="cityN"/>
        <result column="city_id" property="cityId"/>
        <result column="city_id_n" property="cityIdN"/>
        <result column="district_n" property="districtN"/>
        <result column="district_id" property="districtId"/>
        <result column="district_id_n" property="districtIdN"/>
        <result column="region_n" property="regionN"/>

        <result column="remark" property="remark"/>
    </resultMap>

    <select id="queryAll" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsCusBpMasterAddress">
        SELECT * FROM (
        SELECT hbma.* ,
        hbma.country_n||hbma.province_n||hbma.city_n ||hbma.district_n||hbma.address  address_detail

        FROM (
        SELECT
        ma.address_id,
        ma.bp_id,
        ma.address_type,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'FND.BP_ADDRESS_TYPE'
        and v.code_value = ma.address_type) as address_type_n,
        ma.country_id,
        ( SELECT c.country_name FROM fnd_country c WHERE c.country = ma.country_id ) AS country_id_n,
        ma.province_id,
        ( SELECT p.description FROM fnd_province p WHERE p.province = ma.province_id ) AS province_id_n,
        ma.city_id,
        ( SELECT c.description FROM fnd_city c WHERE c.city = ma.city_id ) AS city_id_n,
        ma.district_id,
        ( SELECT d.description FROM fnd_district d WHERE d.district = ma.district_id ) AS district_id_n,
        ma.country,
        ma.province,
        ma.city,
        ma.district,
        (select c.country_name
        from fnd_country c
        where c.country = ma.country) as country_n,
        (select p.description
        from fnd_province p
        where p.province = ma.province) as province_n,
        (select c.description from fnd_city c where c.city = ma.city) as city_n,
        (select d.description
        from fnd_district d
        where d.district = ma.district) as district_n,
        ma.region,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'FND_ADDR_REGIDN'
        and v.code_value = ma.region) as region_n,
        ma.street,
        ma.address,
        ma.zipcode,
        ma.contact_person,
        ma.position,
        ma.phone,
        ma.fax,
        ma.cell_phone,
        ma.email,
        ma.enabled_flag,
        ma.is_mail_invoice_address,
        ma.remark,
        (select wm_concat(t.contract_name) from (select t.CONTRACT_name from FCT_PROJECT t where t.project_id in (select
        fb.PROJECT_ID from
        FCT_PROJECT_bp fb where fb.ADDRESS_ID in (select hd.ADDRESS_ID from hls_bp_master_address hd where hd.bp_id=
        #{bpId,jdbcType=BIGINT}) ) and t.CONTRACT_STATUS not in('END','CANCEL') and
        t.DATA_TYPE='NORMAL'
        union
        select t.CONTRACT_name from prj_PROJECT t where t.project_id in (select fb.PROJECT_ID from
        PRJ_PROJECT_BP fb where fb.ADDRESS_ID in (select hd.ADDRESS_ID from hls_bp_master_address hd where hd.bp_id=
        #{bpId,jdbcType=BIGINT}) ) and t.CONTRACT_STATUS not in('END','CANCEL') and
        t.DATA_TYPE='NORMAL') t)address_info


        FROM
        hls_bp_master_address  ma
        where
        ma.bp_id = #{bpId,jdbcType=BIGINT}
        ) hbma
        ) ads
        where 1=1
        <if test="addressDetail != null">
            and ads.address_detail LIKE concat('%',concat(#{addressDetail},'%') )
        </if>

        <!--rdc 33867 地址类型是送达地址（法人）、收件地址（自然人）-->
        <!--AND ma.address_type in ('RECIPIENT_ADDRESS','MAILING_ADDRESS')-->
    </select>

    <select id="queryDetails" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
            hbma.*,
            ( SELECT v.meaning FROM sys_code_value_b_v v WHERE v.code = 'FND.BP_ADDRESS_TYPE' AND v.code_value = hbma.address_type ) AS address_type_n,
            ( SELECT c.country_name FROM fnd_country c WHERE c.country = hbma.country_id ) AS country_id_n,
            ( SELECT p.description FROM fnd_province p WHERE p.province = hbma.province_id ) AS province_id_n,
            ( SELECT c.description FROM fnd_city c WHERE c.city = hbma.city_id ) AS city_id_n,
            ( SELECT d.description FROM fnd_district d WHERE d.district = hbma.district_id ) AS district_id_n,
            (
                CASE

                    WHEN hbma.DISTRICT_ID IS NOT NULL THEN
                        ( SELECT ZIPCODE FROM FND_DISTRICT fd WHERE hbma.DISTRICT_ID = fd.DISTRICT )
                    WHEN hbma.CITY_ID IS NOT NULL THEN
                            ( SELECT ZIPCODE FROM FND_CITY fc WHERE hbma.CITY_ID = fc.CITY )
                    END
                ) AS POSTCODE
        FROM
            hls_bp_master_address hbma
        where hbma.bp_id = #{bpId}
    </select>
</mapper>