<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpHistoricalEvolutionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpHistoricalEvolution">
        <result column="historical_evolution_id" property="historicalEvolutionId" jdbcType="DECIMAL" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="change_description" property="changeDescription" jdbcType="VARCHAR" />
        <result column="change_before" property="changeBefore" jdbcType="VARCHAR" />
        <result column="change_after" property="changeAfter" jdbcType="VARCHAR" />
        <result column="change_time" property="changeTime" jdbcType="DATE" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="change_num" property="changeNum" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsCusBpFinancingSituation" resultMap="BaseResultMap">
        SELECT
        hbhe.historical_evolution_id,
        hbhe.bp_id,
        hbhe.change_description,
        hbhe.change_before,
        hbhe.change_after,
        hbhe.change_time,
        hbhe.note,
        hbhe.change_num
        FROM
        hls_bp_historical_evolution  hbhe
        <where>
            <if test="bpId != null">
                hbhe.bp_id = #{bpId}
            </if>
            <if test="historicalEvolutionId != null">
                hbhe.historical_evolution_id = #{historicalEvolutionId}
            </if>
        </where>
        order by hbhe.LAST_UPDATE_DATE desc
    </select>

</mapper>