<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusHlsBpAffiEnterprisesMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusHlsBpAffiEnterprises">
        <result column="BP_AFFI_ENTERPRISES_ID" property="bpAffiEnterprisesId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="RELATION_SHIP" property="relationShip" jdbcType="VARCHAR" />
        <result column="RELATION_SHIP_N" property="relationShipN" jdbcType="VARCHAR" />
        <result column="RELATIVE_ENT_NAME" property="relativeEntName" jdbcType="VARCHAR" />
        <result column="RELATIVE_ENT_NAME_N" property="relativeEntNameN" jdbcType="VARCHAR" />
        <result column="REGISTER_TYPE" property="registerType" jdbcType="VARCHAR" />
        <result column="REGISTER_TYPE_N" property="registerTypeN" jdbcType="VARCHAR" />
        <result column="REGISTER_NUM" property="registerNum" jdbcType="VARCHAR" />
        <result column="CORP_ID" property="corpId" jdbcType="VARCHAR" />
        <result column="CREDIT_CODE" property="creditCode" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.bp.dto.HlsCusHlsBpAffiEnterprises" resultMap="BaseResultMap">
        SELECT
        hbae.*,
        (SELECT v.meaning FROM sys_code_value_b_v v WHERE v.code = 'FND_RELATIONSHIP' AND v.code_value = hbae.RELATION_SHIP) RELATION_SHIP_N,
        RELATIVE_ENT_NAME RELATIVE_ENT_NAME_N,
        (SELECT v.meaning FROM sys_code_value_b_v v WHERE v.code = 'BP.REGISTRATION_NUM_TYPE' AND v.code_value = hbae.REGISTER_TYPE) REGISTER_TYPE_N
        FROM
        hls_bp_affi_enterprises  hbae
        <where>
            <if test="bpId != null">
                hbae.bp_id = #{bpId}
            </if>
            <if test="bpAffiEnterprisesId != null">
                hbae.bp_affi_enterprises_id = #{bpAffiEnterprisesId}
            </if>
        </where>
    </select>
</mapper>