<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsCusBpSeniorPersionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpSeniorPersion">
        <result column="BP_SENIOR_PERSON_ID" property="bpSeniorPersonId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_PERSON_TYPE" property="documentPersonType" jdbcType="VARCHAR" />
        <result column="PERSON_NAME" property="personName" jdbcType="VARCHAR" />
        <result column="CARTIFICATE_TYPE" property="cartificateType" jdbcType="VARCHAR" />
        <result column="CARTIFICATE_NUMBER" property="cartificateNumber" jdbcType="VARCHAR" />
        <result column="AGE" property="age" jdbcType="VARCHAR" />
        <result column="SEX" property="sex" jdbcType="VARCHAR" />
        <result column="SEX_N" property="sexN" jdbcType="VARCHAR" />
        <result column="EDUCATE_BACKGROUNG" property="educateBackgroung" jdbcType="VARCHAR" />
        <result column="EDUCATE_BACKGROUNG_N" property="educateBackgroungN" jdbcType="VARCHAR" />
        <result column="PERSONAL_EXPERIENCE" property="personalExperience" jdbcType="VARCHAR" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="document_person_type_n" property="documentPersonTypeN" />
        <result column="cartificate_type_n" property="cartificateTypeN" />
        <result column="type_join" property="typeJoin" />
    </resultMap>
    <select id="querySeniorByBpId" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.HlsCusBpSeniorPersion">
        SELECT
        BSP.BP_ID,
        BSP.BP_SENIOR_PERSON_ID,
        BSP.DOCUMENT_PERSON_TYPE,
        BSP.AGE,
        BSP.SEX,
        BSP.EDUCATE_BACKGROUNG,
        BSP.PERSONAL_EXPERIENCE,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'HLS211_GENDER'
        and v.code_value = bsp.SEX) as sex_n,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'HLS211_ACADEMIC_BACKGROUND'
        and v.code_value = bsp.EDUCATE_BACKGROUNG) as educate_backgroung_n,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'FND.MANAGER_TYPE'
        and v.code_value = bsp.document_person_type) as document_person_type_n,
        BSP.PERSON_NAME,
        BSP.CARTIFICATE_TYPE,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'FND.CERT_TYPE'
        and v.code_value = bsp.cartificate_type) as cartificate_type_n,
        BSP.CARTIFICATE_NUMBER,
        BSP.type_join
        FROM
        BP_SENIOR_PERSION BSP
        <where>
            <if test="bpId!= null">
                BSP.BP_ID =#{bpId}
            </if>
        </where>
    </select>

</mapper>