<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsSysDocumentHistoryBlobMapper" >
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsSysDocumentHistoryBlob">
        <id column="clob_id" jdbcType="BIGINT" property="clobId"/>
        <result column="history_detail_id" jdbcType="BIGINT" property="historyDetailId"/>
        <result column="table_pk_value" jdbcType="VARCHAR" property="tablePkValue"/>
        <result column="table_name" jdbcType="VARCHAR" property="tableName"/>
        <result column="field_name" jdbcType="VARCHAR" property="fieldName"/>
        <result column="OBJECT_VERSION_NUMBER" jdbcType="BIGINT" property="objectVersionNumber"/>
        <result column="REQUEST_ID" jdbcType="BIGINT" property="requestId"/>
        <result column="PROGRAM_ID" jdbcType="BIGINT" property="programId"/>
        <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy"/>
        <result column="CREATION_DATE" jdbcType="DATE" property="creationDate"/>
        <result column="LAST_UPDATED_BY" jdbcType="BIGINT" property="lastUpdatedBy"/>
        <result column="LAST_UPDATE_DATE" jdbcType="DATE" property="lastUpdateDate"/>
        <result column="LAST_UPDATE_LOGIN" jdbcType="BIGINT" property="lastUpdateLogin"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hand.hls.bp.dto.HlsSysDocumentHistoryBlob">
        <result column="field_value" jdbcType="LONGVARCHAR" property="fieldValue"/>
    </resultMap>

    <insert id="dataTransfer" parameterType="long">
        insert into sys_document_history_blob_d
        select sdhb.*
        from con_contract_change_req     cccr,
             sys_document_history        sdh,
             sys_document_history_detail sdhd,
             sys_document_history_blob   sdhb
        where cccr.change_req_id = #{changeReqId}
          and cccr.change_req_id = sdh.document_id
          and sdh.history_id = sdhd.history_id
          and sdhd.history_detail_id = sdhb.history_detail_id
    </insert>
    <delete id="deleteTransferData" parameterType="long">
        delete sys_document_history_blob t
         where t.clob_id in
               (select sdhb.clob_id
                  from con_contract_change_req     cccr,
                       sys_document_history        sdh,
                       sys_document_history_detail sdhd,
                       sys_document_history_blob   sdhb
                 where cccr.change_req_id = #{changeReqId}
                and cccr.change_req_id = sdh.document_id
                and sdh.history_id = sdhd.history_id
                and sdhd.history_detail_id = sdhb.history_detail_id)
    </delete>

    <insert id="bpDataTransfer" parameterType="long">
        insert into sys_document_history_blob_d
        select sdhb.*
        from hls_bp_master_change_req    bpcr,
             sys_document_history        sdh,
             sys_document_history_detail sdhd,
             sys_document_history_blob   sdhb
        where bpcr.change_req_id = #{changeReqId}
          and bpcr.change_req_id = sdh.document_id
          and sdh.history_id = sdhd.history_id
          and sdhd.history_detail_id = sdhb.history_detail_id
    </insert>
    <delete id="bpDeleteTransferData" parameterType="long">
        delete sys_document_history_blob t
         where t.clob_id in
               (select sdhb.clob_id
                  from hls_bp_master_change_req    bpcr,
                       sys_document_history        sdh,
                       sys_document_history_detail sdhd,
                       sys_document_history_blob   sdhb
                 where bpcr.change_req_id = #{changeReqId}
        and bpcr.change_req_id = sdh.document_id
        and sdh.history_id = sdhd.history_id
        and sdhd.history_detail_id = sdhb.history_detail_id)
    </delete>
</mapper>