<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.HlsScoreCalculationMapper">
    <resultMap id="BaseResultMap1" type="com.hand.hls.bp.dto.HlsScoreCalculation">
        <result column="SCORE_ID" property="scoreId" jdbcType="DECIMAL"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="OBJECT_TYPE" property="objectType" jdbcType="VARCHAR"/>
        <result column="OBJECT_ID" property="objectId" jdbcType="DECIMAL"/>
        <result column="FISCAL_YEAR" property="fiscalYear" jdbcType="DECIMAL"/>
        <result column="FISCAL_MONTH" property="fiscalMonth" jdbcType="DECIMAL"/>
        <result column="SCORE_DATE" property="scoreDate" jdbcType="DATE"/>
        <result column="SCORE_USER_ID" property="scoreUserId" jdbcType="DECIMAL"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="SCORE_TEMPLATE_HD_ID" property="scoreTemplateHdId" jdbcType="DECIMAL"/>
        <result column="SCORE_RESULT_ID" property="scoreResultId" jdbcType="DECIMAL"/>
        <result column="FINAL_SCORE_GRADE" property="finalScoreGrade" jdbcType="VARCHAR"/>
        <result column="FROM_DATE" property="fromDate" jdbcType="DATE"/>
        <result column="TO_DATE" property="toDate" jdbcType="DATE"/>
        <result column="GRADE_STATUS" property="gradeStatus" jdbcType="VARCHAR"/>
        <result column="RESULT_ID" property="resultId" jdbcType="DECIMAL"/>
        <result column="IS_TURN_UP" property="isTurnUp" jdbcType="VARCHAR"/>
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL"/>
        <result column="PROCESS_INSTANCE_ID" property="processInstanceId" jdbcType="DECIMAL"/>

        <result column="BP_NAME_N" property="bpNameN" jdbcType="VARCHAR"/>
        <result column="SCORE_TEMPLATE_HD_ID_N" property="scoreTemplateHdIdN" jdbcType="VARCHAR"/>
        <result column="RESULT_ID_N" property="resultIdN" jdbcType="VARCHAR"/>
        <result column="IS_TURN_UP_N" property="isTurnUpN" jdbcType="VARCHAR"/>

        <result column="FISCAL_YEAR_N" property="fiscalYearN" jdbcType="VARCHAR"/>
        <result column="FISCAL_MONTH_N" property="fiscalMonthN" jdbcType="VARCHAR"/>

        <result column="SCORE_VALUE" property="scoreValue" jdbcType="DOUBLE"/>
        <result column="SCORE_GRADE" property="scoreGrade" jdbcType="VARCHAR"/>
        <result column="FINAL_SCORE_GRADE_N" property="finalScoreGradeN" jdbcType="VARCHAR"/>
        <result column="GRADE_STATUS_N" property="gradeStatusN" jdbcType="VARCHAR"/>
        <result column="financial_flag" property="financialFlag" jdbcType="VARCHAR"/>
        <result column="AUTHORITY_RULE_STRING" property="authorityRuleString" jdbcType="VARCHAR"/>
        <result column="SCORE_GRADE_N" property="scoreGradeN" jdbcType="VARCHAR"/>
        <result column="RISK_WARNING_ID" property="riskWarningId" jdbcType="DECIMAL"/>
        <result column="RISK_WARNING_ID_N" property="riskWarningIdN" jdbcType="VARCHAR"/>

        <result column="RISK_AMOUNT" property="riskAmount" jdbcType="DOUBLE"/>
        <result column="rate" property="rate" jdbcType="VARCHAR"/>
        <result column="allocation_id" property="allocationId"/>
        <result column="max_to_date" property="maxToDate"/>
        <result column="bp_name" property="bpName"/>
    </resultMap>
    <select id="selectScoreCountM" parameterType="com.hand.hls.bp.dto.HlsScoreCalculation" resultMap="BaseResultMap1">
        SELECT
        fsr.bp_id,
        fsr.SCORE_USER_ID,
        fsr.CREATED_BY,
        (
        SELECT
        a.ALLOCATION_ID
        FROM
        sys_user_allocation a
        WHERE
        a.user_id = fsr.score_user_id
        ) allocation_id,
        (
        SELECT
        b.bp_name
        FROM
        hls_bp_master b
        WHERE
        b.bp_id = fsr.bp_id
        ) bp_name,
        max(fsr.to_date) max_to_date
        FROM
        hls_score_calculation fsr
        where fsr.GRADE_STATUS = 'APPROVED'
        GROUP BY
        fsr.bp_id
    </select>

    <select id="selectScoreCountF" parameterType="com.hand.hls.bp.dto.HlsScoreCalculation" resultMap="BaseResultMap1">
        SELECT
        fsr.*
        FROM
        hls_score_calculation fsr
        <where>
            fsr.GRADE_STATUS = 'APPROVED'
            and fsr.bp_id = #{bpId}
            and to_char(fsr.score_date,'yyyy') = to_char(sysdate, 'yyyy')
        </where>

    </select>

    <select id="selectScoreMes" parameterType="com.hand.hls.bp.dto.HlsScoreCalculation" resultMap="BaseResultMap1">
        select
        t.*
        from hls_score_calculation t
        <where>
            1=1
            and t.bp_id = #{bpId}
            and to_char(t.score_date, 'yyyymmdd') = to_char(#{maxToDate}, 'yyyymmdd')
            and to_char(t.score_date, 'yyyymmdd') = to_char(sysdate, 'yyyymmdd')

        </where>
    </select>
    <select id="selectScoreCount" parameterType="com.hand.hls.bp.dto.HlsScoreCalculation" resultMap="BaseResultMap1">
        select
        fsr.*
        from hls_score_calculation fsr
        <where>
            1=1
            and to_char(fsr.SCORE_DATE, 'yyyy') = to_char(#{scoreDate}, 'yyyy')
            and fsr.GRADE_STATUS in ('APPROVING','APPROVED')
            and fsr.bp_id = (select distinct t.bp_id from hls_score_calculation t where t.score_id = #{scoreId} )

        </where>
    </select>
    <select id="selectScoreCalculation" parameterType="com.hand.hls.bp.dto.HlsScoreCalculation"
            resultMap="BaseResultMap1">
        select
        fsr.SCORE_RESULT_ID,
        fsr.SCORE_ID,
        fsr.SCORE_TEMPLATE_HD_ID,
        fsr.SCORE_DATE,
        fsr.FISCAL_YEAR,
        fsr.RESULT_ID,
        fsr.IS_TURN_UP,
        fsr.bp_id,
        fsr.GRADE_STATUS,
        fsr.FINANCIAL_FLAG,
        fsr.PROCESS_INSTANCE_ID,
        (select fsr1.SCORE_VALUE
        from fnd_score_result fsr1
        where fsr1.SCORE_RESULT_ID = fsr.SCORE_RESULT_ID) SCORE_VALUE,
        (select fsr1.SCORE_GRADE
        from fnd_score_result fsr1
        where fsr1.SCORE_RESULT_ID = fsr.SCORE_RESULT_ID) SCORE_GRADE,

        (
        select
        DISTINCT hfsh.FISCAL_YEAR value_name
        from hls_fin_statement_hd hfsh
        where hfsh.FISCAL_YEAR = fsr.FISCAL_YEAR
        ) FISCAL_YEAR_N,


        (
        SELECT
        scvb.MEANING value_name
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        WHERE
        scb.CODE_ID = scvb.CODE_ID
        AND scb.CODE = 'GREAD.FINAL_SCORE_GRADE'
        AND scvb.VALUE = (
        select fsr1.SCORE_GRADE
        from fnd_score_result fsr1
        where fsr1.SCORE_RESULT_ID = fsr.SCORE_RESULT_ID
        )
        ) SCORE_GRADE_N,

        (
        SELECT
        scvb.MEANING value_name
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        WHERE
        scb.CODE_ID = scvb.CODE_ID
        AND scb.CODE = 'GREAD.FINAL_SCORE_GRADE'
        AND scvb.VALUE = nvl(fsr.FINAL_SCORE_GRADE,(
        select fsr1.SCORE_GRADE
        from fnd_score_result fsr1
        where fsr1.SCORE_RESULT_ID = fsr.SCORE_RESULT_ID
        ))
        ) FINAL_SCORE_GRADE_N,


        (
        SELECT
        scvb.MEANING value_name
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        WHERE
        scb.CODE_ID = scvb.CODE_ID
        AND scb.CODE = 'GRADE.GRADE_STATUS'
        AND scvb.VALUE = fsr.GRADE_STATUS
        ) GRADE_STATUS_N,


        (select
        hbm.BP_NAME
        from hls_bp_master hbm
        where hbm.BP_ID = fsr.BP_ID) BP_NAME_N,

        (select fsth.SCORE_TEMPLATE_HD_NAME value_name
        from fnd_score_template_hd fsth
        where fsth.SCORE_TEMPLATE_HD_ID = fsr.SCORE_TEMPLATE_HD_ID) SCORE_TEMPLATE_HD_ID_N,


        (
        select
        hfsh.FISCAL_MONTH value_name
        from hls_fin_statement_hd hfsh
        where hfsh.FIN_STATEMENT_HD_ID = fsr.FISCAL_MONTH
        ) FISCAL_MONTH_N,

        (
        SELECT
        hr.FIN_STATEMENT_NAME
        FROM
        hls_bp_financial_header h,
        hls_web_excel_calc_result hr,
        hls_web_excel hwe
        WHERE
        h.header_id = hr.source_document_id
        AND hr.source_document_category = 'FINANCIAL_REPORT'
        AND hwe.excel_id = hr.excel_id
        and hr.RESULT_ID = fsr.RESULT_ID
        AND h.bp_id = fsr.bp_id
        ) RESULT_ID_N,
        fsr.*,
        (select
        scvb.MEANING value_name
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        where scb.CODE_ID = scvb.CODE_ID
        and scb.CODE = 'GRADE.IS_TURN_UP'
        and scvb.VALUE = fsr.IS_TURN_UP) IS_TURN_UP_N,
        fsr.RISK_WARNING_ID,
        (select
        prw.RISK_WARNING_NUMBER
        from plm_risk_warning prw
        where prw.RISK_WARNING_ID = fsr.RISK_WARNING_ID) RISK_WARNING_ID_N


        from hls_score_calculation fsr

        <where>
            1=1
            <if test="bpId!=null">
                and fsr.bp_id = #{bpId}
            </if>
            <if test="scoreDate!=null">
                and fsr.SCORE_DATE = #{scoreDate}
            </if>
            <if test="gradeStatus!=null">
                and fsr.GRADE_STATUS = #{gradeStatus}
            </if>

            <if test="finalScoreGrade!=null">
                and fsr.SCORE_RESULT_ID in (
                select fsr1.SCORE_RESULT_ID
                from fnd_score_result fsr1
                where fsr1.SCORE_GRADE = #{finalScoreGrade}
                )
            </if>
            <if test="scoreTemplateHdId!=null">
                and fsr.SCORE_TEMPLATE_HD_ID = #{scoreTemplateHdId}
            </if>

            <if test="scoreId!=null">
                and fsr.SCORE_ID = #{scoreId}
            </if>
        </where>
        order by fsr.SCORE_ID desc
    </select>

    <select id="selectListOfHsc1" resultMap="BaseResultMap1">
        select
        t1.*,
        t2.score_template_hd_name score_template_hd_id_n
        from
        hls_score_calculation t1,
        fnd_score_template_hd t2
        where
        t1.score_template_hd_id = t2.score_template_hd_id
        <if test="companyId != null">
            and t1.company_id = #{companyId}
        </if>
        <if test="objectId != null">
            and t1.object_id = #{objectId}
        </if>
        <if test="fiscalYear != null">
            and t1.fiscal_year = #{fiscalYear}
        </if>
        <if test="fiscalMonth != null">
            and t1.fiscal_month = #{fiscalMonth}
        </if>
        <if test="scoreTemplateHdId != null">
            AND t1.score_template_hd_id = #{scoreTemplateHdId}
        </if>
        <if test="scoreId != null">
            and t1.SCORE_ID = #{scoreId}
        </if>
    </select>


</mapper>