<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bp.mapper.QujianDataSourceMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.QujianDataSource">
        <result column="DATA_SOURCE_ID" property="dataSourceId" jdbcType="DECIMAL" />
        <result column="SCORE_TARGET_ID" property="scoreTargetId" jdbcType="DECIMAL" />
        <result column="SCORE_TEMPLATE_HD_ID" property="scoreTemplateHdId" jdbcType="DECIMAL" />
        <result column="EXECLLENT_VALUE" property="execllentValue" jdbcType="VARCHAR" />
        <result column="GOOD_VALUE" property="goodValue" jdbcType="VARCHAR" />
        <result column="AVERAGE_VALUE" property="averageValue" jdbcType="VARCHAR" />
        <result column="POOR_VALUE" property="poorValue" jdbcType="VARCHAR" />

        <result column="SCORE_TARGET_NAME" property="scoreTargetName" jdbcType="VARCHAR" />
        <result column="SCORE_TEMPLATE_HD_NAME" property="scoreTemplateHdName" jdbcType="VARCHAR" />

    </resultMap>

    <select id="selectQujianDataSource" resultMap="BaseResultMap" parameterType="com.hand.hls.bp.dto.QujianDataSource">
      select
        (
        select hst.SCORE_TARGET_NAME
        from hls_score_target hst
        where hst.SCORE_TARGET_ID = qds.SCORE_TARGET_ID
        )SCORE_TARGET_NAME,
        qds.EXECLLENT_VALUE,
        qds.DATA_SOURCE_ID,
        qds.GOOD_VALUE,
        qds.POOR_VALUE,
        qds.AVERAGE_VALUE,
        (
        select
        fsth.SCORE_TEMPLATE_HD_CODE
        from fnd_score_template_hd fsth
        where fsth.SCORE_TEMPLATE_HD_ID = qds.SCORE_TEMPLATE_HD_ID
        ) value_code,
        (
        select
        fsth.SCORE_TEMPLATE_HD_NAME
        from fnd_score_template_hd fsth
        where fsth.SCORE_TEMPLATE_HD_ID = qds.SCORE_TEMPLATE_HD_ID
        ) value_name,
        (
        select
        fsth.SCORE_TEMPLATE_HD_NAME
        from fnd_score_template_hd fsth
        where fsth.SCORE_TEMPLATE_HD_ID = qds.SCORE_TEMPLATE_HD_ID
        ) SCORE_TEMPLATE_HD_NAME,
        (
        select
        fsth.SCORE_TEMPLATE_HD_ID
        from fnd_score_template_hd fsth
        where fsth.SCORE_TEMPLATE_HD_ID = qds.SCORE_TEMPLATE_HD_ID
        ) SCORE_TEMPLATE_HD_ID

      from qujian_data_source qds
      <where>
          <if test="scoreTargetId!=null">
            qds.SCORE_TARGET_ID = #{scoreTargetId}
          </if>

      </where>
    </select>

</mapper>