<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusFctBpFinancingSituationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusFctBpFinancingSituation">
        <result column="financing_situation_id" property="financingSituationId" jdbcType="DECIMAL" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="project_id" property="projectId" jdbcType="DECIMAL" />
        <result column="chance_id" property="chanceId" jdbcType="DECIMAL"/>
        <result column="financing_agency" property="financingAgency" jdbcType="VARCHAR" />
        <result column="variety" property="variety" jdbcType="VARCHAR" />
        <result column="exposure_amount" property="exposureAmount" jdbcType="DECIMAL" />
        <result column="interest_rate" property="interestRate" jdbcType="DECIMAL" />
        <result column="time_limit" property="timeLimit" jdbcType="DECIMAL"/>
        <result column="time_unit" property="timeUnit" jdbcType="VARCHAR"/>
        <result column="expiry_date" property="expiryDate" jdbcType="DATE" />
        <result column="guarantee_method" property="guaranteeMethod" jdbcType="VARCHAR" />
        <result column="margin_ratio" property="marginRatio" jdbcType="DECIMAL" />
        <result column="note" property="note" jdbcType="VARCHAR" />
    </resultMap>

    <select id="fctBpFinancingSituationInfoQuery" parameterType="com.hand.hls.fct.dto.HlsCusFctBpFinancingSituation" resultMap="BaseResultMap">
        SELECT
        fbfs.*
        FROM
        fct_bp_financing_situation fbfs
        <where>
            1=1
            <if test="projectId != null">
                and fbfs.project_id = #{projectId}
            </if>
            <if test="chanceId != null">
                and fbfs.chance_id = #{chanceId}
            </if>
            <if test="bpId!= null">
                and fbfs.bp_id = #{bpId}
            </if>
        </where>
        order by expiry_date
    </select>
</mapper>