<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusFctBpZdwSituationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusFctBpZdwSituation">
        <result column="zdw_situation_id" property="zdwSituationId" jdbcType="DECIMAL" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="project_id" property="projectId" jdbcType="DECIMAL" />
        <result column="chance_id" property="chanceId" jdbcType="DECIMAL"/>
        <result column="regist_certification_code" property="registCertificationCode" jdbcType="VARCHAR" />
        <result column="register_date" property="registerDate" jdbcType="DATE" />
        <result column="register_date_end" property="registerDateEnd" jdbcType="DATE" />
        <result column="register_type" property="registerType" jdbcType="VARCHAR"/>
        <result column="pledgee_name" property="pledgeeName" jdbcType="VARCHAR" />
        <result column="zdw_situation_type" property="zdwSituationType" jdbcType="VARCHAR" />
        <result column="zdw_situation_amount" property="zdwSituationAmount" jdbcType="DECIMAL" />
        <result column="zdw_situation_update_time" property="zdwSituationUpdateTime" jdbcType="DATE" />
    </resultMap>
    <select id="fctBpZdwSituationInfoQuery" parameterType="com.hand.hls.fct.dto.HlsCusFctBpZdwSituation" resultMap="BaseResultMap">
        SELECT
        fbzs.*
        FROM
        fct_bp_zdw_situation fbzs
        <where>
            1=1
            <if test="projectId != null">
                and fbzs.project_id = #{projectId}
            </if>
            <if test="chanceId != null">
                and fbzs.chance_id = #{chanceId}
            </if>
            <if test="bpId!= null">
                and fbzs.bp_id = #{bpId}
            </if>
        </where>
    </select>

</mapper>