<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusFctProjectBpMapper">
    <resultMap id="BaseResultMap2" type="com.hand.hls.fct.dto.HlsCusFctProjectBp">
        <result column="project_bp_id" property="projectBpId" jdbcType="DECIMAL"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="chance_id" property="chanceId" jdbcType="DECIMAL"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="bp_role_type" property="bpRoleType" jdbcType="VARCHAR"/>
        <result column="credit_grantor_party" property="creditGrantorParty" jdbcType="VARCHAR"/>
        <result column="principal_repayment_party" property="principalRepaymentParty" jdbcType="VARCHAR"/>
        <result column="interest_repayment_party" property="interestRepaymentParty" jdbcType="VARCHAR"/>
        <result column="down_repayment_party" property="downRepaymentParty" jdbcType="VARCHAR"/>
        <result column="use_fee_repayment_party" property="useFeeRepaymentParty" jdbcType="VARCHAR"/>
        <result column="compensation_repayment_party" property="compensationRepaymentParty" jdbcType="VARCHAR"/>
        <result column="repay_guarantee_party" property="repayGuaranteeParty" jdbcType="VARCHAR"/>
        <result column="bp_code" property="bpCode" jdbcType="VARCHAR"/>
        <result column="bp_class" property="bpClass" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="prj_role" property="prjRole" jdbcType="VARCHAR"/>

        <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR"/>
        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
        <result column="BANK_FULL_NAME" property="bankFullName" jdbcType="VARCHAR"/>

        <result column="guarantee_type" property="guaranteeType" jdbcType="VARCHAR"/>
        <result column="guarantee_amount" property="guaranteeAmount" jdbcType="DECIMAL"/>
        <result column="mortgage_guarantee_amount" property="mortgageGuaranteeAmount" jdbcType="DECIMAL"/>
        <result column="mortgage_gua_amt_capital" property="mortgageGuaAmtCapital"
                jdbcType="DECIMAL"/>
        <result column="mortgage_rate" property="mortgageRate" jdbcType="DECIMAL"/>
        <result column="mortgage_available_amount" property="mortgageAvailableAmount" jdbcType="DECIMAL"/>
        <result column="mortgage_avail_amt_capital" property="mortgageAvailAmtCapital"
                jdbcType="DECIMAL"/>
        <result column="pledge_amount" property="pledgeAmount" jdbcType="DECIMAL"/>
        <result column="pledge_amount_capital" property="pledgeAmountCapital" jdbcType="DECIMAL"/>
        <result column="pledge_rate" property="pledgeRate" jdbcType="DECIMAL"/>
        <result column="repay_guarantee_sub_amount" property="repayGuaranteeSubAmount" jdbcType="DECIMAL"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="BANK_ACCOUNT_ID" property="bankAccountId" jdbcType="DECIMAL"/>
        <result column="LOAN_CARD_NUM" property="loanCardNum" jdbcType="VARCHAR"/>
        <result column="ID_TYPE" property="idType" jdbcType="VARCHAR"/>
        <result column="ID_CARD_NO" property="idCardNo" jdbcType="VARCHAR"/>
        <!--需求变更，添加字段 2018-11-29 -->
        <result column="COMMUNAL_CURRENCY" property="communalCurrency" jdbcType="VARCHAR"/>
        <result column="COMMUNAL_OTHER_CURRENCY" property="communalOtherCurrency" jdbcType="VARCHAR"/>
        <result column="COMMUNAL_VALUE" property="communalValue" jdbcType="VARCHAR"/>
        <result column="MORTGAGE_EVALUATION_DATE" property="mortgageEvaluationDate" jdbcType="DATE"/>
        <result column="MORTGAGE_EVALUATION_NAME" property="mortgageEvaluationName" jdbcType="VARCHAR"/>
        <result column="MORTGAGE_EVALUATION_CODE" property="mortgageEvaluationCode" jdbcType="VARCHAR"/>
        <result column="COLLATERAL_TYPE" property="collateralType" jdbcType="VARCHAR"/>
        <result column="REGISTRATION_AUTHORITY" property="registrationAuthority" jdbcType="VARCHAR"/>
        <result column="MORTGAGE_DESC" property="mortgageDesc" jdbcType="VARCHAR"/>
        <result column="REGISTRATION_DATE" property="registrationDate" jdbcType="DATE"/>
        <result column="COLLATERAL_CODE" property="collateralCode" jdbcType="VARCHAR"/>
        <!--需求变更，添加字段 address_id和contact_info_id-->
        <result column="ADDRESS_ID" property="addressId" jdbcType="DECIMAL"/>
        <result column="CONTACT_INFO_ID" property="contactInfoId" jdbcType="DECIMAL"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="INVOICE_BP_ADDRESS_PHONE_NUM" property="invoiceBpAddressPhoneNum" jdbcType="VARCHAR"/>
        <result column="INVOICE_BP_BANK_ACCOUNT" property="invoiceBpBankAccount" jdbcType="VARCHAR"/>
        <result column="contact_info_id" property="contactInfoId" jdbcType="VARCHAR"/>
        <result column="address_id" property="addressId" jdbcType="VARCHAR"/>
        <result column="TAXPAYER_TYPE" property="taxpayerType" jdbcType="VARCHAR"/>
        <result column="TAXPAYER_TYPE_DESC" property="taxpayerTypeDesc" jdbcType="VARCHAR"/>
        <result column="INVOICE_TITLE" property="invoiceTitle" jdbcType="VARCHAR"/>
        <result column="NP_GUARANTEE_TYPE" property="npGuaranteeType" jdbcType="VARCHAR"/>
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="SECURED_PARTY" property="securedParty" jdbcType="VARCHAR"/>
        <result column="ADDRESS_INFO" property="addressInfo" jdbcType="VARCHAR"/>
        <result column="CONTACT_INFO" property="contactInfo" jdbcType="VARCHAR"/>
        <result column="BANK_BRANCH_NAME" property="bankBranchName" jdbcType="VARCHAR"/>

        <result column="APPROVAL_NUMBER" property="approvalNumber" jdbcType="VARCHAR"/>
        <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR"/>
        <result column="MAIN_CONTRACT_NUMBER" property="mainContractNumber" jdbcType="VARCHAR"/>
        <result column="credit_grantor_name" property="creditGrantorName" jdbcType="VARCHAR"/>
        <result column="guarantee_amount_str" property="guaranteeAmountStr" jdbcType="VARCHAR"/>
        <result column="EXPIRY_DATE" property="expiryDate" jdbcType="DATE"/>


        <result column="SERIAL_NUMBER" property="serialNumber" jdbcType="VARCHAR"/>

        <result column="recipient" property="recipient" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="business_type_n" property="businessTypeN" jdbcType="VARCHAR"/>
        <result column="rate_valid_from" property="rateValidFrom" jdbcType="DATE"/>
        <result column="rate_valid_to" property="rateValidTo" jdbcType="DATE"/>
        <result column="sign_date" property="signDate" jdbcType="DATE"/>
        <result column="contract_status" property="contractStatus" jdbcType="VARCHAR"/>
        <result column="contract_status_n" property="contractStatusN" jdbcType="VARCHAR"/>
        <result column="mortgage_due_date" property="mortgageDueDate" jdbcType="DATE"/>

        <result column="communal_currency_desc" property="communalCurrencyDesc" jdbcType="VARCHAR"/>
        <result column="communal_other_currency_desc" property="communalOtherCurrencyDesc" jdbcType="VARCHAR"/>
        <result column="guarantee_type_desc" property="guaranteeTypeDesc" jdbcType="VARCHAR"/>
        <result column="np_guarantee_type_desc" property="npGuaranteeTypeDesc" jdbcType="VARCHAR"/>
        <result column="secured_party_desc" property="securedPartyDesc" jdbcType="VARCHAR"/>
        <result column="collateral_type_desc" property="collateralTypeDesc" jdbcType="VARCHAR"/>
        <result column="REMARKS" property="remarks" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="HlsCusFctProjectBp_Info_sql" >
            tab.BP_CLASS,
            tab.PHONE,
            tab.TAXPAYER_TYPE,
            tab.INVOICE_TITLE,
            tab.INVOICE_BP_ADDRESS_PHONE_NUM,
            tab.INVOICE_BP_BANK_ACCOUNT,
            tab.BP_CODE,
            tab.BP_NAME,
            tab.NAME,
            tab.PRJ_ROLE,
            tab.LOAN_CARD_NUM,
            tab.ID_TYPE,
            tab.ID_CARD_NO,
            tab.BPROLETYPEDESC,
            tab.CONTRACT_NUMBER,
            tab.PROJECT_BP_ID,
            tab.PROJECT_ID,
            tab.CHANCE_ID,
            tab.BP_ID,
            tab.BP_ROLE_TYPE,
            tab.CREDIT_GRANTOR_PARTY,
            tab.PRINCIPAL_REPAYMENT_PARTY,
            tab.INTEREST_REPAYMENT_PARTY,
            tab.DOWN_REPAYMENT_PARTY,
            tab.USE_FEE_REPAYMENT_PARTY,
            tab.COMPENSATION_REPAYMENT_PARTY,
            tab.REPAY_GUARANTEE_PARTY,
            tab.GUARANTEE_TYPE,
            tab.GUARANTEE_AMOUNT,
            tab.GUARANTEE_AMOUNT_STR,
            tab.MORTGAGE_GUARANTEE_AMOUNT,
            tab.MORTGAGE_GUA_AMT_CAPITAL,
            tab.MORTGAGE_RATE,
            tab.MORTGAGE_AVAILABLE_AMOUNT,
            tab.MORTGAGE_AVAIL_AMT_CAPITAL,
            tab.PLEDGE_AMOUNT,
            tab.PLEDGE_AMOUNT_CAPITAL,
            tab.PLEDGE_RATE,
            tab.REPAY_GUARANTEE_SUB_AMOUNT,
            tab.DESCRIPTION,
            tab.BANK_ACCOUNT_ID,
            tab.ADDRESS_ID,
            tab.CONTACT_INFO_ID,
            tab.COMMUNAL_CURRENCY,
            tab.COMMUNAL_OTHER_CURRENCY,
            tab.COMMUNAL_VALUE,
            tab.MORTGAGE_EVALUATION_DATE,
            tab.MORTGAGE_EVALUATION_NAME,
            tab.MORTGAGE_EVALUATION_CODE,
            tab.EXPIRY_DATE,
            tab.COLLATERAL_TYPE,
            tab.REGISTRATION_AUTHORITY,
            tab.REGISTRATION_DATE,
            tab.MORTGAGE_DESC,
            tab.COLLATERAL_CODE,
            tab.NP_GUARANTEE_TYPE,
            tab.SECURED_PARTY,
            tab.BANK_ACCOUNT_NUM,
            tab.BANK_ACCOUNT_NAME,
            tab.BANK_FULL_NAME,
            tab.BANK_BRANCH_NAME,
            tab.ADDRESSINFO,
            tab.CONTACT_INFO,
            tab.APPROVAL_NUMBER,
            tab.CONTRACT_NAME,
            tab.MAIN_CONTRACT_NUMBER
    </sql>

    <select id="queryBpInfo" resultMap="BaseResultMap2" parameterType="java.lang.Long">
        select fpb.bp_role_type,
        hbm.bp_code,
        hbm.bp_name,
        hbm.bp_id,
        fpb.credit_grantor_party
        from fct_project_bp fpb,
        hls_bp_master hbm
        where fpb.bp_id=hbm.bp_id
        and fpb.project_id=#{projectId}
    </select>
    <update id="updateProjectBp" parameterType="com.hand.hls.fct.dto.HlsCusFctProjectBp">
        update fct_project_bp set credit_grantor_party='N' where project_id=#{projectId}
    </update>

    <select id="fctProjectBpQuery2" resultMap="BaseResultMap2" parameterType="com.hand.hls.fct.dto.HlsCusFctProjectBp">
        SELECT
        tab.*
        FROM(
        select
        (
        select hbm.bp_class
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as bp_class,
        (
        select hbm.phone
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as phone,
        (
        select hbm.TAXPAYER_TYPE
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as TAXPAYER_TYPE,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb,hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        and scvb.code_id = scb.code_id
        and scb.code = 'FND.TAXPAYER_TYPE'
        and scvb.value = hbm.TAXPAYER_TYPE
        )as TAXPAYER_TYPE_DESC,
        (
        select hbm.INVOICE_TITLE
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as INVOICE_TITLE,
        (
        select hbm.INVOICE_BP_ADDRESS_PHONE_NUM
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as INVOICE_BP_ADDRESS_PHONE_NUM,
        (
        select hbm.INVOICE_BP_BANK_ACCOUNT
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as INVOICE_BP_BANK_ACCOUNT,
        (
        select hbm.bp_code
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as bp_code,
        (
        select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as bp_name,
        (
        select hbt.description
        from hls_bp_type hbt
        where hbt.bp_type=fpb.bp_role_type
        )as prj_role,
        ( SELECT hbm.LOAN_CARD_NUM FROM hls_bp_master hbm WHERE hbm.bp_id = fpb.bp_id ) AS LOAN_CARD_NUM,
        ( SELECT hbm.ID_TYPE FROM hls_bp_master hbm WHERE hbm.bp_id = fpb.bp_id ) AS ID_TYPE,
        ( SELECT hbm.ID_CARD_NO FROM hls_bp_master hbm WHERE hbm.bp_id = fpb.bp_id ) AS ID_CARD_NO,
        (select scvb.meaning from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id and scvb.value=fpb.bp_role_type
        and scb.code='FCT.BP_TYPE') as bpRoleTypeDesc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id
        and scvb.value=fpb.communal_currency
        and scb.code='FCT.ACCOUNT_CURRENCY'
        ) as communal_currency_desc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id
        and scvb.value=fpb.communal_other_currency
        and scb.code='FCT.ACCOUNT_CURRENCY'
        ) as communal_other_currency_desc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id
        and scvb.value=fpb.guarantee_type
        and scb.code='FND_GUARANTEE_FORM'
        )as guarantee_type_desc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id
        and scvb.value=fpb.np_guarantee_type
        and scb.code='NP.GUARANTEE_TYPE'
        )as np_guarantee_type_desc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id
        and scvb.value=fpb.secured_party
        and scb.code='SECURED_PARTY'
        )as secured_party_desc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id
        and scvb.value=fpb.collateral_type
        and scb.code in ('FND_MORTGAGE_CATEGORY', 'FND_PLEDGE_CATEGORY')
        ) as collateral_type_desc,
        fpb.serial_number,
        fpb.contract_number,
        fpb.project_bp_id,
        fpb.project_id,
        fpb.chance_id,
        fpb.bp_id,
        fpb.bp_role_type,
        fpb.credit_grantor_party,
        fpb.principal_repayment_party,
        fpb.interest_repayment_party,
        fpb.down_repayment_party,
        fpb.use_fee_repayment_party,
        fpb.compensation_repayment_party,
        fpb.repay_guarantee_party,
        fpb.guarantee_type,
        fpb.guarantee_amount,
        fpb.mortgage_guarantee_amount,
        fpb.mortgage_gua_amt_capital,
        fpb.mortgage_rate,
        fpb.mortgage_available_amount,
        fpb.mortgage_avail_amt_capital,
        fpb.pledge_amount,
        fpb.pledge_amount_capital,
        fpb.pledge_rate,
        fpb.repay_guarantee_sub_amount,
        fpb.description,
        fpb.bank_account_id,
        fpb.address_id,
        fpb.contact_info_id,
        fpb.COMMUNAL_CURRENCY,
        fpb.COMMUNAL_OTHER_CURRENCY,
        fpb.COMMUNAL_VALUE,
        fpb.MORTGAGE_EVALUATION_DATE,
        fpb.MORTGAGE_EVALUATION_NAME,
        fpb.MORTGAGE_EVALUATION_CODE,
        fpb.COLLATERAL_TYPE,
        fpb.REGISTRATION_AUTHORITY,
        fpb.REGISTRATION_DATE,
        fpb.MORTGAGE_DESC,
        fpb.COLLATERAL_CODE,
        fpb.NP_GUARANTEE_TYPE,
        fpb.SECURED_PARTY,
        fpb.EXPIRY_DATE,
        HBMBA.BANK_ACCOUNT_NUM,
        HBMBA.BANK_ACCOUNT_NAME,
        HBMBA.BANK_FULL_NAME,
        HBMBA.BANK_BRANCH_NAME,
        concat(concat(concat(concat(HBMA.country,
        ( SELECT t1.DESCRIPTION FROM FND_PROVINCE t1 WHERE t1.province = HBMA.province )),
        ( SELECT t1.DESCRIPTION FROM FND_CITY t1 WHERE t1.city = HBMA.city )),
        ( SELECT t1.DESCRIPTION FROM FND_DISTRICT t1 WHERE t1.district = HBMA.district)),
        HBMA.address) as addressInfo,
        concat(HBMCI.CONTACT_PERSON,HBMCI.CELL_PHONE) as contact_info
        from fct_project_bp fpb
        left join  Hls_Bp_Master_Bank_Account HBMBA on fpb.BANK_ACCOUNT_ID=HBMBA.BANK_ACCOUNT_ID
        left join  hls_bp_master_address HBMA on HBMA.ADDRESS_ID=fpb.ADDRESS_ID
        left join  hls_bp_master_contact_info HBMCI on  HBMCI.CONTACT_INFO_ID=fpb.CONTACT_INFO_ID
        ORDER BY fpb.CREATION_DATE ASC
        )tab
        <where>
            1 = 1
            <if test="projectId!=null">
                and tab.project_id=#{projectId}
            </if>
            <if test="chanceId!=null">
                and tab.chance_id=#{chanceId}
            </if>
            <if test="bpRoleType!=null">
                and tab.bp_role_type=#{bpRoleType}
            </if>
            <if test="sellerAndBuyer!=null and sellerAndBuyer!=''">
                and tab.bp_role_type in ('SELLER','BUYER')
            </if>
            <if test="creditGrantorParty!=null">
                and tab.credit_grantor_party=#{creditGrantorParty}
            </if>
            <if test="bpClass!=null">
                and tab.credit_grantor_party != 'Y'
                and tab.bp_class = #{bpClass}
            </if>
            <!--<if test="prjRole!=null">-->
            <!--and tab.repay_guarantee_party != 'Y'-->
            <!--</if>-->
            <!--<if test="repayGuaranteeParty!=null">-->
            <!--and tab.repay_guarantee_party=#{repayGuaranteeParty}-->
            <!--</if>-->
            <if test="bpName!=null">
                AND tab.bp_name like concat('%',concat(#{bpName},'%'))
            </if>
            <if test="bpCode!=null">
                AND tab.bp_code like concat('%',concat(#{bpCode},'%'))
            </if>

            <if test="repayGuaranteeParty!=null">
                AND (1=2 or tab.repay_guarantee_party ='Y')
            </if>
            <if test="principalRepaymentParty!=null">
                -- 这里只是借用sellerAndBuyer作为bp_id集合的载体
                AND (1=2 or tab.principal_repayment_party ='Y')
            </if>
            <if test="interestRepaymentParty!=null">
                -- 这里只是借用sellerAndBuyer作为bp_id集合的载体
                AND (1=2 or tab.interest_repayment_party ='Y')
            </if>
            <if test="useFeeRepaymentParty!=null">
                -- 这里只是借用sellerAndBuyer作为bp_id集合的载体
                AND (1=2 or tab.use_fee_repayment_party ='Y')
            </if>
        </where>
    </select>



    <select id="fctProjectBpInfoQuery" resultMap="BaseResultMap2" parameterType="com.hand.hls.fct.dto.HlsCusFctProjectBp">
        select tab.* from (SELECT
        fpb.PRJ_BP_ID as prj_bp_id,
        fpb.PRJ_BP_ID as project_bp_id,
        'LEASE' as business_type,
        (SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'LEANDING_TYPE'
        and v.code_value = 'LEASE') business_type_n,
        pp.APPROVAL_NUMBER,
        fc.CONTRACT_NAME,
        fc.CONTRACT_NUMBER MAIN_CONTRACT_NUMBER,
        fpb.SERIAL_NUMBER,
        hbm.BP_ID as BP_ID,
        hbm.bp_name AS BP_NAME,
        ta.bp_name credit_grantor_name,
        fc.sign_date,
        fc.INCEPTION_OF_LEASE as rate_valid_from ,
        (SELECT
        MAX(ccc.DUE_DATE)
        FROM CON_CONTRACT_CASHFLOW ccc
        WHERE
        ccc.CONTRACT_ID = fc.contract_id) AS rate_valid_to,
        CASE WHEN (fc.contract_status = 'TERMINATE' or fc.contract_status = 'END') THEN 'N' ELSE 'Y' END
        contract_status,
        CASE WHEN (fc.contract_status = 'TERMINATE' or fc.contract_status = 'END') THEN '否' ELSE '是' END
        contract_status_n,
        CASE WHEN hbm.bp_class = 'NP' THEN hbm.id_card_no ELSE hbm.loan_card_num END loan_card_num,
        ( SELECT
        scvb.MEANING
        FROM
        SYS_CODE_VALUE_B scvb
        LEFT JOIN SYS_CODE_B scb ON
        scb.CODE_ID = scvb.CODE_ID
        WHERE
        scb.CODE = 'FCT.ACCOUNT_CURRENCY'
        AND scvb.VALUE = fpb.COMMUNAL_CURRENCY) AS COMMUNAL_CURRENCY,
        nvl(fpb.guarantee_amount, 0) guarantee_amount_str,
        ( SELECT
        scvb.MEANING
        FROM
        SYS_CODE_VALUE_B scvb
        LEFT JOIN SYS_CODE_B scb ON
        scb.CODE_ID = scvb.CODE_ID
        WHERE
        scb.CODE = 'FND_GUARANTEE_FORM'
        AND scvb.value = fpb.guarantee_type) AS guarantee_type,
        ( SELECT
        scvb.MEANING
        FROM
        SYS_CODE_VALUE_B scvb
        LEFT JOIN SYS_CODE_B scb ON
        scb.CODE_ID = scvb.CODE_ID
        WHERE
        scb.CODE = 'FCT.ACCOUNT_CURRENCY'
        AND scvb.VALUE = fpb.COMMUNAL_OTHER_CURRENCY) AS COMMUNAL_OTHER_CURRENCY,
        fpb.MORTGAGE_EVALUATION_DATE,
        fpb.MORTGAGE_EVALUATION_NAME,
        fpb.MORTGAGE_EVALUATION_CODE,
        CASE WHEN fpb.BP_ROLE_TYPE = 'PLEDGOR' THEN
        ( SELECT
        scvb.MEANING
        FROM
        SYS_CODE_VALUE_B scvb
        LEFT JOIN SYS_CODE_B scb ON
        scb.CODE_ID = scvb.CODE_ID
        WHERE
        scb.CODE = 'FND_PLEDGE_CATEGORY'
        AND scvb.VALUE = fpb.COLLATERAL_TYPE)
        WHEN fpb.BP_ROLE_TYPE = 'MORTGAGOR' THEN
        ( SELECT
        scvb.MEANING
        FROM
        SYS_CODE_VALUE_B scvb
        LEFT JOIN SYS_CODE_B scb ON
        scb.CODE_ID = scvb.CODE_ID
        WHERE
        scb.CODE = 'FND_MORTGAGE_CATEGORY'
        AND scvb.VALUE = fpb.COLLATERAL_TYPE) ELSE fpb.COLLATERAL_TYPE END AS COLLATERAL_TYPE,
        fpb.REGISTRATION_AUTHORITY,
        fpb.REGISTRATION_DATE,
        fpb.MORTGAGE_DESC,
        fpb.COLLATERAL_CODE,
        nvl(fpb.COMMUNAL_VALUE, 0) COMMUNAL_VALUE,
        fpb.EXPIRY_DATE,
        fpb.REMARKS AS REMARKS
        FROM
        PRJ_PROJECT_BP fpb
        LEFT JOIN hls_bp_master hbm ON
        hbm.bp_id = fpb.bp_id
        LEFT JOIN CON_CONTRACT fc ON
        fpb.PROJECT_ID = fc.PROJECT_ID
        LEFT JOIN PRJ_PROJECT pp ON
        pp.PROJECT_ID = fc.PROJECT_ID
        LEFT JOIN ( SELECT
        fpb.PROJECT_ID,
        hbm.BP_NAME
        FROM
        PRJ_PROJECT_BP fpb
        LEFT JOIN hls_bp_master hbm ON
        fpb.BP_ID = hbm.BP_ID
        WHERE
        fpb.BP_TYPE = 'TENANT' ) ta ON
        ta.project_id = fpb.project_id
        WHERE
        fpb.PROJECT_ID IS NOT NULL
        AND fc.DATA_CLASS = 'NORMAL'
        AND
        ( fc.CONTRACT_STATUS IN ('INCEPT', 'TERMINATE','END')
        OR ( fc.CONTRACT_STATUS = 'PENDING'
        AND ( SELECT COUNT(0) FROM
        CON_CONTRACT fcc
        WHERE
        fcc.ref_contract_id = fc.contract_id
        AND fcc.contract_status = 'INCEPT'
        AND fcc.data_class = 'CHANGE_REQ' )> 0
        )
        )
        <if test="projectId!=null">
            and fpb.project_id=#{projectId}
        </if>
        <if test="bpRoleType!=null">
            and fpb.bp_role_type=#{bpRoleType}
        </if>
        <if test="sellerAndBuyer!=null and sellerAndBuyer!=''">
            and fpb.bp_role_type in ('SELLER','BUYER')
        </if>
        <if test="bpName!=null and bpName!=''">
            AND hbm.bp_name like '%'||#{bpName}||'%'
        </if>
        <if test="creditGrantorName!=null and creditGrantorName!=''">
            AND ta.bp_name like '%'||#{creditGrantorName}||'%'
        </if>
        <if test="contractName!=null and contractName!=''">
            AND fc.contract_name like '%'||#{contractName}||'%'
        </if>
        <if test="bpCode!=null">
            AND hbm.bp_code like '%'||#{bpCode}||'%'
        </if>

        <if test="projectBpId!=null and projectBpId!=0">
            AND fpb.PRJ_BP_ID = #{projectBpId}
        </if>
        UNION
        SELECT
        fpb.project_bp_id as prj_bp_id,
        fpb.project_bp_id as project_bp_id,
        'FACTOR' business_type,
        (SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'LEANDING_TYPE'
        and v.code_value = 'FACTOR') business_type_n,
        fp.approval_number as approval_number,
        fp.contract_name as contract_name,
        fp.contract_number as main_contract_number,
        fpb.SERIAL_NUMBER,
        fpb.bp_id as BP_ID,
        hbm.bp_name,
        (select hbm.bp_name from fct_project_bp fpp,hls_bp_master hb
        where fpp.project_id=fp.project_id and fpp.credit_grantor_party='Y' and fpp.bp_id=hb.bp_id)as
        credit_grantor_name,
        fp.sign_date,
        fc.rate_valid_from,
        fc.rate_valid_to,
        CASE WHEN (fc.contract_status = 'TERMINATE' or fc.contract_status = 'END') THEN 'N' ELSE 'Y' END
        contract_status,
        CASE WHEN (fc.contract_status = 'TERMINATE' or fc.contract_status = 'END') THEN '否' ELSE '是' END
        contract_status_n,
        CASE WHEN hbm.bp_class = 'NP' THEN hbm.id_card_no ELSE hbm.loan_card_num END loan_card_num,
        ( SELECT
        scvb.MEANING
        FROM
        SYS_CODE_VALUE_B scvb
        LEFT JOIN SYS_CODE_B scb ON
        scb.CODE_ID = scvb.CODE_ID
        WHERE
        scb.CODE = 'FCT.ACCOUNT_CURRENCY'
        AND scvb.VALUE = fpb.COMMUNAL_CURRENCY) AS COMMUNAL_CURRENCY,
      nvl(fpb.guarantee_amount, 0) guarantee_amount_str,
        ( SELECT
        scvb.MEANING
        FROM
        SYS_CODE_VALUE_B scvb
        LEFT JOIN SYS_CODE_B scb ON
        scb.CODE_ID = scvb.CODE_ID
        WHERE
        scb.CODE = 'FND_GUARANTEE_FORM'
        AND scvb.value = fpb.guarantee_type) AS guarantee_type,
        ( SELECT
        scvb.MEANING
        FROM
        SYS_CODE_VALUE_B scvb
        LEFT JOIN SYS_CODE_B scb ON
        scb.CODE_ID = scvb.CODE_ID
        WHERE
        scb.CODE = 'FCT.ACCOUNT_CURRENCY'
        AND scvb.VALUE = fpb.COMMUNAL_OTHER_CURRENCY) AS COMMUNAL_OTHER_CURRENCY,
        fpb.MORTGAGE_EVALUATION_DATE,
        fpb.MORTGAGE_EVALUATION_NAME,
        fpb.MORTGAGE_EVALUATION_CODE,
        CASE WHEN fpb.BP_ROLE_TYPE = 'PLEDGOR' THEN ( SELECT scvb.MEANING FROM SYS_CODE_VALUE_B scvb LEFT JOIN
        SYS_CODE_B scb ON scb.CODE_ID = scvb.CODE_ID
        WHERE
        scb.CODE = 'FND_PLEDGE_CATEGORY'
        AND scvb.VALUE = fpb.COLLATERAL_TYPE) WHEN fpb.BP_ROLE_TYPE = 'MORTGAGOR' THEN ( SELECT
        scvb.MEANING
        FROM
        SYS_CODE_VALUE_B scvb
        LEFT JOIN SYS_CODE_B scb ON
        scb.CODE_ID = scvb.CODE_ID
        WHERE
        scb.CODE = 'FND_MORTGAGE_CATEGORY'
        AND scvb.VALUE = fpb.COLLATERAL_TYPE) ELSE fpb.COLLATERAL_TYPE END AS COLLATERAL_TYPE,
        fpb.REGISTRATION_AUTHORITY,
        fpb.REGISTRATION_DATE,
        fpb.MORTGAGE_DESC,
        fpb.COLLATERAL_CODE,
       nvl(fpb.COMMUNAL_VALUE, 0) COMMUNAL_VALUE,
        fpb.EXPIRY_DATE,
        fpb.REMARKS AS REMARKS
        FROM
        fct_project_bp fpb LEFT JOIN hls_bp_master hbm ON
        hbm.bp_id = fpb.bp_id
        LEFT JOIN FCT_CONTRACT fc ON
        fpb.PROJECT_ID = fc.PROJECT_ID
        LEFT JOIN fct_PROJECT fp ON
        fp.PROJECT_ID = fc.PROJECT_ID
        LEFT JOIN ( SELECT
        fpb.PROJECT_ID,
        hbm.BP_NAME
        FROM
        fct_PROJECT_BP fpb
        LEFT JOIN hls_bp_master hbm ON
        fpb.BP_ID = hbm.BP_ID
        WHERE
        fpb.credit_grantor_party='Y' ) ta ON
        ta.project_id = fpb.project_id
        WHERE
        fpb.PROJECT_ID IS NOT NULL
        and fp.project_id=fpb.project_id
        and hbm.bp_id = fpb.bp_id
        and fp.data_class='VIRTUAL_CON'
        AND fp.data_type='NORMAL'
        AND fc.DATA_CLASS = 'NORMAL'
        AND
        ( fc.CONTRACT_STATUS IN ('INCEPT', 'TERMINATE','END')
        OR ( fc.CONTRACT_STATUS = 'PENDING'
        AND ( SELECT COUNT(0) FROM
        fct_CONTRACT fcc
        WHERE
        fcc.ref_contract_id = fc.contract_id
        AND fcc.contract_status = 'INCEPT'
        AND fcc.data_class = 'CHANGE_REQ' )> 0
        )
        )
        <if test="projectId!=null">
            and fpb.project_id=#{projectId}
        </if>
        <if test="bpRoleType!=null">
            and fpb.bp_role_type=#{bpRoleType}
        </if>
        <if test="sellerAndBuyer!=null and sellerAndBuyer!=''">
            and fpb.bp_role_type in ('SELLER','BUYER')
        </if>
        <if test="creditGrantorParty!=null">
            and fpb.credit_grantor_party=#{creditGrantorParty}
        </if>
        <if test="bpName!=null and bpName!=''">
            AND hbm.bp_name like '%'||#{bpName}||'%'
        </if>
        <if test="creditGrantorName!=null and creditGrantorName!=''">
            AND ta.bp_name like '%'||#{creditGrantorName}||'%'
        </if>
        <if test="contractName!=null and contractName!=''">
            AND fc.contract_name like '%'||#{contractName}||'%'
        </if>
        <if test="bpCode!=null">
            AND hbm.bp_code like '%'||#{bpCode}||'%'
        </if>

        <if test="projectBpId!=null and projectBpId!=0">
            AND fpb.project_bp_id = #{projectBpId}
        </if>) tab
        where
        1=1
        <if test="businessType!=null">
            and tab.business_type = #{businessType}
        </if>
        <if test="contractStatus!=null">
            and tab.contract_status = #{contractStatus}
        </if>
    </select>


    <resultMap id="sysLovMap" type="java.util.Map">
        <result column="meaning" property="meaning" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryMortgagePersion" parameterType="java.lang.Long" resultMap="sysLovMap">
        SELECT
        fpb.bp_id as value,
        (select bp_name from hls_bp_master where bp_id=fpb.bp_id) as meaning
        FROM
        fct_project_bp fpb
        WHERE
        project_id = #{projectId}
    </select>

    <select id="selectSellerInfoByProjectId" parameterType="java.lang.Long" resultMap="BaseResultMap2">
        select BANK_ACCOUNT_ID,BP_ID,PROJECT_BP_ID from fct_project_bp where PROJECT_ID=#{projectId} and BP_ROLE_TYPE='SELLER'
    </select>

    <select id="queryCreditGrantorByProjectId" resultMap="BaseResultMap2" parameterType="java.lang.Long">
        select fpb.bp_role_type,
        hbm.bp_code,
        hbm.bp_name,
        hbm.bp_id,
        fpb.credit_grantor_party
        from fct_project_bp fpb,
        hls_bp_master hbm
        where fpb.bp_id=hbm.bp_id
        and FPB.CREDIT_GRANTOR_PARTY='Y'
        and fpb.project_id=#{projectId}
    </select>

    <select id="fctProjectBpQuery1" resultMap="BaseResultMap2" parameterType="com.hand.hls.fct.dto.HlsCusFctProjectBp">
        select
        (
        select hbm.bp_code
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as bp_code,
        (
        select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as bp_name,
        (
        select hbt.description
        from hls_bp_type hbt
        where hbt.bp_type=fpb.bp_role_type
        )as prj_role,

        fpb.contract_number,
        fpb.project_bp_id,
        fpb.project_id,
        fpb.chance_id,
        fpb.bp_id,
        fpb.bp_role_type,
        fpb.credit_grantor_party,
        fpb.principal_repayment_party,
        fpb.interest_repayment_party,
        fpb.down_repayment_party,
        fpb.use_fee_repayment_party,
        fpb.compensation_repayment_party,
        fpb.repay_guarantee_party,
        fpb.guarantee_type,
        fpb.guarantee_amount,
        fpb.mortgage_guarantee_amount,
        fpb.mortgage_gua_amt_capital,
        fpb.mortgage_rate,
        fpb.mortgage_available_amount,
        fpb.mortgage_avail_amt_capital,
        fpb.pledge_amount,
        fpb.pledge_amount_capital,
        fpb.pledge_rate,
        fpb.repay_guarantee_sub_amount,
        fpb.description,
        fpb.object_version_number,
        fpb.bank_account_id,
        fpb.address_id,
        fpb.contact_info_id,
        fpb.COMMUNAL_CURRENCY,
        fpb.COMMUNAL_OTHER_CURRENCY,
        fpb.COMMUNAL_VALUE,
        fpb.MORTGAGE_EVALUATION_DATE,
        fpb.MORTGAGE_EVALUATION_NAME,
        fpb.MORTGAGE_EVALUATION_CODE,
        fpb.COLLATERAL_TYPE,
        fpb.REGISTRATION_AUTHORITY,
        fpb.REGISTRATION_DATE,
        fpb.MORTGAGE_DESC,
        fpb.COLLATERAL_CODE,
        hbmba.BANK_ACCOUNT_NUM,
        hbmba.BANK_ACCOUNT_NAME,
        hbmba.BANK_FULL_NAME as bank_name
        from fct_project_bp fpb
        left join hls_bp_master_bank_account hbmba on fpb.BANK_ACCOUNT_ID=hbmba.BANK_ACCOUNT_ID
        <where>
            1=1
            <if test="projectId!=null">
                and fpb.project_id=#{projectId}
            </if>
            <if test="bpRoleType!=null">
                and fpb.bp_role_type=#{bpRoleType}
            </if>
            <if test="sellerAndBuyer!=null and sellerAndBuyer!=''">
                and fpb.bp_role_type in ('SELLER','BUYER')
            </if>
            <if test="bpName!=null">
                AND fpb.bp_name like  concat('%',concat(#{bpName},'%'))
            </if>
            <if test="bpCode!=null">
                AND fpb.bp_code like concat('%',concat(#{bpCode},'%'))
            </if>
        </where>
    </select>

    <select id="selectBpMasterNotSave" resultMap="BaseResultMap2">
        select
        hbm.bp_code,
        hbm.bp_name
        from
        fct_project_bp fpb
        join
        hls_bp_master hbm
        on
        hbm.bp_id=fpb.bp_id
        where (hbm.save_flag='N'
        or hbm.save_flag is null)
        and fpb.project_id=#{projectId}
    </select>



    <sql id="selectSentBpName_sql">
        tab.*
        FROM(
        select
        FC.contract_number,
        fpb.project_id,
        fpb.principal_repayment_party,
        fpb.interest_repayment_party,
        fpb.down_repayment_party,
        fpb.use_fee_repayment_party,
        fpb.compensation_repayment_party,
        fpb.repay_guarantee_party,
        fpb.bp_role_type,
        concat(concat(concat(concat(HBMA.country,
        ( SELECT t1.DESCRIPTION FROM FND_PROVINCE t1 WHERE t1.province = HBMA.province )),
        ( SELECT t1.DESCRIPTION FROM FND_CITY t1 WHERE t1.city = HBMA.city )),
        ( SELECT t1.DESCRIPTION FROM FND_DISTRICT t1 WHERE t1.district = HBMA.district)),
        HBMA.address) as addressInfo,
        HBMCI.CONTACT_PERSON AS recipient,
        HBMCI.CELL_PHONE AS  contact_info
        from fct_project_bp fpb
        left join  hls_bp_master_address HBMA on HBMA.ADDRESS_ID=fpb.ADDRESS_ID
        left join  hls_bp_master_contact_info HBMCI on  HBMCI.CONTACT_INFO_ID=fpb.CONTACT_INFO_ID
        LEFT JOIN FCT_CONTRACT FC ON FC.PROJECT_ID = FPB.PROJECT_ID
        WHERE
        FC.DATA_CLASS = 'NORMAL'
        ORDER BY fpb.CREATION_DATE ASC
        )tab
        where
        tab.bp_role_type in ('SELLER','BUYER')
        --             and tab.repay_guarantee_party= 'N'
        and tab.contract_number = #{contractNumber}
    </sql>

    <select id="selectSentBpName" resultMap="BaseResultMap2" parameterType="com.hand.hls.fct.dto.HlsCusFctProjectBp">
        SELECT CON.* FROM (
        SELECT
        FC.contract_id,
        fpb.project_id,
        FC.DOCUMENT_CATEGORY,
        concat(concat(concat(concat(HBMA.country,
        (
        SELECT
        t1.DESCRIPTION
        FROM
        FND_PROVINCE t1
        WHERE
        t1.province = HBMA.province )),
        (
        SELECT
        t1.DESCRIPTION
        FROM
        FND_CITY t1
        WHERE
        t1.city = HBMA.city )),
        (
        SELECT
        t1.DESCRIPTION
        FROM
        FND_DISTRICT t1
        WHERE
        t1.district = HBMA.district)), HBMA.address) AS addressInfo,
        HBMCI.CONTACT_PERSON                                 AS recipient,
        HBMCI.CELL_PHONE                                     AS contact_info,
        (case when fpb.principal_repayment_party = 'Y' then '本金支付方 ' else '' end) || (case when fpb.interest_repayment_party =
        'Y' then '利息支付方 ' else '' end ) || (case when fpb.repay_guarantee_party = 'Y' then '保证金支付方 'else '' end)|| (case when
        fpb.use_fee_repayment_party = 'Y' then '咨询服务费支付方 ' else '' end) description
        FROM
        fct_project_bp fpb
        JOIN
        FCT_CONTRACT FC
        ON
        FC.PROJECT_ID = FPB.PROJECT_ID
        LEFT JOIN
        hls_bp_master_address HBMA
        ON
        HBMA.ADDRESS_ID=fpb.ADDRESS_ID
        LEFT JOIN
        hls_bp_master_contact_info HBMCI
        ON
        HBMCI.CONTACT_INFO_ID=fpb.CONTACT_INFO_ID
        WHERE
        FC.DATA_CLASS = 'NORMAL'
        AND HBMCI.CONTACT_PERSON is not null
        AND fpb.bp_role_type in ('SELLER','BUYER')
        UNION
        SELECT
        CC.CONTRACT_ID,
        PPB.PROJECT_ID,
        CC.DOCUMENT_CATEGORY,
        concat(concat(concat(concat(HBMA.country,
        (
        SELECT
        t1.DESCRIPTION
        FROM
        FND_PROVINCE t1
        WHERE
        t1.province = HBMA.province )),
        (
        SELECT
        t1.DESCRIPTION
        FROM
        FND_CITY t1
        WHERE
        t1.city = HBMA.city )),
        (
        SELECT
        t1.DESCRIPTION
        FROM
        FND_DISTRICT t1
        WHERE
        t1.district = HBMA.district)), HBMA.address) AS addressInfo,
        HBMCI.CONTACT_PERSON                                 AS recipient,
        HBMCI.CELL_PHONE                                     AS contact_info,
        '租金'                                                 AS description
        FROM
        PRJ_PROJECT_BP PPB
        JOIN
        CON_CONTRACT CC
        ON
        PPB.PROJECT_ID=CC.PROJECT_ID
        LEFT JOIN
        hls_bp_master_address HBMA
        ON
        HBMA.ADDRESS_ID=PPB.ADDRESS_ID
        LEFT JOIN
        hls_bp_master_contact_info HBMCI
        ON
        HBMCI.CONTACT_INFO_ID=PPB.CONTACT_INFO_ID
        WHERE
        PPB.BP_TYPE='TENANT'
        ) CON
        WHERE 1=1
        AND CON.CONTRACT_ID=#{contractId}
        AND CON.DOCUMENT_CATEGORY=#{businessType}
        <if test="recipient!=null and recipient!=''">
            AND CON.recipient like  concat('%',concat(#{recipient},'%'))
        </if>
    </select>

    <select id="fctProjectBpQueryAccount" resultMap="BaseResultMap2" parameterType="com.hand.hls.fct.dto.HlsCusFctProjectBp">
        SELECT
        tab.*
        FROM(
        select
        (
        select hbm.bp_class
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as bp_class,
        (
        select hbm.phone
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as phone,
        (
        select hbm.TAXPAYER_TYPE
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as TAXPAYER_TYPE,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb,hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        and scvb.code_id = scb.code_id
        and scb.code = 'FND.TAXPAYER_TYPE'
        and scvb.value = hbm.TAXPAYER_TYPE
        )as TAXPAYER_TYPE_DESC,
        (
        select hbm.INVOICE_TITLE
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as INVOICE_TITLE,
        (
        select hbm.INVOICE_BP_ADDRESS_PHONE_NUM
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as INVOICE_BP_ADDRESS_PHONE_NUM,
        (
        select hbm.INVOICE_BP_BANK_ACCOUNT
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as INVOICE_BP_BANK_ACCOUNT,
        (
        select hbm.bp_code
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as bp_code,
        (
        select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id=fpb.bp_id
        )as bp_name,
        (
        select hbt.description
        from hls_bp_type hbt
        where hbt.bp_type=fpb.bp_role_type
        )as prj_role,
        ( SELECT hbm.LOAN_CARD_NUM FROM hls_bp_master hbm WHERE hbm.bp_id = fpb.bp_id ) AS LOAN_CARD_NUM,
        ( SELECT hbm.ID_TYPE FROM hls_bp_master hbm WHERE hbm.bp_id = fpb.bp_id ) AS ID_TYPE,
        ( SELECT hbm.ID_CARD_NO FROM hls_bp_master hbm WHERE hbm.bp_id = fpb.bp_id ) AS ID_CARD_NO,
        (select scvb.meaning from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id and scvb.value=fpb.bp_role_type
        and scb.code='FCT.BP_TYPE') as bpRoleTypeDesc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id
        and scvb.value=fpb.communal_currency
        and scb.code='FCT.ACCOUNT_CURRENCY'
        ) as communal_currency_desc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id
        and scvb.value=fpb.communal_other_currency
        and scb.code='FCT.ACCOUNT_CURRENCY'
        ) as communal_other_currency_desc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id
        and scvb.value=fpb.guarantee_type
        and scb.code='FND_GUARANTEE_FORM'
        )as guarantee_type_desc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id
        and scvb.value=fpb.np_guarantee_type
        and scb.code='NP.GUARANTEE_TYPE'
        )as np_guarantee_type_desc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id
        and scvb.value=fpb.secured_party
        and scb.code='SECURED_PARTY'
        )as secured_party_desc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scb.code_id=scvb.code_id
        and scvb.value=fpb.collateral_type
        and scb.code in ('FND_MORTGAGE_CATEGORY', 'FND_PLEDGE_CATEGORY')
        ) as collateral_type_desc,
        fpb.serial_number,
        fpb.contract_number,
        fpb.project_bp_id,
        fpb.project_id,
        fpb.chance_id,
        fpb.bp_id,
        fpb.bp_role_type,
        fpb.credit_grantor_party,
        fpb.principal_repayment_party,
        fpb.interest_repayment_party,
        fpb.down_repayment_party,
        fpb.use_fee_repayment_party,
        fpb.compensation_repayment_party,
        fpb.repay_guarantee_party,
        fpb.guarantee_type,
        fpb.guarantee_amount,
        fpb.mortgage_guarantee_amount,
        fpb.mortgage_gua_amt_capital,
        fpb.mortgage_rate,
        fpb.mortgage_available_amount,
        fpb.mortgage_avail_amt_capital,
        fpb.pledge_amount,
        fpb.pledge_amount_capital,
        fpb.pledge_rate,
        fpb.repay_guarantee_sub_amount,
        fpb.description,
        fpb.bank_account_id,
        fpb.address_id,
        fpb.contact_info_id,
        fpb.COMMUNAL_CURRENCY,
        fpb.COMMUNAL_OTHER_CURRENCY,
        fpb.COMMUNAL_VALUE,
        fpb.MORTGAGE_EVALUATION_DATE,
        fpb.MORTGAGE_EVALUATION_NAME,
        fpb.MORTGAGE_EVALUATION_CODE,
        fpb.COLLATERAL_TYPE,
        fpb.REGISTRATION_AUTHORITY,
        fpb.REGISTRATION_DATE,
        fpb.MORTGAGE_DESC,
        fpb.COLLATERAL_CODE,
        fpb.NP_GUARANTEE_TYPE,
        fpb.SECURED_PARTY,
        fpb.EXPIRY_DATE,
        HBMBA.BANK_ACCOUNT_NUM,
        HBMBA.BANK_ACCOUNT_NAME,
        HBMBA.BANK_FULL_NAME,
        HBMBA.BANK_BRANCH_NAME,
        concat(concat(concat(concat(HBMA.country,
        ( SELECT t1.DESCRIPTION FROM FND_PROVINCE t1 WHERE t1.province = HBMA.province )),
        ( SELECT t1.DESCRIPTION FROM FND_CITY t1 WHERE t1.city = HBMA.city )),
        ( SELECT t1.DESCRIPTION FROM FND_DISTRICT t1 WHERE t1.district = HBMA.district)),
        HBMA.address) as addressInfo,
        concat(HBMCI.CONTACT_PERSON,HBMCI.CELL_PHONE) as contact_info
        from fct_project_bp fpb
        left join Hls_Bp_Master_Bank_Account HBMBA on fpb.BANK_ACCOUNT_ID=HBMBA.BANK_ACCOUNT_ID
        left join hls_bp_master_address HBMA on HBMA.ADDRESS_ID=fpb.ADDRESS_ID
        left join hls_bp_master_contact_info HBMCI on HBMCI.CONTACT_INFO_ID=fpb.CONTACT_INFO_ID
        ORDER BY fpb.CREATION_DATE ASC
        )tab
        <where>
            1 = 1
            <if test="projectId!=null">
                and tab.project_id=#{projectId}
            </if>
            <if test="chanceId!=null">
                and tab.chance_id=#{chanceId}
            </if>
            <if test="bpRoleType!=null">
                and tab.bp_role_type=#{bpRoleType}
            </if>
            <if test="sellerAndBuyer!=null and sellerAndBuyer!=''">
                and tab.bp_role_type in ('SELLER','BUYER')
            </if>
            <if test="creditGrantorParty!=null">
                and tab.credit_grantor_party=#{creditGrantorParty}
            </if>
            <if test="bpClass!=null">
                and tab.credit_grantor_party != 'Y'
                and tab.bp_class = #{bpClass}
            </if>
            <!--<if test="prjRole!=null">-->
            <!--and tab.repay_guarantee_party != 'Y'-->
            <!--</if>-->
            <!--<if test="repayGuaranteeParty!=null">-->
            <!--and tab.repay_guarantee_party=#{repayGuaranteeParty}-->
            <!--</if>-->
            <if test="bpName!=null">
                AND tab.bp_name like concat('%',concat(#{bpName},'%'))
            </if>
            <if test="bpCode!=null">
                AND tab.bp_code like concat('%',concat(#{bpCode},'%'))
            </if>

            and (1=2
            <if test="repayGuaranteeParty!=null">
                or tab.repay_guarantee_party ='Y'
            </if>
            <if test="principalRepaymentParty!=null">
                -- 这里只是借用sellerAndBuyer作为bp_id集合的载体
                or tab.principal_repayment_party ='Y'
            </if>
            <if test="interestRepaymentParty!=null">
                -- 这里只是借用sellerAndBuyer作为bp_id集合的载体
                or tab.interest_repayment_party ='Y'
            </if>
            <if test="useFeeRepaymentParty!=null">
                -- 这里只是借用sellerAndBuyer作为bp_id集合的载体
                or tab.use_fee_repayment_party ='Y'
            </if>)
        </where>
    </select>
</mapper>
