<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.FundingPlanAttachmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.FundingPlanAttachment">
        <result column="FUNDING_PLAN_ATTACHMENT_ID" property="fundingPlanAttachmentId" jdbcType="DECIMAL" />
        <result column="FUNDING_PLAN_ID" property="fundingPlanId" jdbcType="DECIMAL" />
        <result column="ATTACHMENT_CATEGORY" property="attachmentCategory" jdbcType="VARCHAR" />
        <result column="DOCUMENT_NAME" property="documentName" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="DOCUMENT_ID" property="documentId" jdbcType="DECIMAL" />
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR" />

        <result column="upload_date" property="uploadDate" jdbcType="VARCHAR" />
        <result column="UPLOAD_PERSON" property="uploadPerson" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryFundingAttachment" resultMap="BaseResultMap" parameterType="com.hand.hls.hls.dto.FundingPlanAttachment">
        SELECT
        hfpa.funding_plan_attachment_id,

        hfpa.document_name,
        hfpa.funding_plan_id,
        (select su.description from sys_user su where su.user_id = hfpa.created_by ) UPLOAD_PERSON,
        hfpa.description,
        hfpa.creation_date upload_date
        FROM
        HLS_FUNDING_PLAN_ATTACHMENT hfpa
        <where>
            hfpa.attachment_category = 'FUNDING_PLAN_ATT'
            <if test="fundingPlanId">
                and hfpa.funding_plan_id = #{fundingPlanId}
            </if>
        </where>
    </select>

</mapper>