<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.FundingBranchReferrerMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.FundingBranchReferrer">
        <result column="BRANCH_REFERRER_ID" property="branchReferrerId" jdbcType="DECIMAL" />
        <result column="FUNDING_PLAN_ID" property="fundingPlanId" jdbcType="DECIMAL" />
        <result column="REFERRER_NAME" property="referrerName" jdbcType="VARCHAR" />
        <result column="HUMAN_RESOURCE_NO" property="humanResourceNo" jdbcType="VARCHAR" />
        <result column="PROPORTION" property="proportion" jdbcType="DECIMAL" />
    </resultMap>
    <select id="queryFundingBranchReferrer" resultMap="BaseResultMap" parameterType="com.hand.hls.hls.dto.FundingPlanAttachment">
        SELECT
        hfbr.*
        FROM
        HLS_FUNDING_BRANCH_REFERRER hfbr
        <where>
            hfbr.funding_plan_id = #{fundingPlanId}

        </where>
    </select>

</mapper>