<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.FundingPlanInflowMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.FundingPlanInflow">
        <result column="FUNDING_PLAN_INFLOW_ID" property="fundingPlanInflowId" jdbcType="DECIMAL" />
        <result column="FUNDING_PLAN_ID" property="fundingPlanId" jdbcType="DECIMAL" />
        <result column="CASHFLOW_ID" property="cashflowId" jdbcType="DECIMAL" />
        <result column="CF_ITEM" property="cfItem" jdbcType="DECIMAL" />
        <result column="CF_DIRECTION" property="cfDirection" jdbcType="VARCHAR" />
        <result column="DUE_DATE" property="dueDate" jdbcType="DATE" />
        <result column="DUE_AMOUNT" property="dueAmount" jdbcType="DECIMAL" />


        <result column="contract_id" property="contractId" jdbcType="DECIMAL" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="BANK_ACCOUNT_NAME" property="bankAccountName" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_NUM" property="bankAccountNum" jdbcType="VARCHAR" />
        <result column="BANK_BRANCH_NAME" property="bankBranchName" jdbcType="VARCHAR" />
        <result column="seq_num" property="seqNum" jdbcType="DECIMAL" />
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR" />
        <result column="payment_number" property="paymentNumber" jdbcType="VARCHAR" />
        <result column="cf_item_n" property="cfItemN" jdbcType="VARCHAR" />
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="cashflow_id_n" property="cashflowIdN" jdbcType="VARCHAR" />
        <result column="payment_method_n" property="paymentMethodN" jdbcType="VARCHAR" />
        <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR" />
        <result column="bank_account_id" property="bankAccountId" jdbcType="DECIMAL" />
        <result column="payment_req_ln_id" property="paymentReqLnId" jdbcType="DECIMAL" />
        <result column="payment_req_id" property="paymentReqId" jdbcType="DECIMAL" />
        <result column="source_doc_category" property="sourceDocCategory" jdbcType="DECIMAL" />
        <result column="source_doc_id" property="sourceDocId" jdbcType="DECIMAL" />
        <result column="source_doc_line_id" property="sourceDocLineId" jdbcType="DECIMAL" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="times" property="times" jdbcType="DECIMAL" />
        <result column="cf_type" property="cfType" jdbcType="DECIMAL" />
    </resultMap>
    <select id="queryFundingPlanInflow" resultMap="BaseResultMap" parameterType="com.hand.hls.hls.dto.FundingPlanInflow">
        select
        inflow.cashflow_id,
        1 seq_num,
        cc.contract_number,
        c.cashflow_id,
        c.contract_id,
        c.cf_item,
        c.cf_type,
        c.cf_direction,
        c.cf_status,
        c.times,
        (select h.description from hls_cashflow_item h where h.cf_item = c.cf_item)cashflow_id_n,
        c.due_date,
        c.due_amount,
        case when c.bp_id is null then
        (
        select  hbm.bp_id
        from prj_project_bp ppb,hls_bp_master hbm
        where ppb.project_id = cc.project_id and ppb.bp_type = 'TENANT'
        and ppb.bp_id = hbm.bp_id
        and  rownum=1
        )
        else
        c.bp_id end
        bp_id,
        case when c.bp_id is null then
        (
        select  hbm.bp_name
        from prj_project_bp ppb,hls_bp_master hbm
        where ppb.project_id = cc.project_id and ppb.bp_type = 'TENANT'
        and ppb.bp_id = hbm.bp_id
        and rownum=1
        )
        else
        (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id = c.bp_id)
        end
        bp_id_n,
        hba.bank_account_id,
        case when hba.bank_account_name is null then
        (
        select  hbma.bank_account_name
        from prj_project_bp ppb,hls_bp_master_bank_account hbma
        where ppb.project_id = cc.project_id and ppb.bp_type = 'TENANT'
        and ppb.bank_account_id = hbma.bank_account_id
        and rownum=1
        )
        else
        hba.bank_account_name
        end
        bank_account_name,
        case when hba.bank_account_num is null then
        (
        select  hbma.bank_account_num
        from prj_project_bp ppb,hls_bp_master_bank_account hbma
        where ppb.project_id = cc.project_id and ppb.bp_type = 'TENANT'
        and ppb.bank_account_id = hbma.bank_account_id
        and rownum=1
        )
        else
        hba.bank_account_num
        end bank_account_num,
        case when hba.bank_full_name is null then
        (
        select  hbma.bank_full_name
        from prj_project_bp ppb,hls_bp_master_bank_account hbma
        where ppb.project_id = cc.project_id and ppb.bp_type = 'TENANT'
        and ppb.bank_account_id = hbma.bank_account_id
        and rownum=1
        )
        else
        hba.bank_full_name
        end bank_branch_name,
        c.payment_method,
        s.MEANING payment_method_n,
        c.FUNDING_PLAN_STATUS
        from con_contract_cashflow c left join sys_code_value_b_v s
        on s.CODE = 'CSH.PAYMENT_METHOD'
        and c.payment_method = s.code_value
        left join hls_bp_master_bank_account hba on
        hba.bank_account_id = c.bank_account_id ,
        con_contract cc,
        hls_funding_plan_inflow inflow

        <where>
            c.contract_id = cc.contract_id
            and c.cf_direction = 'INFLOW'
            and inflow.cashflow_id = c.cashflow_id
            <if test="fundingPlanId!=null and fundingPlanId!=''">
                and inflow.funding_plan_id = #{fundingPlanId}
            </if>
        </where>
    </select>

</mapper>