<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.HlsCusFundingPlanGreenMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.HlsCusFundingPlanGreen">
        <result column="GREEN_ID" property="greenId" jdbcType="DECIMAL" />
        <result column="FUNDING_PLAN_ID" property="fundingPlanId" jdbcType="DECIMAL" />
        <result column="GREEN_ONE" property="greenOne" jdbcType="VARCHAR" />
        <result column="GREEN_TWO" property="greenTwo" jdbcType="VARCHAR" />
        <result column="GREEN_THREE" property="greenThree" jdbcType="VARCHAR" />
        <result column="THREE_BIG_PROJECTS" property="threeBigProjects" jdbcType="VARCHAR" />
        <result column="GREEN_CAPITAL_LEVEL" property="greenCapitalLevel" jdbcType="VARCHAR" />
        <result column="PRODUCT_SERIES" property="productSeries" jdbcType="VARCHAR" />
        <result column="INDUSTRY_CLASSIFICATION" property="industryClassification" jdbcType="VARCHAR" />
        <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
        <result column="CITY" property="city" jdbcType="VARCHAR" />

        <result column="green_one_n" property="greenOneN" jdbcType="VARCHAR" />
        <result column="green_two_n" property="greenTwoN" jdbcType="VARCHAR" />
        <result column="green_three_n" property="greenThreeN" jdbcType="VARCHAR" />
        <result column="three_big_projects_n" property="threeBigProjectsN" jdbcType="VARCHAR" />
        <result column="industry_classification_n" property="industryClassificationN" jdbcType="VARCHAR" />
        <result column="province_n" property="provinceN" jdbcType="VARCHAR" />
        <result column="city_n" property="cityN" jdbcType="VARCHAR" />
        <result column="product_series_n" property="productSeriesN" jdbcType="VARCHAR" />
        <result column="LEASE_PRICE_USE" property="leasePriceUse" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryGreen" parameterType="com.hand.hls.hls.dto.HlsCusFundingPlanGreen"
            resultMap="BaseResultMap">
        select g.*,
        (select hgc.description from hls_green_class hgc where hgc.class_code = g.green_one) green_one_n,
        (select hgc.description from hls_green_class hgc where hgc.class_code = g.green_two) green_two_n,
        (select hgc.description from hls_green_class hgc where hgc.class_code = g.green_three) green_three_n,
        (SELECT meaning
        from sys_code_value_b_v
        where code = 'HLS_THREE_MAJOR_PROJECTS'
        and code_value = g.three_big_projects) three_big_projects_n,
        (SELECT meaning
        from sys_code_value_b_v
        where code = 'HLS_PRODUCT_SERIES'
        and code_value = g.product_series) product_series_n,
        (select t.description from hls_stat_class t where g.industry_classification = t.class_id)industry_classification_n,
        (SELECT
        f.description
        FROM
        fnd_province f
        where f.province = g.province
        ) province_n,
        (SELECT meaning
        from sys_code_value_b_v
        where code = 'HLS.INNER_REGION'
        and code_value = g.city) city_n
        from  HLS_FUNDING_PLAN_GREEN g
        <where>
            g.funding_plan_id = #{fundingPlanId}

        </where>

    </select>

</mapper>