<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.HlsCusHlsReportAttachmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.HlsCusHlsReportAttachment">
        <result column="MARKETING_ATTACHMENT_ID" property="marketingAttachmentId" jdbcType="DECIMAL" />
        <result column="MARKETING_REPORT_ID" property="marketingReportId" jdbcType="DECIMAL" />
        <result column="ATTACHMENT_CATEGORY" property="attachmentCategory" jdbcType="VARCHAR" />
        <result column="DOCUMENT_NAME" property="documentName" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="DOCUMENT_ID" property="documentId" jdbcType="DECIMAL" />
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR" />

        <result column="upload_date" property="uploadDate" jdbcType="VARCHAR" />
        <result column="UPLOAD_PERSON" property="uploadPerson" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="file_names" property="fileNames" jdbcType="VARCHAR" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
        <result column="file_type" property="fileType" jdbcType="VARCHAR" />
        <result column="file_id" property="fileId" jdbcType="VARCHAR" />
        <result column="source_key" property="sourceKey" jdbcType="VARCHAR" />
        <result column="UPLOAD_PERSON_n" property="uploadPersonN" jdbcType="VARCHAR" />
        <result column="attachment_id" property="attachmentId" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryReportAttachment" resultMap="BaseResultMap" parameterType="com.hand.hls.hls.dto.HlsCusHlsReportAttachment">
        SELECT hra.marketing_attachment_id,
        hra.document_name,
        hra.marketing_report_id,
        hra.description,
        hra.attachment_category,
        hra.upload_date,
        (select wm_concat(fa.attachment_id)
        from fnd_atm_attachment fa, fnd_atm_attachment_multi fam
        where fa.attachment_id = fam.attachment_id
        and fam.table_name in ('hls_report_attachment','HLS_MARKETING_REPORT_DOCX')
        and hra.marketing_attachment_id = fam.table_pk_value) attachment_id,
        (select wm_concat(fa.file_name)
        from fnd_atm_attachment fa, fnd_atm_attachment_multi fam
        where fa.attachment_id = fam.attachment_id
        and fam.table_name in ('hls_report_attachment','HLS_MARKETING_REPORT_DOCX')
        and hra.marketing_attachment_id = fam.table_pk_value) file_name,
        (SELECT su.description
        FROM sys_user su
        WHERE hra.UPLOAD_PERSON = su.user_id) UPLOAD_PERSON_n,
        hra.status
        FROM HLS_REPORT_ATTACHMENT hra
        <where>
            hra.attachment_category in ('MARKETING_REPORT_ATT','HLS_MARKETING_REPORT_DOCX')
        <if test="marketingReportId">
            and hra.marketing_report_id = #{marketingReportId}
        </if>
        </where>
    </select>

</mapper>