<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.HlsCusHlsMarketingReportMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.HlsCusHlsMarketingReport">
        <result column="MARKETING_REPORT_ID" property="marketingReportId" jdbcType="DECIMAL"/>
        <result column="APPLY_LEASING_PRODUCTS" property="applyLeasingProducts" jdbcType="VARCHAR"/>
        <result column="APPLY_LEASING_PRODUCTS_N" property="applyLeasingProductsN" jdbcType="VARCHAR"/>
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL"/>
        <result column="MARKETING_REPORT_NUMBER" property="marketingReportNumber" jdbcType="VARCHAR"/>
        <result column="marketing_report_name" property="marketingReportName" jdbcType="VARCHAR"/>
        <result column="credit_flag" property="creditFlag" jdbcType="VARCHAR"/>
        <result column="credit_flag_n" property="creditFlagN" jdbcType="VARCHAR"/>
        <result column="HOST_PROJECT_MANAGER" property="hostProjectManager" jdbcType="DECIMAL"/>
        <result column="ASSIST_PROJECT_MANAGER" property="assistProjectManager" jdbcType="DECIMAL"/>
        <result column="HOST_DEPARTMENT_PROPORTION" property="hostDepartmentProportion" jdbcType="DECIMAL"/>
        <result column="ASSIST_DEPARTMENT_PROPORTION" property="assistDepartmentProportion" jdbcType="DECIMAL"/>
        <result column="FRENCH_BANK" property="frenchBank" jdbcType="DECIMAL"/>
        <result column="MARKETING_CHANNEL" property="marketingChannel" jdbcType="VARCHAR"/>
        <result column="XY_BRANCH_BANK" property="xyBranchBank" jdbcType="DECIMAL"/>
        <result column="SOURCE_MARKETING_CHANNEL" property="sourceMarketingChannel" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_INFORMATION" property="customerInformation" jdbcType="DECIMAL"/>
        <result column="ATTACHMENT_ID" property="attachmentId" jdbcType="DECIMAL"/>
        <result column="APPROVED_DATE" property="approvedDate" jdbcType="DATE"/>
        <result column="created_date" property="createdDate" jdbcType="DATE"/>
        <result column="ESTIMATED_FINANCING_AMOUNT" property="estimatedFinancingAmount" jdbcType="DECIMAL"/>
        <result column="ESTIMATED_FINANCING_TERM" property="estimatedFinancingTerm" jdbcType="DECIMAL"/>
        <result column="XIRR" property="xirr" jdbcType="DECIMAL"/>
        <result column="FALL_BANK" property="fallBank" jdbcType="DECIMAL"/>
        <result column="WHETHER_GREEN_PROJECT" property="whetherGreenProject" jdbcType="VARCHAR"/>
        <result column="CAPITAL_USE" property="capitalUse" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_CONTACT" property="customerContact" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_CONTACT_WAY" property="customerContactWay" jdbcType="VARCHAR"/>
        <result column="LEASE_ITEM" property="leaseItem" jdbcType="VARCHAR"/>
        <result column="BUSINESS_PLAN" property="businessPlan" jdbcType="VARCHAR"/>

        <result column="tenant" property="tenant" jdbcType="VARCHAR"/>
        <result column="other_bp_name" property="otherBpName" jdbcType="VARCHAR"/>
        <result column="unit_id_n" property="unitIdN" jdbcType="VARCHAR"/>
        <result column="failure_date" property="failureDate" jdbcType="VARCHAR"/>

        <result column="CREATION_DATE" property="creationDate" jdbcType="VARCHAR"/>
        <result column="HOST_PROJECT_MANAGER_n" property="hostProjectManagerN" jdbcType="VARCHAR"/>
        <result column="host_unit_name" property="hostUnitName" jdbcType="VARCHAR"/>
        <result column="ASSIST_PROJECT_MANAGER_N" property="assistProjectManagerN" jdbcType="VARCHAR"/>
        <result column="ASSIST_UNIT_NAME" property="assistUnitName" jdbcType="VARCHAR"/>
        <result column="fall_bank_n" property="fallBankN" jdbcType="VARCHAR"/>
        <result column="whether_green_project_n" property="whetherGreenProjectN" jdbcType="VARCHAR"/>
        <result column="status_n" property="statusN" jdbcType="VARCHAR"/>
        <result column="MARKETING_CHANNEL_N" property="marketingChannelN" jdbcType="VARCHAR"/>
        <result column="XY_BRANCH_BANK_N" property="xyBranchBankN" jdbcType="VARCHAR"/>
        <result column="apply_leasing_products_n" property="applyLeasingProductsN" jdbcType="VARCHAR"/>

        <result column="unit_id" property="unitId" jdbcType="DECIMAL"/>
        <result column="assist_unit_id" property="assistUnitId" jdbcType="DECIMAL"/>
        <result column="FROM_PROJECT" property="fromProject" jdbcType="VARCHAR"/>
        <result column="FROM_PROJECT_N" property="fromProjectN" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="change_req_id" property="changeReqId" jdbcType="DECIMAL"/>
        <result column="EXCLUSIVE_INDUSTRY" property="exclusiveIndustry" jdbcType="VARCHAR"/>
        <result column="EXCLUSIVE_INDUSTRY_N" property="exclusiveIndustryN" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="currency_n" property="currencyN" jdbcType="VARCHAR"/>
        <result column="host_unit_id" property="hostUnitId" jdbcType="DECIMAL"/>
        <result column="assist_unit_id" property="assistUnitId" jdbcType="DECIMAL"/>

        <result column="revenue_sharing_base_n" property="revenueSharingBaseN" jdbcType="VARCHAR"/>
        <result column="revenue_sharing_base" property="revenueSharingBase" jdbcType="VARCHAR"/>
        <result column="revenue_sharing_base_bc" property="revenueSharingBaseBc" jdbcType="VARCHAR"/>
        <result column="HOST_DEPARTMENT_PROPORTION_R" property="hostDepartmentProportionR" jdbcType="DECIMAL"/>
        <result column="ASSIST_DEPARTMENT_PROPORTION_R" property="assistDepartmentProportionR" jdbcType="DECIMAL"/>

        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="company_id_n" property="companyIdN" jdbcType="VARCHAR"/>
        <result column="CREDIT_APPLY" property="creditApply" jdbcType="VARCHAR"/>
        <result column="CREDIT_NOTE" property="creditNote" jdbcType="VARCHAR"/>
        <result column="LEASE_MATTER_NOTE" property="leaseMatterNote" jdbcType="VARCHAR"/>
        <result column="GUARANTEE_METHOD_NOTE" property="guaranteeMethodNote" jdbcType="VARCHAR"/>
        <result column="FINANCE_NOTE" property="financeNote" jdbcType="VARCHAR"/>
        <result column="INSURANCE_PLAN_NOTE" property="insurancePlanNote" jdbcType="VARCHAR"/>
        <result column="INSURE_FLAG" property="insureFlag" jdbcType="VARCHAR"/>
        <result column="insure_flag_n" property="insureFlagN" jdbcType="VARCHAR"/>
        <result column="GUARANTEE_METHOD" property="guaranteeMethod" jdbcType="VARCHAR"/>
        <result column="GUARANTEE_METHOD_N" property="guaranteeMethodN" jdbcType="VARCHAR"/>
        <result column="PAY_METHOD" property="payMethod" jdbcType="VARCHAR"/>
        <result column="PAY_METHOD_N" property="payMethodN" jdbcType="VARCHAR"/>
        <result column="INSURANCE_AMOUNT" property="insuranceAmount" jdbcType="DECIMAL"/>
        <result column="BOND_AMOUNT" property="bondAmount" jdbcType="DECIMAL"/>
        <result column="INSURED_AMOUNT" property="insuredAmount" jdbcType="DECIMAL"/>
        <result column="BENEFICIARY" property="beneficiary" jdbcType="VARCHAR"/>
        <result column="insurance_period" property="insurancePeriod" jdbcType="VARCHAR"/>
        <result column="com_risk_flag" property="comRiskFlag" jdbcType="VARCHAR"/>
        <result column="machine_damage_flag" property="machineDamageFlag" jdbcType="VARCHAR"/>
        <result column="engin_mach_flag" property="enginMachFlag" jdbcType="VARCHAR"/>
        <result column="engin_all_flag" property="enginAllFlag" jdbcType="VARCHAR"/>
        <result column="compulsory_ins_flag" property="compulsoryInsFlag" jdbcType="VARCHAR"/>
        <result column="third_ins_flag" property="thirdInsFlag" jdbcType="VARCHAR"/>
        <result column="others_flag" property="othersFlag" jdbcType="VARCHAR"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="source_pk_value" property="sourcePkValue"/>
        <result column="templet_code" property="templetCode"/>
        <result column="project_manager_n" property="projectManagerN"/>
    </resultMap>
    <select id="queryDetail" parameterType="com.hand.hls.hls.dto.HlsCusHlsMarketingReport" resultMap="BaseResultMap">
            SELECT
                t1.templet_code,t1.templet_id,t1.templet_name,(
                SELECT
                fa.source_pk_value
                FROM
                fnd_atm_attachment fa,
                fnd_atm_attachment_multi fam
                WHERE
                fam.table_pk_value = t1.templet_id
                AND fa.attachment_id = fam.attachment_id
                AND upper(fam.table_name) = 'hls_doc_file_templet'
                 and rownum=1
                ) source_pk_value
            FROM
            hls_doc_file_templet t1,
            hls_bp_category t2
            WHERE
              t1.usage_category = t2.bp_category
            <if test="templetCode != null">
                AND t1.templet_code = #{templetCode}
            </if>
    </select>

    <select id="queryMarketingReport" resultMap="BaseResultMap"
            parameterType="com.hand.hls.hls.dto.HlsCusHlsMarketingReport">
        select * from (
        select hmr.marketing_report_id,hmr.marketing_report_number,hmr.marketing_report_name,hmr.credit_flag,(SELECT v.meaning FROM sys_code_value_b_v v
        WHERE v.CODE = 'SYS.YES_NO' AND hmr.credit_flag = v.CODE_VALUE)credit_flag_n,hmr.creation_date as created_date,hmr.created_by,
        (select wm_concat(hbm.bp_name) from hls_bp_master
        hbm,HLS_MARKETING_REPORT_bp hmrb
        where hbm.bp_id = hmrb.bp_id
        and hmrb.marketing_report_id = hmr.marketing_report_id
        and hmrb.bp_type in ('TENANT','TENANT_SEC','ASSET_TRANSFEROR','ACCOUNTS_RECEIVABLE')) tenant,
        (select v.meaning from sys_code_value_b_v v where v.code = 'HLS200.LEASING_PRODUCT_DETAIL' and
        hmr.apply_leasing_products = v.CODE_VALUE)apply_leasing_products_n,
        (select wm_concat(hbm.bp_name) from hls_bp_master
        hbm,HLS_MARKETING_REPORT_bp hmrb
        where hbm.bp_id = hmrb.bp_id
        and hmrb.marketing_report_id = hmr.marketing_report_id
        and hmrb.bp_type = 'WARRANTOR') other_bp_name,
        hmr.unit_id,
        (select fou.unit_name from fnd_org_unit fou where fou.unit_id=hmr.unit_id) as unit_id_n,
     nvl(hmr.estimated_financing_amount,(select q.FINANCE_AMOUNT from prj_quotation q where q.source_document_id = hmr.marketing_report_id and q.SOURCE_DOCUMENT_CATEGORY = 'HLS_MARKETING_REPORT'))estimated_financing_amount,
        hmr.creation_date as approved_date,
        hmr.approved_date+31 failure_date,
        hmr.apply_leasing_products,
        hmr.host_department_proportion,
        hmr.assist_department_proportion,
        hmr.host_project_manager,
        hmr.assist_project_manager,
        hmr.status,
        (SELECT meaning
        from sys_code_value_b_v
        where code = 'HLS_MARKETING'
        and code_value = hmr.status) status_n,
        TABALL1.NAME AS host_project_manager_n,
        TABALL1.UNIT_NAME host_unit_name,
        TABALL2.NAME AS assist_project_manager_n,
        TABALL2.UNIT_NAME assist_unit_name,
        hmr.creation_date,
        hmr.change_req_id
        from hls_marketing_report hmr
        left join
        (
        SELECT
        FE. NAME,
        SUA.USER_ID,
        MIN(FOU.UNIT_NAME) UNIT_NAME,
        SUA.COMPANY_ID
        FROM
        SYS_USER_ALLOCATION SUA
        LEFT JOIN FND_EMPLOYEE_ASSIGNS FEA ON SUA.EMPLOYEE_ASSIGN_ID = FEA.EMPLOYEE_ASSIGN_ID
        LEFT JOIN FND_ORG_UNIT FOU ON FEA.UNIT_ID = FOU.UNIT_ID,
        (
        SELECT
        MIN(COMPANY_ID) COMPANY_ID,
        USER_ID
        FROM
        SYS_USER_ALLOCATION
        GROUP BY
        USER_ID
        ORDER BY
        USER_ID ASC
        ) SUAC,
        FND_EMPLOYEE FE
        WHERE
        SUA.COMPANY_ID = FEA.COMPANY_ID
        AND SUA.COMPANY_ID = FOU.COMPANY_ID
        AND SUA.COMPANY_ID = SUAC.COMPANY_ID
        AND SUA.USER_ID = SUAC.USER_ID
        AND FE.EMPLOYEE_ID = FEA.EMPLOYEE_ID
        GROUP BY
        SUA.USER_ID,
        SUA.COMPANY_ID,
        FE. NAME
        ORDER BY
        SUA.USER_ID ASC
        ) TABALL1 on hmr.host_project_manager = TABALL1.USER_ID
        left join
        (
        SELECT
        FE. NAME,
        SUA.USER_ID,
        MIN(FOU.UNIT_NAME) UNIT_NAME,
        SUA.COMPANY_ID
        FROM
        SYS_USER_ALLOCATION SUA
        LEFT JOIN FND_EMPLOYEE_ASSIGNS FEA ON SUA.EMPLOYEE_ASSIGN_ID = FEA.EMPLOYEE_ASSIGN_ID
        LEFT JOIN FND_ORG_UNIT FOU ON FEA.UNIT_ID = FOU.UNIT_ID,
        (
        SELECT
        MIN(COMPANY_ID) COMPANY_ID,
        USER_ID
        FROM
        SYS_USER_ALLOCATION
        GROUP BY
        USER_ID
        ORDER BY
        USER_ID ASC
        ) SUAC,
        FND_EMPLOYEE FE
        WHERE
        SUA.COMPANY_ID = FEA.COMPANY_ID
        AND SUA.COMPANY_ID = FOU.COMPANY_ID
        AND SUA.COMPANY_ID = SUAC.COMPANY_ID
        AND SUA.USER_ID = SUAC.USER_ID
        AND FE.EMPLOYEE_ID = FEA.EMPLOYEE_ID
        GROUP BY
        SUA.USER_ID,
        SUA.COMPANY_ID,
        FE. NAME
        ORDER BY
        SUA.USER_ID ASC
        ) TABALL2 on hmr.assist_project_manager = TABALL2.USER_ID) t
        <where>
            1=1
            <if test="createdBy">
                and (t.created_by = #{createdBy} or EXISTS (SELECT
                1
                FROM
                sys_user U
                LEFT JOIN SYS_USER_ALLOCATION UR ON UR.USER_ID = U.USER_ID
                LEFT JOIN SYS_ROLE_B R ON R.ROLE_ID = UR.ROLE_ID
                WHERE
                R.ROLE_CODE = 'ADMIN' and U.USER_ID = #{createdBy}))
            </if>
            <if test="marketingReportNumber">
                and t.marketing_report_number like concat(concat('%',#{marketingReportNumber}),'%')
            </if>
            <if test="marketingReportName">
                and t.marketing_report_name like concat(concat('%',#{marketingReportName}),'%')
            </if>
            <if test="creditFlag">
                and nvl(t.credit_flag ,'N')=#{creditFlag,jdbcType=VARCHAR}
            </if>
            <if test="estimatedFinancingAmount">
                and t.estimated_financing_amount = #{estimatedFinancingAmount}
            </if>
            <if test="tenant">
                and t.tenant like concat(concat('%',#{tenant}),'%')
            </if>
            <if test="otherBpName">
                and t.other_bp_name like concat(concat('%',#{otherBpName}),'%')
            </if>
            <if test="applyLeasingProducts">
                and t.apply_leasing_products = #{applyLeasingProducts}
            </if>
            <if test="hostProjectManager">
                and t.host_project_manager = #{hostProjectManager}
            </if>
            <if test="assistProjectManager">
                and t.assist_project_manager = #{assistProjectManager}
            </if>
            <if test="status">
                and t.status = #{status}
            </if>
            <if test="unitId">
                and t.UNIT_ID = #{unitId}
            </if>
            <if test="hostUnitName">
                and t.HOST_UNIT_NAME = #{hostUnitName}
            </if>
            <if test="assistUnitName">
                and t.ASSIST_UNIT_NAME = #{assistUnitName}
            </if>
            <if test="approvedDate">
                and  to_char(t.created_date,'yyyy/mm/dd')   =  to_char(#{approvedDate},'yyyy/mm/dd')
            </if>
        </where>
        order by t.marketing_report_id desc
    </select>
    <select id="queryMarketingReportForQuery" resultMap="BaseResultMap"
            parameterType="com.hand.hls.hls.dto.HlsCusHlsMarketingReport">
        select * from (
        select hmr.marketing_report_id,hmr.marketing_report_number,hmr.marketing_report_name,hmr.credit_flag,(SELECT v.meaning FROM sys_code_value_b_v v
        WHERE v.CODE = 'SYS.YES_NO' AND hmr.credit_flag = v.CODE_VALUE)credit_flag_n,
        (select LISTAGG(hbm.bp_name,',')WITHIN GROUP( ORDER BY hbm.bp_name) from hls_bp_master
        hbm,HLS_MARKETING_REPORT_bp hmrb
        where hbm.bp_id = hmrb.bp_id
        and hmrb.marketing_report_id = hmr.marketing_report_id
        and hmrb.bp_type in ('TENANT','TENANT_SEC')) tenant,
        (select LISTAGG(hbm.bp_name,',')WITHIN GROUP( ORDER BY hbm.bp_name) from hls_bp_master
        hbm,HLS_MARKETING_REPORT_bp hmrb
        where hbm.bp_id = hmrb.bp_id
        and hmrb.marketing_report_id = hmr.marketing_report_id
        and hmrb.bp_type = 'WARRANTOR') other_bp_name,
        hmr.unit_id,
        (select fou.unit_name from fnd_org_unit fou where fou.unit_id=hmr.unit_id) as unit_id_n,
        hmr.estimated_financing_amount,
        hmr.approved_date,
        hmr.approved_date+31 failure_date,
        hmr.apply_leasing_products,
        (SELECT v.meaning FROM sys_code_value_b_v v WHERE
        v.code = 'HLS200.LEASING_PRODUCT_DETAIL' AND v.code_value = hmr.apply_leasing_products) apply_leasing_products_n,
        hmr.host_department_proportion,
        hmr.assist_department_proportion,
        hmr.host_project_manager,
        hmr.assist_project_manager,
        hmr.status,
        (SELECT meaning
        from sys_code_value_b_v
        where code = 'HLS_MARKETING'
        and code_value = hmr.status) status_n,
        TABALL1.NAME AS host_project_manager_n,
        hmr.host_unit_id,
        (
        SELECT
        fou.unit_name
        FROM
        fnd_org_unit fou
        WHERE
        fou.unit_id = hmr.host_unit_id
        ) host_unit_name,
        hmr.assist_unit_id,
        TABALL2.NAME AS assist_project_manager_n,
        (
        SELECT
        fou.unit_name
        FROM
        fnd_org_unit fou
        WHERE
        fou.unit_id = hmr.assist_unit_id
        ) assist_unit_name,
        hmr.creation_date,
        hmr.change_req_id
        from hls_marketing_report hmr
        left join
        (
        SELECT
        FE. NAME,
        SUA.USER_ID,
        MIN(FOU.UNIT_NAME) UNIT_NAME,
        SUA.COMPANY_ID
        FROM
        SYS_USER_ALLOCATION SUA
        LEFT JOIN FND_EMPLOYEE_ASSIGNS FEA ON SUA.EMPLOYEE_ASSIGN_ID = FEA.EMPLOYEE_ASSIGN_ID
        LEFT JOIN FND_ORG_UNIT FOU ON FEA.UNIT_ID = FOU.UNIT_ID,
        (
        SELECT
        MIN(COMPANY_ID) COMPANY_ID,
        USER_ID
        FROM
        SYS_USER_ALLOCATION
        GROUP BY
        USER_ID
        ORDER BY
        USER_ID ASC
        ) SUAC,
        FND_EMPLOYEE FE
        WHERE
        SUA.COMPANY_ID = FEA.COMPANY_ID
        AND SUA.COMPANY_ID = FOU.COMPANY_ID
        AND SUA.COMPANY_ID = SUAC.COMPANY_ID
        AND SUA.USER_ID = SUAC.USER_ID
        AND FE.EMPLOYEE_ID = FEA.EMPLOYEE_ID
        GROUP BY
        SUA.USER_ID,
        SUA.COMPANY_ID,
        FE. NAME
        ORDER BY
        SUA.USER_ID ASC
        ) TABALL1 on hmr.host_project_manager = TABALL1.USER_ID
        left join
        (
        SELECT
        FE. NAME,
        SUA.USER_ID,
        MIN(FOU.UNIT_NAME) UNIT_NAME,
        SUA.COMPANY_ID
        FROM
        SYS_USER_ALLOCATION SUA
        LEFT JOIN FND_EMPLOYEE_ASSIGNS FEA ON SUA.EMPLOYEE_ASSIGN_ID = FEA.EMPLOYEE_ASSIGN_ID
        LEFT JOIN FND_ORG_UNIT FOU ON FEA.UNIT_ID = FOU.UNIT_ID,
        (
        SELECT
        MIN(COMPANY_ID) COMPANY_ID,
        USER_ID
        FROM
        SYS_USER_ALLOCATION
        GROUP BY
        USER_ID
        ORDER BY
        USER_ID ASC
        ) SUAC,
        FND_EMPLOYEE FE
        WHERE
        SUA.COMPANY_ID = FEA.COMPANY_ID
        AND SUA.COMPANY_ID = FOU.COMPANY_ID
        AND SUA.COMPANY_ID = SUAC.COMPANY_ID
        AND SUA.USER_ID = SUAC.USER_ID
        AND FE.EMPLOYEE_ID = FEA.EMPLOYEE_ID
        GROUP BY
        SUA.USER_ID,
        SUA.COMPANY_ID,
        FE. NAME
        ORDER BY
        SUA.USER_ID ASC
        ) TABALL2 on hmr.assist_project_manager = TABALL2.USER_ID
        ) t
        <where>
            t.status in ('APPROVING','APPROVED','REJECTED')
            <if test="marketingReportNumber">
                and t.marketing_report_number like concat(concat('%',#{marketingReportNumber}),'%')
            </if>
            <if test="tenant">
                and t.tenant like concat(concat('%',#{tenant}),'%')
            </if>
            <if test="otherBpName">
                and t.other_bp_name like concat(concat('%',#{otherBpName}),'%')
            </if>
            <if test="applyLeasingProducts">
                and t.apply_leasing_products = #{applyLeasingProducts}
            </if>
            <if test="hostProjectManager">
                and t.host_project_manager = #{hostProjectManager}
            </if>
            <if test="assistProjectManager">
                and t.assist_project_manager = #{assistProjectManager}
            </if>
            <if test="status">
                and t.status = #{status}
            </if>
            <if test="statusN">
                and t.status_N = #{statusN}
            </if>
            <if test="unitId">
                and t.UNIT_ID = #{unitId}
            </if>
            <if test="hostUnitName">
                and t.HOST_UNIT_NAME = #{hostUnitName}
            </if>
            <if test="assistUnitName">
                and t.ASSIST_UNIT_NAME = #{assistUnitName}
            </if>
        </where>
        order by t.marketing_report_id desc
    </select>
    <select id="queryMarketingReportDetail" resultMap="BaseResultMap"
            parameterType="com.hand.hls.hls.dto.HlsCusHlsMarketingReport">
        SELECT
        hmr.*,
        (SELECT
        fe. NAME
        FROM
        fnd_org_unit fou,
        fnd_org_position fop,
        fnd_employee_assigns fea,
        fnd_employee fe
        WHERE
        fou.unit_id = hmr.unit_id
        AND fou.unit_id = fop.unit_id
        and fop.chief_position_flag = 'Y'
        AND fop.position_id = fea.position_id
        and fe.ENABLED_FLAG = 'Y'
        and fea.ENABLED_FLAG = 'Y'
        AND fea.employee_id = fe.employee_id)project_manager_n,
        (SELECT
        max(fa.SOURCE_PK_VALUE)
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi faa,
        hls_report_attachment ha
        WHERE
        fa.ATTACHMENT_ID = faa.ATTACHMENT_ID
        AND faa.TABLE_PK_VALUE = ha.MARKETING_ATTACHMENT_ID
        and ha.ATTACHMENT_CATEGORY='HLS_MARKETING_REPORT_DOCX'
        and faa.TABLE_NAME = 'HLS_MARKETING_REPORT_DOCX'
        AND ha.MARKETING_REPORT_ID = hmr.MARKETING_REPORT_ID)SOURCE_PK_VALUE,
        (select f.company_short_name from fnd_company f where f.company_id = hmr.company_id )company_id_n,
        (select v.meaning from sys_code_value_b_v v where v.code = 'SYS.YES_NO' and
        hmr.insure_flag = v.CODE_VALUE)insure_flag_n,
        (select v.meaning from sys_code_value_b_v v where v.code = 'GUARANTEE_METHOD' and
        hmr.GUARANTEE_METHOD = v.CODE_VALUE)GUARANTEE_METHOD_N,
        (select v.meaning from sys_code_value_b_v v where v.code = 'PAY_METHOD' and
        hmr.PAY_METHOD = v.CODE_VALUE)PAY_METHOD_N,
        (select v.meaning from sys_code_value_b_v v where v.code = 'HLS200.LEASING_PRODUCT_DETAIL' and
        hmr.apply_leasing_products = v.CODE_VALUE)apply_leasing_products_n,
        (SELECT v.meaning FROM sys_code_value_b_v v
        WHERE v.CODE = 'SYS.YES_NO' AND hmr.credit_flag = v.CODE_VALUE)credit_flag_n,
        (
        SELECT
        s.description
        FROM
        sys_user s
        WHERE
        s.user_id = hmr.created_by
        ) AS created_by_n,
        (
        SELECT
        fou.unit_name
        FROM
        fnd_org_unit fou
        WHERE
        fou.unit_id = hmr.unit_id
        ) AS unit_id_n,
        TABALL1.NAME AS host_project_manager_n,
        (
        SELECT
        fou.unit_name
        FROM
        fnd_org_unit fou
        WHERE
        fou.unit_id = hmr.host_unit_id
        ) host_unit_name,
        TABALL2.NAME AS assist_project_manager_n,
        (
        SELECT
        fou.unit_name
        FROM
        fnd_org_unit fou
        WHERE
        fou.unit_id = hmr.assist_unit_id
        ) assist_unit_name,
        (
        SELECT
        bank_name
        FROM
        csh_bank cb
        WHERE
        cb.bank_id = hmr.fall_bank
        ) fall_bank_n,
        (
        SELECT
        meaning
        FROM
        sys_code_value_b_v
        WHERE
        CODE = 'SYS.YES_NO'
        AND code_value = hmr.whether_green_project
        ) whether_green_project_n,
        (
        SELECT
        meaning
        FROM
        sys_code_value_b_v
        WHERE
        CODE = 'HLS.MARKETING_CHANNEL'
        AND code_value = hmr.MARKETING_CHANNEL
        ) MARKETING_CHANNEL_N,
        (
        SELECT
        meaning
        FROM
        sys_code_value_b_v
        WHERE
        CODE = 'HLS.BRANCH_BANK'
        AND code_value = hmr.XY_BRANCH_BANK
        ) XY_BRANCH_BANK_N,
        (
        SELECT
        meaning
        FROM
        sys_code_value_b_v
        WHERE
        CODE = 'SYS.YES_NO'
        AND code_value = hmr.FROM_PROJECT
        ) FROM_PROJECT_N,
        (
        SELECT
        meaning
        FROM
        sys_code_value_b_v
        WHERE
        CODE = 'HLS.REVENUE_SHARING_BASE'
        AND code_value = hmr.REVENUE_SHARING_BASE
        ) REVENUE_SHARING_BASE_N,
        (
        SELECT
        meaning
        FROM
        sys_code_value_b_v
        WHERE
        CODE = 'SYS.YES_NO'
        AND code_value = hmr.EXCLUSIVE_INDUSTRY
        ) EXCLUSIVE_INDUSTRY_N,
        (
        select scvb.meaning
        from sys_code_value_b scvb, sys_code_b scb
        where scb.code = 'CHS.CURRENCY_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.enabled_flag = 'Y'
        and scvb.value = hmr.currency
        ) currency_n,
        (
        SELECT
        wm_concat( hbm.bp_name )
        FROM
        hls_bp_master hbm,
        HLS_MARKETING_REPORT_bp hmrb
        WHERE
        hbm.bp_id = hmrb.bp_id
        AND hmrb.marketing_report_id = hmr.marketing_report_id
        AND hmrb.bp_type IN ( 'TENANT', 'TENANT_SEC', 'ASSET_TRANSFEROR', 'ACCOUNTS_RECEIVABLE' )
        ) as bp_name
        FROM
        HLS_MARKETING_REPORT hmr
        left join
        (
        SELECT
        FE. NAME,
        SUA.USER_ID,
        FOU.UNIT_ID,
        MIN(FOU.UNIT_NAME) UNIT_NAME,
        SUA.COMPANY_ID
        FROM
        SYS_USER_ALLOCATION SUA
        LEFT JOIN FND_EMPLOYEE_ASSIGNS FEA ON SUA.EMPLOYEE_ASSIGN_ID = FEA.EMPLOYEE_ASSIGN_ID
        LEFT JOIN FND_ORG_UNIT FOU ON FEA.UNIT_ID = FOU.UNIT_ID,
        (
        SELECT
        MIN(COMPANY_ID) COMPANY_ID,
        USER_ID
        FROM
        SYS_USER_ALLOCATION
        GROUP BY
        USER_ID
        ORDER BY
        USER_ID ASC
        ) SUAC,
        FND_EMPLOYEE FE
        WHERE
        SUA.COMPANY_ID = FEA.COMPANY_ID
        AND SUA.COMPANY_ID = FOU.COMPANY_ID
        AND SUA.COMPANY_ID = SUAC.COMPANY_ID
        AND SUA.USER_ID = SUAC.USER_ID
        AND FE.EMPLOYEE_ID = FEA.EMPLOYEE_ID
        GROUP BY
        SUA.USER_ID,
        SUA.COMPANY_ID,
        FOU.UNIT_ID,
        FE. NAME
        ORDER BY
        SUA.USER_ID ASC
        ) TABALL1 on hmr.host_project_manager = TABALL1.USER_ID
        left join
        (
        SELECT
        FE. NAME,
        SUA.USER_ID,
        FOU.UNIT_ID,
        MIN(FOU.UNIT_NAME) UNIT_NAME,
        SUA.COMPANY_ID
        FROM
        SYS_USER_ALLOCATION SUA
        LEFT JOIN FND_EMPLOYEE_ASSIGNS FEA ON SUA.EMPLOYEE_ASSIGN_ID = FEA.EMPLOYEE_ASSIGN_ID
        LEFT JOIN FND_ORG_UNIT FOU ON FEA.UNIT_ID = FOU.UNIT_ID,
        (
        SELECT
        MIN(COMPANY_ID) COMPANY_ID,
        USER_ID
        FROM
        SYS_USER_ALLOCATION
        GROUP BY
        USER_ID
        ORDER BY
        USER_ID ASC
        ) SUAC,
        FND_EMPLOYEE FE
        WHERE
        SUA.COMPANY_ID = FEA.COMPANY_ID
        AND SUA.COMPANY_ID = FOU.COMPANY_ID
        AND SUA.COMPANY_ID = SUAC.COMPANY_ID
        AND SUA.USER_ID = SUAC.USER_ID
        AND FE.EMPLOYEE_ID = FEA.EMPLOYEE_ID
        GROUP BY
        SUA.USER_ID,
        SUA.COMPANY_ID,
        FOU.UNIT_ID,
        FE. NAME
        ORDER BY
        SUA.USER_ID ASC
        ) TABALL2 on hmr.assist_project_manager = TABALL2.USER_ID
        <where>
            hmr.marketing_report_id = #{marketingReportId}

            <!--<if test="marketingReportNumber">
                and t.marketing_report_number = #{marketingReportNumber}
            </if>
            <if test="tenant">
                and t.tenant like concat(concat('%',#{tenant}),'%')
            </if>
            <if test="otherBpName">
                and t.other_bp_name like concat(concat('%',#{otherBpName}),'%')
            </if>
            <if test="applyLeasingProducts">
                and t.apply_leasing_products = #{applyLeasingProducts}
            </if>
            <if test="hostDepartmentProportion">
                and t.host_department_proportion = #{hostDepartmentProportion}
            </if>
            <if test="assistDepartmentProportion">
                and t.assist_department_proportion = #{assistDepartmentProportion}
            </if>
            <if test="status">
                and t.status = #{status}
            </if>-->
        </where>
    </select>

    <resultMap id="industryTreeResultMap" type="map">
        <result column="class_code" property="class_code"/>
        <result column="tree_node_id" property="tree_node_id"/>
        <result column="value_code" property="value_code"/>
        <result column="value_name" property="value_name"/>
        <result column="parent_tree_node_id" property="parent_tree_node_id"/>
        <result column="expand_flag" property="expand_flag"/>
        <result column="order_seq" property="order_seq"/>
        <result column="tree_node_desc" property="tree_node_desc"/>
    </resultMap>

    <select id="applyLeasingProductTree" parameterType="java.util.Map" resultMap="industryTreeResultMap">
        SELECT
        t.*
        FROM
        (  SELECT
        v.code_value_id AS tree_node_id,
        v.code_value_id,
        v.code_value AS value_code,
        v.MEANING AS value_name,
        v.parent_code_value_id AS parent_tree_node_id,
        v.MEANING AS tree_node_desc,
        (case when v.code = 'HLS200.APPLY_LEASING_PRODUCT' THEN '' else 'N'end)expand_flag
        FROM
        sys_code_value_b_v v
        WHERE
        V.CODE IN ( 'HLS200.LEASING_PRODUCT_DETAIL', 'HLS200.APPLY_LEASING_PRODUCT' )
        ORDER BY  code_id ) t
        <where>
          1=1
            <if test="treeNodeDesc!=null">
                and t.description like concat('%',concat(#{treeNodeDesc},'%'))
            </if>
            <if test="tree_node_desc!=null">
                and t.description like concat('%',concat(#{tree_node_desc},'%'))
            </if>
        </where>
    </select>

    <select id="applyLeasingProductTreeForPq" parameterType="java.util.Map" resultMap="industryTreeResultMap">
        SELECT
        t.*
        FROM
        (  SELECT
                v.code_value_id AS tree_node_id,
                v.code_value_id,
                v.code_value AS value_code,
                v.MEANING AS value_name,
                v.parent_code_value_id AS parent_tree_node_id,
                v.MEANING AS tree_node_desc
            FROM
            sys_code_value_b_v v
            WHERE
            V.CODE IN ( 'HLS200.LEASING_PRODUCT_DETAIL', 'HLS200.APPLY_LEASING_PRODUCT' )
              AND FIND_IN_SET( v.code_value_id, getChildList (v.code_value_id) )
            ORDER BY  code_id ) t
        <where>
            t.value_code not in ('GENERAL_CREDIT_APPROVAL','VENDOR_CREDIT_APPROVAL','UNION_CREDIT_APPROVAL')
            <if test="treeNodeDesc!=null">
                and t.description like concat('%',concat(#{treeNodeDesc},'%'))
            </if>
            <if test="tree_node_desc!=null">
                and t.description like concat('%',concat(#{tree_node_desc},'%'))
            </if>
        </where>
    </select>

    <resultMap id="marketingIdMap" type="uncertain.composite.CompositeMap">
        <result column="marketing_report_id" property="marketingReportId" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryMarketingReportId" resultMap="marketingIdMap">
            SELECT
                auto_increment AS marketing_report_id
            FROM
                information_schema.TABLES
            WHERE
	            TABLE_NAME = 'hls_marketing_report'
    </select>

    <select id="queryMarketingReportIdNew"  parameterType="com.hand.hls.hls.dto.HlsCusHlsMarketingReport" resultMap="BaseResultMap">
            SELECT
                auto_increment AS marketing_report_id
            FROM
                information_schema.TABLES
            WHERE
	            TABLE_NAME = 'hls_marketing_report'
    </select>


</mapper>