<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.HlsCusHlsMarketingReportBpMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.HlsCusHlsMarketingReportBp">
        <result column="MARKETING_REPORT_BP_ID" property="marketingReportBpId" jdbcType="DECIMAL" />
        <result column="MARKETING_REPORT_ID" property="marketingReportId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="ASSETS_TOTAL" property="assetsTotal" jdbcType="DECIMAL" />
        <result column="LIABILITIES_TOTAL" property="liabilitiesTotal" jdbcType="DECIMAL" />
        <result column="ASSET_LIABILITY_RATIO" property="assetLiabilityRatio" jdbcType="DECIMAL" />
        <result column="SALES_REVENUE" property="salesRevenue" jdbcType="DECIMAL" />
        <result column="PROFIT_TOTAL" property="profitTotal" jdbcType="DECIMAL" />
        <result column="RETAINED_PROFITS" property="retainedProfits" jdbcType="DECIMAL" />
        <result column="CUSTOMER_PROFILE" property="customerProfile" jdbcType="VARCHAR" />

        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR" />
        <result column="bp_type_n" property="bpTypeN" jdbcType="VARCHAR" />
        <result column="membership_group" property="membershipGroup" jdbcType="VARCHAR" />
        <result column="whether_exclusive_industry" property="whetherExclusiveIndustry" jdbcType="VARCHAR" />
        <result column="whether_total_credit" property="whetherTotalCredit" jdbcType="VARCHAR" />
        <result column="whether_stock_customer" property="whetherStockCustomer" jdbcType="VARCHAR" />
        <result column="industry_categories" property="industryCategories" jdbcType="VARCHAR" />
        <result column="economic_indu_classify_n" property="economicInduClassifyN" jdbcType="VARCHAR" />
        <result column="economic_indu_class_sec_n" property="economicInduClassSecN" jdbcType="VARCHAR" />
        <result column="economic_indu_class_thr_n" property="economicInduClassThrN" jdbcType="VARCHAR" />
        <result column="bp_type" property="bpType" jdbcType="VARCHAR" />

        <result column="GROUP_MEMBERSHIP" property="groupMembership" jdbcType="VARCHAR" />
        <result column="country_n" property="countryN" jdbcType="VARCHAR" />
        <result column="province_n" property="provinceN" jdbcType="VARCHAR" />
        <result column="city_n" property="cityN" jdbcType="VARCHAR" />
        <result column="district_n" property="districtN" jdbcType="VARCHAR" />
        <result column="bp_code" property="bpCode" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />

        <result column="PROVINCIAL_CAPITAL" property="provincialCapital" jdbcType="VARCHAR" />
        <result column="economic_zone_n" property="economicZoneN" jdbcType="VARCHAR" />
        <result column="LISTED_COMPANY_N" property="listedCompanyN" jdbcType="VARCHAR" />
        <result column="listing_code" property="listingCode" jdbcType="VARCHAR" />
        <result column="bp_financial_type_n" property="bpFinancialTypeN" jdbcType="VARCHAR" />
        <result column="bp_class" property="bpClass" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="bp_catagory" property="bpCatagory" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryMarketingReportBp" resultMap="BaseResultMap" parameterType="com.hand.hls.hls.dto.HlsCusHlsMarketingReportBp">

        select t.*,(case when t.province_n in ('新疆维吾尔自治区','陕西省','甘肃省','宁夏回族自治区','青海省',
        '内蒙古自治区','黑龙江省','吉林省','辽宁省','广西壮族自治区','西藏自治区','福建省','广东省',
        '海南省') then '一带一路'
        when t.province_n in('江苏省','安徽省','江西省','湖北省','湖南省','四川省','贵州省' ) then '长江经济带'
        when t.province_n in('北京市','天津市','河北省') then '京津冀'
        when t.province_n in('上海市','浙江省','云南省','重庆市') then '一带一路,长江经济带'
        else '其他' end
        ) economic_zone_n from
        (select hmeb.*,
        hbm.bp_name bp_id_n,
        hbm.bp_code,
        hbm.bp_class,
        (SELECT meaning
        from sys_code_value_b_v
        where code = 'BP.BP_MASTER_ROLE'
        and code_value = hmeb.bp_type) bp_type_n,
        hbm.bp_name membership_group,
        (SELECT meaning
        from sys_code_value_b_v
        where code = 'SYS.YES_NO'
        and code_value = hbm.EXCLUSIVE_TRADE) whether_exclusive_industry,
        (case when (select count(1) from hls_bp_master_relation hbmr where hbm.bp_id =hbmr.bp_id ) >0
        then '是' else '否' end) whether_total_credit,
        (case when (select count(1) from HLS_BP_CREDIT_MOTHERLINE hbcm
        where hbm.bp_id =hbcm.bp_id) >0
        then '是' else '否' end) whether_stock_customer,
        (select hsc.description from hls_stat_class hsc
        where hsc.class_id = hbm.economic_indu_classify
        and hsc.enabled_flag = 'Y') industry_categories,
        hbm.GROUP_MEMBERSHIP,
        (select c.country_name
        from fnd_country c
        where c.country = ma.country) as country_n,
        (select p.description
        from fnd_province p
        where p.province = ma.province) as province_n,
        (select c.description from fnd_city c where c.city = ma.city) as city_n,
        (select d.description
        from fnd_district d
        where d.district = ma.district) as district_n,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'SYS.YES_NO'
        and sc.code_value = hbm.LISTED_COMPANY) LISTED_COMPANY_N,
        (select c.description from fnd_city c
        where c.province = ma.province and c.provincial_capital_flag = 'Y') PROVINCIAL_CAPITAL,
        hbm.listing_code,
        (select sc.meaning value_name
        from sys_code_value_b_v sc
        where sc.code = 'BP.BP_FINANCIAL_TYPE'
        and sc.code_value = hbm.bp_financial_type) bp_financial_type_n
        from HLS_MARKETING_REPORT_BP hmeb,hls_bp_master hbm
        left join hls_bp_master_address ma on ma.bp_id = hbm.bp_id and ma.address_type ='REGISTERED_ADDRESS'
        <where>
            hmeb.bp_id = hbm.bp_id
            and hmeb.marketing_report_id = #{marketingReportId}

        </where>
        order by hmeb.MARKETING_REPORT_BP_ID
        )t
    </select>

</mapper>