<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.HlsCusCapMarketingChannelMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.HlsCusCapMarketingChannel">
        <result column="MARKETING_CHANNEL_ID" property="marketingChannelId" jdbcType="DECIMAL" />
        <result column="FUNDING_PLAN_ID" property="fundingPlanId" jdbcType="DECIMAL" />
        <result column="MARKETING_CHANNEL" property="marketingChannel" jdbcType="VARCHAR" />
        <result column="XY_BRANCH_BANK" property="xyBranchBank" jdbcType="DECIMAL" />
        <result column="SOURCE_MARKETING_CHANNEL" property="sourceMarketingChannel" jdbcType="VARCHAR" />
        <result column="HOST_DEPARTMENT_PROPORTION" property="hostDepartmentProportion" jdbcType="DECIMAL" />
        <result column="ASSIST_DEPARTMENT_PROPORTION" property="assistDepartmentProportion" jdbcType="DECIMAL" />

        <result column="MARKETING_CHANNEL_N" property="marketingChannelN" jdbcType="VARCHAR" />
        <result column="XY_BRANCH_BANK_N" property="xyBranchBankN" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryReportChannel" resultMap="BaseResultMap" parameterType="com.hand.hls.hls.dto.HlsCusCapMarketingChannel">
        select cmc.*,
        (
        SELECT
        meaning
        FROM
        sys_code_value_b_v
        WHERE
        CODE = 'HLS.MARKETING_CHANNEL'
        AND code_value = cmc.MARKETING_CHANNEL
        ) MARKETING_CHANNEL_N,
        (
        SELECT
        meaning
        FROM
        sys_code_value_b_v
        WHERE
        CODE = 'HLS.BRANCH_BANK'
        AND code_value = cmc.XY_BRANCH_BANK
        ) XY_BRANCH_BANK_N
        from CAP_MARKETING_CHANNEL cmc
        <where>
            cmc.funding_plan_id = #{fundingPlanId}

        </where>
    </select>

</mapper>