<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.HlsDurationAttachmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.HlsDurationAttachment">
        <id column="DURATION_ATTACHMENT_ID" property="durationAttachmentId" jdbcType="DECIMAL" />
        <result column="HD_ID" property="hdId" jdbcType="DECIMAL" />
        <result column="ATTACHMENT_CATEGORY" property="attachmentCategory" jdbcType="VARCHAR" />
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR" />
        <result column="SOURCE_ID" property="sourceId" jdbcType="DECIMAL" />
        <result column="PROCESS_INSTANCE_ID" property="processInstanceId" jdbcType="VARCHAR" />
        <result column="DOCUMENT_NAME" property="documentName" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>


    <resultMap id="AttachmentInfoMap" type="map">
        <result column="duration_attachment_id" property="durationAttachmentId"/>
        <result column="hd_id" property="hdId"/>
        <result column="attachment_category" property="attachmentCategory"/>
        <result column="document_name" property="documentName"/>
        <result column="description" property="description"/>
        <result column="file_name" property="fileName"/>
        <result column="attachment_id_n" property="attachmentIdN"/>
        <result column="source_pk_value" property="sourcePkValue"/>
        <result column="upload_person_id" property="uploadPersonId"/>
        <result column="upload_date" property="uploadDate"/>
        <result column="upload_person" property="uploadPerson"/>
    </resultMap>

    <select id="selectDurationAttachmentInfo" resultMap="AttachmentInfoMap">
        SELECT hda.duration_attachment_id,
               hda.hd_id,
               hda.attachment_category,
               hda.document_name,
               hda.description,
               (SELECT wm_concat(fat.file_name)
                FROM fnd_atm_attachment fat, fnd_atm_attachment_multi faam
                WHERE fat.attachment_id = faam.attachment_id
                  AND faam.table_name = 'HLS_DURATION_ATTACHMENT'
                  AND faam.table_pk_value = hda.duration_attachment_id) file_name,
                  (select wm_concat(faa.attachment_id)
        from fnd_atm_attachment       faa,
        fnd_atm_attachment_multi faam
        where faam.table_name = 'HLS_DURATION_ATTACHMENT'
        and faam.table_pk_value = hda.duration_attachment_id
        and faa.source_pk_value = faam.record_id) attachment_id_n,
        (select wm_concat(faa.source_pk_value)
        from fnd_atm_attachment faa,fnd_atm_attachment_multi faam
        where faam.table_name = 'HLS_DURATION_ATTACHMENT'
        and faam.table_pk_value = hda.duration_attachment_id
        and faa.source_pk_value = faam.record_id) source_pk_value,
               hda.last_update_date upload_date,
               (SELECT su.description
                FROM sys_user su
                WHERE su.user_id = hda.created_by) upload_person,
        hda.created_by upload_person_id
        FROM hls_duration_attachment hda
        WHERE hda.attachment_category = #{attachmentCategory}
          AND hda.hd_id = #{hdId}
    </select>
</mapper>