<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.HlsDurationCompareMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.HlsDurationCompare">
        <result column="COMPARE_ID" property="compareId" jdbcType="DECIMAL"/>
        <result column="HD_ID" property="hdId" jdbcType="DECIMAL"/>
        <result column="LN_ID" property="lnId" jdbcType="DECIMAL"/>
        <result column="OLD_TIMES" property="oldTimes" jdbcType="DECIMAL"/>
        <result column="OLD_LEASE_END_DATE" property="oldLeaseEndDate" jdbcType="DATE"/>
        <result column="OLD_TOTAL_RENTAL" property="oldTotalRental" jdbcType="DECIMAL"/>
        <result column="OLD_TOTAL_PRINCIPAL" property="oldTotalPrincipal" jdbcType="DECIMAL"/>
        <result column="OLD_TOTAL_INTEREST" property="oldTotalInterest" jdbcType="DECIMAL"/>
        <result column="OLD_NET_INTEREST" property="oldNetInterest" jdbcType="DECIMAL"/>
        <result column="OLD_VAT_INTEREST" property="oldVatInterest" jdbcType="DECIMAL"/>
        <result column="OLD_DEPOSIT_AMOUNT" property="oldDepositAmount" jdbcType="DECIMAL"/>
        <result column="OLD_FEE_AMOUNT" property="oldFeeAmount" jdbcType="DECIMAL"/>
        <result column="OLD_XIRR" property="oldXirr" jdbcType="DECIMAL"/>
        <result column="OLD_XIRR_NET" property="oldXirrNet" jdbcType="DECIMAL"/>
        <result column="TIMES" property="times" jdbcType="DECIMAL"/>
        <result column="LEASE_END_DATE" property="leaseEndDate" jdbcType="DATE"/>
        <result column="TOTAL_RENTAL" property="totalRental" jdbcType="DECIMAL"/>
        <result column="TOTAL_PRINCIPAL" property="totalPrincipal" jdbcType="DECIMAL"/>
        <result column="TOTAL_INTEREST" property="totalInterest" jdbcType="DECIMAL"/>
        <result column="NET_INTEREST" property="netInterest" jdbcType="DECIMAL"/>
        <result column="VAT_INTEREST" property="vatInterest" jdbcType="DECIMAL"/>
        <result column="DEPOSIT_AMOUNT" property="depositAmount" jdbcType="DECIMAL"/>
        <result column="FEE_AMOUNT" property="feeAmount" jdbcType="DECIMAL"/>
        <result column="XIRR" property="xirr" jdbcType="DECIMAL"/>
        <result column="XIRR_NET" property="xirrNet" jdbcType="DECIMAL"/>

        <!-- 关联查询字段 -->
        <result column="rental_balance" property="rentalBalance" jdbcType="DECIMAL"/>
        <result column="principal_balance" property="principalBalance" jdbcType="DECIMAL"/>
        <result column="interest_balance" property="interestBalance" jdbcType="DECIMAL"/>
        <result column="net_interest_balance" property="netInterestBalance" jdbcType="DECIMAL"/>
        <result column="vat_interest_balance" property="vatInterestBalance" jdbcType="DECIMAL"/>
        <result column="deposit_amount_balance" property="depositAmountBalance" jdbcType="DECIMAL"/>
        <result column="fee_amount_balance" property="feeAmountBalance" jdbcType="DECIMAL"/>

    </resultMap>
    <select id="hlsDurationCompareDetailQuery" resultMap="BaseResultMap"
            parameterType="com.hand.hls.hls.dto.HlsDurationCompare">
        select   t.*,
        (t.OLD_TOTAL_RENTAL - t.TOTAL_RENTAL)as rental_balance,
        (t.OLD_TOTAL_PRINCIPAL - t.TOTAL_PRINCIPAL)as principal_balance,
        (t.OLD_TOTAL_INTEREST - t.TOTAL_INTEREST)as interest_balance,
        (t.OLD_NET_INTEREST - t.NET_INTEREST)as net_interest_balance,
        (t.OLD_VAT_INTEREST - t.VAT_INTEREST)as vat_interest_balance,
        (t.OLD_DEPOSIT_AMOUNT - t.DEPOSIT_AMOUNT)as deposit_amount_balance,
        (t.OLD_FEE_AMOUNT - t.FEE_AMOUNT)as fee_amount_balance
        from hls_duration_compare t
        <where>
            t.ln_id = #{lnId}
        </where>
    </select>


</mapper>
