<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.HlsDurationHdMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.HlsDurationHd">
        <id column="HD_ID" property="hdId" jdbcType="DECIMAL"/>
        <result column="DURATION_NUMBER" property="durationNumber" jdbcType="VARCHAR"/>
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL"/>
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL"/>
        <result column="DURATION_TYPE" property="durationType" jdbcType="VARCHAR"/>
        <result column="DURATION_STATUS" property="durationStatus" jdbcType="VARCHAR"/>
        <result column="APPLY_PERSON" property="applyPerson" jdbcType="DECIMAL"/>
        <result column="APPLY_UNIT_ID" property="applyUnitId" jdbcType="DECIMAL"/>
        <result column="APPLY_DATE" property="applyDate" jdbcType="DATE"/>
        <result column="APPLY_DESCRIPTION" property="applyDescription" jdbcType="VARCHAR"/>
        <result column="COVENANT_DESCRIPTION" property="covenantDescription" jdbcType="VARCHAR"/>
        <result column="deposit_change_flag" property="depositChangeFlag" jdbcType="VARCHAR"/>
        <result column="release_change_flag" property="releaseChangeFlag" jdbcType="VARCHAR"/>
        <result column="repurchase_change_flag" property="repurchaseChangeFlag" jdbcType="VARCHAR"/>
        <result column="warrant_change_flag" property="warrantChangeFlag" jdbcType="VARCHAR"/>
        <result column="et_change_flag" property="etChangeFlag" jdbcType="VARCHAR"/>
        <result column="prepayment_change_flag" property="prepaymentChangeFlag" jdbcType="VARCHAR"/>
        <result column="financial_terms_change_flag" property="financialTermsChangeFlag" jdbcType="VARCHAR"/>
        <result column="bp_info_change_flag" property="bpInfoChangeFlag" jdbcType="VARCHAR"/>
        <result column="agreement_change_flag" property="agreementChangeFlag" jdbcType="VARCHAR"/>
        <result column="change_reason" property="changeReason" jdbcType="VARCHAR"/>
        <result column="change_description" property="changeDescription" jdbcType="VARCHAR"/>
        <result column="execute_number" property="executeNumber" jdbcType="VARCHAR"/>
        <result column="execute_status" property="executeStatus" jdbcType="VARCHAR"/>
        <result column="execute_type" property="executeType" jdbcType="VARCHAR"/>
        <result column="duration_instance_id" property="durationInstanceId" jdbcType="DECIMAL"/>
        <result column="execute_instance_id" property="executeInstanceId" jdbcType="DECIMAL"/>
        <result column="execute_flag" property="executeFlag" jdbcType="VARCHAR"/>
        <result column="source_hd_id" property="sourceHdId" jdbcType="DECIMAL"/>
        <result column="execute_req_flag" property="executeReqFlag"/>

        <!-- 关联查询字段 -->
        <result column="business_type_n" property="businessTypeN"/>
        <result column="contract_number" property="contractNumber"/>
        <result column="contract_name" property="contractName"/>
        <result column="prj_con_number" property="prjConNumber"/>
        <result column="project_id_n" property="projectIdN"/>
        <result column="project_name" property="projectName"/>
        <result column="bp_id_n" property="bpIdN"/>
        <result column="duration_type_n" property="durationTypeN"/>
        <result column="duration_status_n" property="durationStatusN"/>
        <result column="apply_person_n" property="applyPersonN"/>
        <result column="apply_unit_id_n" property="applyUnitIdN"/>
        <result column="apply_date_from" property="applyDateFrom" jdbcType="DATE"/>
        <result column="apply_date_to" property="applyDateTo" jdbcType="DATE"/>
        <result column="contract_id_n" property="contractIdN"/>
        <result column="contract_status_n" property="contractStatusN"/>
        <result column="unit_name" property="unitName"/>
        <result column="employee_name" property="employeeName"/>
        <result column="bp_name" property="bpName"/>
        <result column="overdue_max_days" property="overdueMaxDays"/>
        <result column="bp_bank_account_id_n" property="bpBankAccountIdN"/>
        <result column="finance_amount" property="financeAmount"/>
        <result column="outstanding_principal" property="outstandingPrincipal"/>
        <result column="currency_code_n" property="currencyCodeN"/>
        <result column="prj_bp_name" property="prjBpName"/>
        <result column="prj_con_status_n" property="prjConStatusN"/>
        <result column="host_project_manager_n" property="hostProjectManagerN"/>
        <result column="host_unit_name" property="hostUnitName"/>
        <result column="assist_project_manager_n" property="assistProjectManagerN"/>
        <result column="assist_unit_name" property="assistUnitName"/>
        <result column="prj_finance_amount" property="prjFinanceAmount"/>
        <result column="prj_outstanding_principal" property="prjOutstandingPrincipal"/>
        <result column="prj_overdue_max_days" property="prjOverdueMaxDays"/>
        <result column="execute_type_n" property="executeTypeN"/>
        <result column="ref_project_id" property="refProjectId"/>
        <result column="execute_status_n" property="executeStatusN"/>
        <result column="TERMINATION_DATE" property="terminationDate"/>
        <result column="project_number" property="projectNumber"/>
        <result column="ET_DATE" property="etDate"/>
        <result column="ET_AMOUNT" property="etAmount"/>
        <result column="DEDUCTION_AMOUNT" property="deductionAmount"/>
        <result column="ACTUAL_ET_AMOUNT" property="actualEtAmount"/>
        <result column="bp_id" property="bpId"/>
        <result column="prj_con_name" property="prjConName"/>
        <result column="business_type" property="businessType"/>
        <result column="assist_project_manager" property="assistProjectManager"/>
        <result column="source_pk_value3" property="sourcePkValue3"/>
        <result column="approval_id" property="approvalId"/>

    </resultMap>
    <select id="prjProjectApprovalConQuery" resultMap="BaseResultMap"
            parameterType="com.hand.hls.hls.dto.HlsDurationHd">
        SELECT
        t.*
        FROM
        (
        SELECT
        h.*, p.project_number,
        p.project_name,
        (
        SELECT
        b.bp_name
        FROM
        hls_bp_master b
        WHERE
        b.bp_id = p.tenant_id
        ) prj_bp_name,
        (
        SELECT
        s.MEANING
        FROM
        sys_code_value_b_v s
        WHERE
        s. CODE = 'HLS.DURATION_STATUS'
        AND s.code_value = h.duration_status
        ) duration_status_n,
        (SELECT u.description
        FROM sys_user u
        WHERE u.user_id = h.apply_person) apply_person_n,
        (SELECT fou.unit_name
        FROM fnd_org_unit fou
        WHERE fou.unit_id = h.apply_unit_id) apply_unit_id_n,
        p.assist_project_manager,
        p.business_type,
        (SELECT
        max(fa.SOURCE_PK_VALUE)
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi faa,
        prj_project_attachment ha
        WHERE
        fa.ATTACHMENT_ID = faa.ATTACHMENT_ID
        AND faa.TABLE_PK_VALUE = ha.PROJECT_ATTACHMENT_ID
        and ha.PROJECT_ATTACHMENT_CATEGORY='HLS_PRJ_PROJECT_DOCX3'
        and faa.TABLE_NAME = 'HLS_PRJ_PROJECT_DOCX3_CHANGE'
        AND ha.project_id = p.project_id)source_pk_value3,
        (select a.approval_id from prj_project_approval a where a.project_id = p.project_id and a.data_class = 'CHANGE')approval_id,
        (select q.FINANCE_AMOUNT from prj_quotation q where q.SOURCE_DOCUMENT_ID  = p.project_id and q.data_class = 'PRJ_PROJECT_INVEST' and q.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT')finance_amount
        FROM
        hls_duration_hd h,
        prj_project P
        WHERE
        h.duration_type = 'REPLY'
        AND h.project_id = p.project_id
        AND p.data_class = 'NORMAL'
        ) t
        <where>
            1=1
            <if test="hdId!=null">
                and t.hd_id = #{hdId}
            </if>
            <if test="applyPerson!=null">
                and (t.apply_person = #{applyPerson} or (select distinct b.role_code from sys_user_allocation
                a,sys_role_b b
                where a.role_id = b.role_id and a.user_id = #{applyPerson} and b.role_code = 'ADMIN') = 'ADMIN')
            </if>
            <if test="durationNumber!=null">
                <bind name="durationNumber" value="'%'+durationNumber+'%'"/>
                and t.duration_number like #{durationNumber}
            </if>
            <if test="prjBpName!=null">
                <bind name="prjBpName" value="'%'+prjBpName+'%'"/>
                and t.prj_bp_name like #{prjBpName}
            </if>
            <if test="projectName!=null">
                <bind name="projectName" value="'%'+projectName+'%'"/>
                and t.project_name like #{projectName}
            </if>
            <if test="projectNumber!=null">
                <bind name="projectNumber" value="'%'+projectNumber+'%'"/>
                and t.project_number like #{projectNumber}
            </if>
            <if test="applyDateFrom!=null">
                and t.apply_date &gt;= #{applyDateFrom}
            </if>
            <if test="applyDateTo!=null">
                and t.apply_date &lt;= #{applyDateTo}
            </if>
            <if test="durationStatus!=null">
                and t.duration_status = #{durationStatus}
            </if>
        </where>
        order by t.creation_date desc

    </select>
    <select id="hlsDurationHdDetailQueryNew" resultMap="BaseResultMap"
            parameterType="com.hand.hls.hls.dto.HlsDurationHd">
        SELECT
        t.hd_id,
        t.APPLY_DATE,
        t.duration_status,
        t.APPLY_PERSON,
        t.DURATION_NUMBER,
        t.APPLY_DESCRIPTION,
        t.TERMINATION_DATE,
        (SELECT u.description
        FROM sys_user u
        WHERE u.user_id = t.apply_person) apply_person_n,
        t.APPLY_UNIT_ID,
        (SELECT fou.unit_name
        FROM fnd_org_unit fou
        WHERE fou.unit_id = t.apply_unit_id) apply_unit_id_n,
        t.PROJECT_ID,
        (
        SELECT
        p.project_number
        FROM
        prj_project p
        WHERE
        p.project_id = t.project_id
        ) project_number,
        (
        SELECT
        p.contract_number
        FROM
        prj_project p
        WHERE
        p.project_id = t.project_id
        ) contract_number,
        (
        SELECT
        p.ref_project_id
        FROM
        prj_project p
        WHERE
        p.project_id = t.project_id
        ) ref_project_id,
        ( SELECT p.contract_name FROM prj_project p WHERE p.project_id = t.project_id ) contract_name ,
        ( SELECT p.finance_amount FROM prj_project p WHERE p.project_id = t.project_id ) finance_amount ,
        ( SELECT (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'HLS200.LEASING_PRODUCT_DETAIL'
        and v.CODE_VALUE = p.business_type) FROM prj_project p WHERE p.project_id = t.project_id ) as business_type_n,
        ( SELECT ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = p.tenant_id ) FROM prj_project p WHERE
        p.project_id = t.project_id ) AS bp_name
        FROM
        hls_duration_hd t
        <where>
            1=1
            and t.duration_type != 'REPLY'
            <if test="hdId!=null">
                and t.hd_id = #{hdId}
            </if>
        </where>
    </select>
    <select id="hlsDurationHdEtDetailQueryNew" resultMap="BaseResultMap"
            parameterType="com.hand.hls.hls.dto.HlsDurationHd">
        SELECT
        t.hd_id,
        t.APPLY_DATE,
        t.duration_status,
        t.APPLY_PERSON,
        t.DURATION_NUMBER,
        t.APPLY_DESCRIPTION,
        t.TERMINATION_DATE,
        (SELECT u.description
        FROM sys_user u
        WHERE u.user_id = t.apply_person) apply_person_n,
        t.APPLY_UNIT_ID,
        (SELECT fou.unit_name
        FROM fnd_org_unit fou
        WHERE fou.unit_id = t.apply_unit_id) apply_unit_id_n,
        t.PROJECT_ID,
        (
        SELECT
        p.project_number
        FROM
        prj_project p
        WHERE
        p.project_id = t.project_id
        ) project_number,
        (
        SELECT
        p.contract_number
        FROM
        prj_project p
        WHERE
        p.project_id = t.project_id
        ) contract_number,
        (select p.finance_amount from prj_project p where p.project_id = t.project_id)PRJ_FINANCE_AMOUNT,
        t.ET_DATE,
        t.ET_AMOUNT,t.DEDUCTION_AMOUNT,t.ACTUAL_ET_AMOUNT,t.APPLY_DESCRIPTION,
        ( SELECT p.contract_name FROM prj_project p WHERE p.project_id = t.project_id ) contract_name ,
        ( SELECT ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = p.tenant_id ) FROM prj_project p WHERE
        p.project_id = t.project_id ) AS bp_name
        FROM
        hls_duration_hd t
        <where>
            1=1
            <if test="hdId!=null">
                and t.hd_id = #{hdId}
            </if>
            <if test="projectId!=null">
                and t.project_id = #{projectId}
            </if>
        </where>
    </select>
    <select id="hlsDurationHdHomeQuery" resultMap="BaseResultMap" parameterType="com.hand.hls.hls.dto.HlsDurationHd">
        SELECT
        t.*, t.contract_number AS contract_id_n
        FROM
        (
        SELECT
        hd.*, (
        CASE
        WHEN hd.duration_type = 'PROJECT' THEN
        (
        SELECT
        wm_concat(cc2.contract_number)
        FROM
        hls_duration_ln ln,
        con_contract cc2
        WHERE
        ln.hd_id = hd.hd_id
        AND ln.contract_id = cc2.contract_id
        )
        ELSE
        c.contract_number
        END
        ) contract_number,
        p.ref_project_id,
        (
        SELECT
        meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'CON.CONTRACT_STATUS'
        AND v.code_value = c.contract_status
        ) contract_status_n,
        c.contract_name,
        (
        SELECT
        u.unit_name
        FROM
        fnd_org_unit u
        WHERE
        u.unit_id = c.unit_id
        ) unit_name,
        (
        SELECT
        ee. NAME
        FROM
        fnd_employee ee
        WHERE
        c.employee_id = ee.employee_id
        ) employee_name,
        (
        SELECT
        bp.bp_name
        FROM
        hls_bp_master bp
        WHERE
        bp.bp_id = c.tenant_id
        ) bp_id_n,
        (
        SELECT
        bp.bp_name
        FROM
        hls_bp_master bp
        WHERE
        bp.bp_id = c.tenant_id
        ) bp_name,
        (
        SELECT
        s.MEANING
        FROM
        sys_code_value_b_v s
        WHERE
        s. CODE = 'HLS.DURATION_TYPE_NEW'
        AND s.code_value = hd.duration_type
        ) duration_type_n,
        (
        SELECT
        s.MEANING
        FROM
        sys_code_value_b_v s
        WHERE
        s. CODE = 'HLS.DURATION_STATUS'
        AND s.code_value = hd.duration_status
        ) duration_status_n,
        (
        SELECT
        u.description
        FROM
        sys_user u
        WHERE
        u.user_id = hd.apply_person
        ) apply_person_n,
        (
        SELECT
        fou.unit_name
        FROM
        fnd_org_unit fou
        WHERE
        fou.unit_id = hd.apply_unit_id
        ) apply_unit_id_n,
        p.contract_number AS prj_con_number,
        p.contract_number AS project_id_n,
        p.contract_name AS prj_con_name,
        p.project_name,
        (
        SELECT
        bp.bp_name
        FROM
        hls_bp_master bp
        WHERE
        bp.bp_id = p.tenant_id
        ) prj_bp_name,
        (
        SELECT
        t1.description
        FROM
        hls_document_status t1
        WHERE
        t1.document_category = 'CON_CONTRACT'
        AND t1.status_code = nvl(p.contract_status, 'NEW')
        ) prj_con_status_n,
        (
        SELECT
        u.unit_name
        FROM
        fnd_org_unit u
        WHERE
        u.unit_id = p.unit_id
        ) prj_unit_name,
        (
        SELECT
        ee. NAME
        FROM
        fnd_employee ee
        WHERE
        ee.employee_id = p.employee_id
        ) prj_employee_name,
        (
        SELECT
        s.description
        FROM
        sys_user s
        WHERE
        s.user_id = p.host_project_manager
        ) host_project_manager_n,
        (
        SELECT
        fou.unit_name
        FROM
        fnd_org_unit fou
        WHERE
        fou.unit_id = p.host_unit_id
        ) host_unit_name,
        (
        SELECT
        s.description
        FROM
        sys_user s
        WHERE
        s.user_id = p.assist_project_manager
        ) assist_project_manager_n,
        (
        SELECT
        fou.unit_name
        FROM
        fnd_org_unit fou
        WHERE
        fou.unit_id = p.assist_unit_id
        ) assist_unit_name,
        nvl(p.finance_amount, 0) AS prj_finance_amount,
        (
        SELECT
        s.MEANING
        FROM
        sys_code_value_b_v s
        WHERE
        s. CODE = 'HLS.EXECUTE_TYPE'
        AND s.code_value = hd.execute_type
        ) execute_type_n,
        (
        SELECT
        s.MEANING
        FROM
        sys_code_value_b_v s
        WHERE
        s. CODE = 'HLS.DURATION_STATUS'
        AND s.code_value = hd.execute_status
        ) execute_status_n
        FROM
        hls_duration_hd hd
        LEFT JOIN con_contract c ON c.contract_id = hd.contract_id
        LEFT JOIN prj_project p ON hd.project_id = p.project_id
        ) t
        <where>
            1=1
            and t.duration_number is not null
            and t.duration_type != 'REPLY'
            <if test="hdId!=null">
                and t.hd_id = #{hdId}
            </if>

            <if test="applyPerson!=null">
                and (t.apply_person = #{applyPerson} or (select distinct b.role_code from sys_user_allocation
                a,sys_role_b b
                where a.role_id = b.role_id and a.user_id = #{applyPerson} and b.role_code = 'ADMIN') = 'ADMIN')
            </if>
            <if test="durationNumber!=null">
                <bind name="durationNumber" value="'%'+durationNumber+'%'"/>
                and t.duration_number like #{durationNumber}
            </if>
            <if test="prjBpName!=null">
                <bind name="prjBpName" value="'%'+prjBpName+'%'"/>
                and t.prj_bp_name like #{prjBpName}
            </if>
            <if test="contractName!=null">
                <bind name="contractName" value="'%'+contractName+'%'"/>
                and t.contract_name like #{contractName}
            </if>
            <if test="contractName!=null">
                <bind name="contractName" value="'%'+contractName+'%'"/>
                and t.contract_name like #{contractName}
            </if>
            <if test="contractNumber!=null">
                <bind name="contractNumber" value="'%'+contractNumber+'%'"/>
                and t.contract_number like #{contractNumber}
            </if>
            <if test="projectName!=null">
                <bind name="projectName" value="'%'+projectName+'%'"/>
                and t.project_name like #{projectName}
            </if>
            <if test="prjConNumber!=null">
                <bind name="prjConNumber" value="'%'+prjConNumber+'%'"/>
                and t.prj_con_number like #{prjConNumber}
            </if>
            <if test="projectNumber!=null">
                <bind name="projectNumber" value="'%'+projectNumber+'%'"/>
                and t.prj_con_number like #{projectNumber}
            </if>
            <if test="durationType!=null">
                and t.duration_type = #{durationType}
            </if>
            <if test="executeType!=null">
                and t.execute_type = #{executeType}
            </if>
            <if test="applyDateFrom!=null">
                <![CDATA[
                and t.apply_date >= #{applyDateFrom}
              ]]>
            </if>
            <if test="applyDateTo!=null">
                <![CDATA[
                and t.apply_date <= #{applyDateTo}
              ]]>
            </if>
            <if test="durationStatus!=null">
                and t.duration_status = #{durationStatus}
            </if>
            <if test="executeFlag!=null">
                and nvl(t.execute_flag,'N') = #{executeFlag}
            </if>
        </where>
        order by t.hd_id desc
    </select>
    <select id="hlsDurationHdHomeReqQuery" resultMap="BaseResultMap" parameterType="com.hand.hls.hls.dto.HlsDurationHd">
        SELECT
        t.*, t.contract_number AS contract_id_n
        FROM
        (
        SELECT
        hd.*, (
        CASE
        WHEN hd.duration_type = 'PROJECT' THEN
        (
        SELECT
        wm_concat(cc2.contract_number)
        FROM
        hls_duration_ln ln,
        con_contract cc2
        WHERE
        ln.hd_id = hd.hd_id
        AND ln.contract_id = cc2.contract_id
        )
        ELSE
        c.contract_number
        END
        ) contract_number,
        p.ref_project_id,
        (
        SELECT
        meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'CON.CONTRACT_STATUS'
        AND v.code_value = c.contract_status
        ) contract_status_n,
        c.contract_name,
        (
        SELECT
        u.unit_name
        FROM
        fnd_org_unit u
        WHERE
        u.unit_id = c.unit_id
        ) unit_name,
        (
        SELECT
        ee. NAME
        FROM
        fnd_employee ee
        WHERE
        c.employee_id = ee.employee_id
        ) employee_name,
        (
        SELECT
        bp.bp_name
        FROM
        hls_bp_master bp
        WHERE
        bp.bp_id = c.tenant_id
        ) bp_id_n,
        (
        SELECT
        bp.bp_name
        FROM
        hls_bp_master bp
        WHERE
        bp.bp_id = c.tenant_id
        ) bp_name,
        (
        SELECT
        s.MEANING
        FROM
        sys_code_value_b_v s
        WHERE
        s. CODE = 'HLS.DURATION_TYPE_NEW'
        AND s.code_value = hd.duration_type
        ) duration_type_n,
        (
        SELECT
        s.MEANING
        FROM
        sys_code_value_b_v s
        WHERE
        s. CODE = 'HLS.DURATION_STATUS'
        AND s.code_value = hd.duration_status
        ) duration_status_n,
        (
        SELECT
        u.description
        FROM
        sys_user u
        WHERE
        u.user_id = hd.apply_person
        ) apply_person_n,
        (
        SELECT
        fou.unit_name
        FROM
        fnd_org_unit fou
        WHERE
        fou.unit_id = hd.apply_unit_id
        ) apply_unit_id_n,
        p.contract_number AS prj_con_number,
        p.contract_number AS project_id_n,
        p.project_name,
        (
        SELECT
        bp.bp_name
        FROM
        hls_bp_master bp
        WHERE
        bp.bp_id = p.tenant_id
        ) prj_bp_name,
        (
        SELECT
        t1.description
        FROM
        hls_document_status t1
        WHERE
        t1.document_category = 'CON_CONTRACT'
        AND t1.status_code = nvl(p.contract_status, 'NEW')
        ) prj_con_status_n,
        (
        SELECT
        u.unit_name
        FROM
        fnd_org_unit u
        WHERE
        u.unit_id = p.unit_id
        ) prj_unit_name,
        (
        SELECT
        ee. NAME
        FROM
        fnd_employee ee
        WHERE
        ee.employee_id = p.employee_id
        ) prj_employee_name,
        (
        SELECT
        s.description
        FROM
        sys_user s
        WHERE
        s.user_id = p.host_project_manager
        ) host_project_manager_n,
        (
        SELECT
        fou.unit_name
        FROM
        fnd_org_unit fou
        WHERE
        fou.unit_id = p.host_unit_id
        ) host_unit_name,
        (
        SELECT
        s.description
        FROM
        sys_user s
        WHERE
        s.user_id = p.assist_project_manager
        ) assist_project_manager_n,
        (
        SELECT
        fou.unit_name
        FROM
        fnd_org_unit fou
        WHERE
        fou.unit_id = p.assist_unit_id
        ) assist_unit_name,
        nvl(p.finance_amount, 0) AS prj_finance_amount,
        (
        SELECT
        s.MEANING
        FROM
        sys_code_value_b_v s
        WHERE
        s. CODE = 'HLS.EXECUTE_TYPE'
        AND s.code_value = hd.execute_type
        ) execute_type_n,
        (
        SELECT
        s.MEANING
        FROM
        sys_code_value_b_v s
        WHERE
        s. CODE = 'HLS.DURATION_STATUS'
        AND s.code_value = hd.execute_status
        ) execute_status_n
        FROM
        hls_duration_hd hd
        LEFT JOIN con_contract c ON c.contract_id = hd.contract_id
        LEFT JOIN prj_project p ON hd.project_id = p.project_id
        ) t
        <where>
            1=1
            <if test="hdId!=null">
                and t.hd_id = #{hdId}
            </if>

            <if test="applyPerson!=null">
                and (t.apply_person = #{applyPerson} or (select distinct b.role_code from sys_user_allocation
                a,sys_role_b b
                where a.role_id = b.role_id and a.user_id = #{applyPerson} and b.role_code = 'ADMIN') = 'ADMIN')
            </if>
            <if test="durationNumber!=null">
                <bind name="durationNumber" value="'%'+durationNumber+'%'"/>
                and t.duration_number like #{durationNumber}
            </if>
            <if test="prjBpName!=null">
                <bind name="prjBpName" value="'%'+prjBpName+'%'"/>
                and t.prj_bp_name like #{prjBpName}
            </if>
            <if test="contractName!=null">
                <bind name="contractName" value="'%'+contractName+'%'"/>
                and t.contract_name like #{contractName}
            </if>
            <if test="contractName!=null">
                <bind name="contractName" value="'%'+contractName+'%'"/>
                and t.contract_name like #{contractName}
            </if>
            <if test="contractNumber!=null">
                <bind name="contractNumber" value="'%'+contractNumber+'%'"/>
                and t.contract_number like #{contractNumber}
            </if>
            <if test="prjConNumber!=null">
                <bind name="prjConNumber" value="'%'+prjConNumber+'%'"/>
                and t.prj_con_number like #{prjConNumber}
            </if>

            <if test="projectName!=null">
                <bind name="projectName" value="'%'+projectName+'%'"/>
                and t.project_name like #{projectName}
            </if>
            <if test="durationType!=null">
                and t.duration_type = #{durationType}
            </if>
            <if test="executeType!=null">
                and t.execute_type = #{executeType}
            </if>
            <if test="applyDateFrom!=null">
                <![CDATA[
                and t.apply_date >= #{applyDateFrom}
              ]]>
            </if>
            <if test="applyDateTo!=null">
                <![CDATA[
                and t.apply_date <= #{applyDateTo}
              ]]>
            </if>
            <if test="durationStatus!=null">
                and t.duration_status = #{durationStatus}
            </if>
            <if test="executeFlag!=null">
                and nvl(t.execute_flag,'N') = #{executeFlag}
            </if>
        </where>
        order by t.hd_id desc
    </select>
    <select id="hlsDurationHdDetailQueryReqNew" resultMap="BaseResultMap"
            parameterType="com.hand.hls.hls.dto.HlsDurationHd">
        SELECT hd.*,
        (case
        when hd.duration_type = 'PROJECT' then
        (select wm_concat(cc2.contract_number)
        from hls_duration_ln ln, con_contract cc2
        where ln.hd_id = hd.hd_id
        and ln.contract_id = cc2.contract_id)
        else
        c.contract_number
        end) contract_number,
        p.ref_project_id,
        (SELECT meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'CON.CONTRACT_STATUS'
        AND v.code_value = c.contract_status) contract_status_n,
        c.contract_name,
        nvl(c.overdue_max_days, 0) overdue_max_days,
        nvl(c.finance_amount, 0) finance_amount,
        (SELECT SUM(cc.principal - nvl(cc.received_principal, 0))
        FROM con_contract_cashflow cc
        WHERE cc.contract_id = c.contract_id
        AND cc.cf_item = 1
        AND cc.cf_status = 'RELEASE') outstanding_principal,
        (SELECT u.unit_name
        FROM fnd_org_unit u
        WHERE u.unit_id = c.unit_id) unit_name,
        (SELECT ee.name
        FROM fnd_employee ee
        WHERE c.employee_id = ee.employee_id) employee_name,
        (SELECT bp.bp_name
        FROM hls_bp_master bp
        WHERE bp.bp_id = c.tenant_id) bp_id_n,
        (SELECT bp.bp_id
        FROM hls_bp_master bp
        WHERE bp.bp_id = c.tenant_id) bp_id,
        (SELECT bp.bp_name
        FROM hls_bp_master bp
        WHERE bp.bp_id = c.tenant_id) bp_name,
        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'HLS.DURATION_TYPE_NEW'
        AND s.code_value = hd.duration_type) duration_type_n,
        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'HLS.DURATION_STATUS'
        AND s.code_value = hd.duration_status) duration_status_n,
        (SELECT u.description
        FROM sys_user u
        WHERE u.user_id = hd.apply_person) apply_person_n,
        (SELECT fou.unit_name
        FROM fnd_org_unit fou
        WHERE fou.unit_id = hd.apply_unit_id) apply_unit_id_n,
        (case
        when hd.duration_type = 'PROJECT' then
        (select wm_concat(pp.contract_number)
        from hls_duration_ln ln, con_contract cc2, prj_project pp
        where ln.hd_id = hd.hd_id
        and ln.contract_id = cc2.contract_id
        and pp.project_id = cc2.project_id)
        else
        p.contract_number
        end) AS prj_con_number,
        p.contract_number AS project_id_n,
        (case
        when hd.duration_type = 'PROJECT' then
        (select wm_concat(pp.contract_name)
        from hls_duration_ln ln, con_contract cc2, prj_project pp
        where ln.hd_id = hd.hd_id
        and ln.contract_id = cc2.contract_id
        and pp.project_id = cc2.project_id)
        else
        p.project_name
        end) project_name,
        (case
        when hd.duration_type = 'PROJECT' then
        (select wm_concat(bp.bp_name)
        from hls_duration_ln ln,
        con_contract cc2,
        prj_project pp,
        hls_bp_master bp
        where ln.hd_id = hd.hd_id
        and ln.contract_id = cc2.contract_id
        and pp.project_id = cc2.project_id
        and bp.bp_id = pp.tenant_id)
        else
        (SELECT bp.bp_name
        FROM hls_bp_master bp
        WHERE bp.bp_id = p.tenant_id)
        end) prj_bp_name,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'HLS200.LEASING_PRODUCT_DETAIL'
        and v.CODE_VALUE = p.business_type) as business_type_n,
        (SELECT t1.description
        FROM hls_document_status t1
        WHERE t1.document_category = 'CON_CONTRACT'
        AND t1.status_code = nvl(p.contract_status, 'NEW')) prj_con_status_n,
        (SELECT u.unit_name
        FROM fnd_org_unit u
        WHERE u.unit_id = p.unit_id) prj_unit_name,
        (SELECT ee.name
        FROM fnd_employee ee
        WHERE ee.employee_id = p.employee_id) prj_employee_name,
        (select s.description from sys_user s where s.user_id = p.host_project_manager) host_project_manager_n,
        (select fou.unit_name from fnd_org_unit fou where fou.unit_id = p.host_unit_id) host_unit_name,
        (select s.description from sys_user s where s.user_id = p.assist_project_manager) assist_project_manager_n,
        (select fou.unit_name from fnd_org_unit fou where fou.unit_id = p.assist_unit_id) assist_unit_name,
        nvl(p.finance_amount, 0) AS prj_finance_amount,
        nvl((SELECT SUM(nvl(ccc.principal, 0) -
        nvl(ccc.received_principal, 0))
        FROM con_contract cc, con_contract_cashflow ccc
        WHERE cc.project_id = p.project_id
        AND cc.data_class = 'NORMAL'
        AND ccc.cf_item = 1
        AND ccc.cf_status = 'RELEASE'
        AND ccc.contract_id = cc.contract_id),
        0) prj_outstanding_principal,
        nvl((SELECT MAX(nvl(c.overdue_max_days, 0))
        FROM con_contract c
        WHERE c.project_id = p.project_id
        AND c.data_class = 'NORMAL'),
        0) AS prj_overdue_max_days,
        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'HLS.EXECUTE_TYPE'
        AND s.code_value = hd.execute_type) execute_type_n,

        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'HLS.DURATION_STATUS'
        AND s.code_value = hd.execute_status) execute_status_n

        FROM hls_duration_hd hd
        LEFT JOIN con_contract c
        ON c.contract_id = hd.contract_id
        LEFT JOIN prj_project p
        ON hd.project_id = p.project_id
        <where>
            1=1
            <if test="hdId!=null">
                and hd.hd_id = #{hdId}
            </if>
        </where>
        order by hd.hd_id desc
    </select>
    <select id="hlsDurationHdDetailQuery" resultMap="BaseResultMap" parameterType="com.hand.hls.hls.dto.HlsDurationHd">
        SELECT t.*, t.contract_number AS contract_id_n
        FROM (SELECT hd.*,
        (case
        when hd.duration_type = 'PROJECT' then
        (select wm_concat(cc2.contract_number)
        from hls_duration_ln ln, con_contract cc2
        where ln.hd_id = hd.hd_id
        and ln.contract_id = cc2.contract_id)
        else
        c.contract_number
        end) contract_number,
        p.ref_project_id,
        (SELECT meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'CON.CONTRACT_STATUS'
        AND v.code_value = c.contract_status) contract_status_n,
        c.contract_name,
        nvl(c.overdue_max_days, 0) overdue_max_days,
        nvl(c.finance_amount, 0) finance_amount,
        (SELECT SUM(cc.principal - nvl(cc.received_principal, 0))
        FROM con_contract_cashflow cc
        WHERE cc.contract_id = c.contract_id
        AND cc.cf_item = 1
        AND cc.cf_status = 'RELEASE') outstanding_principal,
        (SELECT u.unit_name
        FROM fnd_org_unit u
        WHERE u.unit_id = c.unit_id) unit_name,
        (SELECT ee.name
        FROM fnd_employee ee
        WHERE c.employee_id = ee.employee_id) employee_name,
        (SELECT bp.bp_name
        FROM hls_bp_master bp
        WHERE bp.bp_id = c.tenant_id) bp_id_n,
        (SELECT bp.bp_id
        FROM hls_bp_master bp
        WHERE bp.bp_id = c.tenant_id) bp_id,
        (SELECT bp.bp_name
        FROM hls_bp_master bp
        WHERE bp.bp_id = c.tenant_id) bp_name,
        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'HLS.DURATION_TYPE_NEW'
        AND s.code_value = hd.duration_type) duration_type_n,
        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'HLS.DURATION_STATUS'
        AND s.code_value = hd.duration_status) duration_status_n,
        (SELECT u.description
        FROM sys_user u
        WHERE u.user_id = hd.apply_person) apply_person_n,
        (SELECT fou.unit_name
        FROM fnd_org_unit fou
        WHERE fou.unit_id = hd.apply_unit_id) apply_unit_id_n,
        (case
        when hd.duration_type = 'PROJECT' then
        (select wm_concat(pp.contract_number)
        from hls_duration_ln ln, con_contract cc2, prj_project pp
        where ln.hd_id = hd.hd_id
        and ln.contract_id = cc2.contract_id
        and pp.project_id = cc2.project_id)
        else
        p.contract_number
        end) AS prj_con_number,
        p.contract_number AS project_id_n,
        (case
        when hd.duration_type = 'PROJECT' then
        (select wm_concat(pp.contract_name)
        from hls_duration_ln ln, con_contract cc2, prj_project pp
        where ln.hd_id = hd.hd_id
        and ln.contract_id = cc2.contract_id
        and pp.project_id = cc2.project_id)
        else
        p.project_name
        end) project_name,
        (case
        when hd.duration_type = 'PROJECT' then
        (select wm_concat(bp.bp_name)
        from hls_duration_ln ln,
        con_contract cc2,
        prj_project pp,
        hls_bp_master bp
        where ln.hd_id = hd.hd_id
        and ln.contract_id = cc2.contract_id
        and pp.project_id = cc2.project_id
        and bp.bp_id = pp.tenant_id)
        else
        (SELECT bp.bp_name
        FROM hls_bp_master bp
        WHERE bp.bp_id = p.tenant_id)
        end) prj_bp_name,
        (SELECT t1.description
        FROM hls_document_status t1
        WHERE t1.document_category = 'CON_CONTRACT'
        AND t1.status_code = nvl(p.contract_status, 'NEW')) prj_con_status_n,
        (SELECT u.unit_name
        FROM fnd_org_unit u
        WHERE u.unit_id = p.unit_id) prj_unit_name,
        (SELECT ee.name
        FROM fnd_employee ee
        WHERE ee.employee_id = p.employee_id) prj_employee_name,
        (select s.description from sys_user s where s.user_id = p.host_project_manager) host_project_manager_n,
        (select fou.unit_name from fnd_org_unit fou where fou.unit_id = p.host_unit_id) host_unit_name,
        (select s.description from sys_user s where s.user_id = p.assist_project_manager) assist_project_manager_n,
        (select fou.unit_name from fnd_org_unit fou where fou.unit_id = p.assist_unit_id) assist_unit_name,
        nvl(p.finance_amount, 0) AS prj_finance_amount,
        nvl((SELECT SUM(nvl(ccc.principal, 0) -
        nvl(ccc.received_principal, 0))
        FROM con_contract cc, con_contract_cashflow ccc
        WHERE cc.project_id = p.project_id
        AND cc.data_class = 'NORMAL'
        AND ccc.cf_item = 1
        AND ccc.cf_status = 'RELEASE'
        AND ccc.contract_id = cc.contract_id),
        0) prj_outstanding_principal,
        nvl((SELECT MAX(nvl(c.overdue_max_days, 0))
        FROM con_contract c
        WHERE c.project_id = p.project_id
        AND c.data_class = 'NORMAL'),
        0) AS prj_overdue_max_days,
        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'HLS.EXECUTE_TYPE'
        AND s.code_value = hd.execute_type) execute_type_n,

        (SELECT s.MEANING
        FROM sys_code_value_b_v s
        WHERE s.CODE = 'HLS.DURATION_STATUS'
        AND s.code_value = hd.execute_status) execute_status_n

        FROM hls_duration_hd hd
        LEFT JOIN con_contract c
        ON c.contract_id = hd.contract_id
        LEFT JOIN prj_project p
        ON hd.project_id = p.project_id) t
        <where>
            1=1
            and t.duration_number is not null
            and t.duration_type != 'REPLY'
            <if test="hdId!=null">
                and t.hd_id = #{hdId}
            </if>

            <if test="applyPerson!=null">
                and (t.apply_person = #{applyPerson} or (select distinct b.role_code from sys_user_allocation
                a,sys_role_b b
                where a.role_id = b.role_id and a.user_id = #{applyPerson} and b.role_code = 'ADMIN') = 'ADMIN')
            </if>
            <if test="durationNumber!=null">
                <bind name="durationNumber" value="'%'+durationNumber+'%'"/>
                and t.duration_number like #{durationNumber}
            </if>
            <if test="prjBpName!=null">
                <bind name="prjBpName" value="'%'+prjBpName+'%'"/>
                and t.prj_bp_name like #{prjBpName}
            </if>
            <if test="contractName!=null">
                <bind name="contractName" value="'%'+contractName+'%'"/>
                and t.contract_name like #{contractName}
            </if>
            <if test="contractName!=null">
                <bind name="contractName" value="'%'+contractName+'%'"/>
                and t.contract_name like #{contractName}
            </if>
            <if test="contractNumber!=null">
                <bind name="contractNumber" value="'%'+contractNumber+'%'"/>
                and t.contract_number like #{contractNumber}
            </if>
            <if test="projectName!=null">
                <bind name="projectName" value="'%'+projectName+'%'"/>
                and t.project_name like #{projectName}
            </if>
            <if test="durationType!=null">
                and t.duration_type = #{durationType}
            </if>
            <if test="executeType!=null">
                and t.execute_type = #{executeType}
            </if>
            <if test="applyDateFrom!=null">
                <![CDATA[
                and t.apply_date >= #{applyDateFrom}
              ]]>
            </if>
            <if test="applyDateTo!=null">
                <![CDATA[
                and t.apply_date <= #{applyDateTo}
              ]]>
            </if>
            <if test="durationStatus!=null">
                and t.duration_status = #{durationStatus}
            </if>
            <if test="executeFlag!=null">
                and nvl(t.execute_flag,'N') = #{executeFlag}
            </if>
        </where>
        order by t.hd_id desc
    </select>
    <select id="hlsDurationHdDetailQueryNew1" resultMap="BaseResultMap"
            parameterType="com.hand.hls.hls.dto.HlsDurationHd">
        select t1.* from (SELECT
        (case
        when hd.duration_type = 'PROJECT' then
        (select wm_concat(pp.contract_number)
        from hls_duration_ln ln, con_contract cc2, prj_project pp
        where ln.hd_id = hd.hd_id
        and ln.contract_id = cc2.contract_id
        and pp.project_id = cc2.project_id)
        else
        p.contract_number
        end) AS prj_con_number,
        c.contract_number AS contract_id_n,
        c.CONTRACT_ID,
        (SELECT bp.bp_name
        FROM hls_bp_master bp
        WHERE bp.bp_id = c.tenant_id) bp_id_n,
        (SELECT bp.bp_id
        FROM hls_bp_master bp
        WHERE bp.bp_id = c.tenant_id) bp_id,
        (SELECT bp.bp_name
        FROM hls_bp_master bp
        WHERE bp.bp_id = c.tenant_id) bp_name,
        (case
        when hd.duration_type = 'PROJECT' then
        (select wm_concat(pp.contract_name)
        from hls_duration_ln ln, con_contract cc2, prj_project pp
        where ln.hd_id = hd.hd_id
        and ln.contract_id = cc2.contract_id
        and pp.project_id = cc2.project_id)
        else
        p.project_name
        end) project_name,
        p.contract_number AS project_id_n,
        (SELECT u.unit_name
        FROM fnd_org_unit u
        WHERE u.unit_id = c.unit_id) unit_name,
        (SELECT u.description
        FROM sys_user u
        WHERE u.user_id = hd.apply_person) apply_person_n,
        hd.APPLY_DATE,
        (SELECT meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'CON.CONTRACT_STATUS'
        AND v.code_value = c.contract_status) contract_status_n,
        nvl(c.finance_amount, 0) finance_amount,
        hd.DURATION_NUMBER,
        hd.HD_ID,hd.PROJECT_ID,
        hd.DURATION_TYPE,hd.DURATION_STATUS,hd.DEDUCTION_AMOUNT
        FROM
        hls_duration_hd hd
        LEFT JOIN con_contract c ON c.contract_id = hd.contract_id
        LEFT JOIN prj_project p ON hd.project_id = p.project_id) t1
        <where>
            1=1
            <if test="hdId!=null">
                and t1.hd_id = #{hdId}
            </if>


        </where>
        order by t1.hd_id desc
    </select>
    <select id="createSelectHdAll" resultMap="BaseResultMap" parameterType="com.hand.hls.hls.dto.HlsDurationHd">
        select * from HLS_DURATION_HD hd
        <where>
            1=1
            <if test="hdId != null">
                and hd.hd_id = #{hdId}
            </if>

        </where>

    </select>
    <select id="contractCheckList" resultMap="BaseResultMap" parameterType="com.hand.hls.hls.dto.HlsDurationHd">
        select * from HLS_DURATION_HD hd , hls_duration_deposit ln
        <where>
            hd.hd_id = ln.hd_id
            and ln.contract_id = #{contractId}
            and hd.duration_type = #{durationType}
            and hd.DURATION_STATUS IN ('NEW', 'APPROVING')
            <if test="hdId != null">
                and hd.hd_id != #{hdId}
            </if>

        </where>

    </select>

    <select id="selectDurationHdCheck" parameterType="com.hand.hls.hls.dto.HlsDurationHd" resultMap="BaseResultMap">
        select hd.*
          from hls_duration_hd hd
         where hd.duration_number =
               (select hd2.duration_number
                  from hls_duration_hd hd2
                 where hd2.hd_id = #{hdId})
           and hd.execute_number is not null
           and hd.execute_status != 'CANCEL'
    </select>

    <select id="queryHlsDurationHdForPrjLov" parameterType="com.hand.hls.hls.dto.HlsDurationHd"
            resultMap="BaseResultMap">
        select hd.hd_id,
        hd.duration_number,
        hd.project_id,
        p.project_number,
        p.project_name
        from hls_duration_hd hd,prj_project p
        <where>
            hd.duration_type = 'PROJECT'
            and p.project_id = hd.project_id
            and hd.execute_number is null
            and hd.duration_status in ('APPROVED','APPROVING')
            <if test="durationNumber != null">
                and hd.duration_number like concat('%',concat(#{durationNumber},'%'))
            </if>
            <if test="projectNumber != null">
                and p.project_number like concat('%',concat(#{projectNumber},'%'))
            </if>
        </where>
    </select>

    <select id="hlsDurationHdExistCheckForLeaseItem" parameterType="com.hand.hls.hls.dto.HlsDurationLn"
            resultMap="BaseResultMap">
        select hd.*
          from hls_duration_hd hd
         where hd.hd_id in
               (select distinct ln.hd_id
                  from hls_duration_ln ln
                 where ln.lease_item_detail_id in
                       (select distinct hlid.lease_item_detail_id
                          from hls_lease_item_detail hlid
                         where hlid.lease_item_id = #{leaseItemId}))
           and ((hd.duration_status not in ('APPROVED', 'CANCEL') and
               hd.execute_number is null) or
               (hd.execute_status not in ('APPROVED', 'CANCEL') and
               hd.execute_number is not null))

    </select>

</mapper>