<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.HlsWebExcelMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.HlsWebExcel">
        <result column="EXCEL_ID" property="excelId" jdbcType="DECIMAL" />
        <result column="EXCEL_CODE" property="excelCode" jdbcType="VARCHAR" />
        <result column="EXCEL_NAME" property="excelName" jdbcType="VARCHAR" />
        <result column="EXCEL_TYPE" property="excelType" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="ExcelInfoMap" type="map">
        <result column="excel_id" property="excel_id"/>
        <result column="excel_code" property="excel_code"/>
        <result column="excel_name" property="excel_name"/>
        <result column="excel_type" property="excel_type"/>
        <result column="enabled_flag" property="enabled_flag"/>
    </resultMap>

    <select id="selectHlsWebExcelInfo" resultMap="ExcelInfoMap">
        select
          h.excel_id,
          h.excel_code,
          h.excel_name,
          h.excel_type,
          h.enabled_flag
         from hls_web_excel h
         <where>
             <if test="excelCode != null">
                and h.excel_code = #{excelCode}
             </if>
             <if test="excelName != null">
                and h.excel_name = #{excelName}
             </if>
             <if test="excelType != null">
                and h.excel_type = #{excelType}
             </if>
         </where>
    </select>


</mapper>