<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.HlsWebExcelCalcResultMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.HlsWebExcelCalcResult">
        <result column="RESULT_ID" property="resultId" jdbcType="DECIMAL" />
        <result column="EXCEL_ID" property="excelId" jdbcType="DECIMAL" />
        <result column="SOURCE_DOCUMENT_ID" property="sourceDocumentId" jdbcType="DECIMAL" />
        <result column="SOURCE_DOCUMENT_CATEGORY" property="sourceDocumentCategory" jdbcType="VARCHAR" />
        <result column="SHEETS" property="sheets" jdbcType="VARCHAR" />
        <result column="fin_statement_name" property="finStatementName" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectHlsWebExcelCalcResultInfo" resultType="com.hand.hls.hls.dto.HlsWebExcelCalcResult">
        select
          hh5.result_id,
          hh5.excel_id,
          hh5.source_document_id,
          hh5.source_document_category,
          hh5.fin_statement_name
        from hls_web_excel_calc_result hh5
        where hh5.result_id = #{resultId}
    </select>


</mapper>