<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.HlsWebExcelConfigHdMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.HlsWebExcelConfigHd">
        <result column="CONFIG_HD_ID" property="configHdId" jdbcType="DECIMAL" />
        <result column="EXCEL_ID" property="excelId" jdbcType="DECIMAL" />
        <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
        <result column="TABLE_TYPE" property="tableType" jdbcType="VARCHAR" />
        <result column="MULTI_LINE_FROM" property="multiLineFrom" jdbcType="VARCHAR" />
        <result column="MULTI_LINE_TO" property="multiLineTo" jdbcType="VARCHAR" />
        <result column="SHEET_NAME" property="sheetName" jdbcType="VARCHAR" />
        <result column="excel_name" property="excelName"/>
        <result column="excel_code" property="excelCode"/>
        <result column="loop_type" property="loopType"/>
    </resultMap>

    <select id="getConfigHdInfoByExcel" resultMap="BaseResultMap">
        select hd.*, hpl.excel_name,hpl.excel_code
          from hls_web_excel_config_hd hd
          left join hls_web_excel hpl
            on hpl.excel_id = hd.excel_id
        where
          hd.excel_id = #{excelId}
        <if test="tableType != null">
            AND hd.table_type=#{tableType}
        </if>
        <if test="sheetName != null">
            and hd.sheet_name = #{sheetName}
        </if>
    </select>

</mapper>