<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hls.mapper.HlsWebExcelConfigLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hls.dto.HlsWebExcelConfigLn">
        <result column="CONFIG_LN_ID" property="configLnId" jdbcType="DECIMAL" />
        <result column="CONFIG_HD_ID" property="configHdId" jdbcType="DECIMAL" />
        <result column="COLUMN_NAME" property="columnName" jdbcType="VARCHAR" />
        <result column="COLUMN_CODE" property="columnCode" jdbcType="VARCHAR" />
        <result column="COLUMN_TYPE" property="columnType" jdbcType="VARCHAR" />
        <result column="VALIDATE_TYPE" property="validateType" jdbcType="VARCHAR" />
        <result column="VALIDATE_SQL" property="validateSql" jdbcType="VARCHAR" />
        <result column="PRECISIONS" property="precisions" jdbcType="DECIMAL" />
        <result column="HIDE_COLUMN_FLAG" property="hideColumnFlag" jdbcType="VARCHAR" />
        <result column="HIDE_ROW_FLAG" property="hideRowFlag" jdbcType="VARCHAR" />
        <result column="FORMULA_NO_CHECK_FLAG" property="formulaNoCheckFlag" jdbcType="VARCHAR" />
        <result column="PROMPT" property="prompt" jdbcType="VARCHAR" />
        <result column="description" property="description"/>
        <result column="sheet_name" property="sheetName"/>
    </resultMap>

    <select id="selectHlsWebExcelConfiglineByHdId" resultMap="BaseResultMap">
        SELECT
        ln.*,hd.sheet_name
        FROM
        hls_web_excel_config_ln ln,
        hls_web_excel_config_hd hd
        where ln.config_hd_id = hd.config_hd_id
        and ln.config_hd_id = #{configHdId}
        <if test="excelId !=null">
            and hd.excel_id= #{excelId}
        </if>
        <if test="tableType !=null">
            AND hd.table_type = #{tableType}
        </if>
        <if test="formulaNoCheckFlag !=null">
            and ln.formula_no_check_flag=#{formulaNoCheckFlag}
        </if>
        <if test="hideColumnFlag !=null">
            and ln.hide_column_flag=#{hideColumnFlag}
        </if>
        <if test="hideRowFlag !=null">
            and ln.hide_row_flag=#{hideRowFlag}
        </if>
        <if test="columnName !=null">
            and ln.column_name like concat(concat('%',#{columnName}),'%')
        </if>
        <if test="columnCode !=null">
            and ln.column_code like concat(concat('%',#{columnCode}),'%')
        </if>
        order by ln.config_ln_id desc
    </select>

    <select id="selectHlsWebExcelConfiglineByExcelCode" resultMap="BaseResultMap" parameterType="com.hand.hls.hls.dto.HlsWebExcelConfigLn">
        SELECT
        ln.*,
        hd.sheet_name
        FROM
        hls_web_excel_config_ln ln,
        hls_web_excel_config_hd hd
        where ln.config_hd_id=hd.config_hd_id

        <if test="excelId !=null">
            and hd.excel_id =  #{excelId}
        </if>
        <if test="sheetName != null">
            and hd.sheet_name = #{sheetName}
        </if>
        <if test="tableType !=null">
            AND hd.table_type = #{tableType}
        </if>
        <if test="formulaNoCheckFlag !=null">
            and ln.formula_no_check_flag=#{formulaNoCheckFlag}
        </if>
        <if test="configHdId != null">
            and ln.config_hd_id = #{configHdId}
        </if>
        <if test="hideColumnFlag !=null">
            and ln.hide_column_flag=#{hideColumnFlag}
        </if>
        <if test="hideRowFlag !=null">
            and ln.hide_row_flag=#{hideRowFlag}
        </if>
        <if test="columnName !=null">
            and ln.column_name like concat(concat('%',#{columnName}),'%')
        </if>
        <if test="columnCode !=null">
            and ln.column_code like concat(concat('%',#{columnCode}),'%')
        </if>
        order by ln.config_ln_id desc
    </select>


</mapper>