<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.ins.mapper.PrjInsureSettlementListMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.ins.dto.PrjInsureSettlementList">
        <result column="SETTLEMENT_ID" property="settlementId" jdbcType="DECIMAL" />
        <result column="INSURE_ID" property="insureId" jdbcType="DECIMAL" />
        <result column="SETTLEMENT_NUMBER" property="settlementNumber" jdbcType="VARCHAR" />
        <result column="SETTLEMENT_AMOUNT" property="settlementAmount" jdbcType="DECIMAL" />
        <result column="SETTLEMENT_DATE" property="settlementDate" jdbcType="DATE" />
        <result column="SETTLEMENT_ACCIDENT" property="settlementAccident" jdbcType="VARCHAR" />
        <result column="SETTLEMENT_PLACE" property="settlementPlace" jdbcType="VARCHAR" />
        <result column="DEAL_DATE" property="dealDate" jdbcType="DATE" />
    </resultMap>
    <select id="queryAll"  parameterType="com.hand.hls.ins.dto.PrjInsureSettlementList" resultMap="BaseResultMap">
        select t.* from prj_insure_settlement_list t
        <where>
                t.insure_id = #{insureId}
        </where>
    </select>

</mapper>