<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.ins.mapper.PrjInsureBeneficiaryMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.ins.dto.PrjInsureBeneficiary">
        <result column="BENEFICIARY_ID" property="beneficiaryId" jdbcType="DECIMAL" />
        <result column="INSURE_ID" property="insureId" jdbcType="DECIMAL" />
        <result column="BENEFICIARY_NUMBER" property="beneficiaryNumber" jdbcType="VARCHAR" />
        <result column="BENEFICIARY_TYPE" property="beneficiaryType" jdbcType="VARCHAR" />
        <result column="BENEFICIARY_NAME" property="beneficiaryName" jdbcType="VARCHAR" />
        <result column="BENEFICIARY_NOTE" property="beneficiaryNote" jdbcType="VARCHAR" />
        <result column="BENEFICIARY_TYPE_N" property="beneficiaryTypeN" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll"  parameterType="com.hand.hls.ins.dto.PrjInsureBeneficiary" resultMap="BaseResultMap">
        select
            t.*,
            (select sc.meaning value_name
                from sys_code_value_b_v sc
                where sc.code = 'BENEFICIARY_TYPE'
                    and sc.code_value = t.BENEFICIARY_TYPE)BENEFICIARY_TYPE_N
            from prj_insure_beneficiary t
        <where>
                t.insure_id = #{insureId}
        </where>
    </select>

</mapper>