<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.sign.mapper.SignRecordMapper">
    <resultMap id="OrgSignProjectMap" type="map">
        <result column="project_id" property="project_id"/>
        <result column="project_number" property="project_number"/>
        <result column="sign_status" property="sign_status"/>
        <result column="sign_status_n" property="sign_status_n"/>
        <result column="project_status" property="project_status"/>
        <result column="project_status_n" property="project_status_n"/>
        <result column="sign_type" property="sign_type"/>
        <result column="sign_type_n" property="sign_type_n"/>
        <result column="tenant_id" property="tenant_id"/>
        <result column="tenant_id_n" property="tenant_id_n"/>
        <result column="factory_id" property="factory_id"/>
        <result column="factory_id_n" property="factory_id_n"/>
        <result column="bp_id_vender" property="bp_id_vender"/>
        <result column="bp_id_vender_n" property="bp_id_vender_n"/>
        <result column="lease_channel" property="lease_channel"/>
        <result column="lease_channel_n" property="lease_channel_n"/>
        <result column="document_type" property="document_type"/>
        <result column="document_type_n" property="document_type_n"/>
        <result column="employee_id" property="employee_id"/>
        <result column="employee_id_n" property="employee_id_n"/>
        <result column="lease_organization" property="lease_organization"/>
        <result column="lease_organization_n" property="lease_organization_n"/>
        <result column="org_sign_state" property="org_sign_state"/>
        <result column="org_sign_state_n" property="org_sign_state_n"/>
        <result column="manufacturer_id" property="manufacturer_id"/>
        <result column="division" property="division"/>
        <result column="project_attachment_id" property="project_attachment_id"/>
        <result column="id_card_no" property="id_card_no"/>
        <result column="phone" property="phone"/>
        <result column="signed_flag" property="signed_flag"/>
    </resultMap>

    <select id="orgSignProjectQuery" resultMap="OrgSignProjectMap">
        Select v.*
        From (Select pp.project_id,
        pp.project_number,
        nvl(pp.sign_status,'NEW') sign_status,
        (Select v.meaning
        From sys_code_value_b_v v
        Where v. CODE = 'SIGN_STATUS'
        And v.code_value = nvl(pp.sign_status,'NEW')) sign_status_n,
        pp.project_status,
        (select description from hls_document_status
        where document_category = 'PRJ_PROJECT'
        and status_code = pp.project_status) project_status_n,
        pp.sign_type,
        (Select v.meaning
        From sys_code_value_b_v v
        Where v. CODE = 'SIGN_METHOD'
        And v.code_value = pp.sign_type) sign_type_n,
        pp.tenant_id,
        (Select hm.bp_name
        From hls_bp_master hm
        Where hm.bp_id = pp.tenant_id) tenant_id_n,
        pp.factory_id,
        (Select hm.bp_name
        From hls_bp_master hm
        Where hm.bp_id = pp.factory_id) factory_id_n,
        pp.bp_id_vender,
        (Select hm.bp_name
        From hls_bp_master hm
        Where hm.bp_id = pp.bp_id_vender) bp_id_vender_n,
        pp.lease_channel,
        (Select hc.description
        From hls_lease_channel hc
        Where hc.lease_channel = pp.lease_channel) lease_channel_n,
        pp.document_type,
        (SELECT v.description value_name
        FROM hls_document_type v
        WHERE V.enabled_flag = 'Y'
        AND v.document_category = 'PRJ_PROJECT_IMPORT'
        and 	v.document_type in ('PRJL', 'PRJLB')
        AND v.document_type = pp.document_type) document_type_n,
        pp.employee_id,
        (Select fe.name
        From fnd_employee fe
        Where fe.employee_id = pp.employee_id) employee_id_n,
        pp.lease_organization,
        (Select fu.unit_name
        From fnd_org_unit fu
        Where fu.unit_code = pp.lease_organization
        And fu.enabled_flag = 'Y') lease_organization_n,
        nvl(pp.org_sign_state,'NEW') org_sign_state,
        (Select v.meaning
        From sys_code_value_b_v v
        Where v.CODE = 'ORG_SIGN_STATE'
        And v.code_value = nvl(pp.org_sign_state,'NEW')) org_sign_state_n,
        pp.manufacturer_id,
        pp.division,pp.signed_flag,
        (select hbm.phone from hls_bp_master hbm where hbm.bp_id = pp.factory_id) phone,
        (select hbm.id_card_no from hls_bp_master hbm where hbm.bp_id = pp.factory_id) id_card_no,
        (SELECT PROJECT_ATTACHMENT_ID FROM PRJ_PROJECT_ATTACHMENT pa
        WHERE pa.PROJECT_ID = pp.PROJECT_ID AND pa.PROJECT_ATTACHMENT_CATEGORY = 'ONLINE_SIGN_CONTRACT'
        AND ROWNUM &lt;= 1) PROJECT_ATTACHMENT_ID
        From prj_project pp
        Where pp.signed_flag = 'Y') v
        <where>
            <if test="project_id!=null">
                and  v.project_id = #{project_id}
            </if>
            <if test="project_number!=null">
                and  v.project_number  like concat(concat('%',#{project_number}),'%')
            </if>
            <if test="bp_id_tenant_n!=null">
                and  v.bp_id_tenant_n  like concat(concat('%',#{bp_id_tenant_n}),'%')
            </if>
            <if test="bp_id_vender!=null">
                and v.bp_id_vender = #{bp_id_vender}
            </if>
            <if test="org_sign_state!=null">
                and  v.org_sign_state  = #{org_sign_state}
            </if>
            <if test="bp_id != null">
                <if test="bp_category == '主机厂'">
                    and (v.factory_id = #{bp_id} or #{user_name} = 'admin')
                </if>
                <if test="bp_category == '经销商'">
                    and (v.bp_id_vender = #{bp_id} or #{user_name}='admin')
                </if>
            </if>
        </where>
        order by v.project_number desc
    </select>

    <select id="queryLatestSign" resultType="com.hand.hls.sign.dto.SignRecord">
        select * from PRJ_SIGN_RECORD where sign_id =
        (
            SELECT max(sign_id) FROM "PRJ_SIGN_RECORD"
            where source_doc_category = #{docCategory} and source_doc_id =#{docId}
        )
    </select>
</mapper>