<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.pli.mapper.HlsCusPliLitigationDescMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.pli.dto.HlsCusPliLitigationDesc">
        <result column="LITIGATION_DESC_ID" property="litigationDescId" jdbcType="DECIMAL" />
        <result column="POSTLOAN_INSPECTION_ID" property="postloanInspectionId" jdbcType="VARCHAR" />
        <result column="OPPO_EXEC_MASTER" property="oppoExecMaster" jdbcType="VARCHAR" />
        <result column="APPLY_EXEC_MASTER" property="applyExecMaster" jdbcType="VARCHAR" />
        <result column="EXEC_DATE" property="execDate" jdbcType="DATE" />
        <result column="LITIGATION_NUMBER" property="litigationNumber" jdbcType="VARCHAR" />
        <result column="SUMMARY" property="summary" jdbcType="VARCHAR" />
        <result column="EXEC_ITEM" property="execItem" jdbcType="VARCHAR" />
        <result column="SUBJECT_AMOUNT" property="subjectAmount" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>


</mapper>