<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.pli.mapper.HlsCusPostloanInspectionConclusionHMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.pli.dto.HlsCusPostloanInspectionConclusionH">
        <result column="conclusion_h_id" property="conclusionHId" jdbcType="DECIMAL" />
        <result column="postLoan_inspection_id" property="postloanInspectionId" jdbcType="DECIMAL" />
        <result column="inspection_date" property="inspectionDate" jdbcType="DATE" />
        <result column="postLoan_inspection_conclusion" property="postloanInspectionConclusion" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectPostLoanConclusionH" resultMap="BaseResultMap" parameterType="com.hand.hls.plm.pli.dto.HlsCusPostloanInspectionConclusionH">
        SELECT
        ppch.conclusion_h_id,ppch.postLoan_inspection_id,ppch.inspection_date,ppch.postLoan_inspection_conclusion
         FROM plm_postloan_inspect_res_h ppch
        WHERE ppch.postLoan_inspection_id = #{postloanInspectionId}
    </select>

    <select id="selectPostLoanConclusionHByBpId" resultMap="BaseResultMap" parameterType="com.hand.hls.plm.pli.dto.HlsCusPostloanInspectionConclusionH">
        SELECT
        ppi.postLoan_inspection_id,ppi.inspection_date,ppi.postLoan_inspection_conclusion
        FROM plm_postloan_inspection ppi
        WHERE ppi.bp_id = #{bpId}
        and ppi.status = 'APPROVED'
    </select>
</mapper>