<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.pli.mapper.HlsCusPostloanInspectionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.pli.dto.HlsCusPostloanInspection">
        <result column="postLoan_inspection_id" property="postloanInspectionId" jdbcType="DECIMAL"/>
        <result column="postLoan_inspection_number" property="postloanInspectionNumber" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="inspect_frenquency" property="inspectFrenquency" jdbcType="VARCHAR"/>
        <result column="inspection_method" property="inspectionMethod" jdbcType="VARCHAR"/>
        <result column="inspection_date" property="inspectionDate" jdbcType="DATE"/>
        <result column="peer_staff" property="peerStaff" jdbcType="VARCHAR"/>
        <result column="check_address" property="checkAddress" jdbcType="VARCHAR"/>
        <result column="APPOINTED_DATE" property="appointedDate" jdbcType="DATE"/>

        <result column="customer_operation" property="customerOperation" jdbcType="VARCHAR"/>
        <result column="use_funds_check" property="useFundsCheck" jdbcType="VARCHAR"/>
        <result column="financial_status" property="financialStatus" jdbcType="VARCHAR"/>
        <result column="customer_repayment" property="customerRepayment" jdbcType="VARCHAR"/>
        <result column="other_situation" property="otherSituation" jdbcType="VARCHAR"/>

        <result column="postLoan_inspection_conclusion" property="postloanInspectionConclusion" jdbcType="VARCHAR"/>

        <result column="bp_code" property="bpCode" jdbcType="VARCHAR"/>
        <result column="bp_category" property="bpCategory" jdbcType="VARCHAR"/>
        <result column="bp_category_description" property="bpCategoryDescription" jdbcType="VARCHAR"/>
        <result column="bp_type" property="bpType" jdbcType="VARCHAR"/>
        <result column="bp_type_description" property="bpTypeDescription" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="bp_class" property="bpClass" jdbcType="VARCHAR"/>
        <result column="associated_division" property="associatedDivision" jdbcType="VARCHAR"/>

        <result column="five_Classification_Id" property="fiveClassificationId" jdbcType="DECIMAL"/>
        <result column="creation_user_id" property="creationUserId" jdbcType="DECIMAL"/>
        <result column="creation_name" property="creationName" jdbcType="VARCHAR"/>

        <result column="inspection_type" property="inspectionType" jdbcType="VARCHAR"/>
        <result column="inspection_year" property="inspectionYear" jdbcType="DECIMAL"/>
        <result column="inspection_month" property="inspectionMonth" jdbcType="DECIMAL"/>
        <result column="expected_completion_date" property="expectedCompletionDate" jdbcType="DATE"/>
        <result column="start_date" property="startDate" jdbcType="DATE"/>
        <result column="end_date" property="endDate" jdbcType="DATE"/>
        <result column="project_manager" property="projectManager" jdbcType="VARCHAR"/>
        <result column="risk_examiner" property="riskExaminer" jdbcType="VARCHAR"/>
        <result column="postloan_inspection_createtime" property="postloanInspectionCreatetime" jdbcType="DATE"/>
        <result column="RPT_DATE" property="rptDate" jdbcType="VARCHAR"/>

        <result column="inspectors" property="inspectors" jdbcType="VARCHAR"/>
        <result column="offsite_inspection" property="offsiteInspection" jdbcType="VARCHAR"/>
        <result column="other_inspection" property="otherInspection" jdbcType="VARCHAR"/>

        <result column="is_plane_check" property="isPlaneCheck"  jdbcType="VARCHAR" />
        <result column="INTERVIEWEE_NAME1" property="intervieweeName1"  jdbcType="VARCHAR"/>
        <result column="INTERVIEWEE_NAME2" property="intervieweeName2"  jdbcType="VARCHAR"/>
        <result column="INTERVIEWEE_JOB_TITLE1" property="intervieweeJobTitle1"  jdbcType="VARCHAR"/>
        <result column="INTERVIEWEE_JOB_TITLE2" property="intervieweeJobTitle2" jdbcType="VARCHAR" />
        <result column="print_type" property="printType" jdbcType="VARCHAR"/>

        <result column="inspection_type_n" property="inspectionTypeN"/>
        <result column="inspection_method_n" property="inspectionMethodN"/>
        <result column="status_n" property="statusN"/>

        <result column="fin_statement_hd_id" property="finStatementHdId"/>

    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.plm.pli.dto.HlsCusPostloanInspection"
            resultMap="BaseResultMap">
        select ppi.* from plm_postloan_inspection ppi where
        ppi.postLoan_inspection_id = #{postloanInspectionId}
    </select>

    <select id="selectInspection" parameterType="com.hand.hls.plm.pli.dto.HlsCusPostloanInspection"
            resultMap="BaseResultMap">

        SELECT
        ppi.*,
        su.DESCRIPTION AS creation_name,
        (select wm_concat(hbt.description) from hls_bp_master_role h,hls_bp_type hbt where h.bp_id = bp.bp_id and hbt.bp_type = h.bp_type and hbt.bp_category = h.bp_category)
        bp_type,
        bp.bp_code,
        bp.bp_name,
        bp.bp_class,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'PLM.INSPECTION_TYPE'
        and v.code_value = ppi.inspection_type) as inspection_type_n,

        case ppi.inspection_method when 'REGULAR' then '定期'
        else '不定期' end inspection_method_n
        FROM
        plm_postloan_inspection ppi
        LEFT JOIN sys_user su ON ppi.creation_user_id = su.USER_ID
        LEFT JOIN hls_bp_master bp ON ppi.bp_id = bp.bp_id
        <where>
            ppi.postLoan_inspection_id = #{postloanInspectionId}
            <if test="bpId!=null and bpId !=''">
                AND ppi.bp_id = #{bpId}
            </if>
        </where>

    </select>

    <select id="selectBpLov" parameterType="com.hand.hls.plm.pli.dto.HlsCusPostloanInspection"
            resultMap="BaseResultMap">
        SELECT
        hbm.bp_id,
        hbm.bp_name,
        hbm.bp_code,
        hbm.bp_class,
        hbm.associated_division,
        hbmrr.bp_category,
        hbmrr.bp_type,
        hbc.description AS bp_category_description,
        hbt.description AS bp_type_description
        FROM
        hls_bp_master hbm
        LEFT JOIN (
        SELECT
            mr.bp_id,
            mr.bp_category,
            mr.bp_type
        FROM
            (
                SELECT
                   --  ROW_NUMBER() OVER(PARTITION BY hbmr.bp_id ORDER BY hbmr.CREATION_DATE ) RN,
                    IF (
                        @p = hbmr.bp_id,
                        @rank := @rank + 1 ,@rank := 1
                    ) AS RN,
                    @p := hbmr.bp_id as rank1,
                    hbmr.bp_id,
                    hbmr.bp_category,
                    hbmr.bp_type
                FROM
                    hls_bp_master_role hbmr,(SELECT @p := NULL ,@rank := 0)r) mr
        WHERE
            RN = 1
        ) hbmrr ON hbm.bp_id = hbmrr.bp_id
        LEFT JOIN hls_bp_category hbc ON hbmrr.bp_category = hbc.bp_category
        LEFT JOIN hls_bp_type hbt ON hbmrr.bp_type = hbt.bp_type
        <where>
            hbmrr.bp_category NOT IN (
            'CREDIT_ORGANIZATION'
            )
            <if test="bpId!=null and bpId!=''">
                AND hbm.bp_id = #{bpId}
            </if>
            <if test="bpName!=null and bpName!=''">
                AND hbm.bp_name LIKE concat(concat('%',#{bpName}),'%')
            </if>
        </where>

    </select>

    <select id="homeRollTableQuery" parameterType="com.hand.hls.plm.pli.dto.HlsCusPostloanInspection"
            resultMap="BaseResultMap">
        SELECT
        hbm.bp_id,
        hbm.bp_code,
        hbm.bp_name,
        ppi.postLoan_inspection_id,
        ppi.inspection_date,
        ppi.inspect_frenquency,
        ppi.inspection_method,
        ppi.peer_staff,
        ppi.STATUS,
        ppi.inspection_type,
        ppi.inspection_year,
        ppi.inspection_month,
        ppi.expected_completion_date,
        ppi.start_date,
        ppi.end_date,
        ppi.project_manager,
        ppi.risk_examiner,
        ppi.postloan_inspection_createtime,
        ppi.inspectors,
        ppi.offsite_inspection,
        ppi.other_inspection,
        ppi.is_plane_check,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'PLM.INSPECTION_TYPE'
        and v.code_value = ppi.inspection_type) as inspection_type_n,

        case ppi.inspection_method when 'REGULAR' then '定期'
        else '不定期' end inspection_method_n,

        (select hds.description from hls_document_status hds where hds.status_code= ppi.STATUS and
        hds.document_category='PRJ_PROJECT') status_n,

        ppi.fin_statement_hd_id

        FROM
        plm_postloan_inspection ppi
        LEFT JOIN hls_bp_master hbm ON ppi.bp_id = hbm.bp_id
        <where>
            <if test="inspectionYear!=null">
                AND ppi.inspection_year = #{inspectionYear}
            </if>
            <if test="inspectionMonth!=null">
                AND ppi.inspection_month = #{inspectionMonth}
            </if>
            <if test="bpName!=null and bpName!=''">
                AND (hbm.bp_name like concat(concat('%',#{bpName}),'%')
                OR hbm.bp_code like concat(concat('%',#{bpName}),'%'))
            </if>
            <if test="status != null and status != ''">
                AND ppi.STATUS =#{status,jdbcType=VARCHAR}
            </if>
            <if test="inspectionFrequencyArray!=null and inspectionFrequencyArray!=''">
                AND ppi.inspection_type IN
                <foreach collection="inspectionFrequencyArray" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <resultMap id="userInfoMap" type="java.util.Map">
        <result column="user_id" property="userId" jdbcType="DECIMAL"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="position_code" property="positionCode" jdbcType="VARCHAR"/>
        <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>

    </resultMap>

    <select id="selectUserInfo" resultMap="userInfoMap">
        SELECT
        su.user_id,
        su.description,
        fop.position_code,
        fop.position_name,
        sua.company_id
        FROM
        sys_user su,
        sys_user_allocation sua,
        fnd_employee_assigns fea,
        fnd_org_position fop
        <where>
            su.USER_ID = sua.user_id
            AND sua.employee_assign_id = fea.employee_assign_id
            AND fea.position_id = fop.position_id
            AND fop.position_code IN (
            'ADMIN',
            '10',
            '20',
            '30',
            '100',
            '105',
            '110',
            '120'
            )
            <if test="userId !=null and userId!=''">
                AND su.user_id = #{userId}
            </if>
            <if test="companyId !=null and companyId!=''">
                AND sua.company_id = #{companyId}
            </if>
        </where>
    </select>

    <resultMap id="ContractInfoMap" type="java.util.Map">
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="user_id" property="userId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="selectBpContractInfo" resultMap="ContractInfoMap">
        SELECT c.* FROM (
        SELECT
        cc.contract_id,
        cc.contract_number,
        cc.company_id,
        cc.tenant_id AS bp_id,
        cc.CREATED_BY
        FROM
        con_contract cc
        WHERE
        1=1
        <if test="bpId!=null and bpId!=''">
            AND cc.tenant_id = #{bpId}
        </if>
        <if test="userId!=null and userId!=''">
            AND cc.created_by = #{userId}
        </if>
        <if test="companyId!=null and companyId!=''">
            AND cc.company_id = #{companyId}
        </if>
        UNION ALL
        SELECT
        fct.contract_id,
        fct.contract_number,
        fct.company_id,
        fpb.bp_id,
        fct.CREATED_BY
        FROM
        fct_contract fct
        LEFT JOIN fct_project_bp fpb ON fct.project_id = fpb.project_id
        <where>
            fpb.bp_role_type = 'SELLER'
            AND fct.data_class = 'NORMAL'
            <if test="bpId!=null and bpId!=''">
                AND fpb.bp_id = #{bpId}
            </if>
            <if test="userId!=null and userId!=''">
                AND fct.created_by = #{userId}
            </if>
            <if test="companyId!=null and companyId!=''">
                AND fct.company_id = #{companyId}
            </if>
        </where>
        ) c
    </select>

    <resultMap id="CompanyInfoMap" type="java.util.Map">
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="company_code" property="companyCode" jdbcType="VARCHAR"/>
        <result column="company_full_name" property="companyFullName" jdbcType="VARCHAR"/>
        <result column="company_type" property="companyType" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectCompanyInfo" resultMap="CompanyInfoMap">
        SELECT * from fnd_company
    </select>

    <select id="selectInceptContractsCreatedByBpId" resultMap="ContractInfoMap">
        SELECT
	allContracts.contract_id,
	allContracts.contract_type,
	allContracts.company_id,
	allContracts.contract_bp_name,
	allContracts.contract_prj_name,
	allContracts.bp_id,
	allContracts.contract_number,
	allContracts.CREATED_BY,
	allContracts.user_id
FROM
	(
		SELECT
			cc.contract_id,
			'CON' AS contract_type,
			cc.contract_number,
			hbm.bp_name AS contract_bp_name,
			prj.project_name AS contract_prj_name,
			cc.inception_of_lease,
			hbm.bp_id,
			cc.CREATED_BY,
			cc.company_id,
			sua.user_id
		FROM
			con_contract cc,
			hls_bp_master hbm,
			prj_project prj,
			fnd_employee_assigns fea,
            sys_user_allocation sua
		WHERE
			cc.tenant_id = hbm.bp_id
		AND cc.project_id = prj.project_id
		AND cc.inception_of_lease IS NOT NULL
		AND (
			cc.contract_status = 'INCEPT'
			OR cc.contract_status = 'PENDING'
		)
		AND cc.data_class = 'NORMAL'
		AND cc.company_id = #{companyId}
		AND cc.tenant_id = #{bpId}
		and cc.employee_id = fea.employee_id
        AND fea.employee_assign_id = sua.employee_assign_id
        and cc.company_id = fea.company_id
        and cc.company_id = sua.company_id
		UNION ALL
			SELECT DISTINCT
				ff.contract_id,
				'FCT' AS contract_type,
				ff.contract_number,
				hbm.bp_name AS contract_bp_name,
				fctp.project_name AS contract_prj_name,
				ff.rate_valid_from AS inception_of_lease,
				hbm.bp_id,
				ff.CREATED_BY,
				ff.company_id,
				sua.user_id
			FROM
				(
					SELECT
						fct.contract_id,
						fct.contract_number,
						fct.rate_valid_from,
						fct.company_id,
						fct.project_id,
						fct.CREATED_BY,
						fct.employee_id
					FROM
						fct_contract fct
					LEFT JOIN csh_payment_req_ln cprl ON fct.contract_id = cprl.source_doc_id
					LEFT JOIN csh_payment_req_hd cprh ON cprl.payment_req_id = cprh.payment_req_id
					WHERE
						cprh.payment_req_status = 'APPROVED'
					AND fct.data_class = 'NORMAL'
					AND fct.company_id = #{companyId}
				) ff,
				hls_bp_master hbm,
				fct_project fctp,
				fct_project_bp fpb,
				fnd_employee_assigns fea,
                sys_user_allocation sua
			WHERE
				ff.project_id = fctp.project_id
			AND ff.project_id = fpb.project_id
			AND fpb.bp_role_type = 'SELLER'
			AND fpb.bp_id = hbm.bp_id
			AND hbm.bp_id = #{bpId}
			and ff.employee_id = fea.employee_id
            AND fea.employee_assign_id = sua.employee_assign_id
            and ff.company_id = fea.company_id
            and ff.company_id = sua.company_id
	) allContracts
    </select>

</mapper>
