<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.pli.mapper.PliLeaseItemMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.pli.dto.PliLeaseItem">
        <result column="PLM_PLI_ITEM_ID" property="plmPliItemId" jdbcType="DECIMAL"/>
        <result column="PROJECT_LEASE_ITEM_ID" property="projectLeaseItemId" jdbcType="DECIMAL"/>
        <result column="POST_LOAN_INSPECTION_ID" property="postLoanInspectionId" jdbcType="DECIMAL"/>
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL"/>
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL"/>
        <result column="approval_number" property="approvalNumber"/>
        <result column="pattern_specification" property="patternSpecification"/>
        <result column="manufacturer" property="manufacturer"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="msn_number" property="msnNumber"/>
        <result column="regestry_number" property="regestryNumber"/>
        <result column="operator" property="operator"/>
        <result column="product_date" property="productDate"/>
        <result column="plane_work_pot" property="planeWorkPot"/>
        <result column="plane_run_situation" property="planeRunSituation"/>
        <result column="service_bp" property="serviceBp"/>
        <result column="PLANE_NO" property="planeNo"/>
        <result column="PROP_PERSON" property="propPerson"/>
        <result column="REGISTRY_NUMBER" property="registryNumber"/>
        <result column="approval_number_n" property="approvalNumberN"/>

    </resultMap>

    <select id="queryPliLeaseItemInfo" resultMap="BaseResultMap" parameterType="com.hand.hls.plm.pli.dto.PliLeaseItem">
        select ppi.*,
        pi.contract_id,
        pi.post_loan_inspection_id,
        pi.plm_pli_item_id,
        pi.plane_work_pot,
        pi.plane_run_situation,
        pi.service_bp,
        (select approval_number from prj_project where project_id = pi.project_id) approval_number,
        (select approval_number from prj_project where project_id = pi.project_id) approval_number_n
        from plm_pli_lease_item pi,prj_project_lease_item ppi
        where pi.project_lease_item_id = ppi.project_lease_item_id
        and pi.post_loan_inspection_id = #{postLoanInspectionId}
    </select>

</mapper>
