<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.pli.mapper.PlmPliLitigationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.pli.dto.PlmPliLitigation">
        <result column="LITIGATION_ID" property="litigationId" jdbcType="DECIMAL" />
        <result column="POSTLOAN_INSPECTION_ID" property="postloanInspectionId" jdbcType="DECIMAL" />
        <result column="LITIGATION_NUMBER" property="litigationNumber" jdbcType="VARCHAR" />
        <result column="FILING_DATE" property="filingDate" jdbcType="DATE" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="SUMMARY" property="summary" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>


</mapper>