<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.pli.mapper.PlmPliContractMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.pli.dto.PlmPliContract">
        <result column="PLI_CONTRACT_ID" property="pliContractId" jdbcType="DECIMAL"/>
        <result column="POSTLOAN_INSPECTION_ID" property="postloanInspectionId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL"/>
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="RATE_VALID_FROM" property="rateValidFrom" jdbcType="DATE" />
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
        <result column="LEASE_TERM" property="leaseTerm" jdbcType="DECIMAL" />
        <result column="CONTRACT_TYPE" property="contractType" jdbcType="VARCHAR" />
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR" />
        <result column="APPROVAL_NUMBER" property="approvalNumber" jdbcType="VARCHAR" />
        <result column="HOST_NAME" property="hostName" jdbcType="VARCHAR" />
        <result column="CO_ORGANIZER" property="coOrganizer" jdbcType="VARCHAR" />
        <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
        <result column="PROJECT_ASSISTANT" property="projectAssistant" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="FINANCE_AMOUNT" property="financeAmount" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="REMAIN_AMOUNT" property="remainAmount" jdbcType="DECIMAL" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="IS_SAVED" property="isSaved" jdbcType="VARCHAR" />
        <result column="MEETING_RISK_DESCRIPTION" property="meetingRiskDescription" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="PROJECT_NUMBER" property="projectNumber" jdbcType="VARCHAR" />
        <result column="FIVE_CLASSIFICATION_RESULT" property="fiveClassificationResult" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR"/>
        <result column="SUGGESTED_CLASSIFICATION" property="suggestedClassification" jdbcType="VARCHAR"/>
        <result column="GUARANTOR_NAME" property="guarantorName" jdbcType="VARCHAR"/>
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="FIVE_CLASSIFICATION_RESULT_N" property="fiveClassificationResultN" jdbcType="VARCHAR"/>
        <result column="SUGGESTED_CLASSIFICATION_DESC" property="suggestedClassificationDesc" jdbcType="VARCHAR"/>
        <result column="business_type_n" property="businessTypeN" jdbcType="VARCHAR"/>

    </resultMap>

    <!--记录当时做单据的数据 改回取刘星存表字段-->
    <select id="selectPlmPliContractData" parameterType="com.hand.hls.plm.pli.dto.PlmPliContract" resultMap="BaseResultMap">
        SELECT PRO.* FROM (
        SELECT
        PPC.COMPANY_ID ,
        PPC.PLI_CONTRACT_ID,
        PPC.POSTLOAN_INSPECTION_ID,
        PPC.BP_ID,
        PPC.REMAIN_AMOUNT,
        PPC.GUARANTOR_NAME,
        HBM.BP_NAME,
        PPC.PROJECT_ID,
        PPC.RATE_VALID_FROM,
        FP.PROJECT_NAME,
        PPC.LEASE_TERM,
        PPC.CONTRACT_TYPE,
        FC.CONTRACT_NUMBER,
        FC.CONTRACT_NAME,
        FC.APPROVAL_NUMBER,
        PPC.HOST_NAME,
        PPC.CO_ORGANIZER,
        PPC.UNIT_NAME,
        PPC.PROJECT_ASSISTANT,
        PPC.EMPLOYEE_ID,
        PPC.FINANCE_AMOUNT,
        PPC.CONTRACT_ID,
        PPC.ENABLE_FLAG,
        PPC.DESCRIPTION,
        HDT.DESCRIPTION AS BUSINESS_TYPE
        FROM
        PLM_PLI_CONTRACT PPC
        JOIN
        FCT_CONTRACT FC
        ON
        FC.CONTRACT_ID=PPC.CONTRACT_ID
        JOIN
        FCT_PROJECT FP
        ON
        FC.PROJECT_ID=FP.PROJECT_ID
        JOIN
        HLS_BP_MASTER HBM
        ON
        HBM.BP_ID= PPC.BP_ID
        LEFT JOIN HLS_BUSINESS_TYPE HDT on fc.BUSINESS_TYPE = HDT.BUSINESS_TYPE
        AND HDT.DOCUMENT_CATEGORY =fc.DOCUMENT_CATEGORY
        WHERE
        PPC.CONTRACT_TYPE='FCT_CONTRACT'

        UNION

        SELECT
        PPC.COMPANY_ID ,
        PPC.PLI_CONTRACT_ID,
        PPC.POSTLOAN_INSPECTION_ID,
        PPC.BP_ID,
        PPC.REMAIN_AMOUNT,
        PPC.GUARANTOR_NAME,
        HBM.BP_NAME,
        PPC.PROJECT_ID,
        PPC.RATE_VALID_FROM,
        FP.PROJECT_NAME,
        PPC.LEASE_TERM,
        PPC.CONTRACT_TYPE,
        FC.CONTRACT_NUMBER,
        FC.CONTRACT_NAME,
        FP.APPROVAL_NUMBER,
        PPC.HOST_NAME,
        PPC.CO_ORGANIZER,
        PPC.UNIT_NAME,
        PPC.PROJECT_ASSISTANT,
        PPC.EMPLOYEE_ID,
        PPC.FINANCE_AMOUNT,
        PPC.CONTRACT_ID,
        PPC.ENABLE_FLAG,
        PPC.DESCRIPTION,
        HDT.DESCRIPTION AS BUSINESS_TYPE
        FROM
        PLM_PLI_CONTRACT PPC
        JOIN
        CON_CONTRACT FC
        ON
        FC.CONTRACT_ID=PPC.CONTRACT_ID
        JOIN
        PRJ_PROJECT FP
        ON
        FC.PROJECT_ID=FP.PROJECT_ID
        JOIN
        HLS_BP_MASTER HBM
        ON
        HBM.BP_ID= PPC.BP_ID
        LEFT JOIN HLS_BUSINESS_TYPE HDT on fc.BUSINESS_TYPE = HDT.BUSINESS_TYPE
        AND HDT.DOCUMENT_CATEGORY =fc.DOCUMENT_CATEGORY
        WHERE
        PPC.CONTRACT_TYPE='CON_CONTRACT'
        ) PRO
        WHERE
        PRO.POSTLOAN_INSPECTION_ID=#{postloanInspectionId}
    </select>

    <select id="selectOtherAll" resultMap="BaseResultMap" parameterType="com.hand.hls.plm.pli.dto.PlmPliContract">
        SELECT
        PRO.*
        FROM  (
        SELECT
        fp.PROJECT_ID,
        fp.PROJECT_NAME,
        fp.APPROVAL_NUMBER,
        HBM.BP_NAME,
        HBM.BP_ID,
        fc.RATE_VALID_FROM,
        fc.LEASE_TERM,
        fe1.NAME host_NAME,
        fe2.NAME Co_organizer,
        FOU.UNIT_NAME,
        fp.PROJECT_ASSISTANT,
        fp.company_id,
        fqc.finance_amount,
        fp.EMPLOYEE_ID,
        fc.CONTRACT_ID,
        fc.CONTRACT_NUMBER,
        fc.CONTRACT_NAME,
        fqc.remain_amount,
        FP.CREATION_DATE,
        'FCT_CONTRACT' CONTRACT_TYPE,
        (SELECT
        wm_concat(DISTINCT HBM.BP_NAME)
        FROM
        FCT_PROJECT_BP FPB
        JOIN
        HLS_BP_MASTER HBM
        ON
        FPB.BP_ID=HBM.BP_ID
        WHERE
        FPB.BP_ROLE_TYPE NOT IN('SELLER',
        'BUYER')
        AND FPB.PROJECT_ID=FP.PROJECT_ID) GUARANTOR_NAME
        FROM
        FCT_PROJECT fp
        JOIN
        FCT_PROJECT_BP fpb
        ON
        fp.project_id = fpb.project_id
        JOIN
        HLS_BP_MASTER HBM
        ON
        HBM.BP_ID = fpb.BP_ID
        JOIN
        FCT_CONTRACT fc
        ON
        fp.PROJECT_ID = fc.PROJECT_ID
        JOIN
        ( SELECT
        cf.contract_id ,
        SUM(case when cf.cf_item = 40 then nvl(cf.write_off_amount,0) else 0 end ) finance_amount,
        SUM(case when cf.cf_item = 54 then cf.due_amount-nvl(cf.write_off_amount,0) else 0 end) remain_amount
        FROM
        fct_quotation_cashflow cf
        GROUP BY
        cf.contract_id )fqc
        ON
        fqc.contract_id = fc.contract_id
        LEFT JOIN
        FND_EMPLOYEE fe1
        ON
        fe1.EMPLOYEE_ID = fp.EMPLOYEE_ID
        LEFT JOIN
        FND_EMPLOYEE fe2
        ON
        fe2.EMPLOYEE_ID = fp.PROJECT_ASSISTANT
        LEFT JOIN
        FND_ORG_UNIT FOU
        ON
        FOU.UNIT_ID = fp.UNIT_ID
        WHERE
        fp.DATA_CLASS= 'VIRTUAL_CON'
        AND fp.DATA_TYPE='NORMAL'
        AND fc.DATA_CLASS='NORMAL'
        AND (
        fc.CONTRACT_STATUS = 'INCEPT'
        OR  (
        fc.contract_status='PENDING'
        AND ( SELECT
        COUNT(1)
        FROM
        fct_contract ft
        WHERE
        ft.data_class='CHANGE_REQ'
        AND ft.contract_status='INCEPT'
        AND ft.ref_contract_id=fc.contract_id ) >0) )
        AND fpb.credit_grantor_party='Y'
        AND FC.CONTRACT_ID NOT IN
        (select ppc.CONTRACT_ID
        from PLM_PLI_CONTRACT ppc
        where postloan_inspection_id = #{postloanInspectionId}
        and ppc.contract_type='FCT_CONTRACT')

        UNION ALL

        SELECT
        fp.PROJECT_ID,
        fp.PROJECT_NAME,
        fp.APPROVAL_NUMBER,
        HBM.BP_NAME,
        HBM.BP_ID,
        fc.LEASE_START_DATE,
        fc.LEASE_TERM,
        fe1.NAME host_NAME,
        fe2.NAME Co_organizer,
        FOU.UNIT_NAME,
        fp.PROJECT_ASSISTANT,
        fp.company_id,
        fqc.finance_amount,
        fp.EMPLOYEE_ID,
        fc.CONTRACT_ID,
        fc.CONTRACT_NUMBER,
        fc.CONTRACT_NAME,
        fqc.remain_amount,
        FP.CREATION_DATE,
        'CON_CONTRACT' CONTRACT_TYPE,
        (SELECT
        wm_concat(DISTINCT HBM.BP_NAME)
        FROM
        PRJ_PROJECT_BP PPB
        JOIN
        HLS_BP_MASTER HBM
        ON
        PPB.BP_ID=HBM.BP_ID
        WHERE
        PPB.BP_TYPE NOT IN('TENANT',
        'TENANT_SEC',
        'VENDER')
        AND PPB.PROJECT_ID=FP.PROJECT_ID) GUARANTOR_NAME
        FROM
        PRJ_PROJECT fp
        JOIN
        CON_CONTRACT fc
        ON
        fp.PROJECT_ID = fc.PROJECT_ID
        JOIN
        HLS_BP_MASTER HBM
        ON
        HBM.BP_ID = fc.tenant_id
        JOIN
        ( SELECT
        cf.contract_id ,
        SUM(case when cf.cf_item = 0 then nvl(cf.received_amount,0) else 0 end ) finance_amount,
        SUM(case when cf.cf_item = 1 then cf.principal-nvl(cf.received_principal,0) else 0 end) remain_amount
        FROM
        CON_CONTRACT_CASHFLOW cf
        GROUP BY
        cf.contract_id )fqc
        ON
        fqc.contract_id = fc.contract_id
        LEFT JOIN
        FND_EMPLOYEE fe1
        ON
        fe1.EMPLOYEE_ID = fp.EMPLOYEE_ID
        LEFT JOIN
        FND_EMPLOYEE fe2
        ON
        fe2.EMPLOYEE_ID = fp.PROJECT_ASSISTANT
        LEFT JOIN
        FND_ORG_UNIT FOU
        ON
        FOU.UNIT_ID = fp.UNIT_ID
        WHERE
        fp.DATA_CLASS= 'VIRTUAL_CON'
        AND fp.DATA_TYPE='NORMAL'
        AND fc.DATA_CLASS='NORMAL'
        AND (
        fc.CONTRACT_STATUS = 'INCEPT'
        OR ( fc.contract_status='PENDING'
        AND ( SELECT
        COUNT(1)
        FROM
        con_contract ft
        WHERE
        ft.data_class='CHANGE_REQ'
        AND ft.contract_status='INCEPT'
        AND ft.ref_contract_id=fc.contract_id ) >0) )
        AND FC.CONTRACT_ID NOT IN
        (select ppc.CONTRACT_ID
        from PLM_PLI_CONTRACT ppc
        where postloan_inspection_id = #{postloanInspectionId}
        and ppc.contract_type='CON_CONTRACT')
        ) PRO

        WHERE 1=1
        AND PRO.BP_ID=#{bpId}
        <!--AND PRO.COMPANY_ID = #{request.companyId}-->
        <if test="contractName!=null and contractName!=''">
            and PRO.contract_name like concat(concat('%',#{contractName}),'%')
        </if>
        <if test="approvalNumber!=null and approvalNumber!=''">
            and (PRO.approval_number like concat(concat('%',#{approvalNumber}),'%')
            or PRO.contract_number like concat(concat('%',#{approvalNumber}),'%'))
        </if>
        ORDER BY PRO.CREATION_DATE DESC
    </select>

    <select id="selectOtherAllProject" resultMap="BaseResultMap" parameterType="com.hand.hls.plm.pli.dto.PlmPliContract">
        SELECT
        PRO.*
        FROM  (
        SELECT
        fp.FIVE_CLASSIFICATION_RESULT,
        (select s.MEANING value_name
        from sys_code_value_b_v s
        where s.code = 'PLM.FC_RESULT' and s.code_value = fp.FIVE_CLASSIFICATION_RESULT) FIVE_CLASSIFICATION_RESULT_N,
        fp.PROJECT_ID,
        fp.BUSINESS_TYPE,
        (select h.description  from hls_business_type h where h.document_category='CONTRACT' and fp.BUSINESS_TYPE=h.BUSINESS_TYPE)business_type_n,
        fp.PROJECT_NAME,
        fp.APPROVAL_NUMBER,
        HBM.BP_NAME,
        HBM.BP_ID,
        -- fc.RATE_VALID_FROM,
        fc.LEASE_TERM,
        fe1.NAME host_NAME,
        fe2.NAME Co_organizer,
        FOU.UNIT_NAME,
        fp.PROJECT_ASSISTANT,
        fp.company_id,
        fqc.finance_amount,
        fp.EMPLOYEE_ID,
        fc.CONTRACT_ID,
        fc.CONTRACT_NUMBER,
        fc.CONTRACT_NAME,
        fqc.remain_amount,
        CASE
        WHEN fqc.fine_days &lt;=30
        THEN 'NORMAL'
        WHEN fqc.fine_days &lt;=180
        THEN 'ATTENTION'
        WHEN fqc.fine_days &lt;=365
        THEN 'SECONDARY'
        WHEN fqc.fine_days &lt;=730
        THEN 'SUSPICIOUS'
        ELSE 'LOSS'
        END suggested_classification,
        CASE
        WHEN fqc.fine_days &lt;=30
        THEN '正常'
        WHEN fqc.fine_days &lt;=180
        THEN '关注'
        WHEN fqc.fine_days &lt;=365
        THEN '次级'
        WHEN fqc.fine_days &lt;=730
        THEN '可疑'
        ELSE '损失'
        END suggested_classification_desc,
        'FCT_CONTRACT' DOCUMENT_CATEGORY,
        FP.CREATION_DATE,
        FC.CREATED_BY
        FROM
        FCT_PROJECT fp
        JOIN
        FCT_PROJECT_BP fpb
        ON
        fp.project_id = fpb.project_id
        JOIN
        HLS_BP_MASTER HBM
        ON
        HBM.BP_ID = fpb.BP_ID
        JOIN
        FCT_CONTRACT fc
        ON
        fp.PROJECT_ID = fc.PROJECT_ID
        JOIN
        (
        SELECT
        cf.contract_id ,
        nvl(MAX(cf.fine_days),0) fine_days,
        SUM(case when cf.cf_item = 40 then nvl(cf.received_amount,0) else 0 end) finance_amount,
        SUM(case when cf.cf_item = 54 then (cf.due_amount-nvl(cf.write_off_amount,0)) else 0 end) remain_amount
        FROM
        fct_quotation_cashflow cf
        GROUP BY
        cf.contract_id )fqc
        ON
        fqc.contract_id = fc.contract_id
        LEFT JOIN
        FND_EMPLOYEE fe1
        ON
        fe1.EMPLOYEE_ID = fp.EMPLOYEE_ID
        LEFT JOIN
        FND_EMPLOYEE fe2
        ON
        fe2.EMPLOYEE_ID = fp.PROJECT_ASSISTANT
        LEFT JOIN
        FND_ORG_UNIT FOU
        ON
        FOU.UNIT_ID = fp.UNIT_ID
        WHERE
        fp.DATA_CLASS= 'VIRTUAL_CON'
        AND fp.DATA_TYPE='NORMAL'
        AND fc.DATA_CLASS='NORMAL'
        AND (
        fc.CONTRACT_STATUS = 'INCEPT'
        OR  (
        fc.contract_status='PENDING'
        AND (
        SELECT
        COUNT(1)
        FROM
        fct_contract ft
        WHERE
        ft.data_class='CHANGE_REQ'
        AND ft.contract_status='INCEPT'
        AND ft.ref_contract_id=fc.contract_id ) >0) )
        AND fpb.credit_grantor_party='Y'

        UNION ALL

        SELECT
        fp.FIVE_CLASSIFICATION_RESULT,
        (select s.MEANING value_name
        from sys_code_value_b_v s
        where s.code = 'PLM.FC_RESULT' and s.code_value = fp.FIVE_CLASSIFICATION_RESULT) FIVE_CLASSIFICATION_RESULT_N,
        fp.PROJECT_ID,
        fp.BUSINESS_TYPE,
        (select h.description  from hls_business_type h where h.document_category='CONTRACT' and fp.BUSINESS_TYPE=h.BUSINESS_TYPE)business_type_n,
        fp.PROJECT_NAME,
        fp.APPROVAL_NUMBER,
        HBM.BP_NAME,
        HBM.BP_ID,
        -- fc.RATE_VALID_FROM,
        fc.LEASE_TERM,
        fe1.NAME host_NAME,
        fe2.NAME Co_organizer,
        FOU.UNIT_NAME,
        fp.PROJECT_ASSISTANT,
        fp.company_id,
        fqc.finance_amount,
        fp.EMPLOYEE_ID,
        fc.CONTRACT_ID,
        fc.CONTRACT_NUMBER,
        fc.CONTRACT_NAME,
        fqc.remain_amount,
        CASE
        WHEN fqc.fine_days  &lt;=30
        THEN 'NORMAL'
        WHEN fqc.fine_days &lt;=180
        THEN 'ATTENTION'
        WHEN fqc.fine_days &lt;=365
        THEN 'SECONDARY'
        WHEN fqc.fine_days &lt;=730
        THEN 'SUSPICIOUS'
        ELSE 'LOSS'
        END suggested_classification,
        CASE
        WHEN fqc.fine_days &lt;=30
        THEN '正常'
        WHEN fqc.fine_days &lt;=180
        THEN '关注'
        WHEN fqc.fine_days &lt;=365
        THEN '次级'
        WHEN fqc.fine_days &lt;=730
        THEN '可疑'
        ELSE '损失'
        END suggested_classification_desc,
        'CON_CONTRACT' DOCUMENT_CATEGORY,
        FP.CREATION_DATE,
        FC.CREATED_BY
        FROM
        PRJ_PROJECT fp
        JOIN
        CON_CONTRACT fc
        ON
        fp.PROJECT_ID = fc.PROJECT_ID
        JOIN
        HLS_BP_MASTER HBM
        ON
        HBM.BP_ID = fc.tenant_id
        JOIN
        (
        SELECT
        cf.contract_id ,
        nvl(MAX(cf.fine_days),0) fine_days,
        SUM( case when cf.cf_item=0 then nvl(cf.received_amount,0) else 0 end) finance_amount,
        SUM( case when cf.cf_item=1 then (cf.principal-nvl(cf.received_principal,0)) else 0 end) remain_amount
        FROM
        CON_CONTRACT_CASHFLOW cf
        GROUP BY
        cf.contract_id )fqc
        ON
        fqc.contract_id = fc.contract_id
        LEFT JOIN
        FND_EMPLOYEE fe1
        ON
        fe1.EMPLOYEE_ID = fp.EMPLOYEE_ID
        LEFT JOIN
        FND_EMPLOYEE fe2
        ON
        fe2.EMPLOYEE_ID = fp.PROJECT_ASSISTANT
        LEFT JOIN
        FND_ORG_UNIT FOU
        ON
        FOU.UNIT_ID = fp.UNIT_ID
        WHERE
        fp.DATA_CLASS= 'VIRTUAL_CON'
        AND fp.DATA_TYPE='NORMAL'
        AND fc.DATA_CLASS='NORMAL'
        AND (
        fc.CONTRACT_STATUS = 'INCEPT'
        OR  (
        fc.contract_status='PENDING'
        AND (
        SELECT
        COUNT(1)
        FROM
        fct_contract ft
        WHERE
        ft.data_class='CHANGE_REQ'
        AND ft.contract_status='INCEPT'
        AND ft.ref_contract_id=fc.contract_id ) >0) )
        ) PRO

        WHERE 1=1
<!--        AND PRO.COMPANY_ID = #{request.companyId}-->
        <!--AND  ((SELECT
        COUNT(1)
        FROM
        FND_ORG_UNIT FOU
        JOIN
        FND_ORG_POSITION FOP
        ON
        FOU.UNIT_ID=FOP.UNIT_ID
        JOIN
        FND_EMPLOYEE_ASSIGNS FEA
        ON
        FEA.POSITION_ID=FOP.POSITION_ID
        JOIN
        FND_EMPLOYEE FE
        ON
        FE.EMPLOYEE_ID=FEA.EMPLOYEE_ID
        AND FE.ENABLED_FLAG='Y'
        WHERE
        FOU.UNIT_TYPE='SALES'
        AND nvl(FOU.CHIEF_POSITION_ID,0)!=FOP.POSITION_ID
        AND FE.EMPLOYEE_CODE = #{request.employeeCode}) =0 OR PRO.CREATED_BY=#{request.userId})-->
        <if test="fiveClassificationResult!=null and fiveClassificationResult!=''" >
            AND PRO.FIVE_CLASSIFICATION_RESULT like concat(concat('%',#{fiveClassificationResult}),'%')
        </if>
        <if test="contractNumber!=null and contractNumber!=''">
            AND (PRO.CONTRACT_NUMBER like concat(concat('%',#{contractNumber}),'%')
            OR PRO.BP_NAME like concat(concat('%',#{contractNumber}),'%')
            OR PRO.APPROVAL_NUMBER like concat(concat('%',#{contractNumber}),'%'))
        </if>
        <if test="fiveClassificationResultList!=null and fiveClassificationResultList!=''">
            AND PRO.FIVE_CLASSIFICATION_RESULT IN
            <foreach collection="fiveClassificationResultList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY PRO.CREATION_DATE DESC
    </select>

    <select id="selectMeetingRiskDescription" parameterType="com.hand.hls.plm.pli.dto.PlmPliContract" resultMap="BaseResultMap">
        <if test="contractType != null">
            <if test="contractType =='FCT_CONTRACT'">
                SELECT
                DISTINCT
                AMRL.MEETING_RISK_DESCRIPTION,
                PC.*,
                pP.PROJECT_NUMBER
                from PLM_PLI_CONTRACT pc ,ACT_MEETING_RISK_LIST AMRL,ACT_HI_PROCINST ap,FCT_PROJECT pp
                where pc.POSTLOAN_INSPECTION_ID= #{postloanInspectionId}
                and AMRL.PROCESS_INSTANCE_ID=ap.ID_
                and pc.project_id=pp.project_id
                and pp.ref_project_id||''=ap.BUSINESS_Key_
                AND AMRL.MEETING_RISK_CATEGORY = 'AFTER_INCEPT'
                AND pc.CONTRACT_TYPE = 'FCT_CONTRACT'
            </if>
            <if test="contractType=='CON_CONTRACT'">
                SELECT
                DISTINCT
                AMRL.MEETING_RISK_DESCRIPTION,
                PC.*,
                pP.PROJECT_NUMBER
                from PLM_PLI_CONTRACT pc ,ACT_MEETING_RISK_LIST AMRL,ACT_HI_PROCINST ap,prj_project pp
                where pc.POSTLOAN_INSPECTION_ID=  #{postloanInspectionId}
                and AMRL.PROCESS_INSTANCE_ID=ap.ID_
                and substr(ap.PROC_DEF_ID_,0,19)='LEASE_PRO_REVIEW_WF'
                and pc.project_id=pp.project_id
                and pp.ref_project_id=ap.BUSINESS_Key_
                AND AMRL.MEETING_RISK_CATEGORY = 'AFTER_INCEPT'
                AND pc.CONTRACT_TYPE = 'CON_CONTRACT'
            </if>
        </if>
    </select>

    <select id="selectContractEmployAssignId" resultType="long">
        SELECT DISTINCT
        CON.EMPLOYEE_ASSIGN_ID
        FROM
        (
        SELECT
        PEA.EMPLOYEE_ASSIGN_ID,
        PPC.POSTLOAN_INSPECTION_ID
        FROM
        CON_CONTRACT CC
        JOIN
        FND_EMPLOYEE_ASSIGNS PEA
        ON
        CC.EMPLOYEE_ID=PEA.EMPLOYEE_ID
        JOIN
        PLM_PLI_CONTRACT PPC
        ON
        CC.CONTRACT_ID=PPC.CONTRACT_ID
        WHERE
        PPC.CONTRACT_TYPE='CON_CONTRACT'
        UNION
        SELECT
        FC.EMPLOYEE_ASSIGN_ID,
        PPC.POSTLOAN_INSPECTION_ID
        FROM
        FCT_CONTRACT FC
        JOIN
        PLM_PLI_CONTRACT PPC
        ON
        FC.CONTRACT_ID=PPC.CONTRACT_ID
        WHERE
        PPC.CONTRACT_TYPE='FCT_CONTRACT') CON
        WHERE
        CON.POSTLOAN_INSPECTION_ID= #{postloanInspectionId}
    </select>
    <select id="selectContractUnitId" resultType="long">
        SELECT DISTINCT
        CON.UNIT_ID
        FROM
        (
        SELECT
        cc.UNIT_ID,
        PPC.POSTLOAN_INSPECTION_ID
        FROM
        CON_CONTRACT CC
        JOIN
        PLM_PLI_CONTRACT PPC
        ON
        CC.CONTRACT_ID=PPC.CONTRACT_ID
        WHERE
        PPC.CONTRACT_TYPE='CON_CONTRACT'
        UNION
        SELECT
        FC.UNIT_ID,
        PPC.POSTLOAN_INSPECTION_ID
        FROM
        FCT_CONTRACT FC
        JOIN
        PLM_PLI_CONTRACT PPC
        ON
        FC.CONTRACT_ID=PPC.CONTRACT_ID
        WHERE
        PPC.CONTRACT_TYPE='FCT_CONTRACT') CON
        WHERE
        CON.POSTLOAN_INSPECTION_ID= #{postloanInspectionId}
    </select>
</mapper>
