<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.pli.mapper.PlmPliNewSituationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.pli.dto.PlmPliNewSituation">
        <result column="NEW_ID" property="newId" jdbcType="DECIMAL" />
        <result column="POSTLOAN_INSPECTION_ID" property="postloanInspectionId" jdbcType="DECIMAL" />
        <result column="LESSOR" property="lessor" jdbcType="VARCHAR" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="REGISTRATION_DATE" property="registrationDate" jdbcType="DATE" />
        <result column="EXPIRY_DATE" property="expiryDate" jdbcType="DATE" />
        <result column="LEASE" property="lease" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>


</mapper>