<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.pli.mapper.PlmPliCheckItemMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.pli.dto.PlmPliCheckItem">
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="LIST_ID" property="listId" jdbcType="DECIMAL" />
        <result column="MATTER" property="matter" jdbcType="VARCHAR" />
        <result column="VALUE_KEY" property="valueKey" jdbcType="VARCHAR" />
        <result column="LIST_TYPE" property="listType" jdbcType="VARCHAR" />
        <result column="LIST_CATEGORY" property="listCategory" jdbcType="VARCHAR" />
        <result column="POSTLOAN_INSPECTION_ID" property="postloanInspectionId" jdbcType="DECIMAL" />
        <result column="VALUE" property="value" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>


</mapper>