<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.pli.mapper.PlmPliFrequencySetMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.pli.dto.PlmPliFrequencySet">
        <result column="frequency_id" property="frequencyId" jdbcType="DECIMAL"/>
        <result column="frequency_code" property="frequencyCode" jdbcType="VARCHAR"/>
        <result column="frequency_type" property="frequencyType" jdbcType="VARCHAR"/>
        <result column="frequency_name" property="frequencyName" jdbcType="VARCHAR"/>
        <result column="on_site_inspect" property="onSiteInspect" jdbcType="DECIMAL"/>
        <result column="off_site_inspect" property="offSiteInspect" jdbcType="DECIMAL"/>
        <result column="priority_inspect" property="priorityInspect" jdbcType="VARCHAR"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="on_site_reminder_day" property="onSiteReminderDay" jdbcType="DECIMAL"/>
        <result column="off_site_reminder_day" property="offSiteReminderDay" jdbcType="DECIMAL"/>

        <result column="frequency_type_n" property="frequencyTypeN" jdbcType="VARCHAR" />
        <result column="priority_inspect_n" property="priorityInspectN" jdbcType="VARCHAR" />

    </resultMap>



    <select id="selectPlmPliFrequencySetQuery" parameterType="com.hand.hls.plm.pli.dto.PlmPliFrequencySet" resultMap="BaseResultMap">
       select t.*,
      (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'PLI.RULE_TYPE'
        and v.code_value = t.frequency_type) as frequency_type_n,
      (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'PLI.PRIORITY_CHECK'
        and v.code_value = t.priority_inspect) as priority_inspect_n
        from pli_frequency_set t

        WHERE 1=1
        <if test="frequencyCode!=null">
            and t.frequency_code like concat(concat('%',#{frequencyCode}),'%')
        </if>
        <if test="frequencyName!=null">
            and t.frequency_name like concat(concat('%',#{frequencyName}),'%')
        </if>

    </select>
</mapper>
