<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.activiti.mapper.HlsCusActVarMapper">

    <resultMap id="BaseResultMap" type="org.activiti.rest.service.api.engine.variable.RestVariable">
        <result column="type_" property="type" jdbcType="VARCHAR"/>
        <result column="name_" property="name" jdbcType="VARCHAR"/>
        <result column="text_" property="value" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectWorkFlowProcessInstanceId" resultType="java.lang.String">
        SELECT
            MAX(AHP.ID_)
        FROM
            ACT_HI_PROCINST AHP
        JOIN
            ACT_RE_PROCDEF ARP
        ON
            AHP.PROC_DEF_ID_=ARP.ID_
        WHERE
            AHP.END_TIME_ IS NOT NULL
        AND ARP.KEY_=#{workFlowKey}
        AND AHP.BUSINESS_KEY_=#{businessKey}
    </select>

    <select id="selectWorkFlowTaskId" resultType="java.lang.String">
       SELECT
            MAX(ART.ID_)
        FROM
            ACT_RU_TASK ART
        WHERE
            ART.PROC_INST_ID_=#{processInstanceId}
    </select>

</mapper>
