<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.plm.fc.mapper.PlmFiveClassifyMeetMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.plm.fc.dto.PlmFiveClassifyMeet">
        <result column="FC_MEET_ID" property="fcMeetId" jdbcType="DECIMAL" />
        <result column="FIVE_CLASSIFICATION_ID" property="fiveClassificationId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ASSIGN_ID" property="employeeAssignId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_CODE" property="employeeCode" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
        <result column="POSITION_NAME" property="positionName" jdbcType="VARCHAR" />
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />

        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
    </resultMap>

    <select id="queryMeetAllByKey" resultMap="BaseResultMap" parameterType="com.hand.hls.plm.fc.dto.PlmFiveClassifyMeet">
        SELECT TT.* FROM (SELECT FEA.EMPLOYEE_ASSIGN_ID,FE.EMPLOYEE_CODE,FE.NAME,
        FOU.UNIT_ID,FOU.UNIT_NAME,FOP.POSITION_ID,FOP.POSITION_NAME,
        FEA.COMPANY_ID,
        CASE WHEN FEA.COMPANY_ID = 261 THEN '光大幸福国际租赁有限公司'
        ELSE '光大幸福商业保理有限公司' END COMPANY_NAME
        FROM FND_EMPLOYEE_ASSIGNS FEA
        LEFT JOIN FND_EMPLOYEE FE ON FEA.EMPLOYEE_ID = FE.EMPLOYEE_ID
        LEFT JOIN FND_ORG_UNIT FOU ON FEA.UNIT_ID = FOU.UNIT_ID
        LEFT JOIN FND_ORG_POSITION FOP ON FEA.POSITION_ID = FOP.POSITION_ID) TT
        WHERE
        TT.EMPLOYEE_CODE is not null
        AND TT.UNIT_ID is not null
        AND TT.POSITION_ID is not null
        <if test="employeeCode!=null and employeeCode!=''">
            AND TT.EMPLOYEE_CODE LIKE concat(concat('%',#{employeeCode}),'%')
        </if>
        <if test="companyName!=null and companyName!=''">
            AND TT.COMPANY_NAME LIKE concat(concat('%',#{companyName}),'%')
        </if>
        <if test="name!=null and name!=''">
            AND TT.NAME LIKE concat(concat('%',#{name}),'%')
        </if>
        ORDER BY TT.EMPLOYEE_ASSIGN_ID ASC
    </select>

</mapper>