<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.sys.mapper.DocumentHistoryDetailDMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.sys.dto.DocumentHistoryDetailD">
        <result column="HISTORY_DETAIL_ID" property="historyDetailId" jdbcType="DECIMAL" />
        <result column="HISTORY_ID" property="historyId" jdbcType="DECIMAL" />
        <result column="HISTORY_DATA" property="historyData" jdbcType="VARCHAR" />
        <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
        <result column="TABLE_PK_VALUE" property="tablePkValue" jdbcType="VARCHAR" />
        <result column="PARENT_TABLE_NAME" property="parentTableName" jdbcType="VARCHAR" />
        <result column="PARENT_PK_VALUE" property="parentPkValue" jdbcType="VARCHAR" />
        <result column="HAVE_CLOB" property="haveClob" jdbcType="VARCHAR" />
    </resultMap>


</mapper>