<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.sys.mapper.DocumentHistoryBlobDMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.sys.dto.DocumentHistoryBlobD">
        <result column="CLOB_ID" property="clobId" jdbcType="DECIMAL" />
        <result column="HISTORY_DETAIL_ID" property="historyDetailId" jdbcType="DECIMAL" />
        <result column="TABLE_PK_VALUE" property="tablePkValue" jdbcType="VARCHAR" />
        <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
        <result column="FIELD_VALUE" property="fieldValue" jdbcType="VARCHAR" />
        <result column="FIELD_NAME" property="fieldName" jdbcType="VARCHAR" />
    </resultMap>


</mapper>