<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.sys.mapper.HlsCusSysAppointApproverMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.sys.dto.HlsCusSysAppointApprover">
        <result column="APPROVER_ID" property="approverId" jdbcType="DECIMAL"/>
        <result column="PROCESS_INSTANCE_ID" property="processInstanceId" jdbcType="DECIMAL"/>
        <result column="USER_ID" property="userId" jdbcType="DECIMAL"/>
        <result column="USER_ALLOCATION_ID" property="userAllocationId" jdbcType="DECIMAL"/>
        <result column="SOURCE_ID" property="sourceId" jdbcType="DECIMAL"/>
        <result column="SOURCE_TABLE" property="sourceTable" jdbcType="VARCHAR"/>
        <result column="SID_CODE" property="sidCode" jdbcType="VARCHAR"/>
        <result column="POSITION_ID" property="positionId" jdbcType="VARCHAR"/>
        <result column="user_allocation_id_n" property="userAllocationIdN" jdbcType="VARCHAR"/>
        <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
        <result column="company_short_name" property="companyShortName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectSysAppointApprover" resultType="java.lang.String">
        SELECT
        saa.user_allocation_id
        FROM
        sys_appoint_approver saa
        <where>
            <if test="processInstanceId!=null">
                and saa.process_instance_id = #{processInstanceId}
            </if>
            <if test="sidCode!=null">
                and saa.sid_code = #{sidCode}
            </if>
        </where>
    </select>

    <select id="selectSysAppointApproverDetail" resultMap="BaseResultMap"
            parameterType="com.hand.hls.sys.dto.HlsCusSysAppointApprover">
        SELECT
        saa.approver_id,
        saa.user_id,
        saa.process_instance_id,
        saa.user_allocation_id,
        saa.source_id,
        saa.source_table,
        saa.sid_code,
        (
        SELECT
        fee. NAME
        FROM
        fnd_employee_assigns fea,
        fnd_employee fee,
        fnd_org_unit fn,
        fnd_org_position fop,
        fnd_company fc,
        sys_user_allocation sua
        WHERE
        fea.employee_id = fee.employee_id
        AND fn.unit_id = fea.unit_id
        AND fop.position_id = fea.position_id
        AND fc.company_id = fea.company_id
        AND sua.employee_assign_id = fea.employee_assign_id
        AND sua.allocation_id IS NOT NULL
        AND SUA.allocation_id = saa.user_allocation_id
        ) user_allocation_id_n,
        (
        SELECT
        fop.position_name
        FROM
        fnd_employee_assigns fea,
        fnd_employee fee,
        fnd_org_unit fn,
        fnd_org_position fop,
        fnd_company fc,
        sys_user_allocation sua
        WHERE
        fea.employee_id = fee.employee_id
        AND fn.unit_id = fea.unit_id
        AND fop.position_id = fea.position_id
        AND fc.company_id = fea.company_id
        AND sua.employee_assign_id = fea.employee_assign_id
        AND sua.allocation_id IS NOT NULL
        AND SUA.allocation_id = saa.user_allocation_id
        ) position_name,
        (
        SELECT
        fc.company_short_name
        FROM
        fnd_employee_assigns fea,
        fnd_employee fee,
        fnd_org_unit fn,
        fnd_org_position fop,
        fnd_company fc,
        sys_user_allocation sua
        WHERE
        fea.employee_id = fee.employee_id
        AND fn.unit_id = fea.unit_id
        AND fop.position_id = fea.position_id
        AND fc.company_id = fea.company_id
        AND sua.employee_assign_id = fea.employee_assign_id
        AND sua.allocation_id IS NOT NULL
        AND SUA.allocation_id = saa.user_allocation_id
        ) company_short_name
        FROM
        sys_appoint_approver saa
        <where>
            <if test="processInstanceId!=null">
                and saa.process_instance_id = #{processInstanceId}
            </if>
            <if test="sidCode!=null">
                and saa.sid_code = #{sidCode}
            </if>
        </where>
    </select>


    <select id="getPrjAppointApprover" resultType="java.lang.String">
        select
        t.user_allocation_id
        from sys_appoint_approver t
        where t.approver_id = (
        SELECT
        max(saa.approver_id)
        FROM
        sys_appoint_approver saa
        <where>
            <if test="sourceId!=null">
                and saa.source_id = #{sourceId}
            </if>
            <if test="sourceTable!=null">
                and upper(saa.source_table) = #{sourceTable}
            </if>
        </where>
        )
    </select>

    <select id="getLegalAffairsApprover" resultType="java.lang.String">
        select
        t.user_allocation_id
        from sys_appoint_approver t
        where t.approver_id = (
        SELECT
        max(saa.approver_id)
        FROM
        sys_appoint_approver saa
        <where>
            <if test="sourceId!=null">
                and saa.source_id = #{sourceId}
            </if>
            <if test="sourceTable!=null">
                and upper(saa.source_table) = #{sourceTable}
            </if>
            <if test="sidCode!=null">
                and saa.sid_code = #{sidCode}
            </if>
        </where>
        )
    </select>

    <select id="getOtherLegalAffairsApprover" resultType="java.lang.String">
        SELECT
        max(sua.allocation_id)
        FROM
        fnd_org_position fop,
        fnd_employee_assigns fea,
        sys_user_allocation sua
        WHERE
        fop.position_type = 'LEGAL'
        AND fop.chief_position_flag != 'Y'
        AND fea.position_id = fop.position_id
        AND sua.employee_assign_id = fea.employee_assign_id
        AND sua.user_id not in ( SELECT s.user_id FROM sys_appoint_approver saa,sys_user_allocation s WHERE
         saa.sid_code = #{sidCode} AND saa.source_id = #{sourceId} AND upper(saa.source_table) = #{sourceTable}
         and s.allocation_id = saa.user_allocation_id and exists(
        select 1 from act_hi_comment t3, ACT_HI_TASKINST t4 where t3.PROC_INST_ID_ = saa.PROCESS_INSTANCE_ID
        and t3.user_id_ = saa.user_allocation_id and t3.MESSAGE_ = 'APPROVED'
    	and t3.TASK_ID_ = t4.id_
	    and t4.TASK_DEF_KEY_ = 'sid-nOumRDrm-26As-4h8m-8vc2-CjnzW2MHnNPk'
	   and t3.TYPE_ = 'action'
     ))
        group by sua.user_id
    </select>

    <select id="getDefaultPrjAppointApprover" resultType="java.lang.String">
        SELECT
            sua.allocation_id
        FROM
            sys_user su,
            sys_user_allocation sua
        WHERE
            su.USER_NAME = 'jiangsisi'
        AND sua.user_id = su.USER_ID
          and rownum=1
    </select>

    <select id="getDefalutLegalAffairsApprover" resultType="java.lang.String">
        SELECT
        sua.allocation_id
        FROM
        sys_user su,
        sys_user_allocation sua
        WHERE
        su.USER_NAME = 'luwuyang'
        AND sua.user_id = su.USER_ID
          and rownum=1
    </select>

    <select id="getRemoveDefalutLegalAffairsApprover" resultType="java.lang.String">
        SELECT
        sua.allocation_id
        FROM
        sys_user su,
        sys_user_allocation sua
        WHERE
        su.USER_NAME = 'luwuyang'
        AND sua.user_id = su.USER_ID
    </select>

    <select id="getContractOtherLegalAffairsApprover" resultType="java.lang.String">
        SELECT
        max(sua.allocation_id)
        FROM
        fnd_org_position fop,
        fnd_employee_assigns fea,
        sys_user_allocation sua
        WHERE
        fop.position_type = 'LEGAL'
        AND fop.chief_position_flag != 'Y'
        AND fea.position_id = fop.position_id
        AND sua.employee_assign_id = fea.employee_assign_id
        AND sua.user_id not in ( SELECT s.user_id FROM sys_appoint_approver saa,sys_user_allocation s WHERE saa.sid_code = #{sidCode} AND saa.process_instance_id = #{processInstanceId} and s.allocation_id = saa.user_allocation_id)
        group by sua.user_id
    </select>



    <select id="getAssignByUserName" resultType="java.lang.String">
        select sua.allocation_id as name
        from sys_user_allocation sua, sys_user su
        where sua.user_id = su.user_id and su.user_name = #{names} and rownum = 1
    </select>
</mapper>