<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.sys.mapper.IntranetSegmentDefineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.sys.dto.IntranetSegmentDefine">
        <result column="INTRANET_DEFINE_ID" property="intranetDefineId" jdbcType="DECIMAL" />
        <result column="INTRANET_FROM" property="intranetFrom" jdbcType="VARCHAR" />
        <result column="INTRANET_TO" property="intranetTo" jdbcType="VARCHAR" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />

        <result column="OBJECT_VERSION_NUMBER" jdbcType="BIGINT" property="objectVersionNumber"/>
        <result column="REQUEST_ID" jdbcType="BIGINT" property="requestId"/>
        <result column="PROGRAM_ID" jdbcType="BIGINT" property="programId"/>
        <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy"/>
        <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="LAST_UPDATED_BY" jdbcType="BIGINT" property="lastUpdatedBy"/>
        <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
        <result column="LAST_UPDATE_LOGIN" jdbcType="BIGINT" property="lastUpdateLogin"/>
    </resultMap>

    <select id="selectIntranetSegmentDefineInfo" parameterType="com.hand.hls.sys.dto.IntranetSegmentDefine" resultMap="BaseResultMap">

        select isd.*
        from SYS_INTRANET_SEGMENT_DEFINE isd
        where 1 = 1
        <if test="intranetDefineId != null">
            and isd.INTRANET_DEFINE_ID = #{intranetDefineId}
        </if>
        <if test="enableFlag != null">
            and isd.ENABLE_FLAG = #{enableFlag}
        </if>

    </select>


</mapper>