<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.sys.mapper.SysWflApprovalRecordsMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.sys.dto.SysWflApprovalRecords">
        <result column="RECORD_ID" property="recordId" jdbcType="DECIMAL" />
        <result column="PROCESS_INSTANCE_ID" property="processInstanceId" jdbcType="DECIMAL" />
        <result column="ACTIVITY_ID" property="activityId" jdbcType="VARCHAR" />
        <result column="DOCUMENT_NUMBER" property="documentNumber" jdbcType="VARCHAR" />
        <result column="DOCUMENT_NAME" property="documentName" jdbcType="VARCHAR" />
        <result column="PROCESS_NAME" property="processName" jdbcType="VARCHAR" />
        <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR" />
        <result column="APPROVAL_TIME" property="approvalTime" jdbcType="DATE" />
        <result column="APPROVER" property="approver" jdbcType="VARCHAR" />
        <result column="ACTION" property="action" jdbcType="VARCHAR" />
        <result column="APPROVAL_COMMENT" property="approvalComment" jdbcType="VARCHAR" />
        <result column="MAC_ADDRESS" property="macAddress" jdbcType="VARCHAR" />
    </resultMap>


</mapper>