<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.mort.mapper.HlsMortgageMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.mort.dto.HlsMortgage">
        <result column="mortgage_id" property="mortgageId" jdbcType="DECIMAL"/>
        <result column="mortgage_number" property="mortgageNumber" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="manufacturer_id_n" property="manufacturerIdN" jdbcType="VARCHAR"/>
        <result column="factory_id_n" property="factoryIdN" jdbcType="VARCHAR"/>
        <result column="tenant_name" property="tenantName" jdbcType="VARCHAR"/>
        <result column="project_lease_item_id" property="projectLeaseItemId" jdbcType="DECIMAL"/>
        <result column="contract_lease_item_id" property="contractLeaseItemId" jdbcType="DECIMAL"/>
        <result column="full_name" property="fullName" jdbcType="VARCHAR"/>
        <result column="division" property="division" jdbcType="VARCHAR"/>
        <result column="host_project_manager" property="hostProjectManager" jdbcType="DECIMAL"/>
        <result column="host_project_manager_n" property="hostProjectManagerN" jdbcType="VARCHAR"/>
        <result column="actual_province_code" property="actualProvinceCode" jdbcType="VARCHAR"/>
        <result column="actual_province_code_n" property="actualProvinceCodeN" jdbcType="VARCHAR"/>
        <result column="actual_city_code" property="actualCityCode" jdbcType="VARCHAR"/>
        <result column="actual_city_code_n" property="actualCityCodeN" jdbcType="VARCHAR"/>
        <result column="overtime_countdown" property="overtimeCountdown" jdbcType="VARCHAR"/>
        <result column="vehicle_regist_number" property="vehicleRegistNumber" jdbcType="VARCHAR"/>
        <result column="vehicle_owner" property="vehicleOwner" jdbcType="VARCHAR"/>
        <result column="mortgage_regist_number" property="mortgageRegistNumber" jdbcType="VARCHAR"/>
        <result column="mortgage_regist_date" property="mortgageRegistDate" jdbcType="DATE"/>
        <result column="mortgagee_name" property="mortgageeName" jdbcType="VARCHAR"/>
        <result column="classify_id" property="classifyId" jdbcType="DECIMAL"/>
        <result column="classify_id_n" property="classifyIdN" jdbcType="VARCHAR"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="registration_authority" property="registrationAuthority" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="pledge_state" property="pledgeState" jdbcType="VARCHAR"/>
        <result column="pledge_state_n" property="pledgeStateN" jdbcType="VARCHAR"/>
        <result column="product_model" property="productModel" jdbcType="VARCHAR"/>

        <result column="mortgage_status" property="mortgageStatus" jdbcType="VARCHAR"/>
        <result column="mortgage_status_n" property="mortgageStatusN" jdbcType="VARCHAR"/>
        <result column="bp_id_tenant_n" property="bpIdTenantN" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="business_type_n" property="businessTypeN" jdbcType="VARCHAR"/>
        <result column="division_n" property="divisionN" jdbcType="VARCHAR"/>
        <result column="employee_id_n" property="employeeIdN" jdbcType="VARCHAR"/>
        <result column="unit_id_n" property="unitIdN" jdbcType="VARCHAR"/>
        <result column="actual_pay_date" property="actualPayDate" jdbcType="DATE"/>
        <result column="mortgage_approved_date" property="mortgageApprovedDate" jdbcType="DATE"/>
        <result column="process_instance_id" property="processInstanceId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="HlsContractListQuery" resultMap="BaseResultMap">
        select *
        from (select cc.contract_id,
        cc.contract_number,
        max(hlm.mortgage_id) mortgage_id,
        nvl(hlm.mortgage_number,'未抵押') mortgage_number,
        cc.document_type,
        cc.division,
        cc.manufacturer_id,
        (Select hbv.bp_code
        From hls_bp_master hbv
        Where hbv.bp_id = cc.manufacturer_id) manufacturer_code,
        (Select hbv.bp_name
        From hls_bp_master hbv
        Where hbv.bp_id = cc.manufacturer_id) manufacturer_id_n,
        cc.factory_id,
        (Select hbv.bp_name
        From hls_bp_master hbv
        Where hbv.bp_id = cc.factory_id) factory_id_n,
        (Select hbv.bp_name
        From hls_bp_master hbv
        Where hbv.bp_id = cc.tenant_id) tenant_name,
        replace(wm_concat(ccli.full_name), ',', ';') full_name,
        cc.employee_id host_project_manager,
        (select fe.name
        from fnd_employee fe
        where fe.employee_id = cc.employee_id) host_project_manager_n,
        (case when hlm.mortgage_number is not null or cc.contract_status != 'APPROVING' then
        null
        else case when to_date(to_char(sysdate, 'YYYY-MM-DD'), 'YYYY-MM-DD') -
        to_date(to_char(cc.lease_start_date, 'YYYY-MM-DD'), 'YYYY-MM-DD') between 0 and 90 then
        90 - (to_date(to_char(sysdate, 'YYYY-MM-DD'), 'YYYY-MM-DD') -
        to_date(to_char(cc.lease_start_date, 'YYYY-MM-DD'), 'YYYY-MM-DD')) || '天'
        when to_date(to_char(sysdate, 'YYYY-MM-DD'), 'YYYY-MM-DD') -
        to_date(to_char(cc.lease_start_date, 'YYYY-MM-DD'), 'YYYY-MM-DD') > 90 then
        '已逾期' end end) as overtimeCountdown
        from con_contract cc
        left join con_contract_lease_item ccli
        on cc.contract_id = ccli.contract_id
        left join hls_lease_mortgage hlm
        on hlm.contract_lease_item_id = ccli.contract_lease_item_id
        where
        cc.document_type in ('CONL', 'CONLB')
        --and cc.contract_status in ('REJECTED', 'APPROVED_RETURN', 'CONDITIONAL', 'APPROVING', 'APPROVED')
        group by cc.contract_id,
        cc.contract_number,
        cc.contract_status,
        hlm.mortgage_number,
        cc.document_type,
        cc.division,
        cc.manufacturer_id,
        cc.factory_id,
        cc.tenant_id,
        cc.employee_id,
        cc.lease_start_date) v
        <where>
            <if test="contractNumber!=null">
                and v.CONTRACT_NUMBER like concat(concat('%',#{contractNumber}),'%')
            </if>
            <if test="mortgageNumber!=null">
                and v.mortgage_number like concat(concat('%',#{mortgageNumber}),'%')
            </if>
            <if test="manufacturerIdN!=null">
                and v.manufacturer_id_n = #{manufacturerIdN}
            </if>
            <if test="factoryIdN!=null">
                and v.factory_id_n = #{factoryIdN}
            </if>
            <if test="tenantName!=null">
                and v.tenant_name like concat(concat('%',#{tenantName}),'%')
            </if>
            <if test="hostProjectManagerN!=null">
                and v.host_project_manager_n like concat(concat('%',#{hostProjectManagerN}),'%')
            </if>
        </where>
        order by v.contract_id desc
    </select>

    <!--<select id="HlsContractListQuery" resultMap="BaseResultMap">
        select *
        from (select pp.project_id,
        pp.project_number,
        max(hlm.mortgage_id) mortgage_id,
        nvl(hlm.mortgage_number,'未抵押') mortgage_number,
        pp.document_type,
        pp.division,
        pp.manufacturer_id,
        (Select hbv.bp_code
        From hls_bp_master hbv
        Where hbv.bp_id = pp.manufacturer_id) manufacturer_code,
        (Select hbv.bp_name
        From hls_bp_master hbv
        Where hbv.bp_id = pp.manufacturer_id) manufacturer_id_n,
        pp.factory_id,
        (Select hbv.bp_name
        From hls_bp_master hbv
        Where hbv.bp_id = pp.factory_id) factory_id_n,
        (Select hbv.bp_name
        From hls_bp_master hbv
        Where hbv.bp_id = pp.tenant_id) tenant_name,
        replace(wm_concat(ppli.full_name), ',', ';') full_name,
        pp.employee_id host_project_manager,
        (select fe.name
        from fnd_employee fe
        where fe.employee_id = pp.employee_id) host_project_manager_n,
        (case when hlm.mortgage_number is not null or pp.project_status != 'APPROVING' then
        null
        else case when to_date(to_char(sysdate, 'YYYY-MM-DD'), 'YYYY-MM-DD') -
        to_date(to_char(pp.lease_start_date, 'YYYY-MM-DD'), 'YYYY-MM-DD') between 0 and 90 then
        90 - (to_date(to_char(sysdate, 'YYYY-MM-DD'), 'YYYY-MM-DD') -
        to_date(to_char(pp.lease_start_date, 'YYYY-MM-DD'), 'YYYY-MM-DD')) || '天'
        when to_date(to_char(sysdate, 'YYYY-MM-DD'), 'YYYY-MM-DD') -
        to_date(to_char(pp.lease_start_date, 'YYYY-MM-DD'), 'YYYY-MM-DD') > 90 then
        '已逾期' end end) as overtimeCountdown
        from prj_project pp
        left join prj_project_lease_item ppli
        on pp.project_id = ppli.project_id
        left join hls_lease_mortgage hlm
        on hlm.project_lease_item_id = ppli.project_lease_item_id
        where pp.project_status in ('REJECTED',
        'APPROVED_RETURN',
        'CONDITIONAL',
        'APPROVING',
        'APPROVED')
        and pp.document_type in ('PRJL', 'PRJLB')
        group by pp.project_id,
        pp.project_number,
        pp.project_status,
        hlm.mortgage_number,
        pp.document_type,
        pp.division,
        pp.manufacturer_id,
        pp.factory_id,
        pp.tenant_id,
        pp.employee_id,
        pp.lease_start_date) v
        <where>
            <if test="projectNumber!=null">
                and v.PROJECT_NUMBER like concat(concat('%',#{projectNumber}),'%')
            </if>
            <if test="mortgageNumber!=null">
                and v.mortgage_number like concat(concat('%',#{mortgageNumber}),'%')
            </if>
            <if test="manufacturerIdN!=null">
                and v.manufacturer_id_n = #{manufacturerIdN}
            </if>
            <if test="factoryIdN!=null">
                and  v.factory_id_n  = #{factoryIdN}
            </if>
            <if test="tenantName!=null">
                and v.tenant_name like concat(concat('%',#{tenantName}),'%')
            </if>
            <if test="hostProjectManagerN!=null">
                and v.host_project_manager_n like concat(concat('%',#{hostProjectManagerN}),'%')
            </if>
        </where>
        order by v.project_id desc
    </select>-->

    <select id="HlsMortgageDetailQuery" resultMap="BaseResultMap">
        select *
        from (select cc.contract_id,
                     cc.contract_number,
                     cc.contract_name,
                     cc.document_type,
                     cc.division,
                     hlm.mortgage_id,
                     hlm.mortgage_number,
                     cc.manufacturer_id,
                     (Select hbv.bp_code
                      From hls_bp_master hbv
                      Where hbv.bp_id = cc.manufacturer_id)        manufacturer_code,
                     (Select hbv.bp_name
                      From hls_bp_master hbv
                      Where hbv.bp_id = cc.manufacturer_id)        manufacturer_id_n,
                     cc.factory_id,
                     (Select hbv.bp_name
                      From hls_bp_master hbv
                      Where hbv.bp_id = cc.factory_id)             factory_id_n,
                     (Select hbv.bp_name
                      From hls_bp_master hbv
                      Where hbv.bp_id = cc.tenant_id)              tenant_name,
                     ccli.contract_lease_item_id,
                     ccli.full_name,
                     cc.employee_id                                host_project_manager,
                     (select fe.name
                      from fnd_employee fe
                      where fe.employee_id = cc.employee_id)       host_project_manager_n,
                     hlm.actual_province_code,
                     (select f.description
                      from fnd_province f
                      where f.province = hlm.actual_province_code) actual_province_code_n,
                     hlm.actual_city_code,
                     (select f.description
                      from fnd_city f
                      where f.city = hlm.actual_city_code)         actual_city_code_n,
                     hlm.vehicle_regist_number,
                     hlm.vehicle_owner,
                     hlm.mortgage_regist_number,
                     hlm.mortgagee_name,
                     hlm.mortgage_regist_date,
                     ccli.classify_id,
                     (select ic.attribute_value
                      from yx_lease_item_classify ic
                      where ic.classify_id = ccli.classify_id)     classify_id_n,
                     hlm.location,
                     hlm.registration_authority,
                     hlm.description,
                     ccli.product_model
              from con_contract cc
                       left join con_contract_lease_item ccli
                                 on cc.contract_id = ccli.contract_id
                       left join hls_lease_mortgage hlm
                                 on hlm.contract_lease_item_id = ccli.contract_lease_item_id
              where cc.document_type in ('CONL', 'CONLB')
                 --and cc.contract_status in ('REJECTED', 'APPROVED_RETURN', 'CONDITIONAL', 'APPROVING', 'APPROVED')
             ) v
        where v.contract_id = #{contractId}
    </select>

    <!--<select id="HlsMortgageDetailQuery" resultMap="BaseResultMap">
        select *
        from (select hlm.mortgage_id,
                     hlm.mortgage_number,
                     hlm.project_id,
                     hlm.project_number,
                     hlm.contract_id,
                     hlm.contract_number,
                     hlm.division,
                     hlm.manufacturer_id,
                     (select hbv.bp_name
                      from hls_bp_master hbv
                      where hbv.bp_id = hlm.manufacturer_id) manufacturer_id_n,
                     hlm.factory_id,
                     (select hbv.bp_name
                      from hls_bp_master hbv
                      where hbv.bp_id = hlm.factory_id) factory_id_n,
                     hlm.lease_item_id,
                     hlm.full_name,
                     hlm.actual_province_code,
                     hlm.actual_city_code,
                     hlm.vehicle_regist_number,
                     hlm.vehicle_owner,
                     hlm.mortgage_regist_number,
                     hlm.mortgage_regist_date,
                     hlm.mortgagee_name,
                     hlm.classify_id,
                     (select ic.attribute_value
                      from yx_lease_item_classify ic
                      where ic.classify_id = hlm.classify_id) classify_id_n,
                     hlm.location,
                     hlm.registration_authority,
                     hlm.description
              from hls_lease_mortgage hlm
             where hlm.project_id = #{projectId}) v

    </select>-->

    <select id="HlsMortgageVehicleQuery" resultMap="BaseResultMap">
        select *
        from (select cc.contract_id,
        cc.contract_number,
        decode(hlm.mortgage_number,'',0,1) pledge_state,
        decode(hlm.mortgage_number,'','未抵押','已抵押') pledge_state_n,
        cc.contract_name,
        cc.document_type,
        cc.division,
        hlm.mortgage_id,
        hlm.mortgage_number,
        cc.manufacturer_id,
        (Select hbv.bp_code
        From hls_bp_master hbv
        Where hbv.bp_id = cc.manufacturer_id) manufacturer_code,
        (Select hbv.bp_name
        From hls_bp_master hbv
        Where hbv.bp_id = cc.manufacturer_id) manufacturer_id_n,
        cc.factory_id,
        (Select hbv.bp_name
        From hls_bp_master hbv
        Where hbv.bp_id = cc.factory_id) factory_id_n,
        (Select hbv.bp_name
        From hls_bp_master hbv
        Where hbv.bp_id = cc.tenant_id) tenant_name,
        ccli.contract_lease_item_id,
        ccli.full_name,
        cc.employee_id host_project_manager,
        (select fe.name
        from fnd_employee fe
        where fe.employee_id = cc.employee_id) host_project_manager_n,
        hlm.actual_province_code,
        (select f.description
        from fnd_province f
        where f.province = hlm.actual_province_code) actual_province_code_n,
        hlm.actual_city_code,
        (select f.description
        from fnd_city f
        where f.city = hlm.actual_city_code) actual_city_code_n,
        hlm.vehicle_regist_number,
        hlm.vehicle_owner,
        hlm.mortgage_regist_number,
        hlm.mortgagee_name,
        hlm.mortgage_regist_date,
        ccli.classify_id,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.classify_id = ccli.classify_id) classify_id_n,
        hlm.location,
        hlm.registration_authority,
        hlm.description
        from con_contract cc
        left join con_contract_lease_item ccli
        on cc.contract_id = ccli.contract_id
        left join hls_lease_mortgage hlm
        on hlm.contract_lease_item_id = ccli.contract_lease_item_id
        where cc.document_type in ('CONL', 'CONLB')
        --and cc.contract_status in ('REJECTED', 'APPROVED_RETURN', 'CONDITIONAL', 'APPROVING', 'APPROVED')
        and cc.division in ('Vehicle_Leasing','COMMERCIAL_VEHICLE')) v
        <where>
            <if test="contractNumber!=null">
                and v.CONTRACT_NUMBER like concat(concat('%',#{contractNumber}),'%')
            </if>
            <if test="manufacturerIdN!=null">
                and v.manufacturer_id_n = #{manufacturerIdN}
            </if>
            <if test="factoryIdN!=null">
                and v.factory_id_n = #{factoryIdN}
            </if>
            <if test="tenantName!=null">
                and v.tenant_name like concat(concat('%',#{tenantName}),'%')
            </if>
            <if test="fullName!=null">
                and v.full_name like concat(concat('%',#{fullName}),'%')
            </if>
            <if test="mortgageRegistDate!=null">
                and v.mortgage_regist_date = to_date(#{mortgageRegistDate},'yyyy-mm-dd')
            </if>
            <if test="pledgeState!=null">
                and v.pledge_state = #{pledgeState}
            </if>
        </where>
        order by v.contract_id desc
    </select>

    <select id="HlsMortgageMachineQuery" resultMap="BaseResultMap">
        select *
        from (select cc.contract_id,
        cc.contract_number,
        decode(hlm.mortgage_number,'',0,1) pledge_state,
        decode(hlm.mortgage_number,'','未抵押','已抵押') pledge_state_n,
        cc.contract_name,
        cc.document_type,
        cc.division,
        hlm.mortgage_id,
        hlm.mortgage_number,
        cc.manufacturer_id,
        (Select hbv.bp_code
        From hls_bp_master hbv
        Where hbv.bp_id = cc.manufacturer_id) manufacturer_code,
        (Select hbv.bp_name
        From hls_bp_master hbv
        Where hbv.bp_id = cc.manufacturer_id) manufacturer_id_n,
        cc.factory_id,
        (Select hbv.bp_name
        From hls_bp_master hbv
        Where hbv.bp_id = cc.factory_id) factory_id_n,
        (Select hbv.bp_name
        From hls_bp_master hbv
        Where hbv.bp_id = cc.tenant_id) tenant_name,
        ccli.contract_lease_item_id,
        ccli.full_name,
        cc.employee_id host_project_manager,
        (select fe.name
        from fnd_employee fe
        where fe.employee_id = cc.employee_id) host_project_manager_n,
        hlm.actual_province_code,
        (select f.description
        from fnd_province f
        where f.province = hlm.actual_province_code) actual_province_code_n,
        hlm.actual_city_code,
        (select f.description
        from fnd_city f
        where f.city = hlm.actual_city_code) actual_city_code_n,
        hlm.vehicle_regist_number,
        hlm.vehicle_owner,
        hlm.mortgage_regist_number,
        hlm.mortgagee_name,
        hlm.mortgage_regist_date,
        ccli.classify_id,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.classify_id = ccli.classify_id) classify_id_n,
        ccli.product_model,
        hlm.location,
        hlm.registration_authority,
        hlm.description
        from con_contract cc
        left join con_contract_lease_item ccli
        on cc.contract_id = ccli.contract_id
        left join hls_lease_mortgage hlm
        on hlm.contract_lease_item_id = ccli.contract_lease_item_id
        where cc.document_type in ('CONL', 'CONLB')
        --and cc.contract_status in ('REJECTED', 'APPROVED_RETURN', 'CONDITIONAL', 'APPROVING', 'APPROVED')
        and cc.division in ('Construction_machinery','ENGINEERING_MACHINERY')) v
        <where>
            <if test="contractNumber!=null">
                and v.CONTRACT_NUMBER like concat(concat('%',#{contractNumber}),'%')
            </if>
            <if test="manufacturerIdN!=null">
                and v.manufacturer_id_n = #{manufacturerIdN}
            </if>
            <if test="factoryIdN!=null">
                and v.factory_id_n = #{factoryIdN}
            </if>
            <if test="tenantName!=null">
                and v.tenant_name like concat(concat('%',#{tenantName}),'%')
            </if>
            <if test="fullName!=null">
                and v.full_name like concat(concat('%',#{fullName}),'%')
            </if>
            <if test="mortgageRegistDate!=null">
                and v.mortgage_regist_date = to_date(#{mortgageRegistDate},'yyyy-mm-dd')
            </if>
            <if test="pledgeState!=null">
                and v.pledge_state = #{pledgeState}
            </if>
        </where>
        order by v.contract_id desc
    </select>

    <select id="findAllByHlsMortgage" resultMap="BaseResultMap">
        SELECT
        pp.process_instance_id,
        pp.project_id,
        cc.CONTRACT_NUMBER,
        cc.mortgage_status,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.code = 'CON_CONTRACT.MORTGAGE_STATUS' AND sc.CODE_VALUE
        = cc.mortgage_status ) mortgage_status_n,
        ( SELECT hbv.bp_name FROM hls_bp_master hbv WHERE hbv.bp_id = pp.manufacturer_id ) manufacturer_id_n,
        ( SELECT hbv.bp_name FROM hls_bp_master hbv WHERE hbv.bp_id = pp.tenant_id ) bp_id_tenant_n,
        ( SELECT bt.description FROM hls_business_type bt WHERE bt.DOCUMENT_CATEGORY='PRJ_PROJECT' AND bt.business_type
        = pp.business_type ) business_type_n,
        cc.division,
        ( SELECT d.description FROM hls_division d WHERE d.division = pp.division ) division_n,
        ( SELECT fe.NAME FROM FND_EMPLOYEE fe WHERE fe.EMPLOYEE_ID = pp.EMPLOYEE_ID ) employee_id_n,
        ( SELECT u.unit_name FROM fnd_org_unit u WHERE u.unit_id = pp.unit_id ) unit_id_n,
        (
        SELECT
        h.actual_pay_date
        FROM
        csh_payment_req_hd h,
        csh_payment_req_ln l,
        con_contract_cashflow cf
        WHERE
        h.payment_req_id = l.payment_req_id
        AND l.source_doc_category = 'PRJ_PROJECT'
        AND l.source_doc_id = cf.contract_id
        AND l.source_doc_line_id = cf.cashflow_id
        AND cf.contract_id = cc.contract_id
        ) actual_pay_date ,
        mortgage_approved_date
        FROM
        CON_CONTRACT cc
        INNER JOIN PRJ_PROJECT pp ON cc.PROJECT_ID = pp.PROJECT_ID
        <where>
            1=1
            <if test="contractNumber != null">
                and cc.contract_number like  concat(concat('%',#{contractNumber}),'%')
            </if>
            <if test="mortgageStatus != null">
                and cc.mortgage_status = #{mortgageStatus}
            </if>
            <if test="manufacturerIdN != null">
                and ( SELECT hbv.bp_name FROM hls_bp_master hbv WHERE hbv.bp_id = pp.manufacturer_id ) like concat(concat('%',#{manufacturerIdN}),'%')
            </if>
            <if test="bpIdTenantN != null">
                 and (SELECT hbv.bp_name FROM hls_bp_master hbv WHERE hbv.bp_id = pp.tenant_id ) like concat(concat('%',#{bpIdTenantN}),'%')
            </if>
        </where>
    </select>


</mapper>
