<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.ConContractChangeCashflowMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.ConContractChangeCashflow">
        <result column="cashflow_id" property="cashflowId" jdbcType="DECIMAL"/>
        <result column="change_req_id" property="changeReqId" jdbcType="DECIMAL"/>
        <result column="times" property="times" jdbcType="DECIMAL"/>
        <result column="cf_item" property="cfItem" jdbcType="DECIMAL"/>
        <result column="cf_type" property="cfType" jdbcType="DECIMAL"/>
        <result column="due_date" property="dueDate" jdbcType="VARCHAR"/>
        <result column="due_amount" property="dueAmount" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
    </resultMap>

    <delete id="deleteChangeCashflowByChangeReqId" parameterType="Long">
        delete from con_contract_change_cashflow t where t.change_req_id = #{changeReqId}
    </delete>

    <select id="getChangeReqIrrByChangeReqId" resultType="Double">
        select yh_financial_calculate_pkg.calc_change_req_irr(p_change_req_id => #{changeReqId})
        from dual
    </select>
    <insert id="dataTransfer" parameterType="long">
        insert into con_contract_change_cashflow_d select * from con_contract_change_cashflow t where t.change_req_id = #{changeReqId}
    </insert>
</mapper>