<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.HlsCusConContractBpMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.HlsCusConContractBp">
        <result column="record_id" property="recordId" jdbcType="DECIMAL"/>
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="bp_category" property="bpCategory" jdbcType="VARCHAR"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="bank_branch_name" property="bankBranchName" jdbcType="VARCHAR"/>
        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR"/>
        <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR"/>
        <result column="ratio" property="ratio" jdbcType="DECIMAL"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="credit_line_id" property="creditLineId" jdbcType="DECIMAL"/>
        <result column="bp_class" property="bpClass" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="bp_name_n" property="bpNameN" jdbcType="VARCHAR"/>
        <result column="id_card_no" property="idCardNo" jdbcType="VARCHAR"/>
        <result column="repurchase_type" property="repurchaseType" jdbcType="VARCHAR"/>
        <result column="repurchase_des" property="repurchaseDes" jdbcType="VARCHAR"/>
        <result column="repurchase_price" property="repurchasePrice" jdbcType="VARCHAR"/>
        <result column="repurchase_flag" property="repurchaseFlag" jdbcType="VARCHAR"/>
        <result column="contract_seq" property="contractSeq" jdbcType="DECIMAL"/>
        <result column="relationship" property="relationship" jdbcType="VARCHAR"/>
        <result column="bp_role_type" property="bpRoleType" jdbcType="VARCHAR"/>
        <result column="bp_role_type_n" property="bpRoleTypeN" jdbcType="VARCHAR"/>
        <result column="guarantee_form" property="guaranteeForm" jdbcType="VARCHAR"/>
        <result column="ref_v01" property="refV01" jdbcType="VARCHAR"/>
        <result column="ref_v02" property="refV02" jdbcType="VARCHAR"/>
        <result column="ref_v03" property="refV03" jdbcType="VARCHAR"/>
        <result column="ref_v04" property="refV04" jdbcType="VARCHAR"/>
        <result column="ref_v05" property="refV05" jdbcType="VARCHAR"/>
        <result column="ref_n01" property="refN01" jdbcType="DECIMAL"/>
        <result column="ref_n02" property="refN02" jdbcType="DECIMAL"/>
        <result column="ref_n03" property="refN03" jdbcType="DECIMAL"/>
        <result column="ref_n04" property="refN04" jdbcType="DECIMAL"/>
        <result column="ref_n05" property="refN05" jdbcType="DECIMAL"/>
        <result column="ref_d01" property="refD01" jdbcType="DATE"/>
        <result column="ref_d02" property="refD02" jdbcType="DATE"/>
        <result column="ref_d03" property="refD03" jdbcType="DATE"/>
        <result column="ref_d04" property="refD04" jdbcType="DATE"/>
        <result column="ref_d05" property="refD05" jdbcType="DATE"/>
        <result column="bp_code" property="bpCode" jdbcType="VARCHAR"/>
        <result column="bank_full_name" property="bankFullName" jdbcType="VARCHAR"/>
        <result column="bp_category_n" property="bpCategoryN" jdbcType="VARCHAR"/>
        <result column="bank_account_id" property="bankAccountId"/>

        <result column="invoice_kind" property="invoiceKind" jdbcType="VARCHAR"/>
        <result column="invoice_kind_n" property="invoiceKindN" jdbcType="VARCHAR"/>
        <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR"/>
        <result column="tax_registry_num" property="taxRegistryNum" jdbcType="VARCHAR"/>
        <result column="invoice_bp_address_phone_num" property="invoiceBpAddressPhoneNum" jdbcType="VARCHAR"/>
        <result column="invoice_bp_bank_account" property="invoiceBpBankAccount" jdbcType="VARCHAR"/>
        <result column="taxpayer_type" property="taxpayerType" jdbcType="VARCHAR"/>
        <result column="taxpayer_type_n" property="taxpayerTypeN" jdbcType="VARCHAR"/>
        <result column="bp_type_n" property="bpTypeN" jdbcType="VARCHAR"/>
        <result column="bp_class_n" property="bpClassN" jdbcType="VARCHAR"/>
        <result column="bp_type" property="bpType" jdbcType="VARCHAR"/>
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR" />
        <result column="WORKING_PLACE" property="workingPlace" />
        <result column="POSITION" property="position" />
        <result column="gender_n" property="genderN" />
        <result column="GENDER" property="gender" />
        <result column="MARITAL_STATUS_N" property="maritalStatusN" />
        <result column="age" property="age" />
        <result column="DATE_OF_BIRTH" property="dateOfBirth" jdbcType="DATE"/>
        <result column="ANNUAL_INCOME" property="annualIncome" />
        <result column="NUMBER_OF_CHILDREN" property="numberOfChildren" />
        <result column="industry_n" property="industryN" />
        <result column="company_nature_n" property="companyNatureN" />
        <result column="ACTUAL_CONTROLLER" property="actualController" />
        <result column="LEGAL_PERSON" property="legalPerson" />
        <result column="FOUNDED_DATE" property="foundedDate" jdbcType="DATE"/>
        <result column="REGISTERED_CAPITAL" property="registeredCapital" />
        <result column="PAID_UP_CAPITAL" property="paidUpCapital" />
        <result column="CREDIT_RATING" property="creditRating" />
        <result column="LISTED_COMPANY_FLAG" property="listedCompanyFlag" />
        <result column="enterprise_scale_n" property="enterpriseScaleN" />
        <result column="sale_type_n" property="saleTypeN" />

        <!--<result column="bank_full_name" property="invoiceBpBankAccount" jdbcType="VARCHAR"/>-->
        <result column="economic_indu_classify_n" property="economicInduClassifyN" />
        <result column="economic_indu_classify" property="economicInduClassify" />

    </resultMap>
    <resultMap id="BasesResultMap" type="com.hand.hls.cont.dto.HlsCusConContract">
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="quotation_number" property="quotationNumber" jdbcType="VARCHAR"/>
        <result column="cashflow_id" property="cashflowId" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="BpMasterMap" type="map">
        <result column="bp_id" property="bp_id"/>
        <result column="record_id" property="record_id"/>
        <result column="bp_category" property="bp_category"/>
        <result column="bp_category_n" property="bp_category_n"/>
        <result column="bp_name" property="bp_name"/>
        <result column="bp_code" property="bp_code"/>
        <result column="invoice_kind" property="invoice_kind"/>
        <result column="invoice_title" property="invoice_title"/>
        <result column="tax_registry_num" property="tax_registry_num"/>
        <result column="invoice_bp_address_phone_num" property="invoice_bp_address_phone_num"/>
        <result column="invoice_bp_bank_account" property="invoice_bp_bank_account"/>
        <result column="taxpayer_type" property="taxpayer_type"/>
        <result column="invoice_kind_n" property="invoice_kind_n"/>
        <result column="taxpayer_type_n" property="taxpayer_type_n"/>
    </resultMap>

    <select id="queryByContractId" resultMap="BpMasterMap">
        SELECT ccb.bp_id,
        hbm.bp_name,
        hbm.bp_code,
        v.invoice_kind,
        hbm.invoice_title,
        hbm.tax_registry_num,
        hbm.INVOICE_BP_ADDRESS_PHONE_NUM,
        hbm.INVOICE_BP_BANK_ACCOUNT,
        hbm.TAXPAYER_TYPE,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'VAT.INVOICE_KIND'
        AND v.invoice_kind = v.code_value) invoice_kind_n,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'HLS211_TAXPAYER_TYPE'
        AND hbm.taxpayer_type = v.code_value) taxpayer_type_n
        FROM prj_project_bp ccb,
        hls_bp_master  hbm,

        con_contract_cashflow ccc
        left join con_contract cc
        on cc.contract_id = ccc.contract_id
        left join vat_invoice_profile_dtl v
        on v.invoice_profile = (case
        when (cc.business_type = 'LEASE' and
        cc.lease_item_property = 'MOVABLE') THEN
        'LEASE_MOVABLES'
        when (cc.business_type = 'LEASE' and
        cc.lease_item_property = 'IMMOVABLE') THEN
        'LEASE_IMMOVABLES'
        when (cc.business_type = 'LEASEBACK' and
        cc.lease_item_property = 'MOVABLE') THEN
        'LEASEBACK_MOVABLES'
        when (cc.business_type = 'LEASEBACK' and
        cc.lease_item_property = 'IMMOVABLE') THEN
        'LEASEBACK_IMMOVABLES'
        else
        ''
        end)
        and v.cf_item = ccc.cf_item
        WHERE ccb.project_id = cc.project_id
        and hbm.BP_ID = ccb.bp_id
        and ccc.cashflow_id = #{cashflowId}
        <if test="bpCode!=null">
            and hbm.bp_code like concat('%',concat(#{bpCode},'%'))
        </if>
        <if test="bpName!=null">
            and hbm.bp_name like concat('%',concat(#{bpName},'%'))
        </if>
    </select>

    <select id="selectSignBpLov" parameterType="com.hand.hls.cont.dto.HlsCusConContractBp" resultMap="BaseResultMap">
        select ccb.*,
        (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id=ccb.bp_id) bp_name,
        (select hbm.bp_code from hls_bp_master hbm where hbm.bp_id=ccb.bp_id) bp_code,
        (select hbt.description from hls_bp_type hbt where hbt.bp_type=ccb.bp_type) bp_type_desc
        from con_contract_bp ccb
        <where>
            1=1
            <if test="contractId != null">
                and ccb.contract_id = #{contractId}
            </if>
        </where>
    </select>

    <select id="queryContractBpLovModify" resultMap="BaseResultMap"
            parameterType="com.hand.hls.cont.dto.HlsCusConContractBp">
        select
        ccb.bp_id,
        ccb.bp_category,
        (select bc.description from hls_bp_category bc where bc.bp_category = ccb.bp_category) bp_category_n,
        hbm.bp_code,
        hbm.bp_name,
        ba.bank_account_id,
        ba.bank_account_name,
        ba.bank_account_num,
        nvl(ba.bank_branch_name,ba.bank_full_name) bank_branch_name,
        ba.bank_full_name
        from con_contract_bp ccb,
        hls_bp_master_bank_account ba,
        hls_bp_master hbm
        where hbm.BP_ID = ccb.bp_id
        and ccb.bp_id = ba.BP_ID
        <if test="contractId">
            and ccb.contract_id = #{contractId}
        </if>
        <if test="bpId">
            and ccb.bp_id = #{bpId}
        </if>
        <if test="bpCategory">
            and ccb.bp_category = #{bp_category}
        </if>
    </select>

    <select id="queryPaymentBpBankInfoLov" resultMap="BaseResultMap"
            parameterType="com.hand.hls.cont.dto.HlsCusConContractBp">
        SELECT ba.bp_id,
        hbm.bp_category,
        (select bc.description from hls_bp_category bc where bc.bp_category = hbm.bp_category) bp_category_n,
        hbm.bp_code,
        hbm.bp_name,
        ba.bank_account_id,
        ba.bank_account_name,
        ba.bank_account_num,
        nvl(ba.bank_branch_name, ba.bank_full_name)                                            bank_branch_name,
        ba.bank_full_name
        FROM hls_bp_master_bank_account ba,
        hls_bp_master hbm
        WHERE ba.BP_ID = hbm.bp_id
        <if test="bpId">
            and hbm.bp_id = #{bpId}
        </if>
        <if test="bpCategory">
            and hbm.bp_category = #{bpCategory}
        </if>
        <if test="bankAccountName">
            and ba.bank_account_name = #{bankAccountName}
        </if>
        <if test="bankAccountNum">
            and ba.bank_account_num = #{bankAccountNum}
        </if>
        <if test="bankFullName">
            and ba.bank_full_name = #{bankFullName}
        </if>
        <if test="bankBranchName">
            and ba.bank_branch_name = #{bankBranchName}
        </if>
    </select>


    <select id="queryContractTenant" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        hbm.BP_CODE,
        ccb.bp_name,
        ccb.bank_account_name,
        ccb.bank_account_num,
        ccb.bank_branch_name,
        ba.BANK_FULL_NAME
        from con_contract_bp ccb left join hls_bp_master_bank_account ba
        on ccb.bp_id = ba.BP_ID
        ,
        hls_bp_master hbm
        where ccb.bp_category = 'TENANT'
        and hbm.BP_ID = ccb.bp_id
        <if test="contractId">
            and ccb.contract_id = #{contractId}
        </if>
    </select>


    <select id="queryContractBp" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        ccb.contract_id,
        ccb.record_id,
        ccb.bp_id,
        hbc.description bp_category_n,
        ccb.bp_class,
        ccb.bp_category,
        (SELECT
        hbt.description AS value_name
        FROM
        hls_business_type hbt
        WHERE
        hbt.document_category = 'HLS_BP_MASTER'
        AND hbt.business_type=hbm.bp_class) bp_class_n,
        hbm.BP_CODE,
        hbm.bp_name bp_id_n,
        hbm.bp_name,
        hbm.bp_name bp_name_n,
        hbm.WORKING_PLACE,
        hbm.POSITION,
        (select meaning
        from sys_code_value_b_v
        where code = 'HLS211_GENDER'
        and code_value = hbm.GENDER) gender_n,
        hbm.GENDER,
        hbm.MARITAL_STATUS,
        (select meaning
        from sys_code_value_b_v
        where code = 'HLS211_MARITAL_STATUS'
        and code_value = hbm.MARITAL_STATUS) MARITAL_STATUS_N,
        hbm.AGE,
        hbm.DATE_OF_BIRTH,
        hbm.ANNUAL_INCOME,
        hbm.NUMBER_OF_CHILDREN,
        hbm.REF_V03,
        hbm.INDUSTRY,
        (select DESCRIPTION
        from hls_stat_class
        where CLASS_USAGE = 'BIZ_PARTNER'
        and CLASS_CODE = hbm.INDUSTRY) industry_n,
        hbm.COMPANY_NATURE,
        (select meaning
        from sys_code_value_b_v
        where code = 'PRJ_NATURE_OF_BUSINESS'
        and code_value = hbm.COMPANY_NATURE) company_nature_n,
        hbm.ACTUAL_CONTROLLER,
        hbm.LEGAL_PERSON,
        hbm.FOUNDED_DATE,
        hbm.REGISTERED_CAPITAL,
        hbm.PAID_UP_CAPITAL,
        hbm.CREDIT_RATING,
        hbm.LISTED_COMPANY_FLAG,
        hbm.ENTERPRISE_SCALE,
        (select meaning
        from sys_code_value_b_v
        where code = 'ENTERPRISE_SCALE_TYPE'
        and code_value = hbm.ENTERPRISE_SCALE) enterprise_scale_n,
        hbm.SALE_TYPE,
        (select meaning
        from sys_code_value_b_v
        where code = 'HR_SALE_TYPE'
        and code_value = hbm.SALE_TYPE) sale_type_n,
        ccb.bp_role_type bp_role_type,
        (
        SELECT
        hbt.description
        FROM
        hls_bp_type hbt
        WHERE
        hbt.bp_type = ccb.bp_role_type
        AND hbt.bp_category = ccb.bp_category
        ) bp_role_type_n
        FROM
        con_contract_bp ccb,
        hls_bp_master hbm,
        hls_bp_category hbc
        WHERE
        ccb.bp_id = hbm.BP_ID
        AND ccb.bp_category = hbc.bp_category
        <if test="contractId">
            and ccb.contract_id = #{contractId}
        </if>
        <if test="bpCategory">
            and ccb.bp_category = #{bpCategory}
        </if>
        order by ccb.bp_category desc
    </select>

    <select id="queryContractGuarantor" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        hbm.BP_CODE,
        ccb.bp_name,
        ccb.bank_account_name,
        ccb.bank_account_num,
        ccb.bank_branch_name,
        ba.BANK_FULL_NAME
        from con_contract_bp ccb left join hls_bp_master_bank_account ba
        on ccb.bp_id = ba.BP_ID
        ,
        hls_bp_master hbm
        where ccb.bp_category = 'GUARANTOR'
        and hbm.BP_ID = ccb.bp_id
        <if test="contractId">
            and ccb.contract_id = #{contractId}
        </if>
    </select>

    <select id="queryContractBpLov" resultMap="BaseResultMap" parameterType="com.hand.hls.cont.dto.HlsCusConContractBp">
        select
        ccb.bp_id,
        ccb.bp_category,
        (select bc.description from hls_bp_category bc where bc.bp_category = ccb.bp_category) bp_category_n,
        hbm.bp_code,
        hbm.bp_name,
        ba.bank_account_id,
        ba.bank_account_name,
        ba.bank_account_num,
        nvl(ba.bank_branch_name,ba.bank_full_name) bank_branch_name,
        ba.bank_full_name
        from con_contract_bp ccb left join hls_bp_master_bank_account ba
        on ccb.bp_id = ba.BP_ID,
        hls_bp_master hbm
        where hbm.BP_ID = ccb.bp_id
        <if test="contractId !=null">
            and ccb.contract_id = #{contractId}
        </if>
        <if test="bpId !=null">
            and ccb.bp_id = #{bpId}
        </if>
        <if test="bpCategory !=null">
            and ccb.bp_category = #{bp_category}
        </if>
        <if test="bpName !=null">
            and ccb.bp_name = #{bpName}
        </if>
        <if test="bpCode !=null">
            and hbm.bp_code = #{bpCode}
        </if>
    </select>

    <select id="queryContractBpDetails" resultMap="BaseResultMap">
        select hbm.bp_id,hbm.bp_name,hbm.bp_code
        from
        hls_bp_master hbm
        <where>
            <if test="bpCode!=null">
                and hbm.bp_code like concat('%',concat(#{bpCode},'%'))
            </if>
            <if test="bpName!=null">
                and hbm.bp_name like concat('%',concat(#{bpName},'%'))
            </if>
        </where>
    </select>

    <select id="queryBpByContractId" resultMap="BaseResultMap" parameterType="com.hand.hls.cont.dto.HlsCusConContract">
        select hbm.bp_id,hbm.bp_name,hbm.bp_code,ccb.bp_category,ccb.contract_id
        from
        con_contract_bp ccb
        LEFT JOIN hls_bp_master hbm ON ccb.bp_id=hbm.bp_id
        where
        ccb.bp_id=hbm.bp_id
        and ccb.contract_id= #{contractId}
    </select>
    <select id="queryByContractNumber" resultMap="BasesResultMap" parameterType="com.hand.hls.cont.dto.ConContract">
        SELECT  cc.contract_number,
        cc.contract_name,
        pq.quotation_number,
        ccc.cashflow_id
        from con_contract  cc,
        prj_quotation  pq,
        con_contract_cashflow  ccc
        where  cc.contract_status='INCEPT'
        and  pq.SOURCE_DOCUMENT_CATEGORY='CONTRACT'
        AND pq.SOURCE_DOCUMENT_ID=cc.contract_id
        AND pq.ENABLED_FLAG='Y'
        AND  ccc.generated_source='PRJ_QUOTATION'
        AND ccc.generated_source_doc_id=pq.QUOTATION_ID
        AND ccc.cf_item=0
        and ccc.cf_type=0
        <if test="contractNumber!=null">
            and cc.contract_number like concat('%',concat(#{contractNumber},'%'))
        </if>
        <if test="contractName!=null">
            and cc.contract_name like concat('%',concat(#{contractName},'%'))
        </if>


    </select>

    <select id="queryContractBpLovNoGuarantor" resultMap="BaseResultMap" parameterType="com.hand.hls.cont.dto.HlsCusConContractBp">
        select
        distinct hbm.bp_code,
        ccb.bp_id,
        ccb.bp_category,
        (select bc.description from hls_bp_category bc where bc.bp_category = ccb.bp_category) bp_category_n,
        hbm.bp_name,
        ba.bank_account_id,
        ba.bank_account_name,
        ba.bank_account_num,
        ba.bank_branch_name,
        ba.bank_full_name
        from con_contract_bp ccb,hls_bp_master_bank_account ba,hls_bp_master hbm
        where hbm.BP_ID = ccb.bp_id
        and ccb.bp_id = ba.BP_ID
        and ccb.bp_category !='GUARANTOR'
        <if test="contractId !=null">
            and ccb.contract_id = #{contractId}
        </if>
        <if test="bpId !=null">
            and ccb.bp_id = #{bpId}
        </if>
        <if test="bpCategory !=null">
            and ccb.bp_category = #{bp_category}
        </if>
        <if test="bpName !=null">
            and ccb.bp_name = #{bpName}
        </if>
        <if test="bpCode !=null">
            and hbm.bp_code = #{bpCode}
        </if>
    </select>

    <select id="queryDistinctBpLovNoGuarantor" resultMap="BaseResultMap" parameterType="com.hand.hls.cont.dto.HlsCusConContractBp">
        select distinct
        hbm.BP_ID,
        hbm.bp_code,
        (select bc.description
        from hls_bp_category bc
        where bc.bp_category = ccb.bp_category) bp_category_n,
        hbm.bp_name
        from con_contract_bp ccb,hls_bp_master hbm
        where hbm.BP_ID = ccb.bp_id
        and ccb.bp_category !='GUARANTOR'
        <if test="contractId !=null">
            and ccb.contract_id = #{contractId}
        </if>
        <if test="bpId !=null">
            and ccb.bp_id = #{bpId}
        </if>
        <if test="bpCategory !=null">
            and ccb.bp_category = #{bp_category}
        </if>
        <if test="bpName !=null">
            and ccb.bp_name = #{bpName}
        </if>
        <if test="bpCode !=null">
            and hbm.bp_code = #{bpCode}
        </if>
    </select>

    <!--保理合同放款明细客户信息-->
    <select id="queryConFactoringLoanBpInfo" resultMap="BaseResultMap">
        SELECT
        cb.record_id,
        cb.contract_id,
        cb.bp_id,
        hbm.bp_name,
        hbm.bp_name bp_name_n,
        hbm.bp_code,
        hbm.bp_class,
        cb.bp_type,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BP.BP_MASTER_ROLE' AND sc.code_value = cb.bp_type ) bp_type_n,
        hbm.economic_indu_classify,
        (
        SELECT
        t.description
        FROM
        hls_stat_class t
        WHERE
        t.class_usage = 'BIZ_PARTNER'
        AND t.enabled_flag = 'Y'
        AND to_char( t.CLASS_ID ) = hbm.economic_indu_classify
        ) economic_indu_classify_n,
        hbm.group_companies,
        cb.description
        FROM
        con_contract_bp cb
        INNER JOIN hls_bp_master hbm ON hbm.bp_id = cb.bp_id
        <where>
            cb.contract_id = #{contractId}
        </where>
    </select>

</mapper>