<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.cont.mapper.HlsCusConContractRiskFundMapper">

    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.HlsCusConContractRiskFund">
        <result column="risk_id" property="riskId" jdbcType="DECIMAL"/>
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="withdrawal_amount" property="withdrawalAmount" jdbcType="DECIMAL"/>
        <result column="check_date" property="checkDate" jdbcType="DATE"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="inception_of_lease" property="inceptionOfLease" jdbcType="DATE"/>
    </resultMap>

    <insert id="riskFundAccrual">
        insert into con_contract_risk_fund(risk_id, contract_id, withdrawal_amount, checke_date, received_amount, inception_of_lease)
        values (con_contract_risk_fund_s.nextval, #{contractId}, #{withdrawalAmount}, sysdate, #{receivedAmount}, #{inceptionOfLease})
    </insert>
</mapper>