<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.HlsCusConContractPaymentPtMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.HlsCusConContractPaymentPt">
        <result column="contract_payment_pt_id" property="contractPaymentPtId" />
        <result column="contract_id" property="contractId" />
        <result column="satisfy_flag" property="satisfyFlag" />
        <result column="description" property="description" />
        <result column="payment_name" property="paymentName" />
        <result column="meet_flag" property="meetFlag" />

        <result column="practicable_situation" property="practicableSituation" />
        <result column="if_practicable" property="ifPracticable" />
        <result column="if_immunity" property="ifImmunity" />
    </resultMap>

</mapper>