<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.HlsCusConContractMortgageMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.HlsCusConContractMortgage">
        <result column="CON_MORTGAGE_ID" property="conMortgageId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="MORTGAGE_ID" property="mortgageId" jdbcType="DECIMAL" />
        <result column="MORTGAGE_CODE" property="mortgageCode" jdbcType="VARCHAR" />
        <result column="MORTGAGE_NAME" property="mortgageName" jdbcType="VARCHAR" />
        <result column="MORTGAGE_TYPE" property="mortgageType" jdbcType="VARCHAR" />
        <result column="MORTGAGE_AST_CLASSFICATION" property="mortgageAstClassfication" jdbcType="VARCHAR" />
        <result column="MORTGAGE_ASSET_DETAIL" property="mortgageAssetDetail" jdbcType="VARCHAR" />
        <result column="MORTGAGE_CONTRACT_NO" property="mortgageContractNo" jdbcType="VARCHAR" />
        <result column="MORTGAGE_REGISTER_NO" property="mortgageRegisterNo" jdbcType="VARCHAR" />
        <result column="MORTGAGE_REGISTED_DEPT" property="mortgageRegistedDept" jdbcType="VARCHAR" />
        <result column="BP_ID_MORTGAGOR" property="bpIdMortgagor" jdbcType="DECIMAL" />
        <result column="MORTGAGOR_NAME" property="mortgagorName" jdbcType="VARCHAR" />
        <result column="VALUE" property="value" jdbcType="DECIMAL" />
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
        <result column="UOM" property="uom" jdbcType="VARCHAR" />
        <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
        <result column="START_DATE" property="startDate" jdbcType="VARCHAR" />
        <result column="END_DATE" property="endDate" jdbcType="VARCHAR" />
        <result column="BP_ID_EVALUATOR" property="bpIdEvaluator" jdbcType="DECIMAL" />
        <result column="EVALUATOR_NAME" property="evaluatorName" jdbcType="VARCHAR" />
        <result column="OWNERSHIP" property="ownership" jdbcType="VARCHAR" />
        <result column="OCCUPIED" property="occupied" jdbcType="VARCHAR" />
        <result column="LOCATION" property="location" jdbcType="VARCHAR" />
        <result column="ESTATE_LICENSE_CODE" property="estateLicenseCode" jdbcType="VARCHAR" />
        <result column="HOUSING_AREA" property="housingArea" jdbcType="DECIMAL" />
        <result column="HOUSE_USAGE" property="houseUsage" jdbcType="VARCHAR" />
        <result column="CONSTRUCTION_DATE" property="constructionDate" jdbcType="VARCHAR" />
        <result column="BUILDING_STRUCTURE" property="buildingStructure" jdbcType="VARCHAR" />
        <result column="LAND_CERTIFICATE_CODE" property="landCertificateCode" jdbcType="VARCHAR" />
        <result column="LAND_AREA" property="landArea" jdbcType="DECIMAL" />
        <result column="LAND_USE_RIGHTS_TYPE" property="landUseRightsType" jdbcType="VARCHAR" />
        <result column="LAND_USE_RIGHTS_START_DATE" property="landUseRightsStartDate" jdbcType="VARCHAR" />
        <result column="USABLE_PERIOD" property="usablePeriod" jdbcType="DECIMAL" />
        <result column="CONSTRUCTION_AREA" property="constructionArea" jdbcType="DECIMAL" />
        <result column="STATUS_OF_LAND_USE" property="statusOfLandUse" jdbcType="VARCHAR" />
        <result column="COMPANY_NAME_STOCK" property="companyNameStock" jdbcType="VARCHAR" />
        <result column="STOCK_NAME" property="stockName" jdbcType="VARCHAR" />
        <result column="STOCK_CODE" property="stockCode" jdbcType="VARCHAR" />
        <result column="STOCK_AMOUNT" property="stockAmount" jdbcType="DECIMAL" />
        <result column="STOCK_RATIO" property="stockRatio" jdbcType="DECIMAL" />
        <result column="FAIR_VALUE" property="fairValue" jdbcType="DECIMAL" />
        <result column="APPRAISE_DATE" property="appraiseDate" jdbcType="VARCHAR" />
        <result column="TOTAL_VALUE" property="totalValue" jdbcType="DECIMAL" />
        <result column="BVPS" property="bvps" jdbcType="DECIMAL" />
        <result column="EQUIPMENT_TYPE" property="equipmentType" jdbcType="VARCHAR" />
        <result column="PATTERN" property="pattern" jdbcType="VARCHAR" />
        <result column="SPECIFICATION" property="specification" jdbcType="VARCHAR" />
        <result column="NOTE" property="note" jdbcType="VARCHAR" />
        <result column="FUND_NAME" property="fundName" jdbcType="VARCHAR" />
        <result column="FUND_TYPE" property="fundType" jdbcType="VARCHAR" />
        <result column="FUND_SHARES" property="fundShares" jdbcType="DECIMAL" />
        <result column="REPURCHASE_FUND" property="repurchaseFund" jdbcType="DECIMAL" />
        <result column="NET_VALUE" property="netValue" jdbcType="DECIMAL" />
        <result column="EARNINGS_RATE" property="earningsRate" jdbcType="DECIMAL" />
        <result column="NOTE_TYPE" property="noteType" jdbcType="VARCHAR" />
        <result column="DRAWER" property="drawer" jdbcType="VARCHAR" />
        <result column="OPENING_BANK" property="openingBank" jdbcType="VARCHAR" />
        <result column="NEGOTIATING_BANK" property="negotiatingBank" jdbcType="VARCHAR" />
        <result column="DUE_DATE" property="dueDate" jdbcType="VARCHAR" />
        <result column="PAYEE" property="payee" jdbcType="VARCHAR" />
        <result column="DENOMINATION_VALUE" property="denominationValue" jdbcType="DECIMAL" />
        <result column="BILL_OF_LADING" property="billOfLading" jdbcType="VARCHAR" />
        <result column="SHIPPER" property="shipper" jdbcType="VARCHAR" />
        <result column="CONSIGNEE" property="consignee" jdbcType="VARCHAR" />
        <result column="DATE_OF_ISSUE" property="dateOfIssue" jdbcType="VARCHAR" />
        <result column="PLACE" property="place" jdbcType="VARCHAR" />
        <result column="SHIPS_NAME" property="shipsName" jdbcType="VARCHAR" />
        <result column="LOADING_PORT" property="loadingPort" jdbcType="VARCHAR" />
        <result column="DISCHARGING_PORT" property="dischargingPort" jdbcType="VARCHAR" />
        <result column="NOTIFIER" property="notifier" jdbcType="VARCHAR" />
        <result column="DESC_OF_GOODS" property="descOfGoods" jdbcType="VARCHAR" />
        <result column="SHIPPING_MARK" property="shippingMark" jdbcType="VARCHAR" />
        <result column="DEPOSITOR_NAME" property="depositorName" jdbcType="VARCHAR" />
        <result column="DEPOSITOR_DOMICILE" property="depositorDomicile" jdbcType="VARCHAR" />
        <result column="STOCK_TYPE" property="stockType" jdbcType="VARCHAR" />
        <result column="STOCK_QUALITY" property="stockQuality" jdbcType="VARCHAR" />
        <result column="STOCK_PACK" property="stockPack" jdbcType="VARCHAR" />
        <result column="STOCK_QUANTITY" property="stockQuantity" jdbcType="DECIMAL" />
        <result column="STOCK_TAB" property="stockTab" jdbcType="VARCHAR" />
        <result column="STOCK_LOSS_STANDAR" property="stockLossStandar" jdbcType="VARCHAR" />
        <result column="STORAGE_SITES" property="storageSites" jdbcType="VARCHAR" />
        <result column="STORAGE_PERIOD" property="storagePeriod" jdbcType="VARCHAR" />
        <result column="STORAGE_FEE" property="storageFee" jdbcType="VARCHAR" />
        <result column="STORAGE_INSURANCE" property="storageInsurance" jdbcType="VARCHAR" />
        <result column="STORAGE_ISSUER" property="storageIssuer" jdbcType="VARCHAR" />
        <result column="FILL_TIME" property="fillTime" jdbcType="VARCHAR" />
        <result column="FILL_PLACE" property="fillPlace" jdbcType="VARCHAR" />
        <result column="TRADEMARK_LIC_NO" property="trademarkLicNo" jdbcType="VARCHAR" />
        <result column="TRADEMARK_TYPE" property="trademarkType" jdbcType="VARCHAR" />
        <result column="APPLY_PERIOD" property="applyPeriod" jdbcType="VARCHAR" />
        <result column="PATENT_NAME" property="patentName" jdbcType="VARCHAR" />
        <result column="PATENT_NO" property="patentNo" jdbcType="VARCHAR" />
        <result column="APPLY_DATE" property="applyDate" jdbcType="VARCHAR" />
        <result column="AUTH_PROC_DATE" property="authProcDate" jdbcType="VARCHAR" />
        <result column="COPYRIGHT_TYPE" property="copyrightType" jdbcType="VARCHAR" />
        <result column="PURVIEW" property="purview" jdbcType="VARCHAR" />
        <result column="PROTECTION_PERIOD" property="protectionPeriod" jdbcType="VARCHAR" />
        <result column="AUTHORIZED_USE" property="authorizedUse" jdbcType="VARCHAR" />
        <result column="ACCOUNTS_RECEIVABLE_TYPE" property="accountsReceivableType" jdbcType="VARCHAR" />
        <result column="BOOK_VALUE" property="bookValue" jdbcType="DECIMAL" />
        <result column="CREDIT_RISK" property="creditRisk" jdbcType="VARCHAR" />
        <result column="BOND_NAME" property="bondName" jdbcType="VARCHAR" />
        <result column="DENOMINATION_VALUE_B" property="denominationValueB" jdbcType="DECIMAL" />
        <result column="DATE_OF_MATURITY" property="dateOfMaturity" jdbcType="VARCHAR" />
        <result column="IN_PAY_PERIOD" property="inPayPeriod" jdbcType="VARCHAR" />
        <result column="STATED_INT_RATE" property="statedIntRate" jdbcType="DECIMAL" />
        <result column="ISSUER" property="issuer" jdbcType="VARCHAR" />
        <result column="MORTGAGE_SPECIALITY" property="mortgageSpeciality" jdbcType="VARCHAR" />
        <result column="SERIAL_NUMBER" property="serialNumber" jdbcType="VARCHAR" />
        <result column="ENGINE_NUMBER" property="engineNumber" jdbcType="VARCHAR" />
        <result column="VEHICLE_FRAME_NO" property="vehicleFrameNo" jdbcType="VARCHAR" />
        <result column="MATERIAL" property="material" jdbcType="VARCHAR" />
        <result column="CANCELLATION_FLAG" property="cancellationFlag" jdbcType="VARCHAR" />
        <result column="ID_CARD_NO" property="idCardNo" jdbcType="VARCHAR" />
        <result column="MORTGAGOR_CLASS" property="mortgagorClass" jdbcType="VARCHAR" />
        <result column="MORTGAGE_FLAG" property="mortgageFlag" jdbcType="VARCHAR" />
        <result column="REGISTRATION_OFFICE" property="registrationOffice" jdbcType="VARCHAR" />
        <result column="MORTGAGE_CLASS" property="mortgageClass" jdbcType="VARCHAR" />
        <result column="MORTGAGE_SERIAL_NUMBER" property="mortgageSerialNumber" jdbcType="VARCHAR" />
        <result column="TREATMENT" property="treatment" jdbcType="VARCHAR" />
        <result column="PROCESS_DATE" property="processDate" jdbcType="VARCHAR" />
        <result column="MODIFY_NAME" property="modifyName" jdbcType="VARCHAR" />
        <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR" />
        <result column="ALL_DESC" property="allDesc" jdbcType="VARCHAR" />
        <result column="MORTGAGE_CERTIFICATION" property="mortgageCertification" jdbcType="VARCHAR" />
        <result column="EVALUATION_VALUE" property="evaluationValue" jdbcType="DECIMAL" />
        <result column="EVALUATIONDATE" property="evaluationdate" jdbcType="VARCHAR" />
        <result column="EVALUATOR_ORGANIZATION_CODE" property="evaluatorOrganizationCode" jdbcType="VARCHAR" />
        <result column="MORTGAGE_REGISTED_DATE" property="mortgageRegistedDate" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="MORTGAGEAMOUNT" property="mortgageamount" jdbcType="DECIMAL" />
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR" />
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR" />
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR" />
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR" />
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR" />
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL" />
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL" />
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL" />
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL" />
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL" />
        <result column="REF_D01" property="refD01" jdbcType="VARCHAR" />
        <result column="REF_D02" property="refD02" jdbcType="VARCHAR" />
        <result column="REF_D03" property="refD03" jdbcType="VARCHAR" />
        <result column="REF_D04" property="refD04" jdbcType="VARCHAR" />
        <result column="REF_D05" property="refD05" jdbcType="VARCHAR" />
        <result column="CONTRACT_SEQ" property="contractSeq" jdbcType="DECIMAL" />
    </resultMap>


</mapper>