<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.HlsCusConContractPledgeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.HlsCusConContractPledge">
        <result column="contract_pledge_id" property="contractPledgeId" jdbcType="DECIMAL" />
        <result column="contract_id" property="contractId" jdbcType="DECIMAL" />
        <result column="seq_number" property="seqNumber" jdbcType="DECIMAL" />
        <result column="pledge_persion_id" property="pledgePersionId" jdbcType="DECIMAL" />
        <result column="pledge_Type" property="pledgeType" jdbcType="VARCHAR" />
        <result column="pledge_creditor_company" property="pledgeCreditorCompany" jdbcType="VARCHAR" />
        <result column="pledge_creditor_rate" property="pledgeCreditorRate" jdbcType="VARCHAR" />
        <result column="pledge_pre_evaluation_value" property="pledgePreEvaluationValue" jdbcType="DECIMAL" />
        <result column="pledge_evaluation_value" property="pledgeEvaluationValue" jdbcType="DECIMAL" />
        <result column="pledge_rate" property="pledgeRate" jdbcType="DECIMAL" />
        <result column="evaluation_bp_id" property="evaluationBpId" jdbcType="DECIMAL" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>


</mapper>