<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.cont.mapper.HlsCusConContractLeaseItemMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.HlsCusConContractLeaseItem">

        <result column="CONTRACT_LEASE_ITEM_ID" property="contractLeaseItemId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="project_id" property="projectId" jdbcType="DECIMAL" />
        <result column="CONTRACT_SEQ" property="contractSeq" jdbcType="DECIMAL" />
        <result column="LEASE_ITEM_ID" property="leaseItemId" jdbcType="DECIMAL" />
        <result column="SERIAL_NUMBER" property="serialNumber" jdbcType="VARCHAR" />
        <result column="PATTERN" property="pattern" jdbcType="VARCHAR" />
        <result column="SPECIFICATION" property="specification" jdbcType="VARCHAR" />
        <result column="COLOUR" property="colour" jdbcType="VARCHAR" />
        <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
        <result column="UOM" property="uom" jdbcType="VARCHAR" />
        <result column="TAX_INCLUDED_FLAG" property="taxIncludedFlag" jdbcType="VARCHAR" />
        <result column="TAX_TYPE_ID" property="taxTypeId" jdbcType="DECIMAL" />
        <result column="TAX_TYPE_RATE" property="taxTypeRate" jdbcType="DECIMAL" />
        <result column="VAT_FLAG" property="vatFlag" jdbcType="VARCHAR" />
        <result column="PURCHASE_PRICE" property="purchasePrice" jdbcType="DECIMAL" />
        <result column="PURCHASE_AMOUNT" property="purchaseAmount" jdbcType="DECIMAL" />
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE_TYPE" property="exchangeRateType" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE_QUOTATION" property="exchangeRateQuotation" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE" property="exchangeRate" jdbcType="DECIMAL" />
        <result column="PRICE" property="price" jdbcType="DECIMAL" />
        <result column="CUSTOMS_AND_EXPENSE" property="customsAndExpense" jdbcType="DECIMAL" />
        <result column="VAT_INPUT" property="vatInput" jdbcType="DECIMAL" />
        <result column="LEASE_ITEM_COST" property="leaseItemCost" jdbcType="DECIMAL" />
        <result column="AMOUNT_PAYABLE" property="amountPayable" jdbcType="DECIMAL" />
        <result column="RESIDUAL_VALUE" property="residualValue" jdbcType="DECIMAL" />
        <result column="BP_ID_VENDER" property="bpIdVender" jdbcType="DECIMAL" />
        <result column="VENDER_NAME" property="venderName" jdbcType="VARCHAR" />
        <result column="BP_ID_MANUFACTURER" property="bpIdManufacturer" jdbcType="DECIMAL" />
        <result column="MANUFACTURER_NAME" property="manufacturerName" jdbcType="VARCHAR" />
        <result column="MANUFACTURING_DATE" property="manufacturingDate" jdbcType="DECIMAL" />
        <result column="DELIVERY_ADDRESS" property="deliveryAddress" jdbcType="VARCHAR" />
        <result column="INSTALLATION_SITE" property="installationSite" jdbcType="VARCHAR" />
        <result column="FIXED_ASSETS_SITE" property="fixedAssetsSite" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="INVOICE_AMT" property="invoiceAmt" jdbcType="DECIMAL" />
        <result column="INVOICE_NUM" property="invoiceNum" jdbcType="VARCHAR" />
        <result column="INVOICE_DATE" property="invoiceDate" jdbcType="VARCHAR" />
        <result column="MODEL" property="model" jdbcType="VARCHAR" />
        <result column="SERIES" property="series" jdbcType="VARCHAR" />
        <result column="BRAND" property="brand" jdbcType="VARCHAR" />
        <result column="MODEL_ID" property="modelId" jdbcType="DECIMAL" />
        <result column="AIRCRAFT_CATEGORY" property="aircraftCategory" jdbcType="VARCHAR" />
        <result column="CONFIGURE" property="configure" jdbcType="VARCHAR" />
        <result column="BRAND_ID" property="brandId" jdbcType="DECIMAL" />
        <result column="SERIES_ID" property="seriesId" jdbcType="DECIMAL" />
        <result column="FULL_NAME" property="fullName" jdbcType="VARCHAR" />
        <result column="LICENSE_PLATE_NUMBER" property="licensePlateNumber" jdbcType="VARCHAR" />
        <result column="BP_ID_INSURE" property="bpIdInsure" jdbcType="DECIMAL" />
        <result column="INSURE_TYPE" property="insureType" jdbcType="VARCHAR" />
        <result column="ENGINE" property="engine" jdbcType="VARCHAR" />
        <result column="GPS_FLAG" property="gpsFlag" jdbcType="VARCHAR" />
        <result column="LOCK_FLAG" property="lockFlag" jdbcType="VARCHAR" />
        <result column="ESTIMATED_DELIVER_DATE" property="estimatedDeliverDate" jdbcType="VARCHAR" />
        <result column="BRAND_NAME" property="brandName" jdbcType="VARCHAR" />
        <result column="LEASE_CATEGORY" property="leaseCategory" jdbcType="VARCHAR" />
        <result column="TRIP" property="trip" jdbcType="VARCHAR" />
        <result column="LEASE_SIZE" property="leaseSize" jdbcType="VARCHAR" />
        <result column="MORTGAGE_FLAG" property="mortgageFlag" jdbcType="VARCHAR" />
        <result column="VENDER_ID" property="venderId" jdbcType="DECIMAL" />
        <result column="CCR_TRANS_DATE" property="ccrTransDate" jdbcType="VARCHAR" />
        <result column="GPS_STATUS" property="gpsStatus" jdbcType="VARCHAR" />
        <result column="LEAVE_FACTORY_DATE" property="leaveFactoryDate" jdbcType="VARCHAR" />
        <result column="PPD_FLAG" property="ppdFlag" jdbcType="VARCHAR" />
        <result column="CROSS_FLAG" property="crossFlag" jdbcType="VARCHAR" />
        <result column="FIN_MODEL" property="finModel" jdbcType="VARCHAR" />
        <result column="GPS_ACC_STATUS" property="gpsAccStatus" jdbcType="VARCHAR" />
        <result column="GPS_LOCK_STATUS" property="gpsLockStatus" jdbcType="VARCHAR" />
        <result column="GPS_SIM_NUMBER" property="gpsSimNumber" jdbcType="VARCHAR" />
        <result column="GPS_PLAT_NAME" property="gpsPlatName" jdbcType="VARCHAR" />
        <result column="GPS_ENTER_TIME" property="gpsEnterTime" jdbcType="VARCHAR" />
        <result column="GPS_SERVICE_STOP_TIME" property="gpsServiceStopTime" jdbcType="VARCHAR" />
        <result column="GPS_SERVICE_START_TIME" property="gpsServiceStartTime" jdbcType="VARCHAR" />
        <result column="GPS_PATROL_TIME" property="gpsPatrolTime" jdbcType="VARCHAR" />
        <result column="GPS_SPEED" property="gpsSpeed" jdbcType="VARCHAR" />
        <result column="DEVICE_TYPE" property="deviceType" jdbcType="VARCHAR" />
        <result column="WARRANTY" property="warranty" jdbcType="VARCHAR" />
        <result column="COMMERCIAL_TYPE" property="commercialType" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR" />
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR" />
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR" />
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR" />
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR" />
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL" />
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL" />
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL" />
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL" />
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL" />
        <result column="REF_D01" property="refD01" jdbcType="VARCHAR" />
        <result column="REF_D02" property="refD02" jdbcType="VARCHAR" />
        <result column="REF_D03" property="refD03" jdbcType="VARCHAR" />
        <result column="REF_D04" property="refD04" jdbcType="VARCHAR" />
        <result column="REF_D05" property="refD05" jdbcType="VARCHAR" />
        <result column="SHORT_NAME" property="shortName" jdbcType="VARCHAR" />
        <result column="ORIGINAL_ASSET_VALUE" property="originalAssetValue" jdbcType="DECIMAL" />
        <result column="NET_ASSET_VALUE" property="netAssetValue" jdbcType="DECIMAL" />

        <result column="MANUFACTURER_ID" property="manufacturerId" jdbcType="DECIMAL" />
        <result column="ADVANCED_EQUIPMENT_FLAG" property="advancedEquipmentFlag" jdbcType="VARCHAR" />
        <result column="EQUIPMENT_TYPE" property="equipmentType" jdbcType="VARCHAR" />

        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
        <result column="manufacturer_id_n" property="manufacturerIdN" jdbcType="VARCHAR" />
        <result column="factory_id_n" property="factoryIdN" jdbcType="VARCHAR" />
        <result column="bp_id_vender_n" property="bpIdVenderN" jdbcType="VARCHAR" />
        <result column="bp_id_tenant_n" property="bpIdTenantN" jdbcType="VARCHAR" />
        <result column="lease_channel_n" property="leaseChannelN" jdbcType="VARCHAR" />
        <result column="business_type_n" property="businessTypeN" jdbcType="VARCHAR" />
        <result column="employee_id_n" property="employeeIdN" jdbcType="VARCHAR" />
        <result column="classify_id" property="classifyId" jdbcType="VARCHAR" />
        <result column="classify_id_n" property="classifyIdN" jdbcType="VARCHAR" />
        <result column="machine_major_class" property="machineMajorClass" jdbcType="VARCHAR" />
        <result column="machine_middle_class" property="machineMiddleClass" jdbcType="VARCHAR" />
        <result column="machine_minor_class" property="machineMinorClass" jdbcType="VARCHAR" />
        <result column="net_price" property="netPrice" jdbcType="DECIMAL" />
        <result column="purchase_tax" property="purchaseTax" jdbcType="DECIMAL" />
        <result column="insurance_premium" property="insurancePremium" jdbcType="DECIMAL" />
        <result column="accessory_fee" property="accessoryFee" jdbcType="DECIMAL" />
        <result column="trailer_flag" property="trailerFlag" jdbcType="VARCHAR" />
        <result column="trailer_flag_n" property="trailerFlagN" jdbcType="VARCHAR" />
        <result column="model_c" property="modelC" jdbcType="VARCHAR" />
        <result column="brand_c" property="brandC" jdbcType="VARCHAR" />
        <result column="series_c" property="seriesC" jdbcType="VARCHAR" />
        <result column="vehicle_major_class" property="vehicleMajorClass" jdbcType="VARCHAR" />
        <result column="vehicle_middle_class" property="vehicleMiddleClass" jdbcType="VARCHAR" />
        <result column="engine_number" property="engineNumber" jdbcType="VARCHAR" />
        <result column="frame_number" property="frameNumber" jdbcType="VARCHAR" />
        <result column="license_plate_number" property="licensePlateNumber" jdbcType="VARCHAR" />
        <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
        <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
        <result column="actual_province_code" property="actualProvinceCode" jdbcType="VARCHAR" />
        <result column="actual_city_code" property="actualCityCode" jdbcType="VARCHAR" />
        <result column="province_code_n" property="provinceCodeN" jdbcType="VARCHAR" />
        <result column="city_code_n" property="cityCodeN" jdbcType="VARCHAR" />
        <result column="actual_province_code_n" property="actualProvinceCodeN" jdbcType="VARCHAR" />
        <result column="actual_city_code_n" property="actualCityCodeN" jdbcType="VARCHAR" />
        <result column="product_model" property="productModel" jdbcType="VARCHAR" />
        <result column="producer" property="producer" jdbcType="VARCHAR" />
        <result column="inverter_number" property="inverterNumber" jdbcType="VARCHAR" />
        <result column="installed_capacity" property="installedCapacity" jdbcType="VARCHAR" />
        <result column="module_producer" property="moduleProducer" jdbcType="VARCHAR" />
        <result column="document_type" property="documentType" jdbcType="VARCHAR" />
        <result column="division" property="division" jdbcType="VARCHAR" />
        <result column="contract_status" property="contractStatus" jdbcType="VARCHAR" />
        <result column="evaluation_bp_name" property="evaluationBpName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryContractLeaseItem" resultMap="BaseResultMap">
        select ccli.contract_lease_item_id,
        ccli.contract_id,
        ccli.contract_seq,
        ccli.lease_item_id,
        ccli.serial_number,
        ccli.pattern,
        ccli.specification,
        ccli.colour,
        ccli.quantity,
        ccli.uom,
        ccli.tax_included_flag,
        ccli.tax_type_id,
        ccli.tax_type_rate,
        ccli.vat_flag,
        ccli.purchase_price,
        ccli.purchase_amount,
        ccli.currency,
        ccli.exchange_rate_type,
        ccli.exchange_rate_quotation,
        ccli.exchange_rate,
        ccli.price,
        ccli.customs_and_expense,
        ccli.vat_input,
        ccli.lease_item_cost,
        ccli.amount_payable,
        ccli.residual_value,
        ccli.bp_id_vender,
        ccli.vender_name,
        ccli.bp_id_manufacturer,
        ccli.manufacturer_name,
        ccli.manufacturing_date,
        ccli.delivery_address,
        ccli.installation_site,
        ccli.fixed_assets_site,
        ccli.description,
        ccli.invoice_amt,
        ccli.invoice_num,
        ccli.invoice_date,
        ccli.model,
        ccli.series,
        ccli.brand,
        ccli.model_id,
        ccli.aircraft_category,
        ccli.configure,
        ccli.brand_id,
        ccli.series_id,
        ccli.full_name,
        ccli.license_plate_number,
        ccli.bp_id_insure,
        ccli.insure_type,
        ccli.engine,
        ccli.gps_flag,
        ccli.lock_flag,
        ccli.estimated_deliver_date,
        ccli.brand_name,
        ccli.lease_category,
        ccli.trip,
        ccli.lease_size,
        ccli.mortgage_flag,
        ccli.vender_id,
        ccli.ccr_trans_date,
        ccli.gps_status,
        ccli.leave_factory_date,
        ccli.ppd_flag,
        ccli.cross_flag,
        ccli.fin_model,
        ccli.gps_acc_status,
        ccli.gps_lock_status,
        ccli.gps_sim_number,
        ccli.gps_plat_name,
        ccli.gps_enter_time,
        ccli.gps_service_stop_time,
        ccli.gps_service_start_time,
        ccli.gps_patrol_time,
        ccli.gps_speed,
        ccli.device_type,
        ccli.warranty,
        ccli.commercial_type,
        ccli.enabled_flag,
        ccli.object_version_number,
        ccli.request_id,
        ccli.program_id,
        ccli.created_by,
        ccli.creation_date,
        ccli.last_updated_by,
        ccli.last_update_date,
        ccli.last_update_login,
        ccli.ref_v01,
        ccli.ref_v02,
        ccli.ref_v03,
        ccli.ref_v04,
        ccli.ref_v05,
        ccli.ref_n01,
        ccli.ref_n02,
        ccli.ref_n03,
        ccli.ref_n04,
        ccli.ref_n05,
        ccli.ref_d01,
        ccli.ref_d02,
        ccli.ref_d03,
        ccli.ref_d04,
        ccli.ref_d05,
        ccli.short_name,
        ccli.original_asset_value,
        ccli.net_asset_value,
        ccli.frame_number,
        ccli.engine_number,
        ccli.partners_lease_item_id,
        ccli.trailer_flag,
        ccli.province_code,
        ccli.city_code,
        ccli.actual_province_code,
        ccli.actual_city_code,
        ccli.producer,
        ccli.inverter_number,
        ccli.product_model,
        ccli.installed_capacity,
        ccli.module_producer,
        ccli.brand_c,
        ccli.series_c ,
        ccli.model_c,
        ccli.purchase_tax,
        ccli.insurance_premium,
        ccli.net_price,
        ccli.accessory_fee,
        (select hlc.DESCRIPTION from HLS_LEASE_CHANNEL hlc where hlc.LEASE_CHANNEL = cc.LEASE_CHANNEL) as LEASE_CHANNEL_N,
        cc.LEASE_CHANNEL,
        (select mas.bp_name
        from hls_bp_master mas
        where mas.bp_id = cc.bp_id_vender) bp_id_vender_n,
        (select fc.currency_name from fnd_currency fc where fc.currency_code = ccli.currency) currency_n,
        nvl(ccli.price,0)*nvl(ccli.quantity,0) lease_item_amount,
        ccli.full_name full_name_n,
        (select hcb.description
        from hls_car_brand hcb
        where hcb.brand_id = ccli.brand_id) brand_id_n,
        (select hcm.description
        from hls_car_model hcm
        where hcm.model_id = ccli.model_id) model_id_n,
        (select hcs.description
        from hls_car_series hcs
        where hcs.series_id = ccli.series_id) series_id_n,
        (select p.description FROM fnd_province p where  p.enabled_flag = 'Y' and p.province=ccli.province_code) province_code_n,
        (SELECT	f.description FROM	fnd_city f where f.enabled_flag='Y' and f.city=ccli.city_code) city_code_n,
        (select p.description FROM fnd_province p where  p.enabled_flag = 'Y' and p.province=ccli.actual_province_code) actual_province_code_n,
        (SELECT	f.description FROM	fnd_city f where f.enabled_flag='Y' and f.city=ccli.actual_city_code) actual_city_code_n,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'TRAILER_FLAG'
        AND v.code_value = ccli.TRAILER_FLAG
        ) TRAILER_FLAG_N,
        cc.contract_number,
        (select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id = cc.bp_id_tenant) BP_ID_TENANT_N,
        (select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id = cc.manufacturer_id) manufacturer_id_n,
        (select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id = cc.factory_id) factory_id_n,
        (select hbt.description
        from hls_business_type hbt
        where hbt.business_type = cc.business_type
        and hbt.enabled_flag = 'Y'
        and hbt.document_category = 'CONTRACT') business_type_n,
        (SELECT fe.NAME
        FROM fnd_employee fe
        WHERE fe.EMPLOYEE_ID = cc.EMPLOYEE_ID) employee_id_n,
        ccli.classify_id,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.classify_id = ccli.classify_id) classify_id_n,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.attribute = 'engineering_machine_major_class'
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id) machine_major_class,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.attribute = 'engineering_machine_middle_class'
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id) machine_middle_class,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.attribute = 'engineering_machine_minor_class'
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id) machine_minor_class,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.attribute = 'commercial_vehicle_major_class'
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id) vehicle_major_class,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.attribute = 'commercial_vehicle_middle_class'
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id) vehicle_middle_class,
        <if test='isMachine == "Y"'>
            (select durable_years
            from yx_lease_item_classify ic
            where ic.attribute = 'engineering_machine_major_class'
            start with ic.classify_id = ccli.classify_id
            connect by ic.classify_id = prior ic.superior_classify_id)durable_years,
            (select residuals_rate
            from yx_lease_item_classify ic
            where ic.attribute = 'engineering_machine_major_class'
            start with ic.classify_id = ccli.classify_id
            connect by ic.classify_id = prior ic.superior_classify_id)residuals_rate,
        </if>

        <if test='isVehicle == "Y"'>
            (select config_code_value
            from sys_param_config_value pc
            where pc.config_code = 'COMMERCIAL_VEHICLE_DURABLE_YEARS')durable_years,
            (select config_code_value
            from sys_param_config_value pc
            where pc.config_code = 'COMMERCIAL_VEHICLE_RESIDUALS_RATE')residuals_rate,
        </if>
        cc.lease_start_date,
        ccli.present_value
        <if test='isPhotovoltaic == "Y"'>

        </if>
        from con_contract_lease_item ccli, con_contract cc
        where cc.contract_id = ccli.contract_id
        And ((Exists (Select *
        From hls_bp_master_role hr
        Where hr.bp_id = #{authorityBpId}
        And hr.bp_category = 'DEALER') And
        cc.bp_id_vender = #{authorityBpId}) Or
        (Exists (Select *
        From hls_bp_master_role hr
        Where hr.bp_id = #{authorityBpId}
        And hr.bp_category = 'VENDER') And
        cc.factory_id = #{authorityBpId}) Or
        (Exists (Select *
        From hls_bp_master_role hr
        Where hr.bp_id = #{authorityBpId}
        And hr.bp_category = 'MANUFACTURER') And
        cc.manufacturer_id = #{authorityBpId}) Or
        (Exists
        (Select *
        From hls_bp_master_role hr
        Where hr.bp_id = #{authorityBpId}
        And hr.bp_category = 'MANAGEMENT_COMPANY') And Exists
        (Select 1
        From hls_bp_master_relation mr
        Where mr.bp_id = #{authorityBpId}
        And mr.enabled_flag = 'Y'
        And mr.relation_type = 'MANUFACTURER'
        And mr.related_bp_id = cc.manufacturer_id)) Or Not Exists
        (Select *
        From hls_bp_master_role hr
        Where hr.bp_id = #{authorityBpId}))
        <include refid="com.hand.hls.cont.mapper.HlsCusConContractMapper.ContractManageAuthoritySql"><property name="alias" value="cc"/></include>
        <if test="contractNumber!=null">
            and cc.contract_number like concat('%', concat(#{contractNumber,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="leaseChannel!=null">
            and cc.lease_Channel = #{leaseChannel,jdbcType=VARCHAR}
        </if>
        <if test="frameNumber!=null">
            and ccli.frame_Number like concat('%', concat( #{frameNumber,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="bpIdTenantN!=null">
            and (select hbm.bp_name
            from hls_bp_master hbm
            where hbm.bp_id = cc.bp_id_tenant) like concat('%', concat(#{bpIdTenantN,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="manufacturerIdN!=null">
            and (select hbm.bp_name
            from hls_bp_master hbm
            where hbm.bp_id = cc.manufacturer_id) like concat('%', concat(#{manufacturerIdN,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="factoryIdN!=null">
            and (select hbm.bp_name
            from hls_bp_master hbm
            where hbm.bp_id = cc.factory_id) like concat('%', concat(#{factoryIdN,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="businessTypeN!=null">
            and (select hbt.description
            from hls_business_type hbt
            where hbt.business_type = cc.business_type
            and hbt.enabled_flag = 'Y'
            and hbt.document_category = 'CONTRACT') like concat('%', concat(#{businessTypeN,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="employeeIdN!=null">
            and (SELECT fe.NAME
            FROM fnd_employee fe
            WHERE fe.EMPLOYEE_ID = cc.EMPLOYEE_ID) like concat('%', concat(#{employeeIdN,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="fullName!=null">
            and ccli.full_name like concat('%', concat(#{fullName,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="specification!=null">
            and ccli.specification like concat('%', concat(#{specification,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="serialNumber!=null">
            and ccli.serial_number like concat('%', concat(#{serialNumber,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="priceFrom!=null">
            and ccli.price >= #{priceFrom}
        </if>
        <if test="priceTo!=null">
            and #{priceTo} >= ccli.price
        </if>
        <if test='isMachine == "Y"'>
            and nvl(cc.division,'NOT_COMMERCIAL_VEHICLE') != 'COMMERCIAL_VEHICLE'
            and nvl(cc.division,'NOT_COMMERCIAL_VEHICLE') != 'PHOTOVOLTAIC_DEVICES'
            and CC.lease_channel != '20'
            and cc.contract_status != 'CANCEL'
        </if>
        <if test='isVehicle == "Y"'>
            and (nvl(cc.division,'NOT_COMMERCIAL_VEHICLE') = 'COMMERCIAL_VEHICLE' or CC.lease_channel = '20')
            and cc.contract_status != 'CANCEL'
        </if>
        <if test='isPhotovoltaic == "Y"'>
            and nvl(cc.division,'NOT_COMMERCIAL_VEHICLE') = 'PHOTOVOLTAIC_DEVICES'
            and cc.contract_status != 'CANCEL'
        </if>
        <if test="classifyId!=null">
            and ccli.classify_id = #{classifyId}
        </if>
        <if test="machineMajorClass!=null">
            and (select ic.attribute_value
            from yx_lease_item_classify ic
            where ic.attribute = 'engineering_machine_major_class'
            start with ic.classify_id = ccli.classify_id
            connect by ic.classify_id = prior ic.superior_classify_id) like concat('%', concat(#{machineMajorClass,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="machineMiddleClass!=null">
            and (select ic.attribute_value
            from yx_lease_item_classify ic
            where ic.attribute = 'engineering_machine_middle_class'
            start with ic.classify_id = ccli.classify_id
            connect by ic.classify_id = prior ic.superior_classify_id) like concat('%', concat(#{machineMiddleClass,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="machineMinorClass!=null">
            and (select ic.attribute_value
            from yx_lease_item_classify ic
            where ic.attribute = 'engineering_machine_minor_class'
            start with ic.classify_id = ccli.classify_id
            connect by ic.classify_id = prior ic.superior_classify_id) like concat('%', concat(#{machineMinorClass,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="vehicleMajorClass!=null">
            and (select ic.attribute_value
            from yx_lease_item_classify ic
            where ic.attribute = 'commercial_vehicle_major_class'
            start with ic.classify_id = ccli.classify_id
            connect by ic.classify_id = prior ic.superior_classify_id) like concat('%', concat(#{vehicleMajorClass,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="vehicleMiddleClass!=null">
            and (select ic.attribute_value
            from yx_lease_item_classify ic
            where ic.attribute = 'commercial_vehicle_middle_class'
            start with ic.classify_id = ccli.classify_id
            connect by ic.classify_id = prior ic.superior_classify_id) like concat('%', concat(#{vehicleMiddleClass,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="leaseStartDateFrom != null">
            and cc.LEASE_START_DATE &gt;= to_date(#{leaseStartDateFrom},'yyyy-MM-dd')
        </if>
        <if test="leaseStartDateTo != null">
            and cc.LEASE_START_DATE &lt;= to_date(#{leaseStartDateTo},'yyyy-MM-dd')
        </if>
    </select>

    <select id="queryContractLeaseItemDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        ccli.*,
        (select fc.currency_name from fnd_currency fc where fc.currency_code = ccli.currency) currency_n,
        nvl(ccli.price,0)*nvl(ccli.quantity,0) lease_item_amount,
        ccli.full_name full_name_n,
        /*(select hcb.description from hls_car_brand hcb where hcb.brand_id = ccli.brand_id) brand_id_n,
        (select hcm.description from hls_car_model hcm where hcm.model_id = ccli.model_id) model_id_n,
        (select hcs.description from hls_car_series hcs where hcs.series_id = ccli.series_id) series_id_n,*/
        (select p.description FROM fnd_province p where  p.enabled_flag = 'Y' and p.province=ccli.province_code) province_code_n,
        (SELECT	f.description FROM	fnd_city f where f.enabled_flag='Y' and f.city=ccli.city_code) city_code_n,
        (SELECT v.meaning FROM sys_code_value_b_v v WHERE v. CODE = 'TRAILER_FLAG' AND v.code_value = ccli.TRAILER_FLAG) TRAILER_FLAG_N,
        /*(select p.description FROM fnd_province p where  p.enabled_flag = 'Y' and p.province=ccli.actual_province_code) actual_province_code_n,
        (SELECT	f.description FROM	fnd_city f where f.enabled_flag='Y' and f.city=ccli.actual_city_code) actual_city_code_n,*/
        to_char(case
        when (select cc.lease_channel
        from con_contract cc
        where cc.contract_id = ccli.contract_id) = '10' and
        (select cc.division
        from con_contract cc
        where cc.contract_id = ccli.contract_id) =
        'ENGINEERING_MACHINERY' then
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.classify_id = ccli.classify_id)
        when (select cc.lease_channel
        from con_contract cc
        where cc.contract_id = ccli.contract_id) = '10' and
        (select cc.division
        from con_contract cc
        where cc.contract_id = ccli.contract_id) =
        'COMMERCIAL_VEHICLE' then
        (select replace(to_char(wm_concat(ic.attribute_value)), ',', '-')
        from yx_lease_item_classify ic
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id)
        else
        nvl((select replace(to_char(wm_concat(ic.attribute_value)), ',', '-')
        from yx_lease_item_classify ic
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id),
        '未知')
        end) classify_id_n,
        (select replace(to_char(wm_concat(ic.attribute_value)), ',', '-')
        from yx_lease_item_classify ic
        where ic.classify_id != ccli.classify_id
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id) classify_name,
        /*case
        when (select cr.status
        from con_contract_change_req cr
        where cr.contract_id = ccli.contract_id
        and cr.creation_date =
        (select max(cr1.creation_date)
        from con_contract_change_req cr1
        where cr1.contract_id = ccli.contract_id)) in
        ('APPROVING', 'APPROVED') then
        ccli.compare_price
        else
        decode((select count(1)
        from prj_project p, prj_project_lease_item pi
        where pi.classify_id = ccli.classify_id
        and pi.project_id = p.project_id
        and p.project_id !=
        (select cc.project_id
        from con_contract cc
        where cc.contract_id = ccli.contract_id)
        and nvl(p.second_hand_flag, 'NEW_LOCOMOTIVE') = 'NEW_LOCOMOTIVE'
        and exists(select * from con_contract cc where cc.project_id = p.project_id and cc.contract_status in('INCEPT','PENDING','TERMINATE','ET'))
        and p.lease_channel = '10'
        and p.division = 'ENGINEERING_MACHINERY'
        and trunc(p.creation_date) >= trunc(sysdate) - 90),
        0,
        (select nvl(round(sum(pi.price) / count(*), 2), 0)
        from prj_project p, prj_project_lease_item pi
        where pi.classify_id in
        (select ic.classify_id
        from yx_lease_item_classify ic
        where ic.superior_classify_id =
        (select ic1.superior_classify_id
        from yx_lease_item_classify ic1
        where ic1.classify_id = ccli.classify_id))
        and pi.project_id = p.project_id
        and p.project_id !=
        (select cc.project_id
        from con_contract cc
        where cc.contract_id = ccli.contract_id)
        and nvl(p.second_hand_flag, 'NEW_LOCOMOTIVE') = 'NEW_LOCOMOTIVE'
        and exists(select * from con_contract cc where cc.project_id = p.project_id and cc.contract_status in('INCEPT','PENDING','TERMINATE','ET'))
        and p.lease_channel = '10'
        and p.division = 'ENGINEERING_MACHINERY'
        and trunc(p.creation_date) >= trunc(sysdate) - 90),
        (select nvl(round(sum(pi.price) / count(*), 2), 0)
        from prj_project p, prj_project_lease_item pi
        where pi.classify_id = ccli.classify_id
        and pi.project_id = p.project_id
        and p.project_id !=
        (select cc.project_id
        from con_contract cc
        where cc.contract_id = ccli.contract_id)
        and nvl(p.second_hand_flag, 'NEW_LOCOMOTIVE') = 'NEW_LOCOMOTIVE'
        and exists(select * from con_contract cc where cc.project_id = p.project_id and cc.contract_status in('INCEPT','PENDING','TERMINATE','ET'))
        and p.lease_channel = '10'
        and p.division = 'ENGINEERING_MACHINERY'
        and trunc(p.creation_date) >= trunc(sysdate) - 90))
        end compare_price,*/
        (SELECT v.meaning AS value_name FROM sys_code_value_b_v v WHERE v.code = 'SYS.YES_NO' AND v.code_value = ccli.advanced_equipment_flag) advanced_equipment_flag_n,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'EQUIPMENT_TYPE_CAR'
        AND v.code_value = ccli.equipment_type) equipment_type_n
        from
        con_contract_lease_item ccli
        where ccli.contract_id = #{contractId}
        <if test="contractLeaseItemId != null">
            and ccli.contract_lease_item_id = #{contractLeaseItemId}
        </if>
    </select>

    <select id="queryPhotovoltaicLeaseItem" resultMap="BaseResultMap">
        select *
        from (select '保险信息' as insurance,
        cc.contract_id,
        cc.contract_number,
        (select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id = cc.manufacturer_id) manufacturer_id_n,
        (select hbv.bp_name
        from hls_bp_master hbv
        where hbv.bp_id = cc.factory_id) factory_id_n,
        (select hbv.bp_name
        from hls_bp_master hbv
        where hbv.bp_id = cc.tenant_id) bp_id_tenant_n,
        (select hbt.description
        from hls_business_type hbt
        where hbt.business_type = cc.business_type
        and hbt.enabled_flag = 'Y'
        and hbt.document_category = 'CONTRACT') business_type_n,
        (select fe.name
        from fnd_employee fe
        where fe.employee_id = cc.employee_id) employee_id_n,
        ccli.contract_lease_item_id,
        ccli.full_name,
        ccli.short_name,
        ccli.product_model,
        ccli.price,
        ccli.producer,
        ccli.inverter_number,
        ccli.installed_capacity,
        ccli.module_producer,
        cc.document_type,
        cc.division,
        cc.contract_status
        from con_contract cc, con_contract_lease_item ccli
        where cc.contract_id = ccli.contract_id
        --and cc.contract_status in ('REJECTED', 'APPROVED_RETURN', 'CONDITIONAL', 'APPROVING', 'APPROVED')
        and cc.document_type in ('CONL', 'CONLB')
        and cc.division in ('PHOTOVOLTAIC_DEVICES')) v
        <where>
            <if test="contractNumber!=null">
                and v.contract_number like concat('%', concat(#{contractNumber,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="manufacturerIdN!=null">
                and v.manufacturer_id_n like concat('%', concat(#{manufacturerIdN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="factoryIdN!=null">
                and v.factory_id_n like concat('%', concat(#{factoryIdN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="bpIdTenantN!=null">
                and v.bp_id_tenant_n like concat('%', concat(#{bpIdTenantN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="businessTypeN!=null">
                and v.business_type_n like concat('%', concat(#{businessTypeN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="employeeIdN!=null">
                and v.employee_id_n like concat('%', concat(#{employeeIdN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="fullName!=null">
                and v.full_name like concat('%', concat(#{fullName,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="priceFrom!=null">
                and v.price >= #{priceFrom}
            </if>
            <if test="priceTo!=null">
                and #{priceTo} >= v.price
            </if>
        </where>
        order by v.contract_id desc
    </select>

    <select id="queryMachineLeaseItem" resultMap="BaseResultMap">
        select *
        from (select '保险信息' as insurance,
        cc.contract_id,
        cc.project_id,
        cc.contract_number,
        (select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id = cc.manufacturer_id) manufacturer_id_n,
        (select hbv.bp_name
        from hls_bp_master hbv
        where hbv.bp_id = cc.factory_id) factory_id_n,
        (select hbv.bp_name
        from hls_bp_master hbv
        where hbv.bp_id = cc.tenant_id) bp_id_tenant_n,
        (select hbt.description
        from hls_business_type hbt
        where hbt.business_type = cc.business_type
        and hbt.enabled_flag = 'Y'
        and hbt.document_category = 'CONTRACT') business_type_n,
        (select fe.name
        from fnd_employee fe
        where fe.employee_id = cc.employee_id) employee_id_n,
        ccli.contract_lease_item_id,
        ccli.full_name,
        ccli.short_name,
        ccli.classify_id,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.classify_id = ccli.classify_id) classify_id_n,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.attribute = 'engineering_machine_major_class'
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id) machine_major_class,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.attribute = 'engineering_machine_middle_class'
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id) machine_middle_class,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.attribute = 'engineering_machine_minor_class'
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id) machine_minor_class,
        ccli.serial_number,
        ccli.price,
        cc.document_type,
        cc.division,
        cc.contract_status,
        ccli.product_model
        from con_contract cc, con_contract_lease_item ccli
        where cc.contract_id = ccli.contract_id
        --and cc.contract_status in ('REJECTED', 'APPROVED_RETURN', 'CONDITIONAL', 'APPROVING', 'APPROVED')
        and cc.document_type in ('CONL', 'CONLB')
        and cc.division in ('Construction_machinery', 'ENGINEERING_MACHINERY')) v
        <where>
            <if test="contractNumber!=null">
                and v.contract_number like concat('%', concat(#{contractNumber,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="manufacturerIdN!=null">
                and v.manufacturer_id_n like concat('%', concat(#{manufacturerIdN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="factoryIdN!=null">
                and v.factory_id_n like concat('%', concat(#{factoryIdN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="bpIdTenantN!=null">
                and v.bp_id_tenant_n like concat('%', concat(#{bpIdTenantN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="businessTypeN!=null">
                and v.business_type_n like concat('%', concat(#{businessTypeN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="employeeIdN!=null">
                and v.employee_id_n like concat('%', concat(#{employeeIdN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="fullName!=null">
                and v.full_name like concat('%', concat(#{fullName,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="classifyIdN!=null">
                and v.classify_id_n like concat('%', concat(#{classifyIdN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="serialNumber!=null">
                and v.serial_number like concat('%', concat(#{serialNumber,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="priceFrom!=null">
                and v.price >= #{priceFrom}
            </if>
            <if test="priceTo!=null">
                and #{priceTo} >= v.price
            </if>
            <if test="machineMajorClass!=null">
                and v.machine_major_class like concat('%', concat(#{machineMajorClass,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="machineMiddleClass!=null">
                and v.machine_middle_class like concat('%', concat(#{machineMiddleClass,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="machineMinorClass!=null">
                and v.machine_minor_class like concat('%', concat(#{machineMinorClass,jdbcType=VARCHAR}, '%'))
            </if>
        </where>
        order by v.contract_id desc
    </select>

    <select id="queryVehicleLeaseItem" resultMap="BaseResultMap">
        select *
        from (select '保险信息' as insurance,
        cc.contract_id,
        cc.project_id,
        cc.contract_number,
        (select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id = cc.manufacturer_id) manufacturer_id_n,
        (select hbv.bp_name
        from hls_bp_master hbv
        where hbv.bp_id = cc.factory_id) factory_id_n,
        (select mas.bp_name
        from hls_bp_master mas
        where mas.bp_id = cc.bp_id_vender) bp_id_vender_n,
        (select hbv.bp_name
        from hls_bp_master hbv
        where hbv.bp_id = cc.tenant_id) bp_id_tenant_n,
        (select hlc.description
        from hls_lease_channel hlc
        where hlc.lease_channel = cc.lease_channel) as lease_channel_n,
        cc.lease_channel,
        (select hbt.description
        from hls_business_type hbt
        where hbt.business_type = cc.business_type
        and hbt.enabled_flag = 'Y'
        and hbt.document_category = 'CONTRACT') business_type_n,
        (select fe.name
        from fnd_employee fe
        where fe.employee_id = cc.employee_id) employee_id_n,
        ccli.contract_lease_item_id,
        ccli.full_name,
        ccli.short_name,
        ccli.net_price,
        ccli.purchase_tax,
        ccli.insurance_premium,
        ccli.accessory_fee,
        ccli.price,
        ccli.trailer_flag,
        (select v.meaning
        from sys_code_value_b_v v
        where v. code = 'TRAILER_FLAG'
        and v.code_value = ccli.trailer_flag) trailer_flag_n,
        ccli.model_c,
        ccli.brand_c,
        ccli.series_c,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.attribute = 'commercial_vehicle_major_class'
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id) vehicle_major_class,
        (select ic.attribute_value
        from yx_lease_item_classify ic
        where ic.attribute = 'commercial_vehicle_middle_class'
        start with ic.classify_id = ccli.classify_id
        connect by ic.classify_id = prior ic.superior_classify_id) vehicle_middle_class,
        ccli.engine_number,
        ccli.frame_number,
        ccli.license_plate_number,
        ccli.province_code,
        ccli.city_code,
        hlm.actual_province_code,
        hlm.actual_city_code,
        (select p.description
        from fnd_province p
        where p.enabled_flag = 'Y'
        and p.province = ccli.province_code) province_code_n,
        (select f.description
        from fnd_city f
        where f.enabled_flag = 'Y'
        and f.city = ccli.city_code) city_code_n,
        (select p.description
        from fnd_province p
        where p.enabled_flag = 'Y'
        and p.province = hlm.actual_province_code) actual_province_code_n,
        (select f.description
        from fnd_city f
        where f.enabled_flag = 'Y'
        and f.city = hlm.actual_city_code) actual_city_code_n,
        cc.document_type,
        cc.division,
        cc.contract_status
        from con_contract cc
        inner join con_contract_lease_item ccli
        on cc.contract_id = ccli.contract_id
        left join hls_lease_mortgage hlm
        on hlm.contract_lease_item_id = ccli.contract_lease_item_id
        where cc.document_type in ('CONL', 'CONLB')
        ---and cc.contract_status in ('REJECTED', 'APPROVED_RETURN', 'CONDITIONAL', 'APPROVING', 'APPROVED')
        and cc.division in ('Vehicle_Leasing', 'COMMERCIAL_VEHICLE')) v
        <where>
            <if test="contractNumber!=null">
                and v.contract_number like concat('%', concat(#{contractNumber,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="manufacturerIdN!=null">
                and v.manufacturer_id_n like concat('%', concat(#{manufacturerIdN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="factoryIdN!=null">
                and v.factory_id_n like concat('%', concat(#{factoryIdN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="leaseChannelN!=null">
                and v.lease_channel_n like concat('%', concat(#{leaseChannelN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="bpIdTenantN!=null">
                and v.bp_id_tenant_n like concat('%', concat(#{bpIdTenantN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="businessTypeN!=null">
                and v.business_type_n like concat('%', concat(#{businessTypeN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="employeeIdN!=null">
                and v.employee_id_n like concat('%', concat(#{employeeIdN,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="fullName!=null">
                and v.full_name like concat('%', concat(#{fullName,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="frameNumber!=null">
                and v.frame_number like concat('%', concat(#{frameNumber,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="priceFrom!=null">
                and v.price >= #{priceFrom}
            </if>
            <if test="priceTo!=null">
                and #{priceTo} >= v.price
            </if>
            <if test="vehicleMajorClass!=null">
                and v.vehicle_major_class like concat('%', concat(#{vehicleMajorClass,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="vehicleMiddleClass!=null">
                and v.vehicle_middle_class like concat('%', concat(#{vehicleMiddleClass,jdbcType=VARCHAR}, '%'))
            </if>
        </where>
        order by v.contract_id desc
    </select>
</mapper>