<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.AdjustmentCuMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.AdjustmentCu">
        <result column="ADJUSTMENT_ID" property="adjustmentId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR" />
        <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
        <result column="contract_id_n" property="contractIdN" jdbcType="VARCHAR" />
        <result column="document_type_n" property="documentTypeN" jdbcType="VARCHAR" />
        <result column="DUE_AMOUNT" property="dueAmount" jdbcType="DECIMAL" />
        <result column="host_project_manager" property="hostProjectManager" jdbcType="DECIMAL" />
        <result column="host_project_manager_n" property="hostProjectManagerN"   />
        <result column="DUE_DATE" property="dueDate" jdbcType="DATE" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryByBp" parameterType="com.hand.hls.fnd.dto.AdjustmentCu" resultMap="BaseResultMap">
        SELECT
        t.*, (
        SELECT
        c.contract_number
        FROM
        con_contract c
        WHERE
        c.contract_id = t.contract_id
        ) contract_id_n,
        (
        SELECT
        c.contract_name
        FROM
        con_contract c
        WHERE
        c.contract_id = t.contract_id
        ) contract_name,
        (
        SELECT
        scvb.meaning AS value_name
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scb. CODE = 'ADJUST_TYPE'
        AND scb.code_id = scvb.code_id
        AND scvb.enabled_flag = 'Y'
        AND scvb.
        VALUE
        = t.DOCUMENT_TYPE
        ) document_type_n,
        (
        SELECT
        e.description
        FROM
        sys_user e
        WHERE
        e.user_id = t.host_project_manager
        ) host_project_manager_n
        FROM
        jc_adjustment_cu t
        <where>
            1=1
            <if test="bpId!=null">
                and t.bp_id = #{bpId}
            </if>
        </where>
    </select>

</mapper>