<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.fnd.mapper.FndCityMapper">

	<resultMap id="FndCompanyMap" type="com.hand.hls.fnd.dto.FndCity">
        <id column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="provincial_capital_flag" property="provincialCapitalFlag" jdbcType="VARCHAR" />
		<result column="prodesc" property="prodesc" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll" resultMap="FndCompanyMap" parameterType="com.hand.hls.fnd.dto.FndCity">
       select c.province, c.city,c.description ,c.enabled_flag,fp.description as prodesc ,c.provincial_capital_flag
       from fnd_city c , fnd_province fp
       where c.province = fp.province
       		<if test="province!=null">
                and c.province = #{province,jdbcType=VARCHAR}
            </if>
            <if test="description!=null">
                and c.description like concat(concat('%',#{description,jdbcType=VARCHAR}),'%')
            </if>
            <if test="city!=null">
                and c.city like concat(concat('%',#{city,jdbcType=VARCHAR}),'%')
            </if>
        <if test="enabledFlag!=null">
                and c.enabled_flag = #{enabledFlag,jdbcType=VARCHAR}
            </if>       
            
    </select>
    
    <delete id="deleteDistrict" parameterType="com.hand.hls.fnd.dto.FndCity">
    	delete from fnd_district where province = #{province,jdbcType=VARCHAR} and city = #{city,jdbcType=VARCHAR}
    </delete>
    
    <select id="addressQuery" resultMap="FndCompanyMap" parameterType="com.hand.hls.fnd.dto.FndCity">
    	select c.*
       	from fnd_city c , fnd_province fp
        where c.province = fp.province
       		<if test="province!=null">
                and (c.province = #{province,jdbcType=VARCHAR} or fp.description = #{province,jdbcType=VARCHAR})
            </if>
            <if test="enabledFlag!=null">
                and c.enabled_flag = #{enabledFlag,jdbcType=VARCHAR}
            </if>  
    </select>
    
    <select id="queryCityCode" parameterType="java.lang.String" resultType="java.lang.String">
    	select fc.city from fnd_city fc where fc.city =#{city,jdbcType=VARCHAR} or fc.description = #{city,jdbcType=VARCHAR}
    </select>

    <!-- 查询城市条件为城市编码和省份编码-->
    <select id="queryCityCodeByAdd" parameterType="java.lang.String" resultType="java.lang.String">
        select
        fc.city
        from
        fnd_city fc
        where
        (fc.city =#{0} or fc.description = #{0})
        AND
        (fc.province =#{1})
    </select>
</mapper>