<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.FndExchangeRateMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.FndExchangeRate">
        <result column="EXCHANGE_ID" property="exchangeId" jdbcType="DECIMAL"/>
        <result column="EXCHANGE_DATE" property="exchangeDate" jdbcType="DATE"/>
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR"/>
        <result column="FOREIGN_CURRENCY" property="foreignCurrency" jdbcType="VARCHAR"/>
        <result column="DAILY_RATE" property="dailyRate" jdbcType="DECIMAL"/>
        <result column="currency_n" property="currencyN" jdbcType="VARCHAR"/>
        <result column="foreign_currency_n" property="foreignCurrencyN" jdbcType="VARCHAR"/>
        <result column="last_date" property="lastDate" jdbcType="DATE"/>
        <result column="last_person" property="lastPerson" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryExchangeAll" parameterType="com.hand.hls.fnd.dto.FndExchangeRate" resultMap="BaseResultMap">
	    select  fex.*,
        fex.last_update_date  as last_date,
        (SELECT su.description FROM sys_user su where su.user_id = fex.last_updated_by ) as last_person,
            (SELECT fc.currency_name
            FROM fnd_currency fc
            where fc.currency_code = fex.currency) currency_n,

            (SELECT fc.currency_name
            FROM fnd_currency fc
            where fc.currency_code = fex.foreign_currency) foreign_currency_n

	    from fnd_exchange_rate fex

	    <where>
	        1=1
	        <if test="exchangeDateFrom != null" >
              and  fex.exchange_date  &gt;=  #{exchangeDateFrom}
            </if>
            <if test="exchangeDateTo != null" >
              and  fex.exchange_date  &lt;=  #{exchangeDateTo}
            </if>

            <if test="foreignCurrency != null" >
              and  fex.foreign_currency = #{foreignCurrency}
            </if>

        </where>
        order by fex.exchange_date desc
 </select>


    <select id="queryCompanyCurrency" parameterType="com.hand.hls.fnd.dto.FndExchangeRate" resultMap="BaseResultMap">

        SELECT gs.functional_currency as currency
        FROM fnd_company fc
        left join gld_financial_attribute gfa
        on fc.company_id = gfa.company_id
        left join gld_set_of_books gs
        on gfa.set_of_books_id = gs.set_of_books_id

        <where>
            1=1
            <if test="companyId != null" >
                and   fc.company_id  = #{companyId}
            </if>

        </where>

    </select>


    <select id="queryDailyRate" parameterType="com.hand.hls.fnd.dto.FndExchangeRate" resultMap="BaseResultMap">


        SELECT fer.*
        FROM fnd_exchange_rate fer

        <where>
            1=1
            <if test="foreignCurrency != null">
                and   fer.foreign_currency = #{foreignCurrency}
            </if>
            <if test="exchangeDate != null" >
                and   fer.exchange_date= #{exchangeDate}
            </if>
        </where>

    </select>


</mapper>