<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.FndRiskRatioSetMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.FndRiskRatioSet">
        <result column="RISK_RATIO_SET_CODE" property="riskRatioSetCode" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="VALID_FROM" property="validFrom" jdbcType="DATE" />
        <result column="VALID_TO" property="validTo" jdbcType="DATE" />
    </resultMap>

    <select id="query" parameterType="com.hand.hls.fnd.mapper.FndRiskRatioSetMapper" resultMap="BaseResultMap">
        SELECT s.*
        FROM fnd_risk_ratio_set s
        <where>
            <if test="riskRatioSetCode!=null">
                and  s.risk_ratio_set_code like concat(concat('%',#{riskRatioSetCode}),'%')
            </if>
            <if test="description!=null">
                and s.description like concat(concat('%',#{description}),'%')
            </if>
            <if test="validFrom!=null">
                and s.valid_from &gt;=#{validFrom}
            </if>
            <if test="validTo!=null">
                and s.valid_to &lt;=#{validTo}
            </if>
        </where>
    </select>
</mapper>