<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.FndRiskRatioMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.FndRiskRatio">
        <result column="RISK_RATIO_ID" property="riskRatioId" jdbcType="DECIMAL" />
        <result column="RISK_RATIO_SET_CODE" property="riskRatioSetCode" jdbcType="VARCHAR" />
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
        <result column="RISK_RATIO" property="riskRatio" jdbcType="DECIMAL" />
        <result column="ASSET_CLASS" property="assetClass" jdbcType="VARCHAR" />
    </resultMap>


</mapper>