<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.HlsBusinessAccessCompareMapper" >
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.HlsBusinessAccessCompare" >
        <id column="compare_id" property="compareId" jdbcType="DECIMAL" />
        <result column="business_access" property="businessAccess" jdbcType="VARCHAR" />
        <result column="business_access_n" property="businessAccessN" jdbcType="VARCHAR" />
        <result column="project_access_items" property="projectAccessItems" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll" resultMap="BaseResultMap">
        select ac.compare_id,
               (select v.MEANING from sys_code_value_b_v v
                where v.code='BUSINESS_ACCESS' AND v.code_value=ac.business_access) as business_access,
                 ac.project_access_items
        from hls_business_access_compare ac

    </select>


</mapper>