<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.HlsCusImpBatchMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.HlsCusImpBatch">
        <result column="BATCH_ID" property="batchId" jdbcType="DECIMAL" />
        <result column="TEMP_CODE" property="tempCode" jdbcType="VARCHAR" />
        <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
        <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
        <result column="FILE_SIZE" property="fileSize" jdbcType="VARCHAR" />
        <result column="IMP_STATUS" property="impStatus" jdbcType="VARCHAR" />
        <result column="IMP_DATE" property="impDate" jdbcType="DATE" />
        <result column="DATA_COUNT" property="dataCount" jdbcType="DECIMAL" />
        <result column="PARSE_ERR_COUNT" property="parseErrCount" jdbcType="DECIMAL" />
        <result column="IMP_ERR_COUNT" property="impErrCount" jdbcType="DECIMAL" />
        <result column="JOB_GROUP" property="jobGroup" jdbcType="VARCHAR" />
        <result column="JOB_NAME" property="jobName" jdbcType="VARCHAR" />
        <result column="LANG" property="lang" jdbcType="VARCHAR" />
        <result column="TEMP_ID" property="tempId" jdbcType="DECIMAL" />
        <result column="MULT_LANG" property="multLang" jdbcType="VARCHAR" />
        <result column="EXECUTE_MODE" property="executeMode" jdbcType="VARCHAR" />
        <result column="TEMP_KEY" property="tempKey" jdbcType="DECIMAL" />
    </resultMap>

    <select id="selectBatch" parameterType="com.hand.hls.fnd.dto.HlsCusImpBatch" resultMap="BaseResultMap">
        SELECT
        IB.*,
        IT.TEMP_ID,
        IT.MULT_LANG,
        IT.EXECUTE_MODE
        FROM
        FND_IMP_BATCH IB,
        FND_IMP_TEMPLATE IT
        WHERE
        IB.TEMP_CODE = IT.TEMP_CODE
        <if test="tempCode != null">
            AND IB.TEMP_CODE = #{tempCode,jdbcType=VARCHAR}
        </if>
         <if test="tempKey != null">
            AND IB.TEMP_KEY = #{tempKey,jdbcType=DECIMAL}
        </if>
        <if test="fileName != null">
            AND IB.FILE_NAME like concat('%',concat(#{fileName},'%'))
        </if>
        <if test="impStatus != null">
            AND IB.IMP_STATUS = #{impStatus,jdbcType=VARCHAR}
        </if>
        <if test="createdBy != null">
            AND IB.CREATED_BY = #{createdBy,jdbcType=DECIMAL}
        </if>
        <if test="impDateStart != null">
            AND IB.IMP_DATE >= to_date(#{impDateStart}, 'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="impDateEnd != null">
            AND IB.IMP_DATE &lt;= to_date(#{impDateEnd}, 'yyyy-mm-dd hh24:mi:ss')
        </if>
          AND (IB.CREATED_BY= #{request.userId} or 10001 = #{request.userId})
        ORDER BY IB.CREATION_DATE DESC,IB.BATCH_ID DESC
    </select>


</mapper>