<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.HlsCusImpTemplateMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.HlsCusImpTemplate">
        <result column="TEMP_ID" property="tempId" jdbcType="DECIMAL" />
        <result column="TEMP_CODE" property="tempCode" jdbcType="VARCHAR" />
        <result column="TEMP_NAME" property="tempName" jdbcType="VARCHAR" />
        <result column="API_TYPE_CODE" property="apiTypeCode" jdbcType="VARCHAR" />
        <result column="API_INSTANCE" property="apiInstance" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="EXECUTE_MODE" property="executeMode" jdbcType="VARCHAR" />
        <result column="LINE_COUNT" property="lineCount" jdbcType="DECIMAL" />
        <result column="MULT_LANG" property="multLang" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectTemplateByCode" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        FND_IMP_TEMPLATE
        WHERE
        TEMP_CODE = #{tempCode}
    </select>

    <select id="selectTempCode" parameterType="com.hand.hls.fnd.dto.HlsCusImpTemplate" resultMap="BaseResultMap">
        SELECT
        TEMP_CODE,
        TEMP_NAME
        FROM
        FND_IMP_TEMPLATE
        <where>
            <if test="tempName != null">
                TEMP_NAME like concat('%',concat(#{tempName},'%'))
            </if>
        </where>

    </select>

</mapper>