<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.HlsCusImpDataMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.HlsCusImpData">
        <result column="DATA_ID" property="dataId" jdbcType="DECIMAL" />
        <result column="TEMP_CODE" property="tempCode" jdbcType="VARCHAR" />
        <result column="IMP_STATUS" property="impStatus" jdbcType="VARCHAR" />
        <result column="BATCH_ID" property="batchId" jdbcType="VARCHAR" />
        <result column="IMP_MSG" property="impMsg" jdbcType="VARCHAR" />
        <result column="OBJ_TBL_NAME" property="objTblName" jdbcType="VARCHAR" />
        <result column="OBJ_TBL_ID" property="objTblId" jdbcType="DECIMAL" />
        <result column="v1" property="v1" jdbcType="VARCHAR" />
        <result column="v2" property="v2" jdbcType="VARCHAR" />
        <result column="v3" property="v3" jdbcType="VARCHAR" />
        <result column="v4" property="v4" jdbcType="VARCHAR" />
        <result column="v5" property="v5" jdbcType="VARCHAR" />
        <result column="v6" property="v6" jdbcType="VARCHAR" />
        <result column="v7" property="v7" jdbcType="VARCHAR" />
        <result column="v8" property="v8" jdbcType="VARCHAR" />
        <result column="v9" property="v9" jdbcType="VARCHAR" />
        <result column="v10" property="v10" jdbcType="VARCHAR" />
        <result column="v11" property="v11" jdbcType="VARCHAR" />
        <result column="v12" property="v12" jdbcType="VARCHAR" />
        <result column="v13" property="v13" jdbcType="VARCHAR" />
        <result column="v14" property="v14" jdbcType="VARCHAR" />
        <result column="v15" property="v15" jdbcType="VARCHAR" />
        <result column="v16" property="v16" jdbcType="VARCHAR" />
        <result column="v17" property="v17" jdbcType="VARCHAR" />
        <result column="v18" property="v18" jdbcType="VARCHAR" />
        <result column="v19" property="v19" jdbcType="VARCHAR" />
        <result column="v20" property="v20" jdbcType="VARCHAR" />
        <result column="v21" property="v21" jdbcType="VARCHAR" />
        <result column="v22" property="v22" jdbcType="VARCHAR" />
        <result column="v23" property="v23" jdbcType="VARCHAR" />
        <result column="v24" property="v24" jdbcType="VARCHAR" />
        <result column="v25" property="v25" jdbcType="VARCHAR" />
        <result column="v26" property="v26" jdbcType="VARCHAR" />
        <result column="v27" property="v27" jdbcType="VARCHAR" />
        <result column="v28" property="v28" jdbcType="VARCHAR" />
        <result column="v29" property="v29" jdbcType="VARCHAR" />
        <result column="v30" property="v30" jdbcType="VARCHAR" />
        <result column="v31" property="v31" jdbcType="VARCHAR" />
        <result column="v32" property="v32" jdbcType="VARCHAR" />
        <result column="v33" property="v33" jdbcType="VARCHAR" />
        <result column="v34" property="v34" jdbcType="VARCHAR" />
        <result column="v35" property="v35" jdbcType="VARCHAR" />
        <result column="v36" property="v36" jdbcType="VARCHAR" />
        <result column="v37" property="v37" jdbcType="VARCHAR" />
        <result column="v38" property="v38" jdbcType="VARCHAR" />
        <result column="v39" property="v39" jdbcType="VARCHAR" />
        <result column="v40" property="v40" jdbcType="VARCHAR" />
        <result column="v41" property="v41" jdbcType="VARCHAR" />
        <result column="v42" property="v42" jdbcType="VARCHAR" />
        <result column="v43" property="v43" jdbcType="VARCHAR" />
        <result column="v44" property="v44" jdbcType="VARCHAR" />
        <result column="v45" property="v45" jdbcType="VARCHAR" />
        <result column="v46" property="v46" jdbcType="VARCHAR" />
        <result column="v47" property="v47" jdbcType="VARCHAR" />
        <result column="v48" property="v48" jdbcType="VARCHAR" />
        <result column="v49" property="v49" jdbcType="VARCHAR" />
        <result column="v50" property="v50" jdbcType="VARCHAR" />
        <result column="v51" property="v51" jdbcType="VARCHAR" />
        <result column="v52" property="v52" jdbcType="VARCHAR" />
        <result column="v53" property="v53" jdbcType="VARCHAR" />
        <result column="v54" property="v54" jdbcType="VARCHAR" />
        <result column="v55" property="v55" jdbcType="VARCHAR" />
        <result column="v56" property="v56" jdbcType="VARCHAR" />
        <result column="v57" property="v57" jdbcType="VARCHAR" />
        <result column="v58" property="v58" jdbcType="VARCHAR" />
        <result column="v59" property="v59" jdbcType="VARCHAR" />
        <result column="v60" property="v60" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getDataMap" resultType="java.util.HashMap">
        SELECT
        DATA_ID DATA_ID,
        V1, V2, V3, V4, V5, V6, V7, V8, V9, V10,
        V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,
        V21,V22,V23,V24,V25,V26,V27,V28,V29,V30,
        V31,V32,V33,V34,V35,V36,V37,V38,V39,V40,
        V41,V42,V43,V44,V45,V46,V47,V48,V49,V50,
        V51,V52,V53,V54,V55,V56,V57,V58,V59,V60
        FROM
        FND_IMP_DATA
        WHERE
        BATCH_ID = #{batchId}
        AND
        (IMP_STATUS = 'PS' OR IMP_STATUS ='IS')
        ORDER BY DATA_ID
    </select>

    <update id="batchUpdateImpStatus">
        UPDATE FND_IMP_DATA SET IMP_STATUS=#{afterStatus}
        WHERE BATCH_ID=#{batchId} AND IMP_STATUS=#{beforeStatus}
    </update>


</mapper>