<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.HlsCashflowItemMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.HlsCashflowItem">
        <result column="cf_item" property="cfItem" jdbcType="VARCHAR"/>
        <result column="cf_type" property="cfType" jdbcType="VARCHAR"/>
        <result column="fin_income_profile" property="finIncomeProfile" jdbcType="VARCHAR"/>
        <result column="billing_desc" property="billingDesc" jdbcType="VARCHAR"/>
        <result column="calc_penalty" property="calcPenalty" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="cf_direction" property="cfDirection" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="system_flag" property="systemFlag" jdbcType="VARCHAR"/>
        <result column="query_condition" property="queryCondition" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>