<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.HlsCusImpSegmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.HlsCusImpSegment">
        <result column="SEGMENT_ID" property="segmentId" jdbcType="DECIMAL" />
        <result column="TEMP_ID" property="tempId" jdbcType="DECIMAL" />
        <result column="SEQ_NUM" property="seqNum" jdbcType="DECIMAL" />
        <result column="SEGMENT_CODE" property="segmentCode" jdbcType="VARCHAR" />
        <result column="SEGMENT_DESC" property="segmentDesc" jdbcType="VARCHAR" />
        <result column="TYPE_CODE" property="typeCode" jdbcType="VARCHAR" />
        <result column="FORMAT" property="format" jdbcType="VARCHAR" />
        <result column="SEGMENT_WIDTH" property="segmentWidth" jdbcType="DECIMAL" />
        <result column="BAND_VALUE" property="bandValue" jdbcType="VARCHAR" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
        <result column="REQUIRE_FLAG" property="requireFlag" jdbcType="VARCHAR" />
        <result column="DEFAULT_VALUE" property="defaultValue" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectSegmentByTempId" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        FND_IMP_SEGMENT
        WHERE
        TEMP_ID = #{tempId}
        AND
        ENABLE_FLAG = 'Y'
    </select>


</mapper>
