<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hand.hls.fnd.mapper.HlsFinStatementLnMapper">
    <resultMap id="resultMap" type="com.hand.hls.fnd.dto.HlsFinStatementLn">
        <id column="fin_statement_ln_id" property="finStatementLnId" jdbcType="BIGINT"/>
        <result column="fin_statement_hd_id" property="finStatementHdId" jdbcType="BIGINT"/>
        <result column="line_type" property="lineType" jdbcType="VARCHAR"/>
        <result column="line_seq_number" property="lineSeqNumber" jdbcType="BIGINT"/>
        <result column="fin_statement_item_name" property="finStatementItemName" jdbcType="VARCHAR"/>
        <result column="fin_statement_item_type" property="finStatementItemType" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DOUBLE"/>
        <result column="adj_amount" property="adjAmount" jdbcType="DOUBLE"/>
        <result column="adj_reason" property="adjReason" jdbcType="VARCHAR"/>
        <result column="final_amount" property="finalAmount" jdbcType="DOUBLE"/>
        <result column="account_code" property="accountCode" jdbcType="VARCHAR"/>
        <result column="total" property="total" jdbcType="DECIMAL"/>
        <result column="header_id" property="headerId" jdbcType="DECIMAL"/>
        <result column="attribute_1" property="attribute_1"/>
        <result column="attribute_2" property="attribute_2"/>
        <result column="attribute_3" property="attribute_3"/>
        <result column="attribute_4" property="attribute_4"/>
        <result column="attribute_5" property="attribute_5"/>
        <result column="attribute_6" property="attribute_6"/>
        <result column="attribute_7" property="attribute_7"/>
        <result column="attribute_8" property="attribute_8"/>
        <result column="attribute_9" property="attribute_9"/>
        <result column="attribute_10" property="attribute_10"/>
        <result column="attribute_11" property="attribute_11"/>
        <result column="attribute_12" property="attribute_12"/>
        <result column="attribute_13" property="attribute_13"/>
        <result column="attribute_14" property="attribute_14"/>
        <result column="attribute_15" property="attribute_15"/>
        <result column="attribute_16" property="attribute_16"/>
        <result column="attribute_17" property="attribute_17"/>
        <result column="attribute_18" property="attribute_18"/>

    </resultMap>

    <select id="lnQuery" parameterType="com.hand.hls.fnd.dto.HlsFinStatementLn" resultMap="resultMap">
        SELECT fin_statement_ln_id,
               fin_statement_hd_id,
               line_type,
               line_seq_number,
               fin_statement_item_name,
               fin_statement_item_type,
               amount  as amount,
               adj_amount,
               adj_reason,
               final_amount,
               account_code
        FROM  hls_fin_statement_ln
        <where>
            <if test="finStatementHdId !=null">
                fin_statement_hd_id= #{finStatementHdId}
            </if>
            <if test="lineType != null">
                AND line_type=#{lineType}
            </if>
            ORDER BY line_seq_number ASC
        </where>
    </select>


    <select id="lnQueryCount" parameterType="com.hand.hls.fnd.dto.HlsFinStatementLn" resultType="java.lang.Long">
        SELECT count(*) as total FROM  hls_fin_statement_ln
        <where>
            <if test="finStatementHdId !=null">
                fin_statement_hd_id= #{finStatementHdId}
            </if>
            <if test="lineType != null">
                AND line_type=#{lineType}
            </if>
        </where>
    </select>



    <select id="lnHeaderIdQuery" parameterType="com.hand.hls.fnd.dto.HlsFinStatementLn" resultType="java.lang.Long">
        SELECT  max(distinct header_id) as header_id
        FROM  hls_fin_statement_ln
        <where>
            <if test="finStatementHdId !=null">
                fin_statement_hd_id= #{finStatementHdId}
            </if>
            <if test="lineType != null">
                AND line_type=#{lineType}
            </if>
        </where>
    </select>

    <select id="fndLnColumnQueryFinancialIndicator" parameterType="com.hand.hls.fnd.dto.HlsFinStatementLn" resultMap="resultMap">
        SELECT
            line_seq_number,
            header_id,
            attribute_1,
            attribute_2,
            attribute_3 * 100,
            ( CASE WHEN trim(attribute_2) IN (
                    '权益乘数', '营运资本', '存货周转天数','利息保障倍数', '应收账款周转天数',
                    '营业周期', '净营业周期', '现金流量利息保障倍数', '权益乘数') THEN
                attribute_3 * 1
                ELSE
                attribute_3 * 1
                end  ) attribute_3,
            (CASE WHEN trim(attribute_2) IN (
                    '权益乘数', '营运资本', '存货周转天数','利息保障倍数', '应收账款周转天数',
                    '营业周期', '净营业周期', '现金流量利息保障倍数', '权益乘数' ) THEN
                    attribute_4 * 1
                ELSE
                   attribute_4 * 1
                end  )attribute_4,
            (CASE WHEN trim(attribute_2) IN (
                    '权益乘数', '营运资本', '存货周转天数','利息保障倍数', '应收账款周转天数',
                    '营业周期', '净营业周期', '现金流量利息保障倍数', '权益乘数' ) THEN
                    attribute_5 * 1
                ELSE
                   attribute_5 * 1
                end )attribute_5,
            (CASE WHEN trim(attribute_2) IN (
                    '权益乘数', '营运资本', '存货周转天数','利息保障倍数', '应收账款周转天数',
                    '营业周期', '净营业周期', '现金流量利息保障倍数', '权益乘数' ) THEN
                   attribute_6 * 1
                ELSE
                    attribute_6 * 1
                end )AS attribute_6
        FROM
	    hls_fin_statement_ln
        where header_id = #{headerId}
        and line_type = #{lineType}
        <!-- 不区分类型展示,一次查出所有 -->
        <if test="attribute_1 == 'all'">
            and attribute_1 in ('成长能力指标分析', '营运能力指标分析', '盈利能力指标分析', '偿债能力指标分析')
        </if>
        <if test="attribute_1 != 'all'">
            and attribute_1 = #{attribute_1}
        </if>
        order by line_seq_number
    </select>


    <!--所有者权益（或股东权益）合计-->
    <select id="lnQueryAllQuanYiToall" parameterType="Long" resultMap="resultMap">
       SELECT
	*
FROM
	hls_fin_statement_ln l
WHERE
	l.header_id = (
SELECT
	max(h.header_id)
FROM
	hls_bp_financial_header h,
	hls_web_excel_calc_result hr,
	hls_web_excel hwe
WHERE
	h.header_id = hr.source_document_id
	AND hr.source_document_category = 'FINANCIAL_REPORT'
	AND hwe.excel_id = hr.excel_id
	AND h.bp_id = #{bpId}
	)
	AND l.line_type = '资产负债表'
	AND l.FIN_STATEMENT_ITEM_NAME = '　　所有者权益合计'
	AND l.fin_statement_hd_id in ( SELECT
										h.fin_statement_hd_id
									FROM
										hls_fin_statement_hd h
									WHERE
										h.fiscal_year = (
											SELECT
												max(hh.fiscal_year)

											FROM
												hls_fin_statement_hd hh
											WHERE
												hh.header_id = h.header_id) or h.fiscal_year = (
											SELECT
												max(hh.fiscal_year)-1

											FROM
												hls_fin_statement_hd hh
											WHERE
												hh.header_id = h.header_id)

												and h.HEADER_ID = l.HEADER_ID)
    </select>

    <!--所有者权益（或股东权益）合计-->
    <select id="lnQueryAllAssetsToall" parameterType="Long" resultMap="resultMap">
       SELECT
	*
FROM
	hls_fin_statement_ln l
WHERE
	l.header_id = (
SELECT
	max(h.header_id)
FROM
	hls_bp_financial_header h,
	hls_web_excel_calc_result hr,
	hls_web_excel hwe
WHERE
	h.header_id = hr.source_document_id
	AND hr.source_document_category = 'FINANCIAL_REPORT'
	AND hwe.excel_id = hr.excel_id
	AND h.bp_id = #{bpId}
	)
	AND l.line_type = '资产负债表'
	AND l.FIN_STATEMENT_ITEM_NAME = '资产总计'
	AND l.fin_statement_hd_id in ( SELECT
										h.fin_statement_hd_id
									FROM
										hls_fin_statement_hd h
									WHERE
										h.fiscal_year = (
											SELECT
												max(hh.fiscal_year)

											FROM
												hls_fin_statement_hd hh
											WHERE
												hh.header_id = h.header_id) or h.fiscal_year = (
											SELECT
												max(hh.fiscal_year)-1

											FROM
												hls_fin_statement_hd hh
											WHERE
												hh.header_id = h.header_id)

												and h.HEADER_ID = l.HEADER_ID)
    </select>
</mapper>