<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.HlsProductDefinitionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.HlsProductDefinition">
        <result column="DEFINITION_ID" property="definitionId" jdbcType="DECIMAL"/>
        <result column="DEFINITION_CODE" property="definitionCode" jdbcType="VARCHAR"/>
        <result column="DEFINITION_NAME" property="definitionName" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="REPLY_PRODUCT_ID" property="replyProductId" jdbcType="DECIMAL"/>
        <result column="PRICE_LIST" property="priceList" jdbcType="VARCHAR"/>
        <result column="PAY_TYPE" property="payType" jdbcType="DECIMAL"/>
        <result column="ANNUAL_PAY_TIMES" property="annualPayTimes" jdbcType="DECIMAL"/>
        <result column="EXEMPT_PENALTY_INT" property="exemptPenaltyInt" jdbcType="VARCHAR"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR"/>
        <result column="PRODUCT_STATUS" property="productStatus" jdbcType="VARCHAR"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="PAYMENT_BP_TYPE" property="paymentBpType" jdbcType="VARCHAR"/>
        <result column="REPAY_BP_TYPE" property="repayBpType" jdbcType="VARCHAR"/>
        <result column="OWNER_USER_ID" property="ownerUserId" jdbcType="DECIMAL"/>

        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>

        <result column="PRICE_DIST_DISPLAY" property="priceListDisplay" jdbcType="VARCHAR"/>
        <result column="REPLY_PRODUCT_CODE" property="replyProductCode" jdbcType="VARCHAR"/>
        <result column="REPLY_PRODUCT_NAME" property="replyProductName" jdbcType="VARCHAR"/>
        <result column="AUTHORITY_RULE_STRING" property="authorityRuleString" jdbcType="VARCHAR"/>
        <result column="REPAY_FLAG" property="repayFlag" jdbcType="VARCHAR"/>
        <result column="SERVICE_FEE_REPAY_FLAG" property="serviceFeeRepayFlag" jdbcType="VARCHAR"/>
        <result column="RESIDUAL_PRICE_TYPE" property="residualPriceType" jdbcType="DECIMAL"/>

        <result column="PRODUCT_STATUS" property="productStatus" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="RESIDUAL_PRICE_TYPE_N" property="residualPriceTypeN" jdbcType="VARCHAR"/>
        <result column="credit_line_id" property="creditLineId" jdbcType="DECIMAL"/>
        <result column="insurance_free_amount" property="insuranceFreeAmount" jdbcType="DECIMAL"/>
        <result column="insurance_free_period" property="insuranceFreePeriod" jdbcType="DECIMAL"/>
        <result column="manufacturerPenaltyRate" property="manufacturerPenaltyRate" jdbcType="DECIMAL"/>
        <result column="gracePeriod" property="gracePeriod" jdbcType="DECIMAL"/>
        <result column="penaltyRate" property="penaltyRate" jdbcType="DECIMAL"/>
        <result column="manufacturerGraceDay" property="manufacturerGraceDay" jdbcType="DECIMAL"/>
        <result column="residualValue" property="residualValue" jdbcType="DECIMAL"/>
        <result column="step_quotation_flag" property="stepQuotationFlag" jdbcType="VARCHAR"/>
        <result column="residual_value_received" property="residualValueReceived" jdbcType="VARCHAR"/>
        <result column="repay_mode" property="repayMode" jdbcType="VARCHAR"/>
        <result column="step_quotation_flag_n" property="stepQuotationFlagN" jdbcType="VARCHAR"/>
        <result column="residual_value_received_n" property="residualValueReceivedN" jdbcType="VARCHAR"/>
        <result column="repay_mode_n" property="repayModeN" jdbcType="VARCHAR"/>
        <result column="pay_type_n" property="payTypeN" jdbcType="VARCHAR"/>
        <result column="annual_pay_times_n" property="annualPayTimesN" jdbcType="VARCHAR"/>
        <result column="exempt_penalty_int_n" property="exemptPenaltyIntN" jdbcType="VARCHAR"/>
        <result column="residual_price_type_n" property="residualPriceTypeN" jdbcType="VARCHAR"/>
        <result column="product_status_n" property="productStatusN" jdbcType="VARCHAR"/>
        <result column="simple_compound_type" property="simpleCompoundType" jdbcType="VARCHAR"/>
        <result column="simple_compound_type_n" property="simpleCompoundTypeN" jdbcType="VARCHAR"/>
        <result column="int_rate_calc_flag" property="intRateCalcFlag" jdbcType="VARCHAR"/>
        <result column="lease_charge_discount_rule" property="leaseChargeDiscountRule" jdbcType="VARCHAR"/>
        <result column="rental_discount_times" property="rentalDiscountTimes" jdbcType="VARCHAR"/>
        <result column="int_rate_calc_flag_n" property="intRateCalcFlagN" jdbcType="VARCHAR"/>
        <result column="lease_charge_discount_rule_n" property="leaseChargeDiscountRuleN" jdbcType="VARCHAR"/>
        <result column="rental_discount_times_n" property="rentalDiscountTimesN" jdbcType="VARCHAR"/>
        <result column="margin_deduction_method" property="marginDeductionMethod" jdbcType="VARCHAR"/>
        <result column="margin_deduction_method_n" property="marginDeductionMethodN" jdbcType="VARCHAR"/>
        <result column="reply_id" property="replyId" jdbcType="DECIMAL"/>
        <result column="employee_name" property="employeeName" jdbcType="VARCHAR"/>
        <result column="employee_id" property="employeeId" jdbcType="VARCHAR"/>
        <result column="unit_id" property="unitId" jdbcType="DECIMAL"/>
        <result column="lease_item_type_n" property="leaseItemTypeN" jdbcType="VARCHAR"/>
        <result column="lease_item_type" property="leaseItemType" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="selectHlsProductDefinitionList" resultMap="BaseResultMap">
        select *
        from (SELECT hpd.*,
        (select hbm.bp_name
        from hls_bp_master hbm
        where hpd.bp_id = hbm.bp_id) bp_name,
        (select fe.name
        from fnd_employee fe
        where fe.employee_id = hpd.employee_id) employee_name,
        (select distinct su.user_id
        from sys_user             su,
        sys_user_allocation  sua,
        fnd_employee_assigns fea,
        fnd_employee         fe
        where su.USER_ID = sua.user_id
        and sua.employee_assign_id = fea.employee_assign_id
        and fe.employee_id = fea.employee_id
        and sua.role_id =
        (select sb.role_id
        from sys_role_b sb
        where sb.role_code = 'B0030')
        and fe.employee_id = hpd.employee_id) as user_id,
        (SELECT fea.unit_id
        FROM fnd_employee fe,
        fnd_employee_assigns fea,
        fnd_org_position fop
        WHERE fe.employee_id = fea.employee_id
        AND fea.position_id = fop.position_id
        AND fea.enabled_flag = 'Y'
        AND fe.enabled_flag = 'Y'
        AND fop.position_type = 'SALES'
        AND fe.employee_id = hpd.employee_id) unit_id,
        (select scvb.meaning
        from sys_code_b scb, sys_code_value_b scvb
        where scb.code = 'PRODUCT.LEASE_ITEM_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.value = hpd.lease_item_type) as lease_item_type_n,
        (select scvb.meaning
        from sys_code_b scb, sys_code_value_b scvb
        where scb.code = 'MARGIN_DEDUCTION_METHOD'
        and scb.code_id = scvb.code_id
        and scvb.value = hpd.margin_deduction_method) as margin_deduction_method_n,
        (select scvb.meaning
        from sys_code_b scb, sys_code_value_b scvb
        where scb.code = 'HLS500_PAY_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.value = to_char(hpd.pay_type)) as pay_type_n,
        (select scvb.meaning
        from sys_code_b scb, sys_code_value_b scvb
        where scb.code = 'HLS500_ANNUAL_PAY_TIMES'
        and scb.code_id = scvb.code_id
        and scvb.value = to_char(hpd.annual_pay_times)) as annual_pay_times_n,
        (select scvb.meaning
        from sys_code_b scb, sys_code_value_b scvb
        where scb.code = 'EXEMPT_PENALTY_INT'
        and scb.code_id = scvb.code_id
        and scvb.value = hpd.exempt_penalty_int) as exempt_penalty_int_n,
        (select scvb.meaning
        from sys_code_b scb, sys_code_value_b scvb
        where scb.code = 'PAYMENT_BP_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.value = hpd.payment_bp_type) as payment_bp_type_n,
        (select scvb.meaning
        from sys_code_b scb, sys_code_value_b scvb
        where scb.code = 'REPAY_BP_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.value = hpd.repay_bp_type) as repay_bp_type_n,
        (select scvb.meaning
        from sys_code_b scb, sys_code_value_b scvb
        where scb.code = 'SIMPLE_COMPOUND_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.value = hpd.simple_compound_type) as simple_compound_type_n,
        (SELECT hpl.description
        FROM hls_price_list hpl
        WHERE hpl.price_list = hpd.price_list) price_dist_display,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. code = 'FND.PRODUCT_STATUS'
        AND v.code_value = hpd.product_status) product_status_n,
        (SELECT B2.MEANING
        FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
        WHERE B1.CODE = 'RESIDUAL_PRICE_TYPE'
        AND B1.CODE_ID = B2.CODE_ID
        AND B2.VALUE = to_char(hpd.RESIDUAL_PRICE_TYPE)) RESIDUAL_PRICE_TYPE_N,
        (SELECT B2.MEANING
        FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
        WHERE B1.CODE = 'SYS.YES_NO'
        AND B1.CODE_ID = B2.CODE_ID
        AND B2.VALUE = hpd.step_quotation_flag) step_quotation_flag_n,
        (SELECT B2.MEANING
        FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
        WHERE B1.CODE = 'RESIDUAL_VALUE_RECEIVED'
        AND B1.CODE_ID = B2.CODE_ID
        AND B2.VALUE = hpd.residual_value_received) residual_value_received_n,
        (SELECT B2.MEANING
        FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
        WHERE B1.CODE = 'REPAY_MODE'
        AND B1.CODE_ID = B2.CODE_ID
        AND B2.VALUE = hpd.repay_mode) repay_mode_n,
        (SELECT B2.MEANING
        FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
        WHERE B1.CODE = 'SYS.YES_NO'
        AND B1.CODE_ID = B2.CODE_ID
        AND B2.VALUE = hpd.int_rate_calc_flag) int_rate_calc_flag_n,
        (SELECT B2.MEANING
        FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
        WHERE B1.CODE = 'CHARGE_DISCOUNT_RULE'
        AND B1.CODE_ID = B2.CODE_ID
        AND B2.VALUE = hpd.lease_charge_discount_rule) lease_charge_discount_rule_n,
        (SELECT B2.MEANING
        FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
        WHERE B1.CODE = 'DISCOUNT_TIMES'
        AND B1.CODE_ID = B2.CODE_ID
        AND B2.VALUE = hpd.rental_discount_times) rental_discount_times_n
        FROM hls_product_definition hpd) v
        <where>  v.document_type = 'PRODUCT_DEFINITION'
        and v.business_type = 'PRODUCT_DEFINITION'
            <if test="definitionCode != null">
                AND v.definition_code LIKE CONCAT('%',CONCAT(#{definitionCode,jdbcType=VARCHAR},'%'))
            </if>
            <if test="definitionName != null">
                AND v.definition_name LIKE CONCAT('%',CONCAT(#{definitionName,jdbcType=VARCHAR},'%'))
            </if>
            <if test="productStatus != null">
                AND v.product_status = #{productStatus}
            </if>
            <if test="enabledFlag != null">
                AND v.enabled_flag = #{enabledFlag}
            </if>
            <if test="definitionId != null">
                AND v.definition_id = #{definitionId}
            </if>
            <if test="bpName != null">
                AND v.bp_name = #{bpName}
            </if>
            <if test="bpId !=null">
                and v.bp_id=#{bpId}
            </if>
        </where>
        ORDER BY v.definition_code DESC
    </select>

    <resultMap id="HlsProductDefinitionInfoMap" type="map">
        <result column="definition_id" property="definition_id"/>
        <result column="definition_code" property="definition_code"/>
        <result column="definition_name" property="definition_name"/>
        <result column="description" property="description"/>
        <result column="price_list" property="price_list"/>
        <result column="price_list_n" property="price_list_n"/>
        <result column="repay_flag" property="repay_flag"/>
        <result column="repay_flag_n" property="repay_flag_n"/>
        <result column="service_fee_repay_flag" property="service_fee_repay_flag"/>
        <result column="service_fee_repay_flag_n" property="service_fee_repay_flag_n"/>
        <result column="annual_pay_times_n" property="annual_pay_times_n"/>
        <result column="annual_pay_times" property="annual_pay_times"/>
        <result column="int_rate" property="int_rate"/>
        <result column="lease_charge_ratio" property="lease_charge_ratio"/>
        <result column="down_payment_ratio" property="down_payment_ratio"/>
        <result column="deposit_ratio" property="deposit_ratio"/>
        <result column="lease_term" property="lease_term"/>
        <result column="default_residual_value" property="default_residual_value"/>
        <result column="residual_price_type" property="residual_price_type"/>
        <result column="int_rate_calc_flag" property="int_rate_calc_flag" />
        <result column="lease_charge_discount_rule" property="lease_charge_discount_rule" />
        <result column="rental_discount_times" property="rental_discount_times" />
        <result column="int_rate_calc_flag_n" property="int_rate_calc_flag_n" />
        <result column="lease_charge_discount_rule_n" property="lease_charge_discount_rule_n" />
        <result column="rental_discount_times_n" property="rental_discount_times_n" />
        <result column="payment_bp_type" property="payment_bp_type" />
    </resultMap>

    <select id="selectHlsProductDefinitionInfo" resultMap="HlsProductDefinitionInfoMap">
        select hpd.definition_id,
               hpd.definition_code,
               hpd.definition_name,
               hpd.description,
               hpd.price_list,
               hpd.repay_flag,
               hpd.service_fee_repay_flag,
               hpd.residual_price_type,
               hpd.int_rate_calc_flag,
               hpd.payment_bp_type,
               hpd.lease_charge_discount_rule,
               hpd.rental_discount_times,
               (SELECT B2.MEANING
                FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
                WHERE B1.CODE = 'SYS.YES_NO'
                  AND B1.CODE_ID = B2.CODE_ID
                  AND B2.VALUE = hpd.int_rate_calc_flag) int_rate_calc_flag_n,
               (SELECT B2.MEANING
                FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
                WHERE B1.CODE = 'CHARGE_DISCOUNT_RULE'
                  AND B1.CODE_ID = B2.CODE_ID
                  AND B2.VALUE = hpd.lease_charge_discount_rule) lease_charge_discount_rule_n,
               (SELECT B2.MEANING
                FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
                WHERE B1.CODE = 'DISCOUNT_TIMES'
                  AND B1.CODE_ID = B2.CODE_ID
                  AND B2.VALUE = hpd.rental_discount_times) rental_discount_times_n,
               (select s.MEANING
                from sys_code_value_b_v s
                where s.CODE = 'HLS500_ANNUAL_PAY_TIMES'
                  and s.code_value = to_char(hpd.annual_pay_times)) annual_pay_times_n,
               hpd.annual_pay_times,
               (select s.MEANING
                from sys_code_value_b_v s
                where s.CODE = 'SYS.YES_NO'
                  and s.code_value = hpd.repay_flag) repay_flag_n,
               (select s.MEANING
                from sys_code_value_b_v s
                where s.CODE = 'SYS.YES_NO'
                  and s.code_value = hpd.service_fee_repay_flag) service_fee_repay_flag_n,
               (select prl.description
                from hls_price_list prl
                where prl.price_list = hpd.price_list) price_list_n,
               (select hpdp.DEFAULT_VALUE
                from hls_product_definition_para hpdp
                where hpdp.definition_id = hpd.definition_id
                  and hpdp.product_para = 'INT_RATE') int_rate,
               (select hpdp.DEFAULT_VALUE
                from hls_product_definition_para hpdp
                where hpdp.definition_id = hpd.definition_id
                  and hpdp.product_para = 'LEASE_CHARGE_RATIO') lease_charge_ratio,
               (select hpdp.DEFAULT_VALUE
                from hls_product_definition_para hpdp
                where hpdp.definition_id = hpd.definition_id
                  and hpdp.product_para = 'DOWN_PAYMENT_RATIO') down_payment_ratio,
               (select hpdp.DEFAULT_VALUE
                from hls_product_definition_para hpdp
                where hpdp.definition_id = hpd.definition_id
                  and hpdp.product_para = 'DEPOSIT_RATIO') deposit_ratio,
               (select hpdp.DEFAULT_VALUE
                from hls_product_definition_para hpdp
                where hpdp.definition_id = hpd.definition_id
                  and hpdp.product_para = 'LEASE_TERM') lease_term,
               (select hpdp.DEFAULT_VALUE
                from hls_product_definition_para hpdp
                where hpdp.definition_id = hpd.definition_id
                  and hpdp.product_para = 'RESIDUAL_VALUE') default_residual_value
        from hls_product_definition hpd
        where hpd.enabled_flag = 'Y'
          and hpd.definition_id = #{definitionId}
    </select>

    <select id="queryProductDefinitionInfoByReplyId" resultMap="BaseResultMap">
          select hpd.*
  from hls_product_definition hpd, hls_reply_product hrp
 where hpd.reply_product_id = hrp.reply_product_id
   and hrp.reply_id = #{replyId}


    </select>

    <select id="queryDefinitionIdAndCreditLineIdByDefinitionCode" resultMap="BaseResultMap">
          select hpd.definition_id,
       hcl_child.credit_line_id,
       hpd.annual_pay_times,
       hpd.price_list,
       hpd.residual_price_type,
       hpd.step_quotation_flag,
       hpd.residual_value_received,
       hpd.repay_mode,
       hpd.payment_bp_type,
       hpd.repay_bp_type,
       hpd.int_rate_calc_flag,
       hpd.lease_charge_discount_rule,
       hpd.rental_discount_times,
       (select hbrp.default_value
          from hls_bp_reply_para hbrp
         where hbrp.reply_id = hbm.reply_id
           and hbrp.reply_para = 'INSURANCE_FREE_AMOUNT') insurance_free_amount,
       (select hbrp.default_value
          from hls_bp_reply_para hbrp
         where hbrp.reply_id = hbm.reply_id
           and hbrp.reply_para = 'INSURANCE_FREE_PERIOD') insurance_free_period,
       hpd.pay_type,
     (select hpdp.default_value
        from hls_product_definition_para hpdp
       where hpdp.definition_id = hpd.definition_id
         and hpdp.product_para = 'GRACE_PERIOD'
         and hpdp.enabled_flag = 'Y') gracePeriod,
     (select hpdp.default_value
        from hls_product_definition_para hpdp
       where hpdp.definition_id = hpd.definition_id
         and hpdp.product_para = 'PENALTY_RATE'
         and hpdp.enabled_flag = 'Y') penaltyRate,
     (select hpdp.default_value
        from hls_product_definition_para hpdp
       where hpdp.definition_id = hpd.definition_id
         and hpdp.product_para = 'MANUFACTURER_GRACE_DAY'
         and hpdp.enabled_flag = 'Y') manufacturerGraceDay,
     (select hpdp.default_value
        from hls_product_definition_para hpdp
       where hpdp.definition_id = hpd.definition_id
         and hpdp.product_para = 'MANUFACTURER_PENALTY_RATE'
         and hpdp.enabled_flag = 'Y') manufacturerPenaltyRate,
         (select hpdp.default_value
        from hls_product_definition_para hpdp
       where hpdp.definition_id = hpd.definition_id
         and hpdp.product_para = 'RESIDUAL_VALUE'
         and hpdp.enabled_flag = 'Y') residualValue,
         (SELECT B2.MEANING
          FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
          WHERE B1.CODE = 'SYS.YES_NO'
            AND B1.CODE_ID = B2.CODE_ID
            AND B2.VALUE = hpd.int_rate_calc_flag) int_rate_calc_flag_n,
         (SELECT B2.MEANING
          FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
          WHERE B1.CODE = 'CHARGE_DISCOUNT_RULE'
            AND B1.CODE_ID = B2.CODE_ID
            AND B2.VALUE = hpd.lease_charge_discount_rule) lease_charge_discount_rule_n,
         (SELECT B2.MEANING
          FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
          WHERE B1.CODE = 'DISCOUNT_TIMES'
            AND B1.CODE_ID = B2.CODE_ID
            AND B2.VALUE = hpd.rental_discount_times) rental_discount_times_n
      from hls_product_definition hpd,
           hls_reply_product      hrp,
           hls_bp_master_reply    hbm,
           hls_credit_line        hcl,
           hls_credit_line        hcl_child
     where hpd.reply_product_id = hrp.reply_product_id
       and hrp.reply_id = hbm.reply_id
       and hbm.credit_line_id = hcl.credit_line_id
       and hcl_child.p_credit_line_id = hcl.credit_line_id
       and hcl_child.credit_type = hrp.credit_type
       and hcl.bp_id = #{bpId}
       and hpd.definition_code = #{definitionCode}
       and hpd.enabled_flag = 'Y'
    </select>

    <select id="queryDefinitionCodeByPriceListAndBpId" resultType="string">
        SELECT hpd.definition_code
        FROM hls_product_definition hpd,
             hls_reply_product      hrp,
             hls_bp_master_reply    hbmr,
             hls_credit_line        hcl
        where
            hrp.reply_id = hbmr.reply_id
          and hbmr.credit_line_id = hcl.credit_line_id
          and hpd.reply_product_id = hrp.reply_product_id
          and hcl.bp_id = #{bpId}
          and hpd.price_list = #{priceList}
    </select>

    <select id="queryDefinitionByDefinitionCodeAndEnabledFlag" resultMap="BaseResultMap">
        SELECT hpd.* FROM hls_product_definition hpd where hpd.definition_code = #{definitionCode} and hpd.enabled_flag = 'Y'
    </select>
    <select id="queryProductDefDealerByDealerId" resultMap="BaseResultMap">
        SELECT hpd.*
        FROM
        hls_product_def_dealer hpdd,hls_product_definition hpd
        <where>
            hpd.definition_id = hpdd.definition_id
            AND hpdd.dealer_id = #{dealerId}
        </where>
    </select>
</mapper>
