<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.HlsProductDefinitionParaMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.HlsProductDefinitionPara">
        <result column="product_para_id" property="productParaId" jdbcType="DECIMAL"/>
        <result column="definition_id" property="definitionId" jdbcType="DECIMAL"/>
        <result column="product_para" property="productPara" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="default_value" property="defaultValue" jdbcType="DECIMAL"/>
        <result column="value_from" property="valueFrom" jdbcType="DECIMAL"/>
        <result column="value_to" property="valueTo" jdbcType="DECIMAL"/>
        <result column="system_control_flag" property="systemControlFlag" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>

        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>

        <result column="product_para_display" property="productParaDisplay" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectHlsProductDefinitionParaList" resultMap="BaseResultMap">
        SELECT hpdp.*,
            (SELECT scvb.meaning
            FROM sys_code_b       scb,
            sys_code_value_b scvb
            WHERE scb.code = 'HLS500_PRODUCT_PARA'
            AND scb.code_id = scvb.code_id
            AND scvb.value = hpdp.product_para) AS product_para_display
        FROM hls_product_definition_para hpdp
        WHERE hpdp.definition_id = #{definitionId}
        ORDER BY hpdp.product_para ASC
    </select>

    <resultMap id="definitionParaByQuotationMap" type="map">
        <result column="quotation_id" property="quotation_id"/>
        <result column="product_para_id" property="product_para_id"/>
        <result column="definition_id" property="definition_id"/>
        <result column="product_para" property="product_para"/>
        <result column="description" property="description"/>
        <result column="default_value" property="default_value"/>
        <result column="value_from" property="value_from"/>
        <result column="value_to" property="value_to"/>
        <result column="meaning" property="meaning"/>
    </resultMap>


    <select id="selectHlsProductDefinitionParaByQuotationAddIrr" resultMap="definitionParaByQuotationMap">
        select pq.quotation_id,
               hpdp.product_para_id,
               hpdp.definition_id,
               hpdp.product_para,
               hpdp.description,
               hpdp.default_value,
               hpdp.value_from,
               hpdp.value_to,
               (select s.meaning from sys_code_value_b_v s where s.code = 'HLS500_PRODUCT_PARA' and s.code_value = hpdp.product_para) meaning
      from hls_product_definition_para hpdp, prj_quotation pq
     where pq.plan_id = hpdp.definition_id
       and hpdp.enabled_flag = 'Y'
       and pq.quotation_id = #{quotationId}
    </select>

    <select id="selectHlsProductDefinitionParaByQuotation" resultMap="definitionParaByQuotationMap">
        select pq.quotation_id,
               hpdp.product_para_id,
               hpdp.definition_id,
               hpdp.product_para,
               hpdp.description,
               hpdp.default_value,
               hpdp.value_from,
               hpdp.value_to
      from hls_product_definition_para hpdp, prj_quotation pq
     where pq.plan_id = hpdp.definition_id
       and hpdp.enabled_flag = 'Y'
       and pq.quotation_id = #{quotationId}
       and hpdp.product_para not in ('IRR','DEPOSIT_RATIO','DOWN_PAYMENT_RATIO')
    </select>

    <select id="selectHlsProductDefinitionParaIrr" resultMap="definitionParaByQuotationMap">
        select pq.quotation_id,
               hpdp.product_para_id,
               hpdp.definition_id,
               hpdp.product_para,
               hpdp.description,
               hpdp.default_value,
               hpdp.value_from,
               hpdp.value_to
        from hls_product_definition_para hpdp, prj_quotation pq
        where pq.plan_id = hpdp.definition_id
          and hpdp.enabled_flag = 'Y'
          and pq.quotation_id = #{quotationId}
          and hpdp.product_para = 'IRR'
    </select>

    <resultMap id="definitionByQuotationMap" type="map">
        <result column="grace_flag" property="grace_flag"/>
        <result column="grace_flag_n" property="grace_flag_n"/>
        <result column="annual_pay_times" property="annual_pay_times"/>
        <result column="annual_pay_times_n" property="annual_pay_times_n"/>
        <result column="repay_flag" property="repay_flag"/>
        <result column="service_fee_repay_flag" property="service_fee_repay_flag"/>
        <result column="repay_flag_n" property="repay_flag_n"/>
        <result column="service_fee_repay_flag_n" property="service_fee_repay_flag_n"/>
        <result column="simple_compound_type" property="simple_compound_type"/>
        <result column="simple_compound_type_n" property="simple_compound_type_n"/>
        <result column="step_quotation_flag" property="step_quotation_flag"/>
        <result column="step_quotation_flag_n" property="step_quotation_flag_n"/>
        <result column="residual_value_received" property="residual_value_received"/>
        <result column="residual_value_received_n" property="residual_value_received_n"/>
        <result column="repay_mode" property="repay_mode"/>
        <result column="repay_mode_n" property="repay_mode_n"/>
        <result column="int_rate_calc_flag" property="int_rate_calc_flag" />
        <result column="lease_charge_discount_rule" property="lease_charge_discount_rule" />
        <result column="rental_discount_times" property="rental_discount_times" />
        <result column="int_rate_calc_flag_n" property="int_rate_calc_flag_n" />
        <result column="lease_charge_discount_rule_n" property="lease_charge_discount_rule_n" />
        <result column="rental_discount_times_n" property="rental_discount_times_n" />
        <result column="residual_price_type" property="residual_price_type" />
    </resultMap>


    <select id="selectHlsProductDefinitionByQuotation" resultMap="definitionByQuotationMap">
        select hpd.exempt_penalty_int grace_flag,
               hpd.int_rate_calc_flag,
               hpd.lease_charge_discount_rule,
               hpd.rental_discount_times,
               NVL(hpd.RESIDUAL_PRICE_TYPE,1) residual_price_type,
               (SELECT B2.MEANING
                FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
                WHERE B1.CODE = 'SYS.YES_NO'
                  AND B1.CODE_ID = B2.CODE_ID
                  AND B2.VALUE = hpd.int_rate_calc_flag) int_rate_calc_flag_n,
               (SELECT B2.MEANING
                FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
                WHERE B1.CODE = 'CHARGE_DISCOUNT_RULE'
                  AND B1.CODE_ID = B2.CODE_ID
                  AND B2.VALUE = hpd.lease_charge_discount_rule) lease_charge_discount_rule_n,
               (SELECT B2.MEANING
                FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
                WHERE B1.CODE = 'DISCOUNT_TIMES'
                  AND B1.CODE_ID = B2.CODE_ID
                  AND B2.VALUE = hpd.rental_discount_times) rental_discount_times_n,
           (select s.MEANING
              from sys_code_value_b_v s
             where s.CODE = 'EXEMPT_PENALTY_INT'
               and s.code_value = hpd.exempt_penalty_int) grace_flag_n,
           hpd.annual_pay_times,
           (select s.MEANING
              from sys_code_value_b_v s
             where s.CODE = 'HLS500_ANNUAL_PAY_TIMES'
               and s.code_value = to_char(hpd.annual_pay_times)) annual_pay_times_n,
           hpd.repay_flag,
           hpd.service_fee_repay_flag,
           (select s.MEANING
              from sys_code_value_b_v s
             where s.CODE = 'SYS.YES_NO'
               and s.code_value = hpd.repay_flag) repay_flag_n,
           (select s.MEANING
            from sys_code_value_b_v s
            where s.CODE = 'SYS.YES_NO'
              and s.code_value = hpd.service_fee_repay_flag) service_fee_repay_flag_n,
           hpd.step_quotation_flag,
           (select s.MEANING
              from sys_code_value_b_v s
             where s.CODE = 'SYS.YES_NO'
               and s.code_value = hpd.step_quotation_flag) step_quotation_flag_n,
           hpd.residual_value_received,
           (select s.MEANING
              from sys_code_value_b_v s
             where s.CODE = 'RESIDUAL_VALUE_RECEIVED'
               and s.code_value = hpd.residual_value_received) residual_value_received_n,
           hpd.repay_mode,
           (select s.MEANING
              from sys_code_value_b_v s
             where s.CODE = 'REPAY_MODE'
               and s.code_value = hpd.repay_mode) repay_mode_n,
               hpd.simple_compound_type,
            (select s.MEANING
              from sys_code_value_b_v s
             where s.CODE = 'SIMPLE_COMPOUND_TYPE'
               and s.code_value = hpd.simple_compound_type) simple_compound_type_n
      from hls_product_definition hpd, prj_quotation pq
     where pq.plan_id = hpd.definition_id
       and hpd.enabled_flag = 'Y'
       and pq.quotation_id = #{quotationId}
    </select>

    <select id="queryHlsProductDefinitionParaList" resultMap="BaseResultMap">
        SELECT hpdp.*
        FROM hls_product_definition_para hpdp
        WHERE hpdp.definition_id = #{definitionId} and hpdp.product_para = #{productPara}
    </select>

    <select id="getDefaulValue" resultType="java.lang.Double">
        SELECT nvl(hpdp.default_value,0) default_value
        FROM hls_product_definition_para hpdp
        WHERE hpdp.definition_id = #{definitionId} and hpdp.product_para = #{productPara}
    </select>
</mapper>