<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fnd.mapper.InterfaceErrorMsgMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fnd.dto.InterfaceErrorMsg">
        <result column="MESSAGE_ID" property="messageId" jdbcType="DECIMAL" />
        <result column="HEAD_ID" property="headId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR" />
        <result column="ERROR_MSG" property="errorMsg" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryImportErrorMessageByHeadIdAndDocumentCategory"  resultMap="BaseResultMap">
        select *
        from fnd_interface_error_msg fie
        where fie.document_category = #{documentCategory}
        and fie.head_id = #{headId}
    </select>

</mapper>