<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
                           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <context:property-placeholder location="classpath:hap-default-config.properties" file-encoding="utf-8"/>

    <bean id="coreApplicationListener" class="com.hand.hap.core.ApplicationListenerBean"/>

    <bean id="languageProvider" class="com.hand.hap.core.impl.LanguageProviderImpl"/>

    <bean id="messageSource" class="com.hand.hap.core.i18n.CacheMessageSource"/>



    <!-- config transactionManager -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="routingDataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="mapperRefreshPlugin" class="com.hand.hls.db.components.MapperRefreshPlugin">
        <property name="enable" value="true"/>
    </bean>

    <!-- 多数据源配置 可以在此添加新数据源 -->
    <bean id="routingDataSource" class="com.hand.hls.db.components.LeafRoutingDataSource" primary="true">
        <property name="defaultTargetDataSource" ref="dataSource"/>
        <property name="targetDataSources">
            <map key-type="com.hand.hls.db.components.LeafDataSourceManager.DataSource">
                <entry key="MASTER" value-ref="dataSource"/>
            </map>
        </property>
    </bean>


    <bean id="sqlSessionFactory" class="com.hand.hls.db.utils.SqlSessionFactoryBean">
        <property name="dataSource" ref="routingDataSource"/>
        <property name="mapperLocations" value="classpath*:/**/*Mapper.xml"/>
        <property name="plugins">
            <array>
                <bean class="com.hand.hls.interceptor.MysqlDialectInterceptor"/>
                <bean class="com.hand.hls.interceptor.OracleDialectInterceptor"/>
                <bean class="com.hand.hap.core.interceptor.RequestContextInterceptor"/>
                <bean class="com.hand.hap.core.interceptor.MultiLanguageInterceptor"/>
                <bean class="com.hand.hap.core.interceptor.SecurityTokenInterceptor"/>
                <bean class="com.hand.hap.core.interceptor.OvnInterceptor"/>
                <bean class="com.hand.hap.core.interceptor.AuditInterceptor"/>
                <bean class="com.github.pagehelper.PageHelper"/>
                <bean class="com.hand.hap.core.interceptor.CacheJoinInterceptor">
                    <property name="cacheJoinType" ref="cacheJoinType"></property>
                </bean>
                <bean class="com.hand.hls.db.interceptor.SensitiveDataInterceptor">
                    <property name="dbType" value="${db.type}"/>
                    <property name="jdbcTemplate" ref="jdbcTemplate"/>
                </bean>
            </array>
        </property>
        <property name="configLocation" value="classpath:mybatis-configuration.xml"/>
    </bean>


    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <!-- mapper definition -->
    <bean id="mapperScannerConfigurer" class="com.hand.hap.mybatis.spring.MapperScannerConfigurer">
        <property name="basePackage" value="*.**.mapper"/>
        <property name="processPropertyPlaceHolders" value="true"/>
        <property name="propertiesMap">
            <map>
                <entry key="mappers" value="com.hand.hap.mybatis.common.Mapper"/>
                <entry key="IDENTITY" value="${mybatis.identity}"/>
                <entry key="dataBaseType" value="${db.type}"/>
                <entry key="seqFormat" value="{3}_s.nextVal"/>
                <entry key="enableMethodAnnotation" value="true"/>
            </map>
        </property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <context:component-scan base-package="**.*.job"/>
    <context:component-scan base-package="**.*.service"/>
    <context:component-scan base-package="**.*.components"/>
    <context:component-scan base-package="**.*.component"/>
    <context:component-scan base-package="leaf.service" />
    <context:component-scan base-package="leaf.service.http" />

    <bean id="requestAD" class="com.hand.hap.core.impl.ServiceExecutionAdvice"/>


    <aop:config expose-proxy="true">
        <aop:pointcut id="servicePointcut" expression="execution(* *..*ServiceImpl.*(..))"/>
        <aop:advisor advice-ref="requestAD" pointcut-ref="servicePointcut"/>
    </aop:config>

</beans>
