<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.eas.mapper.HlsCusEasLoginMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.eas.dto.HlsCusEasLogin">
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
        <result column="SLN_NAME" property="slnName" jdbcType="VARCHAR" />
        <result column="DC_NAME" property="dcName" jdbcType="VARCHAR" />
        <result column="LANGUAGE" property="language" jdbcType="VARCHAR" />
        <result column="DB_TYPE" property="dbType" jdbcType="DECIMAL" />
        <result column="AUTH_PATTERN" property="authPattern" jdbcType="VARCHAR" />
        <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR" />
        <result column="PORT" property="port" jdbcType="VARCHAR" />
        <result column="login_id" property="loginId" jdbcType="DECIMAL" />


    </resultMap>

    <resultMap id="BaseResultMap2" type="com.hand.hls.eas.dto.HlsCusCredentialsData">
        <result column="sourceSYS" property="sourceSYS" jdbcType="VARCHAR" />
        <result column="companyNumber" property="companyNumber" jdbcType="VARCHAR" />
        <result column="bookedDate" property="bookedDate" jdbcType="VARCHAR" />
        <result column="bizDate" property="bizDate" jdbcType="VARCHAR" />
        <result column="periodYear" property="periodYear" jdbcType="VARCHAR" />
        <result column="periodNumber" property="periodNumber" jdbcType="VARCHAR" />
        <result column="voucherType" property="voucherType" jdbcType="VARCHAR" />
        <result column="attaches" property="attaches" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="voucherNumber" property="voucherNumber" jdbcType="VARCHAR" />

        <result column="entrySeq" property="entrySeq" jdbcType="VARCHAR" />
        <result column="voucherAbstract" property="voucherAbstract" jdbcType="VARCHAR" />
        <!--<result column="profitCenterNumber" property="profitCenterNumber" jdbcType="VARCHAR" />-->

        <result column="accountNumber" property="accountNumber" jdbcType="VARCHAR" />
        <result column="currencyNumber" property="currencyNumber" jdbcType="VARCHAR" />
        <result column="localRate" property="localRate" jdbcType="VARCHAR" />
        <result column="entryDC" property="entryDC" jdbcType="VARCHAR" />
        <result column="originalAmount" property="originalAmount" jdbcType="VARCHAR" />
        <result column="qty" property="qty" jdbcType="VARCHAR" />
        <result column="measurement" property="measurement" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="VARCHAR" />


        <result column="debitAmount" property="debitAmount" jdbcType="VARCHAR" />
        <result column="creditAmount" property="creditAmount" jdbcType="VARCHAR" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="auditor" property="auditor" jdbcType="VARCHAR" />
        <result column="poster" property="poster" jdbcType="VARCHAR" />
        <result column="asstSeq" property="asstSeq" jdbcType="VARCHAR" />

        <result column="asstActType1" property="asstActType1" jdbcType="VARCHAR" />
        <result column="asstActNumber1" property="asstActNumber1" jdbcType="VARCHAR" />
        <result column="asstActName1" property="asstActName1" jdbcType="VARCHAR" />

        <result column="asstActType2" property="asstActType2" jdbcType="VARCHAR" />
        <result column="asstActNumber2" property="asstActNumber2" jdbcType="VARCHAR" />
        <result column="asstActName2" property="asstActName2" jdbcType="VARCHAR" />


        <result column="asstActType3" property="asstActType3" jdbcType="VARCHAR" />
        <result column="asstActNumber3" property="asstActNumber3" jdbcType="VARCHAR" />
        <result column="asstActName3" property="asstActName3" jdbcType="VARCHAR" />


        <result column="asstActType4" property="asstActType4" jdbcType="VARCHAR" />
        <result column="asstActNumber4" property="asstActNumber4" jdbcType="VARCHAR" />
        <result column="asstActName4" property="asstActName4" jdbcType="VARCHAR" />

        <result column="asstActType5" property="asstActType5" jdbcType="VARCHAR" />
        <result column="asstActNumber5" property="asstActNumber5" jdbcType="VARCHAR" />
        <result column="asstActName5" property="asstActName5" jdbcType="VARCHAR" />

        <result column="asstActType6" property="asstActType6" jdbcType="VARCHAR" />
        <result column="asstActNumber6" property="asstActNumber6" jdbcType="VARCHAR" />
        <result column="asstActName6" property="asstActName6" jdbcType="VARCHAR" />

        <result column="asstActType7" property="asstActType7" jdbcType="VARCHAR" />
        <result column="asstActNumber7" property="asstActNumber7" jdbcType="VARCHAR" />
        <result column="asstActName7" property="asstActName7" jdbcType="VARCHAR" />

        <result column="asstActType8" property="asstActType8" jdbcType="VARCHAR" />
        <result column="asstActNumber8" property="asstActNumber8" jdbcType="VARCHAR" />
        <result column="asstActName8" property="asstActName8" jdbcType="VARCHAR" />


        <result column="itemflag" property="itemflag" jdbcType="VARCHAR" />
        <result column="oppAccountSeq" property="oppAccountSeq" jdbcType="VARCHAR" />
        <result column="primaryItem" property="primaryItem" jdbcType="VARCHAR" />
        <result column="supplyItem" property="supplyItem" jdbcType="VARCHAR" />
        <result column="cashflowAmountOriginal" property="cashflowAmountOriginal" jdbcType="DECIMAL" />
        <result column="cashflowAmountLocal" property="cashflowAmountLocal" jdbcType="VARCHAR" />
        <result column="cashflowAmountRpt" property="cashflowAmountRpt" jdbcType="VARCHAR" />

        <result column="cashAsstActType1" property="cashAsstActType1" jdbcType="VARCHAR" />
        <result column="cashAsstActNumber1" property="cashAsstActNumber1" jdbcType="VARCHAR" />
        <result column="cashAsstActName1" property="cashAsstActName1" jdbcType="VARCHAR" />

        <result column="cashAsstActType2" property="cashAsstActType2" jdbcType="VARCHAR" />
        <result column="cashAsstActNumber2" property="cashAsstActNumber2" jdbcType="VARCHAR" />
        <result column="cashAsstActName2" property="cashAsstActName2" jdbcType="VARCHAR" />

        <result column="cashAsstActType3" property="cashAsstActType3" jdbcType="VARCHAR" />
        <result column="cashAsstActNumber3" property="cashAsstActNumber3" jdbcType="VARCHAR" />
        <result column="cashAsstActName3" property="cashAsstActName3" jdbcType="VARCHAR" />

        <result column="cashAsstActType4" property="cashAsstActType4" jdbcType="VARCHAR" />
        <result column="cashAsstActNumber4" property="cashAsstActNumber4" jdbcType="VARCHAR" />
        <result column="cashAsstActName4" property="cashAsstActName4" jdbcType="VARCHAR" />


        <result column="cashAsstActType5" property="cashAsstActType5" jdbcType="VARCHAR" />
        <result column="cashAsstActNumber5" property="cashAsstActNumber5" jdbcType="VARCHAR" />
        <result column="cashAsstActName5" property="cashAsstActName5" jdbcType="VARCHAR" />

        <result column="cashAsstActType6" property="cashAsstActType6" jdbcType="VARCHAR" />
        <result column="cashAsstActNumber6" property="cashAsstActNumber6" jdbcType="VARCHAR" />
        <result column="cashAsstActName6" property="cashAsstActName6" jdbcType="VARCHAR" />


        <result column="cashAsstActType7" property="cashAsstActType7" jdbcType="VARCHAR" />
        <result column="cashAsstActNumber7" property="cashAsstActNumber7" jdbcType="VARCHAR" />
        <result column="cashAsstActName7" property="cashAsstActName7" jdbcType="VARCHAR" />

        <result column="cashAsstActType8" property="cashAsstActType8" jdbcType="VARCHAR" />
        <result column="cashAsstActNumber8" property="cashAsstActNumber8" jdbcType="VARCHAR" />
        <result column="cashAsstActName8" property="cashAsstActName8" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectCredentialsData" parameterType="com.hand.hls.eas.dto.HlsCusPsotEasTmp" resultMap="BaseResultMap2">
select 'CORE' as sourceSYS,
       (select fc.ws_com_code
          from fnd_company fc
         where fc.company_id = gh.company_id) as companyNumber,

      gh.je_date as bizDate,

     gh.je_creation_date  as bookedDate,

       substr(gh.period_name, 1, instr(gh.period_name, '-') - 1) as periodYear,

       substr(gh.period_name, instr(gh.period_name, '-', -1) + 1) as periodNumber,

       case
         when gl.je_trx = 'PRE_FIN_INCOME_RECOGNITION' THEN
          '预'
         ELSE
          '业'
       end voucherType,

       '0' as attaches,
       '' as description,
       gh.je_number as voucherNumber,

       (@i :=@i + 1) AS entrySeq,

       gl.je_description as voucherAbstract,

       gl.cost_center_id as profitCenterNumber,

       (select ga.account_code
          from gld_account ga
         where ga.account_id = gl.account_id) accountNumber,

       (select fc.eas_code
          from fnd_currency fc
         where fc.currency_code = gh.currency) currencyNumber,

       nvl(gl.exchange_rate, 1) as localRate,

       case
         when gl.dr_cr = 'DR' then
          '1'
         else
          '-1'
       end entryDC,

       nvl(gl.dr_amount, 0) + nvl(gl.cr_amount, 0) as originalAmount,

       '0' as qty,

       '' as measurement,

       '0' as price,

       nvl(gl.dr_functional_amount, 0) as debitAmount,

       nvl(gl.cr_functional_amount, 0) as creditAmount,

       (select su.description
          from sys_user su
         where su.user_id = gh.trialed_by) as creator,

       (select su.description
          from sys_user su
         where su.user_id = gh.retrialed_by) as auditor,

       '' as poster,

       (@ii :=@ii + 1) AS asstSeq,

       (select v.meaning
          from sys_code_value_b_v v
         where v.CODE = 'GLD.JE_SEGMENT_TYPE'
           and v.code_value = ga.assist_type1) as asstActType1,

       case
         when ga.assist_type1 = 'BP_NAME' THEN
          (select cc.eas_bp_code
             from con_contract cc
            where cc.eas_bp_name = gl.segment_1
              and rownum=1)

         when ga.assist_type1 = 'VENDER_NAME' THEN
          nvl((select lnn.eas_code
                from csh_payment_req_ln lnn
               where lnn.bp_bank_account_name = gl.segment_1
                 and lnn.eas_code is not null
                 and rownum=1),
              (select h.eas_bp_code
                 from hls_bp_master h
                where h.bp_name = gl.segment_1
                and h.eas_bp_code is not null
                  and rownum=1))
         when ga.assist_type1 = 'CONTRACT_NUMBER' then
          (select cc.eas_code
             from con_contract cc
            where cc.contract_number = gl.segment_1
            and cc.eas_code is not null
              and rownum=1)
         when ga.assist_type1 = 'UNIT_ID' then
          (select nvl(fou.eas_code, 'HX' || fou.unit_id)
             from fnd_org_unit fou
            where fou.unit_name = gl.segment_1
              and rownum=1)
         when ga.assist_type1 = 'CITY' then
          (select ecd.city_code
             from eas_city_data ecd
            where ecd.city_n = gl.segment_1
              and rownum=1)
         when ga.assist_type1 = 'BANK_NAME' then
          (select cba.ref_v04
             from csh_bank_account cba, csh_bank cb
            where cb.bank_id = cba.bank_id
              and cba.bank_branch_name = gl.segment_1
              and rownum=1)
         when ga.assist_type1 = 'BANK_ACCOUNT' then
          (select nvl(cba.ref_v05, 'HX' || cba.bank_account_id)
             from csh_bank_account cba
            where cba.bank_account_num = gl.segment_1
              and rownum=1)
         when ga.assist_type1 = 'CF_TYPE' then
          '01.14'
         when ga.assist_type1 = 'TAX_STUCTURE' then
          '0001'
         when ga.assist_type1 = 'LEASE_ITEM_CATEGORY' then
          (select t.eas_code
             from hls_business_type t
            where t.description = gl.segment_1
              and rownum=1)
         when ga.assist_type1 = 'JOINT' then
          nvl((select fc.ws_com_code
                from fnd_company fc
               where fc.fin_company_name = gl.segment_1
                 and rownum=1),
              (select h.bp_code
                 from hls_bp_master h
                where h.bp_name = gl.segment_1
                  and rownum=1))
         ELSE
          NULL
       end asstActNumber1,

       case
         when ga.assist_type1 = 'CF_TYPE' then
          '风险金'
         when ga.assist_type1 = 'TAX_STUCTURE' then
          '17%动产经营租赁'
         ELSE
          gl.segment_1
       end asstActName1,

       (select v.meaning
          from sys_code_value_b_v v
         where v.CODE = 'GLD.JE_SEGMENT_TYPE'
           and v.code_value = ga.assist_type2) as asstActType2,

       case
         when ga.assist_type2 = 'BP_NAME' THEN
          (select cc.eas_bp_code
             from con_contract cc
            where cc.eas_bp_name = gl.segment_2
            and cc.eas_bp_code is not null
              and rownum=1)

         when ga.assist_type2 = 'VENDER_NAME' THEN
          nvl((select lnn.eas_code
                from csh_payment_req_ln lnn
               where lnn.bp_bank_account_name = gl.segment_2
                 and lnn.eas_code is not null
                 and rownum=1),
              (select h.eas_bp_code
                 from hls_bp_master h
                where h.bp_name = gl.segment_2
                 and h.eas_bp_code is not null
                  and rownum=1))
         when ga.assist_type2 = 'CONTRACT_NUMBER' then
          (select cc.eas_code
             from con_contract cc
            where cc.contract_number = gl.segment_2
            and cc.eas_code is not null
              and rownum=1)
         when ga.assist_type2 = 'UNIT_ID' then
          (select nvl(fou.eas_code, 'HX' || fou.unit_id)
             from fnd_org_unit fou
            where fou.unit_name = gl.segment_2
              and rownum=1)
         when ga.assist_type2 = 'CITY' then
          (select ecd.city_code
             from eas_city_data ecd
            where ecd.city_n = gl.segment_2
              and rownum=1)
         when ga.assist_type2 = 'BANK_NAME' then
          (select cba.ref_v04
             from csh_bank_account cba, csh_bank cb
            where cb.bank_id = cba.bank_id
              and cba.bank_branch_name = gl.segment_2
              and rownum=1)
         when ga.assist_type2 = 'BANK_ACCOUNT' then
          (select nvl(cba.ref_v05, 'HX' || cba.bank_account_id)
             from csh_bank_account cba
            where cba.bank_account_num = gl.segment_2
              and rownum=1)
         when ga.assist_type2 = 'CF_TYPE' then
          '01.14'
         when ga.assist_type2 = 'TAX_STUCTURE' then
          '0001'
         when ga.assist_type2 = 'LEASE_ITEM_CATEGORY' then
          (select t.eas_code
             from hls_business_type t
            where t.description = gl.segment_2
              and rownum=1)
         when ga.assist_type1 = 'JOINT' then
          nvl((select fc.ws_com_code
                from fnd_company fc
               where fc.fin_company_name = gl.segment_2
                 and rownum=1),
              (select h.bp_code
                 from hls_bp_master h
                where h.bp_name = gl.segment_1
                  and rownum=1))
         ELSE
          NULL
       end asstActNumber2,

       case
         when ga.assist_type2 = 'CF_TYPE' then
          '风险金'
         when ga.assist_type2 = 'TAX_STUCTURE' then
          '17%动产经营租赁'

         ELSE
          gl.segment_2
       end asstActName2,

       (select v.meaning
          from sys_code_value_b_v v
         where v.CODE = 'GLD.JE_SEGMENT_TYPE'
           and v.code_value = ga.assist_type3) as asstActType3,

       case
         when ga.assist_type3 = 'BP_NAME' THEN
          (select cc.eas_bp_code
             from con_contract cc
            where cc.eas_bp_name = gl.segment_3
             and cc.eas_bp_code is not null
              and rownum=1)

         when ga.assist_type3 = 'VENDER_NAME' THEN
          nvl((select lnn.eas_code
                from csh_payment_req_ln lnn
               where lnn.bp_bank_account_name = gl.segment_3
                 and lnn.eas_code is not null
                 and rownum=1),
              (select h.eas_bp_code
                 from hls_bp_master h
                where h.bp_name = gl.segment_3
                and h.eas_bp_code is not null
                  and rownum=1))
         when ga.assist_type3 = 'CONTRACT_NUMBER' then
          (select cc.eas_code
             from con_contract cc
            where cc.contract_number = gl.segment_3
            and cc.eas_code is not null
              and rownum=1)
         when ga.assist_type3 = 'UNIT_ID' then
          (select nvl(fou.eas_code, 'HX' || fou.unit_id)
             from fnd_org_unit fou
            where fou.unit_name = gl.segment_3
              and rownum=1)
         when ga.assist_type3 = 'CITY' then
          (select ecd.city_code
             from eas_city_data ecd
            where ecd.city_n = gl.segment_3
              and rownum=1)
         when ga.assist_type3 = 'BANK_NAME' then
          (select cba.ref_v04
             from csh_bank_account cba, csh_bank cb
            where cb.bank_id = cba.bank_id
              and cba.bank_branch_name = gl.segment_3
              and rownum=1)
         when ga.assist_type3 = 'BANK_ACCOUNT' then
          (select nvl(cba.ref_v05, 'HX' || cba.bank_account_id)
             from csh_bank_account cba
            where cba.bank_account_num = gl.segment_3
              and rownum=1)
         when ga.assist_type3 = 'CF_TYPE' then
          '01.14'
         when ga.assist_type3 = 'TAX_STUCTURE' then
          '0001'
         when ga.assist_type3 = 'LEASE_ITEM_CATEGORY' then
          (select t.eas_code
             from hls_business_type t
            where t.description = gl.segment_3
              and rownum=1)
         when ga.assist_type1 = 'JOINT' then
          nvl((select fc.ws_com_code
                from fnd_company fc
               where fc.fin_company_name = gl.segment_3
                 and rownum=1),
              (select h.bp_code
                 from hls_bp_master h
                where h.bp_name = gl.segment_3
                  and rownum=1))
         ELSE
          NULL
       end asstActNumber3,

       case
         when ga.assist_type3 = 'CF_TYPE' then
          '风险金'
         when ga.assist_type3 = 'TAX_STUCTURE' then
          '17%动产经营租赁'
         ELSE
          gl.segment_3
       end asstActName3,

       (select v.meaning
          from sys_code_value_b_v v
         where v.CODE = 'GLD.JE_SEGMENT_TYPE'
           and v.code_value = ga.assist_type4) as asstActType4,

       case
         when ga.assist_type4 = 'BP_NAME' THEN
          (select cc.eas_bp_code
             from con_contract cc
            where cc.eas_bp_name = gl.segment_4
           and cc.eas_bp_code is not null
              and rownum=1)

         when ga.assist_type4 = 'VENDER_NAME' THEN
          nvl((select lnn.eas_code
                from csh_payment_req_ln lnn
               where lnn.bp_bank_account_name = gl.segment_4
                 and lnn.eas_code is not null
                 and rownum=1),
              (select h.eas_bp_code
                 from hls_bp_master h
                where h.bp_name = gl.segment_4
                and h.eas_bp_code is not null
                 and rownum=1))
         when ga.assist_type4 = 'CONTRACT_NUMBER' then
          (select cc.eas_code
             from con_contract cc
            where cc.contract_number = gl.segment_4
            and cc.eas_code is not null
              and rownum=1)
         when ga.assist_type4 = 'UNIT_ID' then
          (select nvl(fou.eas_code, 'HX' || fou.unit_id)
             from fnd_org_unit fou
            where fou.unit_name = gl.segment_4
              and rownum=1)
         when ga.assist_type4 = 'CITY' then
          (select ecd.city_code
             from eas_city_data ecd
            where ecd.city_n = gl.segment_4
              and rownum=1)
         when ga.assist_type4 = 'BANK_NAME' then
          (select cba.ref_v04
             from csh_bank_account cba, csh_bank cb
            where cb.bank_id = cba.bank_id
              and cba.bank_branch_name = gl.segment_4
              and rownum=1)
         when ga.assist_type4 = 'BANK_ACCOUNT' then
          (select nvl(cba.ref_v05, 'HX' || cba.bank_account_id)
             from csh_bank_account cba
            where cba.bank_account_num = gl.segment_4
              and rownum=1)
         when ga.assist_type4 = 'CF_TYPE' then
          '01.14'
         when ga.assist_type4 = 'TAX_STUCTURE' then
          '0001'
         when ga.assist_type4 = 'LEASE_ITEM_CATEGORY' then
          (select t.eas_code
             from hls_business_type t
            where t.description = gl.segment_4
              and rownum=1)
         when ga.assist_type1 = 'JOINT' then
          nvl((select fc.ws_com_code
                from fnd_company fc
               where fc.fin_company_name = gl.segment_4
                 and rownum=1),
              (select h.bp_code
                 from hls_bp_master h
                where h.bp_name = gl.segment_4
                  and rownum=1))
         ELSE
          NULL
       end asstActNumber4,

       case
         when ga.assist_type4 = 'CF_TYPE' then
          '风险金'
         when ga.assist_type4 = 'TAX_STUCTURE' then
          '17%动产经营租赁'
         ELSE
          gl.segment_4
       end asstActName4,

       '' as asstActType5,

       '' as asstActNumber5,

       '' as asstActName5,

       '' as asstActType6,

       '' as asstActNumber6,

       '' as asstActName6,

       '' as asstActType7,

       '' as asstActNumber7,

       '' as asstActName7,

       '' as asstActType8,

       '' as asstActNumber8,

       '' as asstActName8
  from gld_je_head gh, gld_je_line gl, gld_account ga,(SELECT @i := 0) AS row_seq,(SELECT @ii := 0) AS row_seq1
 where gh.je_head_id = gl.je_head_id
   and gl.account_id = ga.account_id
   and gh.je_head_id = #{sourceId}
    </select>
</mapper>