<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.inv.mapper.HlsCusInvFinanceDetailMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.inv.dto.HlsCusInvFinanceDetail">
        <result column="INV_FINANCE_DETAIL_ID" property="invFinanceDetailId" jdbcType="DECIMAL"/>
        <result column="DOCUMENT_ID" property="documentId" jdbcType="DECIMAL"/>
        <result column="DATA_CLASS" property="dataClass" jdbcType="VARCHAR"/>
        <result column="FINANCIAL_AMOUNT" property="financialAmount" jdbcType="DECIMAL"/>
        <result column="FINANCIAL_DATE" property="financialDate" jdbcType="DATE"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="INCOME_AMOUNT" property="incomeAmount" jdbcType="DECIMAL"/>
        <result column="APPROVED_STATUS" property="approvedStatus" jdbcType="VARCHAR"/>
        <result column="DOCUMENT_NUMBER" property="documentNumber" jdbcType="VARCHAR"/>
        <result column="START_DATE" property="startDate" jdbcType="DATE"/>
        <result column="END_DATE" property="endDate" jdbcType="DATE"/>

        <!--外来字段-->
        <result column="is_limited" property="isLimited" jdbcType="VARCHAR"/>
        <result column="currency_desc" property="currencyDesc" jdbcType="VARCHAR"/>
        <result column="annual_rate" property="annualRate" jdbcType="VARCHAR"/>
        <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR"/>
        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
        <result column="bank_account_id" property="bankAccountId" jdbcType="DECIMAL"/>
        <result column="bank_id" property="bankId" jdbcType="DECIMAL"/>

        <result column="financial_products_name" property="financialProductsName" jdbcType="VARCHAR"/>
        <result column="financial_products_num" property="financialProductsNum" jdbcType="VARCHAR"/>
        <result column="financial_max_amount" property="financialMaxAmount" jdbcType="DECIMAL"/>
        <result column="financial_type" property="financialType" jdbcType="VARCHAR"/>
        <result column="financial_category" property="financialCategory" jdbcType="VARCHAR"/>


    </resultMap>

    <!--财务投资理财已办-->
    <select id="queryInvDoneFinanceList" parameterType="com.hand.hls.inv.dto.HlsCusInvFinanceDetail"
            resultMap="BaseResultMap">
        select
        ifd.*
        from
        inv_finance_detail ifd,
        inv_finance_purchase ifp
        where ifd.data_class in ('NEW_PURCHASE','ADD_PURCHASE')
        and ifd.document_id=ifp.finance_purchase_id
    </select>

    <!--实际申购信息lov-->
    <select id="queryPurchaseDetailLov" parameterType="com.hand.hls.inv.dto.HlsCusInvFinanceDetail"
            resultMap="BaseResultMap">
       select
        ifp.is_limited,
        fc.currency_name as currency_desc,
        ifp.annual_rate,
        cba.bank_account_num,
        cba.bank_account_name,
        cb.bank_name,
        cba.bank_account_id,
        cba.bank_id,
        ifd.*
        from
        inv_finance_detail ifd,
        inv_finance_purchase ifp,
        fnd_currency fc,
        csh_bank cb,
        csh_bank_account cba
        where ifd.approved_status='APPROVED'
        AND ifd.data_class in ('NEW_PURCHASE','ADD_PURCHASE')
        and ifd.document_id=ifp.finance_purchase_id
        and fc.currency_code=ifp.currency
        and cba.bank_account_id=ifp.bank_account_id
        and cb.bank_id=cba.bank_id
        and (ifp.finance_purchase_id=#{documentId} or ifp.parent_purchase_id=#{documentId})
    </select>

    <select id="queryInvFinanceDetal" parameterType="com.hand.hls.inv.dto.HlsCusInvFinanceDetail"
            resultMap="BaseResultMap">
          select
            ifd.inv_finance_detail_id,
            ifd.financial_date,
            ifd.data_class,
            ifd.financial_amount,
            inp.financial_products_name,
            inp.financial_products_num,
            inp.financial_max_amount,
            ifp.is_limited,
            ifp.financial_type,
            ifp.financial_category,
            ifd.start_date,
            ifd.end_date,
            ifp.annual_rate
            from
            inv_finance_purchase ifp,
            inv_finance_detail ifd,
            inv_financial_products inp
            where ifp.bank_account_id=#{bankAccountId}
            and ifp.finance_products_id=inp.inv_products_id
            and ifd.document_id=ifp.finance_purchase_id
            and ifd.approved_status='APPROVED'
            and ifd.data_class in ('NEW_PURCHASE','ADD_PURCHASE')
            union
            select ifd.inv_finance_detail_id,
            ifd.financial_date,
            'REDEEM' as data_class,
            ifd.financial_amount,
            inp.financial_products_name,
            inp.financial_products_num,
            inp.financial_max_amount,
            ifp.is_limited,
            ifp.financial_type,
            ifp.financial_category,
            ifd.start_date,
            ifd.end_date,
            ifp.annual_rate
            from
            inv_finance_purchase ifp,
            inv_finance_redeem ifr,
            inv_finance_detail ifd,
            inv_finance_detail ifdd,
            inv_financial_products inp
            where ifp.bank_account_id=#{bankAccountId}
            and ifp.finance_products_id=inp.inv_products_id
            and ifr.purchase_id=ifdd.inv_finance_detail_id
            and ifd.document_id=ifr.finance_redeem_id
            and ifdd.data_class in ('NEW_PURCHASE','ADD_PURCHASE')
            and ifdd.document_id=ifp.finance_purchase_id
            and ifdd.approved_status='APPROVED'
            and ifd.approved_status='APPROVED'
    </select>


</mapper>