<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.inv.mapper.HlsCusFinanceRedeemBakMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.inv.dto.HlsCusFinanceRedeemBak">
        <result column="redeem_bak_id" property="redeemBakId" jdbcType="DECIMAL" />
        <result column="finance_redeem_id" property="financeRedeemId" jdbcType="DECIMAL" />
        <result column="document_type" property="documentType" jdbcType="VARCHAR" />
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR" />
        <result column="business_type" property="businessType" jdbcType="VARCHAR" />
        <result column="redemption_company_id" property="redemptionCompanyId" jdbcType="DECIMAL" />
        <result column="redemption_bank_account_id" property="redemptionBankAccountId" jdbcType="DECIMAL" />
        <result column="redemption_number" property="redemptionNumber" jdbcType="VARCHAR" />
        <result column="redemption_user_id" property="redemptionUserId" jdbcType="DECIMAL" />
        <result column="redeemable_amount" property="redeemableAmount" jdbcType="DECIMAL" />
        <result column="redemption_amount" property="redemptionAmount" jdbcType="DECIMAL" />
        <result column="redemption_date" property="redemptionDate" jdbcType="DATE" />
        <result column="redemption_return_rate" property="redemptionReturnRate" jdbcType="DECIMAL" />
        <result column="redemption_note" property="redemptionNote" jdbcType="VARCHAR" />
        <result column="redemption_status" property="redemptionStatus" jdbcType="VARCHAR" />
        <result column="purchase_id" property="purchaseId" jdbcType="DECIMAL" />
        <result column="purchase_company_id" property="purchaseCompanyId" jdbcType="DECIMAL" />
        <result column="purchase_bank_account_id" property="purchaseBankAccountId" jdbcType="DECIMAL" />
        <result column="purchase_issuing_agency" property="purchaseIssuingAgency" jdbcType="VARCHAR" />
        <result column="purchase_product_name" property="purchaseProductName" jdbcType="VARCHAR" />
        <result column="purchase_financial_type" property="purchaseFinancialType" jdbcType="VARCHAR" />
        <result column="purchase_financial_category" property="purchaseFinancialCategory" jdbcType="VARCHAR" />
        <result column="purchase_investment_amount" property="purchaseInvestmentAmount" jdbcType="DECIMAL" />
        <result column="purchase_currency" property="purchaseCurrency" jdbcType="VARCHAR" />
        <result column="purchase_redeemed_amount" property="purchaseRedeemedAmount" jdbcType="DECIMAL" />
        <result column="purchase_unredeemed_amount" property="purchaseUnredeemedAmount" jdbcType="DECIMAL" />
        <result column="purchase_annual_rate" property="purchaseAnnualRate" jdbcType="DECIMAL" />
        <result column="purchase_value_date" property="purchaseValueDate" jdbcType="DATE" />
        <result column="purchase_expected_due_date" property="purchaseExpectedDueDate" jdbcType="DATE" />
        <result column="purchase_first_user_id" property="purchaseFirstUserId" jdbcType="DECIMAL" />
        <result column="purchase_first_date" property="purchaseFirstDate" jdbcType="DATE" />
        <result column="purchase_last_user_id" property="purchaseLastUserId" jdbcType="DECIMAL" />
        <result column="purchase_last_date" property="purchaseLastDate" jdbcType="DATE" />
        <result column="change_message" property="changeMessage" jdbcType="VARCHAR" />
    </resultMap>


    <select id="queryAll" parameterType="com.hand.hls.inv.dto.HlsCusFinanceRedeemBak" resultMap="BaseResultMap" >
        SELECT ifrb.* FROM inv_finance_redeem_bak ifrb
        <where>
            1=1
            <if test="redeemBakId!=null">
               AND ifrb.redeem_bak_id = #{redeemBakId}
            </if>
            <if test="financeRedeemId!=null">
                AND ifrb.finance_redeem_id = #{financeRedeemId}
            </if>
            <if test="purchaseId!=null">
                AND ifrb.purchase_id = #{purchaseId}
            </if>
            <if test="updateMethod!=null">
                AND ifrb.update_method = #{updateMethod}
            </if>
            <if test="status!=null">
                AND ifrb.status = #{status}
            </if>

        </where>

    </select>

   <!-- <select id="redeemBakWflSearch" parameterType="com.hand.hls.inv.dto.HlsCusFinanceRedeemBak" resultMap="BaseResultMap">
        select ifrb.*,max(ifrb.redeem_bak_id) FROM inv_finance_redeem_bak ifrb
         <where>
             1=1
             <if test="updateMethod">
                 AND ifrb.update_method = #{updateMethod}
             </if>
             <if test="status!=null">
                 AND ifrb.status = #{status}
             </if>
             <if test="financeRedeemId!=null">
                 AND ifrb.finance_redeem_id = #{financeRedeemId}
             </if>
         </where>

         GROUP BY ifrb.financeRedeemId,ifrb.updateMethod


    </select>
-->


</mapper>