<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.inv.mapper.HlsCusFinanceRedeemMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.inv.dto.HlsCusFinanceRedeem">
        <result column="finance_redeem_id" property="financeRedeemId" jdbcType="DECIMAL"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="redemption_company_id" property="redemptionCompanyId" jdbcType="DECIMAL"/>
        <result column="redemption_bank_account_id" property="redemptionBankAccountId" jdbcType="DECIMAL"/>
        <result column="redemption_number" property="redemptionNumber" jdbcType="VARCHAR"/>
        <result column="redemption_user_id" property="redemptionUserId" jdbcType="DECIMAL"/>
        <result column="redeemable_amount" property="redeemableAmount" jdbcType="DECIMAL"/>
        <result column="redemption_amount" property="redemptionAmount" jdbcType="DECIMAL"/>
        <result column="redemption_date" property="redemptionDate" jdbcType="DATE"/>
        <result column="redemption_return_rate" property="redemptionReturnRate" jdbcType="DECIMAL"/>
        <result column="redemption_note" property="redemptionNote" jdbcType="VARCHAR"/>
        <result column="redemption_status" property="redemptionStatus" jdbcType="VARCHAR"/>
        <result column="purchase_id" property="purchaseId" jdbcType="DECIMAL"/>
        <result column="purchase_company_id" property="purchaseCompanyId" jdbcType="DECIMAL"/>
        <result column="purchase_bank_account_id" property="purchaseBankAccountId" jdbcType="DECIMAL"/>
        <result column="purchase_issuing_agency" property="purchaseIssuingAgency" jdbcType="VARCHAR"/>
        <result column="purchase_product_name" property="purchaseProductName" jdbcType="VARCHAR"/>
        <result column="purchase_financial_type" property="purchaseFinancialType" jdbcType="VARCHAR"/>
        <result column="purchase_financial_category" property="purchaseFinancialCategory" jdbcType="VARCHAR"/>
        <result column="purchase_investment_amount" property="purchaseInvestmentAmount" jdbcType="DECIMAL"/>
        <result column="purchase_currency" property="purchaseCurrency" jdbcType="VARCHAR"/>
        <result column="purchase_redeemed_amount" property="purchaseRedeemedAmount" jdbcType="DECIMAL"/>
        <result column="purchase_unredeemed_amount" property="purchaseUnredeemedAmount" jdbcType="DECIMAL"/>
        <result column="purchase_annual_rate" property="purchaseAnnualRate" jdbcType="DECIMAL"/>
        <result column="purchase_value_date" property="purchaseValueDate" jdbcType="DATE"/>
        <result column="purchase_expected_due_date" property="purchaseExpectedDueDate" jdbcType="DATE"/>
        <result column="purchase_first_user_id" property="purchaseFirstUserId" jdbcType="DECIMAL"/>
        <result column="purchase_first_date" property="purchaseFirstDate" jdbcType="DATE"/>
        <result column="purchase_last_user_id" property="purchaseLastUserId" jdbcType="DECIMAL"/>
        <result column="purchase_last_date" property="purchaseLastDate" jdbcType="DATE"/>

        <result column="redemption_company_name" property="redemptionCompanyName" jdbcType="VARCHAR"/>
        <result column="redemption_user_name" property="redemptionUserName" jdbcType="VARCHAR"/>
        <result column="redemption_bank_branch_name" property="redemptionBankBranchName" jdbcType="VARCHAR"/>
        <result column="redemption_bank_account_name" property="redemptionBankAccountName" jdbcType="VARCHAR"/>
        <result column="redemption_bank_account_num" property="redemptionBankAccountNum" jdbcType="VARCHAR"/>
        <result column="redemption_bank_name" property="redemptionBankName" jdbcType="VARCHAR"/>
        <result column="purchase_company_name" property="purchaseCompanyName" jdbcType="VARCHAR"/>
        <result column="purchase_bank_branch_name" property="purchaseBankBranchName" jdbcType="VARCHAR"/>
        <result column="purchase_bank_account_name" property="purchaseBankAccountName" jdbcType="VARCHAR"/>
        <result column="purchase_bank_account_num" property="purchaseBankAccountNum" jdbcType="VARCHAR"/>
        <result column="purchase_bank_name" property="purchaseBankName" jdbcType="VARCHAR"/>
        <result column="first_purchase_userName" property="firstPurchaseUserName" jdbcType="VARCHAR"/>
        <result column="last_purchase_userName" property="lastPurchaseUserName" jdbcType="VARCHAR"/>

        <result column="invalid_message" property="invalidMessage" jdbcType="VARCHAR"/>
        <result column="invalid_bak" property="invalidBak" jdbcType="VARCHAR"/>
        <result column="pledge_flag" property="pledgeFlag" jdbcType="VARCHAR"/>
        <result column="pledge_deadline" property="pledgeDeadline" jdbcType="VARCHAR"/>

        <!--新增字段 by xuju-->
        <result column="last_redemption_date" property="lastRedemptionDate" jdbcType="DATE"/>
        <result column="redemption_unit" property="redemptionUnit" jdbcType="DECIMAL"/>
        <result column="redemption_type" property="redemptionType" jdbcType="VARCHAR"/>
        <result column="confirm_status" property="confirmStatus" jdbcType="VARCHAR"/>
        <result column="amount_before_change" property="amountBeforeChange" jdbcType="DECIMAL"/>
        <result column="amount_after_change" property="amountAfterChange" jdbcType="DECIMAL"/>

        <!--额外字段 by xuju-->
        <result column="redemption_unit_name" property="redemptionUnitName" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
        <result column="document_number" property="documentNumber" jdbcType="VARCHAR"/>
        <result column="financial_date" property="financialDate" jdbcType="DATE"/>
        <result column="start_date" property="startDate" jdbcType="DATE"/>
        <result column="end_date" property="endDate" jdbcType="DATE"/>
        <result column="currency_desc" property="currencyDesc" jdbcType="VARCHAR"/>
        <result column="redeemed_amount" property="redeemedAmount" jdbcType="DECIMAL"/>
        <result column="annual_rate" property="annualRate" jdbcType="VARCHAR"/>
        <result column="financial_amount" property="financialAmount" jdbcType="DECIMAL"/>
        <result column="finance_purchase_id" property="financePurchaseId" jdbcType="DECIMAL"/>
        <result column="is_limited" property="isLimited" jdbcType="VARCHAR"/>
        <result column="redemption_bank_account_id_n" property="redemptionBankAccountIdN" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.inv.dto.HlsCusFinanceRedeem" resultMap="BaseResultMap">
        SELECT
        cb.bank_name,
        cba.bank_account_num as redemption_bank_account_num,
        cba.bank_account_name as redemption_bank_account_name,
        ifd.document_number,
        ifd.financial_date,
        ifd.start_date,
        ifd.end_date,
        ifp.is_limited,
        (SELECT meaning
        from sys_code_value_b_v
        where code = 'SYS.YES_NO'
        and code_value = ifp.is_limited) AS is_limited_n,
        fc.currency_name as currency_desc,
        ifp.redeemed_amount,
        ifp.annual_rate,
        fou.unit_name as redemption_unit_name,
        su.description as redemption_user_name,
        ifr.*
        from inv_finance_redeem ifr,
        inv_finance_detail ifd,
        inv_finance_purchase ifp,
        fnd_org_unit fou,
        csh_bank cb,
        csh_bank_account cba,
        fnd_currency fc,
        sys_user su
        <where>
            ifr.purchase_id=ifd.inv_finance_detail_id
            and ifd.data_class in ('NEW_PURCHASE','ADD_PURCHASE')
            and ifp.finance_purchase_id=ifd.document_id
            and cb.bank_id=cba.bank_id
            and fou.unit_id=ifr.redemption_unit
            and su.user_id = ifr.redemption_user_id
            and ifr.redemption_bank_account_id=cba.bank_account_id
            and fc.currency_code=ifp.currency
            <if test="financeRedeemId != null">
                and ifr.finance_redeem_id = #{financeRedeemId}
            </if>
            <if test="purchaseId != null">
                and ifr.purchase_id = #{purchaseId}
            </if>
            <if test="redemptionCompanyId != null">
                and ifr.redemption_company_id = #{redemptionCompanyId}
            </if>
            <if test="redemptionStatus != null">
                and ifr.redemption_status = #{redemptionStatus}
            </if>
        </where>
    </select>

    <select id="checkRedeemNewOrReturn" parameterType="com.hand.hls.inv.dto.HlsCusFinanceRedeem" resultMap="BaseResultMap">
        SELECT ifr.* FROM inv_finance_redeem ifr
        <where>
            (ifr.redemption_status='NEW' OR ifr.redemption_status='APPROVED_RETURN' OR ifr.redemption_status = 'APPROVING'
            OR ifr.redemption_status = 'PENDING')
            <if test="purchaseId != null">
                AND ifr.purchase_id = #{purchaseId}
            </if>
        </where>

    </select>


    <!--查询赎回明细-->
    <select id="queryRedeemDetail" parameterType="com.hand.hls.inv.dto.HlsCusFinanceRedeem" resultMap="BaseResultMap">
        SELECT ifr.*,
        ifd.document_number,
        ifd.financial_date,
        ifd.start_date,
        ifd.end_date,
        ifd.financial_amount,
        ifp.is_limited,
        (SELECT meaning
        from sys_code_value_b_v
        where code = 'SYS.YES_NO'
        and code_value = ifp.is_limited) AS is_limited_n,
        fc.currency_name as currency_desc,
        (select cb.bank_name from csh_bank cb,csh_bank_account cba
        where cb.bank_id=cba.bank_id
        and ifr.redemption_bank_account_id=cba.bank_account_id) redemption_bank_account_id_n,
        (select cba.bank_account_num from csh_bank_account cba
        where ifr.redemption_bank_account_id=cba.bank_account_id)as redemption_bank_account_num,
        (select cba.bank_account_name from csh_bank_account cba
        where ifr.redemption_bank_account_id=cba.bank_account_id)as redemption_bank_account_name,
        (select s.description from sys_user s where s.user_id = ifr.redemption_user_id) as redemption_user_name,
        (select fou.unit_name from fnd_org_unit fou where fou.unit_id=ifr.redemption_unit) as redemption_unit_name
        FROM inv_finance_redeem  ifr,
        inv_finance_detail   ifd,
        inv_finance_purchase ifp,
        fnd_currency fc
        <where>
        ifp.finance_purchase_id = ifd.document_id
        AND ifr.purchase_id = ifd.inv_finance_detail_id
        and fc.currency_code=ifp.currency
        and ifr.purchase_id = #{purchaseId}

            <if test="financeRedeemId != null">
                and ifr.finance_redeem_id = #{financeRedeemId}
            </if>

        </where>

        <!--       SELECT
               cb.bank_name,
               cba.bank_account_num as redemption_bank_account_num,
               cba.bank_account_name as redemption_bank_account_name,
               ifd.document_number,
               ifd.financial_date,
               ifd.start_date,
               ifd.end_date,
               ifd.financial_amount,
               ifp.is_limited,
               fc.currency_name as currency_desc,
               ifp.redeemed_amount,
               ifp.annual_rate,
               fou.unit_name as redemptionUnitName,
               su.description as redemption_user_name,
               ifr.*
               from inv_finance_redeem ifr,
               inv_finance_detail ifd,
               inv_finance_purchase ifp,
               fnd_org_unit fou,
               csh_bank cb,
               csh_bank_account cba,
               fnd_currency fc,
               sys_user su
               <where>
                   ifr.purchase_id=ifd.inv_finance_detail_id
                   and ifd.data_class in ('NEW_PURCHASE','ADD_PURCHASE')
                   and ifp.finance_purchase_id=ifd.document_id
                   and cb.bank_id=cba.bank_id
                   and fou.unit_id=ifr.redemption_unit
                   and su.user_id = ifr.redemption_user_id
                   and ifr.redemption_bank_account_id=cba.bank_account_id
                   and fc.currency_code=ifp.currency
                   <if test="financeRedeemId != null">
                       and ifr.finance_redeem_id = #{financeRedeemId}
                   </if>
                   <if test="purchaseId != null">
                       and ifr.purchase_id = #{purchaseId}
                   </if>
                   <if test="redemptionCompanyId != null">
                       and ifr.redemption_company_id = #{redemptionCompanyId}
                   </if>
                   <if test="redemptionStatus != null">
                       and ifr.redemption_status = #{redemptionStatus}
                   </if>
               </where>-->
    </select>


</mapper>