<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.inv.mapper.HlsCusFinancePurchaseDetailIdBakMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.inv.dto.HlsCusFinancePurchaseDetailIdBak">
        <result column="bak_id" property="bakId" jdbcType="DECIMAL"/>
        <result column="finance_purchase_id" property="financePurchaseId" jdbcType="DECIMAL"/>
        <result column="detail_id" property="detailId" jdbcType="DECIMAL"/>
        <result column="invalid_bak" property="invalidBak" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryAll" resultMap="BaseResultMap" parameterType="com.hand.hls.inv.dto.HlsCusFinancePurchaseDetailIdBak">
        SELECT ifpd.*
        FROM
        inv_finance_purchase_detail_id_bak ifpd
        <where>
            1=1
            <if test="bakId!=null">
                AND ifpd.bak_id = #{bakId}
            </if>
            <if test="financePurchaseId!=null">
                AND ifpd.finance_purchase_id = #{financePurchaseId}
            </if>
            <if test="detailId!=null">
                AND ifpd.detail_id = #{detailId}
            </if>
            <if test="invalidBak!=null">
                AND ifpd.invalid_bak = #{invalidBak}
            </if>
        </where>
        ORDER BY ifpd.bak_id DESC
    </select>

    <update id="updateDetailId" parameterType="com.hand.hls.inv.dto.HlsCusFinancePurchaseDetailIdBak">
        update inv_finance_purchase_detail_id_bak ifpd SET
        ifpd.invalid_bak = #{invalidBak}
        <where>
            <if test="financePurchaseId!=null">
                AND ifpd.finance_purchase_id = #{financePurchaseId}
            </if>
            <if test="detailId!=null">
                AND ifpd.detail_id = #{detailId}
            </if>
        </where>
    </update>

</mapper>