<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.inv.mapper.HlsCusInvIssueInfoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.inv.dto.HlsCusInvIssueInfo">
        <result column="ISSUE_INFO_ID" property="issueInfoId" jdbcType="DECIMAL" />
        <result column="SEQ_NUMBER" property="seqNumber" jdbcType="DECIMAL" />
        <result column="ISSUE_NAME" property="issueName" jdbcType="VARCHAR" />
        <result column="ISSUE_NUMBER" property="issueNumber" jdbcType="VARCHAR" />
        <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR"/>
        <result column="REGISTE_AMOUNT" property="registeAmount" jdbcType="DECIMAL" />
        <result column="ISSUE_START_DATE" property="issueStartDate" jdbcType="DATE" />
        <result column="ISSUE_END_DATE" property="issueEndDate" jdbcType="DATE" />
        <result column="ISSUE_TERM" property="issueTerm" jdbcType="DECIMAL" />
        <result column="ISSUE_TYPE" property="issueType" jdbcType="VARCHAR" />
        <result column="ISSUE_FIRST_DATE" property="issueFirstDate" jdbcType="DATE" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>


</mapper>