<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.inv.mapper.HlsCusFinancePurchaseBakMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.inv.dto.HlsCusFinancePurchaseBak">
        <result column="purchase_bak_id" property="purchaseBakId" jdbcType="DECIMAL" />
        <result column="finance_purchase_id" property="financePurchaseId" jdbcType="DECIMAL" />
        <result column="company_id" property="companyId" jdbcType="DECIMAL" />
        <result column="document_type" property="documentType" jdbcType="VARCHAR" />
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR" />
        <result column="business_type" property="businessType" jdbcType="VARCHAR" />
        <result column="bank_account_id" property="bankAccountId" jdbcType="DECIMAL" />
        <result column="Issuing_agency" property="issuingAgency" jdbcType="VARCHAR" />
        <result column="purchase_number" property="purchaseNumber" jdbcType="VARCHAR" />
        <result column="purchase_applicant" property="purchaseApplicant" jdbcType="DECIMAL" />
        <result column="investment_amount" property="investmentAmount" jdbcType="DECIMAL" />
        <result column="currency" property="currency" jdbcType="VARCHAR" />
        <result column="financial_type" property="financialType" jdbcType="VARCHAR" />
        <result column="financial_category" property="financialCategory" jdbcType="VARCHAR" />
        <result column="annual_rate" property="annualRate" jdbcType="DECIMAL" />
        <result column="value_date" property="valueDate" jdbcType="DATE" />
        <result column="expected_due_date" property="expectedDueDate" jdbcType="DATE" />
        <result column="new_or_add" property="newOrAdd" jdbcType="VARCHAR" />
        <result column="financial_product_name" property="financialProductName" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="purchase_status" property="purchaseStatus" jdbcType="VARCHAR" />
        <result column="purchase_date" property="purchaseDate" jdbcType="DATE" />
        <result column="all_approved" property="allApproved" jdbcType="VARCHAR" />
        <result column="parent_purchase_id" property="parentPurchaseId" jdbcType="DECIMAL" />
        <result column="detail_date_id" property="detailDateId" jdbcType="DECIMAL" />
        <result column="amount_before_change" property="amountBeforeChange" jdbcType="DECIMAL" />
        <result column="amount_after_change" property="amountAfterChange" jdbcType="DECIMAL" />
        <result column="update_method" property="updateMethod" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="change_message" property="changeMessage" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.inv.dto.HlsCusFinancePurchaseBak" resultMap="BaseResultMap" >
        SELECT ifpb.* FROM inv_finance_purchase_bak ifpb
        <where>
            1=1
            <if test="purchaseBakId!=null">
                AND ifpb.purchase_bak_id = #{purchaseBakId}
            </if>
            <if test="financePurchaseId!=null">
                AND ifpb.finance_purchase_id = #{financePurchaseId}
            </if>
            <if test="parentPurchaseId!=null">
                AND ifpb.parent_purchase_id = #{parentPurchaseId}
            </if>
            <if test="newOrAdd!=null">
                AND ifpb.new_or_add = #{newOrAdd}
            </if>
            <if test="updateMethod!=null">
                AND ifpb.update_method = #{updateMethod}
            </if>
            <if test="status!=null">
                AND ifpb.status = #{status}
            </if>

        </where>

    </select>

</mapper>