<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.gld.mapper.GldCusConContractMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.cont.dto.HlsCusConContract">
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="change_req_id" property="changeReqId" jdbcType="DECIMAL"/>
        <result column="quotation_id" property="quotationId" jdbcType="DECIMAL"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="contract_status" property="contractStatus" jdbcType="VARCHAR"/>
        <result column="lease_channel" property="leaseChannel" jdbcType="VARCHAR"/>
        <result column="bp_account_id" property="bpAccountId" jdbcType="DECIMAL"/>
        <result column="division" property="division" jdbcType="VARCHAR"/>
        <result column="authority_rule_string" property="authorityRuleString" jdbcType="VARCHAR"/>
        <result column="sign_date" property="signDate" jdbcType="DATE"/>
        <result column="inception_of_lease" property="inceptionOfLease" jdbcType="DATE"/>
        <result column="employee_id" property="employeeId" jdbcType="DECIMAL"/>
        <result column="unit_id" property="unitId" jdbcType="DECIMAL"/>
        <result column="price_list" property="priceList" jdbcType="VARCHAR"/>
        <result column="renting_frequency" property="rentingFrequency" jdbcType="VARCHAR"/>
        <result column="lease_start_date" property="leaseStartDate" jdbcType="DATE"/>
        <result column="first_pay_date" property="firstPayDate" jdbcType="DATE"/>
        <result column="last_pay_date" property="lastPayDate" jdbcType="DATE"/>
        <result column="lease_end_date" property="leaseEndDate" jdbcType="DATE"/>
        <result column="original_recall_date" property="originalRecallDate" jdbcType="DATE"/>
        <result column="lease_card_recall_date" property="leaseCardRecallDate" jdbcType="DATE"/>
        <result column="early_termination_date" property="earlyTerminationDate" jdbcType="DATE"/>
        <result column="con_termination_money" property="conTerminationMoney" jdbcType="DECIMAL"/>
        <result column="termination_date" property="terminationDate" jdbcType="DATE"/>
        <result column="assignment_date" property="assignmentDate" jdbcType="DATE"/>
        <result column="lease_times" property="leaseTimes" jdbcType="DECIMAL"/>
        <result column="annual_pay_times" property="annualPayTimes" jdbcType="DECIMAL"/>
        <result column="lease_term" property="leaseTerm" jdbcType="DECIMAL"/>
        <result column="pay_type" property="payType" jdbcType="DECIMAL"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="tax_type_id" property="taxTypeId" jdbcType="DECIMAL"/>
        <result column="vat_flag" property="vatFlag" jdbcType="VARCHAR"/>
        <result column="vat_rate" property="vatRate" jdbcType="DECIMAL"/>
        <result column="lease_item_amount" property="leaseItemAmount" jdbcType="DECIMAL"/>
        <result column="vat_input" property="vatInput" jdbcType="DECIMAL"/>
        <result column="vat_input_tax_type_id" property="vatInputTaxTypeId" jdbcType="DECIMAL"/>
        <result column="vat_input_tax_type_rate" property="vatInputTaxTypeRate" jdbcType="DECIMAL"/>
        <result column="down_payment_ratio" property="downPaymentRatio" jdbcType="DECIMAL"/>
        <result column="down_payment" property="downPayment" jdbcType="DECIMAL"/>
        <result column="net_down_payment" property="netDownPayment" jdbcType="DECIMAL"/>
        <result column="vat_down_payment" property="vatDownPayment" jdbcType="DECIMAL"/>
        <result column="finance_amount" property="financeAmount" jdbcType="DECIMAL"/>
        <result column="net_finance_amount" property="netFinanceAmount" jdbcType="DECIMAL"/>
        <result column="vat_finance_amount" property="vatFinanceAmount" jdbcType="DECIMAL"/>
        <result column="total_rental" property="totalRental" jdbcType="DECIMAL"/>
        <result column="net_total_rental" property="netTotalRental" jdbcType="DECIMAL"/>
        <result column="vat_total_rental" property="vatTotalRental" jdbcType="DECIMAL"/>
        <result column="total_interest" property="totalInterest" jdbcType="DECIMAL"/>
        <result column="net_total_interest" property="netTotalInterest" jdbcType="DECIMAL"/>
        <result column="vat_total_interest" property="vatTotalInterest" jdbcType="DECIMAL"/>
        <result column="lease_charge_ratio" property="leaseChargeRatio" jdbcType="DECIMAL"/>
        <result column="lease_charge" property="leaseCharge" jdbcType="DECIMAL"/>
        <result column="net_lease_charge" property="netLeaseCharge" jdbcType="DECIMAL"/>
        <result column="vat_lease_charge" property="vatLeaseCharge" jdbcType="DECIMAL"/>
        <result column="lease_mgt_fee_ratio" property="leaseMgtFeeRatio" jdbcType="DECIMAL"/>
        <result column="lease_mgt_fee" property="leaseMgtFee" jdbcType="DECIMAL"/>
        <result column="net_lease_mgt_fee" property="netLeaseMgtFee" jdbcType="DECIMAL"/>
        <result column="vat_lease_mgt_fee" property="vatLeaseMgtFee" jdbcType="DECIMAL"/>
        <result column="lease_mgt_fee_rule" property="leaseMgtFeeRule" jdbcType="VARCHAR"/>
        <result column="deposit_ratio" property="depositRatio" jdbcType="DECIMAL"/>
        <result column="deposit" property="deposit" jdbcType="DECIMAL"/>
        <result column="deposit_deduction" property="depositDeduction" jdbcType="VARCHAR"/>
        <result column="residual_ratio" property="residualRatio" jdbcType="DECIMAL"/>
        <result column="residual_value" property="residualValue" jdbcType="DECIMAL"/>
        <result column="net_residual_value" property="netResidualValue" jdbcType="DECIMAL"/>
        <result column="vat_residual_value" property="vatResidualValue" jdbcType="DECIMAL"/>
        <result column="balloon_ratio" property="balloonRatio" jdbcType="DECIMAL"/>
        <result column="balloon" property="balloon" jdbcType="DECIMAL"/>
        <result column="net_balloon" property="netBalloon" jdbcType="DECIMAL"/>
        <result column="vat_balloon" property="vatBalloon" jdbcType="DECIMAL"/>
        <result column="base_rate_type" property="baseRateType" jdbcType="VARCHAR"/>
        <result column="base_rate" property="baseRate" jdbcType="DECIMAL"/>
        <result column="int_rate" property="intRate" jdbcType="DECIMAL"/>
        <result column="int_rate_implicit" property="intRateImplicit" jdbcType="DECIMAL"/>
        <result column="int_rate_type" property="intRateType" jdbcType="VARCHAR"/>
        <result column="irr" property="irr" jdbcType="DECIMAL"/>
        <result column="irr_after_tax" property="irrAfterTax" jdbcType="DECIMAL"/>
        <result column="pmt" property="pmt" jdbcType="DECIMAL"/>
        <result column="pmt_first" property="pmtFirst" jdbcType="DECIMAL"/>
        <result column="annual_mean_rate" property="annualMeanRate" jdbcType="DECIMAL"/>
        <result column="received_status" property="receivedStatus" jdbcType="VARCHAR"/>
        <result column="overdue_status" property="overdueStatus" jdbcType="VARCHAR"/>
        <result column="billing_method" property="billingMethod" jdbcType="VARCHAR"/>
        <result column="billing_status" property="billingStatus" jdbcType="VARCHAR"/>
        <result column="biz_day_convention" property="bizDayConvention" jdbcType="VARCHAR"/>
        <result column="billing_profile" property="billingProfile" jdbcType="VARCHAR"/>
        <result column="penalty_profile" property="penaltyProfile" jdbcType="VARCHAR"/>
        <result column="floating_way" property="floatingWay" jdbcType="VARCHAR"/>
        <result column="floating_way_rate" property="floatingWayRate" jdbcType="DECIMAL"/>
        <result column="floating_range_method" property="floatingRangeMethod" jdbcType="VARCHAR"/>
        <result column="contract_amount" property="contractAmount" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="penalty_rate" property="penaltyRate" jdbcType="DECIMAL"/>
        <result column="inspect_frenquency" property="inspectFrenquency" jdbcType="VARCHAR"/>
        <result column="prepayment_method" property="prepaymentMethod" jdbcType="VARCHAR"/>
        <result column="is_insure" property="isInsure" jdbcType="VARCHAR"/>
        <result column="write_off_able_flag" property="writeOffAbleFlag" jdbcType="VARCHAR"/>
        <result column="return_account" property="returnAccount" jdbcType="DECIMAL"/>
        <result column="data_class" property="dataClass" jdbcType="VARCHAR"/>
        <result column="ref_contract_id" property="refContractId" jdbcType="DECIMAL"/>
        <result column="history_reason" property="historyReason" jdbcType="VARCHAR"/>
        <result column="abs_show_flag" property="absShowFlag" jdbcType="VARCHAR"/>
        <result column="tax_type_code" property="taxTypeCode" jdbcType="VARCHAR"/>
        <result column="day_end_date" property="dayEndDate" jdbcType="DATE"/>
    </resultMap>

    <select id="queryConContractByKey" resultMap="BaseResultMap" parameterType="com.hand.hls.cont.dto.HlsCusConContract">
      select t1.*  from (
        select *
          from con_contract cc
         where cc.contract_id = #{contractId}
      ) t1
    </select>
</mapper>
