<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.gld.mapper.GldCostAccountAdjustMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.gld.dto.GldCostAccountAdjust">
        <id column="ADJUST_ID" property="adjustId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="DEPOSIT_ACCOUNT" property="depositAccount" jdbcType="VARCHAR" />
        <result column="RISK_ACCOUNT" property="riskAccount" jdbcType="VARCHAR" />
        <result column="POUNDAGE_ACCOUNT" property="poundageAccount" jdbcType="VARCHAR" />
        <result column="CONSULTING_ACCOUNT" property="consultingAccount" jdbcType="VARCHAR" />
        <result column="ASSET_ACCOUNT" property="assetAccount" jdbcType="VARCHAR" />

        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
        <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
        <result column="contract_id_n" property="contractIdN" jdbcType="VARCHAR" />
        <result column="deposit_account_n" property="depositAccountN" jdbcType="VARCHAR" />
        <result column="risk_account_n" property="riskAccountN" jdbcType="VARCHAR" />
        <result column="poundage_account_n" property="poundageAccountN" jdbcType="VARCHAR" />
        <result column="consulting_account_n" property="consultingAccountN" jdbcType="VARCHAR" />
        <result column="asset_account_n" property="assetAccountN" jdbcType="VARCHAR" />
    </resultMap>
    <select id="gldCostAccountAdjustQuery" parameterType="com.hand.hls.gld.dto.GldCostAccountAdjust" resultMap="BaseResultMap">
       select t1.*,t1.contract_number as contract_id_n from(
        select
            t.*,
            (select cc.contract_number from con_contract cc where cc.contract_id = t.contract_id) contract_number,
            (select cc.contract_name from con_contract cc where cc.contract_id = t.contract_id) contract_name,
            (select a.account_name from gld_account a where a.account_id = t.deposit_account) deposit_account_n,
            (select a.account_name from gld_account a where a.account_id = t.risk_account) risk_account_n,
            (select a.account_name from gld_account a where a.account_id = t.poundage_account) poundage_account_n,
            (select a.account_name from gld_account a where a.account_id = t.consulting_account) consulting_account_n,
            (select a.account_name from gld_account a where a.account_id = t.asset_account) asset_account_n
        from  gld_cost_account_adjust t) t1
        <where>
            <if test="contractNumber!=null">
                <bind name="contractNumber" value="'%'+contractNumber+'%'"/>
                and t1.contract_number like #{contractNumber}
            </if>
            <if test="contractName!=null">
                <bind name="contractName" value="'%'+contractName+'%'"/>
                and t1.contract_name like #{contractName}
            </if>
        </where>

    </select>


</mapper>