<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.gld.mapper.GldFinanceIncomeDayMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.gld.dto.GldFinanceIncomeDay">
        <result column="FINANCE_INCOME_DAY_ID" property="financeIncomeDayId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="CASHFLOW_ID" property="cashflowId" jdbcType="DECIMAL" />
        <result column="CF_ITEM" property="cfItem" jdbcType="DECIMAL" />
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR" />
        <result column="AMORTIZATION_DATE" property="amortizationDate" jdbcType="DATE" />
        <result column="PRE_AMORTIZATION_AMOUNT" property="preAmortizationAmount" jdbcType="DECIMAL" />
        <result column="ADJUSTMENT_AMOUNT" property="adjustmentAmount" jdbcType="DECIMAL" />
        <result column="AMORTIZATION_AMOUNT" property="amortizationAmount" jdbcType="DECIMAL" />


        <result column="contract_number" property="contractNumber"/>
        <result column="contract_name" property="contractName"/>
        <result column="bp_name" property="bpName"/>
        <result column="vat_rate" property="vatRate"/>
        <result column="net_cf_item10" property="netCfItem10"/>
        <result column="vat_cf_item10" property="vatCfItem10"/>
        <result column="due_cf_item10" property="dueCfItem10"/>
        <result column="net_cf_item1" property="netCfItem1"/>
        <result column="vat_cf_item1" property="vatCfItem1"/>
        <result column="due_cf_item1" property="dueCfItem1"/>
        <result column="net_cf_item3" property="netCfItem3"/>
        <result column="vat_cf_item3" property="vatCfItem3"/>
        <result column="due_cf_item3" property="dueCfItem3"/>
        <result column="net_cf_item65" property="netCfItem65"/>
        <result column="vat_cf_item65" property="vatCfItem65"/>
        <result column="due_cf_item65" property="dueCfItem65"/>

        <result column="due_cf_item501" property="dueCfItem501"/>
        <result column="vat_cf_item501" property="vatCfItem501"/>
        <result column="net_cf_item501" property="netCfItem501"/>

        <result column="due_cf_item69" property="dueCfItem69"/>
        <result column="vat_cf_item69" property="vatCfItem69"/>
        <result column="net_cf_item69" property="netCfItem69"/>
        <result column="payment_number" property="paymentNumber"/>
        <result column="pre_lease_interest_flag" property="preLeaseInterestFlag"/>



    </resultMap>

    <select id="reportQuery" resultMap="BaseResultMap" parameterType="com.hand.hls.gld.dto.GldFinanceIncomeDay">
        SELECT t1.*,
               round((t1.net_cf_item10 * (1 + t1.vat_rate)), 2) due_cf_item10,
               (round((t1.net_cf_item10 * (1 + t1.vat_rate)), 2) -
                t1.net_cf_item10) vat_cf_item10,

               round((t1.net_cf_item1 * (1 + t1.vat_rate)), 2) due_cf_item1,
               (round((t1.net_cf_item1 * (1 + t1.vat_rate)), 2) - t1.net_cf_item1) vat_cf_item1,

               round((t1.net_cf_item3 * (1 + t1.vat_rate)), 2) due_cf_item3,
               (round((t1.net_cf_item3 * (1 + t1.vat_rate)), 2) - t1.net_cf_item3) vat_cf_item3,

               round((t1.net_cf_item65 * (1 + t1.vat_rate)), 2) due_cf_item65,
               (round((t1.net_cf_item65 * (1 + t1.vat_rate)), 2) - t1.net_cf_item65) vat_cf_item65,

               round((t1.net_cf_item501 * (1 + t1.vat_rate)), 2) due_cf_item501,
               (round((t1.net_cf_item501 * (1 + t1.vat_rate)), 2) - t1.net_cf_item501) vat_cf_item501,

               round((t1.net_cf_item69 * (1 + t1.vat_rate)), 2) due_cf_item69,
               (round((t1.net_cf_item69 * (1 + t1.vat_rate)), 2) - t1.net_cf_item69) vat_cf_item69



        FROM (SELECT (select p.contract_number from con_contract c,prj_project p
        where c.project_id = p.project_id
        and c.contract_id = t.contract_id) contract_number,
        (SELECT c.contract_number
        FROM con_contract c
        WHERE c.contract_id = t.contract_id) payment_number,
                     (SELECT c.contract_name
                      FROM con_contract c
                      WHERE c.contract_id = t.contract_id) contract_name,
                     (SELECT m.bp_name
                      FROM con_contract c, hls_bp_master m
                      WHERE c.contract_id = t.contract_id
                        AND c.tenant_id = m.bp_id) bp_name,
                     t.period_name,
                     t.amortization_date,
                     (SELECT c.vat_rate
                      FROM con_contract c
                      WHERE c.contract_id = t.contract_id) vat_rate,
                     (SELECT SUM(tt.amortization_amount)
                      FROM gld_finance_income_day tt
                      WHERE tt.amortization_date = t.amortization_date
                        AND tt.contract_id = t.contract_id
                        AND tt.cf_item = 10) net_cf_item10,
                     (SELECT SUM(tt.amortization_amount)
                      FROM gld_finance_income_day tt
                      WHERE tt.amortization_date = t.amortization_date
                        AND tt.contract_id = t.contract_id
                        AND tt.cf_item = 1) net_cf_item1,
                     (SELECT SUM(tt.amortization_amount)
                      FROM gld_finance_income_day tt
                      WHERE tt.amortization_date = t.amortization_date
                        AND tt.contract_id = t.contract_id
                        AND tt.cf_item = 3) net_cf_item3,
                     (SELECT SUM(tt.amortization_amount)
                      FROM gld_finance_income_day tt
                      WHERE tt.amortization_date = t.amortization_date
                        AND tt.contract_id = t.contract_id
                        AND tt.cf_item = 65) net_cf_item65,

                    (SELECT SUM(tt.amortization_amount)
                        FROM gld_finance_income_day tt
                        WHERE tt.amortization_date = t.amortization_date
                        AND tt.contract_id = t.contract_id
                        AND tt.cf_item = 501) net_cf_item501,

                    (SELECT SUM(tt.amortization_amount)
                        FROM gld_finance_income_day tt
                        WHERE tt.amortization_date = t.amortization_date
                        AND tt.contract_id = t.contract_id
                        AND tt.cf_item = 69) net_cf_item69

              FROM gld_finance_income_day t
              GROUP BY t.contract_id, t.amortization_date, t.period_name) t1
        <where>
            1=1
            <if test="amortizationDateFrom!=null">
                AND t1.amortization_date &gt;= #{amortizationDateFrom}
            </if>
            <if test="amortizationDateTo!=null">
                AND t1.amortization_date &lt;= #{amortizationDateTo}
            </if>
            <if test="periodName!=null">
                AND t1.period_name = #{periodName}
            </if>
            <if test="contractNumber!=null">
                <bind name="contractNumber" value="'%'+contractNumber+'%'"/>
                and t1.contract_number like #{contractNumber}
            </if>
            <if test="contractName!=null">
                <bind name="contractName" value="'%'+contractName+'%'"/>
                and t1.contract_name like #{contractName}
            </if>
            <if test="bpName!=null">
                <bind name="bpName" value="'%'+bpName+'%'"/>
                and t1.bp_name like #{bpName}
            </if>
        </where>
        order by t1.contract_number,t1.amortization_date
    </select>

    <select id="queryPreLeaseInterestByContractId" parameterType="com.hand.hls.prj.dto.HlsCusPrjProject" resultMap="BaseResultMap">
        select t.* from gld_finance_income_day t
        <where>
            1=1
            and t.contract_id = #{contractId}
            and (t.cf_item = 1 or t.cf_item = 10)
            and t.amortization_date &lt; #{leaseAccountDate}
        </where>
    </select>

    <delete id="deleteGldFinanceIncomeDayInterest">
        delete from gld_finance_income_day t
        WHERE t.contract_id = #{contractId} and t.cf_item in (1,10)
    </delete>

    <delete id="deleteGldFinanceIncomeDayCost">
        delete from gld_finance_income_day t
        WHERE t.contract_id = #{contractId} and t.cf_item = #{cfItem}
    </delete>


    <insert id="insertGldFinanceIncomeDayBatch" parameterType="java.util.List">
        insert into gld_finance_income_day (
        finance_income_day_id,
        company_id,
        contract_id,
        cashflow_id,
        cf_item,
        period_name,
        amortization_date,
        pre_amortization_amount,
        adjustment_amount,
        amortization_amount,
        object_version_number,
        request_id,
        program_id,
        created_by,
        creation_date,
        last_updated_by,
        last_update_date,
        last_update_login
        )
        SELECT gld_finance_income_day_s.nextval id,
        t.* FROM (
        <foreach collection="list" item="item" index="index" separator="union all">
         SELECT
            #{item.companyId} company_id,
            #{item.contractId} contract_id,
            #{item.cashflowId} cashflow_id,
            #{item.cfItem} cf_item,
            #{item.periodName} period_name,
            #{item.amortizationDate} amortization_date,
            #{item.preAmortizationAmount} pre_amortization_amount,
            #{item.adjustmentAmount} adjustment_amount,
            #{item.amortizationAmount} amortization_amount,
            1 object_version_number,
            1 request_id,
            1 program_id,
            1 created_by,
            sysdate creation_date,
            1 last_updated_by,
            sysdate last_update_date,
            1 last_update_login from dual
        </foreach>
        )t
    </insert>
</mapper>