<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.gld.mapper.HlsCusContractFinanceIncomeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.gld.dto.HlsCusContractFinanceIncome">
        <result column="FINANCE_INCOME_ID" property="financeIncomeId" jdbcType="DECIMAL"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL"/>
        <result column="GLD_CASHFLOW_ID" property="gldCashflowId" jdbcType="DECIMAL"/>
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR"/>
        <result column="START_DATE" property="startDate" jdbcType="DATE"/>
        <result column="END_DATE" property="endDate" jdbcType="DATE"/>
        <result column="DAYS" property="days" jdbcType="DECIMAL"/>
        <result column="FINANCE_INCOME" property="financeIncome" jdbcType="DECIMAL"/>
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR"/>
        <result column="SOURCE_ID" property="sourceId" jdbcType="DECIMAL"/>
        <result column="POST_FLAG" property="postFlag" jdbcType="VARCHAR"/>
        <result column="FINANCE_INCOME_INCLUD" property="financeIncomeInclud" jdbcType="DECIMAL"/>
        <result column="FINANCE_INCOME_VAT" property="financeIncomeVat" jdbcType="DECIMAL"/>
        <result column="cf_item" property="cfItem" jdbcType="DECIMAL"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="post_flag_n" property="postFlagN" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryConContractFinIncomeJc" resultMap="BaseResultMap" parameterType="com.hand.hls.gld.dto.HlsCusContractFinanceIncome">
        select * from (SELECT
        fc.period_name,
        cc.contract_name,
        cc.contract_number,
        fc.cf_item,
        fc.finance_income,
        fc.start_date,
        fc.end_date,
        fc.post_flag,
        (
        SELECT
        tt.meaning
        FROM
        sys_code_value_b_v tt
        WHERE
        tt.CODE = 'cld.post_flag'
        AND tt.code_value = nvl( fc.post_flag, 'n' )
        ) post_flag_n
        FROM
        gld_contract_finance_income fc,
        con_contract cc
        WHERE
        cc.contract_id = fc.contract_id) tab
        <where>
            1=1
            <if test="contractNumber!=null">
                and  tab.contract_number like concat('%', concat(#{contractNumber,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="postFlag!=null">
                and  tab.post_flag = #{postFlag}
            </if>
            <if test="periodName!=null">
                and  tab.period_name = #{periodName}
            </if>
        </where>
    </select>

</mapper>