<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.gld.mapper.HlsCusAccountMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.gld.dto.HlsCusAccount">
        <result column="ACCOUNT_SET_ID" property="accountSetId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_ID" property="accountId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_CODE" property="accountCode" jdbcType="VARCHAR" />
        <result column="ACCOUNT_NAME" property="accountName" jdbcType="VARCHAR" />
        <result column="ACCOUNT_TYPE" property="accountType" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="SUMMARY_FLAG" property="summaryFlag" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SET_ID" property="accountSetId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_ID" property="accountId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_CODE" property="accountCode" jdbcType="VARCHAR" />
        <result column="ACCOUNT_NAME" property="accountName" jdbcType="VARCHAR" />
        <result column="ACCOUNT_TYPE" property="accountType" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="SUMMARY_FLAG" property="summaryFlag" jdbcType="VARCHAR" />
        <result column="ASSIST_TYPE1" property="assistType1" jdbcType="VARCHAR" />
        <result column="ASSIST_TYPE2" property="assistType2" jdbcType="VARCHAR" />
        <result column="ASSIST_TYPE3" property="assistType3" jdbcType="VARCHAR" />
        <result column="ASSIST_TYPE4" property="assistType4" jdbcType="VARCHAR" />
        <result column="ASSIST_TYPE1_N" property="assistType1N" jdbcType="VARCHAR" />
        <result column="ASSIST_TYPE2_N" property="assistType2N" jdbcType="VARCHAR" />
        <result column="ASSIST_TYPE3_N" property="assistType3N" jdbcType="VARCHAR" />
        <result column="ASSIST_TYPE4_N" property="assistType4N" jdbcType="VARCHAR" />
        <result column="borrowing_direction" property="borrowingDirection" jdbcType="VARCHAR" />
        <result column="borrowing_direction_n" property="borrowingDirectionN" jdbcType="VARCHAR" />
        <result column="cashflow_item" property="cashflowItem" jdbcType="VARCHAR" />

    </resultMap>

    <select id="queryAccountCode"  resultMap="BaseResultMap">
        SELECT ga.*
        FROM
        gld_account ga
        <where>
            ENABLED_FLAG = 'Y'
        </where>
        ORDER BY ga.ACCOUNT_CODE ASC

    </select>
    <select id="queryModify" parameterType="com.hand.hls.gld.dto.HlsCusAccount"  resultMap="BaseResultMap">
        SELECT ga.*,

        (select v.MEANING
        from sys_code_value_b_v v
        where v.CODE = 'GLD.JE_SEGMENT_TYPE'
        and v.code_value = ga.assist_type1)assist_type1_n,
        (select v.MEANING
        from sys_code_value_b_v v
        where v.CODE = 'GLD.JE_SEGMENT_TYPE'
        and v.code_value = ga.assist_type2)assist_type2_n,
        (select v.MEANING
        from sys_code_value_b_v v
        where v.CODE = 'GLD.JE_SEGMENT_TYPE'
        and v.code_value = ga.assist_type3)assist_type3_n,
        (select v.MEANING
        from sys_code_value_b_v v
        where v.CODE = 'GLD.JE_SEGMENT_TYPE'
        and v.code_value = ga.assist_type4)assist_type4_n,
        (select v.MEANING
        from sys_code_value_b_v v
        where v.CODE = 'GLD.BORROWING_DIRECTION'
        and v.code_value = ga.borrowing_direction)borrowing_direction_n
        FROM
        gld_account ga

        <where>
            ENABLED_FLAG = 'Y'
            <if test="accountCode != null">
                and ga.ACCOUNT_CODE  like concat(concat('%',#{accountCode,jdbcType=VARCHAR}),'%')
            </if>
            <if test="accountName != null and accountName != ''">
                and ga.ACCOUNT_NAME like concat(concat('%',#{accountName,jdbcType=VARCHAR}),'%')
            </if>
        </where>
        ORDER BY ga.ACCOUNT_CODE ASC
    </select>
</mapper>