<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.gld.mapper.HlsCusFinanceIncomeHMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.gld.dto.HlsCusFinanceIncomeH">
        <result column="FINANCE_INCOME_ID" property="financeIncomeId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="GLD_CASHFLOW_ID" property="gldCashflowId" jdbcType="DECIMAL" />
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR" />
        <result column="START_DATE" property="startDate" jdbcType="DATE" />
        <result column="END_DATE" property="endDate" jdbcType="DATE" />
        <result column="DAYS" property="days" jdbcType="DECIMAL" />
        <result column="FINANCE_INCOME" property="financeIncome" jdbcType="DECIMAL" />
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR" />
        <result column="SOURCE_ID" property="sourceId" jdbcType="DECIMAL" />
        <result column="QUOTATION_ID" property="quotationId" jdbcType="DECIMAL" />
        <result column="POST_FLAG" property="postFlag" jdbcType="VARCHAR" />
        <result column="VAT_INCOME" property="vatIncome" jdbcType="DECIMAL" />
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR" />
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR" />
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR" />
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR" />
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR" />
        <result column="REF_V06" property="refV06" jdbcType="VARCHAR" />
        <result column="REF_V07" property="refV07" jdbcType="VARCHAR" />
        <result column="REF_V08" property="refV08" jdbcType="VARCHAR" />
        <result column="REF_V09" property="refV09" jdbcType="VARCHAR" />
        <result column="REF_V10" property="refV10" jdbcType="VARCHAR" />
        <result column="REF_V11" property="refV11" jdbcType="VARCHAR" />
        <result column="REF_V12" property="refV12" jdbcType="VARCHAR" />
        <result column="REF_V13" property="refV13" jdbcType="VARCHAR" />
        <result column="REF_V14" property="refV14" jdbcType="VARCHAR" />
        <result column="REF_V15" property="refV15" jdbcType="VARCHAR" />
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL" />
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL" />
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL" />
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL" />
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL" />
        <result column="REF_N06" property="refN06" jdbcType="DECIMAL" />
        <result column="REF_N07" property="refN07" jdbcType="DECIMAL" />
        <result column="REF_N08" property="refN08" jdbcType="DECIMAL" />
        <result column="REF_N09" property="refN09" jdbcType="DECIMAL" />
        <result column="REF_N10" property="refN10" jdbcType="DECIMAL" />
        <result column="REF_D01" property="refD01" jdbcType="VARCHAR" />
        <result column="REF_D02" property="refD02" jdbcType="VARCHAR" />
        <result column="REF_D03" property="refD03" jdbcType="VARCHAR" />
        <result column="REF_D04" property="refD04" jdbcType="VARCHAR" />
        <result column="REF_D05" property="refD05" jdbcType="VARCHAR" />
        <result column="REF_D06" property="refD06" jdbcType="VARCHAR" />
        <result column="REF_D07" property="refD07" jdbcType="VARCHAR" />
        <result column="REF_D08" property="refD08" jdbcType="VARCHAR" />
        <result column="REF_D09" property="refD09" jdbcType="VARCHAR" />
        <result column="REF_D10" property="refD10" jdbcType="VARCHAR" />
        <result column="CF_ITEM" property="cfItem" jdbcType="DECIMAL" />
        <result column="FINANCE_INCOME_INCLUD" property="financeIncomeInclud" jdbcType="DECIMAL" />
        <result column="FINANCE_INCOME_VAT" property="financeIncomeVat" jdbcType="DECIMAL" />
        <result column="PRE_POST_FLAG" property="prePostFlag" jdbcType="VARCHAR" />
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
        <result column="VC_CONTRACT_NUMBER" property="vcContractNumber" jdbcType="VARCHAR" />
        <result column="VC_CONTRACT_NAME" property="vcContractName" jdbcType="VARCHAR" />
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="FINANCE_AMOUNT" property="financeAmount" jdbcType="VARCHAR" />
        <result column="INCEPT_DATE" property="inceptDate" jdbcType="DATE" />
        <result column="TIMES" property="times" jdbcType="VARCHAR" />
        <result column="VAT_RATE" property="vatRate" jdbcType="VARCHAR" />
        <result column="CEASE_INTERESST_FLAG" property="ceaseInteresstFlag" jdbcType="VARCHAR" />
        <result column="AMORTIZATION_METHOD" property="amortizationMethod" jdbcType="VARCHAR" />
        <result column="COMPANY_FULL_NAME" property="companyFullName" jdbcType="VARCHAR" />
        <result column="PRE_MONTH_DATE" property="preMonthDate" jdbcType="DATE" />
        <result column="PRE_MONTH_BY" property="preMonthBy" jdbcType="DECIMAL" />
        <result column="PRE_MONTH_RECOIL_DATE" property="preMonthRecoilDate" jdbcType="DATE" />
        <result column="PRE_MONTH_RECOIL_BY" property="preMonthRecoilBy" jdbcType="DECIMAL" />
        <result column="MONTH_SETTLE_DATE" property="monthSettleDate" jdbcType="DATE" />
        <result column="MONTH_SETTLE_BY" property="monthSettleBy" jdbcType="DECIMAL" />
        <result column="OPERATION_DATE" property="operationDate" jdbcType="DATE" />
        <result column="OPERATION_BY" property="operationBy" jdbcType="DECIMAL" />
        <result column="SOURCE_FINANCE_INCOME_ID" property="sourceFinanceIncomeId" jdbcType="DECIMAL" />
        <result column="VERSION_ID" property="versionId" jdbcType="DECIMAL" />
        <result column="OPERATION" property="operation" jdbcType="VARCHAR" />
        <result column="cease_interesst_flag_n" property="ceaseInteresstFlagN" jdbcType="VARCHAR" />
        <result column="amortization_method_n" property="amortizationMethodN" jdbcType="VARCHAR" />
        <result column="pre_month_by_n" property="preMonthByN" jdbcType="VARCHAR" />
        <result column="pre_month_recoil_by_n" property="preMonthRecoilByN" jdbcType="VARCHAR" />
        <result column="month_settle_by_n" property="monthSettleByN" jdbcType="VARCHAR" />
        <result column="batch" property="batch" jdbcType="VARCHAR" />
        <result column="cf_item_n" property="cfItemN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectVersionCount" resultType="long" parameterType="com.hand.hls.gld.dto.HlsCusFinanceIncomeH">
        select nvl((select max(t.version_id)
                      from CONTRACT_FINANCE_INCOME_H t
                    where t.source_finance_income_id = #{sourceFinanceIncomeId}),0)
        from dual
    </select>

    <select id="selectRecordByVersionId" resultMap="BaseResultMap" parameterType="com.hand.hls.gld.dto.HlsCusFinanceIncomeH">
        select t.* from CONTRACT_FINANCE_INCOME_H t where t.source_finance_income_id = #{sourceFinanceIncomeId} and t.version_id = #{versionId}
    </select>

    <select id="selectHistoryBySourceFinanceIncomeId" resultMap="BaseResultMap" parameterType="com.hand.hls.gld.dto.HlsCusFinanceIncomeH">
        select t.* from CONTRACT_FINANCE_INCOME_H t
        <where>
               t.source_finance_income_id = #{sourceFinanceIncomeId}
        </where>
    </select>

    <select id="selectHistoryByBatch" resultMap="BaseResultMap" parameterType="com.hand.hls.gld.dto.HlsCusFinanceIncomeH">
        select v.*
        from (select min(t.finance_income_id) finance_income_id,
        t.cf_item,
        (select hci.description
        from hls_cashflow_item hci
        where hci.cf_item = t.cf_item) cf_item_n,
        t.period_name,
        t.batch
        from CONTRACT_FINANCE_INCOME_H t
        group by t.cf_item, t.period_name, t.batch
        order by t.batch desc) v


        <where>
            1=1
            <if test="cfItem != null">
                and v.cf_item = #{cfItem}
            </if>
            <if test="periodName != null">
                and v.period_name = #{periodName}
            </if>
            <if test="batch != null">
                and v.batch = #{batch}
            </if>
        </where>
    </select>

    <select id="selectHistoryByFinanceIncomeId" resultMap="BaseResultMap" parameterType="com.hand.hls.gld.dto.HlsCusFinanceIncomeH">
        select t.*,
            (case
            when nvl(t.cease_interesst_flag, 'N') = 'N' then
            '否'
            else
            '是'
            end) cease_interesst_flag_n,
            (select s.MEANING
            from sys_code_value_b_v s
            where s.code = 'EXP.AMORTIZATION_METHOD'
            and s.code_value = t.amortization_method) amortization_method_n,
            (select su.description
            from sys_user su
            where su.user_id = t.pre_month_by) pre_month_by_n,
            (select su.description
            from sys_user su
            where su.user_id = t.pre_month_recoil_by) pre_month_recoil_by_n,
            (select su.description
            from sys_user su
            where su.user_id = t.month_settle_by) month_settle_by_n
        from CONTRACT_FINANCE_INCOME_H t

        <where>
            1=1
            and t.batch = #{batch}
            <if test="financeIncomeId != null">
                and t.finance_income_id = #{financeIncomeId}
            </if>
            <if test="bpName != null">
                and t.bp_name = #{bpName}
            </if>
            <if test="contractNumber != null">
                and t.contract_number = #{contractNumber}
            </if>
            <if test="projectName != null">
                and t.project_name = #{projectName}
            </if>
            <if test="vcContractName != null">
                and t.vc_contract_name = #{vcContractName}
            </if>

        </where>
    </select>


</mapper>