<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.gld.mapper.LonContractFinCostMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.gld.dto.HlsCusGldLonContractFinCost">
        <result column="FINANCE_COST_ID" property="financeCostId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="REPAYMENT_ID" property="repaymentId" jdbcType="DECIMAL" />
        <result column="WITHDRAW_ID" property="withdrawId" jdbcType="DECIMAL" />
        <result column="GLD_CASHFLOW_ID" property="gldCashflowId" jdbcType="DECIMAL" />
        <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR" />
        <result column="START_DATE" property="startDate" jdbcType="VARCHAR" />
        <result column="END_DATE" property="endDate" jdbcType="VARCHAR" />
        <result column="DAYS" property="days" jdbcType="DECIMAL" />
        <result column="FINANCE_COST" property="financeCost" jdbcType="DECIMAL" />
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR" />
        <result column="SOURCE_ID" property="sourceId" jdbcType="DECIMAL" />
        <result column="POST_FLAG" property="postFlag" jdbcType="VARCHAR" />
        <result column="CF_ITEM" property="cfItem" jdbcType="DECIMAL" />
        <result column="FINANCE_INCOME_INCLUD" property="financeIncomeInclud" jdbcType="DECIMAL" />
        <result column="FINANCE_INCOME_VAT" property="financeIncomeVat" jdbcType="DECIMAL" />
        <result column="PRODUCT_ID" property="productId" jdbcType="DECIMAL" />
        <result column="ABS_FEE_ID" property="absFeeId" jdbcType="DECIMAL" />
        <result column="WITHDRAW_CF_ID" property="withdrawCfId" jdbcType="DECIMAL" />

        <result column="FINANCE_INCOME" property="financeIncome" jdbcType="DECIMAL" />
        <result column="TIMES" property="times" jdbcType="DECIMAL" />
        <result column="START_END_DATE" property="startEndDate" jdbcType="VARCHAR" />
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR" />
        <result column="WITHDRAW_NUMBER" property="withdrawNumber" jdbcType="VARCHAR" />
        <result column="WITHDRAW_DUE_AMOUNT" property="withdrawDueAmount" jdbcType="DECIMAL" />
        <result column="REPAYMENT_DUE_AMOUNT" property="repaymentDueAmount" jdbcType="DECIMAL" />
        <result column="REPAYMENT_DATE_FROM" property="repaymentDateFrom" jdbcType="VARCHAR" />
        <result column="REPAYMENT_DATE_TO" property="repaymentDateTo" jdbcType="VARCHAR" />
        <result column="LOAN_RATE" property="loanRate" jdbcType="VARCHAR" />
        <result column="CONTRACT_NUMBER_FROM" property="contractNumberFrom" jdbcType="VARCHAR" />
        <result column="CONTRACT_NUMBER_TO" property="contractNumberTo" jdbcType="VARCHAR" />
        <result column="PERIOD_NAME_FROM" property="periodNameFrom" jdbcType="VARCHAR" />
        <result column="PERIOD_NAME_TO" property="periodNameTo" jdbcType="VARCHAR" />
        <result column="FINANCE_COST_SUM" property="financeCostSum" jdbcType="DECIMAL" />
        <result column="CONFIRM_FLAG" property="confirmFlag" jdbcType="VARCHAR" />
        <result column="SUM_FLAG" property="sumFlag" jdbcType="VARCHAR" />
        <result column="POST_FLAG_DESC" property="postFlagDesc" jdbcType="VARCHAR" />
        <result column="CF_ITEM_DESC" property="cfItemDesc" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />

    </resultMap>

    <select id="queryLonContractFinCost" resultMap="BaseResultMap" parameterType="com.hand.hls.gld.dto.LonContractFinCost">
        select t1.*  from (
        select (@i :=@i + 1) AS row_num,
        lcfc.FINANCE_COST_ID,
        lcfc.COMPANY_ID,
        lcfc.CONTRACT_ID,
        lcfc.WITHDRAW_ID,
        lcfc.PERIOD_NAME,
        lcfc.START_DATE,
        lcfc.END_DATE,
        lcfc.start_date||'__'||lcfc.end_date start_end_date,
        lcfc.DAYS,
        lcfc.FINANCE_COST,
        lcfc.POST_FLAG,
        (case lcfc.POST_FLAG
        when 'Y' then
        '已确认'
        else
        '未确认'
        end) as post_flag_desc,
        (select lc.contract_number
        from lon_contract lc
        where lc.contract_id = lcw.contract_id) contract_number,
        (select lc.contract_name
        from lon_contract lc
        where lc.contract_id = lcw.contract_id) contract_name,
        lcw.report_name,
        lcw.withdraw_number,
        lcw.due_amount,
        lcw.int_rate loan_rate,
        lcw.int_rate*100 ||'%' loan_rate_desc,
        lcw.calc_interest_year_days,
        (select lcr.times
        from lon_contract_repayment lcr
        where lcr.repayment_id = lcfc.REPAYMENT_ID) times,
        lcfc.cf_item,
        (select hci.description
        from hls_cashflow_item hci
        where lcfc.CF_ITEM = hci.cf_item) cf_item_desc,
        (select lcr.planned_due_amount
        from lon_contract_repayment lcr
        where lcr.repayment_id = lcfc.REPAYMENT_ID) repayment_due_amount,
        nvl((select max(lcrt.planned_due_date)
        from lon_contract_repayment lcrt
        where lcrt.withdraw_id = lcw.withdraw_id
        and lcrt.planned_due_date &lt; (select lcr.planned_due_date
        from lon_contract_repayment lcr
        where lcr.repayment_id = lcfc.REPAYMENT_ID)),
        lcw.due_date) repayment_date_from,
        (select lcr.planned_due_date
        from lon_contract_repayment lcr
        where lcr.repayment_id = lcfc.REPAYMENT_ID) repayment_date_to
        from gld_lon_contract_fin_cost lcfc, lon_contract_withdraw lcw, (SELECT @i := 0) AS row_seq
        where lcfc.CONTRACT_ID = lcw.contract_id
        and lcfc.WITHDRAW_ID = lcw.withdraw_id
        ) t1
        <where>
            t1.days>0
            <if test="contractName !=null">
                and  t1.contract_name = #{contractName}
            </if>
            <if test="postFlagDesc !=null">
                and  nvl(t1.post_flag,'N') = #{postFlag}
            </if>
            <if test="periodNameFrom !=null">
                and  t1.period_name &gt;= #{periodNameFrom}
            </if>
            <if test="periodNameTo !=null">
                and  t1.period_name &lt;= #{periodNameTo}
            </if>
            <if test="cfItemDesc !=null">
                and  t1.cf_item &lt;= #{cfItem}
            </if>
        </where>
    </select>

    <select id="queryCfItemForComb" parameterType="com.hand.hls.gld.dto.LonContractFinCost" resultMap="BaseResultMap">
        select hci.cf_item,
               hci.description
          from hls_cashflow_item hci,hls_cashflow_type hct
         where hci.enabled_flag = 'Y'
           and hci.cf_type = hct.cf_type
           and hci.enabled_flag = 'Y'
           and hci.cf_item in (302,310)
        ORDER BY hci.cf_item
    </select>

    <select id="queryLonFinCostByKey" resultMap="BaseResultMap" parameterType="com.hand.hls.gld.dto.HlsCusGldLonContractFinCost">
     select t1.*  from (
        select *
          from gld_lon_contract_fin_cost gl
     where gl.finance_cost_id = #{financeIncomeId}
        ) t1
    </select>
</mapper>