<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.rw.mapper.HlsCusRiskWarningInfoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.rw.dto.HlsCusRiskWarningInfo">
        <result column="risk_warning_info_id" property="riskWarningInfoId" jdbcType="DECIMAL" />
        <result column="risk_warning_id" property="riskWarningId" jdbcType="DECIMAL" />
        <result column="breach_contract_risk_info" property="breachContractRiskInfo" jdbcType="VARCHAR" />
        <result column="financial_risk_info" property="financialRiskInfo" jdbcType="VARCHAR" />
        <result column="guarantee_risk_info" property="guaranteeRiskInfo" jdbcType="VARCHAR" />
        <result column="management_risk_info" property="managementRiskInfo" jdbcType="VARCHAR" />
        <result column="associated_risk_info" property="associatedRiskInfo" jdbcType="VARCHAR" />
        <result column="other_risk_info" property="otherRiskInfo" jdbcType="VARCHAR" />
        <result column="info_collection_method" property="infoCollectionMethod" jdbcType="VARCHAR" />
        <result column="risk_level" property="riskLevel" jdbcType="VARCHAR" />
        <result column="risk_level_before" property="riskLevelBefore" jdbcType="VARCHAR" />
        <result column="change_iq" property="changeIq" jdbcType="VARCHAR" />
        <result column="LITIGATION_RISK_INFO" property="litigationRiskInfo" jdbcType="VARCHAR" />
        <result column="change_time" property="changeTime" jdbcType="DECIMAL" />
        <result column="finance_amount" property="financeAmount" jdbcType="DECIMAL" />
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
        <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="TOTAL_TIMES" property="totalTimes" jdbcType="DECIMAL" />
        <result column="RECEIVED_TIMES" property="receivedTimes" jdbcType="DECIMAL" />
        <result column="OVERDUE_AMOUNT" property="overdueAmount" jdbcType="DECIMAL" />
        <result column="OVERDUE_TIMES" property="overdueTimes" jdbcType="DECIMAL" />
        <result column="OVERDUE_DAYS" property="overdueDays" jdbcType="DECIMAL" />
        <result column="FIVE_CLASS_RESULT" property="fiveClassResult" jdbcType="VARCHAR" />
        <result column="bp_id" property="bpId"/>
        <result column="contract_num" property="contractNum" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryPrjCon" resultMap="BaseResultMap" parameterType="com.hand.hls.rw.dto.HlsCusRiskWarningInfo" >
       select t1.* from(SELECT
        p.finance_amount,
        p.tenant_id,
        p.project_id,
        (
        SELECT
        count(*)
        FROM
        con_contract_cashflow t,
        con_contract tt
        WHERE
        tt.project_id = p.project_id
        AND t.contract_id = tt.CONTRACT_ID
        AND tt.contract_status in('INCEPT','PENDING')
        AND nvl(t.WRITE_OFF_FLAG, 'NOT') = 'FULL'
        AND T.cf_item IN ( 1, 3 )
        AND T.cf_status != 'BLOCK'
        ) RECEIVED_TIMES,
       /* (
        SELECT
        sum(t.lease_times)
        FROM
        con_contract t
        WHERE
        t.project_id = p.project_id
        AND t.contract_status = 'INCEPT'
        ) total_times,*/
        (select  sum(pq.LEASE_TERM)  from  con_contract  ct ,prj_project  pp,prj_quotation  pq
        where  ct.project_id=pp.PROJECT_ID
        and ct.QUOTATION_ID=pq.QUOTATION_ID
        and  ct.contract_status in('INCEPT','PENDING')
        and pp.project_id=p.project_id) AS total_times,
        /*(select pq.LEASE_TERM from  prj_quotation  pq  where  pq.SOURCE_DOCUMENT_ID=p.project_id
        and pq.DATA_CLASS='VIRTUAL_CON'
        and pq.SOURCE_DOCUMENT_CATEGORY='PRJ_PROJECT') AS total_times,*/
        (
        SELECT
        nvl(
        sum(
        t.DUE_AMOUNT - nvl(t.RECEIVED_AMOUNT, 0)
        ),
        0
        )
        FROM
        con_contract_cashflow t,
        con_contract tt
        WHERE
        tt.project_id = p.project_id
        AND t.contract_id = tt.CONTRACT_ID
        AND tt.contract_status in('INCEPT','PENDING')
        AND t.DUE_date &lt; sysdate
        AND nvl(t.WRITE_OFF_FLAG, 'NOT') != 'FULL'
        ) OVERDUE_AMOUNT,
        (
        SELECT
        count(*)
        FROM
        con_contract_cashflow t,
        con_contract tt
        WHERE
        tt.project_id = p.project_id
        AND t.contract_id = tt.CONTRACT_ID
        AND tt.contract_status in('INCEPT','PENDING')
        AND t.DUE_date &lt; sysdate
        AND nvl(t.WRITE_OFF_FLAG, 'NOT') != 'FULL'
        ) OVERDUE_TIMES,
        (
        SELECT
        nvl(SUM(TO_NUMBER( sysdate - t.due_date )), 0)        FROM
        con_contract_cashflow t,
        con_contract tt
        WHERE
        tt.project_id = p.project_id
        AND t.contract_id = tt.CONTRACT_ID
        AND tt.contract_status in('INCEPT','PENDING')
        AND t.DUE_date &lt; sysdate
        AND nvl(t.WRITE_OFF_FLAG, 'NOT') != 'FULL'
        ) OVERDUE_DAYS,
        CASE
        WHEN (select
        afe.FINAL_ASSETS_CLASS_RESULT
        from ast_fc_estimate afe
        where afe.CONTRACT_NUMBER = (SELECT pp.contract_number FROM prj_project pp WHERE pp.project_id = p.project_id)
        and  rownum=1
         ) != '' THEN
        (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'ASSET_CLASSIFICATION_RESULTS' AND (select
        afe.FINAL_ASSETS_CLASS_RESULT
        from ast_fc_estimate afe
        where afe.CONTRACT_NUMBER = (SELECT pp.contract_number FROM prj_project pp WHERE pp.project_id = p.project_id)
        and  rownum=1
         ) = v.CODE_VALUE )
        ELSE
        (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'ASSET_CLASSIFICATION_RESULTS' AND (select afer.FIVE_CLASS_CODE_BY_SYSTEM from ast_fc_estimate_result afer where afer.FC_ESTIMATE_ID = (select
        afe.FC_ESTIMATE_ID
        from ast_fc_estimate afe
        where afe.CONTRACT_NUMBER = (SELECT pp.contract_number FROM prj_project pp WHERE pp.project_id = p.project_id)
        and  rownum=1
         )) = v.CODE_VALUE )

        END FIVE_CLASS_RESULT
        FROM
        prj_project p
        WHERE
        p.DATA_CLASS = 'VIRTUAL_CON'
        AND p.data_type = 'NORMAL'
        AND p.contract_status = 'SIGN'
        AND p.project_id IN (
        SELECT
        c.project_id
        FROM
        con_contract c
        WHERE
        c.data_class = 'NORMAL'
        AND c.contract_status in('INCEPT','PENDING')
        ))t1
        <where>
            <if test="bpId != null">
                and  t1.tenant_id = #{bpId}
            </if>
        </where>

    </select>

    <select id="queryAll" parameterType="com.hand.hls.rw.dto.HlsCusRiskWarningInfo" resultMap="BaseResultMap">
        SELECT
        p.*, (
        SELECT
        pp.contract_name
        FROM
        prj_project pp
        WHERE
        pp.project_id = p.project_id
        ) contract_name,
        (
        SELECT
        pp.contract_number
        FROM
        prj_project pp
        WHERE
        pp.project_id = p.project_id
        ) contract_number,
        (
        SELECT
        pp.contract_num
        FROM
        prj_project pp
        WHERE
        pp.project_id = p.project_id
        ) contract_num,
        (
        SELECT
        pp.finance_amount
        FROM
        prj_project pp
        WHERE
        pp.project_id = p.project_id
        ) finance_amount
        FROM
        plm_risk_warning_info p
        <where>
            1=1
            <if test="riskWarningId != null">
                and  P.risk_warning_id = #{riskWarningId}
            </if>
        </where>

    </select>

    <select id="selectRiskWarningInfo" parameterType="com.hand.hls.rw.dto.HlsCusRiskWarningInfo" resultMap="BaseResultMap">
        SELECT rwi.* from plm_risk_warning_info rwi
        where
            1=1
            AND rwi.risk_warning_id = #{riskWarningId}
            AND rwi.change_iq = #{changeIq}
    </select>
    <select id="selectMaxChangeTime" parameterType="com.hand.hls.rw.dto.HlsCusRiskWarningInfo" resultMap="BaseResultMap">
        SELECT
	      max(rwi.change_time) AS change_time,rwi.risk_warning_id
        FROM
	      plm_risk_warning_info rwi
        where
          rwi.risk_warning_id = #{riskWarningId}
        GROUP BY
	      rwi.risk_warning_id;
    </select>

    <update id="updateRiskInfoChangeIq" parameterType="com.hand.hls.plm.fc.dto.HlsCusFiveClassificationContract">
        update plm_risk_warning_info rwi set rwi.change_iq=#{changeIq}
        where rwi.risk_warning_id = #{riskWarningId}
        AND rwi.change_iq = #{changeIqOld}
    </update>
</mapper>
