<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsBpMasterInceptRuleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsBpMasterInceptRule">
        <result column="INCEPT_RULE_ID" property="inceptRuleId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="INCEPT_RULE_TYPE" property="inceptRuleType" jdbcType="VARCHAR" />
        <result column="FIXED_DAY" property="fixedDay" jdbcType="DECIMAL" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />

        <result column="INCEPT_RULE_TYPE_N" property="inceptRuleTypeN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="query" resultMap="BaseResultMap">
        SELECT hbmir.*,
			 (SELECT scvb.meaning
                FROM sys_code_b       scb,
                     sys_code_value_b scvb
              WHERE scvb.code_id = scb.code_id
                 AND scb.code = 'PRJ.INCEPT_RULE_TYPE'
                 AND scvb.value = hbmir.incept_rule_type) incept_rule_type_n
            FROM hls_bp_master_incept_rule hbmir
         WHERE hbmir.bp_id = #{bpId}
    </select>


</mapper>