<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.prj.mapper.HlsBpMasterRoleMapper">
    <resultMap id="BaseResultMaps" type="com.hand.hls.prj.dto.HlsBpMasterRole">
        <id column="BP_ROLE_ID" jdbcType="BIGINT" property="bpRoleId"/>
        <result column="BP_ID" jdbcType="BIGINT" property="bpId"/>
        <result column="BP_CATEGORY" jdbcType="VARCHAR" property="bpCategory"/>
        <result column="BP_CATEGORY_N" jdbcType="VARCHAR" property="bpCategoryN"/>
        <result column="BP_TYPE" jdbcType="VARCHAR" property="bpType"/>
        <result column="BP_TYPE_N" jdbcType="VARCHAR" property="bpTypeN"/>
        <result column="PRIMARY_FLAG" jdbcType="VARCHAR" property="primaryFlag"/>
        <result column="ENABLED_FLAG" jdbcType="VARCHAR" property="enabledFlag"/>
        <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy"/>
        <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="LAST_UPDATED_BY" jdbcType="BIGINT" property="lastUpdatedBy"/>
        <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
        <result column="REF_V01" jdbcType="VARCHAR" property="refV01"/>
        <result column="REF_V02" jdbcType="VARCHAR" property="refV02"/>
        <result column="REF_V03" jdbcType="VARCHAR" property="refV03"/>
        <result column="REF_V04" jdbcType="VARCHAR" property="refV04"/>
        <result column="REF_V05" jdbcType="VARCHAR" property="refV05"/>
        <result column="REF_N01" jdbcType="BIGINT" property="refN01"/>
        <result column="REF_N02" jdbcType="BIGINT" property="refN02"/>
        <result column="REF_N03" jdbcType="BIGINT" property="refN03"/>
        <result column="REF_N04" jdbcType="BIGINT" property="refN04"/>
        <result column="REF_N05" jdbcType="BIGINT" property="refN05"/>
        <result column="REF_D01" jdbcType="TIMESTAMP" property="refD01"/>
        <result column="REF_D02" jdbcType="TIMESTAMP" property="refD02"/>
        <result column="REF_D03" jdbcType="TIMESTAMP" property="refD03"/>
        <result column="REF_D04" jdbcType="TIMESTAMP" property="refD04"/>
        <result column="REF_D05" jdbcType="TIMESTAMP" property="refD05"/>
    </resultMap>

    <select id="querys" parameterType="java.util.Map" resultMap="BaseResultMaps">
        -- SELECT
        -- hbmr.bp_role_id,
        -- hbmr.bp_id,
        -- hbmr.bp_type,
        -- hbt.bp_category,
        -- hbt.description AS bp_type_n,
        -- hbmr.primary_flag,
        -- hbmr.enabled_flag
        -- FROM
        -- hls_bp_master_role hbmr
        -- LEFT JOIN hls_bp_type hbt ON hbt.bp_type = hbmr.bp_type
        SELECT
        hbmr.bp_role_id,
        hbmr.bp_id,
        hbmr.bp_type,
        hbmr.bp_category,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'BP.BP_MASTER_ROLE'
        AND hbmr.bp_type = v.code_value) bp_type_n,
        hbmr.primary_flag,
        hbmr.enabled_flag
        FROM
        hls_bp_master_role hbmr
        <where>
            hbmr.bp_id = #{bpId}
        </where>
    </select>

    <select id="query2" parameterType="java.util.Map" resultMap="BaseResultMap">
        --       SELECT
--         hbmr.bp_role_id,
--         hbmr.bp_id,
--         hbmr.bp_type,
--         hbt.bp_category,
--         hbt.description AS bp_type_n,
--         hbmr.primary_flag,
--         hbmr.enabled_flag
--       FROM
--         hls_bp_master_role hbmr
--       LEFT JOIN hls_bp_type hbt ON hbt.bp_type = hbmr.bp_type
        SELECT
            hbmr.bp_role_id,
            hbmr.bp_id,
            hbmr.bp_type,
            hbmr.bp_category,
            hbc.description AS bp_category_n,
            hbt.description AS bp_type_n,
            hbmr.primary_flag,
            hbmr.enabled_flag
        FROM
            hls_bp_master_role hbmr
                LEFT JOIN hls_bp_type hbt ON hbt.bp_type = hbmr.bp_type
                LEFT JOIN hls_bp_category hbc ON hbt.bp_category = hbc.bp_category
        where
            hbmr.bp_id = #{bpId}
    </select>

</mapper>