<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsBpMasterMainMembersMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsBpMasterMainMembers">
        <result column="MAIN_MEMBERS_ID" property="mainMembersId" jdbcType="DECIMAL" />
        <result column="MAIN_MEMBERS_NAME" property="mainMembersName" jdbcType="VARCHAR" />
        <result column="MAIN_MEMBERS_CERT_TYPE" property="mainMembersCertType" jdbcType="VARCHAR" />
        <result column="MAIN_MEMBERS_CERT_TYPE_N" property="mainMembersCertTypeN" jdbcType="VARCHAR" />
        <result column="MAIN_MEMBERS_CERT_CODE" property="mainMembersCertCode" jdbcType="VARCHAR" />
        <result column="MAIN_MEMBERS_POSITION" property="mainMembersPosition" jdbcType="VARCHAR" />
        <result column="MAIN_MEMBERS_POSITION_N" property="mainMembersPositionN" jdbcType="VARCHAR" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
    </resultMap>

    <sql id="Base_Column_List">
        MAIN_MEMBERS_ID,BP_ID,MAIN_MEMBERS_NAME,MAIN_MEMBERS_CERT_TYPE,MAIN_MEMBERS_CERT_CODE,MAIN_MEMBERS_POSITION
    </sql>

    <select id="queryByBpId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>,
        ( SELECT v.meaning FROM sys_code_value_b_v v WHERE v.CODE = 'HLS211_ID_TYPE' AND v.code_value = MAIN_MEMBERS_CERT_TYPE ) MAIN_MEMBERS_CERT_TYPE_N,
        ( SELECT v.meaning FROM sys_code_value_b_v v WHERE v.CODE = 'MAIN_COMPOSITION_POSITION' AND v.code_value = MAIN_MEMBERS_POSITION ) MAIN_MEMBERS_POSITION_N
        from HLS_BP_MASTER_MAIN_MEMBERS where BP_ID = #{bpId}
    </select>

</mapper>