<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjBusinessAccessCompareMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjBusinessAccessCompare">
        <result column="PROJECT_COMPARE_ID" property="projectCompareId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="BUSINESS_ACCESS" property="businessAccess" jdbcType="VARCHAR" />
        <result column="PROJECT_ACCESS_ITEMS" property="projectAccessItems" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="CHECK_RESULT" property="checkResult" jdbcType="VARCHAR" />
        <result column="ITEMS_DETAIL" property="itemsDetail" jdbcType="VARCHAR" />
        <result column="check_result_n" property="checkResultN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findFactoringApprovalInfo" resultMap="BaseResultMap">
        SELECT
        pbac.PROJECT_COMPARE_ID,
        pbac.PROJECT_ID ,
        pbac.business_access,
        pbac.project_access_items,
        pbac.items_detail,
        pbac.check_result,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.code = 'CHANCE.CHECK_RESULT' AND sc.code_value = pbac.check_result ) check_result_n
        FROM
        project_business_access_compare pbac
        <where>
            pbac.project_id=#{projectId}
        </where>
    </select>
    <select id="findProjectAccessInfo" resultType="com.hand.hls.prj.dto.HlsCusPrjBusinessAccessCompare">
        SELECT
        pbac.PROJECT_COMPARE_ID,
        pbac.PROJECT_ID ,
        pbac.business_access,
        pbac.project_access_items,
        pbac.items_detail,
        pbac.check_result,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.code = 'CHANCE.CHECK_RESULT' AND sc.code_value = pbac.check_result ) check_result_n
        FROM
        project_business_access_compare pbac
        <where>
            pbac.project_id=#{projectId}
        </where>
    </select>

    <select id="findPrjFactoringApprovalCompare" resultMap="BaseResultMap">
        select (select v.MEANING
                from sys_code_value_b_v v
                where v.code = 'BUSINESS_ACCESS'
                  AND v.code_value = ac.business_access) as business_access,
               ac.project_access_items
        from hls_business_access_compare ac
        where ac.BUSINESS_ACCESS = 'FACTORING_PROJECT'
    </select>

</mapper>