<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusProjectWflQuestionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusProjectWflQuestion">
        <result column="QUESTION_ID" property="questionId" jdbcType="DECIMAL" />
        <result column="QUESTION_SEQ" property="questionSeq" jdbcType="DECIMAL" />
        <result column="QUESTION_COMMENTS" property="questionComments" jdbcType="VARCHAR" />
        <result column="QUESTION_CREATED_BY" property="questionCreatedBy" jdbcType="DECIMAL" />
        <result column="QUESTION_CREATED_BY_N" property="questionCreatedByN" jdbcType="DECIMAL" />
        <result column="QUESTION_ANSWER" property="questionAnswer" jdbcType="VARCHAR" />
        <result column="QUESTION_ANSWERED_BY" property="questionAnsweredBy" jdbcType="VARCHAR" />
        <result column="QUESTION_ANSWERED_BY_N" property="questionAnsweredByN" jdbcType="VARCHAR" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="question_file_exist_flag" property="questionFileExistFlag" jdbcType="DECIMAL" />
        <result column="answer_file_exist_flag" property="answerFileExistFlag" jdbcType="DECIMAL" />
        <result column="question_file_name" property="questionFileName" jdbcType="DECIMAL" />
        <result column="answer_file_name" property="answerFileName" jdbcType="DECIMAL" />
        <result column="question_file_date" property="questionFileDate" jdbcType="VARCHAR" />
        <result column="answer_file_date" property="answerFileDate" jdbcType="VARCHAR" />
        <result column="question_type" property="questionType" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.prj.dto.HlsCusProjectWflQuestion" resultMap="BaseResultMap">
        select v.*
            from (select w.*
            from (select t.question_id,
            -- row_number() over(partition by t.project_id order by t.question_id) question_seq,
            IF (
                @p = t.project_id,
                @rank := @rank + 1 ,@rank := 1
            ) AS question_seq,
            @p := t.project_id as rank1,
            t.question_comments,
            nvl(t.question_created_by,
            (select max(fat.created_by)
            from fnd_atm_attachment       fat,
            fnd_atm_attachment_multi faam
            where fat.attachment_id = faam.attachment_id
            and faam.table_name = 'PRJ_PROJECT_WFL_QUESTION'
            and faam.table_pk_value = t.question_id)) as question_created_by,
            nvl((select sys.description
            from sys_user sys
            where sys.user_id = t.question_created_by),
            (select max(su.description)
            from fnd_atm_attachment       fat,
            fnd_atm_attachment_multi faam,
            sys_user                 su
            where fat.attachment_id = faam.attachment_id
            and faam.table_name = 'PRJ_PROJECT_WFL_QUESTION'
            and faam.table_pk_value = t.question_id
            and su.user_id = fat.created_by)) question_created_by_n,
            t.question_answer,
            nvl(t.question_answered_by,
            (select max(fat.created_by)
            from fnd_atm_attachment       fat,
            fnd_atm_attachment_multi faam
            where fat.attachment_id = faam.attachment_id
            and faam.table_name = 'PRJ_PROJECT_WFL_ANSWER'
            and faam.table_pk_value = t.question_id)) question_answered_by,
            nvl((select sys.description
            from sys_user sys
            where sys.user_id = t.question_answered_by),
            (select max(su.description)
            from fnd_atm_attachment       fat,
            fnd_atm_attachment_multi faam,
            sys_user                 su
            where fat.attachment_id = faam.attachment_id
            and faam.table_name = 'PRJ_PROJECT_WFL_ANSWER'
            and faam.table_pk_value = t.question_id
            and su.user_id = fat.created_by)) question_answered_by_n,
            t.created_by,
            t.creation_date,
            t.last_updated_by,
            t.last_update_date,
            t.last_update_login,
            t.project_id,
            t.object_version_number,
            t.request_id,
            t.program_id,
            (case
            when (select count(1)
            from fnd_atm_attachment       fat,
            fnd_atm_attachment_multi faam
            where fat.attachment_id = faam.attachment_id
            and faam.table_name =
            'PRJ_PROJECT_WFL_QUESTION'
            and faam.table_pk_value = t.question_id) > 0 then
            'Y'
            else
            'N'
            end) question_file_exist_flag,
            (case
            when (select count(1)
            from fnd_atm_attachment       fat,
            fnd_atm_attachment_multi faam
            where fat.attachment_id = faam.attachment_id
            and faam.table_name =
            'PRJ_PROJECT_WFL_ANSWER'
            and faam.table_pk_value = t.question_id) > 0 then
            'Y'
            else
            'N'
            end) answer_file_exist_flag,
        (select wm_concat(fat.file_name)
        from fnd_atm_attachment       fat,
        fnd_atm_attachment_multi faam
        where fat.attachment_id = faam.attachment_id
        and faam.table_pk_value = t.question_id
        and faam.table_name = 'PRJ_PROJECT_WFL_QUESTION') question_file_name,
        (select wm_concat(fat.file_name)
        from fnd_atm_attachment       fat,
        fnd_atm_attachment_multi faam
        where fat.attachment_id = faam.attachment_id
        and faam.table_name = 'PRJ_PROJECT_WFL_ANSWER'
        and faam.table_pk_value = t.question_id) answer_file_name,
        (select max(fat.creation_date)
        from fnd_atm_attachment       fat,
        fnd_atm_attachment_multi faam
        where fat.attachment_id = faam.attachment_id
        and faam.table_pk_value = t.question_id
        and faam.table_name = 'PRJ_PROJECT_WFL_QUESTION') question_file_date,
        (select max(fat.creation_date)
        from fnd_atm_attachment       fat,
        fnd_atm_attachment_multi faam
        where fat.attachment_id = faam.attachment_id
        and faam.table_name = 'PRJ_PROJECT_WFL_ANSWER'
        and faam.table_pk_value = t.question_id) answer_file_date,
        t.question_type
            from prj_project_wfl_question t,(SELECT @p := NULL ,@rank := 0) r) w
            order by w.question_seq) v

        <where>
            1=1
            <if test="projectId != null">
                and v.project_id = #{projectId}
            </if>
            <if test="questionType != null">
                and v.question_type = #{questionType}
            </if>
        </where>
    </select>

</mapper>