<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjBusinessAccessCompareMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjBusinessAccessCompare">
        <result column="PROJECT_COMPARE_ID" property="projectCompareId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="BUSINESS_ACCESS" property="businessAccess" jdbcType="VARCHAR" />
        <result column="PROJECT_ACCESS_ITEMS" property="projectAccessItems" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="CHECK_RESULT" property="checkResult" jdbcType="VARCHAR" />
        <result column="ITEMS_DETAIL" property="itemsDetail" jdbcType="VARCHAR" />
        <result column="check_result_n" property="checkResultN" jdbcType="VARCHAR" />
        <result column="business_access_n" property="businessAccessN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findFactoringApprovalInfo" resultMap="BaseResultMap">
        SELECT
        pbac.PROJECT_COMPARE_ID,
        pbac.PROJECT_ID ,
        pbac.business_access,
        (select v.MEANING
        from sys_code_value_b_v v
        where v.code = 'BUSINESS_ACCESS'
        AND v.code_value = pbac.business_access)  business_access_n,
        pbac.project_access_items,
        pbac.items_detail,
        pbac.check_result,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.code = 'CHANCE.CHECK_RESULT' AND sc.code_value = pbac.check_result ) check_result_n
        FROM
        project_business_access_compare pbac
        <where>
           pbac.business_access  = (case (SELECT
            DISTINCT(fou.UNIT_CODE)
            FROM
            sys_user su
            INNER JOIN sys_user_allocation sua ON sua.USER_ID = su.USER_ID
            INNER JOIN FND_EMPLOYEE_ASSIGNS fea ON fea.employee_assign_id = sua.employee_assign_id
            INNER JOIN fnd_employee em ON em.employee_id = fea.employee_id
            INNER JOIN fnd_org_unit fou ON fou.unit_id = fea.unit_id
            where
            su.user_id = #{userId}) when 'RISK_AUDIT_DEPARTMENT' then 'FACTORING_PROJECT_FX'
             when 'MINISTRY_LAW_DEPT' then 'FACTORING_PROJECT_FW'
             when 'EXAMINATION_APPROVAL_DEPARTMENT' then 'FACTORING_PROJECT_SP'
             else 'unknown'
             end
             )
            and
            pbac.project_id=#{projectId}
        </where>
    </select>
    <select id="findProjectAccessInfo" resultType="com.hand.hls.prj.dto.HlsCusPrjBusinessAccessCompare">
        SELECT
        pbac.PROJECT_COMPARE_ID,
        pbac.PROJECT_ID ,
        pbac.business_access,
        pbac.project_access_items,
        pbac.items_detail,
        pbac.check_result,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.code = 'CHANCE.CHECK_RESULT' AND sc.code_value = pbac.check_result ) check_result_n
        FROM
        project_business_access_compare pbac
        <where>
            pbac.project_id=#{projectId}
        </where>
    </select>

    <select id="findPrjFactoringApprovalCompare" resultMap="BaseResultMap">
        select
            ac.business_access,
            ac.project_access_items
        from hls_business_access_compare ac
        where ac.BUSINESS_ACCESS like 'FACTORING_PROJECT_%'
    </select>

</mapper>