<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjQuotationDetailsHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjQuotationDetailsHistory">
        <result column="QUOTATION_DEATIL_ID" property="quotationDeatilId" jdbcType="DECIMAL" />
        <result column="QUOTATION_ID" property="quotationId" jdbcType="DECIMAL" />
        <result column="SHEETS" property="sheets" jdbcType="VARCHAR" />
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR" />
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR" />
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR" />
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR" />
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR" />
        <result column="REF_V06" property="refV06" jdbcType="VARCHAR" />
        <result column="REF_V07" property="refV07" jdbcType="VARCHAR" />
        <result column="REF_V08" property="refV08" jdbcType="VARCHAR" />
        <result column="REF_V09" property="refV09" jdbcType="VARCHAR" />
        <result column="REF_V10" property="refV10" jdbcType="VARCHAR" />
        <result column="REF_V11" property="refV11" jdbcType="VARCHAR" />
        <result column="REF_V12" property="refV12" jdbcType="VARCHAR" />
        <result column="REF_V13" property="refV13" jdbcType="VARCHAR" />
        <result column="REF_V14" property="refV14" jdbcType="VARCHAR" />
        <result column="REF_V15" property="refV15" jdbcType="VARCHAR" />
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL" />
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL" />
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL" />
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL" />
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL" />
        <result column="REF_N06" property="refN06" jdbcType="DECIMAL" />
        <result column="REF_N07" property="refN07" jdbcType="DECIMAL" />
        <result column="REF_N08" property="refN08" jdbcType="DECIMAL" />
        <result column="REF_N09" property="refN09" jdbcType="DECIMAL" />
        <result column="REF_N10" property="refN10" jdbcType="DECIMAL" />
        <result column="REF_D01" property="refD01" jdbcType="VARCHAR" />
        <result column="REF_D02" property="refD02" jdbcType="VARCHAR" />
        <result column="REF_D03" property="refD03" jdbcType="VARCHAR" />
        <result column="REF_D04" property="refD04" jdbcType="VARCHAR" />
        <result column="REF_D05" property="refD05" jdbcType="VARCHAR" />
    </resultMap>


</mapper>