<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusProjectCreditNoticeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusProjectCreditNotice">
        <result column="PRJ_NOTICE_ID" property="prjNoticeId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="PROJECT_NOTICE_NUMBER" property="projectNoticeNumber" jdbcType="VARCHAR" />
        <result column="CREDIT_TYPE" property="creditType" jdbcType="VARCHAR" />
        <result column="CREDIT_PERIOD" property="creditPeriod" jdbcType="VARCHAR" />
        <result column="CREDIT_PERIOD_FROM" property="creditPeriodFrom" jdbcType="DATE" />
        <result column="CREDIT_PERIOD_TO" property="creditPeriodTo" jdbcType="DATE" />
        <result column="INSTANCE_ID" property="instanceId" jdbcType="DECIMAL" />
        <result column="MEETING_NOTICE" property="meetingNotice" jdbcType="VARCHAR" />
        <result column="MEETING_NOTICE_RESULT" property="meetingNoticeResult" jdbcType="VARCHAR" />
        <result column="NOTICE_CREATE_DATE" property="noticeCreateDate" jdbcType="DATE" />
        <result column="approval_status" property="approvalStatus" />
        <result column="project_name" property="projectName" />
        <result column="project_status" property="projectStatus" />
        <result column="document_type" property="documentType"/>
        <result column="credit_condition_content" property="creditConditionContent"/>
        <result column="old_project_id" property="oldProjectId"/>
        <result column="review_project_attachment_id" property="reviewProjectAttachmentId"/>
    </resultMap>

    <select id="quertNoticeList" parameterType="com.hand.hls.prj.dto.HlsCusProjectCreditNotice"
            resultMap="BaseResultMap">
    select ppcn.*,
           p.approval_status approval_status,
           p.project_status  project_status,
           case when p.data_type = 'HISTORY' then
            (
            select
            case when c.status in ('NOTICE_VETO','NOTICE_HOLD') then '项目变更'
            when c.status in ('NOTICE_APPROVED') then '项目授信-变更前' end document_type
            from change_req_info c where c.change_req_id = p.change_req_id
            )
            else '项目授信' end document_type,
            p.credit_condition_content,
        (case when p.credit_condition_content is null and p.survive_require_content is null
        and p.quotation_element_content is null then
        (select project_id from prj_project a,change_req_info b where a.ref_project_id = p.project_id
        and a.project_number like 'DR%' and a.data_type = 'HISTORY' and a.change_req_id = b.change_req_id
        and b.change_req_user_id = 10001)
        else null
        end)old_project_id,
        (select ppa.project_attachment_id from prj_project_attachment ppa where ppa.project_attachment_category =
        'PRJ_REVIEW_REPORT' and ppa.project_id = p.project_id and rownum=1) review_project_attachment_id
      from prj_project_credit_notice ppcn left join prj_project p on p.project_id = ppcn.project_id
      <where>
            ppcn.notice_create_date is not null
       and  ppcn.project_id in
          (
          select to_number(#{projectId}) project_id from dual
          union
          (select pp.project_id from prj_project pp,change_req_info c
           where pp.ref_project_id = #{projectId} and pp.data_class = 'NORMAL' and pp.data_type = 'HISTORY'
           and pp.change_req_id = c.change_req_id
           and c.change_type != 'PROJECT_PRICE_CHANGE')
          )
      </where>

    </select>

    <delete id="deleteNoticeByProjectId" parameterType="com.hand.hls.prj.dto.HlsCusProjectCreditNotice">
        delete from prj_project_credit_notice p where p.project_id = #{projectId}
    </delete>

    <select id="quertBpNoticeList" parameterType="com.hand.hls.prj.dto.HlsCusProjectCreditNotice"
            resultMap="BaseResultMap">
        select ppcn.*,
        (select pp.project_name from prj_project pp where pp.project_id = ppcn.project_id) as project_name
        from prj_project_credit_notice ppcn
        <where>
            ppcn.notice_create_date is not null
            <if test="bpId != null">
                AND ppcn.project_id in  (select  pp.project_id from prj_project pp where pp.tenant_id = #{bpId} )
            </if>

        </where>

    </select>

    <select id="QueryAllByInstanceId" parameterType="com.hand.hls.prj.dto.HlsCusProjectCreditNotice" resultMap="BaseResultMap">
        select
          t.prj_notice_id,
          t.project_id,
          t.project_notice_number,
          t.credit_type,
          t.credit_period,
          t.credit_period_from,
          t.credit_period_to,
          t.instance_id,
          t.meeting_notice,
          t.meeting_notice_result,
          t.notice_create_date
         from PRJ_PROJECT_CREDIT_NOTICE t
         where t.instance_id = #{instanceId}
         and t.project_id = #{projectId}
    </select>


</mapper>