<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.prj.mapper.HlsCreditPlanMapper">
  <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCreditPlan">
    <!--@mbg.generated generated on Mon Jul 25 16:11:02 CST 2022.-->
    <!--@Table HLS_CREDIT_PLAN-->
    <id column="CREDIT_PLAN_ID" jdbcType="DECIMAL" property="creditPlanId" />
    <result column="CREDIT_AMT" jdbcType="DECIMAL" property="creditAmt" />
    <result column="QUOTA_TYPE" jdbcType="VARCHAR" property="quotaType" />
    <result column="CONGLOMERATE_FLAG" jdbcType="VARCHAR" property="conglomerateFlag" />
    <result column="BELONG_CONGLOMERATE" jdbcType="VARCHAR" property="belongConglomerate" />
    <result column="DATE_FROM" jdbcType="TIMESTAMP" property="dateFrom" />
    <result column="DATE_TO" jdbcType="TIMESTAMP" property="dateTo" />
    <result column="CREDIT_DESC" jdbcType="VARCHAR" property="creditDesc" />
    <result column="FINANCE_NOTE" jdbcType="VARCHAR" property="financeNote" />
    <result column="OTHER" jdbcType="VARCHAR" property="other" />
    <result column="OBJECT_VERSION_NUMBER" jdbcType="DECIMAL" property="objectVersionNumber" />
    <result column="REQUEST_ID" jdbcType="DECIMAL" property="requestId" />
    <result column="PROGRAM_ID" jdbcType="DECIMAL" property="programId" />
    <result column="CREATED_BY" jdbcType="DECIMAL" property="createdBy" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="LAST_UPDATED_BY" jdbcType="DECIMAL" property="lastUpdatedBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="LAST_UPDATE_LOGIN" jdbcType="DECIMAL" property="lastUpdateLogin" />
    <!--<result column="CREDIT_CATEGORY" jdbcType="VARCHAR" property="creditCategory" />-->
    <result column="SOURCE_DOCUMENT_CATEGORY" jdbcType="VARCHAR" property="sourceDocumentCategory" />
    <result column="SOURCE_DOCUMENT_ID" jdbcType="DECIMAL" property="sourceDocumentId" />

    <result column="CONGLOMERATE_FLAG_N" jdbcType="DECIMAL" property="conglomerateFlagN" />
    <result column="QUOTA_TYPE_N" jdbcType="DECIMAL" property="quotaTypeN" />
    <result column="irr" jdbcType="DECIMAL" property="irr" />
    <result column="FINANCING_DATE" jdbcType="DECIMAL" property="financingDate" />
    <result column="CHANGE_BEFORE_CREDIT_AMT" jdbcType="DECIMAL" property="changeBeforeCreditAmt" />
    <result column="DATE_TO_BEFORE" jdbcType="TIMESTAMP" property="dateToBefore" />
    <result column="left_credit_amt" jdbcType="DECIMAL" property="leftCreditAmt" />
    <result column="CHANGE_DESC" jdbcType="VARCHAR" property="changeDesc" />
    <result column="non_cyclical_amount" jdbcType="DECIMAL" property="nonCyclicalAmount" />
    <result column="cyclical_amount" jdbcType="DECIMAL" property="cyclicalAmount" />
    <result column="floating_range_method" jdbcType="VARCHAR" property="floatingRangeMethod" />
    <result column="floating_range_method_n" jdbcType="VARCHAR" property="floatingRangeMethodN" />
    <result column="guarantee_method" jdbcType="VARCHAR" property="guaranteeMethod"/>
    <result column="guarantee_method_n" jdbcType="VARCHAR" property="guaranteeMethodN"/>
    <result column="guarantee_method_rent" jdbcType="VARCHAR" property="guaranteeMethodRent"/>
    <result column="guarantee_method_rent_n" jdbcType="VARCHAR" property="guaranteeMethodRentN"/>
    <result column="guarantee_method_difference" jdbcType="VARCHAR" property="guaranteeMethodDifference"/>
    <result column="guarantee_method_difference_n" jdbcType="VARCHAR" property="guaranteeMethodDifferenceN"/>
    <result column="guarantee_method_repurcharse" jdbcType="VARCHAR" property="guaranteeMethodRepurcharse"/>
    <result column="guarantee_method_repurcharse_n" jdbcType="VARCHAR" property="guaranteeMethodRepurcharseN"/>
    <result column="guarantee_method_response" jdbcType="VARCHAR" property="guaranteeMethodResponse"/>
    <result column="guarantee_method_response_n" jdbcType="VARCHAR" property="guaranteeMethodResponseN"/>
    <result column="bear_guarantee_flag" jdbcType="VARCHAR" property="bearGuaranteeFlag" />
    <result column="bear_guarantee_flag_n" jdbcType="VARCHAR" property="bearGuaranteeFlagN" />
    <result column="bp_name" jdbcType="VARCHAR" property="bpName" />
    <result column="used_amount" jdbcType="DECIMAL" property="usedAmount" />
    <result column="down_payment_ratio" jdbcType="DECIMAL" property="downPaymentRatio" />
    <result column="deposit_ratio" jdbcType="DECIMAL" property="depositRatio" />
    <result column="annual_pay_times" jdbcType="VARCHAR" property="annualPayTimes" />
    <result column="annual_pay_times_n" jdbcType="VARCHAR" property="annualPayTimesN" />
    <result column="residual_price_type" jdbcType="VARCHAR" property="residualPriceType" />
    <result column="residual_price_type_n" jdbcType="VARCHAR" property="residualPriceTypeN" />
    <result column="residual" jdbcType="DECIMAL" property="residual" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Jul 25 16:11:02 CST 2022.-->
    CREDIT_PLAN_ID, CREDIT_AMT, QUOTA_TYPE, CONGLOMERATE_FLAG, BELONG_CONGLOMERATE, DATE_FROM, 
    DATE_TO, CREDIT_DESC, FINANCE_NOTE, OTHER, OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID,
    CREATED_BY, CREATION_DATE, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN,
    SOURCE_DOCUMENT_CATEGORY, SOURCE_DOCUMENT_ID,CHANGE_BEFORE_CREDIT_AMT,DATE_TO_BEFORE
  </sql>

  <select id="queryCreditPlanInfo" parameterType="com.hand.hls.prj.dto.HlsCreditPlan" resultMap="BaseResultMap">
    select v.*,(v.credit_amt -v.used_amount) left_credit_amt
    from(select
    hcp.*,

    CASE WHEN HCP.SOURCE_DOCUMENT_CATEGORY='HLS_CREDIT_LINE_CHANCE'
    THEN
    (select bm.bp_name
    from HLS_CREDIT_LINE_CHANCE_BP b,hls_bp_master bm
    where hcp.source_document_id = b.chance_id
        and b.bp_type='MANUFACTURER'
        and bm.bp_id=b.bp_id and rownum=1)
    ELSE  (select bm.bp_name
    from prj_project_bp b,hls_bp_master bm
    where hcp.source_document_id = b.project_id
    and b.bp_type='MANUFACTURER'
    and bm.bp_id=b.bp_id and rownum=1) END AS bp_name,
    (select scv.MEANING
    from sys_code_b sc,sys_code_value_b scv
    where sc.CODE_ID = scv.CODE_ID
    and sc.CODE = 'SYS.YES_NO'
    and scv.value = hcp.CONGLOMERATE_FLAG) CONGLOMERATE_FLAG_N,
    (select scv.MEANING
    from sys_code_b sc,sys_code_value_b scv
    where sc.CODE_ID = scv.CODE_ID
    and sc.CODE = 'FINANCING_LOAN'
    and scv.value = hcp.QUOTA_TYPE) QUOTA_TYPE_N,
    /*这里要等付款支付改造完成后取值*/
    0 used_amount,
    (SELECT v.meaning
    FROM sys_code_value_b_v v
    WHERE v.CODE = 'SYS.YES_NO'
    AND v.code_value = hcp.bear_guarantee_flag) bear_guarantee_flag_n,
    (SELECT v.meaning
    FROM sys_code_value_b_v v
    WHERE v. CODE = 'CON.FLOATING_RANGE_METHOD'
    and v.ENABLED_FLAG = 'Y'
    AND v.code_value = hcp.floating_range_method) floating_range_method_n,
    (SELECT v.meaning
    FROM sys_code_value_b_v v
    WHERE v.CODE = 'GUARANTEE_METHOD'
    and v.ENABLED_FLAG = 'Y'
    AND v.code_value = hcp.GUARANTEE_METHOD) GUARANTEE_METHOD_N,
      (SELECT v.meaning
      FROM sys_code_value_b_v v
      WHERE v.CODE = 'SYS.YES_NO'
      and v.ENABLED_FLAG = 'Y'
      AND v.code_value = hcp.guarantee_method_rent) guarantee_method_rent_n,
      (SELECT v.meaning
      FROM sys_code_value_b_v v
      WHERE v.CODE = 'SYS.YES_NO'
      and v.ENABLED_FLAG = 'Y'
      AND v.code_value = hcp.guarantee_method_difference) guarantee_method_difference_n,
      (SELECT v.meaning
      FROM sys_code_value_b_v v
      WHERE v.CODE = 'SYS.YES_NO'
      and v.ENABLED_FLAG = 'Y'
      AND v.code_value = hcp.guarantee_method_repurcharse) guarantee_method_repurcharse_n,
      (SELECT v.meaning
      FROM sys_code_value_b_v v
      WHERE v.CODE = 'SYS.YES_NO'
      and v.ENABLED_FLAG = 'Y'
      AND v.code_value = hcp.guarantee_method_response) guarantee_method_response_n,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.CODE = 'HLS500_ANNUAL_PAY_TIMES'
        and v.ENABLED_FLAG = 'Y'
        AND v.code_value = hcp.annual_pay_times) annual_pay_times_n,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.CODE = 'RESIDUAL_PRICE_TYPE'
        and v.ENABLED_FLAG = 'Y'
        AND v.code_value = hcp.residual_price_type) residual_price_type_n
    from HLS_CREDIT_PLAN hcp) v
    <where>
      1=1
      <if test="sourceDocumentCategory != null and creditPlanId == null">
        and v.source_document_category = #{sourceDocumentCategory}
      </if>
      <if test="sourceDocumentId != null and creditPlanId == null">
        and v.source_document_id = #{sourceDocumentId}
      </if>
      <if test="sourceDocumentId == null and chanceId != null and creditPlanId == null">
        and v.source_document_id = #{chanceId}
      </if>
      <if test="creditPlanId != null">
        and v.CREDIT_PLAN_ID = #{creditPlanId}
      </if>
    </where>
  </select>

  <resultMap id="QueryAuditMap" type="map">
    <result column="quotation_id" property="quotation_id" />
    <result column="project_id" property="project_id" />
    <result column="tenants" property="tenants" />
    <result column="business_type" property="business_type" />
    <result column="business_type_n" property="business_type_n" />
    <result column="lease_matter_note" property="lease_matter_note" />
    <result column="guarantee_method_note" property="guarantee_method_note" />
    <result column="finance_note" property="finance_note" />
    <result column="other" property="other" />

    <result column="credit_plan_id" property="credit_plan_id" />
    <result column="credit_amt" property="credit_amt"/>
    <result column="used_amount" property="used_amount"/>
    <result column="left_credit_amt" property="left_credit_amt"/>
    <result column="quota_type" property="quota_type"/>
    <result column="conglomerate_flag" property="conglomerate_flag" />
    <result column="belong_conglomerate" property="belong_conglomerate" />
    <result column="date_from" property="date_from" />
    <result column="date_to" property="date_to" />
    <result column="credit_desc" property="credit_desc" />
    <result column="source_document_category" property="source_document_category" />
    <result column="source_document_id" property="source_document_id" />
    <result column="conglomerate_flag_n" property="conglomerate_flag_n" />
    <result column="quota_type_n" property="quota_type_n" />
    <result column="irr" property="irr"/>
    <result column="financing_date" property="financing_date"/>
    <result column="bear_guarantee_flag" property="bear_guarantee_flag"/>
    <result column="bear_guarantee_flag_n" property="bear_guarantee_flag_n"/>
    <result column="floating_range_method" property="floating_range_method"/>
    <result column="floating_range_method_n" property="floating_range_method_n"/>
    <result column="guarantee_method" property="guarantee_method"/>
    <result column="guarantee_method_n" property="guarantee_method_n"/>
    <result column="non_cyclical_amount" property="non_cyclical_amount"/>
    <result column="cyclical_amount" property="cyclical_amount"/>

    <result column="guarantee_method_rent" property="guarantee_method_rent"/>
    <result column="guarantee_method_rent_n" property="guarantee_method_rent_n"/>
    <result column="guarantee_method_difference" property="guarantee_method_difference"/>
    <result column="guarantee_method_difference_n" property="guarantee_method_difference_n"/>
    <result column="guarantee_method_repurcharse" property="guarantee_method_repurcharse"/>
    <result column="guarantee_method_repurcharse_n" property="guarantee_method_repurcharse_n"/>
    <result column="guarantee_method_response" property="guarantee_method_response"/>
    <result column="guarantee_method_response_n" property="guarantee_method_response_n"/>
    <result column="bp_name" property="bp_name" />
    <result column="down_payment_ratio" property="down_payment_ratio" />
    <result column="deposit_ratio" property="deposit_ratio" />
    <result column="annual_pay_times" property="annual_pay_times" />
    <result column="annual_pay_times_n" property="annual_pay_times_n" />
    <result column="residual_price_type" property="residual_price_type" />
    <result column="residual_price_type_n" property="residual_price_type_n" />
    <result column="residual" property="residual" />
  </resultMap>

  <select id="queryCreditPlanAuditInfo" parameterType="com.hand.hls.prj.dto.HlsCusPrjProjectParam" resultMap="QueryAuditMap">
    select v.*, (v.credit_amt - v.used_amount) left_credit_amt
    from (
           select hcp.credit_plan_id,
                  hcp.down_payment_ratio,
                  HCP.deposit_ratio,
                  pp.project_id,
                  -- 承租人
                  (select wm_concat(hbm.bp_name)
                   from hls_bp_master hbm,
                        prj_project_bp ppb
                   where ppb.bp_id = hbm.bp_id
                     and ppb.bp_type = 'MANUFACTURER'
                     and ppb.project_id = pp.project_id) as tenants,
                  -- 租赁方式
                  pp.business_type,
                  (SELECT v.meaning
                   FROM sys_code_value_b_v v
                   WHERE v.CODE = 'HLS200.LEASING_PRODUCT_DETAIL'
                     AND v.code_value = pp.business_type
                     AND v.enabled_flag = 'Y'
                  ) AS business_type_n,
                  -- 资金用途
                  pp.finance_note,
                  -- 其他
                  hcp.other,
                  -- 租赁物信息
                  pp.lease_matter_note,
                  -- 担保方式
                  pp.guarantee_method_note,
                  hcp.credit_amt,
                  /*这里要等付款支付改造完成后取值*/
                  0 used_amount,
                  hcp.quota_type,
                  hcp.conglomerate_flag,
                  hcp.belong_conglomerate,
                  hcp.date_from,
                  hcp.date_to,
                  hcp.credit_desc,
                  hcp.source_document_category,
                  hcp.source_document_id,
                  hcp.irr,
                  hcp.financing_date,
                  (
                    select scv.MEANING
                    from sys_code_b sc,
                         sys_code_value_b scv
                    where sc.CODE_ID = scv.CODE_ID
                      and sc.CODE = 'SYS.YES_NO'
                      and scv.value = hcp.CONGLOMERATE_FLAG
                  ) CONGLOMERATE_FLAG_N,
                  (
                    select scv.MEANING
                    from sys_code_b sc,
                         sys_code_value_b scv
                    where sc.CODE_ID = scv.CODE_ID
                      and sc.CODE = 'FINANCING_LOAN'
                      and scv.value = hcp.QUOTA_TYPE
                  ) QUOTA_TYPE_N,
                  hcp.non_cyclical_amount,
                  hcp.cyclical_amount,
                  hcp.bear_guarantee_flag,
                  (SELECT v.meaning
                   FROM sys_code_value_b_v v
                   WHERE v.CODE = 'SYS.YES_NO'
                     AND v.code_value = hcp.bear_guarantee_flag) bear_guarantee_flag_n,
                  hcp.floating_range_method,
                  (SELECT v.meaning
                   FROM sys_code_value_b_v v
                   WHERE v.CODE = 'CON.FLOATING_RANGE_METHOD'
                     and v.ENABLED_FLAG = 'Y'
                     AND v.code_value = hcp.floating_range_method) floating_range_method_n,
                  hcp.GUARANTEE_METHOD,
                  (SELECT v.meaning
                   FROM sys_code_value_b_v v
                   WHERE v.CODE = 'GUARANTEE_METHOD'
                     and v.ENABLED_FLAG = 'Y'
                     AND v.code_value = hcp.GUARANTEE_METHOD) GUARANTEE_METHOD_N,
                  hcp.guarantee_method_rent,
                  (SELECT v.meaning
                   FROM sys_code_value_b_v v
                   WHERE v.CODE = 'SYS.YES_NO'
                     and v.ENABLED_FLAG = 'Y'
                     AND v.code_value = hcp.guarantee_method_rent) guarantee_method_rent_n,
                  hcp.guarantee_method_difference,
                  (SELECT v.meaning
                   FROM sys_code_value_b_v v
                   WHERE v.CODE = 'SYS.YES_NO'
                     and v.ENABLED_FLAG = 'Y'
                     AND v.code_value = hcp.guarantee_method_difference) guarantee_method_difference_n,
                  hcp.guarantee_method_repurcharse,
                  (SELECT v.meaning
                   FROM sys_code_value_b_v v
                   WHERE v.CODE = 'SYS.YES_NO'
                     and v.ENABLED_FLAG = 'Y'
                     AND v.code_value = hcp.guarantee_method_repurcharse) guarantee_method_repurcharse_n,
                  hcp.guarantee_method_response,
                  (SELECT v.meaning
                   FROM sys_code_value_b_v v
                   WHERE v.CODE = 'SYS.YES_NO'
                     and v.ENABLED_FLAG = 'Y'
                     AND v.code_value = hcp.guarantee_method_response) guarantee_method_response_n,
                  hcp.annual_pay_times,
                  (SELECT v.meaning
                   FROM sys_code_value_b_v v
                   WHERE v.CODE = 'HLS500_ANNUAL_PAY_TIMES'
                     and v.ENABLED_FLAG = 'Y'
                     AND v.code_value = hcp.annual_pay_times) annual_pay_times_n,
                  hcp.residual_price_type,
                  (SELECT v.meaning
                   FROM sys_code_value_b_v v
                   WHERE v.CODE = 'RESIDUAL_PRICE_TYPE'
                     and v.ENABLED_FLAG = 'Y'
                     AND v.code_value = hcp.residual_price_type) residual_price_type_n,
                  HCP.residual
           from prj_project pp,
                hls_credit_plan hcp
           where hcp.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT'
             and hcp.SOURCE_DOCUMENT_ID = pp.project_id
             and pp.project_id = #{projectId}
         )v
  </select>


  <select id="queryPaymentCreditPlanAuditInfo" parameterType="com.hand.hls.prj.dto.HlsCusPrjProjectParam" resultMap="QueryAuditMap">
    select
    hcp.credit_plan_id,
    pp.project_id,
    -- 承租人
    (select wm_concat(hbm.bp_name) from hls_bp_master hbm, prj_project_bp ppb where ppb.bp_id = hbm.bp_id and ppb.bp_type = 'COOPERATIVE_ORGANIZATION' and ppb.project_id = pp.project_id) as tenants,
    -- 租赁方式
    pp.business_type,
    ( SELECT
    v.meaning
    FROM
    sys_code_value_b_v v
    WHERE
    v.CODE = 'HLS200.LEASING_PRODUCT_DETAIL'
    AND v.code_value = pp.business_type
    AND v.enabled_flag = 'Y'
    ) AS business_type_n,
    -- 资金用途
    pp.finance_note,
    -- 其他
    hcp.other,
    -- 租赁物信息
    pp.lease_matter_note,
    -- 担保方式
    pp.guarantee_method_note,
    hcp.credit_amt,
    hcp.quota_type ,
    hcp.conglomerate_flag ,
    hcp.belong_conglomerate ,
    hcp.date_from ,
    hcp.date_to ,
    hcp.credit_desc ,
    hcp.source_document_category ,
    hcp.source_document_id ,
    hcp.irr,
    hcp.financing_date,
    (
    select scv.MEANING
    from sys_code_b sc,sys_code_value_b scv
    where sc.CODE_ID = scv.CODE_ID
    and sc.CODE = 'SYS.YES_NO'
    and scv.value = hcp.CONGLOMERATE_FLAG
    ) CONGLOMERATE_FLAG_N,
    (
    select scv.MEANING
    from sys_code_b sc,sys_code_value_b scv
    where sc.CODE_ID = scv.CODE_ID
    and sc.CODE = 'FINANCING_LOAN'
    and scv.value = hcp.QUOTA_TYPE
    ) QUOTA_TYPE_N
    from prj_project pp, hls_credit_plan hcp
    where hcp.SOURCE_DOCUMENT_CATEGORY = 'PRJ_PROJECT' and hcp.SOURCE_DOCUMENT_ID = pp.project_id and pp.project_id = #{projectId}
  </select>

    <select id="findFactoringInfo" resultMap="BaseResultMap">
        SELECT
        c.bp_id,
        ( SELECT bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = c.bp_id ) bp_name,
        hcp.credit_amt,
        hcp.quota_type,
        (
        select sc.meaning
        from sys_code_value_b_v sc
        where sc.code = 'FINANCING_LOAN'
        AND sc.code_value = hcp.QUOTA_TYPE
        ) QUOTA_TYPE_N,
        hcp.date_from,
        hcp.date_to,
        hcp.credit_desc
        FROM
        hls_credit_plan hcp
        INNER JOIN hls_credit_line_chance c ON hcp.source_document_category = 'HLS_CREDIT_LINE_CHANCE'
        AND hcp.source_document_id = c.chance_id
        <where>
            c.chance_id = #{chanceId}
        </where>
    </select>
</mapper>