<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjProjectSupplementMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjProjectSupplement">
        <result column="PRJ_SUPPLE_ID" property="prjSuppleId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="PRJ_SUPPLEMENT_RESULT" property="prjSupplementResult" jdbcType="VARCHAR" />
        <result column="SUPPLE_SUBMIT_DATE" property="suppleSubmitDate" jdbcType="DATE" />
        <result column="APPROVE_DATE" property="approveDate" jdbcType="DATE" />
        <result column="SUPPLE_STATUS" property="suppleStatus" jdbcType="VARCHAR" />
        <result column="PRJ_SUPPLE_NUMBER" property="prjSuppleNumber" jdbcType="VARCHAR" />
    </resultMap>


    <select id="querySuppleByProjectId" parameterType="com.hand.hls.prj.dto.HlsCusPrjProjectSupplement" resultMap="BaseResultMap">

            SELECT pps.*
            FROM   prj_project_supplement pps ,prj_project pp
            <where>
                pps.project_id = pp.project_id
                <if test="projectId != null">
                    and  pps.project_id = #{projectId}
                </if>
                <if test="prjSuppleId != null">
                    and pps.prj_supple_id = #{prjSuppleId}
                </if>

            </where>
            order by pps.prj_supple_id desc

    </select>

</mapper>