<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjProjectApproverMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjProjectApprover">
        <result column="APPROVER_ID" property="approverId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="ALLOCATION_ID" property="allocationId" jdbcType="DECIMAL" />
        <result column="VOTE_STATUS" property="voteStatus" jdbcType="VARCHAR" />
        <result column="VOTE_COMMENT" property="voteComment" jdbcType="VARCHAR" />
    </resultMap>


</mapper>