<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjProjectMailInfoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjProjectMailInfo">
        <result column="mail_id" property="mailId" jdbcType="DECIMAL" />
        <result column="project_id" property="projectId" jdbcType="DECIMAL" />
        <result column="addressee" property="addressee" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="to_address" property="toAddress" jdbcType="VARCHAR" />
        <result column="express_name" property="expressName" jdbcType="VARCHAR" />
        <result column="express_number" property="expressNumber" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryPrjProjectMailInfo" resultMap="BaseResultMap" parameterType="com.hand.hls.prj.dto.HlsCusPrjProjectMailInfo">
        SELECT
            ppmi.mail_id,
            ppmi.project_id,
            ppmi.addressee,
            ppmi.phone,
            ppmi.to_address,
            ppmi.express_name,
            ppmi.express_number,
            ppmi.description
        FROM
            prj_project_mail_info ppmi
        <where>
            1=1
            <if test="projectId!=null">
                and ppmi.project_id = #{projectId}
            </if>
        </where>
    </select>


</mapper>