<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjProjectLeaseMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjProjectLease">
        <result column="LEASE_ID" property="leaseId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="LEASE_NAME" property="leaseName" jdbcType="VARCHAR" />
        <result column="LEASE_NUMBER" property="leaseNumber" jdbcType="VARCHAR" />
        <result column="LEASE_CLASS" property="leaseClass" jdbcType="VARCHAR" />
        <result column="PERSON_NAME" property="personName" jdbcType="VARCHAR" />
        <result column="LEASE_STATUS" property="leaseStatus" jdbcType="VARCHAR" />
        <result column="LEASE_PRICE" property="leasePrice" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="lease_class_n" property="leaseClassN" jdbcType="VARCHAR" />
        <result column="lease_status_n" property="leaseStatusN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findFactoringApprovalInfo" resultMap="BaseResultMap">
        SELECT
        ppl.lease_id,
        ppl.project_id,
        ppl.lease_name,
        ppl.lease_number,
        ppl.lease_class,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.code = 'CHANCE.FACTORING_LEASE_STATUS' AND sc.code_value = ppl.lease_class ) lease_class_n,
        ppl.person_name,
        ppl.lease_status,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.code = 'CHANCE.FACTORING_LEASE_STATUS' AND sc.code_value = ppl.lease_status ) lease_status_n,
        ppl.lease_price,
        ppl.description
        FROM
        prj_project_lease ppl
        <where>
            ppl.project_id = #{projectId}
        </where>
    </select>

</mapper>