<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjQuotationCashflowHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjQuotationCashflowHistory">
        <result column="QUOTATION_CASHFLOW_ID" property="quotationCashflowId" jdbcType="DECIMAL" />
        <result column="QUOTATION_ID" property="quotationId" jdbcType="DECIMAL" />
        <result column="CF_ITEM" property="cfItem" jdbcType="DECIMAL" />
        <result column="CF_TYPE" property="cfType" jdbcType="DECIMAL" />
        <result column="CF_DIRECTION" property="cfDirection" jdbcType="VARCHAR" />
        <result column="CF_STATUS" property="cfStatus" jdbcType="VARCHAR" />
        <result column="TIMES" property="times" jdbcType="DECIMAL" />
        <result column="DUE_DATE" property="dueDate" jdbcType="DATE" />
        <result column="FIN_INCOME_DATE" property="finIncomeDate" jdbcType="DATE" />
        <result column="DUE_AMOUNT" property="dueAmount" jdbcType="DECIMAL" />
        <result column="NET_DUE_AMOUNT" property="netDueAmount" jdbcType="DECIMAL" />
        <result column="VAT_DUE_AMOUNT" property="vatDueAmount" jdbcType="DECIMAL" />
        <result column="PRINCIPAL" property="principal" jdbcType="DECIMAL" />
        <result column="NET_PRINCIPAL" property="netPrincipal" jdbcType="DECIMAL" />
        <result column="VAT_PRINCIPAL" property="vatPrincipal" jdbcType="DECIMAL" />
        <result column="INTEREST" property="interest" jdbcType="DECIMAL" />
        <result column="NET_INTEREST" property="netInterest" jdbcType="DECIMAL" />
        <result column="VAT_INTEREST" property="vatInterest" jdbcType="DECIMAL" />
        <result column="OUTSTANDING_RENTAL" property="outstandingRental" jdbcType="DECIMAL" />
        <result column="OUTSTANDING_PRINCIPAL" property="outstandingPrincipal" jdbcType="DECIMAL" />
        <result column="OUTSTANDING_INTEREST" property="outstandingInterest" jdbcType="DECIMAL" />
        <result column="INTEREST_ACCRUAL_BALANCE" property="interestAccrualBalance" jdbcType="DECIMAL" />
        <result column="ACCUMULATED_UNPAID_INTEREST" property="accumulatedUnpaidInterest" jdbcType="DECIMAL" />
        <result column="CALC_DATE" property="calcDate" jdbcType="DATE" />
        <result column="WRITE_OFF_AMOUNT" property="writeOffAmount" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_DAYS" property="writeOffDays" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_STATUS" property="writeOffStatus" jdbcType="VARCHAR" />
        <result column="CHANGE_FINE_AMOUNT" property="changeFineAmount" jdbcType="DECIMAL" />
        <result column="REDUCTION_TYPE" property="reductionType" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="BILLING_VAT_RATE" property="billingVatRate" jdbcType="DECIMAL" />
        <result column="CASHFLOW_IRR" property="cashflowIrr" jdbcType="DECIMAL" />
        <result column="CASHFLOW_IRR_AFTER_TAX" property="cashflowIrrAfterTax" jdbcType="DECIMAL" />
        <result column="CASHFLOW_IRR_WITHOUT_FEE" property="cashflowIrrWithoutFee" jdbcType="DECIMAL" />
        <result column="VAT_TOTAL" property="vatTotal" jdbcType="DECIMAL" />
        <result column="CASHFLOW_NAME" property="cashflowName" jdbcType="VARCHAR" />
        <result column="PLAN_DUE_DATE" property="planDueDate" jdbcType="DATE" />
        <result column="LEASE_ITEM_ID" property="leaseItemId" jdbcType="DECIMAL" />
        <result column="PAY_METHOD" property="payMethod" jdbcType="VARCHAR" />
        <result column="PAY_OBJECT" property="payObject" jdbcType="DECIMAL" />
        <result column="PERIOD_DURATION" property="periodDuration" jdbcType="DECIMAL" />
        <result column="DUE_DATE_CALC_BASE" property="dueDateCalcBase" jdbcType="VARCHAR" />
        <result column="MONTH_ADJUST" property="monthAdjust" jdbcType="DECIMAL" />
        <result column="DAY_ADJUST" property="dayAdjust" jdbcType="DECIMAL" />
        <result column="DAYS" property="days" jdbcType="DECIMAL" />
        <result column="DOWN_PAYMENT" property="downPayment" jdbcType="DECIMAL" />
        <result column="PAYMENT_FIRST" property="paymentFirst" jdbcType="DECIMAL" />
        <result column="PMT_DISCOUNT_RATE" property="pmtDiscountRate" jdbcType="DECIMAL" />
        <result column="HISTORY_FLAG" property="historyFlag" jdbcType="VARCHAR" />
        <result column="PAYNOTE_RATE" property="paynoteRate" jdbcType="DECIMAL" />
        <result column="PAYNOTE_AMOUNT" property="paynoteAmount" jdbcType="DECIMAL" />
        <result column="PAYNOTE_TERM" property="paynoteTerm" jdbcType="DECIMAL" />
        <result column="ACCEPTED_DATE" property="acceptedDate" jdbcType="DATE" />
        <result column="PAYNOTE_CHARGE_RATE" property="paynoteChargeRate" jdbcType="DECIMAL" />
        <result column="PAYNOTE_CHARGE_FEE" property="paynoteChargeFee" jdbcType="DECIMAL" />
        <result column="DEPOSIT_INTEREST_FLAG" property="depositInterestFlag" jdbcType="VARCHAR" />
        <result column="DEPOSIT_INTEREST_RATE" property="depositInterestRate" jdbcType="DECIMAL" />
        <result column="DAYS_PER_YEAR" property="daysPerYear" jdbcType="DECIMAL" />
        <result column="DEPOSIT_SETTLE_TYPE" property="depositSettleType" jdbcType="VARCHAR" />
        <result column="DEPOSIT_SETTLE_DATE" property="depositSettleDate" jdbcType="DATE" />
        <result column="DEPOSIT_RETURN_DATE" property="depositReturnDate" jdbcType="DATE" />
        <result column="AMORTIZATION_METHOD" property="amortizationMethod" jdbcType="VARCHAR" />
        <result column="PRINCIPAL_ADJUST_AMOUNT" property="principalAdjustAmount" jdbcType="DECIMAL" />
        <result column="INTEREST_ADJUST_AMOUNT" property="interestAdjustAmount" jdbcType="DECIMAL" />
        <result column="PAYMENT_DAY" property="paymentDay" jdbcType="DECIMAL" />
        <result column="PAYMENT_SEQ" property="paymentSeq" jdbcType="DECIMAL" />
        <result column="CALC_BASE_AMOUNT" property="calcBaseAmount" jdbcType="DECIMAL" />
        <result column="CALC_RATIO" property="calcRatio" jdbcType="DECIMAL" />
        <result column="INT_RATE" property="intRate" jdbcType="DECIMAL" />
        <result column="DEPOSIT_RETURN_TYPE" property="depositReturnType" jdbcType="VARCHAR" />
        <result column="TAX_TYPE_RATE" property="taxTypeRate" jdbcType="DECIMAL" />
        <result column="STAGE_TYPE" property="stageType" jdbcType="VARCHAR" />
        <result column="CALC_BASE" property="calcBase" jdbcType="VARCHAR" />
        <result column="RECEIPT_TYPE" property="receiptType" jdbcType="VARCHAR" />
        <result column="source_cashflow_id" property="sourceCashflowId"/>
        <result column="base_amount" property="baseAmount"/>
    </resultMap>

    <resultMap id="CalcQuotationCashflowMap" type="map">
        <result column="quotation_id" property="quotation_id"/>
        <result column="quotation_cashflow_id" property="quotation_cashflow_id"/>
        <result column="times" property="times"/>
        <result column="calc_date" property="calc_date"/>
        <result column="due_date" property="due_date"/>
        <result column="due_amount" property="due_amount"/>
        <result column="interest" property="interest"/>
        <result column="net_interest" property="net_interest"/>
        <result column="vat_interest" property="vat_interest"/>
        <result column="principal" property="principal"/>
        <result column="net_principal" property="net_principal"/>
        <result column="vat_principal" property="vat_principal"/>
        <result column="principal" property="principal"/>
        <result column="net_principal" property="net_principal"/>
        <result column="vat_principal" property="vat_principal"/>
        <result column="cf_item" property="cf_item"/>
        <result column="cf_direction" property="cf_direction"/>
        <result column="net_due_amount" property="net_due_amount"/>
        <result column="vat_due_amount" property="vat_due_amount"/>
        <result column="cf_item_n" property="cf_item_n"/>
        <result column="cf_direction_n" property="cf_direction_n"/>
        <result column="cf_type" property="cf_type"/>
        <result column="calc_base_amount" property="calc_base_amount"/>
        <result column="calc_ratio" property="calc_ratio"/>
        <result column="deposit_interest_flag" property="deposit_interest_flag"/>
        <result column="deposit_interest_flag_n" property="deposit_interest_flag_n"/>
        <result column="deposit_interest_rate" property="deposit_interest_rate"/>
        <result column="days_per_year" property="days_per_year"/>
        <result column="days_per_year_n" property="days_per_year_n"/>
        <result column="deposit_settle_type" property="deposit_settle_type"/>
        <result column="deposit_settle_type_n" property="deposit_settle_type_n"/>
        <result column="deposit_settle_date" property="deposit_settle_date"/>
        <result column="deposit_return_type" property="deposit_return_type"/>
        <result column="deposit_return_type_n" property="deposit_return_type_n"/>
        <result column="tax_type_rate" property="tax_type_rate"/>
        <result column="amortization_method" property="amortization_method"/>
        <result column="amortization_method_n" property="amortization_method_n"/>
        <result column="deposit_return_date" property="deposit_return_date"/>
        <result column="calc_base" property="calc_base"/>
        <result column="receipt_type" property="receipt_type"/>
        <result column="calc_base_n" property="calc_base_n"/>
        <result column="receipt_type_n" property="receipt_type_n"/>
        <result column="stage_type" property="stage_type"/>
        <result column="payment_date_type" property="payment_date_type"/>
        <result column="payment_date_type_n" property="payment_date_type_n"/>
        <result column="source_cashflow_id" property="source_cashflow_id"/>
        <result column="paynote_rate" property="paynote_rate"/>
        <result column="paynote_amount" property="paynote_amount"/>
        <result column="paynote_term" property="paynote_term"/>
        <result column="accepted_date" property="accepted_date"/>
        <result column="paynote_charge_rate" property="paynote_charge_rate"/>
        <result column="paynote_charge_fee" property="paynote_charge_fee"/>
        <result column="paynote_amount" property="paynote_amount"/>
        <result column="base_amount" property="base_amount"/>
    </resultMap>

    <select id="selectHistoryQuotationCashflowInfoQuery" resultMap="CalcQuotationCashflowMap">
        select
        pqa.quotation_id,
        pqa.quotation_cashflow_id,
        pqa.times,
        pqa.calc_date,
        pqa.due_date,

        case pqa.cf_direction when 'OUTFLOW' then
        -pqa.due_amount
        else pqa.due_amount end due_amount,

        pqa.interest,
        pqa.net_interest,
        pqa.vat_interest,
        pqa.principal,
        pqa.net_principal,
        pqa.vat_principal,
        pqa.cf_item,
        (select h.description from hls_cashflow_item h where h.cf_item = pqa.cf_item)cf_item_n,
        case pqa.cf_direction when 'OUTFLOW'
        then '流出' else '流入' end cf_direction_n,
        pqa.cf_direction,

        case pqa.cf_direction when 'OUTFLOW' then
        -pqa.net_due_amount
        else pqa.net_due_amount end net_due_amount,

        case pqa.cf_direction when 'OUTFLOW' then
        -pqa.vat_due_amount
        else pqa.vat_due_amount end vat_due_amount,

        pqa.cf_type,
        pqa.calc_base_amount,
        pqa.calc_ratio,
        pqa.deposit_interest_flag,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'SYS.YES_NO'
        and scv.value = pqa.deposit_interest_flag) deposit_interest_flag_n,
        pqa.deposit_interest_rate,
        pqa.days_per_year,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'ABS_PRODUCT_STANDAR_DAYS'
        and scv.value = pqa.days_per_year) days_per_year_n,

        pqa.deposit_settle_type,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'DEPOSIT_SETTLE_TYPE'
        and scv.value = pqa.deposit_settle_type) deposit_settle_type_n,

        pqa.deposit_settle_date,
        pqa.deposit_return_type,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'DEPOSIT_RETURN_TYPE'
        and scv.value = pqa.deposit_return_type) deposit_return_type_n,
        pqa.tax_type_rate,
        pqa.amortization_method,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'EXP.AMORTIZATION_METHOD'
        and scv.value = pqa.amortization_method) amortization_method_n,
        pqa.deposit_return_date,

        pqa.calc_base,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'CALC_BASE'
        and scv.value = pqa.calc_base) calc_base_n,

        pqa.receipt_type,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'RECEIPT_TYPE'
        and scv.value = pqa.receipt_type) receipt_type_n,

        pqa.payment_date_type,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'PAYMENT_DATE_TYPE'
        and scv.value = pqa.payment_date_type) payment_date_type_n,

        pqa.stage_type,
        case pqa.stage_type when '租前期' then 1
        when '宽限期' then 2
        when '租赁期' then 3
        else 4 end stage_type_seq


        from quotation_cashflow_history pqa
        <where>
            pqa.quotation_id = #{quotationId}
            <if test="cfItem != null">
                and pqa.cf_item = #{cfItem}
            </if>
            <if test="cfType != null">
                and pqa.cf_type = #{cfType}
            </if>
            <if test="depositFlag != null">
                and pqa.cf_type in (5,52,53)
            </if>
            <if test="feeFlag != null">
                and pqa.cf_type in (3,4,65)
            </if>
            <if test="rentalFlag">
                and pqa.cf_item in (1,10)
            </if>
        </where>
        order by stage_type_seq asc,pqa.due_date asc,pqa.times asc

    </select>

    <select id="selectCalcPaynoteCashflow" resultMap="CalcQuotationCashflowMap">
        select pqc.quotation_id,
               pqc.quotation_cashflow_id,
               pqc.source_cashflow_id,
               pqc.due_date,
               py.due_amount / py.paynote_rate due_amount,
               py.paynote_rate,
               py.due_amount paynote_amount,
               py.paynote_term,
               py.due_date accepted_date,
               pqc.paynote_charge_rate,
               pqc.due_amount paynote_charge_fee,
               py.net_due_amount,
               py.vat_due_amount,
               pqc.cf_item,
               pqc.cf_type
          from quotation_cashflow_history pqc
          left join quotation_cashflow_history py
            on pqc.source_cashflow_id = py.quotation_cashflow_id
         where pqc.cf_item = 91
        and pqc.quotation_id = #{quotationId}
    </select>

    <select id="selectCalcQuotationPaymentCashflowInfoQuery" resultMap="CalcQuotationCashflowMap">
        select
        pqa.quotation_id,
        pqa.quotation_cashflow_id,
        pqa.times,
        pqa.calc_date,
        pqa.due_date,

        pqa.due_amount,

        pqa.interest,
        pqa.net_interest,
        pqa.vat_interest,
        pqa.principal,
        pqa.net_principal,
        pqa.vat_principal,
        pqa.cf_item,
        (select h.description from hls_cashflow_item h where h.cf_item = pqa.cf_item)cf_item_n,
        case pqa.cf_direction when 'OUTFLOW'
        then '流出' else '流入' end cf_direction_n,
        pqa.cf_direction,

        case pqa.cf_direction when 'OUTFLOW' then
        pqa.net_due_amount
        else pqa.net_due_amount end net_due_amount,

        case pqa.cf_direction when 'OUTFLOW' then
        pqa.vat_due_amount
        else pqa.vat_due_amount end vat_due_amount,

        pqa.cf_type,
        pqa.calc_base_amount,
        pqa.calc_ratio,
        pqa.deposit_interest_flag,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'SYS.YES_NO'
        and scv.value = pqa.deposit_interest_flag) deposit_interest_flag_n,
        pqa.deposit_interest_rate,
        pqa.days_per_year,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'ABS_PRODUCT_STANDAR_DAYS'
        and scv.value = pqa.days_per_year) days_per_year_n,

        pqa.deposit_settle_type,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'DEPOSIT_SETTLE_TYPE'
        and scv.value = pqa.deposit_settle_type) deposit_settle_type_n,

        pqa.deposit_settle_date,
        pqa.deposit_return_type,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'DEPOSIT_RETURN_TYPE'
        and scv.value = pqa.deposit_return_type) deposit_return_type_n,
        pqa.tax_type_rate,
        pqa.amortization_method,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'EXP.AMORTIZATION_METHOD'
        and scv.value = pqa.amortization_method) amortization_method_n,
        pqa.deposit_return_date,

        pqa.calc_base,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'CALC_BASE'
        and scv.value = pqa.calc_base) calc_base_n,

        pqa.receipt_type,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'RECEIPT_TYPE'
        and scv.value = pqa.receipt_type) receipt_type_n,

        pqa.payment_date_type,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'PAYMENT_DATE_TYPE'
        and scv.value = pqa.payment_date_type) payment_date_type_n,

        pqa.stage_type,
        case pqa.stage_type when '租前期' then 1
        when '租赁期' then 3
        else 2 end stage_type_seq,

        (select pay.due_amount from  quotation_cashflow_history pay where pay.quotation_cashflow_id =
        (
        select plc.source_cashflow_id from quotation_cashflow_history plc where plc.quotation_id = pqa.quotation_id
        and plc.cf_item = 91 and plc.due_date = pqa.due_date
        ))paynote_amount,
        pqa.base_amount

        from quotation_cashflow_history pqa
        <where>
            pqa.quotation_id = #{quotationId}
            and pqa.cf_item = 0
        </where>
        order by stage_type_seq asc,pqa.times asc

    </select>


</mapper>