<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusBpMasterVisitMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusBpMasterVisit">
        <result column="VISIT_ID" property="visitId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="VISIT_TIME" property="visitTime" jdbcType="DATE" />
        <result column="CONTENT" property="content" jdbcType="VARCHAR" />
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR" />
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR" />
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR" />
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR" />
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR" />
        <result column="REF_V06" property="refV06" jdbcType="VARCHAR" />
        <result column="REF_V07" property="refV07" jdbcType="VARCHAR" />
        <result column="REF_V08" property="refV08" jdbcType="VARCHAR" />
        <result column="REF_V09" property="refV09" jdbcType="VARCHAR" />
        <result column="REF_V10" property="refV10" jdbcType="VARCHAR" />
    </resultMap>

    <select id="bpMasterVisitQuery" resultMap="BaseResultMap">
        select
        bmv.bp_id,bmv.content,bmv.visit_time,bmv.visit_id
        from
        hls_bp_master_visit bmv
        where
        bmv.bp_id = #{bpId}
    </select>
</mapper>