<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjChanceMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjChance">
        <result column="chance_id" property="chanceId" jdbcType="DECIMAL" />
        <result column="company_id" property="companyId" jdbcType="DECIMAL" />
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="project_status" property="projectStatus" jdbcType="VARCHAR"/>
        <result column="lease_channel" property="leaseChannel" jdbcType="VARCHAR"/>
        <result column="division" property="division" jdbcType="VARCHAR"/>
        <result column="employee_id" property="employeeId" jdbcType="DECIMAL"/>
        <result column="unit_id" property="unitId" jdbcType="DECIMAL"/>
        <result column="finance_amount" property="financeAmount" jdbcType="DECIMAL"/>
        <result column="params" property="params" jdbcType="VARCHAR"/>
        <result column="lease_start_date" property="leaseStartDate" jdbcType="DATE"/>
        <result column="financing_purpose" property="financingPurpose" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="comprehensive_opinion" property="comprehensiveOpinion" jdbcType="VARCHAR"/>
        <result column="lease_item_type" property="leaseItemType" jdbcType="VARCHAR"/>
        <result column="authority_rule_string" property="authorityRuleString" jdbcType="VARCHAR"/>
        <result column="debt_amount" property="debtAmount" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="credit_amount" property="creditAmount" jdbcType="DECIMAL"/>
        <result column="project_assistant" property="projectAssistant" jdbcType="DECIMAL"/>
        <result column="used_cash_flow" property="usedCashFlow" jdbcType="VARCHAR"/>
        <result column="cash_flow_analyse" property="cashFlowAnalyse" jdbcType="VARCHAR"/>
        <result column="prj_advantage" property="prjAdvantage" jdbcType="VARCHAR"/>
        <result column="project_status_desc" property="projectStatusDesc" jdbcType="VARCHAR"/>
        <result column="business_type_desc" property="businessTypeDesc"/>
        <result column="division_desc" property="divisionDesc"/>
        <result column="ref_project_id" property="refProjectId"/>
        <result column="document_type_desc" property="documentTypeDesc" jdbcType="VARCHAR"/>
        <result column="other_description" property="otherDescription" jdbcType="VARCHAR"/>
        <result column="lease_channel_desc" property="leaseChannelDesc"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="project_assistant_assigns_id" property="projectAssistantAssignsId" jdbcType="VARCHAR"/>
        <result column="project_assistant_name" property="projectAssistantName" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="DECIMAL"/>

        <result column="asset_liability_ratio" property="assetLiabilityRatio" jdbcType="DECIMAL"/>
        <result column="total_assets" property="totalAssets" jdbcType="DECIMAL"/>
        <result column="customer_income_structure" property="customerIncomeStructure" jdbcType="VARCHAR"/>
        <result column="fin_statement_date" property="finStatementDate" jdbcType="VARCHAR"/>


        <result column="project_manager" property="projectManager" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="prjHomePageGetAllStatusProjectCountMap" type="java.util.Map">
        <result column="projectStatus" property="projectStatus"/>
        <result column="projectCount" property="projectCount"/>
        <result column="projectCountPercent" property="projectCountPercent"/>
        <result column="projectSumCount" property="projectSumCount"/>
        <result column="currentMonthAppend" property="currentMonthAppend"/>
    </resultMap>

    <select id="prjHomePageGetAllStatusProjectCount" parameterType="com.hand.hls.prj.dto.HlsCusPrjChance"
            resultMap="prjHomePageGetAllStatusProjectCountMap">
        <![CDATA[
		select
		nvl(p.project_status,'NEW') as projectStatus,
		count(p.chance_id) as projectCount ,
		round(count(p.chance_id)/(select count(chance_id) from prj_chance pp where pp.company_id=#{companyId}),2)*100 as projectCountPercent,
		(select count(chance_id) from prj_chance pp where pp.company_id=#{companyId}) as projectSumCount,
		(select count(chance_id) from  prj_chance pp  where pp.creation_date > (CURDATE() - DAY (CURDATE()) + 1) and pp.company_id=#{companyId}) as currentMonthAppend
        from
        (
        select
        nvl(t.project_status,'NEW') as project_status,
        t.chance_id,
        t.company_id
        from prj_chance t
        where 1=1
           and (t.created_by = #{request.userId}
            or EXISTS (select 1 from fnd_employee fe where fe.employee_id = t.project_assistant and fe.employee_code = #{request.employeeCode})
            or 10001=#{request.userId}
            or EXISTS (select 1 from sys_user_authority_trx suat where suat.user_id=#{request.userId} and suat.document_category='PRJ_CHANCE' and suat.document_id=t.chance_id and suat.authority_source_type='Y'))
           ) p
            where p.company_id=#{companyId}
                group by p.project_status
        ]]>
    </select>


    <select id="prjHomePageProjectInfoGrid" parameterType="com.hand.hls.prj.dto.HlsCusPrjChance" resultMap="BaseResultMap">
        select v.* ,
        nvl((select max(( CASE hur.RELATION_DOCUMENT_ID WHEN NULL THEN 'N' ELSE 'Y' END )) from hls_user_relationship
        hur where v.chance_id = hur.RELATION_DOCUMENT_ID and hur.SOURCE_USER_ID =  #{userId}),'N')
        collectFlag
        from(
        select
        nvl(p.project_status,'NEW') project_status,
        p.company_id,
        p.credit_amount,
        (select bp_name from hls_bp_master where bp_id=p.tenant_id) as bp_name,
        p.chance_id,
        p.employee_id,
        p.ref_project_id,
        p.tenant_id,
        p.project_number,
        p.project_name,
        p.project_assistant,
        p.CREATION_DATE,
        p.CREATED_BY,
        nvl(hd.description,p.division) division_desc,
        (select hdt.description from hls_document_type hdt where
        hdt.business_type=p.business_type and
        hdt.document_category=p.document_category
        and hdt.document_type=p.document_type)
        as document_type_desc,
        hds.description project_status_desc
        from prj_project p
        LEFT JOIN hls_division hd on p.division=hd.division and p.company_id = hd.company_id
        LEFT JOIN (select * from hls_document_status t1 where t1.document_category='PRJ_PROJECT') hds
        on hds.status_code=nvl(p.project_status,'NEW')
        ) v
        <where>
            1=1
            and (v.created_by = #{request.userId}
            or EXISTS (select 1 from fnd_employee fe where fe.employee_id = v.project_assistant and fe.employee_code = #{request.employeeCode})
            or 10001=#{request.userId}
            or EXISTS (select 1 from sys_user_authority_trx suat where suat.user_id=#{request.userId} and suat.document_category='PRJ_CHANCE' and suat.document_id=v.chance_id and suat.authority_source_type='Y'))
            <if test="companyId != null">
                and v.company_id = #{companyId}
            </if>
            <if test="projectStatus != null">
                and v.project_status = #{projectStatus}
            </if>
            <if test="params != null">
                and ((v.project_number like concat(concat('%',#{params}),'%'))
                or (v.project_name like concat(concat('%',#{params}),'%'))
                or (v.bp_name like concat(concat('%',#{params}),'%')))
            </if>
        </where>
        order by v.CREATION_DATE desc

    </select>


    <resultMap id="ChangeReqInfoMap" type="map">
        <result column="change_req_id" property="change_req_id"/>
        <result column="document_version_id" property="document_version_id"/>
        <result column="status" property="status"/>
        <result column="change_req_date" property="change_req_date"/>
        <result column="change_description" property="change_description"/>
        <result column="change_req_user_name" property="change_req_user_name"/>
        <result column="quotation_id" property="quotation_id"/>
        <result column="project_id" property="project_id"/>
        <result column="credit_line_id" property="credit_line_id"/>
        <result column="fin_statement_hd_id" property="fin_statement_hd_id"/>
        <result column="status_n" property="status_n"/>
        <result column="change_type" property="change_type"/>
        <result column="change_type_n" property="change_type_n"/>
        <result column="change_type_code" property="change_type_code"/>
        <result column="change_info_desc" property="change_info_desc"/>
        <result column="change_effct_desc" property="change_effct_desc"/>
        <result column="tenant_id" property="tenant_id"/>
        <result column="tenant_sec_id" property="tenant_sec_id"/>
        <result column="guarantor_id" property="guarantor_id"/>
        <result column="guarantor_np_id" property="guarantor_np_id"/>
        <result column="marketing_report_id" property="marketing_report_id"/>
        <result column="marketing_report_number" property="marketing_report_number"/>
        <result column="tenant_sec_count" property="tenant_sec_count"/>
        <result column="warrantor_count" property="warrantor_count"/>
        <result column="warrantor_count_np" property="warrantor_count_np"/>
        <result column="change_category" property="change_category"/>
        <result column="source_project_id" property="source_project_id"/>
        <result column="tenant_sec_max" property="tenant_sec_max"/>
        <result column="warrantor_max" property="warrantor_max"/>
        <result column="warrantor_max_np" property="warrantor_max_np"/>
        <result column="instance_end_flag" property="instance_end_flag"/>
        <result column="chance_id" property="chance_id"/>
        <result column="source_project_id" property="source_project_id"/>
        <result column="credit_flag" property="credit_flag"/>
    </resultMap>

    <select id="selectChangeReqInfo" resultMap="ChangeReqInfoMap">
        select
        c.change_req_id,
        '第' || c.document_version_id || '次变更' document_version_id,
        case  pc.data_type when 'CHANGE_REQ' then '变更后'
        when 'HISTORY' then '变更前' end change_type,

        case  c.change_type when 'CHANCE_ALL_CHANGE' then '全部变更'
        when 'CHANCE_CREDIT_AMT_CHANGE' then '额度变更'
        when 'CHANCE_CREDIT_DATE_CHANGE' then '有效期变更'
        when 'CHANCE_CREDIT_BP_CHANGE' then '全部变更' end change_type_n,
        c.change_type change_type_code,
        -- '全部变更' change_type_n,
        c.status,
        (select h.description from hls_document_status h where h.document_category = 'PRJ_PROJECT' and h.status_code = c.status)status_n,
        c.change_req_date,
        c.change_description,
        (select su.description from sys_user su where su.user_id = c.change_req_user_id) change_req_user_name,
        (select pq.quotation_id from prj_quotation pq where pq.source_document_id = pc.chance_id and
        pq.Source_Document_Category='HLS_CREDIT_LINE_CHANCE' and rownum=1) as quotation_id,
        #{chanceId} source_project_id,
        pc.chance_id,
        pc.credit_flag,
        c.change_info_desc,
        c.change_effct_desc,

        case
        when c.status = 'APPROVED' and c.wfl_node_status is null and pc.data_type = 'CHANGE_REQ' then '变更后'
        when c.status = 'APPROVED' and pc.data_type = 'HISTORY' then '变更前'
        when c.status = 'NOTICE_APPROVED' and pc.data_type = 'CHANGE_REQ' then '变更后'
        when c.status = 'NOTICE_APPROVED' and pc.data_type = 'HISTORY' then '变更前'
        when c.status = 'CANCEL' then '变更作废'
        when c.status in ('NOTICE_HOLD','SUSPEND') then '变更暂缓'
        when c.status = 'NOTICE_VETO' then '变更否决'
        when c.status = 'REJECT' then '变更拒绝'
        else '变更中' end change_category,
        c.instance_end_flag

        from change_req_info c, HLS_CREDIT_LINE_CHANCE pc
        where c.document_id = #{chanceId}
        and c.document_category = 'PRJ_CHANCE'
        and pc.data_type in ('CHANGE_REQ','HISTORY')
        and c.change_req_id = pc.change_req_id
        and c.change_type = 'CHANCE_ALL_CHANGE'
        order by  c.document_version_id desc
    </select>

    <select id="selectCreditChangeReqInfo" resultMap="ChangeReqInfoMap">
        select
        c.change_req_id,
        '第' || c.document_version_id || '次变更' document_version_id,
        case  pc.data_type when 'CHANGE_REQ' then '变更后'
        when 'HISTORY' then '变更前' end change_type,

        case  c.change_type when 'CHANCE_ALL_CHANGE' then '全部变更'
        when 'CHANCE_CREDIT_AMT_CHANGE' then '额度变更'
        when 'CHANCE_CREDIT_DATE_CHANGE' then '有效期变更'
        when 'CHANCE_CREDIT_BP_CHANGE' then '全部变更' end change_type_n,
        c.change_type change_type_code,
        -- '全部变更' change_type_n,
        c.status,
        (select h.description from hls_document_status h where h.document_category = 'PRJ_PROJECT' and h.status_code = c.status)status_n,
        c.change_req_date,
        c.change_description,
        (select su.description from sys_user su where su.user_id = c.change_req_user_id) change_req_user_name,
        (select pq.quotation_id from prj_quotation pq where pq.source_document_id = pc.chance_id and
        pq.Source_Document_Category='HLS_CREDIT_LINE_CHANCE' and rownum=1) as quotation_id,
        #{chanceId} source_project_id,
        pc.chance_id,
        pc.credit_flag,
        c.change_info_desc,
        c.change_effct_desc,

        case
        when c.status = 'APPROVED' and c.wfl_node_status is null and pc.data_type = 'CHANGE_REQ' then '变更后'
        when c.status = 'APPROVED' and pc.data_type = 'HISTORY' then '变更前'
        when c.status = 'NOTICE_APPROVED' and pc.data_type = 'CHANGE_REQ' then '变更后'
        when c.status = 'NOTICE_APPROVED' and pc.data_type = 'HISTORY' then '变更前'
        when c.status = 'CANCEL' then '变更作废'
        when c.status in ('NOTICE_HOLD','SUSPEND') then '变更暂缓'
        when c.status = 'NOTICE_VETO' then '变更否决'
        when c.status = 'REJECT' then '变更拒绝'
        else '变更中' end change_category,
        c.instance_end_flag

        from change_req_info c, HLS_CREDIT_LINE_CHANCE pc
        where c.document_id = #{chanceId}
        and c.document_category = 'PRJ_CHANCE'
        and pc.data_type in ('CHANGE_REQ','HISTORY')
        and c.change_req_id = pc.change_req_id
        and c.change_type in ('CHANCE_CREDIT_AMT_CHANGE', 'CHANCE_CREDIT_DATE_CHANGE', 'CHANCE_CREDIT_BP_CHANGE')
        order by  c.document_version_id desc
    </select>

</mapper>