<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjProjectMeetingMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjProjectMeeting">
        <result column="project_meeting_id" property="projectMeetingId" jdbcType="DECIMAL"/>
        <result column="process_instance_id" property="processInstanceId" jdbcType="DECIMAL"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="meeting_name" property="meetingName" jdbcType="VARCHAR"/>
        <result column="meeting_location" property="meetingLocation" jdbcType="VARCHAR"/>
        <result column="meeting_date" property="meetingDate" jdbcType="DATE"/>
        <result column="meeting_status" property="meetingStatus" jdbcType="VARCHAR"/>
        <result column="meeting_result" property="meetingResult" jdbcType="VARCHAR"/>
        <result column="meeting_comments" property="meetingComments" jdbcType="VARCHAR"/>
        <result column="meeting_times" property="meetingTimes" jdbcType="DECIMAL"/>
        <result column="number_of_judges" property="numberOfJudges" jdbcType="DECIMAL"/>
        <result column="anonymous_flag" property="anonymousFlag" jdbcType="VARCHAR"/>
        <result column="meeting_type" property="meetingType" jdbcType="VARCHAR"/>
        <result column="review_results" property="reviewResults" jdbcType="VARCHAR"/>
        <result column="meeting_time" property="meetingTime" jdbcType="VARCHAR"/>
        <result column="data_class" property="dataClass" />
    </resultMap>
    <select id="queryPrjProjectMeetingByProjectId" parameterType="com.hand.hls.prj.dto.HlsCusPrjProjectMeeting"
            resultMap="BaseResultMap">
        SELECT * FROM prj_project_meeting ppm
        <where>
            1=1
            and ppm.data_class = 'NORMAL'
            <if test="projectId != null">
                and ppm.project_id = #{projectId}
            </if>
        </where>
    </select>


    <select id="queryMeetingByMeetingId" parameterType="com.hand.hls.prj.dto.HlsCusPrjProjectMeeting"
            resultMap="BaseResultMap">
        SELECT  * from prj_project_meeting ppm WHERE ppm.project_meeting_id = #{projectMeetingId}
    </select>

    <select id="selectTimes" resultType="com.hand.hls.prj.dto.HlsCusPrjProjectMeeting">
          SELECT
            pm.project_meeting_id as projectMeetingId,
            pm.meeting_times as meetingTimes
            FROM
            prj_project_meeting pm
            where
            pm.project_id = #{projectId}
            and ppm.data_class = 'NORMAL'
            and pm.meeting_times = (select max(meeting_times) from prj_project_meeting where project_id = #{projectId})

    </select>

    <update id="updatePrjMeetingStatus">
        UPDATE prj_project_meeting pm
        SET pm.meeting_status = #{status},
        <if test="result != null || result != ''">
            pm.meeting_result = #{result},
        </if>
        pm.LAST_UPDATED_BY = #{userId},
        pm.LAST_UPDATE_DATE = #{date}
        WHERE
        pm.project_meeting_id = (
        select v.project_meeting_id from
        (SELECT
        ppm.project_meeting_id
        FROM
        prj_project_meeting ppm
        WHERE
        ppm.project_id = #{projectId}
        and ppm.meeting_times = (select max(meeting_times) from prj_project_meeting where project_id = #{projectId})
        ) v
        )
    </update>

    <!--    <select id="queryInfo" resultMap="BaseResultMap">-->
    <!--        SELECT-->
    <!--        ppm.*-->
    <!--        FROM-->
    <!--        prj_project_meeting ppm-->
    <!--        WHERE-->
    <!--        ppm.project_id = #{projectId}-->
    <!--        <if test="processInstanceId != null || processInstanceId != ''">-->
    <!--            and process_instance_id = #{processInstanceId}-->
    <!--        </if>-->
    <!--        and (ppm.meeting_times = (select max(meeting_times) from prj_project_meeting where project_id = #{projectId})-->
    <!--        or ppm.meeting_times is null)-->
    <!--    </select>-->

    <select id="queryInfo" resultMap="BaseResultMap">
        SELECT
        ppm.*
        FROM
        prj_project_meeting ppm
        <where>
            1=1
            and ppm.data_class = 'NORMAL'
            <if test="meetingName != null">
                and ppm.meeting_name LIKE concat(concat('%',#{meetingName}),'%')
            </if>
            <if test="projectId != null">
                and ppm.project_id = #{projectId}
            </if>
            <if test="meetingDate != null">
                and ppm.meeting_date = #{meetingDate}
            </if>
        </where>
        order by ppm.meeting_date desc
    </select>

    <select id="queryInfoChange" resultMap="BaseResultMap">
        SELECT
        ppm.*
        FROM
        prj_project_meeting ppm
        <where>
            1=1
            and ppm.data_class = 'CHANGE'
            <if test="meetingName != null">
                and ppm.meeting_name LIKE concat(concat('%',#{meetingName}),'%')
            </if>
            <if test="projectId != null">
                and ppm.project_id = #{projectId}
            </if>
            <if test="meetingDate != null">
                and ppm.meeting_date = #{meetingDate}
            </if>
        </where>
        order by ppm.meeting_date desc
    </select>

    <select id="queryConfirmMeetingInfo" resultMap="BaseResultMap">
        SELECT
        ppm.*
        FROM
        prj_project_meeting ppm
        WHERE
        ppm.project_id = #{projectId}
        and ppm.data_class = 'NORMAL'
        <if test="processInstanceId != null || processInstanceId != ''">
            and process_instance_id = #{processInstanceId}
        </if>
    </select>

    <select id="queryApproveResult" resultMap="BaseResultMap">
        SELECT ppm.review_results
        FROM prj_project_meeting ppm ,prj_project pp
        <where>
            ppm.project_id = pp.project_id
            and ppm.data_class = 'NORMAL'
            <if test="projectId != null">
                and ppm.project_id = #{projectId}
            </if>
        </where>

    </select>
    <select id="updateMeetingStatus" resultMap="BaseResultMap">
        update prj_project_meeting
        set data_class = #{dataClass}
        where project_id = #{projectId}
        and data_class = 'CHANGE'
    </select>

</mapper>