<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusQuotationDelayHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusQuotationDelayHistory">
        <result column="PRJ_DELAY_ID" property="prjDelayId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="QUOTATION_ID" property="quotationId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="LEASE_ACCOUNT_DATE" property="leaseAccountDate" jdbcType="DATE" />
        <result column="HISTORY_SEQ" property="historySeq" jdbcType="DECIMAL" />
        <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
        <result column="OPERATION_DATE" property="operationDate" jdbcType="DATE" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryHistoryDetail" parameterType="com.hand.hls.prj.dto.HlsCusQuotationDelayHistory"
            resultMap="BaseResultMap">
     select pqd.*,
            (select su.description from sys_user su where su.user_id = pqd.user_id) as user_name
       from prj_quotation_delay_history pqd
     <where>
         pqd.quotation_id = #{quotationId}
         and pqd.project_id = #{projectId}
         and pqd.contract_id = #{contractId}
     </where>
     order by operation_date desc

    </select>

</mapper>