<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjProjectConditionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjProjectCondition">
        <result column="CONDITION_ID" property="conditionId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="CONTENT" property="content" jdbcType="VARCHAR" />
        <result column="STAGE" property="stage" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findFactoringApprovalCondition" resultMap="BaseResultMap">
        SELECT
        ppc.PROJECT_ID,
        ppc.condition_id,
        ppc.content
        FROM
        PRJ_PROJECT_CONDITION ppc
        <where>
            ppc.stage = #{stage} and
            ppc.project_id = #{projectId}
        </where>
    </select>

</mapper>