<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusQuatationElementsMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjQuotationElements">
        <result column="PRJ_ELEMENTS_ID" property="prjElementsId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="QUOTATION_ID" property="quotationId" jdbcType="DECIMAL" />
        <result column="ORDER_SEQ" property="orderSeq" jdbcType="VARCHAR" />
        <result column="PROJECT_ELEMENTS" property="projectElements" jdbcType="VARCHAR" />
        <result column="ELEMENTS_DESCRIBE" property="elementsDescribe" jdbcType="VARCHAR" />
        <result column="row_seq" property="rowSeq" jdbcType="VARCHAR" />
        <result column="his_elements_describe" property="hisElementsDescribe"/>
    </resultMap>


    <select id="selectQuotationElementRemoveInfo" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotationElements"
            resultMap="BaseResultMap">
            select * from prj_quatation_elements his where his.project_id = #{hisProjectId} and his.quotation_id = #{oldQuotationId} and
             not exists (
             select * from prj_quatation_elements p where p.project_id = #{projectId} and p.quotation_id = #{newQuotationId}
             and his.project_elements = p.project_elements
             )
              and his.project_elements != '风险缓释措施'
              and his.project_elements != '还款方式'
              and his.project_elements != '业务种类'
              and his.project_elements != '币种'
              and his.project_elements != '资金用途'
              and his.project_elements != '留购价'
             order by  his.quotation_id
    </select>

    <select id="selectQuotationElementDiffInfo" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotationElements"
            resultMap="BaseResultMap">
         select p.project_elements,
        p.elements_describe,
        his.elements_describe his_elements_describe
   from prj_quatation_elements p, prj_quatation_elements his
  where p.project_id = #{projectId} and p.quotation_id = #{newQuotationId}
    and his.project_id = #{hisProjectId} and his.quotation_id = #{oldQuotationId}
    and p.project_elements = his.project_elements
    and p.elements_describe != his.elements_describe
     and p.project_elements != '风险缓释措施'
   and p.project_elements != '还款方式'
    and p.project_elements != '业务种类'
    and p.project_elements != '币种'
    and p.project_elements != '资金用途'
    and p.project_elements != '留购价'
     order by p.quotation_id

    </select>

    <select id="selectQuotationElementAddInfo" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotationElements"
            resultMap="BaseResultMap">
                 select *
          from prj_quatation_elements p
         where p.project_id = #{projectId} and p.quotation_id = #{newQuotationId}
           and not exists
         (select *
          from prj_quatation_elements his
         where his.project_id = #{hisProjectId} and his.quotation_id = #{oldQuotationId}
           and his.project_elements = p.project_elements)
          and p.project_elements != '风险缓释措施'
          and p.project_elements != '还款方式'
          and p.project_elements != '业务种类'
          and p.project_elements != '币种'
          and p.project_elements != '资金用途'
          and p.project_elements != '留购价'
         order by  p.quotation_id

    </select>

    <select id="queryByQuatationId" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotationElements"
            resultMap="BaseResultMap">
       SELECT *
       FROM   prj_quatation_elements pqe
       <where>
       1=1
            <if test="quotationId != null">
                and pqe.quotation_id = #{quotationId}
            </if>

       </where>

    </select>

    <select id="queryElementInfo" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotationElements"
            resultMap="BaseResultMap">
       SELECT IF (
                    @p = pqe.PROJECT_ID,
                    @rank := @rank + 1 ,@rank := 1
                ) AS row_seq,
                @p := pqe.PROJECT_ID as rank1,
              pqe.*
       FROM   prj_quatation_elements pqe,(SELECT @p := NULL ,@rank := 0) r
       <where>
       1=1
            <if test="quotationId != null">
                and pqe.quotation_id = #{quotationId}
            </if>
       </where>
       order by pqe.prj_elements_id

    </select>



    <select id="selectRentalRemoveInfo" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotationElements"
            resultMap="BaseResultMap">
            select * from prj_quatation_elements his where his.project_id = #{hisProjectId} and his.quotation_id = #{oldQuotationId} and
             not exists (
             select * from prj_quatation_elements p where p.project_id = #{projectId} and p.quotation_id = #{newQuotationId}
             and his.project_elements = p.project_elements
             )
              and his.project_elements = '还款方式'
             order by  his.quotation_id
    </select>

    <select id="selectRentalDiffInfo" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotationElements"
            resultMap="BaseResultMap">
         select p.project_elements,
        p.elements_describe,
        his.elements_describe his_elements_describe
   from prj_quatation_elements p, prj_quatation_elements his
  where p.project_id = #{projectId} and p.quotation_id = #{newQuotationId}
    and his.project_id = #{hisProjectId} and his.quotation_id = #{oldQuotationId}
    and p.project_elements = his.project_elements
    and p.elements_describe != his.elements_describe
   and p.project_elements = '还款方式'
     order by p.quotation_id

    </select>

    <select id="selectRentalAddInfo" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotationElements"
            resultMap="BaseResultMap">
                 select *
          from prj_quatation_elements p
         where p.project_id = #{projectId} and p.quotation_id = #{newQuotationId}
           and not exists
         (select *
          from prj_quatation_elements his
         where his.project_id = #{hisProjectId} and his.quotation_id = #{oldQuotationId}
           and his.project_elements = p.project_elements)
          and p.project_elements = '还款方式'
         order by  p.quotation_id

    </select>
</mapper>