<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjQuotationDetailsMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjQuotationDetails">
        <result column="quotation_deatil_id" property="quotationDeatilId" jdbcType="DECIMAL" />
        <result column="quotation_id" property="quotationId" jdbcType="DECIMAL" />
        <result column="sheets" property="sheets" jdbcType="VARCHAR" />
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE" />
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL" />
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE" />
        <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL" />
    </resultMap>

    <select id="queryDetailsById" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotationDetails" resultMap="BaseResultMap">
        SELECT * from prj_quotation_details a WHERE a.quotation_id = #{quotationId,jdbcType=BIGINT}
    </select>

    <delete id="deleteDetailsById" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotation">
        delete from prj_quotation_details  WHERE quotation_id = #{quotationId,jdbcType=BIGINT}
    </delete>


</mapper>