<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjQuotationCashflowHMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjQuotationCashflowH">
        <result column="quotation_cashflow_id" property="quotationCashflowId" jdbcType="DECIMAL"/>
        <result column="quotation_id" property="quotationId" jdbcType="DECIMAL"/>
        <result column="cf_item" property="cfItem" jdbcType="DECIMAL"/>
        <result column="cf_type" property="cfType" jdbcType="DECIMAL"/>
        <result column="cf_direction" property="cfDirection" jdbcType="VARCHAR"/>
        <result column="cf_status" property="cfStatus" jdbcType="VARCHAR"/>
        <result column="times" property="times" jdbcType="DECIMAL"/>
        <result column="due_date" property="dueDate" jdbcType="DATE"/>
        <result column="calc_date" property="calcDate" jdbcType="DATE"/>
        <result column="fin_income_date" property="finIncomeDate" jdbcType="DATE"/>
        <result column="due_amount" property="dueAmount" jdbcType="DECIMAL"/>
        <result column="net_due_amount" property="netDueAmount" jdbcType="DECIMAL"/>
        <result column="vat_due_amount" property="vatDueAmount" jdbcType="DECIMAL"/>
        <result column="principal" property="principal" jdbcType="DECIMAL"/>
        <result column="net_principal" property="netPrincipal" jdbcType="DECIMAL"/>
        <result column="vat_principal" property="vatPrincipal" jdbcType="DECIMAL"/>
        <result column="interest" property="interest" jdbcType="DECIMAL"/>
        <result column="net_interest" property="netInterest" jdbcType="DECIMAL"/>
        <result column="vat_interest" property="vatInterest" jdbcType="DECIMAL"/>
        <result column="outstanding_rental" property="outstandingRental" jdbcType="DECIMAL"/>
        <result column="outstanding_principal" property="outstandingPrincipal" jdbcType="DECIMAL"/>
        <result column="outstanding_interest" property="outstandingInterest" jdbcType="DECIMAL"/>
        <result column="interest_accrual_balance" property="interestAccrualBalance" jdbcType="DECIMAL"/>
        <result column="accumulated_unpaid_interest" property="accumulatedUnpaidInterest" jdbcType="DECIMAL"/>
        <result column="write_off_amount" property="writeOffAmount" jdbcType="DECIMAL"/>
        <result column="write_off_days" property="writeOffDays" jdbcType="DECIMAL"/>
        <result column="write_off_status" property="writeOffStatus" jdbcType="VARCHAR"/>
        <result column="change_fine_amount" property="changeFineAmount" jdbcType="DECIMAL"/>
        <result column="reduction_type" property="reductionType" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="billing_vat_rate" property="billingVatRate" jdbcType="DECIMAL"/>
        <result column="cashflow_irr" property="cashflowIrr" jdbcType="DECIMAL"/>
        <result column="cashflow_irr_after_tax" property="cashflowIrrAfterTax" jdbcType="DECIMAL"/>
        <result column="cashflow_irr_without_fee" property="cashflowIrrWithoutFee" jdbcType="DECIMAL"/>
        <result column="vat_total" property="vatTotal" jdbcType="DECIMAL"/>
        <result column="cashflow_name" property="cashflowName" jdbcType="VARCHAR"/>
        <result column="calc_way" property="calcWay" jdbcType="VARCHAR"/>
        <result column="subsection_id" property="subsectionId" jdbcType="DECIMAL"/>
        <result column="plan_due_date" property="planDueDate"/>
    </resultMap>

    <delete id="deleteQuotationCalcData" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotationCashflowH">
        delete from prj_quotation_cashflow_h t
        where t.quotation_id = #{quotationId}
        and t.calc_way = #{calcWay}
        and t.subsection_id = #{subsectionId}
    </delete>

    <select id="selectPrjQuotationSubDetail" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotationCashflowH" resultMap="BaseResultMap">
        SELECT * from prj_quotation_cashflow_h t
        where t.quotation_id = #{quotationId}
        and t.calc_way = #{calcWay}
        and t.subsection_id = #{subsectionId}
        and t.times = #{times}
    </select>

    <select id="selectPrjQuotationSubListDetail" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotationCashflowH" resultMap="BaseResultMap">
        SELECT * from prj_quotation_cashflow_h t
        where t.quotation_id = #{quotationId}
        and t.calc_way = #{calcWay}
        and t.subsection_id = #{subsectionId}
        and t.times &lt;= #{times}
        order by t.times asc
    </select>

</mapper>