<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjProjectReceivableMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjProjectReceivable">
        <result column="RECEIVABLE_ID" property="receivableId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR" />
        <result column="AGREEMENT_NUMBER" property="agreementNumber" jdbcType="VARCHAR" />
        <result column="AGREEMENT_NAME" property="agreementName" jdbcType="VARCHAR" />
        <result column="CONTRACT_AMOUNT" property="contractAmount" jdbcType="DECIMAL" />
        <result column="DUE_AMOUNT" property="dueAmount" jdbcType="DECIMAL" />
        <result column="CAPEX_OPEX_AMOUNT" property="capexOpexAmount" jdbcType="DECIMAL" />
        <result column="INVOICE_AMOUNT" property="invoiceAmount" jdbcType="DECIMAL" />
        <result column="INVOICE_CODE" property="invoiceCode" jdbcType="VARCHAR" />
        <result column="INVOICE_NUMBER" property="invoiceNumber" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findFactoringApprovalInfo" resultMap="BaseResultMap">
        SELECT
        ppr.project_id,
        ppr.contract_number,
        ppr.contract_name,
        ppr.agreement_number,
        ppr.agreement_name,
        ppr.contract_amount,
        ppr.due_amount,
        ppr.capex_opex_amount,
        ppr.invoice_amount,
        ppr.invoice_code,
        ppr.invoice_number,
        ppr.description
        FROM
        prj_project_receivable ppr
        <where>
            ppr.project_id = #{projectId}
        </where>
    </select>


</mapper>