<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjQuotationHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjQuotationHistory">
        <result column="quotation_id" property="quotationId" jdbcType="DECIMAL"/>
        <result column="source_document_category" property="sourceDocumentCategory" jdbcType="VARCHAR"/>
        <result column="payment_number" property="paymentNumber" jdbcType="VARCHAR"/>
        <result column="payment_status" property="paymentStatus" jdbcType="VARCHAR"/>
        <result column="document_id" property="documentId" jdbcType="DECIMAL"/>
        <result column="source_document_id" property="sourceDocumentId" jdbcType="DECIMAL"/>
        <result column="data_class" property="dataClass" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="price_list" property="priceList" jdbcType="VARCHAR"/>
        <result column="lease_start_date" property="leaseStartDate" jdbcType="DATE"/>
        <result column="lease_times" property="leaseTimes" jdbcType="DECIMAL"/>
        <result column="annual_pay_times" property="annualPayTimes" jdbcType="DECIMAL"/>
        <result column="lease_term" property="leaseTerm" jdbcType="DECIMAL"/>
        <result column="pay_type" property="payType" jdbcType="DECIMAL"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="tax_type_id" property="taxTypeId" jdbcType="DECIMAL"/>
        <result column="vat_flag" property="vatFlag" jdbcType="VARCHAR"/>
        <result column="vat_rate" property="vatRate" jdbcType="DECIMAL"/>
        <result column="lease_item_amount" property="leaseItemAmount" jdbcType="DECIMAL"/>
        <result column="vat_input" property="vatInput" jdbcType="DECIMAL"/>
        <result column="vat_input_tax_type_id" property="vatInputTaxTypeId" jdbcType="DECIMAL"/>
        <result column="vat_input_tax_type_rate" property="vatInputTaxTypeRate" jdbcType="DECIMAL"/>
        <result column="down_payment_ratio" property="downPaymentRatio" jdbcType="DECIMAL"/>
        <result column="down_payment" property="downPayment" jdbcType="DECIMAL"/>
        <result column="net_down_payment" property="netDownPayment" jdbcType="DECIMAL"/>
        <result column="vat_down_payment" property="vatDownPayment" jdbcType="DECIMAL"/>
        <result column="finance_amount" property="financeAmount" jdbcType="DECIMAL"/>
        <result column="net_finance_amount" property="netFinanceAmount" jdbcType="DECIMAL"/>
        <result column="vat_finance_amount" property="vatFinanceAmount" jdbcType="DECIMAL"/>
        <result column="total_rental" property="totalRental" jdbcType="DECIMAL"/>
        <result column="net_total_rental" property="netTotalRental" jdbcType="DECIMAL"/>
        <result column="vat_total_rental" property="vatTotalRental" jdbcType="DECIMAL"/>
        <result column="total_interest" property="totalInterest" jdbcType="DECIMAL"/>
        <result column="net_total_interest" property="netTotalInterest" jdbcType="DECIMAL"/>
        <result column="vat_total_interest" property="vatTotalInterest" jdbcType="DECIMAL"/>
        <result column="lease_charge_ratio" property="leaseChargeRatio" jdbcType="DECIMAL"/>
        <result column="lease_charge" property="leaseCharge" jdbcType="DECIMAL"/>
        <result column="net_lease_charge" property="netLeaseCharge" jdbcType="DECIMAL"/>
        <result column="vat_lease_charge" property="vatLeaseCharge" jdbcType="DECIMAL"/>
        <result column="lease_mgt_fee_ratio" property="leaseMgtFeeRatio" jdbcType="DECIMAL"/>
        <result column="lease_mgt_fee" property="leaseMgtFee" jdbcType="DECIMAL"/>
        <result column="net_lease_mgt_fee" property="netLeaseMgtFee" jdbcType="DECIMAL"/>
        <result column="vat_lease_mgt_fee" property="vatLeaseMgtFee" jdbcType="DECIMAL"/>
        <result column="lease_mgt_fee_rule" property="leaseMgtFeeRule" jdbcType="VARCHAR"/>
        <result column="deposit_ratio" property="depositRatio" jdbcType="DECIMAL"/>
        <result column="deposit" property="deposit" jdbcType="DECIMAL"/>
        <result column="deposit_deduction" property="depositDeduction" jdbcType="VARCHAR"/>
        <result column="residual_ratio" property="residualRatio" jdbcType="DECIMAL"/>
        <result column="residual_value" property="residualValue" jdbcType="DECIMAL"/>
        <result column="net_residual_value" property="netResidualValue" jdbcType="DECIMAL"/>
        <result column="vat_residual_value" property="vatResidualValue" jdbcType="DECIMAL"/>
        <result column="balloon_ratio" property="balloonRatio" jdbcType="DECIMAL"/>
        <result column="balloon" property="balloon" jdbcType="DECIMAL"/>
        <result column="net_balloon" property="netBalloon" jdbcType="DECIMAL"/>
        <result column="vat_balloon" property="vatBalloon" jdbcType="DECIMAL"/>
        <result column="base_rate_type" property="baseRateType" jdbcType="VARCHAR"/>
        <result column="base_rate" property="baseRate" jdbcType="DECIMAL"/>
        <result column="int_rate" property="intRate" jdbcType="DECIMAL"/>
        <result column="int_rate_implicit" property="intRateImplicit" jdbcType="DECIMAL"/>
        <result column="int_rate_type" property="intRateType" jdbcType="VARCHAR"/>
        <result column="irr" property="irr" jdbcType="DECIMAL"/>
        <result column="irr_after_tax" property="irrAfterTax" jdbcType="DECIMAL"/>
        <result column="pmt" property="pmt" jdbcType="DECIMAL"/>
        <result column="pmt_first" property="pmtFirst" jdbcType="DECIMAL"/>
        <result column="billing_profile" property="billingProfile" jdbcType="VARCHAR"/>
        <result column="penalty_profile" property="penaltyProfile" jdbcType="VARCHAR"/>
        <result column="annual_mean_rate" property="annualMeanRate" jdbcType="DECIMAL"/>
        <result column="floating_range_method" property="floatingRangeMethod" jdbcType="VARCHAR"/>
        <result column="credit_amount" property="creditAmount" jdbcType="DECIMAL"/>
        <result column="floating_way_rate" property="floatingWayRate" jdbcType="DECIMAL"/>
        <result column="floating_way" property="floatingWay" jdbcType="VARCHAR"/>
        <result column="vat_down_payment_rate" property="vatDownPaymentRate" jdbcType="DECIMAL"/>
        <result column="estimate_renting_date" property="estimateRentingDate" jdbcType="DATE"/>
        <result column="adv_service_fee_ratio" property="advServiceFeeRatio" jdbcType="DECIMAL"/>
        <result column="renting_frequency" property="rentingFrequency" jdbcType="VARCHAR"/>
        <result column="par_interest_rate" property="parInterestRate" jdbcType="DECIMAL"/>
        <result column="renting_method" property="rentingMethod" jdbcType="VARCHAR"/>
        <result column="deposit_return_method" property="depositReturnMethod" jdbcType="VARCHAR"/>
        <result column="xirr" property="xirr" jdbcType="DECIMAL"/>
        <result column="adv_service_fee" property="advServiceFee" jdbcType="DECIMAL"/>
        <result column="final_residual_value" property="finalResidualValue" jdbcType="VARCHAR"/>
        <result column="billing_method" property="billingMethod" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="lease_term_m" property="leaseTermM" jdbcType="VARCHAR"/>
        <result column="irr_without_fee" property="irrWithoutFee" jdbcType="DECIMAL"/>
        <result column="xirr_without_fee_aft" property="xirrWithoutFeeAft" jdbcType="DECIMAL"/>
        <result column="lease_end_date" property="leaseEndDate" jdbcType="DATE"/>
        <result column="fine_status" property="fineStatus" jdbcType="VARCHAR"/>
        <result column="finance_amount_upp" property="financeAmountUpp" jdbcType="VARCHAR"/>
        <result column="deposit_upp" property="depositUpp" jdbcType="VARCHAR"/>
        <result column="selected_flag" property="selectedFlag" jdbcType="VARCHAR"/>
        <result column="generated_status" property="generatedStatus" jdbcType="VARCHAR"/>
        <result column="return_account" property="returnAccount" jdbcType="DECIMAL"/>
        <result column="interest_year_days" property="interestYearDays" jdbcType="DECIMAL"/>
        <result column="first_rental_payment_date" property="firstRentalPaymentDate"/>
        <result column="payment_method" property="paymentMethod"/>
        <result column="payment_day" property="paymentDay"/>
        <result column="assets_surplus_value" property="assetsSurplusValue"/>
        <result column="insurance_fee_method" property="insuranceFeeMethod"/>
        <result column="insurance_fee" property="insuranceFee"/>
        <result column="adv_servicing_frequency" property="advServicingFrequency"/>
        <result column="lease_charging_frequency" property="leaseChargingFrequency"/>
        <result column="change_date" property="changeDate"/>
        <result column="first_rental_pay_change_date" property="firstRentalPayChangeDate"/>
        <result column="account_lease_date" property="accountLeaseDate" jdbcType="DATE"/>
        <result column="quotation_number" property="quotationNumber"/>
        <result column="quotation_type" property="quotationType"/>
        <result column="totle_Pri" property="totlePri"/>
        <result column="balance_Pri" property="balancePri"/>
        <result column="delay_rent_status" property="delayRentStatus"/>
        <result column="adjust_delay_rent_date" property="adjustDelayRentDate" jdbcType="VARCHAR"/>

        <result column="PRE_LEASE_TERM" property="preLeaseTerm" jdbcType="DECIMAL"/>
        <result column="PRERENT_PAYMENT_FRE" property="prerentPaymentFre" jdbcType="DECIMAL"/>
        <result column="GRACE_LEASE_TERM" property="graceLeaseTerm" jdbcType="DECIMAL"/>
        <result column="FIRST_PHASE_LEASE" property="firstPhaseLease" jdbcType="DECIMAL"/>
        <result column="PAYMENT_FIRST" property="paymentFirst" jdbcType="VARCHAR"/>
        <result column="LPR_LINK_DATE" property="lprLinkDate" jdbcType="DATE"/>
        <result column="PRICING_FLOATING_CYCLE" property="pricingFloatingCycle" jdbcType="DECIMAL"/>
        <result column="TOTAL_MANAGEMENT" property="totalManagement" jdbcType="DECIMAL"/>
        <result column="ASSET_MANAGEMENT_RATE" property="assetManagementRate" jdbcType="DECIMAL"/>
        <result column="buyback_price" property="buybackPrice"/>
        <result column="other_price" property="otherPrice"/>
        <result column="subject_matter_introdution" property="subjectMatterIntrodution"/>
        <result column="source_quotation_id" property="sourceQuotationId"/>
        <result column="version_id" property="versionId"/>
        <result column="if_modify_firstdate" property="ifModifyFirstdate"/>
        <result column="change_category" property="changeCategory"/>
        <result column="next_adjustment_rate" property="nextAdjustmentRate"/>
        <result column="rental_plan" property="rentalPlan"/>
        <result column="roa" property="roa"/>
    </resultMap>

    <select id="selectVersionCount" resultType="java.lang.Long" parameterType="com.hand.hls.prj.dto.HlsCusPrjProject">
        select (case
        when count(pqh.version_id) = 0 then
        0
        else
        max(pqh.version_id)
        end) version_id
        from prj_quotation_history pqh
        <where>
            pqh.source_document_id = #{projectId}
            and pqh.source_document_category = 'PRJ_PROJECT'
        </where>
    </select>

    <select id="selectVersionCountCon" resultType="java.lang.Long"
            parameterType="com.hand.hls.cont.dto.HlsCusConContract">
        select (case
        when count(pqh.version_id) = 0 then
        0
        else
        max(pqh.version_id)
        end) version_id
        from prj_quotation_history pqh
        <where>
            pqh.source_document_id = #{contractId}
            and pqh.source_document_category = 'CON_CONTRACT'
        </where>
    </select>

    <resultMap id="QuotationInfoMap" type="map">
        <result column="quotation_id" property="quotation_id"/>
        <result column="lease_item_amount" property="lease_item_amount"/>
        <result column="finance_amount" property="finance_amount"/>
        <result column="lease_term" property="lease_term"/>
        <result column="first_release_date" property="first_release_date"/>
        <result column="lease_start_date" property="lease_start_date"/>
        <result column="annual_pay_times" property="annual_pay_times"/>
        <result column="annual_pay_times_n" property="annual_pay_times_n"/>
        <result column="payment_day" property="payment_day"/>
        <result column="residual_value" property="residual_value"/>
        <result column="currency" property="currency"/>
        <result column="currency_n" property="currency_n"/>
        <result column="xirr" property="xirr"/>
        <result column="xirr_net" property="xirr_net"/>
        <result column="int_rate_type" property="int_rate_type"/>
        <result column="int_rate_type_n" property="int_rate_type_n"/>
        <result column="base_rate" property="base_rate"/>
        <result column="lpr_fixed_date" property="lpr_fixed_date"/>
        <result column="int_rate" property="int_rate"/>
        <result column="lpr_adjustment_term" property="lpr_adjustment_term"/>
        <result column="deposit" property="deposit"/>
        <result column="lease_charge" property="lease_charge"/>
        <result column="adv_service_fee" property="adv_service_fee"/>
        <result column="lease_mgt_fee" property="lease_mgt_fee"/>
        <result column="lease_mgt_fee_ratio" property="lease_mgt_fee_ratio"/>
        <result column="total_rental" property="total_rental"/>
        <result column="RENTING_FREQUENCY" property="renting_frequency"/>
        <result column="XIRR_WITHOUT_FEE_AFT" property="xirr_without_fee_aft"/>
        <result column="LPR_LINK_DATE" property="lpr_link_date"/>
        <result column="PRICING_FLOATING_CYCLE" property="pricing_floating_cycle"/>
        <result column="price_list" property="price_list"/>
        <result column="price_list_n" property="price_list_n"/>
        <result column="business_type" property="business_type"/>
        <result column="business_type_n" property="business_type_n"/>
        <result column="exchange_rate" property="exchange_rate"/>
        <result column="first_pay" property="first_pay"/>
        <result column="down_payment" property="down_payment"/>
        <result column="first_release_date" property="first_release_date"/>
        <result column="pre_lease_flag" property="pre_lease_flag"/>
        <result column="pre_lease_term" property="pre_lease_term"/>
        <result column="grace_flag" property="grace_flag"/>
        <result column="grace_lease_term" property="grace_lease_term"/>
        <result column="pay_type" property="pay_type"/>
        <result column="base_rate_type" property="base_rate_type"/>
        <result column="floating_way_rate" property="floating_way_rate"/>
        <result column="tax_structure" property="tax_structure"/>
        <result column="tax_type_code" property="tax_type_code"/>
        <result column="lpr_base_date" property="lpr_base_date"/>
        <result column="lpr_adjustment_period" property="lpr_adjustment_period"/>
        <result column="asset_mgt_fee_type" property="asset_mgt_fee_type"/>
        <result column="interest_amortization_method" property="interest_amortization_method"/>
        <result column="rental_rounding_type" property="rental_rounding_type"/>
        <result column="quotation_number" property="quotation_number"/>
        <result column="price_list_type" property="price_list_type"/>
        <result column="price_list_type_n" property="price_list_type_n"/>
        <result column="renting_frequency_n" property="renting_frequency_n"/>
        <result column="pre_lease_flag_n" property="pre_lease_flag_n"/>
        <result column="grace_flag_n" property="grace_flag_n"/>
        <result column="lease_end_date" property="lease_end_date"/>
        <result column="calc_date_type" property="calc_date_type"/>

        <result column="calc_date_type_n" property="calc_date_type_n"/>
        <result column="rental_pay_date" property="rental_pay_date"/>
        <result column="pay_type_n" property="pay_type_n"/>
        <result column="lpr_ref_day" property="lpr_ref_day"/>
        <result column="lpr_name_date" property="lpr_name_date"/>
        <result column="lpr_ref_day_n" property="lpr_ref_day_n"/>
        <result column="base_rate_type_n" property="base_rate_type_n"/>

        <result column="vatable_rate_flag" property="vatable_rate_flag"/>
        <result column="vatable_prin_flag" property="vatable_prin_flag"/>

        <result column="vatable_rate_flag_n" property="vatable_rate_flag_n"/>
        <result column="vatable_prin_flag_n" property="vatable_prin_flag_n"/>
        <result column="tax_structure_n" property="tax_structure_n"/>
        <result column="lpr_base_date_n" property="lpr_base_date_n"/>
        <result column="lpr_adjustment_period_n" property="lpr_adjustment_period_n"/>
        <result column="asset_mgt_fee_type_n" property="asset_mgt_fee_type_n"/>
        <result column="interest_amortization_method_n" property="interest_amortization_method_n"/>
        <result column="rental_rounding_type_n" property="rental_rounding_type_n"/>
        <result column="description" property="description"/>
        <result column="xirr_net" property="xirr_net"/>
        <result column="xirr_paynote" property="xirr_paynote"/>
        <result column="xirr_net_paynote" property="xirr_net_paynote"/>
        <result column="vat_rate" property="vat_rate"/>
        <result column="lease_times" property="lease_times"/>
        <result column="create_date" property="create_date"/>
        <result column="sec_num" property="sec_num"/>
    </resultMap>

    <select id="queryQuotationHistoryByQuotationId" parameterType="com.hand.hls.prj.dto.HlsCusPrjQuotation"
            resultMap="QuotationInfoMap">
        select
        pq.quotation_id,
        pq.lease_item_amount,
        pq.finance_amount,
        pq.lease_term,
        pq.first_rental_payment_date,
        pq.lease_start_date,
        pq.annual_pay_times,
        pq.RENTING_FREQUENCY,
        pq.vat_rate,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'RENTING_FREQUENCY' and s.code_value =
        pq.RENTING_FREQUENCY)renting_frequency_n,

        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'HLS500_ANNUAL_PAY_TIMES' and s.code_value =
        pq.annual_pay_times)annual_pay_times_n,
        pq.payment_day,
        pq.residual_value,
        pq.currency,
        (select fc.currency_name from fnd_currency fc where fc.currency_code = pq.currency)currency_n,
        pq.xirr,
        pq.XIRR_WITHOUT_FEE_AFT,
        pq.int_rate_type,

        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'CON.INT_RATE_TYPE' and upper(s.code_value) =
        upper(pq.int_rate_type))int_rate_type_n,
        pq.base_rate,
        pq.lpr_fixed_date,
        pq.lpr_link_date,
        pq.int_rate,
        pq.lpr_adjustment_term,
        pq.LPR_ADJUSTMENT_TERM pricing_floating_cycle,

        (select nvl(sum(pqc.due_amount),0) from prj_quotation_cashflow pqc
        where pqc.quotation_id = pq.quotation_id and pqc.cf_item = 5 and pqc.cf_type = 51) DEPOSIT,
        (select nvl(sum(pqc.due_amount),0) from prj_quotation_cashflow pqc
        where pqc.quotation_id = pq.quotation_id and pqc.cf_item = 3 and pqc.cf_type = 3) LEASE_CHARGE,
        (select nvl(sum(pqc.due_amount),0) from prj_quotation_cashflow pqc
        where pqc.quotation_id = pq.quotation_id and pqc.cf_item = 65 and pqc.cf_type = 66) adv_service_fee,
        (select nvl(sum(pqc.due_amount),0) from prj_quotation_cashflow pqc
        where pqc.quotation_id = pq.quotation_id and pqc.cf_item = 4 and pqc.cf_type = 41) LEASE_MGT_FEE,
        (case
        when nvl(pq.lease_item_amount,0) != 0 then
        ((select nvl(sum(pqc.due_amount),0) from prj_quotation_cashflow pqc
        where pqc.quotation_id = pq.quotation_id and pqc.cf_item = 4 and pqc.cf_type = 41)/pq.lease_item_amount)
        else
        pq.LEASE_MGT_FEE_RATIO
        end) LEASE_MGT_FEE_RATIO,
        pq.total_rental,

        pq.description,
        pq.payment_number,
        pq.quotation_number,
        pq.price_list,
        (select h.description from hls_price_list h where h.price_list = pq.price_list)price_list_n,
        pq.price_list_type,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'PRICE_LIST_TYPE' and s.code_value =
        pq.price_list_type)price_list_type_n,
        pq.business_type,
        (select hbt.description from hls_business_type hbt where hbt.document_category = 'PRJ_PROJECT'
        and pq.business_type = hbt.business_type)business_type_n,
        pq.exchange_rate,
        pq.first_pay,
        pq.down_payment,
        pq.first_release_date,
        pq.pre_lease_flag,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'SYS.YES_NO' and s.code_value =
        pq.pre_lease_flag)pre_lease_flag_n,

        pq.pre_lease_term,
        pq.grace_flag,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'SYS.YES_NO' and s.code_value =
        pq.grace_flag)grace_flag_n,

        pq.grace_lease_term,
        pq.lease_end_date,
        pq.pay_type,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'PAY_TYPE' and s.code_value = pq.pay_type)pay_type_n,

        pq.base_rate_type,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'FND.BASE_RATE_TYPE' and s.code_value =
        pq.base_rate_type)base_rate_type_n,

        pq.floating_way_rate,
        pq.tax_structure,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'TAX_STRUCTURE' and s.code_value =
        pq.tax_structure)tax_structure_n,

        pq.tax_type_code,
        pq.lpr_base_date,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'LPR_BASE_DATE' and s.code_value =
        pq.lpr_base_date)lpr_base_date_n,

        pq.lpr_adjustment_period,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'CON.FLOATING_RANGE_METHOD' and s.code_value =
        pq.lpr_adjustment_period)lpr_adjustment_period_n,

        pq.asset_mgt_fee_type,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'ASSET_MGT_FEE_TYPE' and s.code_value =
        pq.asset_mgt_fee_type)asset_mgt_fee_type_n,

        pq.interest_amortization_method,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'GLD.AMORTIZATION_METHOD' and s.code_value =
        pq.interest_amortization_method)interest_amortization_method_n,

        pq.rental_rounding_type,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'RENTAL_ROUNDING_TYPE' and s.code_value =
        pq.rental_rounding_type)rental_rounding_type_n,


        pq.calc_date_type,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'CALC_DATE_TYPE' and s.code_value =
        pq.calc_date_type)calc_date_type_n,
        pq.rental_pay_date,
        pq.lpr_ref_day,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'LPR_DATE_REF' and s.code_value =
        pq.lpr_ref_day)lpr_ref_day_n,

        pq.vatable_rate_flag,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'SYS.YES_NO' and s.code_value =
        pq.vatable_rate_flag)vatable_rate_flag_n,

        pq.vatable_prin_flag,
        (select s.MEANING from sys_code_value_b_v s where s.CODE = 'SYS.YES_NO' and s.code_value =
        pq.vatable_prin_flag)vatable_prin_flag_n,


        pq.lpr_name_date,
        pq.xirr_net,
        pq.xirr_paynote,
        pq.xirr_net_paynote,
        pq.lease_times

        from prj_quotation_history pq
        <where>
            1=1
            <if test="sourceDocumentId!=null ">
                and pq.source_Document_Id=#{sourceDocumentId}
            </if>
            <if test="sourceDocumentCategory!=null ">
                and pq.source_document_category=#{sourceDocumentCategory}
            </if>
            <if test="quotationId!=null ">
                and pq.quotation_id=#{quotationId}
            </if>
        </where>

    </select>

    <select id="ConFinancialXIRRHistoryQuery" resultMap="QuotationInfoMap">
        select q.xirr, q.XIRR_NET, q.creation_date create_date, (@i :=@i + 1) AS sec_num
        from prj_quotation_history q,(SELECT @i := 0) AS row_seq
        <where>q.source_document_category = 'CON_CONTRACT'
            and q.source_document_id = #{contractId}
        </where>
    </select>

</mapper>