<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCodeValueMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.system.dto.CodeValue" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="CODE_VALUE_ID" property="codeValueId" jdbcType="DECIMAL"/>
        <result column="CODE_ID" property="codeId" jdbcType="DECIMAL"/>
        <result column="VALUE" property="value" jdbcType="VARCHAR"/>
        <result column="MEANING" property="meaning" jdbcType="VARCHAR"/>
        <result column="ORDER_SEQ" property="orderSeq" jdbcType="DECIMAL"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="TAG" property="tag" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="PARENT_CODE_VALUE_ID" property="parentCodeValueId" jdbcType="DECIMAL" />
    </resultMap>

    <select id="selectCodeValuesByCodeNameAndValue" resultType="java.lang.String">
        select scvb.value from sys_code_b scb,sys_code_value_b scvb where scb.code_id = scvb.code_id
         and scb.code = #{code} and scvb.meaning = #{meaning}
    </select>
    <select id="selectCodeValuesByCode" resultType="java.lang.String">
        select v.code_value
          from sys_code_value_b_v v
        where v.code = #{code}
    </select>
    <resultMap id="codeValueAndMeaing" type="Map">
        <result column="code_value" property="codeValue"/>
        <result column="meaning" property="meaning"/>
    </resultMap>
    <select id="selectCodeByCode" resultMap="codeValueAndMeaing">
        select v.code_value,v.MEANING
        from sys_code_value_b_v v
        <where>
            v.code = #{code}
            <if test="codeValue != null">
               and code_value like CONCAT('%', CONCAT(#{codeValue, jdbcType=VARCHAR}, '%'))
            </if>
            <if test="meaning != null">
               and meaning like CONCAT('%', CONCAT(#{meaning, jdbcType=VARCHAR}, '%'))
            </if>

        </where>

    </select>

    <select id="selectCodeNamesByCode" resultType="java.lang.String">
        select v.MEANING
          from sys_code_value_b_v v
        where v.code = #{code}
    </select>


    <select id="selectCodeValuesByCodeName" resultMap="BaseResultMap" parameterType="string">
        SELECT SCVB.CODE_ID, SCVB.VALUE, SCVT.MEANING
          FROM SYS_CODE_VALUE_B SCVB
          LEFT OUTER JOIN SYS_CODE_VALUE_TL SCVT
            ON (SCVB.CODE_VALUE_ID = SCVT.CODE_VALUE_ID AND SCVT.LANG = #{request.locale,jdbcType=VARCHAR})
         INNER JOIN SYS_CODE_B SCB
            ON (SCB.CODE_ID = SCVB.CODE_ID)
         WHERE SCB.CODE = #{codeName}
    </select>

    <select id="selectCodeValuesByParentId" resultMap="BaseResultMap" >
        SELECT SCVB.CODE_ID, SCVB.VALUE, SCVT.MEANING
        FROM SYS_CODE_VALUE_B SCVB
        LEFT OUTER JOIN SYS_CODE_VALUE_TL SCVT
        ON (SCVB.CODE_VALUE_ID = SCVT.CODE_VALUE_ID AND SCVT.LANG = #{request.locale,jdbcType=VARCHAR})
        WHERE SCVB.PARENT_CODE_VALUE_ID = #{parentId,jdbcType=DECIMAL}
    </select>

    <select id="selectCodeValuesByCodeId" resultMap="BaseResultMap">
        SELECT
        SCVB.CODE_VALUE_ID,
        SCVB.CODE_ID,
        SCVB.VALUE,
        SCVT.MEANING,
        SCVT.DESCRIPTION,
        SCVB.TAG,
        SCVB.ORDER_SEQ,
        SCVB.ENABLED_FLAG,
        SCVB.PARENT_CODE_VALUE_ID,
        SCVB.OBJECT_VERSION_NUMBER,
        SCVT2.MEANING PARENTCODEVALUEMEANING
        FROM
        SYS_CODE_VALUE_B SCVB
        LEFT JOIN SYS_CODE_VALUE_TL SCVT ON (
        SCVB.CODE_VALUE_ID = SCVT.CODE_VALUE_ID
        AND SCVT.LANG = #{request.locale,jdbcType=VARCHAR}
        )
        LEFT JOIN SYS_CODE_VALUE_TL SCVT2 ON (
        SCVB.PARENT_CODE_VALUE_ID = SCVT2.CODE_VALUE_ID
        AND SCVT2.LANG = #{request.locale,jdbcType=VARCHAR}
        )
        <where>
            <if test="codeId!=null">
                AND  SCVB.CODE_ID = #{codeId}
            </if>
        </where>
        ORDER BY SCVB.CODE_VALUE_ID ASC
    </select>

    <delete id="deleteByCodeId" parameterType="com.hand.hap.system.dto.CodeValue">
        DELETE FROM
        SYS_CODE_VALUE_B
        WHERE CODE_ID = #{codeId,jdbcType=DECIMAL}
    </delete>
    <delete id="deleteTlByCodeId" parameterType="com.hand.hap.system.dto.CodeValue">
        DELETE FROM
        SYS_CODE_VALUE_TL
        WHERE CODE_VALUE_ID IN (
                  SELECT CODE_VALUE_ID
                  FROM SYS_CODE_VALUE_B SCVB
                  WHERE SCVB.CODE_ID = #{codeId,jdbcType=DECIMAL})
    </delete>

    <select id="queryMsgTemCodeLov" resultMap="BaseResultMap">
    SELECT SCVB.VALUE, COALESCE (SCVT.MEANING, SCVB.MEANING) MEANING
      FROM SYS_CODE_B SCB, SYS_CODE_VALUE_B SCVB
      LEFT OUTER JOIN SYS_CODE_VALUE_TL SCVT
        ON (SCVB.CODE_VALUE_ID = SCVT.CODE_VALUE_ID AND SCVT.LANG = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})
     <where>
     	SCB.CODE = 'SYS.MES_TEM_TYPE'
        AND SCB.CODE_ID = SCVB.CODE_ID
        <if	test="value != null">
        	AND 
        	(
        		LOWER(SCVB.VALUE) LIKE CONCAT('%', CONCAT(#{value, jdbcType=VARCHAR}, '%'))
        		OR
        		UPPER(SCVB.VALUE) LIKE CONCAT('%', CONCAT(#{value, jdbcType=VARCHAR}, '%'))
        	)
        </if>
        <if	test="meaning != null">
        	AND 
        	(
        		SCVT.MEANING LIKE CONCAT('%', CONCAT(#{meaning, jdbcType=VARCHAR}, '%'))
        		OR
        		SCVB.MEANING LIKE CONCAT('%', CONCAT(#{meaning, jdbcType=VARCHAR}, '%'))
        	)
        </if>
     </where> 
    </select>
    
    <select id="queryEmlAccountCodeLov" resultMap="BaseResultMap">
    SELECT SCVB.VALUE, COALESCE(SCVT.MEANING, SCVB.MEANING) MEANING
      FROM SYS_CODE_B SCB, SYS_CODE_VALUE_B SCVB
      LEFT OUTER JOIN SYS_CODE_VALUE_TL SCVT
        ON (SCVB.CODE_VALUE_ID = SCVT.CODE_VALUE_ID AND SCVT.LANG = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})
     <where>
     	SCB.CODE = 'SYS.EMAIL_ACCOUNT_CODE'
        AND SCB.CODE_ID = SCVB.CODE_ID
        <if	test="value != null">
        	AND 
        	(
        		LOWER(SCVB.VALUE) LIKE CONCAT('%', CONCAT(#{value, jdbcType=VARCHAR}, '%'))
        		OR
        		UPPER(SCVB.VALUE) LIKE CONCAT('%', CONCAT(#{value, jdbcType=VARCHAR}, '%'))
        	)
        </if>
        <if	test="meaning != null">
        	AND 
        	(
        		SCVT.MEANING LIKE CONCAT('%', CONCAT(#{meaning, jdbcType=VARCHAR}, '%'))
        		OR
        		SCVB.MEANING LIKE CONCAT('%', CONCAT(#{meaning, jdbcType=VARCHAR}, '%'))
        	)
        </if>
     </where> 
    </select>

    <select id="getCodeValueById" parameterType="com.hand.hap.system.dto.CodeValue" resultMap="BaseResultMap">
        SELECT SCVB.CODE_VALUE_ID, SCVB.VALUE, SCVB.MEANING
          FROM SYS_CODE_VALUE_B SCVB
        WHERE SCVB.CODE_VALUE_ID = #{codeValueId,jdbcType=DECIMAL}
    </select>

    <select id="getMeaningByCodeAndCodeValue" resultType="java.lang.String">
         SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = #{code}
        AND v.code_value = #{codeValue}
    </select>


    <select id="getCodeValueByCodeAndMeaning" resultType="java.lang.String">
        SELECT
            v.code_value
        FROM
            sys_code_value_b_v v
        WHERE
            v. CODE = #{code}
          AND v.meaning = #{meaning}
    </select>

    <select id="getCodeValueByCodeAndMeaning1" resultType="java.lang.String">
        SELECT
            to_char(v.code_value_id)
        FROM
            sys_code_value_b_v v
        WHERE
            v. CODE = #{code}
          AND v.meaning = #{meaning}
    </select>

</mapper>