<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.HlsCusPrjBpLiabilitiesMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.HlsCusPrjBpLiabilities">
        <result column="liabilities_id" property="liabilitiesId" jdbcType="DECIMAL" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="chance_id" property="chanceId" jdbcType="DECIMAL" />
        <result column="project_id" property="projectId" jdbcType="DECIMAL" />
        <result column="guarantee_object" property="guaranteeObject" jdbcType="VARCHAR" />
        <result column="legal_form" property="legalForm" jdbcType="VARCHAR" />
        <result column="guarantee_method" property="guaranteeMethod" jdbcType="VARCHAR" />
        <result column="guarantee_amount" property="guaranteeAmount" jdbcType="DECIMAL" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="liabilities_update_time" property="liabilitiesUpdateTime" jdbcType="DATE" />
        <result column="time_limit" property="timeLimit" jdbcType="VARCHAR"/>
        <result column="creditor" property="creditor" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>