<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.PrjCreditReplyParaMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.PrjCreditReplyPara">
        <result column="REPLY_PARA_ID" property="replyParaId" jdbcType="DECIMAL"/>
        <result column="REPLY_ID" property="replyId" jdbcType="DECIMAL"/>
        <result column="REPLY_PARA" property="replyPara" jdbcType="VARCHAR"/>
        <result column="DEFAULT_VALUE" property="defaultValue" jdbcType="DECIMAL"/>
        <result column="VAULE_FROM" property="vauleFrom" jdbcType="DECIMAL"/>
        <result column="VAULE_TO" property="vauleTo" jdbcType="DECIMAL"/>
        <result column="SYSTEM_CONTROL_FLAG" property="systemControlFlag" jdbcType="VARCHAR"/>
        <result column="reply_para_n" property="replyParaN" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="prjCreditReplyParaQuery" parameterType="com.hand.hls.prj.dto.PrjCreditReplyPara" resultMap="BaseResultMap">
        SELECT hbr.*,
        (select b2.meaning
        from sys_code_b b1, sys_code_value_b b2
        where b1.code = 'HLS500_REPLY_PARA'
        and b1.code_id = b2.code_id
        and b2.value = hbr.reply_para) reply_para_n
        FROM prj_credit_reply_para hbr
        <where>
             hbr.reply_id= #{replyId}
        </where>

    </select>

    <select id="selectDefaultValueByReplyIdAndReplyPara" resultType="double">
        select nvl(pcrp.DEFAULT_VALUE, 0)
        from prj_credit_reply_para pcrp
        where pcrp.REPLY_ID = #{replyId}
        <if test="replyPara == 'ORG'">
            and pcrp.REPLY_PARA = 'FINANCE_AMOUNT_MAX'
        </if>
        <if test="replyPara == 'NP'">
            and pcrp.REPLY_PARA = 'FINANCE_AMOUNT_MAX_NP'
        </if>


    </select>
    
    <select id="queryPara" resultMap="BaseResultMap">
        select p.*
        from prj_project pp,
            prj_credit_reply_para p
        where pp.project_id = #{projectId}
        and p.reply_id = pp.project_id
        and r.LATEST_FLAG = 'Y'
        and r.REPLY_ID = p.REPLY_ID
        and p.REPLY_PARA = #{replyPara}
    </select>

    <select id="queryLatestReplyParasByManufacturerId" resultMap="BaseResultMap">
        select hbrp.*
          from prj_project p,
               prj_credit_reply_para   hbrp
         where p.tenant_id = #{manufacturerId}
           and hbrp.reply_id = p.project_id
           and hbmr.latest_flag = 'Y'
           and hcl.enabled_flag = 'Y'
    </select>
</mapper>
