<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.ProjectLeaseItemSalesMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.PrjProjectLeaseItemSales">
        <result column="SALES_ID" property="salesId" jdbcType="DECIMAL" />
        <result column="PROJECT_LEASE_ITEM_ID" property="projectLeaseItemId" jdbcType="DECIMAL" />
        <result column="UNIFIED_SOCIAL_CREDIT_CODE" property="unifiedSocialCreditCode" jdbcType="VARCHAR" />
        <result column="SALES_NAME" property="salesName" jdbcType="VARCHAR" />
        <result column="REGISTER_SOCIAL_CREDIT_CODE" property="registerSocialCreditCode" jdbcType="VARCHAR" />
        <result column="REGISTER_NAME" property="registerName" jdbcType="VARCHAR" />
        <result column="MORTGAGE_SOCIAL_CREDIT_CODE" property="mortgageSocialCreditCode" jdbcType="VARCHAR" />
        <result column="MORTGAGE_NAME" property="mortgageName" jdbcType="VARCHAR" />
        <result column="MORTGAGE_CITY" property="mortgageCity" jdbcType="VARCHAR" />
        <result column="SALES_NUMBER" property="salesNumber" jdbcType="VARCHAR" />
        <result column="DEALER_ADDRESS" property="dealerAddress" jdbcType="VARCHAR" />
        <result column="DEALER_SOCIAL_CREDIT_CODE" property="dealerSocialCreditCode" jdbcType="VARCHAR" />
        <result column="DEALER_NAME" property="dealerName" jdbcType="VARCHAR" />
        <result column="DEALER_NUMBER" property="dealerNumber" jdbcType="VARCHAR" />
        <result column="PROVINCE_ID" property="provinceId" jdbcType="DECIMAL" />
        <result column="CITY_ID" property="cityId" jdbcType="DECIMAL" />
        <result column="DISTRICT_ID" property="districtId" jdbcType="DECIMAL" />
    </resultMap>

    <select id="prjProjectLeaseItemSalesQuery" resultMap="BaseResultMap">
        select
           sa.SALES_ID,
           sa.PROJECT_LEASE_ITEM_ID,
           sa.UNIFIED_SOCIAL_CREDIT_CODE,
           sa.SALES_NAME,
           sa.REGISTER_SOCIAL_CREDIT_CODE,
           sa.REGISTER_NAME,
           sa.MORTGAGE_SOCIAL_CREDIT_CODE,
           sa.MORTGAGE_NAME,
           sa.MORTGAGE_CITY,
           sa.SALES_NUMBER,
           sa.DEALER_ADDRESS,
           sa.DEALER_SOCIAL_CREDIT_CODE,
           sa.DEALER_NAME,
           sa.DEALER_NUMBER,
           sa.city_id
        from prj_lease_item_sales sa
        where sa.PROJECT_LEASE_ITEM_ID = #{projectLeaseItemId}
    </select>



</mapper>
