<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.PrjLeaseItemInsuranceMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.PrjLeaseItemInsurance">
        <result column="INSURANCE_ID" property="insuranceId" jdbcType="DECIMAL" />
        <result column="project_lease_item_id" property="projectLeaseItemId"/>
        <result column="INSURANCE_TYPE" property="insuranceType" jdbcType="DECIMAL" />
        <result column="INSURANCE_DATE_FROM" property="insuranceDateFrom" jdbcType="DATE" />
        <result column="INSURANCE_DATE_TO" property="insuranceDateTo" jdbcType="DATE" />
        <result column="INSURANCE_COMPANY" property="insuranceCompany" jdbcType="VARCHAR" />
        <result column="INSURANCE_NUMBER" property="insuranceNumber" jdbcType="VARCHAR" />
        <result column="INSURANCE_AMOUNT" property="insuranceAmount" jdbcType="DECIMAL" />
        <result column="FIRST_BENEFICIARY" property="firstBeneficiary" jdbcType="VARCHAR" />
        <result column="PROJECT_NUMBER" property="projectNumber" jdbcType="VARCHAR" />
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
        <result column="FULL_NAME" property="fullName" jdbcType="VARCHAR" />
        <result column="COMPULSORY_AMOUNT" property="compulsoryAmount" jdbcType="DECIMAL" />
        <result column="IS_COMPULSORY_INSURANCE" property="isCompulsoryInsurance" jdbcType="VARCHAR" />
        <result column="COMPULSORY_END_DATE" property="compulsoryEndDate" jdbcType="DATE" />
        <result column="COMMERCIAL_INSURANCE" property="commercialInsurance" jdbcType="VARCHAR" />
        <result column="EXTENDED_WARRANTY_AMOUNT" property="extendedWarrantyAmount" jdbcType="DECIMAL" />
        <result column="IS_VEHICLE_DAMAGE" property="isVehicleDamage" jdbcType="VARCHAR" />
        <result column="VEHICLE_END_DATE" property="vehicleEndDate" jdbcType="DATE" />
        <result column="IS_THIRD_PARTY" property="isThirdParty" jdbcType="VARCHAR" />
        <result column="THIRD_END_DATE" property="thirdEndDate" jdbcType="DATE" />
    </resultMap>

    <select id="selectNew" resultMap="BaseResultMap">
        select
            i.INSURANCE_ID,
            i.INSURANCE_TYPE,
            (select meaning
             from sys_code_value_b_v
             where code = 'NEW_INSURANCE_TYPE'
               and code_value = i.INSURANCE_TYPE)                                   as insuranceTypeN,
            i.INSURANCE_DATE_FROM,
            i.INSURANCE_DATE_TO,
            i.INSURANCE_COMPANY,
            i.INSURANCE_NUMBER,
            i.INSURANCE_AMOUNT,
            i.FIRST_BENEFICIARY,
            i.CREATION_DATE,
            i.PROJECT_LEASE_ITEM_ID,
            i.COMPULSORY_AMOUNT,
            decode(i.IS_COMPULSORY_INSURANCE,'1','是','2','否',' ') IS_COMPULSORY_INSURANCE,
            i.COMPULSORY_END_DATE,
            (select scv.MEANING
             from sys_code_b sc,sys_code_value_b scv
             where sc.CODE_ID = scv.CODE_ID
               and sc.CODE = 'ABS.PROJECT_STATUS'
               and scv.value = i.COMMERCIAL_INSURANCE) COMMERCIAL_INSURANCE,
            i.EXTENDED_WARRANTY_AMOUNT,
            decode(i.IS_VEHICLE_DAMAGE,'1','是','2','否',' ') IS_VEHICLE_DAMAGE,
            i.VEHICLE_END_DATE,
            decode(i.IS_THIRD_PARTY,'1','是','2','否',' ') IS_THIRD_PARTY,
            i.THIRD_END_DATE
        from PRJ_LEASE_ITEM_INSURANCE i
        where i.PROJECT_LEASE_ITEM_ID = #{projectLeaseItemId}
        order by i.INSURANCE_DATE_FROM asc
    </select>
    <select id="queryAll1" resultMap="BaseResultMap">
        select *
        from (select t1.insurance_id,
        t3.project_id,
        t3.project_number,
        t3.project_name,
        t3.project_status,
        t2.full_name,
        t1.insurance_type,
        (select meaning
        from sys_code_value_b_v
        where code = 'NEW_INSURANCE_TYPE'
        and code_value = t1.insurance_type) as insurance_type_n,
        t1.insurance_date_from,
        t1.insurance_date_to,
        t1.insurance_company,
        t1.insurance_number,
        t1.insurance_amount,
        t1.first_beneficiary,
        t1.COMPULSORY_AMOUNT,
        decode(t1.IS_COMPULSORY_INSURANCE,,'1','是','2','否',' ') IS_COMPULSORY_INSURANCE,
        t1.COMPULSORY_END_DATE,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'ABS.PROJECT_STATUS'
        and scv.value = i.COMMERCIAL_INSURANCE) COMMERCIAL_INSURANCE,
        t1.EXTENDED_WARRANTY_AMOUNT,
        decode(t1.IS_VEHICLE_DAMAGE,'1','是','2','否',' ') IS_VEHICLE_DAMAGE,
        t1.VEHICLE_END_DATE,
        decode(t1.IS_THIRD_PARTY,'1','是','2','否',' ') IS_THIRD_PARTY,
        t1.THIRD_END_DATE
        from prj_project_lease_item t2
        inner join prj_project t3
        on t2.project_id = t3.project_id
        left join prj_lease_item_insurance t1
        on t1.project_lease_item_id = t2.project_lease_item_id
        where t3.document_type in ('PRJL', 'PRJLB')
        and t2.full_name is not null) v
        <where>
            <if test="projectNumber!=null">
                and v.project_number like concat('%', concat(#{projectNumber,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="projectName!=null">
                and v.project_name like concat('%', concat(#{projectName,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="fullName!=null">
                and v.full_name like concat('%', concat(#{fullName,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="insuranceType!=null">
                and v.insurance_type like concat('%', concat(#{insuranceType,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="insuranceDateFrom!=null">
                and v.insurance_date_from &gt;= to_date(#{insuranceDateFrom},'yyyy-mm-dd')
            </if>
            <if test="insuranceDateTo!=null">
                and v.insurance_date_to &lt;= to_date(#{insuranceDateTo},'yyyy-mm-dd')
            </if>
            <if test="insuranceCompany!=null">
                and v.insurance_company like concat('%', concat(#{insuranceCompany,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="insuranceNumber!=null">
                and v.insurance_number like concat('%', concat(#{insuranceNumber,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="insuranceAmount!=null">
                and v.INSURANCE_AMOUNT = #{insuranceAmount}
            </if>
            <if test="firstBeneficiary!=null">
                and v.first_beneficiary like concat('%', concat(#{firstBeneficiary,jdbcType=VARCHAR}, '%'))
            </if>
        </where>
        order by v.project_id desc
    </select>

    <select id="queryInsuranceNumberExistsCount" parameterType="string" resultType="integer">
        select count(i.INSURANCE_ID)
          from PRJ_LEASE_ITEM_INSURANCE i
         where i.INSURANCE_NUMBER = #{insuranceNumber}
           and not exists
         (select 1
                  from prj_project pp, prj_project_lease_item it
                 where pp.project_id = it.project_id
                   and it.project_lease_item_id = i.project_lease_item_id
                   and pp.project_status = 'CLOSED')
           and not exists
         (select 1
                  from prj_project pp, prj_project_lease_item it, con_contract cc
                 where pp.project_id = it.project_id
                   and it.project_lease_item_id = i.project_lease_item_id
                   and cc.project_id = pp.project_id
                   and cc.contract_status = 'CANCEL')
    </select>

    <select id="queryByProjectId" resultMap="BaseResultMap">
        select t.*
        from prj_lease_item_insurance t, prj_project_lease_item pi
        where pi.project_lease_item_id = t.project_lease_item_id
          and pi.project_id = #{projectId}
    </select>

    <!--保险管理报表 -->
    <resultMap id="queryAllDateMap" type="map">
        <result column="contract_number" property="contract_number"/>
        <result column="sign_status_n" property="sign_status_n"/>
        <result column="contract_status" property="contract_status"/>
        <result column="contract_status_n" property="contract_status_n"/>
        <result column="employee_id_n" property="employee_id_n"/>
        <result column="manufacturer_id_n" property="manufacturer_id_n"/>
        <result column="bp_id_tenant_n" property="bp_id_tenant_n"/>
        <result column="lease_organization_n" property="lease_organization_n"/>
        <result column="full_name" property="full_name"/>
        <result column="serial_number" property="serial_number"/>
        <result column="insurance_number" property="insurance_number"/>
        <result column="insurance_type_n" property="insurance_type_n"/>
        <result column="insurance_date_from" property="insurance_date_from"/>
        <result column="insurance_date_to"   property="insurance_date_to"/>
        <result column="insurance_amount" property="insurance_amount"/>
        <result column="asset_number" property="asset_number"/>
        <result column="sign_status" property="sign_status"/>
        <result column="employee_id" property="employee_id"/>
        <result column="manufacturer_id" property="manufacturer_id"/>
        <result column="insurance_type" property="insurance_type"/>
    </resultMap>
    <select id="queryAllDate" resultMap="queryAllDateMap">
        select v.* from (SELECT
        cc.contract_number,
        cc.contract_status,
                                pp.employee_id,pp.manufacturer_id,pp.tenant_id,
        pp.sign_status,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b v,
        sys_code_b b
        WHERE
        b.CODE = 'SIGN_STATUS'
        AND v.code_id = b.code_id
        AND v.
        VALUE
        = nvl ( pp.sign_status, 'NEW' )
        ) sign_status_n,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b v,
        sys_code_b b
        WHERE
        b.CODE = 'CON.CONTRACT_STATUS'
        AND v.code_id = b.code_id
        AND v.
        VALUE
        = cc.contract_status
        ) contract_status_n  ,( SELECT fe.NAME FROM fnd_employee fe WHERE fe.employee_id = pp.employee_id ) employee_id_n,
        ( SELECT hb.bp_name FROM hls_bp_master hb WHERE hb.bp_id = pp.manufacturer_id ) manufacturer_id_n,
        ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = pp.tenant_id ) bp_id_tenant_n,

        <!--(SELECT
        fou.UNIT_NAME
        FROM
        fnd_org_unit fou
        WHERE
        pp.LEASE_ORGANIZATION = fou.UNIT_CODE
        AND fou.ENABLED_FLAG = 'Y') lease_organization_n-->
        (SELECT
        fou.UNIT_NAME
        FROM
        fnd_org_unit fou,FND_EMPLOYEE_ASSIGNS fea
        WHERE
        fea.employee_id=pp.employee_id and fou.UNIT_ID=fea.unit_id

        AND fou.ENABLED_FLAG = 'Y') lease_organization_n,ccli.full_name,
        ccli.serial_number asset_number,clii.insurance_number,
        clii.insurance_type,
        ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'NEW_INSURANCE_TYPE' AND code_value = clii.insurance_type ) AS insurance_type_n,
        clii.insurance_date_from,
        clii.insurance_date_to,
        clii.insurance_amount
        FROM
        con_LEASE_ITEM_INSURANCE clii
        left join con_contract_lease_item ccli on clii.con_lease_item_id =ccli.contract_lease_item_id
        LEFT JOIN con_contract cc ON ccli.contract_id = cc.contract_id
        LEFT JOIN prj_project pp ON pp.project_id = cc.project_id) v
        <where>

            <if test="contractNumber != null">
                and v.contract_number like concat('%',concat(#{contractNumber},'%'))
            </if>
            <if test="leaseOrganizationN != null">
                and v.lease_organization_n like concat('%',concat(#{leaseOrganizationN},'%'))
            </if>
            <if test="bpIdTenantN != null">
                and v.bp_id_tenant_n like concat('%',concat(#{bpIdTenantN},'%'))
            </if>
            <if test="employeeId != null">
                and v.employee_id = #{employeeId}
            </if>
            <if test="manufacturerId != null">
                and v.manufacturer_id = #{manufacturerId}
            </if>
            <if test="insuranceNumber != null">
                and v.insurance_number like concat('%',concat(#{insuranceNumber},'%'))
            </if>
            <if test="insuranceType != null">
                and v.insurance_type = #{insuranceType}
            </if>
            <if test="signStatus != null">
                and v.sign_status = #{signStatus}
            </if>
            <if test="contractStatus != null">
                and v.contract_status = #{contractStatus}
            </if>
            <if test="insuranceDateFrom != null">
                and v.insurance_date_from &gt;= to_date(#{insuranceDateFrom},'yyyy-MM-dd')
            </if>
            <if test="insuranceDateTo != null">
                and v.insurance_date_to &lt;= to_date(#{insuranceDateTo},'yyyy-MM-dd')
            </if>
        </where>
    </select>
    <select id="selectInsByLeaseItemId" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        select
            PLII.*
        from
            PRJ_LEASE_ITEM_INSURANCE PLII
        where PLII.PROJECT_LEASE_ITEM_ID = #{projectLeaseItemId}
    </select>
</mapper>
