<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.ProjectLeaseItemMortgageMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.PrjProjectLeaseItemMortgage">
        <result column="MORTGAGE_ID" property="mortgageId" jdbcType="DECIMAL" />
        <result column="PROJECT_LEASE_ITEM_ID" property="projectLeaseItemId" jdbcType="DECIMAL" />
        <result column="NUMBER_OF_MORTGAGES" property="numberOfMortgages" jdbcType="DECIMAL" />
        <result column="NUMBER_OF_TRANSFERS" property="numberOfTransfers" jdbcType="DECIMAL" />
        <result column="NUMBER_OF_MORTGAGES_ONE" property="numberOfMortgagesOne" jdbcType="DECIMAL" />
        <result column="NUMBER_OF_TRANSFERS_ONE" property="numberOfTransfersOne" jdbcType="DECIMAL" />
        <result column="NUMBER_OF_TRANSFERS_TWO" property="numberOfTransfersTwo" jdbcType="DECIMAL" />
        <result column="IS_RENEWAL_RECORD" property="isRenewalRecord" jdbcType="VARCHAR" />
        <result column="IS_HALF_RENEWAL_RECORD" property="isHalfRenewalRecord" jdbcType="VARCHAR" />
        <result column="LAST_TRANSFERS_DATE" property="lastTransfersDate" jdbcType="DATE" />
        <result column="RECENTLY_TRANSFERS_DATE" property="recentlyTransfersDate" jdbcType="DATE" />
        <result column="TRANSFERS_STATUS" property="transfersStatus" jdbcType="VARCHAR" />
        <result column="DAYS_TO_RELEASE" property="daysToRelease" jdbcType="DECIMAL" />
    </resultMap>

    <select id="prjProjectLeaseItemMortgageQuery" resultMap="BaseResultMap">
        select
            mo.MORTGAGE_ID,
            mo.PROJECT_LEASE_ITEM_ID,
            mo.NUMBER_OF_MORTGAGES,
            mo.NUMBER_OF_TRANSFERS,
            mo.NUMBER_OF_MORTGAGES_ONE,
            mo.NUMBER_OF_TRANSFERS_ONE,
            mo.NUMBER_OF_TRANSFERS_TWO,
            decode(mo.IS_RENEWAL_RECORD,'Y','是','N','否',' ') IS_RENEWAL_RECORD,
            decode(mo.IS_HALF_RENEWAL_RECORD,'Y','是','N','否',' ') IS_HALF_RENEWAL_RECORD,
            mo.LAST_TRANSFERS_DATE,
            mo.RECENTLY_TRANSFERS_DATE,
            mo.TRANSFERS_STATUS,
            mo.DAYS_TO_RELEASE
        from prj_lease_item_mortgage mo
        where mo.PROJECT_LEASE_ITEM_ID = #{projectLeaseItemId}
    </select>
    <select id="prjProjectLeaseItemMortgageByLeaseItemId" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        select
            mo.*
        from
            prj_lease_item_mortgage mo
        where mo.PROJECT_LEASE_ITEM_ID = #{projectLeaseItemId}
    </select>

</mapper>
