<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.ProjectLeaseItemConditionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.PrjProjectLeaseItemCondition">
        <result column="CONDITION_ID" property="conditionId" jdbcType="DECIMAL" />
        <result column="PROJECT_LEASE_ITEM_ID" property="projectLeaseItemId" jdbcType="DECIMAL" />
        <result column="IS_WATER_DAMAGED" property="isWaterDamaged" jdbcType="VARCHAR" />
        <result column="IS_CONVERSION" property="isConversion" jdbcType="VARCHAR" />
        <result column="ACCIDENT_STATUS" property="accidentStatus" jdbcType="VARCHAR" />
        <result column="IS_ANNUAL_INSPECTION" property="isAnnualInspection" jdbcType="VARCHAR" />
        <result column="IS_SIGNIFICANTLY_MODIFIED" property="mortgageCity" jdbcType="VARCHAR" />
        <result column="ENGINE_OVERHAUL" property="engineOverhaul" jdbcType="VARCHAR" />
        <result column="PREMIUM_ADD_ON" property="premiumAddOn" jdbcType="VARCHAR" />
        <result column="MAINTENANCE_INFO" property="maintenanceInfo" jdbcType="VARCHAR" />
        <result column="ORIGINAL_OWNER_CARD_TYPE" property="originalOwnerCardType" jdbcType="VARCHAR" />
        <result column="ORIGINAL_OWNER_NAME" property="originalOwnerName" jdbcType="VARCHAR" />
        <result column="ORIGINAL_OWNER_CARD_NUM" property="originalOwnerCardNum" jdbcType="VARCHAR" />
        <result column="ORIGINAL_OWNER_ADDRESS" property="originalOwnerAddress" jdbcType="VARCHAR" />
    </resultMap>

    <select id="prjProjectLeaseItemConditionQuery" resultMap="BaseResultMap">
        select
            co.CONDITION_ID,
            co.PROJECT_LEASE_ITEM_ID,
            co.IS_WATER_DAMAGED,
            co.IS_CONVERSION,
            co.ACCIDENT_STATUS,
            co.IS_ANNUAL_INSPECTION,
            co.IS_SIGNIFICANTLY_MODIFIED,
            co.ENGINE_OVERHAUL,
            co.PREMIUM_ADD_ON,
            co.MAINTENANCE_INFO,
            co.ORIGINAL_OWNER_CARD_TYPE,
            co.ORIGINAL_OWNER_NAME,
            co.ORIGINAL_OWNER_CARD_NUM,
            co.ORIGINAL_OWNER_ADDRESS
            from prj_lease_item_condition co
           where co.PROJECT_LEASE_ITEM_ID = #{projectLeaseItemId}
    </select>

</mapper>
