<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.ProjectLeaseItemConditionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.PrjProjectLeaseItemCondition">
        <result column="CONDITION_ID" property="conditionId" jdbcType="DECIMAL" />
        <result column="PROJECT_LEASE_ITEM_ID" property="projectLeaseItemId" jdbcType="DECIMAL" />
        <result column="IS_WATER_DAMAGED" property="isWaterDamaged" jdbcType="VARCHAR" />
        <result column="IS_CONVERSION" property="isConversion" jdbcType="VARCHAR" />
        <result column="ACCIDENT_STATUS" property="accidentStatus" jdbcType="VARCHAR" />
        <result column="ACCIDENT_STATUS_N" property="accidentStatusN" jdbcType="VARCHAR" />
        <result column="IS_ANNUAL_INSPECTION" property="isAnnualInspection" jdbcType="VARCHAR" />
        <result column="IS_SIGNIFICANTLY_MODIFIED" property="isSignificantlyModified" jdbcType="VARCHAR" />
        <result column="ENGINE_OVERHAUL" property="engineOverhaul" jdbcType="VARCHAR" />
        <result column="PREMIUM_ADD_ON" property="premiumAddOn" jdbcType="VARCHAR" />
        <result column="MAINTENANCE_INFO" property="maintenanceInfo" jdbcType="VARCHAR" />
        <result column="ORIGINAL_OWNER_CARD_TYPE" property="originalOwnerCardType" jdbcType="VARCHAR" />
        <result column="ORIGINAL_OWNER_NAME" property="originalOwnerName" jdbcType="VARCHAR" />
        <result column="ORIGINAL_OWNER_CARD_NUM" property="originalOwnerCardNum" jdbcType="VARCHAR" />
        <result column="ORIGINAL_OWNER_ADDRESS" property="originalOwnerAddress" jdbcType="VARCHAR" />
        <result column="ORIGINAL_OWNER_ADDRESS_N" property="originalOwnerAddressN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="prjProjectLeaseItemConditionQuery" resultMap="BaseResultMap">
        select
            co.CONDITION_ID,
            co.PROJECT_LEASE_ITEM_ID,
            decode(co.IS_WATER_DAMAGED,'1','是','2','否',' ') IS_WATER_DAMAGED,
            decode(co.IS_CONVERSION,'1','是','2','否',' ') IS_CONVERSION,
            co.ACCIDENT_STATUS,
            ( SELECT v.meaning
              FROM sys_code_value_b_v v
              WHERE v.CODE = 'ACCIDENT_STATUS'
                AND v.code_value = co.ACCIDENT_STATUS
                AND v.ENABLED_FLAG = 'Y') ACCIDENT_STATUS_N,
            decode(co.IS_ANNUAL_INSPECTION,'1','是','2','否',' ') IS_ANNUAL_INSPECTION,
            decode(co.IS_SIGNIFICANTLY_MODIFIED,'1','是','2','否',' ') IS_SIGNIFICANTLY_MODIFIED,
            decode(co.ENGINE_OVERHAUL,'1','是','2','否',' ') ENGINE_OVERHAUL,
            co.PREMIUM_ADD_ON,
            co.MAINTENANCE_INFO,
            co.ORIGINAL_OWNER_CARD_TYPE,
            co.ORIGINAL_OWNER_NAME,
            co.ORIGINAL_OWNER_CARD_NUM,
            co.ORIGINAL_OWNER_ADDRESS,
            (SELECT fp.description || '' || fc.description || '' || fd.description
             FROM fnd_province fp
                      JOIN fnd_city fc ON fp.province = fc.province
                      JOIN fnd_district fd ON fc.city = fd.city
             WHERE fp.province = co.province_code
               AND fc.city = co.city_code
               AND fd.district = co.district_code) ORIGINAL_OWNER_ADDRESS_N
            from prj_lease_item_condition co
           where co.PROJECT_LEASE_ITEM_ID = #{projectLeaseItemId}
    </select>
    <select id="prjProjectLeaseItemConditionByLeaseItemId"
            resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
            co.*
        from
            prj_lease_item_condition co
        where
            co.PROJECT_LEASE_ITEM_ID = #{projectLeaseItemId}
    </select>

</mapper>
