<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.ProjectMeetingApproverMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.ProjectMeetingApprover">
        <result column="APPROVER_RECORD_ID" property="approverRecordId" jdbcType="DECIMAL"/>
        <result column="APPROVAL_ID" property="approvalId" jdbcType="DECIMAL"/>
        <result column="PROJECT_MEETING_ID" property="projectMeetingId" jdbcType="DECIMAL"/>
        <result column="APPROVER_USER_ID" property="approverUserId" jdbcType="DECIMAL"/>
        <result column="VOTE_STATUS" property="voteStatus" jdbcType="VARCHAR"/>
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_CODE" property="employeeCode" jdbcType="VARCHAR"/>
        <result column="EMPLOYEE_NAME" property="employeeName" jdbcType="VARCHAR"/>
        <result column="VOTE_COMMENT" property="voteComment" jdbcType="VARCHAR"/>
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL"/>
        <result column="UNIT_CODE" property="unitCode" jdbcType="VARCHAR"/>
        <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR"/>
        <result column="POSITION_ID" property="positionId" jdbcType="DECIMAL"/>
        <result column="POSITION_CODE" property="positionCode" jdbcType="VARCHAR"/>
        <result column="POSITION_NAME" property="positionName" jdbcType="VARCHAR"/>
        <result column="DIRECTOR_FLAG" property="directorFlag" jdbcType="VARCHAR"/>
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL"/>
        <result column="VOTE_RESULT" property="voteResult" jdbcType="VARCHAR"/>
        <result column="MEETING_NAME" property="meetingName" jdbcType="VARCHAR"/>
        <result column="vote_result_n" property="voteResultN" jdbcType="VARCHAR"/>
        <result column="vote_status_n" property="voteStatusN" jdbcType="VARCHAR"/>
        <result column="marketing_report_number" property="marketingReportNumber" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="TENANT_SEC_ID_N" property="tenantSecIdN" jdbcType="VARCHAR"/>
        <result column="WARRANTOR_NAME" property="warrantorName" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TYPE_N" property="businessTypeN" jdbcType="VARCHAR"/>
        <result column="HOST_PROJECT_MANAGER_N" property="hostProjectManagerN" jdbcType="VARCHAR"/>
        <result column="HOST_UNIT_NAME" property="hostUnitName" jdbcType="VARCHAR"/>
        <result column="ASSIST_PROJECT_MANAGER_N" property="assistProjectManagerN" jdbcType="VARCHAR"/>
        <result column="ASSIST_UNIT_NAME" property="assistUnitName" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="judge_user_allocation_id" property="judgeUserAllocationId" jdbcType="VARCHAR"/>
        <result column="judge_id" property="judgeId" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="marketing_report_id" property="marketingReportId" jdbcType="VARCHAR"/>

        <result column="lease_item_amount_from" property="leaseItemAmountFrom" jdbcType="VARCHAR"/>
        <result column="lease_item_amount_to" property="leaseItemAmountTo" jdbcType="VARCHAR"/>
        <result column="lease_item_amount" property="leaseItemAmount" jdbcType="VARCHAR"/>
        <result column="assist_project_manager" property="assistProjectManager" jdbcType="VARCHAR"/>
        <result column="assist_unit_name_n" property="assistUnitNameN" jdbcType="VARCHAR"/>
        <result column="host_project_manager" property="hostProjectManager" jdbcType="VARCHAR"/>
        <result column="host_unit_name_n" property="hostUnitNameN" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="authority_rule_string" property="authorityRuleString" jdbcType="VARCHAR"/>
        <result column="project_attachment_id" property="projectAttachmentId" jdbcType="DECIMAL"/>
        <result column="risk_attachment_id" property="riskAttachmentId" jdbcType="DECIMAL"/>
        <result column="risk_mitigation_measures" property="riskMitigationMeasures" jdbcType="VARCHAR"/>
        <result column="LEASE_TERM" property="leaseTerm" jdbcType="VARCHAR"/>
        <result column="review_project_attachment_id" property="reviewProjectAttachmentId" jdbcType="VARCHAR"/>
        <result column="empty_flag" property="emptyFlag" jdbcType="VARCHAR"/>
        <result column="file_number" property="fileNumber" jdbcType="VARCHAR"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="attachment_id_list" property="attachmentIdList" jdbcType="VARCHAR"/>
        <result column="company_id_n" property="companyIdN"/>
        <result column="company_id" property="companyId"/>
        <result column="data_class" property="dataClass"/>

        <result column="APPROVER_USER_TYPE" property="approverUserType"/>
        <result column="APPROVER_USER_TYPE_N" property="approverUserTypeN"/>
        <result column="APPROVER_USER_ID_N" property="approverUserIdN"/>
        <result column="APPROVER_USER_UNIT" property="approverUserUnit"/>
        <result column="APPROVER_USER_POSITION" property="approverUserPosition"/>
        <result column="APPROVER_USER_COMPANY" property="approverUserCompany"/>
        <result column="REMARK" property="remark"/>

    </resultMap>

    <select id="updateMeetingApproverStatus" resultMap="BaseResultMap">
        update prj_project_meeting_approver
        set data_class = #{dataClass}
        where project_id = #{projectId}
        and data_class = 'CHANGE'
    </select>

    <select id="updateMeetingStatus" resultMap="BaseResultMap">
        update prj_project_meeting_approver
        set data_class = #{dataClass}
        where project_id = #{projectId}
        and data_class = 'CHANGE'
    </select>

    <select id="queryAll" parameterType="com.hand.hls.prj.dto.ProjectMeetingApprover" resultMap="BaseResultMap">
        SELECT
        t.*
        FROM
        (
        SELECT
        prma.approval_id,
        prma.approver_record_id,
        prma.approver_user_id,
        prma.unit_name,
        prma.position_name,
        prma.director_flag,
        prma.project_id,
        prma.vote_comment,
        prma.vote_result,
        prma.data_class,
        (
        SELECT
        fee.description
        FROM
        sys_user fee
        WHERE
        fee.user_id = sua.user_id
        ) AS NAME,
        prma.company_id,
        (select f.COMPANY_SHORT_NAME from fnd_company f where f.company_id = prma.company_id)company_id_n
        FROM
        PRJ_PROJECT_MEETING_APPROVER prma,
        fnd_employee_assigns fe,
        sys_user_allocation sua
        WHERE
        sua.employee_assign_id = fe.employee_assign_id
        AND prma.approver_user_id = sua.allocation_id
        ) t
        <where>
            1 = 1
            and t.data_class = 'NORMAL'
            <if test="projectId != null">
                and t.project_id = #{projectId}
            </if>
            <if test="approvalId != null">
                and t.APPROVAL_ID = #{approvalId}
            </if>
            <if test="approverUserId != null">
                and t.approver_user_id = #{approverUserId}
            </if>
        </where>
    </select>

    <select id="queryAllReply" parameterType="com.hand.hls.prj.dto.ProjectMeetingApprover" resultMap="BaseResultMap">
        SELECT
        t.*
        FROM
        (
        SELECT
        prma.approval_id,
        prma.approver_record_id,
        prma.approver_user_id,
        prma.unit_name,
        prma.position_name,
        prma.director_flag,
        prma.project_id,
        prma.vote_comment,
        prma.vote_result,
        prma.data_class,
        (
        SELECT
        fee.description
        FROM
        sys_user fee
        WHERE
        fee.user_id = sua.user_id
        ) AS NAME,
        prma.company_id,
        (select f.COMPANY_SHORT_NAME from fnd_company f where f.company_id = prma.company_id)company_id_n
        FROM
        PRJ_PROJECT_MEETING_APPROVER prma,
        fnd_employee_assigns fe,
        sys_user_allocation sua
        WHERE
        sua.employee_assign_id = fe.employee_assign_id
        AND prma.approver_user_id = sua.allocation_id
        ) t
        <where>
            1 = 1
            and t.data_class = 'CHANGE'
            <if test="projectId != null">
                and t.project_id = #{projectId}
            </if>
            <if test="approvalId != null">
                and t.APPROVAL_ID = #{approvalId}
            </if>
            <if test="approverUserId != null">
                and t.approver_user_id = #{approverUserId}
            </if>
        </where>
    </select>

    <select id="queryAllByProjectId" parameterType="com.hand.hls.prj.dto.ProjectMeetingApprover"
            resultMap="BaseResultMap">
        select ppma.*
        from prj_project_meeting_approver ppma
        <where>
            1 = 1
            and ppma.data_class = (case when (select COUNT(1) from hls_duration_hd p where p.DURATION_TYPE = 'REPLY' and p.project_id = ppma.project_id and p.DURATION_STATUS = 'APPROVING') >0 then 'CHANGE' else 'NORMAL' end)
            <if test="projectId != null">
                and  ppma.project_id = #{projectId}
            </if>
            <if test="approvalId != null">
                and ppma.approval_id = #{approvalId}
            </if>
        </where>
    </select>

    <select id="queryAllByProjectIdChange" parameterType="com.hand.hls.prj.dto.ProjectMeetingApprover"
            resultMap="BaseResultMap">
        select ppma.*
        from prj_project_meeting_approver ppma
        <where>
            1 = 1
            and ppma.data_class = 'CHANGE'
            <if test="projectId != null">
                and  ppma.project_id = #{projectId}
            </if>
            <if test="approvalId != null">
                and ppma.approval_id = #{approvalId}
            </if>
        </where>
    </select>

    <select id="queryInfo" parameterType="com.hand.hls.prj.dto.ProjectMeetingApprover" resultMap="BaseResultMap">
        SELECT pmj.*,
        (SELECT unit_name FROM fnd_org_unit fn WHERE fn.unit_id = fe.unit_id) as unit_name,
        (SELECT position_name
        FROM fnd_org_position fop
        WHERE fop.position_id = fe.position_id) as position_name,
        (SELECT company_short_name
        FROM fnd_company fc
        WHERE fc.company_id = fe.company_id) as company_short_name,
        (SELECT employee_code
        FROM fnd_employee fee
        WHERE fe.employee_id = fee.employee_id) as employee_code,
        (SELECT name
        FROM fnd_employee fee
        WHERE fe.employee_id = fee.employee_id) as name,
         fe.POSITION_ID,
        fe.UNIT_ID,
         sua.user_id as approver_user_id
        FROM prj_meeting_judge pmj,
        fnd_employee_assigns fe,
        sys_user_allocation sua
        where
        sua.employee_assign_id = fe.employee_assign_id
        and pmj.judge_user_allocation_id = sua.allocation_id

    </select>


    <select id="queryProjectJudge" parameterType="com.hand.hls.prj.dto.ProjectMeetingApprover"
            resultMap="BaseResultMap">
        select t.*
        from (select pp.project_id,
        (select ppa.project_attachment_id from prj_project_attachment ppa where ppa.project_attachment_category =
        'PRJ_REVIEW_REPORT' and ppa.project_id = pp.project_id and rownum=1) review_project_attachment_id,
        (select fpa.project_attachment_id from fct_project_attachment fpa where fpa.source_type =
        'PRJ_REPORT_CONTENT' and fpa.project_id = pp.project_id and rownum=1) project_attachment_id,
        ppma.approver_record_id,
        ppma.approver_user_id,
        (select pq.LEASE_TERM from prj_quotation pq
        where pq.source_document_id = pp.project_id and pq.source_document_category = 'PRJ_PROJECT' and rownum=1)LEASE_TERM,
        (select fpa.project_attachment_id
        from fct_project_attachment   fpa,
        fnd_atm_attachment_multi faam,
        fnd_atm_attachment       faa
        where faa.source_pk_value = faam.record_id
        and faam.table_name = 'FCT_PROJECT_ATTACHMENT'
        and faam.table_pk_value = fpa.project_attachment_id
        and fpa.project_id = ppma.project_id
        and fpa.source_type = 'MEETING_RISK_OPINION') risk_attachment_id,
        nvl((case
        when (PP.business_type = 'GENERAL_CREDIT_APPROVAL' or
        PP.business_type = 'VENDOR_CREDIT_APPROVAL' or
        PP.business_type = 'UNION_CREDIT_APPROVAL') then
        PP.finance_amount
        else
        (select sum(pq.finance_amount)
        from prj_quotation pq
        where pq.source_document_id = pp.project_id
        and pq.source_document_category = 'PRJ_PROJECT')
        end),0) as lease_item_amount,
        (select wm_concat(hls.bp_name)
        from prj_project_bp ppb, hls_bp_master hls
        where ppb.project_id = pp.project_id
        and ppb.bp_id = hls.bp_id
        and ppb.bp_type = 'WARRANTOR') warrantor_name,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'HLS200.LEASING_PRODUCT_DETAIL'
        and v.CODE_VALUE = pp.business_type) as business_type_n,
        (select s.description
        from sys_user s
        where s.user_id = pp.host_project_manager) host_project_manager_n,
        pp.host_unit_id,
        (select fou.unit_name
        from fnd_org_unit fou
        where fou.unit_id = pp.host_unit_id) host_unit_name,
        pp.assist_project_manager,
        (select s.description
        from sys_user s
        where s.user_id = pp.assist_project_manager) assist_project_manager_n,
        pp.assist_unit_id,
        (select fou.unit_name
        from fnd_org_unit fou
        where fou.unit_id = pp.assist_unit_id) assist_unit_name,
        (select fee.name
        FROM fnd_employee_assigns fe,
        sys_user_allocation sua,
        fnd_employee fee
        WHERE sua.employee_assign_id = fe.employee_assign_id
        and ppma.approver_user_id = sua.allocation_id
        and fe.employee_id = fee.employee_id) employee_name,
        (select sua.user_id
        from sys_user_allocation sua
        where ppma.approver_user_id = sua.allocation_id) employee_id,
        (select ppm.meeting_name
        from prj_project_meeting ppm, prj_project_approval ppa
        where ppma.approval_id = ppa.approval_id
        and ppa.meeting_id = ppm.project_meeting_id) meeting_name,
        ppma.vote_result,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'PRJ325.VOTE_RESULT'
        AND ppma.vote_result = v.code_value) vote_result_n,
        ppma.vote_comment,
        ppma.vote_status,
        ppma.approval_id,
        ppma.DIRECTOR_FLAG,
        pp.RISK_MITIGATION_MEASURES,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'PRJ325.VOTE_STATUS'
        AND ppma.vote_status = v.code_value) vote_status_n,
        pp.marketing_report_id,
        (select hmr.marketing_report_number
        from hls_marketing_report hmr
        where pp.marketing_report_id = hmr.marketing_report_id) marketing_report_number,
        pp.project_name,
        pp.project_number,
        (select bp_name
        from hls_bp_master h
        where h.bp_id = pp.tenant_id
        and h.enabled_flag = 'Y') as bp_name,
        pp.tenant_sec_id_n,
        pp.guarantor_id,
        pp.business_type
        from prj_project_meeting_approver ppma
        left join prj_project pp
        on pp.project_id = ppma.project_id
        where ppma.enabled_flag = 'Y'
        and (pp.approval_status = 'VOTING' OR
        pp.approval_status = 'VOTED' OR
        pp.approval_status = 'COLLECTING' OR
        pp.approval_status = 'MEETED')) t
        <where>
            1=1
            and (t.employee_id = #{request.userId} or #{request.userId} = 10001
            or #{request.userId} in (select sua.user_id
            from fnd_employee_assigns fea, sys_user_allocation sua
            where fea.employee_assign_id = sua.employee_assign_id
            and (fea.position_id = 10517 or fea.position_id = 10460)))
            <if test="approverRecordId != null">
                and t.approver_record_id = #{approverRecordId}
            </if>
            <if test="projectId != null">
                and t.project_id = #{projectId}
            </if>
            <if test="approvalId != null">
                and t.approval_id = #{approvalId}
            </if>
            <if test="projectName != null">
                and t.project_name LIKE concat(concat('%',#{projectName}),'%')
            </if>
            <if test="leaseItemAmountFrom != null">
                and t.lease_item_amount &gt;= #{leaseItemAmountFrom}
            </if>
            <if test="leaseItemAmountTo != null">
                and t.lease_item_amount &lt;= #{leaseItemAmountTo}
            </if>
            <if test="assistProjectManager != null">
                and t.ASSIST_PROJECT_MANAGER = #{assistProjectManager}
            </if>
            <if test="assistUnitNameN != null">
                and t.ASSIST_UNIT_NAME = #{assistUnitNameN}
            </if>
            <if test="hostProjectManager != null">
                and t.HOST_PROJECT_MANAGER = #{hostProjectManager}
            </if>
            <if test="hostUnitNameN != null">
                and t.HOST_UNIT_NAME = #{hostUnitNameN}
            </if>
            <if test="businessType != null">
                and t.business_type = #{businessType}
            </if>
            <if test="voteStatus != null">
                and t.vote_status = #{voteStatus}
            </if>
            <if test="bpName != null">
                and t.bp_name LIKE concat(concat('%',#{bpName}),'%')
            </if>
        </where>
    </select>

    <select id="queryProjectJudgeWfl" parameterType="com.hand.hls.prj.dto.ProjectMeetingApprover"
            resultMap="BaseResultMap">
        select t.*
        from (select pp.project_id,
        ppma.approver_record_id,
        ppma.approver_user_id,
        (select wm_concat(fat.attachment_id)
        from fnd_atm_attachment fat, fnd_atm_attachment_multi faam
        where fat.attachment_id = faam.attachment_id
        and faam.table_name = 'PRJ_PROJECT_MEETING_APPROVER'
        and faam.table_pk_value =
        ppma.approver_record_id) attachment_id_list,
        (select count(*)
        from fnd_atm_attachment_multi faam
        where faam.table_name = 'PRJ_PROJECT_MEETING_APPROVER'
        AND faam.table_pk_value = ppma.approver_record_id) file_number,
        (select wm_concat(fat.file_name) from fnd_atm_attachment fat, fnd_atm_attachment_multi faam
        where fat.attachment_id = faam.attachment_id
        and faam.table_name = 'PRJ_PROJECT_MEETING_APPROVER' and faam.table_pk_value = ppma.approver_record_id
        ) file_name,
        (select sum(pq.lease_item_amount)
        from prj_quotation pq
        where pq.source_document_id = pp.project_id
        and pq.data_class = 'PRJ_PROJECT_INVEST') as lease_item_amount,
        (select wm_concat(hls.bp_name)
        from prj_project_bp ppb, hls_bp_master hls
        where ppb.project_id = pp.project_id
        and ppb.bp_id = hls.bp_id
        and ppb.bp_type = 'WARRANTOR') warrantor_name,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'HLS200.LEASING_PRODUCT_DETAIL'
        and v.CODE_VALUE = pp.business_type) as business_type_n,
        (select s.description
        from sys_user s
        where s.user_id = pp.host_project_manager) host_project_manager_n,
        pp.host_unit_id,
        (select fou.unit_name
        from fnd_org_unit fou
        where fou.unit_id = pp.host_unit_id) host_unit_name,
        pp.assist_project_manager,
        (select s.description
        from sys_user s
        where s.user_id = pp.assist_project_manager) assist_project_manager_n,
        pp.assist_unit_id,
        (select fou.unit_name
        from fnd_org_unit fou
        where fou.unit_id = pp.assist_unit_id) assist_unit_name,
        (select fee.name
        FROM fnd_employee_assigns fe,
        sys_user_allocation sua,
        fnd_employee fee
        WHERE sua.employee_assign_id = fe.employee_assign_id
        and ppma.approver_user_id = sua.allocation_id
        and fe.employee_id = fee.employee_id) employee_name,
        (select sua.user_id
        from sys_user_allocation sua
        where ppma.approver_user_id = sua.allocation_id) employee_id,
        (select ppm.meeting_name
        from prj_project_meeting ppm, prj_project_approval ppa
        where ppma.approval_id = ppa.approval_id
        and ppa.meeting_id = ppm.project_meeting_id) meeting_name,
        ppma.vote_result,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'PRJ325.VOTE_RESULT'
        AND ppma.vote_result = v.code_value) vote_result_n,
        ppma.vote_comment,
        ppma.vote_status,
        ppma.approval_id,
        ppma.DIRECTOR_FLAG,
        pp.RISK_MITIGATION_MEASURES,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'PRJ325.VOTE_STATUS'
        AND ppma.vote_status = v.code_value) vote_status_n,
        pp.marketing_report_id,
        (select hmr.marketing_report_number
        from hls_marketing_report hmr
        where pp.marketing_report_id = hmr.marketing_report_id) marketing_report_number,
        pp.project_name,
        pp.project_number,
        (select bp_name
        from hls_bp_master h
        where h.bp_id = pp.tenant_id
        and h.enabled_flag = 'Y') as bp_name,
        pp.tenant_sec_id_n,
        pp.guarantor_id,
        pp.business_type
        from prj_project_meeting_approver ppma
        left join prj_project pp
        on pp.project_id = ppma.project_id
        where ppma.enabled_flag = 'Y'
        and (pp.approval_status = 'VOTING' OR
        pp.approval_status = 'VOTED' OR
        pp.approval_status = 'COLLECTING' OR
        pp.approval_status = 'MEETED')) t
        <where>
            1=1
            <if test="projectId != null">
                and t.project_id = #{projectId}
            </if>
            <if test="approvalId != null">
                and t.approval_id = #{approvalId}
            </if>
            <if test="approverRecordId != null">
                and t.approver_record_id = #{approverRecordId}
            </if>
        </where>
    </select>

    <resultMap id="PrjSumCommentMap" type="map">
        <result column="APPROVER_RECORD_ID" property="approverRecordId" jdbcType="DECIMAL"/>
        <result column="APPROVAL_ID" property="approvalId" jdbcType="DECIMAL"/>
        <result column="VOTE_STATUS" property="voteStatus" jdbcType="VARCHAR"/>
        <result column="VOTE_COMMENT" property="voteComment" jdbcType="VARCHAR"/>
        <result column="PROJECT_ID" property="projectId" jdbcType="VARCHAR"/>
        <result column="VOTE_RESULT" property="voteResult" jdbcType="VARCHAR"/>
        <result column="VOTE_RESULT_N" property="voteResultN" jdbcType="VARCHAR"/>
        <result column="result_count" property="resultCount" jdbcType="VARCHAR"/>


    </resultMap>

    <select id="selectPrjSumComment" resultMap="PrjSumCommentMap">
        select
        ppma.vote_result,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'PRJ325.VOTE_RESULT'
        AND ppma.vote_result = v.code_value) vote_result_n,
        count(ppma.vote_result) result_count,
        ppma.project_id,
        ppma.approval_id
        from prj_project_meeting_approver ppma
        group by ppma.vote_result,ppma.project_id,ppma.approval_id
        having ppma.project_id = #{projectId} and ppma.approval_id = #{approvalId}
        and ppma.vote_result is not null
    </select>

    <delete id="deleteMeetingApprover" parameterType="com.hand.hls.prj.dto.ProjectMeetingApprover">
        delete from prj_project_meeting_approver  where approver_record_id = #{approverRecordId}
    </delete>

    <update id="updateMeetingJudgeFlag" parameterType="com.hand.hls.prj.dto.ProjectMeetingApprover">
        UPDATE prj_project_meeting_approver ppma SET ppma.director_flag = #{directorFlag} WHERE ppma.approval_id = #{approvalId} and ppma.APPROVER_USER_ID = #{approverUserId}
    </update>

    <resultMap id="analyseMap" type="map">
        <result column="agree_num" property="agreeNum"/>
        <result column="reconsider_num" property="reconsiderNum"/>
        <result column="disagree_num" property="disagreeNum"/>
        <result column="agree_precent" property="agreePrecent"/>
        <result column="approval_result" property="approval_result"/>
        <result column="approval_id" property="approval_id"/>
    </resultMap>
    <select id="queryAnalyse" parameterType="com.hand.hls.prj.dto.ProjectMeetingApprover" resultMap="analyseMap">
        select t.*,
        case when (agree_num + reconsider_num + disagree_num) = 0 then '0%' else
        to_char(round(agree_num / (agree_num + reconsider_num + disagree_num)*100, 4)) || '%'  end as agree_precent,
        (select pa.approval_result from prj_project_approval pa where pa.approval_id = #{approvalId}) approval_result
        from (
        SELECT
        (select count(1) from PRJ_PROJECT_MEETING_APPROVER where data_class = 'NORMAL' and approval_id = prma.approval_id and vote_result = '1') agree_num,
        (select count(1) from PRJ_PROJECT_MEETING_APPROVER where data_class = 'NORMAL' and approval_id = prma.approval_id and vote_result = '2') disagree_num,
        (select count(1) from PRJ_PROJECT_MEETING_APPROVER where data_class = 'NORMAL' and approval_id = prma.approval_id and vote_result = '3') reconsider_num
        FROM
        PRJ_PROJECT_MEETING_APPROVER prma
        WHERE
        1=1
        <if test="approvalId != null">
            and approval_id = #{approvalId}
        </if>
        ) t
    </select>


    <select id="queryMeetingApproval" parameterType="com.hand.hls.prj.dto.ProjectMeetingApprover" resultMap="BaseResultMap">

        SELECT
        prma.approval_id,
        prma.approver_record_id,
        prma.approver_user_id,
        prma.unit_name,
        prma.position_name,
        prma.director_flag,
        prma.project_id,
        prma.vote_comment,
        prma.vote_result,
        ( SELECT meaning FROM sys_code_value_b_v v WHERE v.CODE = 'SYS.VOTE_RESULT' AND v.code_value = prma.vote_result ) AS vote_result_n,
        prma.APPROVER_USER_TYPE,
        ( SELECT meaning FROM sys_code_value_b_v v WHERE v.CODE = 'SYS.APPROVER_USER_TYPE' AND v.code_value = prma.APPROVER_USER_TYPE ) AS APPROVER_USER_TYPE_N,
        prma.data_class,
        prma.company_id,
        ( SELECT f.COMPANY_SHORT_NAME FROM fnd_company f WHERE f.company_id = prma.company_id ) company_id_n,
        REMARK,
        ( SELECT NAME FROM fnd_employee fee WHERE fee.employee_id = fe.employee_id  and ROWNUM = 1 ) APPROVER_USER_ID_N,
        ( SELECT unit_name FROM fnd_org_unit fn WHERE fn.unit_id = fe.unit_id AND ROWNUM = 1 ) APPROVER_USER_UNIT,
        (
        SELECT
        position_name
        FROM
        fnd_org_position fop,
        fnd_employee fee
        WHERE
        fop.position_id = fe.position_id
        AND fee.employee_id = fe.employee_id
        AND ROWNUM = 1
        ) APPROVER_USER_POSITION,
        (
        SELECT
        company_short_name
        FROM
        fnd_company fc,
        fnd_employee fee
        WHERE
        fc.company_id = fee.company_id
        AND fee.employee_id = fe.employee_id
        AND ROWNUM = 1
        ) APPROVER_USER_COMPANY
        FROM
        PRJ_PROJECT_MEETING_APPROVER prma
        LEFT JOIN prj_meeting_judge pmj ON prma.approver_user_id = judge_id
        LEFT JOIN sys_user_allocation sua ON pmj.judge_user_allocation_id = sua.allocation_id
        LEFT JOIN fnd_employee_assigns fe ON sua.employee_assign_id = fe.employee_assign_id

        <where>
            1 = 1 and approver_user_id is not null
            <if test="approvalId != null">
                and prma.APPROVAL_ID = #{approvalId}
            </if>
        </where>
    </select>
</mapper>