<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.QuotationSubsectionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.QuotationSubsection">
        <result column="SUBSECTION_ID" property="subsectionId" jdbcType="DECIMAL"/>
        <result column="QUOTATION_ID" property="quotationId" jdbcType="DECIMAL"/>
        <result column="START_TIME" property="startTime" jdbcType="DECIMAL"/>
        <result column="END_TIME" property="endTime" jdbcType="DECIMAL"/>
        <result column="CALC_WAY" property="calcWay" jdbcType="VARCHAR"/>
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL"/>
        <result column="ANNUAL_PAY_TIMES" property="annualPayTimes" jdbcType="DECIMAL"/>
        <result column="INTERVAL_MONTHS" property="intervalMonths" jdbcType="DECIMAL"/>
        <result column="times" property="times"/>
    </resultMap>
    <select id="quotationSubsectionMaxTimes" parameterType="java.lang.Long" resultType="java.lang.Double">
        select max(t.end_time) END_TIME from  PRJ_QUOTATION_SUBSECTION t where t.quotation_id=#{quotationId}
    </select>
    <select id="quotationSubsectionByFloatingRateStartTimes" parameterType="com.hand.hls.prj.dto.QuotationSubsection"
            resultMap="BaseResultMap">
    select t.subsection_id,t.amount,t.annual_pay_times,t.calc_way,t.end_time,t.interval_months,t.start_time from  prj_quotation_subsection t where t.quotation_id=#{quotationId} and t.end_time>=#{times} order by t.start_time asc
    </select>

</mapper>