<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.ReplyProductMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.ReplyProduct">
        <result column="REPLY_PRODUCT_ID" property="replyProductId" jdbcType="DECIMAL"/>
        <result column="REPLY_ID" property="replyId" jdbcType="DECIMAL"/>
        <result column="REPLY_PRODUCT_CODE" property="replyProductCode" jdbcType="VARCHAR"/>
        <result column="DIFINITION_NAME" property="difinitionName" jdbcType="VARCHAR"/>
        <result column="PRICE_LIST" property="priceList" jdbcType="VARCHAR"/>
        <result column="PAY_TYPE" property="payType" jdbcType="DECIMAL"/>
        <result column="ANNUAL_PAY_TIMES" property="annualPayTimes" jdbcType="DECIMAL"/>
        <result column="credit_type" property="creditType" jdbcType="VARCHAR"/>
        <result column="EXEMPT_PENALTY_INT" property="exemptPenaltyInt" jdbcType="VARCHAR"/>
        <result column="ANNUAL_PAY_TIMES_N" property="annualPayTimesN" jdbcType="VARCHAR"/>
        <result column="CREDIT_TYPE_N" property="creditTypeN" jdbcType="VARCHAR"/>
        <result column="PAY_TYPE_N" property="payTypeN" jdbcType="VARCHAR"/>
        <result column="EXEMPT_PENALTY_INT_N" property="exemptPenaltyIntN" jdbcType="VARCHAR"/>
        <result column="residual_price_type_n" property="residualPriceTypeN" jdbcType="VARCHAR"/>
        <result column="residual_price_type" property="residualPriceType" jdbcType="VARCHAR"/>
        <result column="PRICE_LIST_N" property="priceListN" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="RESIDUAL_PRICE_TYPE" property="residualPriceType" jdbcType="VARCHAR"/>
        <result column="RESIDUAL_PRICE_TYPE_N" property="residualPriceTypeN" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="manufacturerQueryProductInfo" resultMap="BaseResultMap" parameterType="com.hand.hls.prj.dto.ReplyProduct">
        select hrp.*,
               (SELECT B2.MEANING
                FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
                WHERE B1.CODE = 'HLS500_ANNUAL_PAY_TIMES'
                  AND B1.CODE_ID = B2.CODE_ID
                  AND B2.VALUE = to_char(HRP.ANNUAL_PAY_TIMES)) ANNUAL_PAY_TIMES_N,
               (SELECT B2.MEANING
                FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
                WHERE B1.CODE = 'FINANCING_LOAN'
                  AND B1.CODE_ID = B2.CODE_ID
                  AND B2.VALUE = HRP.CREDIT_TYPE) CREDIT_TYPE_N,
               (SELECT B2.MEANING
                FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
                WHERE B1.CODE = 'HLS500_PAY_TYPE'
                  AND B1.CODE_ID = B2.CODE_ID
                  AND B2.VALUE = to_char(HRP.PAY_TYPE)) PAY_TYPE_N,
               (SELECT B2.MEANING
                FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
                WHERE B1.CODE = 'EXEMPT_PENALTY_INT'
                  AND B1.CODE_ID = B2.CODE_ID
                  AND B2.VALUE = HRP.EXEMPT_PENALTY_INT) EXEMPT_PENALTY_INT_N,
               (SELECT DESCRIPTION
                FROM HLS_PRICE_LIST HPL
                WHERE HPL.ENABLED_FLAG = 'Y'
                  AND HRP.PRICE_LIST = HPL.PRICE_LIST) PRICE_LIST_N,
               (select hbm.bp_name
                from prj_project_bp pb,
                     hls_bp_master hbm
                where pb.project_id = hrp.reply_id
                  and pb.bp_id = hbm.bp_id
                and pb.bp_type='MANUFACTURER') bp_name
        from hls_reply_product hrp
        <where>
            <if test="replyId!=null">
                and hrp.reply_id = #{replyId}
            </if>
            <if test="latestFlag!=null">
                AND EXISTS (SELECT 1
                FROM hls_bp_master_reply hbmr
                WHERE hbmr.reply_id = hrp.reply_id
                AND hbmr.latest_flag = 'Y')
            </if>
            <if test="replyProductCode!=null">
                AND hrp.reply_product_code like concat(concat('%',#{replyProductCode}),'%')
            </if>
            <if test="difinitionName!=null">
                AND hrp.difinition_name like concat(concat('%',#{difinitionName}),'%')
            </if>
            <if test="bpName!=null">
                AND (select hbm.bp_name
                from hls_bp_master_reply hbmr,
                hls_credit_line hcl,
                hls_bp_master hbm
                where hrp.reply_id = hbmr.reply_id
                and hbmr.credit_line_id = hcl.credit_line_id
                and hcl.bp_id = hbm.bp_id) like concat(concat('%',#{bpName}),'%')
            </if>
        </where>
    </select>
    <select id="manufacturerQueryProductInfo1" resultMap="BaseResultMap" parameterType="com.hand.hls.prj.dto.ReplyProduct">
        select hrp.*,
        (SELECT B2.MEANING
        FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
        WHERE B1.CODE = 'HLS500_ANNUAL_PAY_TIMES'
        AND B1.CODE_ID = B2.CODE_ID
        AND B2.VALUE = to_char(HRP.ANNUAL_PAY_TIMES)) ANNUAL_PAY_TIMES_N,
        (SELECT B2.MEANING
        FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
        WHERE B1.CODE = 'FINANCING_LOAN'
        AND B1.CODE_ID = B2.CODE_ID
        AND B2.VALUE = HRP.CREDIT_TYPE) CREDIT_TYPE_N,
        (SELECT B2.MEANING
        FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
        WHERE B1.CODE = 'HLS500_PAY_TYPE'
        AND B1.CODE_ID = B2.CODE_ID
        AND B2.VALUE = to_char(HRP.PAY_TYPE)) PAY_TYPE_N,
        (SELECT B2.MEANING
        FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
        WHERE B1.CODE = 'EXEMPT_PENALTY_INT'
        AND B1.CODE_ID = B2.CODE_ID
        AND B2.VALUE = HRP.EXEMPT_PENALTY_INT) EXEMPT_PENALTY_INT_N,
        (SELECT B2.MEANING
        FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
        WHERE B1.CODE = 'RESIDUAL_PRICE_TYPE'
        AND B1.CODE_ID = B2.CODE_ID
        AND B2.VALUE = HRP.residual_price_type) residual_price_type_n,
        (SELECT DESCRIPTION
        FROM HLS_PRICE_LIST HPL
        WHERE HPL.ENABLED_FLAG = 'Y'
        AND HRP.PRICE_LIST = HPL.PRICE_LIST) PRICE_LIST_N,
        (select hbm.bp_name
        from prj_project_bp pb,
        hls_bp_master hbm
        where pb.project_id = hrp.reply_id
        and pb.bp_id = hbm.bp_id
        and pb.bp_type='MANUFACTURER') bp_name
        from hls_reply_product hrp
        where exists (select 1 from prj_project p where p.data_type='NORMAL'
        AND HRP.REPLY_ID=P.PROJECT_ID)
            <if test="bpName!=null">
                AND (select hbm.bp_name
                from prj_project_bp pb,
                hls_bp_master hbm
                where pb.project_id = hrp.reply_id
                and pb.bp_id = hbm.bp_id
                and pb.bp_type='MANUFACTURER') like concat(concat('%',#{bpName}),'%')
            </if>
            <if test="replyProductCode!=null">
                AND hrp.reply_product_code like concat(concat('%',#{replyProductCode}),'%')
            </if>
            <if test="difinitionName!=null">
                AND hrp.difinition_name like concat(concat('%',#{difinitionName}),'%')
            </if>
    </select>

</mapper>