<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.prj.mapper.ReplyProductParaMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.prj.dto.ReplyProductPara">
        <result column="REPLY_PRODUCT_PARA_ID" property="replyProductParaId" jdbcType="DECIMAL"/>
        <result column="REPLY_PRODUCT_ID" property="replyProductId" jdbcType="DECIMAL"/>
        <result column="REPLY_PRODUCT_PARA" property="replyProductPara" jdbcType="VARCHAR"/>
        <result column="DEFAULT_VALUE" property="defaultValue" jdbcType="DECIMAL"/>
        <result column="VAULE_FROM" property="vauleFrom" jdbcType="DECIMAL"/>
        <result column="VAULE_TO" property="vauleTo" jdbcType="DECIMAL"/>
        <result column="SYSTEM_CONTROL_FLAG" property="systemControlFlag" jdbcType="VARCHAR"/>
        <result column="REPLY_PRODUCT_PARA_N" property="replyProductParaN" jdbcType="VARCHAR"/>
        <result column="reply_product_para_display" property="replyProductParaDisplay" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectReplyProductParaList" resultMap="BaseResultMap">
         SELECT hrpp.*,
				(SELECT scvb.meaning
                 FROM sys_code_b       scb,
                    sys_code_value_b scvb
                WHERE scb.code = 'HLS500_PRODUCT_PARA'
                    AND scb.code_id = scvb.code_id
                    AND scvb.value = hrpp.reply_product_para) AS reply_product_para_display
         FROM hls_reply_product_para hrpp
        WHERE hrpp.reply_product_id = #{replyProductId}
        ORDER BY hrpp.reply_product_para ASC
    </select>

    <select id="manufacturerQueryProductParaInfo" parameterType="com.hand.hls.prj.dto.ReplyProductPara"
            resultMap="BaseResultMap">
      SELECT HRPR.REPLY_PRODUCT_PARA_ID,
       HRPR.REPLY_PRODUCT_ID,
       HRPR.REPLY_PRODUCT_PARA,
       (SELECT B2.MEANING
          FROM SYS_CODE_B B1, SYS_CODE_VALUE_B B2
         WHERE B1.CODE = 'HLS500_PRODUCT_PARA'
           AND B1.CODE_ID = B2.CODE_ID
           AND B2.VALUE = HRPR.REPLY_PRODUCT_PARA) REPLY_PRODUCT_PARA_N,
       HRPR.DEFAULT_VALUE,
       HRPR.VAULE_FROM,
       HRPR.VAULE_TO,
       HRPR.SYSTEM_CONTROL_FLAG
      FROM HLS_REPLY_PRODUCT_PARA HRPR
      <where>
           HRPR.REPLY_PRODUCT_ID = #{replyProductId}
      </where>
    </select>
    
    <select id="query" parameterType="com.hand.hls.prj.dto.ReplyProductPara" resultMap="BaseResultMap">
        select pp.*,
        (select scvb.MEANING
        from SYS_CODE_B scb,
        SYS_CODE_VALUE_B scvb
        where scb.CODE = 'HLS500_PRODUCT_PARA'
        and scb.CODE_ID = scvb.CODE_ID
        and scvb.VALUE = pp.REPLY_PRODUCT_PARA) as REPLY_PRODUCT_PARA_N
        from HLS_REPLY_PRODUCT_PARA pp
        <where>
            <if test="replyProductId != null">
                and pp.REPLY_PRODUCT_ID = #{replyProductId}
            </if>
        </where>
    </select>
</mapper>
