<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.account.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.account.dto.User" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="USER_ID" property="userId" jdbcType="DECIMAL"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="USER_TYPE" property="userType" jdbcType="VARCHAR"/>
        <result column="PASSWORD_ENCRYPTED" property="passwordEncrypted" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="START_ACTIVE_DATE" property="startActiveDate" javaType="DATE"/>
        <result column="END_ACTIVE_DATE" property="endActiveDate" javaType="DATE"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="LAST_PASSWORD_UPDATE_DATE" property="lastPasswordUpdateDate" javaType="DATE"/>
        <result column="LAST_LOGIN_DATE" property="lastLoginDate" javaType="DATE"/>
        <result column="FIRST_LOGIN" property="firstLogin" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_CODE" property="employeeCode" jdbcType="VARCHAR"/>
        <result column="EMPLOYEE_NAME" property="employeeName" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="IMG_PATH" property="imgPath" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="bp_category" property="bpCategory" jdbcType="VARCHAR"/>
        <result column="manufacturer_id" property="manufacturerId" jdbcType="DECIMAL"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="unit_id_n" property="unitIdN" jdbcType="VARCHAR"/>
        <result column="allocation_id" property="allocationId" jdbcType="VARCHAR"/>
        <result column="intranet_flag" property="intranetFlag" jdbcType="VARCHAR"/>


    </resultMap>

    <resultMap id="UserResultMap" type="com.hand.hap.account.dto.User" extends="BaseResultMap">
        <collection column="ROLE_CODE" property="roleCode" ofType="java.lang.String">
            <id property="roleCode" column="ROLE_CODE" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>


    <sql id="Base_Column_List">
        SU.USER_ID, SU.USER_NAME, SU.USER_TYPE, SU.PASSWORD_ENCRYPTED, SU.EMAIL, SU.PHONE, SU.START_ACTIVE_DATE,
        SU.END_ACTIVE_DATE, SU.STATUS, SU.INTRANET_FLAG, SU.LAST_PASSWORD_UPDATE_DATE, SU.LAST_LOGIN_DATE, SU.FIRST_LOGIN, SU.DESCRIPTION
    </sql>

    <sql id="Attribute_Column_List">
         SU.OBJECT_VERSION_NUMBER,SU.ATTRIBUTE_CATEGORY,  SU.ATTRIBUTE1,  SU.ATTRIBUTE2,  SU.ATTRIBUTE3,  SU.ATTRIBUTE4,  SU.ATTRIBUTE5,  SU.ATTRIBUTE6,
         SU.ATTRIBUTE7,  SU.ATTRIBUTE8,  SU.ATTRIBUTE9,  SU.ATTRIBUTE10,  SU.ATTRIBUTE11,  SU.ATTRIBUTE12,  SU.ATTRIBUTE13,SU.ATTRIBUTE14,  SU.ATTRIBUTE15
    </sql>

    <update id="updateBasic" parameterType="com.hand.hap.account.dto.User">
        UPDATE SYS_USER
        <set>
            <if test="userName!=null">
                USER_NAME = #{userName},
            </if>
            <if test="userType!=null">
                USER_TYPE = #{userType},
            </if>
            <if test="email!=null">
                EMAIL = #{email},
            </if>
            <if test="phone!=null">
                PHONE = #{phone},
            </if>
            <if test="status!=null">
                STATUS = #{status},
            </if>
            <if test="employeeId!=null">
                EMPLOYEE_ID = #{employeeId},
            </if>
            <if test="description!=null">
                DESCRIPTION = #{description},
            </if>
            <if test="address !=null">
                address = #{address},
            </if>
            START_ACTIVE_DATE = #{startActiveDate},
            END_ACTIVE_DATE = #{endActiveDate},
            OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER+1,
            LAST_UPDATED_BY = #{request.userId},
            LAST_UPDATE_DATE = current_timestamp
        </set>
        WHERE USER_ID = #{userId}
    </update>

    <update id="updatePassword">
        UPDATE SYS_USER
        SET PASSWORD_ENCRYPTED = #{password,jdbcType=VARCHAR},
            LAST_PASSWORD_UPDATE_DATE = current_timestamp
        WHERE USER_ID = #{userId,jdbcType=DECIMAL}
    </update>

    <update id="updateFirstLogin">
        UPDATE SYS_USER
        SET FIRST_LOGIN = #{status,jdbcType=VARCHAR}
        WHERE USER_ID = #{userId,jdbcType=DECIMAL}
    </update>

    <select id="selectByAttribute3" resultMap="UserResultMap" parameterType="java.lang.String">
        SELECT<include refid="Base_Column_List"/>,
        HEA.EMPLOYEE_ID,
        SR.ROLE_CODE,
        HE.EMPLOYEE_CODE AS EMPLOYEE_CODE,
        HE. NAME AS EMPLOYEE_NAME
        FROM
        SYS_USER SU
        LEFT OUTER JOIN sys_user_allocation SUA ON SU.USER_ID = SUA.USER_ID
        LEFT OUTER JOIN SYS_ROLE_B SR ON SR.ROLE_ID = SUA.ROLE_ID
        AND SR.ENABLE_FLAG = 'Y'
        LEFT OUTER JOIN fnd_employee_assigns HEA ON SUA.EMPLOYEE_ASSIGN_ID = HEA.EMPLOYEE_ASSIGN_ID
        LEFT OUTER JOIN fnd_employee HE ON HEA.EMPLOYEE_ID = HE.EMPLOYEE_ID
        WHERE
        upper(SU.ATTRIBUTE3) = upper(#{attribute3,jdbcType=VARCHAR})
    </select>

    <select id="selectByUserName" resultMap="UserResultMap" parameterType="java.lang.String">
        SELECT<include refid="Base_Column_List"/>,
        HEA.EMPLOYEE_ID,
        SR.ROLE_CODE,
        HE.EMPLOYEE_CODE AS EMPLOYEE_CODE,
        HE. NAME AS EMPLOYEE_NAME
        FROM
        SYS_USER SU
        LEFT OUTER JOIN sys_user_allocation SUA ON SU.USER_ID = SUA.USER_ID
        LEFT OUTER JOIN SYS_ROLE_B SR ON SR.ROLE_ID = SUA.ROLE_ID
        AND SR.ENABLE_FLAG = 'Y'
        LEFT OUTER JOIN fnd_employee_assigns HEA ON SUA.EMPLOYEE_ASSIGN_ID = HEA.EMPLOYEE_ASSIGN_ID
        LEFT OUTER JOIN fnd_employee HE ON HEA.EMPLOYEE_ID = HE.EMPLOYEE_ID
        WHERE
        upper(SU.USER_NAME) = upper(#{userName,jdbcType=VARCHAR})
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        SYS_USER SU
        WHERE
        USER_ID = #{userId}
    </select>

    <select id="selectUserNameByEmployeeCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT SU.USER_NAME,
               SU.USER_ID
          FROM FND_EMPLOYEE HE
    INNER JOIN SYS_USER SU
            ON SU.EMPLOYEE_ID = HE.EMPLOYEE_ID
         WHERE HE.EMPLOYEE_CODE = #{employeeCode}
    </select>

    <select id="selectUserByEmployeeCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select su.*
        from sys_user su,sys_user_allocation sua,fnd_employee fe,fnd_employee_assigns fea
        where su.user_id = sua.user_id
        and sua.employee_assign_id = fea.EMPLOYEE_ASSIGN_ID
        and fea.EMPLOYEE_ID = fe.EMPLOYEE_ID
        and fe.EMPLOYEE_CODE=#{employeeCode}
    </select>

    <select id="selectByIdList" resultMap="BaseResultMap">
        SELECT USER_ID,
        EMAIL,
        USER_NAME
        FROM SYS_USER
        WHERE USER_ID IN
        <foreach collection="list" open="(" separator="," close=")" item="userId" index="index">
            #{userId,jdbcType=DECIMAL}
        </foreach>
    </select>

    <select id="selectUsers" resultMap="BaseResultMap" parameterType="com.hand.hap.account.dto.User">
        SELECT
        <include refid="Base_Column_List"/>,
        <include refid="com.hand.hap.mapper.StdMapper.Base_Column_List"/>,
        SU.EMPLOYEE_ID,
        HE.EMPLOYEE_CODE EMPLOYEE_CODE,
        HE.NAME EMPLOYEE_NAME
        FROM SYS_USER SU
        LEFT OUTER JOIN FND_EMPLOYEE HE
        ON SU.EMPLOYEE_ID = HE.EMPLOYEE_ID
        <where>
            <if test="userId!=null">
                AND SU.USER_ID=#{userId}
            </if>
            <if test="userName!=null">
                AND SU.USER_NAME LIKE concat('%', concat(#{userName,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="userType!=null">
                AND SU.USER_TYPE=#{userType}
            </if>
            <if test="description!=null">
                AND SU.DESCRIPTION Like concat('%', concat(#{description}, '%'))
            </if>
        </where>
        <if test="sortname !=null">
            <bind name="_colName" value="@com.hand.hap.mybatis.util.OGNL@unCamel(sortname)"/>
            ORDER BY SU.${_colName} ${sortorder}
        </if>
        <if test="sortname ==null">
            ORDER BY SU.USER_ID ASC
        </if>
    </select>

    <select id="selectUsersOption" resultMap="BaseResultMap" parameterType="com.hand.hap.account.dto.User">
        SELECT SU.USER_ID, SU.USER_NAME, SU.EMPLOYEE_ID,
        su.bp_id,
        su.bp_category,
        hbm.bp_name bp_name,
        case su.bp_category when 'VENDER'
        then
        (select hbm1.bp_id from hls_bp_master_relation hbmr,hls_bp_master hbm1 where hbmr.bp_id = hbm.bp_id and
        hbmr.relation_type = 'MANUFACTURER' and hbmr.related_bp_id=hbm1.bp_id AND rownum = 1)
        when 'DEALER'
        then
        (select hbm2.bp_id from hls_bp_master_relation hbmr1,hls_bp_master hbm2 where hbmr1.relation_type =
        'MANUFACTURER' and hbmr1.related_bp_id = hbm2.bp_id
        and hbmr1.admit_status in('APPROVED','FAILURE')
        and hbmr1.enabled_flag = 'Y'
        and hbmr1.bp_id =
        (select hbm1.bp_id from hls_bp_master_relation hbmr,hls_bp_master hbm1
        where hbmr.bp_id = hbm.bp_id
        and hbmr.relation_type = 'VENDER' and hbmr.related_bp_id=hbm1.bp_id
        AND rownum = 1 ) )
        else ''
        end manufacturer_id,
        (SELECT DISTINCT(fe. NAME)
        FROM
        sys_user_allocation sua,
        fnd_employee_assigns fea,
        fnd_employee fe
        WHERE
        su.USER_ID = sua.user_id
        AND sua.employee_assign_id = fea.EMPLOYEE_ASSIGN_ID
        AND fe.EMPLOYEE_ID = fea.EMPLOYEE_ID
        and fe.ENABLED_FLAG = 'Y'
        ) EMPLOYEE_NAME,
        (
        SELECT DISTINCT(fe.EMPLOYEE_CODE)
        FROM
        sys_user_allocation sua,
        fnd_employee_assigns fea,
        fnd_employee fe
        WHERE
        su.USER_ID = sua.user_id
        AND sua.employee_assign_id = fea.EMPLOYEE_ASSIGN_ID
        AND fe.EMPLOYEE_ID = fea.EMPLOYEE_ID
        and fe.ENABLED_FLAG = 'Y'
        ) EMPLOYEE_CODE,SU.EMAIL,
        SU.PHONE, SU.STATUS,SU.START_ACTIVE_DATE,SU.END_ACTIVE_DATE, SU.DESCRIPTION,SU.USER_TYPE,SU.INTRANET_FLAG,
        <include refid="Attribute_Column_List"/>
        FROM SYS_USER SU
        LEFT OUTER JOIN FND_EMPLOYEE HE
        ON SU.EMPLOYEE_ID = HE.EMPLOYEE_ID
        LEFT JOIN hls_bp_master hbm
        on su.bp_id = hbm.bp_id
        left join
        (
        select
        hbm.bp_id,hbt.bp_type,hbt.description
        from hls_bp_master hbm
        left join hls_bp_type hbt
        on hbm.bp_type =hbt.bp_type
        ) temp
        on su.bp_id =temp.bp_id
        <if test="roleId!=null">
            Left JOIN SYS_USER_ALLOCATION UR ON
            SU.USER_ID=UR.USER_ID
        </if>
        <where>

            <if test="userId!=null">
                AND SU.USER_ID=#{userId}
            </if>
            <if test="description!=null">
                AND SU.DESCRIPTION like concat('%', concat(#{description}, '%'))
            </if>
            <if test="userName!=null">
                AND SU.USER_NAME LIKE concat('%', concat(#{userName,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="userType!=null">
                AND SU.USER_TYPE=#{userType}
            </if>
            <if test="bpType!=null">
                AND temp.bp_type=#{bpType}
            </if>
            <if test="employeeCode!=null">
                AND HE.EMPLOYEE_CODE LIKE concat('%', concat(#{employeeCode,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="employeeName!=null">
                AND HE.NAME LIKE concat('%', concat(#{employeeName,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="roleId!=null">
                AND UR.ROLE_ID=#{roleId}
            </if>
            <if test="status!=null">
                AND SU.STATUS=#{status}
            </if>
            <if test='intranetFlag!=null and intranetFlag== "Y" '>
                AND SU.INTRANET_FLAG=#{intranetFlag}
            </if>
            <if test='intranetFlag!=null and intranetFlag==  "N" '>
                AND (SU.INTRANET_FLAG=#{intranetFlag} or SU.INTRANET_FLAG is null)
            </if>
        </where>
        <if test="sortname !=null">
            <bind name="_colName" value="@com.hand.hap.mybatis.util.OGNL@unCamel(sortname)"/>
            ORDER BY SU.${_colName} ${sortorder}
        </if>
        <if test="sortname ==null">
            ORDER BY SU.USER_NAME ASC
        </if>
    </select>
    <select id="getDirector" resultType="java.lang.String">
            SELECT
        (select su.USER_NAME from sys_user su where su.USER_ID = sua.user_id) user_name
    FROM
        sys_user_allocation sua
        LEFT JOIN fnd_employee_assigns fea ON sua.EMPLOYEE_ASSIGN_ID = fea.EMPLOYEE_ASSIGN_ID
    WHERE
        sua.enabled_flag = 'Y'
        AND fea.ENABLED_FLAG = 'Y'
        AND fea.POSITION_ID in (
        SELECT
            PARENT_POSITION_ID
        FROM
            FND_ORG_POSITION
        WHERE
        POSITION_ID in (
        SELECT POSITION_ID
        FROM fnd_employee_assigns
        WHERE employee_assign_id IN
        (
        SELECT employee_assign_id FROM sys_user_allocation WHERE user_id =
        (select su1.user_id from sys_user su1 where su1.user_name = #{userName})
         ) AND PRIMARY_POSITION_FLAG = 'Y' )
        )
    </select>

    <select id="getDeptDirector" resultType="java.lang.String">
            SELECT
        ( SELECT su.USER_NAME FROM sys_user su WHERE su.USER_ID = sua.user_id ) user_name
    FROM
        sys_user_allocation sua
        LEFT JOIN fnd_employee_assigns fea ON sua.EMPLOYEE_ASSIGN_ID = fea.EMPLOYEE_ASSIGN_ID
    WHERE
        sua.enabled_flag = 'Y'
        AND fea.ENABLED_FLAG = 'Y'
        AND fea.UNIT_ID = (
        SELECT
            fou.PARENT_UNIT_ID
        FROM
            FND_ORG_UNIT fou
        WHERE

            fou.UNIT_ID = (
            SELECT
                fopb.unit_id
            FROM
                FND_ORG_POSITION fopb
            WHERE
                fopb.POSITION_ID = (
                SELECT
                    feab.POSITION_ID
                FROM
                    fnd_employee_assigns feab
                WHERE
                    feab.employee_assign_id IN ( SELECT employee_assign_id FROM sys_user_allocation WHERE user_id =
                     (select su1.user_id from sys_user su1 where su1.user_name = #{userName}))
                    AND PRIMARY_POSITION_FLAG = 'Y'
                )
        )
        )
    </select>

    <select id="selectByPostionCode" resultType="java.lang.String">
        SELECT
                (select su.USER_NAME from sys_user su where su.USER_ID = sua.user_id) user_name
        FROM
            sys_user_allocation sua
        WHERE
            sua.EMPLOYEE_ASSIGN_ID IN (
            SELECT DISTINCT EMPLOYEE_ASSIGN_ID
            FROM fnd_employee_assigns
            WHERE POSITION_ID =
            (
              SELECT POSITION_ID FROM FND_ORG_POSITION WHERE POSITION_CODE = #{positionCode} AND ENABLED_FLAG ='Y'
            )
            AND company_id = #{companyId}
            AND ENABLED_FLAG ='Y'
        )
        </select>

    <select id="selectByRoleCode" resultType="java.lang.String">
                SELECT DISTINCT
            U.USER_ID
        FROM
            sys_user U
            LEFT JOIN SYS_USER_ALLOCATION UR ON UR.USER_ID = U.USER_ID
            LEFT JOIN SYS_ROLE_B R ON R.ROLE_ID = UR.ROLE_ID
        WHERE
            R.ROLE_CODE = #{roleCode}
            </select>
    <select id="queryInfoByUserId" resultType="com.hand.hap.hr.dto.Employee">
            SELECT
            (SELECT USER_NAME FROM SYS_USER WHERE USER_ID = #{userId}) AS NAME,
            (SELECT POSITION_NAME FROM FND_ORG_POSITION FOP WHERE FOP.POSITION_ID = FEA.POSITION_ID) AS POSITION_NAME,
            (SELECT UNIT_NAME FROM FND_ORG_UNIT FOU WHERE FOU.UNIT_ID = FEA.UNIT_ID) AS UNITNAME,
            FEA.UNIT_ID  unitId
            FROM
                FND_EMPLOYEE_ASSIGNS FEA
            WHERE
                EMPLOYEE_ASSIGN_ID = ( SELECT EMPLOYEE_ASSIGN_ID FROM SYS_USER_ALLOCATION SUA WHERE SUA.USER_ID = #{userId} AND SUA.ENABLED_FLAG = 'Y' )
                AND FEA.ENABLED_FLAG = 'Y'
                AND PRIMARY_POSITION_FLAG = 'Y'

            </select>

    <select id="selectEmployeeAssginIdByUserId" resultType="java.lang.Long">
        SELECT employee_assign_id FROM sys_user_allocation WHERE USER_ID = #{userId} AND enabled_flag = 'Y' and rownum=1
	   </select>


    <select id="selectForLov" parameterType="com.hand.hap.account.dto.User" resultMap="BaseResultMap">
        select *
        from SYS_USER SU
        <where>
            <if test="description!=null">
                AND SU.DESCRIPTION LIKE concat('%', concat(#{description}, '%'))
            </if>
            <if test="userName!=null">
                AND SU.USER_NAME LIKE concat('%', concat(#{userName}, '%'))
            </if>
        </where>
    </select>

    <select id="queryUserByUserName" resultType="com.hand.hap.account.dto.User">
       select
        max(su.user_id) userId
       from
       sys_user su
       where su.user_name = #{userName}
    </select>

    <select id="queryUserByCode" resultType="com.hand.hap.account.dto.User">
    SELECT
        max(sua.user_id) userId
    FROM
        sys_user_allocation sua
    WHERE
        sua.employee_assign_id = (
            SELECT
                max(fea.employee_assign_id)
            FROM
                fnd_employee_assigns fea
            WHERE
                fea.enabled_flag = 'Y'
                AND fea.employee_id = (
                    SELECT
                        fe.employee_id
                    FROM
                        fnd_employee fe
                    WHERE
                        fe.employee_code = #{code}
                        )
                )
  </select>

    <select id="selectUserById" parameterType="java.lang.Long" resultType="com.hand.hap.account.dto.User">
        SELECT * FROM sys_user u WHERE u.USER_ID = #{userId,jdbcType=BIGINT}
    </select>

    <select id="selectUserByPositionId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        sua.USER_ID,
        fe.EMPLOYEE_CODE,
        fe.name EMPLOYEE_NAME
        FROM
        fnd_employee fe
        INNER JOIN fnd_employee_assigns fea ON fe.employee_id = fea.employee_id
        INNER JOIN sys_user_allocation sua ON sua.employee_assign_id = fea.employee_assign_id
        where fea.position_id = #{positionId}
    </select>
    <select id="queryUserByAllocationId" resultMap="BaseResultMap">
       select distinct sua.user_id
       from sys_user_allocation sua
       where sua.allocation_id=#{allocationId}
    </select>
    <select id="queryUserForAssign" resultMap="BaseResultMap">
        select su.description, fou.unit_name unit_id_n,su.user_id,sua.allocation_id
        from sys_user_allocation sua,
        fnd_employee_assigns fea,
        fnd_org_unit fou,
        sys_user su
        <where>
            su.user_id = sua.user_id
            and sua.employee_assign_id = fea.employee_assign_id
            and fou.unit_id = fea.unit_id
            and fea.primary_position_flag = 'Y'
            and fea.enabled_flag = 'Y'
            and sua.enabled_flag = 'Y'
            <if test="userId != null">
                and su.user_id != #{userId}
            </if>
            <if test="queryType == 'USER'">
                and fou.unit_id in (select ass.unit_id
                from sys_user_allocation alla,fnd_employee_assigns ass
                where alla.employee_assign_id = ass.employee_assign_id
                and alla.user_id = #{userId}
                and alla.enabled_flag = 'Y'
                and ass.enabled_flag = 'Y')
            </if>
            <if test="queryType == 'DEPT'">
                and fou.unit_code in ('DEPT0102','DEPT0103','DEPT0104','DEPT0204','DEPT0205','DEPT0206',
                'DEPT0207','DEPT0208','DEPT0209','DEPT0225','DEPT0402','DEPT0403')
            </if>
            <if test="description!=null">
                and su.description like concat('%', concat(#{description,jdbcType=VARCHAR}, '%'))
            </if>
        </where>
    </select>
    <select id="selectUsersByRole" resultMap="BaseResultMap" parameterType="com.hand.hap.account.dto.User">
        SELECT SU.USER_ID, SU.USER_NAME, SU.EMPLOYEE_ID,
        su.bp_id,
        hbm.bp_name bp_name,
        CASE
        WHEN ( SELECT COUNT( 1 ) FROM HLS_BP_MASTER_ROLE hbmr WHERE su.bp_id = hbmr.bp_id AND hbmr.BP_CATEGORY = 'DEALER' ) > 0 THEN
        'DEALER' ELSE ( SELECT hbmr.bp_category FROM HLS_BP_MASTER_ROLE hbmr WHERE su.bp_id = hbmr.bp_id AND hbmr.PRIMARY_FLAG = 'Y' )
        END AS bp_category,
        case su.bp_category when 'VENDER'
        then
        (select hbm1.bp_id from hls_bp_master_relation hbmr,hls_bp_master hbm1 where hbmr.bp_id = hbm.bp_id and
        hbmr.relation_type = 'MANUFACTURER' and hbmr.related_bp_id=hbm1.bp_id AND rownum = 1)
        when 'DEALER'
        then
        (select hbm2.bp_id from hls_bp_master_relation hbmr1,hls_bp_master hbm2 where hbmr1.relation_type =
        'MANUFACTURER' and hbmr1.related_bp_id = hbm2.bp_id
        and hbmr1.bp_id =
        (select hbm1.bp_id from hls_bp_master_relation hbmr,hls_bp_master hbm1
        where hbmr.bp_id = hbm.bp_id
        and hbmr.relation_type = 'VENDER' and hbmr.related_bp_id=hbm1.bp_id
        AND rownum = 1 ) )
        else ''
        end manufacturer_id,
        (SELECT DISTINCT(fe. NAME)
        FROM
        sys_user_allocation sua,
        fnd_employee_assigns fea,
        fnd_employee fe
        WHERE
        su.USER_ID = sua.user_id
        AND sua.employee_assign_id = fea.EMPLOYEE_ASSIGN_ID
        AND fe.EMPLOYEE_ID = fea.EMPLOYEE_ID
        ) EMPLOYEE_NAME,
        (
        SELECT DISTINCT(fe.EMPLOYEE_CODE)
        FROM
        sys_user_allocation sua,
        fnd_employee_assigns fea,
        fnd_employee fe
        WHERE
        su.USER_ID = sua.user_id
        AND sua.employee_assign_id = fea.EMPLOYEE_ASSIGN_ID
        AND fe.EMPLOYEE_ID = fea.EMPLOYEE_ID
        ) EMPLOYEE_CODE,SU.EMAIL,
        SU.PHONE, SU.STATUS,SU.START_ACTIVE_DATE,SU.END_ACTIVE_DATE, SU.DESCRIPTION,SU.USER_TYPE,
        temp.description bp_name_type,
        <include refid="Attribute_Column_List"/>
        FROM SYS_USER SU
        LEFT OUTER JOIN FND_EMPLOYEE HE
        ON SU.EMPLOYEE_ID = HE.EMPLOYEE_ID
        LEFT JOIN hls_bp_master hbm
        on su.bp_id = hbm.bp_id
        left join
        (
        select
        hbm.bp_id,hbt.bp_type,hbt.description
        from hls_bp_master hbm
        left join hls_bp_type hbt
        on hbm.bp_type =hbt.bp_type
        ) temp
        on su.bp_id =temp.bp_id
        <if test="roleId!=null">
            Left JOIN SYS_USER_ALLOCATION UR ON
            SU.USER_ID=UR.USER_ID
        </if>
        <where>
            <if test="userId!=null">
                AND SU.USER_ID=#{userId}
            </if>
            <if test="description!=null">
                AND SU.DESCRIPTION like concat('%', concat(#{description}, '%'))
            </if>
            <if test="userName!=null">
                AND SU.USER_NAME LIKE concat('%', concat(#{userName,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="userType!=null">
                AND SU.USER_TYPE=#{userType}
            </if>
            <if test="bpType!=null">
                AND temp.bp_type=#{bpType}
            </if>
            <if test="employeeCode!=null">
                AND HE.EMPLOYEE_CODE LIKE concat('%', concat(#{employeeCode,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="employeeName!=null">
                AND HE.NAME LIKE concat('%', concat(#{employeeName,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="roleId!=null">
                AND UR.ROLE_ID=#{roleId}
            </if>
            <if test="status!=null">
                AND SU.STATUS=#{status}
            </if>
        </where>
        <if test="sortname !=null">
            <bind name="_colName" value="@com.hand.hap.mybatis.util.OGNL@unCamel(sortname)"/>
            ORDER BY SU.${_colName} ${sortorder}
        </if>
        <if test="sortname ==null">
            ORDER BY SU.USER_NAME ASC
        </if>
    </select>
    <select id="selectUsersByRoleNew" resultMap="BaseResultMap" parameterType="com.hand.hap.account.dto.User">
        SELECT
        su.user_id,
        su.user_name,
        su.bp_id,
        hbm.bp_name bp_name,
        CASE
        WHEN ( SELECT COUNT( 1 ) FROM HLS_BP_MASTER_ROLE hbmr
        WHERE su.bp_id = hbmr.bp_id AND hbmr.BP_CATEGORY = 'DEALER' ) > 0 THEN
        'DEALER' ELSE ( SELECT hbmr.bp_category FROM HLS_BP_MASTER_ROLE hbmr
        inner join hls_bp_category hbc ON hbc.bp_category = hbmr.bp_type
        WHERE su.bp_id = hbmr.bp_id and hbc.description = su.bp_category )
        END AS bp_category
        FROM SYS_USER SU
        LEFT JOIN hls_bp_master hbm
        on su.bp_id = hbm.bp_id
        <where>
            <if test="userId!=null">
                AND SU.USER_ID=#{userId}
            </if>
        </where>
    </select>

    <select id="queryByEmployeeId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select su.USER_ID,
               su.USER_TYPE,
               su.USER_NAME,
               su.PASSWORD_ENCRYPTED,
               su.EMAIL,
               su.PHONE,
               su.START_ACTIVE_DATE,
               su.END_ACTIVE_DATE,
               su.STATUS,
               su.FIRST_LOGIN,
               su.DESCRIPTION,
               su.EMPLOYEE_ID,
               su.CUSTOMER_ID,
               su.SUPPLIER_ID,
               su.BP_ID,
               su.BP_CATEGORY
        from SYS_USER su,
             (select sua.USER_ID
              from FND_EMPLOYEE_ASSIGNS fea,
                   SYS_USER_ALLOCATION sua
              where fea.EMPLOYEE_ID = #{employeeId}
                and fea.EMPLOYEE_ASSIGN_ID = sua.EMPLOYEE_ASSIGN_ID
              group by sua.USER_ID) t1
        where su.USER_ID = t1.USER_ID
    </select>
</mapper>