<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.GENER.mapper.HlsGeneralIssueMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.GENER.dto.HlsGeneralIssue">
        <result column="GENERAL_ID" property="generalId" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="NEXT_APPROVE_PERSON" property="nextApprovePerson" jdbcType="DECIMAL" />
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
        <result column="UNIT_ID_n" property="unitIdN" />
        <result column="CREATED_BY_n" property="createdByN" />
        <result column="CREATED_BY" property="createdBy" />

        <result column="APPLY_DATE" property="applyDate" jdbcType="DATE" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="STATUS_n" property="statusN" jdbcType="VARCHAR" />
        <result column="final_approve_flag" property="finalApproveFlag" jdbcType="VARCHAR" />
        <result column="process_instance_id" property="processInstanceId"  />
        <result column="final_approve_flag_n" property="finalApproveFlagN"/>
        <result column="next_approve_person_n" property="nextApprovePersonN"/>
        <result column="employee_code" property="employeeCode"/>
        <result column="position_id" property="positionId"/>
        <result column="COMMON_ADJUST_TYPE" property="commonAdjustType"/>
        <result column="COMMON_ADJUST_TYPE_n" property="commonAdjustTypeN"/>

    </resultMap>
    <select id="queryHlsGeneralIssue" resultMap="BaseResultMap">
  select  t1.*  from ( select  t.*,
        ( SELECT fou.unit_name FROM fnd_org_unit fou WHERE fou.unit_id = t.unit_id ) AS unit_id_n,
        ( SELECT s.DESCRIPTION FROM sys_user s WHERE s.USER_ID = t.CREATED_BY ) CREATED_BY_n,
        ( SELECT s.DESCRIPTION FROM sys_user s,sys_user_allocation a WHERE a.ALLOCATION_ID = t.NEXT_APPROVE_PERSON and s.user_id = a.user_id) NEXT_APPROVE_PERSON_N,
        (SELECT scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'GENERAL_STATUS'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = t.status) status_n,
        (SELECT scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'SYS.YES_NO'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = t.final_approve_flag) final_approve_flag_n
        from  hls_general_issue  t)  t1
 <where>
 1=1


        <if test="createdByN !=null">
            and t1.created_by_n = #{createdByN}
        </if>
       <if test="createdBy !=null">
         and t1.created_by = #{createdBy}
       </if>
       <if test="generalId!=null">
         and t1.general_id=#{generalId}
      </if>
    </where>
    </select>
    <select id="queryHlsGeneralIssueNew" resultMap="BaseResultMap">
        select  t1.*  from ( select  t.*,
        ( SELECT fou.unit_name FROM fnd_org_unit fou WHERE fou.unit_id = t.unit_id ) AS unit_id_n,
        ( SELECT s.DESCRIPTION FROM sys_user s WHERE s.USER_ID = t.CREATED_BY ) CREATED_BY_n,
        ( SELECT s.DESCRIPTION FROM sys_user s,sys_user_allocation a WHERE a.ALLOCATION_ID = t.NEXT_APPROVE_PERSON and s.user_id = a.user_id) NEXT_APPROVE_PERSON_N,
        (SELECT scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'GENERAL_STATUS'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = t.status) status_n,
        (SELECT scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'SYS.YES_NO'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = t.final_approve_flag) final_approve_flag_n,
        (SELECT scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'COMMON_ADJUST_TYPE'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = t.common_adjust_type)common_adjust_type_n
        from  hls_general_issue  t)  t1
        <where>
            1=1
            <if test="authority !=null">
                and (t1.created_by = #{authority}
                or EXISTS (SELECT
                1
                FROM
                sys_user U
                LEFT JOIN SYS_USER_ALLOCATION UR ON UR.USER_ID = U.USER_ID
                LEFT JOIN SYS_ROLE_B R ON R.ROLE_ID = UR.ROLE_ID
                WHERE
                R.ROLE_CODE = 'ADMIN' and U.USER_ID = #{authority}))
            </if>
            <if test="createdBy != null">

            </if>
            <if test="applyDateFrom!=null">
                and t1.apply_date &gt;= to_date( #{applyDateFrom}, 'YYYY-MM-DD')
            </if>
            <if test="applyDateTo!=null">
                and t1.apply_date &lt;= to_date( #{applyDateTo}, 'YYYY-MM-DD')
            </if>
            <if test="createdByN !=null">
                and t1.created_by_n = #{createdByN}
            </if>
            <if test="createdBy !=null">
                and t1.created_by = #{createdBy}
            </if>
            <if test="generalId!=null">
                and t1.general_id=#{generalId}
            </if>
        </where>
    </select>
    <select id="queryHlsGeneralIssueNewWfl" resultMap="BaseResultMap">
        select  t1.*  from ( select  t.*,
        ( SELECT fou.unit_name FROM fnd_org_unit fou WHERE fou.unit_id = t.unit_id ) AS unit_id_n,
        ( SELECT s.DESCRIPTION FROM sys_user s WHERE s.USER_ID = t.CREATED_BY ) CREATED_BY_n,
        ( SELECT s.DESCRIPTION FROM sys_user s,sys_user_allocation a WHERE a.ALLOCATION_ID = t.NEXT_APPROVE_PERSON and s.user_id = a.user_id) NEXT_APPROVE_PERSON_N,
        (SELECT scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'GENERAL_STATUS'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = t.status) status_n,
        (SELECT scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'SYS.YES_NO'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = t.final_approve_flag) final_approve_flag_n,
        (SELECT scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'COMMON_ADJUST_TYPE'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = t.common_adjust_type) common_adjust_type_n
        from  hls_general_issue  t)  t1
        <where>
            1=1
            <if test="applyDateFrom!=null">
                and t1.apply_date &gt;= to_date( #{applyDateFrom}, 'YYYY-MM-DD')
            </if>
            <if test="applyDateTo!=null">
                and t1.apply_date &lt;= to_date( #{applyDateTo}, 'YYYY-MM-DD')
            </if>
            <if test="createdByN !=null">
                and t1.created_by_n = #{createdByN}
            </if>
            <if test="createdBy !=null">
                and t1.created_by = #{createdBy}
            </if>
            <if test="generalId!=null">
                and t1.general_id=#{generalId}
            </if>
        </where>
    </select>
    <select id="queryGeneralUnitId" resultType="java.lang.Long" parameterType="java.lang.Long">
      SELECT
fa.UNIT_ID
FROM
	sys_user s,
	sys_user_allocation a,
	fnd_employee e,
	fnd_employee_assigns fa
WHERE
	s.user_id = a.user_id
	AND a.EMPLOYEE_ASSIGN_ID = fa.EMPLOYEE_ASSIGN_ID
	AND fa.EMPLOYEE_ID = e.EMPLOYEE_ID
	AND fa.primary_position_flag = 'Y'
	AND a.ALLOCATION_ID = #{nextApprovePerson}







    </select>
    <select id="queryGeneralPositionId" resultType="java.lang.Long" parameterType="java.lang.Long">
    SELECT
	p.POSITION_ID

FROM
	FND_ORG_POSITION p
	LEFT JOIN fnd_org_unit u ON p.unit_id = u.unit_id
	LEFT JOIN FND_COMPANY c ON u.company_id = c.company_id
	where  p.unit_id=#{unitId}
	and p.CHIEF_POSITION_FLAG='Y'







    </select>

    <select id="queryGeneralEmployeeCode" resultType="java.lang.String" parameterType="java.lang.Long">
     SELECT  e.employee_code AS employee_code FROM
      fnd_employee_assigns em LEFT JOIN FND_COMPANY c ON em.company_id = c.company_id
       LEFT JOIN fnd_employee e ON em.employee_id = e.employee_id LEFT JOIN FND_ORG_POSITION  p
        ON em.position_id = p.position_id LEFT JOIN fnd_org_unit u ON em.unit_id = u.unit_id
         WHERE em.position_id = #{positionId}







    </select>
</mapper>