<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.meta.mapper.MetadataMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.meta.dto.Metadata">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="metaId"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="DATA_TYPE" jdbcType="VARCHAR" property="dataType"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="LOCKED_BY" jdbcType="VARCHAR" property="lockedBy"/>
        <result column="DATA_ID" jdbcType="VARCHAR" property="dataId"/>
        <result column="CHANGE_ID" jdbcType="VARCHAR" property="changeId"/>
        <result column="OBJECT_VERSION_NUMBER" jdbcType="BIGINT" property="objectVersionNumber"/>
        <result column="REQUEST_ID" jdbcType="BIGINT" property="requestId"/>
        <result column="PROGRAM_ID" jdbcType="BIGINT" property="programId"/>
        <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy"/>
        <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="LAST_UPDATED_BY" jdbcType="BIGINT" property="lastUpdatedBy"/>
        <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
        <result column="LAST_UPDATE_LOGIN" jdbcType="BIGINT" property="lastUpdateLogin"/>
    </resultMap>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.hand.hls.meta.dto.Metadata">
        SELECT T1.*
        FROM METADATA T1
        ORDER BY T1.LAST_UPDATE_DATE
    </select>

    <select id="selectFilterRole" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT T1.*
        FROM METADATA T1
        <where>
            <if test="roleId!=null">
                -- 查出所有数据建模（排除在 sys_role_metadata 中被设置为N的角色
                not EXISTS(
                select 1
                from sys_role_metadata t3
                where t3.METADATA_ID = t1.id
                and t3.role_id=#{roleId}
                and t3.ENABLED_FLAG='N'
                )
                and t1.data_type='DATA'
            </if>
        </where>
        ORDER BY T1.LAST_UPDATE_DATE
    </select>
    <select id="executeRawQuery" resultType="org.springframework.util.LinkedCaseInsensitiveMap">

    </select>

    <update id="createTable">

    </update>

    <update id="createMultiLanguageTable">

    </update>

    <update id="renameTable">

    </update>

    <update id="removeTable">

    </update>

    <update id="createColumn">

    </update>

    <update id="renameColumn">

    </update>

    <update id="removeColumn">

    </update>
</mapper>