<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.function.mapper.RoleFunctionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.function.dto.RoleFunction"
               extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="SRF_ID" property="srfId" jdbcType="DECIMAL"/>
        <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL"/>
        <result column="FUNCTION_ID" property="functionId" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        SRF_ID, ROLE_ID, FUNCTION_ID
    </sql>


    <select id="selectRoleFunctions" resultMap="BaseResultMap" parameterType="com.hand.hap.function.dto.RoleFunction">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SYS_ROLE_FUNCTION
        WHERE ROLE_ID = #{roleId,jdbcType=DECIMAL}
    </select>

    <select id="selectCountByFunctionCode" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM SYS_ROLE_FUNCTION SRF
        LEFT JOIN SYS_FUNCTION_B SFB ON SRF.FUNCTION_ID = SFB.FUNCTION_ID
        WHERE SRF.ROLE_ID = #{roleId,jdbcType=DECIMAL}
        AND SFB.FUNCTION_CODE = #{functionCode,jdbcType=VARCHAR}
   </select>

    <select id="selectAllRoleResources" resultType="org.springframework.util.LinkedCaseInsensitiveMap">
select rm.role_id, sfr.resource_id
  from sys_role_b            b,
       sys_role_module       rm,
       sys_function_b        sfb,
       sys_function_resource sfr
 where b.role_id = rm.role_id
   and rm.module_code = sfb.module_code
   and sfb.function_id = sfr.function_id
    </select>

    <select id="selectRoleResources" parameterType="long"
            resultType="org.springframework.util.LinkedCaseInsensitiveMap">
    SELECT
        RM.ROLE_ID,
        SFR.RESOURCE_ID
    FROM
        SYS_ROLE_MODULE RM
        INNER JOIN SYS_FUNCTION_B SFB ON RM.MODULE_CODE = SFB.MODULE_CODE
        INNER JOIN SYS_FUNCTION_RESOURCE SFR ON SFB.FUNCTION_ID = SFR.FUNCTION_ID
    WHERE
         RM.ROLE_ID = #{roleId,jdbcType=DECIMAL}
    </select>

    <delete id="deleteByFunctionId" parameterType="java.lang.Long">
        DELETE FROM SYS_ROLE_FUNCTION
        WHERE FUNCTION_ID = #{functionId,jdbcType=DECIMAL}
    </delete>

    <delete id="deleteByRoleId" parameterType="java.lang.Long">
        DELETE FROM SYS_ROLE_FUNCTION
        WHERE ROLE_ID = #{roleId,jdbcType=DECIMAL}
    </delete>

    <select id="selectAllRoleFunctions" resultType="org.springframework.util.LinkedCaseInsensitiveMap">
        SELECT ROLE_ID, FUNCTION_ID
        FROM SYS_ROLE_FUNCTION
    </select>

</mapper>