<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.eft.mapper.HlsCusFundTransferMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.eft.dto.HlsCusFundTransfer">
        <result column="TRANSFER_ID" property="transferId" jdbcType="DECIMAL" />
        <result column="APPLY_NUMBER" property="applyNumber" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL" />
        <result column="DATA_CLASS" property="dataClass" jdbcType="VARCHAR" />
        <result column="APPLY_STATUS" property="applyStatus" jdbcType="VARCHAR" />
        <result column="APPLY_STATUS_N" property="applyStatusN" jdbcType="VARCHAR" />
        <result column="APPLY_DATE" property="applyDate" jdbcType="DATE" />
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="REF_TRANSFER_ID" property="refTransferId" jdbcType="DECIMAL" />

        <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />
        <result column="APPLY_USER_NAME" property="applyUserName" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectFundTransferData" parameterType="com.hand.hls.eft.dto.HlsCusFundTransfer" resultMap="BaseResultMap">
        SELECT
        EFT.TRANSFER_ID,
        EFT.APPLY_NUMBER,
        EFT.COMPANY_ID,
        EFT.UNIT_ID,
        EFT.DATA_CLASS,
        EFT.APPLY_STATUS,
        v1.meaning APPLY_STATUS_N,
        EFT.APPLY_DATE,
        EFT.BUSINESS_TYPE,
        EFT.DESCRIPTION,
        FOU.UNIT_NAME,
        EFT.REF_TRANSFER_ID,
        FC.COMPANY_FULL_NAME COMPANY_NAME,
        SU.DESCRIPTION APPLY_USER_NAME
        FROM
        EFT_FUND_TRANSFER EFT
        JOIN
        FND_ORG_UNIT FOU
        ON
        FOU.UNIT_ID=EFT.UNIT_ID
        JOIN
        FND_COMPANY FC
        ON
        FC.COMPANY_ID=EFT.COMPANY_ID
        JOIN
        SYS_USER SU
        ON
        SU.USER_ID=EFT.CREATED_BY
        left join sys_code_value_b_v v1 on v1.code_value = EFT.APPLY_STATUS and v1.code = 'HLS.WORK_FLOW_STATUS'
        WHERE
        1=1
        <if test="transferId!=null">
            AND EFT.TRANSFER_ID = #{transferId}
        </if>
        <if test="transferId==null">
            AND EFT.COMPANY_ID = #{request.companyId}
        </if>
        <if test="dataClass!=null">
            AND EFT.DATA_CLASS = #{dataClass}
        </if>
        <if test="businessType!=null">
            AND EFT.BUSINESS_TYPE = #{businessType}
        </if>
        <if test="applyDateStart!=null">
            AND  EFT.APPLY_DATE &gt;= #{applyDateStart}
        </if>
        <if test="applyDateEnd!=null">
            AND  EFT.APPLY_DATE &lt;= #{applyDateEnd}
        </if>
        <if test="applyStatus!=null">
            AND EFT.APPLY_STATUS = #{applyStatus}
        </if>
        <if test="applyUserName!=null">
            AND SU.DESCRIPTION LIKE CONCAT(CONCAT('%',#{applyUserName}),'%')
        </if>
        ORDER BY (
        CASE WHEN EFT.APPLY_STATUS='NEW' THEN 1
        WHEN EFT.APPLY_STATUS='APPROVED_RETURN' THEN 2
        WHEN EFT.APPLY_STATUS='APPROVING' THEN 3
        WHEN EFT.APPLY_STATUS='APPROVED' THEN 4
        END
        )
        , EFT.APPLY_DATE DESC
    </select>


    <select id="selectFundTransferChangeData" parameterType="com.hand.hls.eft.dto.HlsCusFundTransfer" resultMap="BaseResultMap">
        SELECT
        EFT.TRANSFER_ID,
        EFT.APPLY_NUMBER,
        EFT.COMPANY_ID,
        EFT.UNIT_ID,
        EFT.DATA_CLASS,
        EFT.APPLY_STATUS,
        v1.meaning APPLY_STATUS_N,
        EFT.APPLY_DATE,
        EFT.BUSINESS_TYPE,
        EFT.DESCRIPTION,
        FOU.UNIT_NAME,
        FC.COMPANY_FULL_NAME COMPANY_NAME,
        SU.DESCRIPTION APPLY_USER_NAME
        FROM
        EFT_FUND_TRANSFER EFT
        JOIN
        FND_ORG_UNIT FOU
        ON
        FOU.UNIT_ID=EFT.UNIT_ID
        JOIN
        FND_COMPANY FC
        ON
        FC.COMPANY_ID=EFT.COMPANY_ID
        JOIN
        SYS_USER SU
        ON
        SU.USER_ID=EFT.CREATED_BY
        left join sys_code_value_b_v v1 on v1.code_value = EFT.APPLY_STATUS and v1.code = 'HLS.WORK_FLOW_STATUS'
        WHERE
        1=1
        AND EFT.COMPANY_ID = #{request.companyId}
        <if test="businessType!=null">
            AND EFT.BUSINESS_TYPE = #{businessType}
        </if>
        <if test="dataClass!=null">
            AND EFT.DATA_CLASS = #{dataClass}
        </if>
        <if test="transferId!=null">
            AND EFT.TRANSFER_ID = #{transferId}
        </if>
        <if test="applyDateStart!=null">
            AND  EFT.APPLY_DATE &gt;= #{applyDateStart}
        </if>
        <if test="applyDateEnd!=null">
            AND  EFT.APPLY_DATE &lt;= #{applyDateEnd}
        </if>
        <if test="applyStatus!=null">
            AND EFT.APPLY_STATUS = #{applyStatus}
        </if>
        <if test="applyUserName!=null">
            AND SU.DESCRIPTION LIKE CONCAT(CONCAT('%',#{applyUserName}),'%')
        </if>
        ORDER BY EFT.APPLY_DATE DESC
    </select>

    <select id="selectFundTransferNewChange" resultMap="BaseResultMap">
        SELECT
        EFT.*
        FROM
        EFT_FUND_TRANSFER EFT
        WHERE
        EFT.REF_TRANSFER_ID = #{refTransferId}
        AND EFT.APPLY_STATUS IN ('NEW','APPROVED_RETURN')
        AND EFT.DATA_CLASS = 'CHANGE'
    </select>
</mapper>
