<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.HlsCusCshPaymentReqDtMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.HlsCusCshPaymentReqDt">
        <result column="payment_req_dt_id" property="paymentReqDtId" jdbcType="DECIMAL"/>
        <result column="payment_req_ln_id" property="paymentReqLnId" jdbcType="DECIMAL"/>
        <result column="source_doc_category" property="sourceDocCategory" jdbcType="VARCHAR"/>
        <result column="source_doc_id" property="sourceDocId" jdbcType="DECIMAL"/>
        <result column="source_doc_line_id" property="sourceDocLineId" jdbcType="DECIMAL"/>
        <result column="deduct_amount" property="deductAmount" jdbcType="DECIMAL"/>
        <result column="deduct_principal" property="deductPrincipal" jdbcType="DECIMAL"/>
        <result column="deduct_interest" property="deductInterest" jdbcType="DECIMAL"/>
        <result column="deduct_flag" property="deductFlag" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR"/>
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR"/>
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR"/>
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR"/>
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR"/>
        <result column="REF_V06" property="refV06" jdbcType="VARCHAR"/>
        <result column="REF_V07" property="refV07" jdbcType="VARCHAR"/>
        <result column="REF_V08" property="refV08" jdbcType="VARCHAR"/>
        <result column="REF_V09" property="refV09" jdbcType="VARCHAR"/>
        <result column="REF_V10" property="refV10" jdbcType="VARCHAR"/>
        <result column="REF_V11" property="refV11" jdbcType="VARCHAR"/>
        <result column="REF_V12" property="refV12" jdbcType="VARCHAR"/>
        <result column="REF_V13" property="refV13" jdbcType="VARCHAR"/>
        <result column="REF_V14" property="refV14" jdbcType="VARCHAR"/>
        <result column="REF_V15" property="refV15" jdbcType="VARCHAR"/>
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL"/>
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL"/>
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL"/>
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL"/>
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL"/>
        <result column="REF_N06" property="refN06" jdbcType="DECIMAL"/>
        <result column="REF_N07" property="refN07" jdbcType="DECIMAL"/>
        <result column="REF_N08" property="refN08" jdbcType="DECIMAL"/>
        <result column="REF_N09" property="refN09" jdbcType="DECIMAL"/>
        <result column="REF_N10" property="refN10" jdbcType="DECIMAL"/>
        <result column="REF_D01" property="refD01" jdbcType="DATE"/>
        <result column="REF_D02" property="refD02" jdbcType="DATE"/>
        <result column="REF_D03" property="refD03" jdbcType="DATE"/>
        <result column="REF_D04" property="refD04" jdbcType="DATE"/>
        <result column="REF_D05" property="refD05" jdbcType="DATE"/>
        <result column="REF_D06" property="refD06" jdbcType="DATE"/>
        <result column="REF_D07" property="refD07" jdbcType="DATE"/>
        <result column="REF_D08" property="refD08" jdbcType="DATE"/>
        <result column="REF_D09" property="refD09" jdbcType="DATE"/>
        <result column="REF_D10" property="refD10" jdbcType="DATE"/>


        <result column="contract_name" property="contractName"/>
        <result column="contract_number" property="contractNumber"/>
        <result column="times" property="times"/>
        <result column="bp_name" property="bpName"/>
        <result column="due_date" property="dueDate"/>
        <result column="due_amount" property="dueAmount"/>
        <result column="cf_item" property="cfItem"/>
        <result column="cf_item_n" property="cfItemN"/>
        <result column="surplus_amount" property="surplusAmount"/>
        <result column="surplus_principal" property="surplusPrincipal"/>
        <result column="surplus_interest" property="surplusInterest"/>
        <result column="cashflow_id" property="cashflowId"/>
        <result column="contract_id" property="contractId"/>
        <result column="SOURCE_DOC_LINE_ID_N" property="sourceDocLineIdN"/>
        <result column="SOURCE_DOC_LINE_ID" property="sourceDocLineId"/>
        <result column="REMAINING_UNCOLLECTED_AMOUNT" property="remainingUncollectedAmount"/>

    </resultMap>
    <select id="queryCshPaymentReqDt" parameterType="com.hand.hls.csh.dto.HlsCusCshPaymentReqDt"
            resultMap="BaseResultMap">
        select
        t.*,
        cc.contract_name,
        cc.contract_number,
        ccc.times,
        (select bp.bp_name from hls_bp_master bp where bp.bp_id = cc.tenant_id)bp_name,
        ccc.due_date,
        ccc.due_amount,
        ccc.cf_item,
        (select i.description from hls_cashflow_item i where i.cf_item = ccc.cf_item) cf_item_n,
        (ccc.due_amount - nvl(ccc.received_amount, 0)) AS surplus_amount,
        (ccc.principal - nvl(ccc.received_principal, 0)) AS surplus_principal,
        (ccc.interest - nvl(ccc.received_interest, 0)) AS surplus_interest,
        ccc.cashflow_id,
        cc.contract_id
        from csh_payment_req_dt t left join con_contract cc on t.source_doc_id = cc.contract_id
        left join con_contract_cashflow ccc on t.source_doc_line_id = ccc.cashflow_id
        <where>
            t.payment_req_ln_id = #{paymentReqLnId}
            <if test="deductFlag!=null">
                and t.deduct_flag = #{deductFlag}
            </if>
        </where>
    </select>
    <select id="queryPaymentReqDt" parameterType="com.hand.hls.csh.dto.HlsCusCshPaymentReqDt"
            resultMap="BaseResultMap">
        select ccc.cashflow_id,ccc.cashflow_id SOURCE_DOC_LINE_ID,
        cc.contract_number SOURCE_DOC_LINE_ID_N,
        ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE cc.tenant_id = hbm.bp_id ) AS bp_name,
        cc.contract_id,
        ccc.times,
        ccc.due_date,
        ccc.due_amount,
        ccc.cf_item,
        ccc.cf_type,
        hci.description cf_item_n,
        t.DEDUCT_AMOUNT,
        t.PAYMENT_REQ_DT_ID,
        (ccc.due_amount - ccc.RECEIVED_AMOUNT) REMAINING_UNCOLLECTED_AMOUNT
        from csh_payment_req_dt t
        left join con_contract_cashflow ccc on t.source_doc_line_id = ccc.cashflow_id
        left join con_contract cc on ccc.contract_id = cc.contract_id
        LEFT JOIN hls_cashflow_item hci ON hci.cf_item = ccc.cf_item
        <where>
           t.funding_plan_ln_id = #{fundingPlanLnId}

            <if test="deductFlag!=null">
                and t.deduct_flag = #{deductFlag}
            </if>
        </where>
    </select>

</mapper>