<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hand.hls.csh.mapper.HlsCusCshPaymentReqLnMapper">
    <resultMap type="com.hand.hls.csh.dto.HlsCusCshPaymentReqLn" id="CshPaymentReqLn">
        <id column="payment_req_ln_id" property="paymentReqLnId"/>
        <result column="payment_req_id" property="paymentReqId"/>
        <result column="source_doc_category" property="sourceDocCategory"/>
        <result column="contract_id" property="contractId"/>
        <result column="source_doc_id" property="sourceDocId"/>
        <result column="contract_name" property="contractName"/>
        <result column="contract_number" property="contractNumber"/>
        <result column="amount" property="amount"/>
        <result column="tenant_name" property="tenantName"/>
        <result column="payment_obj" property="paymentObj"/>
        <result column="currency" property="currency"/>
        <result column="amount_paid" property="amountPaid"/>
        <result column="non_payment" property="nonPayment"/>
        <result column="proposer" property="proposer"/>
        <result column="description" property="description"/>
        <result column="payment_flag" property="paymentFlag"/>
        <result column="payment_completed_date" property="paymentCompletedDate"/>
        <result column="payment_method" property="paymentMethod"/>
        <result column="bp_id" property="bpId"/>
        <result column="bp_name" property="bpName"/>
        <result column="bp_bank_account_id" property="bpBankAccountId"/>
        <result column="bp_bank_name" property="bpBankName"/>
        <result column="bp_bank_branch_name" property="bpBankBranchName"/>
        <result column="bp_bank_account_num" property="bpBankAccountNum"/>
        <result column="bp_bank_account_name" property="bpBankAccountName"/>
        <result column="bank_account_num" property="bankAccountNum"/>
        <result column="bank_account_name" property="bankAccountName"/>
        <result column="bank_account_id" property="bankAccountId"/>
        <result column="source_doc_line_id" property="sourceDocLineId"/>
        <result column="cf_item" property="cfItem"/>
        <result column="cf_type" property="cfType"/>
        <result column="cashflow_id" property="cashflowId"/>
        <result column="due_date" property="dueDate"/>
        <result column="due_amount" property="dueAmount"/>
        <result column="unpaid_amount" property="unpaidAmount"/>
        <result column="company_full_name" property="companyFullName"/>
        <result column="type_description" property="typeDescription"/>
        <result column="payment_req_number" property="paymentReqNumber"/>
        <result column="user_name" property="userName"/>
        <result column="payment_req_status" property="paymentReqStatus"/>
        <result column="payment_req_status_desc" property="paymentReqStatusDesc"/>
        <result column="payment_status" property="paymentStatus"/>
        <result column="payment_req_date" property="paymentReqDate"/>
        <result column="start_amount" property="startAmount"/>
        <result column="create_name" property="createName"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate"/>
        <result column="document_type" property="documentType"/>
        <result column="company_id" property="companyId"/>
        <result column="paymentReqId" property="paymentReqId"/>
        <result column="times" property="times"/>
        <result column="process_instance_id" property="processInstanceId"/>
        <result column="received_amount" property="receivedAmount"/>

        <!--新增字段-->
        <result column="return_account" property="returnAccount"/>
        <result column="SELF_BANK_ACCOUNT_ID" property="selfBankAccountId" jdbcType="DECIMAL"/>
        <result column="SELF_BANK_ACCOUNT_NAME" property="selfBankAccountName" jdbcType="VARCHAR"/>
        <result column="SELF_BANK_ACCOUNT_NUM" property="selfBankAccountNum" jdbcType="VARCHAR"/>
        <result column="SELF_BANK_NAME" property="selfBankName" jdbcType="VARCHAR"/>
        <result column="SELF_BANK_BRANCH_NAME" property="selfBankBranchName" jdbcType="VARCHAR"/>
        <result column="FUND_SOURCE" property="fundSource" jdbcType="VARCHAR"/>
        <result column="payment_flag_desc" property="paymentFlagDesc" jdbcType="VARCHAR"/>
        <result column="payment_flag_n" property="paymentFlagN" jdbcType="VARCHAR"/>
        <result column="payment_method_desc" property="paymentMethodDesc" jdbcType="VARCHAR"/>
        <result column="fund_source_desc" property="fundSourceDesc" jdbcType="VARCHAR"/>
        <result column="yf_description" property="yfDescription" jdbcType="VARCHAR"/>
        <result column="funding_plan_ln_id" property="fundingPlanLnId" jdbcType="DECIMAL"/>
        <result column="DEDUCT_AMOUNT" property="deductAmount" jdbcType="DECIMAL"/>

        <result column="int_rate" property="intRate" jdbcType="DECIMAL"/>
        <result column="xirr" property="xirr" jdbcType="DECIMAL"/>
        <result column="lease_term" property="leaseTerm" jdbcType="DECIMAL"/>
        <result column="finance_note" property="financeNote" jdbcType="VARCHAR"/>
        <result column="irr" property="irr" jdbcType="DECIMAL"/>

        <result column="cf_direction" property="cfDirection" jdbcType="VARCHAR"/>
        <result column="cf_status" property="cfStatus" jdbcType="VARCHAR"/>
        <result column="plan_id_n" property="planIdN" jdbcType="VARCHAR"/>
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR"/>
        <result column="payment_method_n" property="paymentMethodN" jdbcType="VARCHAR"/>
        <result column="FUNDING_PLAN_STATUS" property="fundingPlanStatus" jdbcType="VARCHAR"/>
        <result column="if_from_contract" property="ifFromContract" jdbcType="VARCHAR"/>
        <result column="if_from_contract_n" property="ifFromContractN" jdbcType="VARCHAR"/>
        <result column="exchange" property="exchange" jdbcType="DECIMAL"/>
        <result column="currency_n" property="currencyN" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="bp_type" property="bpType" jdbcType="DECIMAL"/>
        <result column="REMAINING_PAYABLE_AMOUNT" property="remainingPayableAmount" jdbcType="DECIMAL"/>
        <result column="eas_code" property="easCode" jdbcType="VARCHAR"/>


        <result column="factory_name" property="factoryName" jdbcType="VARCHAR"/>
        <result column="manufacturer_name" property="manufacturerName" jdbcType="VARCHAR"/>

        <result column="BILL_TYPE" property="billType" jdbcType="VARCHAR"/>
        <result column="BILL_TYPE_N" property="billTypeN" jdbcType="VARCHAR"/>

        <result column="SEQ_NUM" property="seqNum" jdbcType="BIGINT"/>
        <result column="SUM_DUE_AMOUNT" property="sumDueAmount" jdbcType="DECIMAL"/>
        <result column="ACCEPTANCE_PERIOD" property="acceptancePeriod" jdbcType="BIGINT"/>
        <result column="VALIDITY_LC" property="validityLc" jdbcType="VARCHAR"/>
        <result column="IBAN" property="iban" jdbcType="VARCHAR"/>
        <result column="SWIFT" property="swift" jdbcType="VARCHAR"/>
        <result column="BENEFICIARY" property="beneficiary" jdbcType="VARCHAR"/>
        <result column="PURCHASE_CONTRACT_ID" property="purchaseContractId" jdbcType="BIGINT"/>
        <result column="PURCHASE_CONTRACT_AMOUNT" property="purchaseContractAmount" jdbcType="DECIMAL"/>
        <result column="PURCHASE_CONTRACT_AMOUNT_SUM" property="purchaseContractAmountSum" jdbcType="DECIMAL"/>
        <result column="PURCHASE_CONTRACT_BALANCE" property="purchaseContractBalance" jdbcType="DECIMAL"/>
        <result column="CONTRACT_BALANCE_RELEASE" property="contractBalanceRelease" jdbcType="DECIMAL"/>

        <result column="DUE_AMOUNT_LN" property="dueAmountLn" jdbcType="DECIMAL"/>

        <result column="bp_bank_account_name_n" property="bpBankAccountNameN" jdbcType="VARCHAR"/>
        <result column="purchase_contract_id_n" property="purchaseContractIdN" jdbcType="VARCHAR"/>


        <result column="applied_pay_amount" property="appliedPayAmount" jdbcType="DECIMAL"/>
        <result column="deposit_due_amount" property="depositDueAmount" jdbcType="DECIMAL"/>
        <result column="deposit_received_amount" property="depositReceivedAmount" jdbcType="DECIMAL"/>
        <result column="service_charge_due_amount" property="serviceChargeDueAmount" jdbcType="DECIMAL"/>
        <result column="service_charge_received_amount" property="serviceChargeReceivedAmount" jdbcType="DECIMAL"/>
        <result column="service_fee_due_amount" property="serviceChargeFeeDueAmount" jdbcType="DECIMAL"/>
        <result column="service_fee_received_amount" property="serviceChargeFeeReceivedAmount" jdbcType="DECIMAL"/>
        <result column="can_deduction_amount" property="canDeductionAmount" jdbcType="DECIMAL"/>
        <result column="deduction_amount" property="deductionAmount" jdbcType="DECIMAL"/>

        <result column="LEASE_CHANNEL" property="leaseChannel" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR"/>
        <result column="cf_item_n" property="cfItemN" jdbcType="VARCHAR"/>

        <result column="bill_id_n" property="billIdN" jdbcType="VARCHAR"/>

        <result column="bill_id" property="billId" jdbcType="BIGINT"/>

        <result column="bank_code" property="bankCode" />

        <result column="BANK_ADDRESS" property="bankAddress" />
        <result column="paid_amount_total" property="paidAmountTotal" />
        <result column="current_applied_amount" property="currentAppliedAmount" />
    </resultMap>

    <select id="selectCshPaymentReqLnDetailByLnID" resultMap="CshPaymentReqLn">
        select
        hd.payment_req_number,
        hd.payment_req_date,
        contract.contract_id,
        hd.document_type as document_type,-- 单据
        hd.company_id AS company_id, -- 公司id
        contract.contract_number as contract_number, -- 合同编号
        contract.contract_name as contract_name,
        bp.bp_name as tenant_name , -- 承租人名称
        cashflow.times as times, -- 期数-->
        item.description as yf_description, -- 应付项目
        cashflow.due_amount as due_amount, -- 应付金额
        ln.amount as amount, -- 本次申请金额 -->
        (ln.amount - nvl(ln.amount_paid,0)) as unpaid_amount, -- 剩余未支付金额
        cashflow.due_date  as due_date, -- 应付日期
        ln.bp_id as bp_id, -- 付款对象
        (select bp_name from hls_bp_master where bp_id=ln.bp_id ) as payment_Obj , -- 付款对象名称
        ln.bp_bank_account_name as bp_bank_account_name, -- 对方账户名
        ln.bp_bank_account_num as bp_bank_account_num, -- 对方银行账户号
        ln.bp_bank_branch_name as bp_bank_branch_name,
        ln.bp_bank_account_id as bp_bank_account_id,
        ln.bp_bank_name as bp_bank_name,
        ln.self_bank_account_id,
        ln.self_bank_name,
        ln.self_bank_branch_name,
        ln.self_bank_account_num,
        ln.self_bank_account_name,
        ln.self_bank_account_id bank_account_id,
        ln.self_bank_account_num bank_account_num,
        ln.self_bank_account_name bank_account_name,
        ln.payment_flag as payment_flag,
        ln.payment_completed_date as payment_completed_date,
        ln.payment_method as payment_method,
        (
            select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
            scvb.CODE_ID = scb.CODE_ID and
            scb.code= 'CSH.PAYMENT_METHOD'
            and scvb.value = ln.payment_method
        ) as payment_method_desc,
        ln.description as description,
        nvl(ln.amount_paid,0) as amount_paid,
        ln.payment_req_ln_id as payment_req_ln_id,
        ln.payment_req_id as payment_req_id,
        ln.source_doc_line_id as source_doc_line_id,
        ln.source_doc_category as source_doc_category,
        cashflow.cf_item as cf_item ,
        cashflow.cf_item as cf_type ,
        cashflow.cashflow_id as cashflow_id,
        (select currency from csh_payment_req_hd where payment_req_id =
        ln.payment_req_id) as currency,
        contract.contract_id as source_doc_id
        from
        csh_payment_req_ln ln ,
        csh_payment_req_hd hd,
        con_contract contract,
        con_contract_cashflow cashflow,
        hls_cashflow_item item
        ,hls_bp_master bp
        where hd.payment_req_id = ln.payment_req_id
        and ln.source_doc_id=contract.contract_id
        and cashflow.cf_item =0
        and cashflow.contract_id=ln.source_doc_id
        and item.cf_item = cashflow.cf_item
        and bp.bp_id=contract.tenant_id
        and ln.source_doc_category = 'CON_CONTRACT'
        and ln.payment_req_ln_id IN
        <foreach collection="list" item="lnId" open="(" separator=","
                 close=")">
            #{lnId}
        </foreach>
        UNION
        SELECT
        hd.payment_req_number,
        hd.payment_req_date,
        contract.contract_id,
        hd.document_type as document_type,
        hd.company_id AS company_id,
        withdraw.withdraw_number AS contract_number,
        contract.contract_name AS contract_name,
        (
        SELECT
        bp_name
        FROM
        hls_bp_master
        WHERE
        bp_id = ln.bp_id
        ) AS tenant_name,
        -- 债权人名称
        repayment.times AS times,
        -- 期数-->
        (SELECT
        description
        FROM
        hls_cashflow_item hci
        WHERE
        hci.cf_type = repayment.cf_type
        AND hci.cf_item = repayment.cf_item
        AND hci.enabled_flag = 'Y'
        )as yf_description,
        -- 应付项目
        repayment.due_amount AS due_amount,
        -- 应付金额
        ln.amount AS amount,
        -- 本次申请金额 -->
        (ln.amount - nvl(ln.amount_paid,0)) AS unpaid_amount,
        -- 剩余未支付金额
        repayment.due_date  AS due_date,
        -- 应付日期
        ln.bp_id AS bp_id,
        -- 付款对象
        (
        SELECT
        bp_name
        FROM
        hls_bp_master
        WHERE
        bp_id = ln.bp_id
        ) AS payment_Obj,
        -- 承租人名称
        ln.bp_bank_account_name AS bp_bank_account_name,
        -- 对方账户名
        ln.bp_bank_account_num AS bp_bank_account_num,
        -- 对方银行账户号
        ln.bp_bank_branch_name AS bp_bank_branch_name,
        ln.bp_bank_account_id AS bp_bank_account_id,
        ln.bp_bank_name AS bp_bank_name,
        ln.self_bank_account_id,
        ln.self_bank_name,
        ln.self_bank_branch_name,
        ln.self_bank_account_num,
        ln.self_bank_account_name,
        ln.self_bank_account_id bank_account_id,
        ln.self_bank_account_num bank_account_num,
        ln.self_bank_account_name bank_account_name,
        ln.payment_flag AS payment_flag,
        ln.payment_completed_date AS payment_completed_date,
        ln.payment_method AS payment_method,
        (
        select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'CSH.PAYMENT_METHOD'
        and scvb.value = ln.payment_method
        ) as payment_method_desc,
        ln.description AS description,
        nvl(ln.amount_paid,0) AS amount_paid,
        ln.payment_req_ln_id AS payment_req_ln_id,
        ln.payment_req_id AS payment_req_id,
        ln.source_doc_line_id AS source_doc_line_id,
        ln.source_doc_category AS source_doc_category,
        repayment.cf_item AS cf_item,
        repayment.cf_type AS cf_type,
        repayment.repayment_id AS cashflow_id,
        (
        SELECT
        currency
        FROM
        csh_payment_req_hd
        WHERE
        payment_req_id = ln.payment_req_id
        ) AS currency,
        ln.source_doc_id AS source_doc_id
        FROM
        csh_payment_req_ln ln,
        csh_payment_req_hd hd,
        lon_contract contract,
        lon_contract_repayment repayment,
        lon_contract_withdraw withdraw
        WHERE
        hd.payment_req_id = ln.payment_req_id
        AND ln.source_doc_id = withdraw.withdraw_id
        and ln.source_doc_line_id = repayment.repayment_id
        and contract.contract_id = withdraw.contract_id
        and contract.contract_id = repayment.contract_id
        and ln.source_doc_category = 'LON_CONTRACT_WITHDRAW'
        and ln.payment_req_ln_id IN
        <foreach collection="list" item="lnId" open="(" separator=","
                 close=")">
            #{lnId}
        </foreach>
        UNION
        SELECT
        hd.payment_req_number,
        hd.payment_req_date,
        contract.contract_id,
        hd.document_type as document_type,
        hd.company_id AS company_id,
        contract.contract_number AS contract_number,
        contract.contract_name AS contract_name,
        (
        SELECT
        bp_name
        FROM
        hls_bp_master
        WHERE
        bp_id = ln.bp_id
        ) AS tenant_name,

        fqc.times AS times,

        (SELECT
        description
        FROM
        hls_cashflow_item hci
        WHERE
        hci.cf_type = fqc.cf_type
        AND hci.cf_item = fqc.cf_item
        AND hci.enabled_flag = 'Y'
        )as yf_description,
        fqc.due_amount AS due_amount,
        ln.amount AS amount,
        (ln.amount - nvl(ln.amount_paid,0)) AS unpaid_amount,
       fqc.due_date  AS due_date,
        ln.bp_id AS bp_id,
        (
        SELECT
        bp_name
        FROM
        hls_bp_master
        WHERE
        bp_id = ln.bp_id
        ) AS payment_Obj,
        -- 承租人名称
        ln.bp_bank_account_name AS bp_bank_account_name,
        -- 对方账户名
        ln.bp_bank_account_num AS bp_bank_account_num,
        -- 对方银行账户号
        ln.bp_bank_branch_name AS bp_bank_branch_name,
        ln.bp_bank_account_id AS bp_bank_account_id,
        ln.bp_bank_name AS bp_bank_name,
        ln.self_bank_account_id,
        ln.self_bank_name,
        ln.self_bank_branch_name,
        ln.self_bank_account_num,
        ln.self_bank_account_name,
        ln.self_bank_account_id bank_account_id,
        ln.self_bank_account_num bank_account_num,
        ln.self_bank_account_name bank_account_name,
        ln.payment_flag AS payment_flag,
        ln.payment_completed_date AS payment_completed_date,
        ln.payment_method AS payment_method,
        (
        select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where
        scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'CSH.PAYMENT_METHOD'
        and scvb.value = ln.payment_method
        ) as payment_method_desc,
        ln.description AS description,
        nvl(ln.amount_paid,0) AS amount_paid,
        ln.payment_req_ln_id AS payment_req_ln_id,
        ln.payment_req_id AS payment_req_id,
        ln.source_doc_line_id AS source_doc_line_id,
        ln.source_doc_category AS source_doc_category,
        fqc.cf_item AS cf_item,
        fqc.cf_type AS cf_type,
        fqc.quotation_cashflow_id AS cashflow_id,
        (
        SELECT
        currency
        FROM
        csh_payment_req_hd
        WHERE
        payment_req_id = ln.payment_req_id
        ) AS currency,
        ln.source_doc_id as source_doc_id
        FROM
        csh_payment_req_ln ln,
        csh_payment_req_hd hd,
        fct_contract contract,
        fct_quotation_cashflow fqc
        WHERE
        hd.payment_req_id = ln.payment_req_id
        AND ln.source_doc_id = contract.contract_id
        and ln.source_doc_line_id = fqc.quotation_cashflow_id
        and ln.source_doc_category = 'FCT_CONTRACT'
        and ln.payment_req_ln_id IN
        <foreach collection="list" item="ln_id" open="(" separator=","
                 close=")">
            #{ln_id}
        </foreach>

    </select>

    <update id="updatePaymentFlag">
		update csh_payment_req_ln cpr
		set
		cpr.payment_flag = #{paymentFlag,jdbcType=VARCHAR}
		where
		cpr.payment_req_ln_id = #{paymentReqLnId,jdbcType=BIGINT}
	</update>

    <update id="updateAmountPaid">
        update csh_payment_req_ln cpr
        <set>
            cpr.amount_paid =#{amountPaid}
            <if test="paymentFlag!=null">
                ,cpr.payment_flag = #{paymentFlag}
            </if>
        </set>
        where
        cpr.payment_req_ln_id = #{paymentReqLnId}
    </update>

    <!-- 根据LnId查询对象 -->
    <select id="queryByHnId" parameterType="com.hand.hls.csh.dto.HlsCusCshPaymentReqLn" resultMap="CshPaymentReqLn">
		SELECT * FROM csh_payment_req_ln cprl
				WHERE cprl.payment_req_id = #{paymentReqId}
	</select>


    <select id="queryForLoanRequest" resultMap="CshPaymentReqLn">
        SELECT
        cprl.PAYMENT_REQ_LN_ID,
        cprl.PAYMENT_REQ_ID,
        cprl.SOURCE_DOC_CATEGORY,
        cprl.SOURCE_DOC_ID,
        cprl.SOURCE_DOC_LINE_ID,
        cprl.AMOUNT,
        nvl(cprl.AMOUNT_PAID,0) AMOUNT_PAID,
        cprl.DESCRIPTION,
        cprl.PAYMENT_FLAG,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scvb.code_id = scb.code_id
        and scb.code = 'CSH.PAYMENT_FLAG'
        and scvb.value = cprl.payment_flag
        ) as payment_flag_desc,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scvb.code_id = scb.code_id
        and scb.code = 'CSH.PAYMENT_FLAG'
        and scvb.value = cprl.payment_flag
        ) as payment_flag_n,
        cprl.PAYMENT_COMPLETED_DATE,
        cprl.PAYMENT_METHOD,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scvb.code_id = scb.code_id
        and scb.code = 'CSH.PAYMENT_METHOD'
        and scvb.value = cprl.payment_method
        ) as payment_method_desc,
        cprl.BP_ID,
        cprl.BP_BANK_ACCOUNT_ID,
        cprl.BP_BANK_NAME,
        cprl.BP_BANK_BRANCH_NAME,
        cprl.BP_BANK_ACCOUNT_NUM,
        cprl.BP_BANK_ACCOUNT_NAME,
        cprl.RETURN_ACCOUNT,
        cprl.SELF_BANK_ACCOUNT_ID,
        cprl.SELF_BANK_NAME,
        cprl.SELF_BANK_BRANCH_NAME,
        cprl.SELF_BANK_ACCOUNT_NUM,
        cprl.SELF_BANK_ACCOUNT_NAME,
        cprl.FUND_SOURCE,
        CASE cprl.fund_source
        WHEN 'FINANCEORLOAN' THEN '融资借款'
        WHEN 'OWNEDFUNDS' THEN '自有资金'
        END AS fund_source_desc
        FROM
        CSH_PAYMENT_REQ_LN cprl
        <where>
            <if test="paymentReqId!=null">
                cprl.PAYMENT_REQ_ID=#{paymentReqId}
            </if>
        </where>
    </select>

    <delete id="deleteByReqId" parameterType="com.hand.hls.csh.dto.HlsCusCshPaymentReqLn">
        delete from csh_payment_req_ln t
        where t.payment_req_id = #{paymentReqId}
    </delete>

    <select id="selectPaymentLn" parameterType="com.hand.hls.csh.dto.HlsCusCshPaymentReqLn" resultMap="CshPaymentReqLn">
        select
        ln.BILL_TYPE,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scvb.code_id = scb.code_id
        and scb.code = 'BILL_TYPE'
        and scvb.value = ln.bill_type
        ) bill_type_n,
        ln.DUE_AMOUNT_LN,
        ln.SEQ_NUM,
        ln.SUM_DUE_AMOUNT,
        ln.ACCEPTANCE_PERIOD,
        ln.VALIDITY_LC,
        ln.IBAN,
        ln.SWIFT,
        ln.BENEFICIARY,
        ln.PURCHASE_CONTRACT_ID,
        ln.PURCHASE_CONTRACT_AMOUNT,
        ln.PURCHASE_CONTRACT_AMOUNT_SUM,
        ln.PURCHASE_CONTRACT_BALANCE,
        ln.CONTRACT_BALANCE_RELEASE,
        ln.payment_req_ln_id,
        ln.payment_req_id,
        ln.funding_plan_ln_id,
        ln.exchange,
        ln.currency,
        ln.bp_type,
        (SELECT
        currency_name
        FROM
        fnd_currency where currency_code = ln.currency) currency_n,
        cc.contract_number,
        cc.project_id,
        c.cashflow_id,
        c.contract_id,
        c.cf_item,
        c.cf_type,
        c.cf_direction,
        c.cf_status,
        c.times,
        (select h.description from hls_cashflow_item h where h.cf_item = c.cf_item)plan_id_n,
        c.due_date,
        c.due_amount,

        (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id = ln.bp_id) bp_id_n,
        ln.bp_id,
        ln.bp_bank_account_id,
        ln.bp_bank_account_name,
        ln.bp_bank_account_num,
        ln.bp_bank_branch_name,
        c.payment_method,
        s.MEANING payment_method_n,
        c.FUNDING_PLAN_STATUS,
        nvl(ln.DEDUCT_AMOUNT,0) DEDUCT_AMOUNT,
        ln.amount,
        ln.if_from_contract,
        (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scvb.code_id = scb.code_id
        and scb.code = 'SYS.YES_NO'
        and scvb.value = ln.if_from_contract
        ) if_from_contract_n,
        (c.due_amount -  nvl((select t.DEDUCT_AMOUNT from (select dt.funding_plan_ln_id,sum(dt.DEDUCT_AMOUNT) DEDUCT_AMOUNT from csh_payment_req_dt dt
        group by dt.funding_plan_ln_id) t
        where t.funding_plan_ln_id = ln.funding_plan_ln_id),0)) REMAINING_PAYABLE_AMOUNT
        from con_contract_cashflow c
        left join sys_code_value_b_v s
        on s.CODE = 'CSH.PAYMENT_METHOD'
        and c.payment_method = s.code_value
        left join hls_bp_master_bank_account hba on
        hba.bank_account_id = c.bank_account_id ,
        con_contract cc,
        csh_payment_req_ln ln left join
        csh_payment_req_hd reqhd on reqhd.payment_req_id = ln.payment_req_id

        <where>
            c.contract_id = cc.contract_id
            and c.cf_direction = 'OUTFLOW'
            and ln.source_doc_line_id = c.cashflow_id
            <if test="paymentReqId!=null">
                and reqhd.payment_req_Id=#{paymentReqId}

            </if>
        </where>
    </select>
    <select id="selectPaymentLnNew" parameterType="com.hand.hls.csh.dto.HlsCusCshPaymentReqLn" resultMap="CshPaymentReqLn">
select  ln.*,
(
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scvb.code_id = scb.code_id
        and scb.code = 'BILL_FORM'
        and scvb.value = ln.bill_type
        ) bill_type_n,
				(SELECT
        currency_name
        FROM
        fnd_currency where currency_code = ln.currency) currency_n,
				(select hbm.bp_name from hls_bp_master hbm where hbm.bp_id = ln.bp_id) bp_id_n,
				 (
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scvb.code_id = scb.code_id
        and scb.code = 'SYS.YES_NO'
        and scvb.value = ln.if_from_contract
        ) if_from_contract_n,
				(
        select scvb.meaning
        from sys_code_value_b scvb,sys_code_b scb
        where scvb.code_id = scb.code_id
        and scb.code = 'CSH.PAYMENT_METHOD'
        and scvb.value = ln.PAYMENT_METHOD
        ) PAYMENT_METHOD_n,
				ln.BP_BANK_ACCOUNT_NAME  bp_bank_account_name_n,

				(SELECT

        t.BILL_APPLY_NUMBER

        FROM
        hls_bill_request  t
        where t.bill_id=ln.bill_id)  bill_id_n,
        (SELECT  FCT.DOCUMENT_NUMBER  FROM  fct_project_attachment  fct  where fct.PROJECT_ATTACHMENT_ID=LN.PURCHASE_CONTRACT_ID
        )  PURCHASE_CONTRACT_ID_N,
        nvl(amount.paid_amount_total,0) as paid_amount_total
        from  csh_payment_req_ln  ln
        LEFT JOIN ( SELECT cla.payment_req_ln_id, sum( nvl(cla.ACTUAL_PAYMENT_AMOUNT,0) ) AS paid_amount_total FROM csh_pay_req_ln_bank_account  cla GROUP BY cla.payment_req_ln_id ) amount ON amount.payment_req_ln_id = ln.payment_req_ln_id
        <where>
            1=1
            <if test="paymentReqId!=null">
                and ln.payment_req_Id=#{paymentReqId}

            </if>
        </where>
    </select>

    <select id="selectApprovingPurchaseContractCount" resultType="Integer" parameterType="Long">
        select count(*)
        from csh_payment_req_hd cprh, csh_payment_req_ln cprl
        <where>
            cprh.payment_req_id = cprl.payment_req_id
            and cprl.PURCHASE_CONTRACT_ID = #{purchaseContractId}
            and cprh.PAYMENT_REQ_STATUS = 'APPROVING'
        </where>
    </select>

    <select id="queryCshPaymentReqLn2" parameterType="com.hand.hls.csh.dto.HlsCusCshPaymentReqLn" resultMap="CshPaymentReqLn">
        select t.*,
        (t.amount - t.deduction_amount) as applied_pay_amount
        from (
        select ln.payment_req_ln_id,
        ln.payment_req_id,
        ln.source_doc_category,
        ln.source_doc_id,
        ln.source_doc_id contract_id,
        ln.source_doc_line_id,
        ln.amount,
        ln.amount_paid,
        ln.payment_flag,
        ln.payment_completed_date,
        ln.payment_method,
        (
        SELECT scv.meaning
        FROM sys_code_b scb,
        sys_code_value_b scv
        WHERE scb.CODE = 'CSH.PAYMENT_METHOD'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = ln.payment_method
        )                                                                                   payment_method_n,
        (select TENANT_ID from PRJ_PROJECT where PROJECT_ID = (SELECT DOCUMENT_ID from prj_quotation WHERE QUOTATION_ID = pq.QUOTATION_ID)) bp_id,
        ln.bp_bank_account_id,
        ln.bp_bank_name,
        ln.bp_bank_branch_name,
        ln.bp_bank_account_num,
        ln.bp_bank_account_name,
        ln.return_account,
        ln.object_version_number,
        ln.request_id,
        ln.program_id,
        ln.created_by,
        ln.creation_date,
        ln.last_updated_by,
        ln.last_update_date,
        ln.last_update_login,
        ln.self_bank_account_id,
        ln.self_bank_name,
        ln.self_bank_branch_name,
        ln.self_bank_account_num,
        ln.self_bank_account_name,
        ln.fund_source,
        ln.funding_plan_ln_id,
        ln.deduct_amount,
        ln.if_from_contract,
        ln.exchange,
        ln.bp_type,
        ln.eas_code,
        ln.bill_type,
        ln.due_amount_ln,
        ln.seq_num,
        ln.sum_due_amount,
        ln.acceptance_period,
        ln.validity_lc,
        ln.iban,
        ln.swift,
        ln.beneficiary,
        ln.purchase_contract_id,
        ln.purchase_contract_amount,
        ln.purchase_contract_amount_sum,
        ln.purchase_contract_balance,
        ln.contract_balance_release,
        ln.bill_id,
        ln.bank_address,
        ln.current_applied_amount,
        hd.payment_req_number,
        hd.payment_req_date,
        hd.apply_pay_date,
        hd.description,
        hd.payment_req_status,
        hd.process_instance_id,

        (select cc.project_id from con_contract cc where cc.contract_id = ln.source_doc_id)        project_id,
        (select cc.contract_number from con_contract cc where cc.contract_id = ln.source_doc_id)        contract_number,
        (select cc.contract_name
        from con_contract cc
        where cc.contract_id = ln.source_doc_id)                                                       contract_name,
        (select cc.LEASE_CHANNEL
        from con_contract cc
        where cc.contract_id = ln.source_doc_id)                                                       lease_channel,
        (select cc.business_type
        from con_contract cc
        where cc.contract_id = ln.source_doc_id)                                                       business_type,
        (select bp.bp_code from hls_bp_master bp where bp.bp_id = ln.bp_id)                             bp_code,
        (select bp.bp_name from hls_bp_master bp where bp.bp_id = (select TENANT_ID from PRJ_PROJECT where PROJECT_ID = (SELECT DOCUMENT_ID from prj_quotation WHERE QUOTATION_ID = pq.QUOTATION_ID)))                             bp_name,
        (select cc.currency from con_contract cc where cc.contract_id = ln.source_doc_id)               currency,
        (select fc.currency_name
        from con_contract cc,
        fnd_currency fc
        where cc.contract_id = ln.source_doc_id
        and fc.currency_code = cc.currency)                                                          currency_n,
        nvl((select sum(nvl(dt.deduct_amount, 0))
        from csh_payment_req_dt dt
        where dt.payment_req_ln_id = ln.payment_req_ln_id),
        0)                                                                                          deduction_amount,
        (ln.amount - nvl(ln.amount_paid, 0) - nvl((select sum(nvl(dt.deduct_amount, 0))
        from csh_payment_req_dt dt
        where dt.payment_req_ln_id = ln.payment_req_ln_id
        and dt.deduct_flag = 'N'),
        0)) as                                                can_deduction_amount,
        nvl(ccc.received_amount, 0)                                                                     received_amount,
        (ccc.due_amount - nvl(ccc.received_amount, 0))                                                  surplus_amount,
        ccc.cf_item,
        (select i.description
        from con_contract_cashflow ccc,
        hls_cashflow_item i
        where ccc.cashflow_id = ln.source_doc_line_id
        and i.cf_item = ccc.cf_item
        and ccc.cf_type = i.cf_type)                                                                 cf_item_n,
        ccc.cf_type,
        (select ccc.times from con_contract_cashflow ccc where ccc.cashflow_id = ln.source_doc_line_id) times,
        pq.QUOTATION_ID,
        pq.QUOTATION_NUMBER,
        ccc.DUE_AMOUNT                                                                                  due_amount,

        (select nvl(sum(nvl(ccc.DUE_AMOUNT, 0)), 0)
        from CON_CONTRACT_CASHFLOW ccc
        where ccc.CONTRACT_ID =
        ln.source_doc_id
        AND ccc.cf_item = 51
        AND ccc.CF_TYPE = 5)                      as                                                deposit_due_amount,
        (select nvl(sum(nvl(ccc.RECEIVED_AMOUNT, 0)), 0)
        from CON_CONTRACT_CASHFLOW ccc
        where ccc.CONTRACT_ID =
        ln.source_doc_id
        AND ccc.cf_item = 51
        AND ccc.CF_TYPE = 5)                      as                                                deposit_received_amount,
        (select nvl(sum(nvl(ccc.DUE_AMOUNT, 0)), 0)
        from CON_CONTRACT_CASHFLOW ccc
        where ccc.CONTRACT_ID = ln.source_doc_id
        AND ccc.cf_item = 65
        AND ccc.CF_TYPE = 65)                      as                                                service_charge_due_amount,
        (select nvl(sum(nvl(ccc.RECEIVED_AMOUNT, 0)), 0)
        from CON_CONTRACT_CASHFLOW ccc
        where ccc.CONTRACT_ID = ln.source_doc_id
        AND ccc.cf_item = 65
        AND ccc.CF_TYPE = 65)                      as                                                service_charge_received_amount,
        (select nvl(sum(nvl(ccc.DUE_AMOUNT, 0)), 0)
        from CON_CONTRACT_CASHFLOW ccc
        where ccc.CONTRACT_ID =
        ln.source_doc_id
        AND ccc.cf_item = 66
        AND ccc.CF_TYPE = 65)                      as                                                service_fee_due_amount,
        (select nvl(sum(nvl(ccc.RECEIVED_AMOUNT, 0)), 0)
        from CON_CONTRACT_CASHFLOW ccc
        where ccc.CONTRACT_ID =
        ln.source_doc_id
        AND ccc.cf_item = 66
        AND ccc.CF_TYPE = 65)                      as                                                service_fee_received_amount

        from csh_payment_req_hd hd,
        csh_payment_req_ln ln
        left join CON_CONTRACT_CASHFLOW ccc on ccc.CASHFLOW_ID = ln.SOURCE_DOC_LINE_ID
        left join prj_quotation pq on pq.quotation_id = ccc.GENERATED_SOURCE_DOC_ID
        where hd.payment_req_id = ln.payment_req_id) t
        <where>
            <if test="paymentReqId!=null">
                and   t.payment_req_id = #{paymentReqId}
            </if>
            <if test="processInstanceId!=null">
                and   t.process_instance_id = #{processInstanceId}
            </if>
            <if test="paymentReqLnId!=null">
                and   t.payment_req_ln_id = #{paymentReqLnId}
            </if>
            <if test="reverseFlag!=null">
                and   (
                ('Y' = #{reverseFlag} AND ifnull(t.submit_flag,'N') = 'Y')
                OR
                ('N' = #{reverseFlag})
                )
            </if>
        </where>
    </select>

    <!-- 零售业务 付款支付行查询-->
    <select id="retailPaymentLineReqDetail" parameterType="com.hand.hls.csh.dto.HlsCusCshPaymentReqLn" resultMap="CshPaymentReqLn">
        select cprl.payment_req_ln_id,
               cprl.payment_req_id,
               cprl.source_doc_category,
               cprl.source_doc_id,
                (select int_rate from prj_quotation pq where pq.quotation_id = cc.quotation_id)             int_rate,
                (select XIRR from prj_quotation pq where pq.quotation_id = cc.quotation_id)                 xirr,
                (select IRR from prj_quotation pq where pq.quotation_id = cc.quotation_id)                  irr,
                (select LEASE_TERM from prj_quotation pq where pq.quotation_id = cc.quotation_id)           lease_term,
                (select FINANCE_NOTE from PRJ_PROJECT pp where pp.project_id = cc.project_id)               finance_note,
               cc.contract_number,
               cc.TENANT_ID,
               (SELECT hbm.bp_name
                FROM hls_bp_master hbm
                WHERE hbm.bp_id = cc.tenant_id)                                                                       tenant_name,
               cc.factory_id,
               (SELECT hbm.bp_name
                FROM hls_bp_master hbm
                WHERE hbm.bp_id = cc.factory_id)                                                                      factory_name,
               cc.manufacturer_id,
               (SELECT hbm.bp_name
                FROM hls_bp_master hbm
                WHERE hbm.bp_id = cc.manufacturer_id)                                                                 manufacturer_name,
               cprl.source_doc_line_id,
               (select ccc.DUE_DATE from con_contract_cashflow ccc where cprl.SOURCE_DOC_LINE_ID = ccc.CASHFLOW_ID)   due_date,
               (select ccc.DUE_AMOUNT
                from con_contract_cashflow ccc
                where cprl.SOURCE_DOC_LINE_ID = ccc.CASHFLOW_ID)                                                      due_amount,
               (select ccc.times from con_contract_cashflow ccc where cprl.SOURCE_DOC_LINE_ID = ccc.CASHFLOW_ID)    times,
               (select ccc.CF_ITEM from con_contract_cashflow ccc where cprl.SOURCE_DOC_LINE_ID = ccc.CASHFLOW_ID)    cf_item,
               (select hci.DESCRIPTION
                from con_contract_cashflow ccc,
                     hls_cashflow_item hci
                where cprl.SOURCE_DOC_LINE_ID = ccc.CASHFLOW_ID
                  and ccc.CF_ITEM = hci.CF_ITEM)                                                                      cf_item_n,
               cprl.amount,
               nvl(cprl.amount - nvl((select sum(nvl(dt.deduct_amount, 0))
                                      from csh_payment_req_dt dt
                                      where dt.payment_req_ln_id = cprl.payment_req_ln_id), 0),
                   0)                                                                                                 applied_pay_amount,
               cprl.amount_paid,
               cprl.description,
               cprl.payment_flag,
               cprl.payment_completed_date,
               cprl.payment_method,
               cprl.bp_id,
               cprl.bp_bank_account_id,
               cprl.bp_bank_name,
               cprl.bp_bank_branch_name,
               cprl.bp_bank_account_num,
               cprl.bp_bank_account_name,
               cprl.return_account,
               cprl.object_version_number,
               cprl.request_id,
               cprl.program_id,
               cprl.created_by,
               cprl.creation_date,
               cprl.last_updated_by,
               cprl.last_update_date,
               cprl.last_update_login,
               cprl.self_bank_account_id,
               cprl.self_bank_name,
               cprl.self_bank_branch_name,
               cprl.self_bank_account_num,
               cprl.self_bank_account_name,
               cprl.fund_source,
               cprl.funding_plan_ln_id,
               cprl.deduct_amount,
               cprl.if_from_contract,
               cprl.exchange,
               cprl.currency,
               cprl.bp_type,
               cprl.eas_code,
               cprl.bill_type,
               cprl.due_amount_ln,
               cprl.seq_num,
               cprl.sum_due_amount,
               cprl.acceptance_period,
               cprl.validity_lc,
               cprl.iban,
               cprl.swift,
               cprl.beneficiary,
               cprl.purchase_contract_id,
               cprl.purchase_contract_amount,
               cprl.purchase_contract_amount_sum,
               cprl.purchase_contract_balance,
               cprl.contract_balance_release,
               cprl.bill_id,
               cprl.bank_code,
               cprl.bank_address,
               cprl.current_applied_amount
        from CSH_PAYMENT_REQ_LN cprl,
             con_contract cc
        where cprl.SOURCE_DOC_ID = cc.CONTRACT_ID
        <if test="paymentReqId!=null">
            and  cprl.payment_req_id = #{paymentReqId}
        </if>
    </select>
</mapper>
