<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hand.hls.csh.mapper.HlsCusCshConContractMapper">
    <resultMap type="com.hand.hls.csh.dto.HlsCusCshConContract" id="CshConContract">
        <id column="contract_id" property="contractId"/>
        <result column="company_id" property="companyId"/>
        <result column="project_id" property="projectId"/>
        <result column="quotation_id" property="quotationId"/>
        <result column="document_type" property="documentType"/>
        <result column="document_category" property="documentCategory"/>
        <result column="business_type" property="businessType"/>
        <result column="contract_number" property="contractNumber"/>
        <result column="contract_name" property="contractName"/>
        <result column="contract_status" property="contractStatus"/>
        <result column="lease_channel" property="leaseChannel"/>
        <result column="division" property="division"/>
        <result column="write_off_flag" property="writeOffFlag"/>
        <result column="bp_id" property="bpId"/>
        <result column="bp_name" property="bpName"/>
        <result column="cf_item" property="cfItem"/>
        <result column="cf_type" property="cfType"/>
        <result column="times" property="times"/>
        <result column="description" property="description"/>
        <result column="divisionDes" property="divisionDes"/>
        <result column="due_date" property="dueDate"/>
        <result column="due_amount" property="dueAmount"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
        <result column="bankAccountNum" property="bankAccountNum"/>
        <result column="bankAccountName" property="bankAccountName"/>
        <result column="bp_account_id" property="bpAccountId"/>
        <result column="sum_due_amount" property="sumDueAmount"/>
        <result column="sum_received_amount" property="sumReceivedAmount"/>
        <result column="sum_unpaid_amount" property="sumUnpaidAmount"/>
        <result column="lease_times" property="leaseTimes"/>
        <result column="tenant_bp_type" property="tenantBpType"/>
        <result column="days" property="days"/>

        <result column="signStatus" property="signStatus"/>
        <result column="inceptStatus" property="inceptStatus"/>
        <result column="changeStatus" property="changeStatus"/>
        <result column="cancelStatus" property="cancelStatus"/>
        <result column="terminationStatus" property="terminationStatus"/>

        <result column="sign_date" property="signDate" jdbcType="TIMESTAMP"/>


        <result column="transaction_date" property="transactionDate" jdbcType="TIMESTAMP"/>
        <result column="inception_of_lease" property="inceptionOfLease"
                jdbcType="TIMESTAMP"/>
        <result column="employee_id" property="employeeId" jdbcType="BIGINT"/>
        <result column="unit_id" property="unitId" jdbcType="BIGINT"/>
        <result column="lease_start_date" property="leaseStartDate"
                jdbcType="TIMESTAMP"/>
        <result column="first_pay_date" property="firstPayDate"
                jdbcType="TIMESTAMP"/>
        <result column="last_pay_date" property="lastPayDate" jdbcType="TIMESTAMP"/>
        <result column="lease_end_date" property="leaseEndDate"
                jdbcType="TIMESTAMP"/>
        <result column="original_recall_date" property="originalRecallDate"
                jdbcType="TIMESTAMP"/>
        <result column="lease_card_recall_date" property="leaseCardRecallDate"
                jdbcType="TIMESTAMP"/>
        <result column="early_termination_date" property="earlyTerminationDate"
                jdbcType="TIMESTAMP"/>
        <result column="termination_date" property="terminationDate"
                jdbcType="TIMESTAMP"/>
        <result column="assignment_date" property="assignmentDate"
                jdbcType="TIMESTAMP"/>
        <result column="annual_pay_times" property="annualPayTimes"
                jdbcType="BIGINT"/>
        <result column="lease_term" property="leaseTerm" jdbcType="DOUBLE"/>
        <result column="pay_type" property="payType" jdbcType="BIGINT"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="tax_type_id" property="taxTypeId" jdbcType="BIGINT"/>
        <result column="vat_flag" property="vatFlag" jdbcType="VARCHAR"/>
        <result column="vat_rate" property="vatRate" jdbcType="DOUBLE"/>
        <result column="lease_item_amount" property="leaseItemAmount"
                jdbcType="DOUBLE"/>
        <result column="vat_input" property="vatInput" jdbcType="DOUBLE"/>
        <result column="vat_input_tax_type_id" property="vatInputTaxTypeId"
                jdbcType="BIGINT"/>
        <result column="vat_input_tax_type_rate" property="vatInputTaxTypeRate"
                jdbcType="DOUBLE"/>
        <result column="down_payment_ratio" property="downPaymentRatio"
                jdbcType="DOUBLE"/>
        <result column="down_payment" property="downPayment" jdbcType="DOUBLE"/>
        <result column="net_down_payment" property="netDownPayment"
                jdbcType="DOUBLE"/>
        <result column="vat_down_payment" property="vatDownPayment"
                jdbcType="DOUBLE"/>
        <result column="finance_amount" property="financeAmount"
                jdbcType="DOUBLE"/>
        <result column="net_finance_amount" property="netFinanceAmount"
                jdbcType="DOUBLE"/>
        <result column="vat_finance_amount" property="vatFinanceAmount"
                jdbcType="DOUBLE"/>
        <result column="total_rental" property="totalRental" jdbcType="DOUBLE"/>
        <result column="net_total_rental" property="netTotalRental"
                jdbcType="DOUBLE"/>
        <result column="vat_total_rental" property="vatTotalRental"
                jdbcType="DOUBLE"/>
        <result column="total_interest" property="totalInterest"
                jdbcType="DOUBLE"/>
        <result column="net_total_interest" property="netTotalInterest"
                jdbcType="DOUBLE"/>
        <result column="vat_total_interest" property="vatTotalInterest"
                jdbcType="DOUBLE"/>
        <result column="lease_charge_ratio" property="leaseChargeRatio"
                jdbcType="DOUBLE"/>
        <result column="lease_charge" property="leaseCharge" jdbcType="DOUBLE"/>
        <result column="net_lease_charge" property="netLeaseCharge"
                jdbcType="DOUBLE"/>
        <result column="vat_lease_charge" property="vatLeaseCharge"
                jdbcType="DOUBLE"/>
        <result column="lease_mgt_fee_ratio" property="leaseMgtFeeRatio"
                jdbcType="DOUBLE"/>
        <result column="lease_mgt_fee" property="leaseMgtFee" jdbcType="DOUBLE"/>
        <result column="net_lease_mgt_fee" property="netLeaseMgtFee"
                jdbcType="DOUBLE"/>
        <result column="vat_lease_mgt_fee" property="vatLeaseMgtFee"
                jdbcType="DOUBLE"/>
        <result column="lease_mgt_fee_rule" property="leaseMgtFeeRule"
                jdbcType="VARCHAR"/>
        <result column="deposit_ratio" property="depositRatio"
                jdbcType="DOUBLE"/>
        <result column="deposit" property="deposit" jdbcType="DOUBLE"/>
        <result column="deposit_deduction" property="depositDeduction"
                jdbcType="VARCHAR"/>
        <result column="residual_ratio" property="residualRatio"
                jdbcType="DOUBLE"/>
        <result column="residual_value" property="residualValue"
                jdbcType="DOUBLE"/>
        <result column="net_residual_value" property="netResidualValue"
                jdbcType="DOUBLE"/>
        <result column="vat_residual_value" property="vatResidualValue"
                jdbcType="DOUBLE"/>
        <result column="balloon_ratio" property="balloonRatio"
                jdbcType="DOUBLE"/>
        <result column="balloon" property="balloon" jdbcType="DOUBLE"/>
        <result column="net_balloon" property="netBalloon" jdbcType="DOUBLE"/>
        <result column="vat_balloon" property="vatBalloon" jdbcType="DOUBLE"/>
        <result column="base_rate_type" property="baseRateType"
                jdbcType="VARCHAR"/>
        <result column="base_rate" property="baseRate" jdbcType="DOUBLE"/>
        <result column="int_rate" property="intRate" jdbcType="DOUBLE"/>
        <result column="int_rate_implicit" property="intRateImplicit"
                jdbcType="DOUBLE"/>
        <result column="int_rate_type" property="intRateType" jdbcType="VARCHAR"/>
        <result column="irr" property="irr" jdbcType="DOUBLE"/>
        <result column="irr_after_tax" property="irrAfterTax" jdbcType="DOUBLE"/>
        <result column="pmt" property="pmt" jdbcType="DOUBLE"/>
        <result column="pmt_first" property="pmtFirst" jdbcType="DOUBLE"/>
        <result column="annual_mean_rate" property="annualMeanRate"
                jdbcType="DOUBLE"/>
        <result column="received_status" property="receivedStatus"
                jdbcType="VARCHAR"/>
        <result column="overdue_status" property="overdueStatus"
                jdbcType="VARCHAR"/>
        <result column="billing_method" property="billingMethod"
                jdbcType="VARCHAR"/>
        <result column="billing_status" property="billingStatus"
                jdbcType="VARCHAR"/>
        <result column="biz_day_convention" property="bizDayConvention"
                jdbcType="VARCHAR"/>
        <result column="penalty_profile" property="penaltyProfile"
                jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="outSumAmount" property="outSumAmount" jdbcType="DOUBLE"/>
        <result column="inSumAmount" property="inSumAmount" jdbcType="DOUBLE"/>
        <result column="newNum" property="newNum" jdbcType="DOUBLE"/>
        <result column="signNum" property="signNum" jdbcType="DOUBLE"/>
        <result column="inceptNum" property="inceptNum" jdbcType="DOUBLE"/>
        <result column="pendingNum" property="pendingNum" jdbcType="DOUBLE"/>
        <result column="terminationNum" property="terminationNum"
                jdbcType="DOUBLE"/>
        <result column="sumAmount" property="sumAmount" jdbcType="DOUBLE"/>
        <result column="contract_count" property="contractCount" jdbcType="BIGINT"/>
        <result column="stock_contract_count" property="stockContractCount" jdbcType="BIGINT"/>
        <result column="new_contract_count" property="newContractCount" jdbcType="BIGINT"/>

        <result column="contractReqType" property="contractReqType"/>
        <result column="changeReqDate" property="changeReqDate"/>
        <result column="status" property="status"/>

        <result column="due_mount" property="dueAmount" jdbcType="DOUBLE"/>
        <result column="due_amount_count" property="dueAmountCount" jdbcType="BIGINT"/>
        <result column="transaction_amount" property="transactionAmount" jdbcType="DOUBLE"/>
        <result column="received_amount_count" property="receivedAmountCount" jdbcType="BIGINT"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DOUBLE"/>
        <result column="transaction_amount_count" property="transactionAmountCount" jdbcType="BIGINT"/>
        <result column="payment_req_ln_id" property="paymentReqLnId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="amount_paid" property="amountPaid" jdbcType="VARCHAR"/>
        <result column="bp_bank_account_name" property="bpBankAccountName" jdbcType="VARCHAR"/>
        <result column="bp_bank_name" property="bpBankName" jdbcType="VARCHAR"/>
        <result column="company_full_name" property="companyFullName" jdbcType="VARCHAR"/>

        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR"/>
        <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR"/>

        <result column="bp_bank_account_num" property="bpBankAccountNum" jdbcType="VARCHAR"/>
        <result column="write_off_due_amount" property="writeOffDueAmount" jdbcType="DOUBLE"/>
        <result column="write_off_date" property="writeOffDate" jdbcType="TIMESTAMP"/>
        <result column="payment_req_date" property="paymentReqDate" jdbcType="TIMESTAMP"/>
        <result column="latest_hours" property="latestHours" jdbcType="BIGINT"/>

        <result column="created_by_desc" property="created_by_desc" jdbcType="VARCHAR"/>
        <result column="creation_date_desc" property="creation_date_desc" jdbcType="VARCHAR"/>
        <result column="document_type_desc" property="document_type_desc" jdbcType="VARCHAR"/>
        <result column="business_type_desc" property="business_type_desc" jdbcType="VARCHAR"/>
        <result column="division_desc" property="division_desc" jdbcType="VARCHAR"/>
        <result column="lease_channel_desc" property="lease_channel_desc" jdbcType="VARCHAR"/>

        <result column="expired_times" property="expired_times" jdbcType="BIGINT"/>
        <result column="payment_times" property="payment_times" jdbcType="BIGINT"/>
        <result column="unpayment_times" property="unpayment_times" jdbcType="BIGINT"/>
        <result column="overdue_times" property="overdue_times" jdbcType="BIGINT"/>
        <result column="avg_overdue_dates" property="avg_overdue_dates" jdbcType="DOUBLE"/>
        <result column="max_overdue_dates" property="max_overdue_dates" jdbcType="DOUBLE"/>
        <result column="total_overdue_dates" property="total_overdue_dates" jdbcType="DOUBLE"/>
        <result column="total_payment_amount" property="total_payment_amount" jdbcType="DOUBLE"/>
        <result column="total_received_amount" property="total_received_amount" jdbcType="DOUBLE"/>

        <result column="price_list" property="price_list" jdbcType="VARCHAR"/>
        <result column="price_list_desc" property="price_list_desc" jdbcType="VARCHAR"/>
        <result column="annual_pay_times_desc" property="annual_pay_times_desc" jdbcType="VARCHAR"/>
        <result column="int_rate_fixing_way" property="int_rate_fixing_way" jdbcType="VARCHAR"/>
        <result column="int_rate_fixing_range" property="int_rate_fixing_range" jdbcType="DOUBLE"/>

        <result column="down_payment_way" property="down_payment_way" jdbcType="VARCHAR"/>
        <result column="down_payment_range" property="down_payment_range" jdbcType="DOUBLE"/>
        <result column="deposit_way" property="deposit_way" jdbcType="VARCHAR"/>
        <result column="deposit_range" property="deposit_range" jdbcType="DOUBLE"/>
        <result column="stock_count" property="stockCount"/>
        <result column="newCount" property="newCount"/>
        <result column="payment_req_id" property="paymentReqId" jdbcType="BIGINT"/>
        <result column="csh_transaction_id" property="cshTransactionId" jdbcType="BIGINT"/>
        <result column="change_req_id" property="changeReqId"/>
        <result column="create_date" property="create_date"/>
        <result column="contract_incept_id" property="contract_incept_id"/>
        <result column="terminationFLag" property="terminationFLag"/>
        <result column="paymentFlag" property="paymentFlag"/>
        <result column="paymentAppFlag" property="paymentAppFlag"/>

        <result column="transaction_id" property="transactionId"/>
        <result column="write_off_amount" property="writeOffAmount"/>
        <result column="division_name" property="division_name"/>
        <result column="document_type_name" property="document_type_name"/>
        <result column="principal" property="principal" jdbcType="DOUBLE"/>
        <result column="interest" property="interest" jdbcType="DOUBLE"/>
        <result column="outstanding_principal" property="outstanding_principal" jdbcType="DOUBLE"/>
        <result column="price_list" property="priceList"/>
        <result column="bpName" property="bpName"/>
        <result column="bpTypeDesc" property="bpTypeDesc"/>

        <result column="source_doc_category" property="sourceDocCategory"/>
        <result column="write_off_type" property="writeOffType" />
        <result column="payment_amount" property="paymentAmount" />
        <result column="deduct_amount" property="deductAmount" />
        <result column="transaction_type" property="transactionType" />
        <result column="bp_type_n" property="bpTypeN" />
        <result column="bp_type" property="bpType" />
        <result column="payment_req_number" property="paymentReqNumber" jdbcType="VARCHAR" />
        <result column="defray_number" property="defrayNumber" jdbcType="VARCHAR" />
        <result column="proposed_launch_date" property="proposedLaunchDate" jdbcType="DATE" />
        <result column="application_name" property="applicationName" jdbcType="VARCHAR" />
        <result column="application_date" property="applicationDate" jdbcType="DATE" />
        <result column="status_n" property="statusN" jdbcType="VARCHAR" />
        <result column="funding_plan_id" property="fundingPlanId" jdbcType="VARCHAR" />
        <result column="loan_total_amount" property="loanTotalAmount" jdbcType="DOUBLE" />
        <result column="loan_net_amount" property="loanNetAmount" jdbcType="DOUBLE" />
        <result column="process_instance_id" property="processInstanceId"  />


        <result column="LOAN_TYPE" property="loanType" jdbcType="VARCHAR" />
        <result column="PAYMENT_TYPE" property="paymentType" jdbcType="VARCHAR" />
        <result column="payment_approved_status" property="paymentApprovedStatus" jdbcType="VARCHAR" />
        <result column="PAYMENT_APPROVED_STATUS_N" property="paymentApprovedStatusN" jdbcType="VARCHAR" />
        <result column="LOAN_TYPE_N" property="loanTypeN" jdbcType="VARCHAR" />
        <result column="PAYMENT_TYPE_N" property="paymentTypeN" jdbcType="VARCHAR" />
        <result column="project_manager_id_n" property="projectManagerIdN" jdbcType="VARCHAR" />

        <result column="FUNDING_PLAN_NUMBER" property="fundingPlanNumber" jdbcType="VARCHAR" />
        <result column="company_spv_n" property="companySpvN" jdbcType="VARCHAR" />
        <result column="company_spv" property="companySpv" jdbcType="DECIMAL" />

        <result column="proposed_launch_date_from" property="proposedLaunchDateFrom"/>
        <result column="proposed_launch_date_to" property="proposedLaunchDateTo"/>

        <result column="unpaid" property="unpaid"/>
        <result column="legal_contract_number" property="legalContractNumber"/>
    </resultMap>

    <select id="contractHomeSecondQuery" resultMap="CshConContract">
        select tab.* from (
        select
        cprh.payment_req_number,
        cprl.payment_req_ln_id,
        cprl.source_doc_category,
        cprh.payment_req_id,
        (select su.description from sys_user su where su.user_id = cprl.created_by ) user_name,
        (select hci.description from con_contract_cashflow ccc,hls_cashflow_item hci,con_contract cc where
        ccc.cashflow_id = cprl.source_doc_line_id
        and hci.cf_item = ccc.cf_item and hci.cf_type = ccc.cf_type and cc.contract_id = ccc.contract_id
        and ccc.cf_direction='OUTFLOW'
        and cc.contract_status in ('SIGN','INCEPT')) description,
        cc.contract_id,
        cc.contract_name contract_name,
        cc.contract_number contract_number,
        cprl.amount,
        nvl(cprl.amount_paid,0)  amount_paid,
        cprl.bp_bank_account_name,
        cprl.bp_bank_name,
        cprl.bp_bank_account_num,
        cprl.self_bank_account_id,
        cprl.self_bank_name,
        cprl.self_bank_branch_name,
        cprl.self_bank_account_num,
        cprl.self_bank_account_name,
        cprl.payment_method,
        cprl.bp_id,
        cprh.payment_req_date,
        hbm.bp_name
        from csh_payment_req_ln cprl, csh_payment_req_hd cprh,
        con_contract cc,
        hls_bp_master hbm
        WHERE
        cprl.payment_flag  in ('NOT','PARTIAL')
        AND cc.contract_status IN ('SIGN','LOAN','INCEPT')
        and hbm.bp_id = cprl.bp_id
        and  cprl.source_doc_category='CON_CONTRACT'
        and cprh.payment_req_id = cprl.payment_req_id
        and cprh.source_doc_id = cc.contract_id
        AND cprh.payment_req_status='APPROVED'
        and cc.company_id=#{request.companyId}
        <if test="queryDateFrom !=null and queryDateFrom !=''">
            and cprh.payment_req_date &gt;= #{queryDateFrom}
        </if>
        <if test="queryDateTo !=null and queryDateTo !='' ">
            and cprh.payment_req_date &lt;=  #{queryDateTo}
        </if>
        <if test="paymentFlag != null and paymentFlag != false">
            AND cprh.currency in
            <foreach item="item" index="index" collection="paymentList"
                     separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="contractInfo !=null and contractInfo !='' ">
            and (cc.contract_name like concat(concat('%',#{contractInfo}),'%') or cc.contract_number like concat(concat('%',#{contractInfo}),'%'))
        </if>
        <if test="bankInfo !=null and bankInfo != ''">
            and (cprl.bp_bank_account_name like concat(concat('%',#{bankInfo}),'%') or cprl.bp_bank_account_num like concat(concat('%',#{bankInfo}),'%'))
        </if>
        <if test="payInfo != null and payInfo != ''">
            and (hbm.bp_name like concat(concat('%',#{payInfo}),'%') or hbm.bp_code like concat(concat('%',#{payInfo}),'%'))
        </if>

        UNION
        SELECT temp.*
        FROM (SELECT
        cprh.payment_req_number,
         cprl.payment_req_ln_id payment_req_ln_id,
        cprl.source_doc_category,
        cprh.payment_req_id,
        (
        SELECT
        su.description
        FROM
        sys_user su
        WHERE
        su.user_id = cprl.created_by
        ) user_name,
        (select hci.DESCRIPTION
        from fct_quotation_cashflow fqc,hls_cashflow_item hci
        where cprl.source_doc_line_id = fqc.quotation_cashflow_id
        and HCI.CF_ITEM=FQC.CF_ITEM
        ) description,
        lc.contract_id,
        lc.contract_name,
        lc.contract_number,
        cprl.amount,
        nvl(cprl.amount_paid,0)  amount_paid,
        cprl.bp_bank_account_name,
        cprl.bp_bank_name,
        cprl.bp_bank_account_num,
        cprl.self_bank_account_id,
        cprl.self_bank_name,
        cprl.self_bank_branch_name,
        cprl.self_bank_account_num,
        cprl.self_bank_account_name,
        cprl.payment_method,
        cprl.bp_id,
        cprh.payment_req_date,
        hbm.bp_name
        FROM csh_payment_req_ln    cprl,
        csh_payment_req_hd    cprh,
        fct_contract          lc,
        hls_bp_master         hbm
        <where>
            lc.contract_status IN ('SIGN','LOAN')
            AND cprh.document_type = 'PAYMENT_REQ'
            AND hbm.bp_id = cprl.bp_id
            and  cprl.source_doc_category='FCT_CONTRACT'
            AND cprh.payment_req_id = cprl.payment_req_id
            AND cprh.source_doc_id = lc.contract_id
            AND cprl.payment_flag in ('NOT','PARTIAL')
            AND cprh.payment_req_status='APPROVED'
            and lc.company_id=#{request.companyId}
            <if test="queryDateFrom !=null and queryDateFrom !=''">
                and cprh.payment_req_date &gt;= #{queryDateFrom}
            </if>
            <if test="queryDateTo !=null and queryDateTo !='' ">
                and cprh.payment_req_date &lt;=  #{queryDateTo}
            </if>
            <if test="paymentFlag != null and paymentFlag != false">
                AND cprh.currency in
                <foreach item="item" index="index" collection="paymentList"
                         separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="contractInfo !=null and contractInfo !='' ">
                and (lc.contract_name like concat(concat('%',#{contractInfo}),'%') or lc.contract_number like concat(concat('%',#{contractInfo}),'%'))
            </if>
            <if test="bankInfo !=null and bankInfo != ''">
                and (cprl.bp_bank_name like concat(concat('%',#{bankInfo}),'%') or cprl.bp_bank_account_num like concat(concat('%',#{bankInfo}),'%'))
            </if>
            <if test="payInfo != null and payInfo != ''">
                and (hbm.bp_name like concat(concat('%',#{payInfo}),'%') or hbm.bp_code like concat(concat('%',#{payInfo}),'%'))
            </if>
        </where>
        ) temp

        )tab
        ORDER BY tab.payment_req_date DESC
    </select>

    <select id="cshPaymentTodo" resultMap="CshConContract">
        select  v.*  from  (SELECT (SELECT pq.currency
        FROM prj_quotation pq
        WHERE pq.QUOTATION_ID = cc.QUOTATION_ID
        ) AS currency,
        (SELECT pq.price_list
        FROM prj_quotation pq
        WHERE pq.QUOTATION_ID = cc.QUOTATION_ID
        ) price_list,
        cc.QUOTATION_ID,
        cc.contract_id,
        cc.contract_id AS funding_plan_id,
        cprh.payment_req_id,
        cprh.LOAN_TYPE,
        cprh.PAYMENT_TYPE,
        cprh.Payment_Req_Status,
        cprh.PAYMENT_APPROVED_STATUS,
        (SELECT meaning
        FROM sys_code_value_b_v
        WHERE CODE = 'PAYMENT_APPROVED_STATUS'
        AND code_value = cprh.PAYMENT_APPROVED_STATUS) AS PAYMENT_APPROVED_STATUS_N,
        (SELECT meaning
        FROM sys_code_value_b_v
        WHERE CODE = 'CSH.LOAN_TYPE'
        AND code_value = cprh.LOAN_TYPE) AS LOAN_TYPE_N,
        (SELECT meaning
        FROM sys_code_value_b_v
        WHERE CODE = 'CSH701_TRANSACTION_TYPE'
        AND code_value = cprh.payment_type) AS PAYMENT_TYPE_N,
        (SELECT
        distinct e.NAME
        FROM
        sys_user s,
        sys_user_allocation a,
        fnd_employee e,
        fnd_employee_assigns fa
        WHERE
        s.user_id = a.user_id
        AND a.EMPLOYEE_ASSIGN_ID = fa.EMPLOYEE_ASSIGN_ID
        AND fa.EMPLOYEE_ID = e.EMPLOYEE_ID

        and a.USER_ID=cprh.EMPLOYEE_ID
        and fa.PRIMARY_POSITION_FLAG = 'Y')
        AS project_manager_id_n,
        cprh.loan_total_amount,
        cprh.payment_req_number,
        (SELECT meaning
        FROM sys_code_value_b_v
        WHERE CODE = 'HLS_WFL_STATUS'
        AND code_value = cprh.transfer_status) AS status_n,
        (select p.CONTRACT_NAME from prj_project p  where p.project_id=cc.PROJECT_ID) contract_name,
        (select p.CONTRACT_NUMBER from prj_project p  where p.project_id=cc.PROJECT_ID)contract_number,
        (select p.tenant_id from prj_project p  where p.project_id=cc.PROJECT_ID) tenant_id,
        (SELECT hbm.bp_name
        FROM hls_bp_master hbm
        WHERE hbm.bp_id = (select p.tenant_id from prj_project p  where p.project_id=cc.PROJECT_ID)) AS bp_name,
        cc.contract_number AS defray_number,
        cc.legal_contract_number,
        cprh.proposed_launch_date,
        cprh.created_by,
        cprh.creation_date,
        (SELECT su.description
        FROM sys_user su
        WHERE su.user_id = cprh.created_by) AS application_name,
        cprh.creation_date AS application_date,
        cprh.process_instance_id,
        cc.CONTRACT_NUMBER AS FUNDING_PLAN_NUMBER,
        (SELECT pp.COMPANY_SPV
        FROM prj_project pp
        WHERE pp.PROJECT_ID = cc.PROJECT_ID) AS COMPANY_SPV,
        (SELECT t.company_full_name
        FROM fnd_company t
        WHERE t.company_id =
        (SELECT pp.COMPANY_SPV
        FROM prj_project pp
        WHERE pp.PROJECT_ID = cc.PROJECT_ID)) AS company_spv_n,
        ( SELECT tc.PROJECT_ID FROM con_contract tc WHERE tc.CONTRACT_ID = cprh.SOURCE_CONTRACT_ID ) PROJECT_ID,
        (
        SELECT
        nvl( cprh.LOAN_TOTAL_AMOUNT, 0 ) - nvl( sum( lnba.actual_payment_amount ), 0 )
        FROM
        csh_pay_req_ln_bank_account lnba,
        csh_payment_req_ln ln
        WHERE
        lnba.PAYMENT_REQ_LN_ID = ln.PAYMENT_REQ_LN_ID
        AND ln.payment_req_id = cprh.PAYMENT_REQ_ID
        ) unpaid

        FROM  csh_payment_req_hd  cprh,
        con_contract cc  where cprh.SOURCE_CONTRACT_ID=cc.CONTRACT_ID

        and NOT EXISTS
        (SELECT ct.contract_id
        FROM csh_transaction ct
        WHERE ct.contract_id = cprh.SOURCE_CONTRACT_ID
        AND ct.transaction_type = 'PAYMENT'
        AND ct.source_doc_id = cprh.payment_req_id)
        ) v
           <where>
                1 = 1
               and V.payment_approved_status in ('NEW','REJECTED','PART_PAID')
              and V.payment_req_status in ('APPROVED')
             <if test="paymentReqNumber != null ">
                   and v.payment_req_number = #{paymentReqNumber}
               </if>
               <if test="proposedLaunchDate != null">
                   and v.proposed_launch_date  = to_date(#{proposedLaunchDate},'yyyy-mm-dd')
               </if>
               <if test="applicationName != null ">
                   and v.application_name = #{applicationName}
               </if>
               <if test="applicationDate != null ">
                   and v.application_date  = to_date(#{applicationDate},'yyyy-mm-dd')
               </if>
               <if test="loanTotalAmount != null ">
                   and v.loan_total_amount = #{loanTotalAmount}
               </if>
               <if test="projectManagerIdN != null ">
                   and v.project_manager_id_n = #{projectManagerIdN}
               </if>
               <if test="paymentApprovedStatus != null ">
                   and v.payment_approved_status = #{paymentApprovedStatus}
               </if>
               <if test="bpName != null">
                   and v.bp_name like concat('%',concat(#{bpName},'%'))
               </if>
               <if test="contractNumber != null">
                   and v.contract_number like concat('%',concat(#{contractNumber},'%'))
               </if>
               <if test="legal_contract_number != null">
                   and v.legal_contract_number like concat('%',concat(#{legal_contract_number},'%'))
               </if>
           </where>
          order by v.payment_req_number desc
    </select>
    <select id="csh001PaymentTodo" resultMap="CshConContract">
        SELECT v.*
        FROM (SELECT (SELECT pq.currency
        FROM prj_quotation pq
        WHERE pq.QUOTATION_ID = cc.QUOTATION_ID) AS currency,
        (SELECT pq.price_list
        FROM prj_quotation pq
        WHERE pq.QUOTATION_ID = cc.QUOTATION_ID) AS price_list,
        cc.QUOTATION_ID,
        cc.contract_id,
        cc.contract_id AS funding_plan_id,
        cprh.payment_req_id,
        cprh.LOAN_TYPE,
        cprh.PAYMENT_TYPE,
        cprh.Payment_Req_Status,
        cprh.PAYMENT_APPROVED_STATUS,
        (SELECT meaning
        FROM sys_code_value_b_v
        WHERE CODE = 'PAYMENT_APPROVED_STATUS'
        AND code_value = cprh.PAYMENT_APPROVED_STATUS) AS PAYMENT_APPROVED_STATUS_N,
        (SELECT meaning
        FROM sys_code_value_b_v
        WHERE CODE = 'CSH.LOAN_TYPE'
        AND code_value = cprh.LOAN_TYPE) AS LOAN_TYPE_N,
        (SELECT meaning
        FROM sys_code_value_b_v
        WHERE CODE = 'CSH701_TRANSACTION_TYPE'
        AND code_value = cprh.payment_type) AS PAYMENT_TYPE_N,
        (SELECT
        e.NAME
        FROM
        sys_user s,
        sys_user_allocation a,
        fnd_employee e,
        fnd_employee_assigns fa
        WHERE
        s.user_id = a.user_id
        AND a.EMPLOYEE_ASSIGN_ID = fa.EMPLOYEE_ASSIGN_ID
        AND fa.EMPLOYEE_ID = e.EMPLOYEE_ID

        and a.USER_ID=cprh.EMPLOYEE_ID
        and fa.PRIMARY_POSITION_FLAG = 'Y')
        AS project_manager_id_n,
        cprh.loan_total_amount,
        cprh.payment_req_number,
        (SELECT meaning
        FROM sys_code_value_b_v
        WHERE CODE = 'HLS_WFL_STATUS'
        AND code_value = cprh.transfer_status) AS status_n,
        (SELECT p.CONTRACT_NUMBER
        FROM prj_project p
        WHERE p.project_id = cc.PROJECT_ID) AS contract_number,
        (SELECT p.tenant_id
        FROM prj_project p
        WHERE p.project_id = cc.PROJECT_ID) AS tenant_id,
        (SELECT hbm.bp_name
        FROM hls_bp_master hbm
        WHERE hbm.bp_id =
        (SELECT p.tenant_id
        FROM prj_project p
        WHERE p.project_id = cc.PROJECT_ID)) AS bp_name,
        cc.contract_number AS defray_number,
        cprh.proposed_launch_date,
        cprh.created_by,
        cprh.creation_date,
        (SELECT su.description
        FROM sys_user su
        WHERE su.user_id = cprh.created_by) AS application_name,
        cprh.creation_date AS application_date,
        cprh.process_instance_id,
        cc.CONTRACT_NUMBER AS FUNDING_PLAN_NUMBER,
        (SELECT pp.COMPANY_SPV
        FROM prj_project pp
        WHERE pp.PROJECT_ID = cc.PROJECT_ID) AS COMPANY_SPV,
        (SELECT tc.PROJECT_ID
        FROM con_contract tc
        WHERE tc.CONTRACT_ID = cprh.SOURCE_CONTRACT_ID) PROJECT_ID,
        (SELECT t.company_full_name
        FROM fnd_company t
        WHERE t.company_id =
        (SELECT pp.COMPANY_SPV
        FROM prj_project pp
        WHERE pp.PROJECT_ID = cc.PROJECT_ID)) AS company_spv_n
        FROM csh_payment_req_hd cprh, con_contract cc
        WHERE cprh.SOURCE_CONTRACT_ID = cc.CONTRACT_ID
        and cprh.PAYMENT_APPROVED_STATUS IN ( 'APPROVING', 'APPROVED','PAID','PART_PAID' )
       ) v
        <where>
            1 = 1
            and V.payment_req_status in ('APPROVED')
            <if test="paymentReqNumber != null ">
                and v.payment_req_number = #{paymentReqNumber}
            </if>
            <if test="paymentApprovedStatus != null ">
                and v.payment_approved_status = #{paymentApprovedStatus}
            </if>
            <if test="bpName !=null and bpName!='' ">
                AND v.bp_name LIKE CONCAT(concat('%',#{bpName}),'%')
            </if>
            <if test="contractNumber !=null and contractNumber!='' ">
                AND v.CONTRACT_NUMBER LIKE CONCAT(concat('%',#{contractNumber}),'%')
            </if>
            <if test="proposedLaunchDate != null">
                and v.proposed_launch_date  = #{proposedLaunchDate}
            </if>
            <if test="applicationName != null ">
                and v.application_name = #{applicationName}
            </if>
            <if test="applicationDate != null ">
                and v.application_date  = #{applicationDate}
            </if>
            <if test="loanTotalAmount != null ">
                and v.loan_total_amount = #{loanTotalAmount}
            </if>
            <if test="projectManagerIdN != null ">
                and v.project_manager_id_n = #{projectManagerIdN}
            </if>
            <if test="proposedLaunchDateFrom != null">
                and v.proposed_launch_date &gt;= to_date(#{proposedLaunchDateFrom}, 'yyyy-mm-dd')
            </if>
            <if test="proposedLaunchDateTo != null">
                and v.proposed_launch_date &lt;= to_date(#{proposedLaunchDateTo}, 'yyyy-mm-dd')
            </if>
        </where>
        order by v.payment_req_number desc
    </select>
    <select id="cshPaymentDetailByCon" resultMap="CshConContract">
       SELECT
            (SELECT pq.currency
            FROM prj_quotation pq
            where pq.source_document_id = cc.contract_id
             and pq.source_document_category = 'CON_CONTRACT') as currency,
               cc.contract_id,
               hfp.funding_plan_id,
                cprh.payment_req_id,
               pp.loan_initial_lease,
                hfp.loan_total_amount,
                hfp.loan_net_amount,
               cprh.payment_req_number,
               hfp.status,
              (SELECT meaning
                  FROM sys_code_value_b_v
                 WHERE code = 'HLS_WFL_STATUS'
                   and code_value = cprh.transfer_status) status_n,
               pp.contract_number,
               pp.tenant_id,
                (SELECT hbm.bp_name FROM  hls_bp_master hbm where hbm.bp_id = pp.tenant_id ) as bp_name,
               cc.contract_number as defray_number ,
               hfp.proposed_launch_date,
               cprh.created_by,
               cprh.creation_date ,
               (SELECT su.description  FROM  sys_user su where su.user_id = cprh.created_by) as application_name,
               cprh.creation_date  as application_date,
                cprh.process_instance_id
          FROM con_contract       cc,
               hls_funding_plan   hfp,
               prj_project        pp,
               csh_payment_req_hd cprh
         <where> cc.contract_id = hfp.contract_id
           and cc.project_id = pp.project_id
           and hfp.funding_plan_id = cprh.funding_plan_id
          -- and cprh.transfer_status = 'APPROVED'
            and cc.contract_id = #{contractId}
         </where>

    </select>

    <select id="contractHomeThirdQuery" resultMap="CshConContract">
        SELECT
        SU.DESCRIPTION USER_NAME,
        CT.TRANSACTION_ID,
        CT.COMPANY_ID,
        CT.TRANSACTION_DATE,
        nvl(WRIOFF.CSH_WRITE_OFF_AMOUNT,0) WRITE_OFF_AMOUNT,
        WRIOFF.WRITE_OFF_TYPE,
        WRIOFF.CONTRACT_NUMBER,
        WRIOFF.CONTRACT_NAME,
        WRIOFF.CONTRACT_ID,
        WRIOFF.CON_CATEGORY SOURCE_DOC_CATEGORY,
        nvl(CBA.BANK_ACCOUNT_NAME,'--') BANK_ACCOUNT_NAME,
        nvl(CBA.BANK_ACCOUNT_NUM,'--')  BANK_ACCOUNT_NUM,
        nvl(CBA.BANK_BRANCH_NAME,'--')  BANK_BRANCH_NAME,
        nvl(CB.BANK_NAME,'--')          BANK_NAME,
        nvl(CBA.CURRENCY,'CNY')         CURRENCY,
        FC.COMPANY_FULL_NAME,
        nvl(CT.BP_BANK_ACCOUNT_NAME,'--') BP_BANK_ACCOUNT_NAME,
        nvl(CT.BP_BANK_ACCOUNT_NUM,'--')  BP_BANK_ACCOUNT_NUM,
        nvl(CT.BP_BANK_BRANCH_NAME,'--')  BP_BANK_BRANCH_NAME,
        nvl(CT.BP_BANK_NAME,'--')         BP_BANK_NAME,
        nvl(HBM.BP_CODE,'--')             BP_CODE,
        nvl(HBM.BP_NAME,'--')             BP_NAME,
        nvl(HBM.BP_TYPE,'--')             BP_TYPE,
        (SELECT description FROM HLS_BP_TYPE bpt where bpt.bp_type = HBM.bp_type and bpt.enabled_flag = 'Y') BP_TYPE_N,
        CT.TRANSACTION_TYPE,
        nvl(
        (
        SELECT
        SUM(CWO.CSH_WRITE_OFF_AMOUNT)
        FROM
        CSH_WRITE_OFF CWO
        WHERE
        CWO.CSH_TRANSACTION_ID = CT.TRANSACTION_ID
        AND CWO.WRITE_OFF_TYPE = 'PAYMENT_DEBT'),0) AS PAYMENT_AMOUNT ,
        nvl(
        (
        SELECT
        SUM(CWO.CSH_WRITE_OFF_AMOUNT)
        FROM
        CSH_WRITE_OFF CWO
        WHERE
        CWO.CSH_TRANSACTION_ID = CT.TRANSACTION_ID
        AND CWO.WRITE_OFF_TYPE IN ('RECEIPT_CREDIT',
        'RECEIPT_DEPOSIT')),0) AS DEDUCT_AMOUNT
        FROM
        CSH_TRANSACTION CT
        JOIN
        SYS_USER SU
        ON
        SU.USER_ID=CT.CREATED_BY
        JOIN
        FND_COMPANY FC
        ON
        FC.COMPANY_ID=CT.COMPANY_ID
        LEFT JOIN
        HLS_BP_MASTER HBM
        ON
        CT.BP_ID=HBM.BP_ID
        LEFT JOIN
        CSH_BANK_ACCOUNT CBA
        ON
        CBA.BANK_ACCOUNT_ID=CT.BANK_ACCOUNT_ID
        LEFT JOIN
        CSH_BANK CB
        ON
        CB.BANK_ID=CBA.BANK_ID
        LEFT JOIN
        (
        SELECT
        CWO.CSH_TRANSACTION_ID,
        MAX(CON.CONTRACT_ID) CONTRACT_ID,
        MAX(CON.CON_CATEGORY) CON_CATEGORY,
        SUM(CWO.CSH_WRITE_OFF_AMOUNT) CSH_WRITE_OFF_AMOUNT,
        MAX(CWO.WRITE_OFF_TYPE)       WRITE_OFF_TYPE,
        MAX(CON.CONTRACT_NUMBER)      CONTRACT_NUMBER,
        MAX(CON.CONTRACT_NAME)        CONTRACT_NAME
        FROM
        CSH_WRITE_OFF CWO
        LEFT JOIN
        (
        SELECT
        CC.CONTRACT_ID,
        CC.CONTRACT_NUMBER,
        CC.CONTRACT_NAME,
        'CON_CONTRACT' CON_CATEGORY
        FROM
        CON_CONTRACT CC
        WHERE
        CC.DATA_CLASS='NORMAL'
        UNION ALL
        SELECT
        CC.CONTRACT_ID,
        CC.CONTRACT_NUMBER,
        CC.CONTRACT_NAME,
        'FCT_CONTRACT' CON_CATEGORY
        FROM
        FCT_CONTRACT CC
        WHERE
        CC.DATA_CLASS='NORMAL' ) CON
        ON
        CON.CONTRACT_ID=CWO.CONTRACT_ID
        AND CON.CON_CATEGORY=CWO.WRITE_OFF_DOC_CATEGORY
        GROUP BY
        CWO.CSH_TRANSACTION_ID) WRIOFF
        ON
        WRIOFF.CSH_TRANSACTION_ID=CT.TRANSACTION_ID
        WHERE CT.BUSINESS_TYPE IN('PAYMENT','DEDUCTION')
        AND CT.REVERSED_FLAG='N'
        AND CT.TRANSACTION_TYPE!='REFUND'
        AND CT.COMPANY_ID=#{request.companyId}
        <if test="queryDateFrom !=null and queryDateFrom !=''">
            AND CT.TRANSACTION_DATE &gt;= #{queryDateFrom}
        </if>
        <if test="queryDateTo !=null and queryDateTo !='' ">
            AND CT.TRANSACTION_DATE &lt;=  #{queryDateTo}
        </if>
        <if test="contractNumber !=null and contractNumber!='' ">
            AND WRIOFF.CONTRACT_NUMBER LIKE CONCAT(concat('%',#{contractNumber}),'%')
        </if>
        <if test="payInfo !=null and payInfo!='' ">
            AND (HBM.BP_CODE  LIKE CONCAT(concat('%',#{payInfo}),'%')
            OR HBM.BP_NAME LIKE CONCAT(concat('%',#{payInfo}),'%') )
        </if>
        <if test="bankInfo !=null and bankInfo != ''">
            AND (CT.BP_BANK_ACCOUNT_NAME LIKE CONCAT(concat('%',#{bankInfo}),'%')
            OR CT.BP_BANK_ACCOUNT_NUM LIKE CONCAT(concat('%',#{bankInfo}),'%') )
        </if>
        <if test="contractInfo !=null and contractInfo !=''">
            AND ( WRIOFF.CONTRACT_NUMBER LIKE CONCAT(concat('%',#{contractInfo}),'%')
            OR   WRIOFF.CONTRACT_NAME LIKE CONCAT(concat('%',#{contractInfo}),'%') )
        </if>
        <if test="currencyInfo !=null and currencyInfo !=''">
            AND nvl(CBA.CURRENCY,'CNY')  in
            <foreach item="item" index="index" collection="currencyInfo" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY   CT.TRANSACTION_DATE desc
    </select>

</mapper>
