<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.HlsCusCshWriteOffMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.HlsCusCshWriteOff">
        <id column="write_off_id" property="writeOffId" jdbcType="BIGINT"/>
        <result column="write_off_type" property="writeOffType" jdbcType="VARCHAR"/>
        <result column="write_off_date" property="writeOffDate" jdbcType="TIMESTAMP"/>
        <result column="csh_transaction_id" property="cshTransactionId" jdbcType="BIGINT"/>
        <result column="csh_write_off_amount" property="cshWriteOffAmount" jdbcType="DOUBLE"/>
        <result column="subsequent_csh_trx_id" property="subsequentCshTrxId" jdbcType="BIGINT"/>
        <result column="subseq_csh_write_off_amount" property="subseqCshWriteOffAmount" jdbcType="DOUBLE"/>
        <result column="reversed_flag" property="reversedFlag" jdbcType="VARCHAR"/>
        <result column="reversed_write_off_id" property="reversedWriteOffId" jdbcType="BIGINT"/>
        <result column="reversed_date" property="reversedDate" jdbcType="TIMESTAMP"/>
        <result column="cashflow_id" property="cashflowId" jdbcType="BIGINT"/>
        <result column="contract_id" property="contractId" jdbcType="BIGINT"/>
        <result column="times" property="times" jdbcType="BIGINT"/>
        <result column="cf_item" property="cfItem" jdbcType="BIGINT"/>
        <result column="cf_type" property="cfType" jdbcType="BIGINT"/>
        <result column="write_off_due_amount" property="writeOffDueAmount" jdbcType="DOUBLE"/>
        <result column="write_off_principal" property="writeOffPrincipal" jdbcType="DOUBLE"/>
        <result column="write_off_interest" property="writeOffInterest" jdbcType="DOUBLE"/>
        <result column="write_off_due_amount_format" property="writeOffDueAmountFormat" jdbcType="VARCHAR"/>
        <result column="write_off_principal_format" property="writeOffPrincipalFormat" jdbcType="VARCHAR"/>
        <result column="write_off_interest_format" property="writeOffInterestFormat" jdbcType="VARCHAR"/>
        <result column="payment_req_line_id" property="paymentReqLineId" jdbcType="BIGINT"/>
        <result column="payment_req_id" property="paymentReqId" jdbcType="BIGINT"/>
        <result column="write_off_date_from" property="writeOffDateFrom" jdbcType="TIMESTAMP"/>
        <result column="write_off_date_to" property="writeOffDateTo" jdbcType="TIMESTAMP"/>
        <result column="csh_write_off_amount_from" property="cshWriteOffAmountFrom" jdbcType="DOUBLE"/>
        <result column="csh_write_off_amount_to" property="cshWriteOffAmountTo" jdbcType="DOUBLE"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="bp_id" property="bpId" jdbcType="BIGINT"/>
        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR"/>
        <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR"/>
        <result column="transaction_num" property="transactionNum" jdbcType="BIGINT"/>
        <result column="contract_number" property="contractNumber" jdbcType="BIGINT"/>
        <result column="transaction_amount" property="transactionAmount" jdbcType="BIGINT"/>
        <result column="transaction_date" property="transactionDate" jdbcType="DATE"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="cf_item_desc" property="cfItemDesc" jdbcType="VARCHAR"/>
        <result column="cf_type_desc" property="cfTypeDesc" jdbcType="VARCHAR"/>
        <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR"/>
        <result column="bank_branch_name" property="bankBranchName" jdbcType="VARCHAR"/>
        <result column="company_short_name" property="companyShortName" jdbcType="VARCHAR"/>
        <result column="bp_bank_account_name" property="bpBankAccountName" jdbcType="VARCHAR"/>
        <result column="bp_bank_account_num" property="bpBankAccountNum" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="division" property="division"/>
        <result column="documentType" property="documentType"/>
        <result column="conlNUM" property="conlNUM"/>
        <result column="conlbNUM" property="conlbNUM"/>
        <result column="write_off_month" property="writeOffMonth" jdbcType="BIGINT"/>
        <result column="billing_status" property="billingStatus"/>
        <result column="time_count" property="timeCount"/>
        <result column="LAST_UPDATE_DATE" property="LAST_UPDATE_DATE"/>
        <result column="userName" property="userName"/>
        <result column="cf_direction" property="cf_direction"/>
        <result column="penalty_calc_date" property="penaltyCalcDate" jdbcType="TIMESTAMP"/>
        <result column="write_off_doc_category" property="writeOffDocCategory"/>
        <result column="withdraw_cf_id" property="withdrawCfId"/>
        <result column="repayment_id" property="repaymentId"/>
        <result column="withdraw_id" property="withdrawId"/>
        <result column="bank_slip_num" property="bankSlipNum"/>
        <result column="withdraw_amount" property="withdrawAmount"/>
        <result column="withdraw_number" property="withdrawNumber"/>
        <result column="import_flag" property="importFlag" jdbcType="VARCHAR"/>
        <result column="APPROVAL_NUMBER" property="approvalNumber" jdbcType="VARCHAR"/>

        <result column="non_refund_flag" property="nonRefundFlag" />
        <result column="refund_flag" property="refundFlag" />
        <result column="write_off_type_n" property="writeOffTypeN" />
        <result column="due_date" property="dueDate" />
        <result column="cf_item_n" property="cfItemN" />
        <result column="tenant_name" property="tenantName" />
        <result column="reversed_flag_n" property="reversedFlagN" />
        <result column="transaction_type" property="transactionType" />


        <result column="project_number" property="projectNumber" />
        <result column="company_spv_n" property="companySpvN" />
        <result column="bp_code" property="bpCode" />
        <result column="host_project_manager_n" property="hostProjectManagerN" />
        <result column="host_unit_name" property="hostUnitName" />
        <result column="due_amount" property="dueAmount" />
        <result column="net_due_amount" property="netDueAmount" />
        <result column="vat_due_amount" property="vatDueAmount" />
        <result column="principal" property="principal" />
        <result column="net_principal" property="netPrincipal" />
        <result column="vat_principal" property="vatPrincipal" />
        <result column="interest" property="interest" />
        <result column="vat_interest" property="vatInterest" />
        <result column="net_interest" property="netInterest" />
        <result column="write_off_due_amount_from" property="writeOffDueAmountFrom" />
        <result column="write_off_due_amount_to" property="writeOffDueAmountTo" />
        <result column="allocation_id_str" property="allocationIdStr" />

        <result column="allocation_id_str" property="allocationIdStr" />
        <result column="payment_number" property="paymentNumber" />

        <result column="write_off_flag" property="writeOffFlag" />
        <result column="prj_contract_number" property="prjContractNumber"/>
        <result column="flow_no" property="flowNo"/>
        <result column="flow_status" property="flowStatus"/>
    </resultMap>

    <select id="selectAllCshWriteOff" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff" resultMap="BaseResultMap">
        SELECT REQUEST_ID,PROGRAM_ID,OBJECT_VERSION_NUMBER,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,
        LAST_UPDATE_DATE,LAST_UPDATE_LOGIN,WRITE_OFF_ID,WRITE_OFF_TYPE,WRITE_OFF_DATE,CSH_TRANSACTION_ID,
        CSH_WRITE_OFF_AMOUNT,SUBSEQUENT_CSH_TRX_ID,SUBSEQ_CSH_WRITE_OFF_AMOUNT,REVERSED_FLAG,
        REVERSED_WRITE_OFF_ID,REVERSED_DATE,CASHFLOW_ID,CONTRACT_ID,TIMES,CF_ITEM,CF_TYPE,
        DESCRIPTION,WRITE_OFF_DUE_AMOUNT,WRITE_OFF_PRINCIPAL,WRITE_OFF_INTEREST,IMPORT_FLAG,
        PAYMENT_REQ_LINE_ID,PAYMENT_REQ_ID,repayment_id,write_off_doc_category,withdraw_cf_id,withdraw_id
        FROM csh_write_off
        <where>
            <if test="writeOffType !=null">
                write_off_type = #{writeOffType}
            </if>
            <if test="cshTransactionId !=null">
                AND csh_transaction_id = #{cshTransactionId}
            </if>
            <if test="cashflowId !=null">
                AND cashflow_id = #{cashflowId}
            </if>
            <if test="withdrawId !=null">
                AND withdraw_id = #{withdrawId}
            </if>
            <if test="cfItem !=null">
                AND cf_item = #{cfItem}
            </if>
            <if test="reversedFlag !=null">
                AND reversed_flag = #{reversedFlag}
            </if>
        </where>
        ORDER BY write_off_Id ASC
    </select>

    <select id="selectNoReverseCount" resultType="java.lang.Integer">
	SELECT
		COUNT(1)
	FROM
		CSH_WRITE_OFF CWO
	WHERE
		(CWO.REVERSED_FLAG ='N'
	OR  CWO.REVERSED_FLAG IS NULL)
	AND CWO.CSH_TRANSACTION_ID=#{cshTransactionId}
	</select>

    <resultMap id="allWriteOffMap" type="java.util.Map">
        <result column="cshTransactionId" property="cshTransactionId"/>
        <result column="write_off_doc_category" property="writeOffDocCategory"/>
        <result column="writeOffId" property="writeOffId"/>
        <result column="transactionAmount" property="transactionAmount"/>
        <result column="bankSlipNum" property="bankSlipNum"/>
        <result column="paymentMethod" property="paymentMethod"/>
        <result column="payment_method_name" property="paymentMethodName"/>
        <result column="writeOffDate" property="writeOffDate"/>
        <result column="writeOffDueAmount" property="writeOffDueAmount"/>
        <result column="writeOffInterest" property="writeOffInterest"/>
        <result column="writeOffPrincipal" property="writeOffPrincipal"/>
        <result column="contractId" property="contractId"/>
        <result column="cashflowId" property="cashflowId"/>
        <result column="contractNumber" property="contractNumber"/>
        <result column="times" property="times"/>
        <result column="write_off_interest" property="writeOffInterest"/>
        <result column="write_off_principal" property="writeOffPrincipal"/>
        <result column="cfDirection" property="cfDirection"/>
        <result column="writeOffType" property="writeOffType"/>
        <result column="write_off_type_name" property="writeOffTypeName"/>
        <result column="cfItem" property="cfItem"/>
        <result column="cf_item_name" property="cfItemName"/>
        <result column="writeOffDocCategory" property="writeOffDocCategory"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="selectAllWriteOff" resultMap="allWriteOffMap" parameterType="java.util.Map">
        SELECT
        cwo.write_off_doc_category as writeOffDocCategory,
        ct.transaction_id as cshTransactionId,
        cwo.write_off_id as writeOffId,
        ct.transaction_amount as transactionAmount,
        ct.description as description,
        ct.bank_slip_num as bankSlipNum,
        ct.payment_method as paymentMethod,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'CSH.PAYMENT_METHOD'
        and scvb.value = ct.payment_method) as payment_method_name,
        cwo.write_off_date as writeOffDate,
        cwo.write_off_due_amount as writeOffDueAmount,
        nvl(cwo.write_off_interest,0) as writeOffInterest,
        nvl(cwo.write_off_principal,0) as writeOffPrincipal,
        cwo.contract_id as contractId,
        cwo.cashflow_id as cashflowId,
        cc.contract_number as contractNumber,
        cwo.times as times,
        nvl(cwo.write_off_interest,0) write_off_interest,
        nvl(cwo.write_off_principal,0) write_off_principal,
        ccc.cf_direction as cfDirection,
        cwo.write_off_type as writeOffType,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'CSH.WRITE_OFF_TYPE'
        and scvb.value = cwo.write_off_type) as write_off_type_name, -- 核销类型
        cwo.cf_item as cfItem,
        hci.description AS cf_item_name
        FROM
        csh_transaction ct,
        csh_write_off cwo
        LEFT OUTER JOIN con_contract_cashflow ccc on cwo.cashflow_id = ccc.cashflow_id
        LEFT OUTER JOIN con_contract cc on cwo.contract_Id = cc.contract_id
        left OUTER join hls_cashflow_item hci on cwo.cf_item = hci.cf_item
        WHERE
        <if test="transactionId != null">
            ct.transaction_id = #{transactionId} AND
        </if>
        cwo.csh_transaction_id = ct.transaction_id
        and cwo.write_off_type in ('PAYMENT_DEBT','RECEIPT_CREDIT')
        AND ct.reversed_flag = 'N'
        AND cwo.reversed_flag = 'N'
        UNION

        SELECT
        cwo.write_off_doc_category as writeOffDocCategory,
        ct.transaction_id as cshTransactionId,
        cwo.write_off_id as writeOffId,
        ct.transaction_amount as transactionAmount,
        ct.description as description,
        ct.bank_slip_num as bankSlipNum,
        ct.payment_method as paymentMethod,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'CSH.PAYMENT_METHOD'
        and scvb.value = ct.payment_method) as payment_method_name,
        cwo.write_off_date as writeOffDate,
        cwo.write_off_due_amount as writeOffDueAmount,
        nvl(cwo.write_off_interest,0) as writeOffInterest,
        nvl(cwo.write_off_principal,0) as writeOffPrincipal,
        cwo.contract_id as contractId,
        cwo.cashflow_id as cashflowId,
        cc.contract_number as contractNumber,
        cwo.times as times,
        nvl(cwo.write_off_interest,0) write_off_interest,
        nvl(cwo.write_off_principal,0) write_off_principal,
        ccc.cf_direction as cfDirection,
        cwo.write_off_type as writeOffType,
        (select scvb.meaning from sys_code_value_b scvb , sys_code_b scb where scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'CSH.WRITE_OFF_TYPE'
        and scvb.value = cwo.write_off_type) as write_off_type_name, -- 核销类型
        cwo.cf_item as cfItem,
        hci.description AS cf_item_name
        FROM
        csh_transaction ct,
        csh_write_off cwo
        LEFT OUTER JOIN fct_quotation_cashflow ccc on cwo.cashflow_id = ccc.quotation_cashflow_id
        LEFT OUTER JOIN fct_contract cc on cwo.contract_Id = cc.contract_id
        left OUTER join hls_cashflow_item hci on cwo.cf_item = hci.cf_item
        WHERE
        <if test="transactionId != null">
            ct.transaction_id = #{transactionId} AND
        </if>
        cwo.csh_transaction_id = ct.transaction_id
        and cwo.write_off_type in ('CT_FCT_PAYMENT_DEBT','CT_FCT_RECEIPT_CREDIT')
        AND ct.reversed_flag = 'N'
        AND cwo.reversed_flag = 'N'
    </select>

    <select id="selectAllCancelAfterVerificationDetail" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff"
            resultMap="BaseResultMap">
        SELECT
        nvl(cwo.csh_write_off_amount, 0) AS writeOffDueAmount,
        -- 核销金额
        cwo.write_off_date AS writeOffDate,
        -- 核销日期
        (
        SELECT
        scvb.meaning
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scvb.CODE_ID = scb.CODE_ID
        AND scb. CODE = 'CSH.WRITE_OFF_TYPE'
        AND scvb.
        VALUE
        = cwo.write_off_type
        ) AS writeOffType,
        -- 核销类型
        cc.contract_number
        AS contractNumber,
        -- 合同编号
        '' as approvalNumber,
        cc.contract_id AS contractId,
        cwo.times AS times,
        -- 期数
        (SELECT
        bp_name
        FROM
        hls_bp_master
        WHERE
        bp_id = cc.tenant_id ) AS bpName,
        -- 承租人
        cc.tenant_id AS bpId,
        (select hci.description from hls_cashflow_item hci where hci.cf_item=cwo.cf_item) as description,
        -- 性质
        nvl(cwo.write_off_principal, 0) AS writeOffPrincipal,
        -- 本金
        nvl(cwo.write_off_interest, 0) AS writeOffInterest,
        -- 利息
        cwo.LAST_UPDATE_DATE,
        -- 操作时间
        cwo.import_flag,
        (
        SELECT
        sys.description
        FROM
        sys_user sys
        WHERE
        sys.USER_ID = cwo.CREATED_BY
        ) AS userName
        FROM
        csh_write_off cwo
        LEFT JOIN con_contract_cashflow cashflow ON cwo.cashflow_id = cashflow.cashflow_id
        LEFT JOIN con_contract cc ON cc.contract_id = cwo.contract_id
        <where>
            <if test="writeOffId !=null">
                cwo.write_off_id=#{writeOffId}
            </if>
            <if test="writeOffDocCategory !=null">
                and cc.document_category=#{writeOffDocCategory}
            </if>
        </where>
        UNION
        SELECT
        nvl(cwo.csh_write_off_amount, 0) AS writeOffDueAmount,
        -- 核销金额
        cwo.write_off_date AS writeOffDate,
        -- 核销日期
        (
        SELECT
        scvb.meaning
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scvb.CODE_ID = scb.CODE_ID
        AND scb. CODE = 'CSH.WRITE_OFF_TYPE'
        AND scvb.
        VALUE
        = cwo.write_off_type
        ) AS writeOffType,
        -- 核销类型
        cc.contract_number
        AS contractNumber,
        -- 合同编号
        fp.APPROVAL_NUMBER as approvalNumber,
        cc.contract_id AS contractId,
        cwo.times AS times,
        -- 期数
        case
        when cashflow.cf_item=54
        then
        (
        select
        max(hbm.bp_name)
        from
        fct_project_bp fpb ,
        hls_bp_master hbm
        where
        fpb.principal_repayment_party='Y'
        and hbm.bp_id=fpb.bp_id
        and fpb.project_id=fp.project_id)
        when cashflow.cf_item=51
        then
        (
        select
        max(hbm.bp_name)
        from
        fct_project_bp fpb ,
        hls_bp_master hbm
        where
        fpb.repay_guarantee_party='Y'
        and hbm.bp_id=fpb.bp_id
        and fpb.project_id=fp.project_id)
        else (
        case fp.fund_restream_method
        when 'DIRECT'
        then
        (
        select
        max(hbm.bp_name)
        from
        fct_project_bp fpb ,
        hls_bp_master hbm
        where
        fpb.bp_role_type='SELLER'
        and hbm.bp_id=fpb.bp_id
        and fpb.project_id=fp.project_id)
        else
        (
        select
        max(hbm.bp_name)
        from
        fct_project_bp fpb ,
        hls_bp_master hbm
        where
        fpb.bp_role_type='BUYER'
        and hbm.bp_id=fpb.bp_id
        and fpb.project_id=fp.project_id)
        end)
        end bpName,

        -- 承租人
        case
        when cashflow.cf_item=54
        then
        (
        select
        max(hbm.bp_id)
        from
        fct_project_bp fpb ,
        hls_bp_master hbm
        where
        fpb.principal_repayment_party='Y'
        and hbm.bp_id=fpb.bp_id
        and fpb.project_id=fp.project_id)
        when cashflow.cf_item=51
        then
        (
        select
        max(hbm.bp_id)
        from
        fct_project_bp fpb ,
        hls_bp_master hbm
        where
        fpb.repay_guarantee_party='Y'
        and hbm.bp_id=fpb.bp_id
        and fpb.project_id=fp.project_id)
        else (
        case fp.fund_restream_method
        when 'DIRECT'
        then
        (
        select
        max(hbm.bp_id)
        from
        fct_project_bp fpb ,
        hls_bp_master hbm
        where
        fpb.bp_role_type='SELLER'
        and hbm.bp_id=fpb.bp_id
        and fpb.project_id=fp.project_id)
        else
        (
        select
        max(hbm.bp_id)
        from
        fct_project_bp fpb ,
        hls_bp_master hbm
        where
        fpb.bp_role_type='BUYER'
        and hbm.bp_id=fpb.bp_id
        and fpb.project_id=fp.project_id)
        end)
        end bpId,


        (select hci.description from hls_cashflow_item hci where hci.cf_item=cwo.cf_item) as description,
        -- 性质
        nvl(cwo.write_off_principal, 0) AS writeOffPrincipal,
        -- 本金
        nvl(cwo.write_off_interest, 0) AS writeOffInterest,
        -- 利息
        cwo.LAST_UPDATE_DATE,
        -- 操作时间
        cwo.import_flag,
        (
        SELECT
        sys.description
        FROM
        sys_user sys
        WHERE
        sys.USER_ID = cwo.CREATED_BY
        ) AS userName
        FROM
        csh_write_off cwo
        LEFT JOIN fct_quotation_cashflow cashflow ON cwo.cashflow_id = cashflow.quotation_cashflow_id
        LEFT JOIN fct_contract cc ON cc.contract_id = cwo.contract_id
        LEFT JOIN fct_project fp ON fp.project_id=cc.project_id
        <where>
            <if test="writeOffId !=null">
                cwo.write_off_id=#{writeOffId}
            </if>
            <if test="writeOffDocCategory !=null">
                and cc.document_category=#{writeOffDocCategory}
            </if>
        </where>

    </select>


    <select id="queryWriteOff" resultMap="BaseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff">
        select t1.* from (SELECT t.*,
        (SELECT cvb.meaning FROM sys_code_b cv, sys_code_value_b cvb where cv.CODE = 'CSH301_WRITE_OFF_TYPE'
        AND cv.code_id = cvb.code_id
        AND cvb.VALUE = t.write_off_type)write_off_type_n,
        (SELECT ct.transaction_date
        FROM csh_transaction ct
        WHERE ct.transaction_id = t.csh_transaction_id) transaction_date,
        (SELECT ct.transaction_type
        FROM csh_transaction ct
        WHERE ct.transaction_id = t.csh_transaction_id) transaction_type,
        (SELECT cvb.meaning
        FROM sys_code_b cv, sys_code_value_b cvb, csh_transaction ct
        WHERE cv.CODE = 'CSH301_TRANSACTION_TYPE'
        AND cv.code_id = cvb.code_id
        AND cvb. VALUE = ct.transaction_type
        AND ct.transaction_id = t.csh_transaction_id) transaction_type_n,
        (SELECT ccc.due_date
        FROM con_contract_cashflow ccc
        WHERE ccc.cashflow_id = t.CASHFLOW_ID) due_date,
        (SELECT i.description
        FROM hls_cashflow_item i
        WHERE i.cf_item = t.cf_item
        and i.cf_type = t.cf_type) cf_item_n,
        ((SELECT nvl(ccc.due_amount, 0)
        FROM con_contract_cashflow ccc
        WHERE ccc.cashflow_id = t.cashflow_id) -
        (SELECT SUM(nvl(csh.csh_write_off_amount, 0))
        FROM csh_write_off csh
        WHERE csh.cashflow_id = t.cashflow_id
        AND csh.reversed_flag = 'N')) unwrite_off_amount,
        (select cc.contract_number from con_contract cc where cc.contract_id = t.contract_id)contract_number,
        (select cc.contract_name from con_contract cc where cc.contract_id = t.contract_id)contract_name,
        (select bp.bp_name from hls_bp_master bp ,con_contract cc where bp.bp_id = cc.tenant_id and cc.contract_id = t.contract_id)tenant_name,
        (select u.description from sys_user u where u.user_id = t.created_by)write_off_by_n,
        (SELECT cvb.meaning
        FROM sys_code_b cv, sys_code_value_b cvb
        WHERE cv.CODE = 'HLS_REVERSED_FLAG'
        AND cv.code_id = cvb.code_id
        AND cvb. VALUE = t.REVERSED_FLAG) reversed_flag_n,
        (select q.quotation_id from con_contract_cashflow ccc,prj_quotation q where ccc.cashflow_id = t.cashflow_id and ccc.generated_source = 'PRJ_QUOTATION' and ccc.generated_source_doc_id = q.quotation_id)quotation_id,
        (select ts.write_off_flag  from csh_transaction ts  where  t.csh_transaction_id=ts.transaction_id)  write_off_flag
        FROM csh_write_off t
        WHERE  t.write_off_type != 'REFUND'
        )t1
        <where>
            1=1
            <if test="cshTransactionId">
                and  t1.csh_transaction_id =#{cshTransactionId}
            </if>
            <if test="reversedFlag">
                and  t1.reversed_flag = #{reversedFlag}
            </if>
            <if test="nonRefundFlag">
                and ('Y'= #{nonRefundFlag} )
            </if>
            <if test="refundFlag">
                and ('Y'= #{refundFlag} AND t1.write_off_type = 'REFUND')
            </if>
            <if test="contractNumber!=null">
                <bind name="contractNumber" value="'%'+contractNumber+'%'"/>
                and t1.contract_number like #{contractNumber}
            </if>
            <if test="contractName!=null">
                <bind name="contractName" value="'%'+contractName+'%'"/>
                and t1.contract_name like #{contractName}
            </if>
            <if test="tenantName!=null">
                <bind name="tenantName" value="'%'+tenantName+'%'"/>
                and t1.tenant_name like #{tenantName}
            </if>
            <if test="transactionType!=null">
                and t1.transaction_type = #{transactionType}
            </if>
        </where>
    </select>



    <update id="updateCshFlow" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff">
        UPDATE con_contract_cashflow csh
        SET csh.received_amount = nvl(csh.received_amount,0) + #{cshWriteOffAmount},
        csh.received_principal = nvl(csh.received_principal,0) + #{writeOffPrincipal},
        csh.received_interest = nvl(csh.received_interest,0) + #{writeOffInterest},
        csh.write_off_flag = #{writeOffFlag},
        csh.last_received_date = #{lastReceiveDate},
        csh.full_write_off_date = #{fullWriteOffDate}
        WHERE
        csh.cashflow_id = #{cashflowId}
    </update>

    <update id="updateSubCshTrxId">
        update csh_write_off wo set
        wo.subsequent_csh_trx_id = #{transactionId,jdbcType=BIGINT},
        wo.subseq_csh_write_off_amount = #{transactionAmount,jdbcType=DOUBLE}
        where
        wo.write_off_id = #{writeOffId,jdbcType=BIGINT}
    </update>

    <select id="selectPenaltyWriteOff" resultMap="BaseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff">
		SELECT
	       cwo.*,
		   ct.penalty_calc_date
        FROM
	       csh_write_off cwo,
	       csh_transaction ct
        WHERE
            cwo.csh_transaction_id = ct.transaction_id
            and cwo.reversed_flag = 'N'
            and cwo.cashflow_id = #{cashflowId}
            and ct.transaction_date > #{dueDate}
	</select>

    <select id="selectAdvancedWriteOff" resultMap="BaseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff">
        SELECT
            cwo.*,
            ct.penalty_calc_date
        FROM
            csh_write_off cwo,
            csh_transaction ct
        WHERE
            cwo.csh_transaction_id = ct.transaction_id
          and cwo.reversed_flag = 'N'
          and cwo.cashflow_id = #{cashflowId}
          and ct.penalty_calc_date  &lt;= #{dueDate}
    </select>


    <select id="selectPenaltyWriteOffDay" resultMap="BaseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff">
        SELECT
            cwo.*,
            ct.penalty_calc_date
        FROM
            csh_write_off cwo,
            csh_transaction ct
        <where>
            cwo.csh_transaction_id = ct.transaction_id
            and cwo.reversed_flag = 'N'
            <if test="cashflowId!=null">
               and cwo.cashflow_id = #{cashflowId}
            </if>
            <if test="contractId!=null">
                and cwo.contract_id = #{contractId}
            </if>
            <if test="penaltyCalcDate!=null">
                and ct.penalty_calc_date = #{penaltyCalcDate}
            </if>
            <if test="cfItem!=null">
                and cwo.cf_item = #{cfItem}
            </if>
            <if test="times!=null">
                and cwo.times = #{times}
            </if>
        </where>
    </select>



    <update id="updateCshWriteOffbyId">
        update csh_write_off wo set
        wo.reversed_flag = #{reversedFlag,jdbcType=VARCHAR},
        wo.reversed_write_off_id = #{subWriteOffId,jdbcType=BIGINT},
        wo.reversed_date = #{reversedDate,jdbcType=TIMESTAMP},
        wo.LAST_UPDATED_BY = #{userId,jdbcType=BIGINT},
        wo.LAST_UPDATE_DATE = #{date,jdbcType=TIMESTAMP}
        where
            wo.write_off_id = #{writeOffId,jdbcType=BIGINT}
    </update>

    <update id="updateContractCashFlow" parameterType="com.hand.hls.cont.dto.HlsCusConContractCashflow">
        UPDATE con_contract_cashflow ccc
        SET ccc.received_amount = #{receivedAmount},
            ccc.received_principal = #{receivedPrincipal},
            ccc.received_interest = #{receivedInterest},
            ccc.write_off_flag = #{writeOffFlag},
            ccc.last_received_date = #{lastReceivedDate},
            ccc.full_write_off_date = #{fullWriteOffDate}
        WHERE
            ccc.cashflow_id = #{cashflowId}
    </update>


    <select id="queryByCfItem" resultMap="BaseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff">
       SELECT cwo.*
         FROM csh_write_off cwo, con_contract_cashflow ccc
       <where>
        cwo.cashflow_id = ccc.cashflow_id
        and ( ccc.cf_item = 0 or ccc.cf_item = 90 )
        and cwo.cashflow_id =#{cashflowId}
        and cwo.write_off_id = #{writeOffId}
       </where>

    </select>

    <select id="queryWriteOffByFinance" resultMap="BaseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff">
       SELECT cwo.*
         FROM csh_write_off cwo
       <where>
              cwo.reversed_flag = 'N'
             and cwo.write_off_type =  'RECEIPT_CREDIT'
             and   cwo.contract_id = #{contractId}
          <if test="writeOffDateFrom != null">
             and   cwo.write_off_date   &gt;   #{writeOffDateFrom}
          </if>
          <if test="writeOffDateTo != null">
              and   cwo.write_off_date  &lt;=  #{writeOffDateTo}
          </if>

       </where>

    </select>

    <select id="queryWriteOffForRpt" resultMap="BaseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff">
        select t1.* from (SELECT t.*,
        (SELECT cvb.meaning FROM sys_code_b cv, sys_code_value_b cvb where cv.CODE = 'CSH301_WRITE_OFF_TYPE'
        AND cv.code_id = cvb.code_id
        AND cvb.VALUE = t.write_off_type)write_off_type_n,
        (SELECT ccc.due_amount from con_contract_cashflow ccc where ccc.cashflow_id = t.cashflow_id) due_amount,
        (SELECT ct.transaction_date
        FROM csh_transaction ct
        WHERE ct.transaction_id = t.csh_transaction_id) transaction_date,
        (SELECT ct.transaction_num
        FROM csh_transaction ct
        WHERE ct.transaction_id = t.csh_transaction_id) transaction_num,
        (SELECT ct.transaction_amount
        FROM csh_transaction ct
        WHERE ct.transaction_id = t.csh_transaction_id) transaction_amount,
        (SELECT ct.transaction_type
        FROM csh_transaction ct
        WHERE ct.transaction_id = t.csh_transaction_id) transaction_type,
        (SELECT cvb.meaning
        FROM sys_code_b cv, sys_code_value_b cvb, csh_transaction ct
        WHERE cv.CODE = 'CSH301_TRANSACTION_TYPE'
        AND cv.code_id = cvb.code_id
        AND cvb. VALUE = ct.transaction_type
        AND ct.transaction_id = t.csh_transaction_id) transaction_type_n,
        (SELECT ccc.due_date
        FROM con_contract_cashflow ccc
        WHERE ccc.cashflow_id = t.CASHFLOW_ID) due_date,
        (SELECT i.description
        FROM hls_cashflow_item i
        WHERE i.cf_item = t.cf_item
        and i.cf_type = t.cf_type) cf_item_n,
        ((SELECT nvl(ccc.due_amount, 0)
        FROM con_contract_cashflow ccc
        WHERE ccc.cashflow_id = t.cashflow_id) -
        (SELECT SUM(nvl(csh.csh_write_off_amount, 0))
        FROM csh_write_off csh
        WHERE csh.cashflow_id = t.cashflow_id
        AND csh.reversed_flag = 'N')) unwrite_off_amount,
        (select cc.contract_number from con_contract cc where cc.contract_id = t.contract_id)contract_number,
        (select cc.contract_name from con_contract cc where cc.contract_id = t.contract_id)contract_name,
        (select bp.bp_name from hls_bp_master bp ,con_contract cc where bp.bp_id = cc.tenant_id and cc.contract_id = t.contract_id)tenant_name,
        (select u.description from sys_user u where u.user_id = t.created_by)write_off_by_n,
        (SELECT cvb.meaning
        FROM sys_code_b cv, sys_code_value_b cvb
        WHERE cv.CODE = 'HLS_REVERSED_FLAG'
        AND cv.code_id = cvb.code_id
        AND cvb. VALUE = t.REVERSED_FLAG) reversed_flag_n,
        (select q.quotation_id from con_contract_cashflow ccc,prj_quotation q where ccc.cashflow_id = t.cashflow_id and ccc.generated_source = 'PRJ_QUOTATION' and ccc.generated_source_doc_id = q.quotation_id)quotation_id
        FROM csh_write_off t)t1
        <where>
            1=1
            <if test="cashflowId != null">
                and t1.cashflow_id =  #{cashflowId}
            </if>
        </where>
    </select>



    <select id="queryWriteOffForPenalty" resultMap="BaseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff">
        select t1.* from (SELECT t.*,
        (SELECT cvb.meaning FROM sys_code_b cv, sys_code_value_b cvb where cv.CODE = 'CSH301_WRITE_OFF_TYPE'
        AND cv.code_id = cvb.code_id
        AND cvb.VALUE = t.write_off_type)write_off_type_n,
        (SELECT ct.transaction_date
        FROM csh_transaction ct
        WHERE ct.transaction_id = t.csh_transaction_id) transaction_date,
        nvl((select  wm_concat(car.allocation_id) from
        csh_allocation_receipt car where car.transaction_id = t.csh_transaction_id),-1) allocation_id_str,
        (SELECT ct.transaction_num
        FROM csh_transaction ct
        WHERE ct.transaction_id = t.csh_transaction_id) transaction_num,
        (SELECT ct.transaction_amount
        FROM csh_transaction ct
        WHERE ct.transaction_id = t.csh_transaction_id) transaction_amount,
        (SELECT ct.transaction_type
        FROM csh_transaction ct
        WHERE ct.transaction_id = t.csh_transaction_id) transaction_type,
        (SELECT cvb.meaning
        FROM sys_code_b cv, sys_code_value_b cvb, csh_transaction ct
        WHERE cv.CODE = 'CSH301_TRANSACTION_TYPE'
        AND cv.code_id = cvb.code_id
        AND cvb. VALUE = ct.transaction_type
        AND ct.transaction_id = t.csh_transaction_id) transaction_type_n,
        (SELECT ccc.due_date
        FROM con_contract_cashflow ccc
        WHERE ccc.cashflow_id = t.CASHFLOW_ID) due_date,
        (SELECT ccc.due_amount
        FROM con_contract_cashflow ccc
        WHERE ccc.cashflow_id = t.CASHFLOW_ID) due_amount,
        (SELECT i.description
        FROM hls_cashflow_item i
        WHERE i.cf_item = t.cf_item
        and i.cf_type = t.cf_type) cf_item_n,
        ((SELECT nvl(ccc.due_amount, 0)
        FROM con_contract_cashflow ccc
        WHERE ccc.cashflow_id = t.cashflow_id) -
        (SELECT SUM(nvl(csh.csh_write_off_amount, 0))
        FROM csh_write_off csh
        WHERE csh.cashflow_id = t.cashflow_id
        AND csh.reversed_flag = 'N')) unwrite_off_amount,
        (select cc.contract_number from con_contract cc where cc.contract_id = t.contract_id)contract_number,
        (select cc.contract_name from con_contract cc where cc.contract_id = t.contract_id)contract_name,
        (select bp.bp_name from hls_bp_master bp ,con_contract cc where bp.bp_id = cc.tenant_id and cc.contract_id = t.contract_id)tenant_name,
        (select u.description from sys_user u where u.user_id = t.created_by)write_off_by_n,
        (SELECT cvb.meaning
        FROM sys_code_b cv, sys_code_value_b cvb
        WHERE cv.CODE = 'HLS_REVERSED_FLAG'
        AND cv.code_id = cvb.code_id
        AND cvb. VALUE = t.REVERSED_FLAG) reversed_flag_n,
        (select q.quotation_id from con_contract_cashflow ccc,prj_quotation q where ccc.cashflow_id = t.cashflow_id and ccc.generated_source = 'PRJ_QUOTATION' and ccc.generated_source_doc_id = q.quotation_id)quotation_id
        FROM csh_write_off t)t1
        <where>
             t1.cf_item=9
            <if test="contractId != null">
                and t1.contract_id =  #{contractId}
            </if>
        </where>
    </select>

   <select id="writeOffDetailQueryReport" resultMap="BaseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff">
    select * from (
          SELECT c.contract_number payment_number,
              p.project_number,
              p.contract_number,
              (SELECT t.company_full_name
               FROM fnd_company t
               WHERE t.company_id = p.company_spv) company_spv_n,
              c.contract_name,
              (SELECT bp_code FROM hls_bp_master WHERE bp_id = c.tenant_id) AS bp_code,
              (SELECT bp_name FROM hls_bp_master WHERE bp_id = c.tenant_id) AS bp_name,
              (SELECT s.description
               FROM sys_user s
               WHERE s.user_id = p.host_project_manager) host_project_manager_n,
              (SELECT fou.unit_name
               FROM fnd_org_unit fou
               WHERE fou.unit_id = p.host_unit_id) host_unit_name,
              ct.transaction_num,
              ct.transaction_date,
              ct.transaction_amount,
              o.write_off_date,
              o.write_off_due_amount,
              o.write_off_principal,
              o.write_off_interest,
              o.cf_item,
              (SELECT h.description
               FROM hls_cashflow_item h
               WHERE h.cf_item = o.cf_item) cf_item_n,
              cc.due_date,
              nvl(cc.due_amount, 0) due_amount,
              nvl(cc.net_due_amount, 0) net_due_amount,
              nvl(cc.vat_due_amount, 0) vat_due_amount,
              nvl(cc.principal, 0) principal,
              nvl(cc.net_principal, 0) net_principal,
              nvl(cc.vat_principal, 0) vat_principal,
              nvl(cc.interest, 0) interest,
              nvl(cc.vat_interest, 0) vat_interest,
              nvl(cc.net_interest, 0) net_interest,
              o.reversed_flag,
              (select v.MEANING from sys_code_value_b_v v where v.CODE = 'HLS_REVERSED_FLAG' and v.code_value = o.reversed_flag)reversed_flag_n,
              o.reversed_date,
              o.description,
              nvl((SELECT wm_concat(car.allocation_id)
               FROM csh_allocation_receipt car
               WHERE car.transaction_id =
               ct.transaction_id),
               -1) AS allocation_id_str
       FROM csh_write_off         o,
            con_contract          c,
            prj_project           p,
            csh_transaction       ct,
            con_contract_cashflow cc
       WHERE o.contract_id = c.contract_id
         AND c.project_id = p.project_id
         AND o.csh_transaction_id = ct.transaction_id
         and cc.CF_DIRECTION = 'INFLOW'
         AND o.cashflow_id = cc.cashflow_id)t
       <where>
           1=1
           <if test="paymentNumber !=null">
               and t.payment_number LIKE concat('%',concat(#{paymentNumber},'%') )
           </if>
           <if test="projectNumber !=null">
               and t.project_number LIKE concat('%',concat(#{projectNumber},'%') )
           </if>
           <if test="contractNumber !=null">
               and t.contract_number LIKE concat('%',concat(#{contractNumber},'%') )
           </if>
           <if test="companySpvN !=null">
               and t.company_spv_n LIKE concat('%',concat(#{companySpvN},'%') )
           </if>
           <if test="contractName !=null">
               and t.contract_name LIKE concat('%',concat(#{contractName},'%') )
           </if>
           <if test="bpCode !=null">
               and t.bp_code LIKE concat('%',concat(#{bpCode},'%') )
           </if>
           <if test="bpName !=null">
               and t.bp_name LIKE concat('%',concat(#{bpName},'%') )
           </if>
           <if test="hostProjectManagerN !=null">
               and t.host_project_manager_n LIKE concat('%',concat(#{hostProjectManagerN},'%') )
           </if>
           <if test="hostUnitName !=null">
               and t.host_unit_name LIKE concat('%',concat(#{hostUnitName},'%') )
           </if>
           <if test="cfItem !=null">
               and t.cf_item = #{cfItem}
           </if>
           <if test="currency !=null">
               and t.currency = #{currency}
           </if>
           <if test="dueAmountFrom !=null">
               and t.due_amount &gt;= #{dueAmountFrom}
           </if>
           <if test="dueAmountTo !=null">
               and t.due_amount &lt;= #{dueAmountTo}
           </if>
           <if test="writeOffDueAmountFrom !=null">
               and t.write_off_due_amount &gt;= #{writeOffDueAmountFrom}
           </if>
           <if test="writeOffDueAmountTo !=null">
               and t.write_off_due_amount &lt;= #{writeOffDueAmountTo}
           </if>
           <if test="writeOffDateFrom !=null">
               and t.write_off_date &gt;= #{writeOffDateFrom}
           </if>
           <if test="writeOffDateTo !=null">
               and t.write_off_date &lt;= #{writeOffDateTo}
           </if>
           <if test="reversedFlag !=null">
               and t.reversed_flag = #{reversedFlag}
           </if>

       </where>
       order by t.contract_number,t.write_off_date
   </select>

    <select id="selectCashflowTrans" resultMap="BaseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusCshWriteOff">
        select t.*,
            /*未到期：未还、部分还---01还款中；足额还---04已提还；
             应收日当天：未还、部分还---01还款中；足额还款---03还款完毕；
             到期后：未还，部分还---02已逾期；足额还款---05逾期完成；*/
            case t.write_off_flag
                when 'FULL' then
                    case
                        when trunc(t.due_date )&gt; trunc(t.max_WRITE_OFF_DATE) THEN '04'
                        when trunc(t.due_date )= trunc(t.max_WRITE_OFF_DATE) THEN '03'
                        else '05'
                        end
                else
                    case
                        when trunc(t.due_date )&gt;= trunc(sysdate) THEN '01'
                        else '02'
                        end
                end as flow_status
        from (
            select CT.Flow_No,
                cash.write_off_flag,
               nvl(w.write_off_principal, 0) AS write_off_principal,
               nvl(w.write_off_interest, 0) AS write_off_interest,
                cash.due_date,
                (select max(ct.transaction_DATE)
                from csh_write_off wo, csh_transaction ct
                where wo.cashflow_id=cash.cashflow_id
                  and ct.transaction_id = wo.csh_transaction_id) max_WRITE_OFF_DATE
            from con_contract_cashflow cash, csh_write_off w, csh_transaction ct
            where cash.cashflow_id = w.cashflow_id
            and ct.transaction_id = w.csh_transaction_id
            /*AND CT.Transaction_Type = 'RECEIPT'
            and ct.business_type = 'RECEIPT'*/
            and w.reversed_flag = 'N'
            AND w.write_off_id = #{writeOffId}
        ) t
    </select>
</mapper>
