<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bill.mapper.BillBankAccountMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bill.dto.BillBankAccount">
        <result column="BILL_BANK_ACCOUNT_ID" property="billBankAccountId" jdbcType="DECIMAL" />
        <result column="BANK_ACCOUNT_ID" property="bankAccountId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="BANK_ACCOUNT_TYPE" property="bankAccountType" jdbcType="VARCHAR" />
        <result column="bank_account_type" property="bankAccountTypeN" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SOURCE" property="accountSource" jdbcType="VARCHAR" />
        <result column="LON_BANK_ACCOUNT_ID" property="lonBankAccountId" jdbcType="DECIMAL" />
        <result column="BATCH_ID" property="batchId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="BANK_ACCOUNT_NAME" property="bankAccountName" jdbcType="VARCHAR" />
        <result column="bank_account_name_n" property="bankAccountNameN" jdbcType="VARCHAR" />
        <result column="BANK_BRANCH_NAME" property="bankBranchName" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_NUM" property="bankAccountNum" jdbcType="VARCHAR" />
        <result column="BILL_ID" property="billId" jdbcType="DECIMAL" />
        <result column="HISTORY_FLAG" property="historyFlag" jdbcType="VARCHAR" />
        <result column="SAME_ACCOUNT_FLAG" property="sameAccountFlag" jdbcType="VARCHAR" />
        <result column="account_source_n" property="accountSourceN" jdbcType="VARCHAR" />
        <result column="bank_account_id_n" property="bankAccountIdN" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectBillBankAccount" parameterType="com.hand.hls.bill.dto.BillBankAccount" resultMap="BaseResultMap">
        SELECT
        CLCBA.bill_BANK_ACCOUNT_ID,
        CLCBA.BANK_ACCOUNT_ID,
        CLCBA.bill_id,
        CLCBA.CONTRACT_ID,
        CLCBA.BANK_ACCOUNT_TYPE,
        (select scvb.meaning
        from sys_code_value_b scvb, sys_code_b scb
        where scb.code = 'LON.ACCOUNT_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.value = CLCBA.BANK_ACCOUNT_TYPE) as BANK_ACCOUNT_TYPE_N,
        CLCBA.DESCRIPTION,
        CLCBA.ENABLED_FLAG,
        CLCBA.LON_BANK_ACCOUNT_ID,
        CLCBA.ACCOUNT_SOURCE,
        (select scvb.meaning
        from sys_code_value_b scvb, sys_code_b scb
        where scb.code = 'LON_CON_ACCOUNT_SOURCE'
        and scb.code_id = scvb.code_id
        and scvb.value = CLCBA.ACCOUNT_SOURCE) as ACCOUNT_SOURCE_N,
        CLBA.BANK_ACCOUNT_NAME  AS BANK_ACCOUNT_ID_N,
        CLBA.BANK_BRANCH_NAME  AS BANK_BRANCH_NAME,
        CLBA.BANK_ACCOUNT_NAME  AS BANK_ACCOUNT_NAME,
        CLBA.BANK_ACCOUNT_NAME  AS BANK_ACCOUNT_NAME_N,
        CLBA.BANK_ACCOUNT_NUM  AS BANK_ACCOUNT_NUM,
        CLCBA.OBJECT_VERSION_NUMBER
        FROM
        jc_bill_bank_account CLCBA
        LEFT JOIN
        CSH_BANK_ACCOUNT CBA
        ON
        CBA.BANK_ACCOUNT_ID=CLCBA.BANK_ACCOUNT_ID
        LEFT JOIN
        CSH_BANK CB
        ON
        CB.BANK_ID=CBA.BANK_ID
        LEFT JOIN
        CT_LON_BANK_ACCOUNT CLBA
        ON
        CLBA.BANK_ACCOUNT_ID=CLCBA.BANK_ACCOUNT_ID
        WHERE 1=1
        <if test="billId != null and billId != ''">
            AND   CLCBA.bill_id=#{billId}
        </if>
        <if test="billBankAccountId != null and billBankAccountId != ''">
            and CLCBA.bill_bank_account_id = #{billBankAccountId}
        </if>
    </select>
</mapper>