<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.bill.mapper.hlsBillRequestMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.bill.dto.hlsBillRequest">
        <result column="BILL_ID" property="billId" jdbcType="DECIMAL"/>
        <result column="BILL_APPLY_NUMBER" property="billApplyNumber" jdbcType="VARCHAR"/>
        <result column="BILL_STATUS" property="billStatus" jdbcType="VARCHAR"/>
        <result column="BILL_TYPE" property="billType" jdbcType="VARCHAR"/>
        <result column="BILL_FORM" property="billForm" jdbcType="VARCHAR"/>
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL"/>
        <result column="BP_ID_TENANT" property="bpIdTenant" jdbcType="DECIMAL"/>
        <result column="credit_contract_id" property="creditContractId" jdbcType="DECIMAL"/>
        <result column="RECEIVE_BILL_ID" property="receiveBillId" jdbcType="DECIMAL"/>
        <result column="ISSUE_TICKETS" property="issueTickets" jdbcType="VARCHAR"/>
        <result column="BILL_AMOUNT" property="billAmount" jdbcType="DECIMAL"/>
        <result column="BILL_AMOUNT_BALANCE" property="billAmountBalance" jdbcType="DECIMAL"/>
        <result column="MARGIN_BALANCE" property="marginBalance" jdbcType="DECIMAL"/>

        <result column="CURRENY" property="curreny" jdbcType="VARCHAR"/>
        <result column="ISSUE_TICKETS_DATE" property="issueTicketsDate" jdbcType="DATE"/>
        <result column="EXPIRE_DATE" property="expireDate" jdbcType="DATE"/>
        <result column="ACCEPTANCE_BILL_TERM" property="acceptanceBillTerm" jdbcType="DECIMAL"/>
        <result column="CREDIT_DATE" property="creditDate" jdbcType="VARCHAR"/>
        <result column="CHARGE_RATE" property="chargeRate" jdbcType="VARCHAR"/>
        <result column="SERVICE_CHARGE" property="serviceCharge" jdbcType="DECIMAL"/>
        <result column="MARGE_TYPE" property="margeType" jdbcType="VARCHAR"/>
        <result column="MARGE_AMOUNT" property="margeAmount" jdbcType="DECIMAL"/>
        <result column="MARGE_RATE" property="margeRate" jdbcType="VARCHAR"/>
        <result column="LOAN_CONTRACT_ID" property="loanContractId" jdbcType="DECIMAL"/>
        <result column="PAYMENT_REQ_ID" property="paymentReqId" jdbcType="DECIMAL"/>
        <result column="PROCESS_INSTANCE_ID" property="processInstanceId" jdbcType="DECIMAL"/>
        <result column="BANK_ACCOUNT_ID" property="bankAccountId" jdbcType="DECIMAL"/>
        <result column="BANK_ACCOUNT_ID_N" property="bankAccountIdN" jdbcType="VARCHAR"/>

        <result column="BANK_ACCOUNT_ACCOUNT" property="bankAccountAccount" jdbcType="VARCHAR"/>
        <result column="MARGE_LEVEL" property="margeLevel" jdbcType="DECIMAL"/>
        <result column="AGENT_NAME" property="agentName" jdbcType="VARCHAR"/>
        <result column="AGENT_ID" property="agentId" jdbcType="DECIMAL"/>
        <result column="AGENT_ORGANZATION_NAME" property="agentOrganzationName" jdbcType="VARCHAR"/>
        <result column="AGENT_ORGANZATION_ID" property="agentOrganzationId" jdbcType="DECIMAL"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR"/>
        <result column="BILL_STATUS_N" property="billStatusN" jdbcType="VARCHAR"/>
        <result column="BILL_TYPE_N" property="billTypeN" jdbcType="VARCHAR"/>
        <result column="BILL_FORM_N" property="billFormN" jdbcType="VARCHAR"/>
        <result column="ISSUE_TICKETS_N" property="issueTicketsN" jdbcType="VARCHAR"/>
        <result column="MARGE_TYPE_N" property="margeTypeN" jdbcType="VARCHAR"/>
        <result column="ACTUAL_BILL_DATE" property="actualBillDate" jdbcType="DATE"/>

        <result column="EXCHANGE_RATE" property="exchangeRate" jdbcType="DECIMAL"/>
        <result column="BP_ID_TENANT_N" property="bpIdTenantN" jdbcType="VARCHAR"/>
        <result column="RECEIVE_BILL_ID_N" property="receiveBillIdN" jdbcType="VARCHAR"/>
        <result column="CURRENY_N" property="currenyN" jdbcType="VARCHAR"/>
        <result column="CURRENT_MARGIN_INCOME" property="currentMarginIncome" jdbcType="VARCHAR"/>
        <result column="CURRENT_MARGIN_INCOME1" property="currentMarginIncome1" jdbcType="VARCHAR"/>
        <result column="APPLY_BILL_DATE" property="applyBillDate" jdbcType="DATE"/>
        <result column="HANDOVER_METHOD" property="handoverMethod" jdbcType="VARCHAR"/>
        <result column="HANDOVER_METHOD_N" property="handoverMethodN" jdbcType="VARCHAR"/>
        <result column="TRACKING_NUMBER" property="trackingNumber" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="BILL_AMOUNT_YUAN" property="billAmountYuan" jdbcType="VARCHAR"/>
        <result column="PAYMENT_REQ_NUMBER" property="paymentReqNumber" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>

        <result column="manage_email" property="manageEmail" jdbcType="VARCHAR"/>
        <result column="credit_contract_id_n" property="creditContractIdN" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="DECIMAL"/>
        <result column="payment_discharge_radio" property="paymentDischargeRadio" />
        <result column="payment_discharge_amount" property="paymentDischargeAmount" />
        <result column="payment_discharge_date" property="paymentDischargeDate" />
        <result column="payment_discharge_rate" property="paymentDischargeRate" />
        <result column="cash_discharge_amount" property="cashDischargeAmount" />
        <result column="deduct_margin_yes_no" property="deductMarginYesNo" />
        <result column="deduct_margin_yes_no_n" property="deductMarginYesNoN" />
        <result column="release_margin_amount" property="releaseMarginAmount" />
        <result column="payment_amount" property="paymentAmount" />

    </resultMap>
    <select id="queryHlsBillRequestReport" resultMap="BaseResultMap">
        select tt3.* from ( SELECT
        hls.ACCEPTANCE_BILL_TERM,
        hls.ACTUAL_BILL_DATE,
        hls.APPLY_BILL_DATE,
        hls.AGENT_ID,
        hls.CREDIT_CONTRACT_ID,
        (select credit_con_number from lon_credit_contract tc where tc.CREDIT_CONTRACT_ID = hls.CREDIT_CONTRACT_ID)CREDIT_CONTRACT_ID_N,
        hls.AGENT_NAME,

        hls.AGENT_ORGANZATION_ID,
        hls.AGENT_ORGANZATION_NAME,
        hls.BANK_ACCOUNT_ACCOUNT,
        hls.BANK_ACCOUNT_ID,
        ( SELECT Hd.BANK_ACCOUNT_NAME FROM ct_lon_bank_account hd WHERE HD.BANK_ACCOUNT_ID = HLS.BANK_ACCOUNT_ID )
        BANK_ACCOUNT_ID_N,
        hls.BILL_AMOUNT,
        hls.BILL_AMOUNT_BALANCE,
        hls.BILL_AMOUNT_YUAN,
        hls.BILL_APPLY_NUMBER,
        hls.BILL_FORM,
        hls.BILL_ID,
        hls.BILL_STATUS,
        hls.BILL_TYPE,
        hls.BP_ID_TENANT,
        hls.CHARGE_RATE,
        hls.CREATED_BY,
        hls.CREATION_DATE,
        hls.CREDIT_DATE,
        hls.CURRENY,
        hls.DESCRIPTION,
        hls.EXCHANGE_RATE,
        DATE_ADD(hls.ACTUAL_BILL_DATE,INTERVAL hls.ACCEPTANCE_BILL_TERM MONTH) EXPIRE_DATE,


        hls.ISSUE_TICKETS,
        hls.ISSUE_TICKETS_DATE,
        hls.LAST_UPDATED_BY,
        hls.LAST_UPDATE_DATE,
        hls.LAST_UPDATE_LOGIN,
        hls.LOAN_CONTRACT_ID,
        hls.MARGE_AMOUNT,
        hls.MARGE_LEVEL,
        hls.MARGE_RATE,
        hls.MARGE_TYPE,
        hls.MARGIN_BALANCE,
        hls.OBJECT_VERSION_NUMBER,
        hls.PAYMENT_REQ_ID,
        (select hd.PAYMENT_REQ_NUMBER from csh_payment_req_hd hd where hd.payment_Req_id=hls.PAYMENT_REQ_ID)
        PAYMENT_REQ_NUMBER,
        hls.PROCESS_INSTANCE_ID,
        hls.PROGRAM_ID,
        hls.PROJECT_ID,
        hls.PROJECT_NAME,
        hls.RECEIVE_BILL_ID,
        hls.REQUEST_ID,
        hls.SERVICE_CHARGE,
        hls.HANDOVER_METHOD,
        hls.TRACKING_NUMBER,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'HANDOVER_METHOD' AND sc.CODE_VALUE =
        hls.HANDOVER_METHOD ) HANDOVER_METHOD_N,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BILL_STATUS' AND sc.CODE_VALUE = hls.bill_status
        ) bill_status_n,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BILL_TYPE' AND sc.CODE_VALUE = hls.bill_type )
        bill_type_n,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BILL_FORM' AND sc.CODE_VALUE = hls.bill_form )
        bill_form_n,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'ISSUE_TICKETS' AND sc.CODE_VALUE =
        hls.ISSUE_TICKETS ) ISSUE_TICKETS_N,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'MARGE_TYPE' AND sc.CODE_VALUE = hls.MARGE_TYPE )
        MARGE_TYPE_N,
        ( SELECT bp.BP_NAME FROM hls_bp_master bp WHERE bp.BP_ID = hls.BP_ID_TENANT ) BP_ID_TENANT_N,
        ( SELECT bp.BP_NAME FROM hls_bp_master bp WHERE bp.BP_ID = hls.receive_bill_id ) receive_bill_id_n,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'CHS.CURRENCY_TYPE' AND sc.CODE_VALUE =
        hls.curreny ) curreny_n,
        nvl((SELECT sum(DATEDIFF(to_date(hpd.PAYMENT_DISCHARGE_DATE,
        'YYYY-MM-DD'),
        (SELECT to_date(t3.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')
        FROM hls_bill_request t3
        WHERE t3.bill_id = hpd.bill_id))) days
        FROM hls_payment_discharge hpd
        WHERE hpd.STATUS = 'CONFIRM'
        AND hpd.bill_id = hls.BILL_ID),
        0) days,
        (CASE

        WHEN (SELECT COUNT(*)
        FROM hls_payment_discharge tt
        WHERE tt.bill_id = hls.BILL_ID
        AND tt.STATUS = 'CONFIRM') = 0 THEN
        round(nvl(hls.MARGE_AMOUNT, 0) *
        nvl(hls.MARGE_RATE, 0) / 360 *
        nvl(DATEDIFF((SELECT to_date(sysdate, 'YYYY-MM-DD')),
        to_date(hls.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')),
        0),
        2)
        ELSE
        round(round(nvl((SELECT sum(nvl(t3.RELEASE_MARGIN_AMOUNT, 0) *
        DATEDIFF(to_date(t3.PAYMENT_DISCHARGE_DATE,
        'YYYY-MM-DD'),
        to_date(hr.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')))
        FROM hls_payment_discharge t3,
        hls_bill_request hr
        WHERE t3.bill_id = hls.bill_id
        AND t3.STATUS = 'CONFIRM'
        AND t3.bill_id = hr.bill_id),0) *
        nvl(hls.MARGE_RATE, 0) / 360,
        2) + round(nvl(hls.margin_balance, 0) *
        nvl(hls.marge_rate, 0) / 360 *
        nvl(DATEDIFF((SELECT to_date(sysdate,
        'YYYY-MM-DD')),
        to_date(hls.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')),
        0),
        2) +
        round(nvl((SELECT sum(nvl(t3.REFUND_DEPOSIT_AMOUNT, 0) *
        DATEDIFF(to_date(t3.REFUND_DEPOSIT_DATE,
        'YYYY-MM-DD'),
        to_date(hr.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')))
        FROM hls_refund_deposit t3,
        hls_bill_request hr
        WHERE t3.bill_id = hls.bill_id
        AND t3.STATUS = 'CONFIRM'
        AND t3.bill_id = hr.bill_id),0) *
        nvl(hls.MARGE_RATE, 0) / 360,
        2),
        2)
        END) AS CURRENT_MARGIN_INCOME,

        (CASE

        WHEN hls.BILL_TYPE in
        ('DOMESTIC_CREDIT',
        'BANK_ACCEPTANCE',
        'BUSINESS_ACCEPTANCE',
        'INTERNATIONAL_CREDIT') THEN
        ROUND(round(nvl(hls.MARGIN_BALANCE, 0) *
        nvl(hls.MARGE_RATE, 0) / 360 *
        nvl(DATEDIFF(to_date(DATE_ADD(hls.ACTUAL_BILL_DATE,
        INTERVAL
        hls.ACCEPTANCE_BILL_TERM
        MONTH),
        'YYYY-MM-DD'),
        to_date(hls.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')),
        0),
        2) +
        round(nvl((SELECT sum(nvl(t3.REFUND_DEPOSIT_AMOUNT, 0) *
        DATEDIFF(to_date(t3.REFUND_DEPOSIT_DATE,
        'YYYY-MM-DD'),
        to_date(hr.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')))
        FROM hls_refund_deposit t3,
        hls_bill_request hr
        WHERE t3.bill_id = hls.bill_id
        AND t3.STATUS = 'CONFIRM'
        AND t3.bill_id = hr.bill_id) ,0)*
        nvl(hls.MARGE_RATE, 0) / 360,
        2) +
        round(nvl((SELECT sum(nvl(t3.RELEASE_MARGIN_AMOUNT, 0) *
        DATEDIFF(to_date(t3.PAYMENT_DISCHARGE_DATE,
        'YYYY-MM-DD'),
        to_date(hr.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')))
        FROM hls_payment_discharge t3,
        hls_bill_request hr
        WHERE t3.bill_id = hls.bill_id
        AND t3.STATUS = 'CONFIRM'
        AND t3.bill_id = hr.bill_id),0) *
        nvl(hls.MARGE_RATE, 0) / 360,
        2),
        2)

        ELSE
        NULL
        END) AS CURRENT_MARGIN_INCOME1,
        (
        SELECT
        e.email
        FROM
        sys_user s,
        sys_user_allocation a,
        fnd_employee e,
        fnd_employee_assigns fa
        WHERE
        s.user_id = a.user_id
        AND a.EMPLOYEE_ASSIGN_ID = fa.EMPLOYEE_ASSIGN_ID
        AND fa.EMPLOYEE_ID = e.EMPLOYEE_ID
        AND s.user_id = hls.CREATED_BY
        ) email,
        (SELECT
        fe.EMAIL
        FROM
        fnd_org_unit fou,
        fnd_org_position fop,
        fnd_employee_assigns fea,
        fnd_employee fe
        WHERE
        fou.unit_id = fop.unit_id
        and fop.chief_position_flag = 'Y'
        AND fop.position_id = fea.position_id
        AND fea.employee_id = fe.employee_id
        and fe.EMPLOYEE_ID=(select ts.EMPLOYEE_ID from sys_user ts where ts.user_id=hls.created_by)) manage_email,
        hp.payment_discharge_radio,
        hp.payment_discharge_amount,
        to_char(
        hp.payment_discharge_date,
        'YYYY-MM-DD'
        ) AS payment_discharge_date,
        hp.payment_discharge_rate,
        hp.cash_discharge_amount,
        hp.deduct_margin_yes_no,
        hp.release_margin_amount,
        hp.payment_amount ,
        (
        SELECT
        sc.meaning
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'SYS.YES_NO'
        AND sc.CODE_VALUE = hp.deduct_margin_yes_no
        ) AS deduct_margin_yes_no_n
        FROM
        hls_bill_request hls,
        hls_payment_discharge hp
        WHERE
        hls.bill_id = hp.bill_id) tt3
        <where>
            1=1
            <if test="billId!=null">
                and tt3.bill_id = #{billId}
            </if>
            <if test="billType != null">
                and tt3.bill_type like concat(concat('%',#{billType}),'%')
            </if>
            <if test="billForm != null">
                and tt3.bill_form like concat(concat('%',#{billForm}),'%')
            </if>
            <if test="projectNumber != null">
                and tt3.project_number like concat(concat('%',#{projectNumber}),'%')
            </if>
            <if test="projectName != null">
                and tt3.project_name like concat(concat('%',#{projectName}),'%')
            </if>
            <if test="bpIdTenantN != null">
                and tt3.bp_id_tenant_n like concat(concat('%',#{bpIdTenantN}),'%')
            </if>
            <if test="billApplyNumber != null">
                and tt3.bill_apply_number like concat(concat('%',#{billApplyNumber}),'%')
            </if>
            <if test="billStatus != null">
                and tt3.bill_status like concat(concat('%',#{billStatus}),'%')
            </if>
            <if test="receiveBillIdN != null">
                and tt3.receive_bill_id_n like concat(concat('%',#{receiveBillIdN}),'%')
            </if>

            <if test="curreny != null">
                and tt3.curreny like concat(concat('%',#{curreny}),'%')
            </if>
            <if test="billAmount != null">
                and tt3.bill_amount =#{billAmount}
            </if>
            <if test="margeType != null">
                and tt3.marge_type like concat(concat('%',#{margeType}),'%')
            </if>
            <if test="issueTicketsDateForm!= null">
                and to_date(#{issueTicketsDateForm},'YYYY-MM-DD') &gt;= tt3.issue_tickets_date
            </if>
            <if test="actualBillDateFrom!= null">
                and to_date(#{actualBillDateFrom},'YYYY-MM-DD') &lt;= tt3.actual_bill_date
            </if>
            <if test="actualBillDateTo!= null">
                and to_date(#{actualBillDateTo},'YYYY-MM-DD') &gt;= tt3.actual_bill_date
            </if>
            <if test="issueTicketsDateTo!= null">
                and to_date(#{issueTicketsDateTo},'YYYY-MM-DD') &lt;= tt3.issue_tickets_date
            </if>
            <if test="expireDateTo!= null">
                and to_date(#{expireDateTo},'YYYY-MM-DD') &gt;= tt3.expire_date
            </if>
            <if test="expireDateFrom!= null">
                and to_date(#{expireDateFrom},'YYYY-MM-DD') &lt;= tt3.expire_date
            </if>
            <if test="paymentDischargeDateFrom!= null">
                and to_date(#{paymentDischargeDateFrom},'YYYY-MM-DD') &lt;= tt3.payment_discharge_date
            </if>
            <if test="paymentDischargeDateTo!= null">
                and to_date(#{paymentDischargeDateTo},'YYYY-MM-DD') &gt;= tt3.payment_discharge_date
            </if>
            order by tt3.bill_apply_number desc
        </where>

    </select>
    <select id="queryHlsBillRequest" resultMap="BaseResultMap">
        select tt3.* from ( SELECT
        hls.ACCEPTANCE_BILL_TERM,
        hls.ACTUAL_BILL_DATE,
        hls.APPLY_BILL_DATE,
        hls.AGENT_ID,
        hls.CREDIT_CONTRACT_ID,
        (select credit_con_number from lon_credit_contract tc where tc.CREDIT_CONTRACT_ID = hls.CREDIT_CONTRACT_ID)CREDIT_CONTRACT_ID_N,
        hls.AGENT_NAME,

        hls.AGENT_ORGANZATION_ID,
        hls.AGENT_ORGANZATION_NAME,
        hls.BANK_ACCOUNT_ACCOUNT,
        hls.BANK_ACCOUNT_ID,
        ( SELECT Hd.BANK_ACCOUNT_NAME FROM ct_lon_bank_account hd WHERE HD.BANK_ACCOUNT_ID = HLS.BANK_ACCOUNT_ID )
        BANK_ACCOUNT_ID_N,
        hls.BILL_AMOUNT,
        hls.BILL_AMOUNT_BALANCE,
        hls.BILL_AMOUNT_YUAN,
        hls.BILL_APPLY_NUMBER,
        hls.BILL_FORM,
        hls.BILL_ID,
        hls.BILL_STATUS,
        hls.BILL_TYPE,
        hls.BP_ID_TENANT,
        hls.CHARGE_RATE,
        hls.CREATED_BY,
        hls.CREATION_DATE,
        hls.CREDIT_DATE,
        hls.CURRENY,
        hls.DESCRIPTION,
        hls.EXCHANGE_RATE,
        DATE_ADD(hls.ACTUAL_BILL_DATE,INTERVAL hls.ACCEPTANCE_BILL_TERM MONTH) EXPIRE_DATE,


        hls.ISSUE_TICKETS,
        hls.ISSUE_TICKETS_DATE,
        hls.LAST_UPDATED_BY,
        hls.LAST_UPDATE_DATE,
        hls.LAST_UPDATE_LOGIN,
        hls.LOAN_CONTRACT_ID,
        hls.MARGE_AMOUNT,
        hls.MARGE_LEVEL,
        hls.MARGE_RATE,
        hls.MARGE_TYPE,
        hls.MARGIN_BALANCE,
        hls.OBJECT_VERSION_NUMBER,
        hls.PAYMENT_REQ_ID,
        (select hd.PAYMENT_REQ_NUMBER from csh_payment_req_hd hd where hd.payment_Req_id=hls.PAYMENT_REQ_ID)
        PAYMENT_REQ_NUMBER,
        hls.PROCESS_INSTANCE_ID,
        hls.PROGRAM_ID,
        hls.PROJECT_ID,
        hls.PROJECT_NAME,
        hls.RECEIVE_BILL_ID,
        hls.REQUEST_ID,
        hls.SERVICE_CHARGE,
        hls.HANDOVER_METHOD,
        hls.TRACKING_NUMBER,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'HANDOVER_METHOD' AND sc.CODE_VALUE =
        hls.HANDOVER_METHOD ) HANDOVER_METHOD_N,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BILL_STATUS' AND sc.CODE_VALUE = hls.bill_status
        ) bill_status_n,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BILL_TYPE' AND sc.CODE_VALUE = hls.bill_type )
        bill_type_n,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BILL_FORM' AND sc.CODE_VALUE = hls.bill_form )
        bill_form_n,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'ISSUE_TICKETS' AND sc.CODE_VALUE =
        hls.ISSUE_TICKETS ) ISSUE_TICKETS_N,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'MARGE_TYPE' AND sc.CODE_VALUE = hls.MARGE_TYPE )
        MARGE_TYPE_N,
        ( SELECT bp.BP_NAME FROM hls_bp_master bp WHERE bp.BP_ID = hls.BP_ID_TENANT ) BP_ID_TENANT_N,
        ( SELECT bp.BP_NAME FROM hls_bp_master bp WHERE bp.BP_ID = hls.receive_bill_id ) receive_bill_id_n,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'CHS.CURRENCY_TYPE' AND sc.CODE_VALUE =
        hls.curreny ) curreny_n,
        nvl((SELECT sum(DATEDIFF(to_date(hpd.PAYMENT_DISCHARGE_DATE,
        'YYYY-MM-DD'),
        (SELECT to_date(t3.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')
        FROM hls_bill_request t3
        WHERE t3.bill_id = hpd.bill_id))) days
        FROM hls_payment_discharge hpd
        WHERE hpd.STATUS = 'CONFIRM'
        AND hpd.bill_id = hls.BILL_ID),
        0) days,
        (CASE

        WHEN (SELECT COUNT(*)
        FROM hls_payment_discharge tt
        WHERE tt.bill_id = hls.BILL_ID
        AND tt.STATUS = 'CONFIRM') = 0 THEN
        round(nvl(hls.MARGE_AMOUNT, 0) *
        nvl(hls.MARGE_RATE, 0) / 360 *
        nvl(DATEDIFF((SELECT to_date(sysdate, 'YYYY-MM-DD')),
        to_date(hls.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')),
        0),
        2)
        ELSE
        round(round(nvl((SELECT sum(nvl(t3.RELEASE_MARGIN_AMOUNT, 0) *
        DATEDIFF(to_date(t3.PAYMENT_DISCHARGE_DATE,
        'YYYY-MM-DD'),
        to_date(hr.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')))
        FROM hls_payment_discharge t3,
        hls_bill_request hr
        WHERE t3.bill_id = hls.bill_id
        AND t3.STATUS = 'CONFIRM'
        AND t3.bill_id = hr.bill_id),0) *
        nvl(hls.MARGE_RATE, 0) / 360,
        2) + round(nvl(hls.margin_balance, 0) *
        nvl(hls.marge_rate, 0) / 360 *
        nvl(DATEDIFF((SELECT to_date(sysdate,
        'YYYY-MM-DD')),
        to_date(hls.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')),
        0),
        2) +
        round(nvl((SELECT sum(nvl(t3.REFUND_DEPOSIT_AMOUNT, 0) *
        DATEDIFF(to_date(t3.REFUND_DEPOSIT_DATE,
        'YYYY-MM-DD'),
        to_date(hr.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')))
        FROM hls_refund_deposit t3,
        hls_bill_request hr
        WHERE t3.bill_id = hls.bill_id
        AND t3.STATUS = 'CONFIRM'
        AND t3.bill_id = hr.bill_id),0) *
        nvl(hls.MARGE_RATE, 0) / 360,
        2),
        2)
        END) AS CURRENT_MARGIN_INCOME,

        (CASE

        WHEN hls.BILL_TYPE in
        ('DOMESTIC_CREDIT',
        'BANK_ACCEPTANCE',
        'BUSINESS_ACCEPTANCE',
        'INTERNATIONAL_CREDIT') THEN
        ROUND(round(nvl(hls.MARGIN_BALANCE, 0) *
        nvl(hls.MARGE_RATE, 0) / 360 *
        nvl(DATEDIFF(to_date(DATE_ADD(hls.ACTUAL_BILL_DATE,
        INTERVAL
        hls.ACCEPTANCE_BILL_TERM
        MONTH),
        'YYYY-MM-DD'),
        to_date(hls.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')),
        0),
        2) +
        round(nvl((SELECT sum(nvl(t3.REFUND_DEPOSIT_AMOUNT, 0) *
        DATEDIFF(to_date(t3.REFUND_DEPOSIT_DATE,
        'YYYY-MM-DD'),
        to_date(hr.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')))
        FROM hls_refund_deposit t3,
        hls_bill_request hr
        WHERE t3.bill_id = hls.bill_id
        AND t3.STATUS = 'CONFIRM'
        AND t3.bill_id = hr.bill_id) ,0)*
        nvl(hls.MARGE_RATE, 0) / 360,
        2) +
        round(nvl((SELECT sum(nvl(t3.RELEASE_MARGIN_AMOUNT, 0) *
        DATEDIFF(to_date(t3.PAYMENT_DISCHARGE_DATE,
        'YYYY-MM-DD'),
        to_date(hr.ACTUAL_BILL_DATE,
        'YYYY-MM-DD')))
        FROM hls_payment_discharge t3,
        hls_bill_request hr
        WHERE t3.bill_id = hls.bill_id
        AND t3.STATUS = 'CONFIRM'
        AND t3.bill_id = hr.bill_id),0) *
        nvl(hls.MARGE_RATE, 0) / 360,
        2),
        2)

        ELSE
        NULL
        END) AS CURRENT_MARGIN_INCOME1,
        (
        SELECT
        e.email
        FROM
        sys_user s,
        sys_user_allocation a,
        fnd_employee e,
        fnd_employee_assigns fa
        WHERE
        s.user_id = a.user_id
        AND a.EMPLOYEE_ASSIGN_ID = fa.EMPLOYEE_ASSIGN_ID
        AND fa.EMPLOYEE_ID = e.EMPLOYEE_ID
        AND s.user_id = hls.CREATED_BY
        ) email,
        (SELECT
        fe.EMAIL
        FROM
        fnd_org_unit fou,
        fnd_org_position fop,
        fnd_employee_assigns fea,
        fnd_employee fe
        WHERE
        fou.unit_id = fop.unit_id
        and fop.chief_position_flag = 'Y'
        AND fop.position_id = fea.position_id
        AND fea.employee_id = fe.employee_id
        and fe.EMPLOYEE_ID=(select ts.EMPLOYEE_ID from sys_user ts where ts.user_id=hls.created_by)) manage_email
        FROM
        hls_bill_request hls) tt3
        <where>
            1=1
            <if test="billId!=null">
                and tt3.bill_id = #{billId}
            </if>
            <if test="billType != null">
                and tt3.bill_type like concat(concat('%',#{billType}),'%')
            </if>
            <if test="billForm != null">
                and tt3.bill_form like concat(concat('%',#{billForm}),'%')
            </if>
            <if test="projectNumber != null">
                and tt3.project_number like concat(concat('%',#{projectNumber}),'%')
            </if>
            <if test="projectName != null">
                and tt3.project_name like concat(concat('%',#{projectName}),'%')
            </if>
            <if test="bpIdTenantN != null">
                and tt3.bp_id_tenant_n like concat(concat('%',#{bpIdTenantN}),'%')
            </if>
            <if test="billApplyNumber != null">
                and tt3.bill_apply_number like concat(concat('%',#{billApplyNumber}),'%')
            </if>
            <if test="billStatus != null">
                and tt3.bill_status like concat(concat('%',#{billStatus}),'%')
            </if>
            <if test="receiveBillIdN != null">
                and tt3.receive_bill_id_n like concat(concat('%',#{receiveBillIdN}),'%')
            </if>

            <if test="curreny != null">
                and tt3.curreny like concat(concat('%',#{curreny}),'%')
            </if>
            <if test="billAmount != null">
                and tt3.bill_amount =#{billAmount}
            </if>
            <if test="margeType != null">
                and tt3.marge_type like concat(concat('%',#{margeType}),'%')
            </if>
            <if test="issueTicketsDateForm!= null">
                and to_date(#{issueTicketsDateForm},'YYYY-MM-DD') &gt;= tt3.issue_tickets_date
            </if>
            <if test="actualBillDateFrom!= null">
                and to_date(#{actualBillDateFrom},'YYYY-MM-DD') &lt;= tt3.actual_bill_date
            </if>
            <if test="actualBillDateTo!= null">
                and to_date(#{actualBillDateTo},'YYYY-MM-DD') &gt;= tt3.actual_bill_date
            </if>
            <if test="issueTicketsDateTo!= null">
                and to_date(#{issueTicketsDateTo},'YYYY-MM-DD') &lt;= tt3.issue_tickets_date
            </if>
            <if test="expireDateTo!= null">
                and to_date(#{expireDateTo},'YYYY-MM-DD') &gt;= tt3.expire_date
            </if>
            <if test="expireDateFrom!= null">
                and to_date(#{expireDateFrom},'YYYY-MM-DD') &lt;= tt3.expire_date
            </if>
            order by tt3.bill_apply_number desc
        </where>

    </select>
    <select id="queryEmployee" resultMap="BaseResultMap">
        SELECT
            (
                SELECT
                    s.ALLOCATION_ID
                FROM
                    sys_user_allocation s
                WHERE
                    s.user_id = pp.host_project_manager
            ) NAME
        FROM
            csh_payment_req_hd hd,
            hls_bill_request t,
            prj_project pp
        WHERE
            t.PAYMENT_REQ_ID = hd.PAYMENT_REQ_ID
        AND pp.project_id = hd.source_doc_id
        AND pp.data_class = 'VIRTUAL_CON'
        AND pp.data_type = 'NORMAL'
        AND t.BILL_ID = #{billId}
	</select>


    <select id="queryAllocationIdByUserId" resultMap="BaseResultMap">
        SELECT
            s.ALLOCATION_ID as name
        FROM
            sys_user_allocation s
        WHERE
            s.user_id = #{userId}
    </select>

    <select id="queryHlsBillRequestJob" resultMap="BaseResultMap">

       SELECT
distinct t1.CREATED_BY,
       ( SELECT
        e.EMAIL

        FROM
        sys_user s,
        sys_user_allocation a,
        fnd_employee e,
        fnd_employee_assigns fa
        WHERE
        s.user_id = a.user_id
        AND a.EMPLOYEE_ASSIGN_ID = fa.EMPLOYEE_ASSIGN_ID
        AND fa.EMPLOYEE_ID = e.EMPLOYEE_ID
        AND s.user_id = t1.CREATED_BY) EMAIL,
				        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BILL_TYPE' AND sc.CODE_VALUE =  (select  r.BILL_TYPE  from  hls_bill_request  r  where  r.bill_id=t1.bill_id ) ) bill_type_n,

  (select  r.BILL_APPLY_NUMBER  from  hls_bill_request  r  where  r.bill_id=t1.bill_id ) BILL_APPLY_NUMBER,
	t1.EXPIRE_DATE
FROM
	(
	SELECT
		to_date( DATE_ADD( hls.ACTUAL_BILL_DATE, INTERVAL hls.ACCEPTANCE_BILL_TERM MONTH ), 'YYYY-MM-DD' ) AS EXPIRE_DATE,
		hls.CREATED_BY,
		hls.bill_id,
		DATEDIFF(
			to_date( to_date( DATE_ADD( hls.ACTUAL_BILL_DATE, INTERVAL hls.ACCEPTANCE_BILL_TERM MONTH ), 'YYYY-MM-DD' ), 'YYYY-MM-DD' ),
		to_date( sysdate, 'YYYY-MM-DD' )) AS days
	FROM
		hls_bill_request hls
	WHERE
	hls.BILL_TYPE NOT IN ( 'LETTER_GUARANTEE' )
	and hls.BILL_STATUS NOT IN ('NEW','APPROVING','REJECTED')
	) t1
WHERE
	t1.days =5
	</select>
    <select id="queryHlsBillRequestJob30" resultMap="BaseResultMap">

       SELECT
distinct t1.CREATED_BY,
       ( SELECT
        e.EMAIL

        FROM
        sys_user s,
        sys_user_allocation a,
        fnd_employee e,
        fnd_employee_assigns fa
        WHERE
        s.user_id = a.user_id
        AND a.EMPLOYEE_ASSIGN_ID = fa.EMPLOYEE_ASSIGN_ID
        AND fa.EMPLOYEE_ID = e.EMPLOYEE_ID
        AND s.user_id = t1.CREATED_BY) EMAIL,
				        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BILL_TYPE' AND sc.CODE_VALUE =  (select  r.BILL_TYPE  from  hls_bill_request  r  where  r.bill_id=t1.bill_id ) ) bill_type_n,

  (select  r.BILL_APPLY_NUMBER  from  hls_bill_request  r  where  r.bill_id=t1.bill_id ) BILL_APPLY_NUMBER,
	t1.EXPIRE_DATE
FROM
	(
	SELECT
		to_date( DATE_ADD( hls.ACTUAL_BILL_DATE, INTERVAL hls.ACCEPTANCE_BILL_TERM MONTH ), 'YYYY-MM-DD' ) AS EXPIRE_DATE,
		hls.CREATED_BY,
		hls.bill_id,
		DATEDIFF(
			to_date( to_date( DATE_ADD( hls.ACTUAL_BILL_DATE, INTERVAL hls.ACCEPTANCE_BILL_TERM MONTH ), 'YYYY-MM-DD' ), 'YYYY-MM-DD' ),
		to_date( sysdate, 'YYYY-MM-DD' )) AS days
	FROM
		hls_bill_request hls
	WHERE
	hls.BILL_TYPE NOT IN ( 'LETTER_GUARANTEE' )
	and hls.BILL_STATUS NOT IN ('NEW','APPROVING','REJECTED')
	) t1
WHERE
	t1.days = 30
	</select>
</mapper>