<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.activiti.mapper.ActHiTaskTransMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.activiti.dto.ActHiTaskTrans">
        <result column="record_id" property="recordId" />
        <result column="PROC_INST_ID" property="procInstId" />
        <result column="ACTIVITY_ID" property="activityId" jdbcType="VARCHAR"/>
        <result column="TASK_ID" property="taskId" jdbcType="VARCHAR"/>
        <result column="PARENT_TASK_ID_" property="parentTaskId" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectLastTaskInactive" resultMap="BaseResultMap">
        select distinct ACTIVITY_ID from act_hi_task_trans t
        where T.proc_inst_id = #{process_id}
    </select>
</mapper>