<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.CshWriteOffSlipLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.CshWriteOffSlipLn">
        <result column="SLIP_LN_ID" property="slipLnId" jdbcType="DECIMAL" />
        <result column="SLIP_ID" property="slipId" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_TYPE" property="writeOffType" jdbcType="VARCHAR" />
        <result column="WRITE_OFF_DATE" property="writeOffDate" jdbcType="DATE" />
        <result column="WRITE_OFF_DUE_AMOUNT" property="writeOffDueAmount" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_INTEREST" property="writeOffInterest" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_PRINCIPAL" property="writeOffPrincipal" jdbcType="DECIMAL" />
        <result column="CSH_TRANSACTION_ID" property="cshTransactionId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="CASHFLOW_ID" property="cashflowId" jdbcType="DECIMAL" />
        <result column="CF_ITEM" property="cfItem" jdbcType="DECIMAL" />
        <result column="CF_TYPE" property="cfType" jdbcType="DECIMAL" />
        <result column="CF_STATUS" property="cfStatus" jdbcType="VARCHAR" />
        <result column="CF_DIRECTION" property="cfDirection" jdbcType="VARCHAR" />
        <result column="TIMES" property="times" jdbcType="DECIMAL" />
        <result column="DUE_DATE" property="dueDate" jdbcType="DATE" />
        <result column="DUE_AMOUNT" property="dueAmount" jdbcType="DECIMAL" />
        <result column="SURPLUS_AMOUNT" property="surplusAmount" jdbcType="DECIMAL" />
        <result column="SURPLUS_AMOUNT_FLAG" property="surplusAmountFlag" jdbcType="VARCHAR" />
        <result column="ARRIVE_MODALITY" property="arriveModality" jdbcType="VARCHAR" />
        <result column="CSH_WRITE_OFF_AMOUNT" property="cshWriteOffAmount" jdbcType="DECIMAL" />
        <result column="REVERSED_FLAG" property="reversedFlag" jdbcType="VARCHAR" />
        <result column="subseq_csh_write_off_amount" property="subseqCshWriteOffAmount" jdbcType="DECIMAL" />
        <result column="SUBSEQUENT_CSH_TRX_ID" property="subsequentCshTrxId" jdbcType="DECIMAL" />
        <result column="TRANSACTION_DATE" property="transactionDate" jdbcType="DATE" />
        <result column="TRANSACTION_TYPE" property="transactionType" jdbcType="VARCHAR" />
        <result column="WRITE_OFF_DOC_CATEGORY" property="writeOffDocCategory" jdbcType="VARCHAR" />
        <result column="write_off_id" property="writeOffId" jdbcType="DECIMAL" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="REVERSED_DATE" property="reversedDate" jdbcType="DATE" />
        <result column="ADVANCE_BP_ID" property="advanceBpId" jdbcType="DECIMAL"/>
        <result column="advance_bp_name" property="advanceBpName" jdbcType="VARCHAR"/>

        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />
        <result column="CF_ITEM_N" property="cfItemN" jdbcType="VARCHAR" />
        <result column="WRITE_OFF_TYPE_N" property="writeOffTypeN" jdbcType="VARCHAR" />
        <result column="tenant_name" property="tenantName" jdbcType="VARCHAR" />
        <result column="arrive_modality_desc" property="arriveModalityDesc" jdbcType="VARCHAR" />
        <result column="transaction_type_n" property="transactionTypeN" jdbcType="VARCHAR" />
        <result column="due_date_format" property="dueDateFormat" jdbcType="VARCHAR" />
        <result column="WRITE_OFF_TYPE_DESC" property="writeOffTypeDesc" jdbcType="VARCHAR" />
        <result column="CASHFLOW_SURPLUS_AMOUNT" property="cashflowSurplusAmount" jdbcType="DECIMAL" />
        <result column="CASHFLOW_SURPLUS_PRINCIPAL" property="cashflowSurplusPrincipal" jdbcType="DECIMAL" />
        <result column="CASHFLOW_SURPLUS_INTEREST" property="cashflowSurplusInterest" jdbcType="DECIMAL" />
        <result column="surplus_amount" property="surplusAmount"/>
        <result column="surplus_principal" property="surplusPrincipal"/>
        <result column="surplus_interest" property="surplusInterest"/>
        <result column="INSERT_FLAG" property="insertFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="query" parameterType="com.hand.hls.csh.dto.CshWriteOffSlipLn" resultMap="BaseResultMap">
        select
        l.SLIP_LN_ID,
        l.SLIP_ID,
        l.WRITE_OFF_TYPE,
        l.WRITE_OFF_DATE,
        l.WRITE_OFF_DUE_AMOUNT,
        l.WRITE_OFF_INTEREST,
        l.WRITE_OFF_PRINCIPAL,
        l.CSH_TRANSACTION_ID,
        l.BP_ID,
        l.CONTRACT_ID,
        l.CONTRACT_NUMBER,
        l.CASHFLOW_ID,
        l.CF_ITEM,
        l.CF_TYPE,
        l.CF_STATUS,
        l.CF_DIRECTION,
        l.TIMES,
        l.DUE_DATE,
        l.DUE_AMOUNT,
        l.SURPLUS_AMOUNT_FLAG,
        l.ARRIVE_MODALITY,
        l.CSH_WRITE_OFF_AMOUNT,
        l.REVERSED_DATE,
        l.REVERSED_FLAG,
        l.SUBSEQ_CSH_WRITE_OFF_AMOUNT,
        l.SUBSEQUENT_CSH_TRX_ID,
        l.TRANSACTION_DATE,
        l.TRANSACTION_TYPE,
        l.WRITE_OFF_DOC_CATEGORY,
        l.WRITE_OFF_ID,
        l.DESCRIPTION,
        l.ADVANCE_BP_ID,
		l.SURPLUS_AMOUNT,
        l.INSERT_FLAG,
		(select ccc.DUE_AMOUNT - nvl(ccc.BLOCK_AMOUNT,0) - nvl(ccc.RECEIVED_AMOUNT, 0)
		from CON_CONTRACT_CASHFLOW ccc where ccc.CASHFLOW_ID = l.CASHFLOW_ID) as CASHFLOW_SURPLUS_AMOUNT,
		(select ccc.PRINCIPAL - nvl(ccc.BLOCK_PRINCIPAL,0) - nvl(ccc.RECEIVED_PRINCIPAL, 0)
		from CON_CONTRACT_CASHFLOW ccc where ccc.CASHFLOW_ID = l.CASHFLOW_ID) as CASHFLOW_SURPLUS_PRINCIPAL,
		(select ccc.INTEREST - nvl(ccc.BLOCK_INTEREST,0) - nvl(ccc.RECEIVED_INTEREST, 0)
		from CON_CONTRACT_CASHFLOW ccc where ccc.CASHFLOW_ID = l.CASHFLOW_ID) as CASHFLOW_SURPLUS_INTEREST,
        (select ccc.PRINCIPAL - nvl(ccc.BLOCK_PRINCIPAL,0) - nvl(ccc.RECEIVED_PRINCIPAL, 0)
        from CON_CONTRACT_CASHFLOW ccc where ccc.CASHFLOW_ID = l.CASHFLOW_ID) as surplus_principal,
        (select ccc.INTEREST - nvl(ccc.BLOCK_INTEREST,0) - nvl(ccc.RECEIVED_INTEREST, 0)
        from CON_CONTRACT_CASHFLOW ccc where ccc.CASHFLOW_ID = l.CASHFLOW_ID) as surplus_interest,
		to_char(l.DUE_DATE, 'yyyy-MM-dd') as due_date_format,
        (select m.bp_name from hls_bp_master m where m.bp_id = l.advance_bp_id) as advance_bp_name,
        (select m.bp_name from hls_bp_master m where m.bp_id = cc.BP_ID_TENANT) as bp_name,
        (select m.bp_name from hls_bp_master m where m.bp_id = cc.BP_ID_TENANT) as tenant_name,
        (select hci.DESCRIPTION from HLS_CASHFLOW_ITEM hci where hci.CF_ITEM = l.CF_ITEM) as CF_ITEM_N,
        (select scvb.MEANING from SYS_CODE_B scb , SYS_CODE_VALUE_B scvb
        where scb.CODE = 'CSH301_WRITE_OFF_TYPE' and scb.CODE_ID = scvb.CODE_ID
        and scvb.VALUE = l.WRITE_OFF_TYPE) as WRITE_OFF_TYPE_N,
		(select scvb.MEANING from SYS_CODE_B scb , SYS_CODE_VALUE_B scvb
		where scb.CODE = 'CSH301_WRITE_OFF_TYPE' and scb.CODE_ID = scvb.CODE_ID
		and scvb.VALUE = l.WRITE_OFF_TYPE) as WRITE_OFF_TYPE_DESC,
        (select scvb.MEANING from SYS_CODE_B scb , SYS_CODE_VALUE_B scvb
        where scb.CODE = 'CSH001_ARRIVE_MODALITY' and scb.CODE_ID = scvb.CODE_ID
        and scvb.VALUE = l.ARRIVE_MODALITY) as arrive_modality_desc,
		(select scvb.MEANING
		from SYS_CODE_B scb,
		SYS_CODE_VALUE_B scvb
		where scb.CODE = 'CSH301_TRANSACTION_TYPE'
		and scb.CODE_ID = scvb.CODE_ID
		and scvb.VALUE = l.TRANSACTION_TYPE)                                            as transaction_type_n
        from CSH_WRITE_OFF_SLIP_LN l
        left join CON_CONTRACT cc on l.CONTRACT_ID = cc.CONTRACT_ID
        <where>
            <if test="slipId != null">
                and l.slip_id = #{slipId}
            </if>
            <if test="writeOffTypes != null">
                and l.write_off_type in
                <foreach collection="writeOffTypes" open="(" separator="," close=")" item="item" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="slipIds != null">
                and l.slip_id in
                <foreach collection="slipIds" open="(" separator="," close=")" item="item" index="index">
                    #{item,jdbcType=DECIMAL}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryRefundBlockDetail" parameterType="long" resultMap="BaseResultMap">
    SELECT (SELECT SCVB.MEANING
	          FROM SYS_CODE_B SCB, SYS_CODE_VALUE_B SCVB
	         WHERE SCB.CODE = 'CSH301_WRITE_OFF_TYPE'
	           AND SCB.CODE_ID = SCVB.CODE_ID
	           AND SCVB.VALUE = 'ADVANCE_REFUND') AS WRITE_OFF_TYPE_N,
	       LINE.REFUND_AMOUNT -
	       nvl((SELECT SUM(SLN.PAY_AMOUNT)
            FROM CSH_PAYMENT_REQ_SLIP_LN SLN
            WHERE LINE.REFUND_LINE_ID = SLN.DOCUMENT_ID
              AND SLN.DOCUMENT_TYPE = 'CSH_TRANSACTION_REFUND_LINE'
              and exists(select 1
                         from CSH_PAYMENT_REQ_SLIP sl
                         where sl.SLIP_ID = SLN.SLIP_ID
                           and sl.SLIP_STATUS in
                               ('PAID', 'DETAIL_ERROR', 'DETAIL_SEND')
                )
           ), 0)                                                              AS WRITE_OFF_DUE_AMOUNT,
	       REFUND.REFUND_NUM AS CONTRACT_NUMBER,
	       (SELECT HBM.BP_NAME FROM HLS_BP_MASTER HBM WHERE HBM.BP_ID = CT.BP_ID) AS TENANT_NAME
	  FROM CSH_TRANSACTION             CT,
	       CSH_TRANSACTION_REFUND_LINE LINE,
	       CSH_TRANSACTION_REFUND      REFUND
	 WHERE CT.TRANSACTION_ID = #{transactionId}
	   AND CT.TRANSACTION_ID = LINE.SOURCE_TRANSACTION_ID
	   AND LINE.REFUND_ID = REFUND.REFUND_ID
	   AND REFUND.REFUND_STATUS IN ('APPROVING', 'APPROVED')
	   AND (line.PAY_STATUS != 'BACK' OR line.PAY_STATUS IS NULL)
    </select>
</mapper>
