<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.HlsCusWriteOffMatchMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.HlsCusWriteOffMatch">
        <result column="WRITE_OFF_MATCH_ID" property="writeOffMatchId" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_TYPE" property="writeOffType" jdbcType="VARCHAR" />
        <result column="WRITE_OFF_DATE" property="writeOffDate" jdbcType="DATE" />
        <result column="CSH_TRANSACTION_ID" property="cshTransactionId" jdbcType="DECIMAL" />
        <result column="CSH_WRITE_OFF_AMOUNT" property="cshWriteOffAmount" jdbcType="DECIMAL" />
        <result column="SUBSEQUENT_CSH_TRX_ID" property="subsequentCshTrxId" jdbcType="DECIMAL" />
        <result column="SUBSEQ_CSH_WRITE_OFF_AMOUNT" property="subseqCshWriteOffAmount" jdbcType="DECIMAL" />
        <result column="REVERSED_FLAG" property="reversedFlag" jdbcType="VARCHAR" />
        <result column="REVERSED_WRITE_OFF_ID" property="reversedWriteOffId" jdbcType="DECIMAL" />
        <result column="REVERSED_DATE" property="reversedDate" jdbcType="VARCHAR" />
        <result column="CASHFLOW_ID" property="cashflowId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="TIMES" property="times" jdbcType="DECIMAL" />
        <result column="CF_ITEM" property="cfItem" jdbcType="DECIMAL" />
        <result column="CF_TYPE" property="cfType" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_DUE_AMOUNT" property="writeOffDueAmount" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_PRINCIPAL" property="writeOffPrincipal" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_INTEREST" property="writeOffInterest" jdbcType="DECIMAL" />
        <result column="PAYMENT_REQ_LINE_ID" property="paymentReqLineId" jdbcType="DECIMAL" />
        <result column="PAYMENT_REQ_ID" property="paymentReqId" jdbcType="DECIMAL" />
        <result column="WITHDRAW_CF_ID" property="withdrawCfId" jdbcType="DECIMAL" />
        <result column="WITHDRAW_ID" property="withdrawId" jdbcType="DECIMAL" />
        <result column="REPAYMENT_ID" property="repaymentId" jdbcType="DECIMAL" />
        <result column="WRITE_OFF_DOC_CATEGORY" property="writeOffDocCategory" jdbcType="VARCHAR" />
        <result column="WRITE_FLAG" property="writeFlag" jdbcType="VARCHAR" />
         <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL"/>
        <result column="DUE_DATE" property="dueDate" jdbcType="DATE" />
        <result column="DUE_AMOUNT" property="dueAmount" jdbcType="DECIMAL" />
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR" />
        <result column="CF_ITEM_DESC" property="cfItemDesc" jdbcType="VARCHAR" />
        <result column="SURPLUS_AMOUNT" property="surplusAmount" jdbcType="DECIMAL" />
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />
         <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
         <result column="RECEIVED_AMOUNT" property="receivedAmount" jdbcType="DECIMAL" />
         <result column="WRITE_OFF_FLAG_DESC" property="writeOffFlagDesc" jdbcType="VARCHAR" />
         <result column="IMPORT_FLAG" property="importFlag" jdbcType="VARCHAR"/>
         <result column="WRITE_OFF_ID" property="writeOffId" jdbcType="DECIMAL"/>
        <result column="APPROVAL_NUMBER" property="approvalNumber" jdbcType="VARCHAR"/>
        <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR"/>
        <result column="write_off_type_desc" property="writeOffTypeDesc" jdbcType="VARCHAR"/>

    </resultMap>



    <select id="selectWriteOffMatch" parameterType="com.hand.hls.csh.dto.HlsCusWriteOffMatch" resultMap="BaseResultMap">
      SELECT
            CWOM.WRITE_OFF_MATCH_ID,
            CWOM.WRITE_OFF_TYPE,
            CWOM.WRITE_OFF_DATE,
            CWOM.CSH_TRANSACTION_ID,
            CWOM.CSH_WRITE_OFF_AMOUNT,
            CWOM.SUBSEQUENT_CSH_TRX_ID,
            CWOM.SUBSEQ_CSH_WRITE_OFF_AMOUNT,
            CWOM.REVERSED_FLAG,
            CWOM.REVERSED_WRITE_OFF_ID,
            CWOM.REVERSED_DATE,
            CWOM.CASHFLOW_ID,
            CWOM.CONTRACT_ID,
            CWOM.TIMES,
            CWOM.CF_ITEM,
            CWOM.CF_TYPE,
            CWOM.WRITE_OFF_DUE_AMOUNT,
            CWOM.WRITE_OFF_PRINCIPAL,
            CWOM.WRITE_OFF_INTEREST,
            CWOM.PAYMENT_REQ_LINE_ID,
            CWOM.PAYMENT_REQ_ID,
            CWOM.WITHDRAW_CF_ID,
            CWOM.WITHDRAW_ID,
            CWOM.REPAYMENT_ID,
            CWOM.WRITE_OFF_DOC_CATEGORY,
            CWOM.WRITE_FLAG,
            CWOM.IMPORT_FLAG,
            CWOM.WRITE_OFF_ID,
            CWOM.OBJECT_VERSION_NUMBER,
            CWOM.REQUEST_ID,
            CWOM.PROGRAM_ID,
            CWOM.CREATED_BY,
            CWOM.CREATION_DATE,
            CWOM.LAST_UPDATED_BY,
            CWOM.DESCRIPTION,
            CWOM.LAST_UPDATE_DATE,
            CWOM.LAST_UPDATE_LOGIN,
            CONTRACT.PROJECT_ID,
            CONTRACT.DUE_AMOUNT,
            CONTRACT.DUE_AMOUNT_FORMAT,
            CONTRACT.CONTRACT_NUMBER,
            CONTRACT.DOCUMENT_CATEGORY,
            CONTRACT.DUE_DATE,
            CONTRACT.SURPLUS_AMOUNT,
            CONTRACT.RECEIVED_AMOUNT,
            CONTRACT.BP_NAME,
            CONTRACT.APPROVAL_NUMBER,
            HCI.DESCRIPTION CF_ITEM_DESC,
            CT.COMPANY_ID,
        ( case when cwom.write_off_doc_category='CON_CONTRACT' THEN (
        select cba.bank_account_num from csh_bank_account cba,con_contract con
        where cba.bank_account_id=con.return_account and con.contract_id=cwom.contract_id)
        when cwom.write_off_doc_category='FCT_CONTRACT' then (
        select cba.bank_account_num from csh_bank_account cba,fct_contract fc
        where cba.bank_account_id=fc.fct_payment_account_id and fc.contract_id=cwom.contract_id)
        else '' end
        ) as bank_account_num,
            CASE CONTRACT.WRITE_OFF_FLAG
             WHEN 'NOT' then '未核销'
             WHEN 'PARTIAL' then '部分核销'
             WHEN 'FULL' then '完全核销'
             END WRITE_OFF_FLAG_DESC,
        (select v.MEANING from sys_code_value_b_v v WHERE v.code='CSH301_WRITE_OFF_TYPE' and v.code_value= cwom.write_off_type) write_off_type_desc
        FROM
            CSH_WRITE_OFF_MATCH CWOM
        LEFT JOIN
            (
            (
                SELECT
                    CON.CONTRACT_ID,
                    CON.PROJECT_ID,
                    CON.CONTRACT_NUMBER,
                    CON.DOCUMENT_CATEGORY,
                    CON_FLOW.TIMES,
                    CON_FLOW.DUE_DATE,
                    CON_FLOW.DUE_DATE  AS DUE_DATE_DESC,
                    CON_FLOW.DUE_AMOUNT,
                    round( CON_FLOW.DUE_AMOUNT,2) DUE_AMOUNT_FORMAT,
                    CON_FLOW.CF_ITEM,
                    CON_FLOW.CF_TYPE,
                    CON_FLOW.CASHFLOW_ID,
                    nvl(CON_FLOW.DUE_AMOUNT,0)-nvl(CON_FLOW.RECEIVED_AMOUNT,0) SURPLUS_AMOUNT,
                    round((nvl(CON_FLOW.DUE_AMOUNT,0)-nvl(CON_FLOW.RECEIVED_AMOUNT,0) ),2)
                                                                                 SURPLUS_AMOUNT_FORMAT,
                    nvl(CON_FLOW.PRINCIPAL,0)-nvl(CON_FLOW.RECEIVED_PRINCIPAL,0) PRINCIPAL,
                    round(( nvl(CON_FLOW.PRINCIPAL,0)-nvl(CON_FLOW.RECEIVED_PRINCIPAL,0)),2)
                                                                               PRINCIPAL_FORMAT,
                    nvl(CON_FLOW.INTEREST,0)-nvl(CON_FLOW.RECEIVED_INTEREST,0)              INTEREST,
                    round(( nvl(CON_FLOW.INTEREST,0)-nvl(CON_FLOW.RECEIVED_INTEREST,0)),2) INTEREST_FORMAT,
                     nvl(CON_FLOW.RECEIVED_AMOUNT,0) RECEIVED_AMOUNT,
                    CON_FLOW.WRITE_OFF_FLAG,
                     PP.APPROVAL_NUMBER,
                     HBM.BP_NAME,
                    'CON_CONTRACT' WRITE_OFF_DOC_CATEGORY
                FROM
                    CON_CONTRACT CON
                JOIN
                    PRJ_PROJECT PP
                  ON
                    PP.PROJECT_ID=CON.PROJECT_ID
                JOIN
                    CON_CONTRACT_CASHFLOW CON_FLOW
                ON
                    CON.CONTRACT_ID=CON_FLOW.CONTRACT_ID
                LEFT JOIN
                    HLS_BP_MASTER HBM
                ON
                    CON.TENANT_ID=HBM.BP_ID)
        UNION
            (
                SELECT
                    CON.CONTRACT_ID,
                    CON.PROJECT_ID,
                    CON.CONTRACT_NUMBER,
                    CON.DOCUMENT_CATEGORY,
                    CON_FLOW.TIMES,
                    CON_FLOW.DUE_DATE,
                   CON_FLOW.DUE_DATE  AS DUE_DATE_DESC,
                    CON_FLOW.DUE_AMOUNT,
                    round( CON_FLOW.DUE_AMOUNT,2) DUE_AMOUNT_FORMAT,
                    CON_FLOW.CF_ITEM,
                    CON_FLOW.CF_TYPE,
                    CON_FLOW.QUOTATION_CASHFLOW_ID                             CASHFLOW_ID,
                    nvl(CON_FLOW.DUE_AMOUNT,0)-nvl(CON_FLOW.RECEIVED_AMOUNT,0) SURPLUS_AMOUNT,
                    round((nvl(CON_FLOW.DUE_AMOUNT,0)-nvl(CON_FLOW.RECEIVED_AMOUNT,0) ),2)
                                                                                 SURPLUS_AMOUNT_FORMAT,
                    nvl(CON_FLOW.PRINCIPAL,0)-nvl(CON_FLOW.RECEIVED_PRINCIPAL,0) PRINCIPAL,
                    round(( nvl(CON_FLOW.PRINCIPAL,0)-nvl(CON_FLOW.RECEIVED_PRINCIPAL,0)),2)
                                                                               PRINCIPAL_FORMAT,
                    nvl(CON_FLOW.INTEREST,0)-nvl(CON_FLOW.RECEIVED_INTEREST,0)              INTEREST,
                    round(( nvl(CON_FLOW.INTEREST,0)-nvl(CON_FLOW.RECEIVED_INTEREST,0)),2) INTEREST_FORMAT,
                    nvl(CON_FLOW.RECEIVED_AMOUNT,0) RECEIVED_AMOUNT,
                    CON_FLOW.WRITE_OFF_FLAG,
                    CON.APPROVAL_NUMBER,
                    CASE
                    WHEN CON_FLOW.CF_ITEM=54
                    THEN
                        (
                            SELECT
                                MAX(HBM.BP_NAME)
                            FROM
                                FCT_PROJECT_BP FPB ,
                                HLS_BP_MASTER HBM
                            WHERE
                                FPB.PRINCIPAL_REPAYMENT_PARTY='Y'
                            AND HBM.BP_ID=FPB.BP_ID
                            AND FPB.PROJECT_ID=FP.PROJECT_ID)
                    WHEN CON_FLOW.CF_ITEM=51
                    THEN
                        (
                            SELECT
                                MAX(HBM.BP_NAME)
                            FROM
                                FCT_PROJECT_BP FPB ,
                                HLS_BP_MASTER HBM
                            WHERE
                                FPB.REPAY_GUARANTEE_PARTY='Y'
                            AND HBM.BP_ID=FPB.BP_ID
                            AND FPB.PROJECT_ID=FP.PROJECT_ID)
                    ELSE (
                            CASE FP.FUND_RESTREAM_METHOD
                                WHEN 'DIRECT'
                                THEN
                                    (
                                        SELECT
                                            MAX(HBM.BP_NAME)
                                        FROM
                                            FCT_PROJECT_BP FPB ,
                                            HLS_BP_MASTER HBM
                                        WHERE
                                            FPB.BP_ROLE_TYPE='SELLER'
                                        AND HBM.BP_ID=FPB.BP_ID
                                        AND FPB.PROJECT_ID=FP.PROJECT_ID)
                                ELSE
                                      (
                                      SELECT
                                          MAX(HBM.BP_NAME)
                                      FROM
                                          FCT_PROJECT_BP FPB ,
                                          HLS_BP_MASTER HBM
                                      WHERE
                                          FPB.BP_ROLE_TYPE='BUYER'
                                      AND HBM.BP_ID=FPB.BP_ID
                                      AND FPB.PROJECT_ID=FP.PROJECT_ID)
                            END)
                    END            BP_NAME,
                    'FCT_CONTRACT' WRITE_OFF_DOC_CATEGORY
                FROM
                    FCT_CONTRACT CON
                JOIN
                    FCT_QUOTATION_CASHFLOW CON_FLOW
                ON
                    CON.CONTRACT_ID=CON_FLOW.CONTRACT_ID
                LEFT JOIN
                    FCT_PROJECT FP
                 ON
                    FP.PROJECT_ID=CON.PROJECT_ID   ) ) CONTRACT
        ON
            CWOM.CASHFLOW_ID=CONTRACT.CASHFLOW_ID
        AND CWOM.WRITE_OFF_DOC_CATEGORY=CONTRACT.WRITE_OFF_DOC_CATEGORY
        JOIN
            CSH_TRANSACTION CT
        ON
            CT.TRANSACTION_ID=CWOM.CSH_TRANSACTION_ID
        LEFT JOIN
                    HLS_CASHFLOW_ITEM HCI
              ON
                    CWOM.CF_ITEM=HCI.CF_ITEM
    WHERE
        CWOM.WRITE_FLAG IN ('N','R')
    AND CWOM.CSH_TRANSACTION_ID=#{cshTransactionId}
     <if test='writeOffType !=null '>
         AND  (#{writeOffType} != 'RECEIPT_ADVANCE_RECEIPT' AND  CWOM.WRITE_OFF_TYPE IN ('RECEIPT_CREDIT','RECEIPT_DEPOSIT') OR (CWOM.WRITE_OFF_TYPE = #{writeOffType}) )
     </if>
    </select>

    <select id="selectMatchAmountSum"  resultType="java.lang.Double">
         SELECT
            nvl(SUM(CWOM.CSH_WRITE_OFF_AMOUNT),0) AMOUNT_SUM
        FROM
            CSH_WRITE_OFF_MATCH CWOM
    WHERE
        CWOM.WRITE_FLAG IN ('N','R')
    AND CWOM.CSH_TRANSACTION_ID=#{cshTransactionId}
    </select>


     <select id="selectMatchAmount"  resultType="java.lang.Double">
         SELECT
            nvl(SUM(CWOM.CSH_WRITE_OFF_AMOUNT),0) AMOUNT_SUM
        FROM
            CSH_WRITE_OFF_MATCH CWOM
        WHERE
         CWOM.CSH_TRANSACTION_ID=#{cshTransactionId}
    </select>


      <update id="updateMatchFlag">
         UPDATE
            CSH_WRITE_OFF_MATCH SWOM
        SET
            SWOM.WRITE_FLAG='N'
        WHERE
            SWOM.WRITE_FLAG='R'
        AND SWOM.CSH_TRANSACTION_ID=#{cshTransactionId}
      </update>


  <select id="selectMatchCount"  resultType="java.lang.Integer">
    SELECT
          COUNT(1)
        FROM
            CSH_WRITE_OFF_MATCH CWOM
    WHERE
        CWOM.WRITE_FLAG IN ('N','R')
    AND CWOM.CSH_TRANSACTION_ID=#{cshTransactionId}
    </select>

    <select id="selectSumAmount" resultMap="BaseResultMap" parameterType="com.hand.hls.csh.dto.HlsCusWriteOffMatch">
    SELECT CASHFLOW_ID,SUM(WRITE_OFF_DUE_AMOUNT) WRITE_OFF_DUE_AMOUNT
    FROM CSH_WRITE_OFF_MATCH
    WHERE CASHFLOW_ID = #{cashflowId}
    GROUP BY CASHFLOW_ID
    </select>
</mapper>