<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.csh.mapper.HlsCusCshTransactionRefundMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.csh.dto.HlsCusCshTransactionRefund">
        <id column="refund_id" property="refundId" jdbcType="BIGINT"/>
        <result column="transaction_id" property="transactionId" jdbcType="BIGINT"/>

        <result column="transaction_num" property="transactionNum" jdbcType="VARCHAR"/>
        <result column="transaction_type_desc" property="transactionTypeDesc" jdbcType="VARCHAR"/>
        <result column="currency_code_desc" property="currencyCodeDesc" jdbcType="VARCHAR"/>
        <result column="TRANSACTION_AMOUNT" property="transactionAmount" jdbcType="DECIMAL"/>
        <result column="TRANSACTION_DATE" property="transactionDate" jdbcType="DATE"/>
        <result column="WRITE_OFF_AMOUNT" property="writeOffAmount" jdbcType="VARCHAR"/>
        <result column="refund_date_from" property="refundDateFrom" jdbcType="DATE"/>
        <result column="refund_date_to" property="refundDateTo" jdbcType="DATE"/>
        <result column="refund_amount_from" property="refundAmountFrom" jdbcType="DECIMAL"/>
        <result column="refund_amount_to" property="refundAmountTo" jdbcType="DECIMAL"/>
        <result column="posted_flag" property="postedFlag" jdbcType="VARCHAR"/>
        <result column="manufacturer_id" property="manufacturerId" jdbcType="DECIMAL"/>
        <result column="manufacturer_id_n" property="manufacturerIdN" jdbcType="VARCHAR"/>
        <result column="bp_id_vender" property="bpIdVender" jdbcType="DECIMAL"/>
        <result column="bp_id_vender_n" property="bpIdVenderN" jdbcType="VARCHAR"/>
        <result column="factory_id" property="factoryId" jdbcType="DECIMAL"/>
        <result column="factory_id_n" property="factoryIdN" jdbcType="VARCHAR"/>
        <result column="is_terminate" property="isTerminate" jdbcType="VARCHAR"/>
        <result column="is_terminate_n" property="isTerminateN" jdbcType="VARCHAR"/>
        <result column="can_return_amount" property="canReturnAmount" jdbcType="DECIMAL"/>
        <result column="block_amount" property="blockAmount" jdbcType="DECIMAL"/>
        <result column="return_write_off_amount" property="returnWriteOffAmount" jdbcType="DECIMAL"/>
        <result column="refunding_amount" property="refundingAmount" jdbcType="DECIMAL"/>





        <result column="refund_number" property="refundNumber" jdbcType="VARCHAR"/>
        <result column="refund_date" property="refundDate" jdbcType="DATE"/>
        <result column="refund_amount" property="refundAmount" jdbcType="DECIMAL"/>
        <result column="refund_status" property="refundStatus" jdbcType="VARCHAR"/>
        <result column="bank_account_id" property="bankAccountId" jdbcType="BIGINT"/>
        <result column="period_number" property="periodNumber" jdbcType="VARCHAR"/>
        <result column="currency_code" property="currencyCode" jdbcType="VARCHAR"/>
        <result column="bank_slip_num" property="bankSlipNum" jdbcType="VARCHAR"/>
        <result column="bp_bank_account_id" property="bpBankAccountId" jdbcType="BIGINT"/>
        <result column="process_instance_id" property="processInstanceId" jdbcType="BIGINT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="refund_flag" property="refundFlag" jdbcType="VARCHAR"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>

        <result column="LN_ID" property="lnId" jdbcType="DECIMAL" />
        <result column="source_transaction_id" property="sourceTransactionId" jdbcType="BIGINT"/>

        <result column="bp_name_category" property="bpNameCategory" jdbcType="VARCHAR"/>



        <result column="OBJECT_VERSION_NUMBER" jdbcType="BIGINT" property="objectVersionNumber"/>
        <result column="REQUEST_ID" jdbcType="BIGINT" property="requestId"/>
        <result column="PROGRAM_ID" jdbcType="BIGINT" property="programId"/>
        <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy"/>
        <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="LAST_UPDATED_BY" jdbcType="BIGINT" property="lastUpdatedBy"/>
        <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
        <result column="LAST_UPDATE_LOGIN" jdbcType="BIGINT" property="lastUpdateLogin"/>

        <result column="currency_name" property="currencyName" jdbcType="VARCHAR"/>
        <result column="refund_status_desc" property="refundStatusDesc" jdbcType="VARCHAR"/>
        <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR"/>
        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR"/>
        <result column="bp_bank_account_num" property="bpBankAccountNum" jdbcType="VARCHAR"/>
        <result column="bp_bank_account_name" property="bpBankAccountName" jdbcType="VARCHAR"/>
        <result column="bp_bank_name" property="bpBankName" jdbcType="VARCHAR"/>
        <result column="bp_bank_branch_name" property="bpBankBranchName" jdbcType="VARCHAR"/>
        <result column="created_by_name" property="createdByName" jdbcType="VARCHAR"/>
        <result column="creation_date_format" property="creationDateFormat" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="bp_payment_name" property="bpPaymentName" jdbcType="VARCHAR"/>
        <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR"/>
        <result column="payment_method_n" property="paymentMethodN" jdbcType="VARCHAR"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>

        <result column="transaction_type_n" property="transactionTypeN" jdbcType="VARCHAR"/>
        <result column="transaction_type" property="transactionType" jdbcType="VARCHAR"/>
        <result column="HANDLING_DEPARTMENT_ID" property="handlingDepartmentId" jdbcType="BIGINT"/>
        <result column="HANDLING_DEPARTMENT" property="handlingDepartment" jdbcType="VARCHAR"/>
        <result column="FINANCIAL_AGENT_ID" property="financialAgentId" jdbcType="BIGINT"/>
        <result column="FINANCIAL_AGENT" property="financialAgent" jdbcType="VARCHAR"/>
        <result column="PAYMENT_DESCRIPTION" property="paymentDescription" jdbcType="VARCHAR"/>
        <result column="sum_due_amount" property="sumDueAmount" jdbcType="BIGINT"/>
        <result column="surplus_due_amount" property="surplusDueAmount" jdbcType="BIGINT"/>
        <result column="PAYMENT_PROCESS_INSTANCE_ID" property="paymentProcessInstanceId" jdbcType="BIGINT"/>
        <result column="PAYMENT_REFUND_STATUS" property="paymentRefundStatus" jdbcType="VARCHAR"/>
        <result column="PAYMENT_REFUND_STATUS_n" property="paymentRefundStatusN" jdbcType="VARCHAR"/>
        <result column="ACTUAL_PAYMENT_DATE" property="actualPaymentDate" jdbcType="DATE"/>
        <result column="COMPANY_SPV" property="companySpv" jdbcType="BIGINT"/>
        <result column="COMPANY_SPV_n" property="companySpvN" jdbcType="VARCHAR"/>
        <result column="bp_type" property="bpType" jdbcType="VARCHAR"/>
        <result column="bp_type_n" property="bpTypeN" jdbcType="VARCHAR"/>
        <result column="payment_bp_id" property="paymentBpId" jdbcType="BIGINT"/>


    </resultMap>

    <!--二期功能：退款申请创建tab页查询-->
    <select id="createRefundQuery" parameterType="com.hand.hls.csh.dto.HlsCusCshTransactionRefund" resultMap="BaseResultMap">
        Select t1.*
        From (Select ct.TRANSACTION_ID,
        ct.TRANSACTION_NUM,
        ct.TRANSACTION_TYPE,
        cc.contract_name,
        cc.contract_number,

        cc.manufacturer_id,
        (Select hm.bp_name
        From hls_bp_master hm
        Where hm.bp_id = cc.manufacturer_id) manufacturer_id_n,
        cc.bp_id_vender,
        (Select hm.bp_name
        From hls_bp_master hm
        Where hm.bp_id = cc.bp_id_vender) bp_id_vender_n,
        cc.factory_id,
        (Select hm.bp_name
        From hls_bp_master hm
        Where hm.bp_id = cc.factory_id) factory_id_n,
        ct.TRANSACTION_DATE,
        ct.TRANSACTION_AMOUNT,

        nvl(ct.BLOCK_AMOUNT, 0) BLOCK_AMOUNT,

        (nvl(ct.transaction_amount, 0) -
        (Select nvl(Sum(nvl(line.REFUND_AMOUNT, 0)), 0)
        From CSH_TRANSACTION_REFUND_LN line,
        CSH_TRANSACTION_REFUND r
        Where line.refund_id = r.refund_id
        And r.refund_status In ('NEW', 'REJECTED')
        And line.SOURCE_TRANSACTION_ID = ct.TRANSACTION_ID) -
        (Select nvl(Sum(cwo.csh_write_off_amount), 0)
        From csh_write_off cwo
        Where cwo.csh_transaction_id = ct.transaction_id
        And cwo.reversed_flag = 'N') - nvl(ct.BLOCK_AMOUNT, 0)) As can_return_amount,

        (Select nvl(Sum(ll.REFUND_AMOUNT), 0)
        From CSH_TRANSACTION_REFUND_LN ll,
        CSH_TRANSACTION_REFUND r
        Where ll.refund_id = r.refund_id
        And r.refund_status = 'APPROVED'
        And ll.SOURCE_TRANSACTION_ID = ct.TRANSACTION_ID
        ) as return_write_off_amount,
        ( SELECT
        nvl(sum(ctr.REFUND_AMOUNT),0)
        FROM
        csh_transaction_refund ctr
        WHERE
        ctr.refund_status = 'APPROVING'
        AND ctr.TRANSACTION_ID = ct.TRANSACTION_ID
        ) refunding_amount,

        ct.CURRENCY_CODE,
        ct.BANK_ACCOUNT_ID,
        ct.posted_flag,
        (Select cba.BANK_ACCOUNT_NUM
        From CSH_BANK_ACCOUNT cba
        Where cba.BANK_ACCOUNT_ID = ct.BANK_ACCOUNT_ID) As BANK_ACCOUNT_NUM,
        nvl(ct.WRITE_OFF_AMOUNT, 0) As WRITE_OFF_AMOUNT,

        (Select m.BP_NAME
        From HLS_BP_MASTER m
        Where m.BP_ID = ct.BP_ID) As bp_name,
        (Select scvb.MEANING
        From SYS_CODE_B scb
        Left Join SYS_CODE_VALUE_B scvb
        On scb.CODE = 'CSH301_TRANSACTION_TYPE'
        And scb.CODE_ID = scvb.CODE_ID
        Where scvb.VALUE = ct.TRANSACTION_TYPE) As transaction_type_desc,
        (Select scvb.MEANING
        From SYS_CODE_B scb
        Left Join SYS_CODE_VALUE_B scvb
        On scb.CODE = 'CHS.CURRENCY_TYPE'
        And scb.CODE_ID = scvb.CODE_ID
        Where scvb.VALUE = ct.CURRENCY_CODE) As currency_code_desc,


        decode((Select Count(1)
        From CON_CONTRACT_CASHFLOW ccc
        Where ccc.CONTRACT_ID = cc.CONTRACT_ID
        And ccc.CF_ITEM != 5
        And ccc.CF_DIRECTION = 'INFLOW'
        And ccc.WRITE_OFF_FLAG != 'FULL'),
        0,
        'Y',
        'N') is_terminate,
        (Select scvb.MEANING
        From SYS_CODE_B scb
        Left Join SYS_CODE_VALUE_B scvb
        On scb.CODE = 'SYS.YES_NO'
        And scb.CODE_ID = scvb.CODE_ID
        Where scvb.VALUE =
        decode((Select Count(1)
        From CON_CONTRACT_CASHFLOW ccc
        Where ccc.CONTRACT_ID = cc.CONTRACT_ID
        And ccc.CF_ITEM != 5
        And ccc.CF_DIRECTION = 'INFLOW'
        And ccc.WRITE_OFF_FLAG != 'FULL'),
        0,
        'Y',
        'N')) As is_terminate_n,
        (
        select bm.bp_type from hls_bp_master bm where bm.bp_id=ct.bp_id
        )bp_type,
        (select hbt.description
        from hls_bp_master hbm
        left join hls_bp_type hbt
        on hbm.bp_type = hbt.bp_type
        where hbm.bp_id = ct.bp_id) as bp_name_category,
        ct.bp_id payment_bp_id,
        ct.bp_bank_name,
        ct.bp_bank_account_name,
        ct.bp_bank_account_num,
        ct.bank_slip_num
        From csh_transaction ct
        Left Join con_contract cc
        On ct.CONTRACT_ID = cc.contract_id
        Where ct.TRANSACTION_TYPE In ('ADVANCE_RECEIPT', 'DEPOSIT', 'MANAGEMENT_FEE', 'PERFORMANCE_BOND')
        And ct.WRITE_OFF_FLAG != 'FULL'
        And ct.REVERSED_FLAG = 'N'
        and not exists(select line.*
        from CSH_TRANSACTION_REFUND_LN line,
        CSH_TRANSACTION_REFUND head
        where head.REFUND_ID = line.REFUND_ID
        and line.SOURCE_TRANSACTION_ID = ct.TRANSACTION_ID
        and head.REFUND_STATUS != 'CANCEL')
        Order By ct.transaction_id Desc) t1
        <where>
            1 = 1
            <if test="contractNumber != null">
                <bind name="contractNumber" value="'%'+contractNumber+'%'"/>
                and t1.contract_number like #{contractNumber}
            </if>
            <if test="transactionDateFrom != null">
                AND t1.transaction_date &gt;= #{transactionDateFrom}
            </if>
            <if test="transactionDateTo != null">
                AND t1.transaction_date &lt;= #{transactionDateTo}
            </if>
            <if test="transactionAmountFrom != null">
                AND t1.TRANSACTION_AMOUNT &gt;= #{transactionAmountFrom}
            </if>
            <if test="transactionAmountTo != null">
                AND t1.TRANSACTION_AMOUNT &lt;= #{transactionAmountTo}
            </if>
            <if test="transactionType != null">
                AND t1.transaction_type = #{transactionType}
            </if>
            <if test="transactionNum != null">
                <bind name="transactionNum" value="'%'+transactionNum+'%'"/>
                AND t1.transaction_num like #{transactionNum}
            </if>

            <if test="manufacturerId != null">
                AND t1.manufacturer_id = #{manufacturerId}
            </if>

            <if test="manufacturerIdN != null">
                <bind name="manufacturerIdN" value="'%'+manufacturerIdN+'%'"/>
                and t1.manufacturer_id_n like #{manufacturerIdN}
            </if>
            <if test="bpIdVenderN != null">
                <bind name="bpIdVenderN" value="'%'+bpIdVenderN+'%'"/>
                and t1.bp_id_vender_n like #{bpIdVenderN}
            </if>
            <if test="factoryIdN != null">
                <bind name="factoryIdN" value="'%'+factoryIdN+'%'"/>
                and t1.factory_id_n like #{factoryIdN}
            </if>
            <if test="isTerminate != null">
                AND t1.is_terminate = #{isTerminate}
            </if>
            <if test="isTerminateN != null">
                <bind name="isTerminateN" value="'%'+isTerminateN+'%'"/>
                and t1.is_terminate_n like #{isTerminateN}
            </if>
            <if test="bpName != null">
                <bind name="bpName" value="'%'+bpName+'%'"/>
                AND t1.bp_name like #{bpName}
            </if>
            <if test="bpBankAccountName != null">
                <bind name="bpBankAccountName" value="'%'+bpBankAccountName+'%'"/>
                AND t1.bp_bank_account_name like #{bpBankAccountName}
            </if>
            <if test="bpBankAccountNum != null">
                <bind name="bpBankAccountNum" value="'%'+bpBankAccountNum+'%'"/>
                AND t1.bp_bank_account_num like #{bpBankAccountNum}
            </if>
            <if test="bpType != null">
                AND t1.bp_type = #{bpType}
            </if>
        </where>
    </select>

    <!--二期功能：退款申请维护tab页查询-->
    <select id="modifyHomeQuery" parameterType="com.hand.hls.csh.dto.HlsCusCshTransactionRefund" resultMap="BaseResultMap">
        select t1.*
        from (select ctr.REFUND_ID,
        ctr.REFUND_AMOUNT,
        ctr.REFUND_DATE,
        ctr.REFUND_STATUS,
        ctr.payment_method,
        (
        SELECT scv.meaning
        FROM sys_code_b scb,
        sys_code_value_b scv
        WHERE scb.CODE = 'CSH.PAYMENT_METHOD'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = ctr.payment_method
        )                                                                                   payment_method_n,
        (select scvb.MEANING
        from sys_code_b scb
        left join sys_code_value_b scvb
        on scb.code = 'HLS_WFL_STATUS'
        and scb.code_id = scvb.code_id
        where scvb.value = ctr.REFUND_STATUS) as refund_status_desc,
        ctr.REFUND_NUMBER,
        ctr.bp_id,
        (select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id = ctr.bp_id) as bp_name,
        (select hbt.description
        from hls_bp_master hbm
        left join hls_bp_type hbt
        on hbm.bp_type = hbt.bp_type
        where hbm.bp_id = ctr.bp_id) as bp_name_category,
        ctr.BP_BANK_BRANCH_NAME BP_BANK_BRANCH_NAME,
        ctr.BP_BANK_ACCOUNT_NAME BP_BANK_ACCOUNT_NAME,
        ctr.BP_BANK_ACCOUNT_ID,
        ctr.BP_BANK_ACCOUNT_NUM BP_BANK_ACCOUNT_NUM,
        ctr.bp_bank_name bp_bank_name,
        ctr.payment_refund_status,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'PAYMENT_REFUND_STATUS_NEW'
        AND v.code_value = ctr.PAYMENT_REFUND_STATUS) payment_refund_status_n
        from csh_transaction_refund ctr
        order by ctr.refund_id desc) t1
        <where>
            1 = 1
            <if test="refundStatus != null">
                and t1.refund_status = #{refundStatus}
            </if>
            <if test="refundNumber != null">
                <bind name="refundNumber" value="'%'+refundNumber+'%'"/>
                and t1.refund_number like #{refundNumber}
            </if>
            <if test="bpName != null">
                <bind name="bpName" value="'%'+bpName+'%'"/>
                and t1.bp_name like #{bpName}
            </if>
            <if test="refundDateFrom != null">
                and t1.refund_date >= #{refundDateFrom}
            </if>
            <if test="refundDateTo != null">
                and t1.refund_date &lt;= #{refundDateTo}
            </if>
            <if test="refundAmountFrom != null">
                and t1.refund_amount >= #{refundAmountFrom}
            </if>
            <if test="refundAmountTo != null">
                and t1.refund_amount &lt;= #{refundAmountTo}
            </if>
            <if test="bpName != null">
                <bind name="bpName" value="'%'+bpName+'%'"/>
                AND t1.bp_name like #{bpName}
            </if>
            <if test="bpBankAccountName != null">
                <bind name="bpBankAccountName" value="'%'+bpBankAccountName+'%'"/>
                AND t1.bp_bank_account_name like #{bpBankAccountName}
            </if>
            <if test="bpBankAccountNum != null">
                <bind name="bpBankAccountNum" value="'%'+bpBankAccountNum+'%'"/>
                AND t1.bp_bank_account_num like #{bpBankAccountNum}
            </if>
            <if test="paymentRefundStatus != null">
                AND t1.payment_refund_status = #{paymentRefundStatus}
            </if>
        </where>

    </select>


    <select id="cshTransactionRefundQuery" parameterType="com.hand.hls.csh.dto.HlsCusCshTransactionRefund" resultMap="BaseResultMap">
        select *
        from (SELECT t.*,
        (select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id = t.bp_id
        ) as                                                                  bp_name,

        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'HLS_WFL_STATUS'
        AND v.code_value = t.refund_status)                                refund_status_desc,
        (select c.currency_name
        from fnd_currency c
        where c.currency_code = t.currency_code)                             currency_name,
        (select cba.bank_account_num
        from csh_bank_account cba
        where cba.bank_account_id = t.bank_account_id)                       bank_account_num,
        (select cba.bank_account_name
        from csh_bank_account cba
        where cba.bank_account_id = t.bank_account_id)                       bank_account_name,
        (select u.description from sys_user u where u.user_id = t.created_by) created_by_name,
        t.creation_date                                                       creation_date_format,

        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'PAYMENT_REFUND_STATUS'
        AND v.code_value = nvl(t.PAYMENT_REFUND_STATUS, 'NEW'))            payment_refund_status_n
        FROM csh_transaction_refund t) t1
        <where>
            <if test="refundId != null">
                AND t1.refund_id = #{refundId}
            </if>
            <if test="refundFlag != null">
                AND t1.refund_flag = #{refundFlag}
            </if>
            <if test="refundStatus != null">
                AND t1.refund_status = #{refundStatus}
            </if>
            <if test="refundNumber!=null">
                <bind name="refundNumber" value="'%'+refundNumber+'%'"/>
                and t1.refund_number like #{refundNumber}
            </if>
            <if test="refundDate != null">
                AND t1.refund_date = #{refundDate}
            </if>
            <if test="refundAmount != null">
                AND t1.refund_amount = #{refundAmount}
            </if>
            <if test="bpBankAccountNum!=null">
                <bind name="bpBankAccountNum" value="'%'+bpBankAccountNum+'%'"/>
                and t1.bp_bank_account_num like #{bpBankAccountNum}
            </if>
            <if test="bpBankAccountName!=null">
                <bind name="bpBankAccountName" value="'%'+bpBankAccountName+'%'"/>
                and t1.bp_bank_account_name like #{bpBankAccountName}
            </if>
            <if test="creationDateFormat!= null">
                AND t1.creation_date=  #{creationDateFormat}
            </if>
            <if test="createdByName!=null">
                <bind name="createdByName" value="'%'+createdByName+'%'"/>
                and t1.created_by_name like #{createdByName}
            </if>
            <if test="bpName!=null">
                <bind name="bpName" value="'%'+bpName+'%'"/>
                and t1.bp_name like #{bpName}
            </if>
            <if test="paymentRefundStatus!=null">
                <bind name="paymentRefundStatus" value="'%'+paymentRefundStatus+'%'"/>
                and t1.payment_refund_status like #{paymentRefundStatus}
            </if>
            <if test="sourceTransactionId!=null">
                and exists (select 1 from csh_transaction_refund_ln l
                where l.REFUND_ID=t1.REFUND_ID
                and l.source_transaction_id = #{sourceTransactionId})
            </if>
        </where>
        order by t1.refund_number desc
    </select>

    <select id="cshPaymentTransactionRefundQuery" parameterType="com.hand.hls.csh.dto.HlsCusCshTransactionRefund" resultMap="BaseResultMap">
        select * from (
        SELECT t.*,
        (select hbm.bp_name from hls_bp_master hbm,csh_transaction ct where hbm.bp_id=ct.bp_id and ct.transaction_id=t.transaction_id) as bp_name,
        (SELECT scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv,
        csh_transaction ct
        WHERE
        scb.CODE = 'CSH.PAYMENT_METHOD'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = ct.payment_method
        and ct.transaction_id = t.transaction_id) payment_method_n,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'HLS_WFL_STATUS'
        AND v.code_value = t.refund_status) refund_status_desc,
        (select c.currency_name from fnd_currency c where c.currency_code= t.currency_code)currency_name,
        (select cba.bank_account_num from csh_bank_account cba where cba.bank_account_id = t.bank_account_id)  bank_account_num,
        (select cba.bank_account_name from csh_bank_account cba where cba.bank_account_id = t.bank_account_id) bank_account_name,
        (select hba.bank_account_num from hls_bp_master_bank_account hba where hba.bank_account_id = t.bp_bank_account_id)bp_bank_account_num,
        (select hba.bank_account_name from hls_bp_master_bank_account hba where hba.bank_account_id = t.bp_bank_account_id)bp_bank_account_name,
        (select hba.bank_full_name from hls_bp_master_bank_account hba where hba.bank_account_id = t.bp_bank_account_id)bp_bank_name,
        (select hba.bank_branch_name from hls_bp_master_bank_account hba where hba.bank_account_id = t.bp_bank_account_id)bp_bank_branch_name,
        (select u.description from sys_user u where u.user_id = t.created_by )created_by_name,
        t.creation_date  creation_date_format,
        ( SELECT ct.TRANSACTION_TYPE FROM csh_transaction ct WHERE ct.TRANSACTION_ID = t.TRANSACTION_ID ) TRANSACTION_TYPE,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v.CODE = 'CSH301_TRANSACTION_TYPE'
        AND v.code_value = ( SELECT ct.TRANSACTION_TYPE FROM csh_transaction ct WHERE ct.TRANSACTION_ID = t.TRANSACTION_ID)
        ) transaction_type_n,
        ( SELECT FC.CURRENCY_NAME FROM FND_CURRENCY FC WHERE FC.CURRENCY_CODE = t.CURRENCY_CODE ) AS currency_code_n,
        ( SELECT c.contract_number FROM con_contract c WHERE c.contract_id = ( SELECT ct.contract_id FROM csh_transaction ct WHERE ct.TRANSACTION_ID = t.TRANSACTION_ID ) ) contract_number,
        ( SELECT c.contract_name FROM con_contract c WHERE c.contract_id = ( SELECT ct.contract_id FROM csh_transaction ct WHERE ct.TRANSACTION_ID = t.TRANSACTION_ID )) contract_name,
        nvl((select sum(cf.REFUND_AMOUNT) from  csh_transaction  ct,csh_transaction_refund  cf
        where  ct.TRANSACTION_ID=cf.TRANSACTION_ID
        and cf.REFUND_STATUS='APPROVED'
        and cf.TRANSACTION_ID=t.TRANSACTION_ID
        ),0)  sum_due_amount,
        (select cs1.transaction_amount  from csh_transaction  cs1  where  cs1.TRANSACTION_ID=t.TRANSACTION_ID)  transaction_amount,
        (select cs1.transaction_amount  from csh_transaction  cs1  where  cs1.TRANSACTION_ID=t.TRANSACTION_ID)-  nvl((select sum(cf.REFUND_AMOUNT) from  csh_transaction  ct,csh_transaction_refund  cf
        where  ct.TRANSACTION_ID=cf.TRANSACTION_ID
        and cf.REFUND_STATUS='APPROVED'
        and cf.TRANSACTION_ID=t.TRANSACTION_ID
        ),0)                  surplus_due_amount,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'PAYMENT_REFUND_STATUS'
        AND v.code_value = t.PAYMENT_REFUND_STATUS) payment_refund_status_n,
        (select  pt.COMPANY_SPV from prj_project pt  where  pt.project_id=( SELECT c.project_id FROM con_contract c WHERE c.contract_id = ( SELECT ct.contract_id FROM csh_transaction ct WHERE ct.TRANSACTION_ID = t.TRANSACTION_ID )))
        COMPANY_SPV,
        (
        SELECT
        t.company_full_name
        FROM
        fnd_company t
        WHERE
        t.company_id = (select  pt.COMPANY_SPV from prj_project pt  where  pt.project_id=( SELECT c.project_id FROM con_contract c WHERE c.contract_id = ( SELECT ct.contract_id FROM csh_transaction ct WHERE ct.TRANSACTION_ID = t.TRANSACTION_ID )))
        ) AS company_spv_n
        FROM csh_transaction_refund t)t1
        <where>
        1=1
            and t1.payment_refund_status in  ('APPROVING','APPROVED','PAID')
            <if test="transactionId != null">
                AND t1.transaction_id = #{transactionId}
            </if>
            <if test="refundId != null">
                AND t1.refund_id = #{refundId}
            </if>
            <if test="refundFlag != null">
                AND t1.refund_flag = #{refundFlag}
            </if>
            <if test="refundStatus != null">
                AND t1.refund_status = #{refundStatus}
            </if>
            <if test="refundNumber!=null">
                <bind name="refundNumber" value="'%'+refundNumber+'%'"/>
                and t1.refund_number like #{refundNumber}
            </if>
            <if test="refundDate != null">
                AND t1.refund_date = #{refundDate}
            </if>
            <if test="refundAmount != null">
                AND t1.refund_amount = #{refundAmount}
            </if>
            <if test="bpBankAccountNum!=null">
                <bind name="bpBankAccountNum" value="'%'+bpBankAccountNum+'%'"/>
                and t1.bp_bank_account_num like #{bpBankAccountNum}
            </if>
            <if test="bpBankAccountName!=null">
                <bind name="bpBankAccountName" value="'%'+bpBankAccountName+'%'"/>
                and t1.bp_bank_account_name like #{bpBankAccountName}
            </if>
            <if test="creationDateFormat!= null">
                AND t1.creation_date=  #{creationDateFormat}
            </if>
            <if test="createdByName!=null">
                <bind name="createdByName" value="'%'+createdByName+'%'"/>
                and t1.created_by_name like #{createdByName}
            </if>
            <if test="contractNumber!=null">
                <bind name="contractNumber" value="'%'+contractNumber+'%'"/>
                and t1.contract_number like #{contractNumber}
            </if>
            <if test="bpName!=null">
                <bind name="bpName" value="'%'+bpName+'%'"/>
                and t1.bp_name like #{bpName}
            </if>
            <if test="paymentRefundStatus!=null">
                <bind name="paymentRefundStatus" value="'%'+paymentRefundStatus+'%'"/>
                and t1.payment_refund_status like #{paymentRefundStatus}
            </if>
        </where>
        order by t1.refund_number desc
    </select>

    <!--二期功能：退款明细页面行信息查询-->
    <select id="refundInfoLnQuery" parameterType="com.hand.hls.csh.dto.HlsCusCshTransactionRefund" resultMap="BaseResultMap">
        SELECT t1.*
        FROM (SELECT ct.TRANSACTION_ID,
        ct.TRANSACTION_NUM,
        ct.TRANSACTION_TYPE,
        ct.posted_flag,
        cc.CONTRACT_ID,
        cc.contract_number,
        ctrl.ln_id,
        ctrl.refund_id,
        ctrl.bank_account_id,
        ctrl.refund_amount,
        ctrl.payment_method,
        (
        SELECT scv.meaning
        FROM sys_code_b scb,
        sys_code_value_b scv
        WHERE scb.CODE = 'CSH.PAYMENT_METHOD'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = ctrl.payment_method
        )                                                                                   payment_method_n,
        ctrl.bank_slip_num,
        ctrl.object_version_number,
        ctrl.request_id,
        ctrl.program_id,
        ctrl.created_by,
        ctrl.creation_date,
        ctrl.last_updated_by,
        ctrl.last_update_date,
        ctrl.last_update_login,
        ctrl.SOURCE_TRANSACTION_ID,
        ct.TRANSACTION_DATE,
        ct.TRANSACTION_AMOUNT,
        ct.CURRENCY_CODE,
        nvl(ct.WRITE_OFF_AMOUNT, 0)                                                                 AS WRITE_OFF_AMOUNT,
        (SELECT m.BP_NAME FROM HLS_BP_MASTER m WHERE m.BP_ID = ct.BP_ID)                            AS bp_payment_name,
        (SELECT scvb.MEANING
        FROM SYS_CODE_B scb
        LEFT JOIN SYS_CODE_VALUE_B scvb
        ON scb.CODE = 'CSH301_TRANSACTION_TYPE' AND scb.CODE_ID = scvb.CODE_ID
        WHERE scvb.VALUE = ct.TRANSACTION_TYPE)                                                    AS transaction_type_desc,
        (SELECT scvb.MEANING
        FROM SYS_CODE_B scb
        LEFT JOIN SYS_CODE_VALUE_B scvb ON scb.CODE = 'CHS.CURRENCY_TYPE' AND scb.CODE_ID = scvb.CODE_ID
        WHERE scvb.VALUE = ct.CURRENCY_CODE)                                                       AS currency_code_desc,
        (SELECT nvl(SUM(cwo.csh_write_off_amount), 0)
        FROM csh_write_off cwo
        WHERE cwo.csh_transaction_id = ct.transaction_id
        AND cwo.reversed_flag = 'N'
        AND cwo.write_off_type = 'REFUND')                                                          return_write_off_amount,
        ( SELECT
        sum(ctr.REFUND_AMOUNT)
        FROM
        csh_transaction_refund ctr
        WHERE
        ctr.refund_status = 'APPROVING'
        AND ctr.TRANSACTION_ID = ct.TRANSACTION_ID
        )  refunding_amount,
        (nvl(ct.transaction_amount, 0) - nvl(ct.block_amount, 0) - (SELECT nvl(SUM(cwo.csh_write_off_amount), 0)
        FROM csh_write_off cwo
        WHERE cwo.csh_transaction_id = ct.transaction_id
        AND cwo.reversed_flag = 'N')) AS can_return_amount,
        (select bm.bp_name from hls_bp_master bm where bm.bp_id=ct.bp_id) bp_name
        FROM csh_transaction_refund_ln ctrl
        INNER JOIN csh_transaction ct ON ct.TRANSACTION_ID = ctrl.SOURCE_TRANSACTION_ID
        LEFT JOIN con_contract cc ON ct.contract_id = cc.contract_id
        WHERE ct.TRANSACTION_TYPE IN ('ADVANCE_RECEIPT', 'DEPOSIT', 'MANAGEMENT_FEE', 'PERFORMANCE_BOND')) t1
        <where>
            <if test="refundId != null">
                and t1.refund_id = #{refundId}
            </if>
            <if test="transactionIds != null">
                AND t1.transaction_id in
                <foreach collection="transactionIds" open="(" separator="," close=")" item="item" index="index">
                    #{item,jdbcType=DECIMAL}
                </foreach>
            </if>
        </where>
    </select>

    <!--二期功能：待支付清单-退款申请 首页查询-->
    <select id="refundPayHome" parameterType="com.hand.hls.csh.dto.HlsCusCshTransactionRefund" resultMap="BaseResultMap">
        select *
        from (SELECT t.*,
                        (
                        SELECT scv.meaning
                        FROM sys_code_b scb,
                        sys_code_value_b scv
                        WHERE scb.CODE = 'CSH.PAYMENT_METHOD'
                        AND scb.CODE_ID = scv.CODE_ID
                        and scv.value = t.payment_method
                        )                                                                                   payment_method_n,
                     (select hbm.bp_name
                      from hls_bp_master hbm
                      where hbm.bp_id = t.bp_id
                     ) as                                                                  bp_name,

                     (SELECT v.meaning
                      FROM sys_code_value_b_v v
                      WHERE v.code = 'HLS_WFL_STATUS'
                        AND v.code_value = t.refund_status)                                refund_status_desc,
                     (select c.currency_name
                      from fnd_currency c
                      where c.currency_code = t.currency_code)                             currency_name,
                     (select cba.bank_account_num
                      from csh_bank_account cba
                      where cba.bank_account_id = t.bank_account_id)                       bank_account_num,
                     (select cba.bank_account_name
                      from csh_bank_account cba
                      where cba.bank_account_id = t.bank_account_id)                       bank_account_name,
                     (select u.description from sys_user u where u.user_id = t.created_by) created_by_name,
                     t.creation_date                                                       creation_date_format,
                     (SELECT v.meaning
                      FROM sys_code_value_b_v v
                      WHERE v.code = 'PAYMENT_REFUND_STATUS_NEW'
                        AND v.code_value = nvl(t.PAYMENT_REFUND_STATUS, 'NEW'))            payment_refund_status_n
              FROM csh_transaction_refund t
              <!--WHERE t.REFUND_STATUS = 'APPROVED'-->
              where t.PAYMENT_REFUND_STATUS not in ('NEW')
                ) t1
        <where>
            <if test="refundStatus != null">
                and t1.refund_status = #{refundStatus}
            </if>
            <if test="refundNumber != null">
                <bind name="refundNumber" value="'%'+refundNumber+'%'"/>
                and t1.refund_number like #{refundNumber}
            </if>

            <if test="bpName != null">
                <bind name="bpNameLike" value="'%'+bpName+'%'"/>
                and t1.bp_name like #{bpNameLike}
            </if>
            <if test="bpBankAccountNum != null">
                <bind name="bpBankAccountNumLike" value="'%'+bpBankAccountNum+'%'"/>
                and t1.bp_bank_account_num like #{bpBankAccountNumLike}
            </if>
            <if test="bpBankAccountName != null">
                <bind name="bpBankAccountNameLike" value="'%'+bpBankAccountName+'%'"/>
                and t1.bp_bank_account_name like #{bpBankAccountNameLike}
            </if>

            <if test="refundDateFrom != null">
                and t1.refund_date >= #{refundDateFrom}
            </if>
            <if test="refundDateTo != null">
                and t1.refund_date &lt;= #{refundDateTo}
            </if>
            <if test="refundAmountFrom != null">
                and t1.refund_amount >= #{refundAmountFrom}
            </if>
            <if test="refundAmountTo != null">
                and t1.refund_amount &lt;= #{refundAmountTo}
            </if>
        </where>
    </select>

    <!--二期功能：待支付清单-退款申请 支付页面头信息查询-->
    <resultMap id="BaseInfoMap" type="map">
        <result column="refund_id" property="refund_id"/>
        <result column="transaction_id" property="transaction_id"/>
        <result column="refund_number" property="refund_number"/>
        <result column="refund_date" property="refund_date"/>
        <result column="refund_amount" property="refund_amount"/>
        <result column="bank_account_id" property="bank_account_id"/>
        <result column="bank_slip_num" property="bank_slip_num"/>
        <result column="bp_bank_account_id" property="bp_bank_account_id"/>
        <result column="payment_method" property="payment_method"/>
        <result column="payment_method_n" property="payment_method_n"/>
        <result column="bp_id" property="bp_id"/>
        <result column="bp_name" property="bp_name"/>
        <result column="bank_account_num" property="bank_account_num"/>
        <result column="bank_account_name" property="bank_account_name"/>
        <result column="bp_bank_account_num" property="bp_bank_account_num"/>
        <result column="bp_bank_account_name" property="bp_bank_account_name"/>
        <result column="bp_bank_name" property="bp_bank_name"/>
        <result column="bp_bank_branch_name" property="bp_bank_branch_name"/>
    </resultMap>
    <select id="refundPayHeadInfo" resultMap="BaseInfoMap">
        select ctr.refund_id,
               ctr.transaction_id,
               ctr.refund_number,
               ctr.refund_date,
               ctr.refund_amount,
               ctr.bank_account_id,
               ctr.bank_slip_num,
               ctr.bp_bank_account_id,
               ctr.payment_method,
                (
                SELECT scv.meaning
                FROM sys_code_b scb,
                sys_code_value_b scv
                WHERE scb.CODE = 'CSH.PAYMENT_METHOD'
                AND scb.CODE_ID = scv.CODE_ID
                and scv.value = ctr.payment_method
                ) payment_method_n,
               ctr.bp_id,
               (select hbm.bp_name
                from hls_bp_master hbm
                where hbm.bp_id = ctr.bp_id
                ) as bp_name,
               (select cba.bank_account_num
                from csh_bank_account cba
                where cba.bank_account_id = ctr.bank_account_id) bank_account_num,
                (select cba.bank_account_name
                from csh_bank_account cba
                where cba.bank_account_id = ctr.bank_account_id) bank_account_name,
                ctr.bp_bank_account_num bp_bank_account_num,
                ctr.bp_bank_account_name bp_bank_account_name,
                ctr.bp_bank_name bp_bank_name,
                ctr.bp_bank_branch_name bp_bank_branch_name
        from csh_transaction_refund ctr
        <where>
            <if test="refundId!=null and refundId!=''">
                and ctr.REFUND_ID=#{refundId}
            </if>
        </where>

    </select>
    <select id="refundPayHeadDetail" parameterType="com.hand.hls.csh.dto.HlsCusCshTransactionRefund"
            resultMap="BaseResultMap">
        select ctr.refund_id,
               ctr.transaction_id,
               ctr.refund_number,
               ctr.refund_date,
               ctr.refund_amount,
               ctr.refund_status,
               ctr.bank_account_id,
               ctr.period_number,
               ctr.currency_code,
               ctr.bank_slip_num,
               ctr.bp_bank_account_id,
               ctr.process_instance_id,
               ctr.object_version_number,
               ctr.request_id,
               ctr.program_id,
               ctr.created_by,
               ctr.creation_date,
               ctr.last_updated_by,
               ctr.last_update_date,
               ctr.last_update_login,
               ctr.description,
               ctr.refund_flag,
               ctr.handling_department_id,
               ctr.handling_department,
               ctr.financial_agent,
               ctr.financial_agent_id,
               ctr.payment_description,
               ctr.payment_process_instance_id,
               ctr.payment_refund_status,
               ctr.actual_payment_date,
               ctr.payment_method,
                (
                SELECT scv.meaning
                FROM sys_code_b scb,
                sys_code_value_b scv
                WHERE scb.CODE = 'CSH.PAYMENT_METHOD'
                AND scb.CODE_ID = scv.CODE_ID
                and scv.value = ctr.payment_method
                )                                                                                   payment_method_n,
               ctr.bp_id,
               (select hbm.bp_name
                from hls_bp_master hbm
                where hbm.bp_id = ctr.bp_id
                ) as                                                                  bp_name,
               (select cba.bank_account_num
                from csh_bank_account cba
                where cba.bank_account_id = ctr.bank_account_id)                       bank_account_num,
                (select cba.bank_account_name
                from csh_bank_account cba
                where cba.bank_account_id = ctr.bank_account_id)                       bank_account_name,
                (select hba.bank_account_num
                from hls_bp_master_bank_account hba
                where hba.bank_account_id = ctr.bp_bank_account_id)                    bp_bank_account_num,
                (select hba.bank_account_name
                from hls_bp_master_bank_account hba
                where hba.bank_account_id = ctr.bp_bank_account_id)                    bp_bank_account_name,
                (select hba.bank_full_name
                from hls_bp_master_bank_account hba
                where hba.bank_account_id = ctr.bp_bank_account_id)                    bp_bank_name,
                (select hba.bank_branch_name
                from hls_bp_master_bank_account hba
                where hba.bank_account_id = ctr.bp_bank_account_id)                    bp_bank_branch_name,
               ctr.authority_rule_string
        from csh_transaction_refund ctr
        <where>
            <if test="refundId!=null and refundId!=''">
                and ctr.REFUND_ID=#{refundId}
            </if>
        </where>

    </select>

    <resultMap id="transactionIdMap" type="Map">
        <result column="transaction_id" property="transactionId"/>
    </resultMap>

    <select id="queryRefundTransactionId" resultMap="transactionIdMap">
        Select t.source_transaction_id transaction_id
                  From csh_transaction_refund_line t
                 Where t.refund_id = #{refundId}
    </select>


    <select id="refundPayTransactionCashflowIdByRefundId" resultType="java.util.Map">
        select caa.cashflow_id, ctrl.refund_amount
        from CSH_TRANSACTION_REFUND ctr
                 LEFT JOIN CSH_TRANSACTION_REFUND_LN ctrl
                           ON ctrl.REFUND_ID = ctr.REFUND_ID
                 LEFT JOIN CSH_TRANSACTION ct
                           ON ct.TRANSACTION_ID = ctrl.SOURCE_TRANSACTION_ID
                 LEFT JOIN csh_allocation_receipt car
                           ON car.transaction_id = ct.SOURCE_TRANSACTION_ID
                 LEFT JOIN CSH_ALLOCATION_ADVANCE caa
                           ON caa.ALLOCATION_ID = car.ALLOCATION_ID
        where ctr.REFUND_ID = #{refundId}
    </select>

</mapper>