<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusHlsCreditChancePledgeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusHlsCreditChancePledge">
        <result column="CREDIT_CHANCE_PLEDGE_ID" property="creditChancePledgeId" jdbcType="DECIMAL" />
        <result column="CHANCE_ID" property="chanceId" jdbcType="DECIMAL" />
        <result column="PLEDGE_BP_ID" property="pledgeBpId" jdbcType="DECIMAL" />
        <result column="PLEDGE_NAME" property="pledgeName" jdbcType="VARCHAR" />
        <result column="PLEDGE_CURRENCY" property="pledgeCurrency" jdbcType="VARCHAR" />
        <result column="PLEDGE_AMOUNT" property="pledgeAmount" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <!--transient-->
        <result column="BP_CODE" property="bpCode" jdbcType="VARCHAR" />
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />

    </resultMap>

    <select id="selectByForeignKey" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditChancePledge" resultMap="BaseResultMap">
        select hbm.BP_CODE,
            hbm.BP_NAME,
        t.CREDIT_CHANCE_PLEDGE_ID,
        t.CHANCE_ID,
        t.PLEDGE_BP_ID,
            t.PLEDGE_NAME,
            t.PLEDGE_CURRENCY,
            t.PLEDGE_AMOUNT,
            t.DESCRIPTION
        from HLS_CREDIT_CHANCE_PLEDGE t, hls_bp_master hbm
        where t.PLEDGE_BP_ID=hbm.BP_ID
        <if test="chanceId!=null">
            AND t.CHANCE_ID=#{chanceId}
        </if>
    </select>

</mapper>