<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusHlsCreditLineChanceBpMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusHlsCreditLineChanceBp">
        <result column="chance_bp_id" property="chanceBpId" jdbcType="DECIMAL"/>
        <result column="chance_id" property="chanceId" jdbcType="DECIMAL"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="bp_name_n" property="bpNameN" jdbcType="VARCHAR"/>
        <result column="bp_eng_name" property="bpEngName" jdbcType="VARCHAR"/>
        <result column="bp_type" property="bpType" jdbcType="VARCHAR"/>
        <result column="bp_type_n" property="bpTypeN" jdbcType="VARCHAR"/>
        <result column="bp_class" property="bpClass" jdbcType="VARCHAR"/>
        <result column="bp_class_n" property="bpClassN" jdbcType="VARCHAR"/>
        <result column="tenant_sec_id" property="tenantSecId" jdbcType="VARCHAR"/>
        <result column="tenant_sec_id_n" property="tenantSecIdN" jdbcType="VARCHAR"/>
        <result column="guarantor_id" property="guarantorId" jdbcType="VARCHAR"/>
        <result column="guarantor_np_id" property="guarantorNpId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>

        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="guar_method" property="guarMethod" jdbcType="VARCHAR"/>
        <result column="guar_method_n" property="guarMethodN" jdbcType="VARCHAR"/>
        <result column="bp_code" property="bpCode" jdbcType="VARCHAR"/>
        <result column="bp_catagory" property="bpCatagory" jdbcType="VARCHAR"/>
        <result column="group_companies" property="groupCompanies" jdbcType="VARCHAR"/>
        <result column="economic_indu_classify" property="economicInduClassify" jdbcType="VARCHAR"/>
        <result column="economic_indu_classify_n" property="economicInduClassifyN" jdbcType="VARCHAR"/>

        <result column="credit_amount" property="creditAmount" jdbcType="DECIMAL"/>
        <result column="credit_amount_used" property="creditAmountUsed" jdbcType="DECIMAL"/>
        <result column="credit_project_id" property="creditProjectId" jdbcType="DECIMAL"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="selectByForeignKey" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLineChanceBp"
            resultMap="BaseResultMap">
        select hbm.BP_CODE as bp_code,
        t.chance_bp_id,
        t.chance_id,
        t.bp_id,
        t.bp_name,
        hbm.bp_name as bp_id_n,
        t.bp_eng_name,
        t.bp_type,
        t.note,
        t.guar_method,
        (select v.MEANING from sys_code_value_b_v v
        where v.CODE='HCLCB.GUAR_METHOD' and v.code_value=t.guar_method) as guar_method_n,
        hbm.GROUP_COMPANIES,
        HBM.ECONOMIC_INDU_CLASSIFY,
        (SELECT S.DESCRIPTION FROM HLS_STAT_CLASS S WHERE to_char(S.CLASS_ID)=HBM.ECONOMIC_INDU_CLASSIFY) ECONOMIC_INDU_CLASSIFY_N,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'BP.BP_MASTER_ROLE'
        and scv.value = t.bp_type) bp_type_n,
        hbm.bp_class,
        t.credit_amount,
        t.credit_amount_used,
        t.credit_project_id,
        (select max(contract_number) as contract_number from prj_project where ref_project_id = t.credit_project_id and contract_number is not null) as contract_number
        from HLS_CREDIT_LINE_CHANCE_BP t, hls_bp_master hbm
        where t.bp_id=hbm.BP_ID
        <if test="chanceId!=null">
            AND t.CHANCE_ID=#{chanceId}
        </if>
        <if test="allocatFlag != null">
            AND t.bp_type in ('TENANT')
        </if>
    </select>

    <select id="selectBpByMarket" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLineChanceBp"
            resultMap="BaseResultMap">
           select   hmrb.bp_id,
                    hbm.bp_eng_name,
                    hbm.bp_name,
                    hbm.bp_name as bp_name_n,
                    hmr.marketing_report_id,
                    hmr.marketing_report_number,
                    hbmr.bp_type,
                    hbt.description as bp_type_n,
                    hbm.bp_class

            from    hls_marketing_report    hmr,
                    hls_marketing_report_bp hmrb,
                    hls_bp_master           hbm,
                    hls_bp_type hbt,
                    hls_bp_master_role hbmr
           <where>
                    hmrb.marketing_report_id = hmr.marketing_report_id
                   and hmrb.bp_id = hbm.bp_id

                   and hmr.from_project = 'N'
                   and hbmr.bp_id = hbm.bp_id
                   and hbmr.bp_type = hbt.bp_type
                   and hmrb.bp_type = hbt.bp_type

                   <if test="marketingReportId != null">
                       and  hmr.marketing_report_id = #{marketingReportId}
                   </if>
           </where>
    </select>

    <select id="selectDistinctByBp" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLineChanceBp"
            resultMap="BaseResultMap">
        SELECT *
        FROM   hls_credit_line_chance_bp hcb
         <where>
                1=1
             <if test="bpId != null">
               and  hcb.bp_id = #{bpId}
             </if>
             <if test="chanceId != null">
                 and  hcb.chance_id = #{chanceId}
             </if>
             <if test="bpType != null">
                and hcb.bp_type = #{bpType}
             </if>
         </where>

    </select>

    <select id="selectTenantBpByChance" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLineChanceBp"
            resultMap="BaseResultMap">
        SELECT *
        FROM   hls_credit_line_chance_bp hcb
         <where>
                1=1
                and hcb.bp_type = 'TENANT'
             <if test="chanceId != null">
               and  hcb.chance_id = #{chanceId}
             </if>

         </where>

    </select>

    <select id="selectBpInfoByChance" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLineChanceBp"
            resultMap="BaseResultMap">
        SELECT *
        FROM   hls_credit_line_chance_bp hcb
         <where>
                1=1
             <if test="chanceId != null">
               and  hcb.chance_id = #{chanceId}
             </if>
         </where>

    </select>

    <select id="selectTenantSecBpByChance" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLineChanceBp"
            resultMap="BaseResultMap">
        SELECT  wm_concat(hcb.bp_id) as tenant_sec_id ,
                wm_concat(hcb.bp_name) as tenant_sec_id_n
        FROM   hls_credit_line_chance_bp hcb
        <where>
            1=1
            and hcb.bp_type = 'TENANT_SEC'
            <if test="chanceId != null">
                and  hcb.chance_id = #{chanceId}
            </if>

        </where>

    </select>

    <select id="selectGuarantorIdBpByChance" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLineChanceBp"
            resultMap="BaseResultMap">
        SELECT  wm_concat(hcb.bp_id) as guarantor_id
        FROM   hls_credit_line_chance_bp hcb
        <where>
            1=1
            and hcb.bp_type = 'WARRANTOR'
            and hcb.bp_class = 'ORG'
            <if test="chanceId != null">
                and  hcb.chance_id = #{chanceId}
            </if>
        </where>
    </select>

    <select id="selectGuarantorNpIdBpByChance" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLineChanceBp"
            resultMap="BaseResultMap">
        SELECT  wm_concat(hcb.bp_id) as guarantor_np_id
        FROM   hls_credit_line_chance_bp hcb
        <where>
            1=1
            and hcb.bp_type = 'WARRANTOR'
            and hcb.bp_class = 'NP'
            <if test="chanceId != null">
                and  hcb.chance_id = #{chanceId}
            </if>
        </where>
    </select>

    <update id="updateUsedAmountByBpId" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLineChanceBp">
        update HLS_CREDIT_LINE_CHANCE_BP set credit_amount_used=#{creditAmountUsed} where bp_id=#{bpId} AND chance_id=#{chanceId}
    </update>

    <select id="findCustomer" resultMap="BaseResultMap">
        SELECT
        hclcb.chance_bp_id,
        hclcb.bp_id,
        hbm.bp_name ,
        hbm.bp_code,
        hclcb.bp_type,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BP.BP_MASTER_ROLE' AND sc.code_value = hclcb.bp_type ) bp_type_n,
        hbm.economic_indu_classify,
        (
        SELECT
        t.description
        FROM
        hls_stat_class t
        WHERE
        t.class_usage = 'BIZ_PARTNER'
        AND t.enabled_flag = 'Y'
        AND to_char( t.CLASS_ID ) = hbm.economic_indu_classify
        )  economic_indu_classify_n,
        hbm.group_companies,
        hclcb.note
        FROM
        HLS_CREDIT_LINE_CHANCE_BP hclcb
        INNER JOIN hls_bp_master hbm ON hclcb.bp_id = hbm.bp_id
        <where>
                hclcb.chance_id = #{chanceId}
        </where>
    </select>


</mapper>