<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCreditPlanLineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCreditPlanLine">
        <result column="LINE_ID" property="lineId" jdbcType="DECIMAL" />
        <result column="CREDIT_PLAN_ID" property="creditPlanId" jdbcType="DECIMAL" />
        <result column="FACTORING_CATEGORY" property="factoringCategory" jdbcType="VARCHAR" />
        <result column="CREDIT_AMT" property="creditAmt" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="bp_name" property="bpName" jdbcType="VARCHAR" />
        <result column="bp_code" property="bpCode" jdbcType="VARCHAR" />
        <result column="bp_type" property="bpType" jdbcType="VARCHAR" />
        <result column="bp_type_n" property="bpTypeN" jdbcType="VARCHAR" />
        <result column="group_companies" property="groupCompanies" jdbcType="VARCHAR" />
        <result column="group_companies" property="factoringCategoryN" jdbcType="VARCHAR" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="bp_name_n" property="bpNameN" jdbcType="VARCHAR" />
        <result column="factoring_category_n" property="factoringCategoryN" jdbcType="VARCHAR" />
        <result column="chance_id" property="chanceId" jdbcType="DECIMAL" />
        <result column="project_id" property="projectId" jdbcType="DECIMAL" />

        <result column="approval_amount" property="approvalAmount" jdbcType="DECIMAL" />
        <result column="occ_amount" property="occAmount" jdbcType="DECIMAL" />
        <result column="due_amount" property="dueAmount" jdbcType="DECIMAL" />
    </resultMap>

    <select id="findFactoringInfo" resultMap="BaseResultMap">
        SELECT
        c.chance_id,
        hcpl.CREDIT_PLAN_ID,
        hcpl.line_id,
        hbm.bp_id,
        hbm.bp_name ,
        hbm.bp_name bp_name_n,
        hbm.bp_code,
        hbm.bp_type,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BP.BP_MASTER_ROLE' AND sc.code_value = hbm.bp_type ) bp_type_n,
        hbm.group_companies,
        hcpl.factoring_category,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.code = 'CHANCE.FACTORING_CATEGORY' AND sc.code_value = hcpl.factoring_category ) factoring_category_n,
        hcpl.credit_amt,
        hcpl.description
        FROM
        hls_credit_plan_line hcpl
        INNER JOIN hls_credit_plan hcp ON hcp.credit_plan_id = hcpl.credit_plan_id
        INNER JOIN hls_credit_line_chance c ON hcp.source_document_category = 'HLS_CREDIT_LINE_CHANCE'
        AND hcp.source_document_id = c.chance_id
        INNER JOIN hls_bp_master hbm ON c.bp_id = hbm.bp_id
        <where>
            hbm.bp_type = 'ASSET_TRANSFEROR'
            and  hcpl.credit_plan_id = #{creditPlanId}

        </where>

    </select>

    <select id="findFactoringApprovalInfo" resultMap="BaseResultMap">
        SELECT
        pp.project_id,
        hcpl.CREDIT_PLAN_ID,
        hcpl.line_id,
        hbm.bp_id,
        hbm.bp_name,
        hbm.bp_name bp_name_n,
        hbm.bp_code,
        hbm.bp_type,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BP.BP_MASTER_ROLE' AND sc.code_value = hbm.bp_type ) bp_type_n,
        hbm.group_companies,
        hcpl.factoring_category,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.code = 'CHANCE.FACTORING_CATEGORY' AND sc.code_value = hcpl.factoring_category ) factoring_category_n,
        hcpl.credit_amt,
        hcpl.description
        FROM
        hls_credit_plan_line hcpl
        INNER JOIN hls_credit_plan hcp ON hcp.credit_plan_id = hcpl.credit_plan_id
        INNER JOIN prj_project pp ON hcp.source_document_category = 'PRJ_PROJECT'
        AND hcp.source_document_id = pp.project_id
        INNER JOIN hls_bp_master hbm ON pp.tenant_id = hbm.bp_id
        <where>
            hbm.bp_type = 'ASSET_TRANSFEROR'
            and  hcpl.credit_plan_id = #{creditPlanId}
        </where>

    </select>

    <!--保理合同放款额度明细-->
   <select id="queryConFactoringCreditPlan" resultMap="BaseResultMap">
       SELECT
        pp.project_id,
        hcpl.CREDIT_PLAN_ID,
        hcpl.line_id,
        hbm.bp_id,
        hbm.bp_name,
        hbm.bp_name bp_name_n,
        hbm.bp_code,
        hbm.bp_type,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.CODE = 'BP.BP_MASTER_ROLE' AND sc.code_value = hbm.bp_type ) bp_type_n,
        hbm.group_companies,
        hcpl.factoring_category,
        ( SELECT sc.meaning FROM sys_code_value_b_v sc WHERE sc.code = 'CHANCE.FACTORING_CATEGORY' AND sc.code_value = hcpl.factoring_category ) factoring_category_n,
        hcpl.credit_amt,
        hcpl.description,
       (select sum(hcpl2.credit_amt) from hls_credit_plan hcp2, hls_credit_plan_line hcpl2, con_contract cc
       where hcp2.credit_plan_id = hcpl2.credit_plan_id
       and hcp2.source_document_category = 'CON_CONTRACT'
       and hcpl2.factoring_category = hcpl.factoring_category
       and hcp2.credit_plan_id = hcpl.credit_plan_id
       and cc.project_id = pp.project_id
       and cc.document_type = 'FACTORING'
       and cc.data_class = 'NORMAL'
       and cc.contract_status = 'APPROVING'
       and cc.document_category = 'CON_CONTRACT'
       and cc.contract_id = hcp2.source_document_id) approval_amount,
       (select sum(hcpl2.credit_amt) from hls_credit_plan hcp2, hls_credit_plan_line hcpl2, con_contract cc
       where hcp2.credit_plan_id = hcpl2.credit_plan_id
       and hcp2.source_document_category = 'CON_CONTRACT'
       and hcpl2.factoring_category = hcpl.factoring_category
       and hcp2.credit_plan_id = hcpl.credit_plan_id
       and cc.project_id = pp.project_id
       and cc.document_type = 'FACTORING'
       and cc.data_class = 'NORMAL'
       and cc.contract_status = 'APPROVED'
       and cc.document_category = 'CON_CONTRACT'
       and cc.contract_id = hcp2.source_document_id) occ_amount,
       hcpl.credit_amt - (select sum(hcpl2.credit_amt) from hls_credit_plan hcp2, hls_credit_plan_line hcpl2, con_contract cc
       where hcp2.credit_plan_id = hcpl2.credit_plan_id
       and hcp2.source_document_category = 'CON_CONTRACT'
       and hcpl2.factoring_category = hcpl.factoring_category
       and hcp2.credit_plan_id = hcpl.credit_plan_id
       and cc.project_id = pp.project_id
       and cc.document_type = 'FACTORING'
       and cc.data_class = 'NORMAL'
       and cc.contract_status = 'APPROVED'
       and cc.document_category = 'CON_CONTRACT'
       and cc.contract_id = hcp2.source_document_id) due_amount
        FROM
        hls_credit_plan_line hcpl
        INNER JOIN hls_credit_plan hcp ON hcp.credit_plan_id = hcpl.credit_plan_id
        INNER JOIN prj_project pp ON hcp.source_document_category = 'PRJ_PROJECT'
        AND hcp.source_document_id = pp.project_id
        INNER JOIN hls_bp_master hbm ON pp.tenant_id = hbm.bp_id
        <where>
            hbm.bp_type = 'ASSET_TRANSFEROR'
            <if test="creditPlanId != null">
                and  hcpl.credit_plan_id = #{creditPlanId}
            </if>
            <if test="projectId != null">
                and  hcp.source_document_id = #{projectId}
            </if>
        </where>

   </select>

</mapper>