<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusHlsCreditChanceMortgageMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusHlsCreditChanceMortgage" extends="com.hand.hap.mapper.StdMapper.STD">
        <result column="CREDIT_CHANCE_MORTGAGE_ID" property="creditChanceMortgageId" jdbcType="DECIMAL" />
        <result column="CHANCE_ID" property="chanceId" jdbcType="DECIMAL" />
        <result column="MORTGAGE_BP_ID" property="mortgageBpId" jdbcType="DECIMAL" />
        <result column="MORTGAGE_NAME" property="mortgageName" jdbcType="VARCHAR" />
        <result column="MORTGAGE_CURRENCY" property="mortgageCurrency" jdbcType="VARCHAR" />
        <result column="MORTGAGE_AMOUNT" property="mortgageAmount" jdbcType="DECIMAL" />
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <!--transient-->
        <result column="BP_CODE" property="bpCode" jdbcType="VARCHAR" />
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByForeignKey" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditChanceMortgage" resultMap="BaseResultMap">
        select hbm.BP_CODE,
            hbm.BP_NAME,
        t.CREDIT_CHANCE_MORTGAGE_ID,
        t.CHANCE_ID,
        t.MORTGAGE_BP_ID,
            t.MORTGAGE_NAME,
            t.MORTGAGE_CURRENCY,
            t.MORTGAGE_AMOUNT,
            t.DESCRIPTION,
            t.OBJECT_VERSION_NUMBER
        from HLS_CREDIT_CHANCE_MORTGAGE t, hls_bp_master hbm
        where t.MORTGAGE_BP_ID=hbm.BP_ID
        <if test="chanceId!=null">
            and t.CHANCE_ID=#{chanceId}
        </if>
    </select>
</mapper>