<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusHlsCreditChanceGuarantorMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusHlsCreditChanceGuarantor">
        <result column="CREDIT_CHANCE_GUARANTOR_ID" property="creditChanceGuarantorId" jdbcType="DECIMAL" />
        <result column="CHANCE_ID" property="chanceId" jdbcType="DECIMAL" />
        <result column="GUARANTOR_BP_ID" property="guarantorBpId" jdbcType="DECIMAL" />
        <result column="GUARANTEE_TYPE" property="guaranteeType" jdbcType="VARCHAR" />
        <result column="GUARANTEE_METHOD" property="guaranteeMethod" jdbcType="VARCHAR" />
        <result column="GUARANTEE_CURRENCY" property="guaranteeCurrency" jdbcType="VARCHAR" />
        <result column="GUARANTEE_AMOUNT" property="guaranteeAmount" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <!--transient-->
        <result column="BP_CODE" property="bpCode" jdbcType="VARCHAR" />
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />

    </resultMap>


    <select id="selectByForeignKey" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditChanceGuarantor" resultMap="BaseResultMap">
        SELECT
            HCCG.CHANCE_ID,
            HCCG.CREDIT_CHANCE_GUARANTOR_ID,
            hbm.BP_CODE,
            hbm.BP_NAME,
            HCCG.GUARANTEE_CURRENCY,
            HCCG.GUARANTEE_AMOUNT,
            HCCG.DESCRIPTION,
            HCCG.GUARANTEE_METHOD

        from HLS_CREDIT_CHANCE_GUARANTOR HCCG
            left join hls_bp_master hbm
                on HCCG.GUARANTOR_BP_ID=hbm.BP_ID
        where 1=1
        <if test="chanceId!=null">
            and HCCG.CHANCE_ID=#{chanceId}
        </if>
    </select>
</mapper>