<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusFctQuotationCashflowMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusFctQuotationCashflow">
        <result column="quotation_cashflow_id" property="quotationCashflowId" jdbcType="DECIMAL"/>
        <result column="quotation_id" property="quotationId" jdbcType="DECIMAL"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="chance_id" property="chanceId" jdbcType="DECIMAL"/>
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="cf_item" property="cfItem" jdbcType="DECIMAL"/>
        <result column="cf_type" property="cfType" jdbcType="DECIMAL"/>
        <result column="cf_direction" property="cfDirection" jdbcType="VARCHAR"/>
        <result column="cf_status" property="cfStatus" jdbcType="VARCHAR"/>
        <result column="times" property="times" jdbcType="DECIMAL"/>
        <result column="due_date" property="dueDate" jdbcType="DATE"/>
        <result column="calc_date" property="calcDate" jdbcType="DATE"/>
        <result column="fin_income_date" property="finIncomeDate" jdbcType="DATE"/>
        <result column="due_amount" property="dueAmount" jdbcType="DECIMAL"/>
        <result column="net_due_amount" property="netDueAmount" jdbcType="DECIMAL"/>
        <result column="vat_due_amount" property="vatDueAmount" jdbcType="DECIMAL"/>
        <result column="principal" property="principal" jdbcType="DECIMAL"/>
        <result column="net_principal" property="netPrincipal" jdbcType="DECIMAL"/>
        <result column="vat_principal" property="vatPrincipal" jdbcType="DECIMAL"/>
        <result column="interest" property="interest" jdbcType="DECIMAL"/>
        <result column="net_interest" property="netInterest" jdbcType="DECIMAL"/>
        <result column="vat_interest" property="vatInterest" jdbcType="DECIMAL"/>
        <result column="outstanding_rental" property="outstandingRental" jdbcType="DECIMAL"/>
        <result column="outstanding_principal" property="outstandingPrincipal" jdbcType="DECIMAL"/>
        <result column="outstanding_interest" property="outstandingInterest" jdbcType="DECIMAL"/>
        <result column="interest_accrual_balance" property="interestAccrualBalance" jdbcType="DECIMAL"/>
        <result column="accumulated_unpaid_interest" property="accumulatedUnpaidInterest" jdbcType="DECIMAL"/>
        <result column="cf_project" property="cfProject" jdbcType="VARCHAR"/>
        <result column="last_received_date" property="lastReceivedDate" jdbcType="DATE"/>
        <result column="day_end_date" property="dayEndDate" jdbcType="DATE"/>
        <result column="overdue_status" property="overdueStatus" jdbcType="VARCHAR"/>
        <result column="source_cf_item_desc" property="sourceCfItemDesc" jdbcType="VARCHAR"/>

        <!--罚息减免字段-->
        <result column="fine_days" property="fineDays" jdbcType="DECIMAL"/>
        <result column="fine_amount" property="fineAmount" jdbcType="DECIMAL"/>
        <result column="received_fine_amount" property="receivedFineAmount" jdbcType="DECIMAL"/>
        <result column="uncollected_fine_amount" property="uncollectedFineAmount" jdbcType="DECIMAL"/>
        <result column="fine_reduce_amount" property="fineReduceAmount" jdbcType="DECIMAL"/>
        <result column="reduce_amount" property="reduceAmount" jdbcType="DECIMAL"/>
        <result column="fine_reduction_type" property="fineReductionType" jdbcType="DECIMAL"/>
        <result column="description" property="description" jdbcType="DECIMAL"/>
        <result column="fine_status" property="fineStatus" jdbcType="VARCHAR"/>
        <result column="fine_status_desc" property="fineStatusDesc" jdbcType="VARCHAR"/>
        <result column="fine_reduce_req" property="fineReduceReq" jdbcType="VARCHAR"/>
        <result column="cf_item_desc" property="cfItemDesc" jdbcType="VARCHAR"/>
        <result column="over_due_amount" property="overDueAmount" jdbcType="DECIMAL"/>


        <result column="billing_vat_rate" property="billingVatRate" jdbcType="VARCHAR"/>

        <result column="billing_status" property="billingStatus" jdbcType="VARCHAR"/>
        <result column="billing_amount" property="billingAmount" jdbcType="DECIMAL"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="received_principal" property="receivedPrincipal" jdbcType="DECIMAL"/>
        <result column="received_interest" property="receivedInterest" jdbcType="DECIMAL"/>
        <result column="write_off_flag" property="writeOffFlag" jdbcType="VARCHAR"/>
        <result column="write_off_amount" property="writeOffAmount" jdbcType="DECIMAL"/>

        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="full_write_off_date" property="fullWriteOffDate" jdbcType="DATE"/>
        <result column="radio" property="radio" jdbcType="DECIMAL"/>
        <result column="payment_req_number" property="paymentReqNumber" jdbcType="VARCHAR"/>

        <result column="user_id" property="userId" jdbcType="DECIMAL"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="principal_write_off_flag" property="principalWriteOffFlag" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="redeem_due_amount" property="redeemDueAmount" jdbcType="DECIMAL"/>
        <result column="contract_content_number" property="contractContentNumber" jdbcType="DECIMAL"/>

        <result column="tax_registry_num" property="taxRegistryNum"/>
        <result column="invoice_bp_address_phone_num" property="invoiceBpAddressPhoneNum"/>
        <result column="invoice_bp_bank_account" property="invoiceBpBankAccount"/>
        <result column="tax_type_rate" property="taxTypeRate"/>

        <result column="invoice_kind_desc" property="invoiceKindDesc"/>
        <result column="write_off_flag_desc" property="writeOffFlagDesc"/>
        <result column="contract_status_desc" property="contractStatusDesc"/>

        <result column="the_receipt" property="theReceipt" jdbcType="DECIMAL"/>
        <result column="the_principal" property="thePrincipal" jdbcType="DECIMAL"/>
        <result column="the_interest" property="theInterest" jdbcType="DECIMAL"/>
        <result column="the_consulting_service_fee" property="theConsultingServiceFee" jdbcType="DECIMAL"/>
        <result column="the_margin" property="theMargin" jdbcType="DECIMAL"/>
        <result column="the_deposit" property="theDeposit" jdbcType="DECIMAL"/>
        <result column="the_cash_flow" property="theCashFlow" jdbcType="DECIMAL"/>
        <result column="PENALTY_RATE" property="penaltyRate" jdbcType="DECIMAL"/>
        <result column="sort_id" property="sortId"/>
        <result column="due_date_export" property="dueDateExport"/>
        <result column="calc_date_export" property="calcDateExport"/>
        <result column="cf_item_flag" property="cfItemFlag"/>

        <result column="PRINT_STATUS" property="printStatus" jdbcType="VARCHAR"/>
        <result column="APPROVAL_NUMBER" property="approvalNumber" jdbcType="VARCHAR"/>
        <result column="NOTICE_TYPE" property="noticeType" jdbcType="VARCHAR"/>
        <result column="START_DATE" property="startDate" jdbcType="VARCHAR"/>
        <result column="END_DATE" property="endDate" jdbcType="VARCHAR"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR"/>

        <result column="lease_item_amount" property="leaseItemAmount" jdbcType="DECIMAL"/>
        <result column="lease_start_date" property="leaseStartDate" jdbcType="DATE"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>



        <result column="notice_type_desc" property="noticeTypeDesc" jdbcType="VARCHAR"/>
        <result column="print_status_desc" property="printStatusDesc" jdbcType="VARCHAR"/>

    </resultMap>


    <select id="selectNoticePrint" resultMap="BaseResultMap" parameterType="com.hand.hls.fct.dto.HlsCusFctQuotationCashflow">
        SELECT TAB.*,(SELECT v.meaning FROM sys_code_value_b_v v WHERE v.code_value = tab.notice_type and v.code = 'AST008.NOTICE_TYPE')as notice_type_desc,
        (SELECT v.meaning FROM sys_code_value_b_v v WHERE v.code_value = tab.print_status and v.code = 'AST.PRINT_STATUS')as print_status_desc
        FROM (
        select HBM.BP_NAME,
        fc.CONTRACT_ID,
        fc.CONTRACT_NAME,
        fc.CONTRACT_NUMBER,
        fc.APPROVAL_NUMBER,
        hci.description            as cf_project,
        CASE
        WHEN nvl(fqc.FINE_DAYS, 0) > 0 or (fqc.cf_item = 45) THEN 'DEFAULT'
        WHEN (fqc.cf_item = 57) THEN 'FEE'
        WHEN (fqc.cf_item in (54,55)) THEN 'ACCOUNTA_RECEIVABLE'
        ELSE 'PAY' END            NOTICE_TYPE,
        nvl(fqc.PRINT_STATUS, 'N') AS PRINT_STATUS,
        fqc.QUOTATION_CASHFLOW_ID,
        fqc.QUOTATION_ID,
        fqc.CF_ITEM,
        fqc.CF_TYPE,
        fqc.CALC_DATE,
        fqc.CF_DIRECTION,
        fqc.WRITE_OFF_FLAG,
        CASE
        WHEN fqc.WRITE_OFF_FLAG = 'FULL' THEN '完全核销'
        WHEN fqc.WRITE_OFF_FLAG = 'PARTIAL' THEN '部分核销'
        ELSE '未核销' END            WRITE_OFF_FLAG_DESC,
        fqc.TIMES,
        fqc.DUE_AMOUNT,
        fqc.DUE_DATE,
        fqc.FINE_DAYS,
        'FCT_CONTRACT'                DOCUMENT_CATEGORY
        from FCT_QUOTATION_CASHFLOW fqc
        join fct_contract fc on fqc.CONTRACT_ID = fc.CONTRACT_ID
        JOIN FCT_PROJECT_BP fpb ON fpb.project_id = fc.project_id
        JOIN HLS_BP_MASTER HBM ON HBM.BP_ID = fpb.BP_ID
        JOIN hls_cashflow_item hci ON hci.CF_ITEM = fqc.CF_ITEM
        where fc.DATA_CLASS = 'NORMAL'
        AND FC.CONTRACT_STATUS != 'END'
        AND fc.DOCUMENT_CATEGORY = 'FCT_CONTRACT'
        AND fqc.CF_DIRECTION = 'INFLOW'
        AND FQC.CF_STATUS != 'BLOCK'
        and fpb.credit_grantor_party = 'Y'
        and fqc.CONTRACT_ID != 0
        and ((fqc.times = 0 and fqc.cf_item = 55) or
        (fqc.times != 0 and (fc.CONTRACT_STATUS = 'INCEPT' or (fc.CONTRACT_STATUS = 'PENDING' AND
        (
        SELECT COUNT(1)
        FROM FCT_CONTRACT FT
        WHERE FT.DATA_CLASS = 'CHANGE_REQ'
        AND FT.CONTRACT_STATUS = 'INCEPT'
        AND FT.REF_CONTRACT_ID = fc.CONTRACT_ID
        ) > 0))))
        union all
        SELECT HBM.BP_NAME,
        fc.CONTRACT_ID,
        fc.CONTRACT_NAME,
        fc.CONTRACT_NUMBER,
        fp.APPROVAL_NUMBER,
        hci.description            AS cf_project,
        CASE
        WHEN nvl(fqc.FINE_DAYS, 0) > 0 or (fqc.cf_item = 9)
        THEN 'DEFAULT'
        WHEN (fqc.cf_item = 4)
        THEN 'FEE'
        ELSE 'PAY'
        END                       NOTICE_TYPE,
        nvl(fqc.PRINT_STATUS, 'N') AS PRINT_STATUS,
        fqc.CASHFLOW_ID,
        fqc.QUOTATION_ID,
        fqc.CF_ITEM,
        fqc.CF_TYPE,
        fqc.CALC_DATE,
        fqc.CF_DIRECTION,
        fqc.WRITE_OFF_FLAG,
        CASE
        WHEN fqc.WRITE_OFF_FLAG = 'FULL'
        THEN '完全核销'
        WHEN fqc.WRITE_OFF_FLAG = 'PARTIAL'
        THEN '部分核销'
        ELSE '未核销'
        END                       WRITE_OFF_FLAG_DESC,
        fqc.TIMES,
        fqc.DUE_AMOUNT,
        fqc.DUE_DATE,
        fqc.FINE_DAYS,
        'CON_CONTRACT'                DOCUMENT_CATEGORY
        FROM con_contract_cashflow fqc
        JOIN
        con_contract fc
        ON
        fqc.CONTRACT_ID = fc.CONTRACT_ID
        JOIN
        prj_project fp
        ON
        fp.project_id = fc.PROJECT_ID
        JOIN
        HLS_BP_MASTER HBM
        ON
        HBM.BP_ID = fc.TENANT_ID
        JOIN
        hls_cashflow_item hci
        ON
        hci.CF_ITEM = fqc.CF_ITEM
        WHERE fc.DATA_CLASS = 'NORMAL'
        AND FC.CONTRACT_STATUS != 'END'
        AND fc.DOCUMENT_CATEGORY = 'CON_CONTRACT'
        AND fqc.CF_DIRECTION = 'INFLOW'
        AND FQC.CF_STATUS != 'BLOCK'
        AND fqc.CONTRACT_ID != 0
        and (fqc.CF_ITEM = 10 or (fqc.times = 0 and fqc.cf_item = 1) or
        (fqc.times != 0 and (fc.CONTRACT_STATUS = 'INCEPT' or (fc.CONTRACT_STATUS = 'PENDING' AND
        (
        SELECT COUNT(1)
        FROM FCT_CONTRACT FT
        WHERE FT.DATA_CLASS = 'CHANGE_REQ'
        AND FT.CONTRACT_STATUS = 'INCEPT'
        AND FT.REF_CONTRACT_ID = fc.CONTRACT_ID
        ) > 0))))) TAB
        <where>
            <if test="approvalNumber!=null and approvalNumber!=''">
                and (
                TAB.APPROVAL_NUMBER like '%'||#{approvalNumber}||'%'
                OR TAB.BP_NAME like '%'||#{approvalNumber}||'%'
                )
            </if>
            <if test="contractId!=null">
                AND TAB.CONTRACT_ID = #{contractId}
            </if>

            <if test="contractNumber!=null and contractNumber!=''">
                and TAB.contract_number like '%'||#{contractNumber}||'%'
            </if>
            <if test="documentCategory!=null">
                AND TAB.DOCUMENT_CATEGORY = #{documentCategory}
            </if>
            <if test="times!=null">
                AND TAB.TIMES = #{times}
            </if>
            <if test="noticeType!=null and noticeType!=''">
                AND TAB.NOTICE_TYPE = #{noticeType}
            </if>
            <if test="dueDateStart!=null and dueDateStart!=''">
                AND to_char(TAB.DUE_DATE, 'YYYY-MM-DD') &gt;= #{dueDateStart}
            </if>
            <if test="dueDateEnd!=null and dueDateEnd!=''">
                AND to_char(TAB.DUE_DATE, 'YYYY-MM-DD') &lt;= #{dueDateEnd}
            </if>
            <if test="writeOffFlag!=null and writeOffFlag!=''">
                AND TAB.write_off_flag = #{writeOffFlag}
            </if>
            <if test="printStatus!=null and printStatus!=''">
                AND TAB.print_status = #{printStatus}
            </if>
            <if test='noticeFlag=="Y"'>
                AND TAB.NOTICE_TYPE IN('PAY' ,'FEE','ACCOUNTA_RECEIVABLE')
            </if>
            <if test='noticeFlag=="N"'>
                AND TAB.NOTICE_TYPE  = 'DEFAULT'
            </if>
            <if test="bpName!=null and bpName!=''">
                AND TAB.BP_NAME like concat(concat('%',#{bpName}),'%')
            </if>
            <if test="cfProject != null and cfProject != ''">
                AND TAB.CF_PROJECT LIKE '%'|| #{cfProject,jdbcType=VARCHAR}||'%'
            </if>
            <if test="attribute1 == 'Y'.toString() ">
                AND TAB.FINE_DAYS = 1
            </if>
            <if test="attribute2 != null and attribute2 != ''">
                AND WRITE_OFF_FLAG !='FULL'
            </if>
        </where>
        ORDER BY TAB.PRINT_STATUS,TAB.DUE_DATE
    </select>

    <select id="selectFctContractTimesBpInfo" resultMap="BaseResultMap">
        SELECT CON.* FROM (
        SELECT
        MIN (fct.quotation_cashflow_id) quotation_cashflow_id,
        FCT.bp_id,
        FCT.address,
        FCT.personName,
        FCT.cellPhone,
        FCT.contract_id,
        FCT.contract_number,
        FCT.times,
        FCT.NOTICE_TYPE,
        FCT.DOCUMENT_CATEGORY,
        MAX(FCT.PRINT_STATUS) PRINT_STATUS
        FROM (
        SELECT
        cc.quotation_cashflow_id,
        CASE
        WHEN cc.cf_item=54
        THEN prp.bp_id
        WHEN cc.cf_item=51
        THEN pgp.bp_id
        ELSE (
        CASE fp.fund_restream_method
        WHEN 'DIRECT'
        THEN psr.bp_id
        ELSE pby.bp_id
        END)
        END bp_id,
        CASE
        WHEN cc.cf_item=54
        THEN prp.address
        WHEN cc.cf_item=51
        THEN pgp.address
        ELSE (
        CASE fp.fund_restream_method
        WHEN 'DIRECT'
        THEN psr.address
        ELSE pby.address
        END)
        END address,
        CASE
        WHEN cc.cf_item=54
        THEN prp.contact_person
        WHEN cc.cf_item=51
        THEN pgp.contact_person
        ELSE (
        CASE fp.fund_restream_method
        WHEN 'DIRECT'
        THEN psr.contact_person
        ELSE pby.contact_person
        END)
        END  personName,
        CASE
        WHEN cc.cf_item=54
        THEN prp.cell_phone
        WHEN cc.cf_item=51
        THEN pgp.cell_phone
        ELSE (
        CASE fp.fund_restream_method
        WHEN 'DIRECT'
        THEN psr.cell_phone
        ELSE pby.cell_phone
        END)
        END  cellPhone,
        cc.contract_id,
        c.contract_number,
        cc.times,
        CASE
        WHEN nvl(cc.FINE_DAYS,0) > 0 or (cc.cf_item=45)
        THEN 'DEFAULT'
        WHEN cc.cf_item=57
        THEN 'FEE'
        WHEN cc.cf_item in (54,55)
        THEN 'ACCOUNTA_RECEIVABLE'
        ELSE 'PAY'
        END NOTICE_TYPE,
        'FCT_CONTRACT'  DOCUMENT_CATEGORY,
        nvl(cc.PRINT_STATUS,'N') AS PRINT_STATUS
        FROM
        fct_quotation_cashflow cc
        JOIN
        fct_contract c
        ON
        c.contract_id = cc.contract_id
        JOIN
        fct_project fp
        ON
        fp.project_id=c.project_id
        LEFT JOIN
        (
        SELECT
        fpb.bp_id,
        fpb.project_id,
        concat(concat(concat(concat(ma.country,
        (
        select
        t1.description
        from
        fnd_province t1
        where
        t1.province = ma.province )),
        (
        select
        t1.description
        from
        fnd_city t1
        where
        t1.city = ma.city )),
        (
        select
        t1.description
        from
        fnd_district t1
        where
        t1.district = ma.district)), ma.address) as address,
        mc.contact_person,
        mc.cell_phone
        FROM
        fct_project_bp fpb
        LEFT JOIN
        hls_bp_master_address ma
        ON
        ma.address_id=fpb.address_id
        LEFT JOIN
        hls_bp_master_contact_info mc
        ON
        mc.contact_info_id=fpb.contact_info_id
        WHERE
        fpb.principal_repayment_party='Y') prp
        ON
        prp.project_id=c.project_id
        LEFT JOIN
        (
        SELECT
        fpb.bp_id,
        fpb.project_id,
        concat(concat(concat(concat(ma.country,
        (
        select
        t1.description
        from
        fnd_province t1
        where
        t1.province = ma.province )),
        (
        select
        t1.description
        from
        fnd_city t1
        where
        t1.city = ma.city )),
        (
        select
        t1.description
        from
        fnd_district t1
        where
        t1.district = ma.district)), ma.address) as address,
        mc.contact_person,
        mc.cell_phone
        FROM
        fct_project_bp fpb
        LEFT JOIN
        hls_bp_master_address ma
        ON
        ma.address_id=fpb.address_id
        LEFT JOIN
        hls_bp_master_contact_info mc
        ON
        mc.contact_info_id=fpb.contact_info_id
        WHERE
        fpb.repay_guarantee_party='Y') pgp
        ON
        pgp.project_id=c.project_id
        LEFT JOIN
        (
        SELECT
        fpb.bp_id,
        fpb.project_id,
        concat(concat(concat(concat(ma.country,
        (
        select
        t1.description
        from
        fnd_province t1
        where
        t1.province = ma.province )),
        (
        select
        t1.description
        from
        fnd_city t1
        where
        t1.city = ma.city )),
        (
        select
        t1.description
        from
        fnd_district t1
        where
        t1.district = ma.district)), ma.address) as address,
        mc.contact_person,
        mc.cell_phone
        FROM
        fct_project_bp fpb
        LEFT JOIN
        hls_bp_master_address ma
        ON
        ma.address_id=fpb.address_id
        LEFT JOIN
        hls_bp_master_contact_info mc
        ON
        mc.contact_info_id=fpb.contact_info_id
        WHERE
        fpb.bp_role_type='SELLER') psr
        ON
        psr.project_id=c.project_id
        LEFT JOIN
        (
        SELECT
        fpb.bp_id,
        fpb.project_id,
        concat(concat(concat(concat(ma.country,
        (
        select
        t1.description
        from
        fnd_province t1
        where
        t1.province = ma.province )),
        (
        select
        t1.description
        from
        fnd_city t1
        where
        t1.city = ma.city )),
        (
        select
        t1.description
        from
        fnd_district t1
        where
        t1.district = ma.district)), ma.address) as address,
        mc.contact_person,
        mc.cell_phone
        FROM
        fct_project_bp fpb
        LEFT JOIN
        hls_bp_master_address ma
        ON
        ma.address_id=fpb.address_id
        LEFT JOIN
        hls_bp_master_contact_info mc
        ON
        mc.contact_info_id=fpb.contact_info_id
        WHERE
        fpb.bp_role_type='BUYER') pby
        ON
        pby.project_id=c.project_id
        WHERE
        ('FCT_CONTRACT'||cc.quotation_cashflow_id) in
        <foreach item="item" index="index" collection="cashflowList" open="(" separator="," close=")">
            #{item}
        </foreach>
        ) FCT
        GROUP BY
        FCT.bp_id,FCT.address,FCT.personName,FCT.cellPhone,
        FCT.contract_id,FCT.contract_number,FCT.times,FCT.NOTICE_TYPE,FCT.DOCUMENT_CATEGORY

        UNION

        SELECT
        MIN (CCT.cashflow_id) quotation_cashflow_id,
        CCT.bp_id,
        CCT.address,
        CCT.personName,
        CCT.cellPhone,
        CCT.contract_id,
        CCT.contract_number,
        CCT.times,
        CCT.NOTICE_TYPE,
        CCT.DOCUMENT_CATEGORY,
        MAX(CCT.PRINT_STATUS) PRINT_STATUS
        FROM
        (
        SELECT
        cc.cashflow_id,
        pp.bp_id,
        pp.address,
        pp.contact_person personName,
        pp.cell_phone     cellPhone,
        cc.contract_id,
        c.contract_number,
        cc.times,
        CASE
        WHEN nvl(cc.FINE_DAYS,0) > 0
        OR  (cc.cf_item=9)
        THEN 'DEFAULT'
        WHEN cc.cf_item=4
        THEN 'FEE'
        ELSE 'PAY'
        END NOTICE_TYPE,
        'CON_CONTRACT'  DOCUMENT_CATEGORY,
        nvl(cc.PRINT_STATUS,'N') AS PRINT_STATUS
        FROM
        con_contract_cashflow cc
        JOIN
        con_contract c
        ON
        cc.CONTRACT_ID=c.CONTRACT_ID
        LEFT JOIN
        (
        SELECT
        fpb.bp_id,
        fpb.project_id,
        concat(concat(concat(concat(ma.country,
        (
        SELECT
        t1.description
        FROM
        fnd_province t1
        WHERE
        t1.province = ma.province )),
        (
        SELECT
        t1.description
        FROM
        fnd_city t1
        WHERE
        t1.city = ma.city )),
        (
        SELECT
        t1.description
        FROM
        fnd_district t1
        WHERE
        t1.district = ma.district)), ma.address) AS address,
        mc.contact_person,
        mc.cell_phone
        FROM
        prj_project_bp fpb
        LEFT JOIN
        hls_bp_master_address ma
        ON
        ma.address_id=fpb.address_id
        LEFT JOIN
        hls_bp_master_contact_info mc
        ON
        mc.contact_info_id=fpb.contact_info_id
        WHERE
        fpb.BP_TYPE='TENANT') pp
        ON
        pp.project_id=c.project_id
        WHERE
        ('CON_CONTRACT'||cc.cashflow_id) in
        <foreach item="item" index="index" collection="cashflowList" open="(" separator="," close=")">
            #{item}
        </foreach>
        ) CCT
        GROUP BY  CCT.bp_id,CCT.address,CCT.personName,CCT.cellPhone,
        CCT.contract_id,CCT.contract_number,CCT.times,CCT.NOTICE_TYPE,CCT.DOCUMENT_CATEGORY
        ) CON
    </select>

</mapper>
