<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusFctProjectAttachmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusFctProjectAttachment">
        <result column="project_attachment_id" property="projectAttachmentId" jdbcType="DECIMAL"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="source_type" property="sourceType" jdbcType="VARCHAR"/>
        <result column="source_id" property="sourceId" jdbcType="DECIMAL"/>
        <result column="bp_category" property="bpCategory" jdbcType="VARCHAR"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="document_number" property="documentNumber" jdbcType="VARCHAR"/>
        <result column="document_name" property="documentName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="upload_date" property="uploadDate" jdbcType="DATE"/>
        <result column="upload_person" property="uploadPerson" jdbcType="DECIMAL"/>
        <result column="standard_contract" property="standardContract" jdbcType="VARCHAR"/>
        <result column="BP_ROLE_TYPE" property="bpRoleType" jdbcType="VARCHAR"/>
        <result column="content_sign_date" property="contentSignDate" jdbcType="DATE"/>
        <result column="content_sign_location" property="contentSignLocation" jdbcType="VARCHAR"/>
        <result column="signing_witness" property="signingWitness" jdbcType="VARCHAR"/>
        <result column="witness" property="witness" jdbcType="VARCHAR"/>
        <result column="witness_bank" property="witnessBank" jdbcType="VARCHAR"/>
        <result column="witness_location" property="witnessLocation" jdbcType="VARCHAR"/>
        <result column="signing_witness_name" property="signingWitnessName" jdbcType="VARCHAR"/>
        <result column="witness_name" property="witnessName" jdbcType="VARCHAR"/>
        <result column="is_final_print" property="isFinalPrint" jdbcType="VARCHAR"/>
        <result column="stamp_name" property="stampName" jdbcType="VARCHAR"/>
        <result column="company_seal" property="companySeal" jdbcType="VARCHAR"/>
        <result column="rep_seal" property="repSeal" jdbcType="VARCHAR"/>
        <result column="print_comment" property="printComment" jdbcType="VARCHAR"/>
        <result column="copies" property="copies" jdbcType="VARCHAR"/>
        <result column="inter_status" property="interStatus"/>
        <result column="inter_info" property="interInfo"/>
        <result column="upload_person_name" property="uploadPersonName" jdbcType="VARCHAR"/>
        <result column="templet_name" property="templateName" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="file_id" property="fileId" jdbcType="DECIMAL"/>
        <result column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="file_type" property="fileType" jdbcType="VARCHAR"/>
        <result column="file_suffix" property="fileSuffix" jdbcType="VARCHAR"/>
        <result column="file_size" property="fileSize" jdbcType="VARCHAR"/>
        <result column="file_path" property="filePath" jdbcType="VARCHAR"/>
        <result column="custom_content_flag" property="customContentFlag" jdbcType="VARCHAR"/>
        <result column="standard_contract_desc" property="standardContractDesc" jdbcType="VARCHAR"/>
        <result column="template_id_n" property="templateIdN" jdbcType="VARCHAR"/>
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR"/>
        <result column="source_pk_value" property="sourcePkValue" jdbcType="VARCHAR"/>
        <result column="attachment_id" property="attachmentId" jdbcType="VARCHAR"/>
        <result column="last_upload_date" property="lastUploadDate"/>
        <result column="system_number" property="systemNumber"/>
        <result column="SOURCE_TYPE_N" property="sourceTypeN"/>
        <result column="con_seq" property="conSeq"/>
        <result column="upload_person_n" property="uploadPersonN"/>
        <result column="attachment_id_n" property="attachmentIdN"/>
        <result column="attachment_sum" property="attachmentSum"/>
        <result column="physical_assets_name" property="physicalAssetsName"/>
        <result column="major_con_flag" property="majorConFlag"/>
        <result column="content_flag" property="contentFlag"/>
        <result column="major_con_flag_n" property="majorConFlagN"/>
        <result column="content_flag_n" property="contentFlagN"/>
        <result column="bp_role_type_n" property="bpRoleTypeN"/>

        <result column="con_content_amount" property="conContentAmount"/>
        <result column="underwrite_description" property="underwriteDescription"/>
        <result column="sign_date" property="signDate"/>
        <result column="sign_place" property="signPlace"/>
        <result column="sign_description" property="signDescription"/>
        <result column="file_name_sign" property="fileNameSign" jdbcType="VARCHAR"/>
        <result column="bp_class" property="bpClass" jdbcType="VARCHAR"/>
        <result column="hd_id" property="hdId"/>

    </resultMap>


    <select id="fctProjectNoticeAttachmentDetailQuery" parameterType="com.hand.hls.fct.dto.HlsCusFctProjectAttachment"
            resultMap="BaseResultMap">
        select
        '保理上会审批通知书' document_name,
        <if test="projectId != null">
            #{projectId} AS project_id,
        </if>
        'FCT_APPROVAL_NOTICE_REPORT' bp_category,
        '' project_attachment_id,
        '' description,
        sf.file_id,
        sf.file_name,
        sf.file_type,
        sf.file_suffix,
        sf.upload_date,
        sf.file_size,
        (SELECT su.description FROM sys_user su WHERE su.user_id = sf.last_updated_by) upload_person_name,
        sf.file_path
        from SYS_FILE sf,
        SYS_ATTACHMENT sa
        where sa.SOURCE_TYPE in ('FCT_APPROVAL_NOTICE_REPORT','HLS_APPROVAL_NOTICE_REPORT')
        and sa.ATTACHMENT_ID = sf.ATTACHMENT_ID
        and sa.SOURCE_KEY in (select fpc.PROJECT_ATTACHMENT_ID from FCT_PROJECT_ATTACHMENT fpc
        where fpc.project_id in (select project_id from fct_project fp where fp.ref_project_id=#{projectId} and
        fp.data_class='NORMAL' union select #{projectId} AS project_id from dual)
        and fpc.BP_CATEGORY in ('FCT_APPROVAL_NOTICE_REPORT','HLS_APPROVAL_NOTICE_REPORT'))
        union
        select
        'HAND' document_name,
        <if test="projectId != null">
            #{projectId} AS project_id,
        </if>
        'FCT_APPROVAL_NOTICE_REPORT' bp_category,
        '' project_attachment_id,
        '' description,
        sf.file_id,
        sf.file_name,
        sf.file_type,
        sf.file_suffix,
        sf.upload_date,
        sf.file_size,
        (SELECT su.description FROM sys_user su WHERE su.user_id = sf.last_updated_by) upload_person_name,
        sf.file_path
        from SYS_FILE sf,
        SYS_ATTACHMENT sa
        where sa.SOURCE_TYPE = 'FCT_APPROVAL_NOTICE_REPORT_H'
        and sa.ATTACHMENT_ID = sf.ATTACHMENT_ID
        and sa.SOURCE_KEY in (select project_id from fct_project fp where fp.ref_project_id=#{projectId} and
        fp.data_class='NORMAL' union select #{projectId} AS project_id from dual)
    </select>

    <select id="queryContentFileInfo" resultMap="BaseResultMap">
        SELECT
        fpa.*, (
        SELECT
        su.DESCRIPTION
        FROM
        sys_user su
        WHERE
        su.USER_ID = fpa.upload_person
        ) AS upload_person_name,
        (
        select sf.file_id
        from
        sys_attachment sa,
        sys_file sf
        <where>
            fpa.project_attachment_id||''= sa.source_key
            <if test="sourceType!=null">
                AND sa.source_type = #{sourceType}
            </if>
            AND sa.attachment_id = sf.attachment_id
            and rownum=1
        </where>
        ) file_id,
        (
        SELECT
        hdft.templet_name
        FROM
        hls_doc_file_templet hdft
        WHERE
        hdft.templet_id = fpa.template_id
        ) AS template_id_n,
        (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id=fpa.bp_id) as bp_id_n,
        fpa.signing_witness as signing_witness_name,
        fpa.witness as witness_name,
        fpa.SYSTEM_NUMBER,
        (
        select scvb.meaning from
        sys_code_b scb,sys_code_value_b scvb
        where scvb.value=fpa.SOURCE_TYPE
        and scb.code='CON.CONTENT_NUM_TYPE'
        and scvb.code_id=scb.code_id
        ) as SOURCE_TYPE_N
        FROM
        fct_project_attachment fpa
        <where>
            1=1
            <if test="projectId!=null">
                and fpa.project_id = #{projectId}
            </if>
            <if test="sourceType!=null">
                and fpa.source_type = #{sourceType}
            </if>
            <if test="status!=null">
                and fpa.status = #{status}
            </if>
            <if test="bpCategory!=null">
                and fpa.bp_category not in
                ('PRJ_CONTRACT_CONTENT_WFL','FCT_CONTRACT_CONTENT_WFL','PRJ_CONTRACT_CONTENT_ATT','FCT_CONTRACT_CONTENT_ATT','CUSTOM_FCT_CONTRACT','CUSTOM_CON_CONTRACT')
            </if>
        </where>
        order by fpa.creation_date ASC
    </select>

    <select id="queryContentFileInfo2" resultMap="BaseResultMap">
       select  *  from  ( select  ttt.*, @rownum := @rownum + 1 con_seq  from (SELECT

        fpa.major_con_flag,
        fpa.content_flag,
        CASE

        WHEN fpa.content_flag = 'Y' THEN
        '已生成' ELSE '未生成'
        END AS content_flag_n,
        fpa.UNDERWRITE_DESCRIPTION,
        fpa.SIGN_DATE,
        fpa.SIGN_PLACE,
        fpa.SIGN_DESCRIPTION,
        (
        SELECT
        scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'SYS.YES_NO'
        AND scb.CODE_ID = scv.CODE_ID
        AND scv.
        VALUE
        = fpa.major_con_flag
        ) AS major_con_flag_n,
        fpa.project_attachment_id,
        fpa.project_id,
        fpa.source_type,
        fpa.source_id,
        fpa.bp_category,
        fpa.bp_id,
        ( SELECT tt.bp_name FROM hls_bp_master tt WHERE tt.bp_id = fpa.bp_id ) AS bp_id_n,
        fpa.CON_CONTENT_AMOUNT,
        fpa.document_number,
        fpa.document_name,
        fpa.description,
        fpa.STATUS,
        fpa.template_id,
        fpa.content_sign_date,
        fpa.content_sign_location,
        fpa.signing_witness,
        fpa.witness,
        fpa.witness_bank,
        fpa.witness_location,
        fpa.is_final_print,
        fpa.stamp_name,
        fpa.company_seal,
        fpa.rep_seal,
        fpa.copies,
        fpa.print_comment,
        fpa.object_version_number,
        fpa.request_id,
        fpa.program_id,
        fpa.created_by,
        fpa.creation_date,
        fpa.last_updated_by,
        fpa.last_update_date,
        fpa.last_update_login,
        fpa.standard_contract,
        fpa.bp_role_type,
        ( SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'BP.BP_MASTER_ROLE' and sc.code_value =fpa.bp_role_type) AS bp_role_type_n,
        fpa.inter_status,
        fpa.inter_info,
        fpa.system_number,
        fpa.prj_notice_id,
        (
        SELECT
        MAX( fa.creation_date )
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi fam
        WHERE
        fa.attachment_id = fam.attachment_id
        AND fam.table_name = 'FCT_PROJECT_ATTACHMENT'
        AND fpa.project_attachment_id = fam.table_pk_value
        ) AS last_upload_date,
        CASE

        WHEN fpa.source_type IN ( 'MORTGAGE_CONTRACT', 'CONTRACT_OF_PLEDGE' ) THEN
        ( SELECT hli.full_name FROM hls_lease_item hli WHERE hli.lease_item_id = fpa.source_id )
        WHEN fpa.source_type = 'DEPOSIT_CONTENT' THEN
        ( SELECT h.bp_name FROM hls_bp_master h WHERE h.bp_id = fpa.source_id )
        END AS physical_assets_name,
        (
        SELECT
        MAX( su.description )
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi fam,
        sys_user su
        WHERE
        fa.attachment_id = fam.attachment_id
        AND fam.table_name = 'FCT_PROJECT_ATTACHMENT'
        AND fpa.project_attachment_id = fam.table_pk_value
        AND su.user_id = fa.created_by
        ) AS upload_person_name,
        (
        SELECT
        wm_concat( faa.source_pk_value )
        FROM
        fnd_atm_attachment faa,
        fnd_atm_attachment_multi faam
        WHERE
        faam.table_name = 'FCT_PROJECT_ATTACHMENT'
        AND faam.table_pk_value = fpa.project_attachment_id
        AND faa.source_pk_value = faam.record_id
        ) AS source_pk_value,
        (
        SELECT
        MAX( faa.attachment_id )
        FROM
        fnd_atm_attachment faa,
        fnd_atm_attachment_multi faam
        WHERE
        faam.table_name = 'FCT_PROJECT_ATTACHMENT'
        AND faam.table_pk_value = fpa.project_attachment_id
        AND faa.source_pk_value = faam.record_id
        ) AS attachment_id,
        (
        SELECT
        nvl( COUNT( faa.attachment_id ), 0 )
        FROM
        fnd_atm_attachment faa,
        fnd_atm_attachment_multi faam
        WHERE
        faam.table_name = 'FCT_PROJECT_ATTACHMENT'
        AND faam.table_pk_value = fpa.project_attachment_id
        AND faa.source_pk_value = faam.record_id
        ) AS attachment_sum,
        (
        SELECT
        wm_concat( faa.attachment_id )
        FROM
        fnd_atm_attachment faa,
        fnd_atm_attachment_multi faam
        WHERE
        faam.table_name = 'FCT_PROJECT_ATTACHMENT'
        AND faam.table_pk_value = fpa.project_attachment_id
        AND faa.source_pk_value = faam.record_id
        ) AS attachment_id_n,
        ( SELECT hdft.templet_name FROM hls_doc_file_templet hdft WHERE hdft.templet_id = fpa.template_id ) AS templet_name,
        ( SELECT hdft.templet_name FROM hls_doc_file_templet hdft WHERE hdft.templet_id = fpa.template_id ) AS template_id_n,
        ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = fpa.bp_id ) AS bp_name,
        fpa.signing_witness AS signing_witness_name,
        fpa.witness AS witness_name,
        (
        SELECT
        scvb.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        WHERE
        scvb.
        VALUE
        =
        CASE

        WHEN (
        SELECT
        MAX( fa.creation_date )
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi fam
        WHERE
        fa.attachment_id = fam.attachment_id
        AND fam.table_name = 'CONTRACT_CONTENT'
        AND fpa.project_attachment_id = fam.table_pk_value
        ) IS NOT NULL THEN
        'N' ELSE 'Y'
        END
        AND scb.CODE = 'SYS.YES_NO'
        AND scvb.code_id = scb.code_id
        ) AS standard_contract_desc,
        (
        SELECT
        scvb.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        WHERE
        scvb.
        VALUE
        = fpa.SOURCE_TYPE
        AND scb.CODE = 'CON.CONTENT_NUM_TYPE'
        AND scvb.code_id = scb.code_id
        ) AS SOURCE_TYPE_N,
        (
        SELECT
        wm_concat( fat.file_name )
        FROM
        fnd_atm_attachment fat,
        fnd_atm_attachment_multi faam
        WHERE
        fat.attachment_id = faam.attachment_id
        AND faam.table_name = 'FCT_PROJECT_ATTACHMENT'
        AND faam.table_pk_value = fpa.project_attachment_id
        ) AS file_name,
        (
        SELECT
        wm_concat( fat.file_name )
        FROM
        fnd_atm_attachment fat,
        fnd_atm_attachment_multi faam
        WHERE
        fat.attachment_id = faam.attachment_id
        AND faam.table_name = 'FCT_PROJECT_ATTACHMENT_SIGN'
        AND faam.table_pk_value = fpa.project_attachment_id
        ) AS file_name_sign,
        (
        SELECT
        MAX( fat.last_update_date )
        FROM
        fnd_atm_attachment fat,
        fnd_atm_attachment_multi faam
        WHERE
        fat.attachment_id = faam.attachment_id
        AND faam.table_name = 'FCT_PROJECT_ATTACHMENT'
        AND faam.table_pk_value = fpa.project_attachment_id
        ) AS upload_date,
        (
        SELECT
        MAX( su.description )
        FROM
        sys_user su,
        fnd_atm_attachment fat,
        fnd_atm_attachment_multi faam
        WHERE
        fat.attachment_id = faam.attachment_id
        AND faam.table_name = 'FCT_PROJECT_ATTACHMENT'
        AND faam.table_pk_value = fpa.project_attachment_id
        AND su.user_id = fat.last_updated_by
        ) AS upload_person_n
        FROM
        fct_project_attachment fpa
        WHERE
        1 = 1
        AND fpa.project_id = #{projectId}
        ORDER BY
        fpa.document_number asc )  ttt
        ,
        ( SELECT @rownum := 0 ) r)  ttx

        <where>
            1=1
            and ttx.project_id = nvl(#{projectId},-1)
            <if test="sourceType!=null">
                and ttx.source_type = #{sourceType}
            </if>
            <if test="status!=null">
                and ttx.status = #{status}
            </if>
            <if test="bpCategory!=null">
                and ttx.bp_category not in
                ('PRJ_CONTRACT_CONTENT_WFL','FCT_CONTRACT_CONTENT_WFL','PRJ_CONTRACT_CONTENT_ATT','FCT_CONTRACT_CONTENT_ATT')
            </if>
        </where>
  order by ttx.document_number  desc
    </select>

    <select id="queryContentFileInfo3" resultMap="BaseResultMap">
        select  *  from  ( select  ttt.*, @rownum := @rownum + 1 con_seq  from (SELECT

        fpa.major_con_flag,
        fpa.content_flag,
        CASE

        WHEN fpa.content_flag = 'Y' THEN
        '已生成' ELSE '未生成'
        END AS content_flag_n,
        fpa.UNDERWRITE_DESCRIPTION,
        fpa.SIGN_DATE,
        fpa.SIGN_PLACE,
        fpa.SIGN_DESCRIPTION,
        (
        SELECT
        scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'SYS.YES_NO'
        AND scb.CODE_ID = scv.CODE_ID
        AND scv.
        VALUE
        = fpa.major_con_flag
        ) AS major_con_flag_n,
        fpa.project_attachment_id,
        fpa.project_id,
        fpa.source_type,
        fpa.source_id,
        fpa.bp_category,
        fpa.bp_id,
        ( SELECT tt.bp_name FROM hls_bp_master tt WHERE tt.bp_id = fpa.bp_id ) AS bp_id_n,
        fpa.CON_CONTENT_AMOUNT,
        fpa.document_number,
        fpa.document_name,
        fpa.description,
        fpa.STATUS,
        fpa.template_id,
        fpa.content_sign_date,
        fpa.content_sign_location,
        fpa.signing_witness,
        fpa.witness,
        fpa.witness_bank,
        fpa.witness_location,
        fpa.is_final_print,
        fpa.stamp_name,
        fpa.company_seal,
        fpa.rep_seal,
        fpa.copies,
        fpa.print_comment,
        fpa.object_version_number,
        fpa.request_id,
        fpa.program_id,
        fpa.created_by,
        fpa.creation_date,
        fpa.last_updated_by,
        fpa.last_update_date,
        fpa.last_update_login,
        fpa.standard_contract,
        fpa.bp_role_type,
        ( SELECT
        sc.meaning value_name
        FROM
        sys_code_value_b_v sc
        WHERE
        sc. CODE = 'BP.BP_MASTER_ROLE' and sc.code_value =fpa.bp_role_type) AS bp_role_type_n,
        fpa.inter_status,
        fpa.inter_info,
        fpa.system_number,
        fpa.prj_notice_id,
        (
        SELECT
        MAX( fa.creation_date )
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi fam
        WHERE
        fa.attachment_id = fam.attachment_id
        AND fam.table_name = 'FCT_PROJECT_ATTACHMENT_SIGN'
        AND fpa.project_attachment_id = fam.table_pk_value
        ) AS last_upload_date,
        CASE

        WHEN fpa.source_type IN ( 'MORTGAGE_CONTRACT', 'CONTRACT_OF_PLEDGE' ) THEN
        ( SELECT hli.full_name FROM hls_lease_item hli WHERE hli.lease_item_id = fpa.source_id )
        WHEN fpa.source_type = 'DEPOSIT_CONTENT' THEN
        ( SELECT h.bp_name FROM hls_bp_master h WHERE h.bp_id = fpa.source_id )
        END AS physical_assets_name,
        (
        SELECT
        MAX( su.description )
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi fam,
        sys_user su
        WHERE
        fa.attachment_id = fam.attachment_id
        AND fam.table_name = 'FCT_PROJECT_ATTACHMENT_SIGN'
        AND fpa.project_attachment_id = fam.table_pk_value
        AND su.user_id = fa.created_by
        ) AS upload_person_name,
        (
        SELECT
        wm_concat( faa.source_pk_value )
        FROM
        fnd_atm_attachment faa,
        fnd_atm_attachment_multi faam
        WHERE
        faam.table_name = 'FCT_PROJECT_ATTACHMENT_SIGN'
        AND faam.table_pk_value = fpa.project_attachment_id
        AND faa.source_pk_value = faam.record_id
        ) AS source_pk_value,
        (
        SELECT
        MAX( faa.attachment_id )
        FROM
        fnd_atm_attachment faa,
        fnd_atm_attachment_multi faam
        WHERE
        faam.table_name = 'FCT_PROJECT_ATTACHMENT_SIGN'
        AND faam.table_pk_value = fpa.project_attachment_id
        AND faa.source_pk_value = faam.record_id
        ) AS attachment_id,
        (
        SELECT
        nvl( COUNT( faa.attachment_id ), 0 )
        FROM
        fnd_atm_attachment faa,
        fnd_atm_attachment_multi faam
        WHERE
        faam.table_name = 'FCT_PROJECT_ATTACHMENT_SIGN'
        AND faam.table_pk_value = fpa.project_attachment_id
        AND faa.source_pk_value = faam.record_id
        ) AS attachment_sum,
        (
        SELECT
        wm_concat( faa.attachment_id )
        FROM
        fnd_atm_attachment faa,
        fnd_atm_attachment_multi faam
        WHERE
        faam.table_name = 'FCT_PROJECT_ATTACHMENT_SIGN'
        AND faam.table_pk_value = fpa.project_attachment_id
        AND faa.source_pk_value = faam.record_id
        ) AS attachment_id_n,
        ( SELECT hdft.templet_name FROM hls_doc_file_templet hdft WHERE hdft.templet_id = fpa.template_id ) AS templet_name,
        ( SELECT hdft.templet_name FROM hls_doc_file_templet hdft WHERE hdft.templet_id = fpa.template_id ) AS template_id_n,
        ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = fpa.bp_id ) AS bp_name,
        fpa.signing_witness AS signing_witness_name,
        fpa.witness AS witness_name,
        (
        SELECT
        scvb.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        WHERE
        scvb.
        VALUE
        =
        CASE

        WHEN (
        SELECT
        MAX( fa.creation_date )
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi fam
        WHERE
        fa.attachment_id = fam.attachment_id
        AND fam.table_name = 'CONTRACT_CONTENT'
        AND fpa.project_attachment_id = fam.table_pk_value
        ) IS NOT NULL THEN
        'N' ELSE 'Y'
        END
        AND scb.CODE = 'SYS.YES_NO'
        AND scvb.code_id = scb.code_id
        ) AS standard_contract_desc,
        (
        SELECT
        scvb.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        WHERE
        scvb.
        VALUE
        = fpa.SOURCE_TYPE
        AND scb.CODE = 'CON.CONTENT_NUM_TYPE'
        AND scvb.code_id = scb.code_id
        ) AS SOURCE_TYPE_N,
        (
        SELECT
        wm_concat( fat.file_name )
        FROM
        fnd_atm_attachment fat,
        fnd_atm_attachment_multi faam
        WHERE
        fat.attachment_id = faam.attachment_id
        AND faam.table_name = 'FCT_PROJECT_ATTACHMENT_SIGN'
        AND faam.table_pk_value = fpa.project_attachment_id
        ) AS file_name,
        (
        SELECT
        wm_concat( fat.file_name )
        FROM
        fnd_atm_attachment fat,
        fnd_atm_attachment_multi faam
        WHERE
        fat.attachment_id = faam.attachment_id
        AND faam.table_name = 'FCT_PROJECT_ATTACHMENT_SIGN'
        AND faam.table_pk_value = fpa.project_attachment_id
        ) AS file_name_sign,
        (
        SELECT
        MAX( fat.last_update_date )
        FROM
        fnd_atm_attachment fat,
        fnd_atm_attachment_multi faam
        WHERE
        fat.attachment_id = faam.attachment_id
        AND faam.table_name = 'FCT_PROJECT_ATTACHMENT_SIGN'
        AND faam.table_pk_value = fpa.project_attachment_id
        ) AS upload_date,
        (
        SELECT
        MAX( su.description )
        FROM
        sys_user su,
        fnd_atm_attachment fat,
        fnd_atm_attachment_multi faam
        WHERE
        fat.attachment_id = faam.attachment_id
        AND faam.table_name = 'FCT_PROJECT_ATTACHMENT_SIGN'
        AND faam.table_pk_value = fpa.project_attachment_id
        AND su.user_id = fat.last_updated_by
        ) AS upload_person_n
        FROM
        fct_project_attachment fpa
        WHERE
        1 = 1
        AND fpa.project_id = #{projectId}
        ORDER BY
        fpa.document_number asc )  ttt
        ,
        ( SELECT @rownum := 0 ) r)  ttx

        <where>
            1=1
            and ttx.project_id = nvl(#{projectId},-1)
            <if test="sourceType!=null">
                and ttx.source_type = #{sourceType}
            </if>
            <if test="status!=null">
                and ttx.status = #{status}
            </if>
            <if test="bpCategory!=null">
                and ttx.bp_category not in
                ('PRJ_CONTRACT_CONTENT_WFL','FCT_CONTRACT_CONTENT_WFL','PRJ_CONTRACT_CONTENT_ATT','FCT_CONTRACT_CONTENT_ATT')
            </if>
        </where>
        order by ttx.document_number  desc
    </select>

    <select id="queryContentFileInfoNew" resultMap="BaseResultMap">
        select  *  from  ( select  ttt.*, @rownum := @rownum + 1 con_seq  from (SELECT

        fpa.major_con_flag,
        fpa.content_flag,
        CASE

        WHEN fpa.content_flag = 'Y' THEN
        '已生成' ELSE '未生成'
        END AS content_flag_n,
        fpa.UNDERWRITE_DESCRIPTION,
        fpa.SIGN_DATE,
        fpa.SIGN_PLACE,
        fpa.SIGN_DESCRIPTION,
        (
        SELECT
        scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'SYS.YES_NO'
        AND scb.CODE_ID = scv.CODE_ID
        AND scv.
        VALUE
        = fpa.major_con_flag
        ) AS major_con_flag_n,
        fpa.project_attachment_id,
        fpa.project_id,
        fpa.source_type,
        fpa.source_id,
        fpa.bp_category,
        fpa.bp_id,
        ( SELECT tt.bp_name FROM hls_bp_master tt WHERE tt.bp_id = fpa.bp_id ) AS bp_id_n,
        fpa.CON_CONTENT_AMOUNT,
        fpa.document_number,
        fpa.document_name,
        fpa.description,
        fpa.STATUS,
        fpa.template_id,
        fpa.content_sign_date,
        fpa.content_sign_location,
        fpa.signing_witness,
        fpa.witness,
        fpa.witness_bank,
        fpa.witness_location,
        fpa.is_final_print,
        fpa.stamp_name,
        fpa.company_seal,
        fpa.rep_seal,
        fpa.copies,
        fpa.print_comment,
        fpa.object_version_number,
        fpa.request_id,
        fpa.program_id,
        fpa.created_by,
        fpa.creation_date,
        fpa.last_updated_by,
        fpa.last_update_date,
        fpa.last_update_login,
        fpa.standard_contract,
        fpa.bp_role_type,
        ( SELECT tt.DESCRIPTION FROM hls_bp_type tt WHERE tt.BP_TYPE = fpa.bp_role_type ) AS bp_role_type_n,
        fpa.inter_status,
        fpa.inter_info,
        fpa.system_number,
        fpa.prj_notice_id,
        (CASE
        WHEN fpa.source_type IN ( 'MORTGAGE_CONTRACT', 'CONTRACT_OF_PLEDGE' ) THEN
        ( SELECT hli.full_name FROM hls_lease_item hli WHERE hli.lease_item_id = fpa.source_id )
        WHEN fpa.source_type = 'DEPOSIT_CONTENT' THEN
        ( SELECT h.bp_name FROM hls_bp_master h WHERE h.bp_id = fpa.source_id )
        END )physical_assets_name,

        ( SELECT hdft.templet_name FROM hls_doc_file_templet hdft WHERE hdft.templet_id = fpa.template_id ) AS templet_name,
        ( SELECT hdft.templet_name FROM hls_doc_file_templet hdft WHERE hdft.templet_id = fpa.template_id ) AS template_id_n,
        ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = fpa.bp_id ) AS bp_name,
        fpa.signing_witness AS signing_witness_name,
        fpa.witness AS witness_name,
        (
        SELECT
        scvb.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        WHERE
        scvb.VALUE =
        CASE
        WHEN (
        SELECT
        MAX( fa.creation_date )
        FROM
        fnd_atm_attachment fa,
        fnd_atm_attachment_multi fam
        WHERE
        fa.attachment_id = fam.attachment_id
        AND fam.table_name = 'CONTRACT_CONTENT'
        AND fpa.project_attachment_id = fam.table_pk_value
        ) IS NOT NULL THEN
        'N' ELSE 'Y'
        END
        AND scb.CODE = 'SYS.YES_NO'
        AND scvb.code_id = scb.code_id
        ) AS standard_contract_desc,
        (
        SELECT
        scvb.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scvb
        WHERE
        scvb.
        VALUE
        = fpa.SOURCE_TYPE
        AND scb.CODE = 'CON.CONTENT_NUM_TYPE'
        AND scvb.code_id = scb.code_id
        ) AS SOURCE_TYPE_N
        FROM
        fct_project_attachment fpa
        WHERE
        1 = 1
        AND fpa.project_id = #{projectId}
        ORDER BY
        fpa.document_number asc )  ttt
        ,
        ( SELECT @rownum := 0 ) r)  ttx

        <where>
            1=1
            <if test="projectId!=null">
                and ttx.project_id = #{projectId}
            </if>
            <if test="sourceType!=null">
                and ttx.source_type = #{sourceType}
            </if>
            <if test="status!=null">
                and ttx.status = #{status}
            </if>
            <if test="bpCategory!=null">
                and ttx.bp_category not in
                ('PRJ_CONTRACT_CONTENT_WFL','FCT_CONTRACT_CONTENT_WFL','PRJ_CONTRACT_CONTENT_ATT','FCT_CONTRACT_CONTENT_ATT')
            </if>
        </where>
        order by ttx.document_number  desc
    </select>

    <select id="queryContentFileInfo2New" resultMap="BaseResultMap">
        SELECT
        fpa.*, (
        SELECT
        su.DESCRIPTION
        FROM
        sys_user su
        WHERE
        su.USER_ID = fpa.upload_person
        ) AS upload_person_name,
        (select tt.DESCRIPTION from hls_bp_type tt where tt.BP_TYPE=fpa.bp_role_type) bp_role_type_n,
        (select wm_concat(fat.file_name) from fnd_atm_attachment fat, fnd_atm_attachment_multi faam where
        fat.attachment_id = faam.attachment_id
        and faam.table_name = 'FCT_PROJECT_ATTACHMENT' and faam.table_pk_value = fpa.project_attachment_id
        ) file_name,
        (select wm_concat(fa.attachment_id)
        from fnd_atm_attachment fa, fnd_atm_attachment_multi fam
        where fa.attachment_id = fam.attachment_id
        and fam.table_name = 'FCT_PROJECT_ATTACHMENT'
        and fpa.project_attachment_id = fam.table_pk_value) attachment_id,
        (CASE fpa.content_flag when 'Y' then '已生成' else '未生成' end)content_flag_n,
        (SELECT
        su.DESCRIPTION
        FROM
        sys_user su
        WHERE
        su.USER_ID = fpa.upload_person
        ) AS upload_person_n,
        (
        select sf.file_id
        from
        sys_attachment sa,
        sys_file sf
        <where>
            fpa.project_attachment_id||''= sa.source_key
            <if test="sourceType!=null">
                AND sa.source_type = #{sourceType}
            </if>
            AND sa.attachment_id = sf.attachment_id
            and rownum=1
        </where>
        ) file_id,
        (
        SELECT
        hdft.templet_name
        FROM
        hls_doc_file_templet hdft
        WHERE
        hdft.templet_id = fpa.template_id
        ) AS template_id_n,
        (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id=fpa.bp_id) as bp_id_n,
        fpa.signing_witness as signing_witness_name,
        fpa.witness as witness_name,
        fpa.SYSTEM_NUMBER,
        (
        select scvb.meaning from
        sys_code_b scb,sys_code_value_b scvb
        where scvb.value=fpa.SOURCE_TYPE
        and scb.code='CON.CONTENT_NUM_TYPE'
        and scvb.code_id=scb.code_id
        ) as SOURCE_TYPE_N
        FROM
        fct_project_attachment fpa
        <where>
            1=1
            <if test="projectId!=null">
                and fpa.project_id = #{projectId}
            </if>
            <if test="hdId!=null">
                and fpa.hd_id = #{hdId}
            </if>
            <if test="sourceType!=null">
                and fpa.source_type = #{sourceType}
            </if>
            <if test="status!=null">
                and fpa.status = #{status}
            </if>
            <if test="bpCategory!=null">
                and fpa.bp_category not in
                ('PRJ_CONTRACT_CONTENT_WFL','FCT_CONTRACT_CONTENT_WFL','PRJ_CONTRACT_CONTENT_ATT','FCT_CONTRACT_CONTENT_ATT','CUSTOM_FCT_CONTRACT','CUSTOM_CON_CONTRACT')
            </if>
        </where>
        order by fpa.creation_date ASC
    </select>

    <select id="selectByCategory" resultMap="BaseResultMap">
        SELECT
        fpa.*
        FROM
        fct_project_attachment fpa
        left join HLS_BP_MASTER hm on hm.BP_ID=fpa.BP_ID
        <where>
            <if test="projectId!=null">
                AND fpa.project_id = #{projectId}
            </if>
            <if test="bpCategory!=null">
                AND fpa.bp_category like CONCAT('%',CONCAT(#{bpCategory},'%'))
            </if>
            <if test="sourceType!=null">
                AND fpa.source_type = #{sourceType}
            </if>
        </where>
        order by fpa.creation_date asc,hm.bp_class desc
    </select>

    <delete id="deleteHistoryPrjReport" parameterType="com.hand.hls.fct.dto.HlsCusFctProjectAttachment">
        DELETE FROM fct_project_attachment fpa WHERE fpa.project_id = #{projectId} AND fpa.template_id = #{templateId} AND fpa.source_type = #{sourceType}
    </delete>

    <delete id="deleteHistoryPrjReportNotice" parameterType="com.hand.hls.fct.dto.HlsCusFctProjectAttachment">
        DELETE FROM fct_project_attachment fpa WHERE fpa.project_id = #{projectId} AND fpa.template_id = #{templateId} AND fpa.source_type = #{sourceType} AND fpa.prj_notice_id = #{prjNoticeId}
    </delete>


    <select id="queryAttachmentFileInfo" resultMap="BaseResultMap">
        SELECT
        fpa.*, (
        SELECT
        su.DESCRIPTION
        FROM
        sys_user su
        WHERE
        su.USER_ID = fpa.upload_person
        ) AS upload_person_name,
        (
        select sf.file_id
        from
        sys_attachment sa,
        sys_file sf
        <where>
            fpa.project_attachment_id||''= sa.source_key
            <if test="sourceType!=null">
                AND sa.source_type = #{sourceType}
            </if>
            AND sa.attachment_id = sf.attachment_id
            and  rownum=1
        </where>
        ) file_id,
        (
        SELECT
        hdft.templet_name
        FROM
        hls_doc_file_templet hdft
        WHERE
        hdft.templet_id = fpa.template_id
        ) AS template_id_n,
        (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id=fpa.bp_id) as bp_id_n,
        fpa.signing_witness as signing_witness_name,
        fpa.witness as witness_name,
        fpa.SYSTEM_NUMBER,
        (
        select scvb.meaning from
        sys_code_b scb,sys_code_value_b scvb
        where scvb.value=fpa.SOURCE_TYPE
        and scb.code='CON.CONTENT_NUM_TYPE'
        and scvb.code_id=scb.code_id
        ) as SOURCE_TYPE_N
        FROM
        fct_project_attachment fpa
        <where>
            1=1
            <if test="projectId!=null">
                and fpa.project_id = #{projectId}
            </if>
            <if test="sourceType!=null">
                and fpa.source_type = #{sourceType}
            </if>
            <if test="status!=null">
                and fpa.status = #{status}
            </if>
            <if test="sourceId != null">
                and fpa.source_id = #{sourceId}
            </if>
        </where>
        order by fpa.creation_date ASC
    </select>
    <select id="selecttAttachmentByProjectId" resultMap="BaseResultMap"
            parameterType="com.hand.hls.fct.dto.HlsCusFctProjectAttachment">

        select  *   from fct_project_attachment ppb where ppb.project_id = #{projectId}
        and  ppb.content_flag='N'

ORDER BY
CASE

		WHEN ppb.BP_ROLE_TYPE = 'TENANT' THEN
	2 ELSE 1
END desc
    </select>
    <select id="selecttAttachmentByTemplateId" resultMap="BaseResultMap"
            parameterType="com.hand.hls.fct.dto.HlsCusFctProjectAttachment">

        select  *   from fct_project_attachment ppb where ppb.TEMPLATE_ID = #{templateId}
        and  ppb.project_id=#{projectId}
        and  ppb.bp_id=#{bpId}

    </select>
    <update id="updateOne" parameterType="com.hand.hls.fct.dto.HlsCusFctProjectAttachment">
        update
        fct_project_attachment cc
        set cc.content_flag =#{contentFlag}



        WHERE
        cc.project_attachment_id = #{projectAttachmentId}

    </update>

</mapper>
