<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusCreditChanceFinStatementMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusCreditChanceFinStatement">
        <result column="FIN_STATEMENT_ID" property="finStatementId" jdbcType="DECIMAL"/>
        <result column="CHANCE_ID" property="chanceId" jdbcType="DECIMAL"/>
        <result column="RPT_DATE" property="rptDate" jdbcType="DATE"/>
        <result column="RPT_DATE_N" property="rptDateN" jdbcType="VARCHAR"/>
        <result column="TOTAL_ASSETS" property="totalAssets" jdbcType="DECIMAL"/>
        <result column="TOTAL_LIABILITIES" property="totalLiabilities" jdbcType="DECIMAL"/>
        <result column="NET_ASSETS" property="netAssets" jdbcType="DECIMAL"/>
        <result column="REGISTERED_CAPITAL" property="registeredCapital" jdbcType="DECIMAL"/>
        <result column="BUSINESS_INCOME" property="businessIncome" jdbcType="DECIMAL"/>
        <result column="NET_PROFIT" property="netProfit" jdbcType="DECIMAL"/>
        <result column="ACCOUNTS_RECEIVABLE" property="accountsReceivable" jdbcType="DECIMAL"/>
        <result column="ACCOUNTS_PAYABLE" property="accountsPayable" jdbcType="DECIMAL"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="BANK_LOANS" property="bankLoans" jdbcType="DECIMAL"/>
        <result column="FIXED_ASSETS" property="fixedAssets" jdbcType="DECIMAL"/>
        <result column="NET_OPERATING_CASHFLOW" property="netOperatingCashflow" jdbcType="DECIMAL"/>
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL"/>
        <result column="ol" property="ol" jdbcType="DECIMAL"/>
        <result column="roe" property="roa" jdbcType="DECIMAL"/>
        <result column="roa" property="roe" jdbcType="DECIMAL"/>
        <result column="assets_liabilities" property="assetsLiabilities" jdbcType="DECIMAL"/>
        <result column="sales_growth_rate" property="salesGrowthRate" jdbcType="DECIMAL"/>
        <result column="repayment_ratio" property="repaymentRatio" jdbcType="DECIMAL"/>
        <result column="currency_code" property="currencyCode" jdbcType="DECIMAL"/>
        <result column="currency_code_n" property="currencyCodeN" jdbcType="DECIMAL"/>

    </resultMap>

    <select id="selectByChanceId" parameterType="com.hand.hls.fct.dto.HlsCusCreditChanceFinStatement"
            resultMap="BaseResultMap">
        select hd.FIN_STATEMENT_ID, hd.RPT_DATE, hd.TOTAL_ASSETS, hd.TOTAL_LIABILITIES,
        hd.DESCRIPTION,
        hd.NET_ASSETS,
        hd.REGISTERED_CAPITAL,
        hd.BUSINESS_INCOME,
        hd.NET_PROFIT,
        hd.ACCOUNTS_RECEIVABLE,
        hd.ACCOUNTS_PAYABLE,
        hd.BANK_LOANS,
        hd.FIXED_ASSETS,
        hd.NET_OPERATING_CASHFLOW,
        hd.ol,
        hd.roe,
        hd.roa,
        hd.assets_liabilities,
        hd.sales_growth_rate,
        hd.repayment_ratio,
        hd.currency_code,
        (
        SELECT FC.CURRENCY_NAME
        FROM FND_CURRENCY FC
        WHERE FC.CURRENCY_CODE=HD.CURRENCY_CODE
        )AS currency_code_n,
        rpt_date   RPT_DATE_N,
        (select h.bp_id
        from hls_credit_line_chance h
        where h.chance_id = #{chanceId}) bp_id
        from credit_chance_fin_statement hd
        where hd.chance_id = #{chanceId}
    </select>
</mapper>
