<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCreditLineChanceMpMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCreditLineChanceMp">
        <result column="CHANCE_MP_ID" property="chanceMpId" jdbcType="DECIMAL" />
        <result column="CHANCE_ID" property="chanceId" jdbcType="DECIMAL" />
        <result column="LEASE_ITEM_ID" property="leaseItemId" jdbcType="DECIMAL" />
        <result column="PLEDGE_NAME" property="pledgeName" jdbcType="VARCHAR" />
        <result column="LEASE_ITEM_TYPE" property="leaseItemType" jdbcType="VARCHAR" />
        <result column="PATTERN" property="pattern" jdbcType="VARCHAR" />
        <result column="MORTGAGOR" property="mortgagor" jdbcType="DECIMAL" />
        <result column="PLEDGE_STATE" property="pledgeState" jdbcType="VARCHAR" />
        <result column="ORIGINAL_ASSET_VALUE_TOTAL" property="originalAssetValueTotal" jdbcType="DECIMAL" />
        <result column="ASSET_VALUE_TOTAL" property="assetValueTotal" jdbcType="DECIMAL" />

        <result column="PLEDGE_STATE" property="pledgeState" jdbcType="VARCHAR" />

        <result column="LEASE_ITEM_ID_N" property="leaseItemIdN" jdbcType="VARCHAR" />
        <result column="LEASE_ITEM_TYPE_N" property="leaseItemTypeN" jdbcType="VARCHAR" />
        <result column="PATTERN_N" property="patternN" jdbcType="VARCHAR" />
        <result column="MORTGAGOR_N" property="mortgagorN" jdbcType="VARCHAR" />
        <result column="PLEDGE_STATE_N" property="pledgeStateN" jdbcType="VARCHAR" />

        <result column="LEASE_ITEM_CODE" property="leaseItemCode" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryCredLineChance" resultMap="BaseResultMap" parameterType="com.hand.hls.fct.dto.HlsCreditLineChanceMp">
        select
            clcm.CHANCE_ID,
            clcm.chance_mp_id,
            clcm.LEASE_ITEM_ID,
            hli.FULL_NAME as LEASE_ITEM_ID_N,
            hli.LEASE_ITEM_CODE,
            hli.LEASE_ITEM_TYPE,
            (select meaning
                from sys_code_value_b_v
                where code = 'HLS.COLLATERAL_TYPE'
                and code_value = hli.LEASE_ITEM_TYPE) LEASE_ITEM_TYPE_N,
            hli.PATTERN,
            ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'HLS.PATTERN' AND code_value = hli.PATTERN ) PATTERN_N,
            hli.MORTGAGOR,
             ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = hli.MORTGAGOR ) MORTGAGOR_N,

             hli.PLEDGE_STATE,
            ( SELECT meaning FROM sys_code_value_b_v WHERE CODE = 'PLEDGE_STATE0' AND code_value = hli.PLEDGE_STATE ) PLEDGE_STATE_N,
            (select a.EVALUATION_VALUE from
                    (select hlid.lease_item_id, sum(hlid.EVALUATION_VALUE) as EVALUATION_VALUE
                    from hls_lease_item_detail hlid group by hlid.lease_item_id) a where a.lease_item_id = hli.lease_item_id) ASSET_VALUE_TOTAL,

        (select sum(a.v1+a.v2)
        FROM (select hlid.lease_item_id, sum(hlid.purchase_price) as v1,sum(hlid.pledge_asset_value) as v2
        FROM hls_lease_item_detail hlid group by hlid.lease_item_id) a
        WHERE a.lease_item_id = hli.lease_item_id) ORIGINAL_ASSET_VALUE_TOTAL
            from hls_credit_line_chance_mp clcm,hls_lease_item hli
            <where>
                hli.LEASE_ITEM_ID = clcm.LEASE_ITEM_ID
                and hli.enabled_flag = 'Y'
                and hli.LEASE_ITEM_TYPE in ('MORTGAGE','PLEDGE')
                and clcm.CHANCE_ID = #{chanceId}
            </where>

    </select>


</mapper>