<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCreditLineChanceApproverMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCreditLineChanceApprover">
        <result column="APPROVER_ID" property="approverId" jdbcType="DECIMAL" />
        <result column="CHANCE_ID" property="chanceId" jdbcType="DECIMAL" />
        <result column="ALLOCATION_ID" property="allocationId" jdbcType="DECIMAL" />
        <result column="VOTE_STATUS" property="voteStatus" jdbcType="VARCHAR" />
        <result column="VOTE_COMMENT" property="voteComment" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll" resultType="com.hand.hls.fct.dto.HlsCreditLineChanceApprover">
        select em.name ,fou.unit_name,fop.position_name
        from hls_credit_line_chance_approver ca
                 join sys_user_allocation sua
                      on sua.allocation_id= ca.allocation_id
                 join FND_EMPLOYEE_ASSIGNS fea on fea.employee_assign_id=sua.employee_assign_id
                 join fnd_employee em on em.employee_id=fea.employee_id
                 join fnd_org_unit fou on fou.unit_id=fea.unit_id
                 join fnd_org_position fop on fop.position_id=fea.position_id
    </select>


</mapper>