<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusHlsCreditLinePledgeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusHlsCreditLinePledge">
        <result column="CREDIT_LINE_PLEDGE_ID" property="creditLinePledgeId" jdbcType="DECIMAL"/>
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL"/>
        <result column="CREDIT_LINE_ID" property="creditLineId" jdbcType="DECIMAL"/>
        <result column="PLEDGE_BP_ID" property="pledgeBpId" jdbcType="DECIMAL"/>
        <result column="PLEDGE_BP_ID_N" property="pledgeBpIdN" jdbcType="VARCHAR"/>
        <result column="PLEDGE_NAME" property="pledgeName" jdbcType="VARCHAR"/>
        <result column="PLEDGE_CURRENCY" property="pledgeCurrency" jdbcType="VARCHAR"/>
        <result column="PLEDGE_CURRENCY_N" property="pledgeCurrencyN" jdbcType="VARCHAR"/>
        <result column="PLEDGE_AMOUNT" property="pledgeAmount" jdbcType="DECIMAL"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryCreditLinePledgeByCreditLineId" resultMap="BaseResultMap"
            parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLinePledge">
        SELECT
            HCLP.*,
            HBM.BP_NAME PLEDGE_BP_ID_N,
            (
            select fc.currency_name
            from fnd_currency fc
            where fc.currency_code = hclp.pledge_currency
            ) PLEDGE_CURRENCY_N
        FROM
            HLS_CREDIT_LINE_PLEDGE HCLP
            LEFT JOIN HLS_BP_MASTER HBM ON HCLP.PLEDGE_BP_ID = HBM.BP_ID
        WHERE
            HCLP.CREDIT_LINE_ID = #{creditLineId}
    </select>

</mapper>
