<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusHlsCreditLineMortgageMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusHlsCreditLineMortgage">
        <result column="CREDIT_LINE_MORTGAGE_ID" property="creditLineMortgageId" jdbcType="DECIMAL"/>
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL"/>
        <result column="CREDIT_LINE_ID" property="creditLineId" jdbcType="DECIMAL"/>
        <result column="MORTGAGE_BP_ID" property="mortgageBpId" jdbcType="DECIMAL"/>
        <result column="MORTGAGE_BP_ID_N" property="mortgageBpIdN" jdbcType="VARCHAR"/>
        <result column="MORTGAGE_NAME" property="mortgageName" jdbcType="VARCHAR"/>
        <result column="MORTGAGE_CURRENCY" property="mortgageCurrency" jdbcType="VARCHAR"/>
        <result column="MORTGAGE_CURRENCY_N" property="mortgageCurrencyN" jdbcType="VARCHAR"/>
        <result column="MORTGAGE_AMOUNT" property="mortgageAmount" jdbcType="DECIMAL"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryCreditLineMortgageByCreditLineId" resultMap="BaseResultMap"
            parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLineMortgage">
        SELECT
            HCLM.*,
            HBM.BP_NAME MORTGAGE_BP_ID_N,
            (
            select fc.currency_name
            from fnd_currency fc
            where fc.currency_code = hclm.mortgage_currency
            ) MORTGAGE_CURRENCY_N
        FROM
            HLS_CREDIT_LINE_MORTGAGE HCLM
            LEFT JOIN HLS_BP_MASTER HBM ON HCLM.MORTGAGE_BP_ID = HBM.BP_ID
        WHERE
            HCLM.CREDIT_LINE_ID = #{creditLineId}
    </select>
</mapper>
