<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusHlsCreditLineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusHlsCreditLine">
        <result column="credit_line_id" property="creditLineId" jdbcType="DECIMAL"/>
        <result column="credit_line_number" property="creditLineNumber" jdbcType="VARCHAR"/>
        <result column="credit_line_name" property="creditLineName" jdbcType="VARCHAR"/>
        <result column="credit_line_name_n" property="creditLineNameN"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="bp_code" property="bpCode" jdbcType="VARCHAR"/>
        <result column="bp_type" property="bpType" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="document_type_n" property="documentTypeN" jdbcType="VARCHAR"/>
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="proposer_user_id" property="proposerUserId" jdbcType="DECIMAL"/>
        <result column="proposer_employee_assign_id" property="proposerEmployeeAssignId" jdbcType="DECIMAL"/>
        <result column="proposer_employee_id" property="proposerEmployeeId" jdbcType="DECIMAL"/>
        <result column="source_document_category" property="sourceDocumentCategory" jdbcType="VARCHAR"/>
        <result column="source_document_id" property="sourceDocumentId" jdbcType="DECIMAL"/>
        <result column="credit_line_status" property="creditLineStatus" jdbcType="VARCHAR"/>
        <result column="proposer_employee_assign_id" property="proposerEmployeeAssignId" jdbcType="DECIMAL"/>
        <result column="currency_code" property="currencyCode" jdbcType="VARCHAR"/>
        <result column="currency_code_n" property="currencyCodeN" jdbcType="VARCHAR"/>
        <result column="credit_line_amt" property="creditLineAmt" jdbcType="DECIMAL"/>
        <result column="credit_exposure_amt" property="creditExposureAmt" jdbcType="DECIMAL"/>
        <result column="credit_used_amt" property="creditUsedAmt" jdbcType="DECIMAL"/>
        <result column="credit_line_qty" property="creditLineQty" jdbcType="DECIMAL"/>
        <result column="credit_exposure_qty" property="creditExposureQty" jdbcType="DECIMAL"/>
        <result column="valid_from" property="validFrom" jdbcType="DATE"/>
        <result column="valid_to" property="validTo" jdbcType="DATE"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="credit_obj_name" property="creditObjName"/>
        <result column="beginDate" property="beginDate" jdbcType="DATE"/>
        <result column="endDate" property="endDate" jdbcType="DATE"/>
        <result column="limitFrom" property="limitFrom"/>
        <result column="limitTo" property="limitTo"/>
        <result column="credit_line_status" property="creditLineStatus" jdbcType="VARCHAR"/>
        <result column="credit_line_status_value" property="creditLineStatusValue" jdbcType="VARCHAR"/>
        <result column="credit_line_count" property="creditLineCount" jdbcType="DECIMAL"/>
        <result column="credit_line_count_percent" property="creditLineCountPercent" jdbcType="DECIMAL"/>
        <result column="credit_obj_name" property="creditObjName" jdbcType="DECIMAL"/>
        <result column="credit_line_status_desc" property="creditLineStatusDesc" />
        <result column="project_manager" property="projectManager" jdbcType="VARCHAR"/>
        <result column="client_name" property="clientName" jdbcType="VARCHAR"/>
        <result column="client_code" property="clientCode" jdbcType="VARCHAR"/>
        <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
        <result column="manager_name" property="managerName" jdbcType="VARCHAR"/>
        <result column="project_manager" property="projectManager" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="currency_name" property="currencyName" jdbcType="VARCHAR"/>
        <result column="document_desc" property="documentDesc" jdbcType="VARCHAR"/>
        <result column="bp_description" property="bpDescription" jdbcType="VARCHAR"/>
        <result column="project_assistant" property="projectAssistant" jdbcType="DECIMAL"/>
        <result column="project_assistant_n" property="projectAssistantN" jdbcType="VARCHAR"/>
        <result column="project_assistant_name" property="projectAssistantName" jdbcType="DECIMAL"/>
        <result column="change_version" property="changeVersion" jdbcType="DECIMAL"/>
        <result column="change_date" property="changeDate" jdbcType="DATE"/>
        <result column="chance_id" property="chanceId" jdbcType="DECIMAL"/>
        <result column="credit_project_desc" property="creditProjectDesc" jdbcType="VARCHAR"/>

        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="credit_used_amount" property="creditUsedAmount" jdbcType="DECIMAL"/>
        <result column="delay_from" property="delayFrom" jdbcType="DATE"/>
        <result column="delay_to" property="delayTo" jdbcType="DATE"/>

        <result column="project_assistant_assigns_id" property="projectAssistantAssignsId" jdbcType="DECIMAL"/>
        <result column="unit_id" property="unitId" jdbcType="DECIMAL"/>
        <result column="term" property="term" jdbcType="DECIMAL"/>
        <result column="credit_exposure_amt" property="creditExposureAmt"/>
        <result column="credit_preemption_amt" property="creditPreemptionAmt"/>
        <result column="cancel_flag" property="cancelFlag"/>
        <result column="source_credit_line_id" property="sourceCreditLineId"/>
        <result column="withdraw_balance" property="withdrawBalance" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="hlsCreditLineQueryBySource" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLine"
            resultMap="BaseResultMap">
        select hcl.* from hls_credit_line hcl
        where
        1=1
        <if test="sourceDocumentCategory != null">
            and hcl.source_document_category = #{sourceDocumentCategory}
        </if>
        <if test="sourceDocumentId != null">
            and hcl.source_document_id = #{sourceDocumentId}
        </if>
        <if test="companyId!=null">
            and hcl.company_id =#{companyId}
        </if>
    </select>

    <select id="selectCreditLineStatusInfo" resultMap="BaseResultMap"
            parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLine">
        select
        hcl.credit_line_status,
        (
        select scvb.MEANING
        from sys_code_b scb, sys_code_value_b scvb
        where scvb.CODE_ID = scb.CODE_ID
        and scb.code = 'CON.CONTRACT_PROCESS_STATUS'
        and scvb.value = hcl.credit_line_status
        ) as credit_line_status_value,
        count(credit_line_id) as credit_line_count,
        round(count(credit_line_id)/(select count(credit_line_id) from hls_credit_line
        <where>
            1=1
            and business_type='CREDIT_LINE'
            <if test="beginDate!=null">
                and valid_from &gt;= #{beginDate}
            </if>
            <if test="endDate!=null">
                and valid_to &lt;= #{endDate}
            </if>
            <if test="companyId!=null">
                and company_id =#{companyId}
            </if>
        </where>
        ),2)*100 as credit_line_count_percent
        from hls_credit_line hcl
        <where>
            1=1
            and hcl.business_type='CREDIT_LINE'
            <if test="beginDate!=null">
                and valid_from &gt;= #{beginDate}
            </if>
            <if test="endDate!=null">
                and valid_to &lt;= #{endDate}
            </if>
            <if test="companyId!=null">
                and hcl.company_id =#{companyId}
            </if>
        </where>
        group by hcl.credit_line_status
    </select>
    <!--综合授信信息查询-->
    <select id="selectCreditLineInfo" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLine"
            resultMap="BaseResultMap">
        select tab.*
        from
        (
        select hcl.credit_line_id,
        hcl.credit_line_number,
        hcl.credit_line_name,
        hcl.bp_id,
        hcl.company_id,
        hcl.document_type,
        hcl.document_category,
        hcl.proposer_user_id,
        hcl.proposer_employee_assign_id,
        hcl.proposer_employee_id,
        hcl.business_type,
        hcl.source_document_category,
        hcl.source_document_id,
        hcl.credit_line_status,
        hcl.currency_code,
        hcl.credit_line_amt,
        hcl.term,
        hcl.cancel_flag,
        hcl.source_credit_line_id,
        hcl.project_assistant_assigns_id,
        hcl.project_assistant,
        to_date(hcl.VALID_FROM,'YYYY-MM-DD')VALID_FROM,
        to_date(hcl.VALID_TO,'YYYY-MM-DD')VALID_TO,
        fe.NAME as project_assistant_name,
        HLS_CREDUT_LINE_CALC.credit_Used_Amt_clac(hcl.bp_id)creditUsedAmt,
        HLS_CREDUT_LINE_CALC.credit_Exposure_Amt(hcl.bp_id)credit_exposure_amt,
        HLS_CREDUT_LINE_CALC.credit_preemption_Amt(hcl.bp_id)credit_preemption_amt,
        (
        select hbm.bp_name
        from hls_bp_master hbm
        where hcl.bp_id=hbm.bp_id
        )as credit_obj_name,
        (
        select hbm.bp_name
        from hls_bp_master hbm
        where hcl.bp_id=hbm.bp_id
        )as bp_name,
        /*nvl((select sum(fp.credit_amount) from fct_project fp
        where fp.credit_line_id=hcl.credit_line_id),0) as credit_used_amt,*/
        (
        select hds.description
        from hls_document_status hds
        where hds.status_code=hcl.credit_line_status
        and hds.document_category=hcl.document_category
        )as credit_line_status_desc,
        (
        select hdt.description
        from hls_document_type hdt
        where hdt.document_type=hcl.document_type
        and hdt.document_category=hcl.document_category
        and hdt.business_type=hcl.business_type
        )as document_desc
        from
        hls_credit_line hcl join fnd_employee fe on fe.EMPLOYEE_ID=hcl.PROJECT_ASSISTANT
        order by hcl.credit_line_id desc
        )tab
        <where>
            and tab.document_category='HLS_CREDIT_LINE'
            and tab.business_type='CREDIT_LINE'
            and tab.company_id =#{request.companyId}
            and ((sysdate between tab.VALID_FROM and tab.VALID_TO AND tab.credit_line_status
            ='APPROVED')or(tab.VALID_FROM is null and tab.credit_line_status in('NEW','APPROVED_RETURN')))
            and (#{request.employeeCode}='ADMIN' or (((select fe.employee_id from fnd_employee fe where
            fe.employee_code=#{request.employeeCode} and fe.enabled_flag='Y' and fe.company_id=#{request.companyId}) in
            (tab.PROJECT_ASSISTANT,tab.PROPOSER_EMPLOYEE_ID)) or(exists (select 1 from hls_bp_master_role
            a,hls_credit_line b where a.bp_type='GROUP' and a.bp_id=b.bp_id and b.CREDIT_LINE_ID=tab.CREDIT_LINE_ID))))

            <if test="fctCreditLineStatus!=null">
                and credit_line_status in ('APPROVED','NEW','APPROVED_RETURN')
            </if>
            <if test="businessType!=null">
                and business_type = #{businessType}
            </if>
            <if test="creditLineStatus!=null">
                and credit_line_status = #{creditLineStatus}
            </if>
            <if test="creditObjectName!=null">
                and credit_obj_name LIKE concat(concat('%',#{creditObjectName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="creditLineName!=null">
                and tab.credit_line_name LIKE concat(concat('%',#{creditLineName}),'%')
            </if>
            <if test="creditLineNumber!=null">
                and tab.credit_line_number LIKE concat(concat('%',#{creditLineNumber}),'%')
            </if>
            <if test="beginDate!=null">
                and valid_from &gt;= #{beginDate}
            </if>
            <if test="endDate!=null">
                and valid_to &lt;= #{endDate}
            </if>
            <if test="limitFrom!=null">
                and credit_line_amt &gt;= #{limitFrom}
            </if>
            <if test="limitTo!=null">
                and credit_line_amt &lt;= #{limitTo}
            </if>
        </where>
    </select>

    <select id="creditLineDetailQuery" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLine"
            resultMap="BaseResultMap">
        select
        (
        select hbt.description
        from hls_bp_master_role hbmr,
        hls_bp_type hbt
        where hbmr.bp_type=hbt.bp_type
        and hbmr.bp_id=hcl.bp_id
        and HBMR.CREATION_DATE &lt;= (select min(a.CREATION_DATE) from hls_bp_master_role a where a.BP_ID=HCL.BP_ID )
        and rownum=1
        )as bp_type,
        HLS_CREDUT_LINE_CALC.credit_Used_Amt_clac(hcl.bp_id)credit_used_amount,
        HLS_CREDUT_LINE_CALC.credit_Exposure_Amt(hcl.bp_id)credit_exposure_amt,
        HLS_CREDUT_LINE_CALC.credit_preemption_Amt(hcl.bp_id)credit_preemption_amt,
        (
        select fe.name
        from fnd_employee fe
        where
        fe.employee_id=hcl.proposer_employee_id
        )as project_manager,
        (
        select fe.name
        from fnd_employee fe
        where
        fe.employee_id=hcl.project_assistant
        )as project_assistant_name,
        (
        select fe.name
        from fnd_employee fe
        where
        fe.employee_id=hcl.project_assistant
        )as project_assistant_n,
        (
        select hbm.bp_code
        from hls_bp_master hbm
        where hbm.bp_id=hcl.bp_id
        )as client_code,
        (
        select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id=hcl.bp_id
        )as client_name,
        (
        select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id=hcl.bp_id
        )as bp_id_n,
        (
        select fou.unit_name
        from fnd_org_unit fou,
        fnd_employee_assigns fea
        where fea.employee_assign_id=hcl.proposer_employee_assign_id
        and fou.unit_id=fea.unit_id
        )as unitName,
        (
        select wm_concat(d.name)
        from
        fnd_employee_assigns a1,
        fnd_employee_assigns a2,
        fnd_org_unit b,
        fnd_employee d
        where a1.employee_assign_id = hcl.proposer_employee_assign_id
        and a1.unit_id = b.unit_id
        and b.chief_position_id = a2.position_id
        and a2.employee_id = d.employee_id
        and a1.COMPANY_ID = a2.COMPANY_ID
        and a2.ENABLED_FLAG = 'Y'
        )as manager_name,
        (
        select fc.company_full_name
        from fnd_company fc
        where fc.company_id=hcl.company_id
        )as company_name,
        (
        select fc.currency_name
        from fnd_currency fc
        where fc.currency_code=hcl.currency_code
        )as currency_name,
        (
        select fc.currency_name
        from fnd_currency fc
        where fc.currency_code=hcl.currency_code
        )as currency_code_n,
        (
        select hdt.description
        from hls_document_type hdt
        where hdt.document_type=hcl.document_type
        and hdt.document_category=hcl.document_category
        and hdt.business_type=hcl.business_type
        )as document_desc,
        (
        select hdt.description
        from hls_document_type hdt
        where hdt.document_type=hcl.document_type
        and hdt.document_category=hcl.document_category
        and hdt.business_type=hcl.business_type
        )as document_type_n,
        (
        select scvb.meaning
        from sys_code_b scb,sys_code_value_b scvb
        where scvb.value=hcl.credit_line_status
        and scb.code='CAP.APPROVE_STATUS'
        and scvb.code_id=scb.code_id
        ) as credit_line_status_desc,
        hcl.credit_line_name credit_line_name_n,
        hcl.*
        from hls_credit_line hcl
        <where>
            1=1
            <if test="creditLineId!=null">
                and hcl.credit_line_id = #{creditLineId}
            </if>
            <!--<if test="companyId!=null">-->
            <!--and hcl.company_id =#{companyId}-->
            <!--</if>-->
        </where>


    </select>

    <update id="updateCreditLine">
        UPDATE hls_credit_line hcl SET
        hcl.credit_line_status = 'APPROVED',
        hcl.LAST_UPDATED_BY =#{userId},
        hcl.LAST_UPDATE_DATE = #{date}
        WHERE
        hcl.source_document_category = #{sourceDocumentCategory}
        AND hcl.source_document_id = #{sourceDocumentId}
    </update>


    <select id="hlsCreditLineQueryByDocumentType" resultMap="BaseResultMap">
        select hcl.*
        from hls_credit_line hcl
    </select>


    <select id="hlsCreditQuery" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLine" resultMap="BaseResultMap">
        select
            hcl.*,
            hbm.bp_name,
            hds.description as credit_line_status_value
            from
            hls_credit_line hcl,
            hls_bp_master hbm,
            hls_document_status hds
            where
            hcl.bp_id = hbm.bp_id
            and  hds.status_code=hcl.credit_line_status
            and hds.document_category='HLS_CREDIT_LINE'
            and hcl.credit_line_id = #{creditLineId}
    </select>

    <select id="hlsCreditBpQuery" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLine" resultMap="BaseResultMap">
        SELECT
            hbm.bp_name,
            hbm.bp_code,
            hbt.description as bp_description,
            hcl.credit_line_amt,
            hcl.credit_exposure_amt
        FROM
            hls_credit_line hcl,
            hls_bp_master hbm,
            hls_bp_master_role hbmr,
            hls_bp_type hbt
        WHERE
            hbt.bp_type = hbmr.bp_type
        AND hbm.bp_id = hbmr.bp_id
        AND hcl.bp_id = hbm.bp_id
        AND hcl.bp_id = #{bpId}
        AND hbt.bp_type = 'GUARANTOR'
    </select>

    <select id="hlsCreditContractQuery" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLine" resultMap="BaseResultMap">
        select
        fc.*,
        hcl.valid_from,
        hcl.valid_to,
        (
        select fcq.finance_amount
        from fct_contract_quotation fcq
        where fcq.contract_id=fc.contract_id
        )as credit_exposure_amt,
        (
        select sum(fcw.withdraw_amount)
        from fct_contract_withdraw fcw
        where fcw.contract_id=fc.contract_id
        )as credit_used_amt
        from fct_contract fc,
        hls_credit_line hcl
        where fc.credit_line_id=hcl.credit_line_id
        <if test="creditLineId!=null">
            and fc.credit_line_id=#{creditLineId}
        </if>
    </select>
    <select id="updateCreditlineInfo" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLine" resultMap="BaseResultMap">
        UPDATE hls_credit_line hcl
        SET hcl.document_type=#{documentType},
        hcl.credit_line_amt =#{creditLineAmt},
        hcl.valid_from =#{validFrom},
        hcl.valid_to =#{validTo},
        hcl.description =#{description},
        hcl.credit_line_status=#{creditLineStatus}
        WHERE
	    hcl.credit_line_id =#{creditLineId}

    </select>

    <select id="creditLineIntegratedQuery" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLine"
            resultMap="BaseResultMap">
        select tab.*
        from
        (
        select hcl.*,
        (
        select hbm.bp_name
        from hls_bp_master hbm
        where hcl.bp_id=hbm.bp_id
        )as credit_obj_name,
        (
        select hds.description
        from hls_document_status hds
        where hds.status_code=hcl.credit_line_status
        and hds.document_category=hcl.document_category
        )as credit_line_status_desc
        from
        hls_credit_line hcl
        order by hcl.credit_line_id desc
        )tab
        <where>
            and tab.business_type='credit_line'
            <if test="companyId!=null">
                and tab.company_id =#{companyId}
            </if>
            <if test="creditStatusParam != null">
                AND tab.credit_line_status IN
                <foreach item="item" index="index" collection="creditStatusParam" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="documentTypeParam != null">
                AND tab.document_type IN
                <foreach item="item" index="index" collection="documentTypeParam" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>

    </select>


    <select id="FctCreditLineHomeChart" parameterType="com.hand.hls.fct.dto.HlsCusHlsCreditLine" resultMap="BaseResultMap">
        SELECT
            hcl.credit_line_status,
            (
                SELECT
                    HDS.DESCRIPTION
                FROM
                    HLS_DOCUMENT_STATUS hds
                WHERE
                    HDS.DOCUMENT_CATEGORY = 'HLS_CREDIT_LINE'
                AND HDS.STATUS_CODE = HCL.CREDIT_LINE_STATUS
            ) AS credit_line_status_value,
            COUNT (credit_line_id) AS credit_line_count,
            ROUND (
                COUNT (credit_line_id) / (
                    SELECT
                        COUNT (credit_line_id)
                    FROM
                        hls_credit_line
                    WHERE
                        1 = 1
                    AND BUSINESS_TYPE = 'CREDIT_LINE'
                    AND company_id = #{request.companyId}
                ),
                2
            ) * 100 AS credit_line_count_percent
        FROM
            hls_credit_line hcl
        WHERE
            1 = 1
        AND hcl.BUSINESS_TYPE = 'CREDIT_LINE'
        AND company_id = #{request.companyId}
        GROUP BY
            hcl.credit_line_status
    </select>
    <select id="selectHlsCreditByBpId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
       hcl.* from  hls_credit_line hcl
        WHERE
      hcl.bp_id=#{bpId} and hcl.credit_line_id !=(SELECT  max(hcl.credit_line_id) from  hls_credit_line hcl  WHERE hcl.bp_id=#{bpId})
    </select>
    <select id="selectHlsCreditApplyAmountByBpId" parameterType="java.lang.Double" resultType="java.lang.Double">
      select nvl(sum(nvl(ch.amount, 0)), 0)
  from csh_payment_req_hd ch
 where ch.source_doc_id in
       (select fc.contract_id
          from fct_contract fc
         where fc.project_id in
               (select t.project_id
                  from fct_project t
                 where t.credit_bp_id in
                       (select hr.bp_id
                          from hls_bp_master_relation hr
                         where hr.relation_bp_id = #{bpId} and 'Y'= #{groupFlag} union select #{bpId} bp_id from dual)))
   and ch.payment_req_status in ('APPROVED', 'APPROVING')

    </select>
    <select id="selectHlsCreditWriteOffAmountByBpId" parameterType="java.lang.Double" resultType="java.lang.Double">
       select nvl(sum(nvl(fqc.write_off_amount, 0)), 0)
  from fct_quotation_cashflow fqc
 where fqc.contract_id in
       (select fc.contract_id
          from fct_contract fc
         where fc.project_id in
               (select t.project_id
                  from fct_project t
                 where t.credit_bp_id in
                       (select hr.bp_id
                          from hls_bp_master_relation hr
                         where hr.relation_bp_id = #{bpId} and 'Y'= #{groupFlag} union select #{bpId} bp_id from dual))) and fqc.cf_item=54

    </select>
    <select id="selectHlsCreditPreemptionAmtByBpId" parameterType="java.lang.Double" resultType="java.lang.Double">
        select nvl(sum(nvl(fpq.finance_amount, 0)), 0) from fct_project_quotation fpq where  fpq.project_id in (select t.project_id
                  from fct_project t
                 where t.credit_bp_id in
                       (select hr.bp_id
                          from hls_bp_master_relation hr
                         where hr.relation_bp_id = #{bpId} and 'Y'= #{groupFlag} union select #{bpId} bp_id from dual))

    </select>

    <update id="updateWithdrawBalance" >
        update
            hls_credit_line hcl
        set
            hcl.withdraw_balance= nvl(
                                       (
                                       select
                                           round(sum((lcp.planned_due_amount-nvl(lcp.due_amount,0))*ifnull
                                           (lcw.exchange_rate,1)),2)
                                       from
                                           lon_contract lc
                                       join
                                           lon_contract_withdraw lcw
                                       on
                                           lcw.contract_id=lc.contract_id
                                       and lcw.withdraw_status IN ('APPROVED','PENDING')
                                       and lcw.data_class='NORMAL'
                                       join
                                           lon_contract_repayment lcp
                                       on
                                           lcp.withdraw_id=lcw.withdraw_id
                                       and lcp.cf_item=301
                                       where
                                           lc.rele_credit_flag='Y'
                                       and hcl.credit_line_id=lc.credit_line_id),0)
                                  +
                                      nvl( (select
                                            capss.subscribe_amount-nvl(cpe.al_release_amount,0)
                                          from
                                              ct_abs_product_subscribe capss
                                           left join
                                                (
                                                    select
                                                        r.subscribe_id,
                                                        sum(r.release_amount) al_release_amount
                                                    from
                                                        ct_abs_product_release r
                                                    where
                                                        r.release_status='CONFIRM'
                                                    group by
                                                        r.subscribe_id ) cpe
                                            on
                                                cpe.subscribe_id=capss.subscribe_id
                                          where capss.rele_credit_flag='Y'
                                          and hcl.credit_line_id=capss.credit_line_id
                                          and capss.subscribe_status='CONFIRM'),0)
        where
            hcl.credit_line_id=#{creditLineId}
        and nvl(hcl.cancel_flag,'N')='N'
    </update>

    <update id="updateCreditExposureAmt">
        update
            hls_credit_line hcl
        set
            hcl.credit_exposure_amt=(
                case
                    when hcl.document_type='REVOLVING'
                    then  nvl(hcl.withdraw_balance,0)
                    else nvl(
                            (
                            select
                                sum(round(nvl(lcw.due_amount,0)*nvl(lcw.exchange_rate,1),2))
                            from
                                lon_contract_withdraw lcw
                            join
                                lon_contract lc
                            on
                                lc.contract_id=lcw.contract_id
                            where
                                lcw.withdraw_status in ('APPROVED',
                                                        'PENDING')
                            and lcw.data_class= 'NORMAL'
                            and lc.rele_credit_flag='Y'
                            and lc.credit_line_id=hcl.credit_line_id) ,0)
                end )
        where
            hcl.credit_line_id=#{creditLineId}
        and nvl(hcl.cancel_flag,'N')='N'
    </update>
</mapper>
