<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCusFctProjectMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCusFctProject">
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="chance_id" property="chanceId" jdbcType="DECIMAL"/>
        <result column="data_class" property="dataClass" jdbcType="VARCHAR"/>
        <result column="data_type" property="dataType" jdbcType="VARCHAR"/>
        <result column="ref_project_id" property="refProjectId" jdbcType="DECIMAL"/>
        <result column="change_req_id" property="changeReqId" jdbcType="DECIMAL"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="document_style" property="documentStyle" jdbcType="VARCHAR"/>
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="approval_number" property="approvalNumber" jdbcType="VARCHAR"/>
        <result column="project_status" property="projectStatus" jdbcType="VARCHAR"/>
        <result column="meeting_status" property="meetingStatus" jdbcType="VARCHAR"/>
        <result column="employee_assign_id" property="employeeAssignId" jdbcType="DECIMAL"/>
        <result column="employee_id" property="employeeId" jdbcType="DECIMAL"/>
        <result column="unit_id" property="unitId" jdbcType="DECIMAL"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="authority_rule_string" property="authorityRuleString" jdbcType="VARCHAR"/>
        <result column="contract_status" property="contractStatus" jdbcType="VARCHAR"/>
        <result column="account_status" property="accountStatus" jdbcType="VARCHAR"/>
        <result column="account_update_date" property="accountUpdateDate" jdbcType="DATE"/>
        <result column="account_update_reason" property="accountUpdateReason" jdbcType="VARCHAR"/>
        <result column="credit_status" property="creditStatus" jdbcType="VARCHAR"/>
        <result column="project_assistant" property="projectAssistant" jdbcType="DECIMAL"/>
        <result column="fund_restream_method" property="fundRestreamMethod" jdbcType="VARCHAR"/>
        <result column="credit_type" property="creditType" jdbcType="VARCHAR"/>
        <result column="credit_amount" property="creditAmount" jdbcType="DECIMAL"/>
        <result column="approval_amount" property="approvalAmount" jdbcType="DECIMAL"/>
        <result column="credit_plan" property="creditPlan" jdbcType="VARCHAR"/>
        <result column="credit_available_amt" property="creditAvailableAmt" jdbcType="DECIMAL"/>
        <result column="credit_line_id" property="creditLineId" jdbcType="DECIMAL"/>

        <result column="credit_exposure_amt" property="creditExposureAmt" jdbcType="DECIMAL"/>
        <result column="credit_exposure_amount" property="creditExposureAmount" jdbcType="DECIMAL"/>
        <result column="credit_write_off_amt" property="creditWriteOffAmt" jdbcType="DECIMAL"/>
        <result column="credit_type" property="creditType" jdbcType="VARCHAR"/>
        <result column="post_loan_ins_frequency" property="postLoanInsFrequency" jdbcType="VARCHAR"/>
        <result column="fct_loan_account_id" property="fctLoanAccountId" jdbcType="DECIMAL"/>
        <result column="fct_payment_account_id" property="fctPaymentAccountId" jdbcType="DECIMAL"/>
        <result column="prj_adv_development_pro" property="prjAdvDevelopmentPro" jdbcType="VARCHAR"/>
        <result column="app_usage_flow_direction" property="appUsageFlowDirection" jdbcType="VARCHAR"/>
        <result column="rep_source_future_cf_analysis" property="repSourceFutureCfAnalysis" jdbcType="VARCHAR"/>
        <result column="repay_guarantee_amount" property="repayGuaranteeAmount" jdbcType="DECIMAL"/>
        <result column="repay_guarantee_type" property="repayGuaranteeType" jdbcType="VARCHAR"/>
        <result column="repay_guarantee_type_desc" property="repayGuaranteeTypeDesc" jdbcType="VARCHAR"/>
        <result column="repay_guarantee_date" property="repayGuaranteeDate" jdbcType="DATE"/>
        <result column="other_information" property="otherInformation" jdbcType="VARCHAR"/>
        <result column="CREATE_CONTRACT_STATUS" property="createContractStatus" jdbcType="VARCHAR"/>
        <result column="SIGN_DESCRIPTION" property="signDescription" jdbcType="VARCHAR"/>
        <result column="SIGN_DATE" property="signDate" jdbcType="DATE"/>



        <result column="project_assistant_assigns_id" property="projectAssistantAssignsId" jdbcType="VARCHAR"/>

        <result column="prj_status_value" property="prjStatusValue" jdbcType="VARCHAR"/>
        <result column="prj_count_percent" property="prjCountPercent" jdbcType="VARCHAR"/>
        <result column="prj_count" property="prjCount" jdbcType="VARCHAR"/>
        <result column="projectSumCount" property="projectSumCount"/>
        <result column="currentMonthAppend" property="currentMonthAppend"/>

        <result column="credit_status_desc" property="creditStatusDesc" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
        <result column="project_manager" property="projectManager" jdbcType="VARCHAR"/>
        <result column="manager_name" property="managerName" jdbcType="VARCHAR"/>
        <result column="bp_code" property="bpCode" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="document_type_desc" property="documentTypeDesc" jdbcType="VARCHAR"/>
        <result column="project_status_desc" property="projectStatusDesc" jdbcType="VARCHAR"/>
        <result column="business_type_desc" property="businessTypeDesc" jdbcType="VARCHAR"/>
        <result column="fund_restream_method_desc" property="fundRestreamMethodDesc" jdbcType="VARCHAR"/>
        <result column="document_category_desc" property="documentCategoryDesc" jdbcType="VARCHAR"/>
        <result column="currency_name" property="currencyName" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="project_assistant_name" property="projectAssistantName" jdbcType="VARCHAR"/>
        <result column="finance_amount" property="financeAmount" jdbcType="DECIMAL"/>

        <result column="trx_amount_date" property="trxAmountDate" jdbcType="DATE"/>
        <result column="latest_use_date_exist" property="latestUseDateExist" jdbcType="VARCHAR"/>
        <result column="latest_use_date" property="latestUseDate" jdbcType="DATE"/>

        <result column="position_id" property="positionId" jdbcType="DECIMAL"/>

        <result column="fct_loan_account" property="fctLoanAccount" jdbcType="VARCHAR"/>
        <result column="fct_loan_account_number" property="fctLoanAccountNumber" jdbcType="VARCHAR"/>
        <result column="fct_payment_account" property="fctPaymentAccount" jdbcType="VARCHAR"/>
        <result column="fct_payment_account_number" property="fctPaymentAccountNumber" jdbcType="VARCHAR"/>
        <result column="payment_req_amount" property="paymentReqAmount" jdbcType="DECIMAL"/>

        <result column="trx_ar_amount" property="trxArAmount" jdbcType="DECIMAL"/>

        <result column="buy_back_date" property="buyBackDate" jdbcType="DATE"/>
        <result column="add_down_int_rate" property="addDownIntRate" jdbcType="DECIMAL"/>
        <result column="buy_back_rate" property="buyBackRate" jdbcType="DECIMAL"/>
        <result column="quotation_id" property="quotationId" jdbcType="DECIMAL"/>
        <result column="quotation_id_new" property="quotationIdNew" jdbcType="DECIMAL"/>

        <result column="cancel_date" property="cancelDate" jdbcType="DATE"/>
        <result column="cancel_reason" property="cancelReason" jdbcType="VARCHAR"/>
        <result column="cancel_person" property="cancelPerson" jdbcType="DECIMAL"/>
        <result column="cancel_status" property="cancelStatus" jdbcType="DECIMAL"/>
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>

        <result column="meeting_vote_result" property="meetingVoteResult" jdbcType="VARCHAR"/>
        <result column="project_trx_status" property="projectTrxStatus" jdbcType="VARCHAR"/>
<!--        <result column="change_history" property="changeHistory" jdbcType="VARCHAR"/>-->

        <result column="credit_condition" property="creditCondition" jdbcType="VARCHAR" />
        <result column="payment_condition" property="paymentCondition" jdbcType="VARCHAR" />
        <result column="manage_condition" property="manageCondition" jdbcType="VARCHAR" />
        <result column="cancel_person_name" property="cancelPersonName" jdbcType="VARCHAR"/>

        <result column="credit_type_desc" property="creditTypeDesc" jdbcType="VARCHAR"/>
        <result column="post_loan_ins_frequency_desc" property="postLoanInsFrequencyDesc" jdbcType="VARCHAR"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>

        <result column="five_classification_result" property="fiveClassificationResult" jdbcType="VARCHAR"/>

        <result column="mother_source" property="motherSource" jdbcType="VARCHAR"/>
        <result column="other_source" property="otherSource" jdbcType="VARCHAR"/>
        <result column="compensation_discount" property="compensationDiscount" jdbcType="DECIMAL"/>
        <result column="rate_valid_to" property="rateValidTo" jdbcType="VARCHAR"/>
        <result column="days" property="days" jdbcType="DECIMAL"/>
        <result column="amount_paid" property="amountPaid" jdbcType="DECIMAL"/>
        <result column="amount_rest" property="amountRest" jdbcType="DECIMAL"/>
        <result column="legal_form" property="legalForm" jdbcType="VARCHAR"/>
        <result column="apply_pay_date" property="applyPayDate" jdbcType="VARCHAR"/>
        <result column="year" property="year" jdbcType="VARCHAR"/>
        <result column="seq_num" property="seqNum" jdbcType="DECIMAL"/>

        <result column="is_pool_factor" property="isPoolFactor" jdbcType="VARCHAR"/>
        <result column="host_ratio" property="hostRatio" jdbcType="VARCHAR"/>
        <result column="assistant_ratio" property="assistantRatio" jdbcType="VARCHAR"/>
        <result column="factoring_number" property="factoringNumber" jdbcType="VARCHAR"/>
        <result column="credit_bp_id" property="creditBpId"/>
        <result column="contract_status_desc" property="contractStatusDesc"/>
        <result column="is_pool_factor" property="isPoolFactor" jdbcType="VARCHAR"/>

        <result column="GUARANTOR_SUM" property="guarantorSum" jdbcType="DECIMAL"/>
        <result column="PLEDGOR_SUM" property="pledgorSum" jdbcType="DECIMAL"/>
        <result column="MORTGAGOR_SUM" property="mortgagorSum" jdbcType="DECIMAL"/>
        <result column="touch_created_date" property="touchCreatedDate" jdbcType="VARCHAR"/>
        <result column="touch_contract_status" property="touchContractStatus" jdbcType="VARCHAR"/>
        <result column="wfl_flag" property="wflFlag" jdbcType="VARCHAR"/>
        <result column="wfl_flag_p" property="wflFlagP" jdbcType="VARCHAR"/>
        <result column="document_style_desc" property="documentStyleDesc" jdbcType="VARCHAR"/>

        <!--判断能否进行项目变更字段-->
        <result column="change_count" property="changeCount" jdbcType="VARCHAR"/>
        <result column="project_ref_count" property="projectRefCount" jdbcType="VARCHAR"/>
        <result column="change_req_date" property="changeReqDate" jdbcType="DATE"/>
        <result column="change_description" property="changeDescription" jdbcType="VARCHAR"/>
        <result column="project_assistant_name_n" property="projectAssistantNameN" jdbcType="VARCHAR"/>
        <result column="proposer_employee_name" property="proposerEmployeeName" jdbcType="VARCHAR"/>
        <result column="proposer_employee_part" property="proposerEmployeePart" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectManagerByUnitId" parameterType="com.hand.hls.fct.dto.HlsCusFctProject" resultMap="BaseResultMap">
        SELECT
        fou.unit_name,
        fou.unit_name as proposer_employee_part,


        (
        SELECT
        fc.company_full_name
        FROM
        fnd_company fc
        WHERE
        fc.company_id = fou.company_id
        ) AS company_name,
        (
        SELECT
        d. NAME
        FROM
        fnd_employee d
        WHERE
        1=1
        <if test="employeeId!=null">
            and d.employee_id=#{employeeId}
        </if>
        ) project_manager,
        (
        SELECT
        d. NAME
        FROM
        fnd_employee d
        WHERE
        1=1
        <if test="employeeId!=null">
            and d.employee_id=#{employeeId}
        </if>
        ) proposer_employee_name,
        (
        SELECT
        a.employee_assign_id
        FROM
        fnd_employee_assigns a
        WHERE
        1=1
        <if test="employeeId!=null">
            and a.employee_id=#{employeeId}
        </if>
        <if test="unitId!=null">
            and a.unit_id=#{unitId}
        </if>
        <if test="companyId!=null">
            and a.company_id=#{companyId}
        </if>
        <if test="positionId!=null">
            and a.position_id=#{positionId}
        </if>
        ) AS employee_assign_id

        FROM
        fnd_org_unit fou
        WHERE
        1=1
        <if test="unitId!=null">
            and fou.unit_id=#{unitId}
        </if>

        <if test="companyId!=null">
            and fou.company_id=#{companyId}
        </if>
    </select>

</mapper>
