<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fct.mapper.HlsCreditLineChanceConditionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fct.dto.HlsCreditLineChanceCondition">
        <result column="CONDITION_ID" property="conditionId" jdbcType="DECIMAL" />
        <result column="CHANCE_ID" property="chanceId" jdbcType="DECIMAL" />
        <result column="CONTENT" property="content" jdbcType="VARCHAR" />
        <result column="stage" property="stage" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAll" resultType="com.hand.hls.fct.dto.HlsCreditLineChanceCondition">

        select cc.content from hls_credit_line_chance_condition cc
    </select>

    <select id="findFactoringCondition" resultMap="BaseResultMap">
        SELECT
            cc.chance_id,
            cc.condition_id,
            cc.content
        FROM
            hls_credit_line_chance_condition cc
        <where>
            cc.stage = #{stage} and
            cc.chance_id = #{chanceId}
        </where>
    </select>
    <select id="findFactoringConditionAfter" resultMap="BaseResultMap">
        SELECT
            cc.chance_id,
            cc.condition_id,
            cc.content
        FROM
            hls_credit_line_chance_condition cc
        <where>
            cc.stage = 2 and
            cc.chance_id = #{chanceId}
        </where>
    </select>




</mapper>