<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hn.mapper.PrjCheckProjectScheduleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hn.dto.PrjCheckProjectSchedule">
        <result column="PROJECT_SCHEDULE_ID" property="projectScheduleId" jdbcType="DECIMAL" />
        <result column="CHECK_ID" property="checkId" jdbcType="DECIMAL" />
        <result column="PROJECT_DESC" property="projectDesc" jdbcType="VARCHAR" />
        <result column="PROJECT_DESC_N" property="projectDescN" jdbcType="VARCHAR" />
        <result column="PLAN_PUT_MONEY" property="planPutMoney" jdbcType="VARCHAR" />
        <result column="PUT_MONEY" property="putMoney" jdbcType="VARCHAR" />
        <result column="PUT_SCHEDULE" property="putSchedule" jdbcType="DATE" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />




    </resultMap>


    <select id="queryList" parameterType="com.hand.hls.hn.dto.PrjCheckProjectSchedule" resultMap="BaseResultMap">
        select
        PROJECT_SCHEDULE_ID,
        CHECK_ID,
        PROJECT_DESC,
        (
        SELECT
        scvb.meaning AS value_name
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scb.CODE = 'PROJECT_DESC_TYPE'
        AND scb.code_id = scvb.code_id
        AND scvb.enabled_flag = 'Y'
        AND scvb.VALUE= PROJECT_DESC
        ) PROJECT_DESC_N,
        PLAN_PUT_MONEY,
        PUT_MONEY,
        PUT_SCHEDULE,
        REMARK
         from

        prj_check_project_schedule
        <where>
            1=1

            <if test="checkId!=null">
                and CHECK_ID = #{checkId}
            </if>
        </where>
    </select>


</mapper>