<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hn.mapper.PrjCheckSubjectChangeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hn.dto.PrjCheckSubjectChange">
        <result column="subject_change_id" property="subjectChangeId" jdbcType="DECIMAL" />
        <result column="check_id" property="checkId" jdbcType="DECIMAL" />
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
        <result column="bp_name" property="bpName" jdbcType="VARCHAR" />
        <result column="bp_risk_warn" property="bpRiskWarn" jdbcType="VARCHAR" />
        <result column="GUARANTOR" property="guarantor" jdbcType="VARCHAR" />
        <result column="guarantor_risk_warn" property="guarantorRiskWarn" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="bp_id" property="bpId" jdbcType="DECIMAL" />
        <result column="project_id" property="projectId" jdbcType="DECIMAL" />
    </resultMap>
    <select id="queryList" parameterType="com.hand.hls.hn.dto.PrjCheckSubjectChange" resultMap="BaseResultMap">
    select * from
			(SELECT
        (select pcc.subject_change_id
        from PRJ_CHECK_SUBJECT_CHANGE pcc
        where pcc.CHECK_ID = #{checkId}) subject_change_id,
        (select pcc.remark
        from PRJ_CHECK_SUBJECT_CHANGE pcc
        where pcc.CHECK_ID = #{checkId}) remark,
        p.check_id,
        c.project_id,
        c.tenant_id bp_id,

        CASE
        WHEN c.BUSINESS_TYPE in('T+N_LEASE_FACTORING','T+0_LEASE_FACTORING') THEN
        ( SELECT wm_concat(b.bp_name)
        FROM hls_bp_master b ,prj_project_bp hclcb
        WHERE c.PROJECT_ID = hclcb.PROJECT_ID
        and b.bp_id = hclcb.bp_id
        and hclcb.bp_type = 'RECEIVABLE_DEBTOR'
        )
        WHEN c.BUSINESS_TYPE in('LEASE_WITHOUT_RECOURSE_IN','OPERATING_LEASE_WITHOUT_RECOURSE_IN') THEN
        ( SELECT wm_concat(b.bp_name)
        FROM hls_bp_master b ,prj_project_bp hclcb
        WHERE c.PROJECT_ID = hclcb.PROJECT_ID
        and b.bp_id = hclcb.bp_id
        and hclcb.bp_type = 'ASSET_TRANSFEROR'
        )
        ELSE
        ( SELECT wm_concat(b.bp_name)
        FROM hls_bp_master b ,prj_project_bp hclcb
        WHERE c.PROJECT_ID = hclcb.PROJECT_ID
        and b.bp_id = hclcb.bp_id
        and hclcb.bp_type = 'TENANT'
        )
        END AS bp_name,

        c.contract_number,

        (SELECT hbm.bp_name
        FROM prj_project_bp t1, hls_bp_master hbm
        WHERE t1.bp_id = hbm.BP_ID AND t1.project_id=c.project_id
        and t1.bp_type = 'WARRANTOR'
        and rownum=1
        ) GUARANTOR,
        p.check_number
        FROM
        prj_check p,
        prj_project c
        WHERE
        p.contract_id = c.project_id) t
        <where>
            1=1
            <if test="checkId!=null">
                and t.CHECK_ID = #{checkId}
            </if>
            <if test="contractNumber!=null">
                and t.contract_number = #{contractNumber}
            </if>
        </where>

    </select>

    <!--页面显示-->
    <select id="queryListPrjCheckSubjectChange" parameterType="com.hand.hls.hn.dto.PrjCheckSubjectChange" resultMap="BaseResultMap">
        select
        pcsc.subject_change_id,
        pcsc.check_id,
        pcsc.contract_number,
        pcsc.bp_name,
        gua_bp.bp_name as guarantor,
        pcsc.remark,
        pp.project_id
        from prj_check_subject_change pcsc
        left join prj_check pc on pcsc.check_id = pc.check_id
        left join prj_project pp on pc.contract_id = pp.project_id
        left join (select ppb.project_id,wm_concat(hbm.bp_name) as bp_name from prj_project_bp ppb ,hls_bp_master hbm where ppb.bp_id = hbm.bp_id and ppb.bp_type = 'WARRANTOR' group by ppb.project_id) gua_bp on gua_bp.project_id = pp.project_id
        <where>
            1=1
                and pcsc.CHECK_ID = #{checkId}
        </where>

    </select>

</mapper>