<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hn.mapper.PrjCheckProjectSituationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hn.dto.PrjCheckProjectSituation">
        <result column="project_situation_id" property="projectSituationId" jdbcType="BIGINT" />
        <result column="check_id" property="checkId" jdbcType="BIGINT" />
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="project_id" property="projectId" jdbcType="DECIMAL" />
        <result column="REF_PROJECT_ID" property="refProjectId" jdbcType="DECIMAL" />
    </resultMap>
    <select id="queryList" parameterType="com.hand.hls.hn.dto.PrjCheckProjectSituation" resultMap="BaseResultMap">
        select * from
        (SELECT
        (select pcc.project_situation_id
        from PRJ_CHECK_PROJECT_SITUATION pcc
        where pcc.CHECK_ID = #{checkId}) project_situation_id,
        (select pcc.remark
        from PRJ_CHECK_PROJECT_SITUATION pcc
        where pcc.CHECK_ID = #{checkId}) remark,
        p.check_id,
        c.project_id,
        c.REF_PROJECT_ID,
        c.tenant_id bp_id,
        (
        SELECT
        bp_name
        FROM
        hls_bp_master hl
        WHERE
        hl.bp_id = c.tenant_id
        ) bp_name,
        c.contract_number,


        p.check_number
        FROM
        prj_check p,
        prj_project c
        WHERE
        p.contract_id = c.project_id) t
        <where>
            1=1
            <if test="checkId!=null">
                and t.CHECK_ID = #{checkId}
            </if>
        </where>
    </select>


</mapper>