<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hn.mapper.PrjCheckPlanMapper">
	<resultMap id="BaseResultMap" type="com.hand.hls.hn.dto.PrjCheckPlan">
		<result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
		<result column="PLAN_NUMBER" property="planNumber" jdbcType="VARCHAR" />
		<result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
		<result column="PLAN_ID" property="planId" jdbcType="DECIMAL" />
		<result column="ACTUAL_FINISH_DATE" property="actualFinishDate" jdbcType="DATE" />
        <result column="PLAN_CHECK_DATE" property="planCheckDate" jdbcType="DATE" />
		<result column="PRJ_REGULAR_ASSIGN" property="prjRegularAssign" jdbcType="VARCHAR" />
		<result column="PRJ_REGULAR_ASSIGN_N" property="prjRegularAssignN" jdbcType="VARCHAR" />
		<result column="ASSIGN_STATUS" property="assignStatus" jdbcType="VARCHAR" />
		<result column="ASSIGN_STATUS_N" property="assignStatusN" jdbcType="VARCHAR" />
		<result column="EMPLOYEE_ID" property="employeeId" jdbcType="VARCHAR" />
		<result column="EMPLOYEE_ID_N" property="employeeIdN" jdbcType="VARCHAR" />
		<result column="FIRST_PAY_DATE" property="firstPayDate" jdbcType="DATE" />
		<result column="CONTRACT_START_DATE" property="contractStartDate" jdbcType="DATE" />
		<result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
		<result column="contract_start_date_to" property="contractStartDateTo"/>
		<result column="plan_check_date_from" property="planCheckDateFrom"/>
		<result column="plan_check_date_to" property="planCheckDateTo"/>
		<result column="plan_check_date_from" property="planCheckDateFrom"/>
		<result column="contract_name" property="contractName"/>
		<result column="bp_name" property="bpName"/>
		<result column="bp_id" property="bpId"/>
		<result column="unit_id" property="unitId"/>



	</resultMap>
    <insert id="insertPrjCheckPlan" parameterType="com.hand.hls.hn.dto.PrjCheckPlan">
		insert into	 prj_check_plan(
			plan_number,
			contract_number,
			contract_start_date,
			prj_regular_assign,
			assign_status,
			contract_id
		) values(
			#{planNumber},
			#{contractNumber},
			#{contractStartDate},
			#{prjRegularAssign},
			#{assignStatus},
			#{contractId}
		)
	</insert>
	<select id="selectPrjCheckPlan" parameterType="com.hand.hls.hn.dto.PrjCheckPlan" resultMap="BaseResultMap">
      select t1.* from (select
			p.CONTRACT_NUMBER,
			p.CONTRACT_ID,
			p.PLAN_ID,
			p.ACTUAL_FINISH_DATE,
			p.PRJ_REGULAR_ASSIGN,
            p.CREATED_BY,
        p.PLAN_CHECK_DATE,
		(
		SELECT
		scvb.meaning AS value_name
		FROM
		sys_code_value_b scvb,
		sys_code_b scb
		WHERE
		scb.CODE = 'PRJ_CHECK_REGULAR_ASSIGN'
		AND scb.code_id = scvb.code_id
		AND scvb.enabled_flag = 'Y'
		AND scvb.VALUE= p.PRJ_REGULAR_ASSIGN
		) PRJ_REGULAR_ASSIGN_N,
			p.ASSIGN_STATUS,
		(
		SELECT
		scvb.meaning AS value_name
		FROM
		sys_code_value_b scvb,
		sys_code_b scb
		WHERE
		scb.CODE = 'PRJ_ASSIGN_STATUS'
		AND scb.code_id = scvb.code_id
		AND scvb.enabled_flag = 'Y'
		AND scvb.VALUE= p.ASSIGN_STATUS
		) ASSIGN_STATUS_N,
			p.EMPLOYEE_ID,
			p.CONTRACT_START_DATE,
			p.plan_number,
        (select s.description
        from sys_user s
        where s.user_id = p.EMPLOYEE_ID) employee_id_n,
		(
		SELECT
		pp.contract_name
		FROM
		prj_project pp
		WHERE
		pp.project_id = p.contract_id
		) contract_name,
		(
		SELECT
		b.bp_name
		FROM
		prj_project pp,
		hls_bp_master b
		WHERE
		pp.tenant_id = b.bp_id
		AND pp.project_id = p.contract_id
		) bp_name,
		(
		SELECT
		pp.tenant_id
		FROM
		prj_project pp
		WHERE
		pp.project_id = p.contract_id
		) bp_id,
		(
		SELECT
		fea.unit_id
		FROM
		fnd_employee_assigns fea
		WHERE
		fea.employee_id = p.employee_id
		and fea.PRIMARY_POSITION_FLAG = 'Y'
		) unit_id,
		(
		SELECT pp.HOST_PROJECT_MANAGER
		FROM prj_project pp
		WHERE pp.project_id = p.contract_id
		) HOST_PROJECT_MANAGER,
		(
		SELECT pp.ASSIST_PROJECT_MANAGER
		FROM prj_project pp
		WHERE pp.project_id = p.contract_id
		) ASSIST_PROJECT_MANAGER
		FROM
		prj_check_plan p)t1
		<where>
			t1.plan_id in (
			SELECT max(cp.plan_id) plan_id
			FROM "PRJ_CHECK_PLAN" cp
			left join prj_project p on p.project_id = cp.contract_id
			group by p.tenant_id,cp.plan_check_date
			)
			<if test="createdBy != null">
				and (
				t1.unit_id = (SELECT fea.unit_id
				from sys_user_allocation sua, fnd_employee_assigns fea
				where sua.EMPLOYEE_ASSIGN_ID = fea.EMPLOYEE_ASSIGN_ID
				and sua.user_id =#{request.userId})
				or EXISTS (SELECT
				1
				FROM
				sys_user U
				LEFT JOIN SYS_USER_ALLOCATION UR ON UR.USER_ID = U.USER_ID
				LEFT JOIN SYS_ROLE_B R ON R.ROLE_ID = UR.ROLE_ID
				WHERE R.ROLE_CODE = 'ADMIN' and U.USER_ID = #{createdBy})
				OR T1.HOST_PROJECT_MANAGER = #{createdBy}
				or T1.ASSIST_PROJECT_MANAGER = #{createdBy}
				)
			</if>
			<if test="planId !=null">
				AND t1.PLAN_ID = #{planId}
			</if>
			<if test="contractNumber !=null">
				AND t1.CONTRACT_NUMBER = #{contractNumber}
			</if>
			<if test="contractName !=null">
				AND t1.contract_name like concat('%',concat(#{contractName},'%'))
			</if>
			<if test="contractStartDateFrom!=null">
				and t1.CONTRACT_START_DATE &gt;= #{contractStartDateFrom}
			</if>
			<if test="contractStartDateTo!=null">
				and t1.CONTRACT_START_DATE &lt;= #{contractStartDateTo}
			</if>

            <if test="planCheckDateFrom!=null">
                and to_char(t1.PLAN_CHECK_DATE,'yyyy-mm-dd') &gt;= #{planCheckDateFrom}
            </if>
            <if test="planCheckDateTo!=null">
                and to_char(t1.PLAN_CHECK_DATE,'yyyy-mm-dd') &lt;= #{planCheckDateTo}
            </if>
			<if test="employeeIdN !=null">
				and t1.employee_id_n like concat('%',concat(#{employeeIdN},'%'))
			</if>
			<if test="bpName !=null">
				and t1.bp_name like concat('%',concat(#{bpName},'%'))
			</if>
            <if test="assignStatus!=null">
                and t1.ASSIGN_STATUS = #{assignStatus}
            </if>
			<if test="bpId!=null">
				and t1.bp_id = #{bpId}
			</if>
		</where>
		order by t1.plan_id desc
	</select>


    <select id="selectPrjCheckPlanByContractId" parameterType="com.hand.hls.hn.dto.PrjCheckPlan" resultMap="BaseResultMap">
        select
        p.CONTRACT_NUMBER,
        p.CONTRACT_ID,
        p.PLAN_ID,
        p.ACTUAL_FINISH_DATE,
        p.PRJ_REGULAR_ASSIGN,
        p.plan_check_date,
        cc.tenant_id as bp_id,
        (
        SELECT
        scvb.meaning AS value_name
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scb.CODE = 'PRJ_CHECK_REGULAR_ASSIGN'
        AND scb.code_id = scvb.code_id
        AND scvb.enabled_flag = 'Y'
        AND scvb.VALUE= p.PRJ_REGULAR_ASSIGN
        ) PRJ_REGULAR_ASSIGN_N,
        p.ASSIGN_STATUS,
        (
        SELECT
        scvb.meaning AS value_name
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scb.CODE = 'PRJ_ASSIGN_STATUS'
        AND scb.code_id = scvb.code_id
        AND scvb.enabled_flag = 'Y'
        AND scvb.VALUE= p.ASSIGN_STATUS
        ) ASSIGN_STATUS_N,
        p.EMPLOYEE_ID,
        p.CONTRACT_START_DATE,
        p.plan_number,
        cc.HOST_PROJECT_MANAGER,
        (
        SELECT
        s.description
        FROM
        sys_user s
        WHERE
        s.user_id = cc.HOST_PROJECT_MANAGER
        )employee_id_n,
        (SELECT
		min(co.write_off_date)
		FROM
		con_contract t,
		con_contract_cashflow cf,
		csh_write_off co
		WHERE
		t.contract_id = cf.contract_id
		AND cf.cf_item = 0
		and cf.times = 0
		AND co.cashflow_id = cf.cashflow_id
		AND cf.WRITE_OFF_FLAG != 'NOT'
		and co.contract_id= t.contract_id
		and t.project_id = cc.project_id
		and t.CONTRACT_STATUS not in ('CANCEL','TERMINATE','ET')) first_pay_date

        FROM
        prj_check_plan p,prj_project cc
        <where>
            cc.project_id=p.contract_id
			<if test="contractId!=null">
				and p.contract_id = #{contractId}
			</if>
			<if test="planCheckDate!=null">
				and trunc(p.plan_check_date) = trunc(#{planCheckDate})
			</if>
        </where>
        order by p.plan_id desc
    </select>

	<update id="updatePrjCheckPlan" parameterType="com.hand.hls.hn.dto.PrjCheckPlan">
		update prj_check_plan set actual_finish_date=#{actualFinishDate},assign_status= 'achieved' where plan_id=#{planId}
	</update>

	<select id="selectAchievedPrjCheckPlan" resultMap="BaseResultMap" parameterType="com.hand.hls.hn.dto.PrjCheckPlan">
		SELECT DISTINCT
			p.contract_id,
			pp.ref_project_id as project_id,
			p.prj_regular_assign,
			nvl(
			  (SELECT pc.actual_finish_date
				 FROM prj_check_plan pc, prj_project pro
			    WHERE pc.contract_id = pro.PROJECT_ID
				  AND pro.REF_PROJECT_ID = pp.REF_PROJECT_ID
				  AND pc.actual_finish_date IS NOT NULL
				and rownum=1),
			 SYSDATE) actual_finish_date
		FROM
			prj_check_plan p,
			prj_project pp
		WHERE
			p.contract_id = pp.project_id
		  AND p.assign_status = 'achieved'
	</select>
	<update id="updateAchievedPrjCheckPlanByProject" >
		UPDATE prj_project pp,
			prj_check_plan p
		SET p.assign_status = 'achieved',
		    p.actual_finish_date=#{actualFinishDate}
		WHERE
			pp.project_id = p.contract_id
		  AND p.assign_status = 'unachieve'
		  AND p.prj_regular_assign = #{prjRegularAssign}
		  AND pp.ref_project_id = #{projectId}
		  AND pp.data_class = 'VIRTUAL_CON'
		  AND pp.data_type = 'NORMAL'

	</update>

	<update id="updateAchievedPrjCheckPlanByBpId" >
		UPDATE prj_project pp,
			prj_check_plan p
		SET p.assign_status = 'achieved',
			p.actual_finish_date=#{actualFinishDate}
		WHERE
			pp.project_id = p.contract_id
		  AND p.assign_status = 'unachieve'
		  AND pp.tenantId = #{bpId}
		  AND pp.data_class = 'VIRTUAL_CON'
		  AND pp.data_type = 'NORMAL'

	</update>

	<select id="selectMaxCheckDate" parameterType="Long" resultType="Date">
		select max(t.plan_check_date)
		from
		(select p.plan_check_date, (
			SELECT
				pp.tenant_id
			FROM
				prj_project pp
			WHERE
				pp.project_id = p.contract_id
		) bp_id
		 from prj_check_plan p) t
		where t.bp_id = #{bpId};
	</select>

</mapper>