<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hn.mapper.PrjCheckItemLnMapper">
	<resultMap id="BaseResultMap" type="com.hand.hls.hn.dto.PrjCheckItemLn">
		<result column="ln_id" property="lnId"/>
		<result column="hd_id" property="hdId"/>
		<result column="check_id" property="checkId"/>
		<result column="check_type" property="checkType"/>
		<result column="items" property="items"/>
		<result column="description" property="description"/>
		<result column="check_y" property="checkY"/>
		<result column="check_n" property="checkN"/>
		<result column="required_flag" property="requiredFlag"/>
	</resultMap>

	<select id="queryBasic" parameterType="com.hand.hls.hn.dto.PrjCheckItemLn" resultMap="BaseResultMap">
		select *
		from prj_check_items_ln h
		<where>
			1=1
			<if test="checkId!=null">
				and h.check_id=#{checkId}
			</if>
			<if test="checkType!=null">
				and h.check_type = #{checkType}
			</if>
		</where>
	</select>
</mapper>