<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hn.mapper.PrjCheckProjectApproveScheduleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hn.dto.PrjCheckProjectApproveSchedule">
        <result column="APPROVE_SCHEDULE_ID" property="approveScheduleId" jdbcType="DECIMAL" />
        <result column="CHECK_ID" property="checkId" jdbcType="DECIMAL" />
        <result column="APPROVE_FILE_NAME" property="approveFileName" jdbcType="VARCHAR" />
        <result column="YES_NO" property="yesNo" jdbcType="VARCHAR" />
        <result column="YES_NO_N" property="yesNoN" jdbcType="VARCHAR" />
        <result column="OBTAIN_DATE" property="obtainDate" jdbcType="DATE" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />




    </resultMap>


    <select id="queryList" parameterType="com.hand.hls.hn.dto.PrjCheckProjectApproveSchedule" resultMap="BaseResultMap">
        select
        APPROVE_SCHEDULE_ID,
        CHECK_ID,
        APPROVE_FILE_NAME,
        YES_NO,
        (
        SELECT
        scvb.meaning AS value_name
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scb.CODE = 'SYS.YES_NO'
        AND scb.code_id = scvb.code_id
        AND scvb.enabled_flag = 'Y'
        AND scvb.VALUE= YES_NO
        ) YES_NO_N,
        OBTAIN_DATE,
        REMARK
        from

        prj_check_approve_schedule
        <where>
            1=1

            <if test="checkId!=null">
                and CHECK_ID = #{checkId}
            </if>
        </where>
    </select>


</mapper>