<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hn.mapper.PrjCheckItemHdMapper">
	<resultMap id="BaseResultMap" type="com.hand.hls.hn.dto.PrjCheckItemHd">
		<result column="hd_id" property="hdId" jdbcType="DECIMAL"/>
		<result column="check_id" property="checkId" jdbcType="DECIMAL"/>
		<result column="check_category" property="checkCategory"/>
		<result column="check_category_n" property="checkCategoryN"/>
		<result column="check_date" property="checkDate"/>
		<result column="audit_y" property="auditY"/>
		<result column="audit_n" property="auditN"/>
		<result column="finance_report_date" property="financeReportDate"/>
		<result column="compare_data" property="compareData"/>
		<result column="compare_audit_y" property="compareAuditY"/>
		<result column="compare_audit_n" property="compareAuditN"/>
		<result column="refinance_analyse" property="refinanceAnalyse"/>
		<result column="add_comments" property="addComments"/>
		<result column="other_explain_situation" property="otherExplainSituation"/>
	</resultMap>

	<select id="queryBasic" parameterType="com.hand.hls.hn.dto.PrjCheckItemHd" resultMap="BaseResultMap">
		select *
		from prj_check_items_hd h
		<where>
			1=1
			<if test="checkId!=null">
				and h.CHECK_ID = #{checkId}
			</if>
			<if test="checkCategory!=null">
				and h.check_category = #{checkCategory}
			</if>
		</where>
	</select>

	<select id="queryTenant" parameterType="com.hand.hls.hn.dto.PrjCheckItemHd" resultMap="BaseResultMap">
		select *
		from prj_check_items_hd h
		<where>
			h.check_category='TENANT'
			<if test="checkId!=null">
				and h.CHECK_ID = #{checkId}
			</if>
		</where>
	</select>

	<select id="queryGuarantor" parameterType="com.hand.hls.hn.dto.PrjCheckItemHd" resultMap="BaseResultMap">
		select *
		from prj_check_items_hd h
		<where>
			h.check_category='GUARANTOR'
			<if test="checkId!=null">
				and h.CHECK_ID = #{checkId}
			</if>
		</where>
	</select>

	<select id="queryManufacturer" parameterType="com.hand.hls.hn.dto.PrjCheckItemHd" resultMap="BaseResultMap">
		select *
		from prj_check_items_hd h
		<where>
			h.check_category='MANUFACTURER'
			<if test="checkId!=null">
				and h.CHECK_ID = #{checkId}
			</if>
		</where>
	</select>

	<select id="querySubject" parameterType="com.hand.hls.hn.dto.PrjCheckItemHd" resultMap="BaseResultMap">
		select *
		from prj_check_items_hd h
		<where>
			h.check_category='SUBJECT'
			<if test="checkId!=null">
				and h.CHECK_ID = #{checkId}
			</if>
		</where>
	</select>
</mapper>