<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hn.mapper.PrjCheckFinanceSituationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hn.dto.PrjCheckFinanceSituation">
        <result column="finance_situation_id" property="financeSituationId" jdbcType="BIGINT" />
        <result column="check_id" property="checkId" jdbcType="BIGINT" />
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="bp_name" property="bpName" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryList" parameterType="com.hand.hls.hn.dto.PrjCheckFinanceSituation" resultMap="BaseResultMap">
        select * from (SELECT
        (select pcc.finance_situation_id
        from PRJ_CHECK_FINANCE_SITUATION pcc
        where pcc.CHECK_ID = #{checkId}) finance_situation_id,
        (select pcc.remark
        from PRJ_CHECK_FINANCE_SITUATION pcc
        where pcc.CHECK_ID = #{checkId}) remark,
        p.check_date,
        p.CONCLUSION,
        p.EXIST_QUESTION,
        p.USE_MEASURE,
        p.POLICY_FINANCE_SITUATION,
        p.PRODUCT_MATERIAL_SITUATION,
        p.PRODUCT_ENVIRONMENT_SITUATION,
        p.office_environment_situation,
        p.product_time_situation,
        p.EXPAND_INVEST,
        p.OTHER_SITUATION,
        p.PRODUCT_CONCLUSION,
        p.check_id,
        p.approve_suggest,
        (select pp.plan_number from prj_check_plan pp where pp.plan_id=p.plan_id) PLAN_ID_N,
        (
        SELECT
        scvb.meaning AS value_name
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scb.CODE = 'HLS.WORK_FLOW_STATUS'
        AND scb.code_id = scvb.code_id
        AND scvb.enabled_flag = 'Y'
        AND scvb.VALUE= p.approve_suggest
        ) approve_suggest_n,
        c.tenant_id bp_id,
        (
        SELECT
        bp_name
        FROM
        hls_bp_master hl
        WHERE
        hl.bp_id = c.tenant_id
        ) bp_name,
        c.contract_number,
        (
        SELECT
        f.unit_name
        FROM
        fnd_org_unit f
        WHERE
        f.unit_id = p.unit_id
        ) unit_id_n,
        p.employee_id,
        (
        SELECT
        e. NAME
        FROM
        fnd_employee e
        WHERE
        e.employee_id = p.employee_id
        ) employee_id_n,
        (
        SELECT
        scvb.meaning AS value_name
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scb. CODE = 'HLS200.LEASING_PRODUCT_DETAIL'
        AND scb.code_id = scvb.code_id
        AND scvb.enabled_flag = 'Y'
        AND scvb.
        VALUE
        = c.business_type
        ) business_type_n,
        p.check_number
        FROM
        prj_check p,
        prj_project c
        WHERE
        p.contract_id = c.project_id) t
        <where>
            1=1
            <if test="checkId!=null">
                and t.CHECK_ID = #{checkId}
            </if>

        </where>
    </select>

</mapper>