<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hn.mapper.PrjLeaseFactoryBuildingMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hn.dto.PrjLeaseFactoryBuilding">
        <result column="BUILDING_ID" property="buildingId" jdbcType="DECIMAL" />
        <result column="PRJ_LEASE_ID" property="prjLeaseId" jdbcType="DECIMAL" />
        <result column="BUILDING_STRUCTURE" property="buildingStructure" jdbcType="VARCHAR" />
        <result column="BUILDING_STRUCTURE_N" property="buildingStructureN" jdbcType="VARCHAR" />
        <result column="BUILDING_FACILITY" property="buildingFacility" jdbcType="VARCHAR" />
        <result column="WORKSHOP_LAYOUT" property="workshopLayout" jdbcType="VARCHAR" />
        <result column="WORKSHOP_LAYOUT_N" property="workshopLayoutN" jdbcType="VARCHAR" />
        <result column="WORKSHOP_CLEAN_FREQUENCY" property="workshopCleanFrequency" jdbcType="VARCHAR" />
        <result column="CLEAN_HOURS" property="cleanHours" jdbcType="VARCHAR" />
        <result column="WORKSHOP_SAFE_FLAG" property="workshopSafeFlag" jdbcType="VARCHAR" />
        <result column="WORKSHOP_SAFE_FLAG_N" property="workshopSafeFlagN" jdbcType="VARCHAR" />

    </resultMap>


    <select id="selectPrjLeaseFactoryBuilding" parameterType="com.hand.hls.hn.dto.PrjLeaseFactoryBuilding" resultMap="BaseResultMap">
        select
        BUILDING_ID,
        PRJ_LEASE_ID,
        BUILDING_STRUCTURE,
        (
        SELECT
        scvb.meaning AS value_name
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scb.CODE = 'FACTORY_BUILDING_STRUCTURE'
        AND scb.code_id = scvb.code_id
        AND scvb.enabled_flag = 'Y'
        AND scvb.VALUE= BUILDING_STRUCTURE
        ) BUILDING_STRUCTURE_N,
        BUILDING_FACILITY,
        WORKSHOP_LAYOUT,
        (
        SELECT
        scvb.meaning AS value_name
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scb.CODE = 'CARROOM_DESIGN'
        AND scb.code_id = scvb.code_id
        AND scvb.enabled_flag = 'Y'
        AND scvb.VALUE= WORKSHOP_LAYOUT
        ) WORKSHOP_LAYOUT_N,
        WORKSHOP_CLEAN_FREQUENCY,
        CLEAN_HOURS,
        WORKSHOP_SAFE_FLAG,
        (
        SELECT
        scvb.meaning AS value_name
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scb.CODE = 'SYS.YES_NO'
        AND scb.code_id = scvb.code_id
        AND scvb.enabled_flag = 'Y'
        AND scvb.VALUE= WORKSHOP_SAFE_FLAG
        ) WORKSHOP_SAFE_FLAG_N
        from
        prj_lease_factory_building

        <where>
            1=1
            <if test="prjLeaseId !=null">
                AND prj_lease_id = #{prjLeaseId}
            </if>


        </where>
    </select>


</mapper>