<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hn.mapper.PrjLeaseCheckMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hn.dto.PrjLeaseCheck">
        <result column="PRJ_CHECK_ID" property="prjCheckId" jdbcType="DECIMAL" />
        <result column="PRJ_LEASE_ID" property="prjLeaseId" jdbcType="DECIMAL" />
        <result column="ACTUAL_SAME_FLAG" property="actualSameFlag" jdbcType="VARCHAR" />
        <result column="ACTUAL_PHOTO_FLAG" property="actualPhotoFlag" jdbcType="VARCHAR" />
        <result column="CHECK_STATUS" property="checkStatus" jdbcType="VARCHAR" />
        <result column="LEASE_CONTRACT_SAME_FLAG" property="leaseContractSameFlag" jdbcType="VARCHAR" />
        <result column="DIFFERENT_DESC" property="differentDesc" jdbcType="VARCHAR" />
        <result column="INSURE_REASON" property="insureReason" jdbcType="VARCHAR" />


    </resultMap>


    <select id="selectPrjLeaseCheck" parameterType="com.hand.hls.hn.dto.PrjLeaseCheck" resultMap="BaseResultMap">
        select * from

        prj_lease_check pl,

        <where>
            1=1
            <if test="prjLeaseId !=null">
                AND prj_lease_id = #{prjLeaseId}
            </if>


        </where>
    </select>


</mapper>