<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.hn.mapper.SelectAllConContractMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.hn.dto.CheckPlanConContract">
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="LEASE_START_DATE" property="leaseStartDate" jdbcType="DATE" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="host_project_manager" property="hostProjectManager" jdbcType="DECIMAL" />

    </resultMap>


    <select id="queryAllApproveContract" parameterType="com.hand.hls.hn.dto.CheckPlanConContract" resultMap="BaseResultMap">
        SELECT
        t.contract_id,
        t.contract_number,
        t.contract_status,
        T.LEASE_START_DATE,
        T.host_project_manager
        FROM
        con_contract t
        <where>
            t.contract_id in
                (select ccc.CONTRACT_ID
                   from con_contract_cashflow ccc
                  where ccc.contract_id=t.CONTRACT_ID
                    and ccc.CF_ITEM=0
                    and ccc.TIMES=0
                    and ccc.WRITE_OFF_FLAG != 'NOT')
            and t.CONTRACT_STATUS not in ('CANCEL','TERMINATE','ET')
            <if test="contractStatus !=null">
                AND t.contract_status = #{contractStatus}
            </if>
            <if test="contractNumber !=null">
                AND t.contract_number = #{contractNumber}
            </if>
            <if test="contractId!=null">
                and t.contract_id &gt;= #{contractId}
            </if>
        </where>
    </select>

</mapper>