<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.req.mapper.HlsCusChangeReqInfoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.req.dto.HlsCusChangeReqInfo">
        <result column="change_req_id" property="changeReqId" jdbcType="DECIMAL"/>
        <result column="document_version_id" property="documentVersionId" jdbcType="DECIMAL"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="change_req_date" property="changeReqDate" jdbcType="DATE"/>
        <result column="change_req_user_id" property="changeReqUserId" jdbcType="DECIMAL"/>
        <result column="change_description" property="changeDescription" jdbcType="VARCHAR"/>
        <result column="document_id" property="documentId" jdbcType="DECIMAL"/>
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="contract_id_bef" property="contractIdBef" jdbcType="DECIMAL"/>
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="status_desc" property="statusDesc" jdbcType="VARCHAR"/>
        <result column="change_start_time" property="changeStartTime" jdbcType="DECIMAL"/>

        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="company_id" property="companyId" jdbcType="VARCHAR"/>
        <result column="change_req_date_from" property="changeReqDateFrom" jdbcType="DATE"/>
        <result column="change_req_date_to" property="changeReqDateTo" jdbcType="DATE"/>
        <result column="prepayment_method" property="prepaymentMethod"/>
        <result column="prepayment_method_desc" property="prepaymentMethodDesc" jdbcType="VARCHAR"/>
        <result column="contract_status" property="contractStatus"/>
        <result column="change_original_project_id" property="changeOriginalProjectId"/>
        <result column="credit_line_id" property="creditLineId"/>
        <result column="history_contract_id" property="historyContractId"/>
        <result column="history_project_id" property="historyProjectId"/>
        <result column="created_by_desc" property="createdByDesc"/>
        <result column="instance_end_flag" property="instanceEndFlag"/>

        <result column="repurchase_change_flag" property="repurchaseChangeFlag"/>
        <result column="release_change_flag" property="releaseChangeFlag"/>
        <result column="quotation_change_flag" property="quotationChangeFlag"/>
        <result column="meet_flag" property="meetFlag"/>
        <result column="meet_flag_n" property="meetFlagN"/>
        <result column="change_info_desc" property="changeInfoDesc"/>

        <result column="approve_number" property="approveNumber" />
    </resultMap>

    <resultMap id="conChangeTypeCount" type="java.util.Map">
        <result column="cf_count" property="cfCount"/>
        <result column="pa_count" property="paCount"/>
        <result column="cc_count" property="ccCount"/>
        <result column="if_count" property="ifCount"/>
        <result column="pp_count" property="ppCount"/>
        <result column="bp_count" property="bpCount"/>
    </resultMap>

    <select id="queryChangeInfo" parameterType="com.hand.hls.req.dto.HlsCusChangeReqInfo" resultMap="BaseResultMap">
        SELECT
            cri.change_req_id,
            cri.change_description,
            cri.status,
            cri.change_req_date,
            cri.change_start_time,
            cri.business_type,
            hbm.bp_name,
            con.contract_id,
            con.contract_number,
            con.contract_name,
            con.prepayment_method,
            (
            select scvb.meaning
            from sys_code_b scb,sys_code_value_b scvb
            where scb.code_id = scvb.code_id
            and scb.code = 'FCT.PREPAYMENT_METHOD'
            and scvb.value = con.prepayment_method
            ) as prepayment_method_desc,
              (select ref_pp.ref_project_id from prj_project ref_pp where ref_pp.project_id=(select ppt.ref_project_id from prj_project  ppt where ppt.project_id=con.project_id))change_original_project_id,
             (select ref_pp.credit_line_id from prj_project ref_pp where ref_pp.project_id=con.project_id)credit_line_id,
             (select user_name from sys_user su where su.user_id=cri.CREATED_BY)created_by_desc
        FROM
            con_contract con,
            change_req_info cri,
            hls_bp_master hbm
        WHERE
            con.contract_id = #{documentId}
        AND cri.change_req_id=con.change_req_id
        AND hbm.bp_id=con.tenant_id
    </select>

    <select id="queryContractChangeInfo" parameterType="com.hand.hls.req.dto.HlsCusChangeReqInfo" resultMap="BaseResultMap">
        SELECT * from (SELECT
        cri.change_req_id,
        cri.document_version_id,
        cri.status,
        cri.change_req_date,
        cri.change_req_user_id,
        cri.change_description,
        cri.document_id,
        cri.document_category,
        cri.document_type,
        cri.business_type,
        con.contract_id,
        con.project_id,
        (select t.ref_project_id from prj_project t where t.project_id=con.project_id)contract_id_bef,
        con.contract_number,
        con.contract_name,
        hbm.bp_name,
        con.CREATED_BY,
        con.contract_status,
        (select cc.contract_id from con_contract cc where cc.ref_contract_id= cri.document_id and cc.data_class='HISTORY' and cc.change_req_id=cri.change_req_id and rownum=1)history_contract_id,
        (select cc.project_id from con_contract cc where cc.ref_contract_id= cri.document_id and cc.data_class='HISTORY' and cc.change_req_id=cri.change_req_id and rownum=1)history_project_id
        FROM
        change_req_info cri,
        hls_bp_master hbm,
        con_contract con
        <where>con.change_req_id = cri.change_req_id
            AND con.company_id = #{companyId}
            AND con.tenant_id = hbm.bp_id
            AND con.data_class = 'CHANGE_REQ'
            AND cri.document_category='CON_CONTRACT'
            <if test="contractName != null">
                AND ( con.contract_number LIKE concat(concat('%',#{contractName}),'%')
                OR con.contract_name LIKE concat(concat('%',#{contractName}),'%')
                OR hbm.bp_name LIKE concat(concat('%',#{contractName}),'%'))
            </if>
            <if test="changeReqDateFrom != null">
                AND cri.change_req_date BETWEEN #{changeReqDateFrom} AND #{changeReqDateTo}
            </if>
            <if test="statusArr != null and statusArr.length!=0">
                AND cri.status IN
                <foreach item="status" index="index" collection="statusArr" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="businessType != null">
                AND cri.business_type=#{businessType}
            </if>
        </where>) t1
        where 1=1
        and (t1.CREATED_BY = #{request.userId} OR 10001 = #{request.userId}
        )
        order by t1.change_req_id desc
    </select>

    <select id="queryByProjectId" parameterType="Long" resultMap="BaseResultMap">
        SELECT * FROM change_req_info WHERE document_id=#{projectId};
    </select>

    <select id="queryConChangeType" resultMap="conChangeTypeCount" parameterType="com.hand.hls.req.dto.HlsCusChangeReqInfo">
        SELECT
        (select COUNT(*)
        from change_req_info cri
        where cri.business_type = 'BP'
        ) AS bp_count,
        (select COUNT(*)
        from change_req_info cri
        where cri.business_type = 'CF'
        ) AS cf_count,
        (select COUNT(*)
        from change_req_info cri
        where cri.business_type = 'PA'
        ) AS pa_count,
        (select COUNT(*)
        from change_req_info cri
        where cri.business_type = 'CC'
        ) AS cc_count,
        (select COUNT(*)
        from change_req_info cri
        where cri.business_type = 'IF'
        ) AS if_count,
        (select COUNT(*)
        from change_req_info cri
        where cri.business_type = 'PP'
        ) AS pp_count
        from dual
    </select>

    <resultMap id="PrjContractChangeBaseResult" type="java.util.Map">
        <result column="BEFORELAUNCH_COUNT" property="BEFORELAUNCH_COUNT"/>
        <result column="CONTRACTTEXT_COUNT" property="CONTRACTTEXT_COUNT"/>
        <result column="AFTERLAUNCH_COUNT" property="AFTERLAUNCH_COUNT"/>
        <result column="BACKMONEYACCOUNT_COUNT" property="BACKMONEYACCOUNT_COUNT"/>
        <result column="PREREPAYMENT_COUNT" property="PREREPAYMENT_COUNT"/>
    </resultMap>

    <select id="queryPrcContractChangeType" resultMap="PrjContractChangeBaseResult">
        SELECT
        (
            SELECT
                COUNT(1)
            FROM
                change_req_info cri
            WHERE
                cri.business_type = 'BEFORELAUNCH'
        ) AS BEFORELAUNCH_COUNT,
        (
            SELECT
                COUNT(1)
            FROM
                change_req_info cri
            WHERE
                cri.business_type = 'CONTRACTTEXT'
        ) AS CONTRACTTEXT_COUNT,
        (
            SELECT
                COUNT(1)
            FROM
                change_req_info cri
            WHERE
                cri.business_type = 'AFTERLAUNCH'
        ) AS AFTERLAUNCH_COUNT,
        (
            SELECT
                COUNT(1)
            FROM
                change_req_info cri
            WHERE
                cri.business_type = 'BACKMONEYACCOUNT'
        ) AS BACKMONEYACCOUNT_COUNT,
        (
            SELECT
                COUNT(1)
            FROM
                change_req_info cri
            WHERE
                cri.business_type = 'PREREPAYMENT'
        ) AS PREREPAYMENT_COUNT
        FROM
            DUAL
    </select>

    <select id="selectConChangeType" parameterType="com.hand.hls.req.dto.HlsCusChangeReqInfo" resultMap="BaseResultMap">
        select tab.*
        from
        (
        select
        fp.project_id,
        fp.company_id,
        fp.contract_number,
        fp.contract_name,
        ( select fc.contract_id
        from fct_contract fc
        where fc.project_id = fp.project_id)contract_id,
        (
        select
        case when cr.status = 'APPROVED'
        then (select fc.contract_id
        from fct_contract fc
        where fc.project_id = fp.project_id
        and fc.change_req_id = cri.change_req_id
        and fc.data_class = 'HISTORY')
        else (
        select fc.ref_contract_id
        from fct_contract fc
        where fc.project_id = fp.project_id
        and fc.change_req_id = cri.change_req_id
        and fc.data_class = 'CHANGE_REQ') END
        from change_req_info cr
        where cr.change_req_id = cri.change_req_id
        )contract_id_bef,
        (
        select fpq.quotataion_id
        from fct_project_quotation fpq
        where fpq.project_id = fp.project_id and rownum=1
        )quotation_id,
        (
        SELECT
        hbm.bp_name
        FROM
        fct_project_bp fpb,
        hls_bp_master hbm
        WHERE fp.project_id = fpb.project_id
        AND fpb.bp_id = hbm.bp_id
        and fpb.credit_grantor_party='Y'
      --  and fpb.repay_guarantee_party != 'Y'
        ) AS bp_name,
        (
        SELECT
        hds.description
        FROM
        hls_document_status hds
        WHERE
        hds.status_code = cri.status
        AND hds.document_category = fp.document_category
        ) AS status_desc,
        cri.*
        from fct_project fp,
        change_req_info cri
        where fp.change_req_id = cri.change_req_id
        and fp.data_type = "CHANGE_REQ"
        and fp.data_class = "VIRTUAL_CON"
        )tab
        where 1 = 1
        and (tab.CREATED_BY = #{request.userId}
        or 10001=#{request.userId} )
        <if test="busTypeStatusList!=null">
            AND tab.status IN
            <foreach collection="busTypeStatusList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="changeReqDate!=null">
            and tab.change_req_date = #{changeReqDate}
        </if>
        <if test="businessType!=null">
            and tab.business_type = #{businessType}
        </if>
        <if test="params != null">
            and ((tab.contract_number like concat(concat('%',#{params}),'%'))
            or (tab.contract_name like concat(concat('%',#{params}),'%'))
            or (tab.bp_name like concat(concat('%',#{params}),'%')))
        </if>
        order by to_char(tab.change_req_date,'YYYY-MM-DD') desc,last_update_date desc
    </select>

    <select id="queryHistory" parameterType="com.hand.hls.req.dto.HlsCusChangeReqInfo" resultMap="BaseResultMap">
        select c.*,
        (
        select hds.description
        from hls_document_status hds
        where hds.status_code = c.status
        <if test="documentCategory !=null and documentCategory != ''">
            and hds.document_category = #{documentCategory}
        </if>
        )status_desc,
       /* (
        select fe.name from  fnd_employee fe,
        sys_user su
        where fe.employee_id=su.employee_id
        and c.change_req_user_id=su.user_id
        ) user_name*/
        (
        select distinct fe.name
        from sys_user_allocation sua,
        fnd_employee fe,
        fnd_employee_assigns fea
        where fe.employee_id = fea.employee_id
        and fea.employee_assign_id = sua.employee_assign_id
        and sua.user_id = c.change_req_user_id
        and sua.company_id = #{request.companyId}
        and fea.employee_assign_id = (select min(su.employee_assign_id)
        from sys_user_allocation su
        where su.user_id = c.change_req_user_id
        and su.company_id = #{request.companyId}
        )
        )user_name
        from change_req_info c
        where
        1 = 1
        <if test="documentId !=null">
            and c.document_id = #{documentId}
        </if>
        <if test="documentCategory !=null and documentCategory != ''">
            and c.document_category = #{documentCategory}
        </if>
        order by c.change_req_id desc
    </select>

    <select id="queryStatus" resultMap="BaseResultMap" parameterType="com.hand.hls.req.dto.HlsCusChangeReqInfo">
        select *
        from change_req_info
        where change_req_id=(
            select MAX(change_req_id)
            from prj_project
            where project_number=(select project_number from prj_project where project_id=#{documentId}))
    </select>

    <select id="queryChangeReqInfoDetail" resultMap="BaseResultMap"
            parameterType="com.hand.hls.req.dto.HlsCusChangeReqInfo">
        select
        c.*,su.description as user_name
        from change_req_info c,
        sys_user su
        <where>
            su.user_id=c.change_req_user_id
            <if test="documentId!=null and documentId !=''">
                and c.document_id=#{documentId}
            </if>
            <if test="status!=null and status !=''">
                and c.status=#{status}
            </if>
            <if test="documentCategory!=null and documentCategory !=''">
                and c.document_category=#{documentCategory}
            </if>
        </where>
    </select>

    <select id="selectDocuemntSubmitChangeInfo" resultMap="BaseResultMap">
        select
            *
        from change_req_info c
        where
        c.document_category = #{documentCategory}
        and c.document_id = #{documentId}
        and c.status in ('NEW','APPROVING')
    </select>


    <select id="queryChangeInfoByChangeReqId" resultMap="BaseResultMap">
        select
        c.*,
        (SELECT scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'SYS.YES_NO'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = c.meet_flag) meet_flag_n
        from change_req_info c
        where
        c.change_req_id = #{changeReqId}
    </select>

    <select id="queryChangeInfoByChangeReqId1" resultMap="BaseResultMap">
        select
        c.*,
        (SELECT scv.meaning
        FROM
        sys_code_b scb,
        sys_code_value_b scv
        WHERE
        scb.CODE = 'SYS.YES_NO'
        AND scb.CODE_ID = scv.CODE_ID
        and scv.value = c.meet_flag) meet_flag_n
        from change_req_info c
        where
        c.change_req_id = #{changeReqId}
    </select>
</mapper>