<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hls.button.mapper.SysButtonAuthorityMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.button.dto.SysButtonAuthorityDto">
        <id column="BUTTON_AUTHORITY_ID" jdbcType="DECIMAL" property="buttonAuthorityId"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode"/>
        <result column="START_DATE" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
        <result column="LAST_UPDATED_BY" jdbcType="DECIMAL" property="lastUpdatedBy"/>
        <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="CREATED_BY" jdbcType="DECIMAL" property="createdBy"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="user_id" jdbcType="DECIMAL" property="userId"/>
        <result column="role_id" jdbcType="DECIMAL" property="roleId"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="query" parameterType="com.hand.hls.button.dto.SysButtonAuthorityDto" resultMap="BaseResultMap">
        select
        sba.user_name,su.user_id,su.description,sba.role_code,srvl.role_name,srvl.role_id,sba.button_authority_id,sba.start_date,sba.end_date
        from SYS_BUTTON_AUTHORITY sba
        left join sys_role_b srvl
        on sba.role_code = srvl.role_code
        left join sys_user su
        on sba.user_name = su.user_name
        <where>
            <if test="roleCode!=null">
                sba.role_code = #{roleCode}
            </if>
            <if test="userName!=null">
                and sba.user_name = #{userName}
            </if>
            <if test="description!=null">
                and su.description = #{description}
            </if>
            <if test="roleName!=null">
                and srvl.role_name = #{roleName}
            </if>
        </where>
        order by
        BUTTON_AUTHORITY_ID
    </select>

    <select id="queryCopyOriginInfoById" parameterType="short" resultMap="BaseResultMap">
        select
        sba.user_name,su.description,sba.role_code,srvl.role_name,sba.button_authority_id
        from SYS_BUTTON_AUTHORITY sba
        left join sys_role_b srvl
        on sba.role_code = srvl.role_code
        left join sys_user su
        on sba.user_name = su.user_name
        where
        sba.button_authority_id = #{buttonAuthorityId}
    </select>

    <resultMap id="CacheResultMap" type="uncertain.composite.CompositeMap">
        <result column="ROLE_ID" jdbcType="VARCHAR" property="role_id"/>
        <result column="USER_ID" jdbcType="DECIMAL" property="user_id"/>
        <result column="FUNCTION_CODE" jdbcType="VARCHAR" property="function_code"/>
        <result column="URL" jdbcType="VARCHAR" property="url"/>
        <result column="BUTTON_FILTER" jdbcType="VARCHAR" property="button_filter"/>
    </resultMap>

    <select id="queryButtonAuthorityCache" resultMap="CacheResultMap">
        SELECT
            ( SELECT sr.role_id FROM sys_role_b sr WHERE sr.role_code = t.role_code ) role_id,
            ( SELECT su.user_id FROM sys_user su WHERE su.user_name = t.user_name ) user_id,
            d.function_code,
            d.url,
            d.button_filter
        FROM
            sys_button_authority t,
            sys_button_authority_detail d
        WHERE
            t.button_authority_id = d.button_authority_id
            AND sysdate BETWEEN   t.start_date  AND  ifnull ( t.end_date, sysdate )
            AND sysdate BETWEEN   d.start_date  AND  ifnull ( d.end_date, sysdate )
    </select>

</mapper>