<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.ecif.mapper.HlsCusBpMasterRequestRecordsMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.ecif.dto.HlsCusBpMasterRequestRecords">
        <result column="BP_RECORD_ID" property="bpRecordId" jdbcType="DECIMAL" />
        <result column="OPRTN_IND" property="oprtnInd" jdbcType="VARCHAR" />
        <result column="CST_NO" property="cstNo" jdbcType="VARCHAR" />
        <result column="CST_NM_S" property="cstNmS" jdbcType="VARCHAR" />
        <result column="IDENT_NO" property="identNo" jdbcType="VARCHAR" />
        <result column="INST_IDENT_TP" property="instIdentTp" jdbcType="VARCHAR" />
        <result column="UNIFD_SOCL_CRDT_CD" property="unifdSoclCrdtCd" jdbcType="VARCHAR" />
        <result column="CST_TP" property="cstTp" jdbcType="VARCHAR" />
        <result column="OVRS_CST_CHIN_NM" property="ovrsCstChinNm" jdbcType="VARCHAR" />
        <result column="RGSTRTN_CTY_AND_DSTC_CD" property="rgstrtnCtyAndDstcCd" jdbcType="VARCHAR" />
        <result column="MAINCORPRTNACTVCTYORDSTCCD" property="maincorprtnactvctyordstccd" jdbcType="VARCHAR" />
        <result column="CST_LO_NATL_STD_IDY" property="cstLoNatlStdIdy" jdbcType="VARCHAR" />
        <result column="SWIFTNO" property="swiftno" jdbcType="VARCHAR" />
        <result column="ENTP_ATCH_RLTNP" property="entpAtchRltnp" jdbcType="VARCHAR" />
        <result column="ECNM_TP" property="ecnmTp" jdbcType="VARCHAR" />
        <result column="LGL_RPRS_NM" property="lglRprsNm" jdbcType="VARCHAR" />
        <result column="CORPRTN_SCOP1" property="corprtnScop1" jdbcType="VARCHAR" />
        <result column="CRDT_CST_FLG" property="crdtCstFlg" jdbcType="VARCHAR" />
        <result column="ORG_CUST_TYPE" property="orgCustType" jdbcType="VARCHAR" />
        <result column="BUSINESS_DATE" property="businessDate" jdbcType="VARCHAR" />


        <result column="bp_id" property="bpId" />
        <result column="cst_tp_c" property="cstTpC" jdbcType="VARCHAR" />
        <result column="cst_tp_n" property="cstTpN" jdbcType="VARCHAR" />
        <result column="rgstrtn_cty_and_dstc_cd_c" property="rgstrtnCtyAndDstcCdC" jdbcType="VARCHAR" />
        <result column="rgstrtn_cty_and_dstc_cd_n" property="rgstrtnCtyAndDstcCdN" jdbcType="VARCHAR" />
        <result column="maincorprtnactvctyordstccd_c" property="maincorprtnactvctyordstccdC" jdbcType="VARCHAR" />
        <result column="maincorprtnactvctyordstccd_n" property="maincorprtnactvctyordstccdN" jdbcType="VARCHAR" />
        <result column="cst_lo_natl_std_idy_c" property="cstLoNatlStdIdyC" jdbcType="VARCHAR" />
        <result column="cst_lo_natl_std_idy_n" property="cstLoNatlStdIdyN" jdbcType="VARCHAR" />


        <result column="entp_atch_rltnp_c" property="entpAtchRltnpC" jdbcType="VARCHAR" />
        <result column="entp_atch_rltnp_n" property="entpAtchRltnpN" jdbcType="VARCHAR" />

        <result column="ecnm_tp_c" property="ecnmTpC" jdbcType="VARCHAR" />
        <result column="ecnm_tp_n" property="ecnmTpN" jdbcType="VARCHAR" />
        <result column="crdt_cst_flg_c" property="crdtCstFlgC" jdbcType="VARCHAR" />
        <result column="crdt_cst_flg_n" property="crdtCstFlgN" jdbcType="VARCHAR" />
        <result column="org_cust_type_n" property="orgCustTypeN" jdbcType="VARCHAR" />
        <result column="org_cust_type_c" property="orgCustTypeC" jdbcType="VARCHAR" />
        <result column="inst_ident_tp_n" property="instIdentTpN" jdbcType="VARCHAR" />
        <result column="inst_ident_tp_c" property="instIdentTpC" jdbcType="VARCHAR" />
        <result column="is_first_success" property="isFirstSuccess" jdbcType="VARCHAR" />

        <result column="operator" property="operator" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
        <result column="last_updated_te" property="lastUpdatedTe" jdbcType="VARCHAR" />
        <result column="update_source" property="updateSource" jdbcType="VARCHAR" />
        <result column="data_source" property="dataSource" jdbcType="VARCHAR" />
        <result column="ecif_create_date" property="ecifCreateDate" jdbcType="VARCHAR" />

        <result column="change_date" property="changeDate" jdbcType="VARCHAR" />
        <result column="operator_type" property="operatorType" jdbcType="VARCHAR" />
        <result column="operator_user" property="operatorUser" jdbcType="VARCHAR" />
        <result column="request_date" property="requestDate" jdbcType="DATE" />

        <result column="before_cst_lo_natl_std_idy" property="beforeCstLoNatlStdIdy" jdbcType="VARCHAR" />
        <result column="BEFORE_OVRS_CST_CHIN_NM" property="beforeOvrsCstChinNm" jdbcType="VARCHAR" />
        <result column="BEFORE_SWIFTNO" property="beforeSwiftno" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectChangeDate" resultMap="BaseResultMap" parameterType="com.hand.hls.ecif.dto.HlsCusBpMasterRequestRecords">
        select max(t1.request_time) change_date
        from sys_if_invoke_outbound t1, sys_if_config_line_b t2
        where t1.line_id = t2.line_id
        and t1.request_status = 'success'
        and t2.enable_flag = 'Y'
        and t2.line_code = 'ECIF_CHANGE_QUERY'

    </select>

    <select id="selectByOutboundId" resultMap="BaseResultMap" parameterType="com.hand.hls.ecif.dto.HlsCusBpMasterRequestRecords">
        select
        t.bp_record_id,
        t.oprtn_ind,
        t.cst_no,
        t.cst_nm_s,
        t.ident_no,
        t.inst_ident_tp,
        t.unifd_socl_crdt_cd,
        t.cst_tp,
        t.ovrs_cst_chin_nm,
        t.rgstrtn_cty_and_dstc_cd,
        t.maincorprtnactvctyordstccd,
        t.cst_lo_natl_std_idy,
        t.swiftno,
        t.entp_atch_rltnp,
        t.ecnm_tp,
        t.lgl_rprs_nm,
        t.corprtn_scop1,
        t.crdt_cst_flg,
        t.org_cust_type,
        t.business_date
        from  ws_bp_master_request_records t,ws_document_record_list t1
        WHERE t.bp_record_id=t1.source_id
        and t1.source_table='WS_BP_MASTER_REQUEST_RECORDS'
        <if test="outboundId!=null">
            and t1.outbound_id = #{outboundId}
        </if>
    </select>


    <select id="selectByOutboundIdAndBpId" resultMap="BaseResultMap" parameterType="com.hand.hls.ecif.dto.HlsCusBpMasterRequestRecords">
        select
        t.bp_record_id,
        h.bp_id,
        case when h.customer_number is not null then
        '2'
        else
        '1' end oprtn_ind,--操作标识
        h.customer_number as cst_no,--总行客户号
        h.bp_name as cst_nm_s,--客户名称
        (select v.ATTRIBUTE1 from sys_code_value_b_v v where v.CODE='BP.REGISTRATION_NUM_TYPE' and v.code_value=h.registration_num_type)as inst_ident_tp,--机构证件类型
        h.register_cert_num as ident_no,--证件号码
        case when h.registration_num_type='07' then
        h.register_cert_num
        else
        null
        end unifd_socl_crdt_cd,--统一社会信用代码
        (select v.ATTRIBUTE1 from sys_code_value_b_v v where v.CODE='HLS.CUSTOMER_TYPE' and v.code_value=h.head_office_bp_type)as cst_tp,--客户类型
        h.overseas_customer_name as ovrs_cst_chin_nm,--境外客户中文名称
        (select fc.digital_code from hls_bp_master_address hd,fnd_country fc where hd.bp_id=h.bp_id and hd.address_type='REGISTERED_ADDRESS' and fc.country=hd.country)rgstrtn_cty_and_dstc_cd,--国家和地区代码
        (select fc.digital_code from fnd_country fc where  fc.country=h.business_area)maincorprtnactvctyordstccd,--主要经营活动所在国家/地区
        (select hsc.class_code from  hls_stat_class hsc where hsc.class_id=h.economic_indu_classify)as cst_lo_natl_std_idy, --客户所属国标行业
        h.swift as swiftno,--SWIFT BIC
        h.enterprise_affiliation as entp_atch_rltnp,--企业隶属关系
        (select v.ATTRIBUTE1 from sys_code_value_b_v v where v.CODE='ZX_ECONOMICTYPE' and v.code_value=h.bp_financial_type)as ecnm_tp,--经济类型
        h.legal_person as lgl_rprs_nm,--法定代表人/经营者名称
        h.business_scope as corprtn_scop1,--经营范围
        case when nvl(h.credit_customer,'N')='Y' then
        '1'
        else
        '0' end crdt_cst_flg,--信用客户标志
        h.bp_type as org_cust_type,--机构客户类型
        h.is_first_success,
        (select su.description from sys_user su where su.user_id=h.created_by)operator,
        h.last_update_date  update_date,
        (select su.description from sys_user su where su.user_id=h.last_updated_by)last_updated_te,
        'H00A98核心' as update_source,
        'H00A98核心' as data_source,
        h.creation_date ecif_create_date
        from hls_bp_master h,ws_bp_master_request_records t,ws_document_record_list t1
        where
        t.bp_record_id=t1.source_id
        and t1.source_table='WS_BP_MASTER_REQUEST_RECORDS'
        and h.bp_id=t.bp_id
        <if test="outboundId!=null">
            and t1.outbound_id = #{outboundId}
        </if>
    </select>



    <select id="selectByBpId" resultMap="BaseResultMap" parameterType="com.hand.hls.ecif.dto.HlsCusBpMasterRequestRecords">
    select
    h.bp_id,
    case when h.customer_number is not null then
    '2'
    else
    '1' end oprtn_ind,--操作标识
    h.customer_number as cst_no,--总行客户号
    h.bp_name as cst_nm_s,--客户名称
    (select v.ATTRIBUTE1 from sys_code_value_b_v v where v.CODE='BP.REGISTRATION_NUM_TYPE' and v.code_value=h.registration_num_type)as inst_ident_tp,--机构证件类型
    h.register_cert_num as ident_no,--证件号码
    case when h.registration_num_type='07' then
    h.register_cert_num
    else
    null
    end unifd_socl_crdt_cd,--统一社会信用代码
    (select v.ATTRIBUTE1 from sys_code_value_b_v v where v.CODE='HLS.CUSTOMER_TYPE' and v.code_value=h.head_office_bp_type)as cst_tp,--客户类型
    h.overseas_customer_name as ovrs_cst_chin_nm,--境外客户中文名称
    (select fc.digital_code from hls_bp_master_address hd,fnd_country fc where hd.bp_id=h.bp_id and hd.address_type='REGISTERED_ADDRESS' and fc.country=hd.country)rgstrtn_cty_and_dstc_cd,--国家和地区代码
    (select fc.digital_code from fnd_country fc where  fc.country=h.business_area)maincorprtnactvctyordstccd,--主要经营活动所在国家/地区
    (select hsc.class_code from  hls_stat_class hsc where hsc.class_id=h.economic_indu_classify)as cst_lo_natl_std_idy, --客户所属国标行业
    h.swift as swiftno,--SWIFT BIC
    h.enterprise_affiliation as entp_atch_rltnp,--企业隶属关系
    (select v.ATTRIBUTE1 from sys_code_value_b_v v where v.CODE='ZX_ECONOMICTYPE' and v.code_value=h.bp_financial_type)as ecnm_tp,--经济类型
    h.legal_person as lgl_rprs_nm,--法定代表人/经营者名称
    h.business_scope as corprtn_scop1,--经营范围
    case when nvl(h.credit_customer,'N')='Y' then
    '1'
    else
    '0' end crdt_cst_flg,--信用客户标志
    h.bp_type as org_cust_type,--机构客户类型
    h.is_first_success,
    (select su.description from sys_user su where su.user_id=h.created_by)operator,
    h.last_update_date   update_date,
    (select su.description from sys_user su where su.user_id=h.last_updated_by)last_updated_te,
    'H00A98核心' as update_source,
    'H00A98核心' as data_source,
    h.creation_date ecif_create_date
    from hls_bp_master h
    where
    1=1
    <if test="bpId!=null">
        and h.bp_id = #{bpId}
    </if>

</select>


    <select id="getDataByReturnToBusinessData" resultMap="BaseResultMap" parameterType="com.hand.hls.ecif.dto.HlsCusBpMasterRequestRecords">
        select wb.cst_no,
        wb.cst_nm_s,
        wb.ident_no,
        wb.inst_ident_tp, --

        case when wb.inst_ident_tp='1' THEN
        '07'
        ELSE
        (select v.code_value
        from sys_code_value_b_v v
        where v.CODE = 'BP.REGISTRATION_NUM_TYPE'
        and v.attribute1 = wb.inst_ident_tp)
        end  inst_ident_tp_c, --机构证件类型

        case when  wb.inst_ident_tp='1' THEN
        '统一社会信用代码'
        else
        (select v.meaning
        from sys_code_value_b_v v
        where v.CODE = 'BP.REGISTRATION_NUM_TYPE'
        and v.attribute1 = wb.inst_ident_tp)
        end
        inst_ident_tp_n, --机构证件类型

        wb.unifd_socl_crdt_cd, --
        (select h.bp_id from hls_bp_master h where h.registration_num_type=wb.inst_ident_tp and h.register_cert_num=wb.ident_no and rownum=1)bp_id,
        wb.cst_tp, --
        (select v.code_value
        from sys_code_value_b_v v
        where v.CODE = 'HLS.CUSTOMER_TYPE'
        and v.attribute1 = wb.cst_tp) as cst_tp_c, --客户类型
        (select v.meaning
        from sys_code_value_b_v v
        where v.CODE = 'HLS.CUSTOMER_TYPE'
        and v.attribute1 = wb.cst_tp) as cst_tp_n, --客户类型
        wb.ovrs_cst_chin_nm,

        (select h.overseas_customer_name from hls_bp_master h where h.customer_number=wb.cst_no and rownum=1) before_ovrs_cst_chin_nm,

        wb.rgstrtn_cty_and_dstc_cd,
        (select fc.country
        from fnd_country fc
        where fc.digital_code = wb.rgstrtn_cty_and_dstc_cd) rgstrtn_cty_and_dstc_cd_c, --国家和地区代码
        (select fc.country_name
        from fnd_country fc
        where fc.digital_code = wb.rgstrtn_cty_and_dstc_cd) rgstrtn_cty_and_dstc_cd_n, --国家和地区代码
        wb.maincorprtnactvctyordstccd, --
        (select fc.country
        from fnd_country fc
        where fc.digital_code = wb.maincorprtnactvctyordstccd) maincorprtnactvctyordstccd_c, --主要经营活动所在国家/地区
        (select fc.country_name
        from fnd_country fc
        where fc.digital_code = wb.maincorprtnactvctyordstccd) maincorprtnactvctyordstccd_n, --主要经营活动所在国家/地区
        wb.cst_lo_natl_std_idy,

        (select hsc.class_id from  hls_stat_class hsc where hsc.class_code=wb.cst_lo_natl_std_idy)cst_lo_natl_std_idy_c, --客户所属国标行业
        (select hsc.description from  hls_stat_class hsc where hsc.class_code=wb.cst_lo_natl_std_idy)cst_lo_natl_std_idy_n, --客户所属国标行业

        (select h.economic_indu_classify from hls_bp_master h where h.customer_number=wb.cst_noand rownum=1) before_cst_lo_natl_std_idy,

        wb.swiftno,
        (select h.swift from hls_bp_master h where h.customer_number=wb.cst_no and rownum=1) before_swiftno,

        wb.entp_atch_rltnp,
        wb.entp_atch_rltnp as entp_atch_rltnp_c, --企业隶属关系
        (select v.MEANING
        from sys_code_value_b_v v
        where v.CODE = 'HLS.ENTERPRISE_AFFILIATION'
        and v.code_value = wb.entp_atch_rltnp) as entp_atch_rltnp_n, --企业隶属关系
        wb.ecnm_tp,
        (select v.code_value
        from sys_code_value_b_v v
        where v.CODE = 'ZX_ECONOMICTYPE'
        and v.ATTRIBUTE1 = wb.ecnm_tp) as ecnm_tp_c, --经济类型
        (select v.MEANING
        from sys_code_value_b_v v
        where v.CODE = 'ZX_ECONOMICTYPE'
        and v.ATTRIBUTE1 = wb.ecnm_tp) as ecnm_tp_n, --经济类型

        wb.lgl_rprs_nm,
        wb.corprtn_scop1,
        wb.crdt_cst_flg, --
        case
        when wb.crdt_cst_flg = '1' then
        'Y'
        else
        'N'
        end crdt_cst_flg_c, --信用客户标志
        case
        when wb.crdt_cst_flg = '1' then
        '是'
        else
        '否'
        end crdt_cst_flg_n, --信用客户标志

        wb.org_cust_type, --
        wb.org_cust_type as org_cust_type_c,
        (select hbt.description
        from hls_bp_type hbt
        where hbt.bp_type = wb.org_cust_type) org_cust_type_n,
        wb.business_date
        from ws_bp_master_request_records wb

        where 1=1
        <if test="bpRecordId!=null">
            and wb.bp_record_id = #{bpRecordId}
        </if>
    </select>



    <select id="selectByProjectId" resultMap="BaseResultMap" parameterType="com.hand.hls.ecif.dto.HlsCusBpMasterRequestRecords">
        select
        h.bp_id,
        case when h.customer_number is not null then
        '2'
        else
        '1'
        end oprtn_ind, --操作标识
        h.customer_number as cst_no, --总行客户号
        h.bp_name as cst_nm_s, --客户名称
        (select v.ATTRIBUTE1 from sys_code_value_b_v v where v.CODE='BP.REGISTRATION_NUM_TYPE' and v.code_value=h.registration_num_type)as inst_ident_tp,--机构证件类型
        h.register_cert_num as ident_no, --证件号码
        case
        when h.registration_num_type = '07' then
        h.register_cert_num
        else
        null
        end unifd_socl_crdt_cd, --统一社会信用代码
        (select v.ATTRIBUTE1
        from sys_code_value_b_v v
        where v.CODE = 'HLS.CUSTOMER_TYPE'
        and v.code_value = h.head_office_bp_type) as cst_tp, --客户类型
        h.overseas_customer_name as ovrs_cst_chin_nm, --境外客户中文名称
        (select fc.digital_code
        from hls_bp_master_address hd, fnd_country fc
        where hd.bp_id = h.bp_id
        and hd.address_type = 'REGISTERED_ADDRESS'
        and fc.country = hd.country) rgstrtn_cty_and_dstc_cd, --国家和地区代码
        (select fc.digital_code from fnd_country fc where  fc.country=h.business_area)maincorprtnactvctyordstccd,--主要经营活动所在国家/地区
        (select hsc.class_code from  hls_stat_class hsc where hsc.class_id=h.economic_indu_classify)as cst_lo_natl_std_idy, --客户所属国标行业
        h.swift as swiftno, --SWIFT BIC
        h.enterprise_affiliation as entp_atch_rltnp, --企业隶属关系
        (select v.ATTRIBUTE1
        from sys_code_value_b_v v
        where v.CODE = 'ZX_ECONOMICTYPE'
        and v.code_value = h.bp_financial_type) as ecnm_tp, --经济类型
        h.legal_person as lgl_rprs_nm, --法定代表人/经营者名称
        h.business_scope as corprtn_scop1, --经营范围
        case
        when h.credit_customer = 'Y' then
        '1'
        else
        '0'
        end crdt_cst_flg, --信用客户标志
        h.bp_type as org_cust_type, --机构客户类型
        h.is_first_success,
        (select su.description from sys_user su where su.user_id=h.created_by)operator,
        h.last_update_date update_date,
        (select su.description from sys_user su where su.user_id=h.last_updated_by)last_updated_te,
        'H00A98核心' as update_source,
        'H00A98核心' as data_source,
        h.creation_date  ecif_create_date
        from prj_project_bp t1, hls_bp_master h
        where t1.bp_id = h.bp_id
        and t1.bp_categroy = 'PRJ_PROJECT'
        and t1.bp_type in ('TENANT_SEC', 'TENANT', 'WARRANTOR')
        and h.bp_class = 'ORG'
        and nvl(h.is_first_success,'N')='N'
        <if test="projectId!=null">
            and t1.project_id = #{projectId}
        </if>

    </select>



    <select id="selectByCstNo" resultMap="BaseResultMap" parameterType="com.hand.hls.ecif.dto.HlsCusBpMasterRequestRecords">
        select
        h.bp_id,
        h.customer_number as cst_no,--总行客户号
        h.bp_name as cst_nm_s,--客户名称
        nvl((select v.ATTRIBUTE1 from sys_code_value_b_v v where v.CODE='BP.REGISTRATION_NUM_TYPE' and v.code_value=h.registration_num_type),'null')as inst_ident_tp,--机构证件类型
        nvl(h.register_cert_num,'null') as ident_no,--证件号码
        nvl(case when h.registration_num_type='07' then
        h.register_cert_num
        else
        null
        end,'null') unifd_socl_crdt_cd,--统一社会信用代码
        nvl((select v.ATTRIBUTE1 from sys_code_value_b_v v where v.CODE='HLS.CUSTOMER_TYPE' and v.code_value=h.head_office_bp_type),'null')as cst_tp,--客户类型
        nvl((select fc.digital_code from hls_bp_master_address hd,fnd_country fc where hd.bp_id=h.bp_id and hd.address_type='REGISTERED_ADDRESS' and fc.country=hd.country),'null')rgstrtn_cty_and_dstc_cd,--国家和地区代码
        nvl((select fc.digital_code from fnd_country fc where  fc.country=h.business_area),'null')maincorprtnactvctyordstccd,--主要经营活动所在国家/地区

        nvl(h.enterprise_affiliation,'null') as entp_atch_rltnp,--企业隶属关系
        nvl((select v.ATTRIBUTE1 from sys_code_value_b_v v where v.CODE='ZX_ECONOMICTYPE' and v.code_value=h.bp_financial_type),'null')as ecnm_tp,--经济类型
        nvl(h.legal_person,'null') as lgl_rprs_nm,--法定代表人/经营者名称
        nvl(h.business_scope,'null') as corprtn_scop1,--经营范围
        case when nvl(h.credit_customer,'N')='Y' then
        '1'
        else
        '0' end crdt_cst_flg,--信用客户标志
        h.is_first_success
        from hls_bp_master h
        where
        1=1
        <if test="cstNo!=null">
            and h.customer_number = #{cstNo}
        </if>



    </select>
</mapper>