<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.ecif.mapper.HlsCusEcifBpMasterChangeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.ecif.dto.HlsCusEcifBpMasterChange">
        <result column="ECIF_CHANGE_ID" property="ecifChangeId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="OPRTN_IND" property="oprtnInd" jdbcType="VARCHAR" />
        <result column="CST_NO" property="cstNo" jdbcType="VARCHAR" />
        <result column="CST_NM_S" property="cstNmS" jdbcType="VARCHAR" />
        <result column="IDENT_NO" property="identNo" jdbcType="VARCHAR" />
        <result column="INST_IDENT_TP" property="instIdentTp" jdbcType="VARCHAR" />
        <result column="UNIFD_SOCL_CRDT_CD" property="unifdSoclCrdtCd" jdbcType="VARCHAR" />
        <result column="CST_TP" property="cstTp" jdbcType="VARCHAR" />
        <result column="OVRS_CST_CHIN_NM" property="ovrsCstChinNm" jdbcType="VARCHAR" />
        <result column="RGSTRTN_CTY_AND_DSTC_CD" property="rgstrtnCtyAndDstcCd" jdbcType="VARCHAR" />
        <result column="MAINCORPRTNACTVCTYORDSTCCD" property="maincorprtnactvctyordstccd" jdbcType="VARCHAR" />
        <result column="CST_LO_NATL_STD_IDY" property="cstLoNatlStdIdy" jdbcType="VARCHAR" />
        <result column="SWIFTNO" property="swiftno" jdbcType="VARCHAR" />
        <result column="ENTP_ATCH_RLTNP" property="entpAtchRltnp" jdbcType="VARCHAR" />
        <result column="ECNM_TP" property="ecnmTp" jdbcType="VARCHAR" />
        <result column="LGL_RPRS_NM" property="lglRprsNm" jdbcType="VARCHAR" />
        <result column="CORPRTN_SCOP1" property="corprtnScop1" jdbcType="VARCHAR" />
        <result column="CRDT_CST_FLG" property="crdtCstFlg" jdbcType="VARCHAR" />
        <result column="ORG_CUST_TYPE" property="orgCustType" jdbcType="VARCHAR" />
        <result column="BUSINESS_DATE" property="businessDate" jdbcType="VARCHAR" />
        <result column="SUBMIT_USER_ID" property="submitUserId" jdbcType="DECIMAL" />
        <result column="SUBMIT_DATE" property="submitDate" jdbcType="DATE" />
        <result column="WFL_STATUS" property="wflStatus" jdbcType="VARCHAR" />
        <result column="WFL_INSTANCE_ID" property="wflInstanceId" jdbcType="DECIMAL" />
        <result column="CHANGE_NUMBER" property="changeNumber" jdbcType="VARCHAR" />

        <result column="inst_ident_tp_n" property="instIdentTpN" jdbcType="VARCHAR" />
        <result column="cst_tp_n" property="cstTpN" jdbcType="VARCHAR" />
        <result column="rgstrtn_cty_and_dstc_cd_n" property="rgstrtnCtyAndDstcCdN" jdbcType="VARCHAR" />
        <result column="maincorprtnactvctyordstccd_n" property="maincorprtnactvctyordstccdN" jdbcType="VARCHAR" />
        <result column="cst_lo_natl_std_idy_n" property="cstLoNatlStdIdyN" jdbcType="VARCHAR" />
        <result column="entp_atch_rltnp_n" property="entpAtchRltnpN" jdbcType="VARCHAR" />
        <result column="ecnm_tp_n" property="ecnmTpN" jdbcType="VARCHAR" />
        <result column="crdt_cst_flg_n" property="crdtCstFlgN" jdbcType="VARCHAR" />
        <result column="org_cust_type_n" property="orgCustTypeN" jdbcType="VARCHAR" />

        <result column="submit_user_id_n" property="submitUserIdN" jdbcType="VARCHAR" />
        <result column="wfl_status_n" property="wflStatusN" jdbcType="VARCHAR" />
        <result column="msg" property="msg" jdbcType="VARCHAR" />
        <result column="operator_user" property="operatorUser" jdbcType="VARCHAR" />

        <result column="before_cst_no" property="beforeCstNo" jdbcType="VARCHAR" />
        <result column="before_cst_nm_s" property="beforeCstNmS" jdbcType="VARCHAR" />
        <result column="before_ident_no" property="beforeIdentNo" jdbcType="VARCHAR" />
        <result column="before_inst_ident_tp" property="beforeInstIdentTp" jdbcType="VARCHAR" />
        <result column="before_unifd_socl_crdt_cd" property="beforeUnifdSoclCrdtCd" jdbcType="VARCHAR" />
        <result column="before_cst_tp" property="beforeCstTp" jdbcType="VARCHAR" />
        <result column="before_ovrs_cst_chin_nm" property="beforeOvrsCstChinNm" jdbcType="VARCHAR" />
        <result column="before_rgstrtn_cty_and_dstc_cd" property="beforeRgstrtnCtyAndDstcCd" jdbcType="VARCHAR" />
        <result column="b_maincorprtnactvctyordstccd" property="bMaincorprtnactvctyordstccd" jdbcType="VARCHAR" />
        <result column="before_cst_lo_natl_std_idy" property="beforeCstLoNatlStdIdy" jdbcType="VARCHAR" />
        <result column="before_swiftno" property="beforeSwiftno" jdbcType="VARCHAR" />
        <result column="before_entp_atch_rltnp" property="beforeEntpAtchRltnp" jdbcType="VARCHAR" />
        <result column="before_ecnm_tp" property="beforeEcnmTp" jdbcType="VARCHAR" />
        <result column="before_lgl_rprs_nm" property="beforeLglRprsNm" jdbcType="VARCHAR" />
        <result column="before_corprtn_scop1" property="beforeCorprtnScop1" jdbcType="VARCHAR" />
        <result column="before_crdt_cst_flg" property="beforeCrdtCstFlg" jdbcType="VARCHAR" />
        <result column="before_ecif_change_id" property="beforeEcifChangeId" jdbcType="VARCHAR" />

    </resultMap>


    <select id="selectByEcifChangeId" resultMap="BaseResultMap" parameterType="com.hand.hls.ecif.dto.HlsCusEcifBpMasterChange">
        <![CDATA[
        select t3.*,
        (select t4.cst_no from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_cst_no,
        (select t4.cst_nm_s from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_cst_nm_s,
        (select t4.ident_no from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_ident_no,
        (select t4.inst_ident_tp from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_inst_ident_tp,
        (select t4.unifd_socl_crdt_cd from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_unifd_socl_crdt_cd,
        (select t4.cst_tp from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_cst_tp,
        (select t4.ovrs_cst_chin_nm from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_ovrs_cst_chin_nm,
        (select t4.rgstrtn_cty_and_dstc_cd from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_rgstrtn_cty_and_dstc_cd,
        (select t4.maincorprtnactvctyordstccd from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)b_maincorprtnactvctyordstccd,
        (select t4.cst_lo_natl_std_idy from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_cst_lo_natl_std_idy,
        (select t4.swiftno from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_swiftno,
        (select t4.entp_atch_rltnp from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_entp_atch_rltnp,
        (select t4.ecnm_tp from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_ecnm_tp,
        (select t4.lgl_rprs_nm from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_lgl_rprs_nm,
        (select t4.corprtn_scop1 from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_corprtn_scop1,
        (select t4.crdt_cst_flg from ws_ecif_bp_master_change t4 where t4.ecif_change_id=t3.before_ecif_change_id)before_crdt_cst_flg

        from
        (select t.ecif_change_id,
        t.bp_id,
        t.oprtn_ind,
        t.cst_no,
        t.cst_nm_s,
        t.ident_no,
        t.inst_ident_tp,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'BP.REGISTRATION_NUM_TYPE'
        AND v.code_value = t.inst_ident_tp) inst_ident_tp_n,
        t.unifd_socl_crdt_cd,
        t.cst_tp,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'HLS.CUSTOMER_TYPE'
        AND v.code_value = t.cst_tp) cst_tp_n,
        t.ovrs_cst_chin_nm,
        t.rgstrtn_cty_and_dstc_cd,
        (select fc.country_name
        from fnd_country fc
        where fc.country = t.rgstrtn_cty_and_dstc_cd) rgstrtn_cty_and_dstc_cd_n,
        t.maincorprtnactvctyordstccd,
        (select fc.country_name
        from fnd_country fc
        where fc.country = t.maincorprtnactvctyordstccd) maincorprtnactvctyordstccd_n,
        t.cst_lo_natl_std_idy,
        (select hsc.description
        from hls_stat_class hsc
        where hsc.class_id = t.cst_lo_natl_std_idy) cst_lo_natl_std_idy_n,
        t.swiftno,
        t.entp_atch_rltnp,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'HLS.ENTERPRISE_AFFILIATION'
        AND v.code_value = t.entp_atch_rltnp) entp_atch_rltnp_n,
        t.ecnm_tp,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'ZX_ECONOMICTYPE'
        AND v.code_value = t.ecnm_tp) ecnm_tp_n,
        t.lgl_rprs_nm,
        t.corprtn_scop1,
        t.crdt_cst_flg,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'SYS.YES_NO'
        AND v.code_value = t.crdt_cst_flg) crdt_cst_flg_n,
        t.org_cust_type,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v. CODE = 'BP.BP_MASTER_ROLE'
        AND v.code_value = t.org_cust_type) org_cust_type_n,
        t.business_date,
        t.submit_user_id,
        t.submit_date,
        t.wfl_status,
        nvl(t.operator_user,
        (select su.description
        from sys_user su
        where su.user_id = t.submit_user_id)) submit_user_id_n,
        t.operator_user,
        (select hd.description
        from hls_document_status hd
        where hd.document_category = 'BP_ECIF_CHANGE'
        and hd.status_code = t.wfl_status) wfl_status_n,
        t.wfl_instance_id,
        t.change_number,
        t.msg,
        (select max(t1.ecif_change_id) from ws_ecif_bp_master_change t1 where t1.bp_id=t.bp_id and t1.ecif_change_id<t.ecif_change_id and t1.wfl_status='APPROVED')before_ecif_change_id
        from ws_ecif_bp_master_change t) t3
         ]]>
        WHERE 1=1
        <if test="ecifChangeId!=null">
            and t3.ecif_change_id = #{ecifChangeId}
        </if>

    </select>




    <select id="selectChangeInfoByBpId" resultMap="BaseResultMap" parameterType="com.hand.hls.ecif.dto.HlsCusEcifBpMasterChange">
        select
        h.bp_id,
        case when h.customer_number is not null then
        '2'
        else
        '1' end oprtn_ind,--操作标识
        h.customer_number as cst_no,--总行客户号
        h.bp_name as cst_nm_s,--客户名称
        h.registration_num_type as inst_ident_tp,--机构证件类型
        h.register_cert_num as ident_no,--证件号码
        case when h.registration_num_type='07' then
        h.register_cert_num
        else
        null
        end unifd_socl_crdt_cd,--统一社会信用代码
        h.head_office_bp_type cst_tp,--客户类型
        h.overseas_customer_name as ovrs_cst_chin_nm,--境外客户中文名称
        (select hd.country from hls_bp_master_address hd where hd.bp_id=h.bp_id and hd.address_type='REGISTERED_ADDRESS')rgstrtn_cty_and_dstc_cd,--国家和地区代码
        h.business_area as maincorprtnactvctyordstccd,--主要经营活动所在国家/地区
        h.economic_indu_classify as cst_lo_natl_std_idy,--客户所属国标行业
        h.swift as swiftno,--SWIFT BIC
        h.enterprise_affiliation as entp_atch_rltnp,--企业隶属关系
        h.bp_financial_type as ecnm_tp,--经济类型
        h.legal_person as lgl_rprs_nm,--法定代表人/经营者名称
        h.business_scope as corprtn_scop1,--经营范围
        nvl(h.credit_customer,'N') as crdt_cst_flg,--信用客户标志
        h.bp_type as org_cust_type--机构客户类型
        from hls_bp_master h
        where
        1=1
        <if test="bpId!=null">
            and h.bp_id = #{bpId}
        </if>
    </select>



    <select id="selectChangeApprovedReturn" resultMap="BaseResultMap" parameterType="com.hand.hls.ecif.dto.HlsCusEcifBpMasterChange">
        select
        t.ecif_change_id,
        t.bp_id,
        t.oprtn_ind,
        t.cst_no,
        t.cst_nm_s,
        t.ident_no,
        t.inst_ident_tp,
        t.unifd_socl_crdt_cd,
        t.cst_tp,
        t.ovrs_cst_chin_nm,
        t.rgstrtn_cty_and_dstc_cd,
        t.maincorprtnactvctyordstccd,
        t.cst_lo_natl_std_idy,
        t.swiftno,
        t.entp_atch_rltnp,
        t.ecnm_tp,
        t.lgl_rprs_nm,
        t.corprtn_scop1,
        t.crdt_cst_flg,
        t.org_cust_type,
        t.business_date,
        t.submit_user_id,
        t.submit_date,
        t.wfl_status,
        t.wfl_instance_id,
        t.change_number
        from  ws_ecif_bp_master_change t
        WHERE 1=1
        <if test="bpId!=null">
            and t.bp_id= #{bpId}
        </if>
        <if test="wflStatus!=null">
            and t.wfl_status in ('APPROVED_RETURN','NEW')
        </if>
    </select>


    <select id="selectByEcifHistory" resultMap="BaseResultMap" parameterType="com.hand.hls.ecif.dto.HlsCusEcifBpMasterChange">
        select
        t.ecif_change_id,
        t.bp_id,
        t.oprtn_ind,
        t.cst_no,
        t.cst_nm_s,
        t.ident_no,
        t.inst_ident_tp,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'BP.REGISTRATION_NUM_TYPE'
        AND v.code_value = t.inst_ident_tp
        ) inst_ident_tp_n,
        t.unifd_socl_crdt_cd,
        t.cst_tp,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'HLS.CUSTOMER_TYPE'
        AND v.code_value = t.cst_tp
        ) cst_tp_n,
        t.ovrs_cst_chin_nm,
        t.rgstrtn_cty_and_dstc_cd,
        (select fc.country_name from fnd_country fc where fc.country=t.rgstrtn_cty_and_dstc_cd)rgstrtn_cty_and_dstc_cd_n,
        t.maincorprtnactvctyordstccd,
        (select fc.country_name from fnd_country fc where fc.country=t.maincorprtnactvctyordstccd)maincorprtnactvctyordstccd_n,
        t.cst_lo_natl_std_idy,
        (select hsc.description from hls_stat_class hsc where hsc.class_id=t.cst_lo_natl_std_idy)cst_lo_natl_std_idy_n,
        t.swiftno,
        t.entp_atch_rltnp,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'HLS.ENTERPRISE_AFFILIATION'
        AND v.code_value = t.entp_atch_rltnp
        ) entp_atch_rltnp_n,
        t.ecnm_tp,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'ZX_ECONOMICTYPE'
        AND v.code_value = t.ecnm_tp
        ) ecnm_tp_n,
        t.lgl_rprs_nm,
        t.corprtn_scop1,
        t.crdt_cst_flg,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'SYS.YES_NO'
        AND v.code_value = t.crdt_cst_flg
        ) crdt_cst_flg_n,
        t.org_cust_type,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'BP.BP_MASTER_ROLE'
        AND v.code_value = t.org_cust_type
        ) org_cust_type_n,
        t.business_date,
        t.submit_user_id,
        nvl(t.operator_user,(select su.description from sys_user su,hls_bp_master h where su.user_id=h.created_by and h.bp_id=t.bp_id))submit_user_id_n,
        t.submit_date,
        t.wfl_status,
        (select hd.description from hls_document_status hd where hd.document_category='BP_ECIF_CHANGE' and hd.status_code=t.wfl_status)wfl_status_n,
        t.wfl_instance_id,
        t.change_number,
        t.msg
        from  ws_ecif_bp_master_change t
        WHERE 1=1
        <if test="bpId!=null">
            and t.bp_id = #{bpId}
        </if>
        order by t.ecif_change_id desc
    </select>
</mapper>