<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusLonContractPurposeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusLonContractPurpose">
        <result column="purpose_id" property="purposeId" jdbcType="DECIMAL" />
        <result column="contract_id" property="contractId" jdbcType="DECIMAL" />
        <result column="purpose_doc_category" property="purposeDocCategory" jdbcType="VARCHAR" />
        <result column="purpose_doc_id" property="purposeDocId" jdbcType="DECIMAL" />
        <result column="purpose_amount" property="purposeAmount" jdbcType="DECIMAL" />
        <result column="financing_amount" property="financingAmount" jdbcType="DECIMAL" />
        <result column="own_capital" property="ownCapital" jdbcType="DECIMAL" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="withdraw_id" property="withdrawId" jdbcType="DECIMAL" />
        <result column="data_type" property="dataType" jdbcType="VARCHAR" />
        <result column="purpose_type" property="purposeType" jdbcType="VARCHAR" />
        <result column="lon_company_id" property="lonCompanyId" jdbcType="DECIMAL" />
        <result column="purpose_doc_number" property="purposeDocNumber" jdbcType="VARCHAR" />
        <result column="purpose_doc_name" property="purposeDocName" jdbcType="VARCHAR" />
        <result column="sal_bp_name" property="salBpName" jdbcType="VARCHAR" />
        <result column="buy_bp_name" property="buyBpName" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="lonContractPurposeSelectContractMap" type="com.hand.hls.cont.dto.HlsCusConContract">
        <result column="contract_id" property="contractId"/>
        <result column="contract_name" property="contractName"/>
        <result column="contract_number" property="contractNumber"/>
        <result column="document_category" property="documentCategory"/>
        <result column="finance_amount" property="financeAmount"/>
        <result column="bp_name" property="bpName"/>
        <result column="unreceived_principal" property="unreceivedPrincipal"/>
        <result column="unreceived_interest" property="unreceivedInterest"/>
        <result column="approval_number" property="approvalNumber"/>
        <result column="sal_bp_name" property="salBpName"/>
        <result column="buy_bp_name" property="buyBpName"/>
    </resultMap>

    <select id="lonContractPurposeSelectContract" resultMap="lonContractPurposeSelectContractMap">
        select * from (select cc.contract_id,
        cc.contract_name,
        cc.contract_number,
        pp.approval_number,
        cc.finance_amount,
        cc.contract_status,
        (select hbm.bp_name
        from hls_bp_master hbm
        where hbm.bp_id = cc.tenant_id) bp_name,
        'CON_CONTRACT' document_category,
        (select sum(ccc.principal-ccc.received_principal)
        from con_contract_cashflow ccc
        where ccc.contract_id = cc.contract_id
        and ccc.cf_item = 1
        and ccc.cf_status='RELEASE') unreceived_principal,
        (select sum(ccc.interest-ccc.received_interest)
        from con_contract_cashflow ccc
        where ccc.contract_id = cc.contract_id
        and ccc.cf_item = 1
        and ccc.cf_status='RELEASE') unreceived_interest,
        (
            select
                max(bm.bp_name)
            from
                prj_project_bp pb
            join
                hls_bp_master bm
            on
                pb.bp_id=bm.bp_id
            where
                pb.bp_categroy='CON_CONTRACT'
            and pb.bp_type='TENANT'
            and pb.project_id=cc.project_id) sal_bp_name,
        (
            select
                max(bm.bp_name)
            from
                prj_project_bp pb
            join
                hls_bp_master bm
            on
                pb.bp_id=bm.bp_id
            where
                pb.bp_categroy='CON_CONTRACT'
            and pb.bp_type='TENANT_SEC'
            and pb.project_id=cc.project_id) buy_bp_name
        from con_contract cc,prj_project pp
        where cc.data_class = 'NORMAL'
        and pp.project_id=cc.project_id
        and cc.contract_status not in ('CANCEL','TERMINATE')
        UNION
        select fc.contract_id,
        fc.contract_name,
        fc.contract_number,
        fc.approval_number,
        fc.finance_amount,
        fc.contract_status,
        (SELECT max(hbm.bp_name)
        FROM fct_project_bp fpb,
        hls_bp_master hbm
        WHERE fpb.project_id = fc.project_id
        AND hbm.bp_id = fpb.bp_id
        AND fpb.CREDIT_GRANTOR_PARTY = 'Y') bp_name,
         'FCT_CONTRACT' document_category,
        (select sum(fqc.due_amount-fqc.write_off_amount)
        from fct_quotation_cashflow fqc
        where fqc.contract_id = fc.contract_id
        and fqc.cf_item = 54
        and fqc.cf_status = 'RELEASE') unreceived_principal,
        (select sum(fqc.due_amount-fqc.write_off_amount)
        from fct_quotation_cashflow fqc
        where fqc.contract_id = fc.contract_id
        and fqc.cf_item in (55,56,57,58)
        and fqc.cf_status = 'RELEASE') unreceived_interest,
       (
            SELECT
                max(hbm.bp_name)
            FROM
                fct_project_bp fpb
            JOIN
                hls_bp_master hbm
            ON
                hbm.bp_id=fpb.bp_id
            WHERE
                fpb.bp_role_type='SELLER'
            AND fpb.project_id=fp.project_id) sal_bp_name,
        (
            SELECT
                max(hbm.bp_name)
            FROM
                fct_project_bp fpb
            JOIN
                hls_bp_master hbm
            ON
                hbm.bp_id=fpb.bp_id
            WHERE
                fpb.bp_role_type='BUYER'
            AND fpb.project_id=fp.project_id) buy_bp_name
        from fct_contract fc
        JOIN
            fct_project fp
        ON
            fc.project_id=fp.project_id
        where fc.data_class = 'NORMAL'
        and fc.contract_status not in ('CANCEL','END')) t1
        <where>
            1=1
            <if test="documentCategory!=null">
                and t1.document_category = #{documentCategory}
            </if>
            <if test="contractNumber!=null">
                and t1.contract_number LIKE CONCAT(CONCAT('%',#{contractNumber}),'%')
            </if>
              <if test="approvalNumber!=null">
                and t1.approval_number LIKE CONCAT(CONCAT('%',#{approvalNumber}),'%')
            </if>
            <if test="contractName!=null">
                and t1.contract_name LIKE CONCAT(CONCAT('%',#{contractName}),'%')
            </if>
            <if test="absFlag!=null">
                and t1.contract_status in ('INCEPT')
            </if>
        </where>
    </select>

    <select id="selectLonContractPur" parameterType="com.hand.hls.fin.dto.HlsCusLonContractPurpose" resultMap="BaseResultMap">
      SELECT
            lcp.purpose_id,
            lcp.contract_id,
            lcp.purpose_doc_category,
            lcp.purpose_doc_id,
            lcp.purpose_amount,
            lcp.financing_amount,
            lcp.own_capital,
            lcp.description,
            lcp.withdraw_id,
            lcp.data_type,
            lcp.purpose_type,
            lcp.lon_company_id,
            con.contract_name purpose_doc_name,
            con.contract_number,
            con.approval_number purpose_doc_number,
            con.sal_bp_name,
            con.buy_bp_name
        FROM
            lon_contract_purpose lcp
        LEFT JOIN
            (
                SELECT
                    cc.contract_id,
                    cc.contract_name,
                    cc.contract_number,
                    pp.approval_number,
                  (
                    select
                        max(bm.bp_name)
                    from
                        prj_project_bp pb
                    join
                        hls_bp_master bm
                    on
                        pb.bp_id=bm.bp_id
                    where
                        pb.bp_categroy='CON_CONTRACT'
                    and pb.bp_type='TENANT'
                    and pb.project_id=cc.project_id) sal_bp_name,
                (
                    select
                        max(bm.bp_name)
                    from
                        prj_project_bp pb
                    join
                        hls_bp_master bm
                    on
                        pb.bp_id=bm.bp_id
                    where
                        pb.bp_categroy='CON_CONTRACT'
                    and pb.bp_type='TENANT_SEC'
                    and pb.project_id=cc.project_id) buy_bp_name,
                    'CON_CONTRACT' document_category
                FROM
                    con_contract cc
                  join prj_project pp
                    on pp.project_id=cc.project_id
                WHERE
                    cc.data_class = 'NORMAL'
                UNION
                SELECT
                    fc.contract_id,
                    fc.contract_name,
                    fc.contract_number,
                    fc.approval_number,
                    (
                        SELECT
                            MAX(hbm.bp_name)
                        FROM
                            fct_project_bp fpb
                        JOIN
                            hls_bp_master hbm
                        ON
                            hbm.bp_id=fpb.bp_id
                        WHERE
                            fpb.bp_role_type='SELLER'
                        AND fpb.project_id=fp.project_id) sal_bp_name,
                    (
                        SELECT
                            MAX(hbm.bp_name)
                        FROM
                            fct_project_bp fpb
                        JOIN
                            hls_bp_master hbm
                        ON
                            hbm.bp_id=fpb.bp_id
                        WHERE
                            fpb.bp_role_type='BUYER'
                        AND fpb.project_id=fp.project_id) buy_bp_name,
                    'FCT_CONTRACT'                        document_category
                FROM
                    fct_contract fc
                JOIN
                    fct_project fp
                ON
                    fc.project_id=fp.project_id
                WHERE
                    fc.data_class = 'NORMAL'
                UNION
                SELECT
                    cc.contract_id,
                    cc.contract_name,
                    cc.contract_number,
                    cc.major_contract_number approval_number,
                    NULL                     sal_bp_name,
                    NULL                     buy_bp_name,
                    'LON_CONTRACT'           document_category
                FROM
                    lon_contract cc
                WHERE
                    cc.data_class = 'NORMAL' ) con
        ON
            con.contract_id=lcp.purpose_doc_id
        AND con.document_category=lcp.purpose_doc_category
        <where>
            1=1
                and lcp.withdraw_id = #{withdrawId}
        </where>
    </select>

    <select id="selectPurposeSum" resultType="java.lang.Double">
        select
           nvl(sum(lcp.financing_amount),0)
       from lon_contract_purpose lcp
       where lcp.withdraw_id=#{withdrawId}
    </select>
</mapper>