<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusLonConRepaymentBatchLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusLonConRepaymentBatchLn">
        <result column="batch_ln_id" property="batchLnId" jdbcType="DECIMAL" />
        <result column="batch_id" property="batchId" jdbcType="DECIMAL" />
        <result column="repayment_id" property="repaymentId" jdbcType="DECIMAL" />
        <result column="withdraw_id" property="withdrawId" jdbcType="DECIMAL" />
        <result column="contract_id" property="contractId" jdbcType="DECIMAL" />
        <result column="bank_branch_name" property="bankBranchName" jdbcType="VARCHAR" />
        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR" />
        <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR" />
        <result column="bp_id" property="bpId" jdbcType="VARCHAR" />
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR" />
        <result column="currency" property="currency" jdbcType="VARCHAR" />
        <result column="currency_n" property="currencyN" jdbcType="VARCHAR" />
        <result column="bank_account_id" property="bankAccountId" jdbcType="DECIMAL" />
    </resultMap>

    <resultMap id="selectlonConRepaymentRepByBatchLnMap" type="java.util.Map">
        <result column="batch_ln_id" property="batch_ln_id" />
        <result column="batch_id" property="batch_id"/>
        <result column="repayment_id" property="repayment_id" />
        <result column="withdraw_id" property="withdraw_id" />
        <result column="times" property="times" />
        <result column="cf_item" property="cf_item" />
        <result column="cf_type" property="cf_type" />
        <result column="cf_direction" property="cf_direction" />
        <result column="cf_status" property="cf_status" />
        <result column="planned_due_date" property="planned_due_date" />
        <result column="planned_due_amount" property="planned_due_amount" />
        <result column="due_date" property="due_date" />
        <result column="due_amount" property="due_amount" />
        <result column="write_off_flag" property="write_off_flag" />
        <result column="write_off_amount" property="write_off_amount" />
        <result column="interest_period_days" property="interest_period_days" />
        <result column="interest_accrual_balance" property="interest_accrual_balance" />
        <result column="relate_contract_id" property="relate_contract_id" />
        <result column="rent_due_date" property="rent_due_date" />
        <result column="rent_due_amount" property="rent_due_amount" />
        <result column="relate_contract_category" property="relate_contract_category" />
        <result column="group_id" property="group_id" />
        <result column="group_number" property="group_number" />
        <result column="exchange_rate" property="exchange_rate" />
        <result column="retain_amount" property="retain_amount" />
        <result column="is_system_flag" property="is_system_flag" />
        <result column="planned_calc_date" property="planned_calc_date" />
        <result column="received_bank_account_name" property="received_bank_account_name" />
        <result column="received_bp_name" property="received_bp_name" />
        <result column="cny_due_amount" property="cny_due_amount" />
        <result column="confirm_flag" property="confirm_flag" />
        <result column="received_bank_account_num" property="received_bank_account_num" />
        <result column="confirm_flag_n" property="confirm_flag_n" />
        <result column="cf_type_desc" property="cf_type_desc" />
        <result column="cf_item_desc" property="cf_item_desc" />
        <result column="cny_planned_due_amount" property="cny_planned_due_amount" />
        <result column="write_off_flag_desc" property="write_off_flag_desc" />
        <result column="remain_payback_amount" property="remain_payback_amount" />
        <result column="withdraw_number" property="withdraw_number" />
        <result column="currency" property="currency" />
        <result column="currency_n" property="currency_n" />
        <result column="credit_bp_id_n" property="credit_bp_id_n" />
        <result column="finance_amount" property="finance_amount" />
        <result column="document_type_n" property="document_type_n" />
        <result column="contract_loan_type_n" property="contract_loan_type_n" />
        <result column="contract_number" property="contract_number" />
        <result column="contract_id" property="contract_id" />
        <result column="repayment_date" property="repaymentDate" />
        <result column="out_bank_account_id" property="outBankAccountId" />
        <result column="out_bank_account_id_n" property="outBankAccountIdN" />
        <result column="out_bank_account_num" property="outBankAccountNum" />
        <result column="with_bank_account_id" property="withBankAccountId" />
        <result column="with_bank_account_name" property="withBankAccountName" />
        <result column="with_bank_account_num" property="withBankAccountNum" />
    </resultMap>

    <select id="selectlonConRepaymentRepByBatchLn" resultMap="selectlonConRepaymentRepByBatchLnMap" parameterType="com.hand.hls.fin.dto.HlsCusLonConRepaymentBatchLn">
        select lcrbl.batch_ln_id,
               lcrbl.batch_id,
               lcr.repayment_id,
               lcr.withdraw_id,
               lcr.contract_id,
               lcr.times,
               lcr.cf_item,
               lcr.cf_type,
               lcr.cf_direction,
               lcr.cf_status,
               lcr.planned_due_date,
               lcrbl.planned_due_amount,
               lcr.due_date,
               lcr.due_amount,
               lcr.write_off_flag,
               lcr.write_off_amount,
               lcr.interest_period_days,
               lcr.interest_accrual_balance,
               lcr.relate_contract_id,
               lcr.rent_due_date,
               lcr.rent_due_amount,
               lcr.relate_contract_category,
               lcr.group_id,
               lcr.group_number,
               lcr.exchange_rate,
               lcr.retain_amount,
               lcr.is_system_flag,
               lcr.planned_calc_date,
               lcr.received_bank_account_name,
               lcr.received_bp_name,
               lcr.cny_due_amount,
               lcr.confirm_flag,
               lcr.received_bank_account_num,
               (CASE
                 WHEN (lcr.confirm_flag = 'Y') THEN
                  '已确认'
                 ELSE
                  '未确认'
               END) confirm_flag_n,
               (SELECT hct.description
                  FROM hls_cashflow_type hct
                 WHERE hct.cf_type = lcr.cf_type
                   AND hct.enabled_flag = 'Y') cf_type_desc,
               (SELECT description
                  FROM hls_cashflow_item hci
                 WHERE hci.cf_type = lcr.cf_type
                   AND hci.cf_item = lcr.cf_item
                   AND hci.enabled_flag = 'Y') cf_item_desc,
               (SELECT description
                  FROM hls_cashflow_item hci
                 WHERE hci.cf_type = lcr.cf_type
                   AND hci.cf_item = lcr.cf_item
                   AND hci.enabled_flag = 'Y') cf_item_n,
               ROUND((NVL(lcr.exchange_rate, 1) * lcr.planned_due_amount), 2) cny_planned_due_amount,
               (SELECT scv.meaning
                  FROM sys_code_value_b_v scv
                 WHERE scv.code_value = lcr.write_off_flag
                   AND scv.code = 'LON.WRITE_OFF_FLAG') write_off_flag_desc,
               (lcr.due_amount - nvl(lcr.write_off_amount, 0)) AS remain_payback_amount,
               (select lcw.withdraw_number from lon_contract_withdraw lcw where lcw.withdraw_id = lcr.withdraw_id) as withdraw_number,
               lcr.currency,
               (select scvb.meaning
                  from sys_code_value_b scvb, sys_code_b scb
                 where scb.code = 'CHS.CURRENCY_TYPE'
                   and scb.code_id = scvb.code_id
                   and scvb.enabled_flag = 'Y'
                   and scvb.value = lcr.currency) as currency_n,
               (select hbm.bp_name
                    from lon_contract lc, hls_bp_master hbm
                    where lc.contract_id = lcr.contract_id
                    and lc.credit_bp_id = hbm.bp_id) as credit_bp_id_n,
               (select lc.finance_amount
                    from lon_contract lc
                    where lc.contract_id = lcr.contract_id) as finance_amount,
               (select scv.MEANING
                    from sys_code_b       sc,
                    sys_code_value_b scv,
                    lon_contract     lc
                    where sc.CODE_ID = scv.CODE_ID
                    and sc.CODE = 'FIN.CREDIT_METHOD'
                    and scv.value = lc.document_type
                    and lc.contract_id = lcr.contract_id) document_type_n,
                (select s.MEANING value_name
                    from sys_code_value_b_v s, lon_contract_withdraw lcw
                    where s.code = 'FIN.CONTRACT_LOAN_TYPE'
                    and s.code_value = lcw.contract_loan_type
                    and lcr.withdraw_id = lcw.withdraw_id) as contract_loan_type_n,
                (select lc.contract_number from lon_contract lc where lc.contract_id = lcr.contract_id) as contract_number,
                lcrbl.repayment_date,
                lcrbl.OUT_BANK_ACCOUNT_ID,
                lcrbl.OUT_BANK_ACCOUNT_NAME,
                lcrbl.OUT_BANK_ACCOUNT_NAME OUT_BANK_ACCOUNT_ID_N,
                lcrbl.OUT_BANK_ACCOUNT_NUM,
                cw.with_bank_account_id,
                cw.with_bank_account_name,
                cw.with_bank_account_num

        from LON_CON_REPAYMENT_BATCH_LN lcrbl, lon_contract_repayment lcr,
        lon_contract_withdraw cw
         where lcr.repayment_id = lcrbl.repayment_id
        AND lcr.withdraw_id = cw.withdraw_id
           and lcrbl.batch_id = #{batchId}
        <if test="interestFlag!=null">
            and ((#{interestFlag} = 'Y' and lcr.cf_item in (301,302)) or (#{interestFlag} = 'N' and lcr.cf_item not
            in (301,302)))
        </if>

    </select>

    <select id="selectlonConRepaymentRepByBatchLnReport" resultMap="selectlonConRepaymentRepByBatchLnMap" parameterType="com.hand.hls.fin.dto.HlsCusLonConRepaymentBatchLn">
        select * from (SELECT
        cw.withdraw_number,
        lc.contract_number,
        ( SELECT credit_con_number FROM lon_credit_contract WHERE credit_contract_id = lc.credit_contract_id ) AS credit_contract_id_n,
        ( SELECT hbm.bp_name FROM hls_bp_master hbm WHERE hbm.bp_id = lcrb.credit_bp_id ) AS credit_bp_name,
        lcr.times,
        lcr.cf_item,
        lcr.cf_type,
        lcr.cf_direction,
        lcr.cf_status,
        (
        SELECT
        description
        FROM
        hls_cashflow_item hci
        WHERE
        hci.cf_type = lcr.cf_type
        AND hci.cf_item = lcr.cf_item
        AND hci.enabled_flag = 'Y'
        ) AS cf_item_n,
        lcr.planned_due_date,
        lcrbl.planned_due_amount,
        lcr.due_date,
        lcr.write_off_flag,
        lcr.write_off_amount,
        lcrbl.repayment_date,
        lcrbl.OUT_BANK_ACCOUNT_ID,
        lcrbl.OUT_BANK_ACCOUNT_NAME,
        lcrbl.OUT_BANK_ACCOUNT_NAME AS OUT_BANK_ACCOUNT_ID_N,
        lcrbl.OUT_BANK_ACCOUNT_NUM,
        (
        SELECT
        wm_concat( DISTINCT fc.company_full_name )
        FROM
        fnd_company fc,
        lon_con_repayment_batch_ln ln,
        lon_contract lc
        WHERE
        ln.batch_id = lcrb.batch_id
        AND ln.contract_id = lc.contract_id
        AND fc.company_id = lc.lon_company_id
        ) AS lon_company_id_n
        FROM
        LON_CON_REPAYMENT_BATCH_LN lcrbl,
        LON_CON_REPAYMENT_BATCH lcrb,
        lon_contract_repayment lcr,
        lon_contract_withdraw cw
        LEFT JOIN lon_contract lc ON cw.contract_id = lc.contract_id
        WHERE
        lcr.repayment_id = lcrbl.repayment_id
        AND lcr.withdraw_id = cw.withdraw_id
        AND lcrb.batch_id = lcrbl.batch_id
        AND lcrb.batch_status = 'APPROVED'
        AND lcrb.confirm_status = 'Y')TAB
        <where>
            1=1
            <if test="withdrawNumber!=null and withdrawNumber!=''">
                and TAB.withdraw_number like concat('%',#{withdrawNumber},'%')
            </if>
            <if test="creditBpName!=null and creditBpName!=''">
                and TAB.credit_bp_name like concat('%',#{creditBpName},'%')
            </if>
            <if test="lonCompanyIdN!=null and lonCompanyIdN!=''">
                and TAB.lon_company_id_n like concat('%',#{lonCompanyIdN},'%')
            </if>
            <if test="cfItemN!=null and cfItemN!=''">
                and TAB.cf_item_n like concat('%',#{cfItemN},'%')
            </if>
            <if test="contractNumber!=null and contractNumber!=''">
                and TAB.contract_number like concat('%',#{contractNumber},'%')
            </if>
            <if test="creditContractIdN!=null and creditContractIdN!=''">
                and TAB.credit_contract_id_n like concat('%',#{creditContractIdN},'%')
            </if>
            <if test="repaymentDateFrom!=null and repaymentDateFrom!=''">
                and TAB.repayment_date &gt;= #{repaymentDateFrom}
            </if>
            <if test="repaymentDateTo!=null and repaymentDateTo!=''">
                and TAB.repayment_date &lt;= #{repaymentDateTo}
            </if>
        </where>

    </select>

    <resultMap id="selectlonConRepaymentFinByBatchLnMap" type="java.util.Map">
        <result column="batch_ln_id" property="batch_ln_id" />
        <result column="batch_id" property="batch_id"/>
        <result column="repayment_id" property="repayment_id" />
        <result column="withdraw_id" property="withdraw_id" />
        <result column="times" property="times" />
        <result column="cf_item" property="cf_item" />
        <result column="cf_type" property="cf_type" />
        <result column="cf_direction" property="cf_direction" />
        <result column="cf_status" property="cf_status" />
        <result column="planned_due_date" property="planned_due_date" />
        <result column="planned_due_amount" property="planned_due_amount" />
        <result column="due_date" property="due_date" />
        <result column="due_amount" property="due_amount" />
        <result column="write_off_flag" property="write_off_flag" />
        <result column="write_off_amount" property="write_off_amount" />
        <result column="interest_period_days" property="interest_period_days" />
        <result column="interest_accrual_balance" property="interest_accrual_balance" />
        <result column="relate_contract_id" property="relate_contract_id" />
        <result column="rent_due_date" property="rent_due_date" />
        <result column="rent_due_amount" property="rent_due_amount" />
        <result column="relate_contract_category" property="relate_contract_category" />
        <result column="group_id" property="group_id" />
        <result column="group_number" property="group_number" />
        <result column="exchange_rate" property="exchange_rate" />
        <result column="retain_amount" property="retain_amount" />
        <result column="is_system_flag" property="is_system_flag" />
        <result column="planned_calc_date" property="planned_calc_date" />
        <result column="received_bank_account_name" property="received_bank_account_name" />
        <result column="received_bp_name" property="received_bp_name" />
        <result column="cny_due_amount" property="cny_due_amount" />
        <result column="confirm_flag" property="confirm_flag" />
        <result column="received_bank_account_num" property="received_bank_account_num" />
        <result column="confirm_flag_n" property="confirm_flag_n" />
        <result column="cf_type_desc" property="cf_type_desc" />
        <result column="cf_item_desc" property="cf_item_desc" />
        <result column="cny_planned_due_amount" property="cny_planned_due_amount" />
        <result column="write_off_flag_desc" property="write_off_flag_desc" />
        <result column="remain_payback_amount" property="remain_payback_amount" />
        <result column="withdraw_number" property="withdraw_number" />
        <result column="amortization_method" property="amortization_method" />
        <result column="amortization_method_n" property="amortization_method_n" />
        <result column="payment_method" property="payment_method" />
        <result column="payment_method_n" property="payment_method_n" />
        <result column="currency" property="currency" />
        <result column="currency_n" property="currency_n" />
        <result column="tax_rate" property="tax_rate" />
        <result column="withdraw_due_amount" property="withdraw_due_amount" />
        <result column="credit_bp_id_n" property="credit_bp_id_n" />
        <result column="finance_amount" property="finance_amount" />
        <result column="document_type_n" property="document_type_n" />
        <result column="contract_loan_type_n" property="contract_loan_type_n" />
        <result column="contract_number" property="contract_number" />
        <result column="contract_id" property="contract_id" />
        <result column="repayment_date" property="repaymentDate" />
        <result column="out_bank_account_id" property="outBankAccountId" />
        <result column="out_bank_account_id_n" property="outBankAccountIdN" />
        <result column="out_bank_account_num" property="outBankAccountNum" />
        <result column="with_bank_account_id" property="withBankAccountId" />
        <result column="with_bank_account_name" property="withBankAccountName" />
        <result column="with_bank_account_num" property="withBankAccountNum" />
    </resultMap>

    <select id="selectlonConRepaymentFinByBatchLn" resultMap="selectlonConRepaymentFinByBatchLnMap" parameterType="com.hand.hls.fin.dto.HlsCusLonConRepaymentBatchLn">
        select lcrbl.batch_ln_id,
        lcrbl.batch_id,
        lcr.repayment_id,
        lcr.withdraw_id,
        lcr.contract_id,
        lcr.times,
        lcr.cf_item,
        lcr.cf_type,
        lcr.cf_direction,
        lcr.cf_status,
        lcr.planned_due_date,
        lcr.planned_due_amount,
        lcr.due_date,
        lcr.due_amount,
        lcr.write_off_flag,
        lcr.write_off_amount,
        lcr.interest_period_days,
        lcr.interest_accrual_balance,
        lcr.relate_contract_id,
        lcr.rent_due_date,
        lcr.rent_due_amount,
        lcr.relate_contract_category,
        lcr.group_id,
        lcr.group_number,
        lcr.exchange_rate,
        lcr.retain_amount,
        lcr.is_system_flag,
        lcr.planned_calc_date,
        lcr.received_bank_account_name,
        lcr.received_bp_name,
        lcr.cny_due_amount,
        lcr.confirm_flag,
        lcr.received_bank_account_num,
        (CASE
        WHEN (lcr.confirm_flag = 'Y') THEN
        '已确认'
        ELSE
        '未确认'
        END) confirm_flag_n,
        (SELECT hct.description
        FROM hls_cashflow_type hct
        WHERE hct.cf_type = lcr.cf_type
        AND hct.enabled_flag = 'Y') cf_type_desc,
        (SELECT description
        FROM hls_cashflow_item hci
        WHERE hci.cf_type = lcr.cf_type
        AND hci.cf_item = lcr.cf_item
        AND hci.enabled_flag = 'Y') cf_item_desc,
        (SELECT description
        FROM hls_cashflow_item hci
        WHERE hci.cf_type = lcr.cf_type
        AND hci.cf_item = lcr.cf_item
        AND hci.enabled_flag = 'Y') cf_item_n,
        ROUND((NVL(lcr.exchange_rate, 1) * lcr.planned_due_amount), 2) cny_planned_due_amount,
        (SELECT scv.meaning
        FROM sys_code_value_b_v scv
        WHERE scv.code_value = lcr.write_off_flag
        AND scv.code = 'LON.WRITE_OFF_FLAG') write_off_flag_desc,
        (lcr.due_amount - nvl(lcr.write_off_amount, 0)) AS remain_payback_amount,
        (select lcw.withdraw_number from lon_contract_withdraw lcw where lcw.withdraw_id = lcr.withdraw_id) as withdraw_number,
        (select lc.contract_number
        FROM lon_contract_withdraw lcw, lon_contract lc
        WHERE lcw.withdraw_id = lcr.withdraw_id
        and lc.contract_id = lcr.contract_id) as contract_number,

        lcr.amortization_method,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'LON.AMORTIZATION_METHOD'
        and v.code_value = lcr.amortization_method) as amortization_method_n,
        lcr.payment_method,
        (select v.meaning
        from sys_code_value_b_v v
        where v.code = 'LON.SERVICE_FEE_PAYMENT_METHOD'
        and v.code_value = lcr.payment_method) as payment_method_n,
        lcr.currency,
        (select fc.currency_name
        from fnd_currency fc
        where fc.currency_code = lcr.currency) as currency_n,
        lcr.tax_rate,
        (select lcw.due_amount from lon_contract_withdraw lcw where lcw.withdraw_id = lcr.withdraw_id) as withdraw_due_amount,
        (select hbm.bp_name
        from lon_contract lc, hls_bp_master hbm
        where lc.contract_id = lcr.contract_id
        and lc.credit_bp_id = hbm.bp_id) as credit_bp_id_n,
        (select lc.finance_amount
        from lon_contract lc
        where lc.contract_id = lcr.contract_id) as finance_amount,
        (select scv.MEANING
        from sys_code_b       sc,
        sys_code_value_b scv,
        lon_contract     lc
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'FIN.CREDIT_METHOD'
        and scv.value = lc.document_type
        and lc.contract_id = lcr.contract_id) document_type_n,
        (select s.MEANING value_name
        from sys_code_value_b_v s, lon_contract_withdraw lcw
        where s.code = 'FIN.CONTRACT_LOAN_TYPE'
        and s.code_value = lcw.contract_loan_type
        and lcr.withdraw_id = lcw.withdraw_id) as contract_loan_type_n,
        lcrbl.repayment_date,
        lcrbl.OUT_BANK_ACCOUNT_ID,
        lcrbl.OUT_BANK_ACCOUNT_NAME,
        lcrbl.OUT_BANK_ACCOUNT_NAME OUT_BANK_ACCOUNT_ID_N,
        lcrbl.OUT_BANK_ACCOUNT_NUM,
        cw.with_bank_account_id,
        cw.with_bank_account_name,
        cw.with_bank_account_num

        from LON_CON_REPAYMENT_BATCH_LN lcrbl, lon_contract_repayment lcr,
        lon_contract_withdraw cw
        where lcr.repayment_id = lcrbl.repayment_id
        AND lcr.withdraw_id = cw.withdraw_id
        and lcrbl.batch_id = #{batchId}
        <if test="interestFlag!=null">
            and ((#{interestFlag} = 'Y' and lcr.cf_item in (303,304)) or (#{interestFlag} = 'N' and lcr.cf_item not
            in (303,304)))
        </if>

    </select>


    <select id="queryWithdrawAccount" resultMap="BaseResultMap" parameterType="com.hand.hls.fin.dto.HlsCusLonConRepaymentBatchLn">
        select distinct clcba.bank_branch_name,
                        clcba.bank_account_name,
                        clcba.bank_account_num,
                        clcba.bp_id,
                        clcba.bank_account_id,
                        (select hbm.bp_name
                           from hls_bp_master hbm
                          where hbm.bp_id = clcba.bp_id) as bp_id_n,
                        (select lc.currency
                           from lon_contract lc
                          where lc.contract_id = lcw.contract_id) as currency,
                        (select fc.currency_name
                           from fnd_currency fc, lon_contract lc
                          where lc.contract_id = lcw.contract_id
                            and fc.currency_code = lc.currency) as currency_n
          from lon_con_repayment_batch_ln   ln,
               lon_contract_withdraw        lcw,
               ct_lon_contract_bank_account clcba
         where ln.batch_id = #{batchId}
           and ln.withdraw_id = lcw.withdraw_id
           and clcba.withdraw_id = ln.withdraw_id
    </select>

    <delete id="deleteBatchLnByBatchId">
        delete from lon_con_repayment_batch_ln where batch_id = #{batchId}
    </delete>

</mapper>