<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusContractRepaymentLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusContractRepaymentLn">
        <result column="ln_id" property="lnId" jdbcType="DECIMAL" />
        <result column="withdraw_id" property="withdrawId" jdbcType="DECIMAL" />
        <result column="repayment_id" property="repaymentId" jdbcType="DECIMAL" />
        <result column="bank_account_id" property="bankAccountId" jdbcType="DECIMAL" />
        <result column="bank_branch_name" property="bankBranchName" jdbcType="VARCHAR" />
        <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR" />
        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR" />
        <result column="due_date" property="dueDate" jdbcType="DATE" />
        <result column="due_amount" property="dueAmount" jdbcType="DECIMAL" />
        <result column="cny_due_amount" property="cnyDueAmount" jdbcType="DECIMAL" />
        <result column="default_flag" property="defaultFlag" jdbcType="VARCHAR" />

        <result column="times" property="times" jdbcType="DECIMAL" />
        <result column="cf_item_desc" property="cfItemDesc" jdbcType="VARCHAR" />
        <result column="prev_due_amount" property="prevDueAmount" jdbcType="DECIMAL" />
        <result column="cny_planned_due_amount" property="cnyPlannedDueAmount" jdbcType="DECIMAL" />
    </resultMap>

    <select id="selectData" parameterType="com.hand.hls.fin.dto.HlsCusContractRepaymentLn" resultMap="BaseResultMap">
        SELECT
            lcrl.*,
            lcr.times,
            (select hci.description from hls_cashflow_item hci where hci.cf_item = lcr.cf_item and lcr.cf_type = hci.cf_type) AS cf_item_desc,
             round(lcr.planned_due_amount*nvl(lcr.exchange_rate,1),2) as prev_due_amount,
            round(lcr.planned_due_amount*nvl(lcr.exchange_rate,1),2) as  cny_planned_due_amount
        FROM
            lon_contract_repayment lcr,
            lon_contract_repayment_ln lcrl
        WHERE
            lcr.repayment_id = lcrl.repayment_id
        <if test="repaymentId != null">
        and lcr.repayment_id = #{repaymentId}
        </if>
    </select>

    <select id="selectRepaymentLnAmountSum" resultMap="BaseResultMap">
        select
            nvl(sum(lcrl.due_amount),0) due_amount,
            nvl(sum(lcrl.cny_due_amount),0) cny_due_amount
        from
            lon_contract_repayment_ln lcrl
         where lcrl.repayment_id= #{repaymentId}
    </select>
</mapper>