<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusLonContractAttachmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusLonContractAttachment">
        <result column="contract_attachment_id" property="contractAttachmentId" jdbcType="DECIMAL"/>
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <!--<result column="source_type" property="sourceType" jdbcType="VARCHAR"/>-->
        <result column="source_id" property="sourceId" jdbcType="DECIMAL"/>
        <result column="bp_category" property="bpCategory" jdbcType="VARCHAR"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="document_name" property="documentName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="file_names" property="fileNames" jdbcType="VARCHAR"/>
        <result column="file_Id" property="fileId"/>
        <result column="file_type" property="fileType"/>
        <result column="source_type" property="sourceType"/>
        <result column="source_key" property="sourceKey"/>
        <result column="attachment_id" property="attachmentId" jdbcType="DECIMAL"/>
        <result column="is_final_print" property="isFinalPrint"/>
        <result column="stamp_name" property="stampName"/>
        <result column="copies" property="copies"/>
        <result column="org_stamp_name" property="orgStampName"/>
        <result column="np_stamp_name" property="npStampName"/>
        <result column="template_id" property="templateId"/>
        <result column="attachment_code" property="attachmentCode"/>
         <result column="order_number" property="orderNumber"/>

        <!--上传人-->
        <result column="upload_person" property="uploadPerson" jdbcType="VARCHAR"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="file_path" property="filePath" jdbcType="VARCHAR"/>
        <result column="file_size" property="fileSize" jdbcType="DECIMAL"/>
        <result column="upload_date" property="uploadDate" jdbcType="TIMESTAMP"/>
        <result column="update_status" property="updateStatus" jdbcType="VARCHAR"/>
        <result column="category_path" property="categoryPath" jdbcType="VARCHAR"/>
        <result column="file_suffix" property="fileSuffix" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectLonConAttachment" resultMap="BaseResultMap" parameterType="com.hand.hls.fin.dto.HlsCusLonContractAttachment">
        SELECT
        lca.contract_attachment_id ,
        lca.contract_id ,
        lca.document_name ,
        lca.attachment_code,
        lca.order_number,
        (
        SELECT
        wm_concat(sf.FILE_NAME)
        FROM
        sys_file sf ,
        sys_attachment sa
        WHERE
        sa.ATTACHMENT_ID = sf.ATTACHMENT_ID
        AND lca.contract_attachment_id = sa.SOURCE_KEY
        AND sa.SOURCE_TYPE = 'LON_CONTRACT_ATTACHMENT'
        ) file_names ,
        lca.description,
        lca.is_final_print,
        lca.stamp_name,
        lca.copies,
        lca.org_stamp_name,
        lca.np_stamp_name
        FROM lon_contract_attachment lca
        <where>
            <if test="contractId != null">
                lca.contract_id = #{contractId,jdbcType=BIGINT}
            </if>
            <if test="contractAttachmentId != null">
                AND lca.contract_attachment_id = #{contractAttachmentId}
            </if>
        </where>
    </select>

    <select id="queryLonContractAttachmentFam" resultMap="BaseResultMap">

select  tt.*, (
	SELECT
		wm_concat( fa.file_name )
	FROM
		fnd_atm_attachment fa,
		fnd_atm_attachment_multi fam
	WHERE
		fa.attachment_id = fam.attachment_id
	AND fam.table_name = 'LON_CONTRACT_ATTACHMENT'
		AND tt.CONTRACT_ATTACHMENT_ID = fam.table_pk_value
	) file_name
	 from  lon_contract_attachment  tt
        <where>
       1=1
            <if test="contractId != null">
                and tt.contract_id = #{contractId}
            </if>
        </where>
    </select>


    <resultMap id="attachmentResultMap" type="map">
        <result column="contract_attachment_id" property="contract_attachment_id"/>
        <result column="document_name" property="document_name"/>
        <result column="attachment_id" property="attachment_id"/>
        <result column="withdraw_id" property="withdraw_id"/>
        <result column="source_type_code" property="source_type_code"/>
        <result column="source_pk_value" property="source_pk_value"/>
        <result column="file_name" property="file_name"/>
        <result column="file_size" property="file_size"/>
        <result column="description" property="description" />

    </resultMap>

    <select id="queryLonConWithdrowAttachment" resultMap="attachmentResultMap">
        SELECT
                lca.contract_attachment_id,
                lca.contract_id,
                lca.withdraw_id,
                lca.document_name,
                lca.attachment_code,
                lca.order_number,
                (
                SELECT
                    wm_concat( faa.file_name ) modelName
                FROM
                    fnd_atm_attachment faa,
                    fnd_atm_attachment_multi faam
                WHERE
                    faam.attachment_id = faa.attachment_id
                    AND faam.table_pk_value = lca.contract_attachment_id
                    AND faam.table_name = 'LON_CONTRACT_ATTACHMENT'
                ) file_name,
                lca.description
            FROM
                lon_contract_attachment lca
            WHERE
                lca.SOURCE_TYPE = 'LON_CONTRACT_WITHDRAW'
            and lca.source_id = #{withdrawId}

    </select>

    <select id="lonContractAttachmentDetailQuery" resultMap="BaseResultMap" parameterType="com.hand.hls.fin.dto.HlsCusLonContractAttachment">
        SELECT
        t1.document_name,
        t2.file_id,
        t2.file_name,
        t2.file_type,
        t2.upload_date,
        t2.file_size,
        t1.contract_attachment_id,
        t1.source_type,
        t1.contract_id,
        t1.description,
        t1.is_final_print,
        t1.stamp_name,
        t1.copies,
        t1.org_stamp_name,
        t1.np_stamp_name,
        t1.attachment_code,
         t1.order_number,
        (SELECT su.description
        FROM sys_user su
        WHERE su.user_id = t2.last_updated_by) uploadPerson
        FROM (
        SELECT lca.document_name,lca.contract_attachment_id,lca.contract_id,lca.source_type,
        lca.description,lca.source_id,lca.is_final_print,
        lca.stamp_name,
        lca.copies,
        lca.org_stamp_name,
        lca.np_stamp_name,
        lca.attachment_code,
        lca.creation_date,
        lca.order_number,
        (SELECT a.attachment_id
        FROM  sys_attachment a
        WHERE cast(a.SOURCE_KEY as char(500))=cast(lca.contract_id as char(500))
        AND a.source_type = #{sourceType}) attachment_id
        FROM lon_contract_attachment lca
        <where>
            lca.contract_id =  #{contractId}
            and lca.source_id is not null
            <if test="attachmentStatus != null">
                and lca.attachment_status = #{attachmentStatus}
            </if>
            <if test="attachmentType != null">
                and lca.attachment_type = #{attachmentType}
            </if>
        </where>
        ) t1
        LEFT JOIN (select sf.file_id ,
        sf.file_name ,
        sf.file_type ,
        sf.upload_date ,
        sf.file_size ,
        sa.SOURCE_TYPE,
        sa.SOURCE_KEY,
        sf.LAST_UPDATED_BY from sys_file sf,sys_attachment sa
        where sf.attachment_id = sa.attachment_id
        and sa.source_type = 'LON_CONTRACT_ATTACHMENT') t2 ON t2.file_id = t1.source_id
        order by t1.order_number,t1.creation_date
    </select>

    <select id="selectOrderNumberMax"  parameterType="java.lang.Long" resultType="java.lang.Long">
         select
            nvl(max(lca.order_number),0)+1 order_number
        from
            lon_contract_attachment lca
        where
             lca.contract_id=#{contractId}
    </select>

    <select id="selectContractAndWithdrawFile" resultMap="BaseResultMap">
     (
     SELECT
         *
     FROM
         (
             SELECT
                 sf.file_id,
                 sf.file_name,
                 sf.file_type,
                 sf.file_suffix,
                 sf.upload_date,
                 sf.file_path,
                 sf.file_size,
                 sacb.category_path,
                 lca.attachment_code,
                 lca.order_number
             FROM
                 lon_contract_attachment lca
             JOIN
                 sys_file sf
             ON
                 sf.file_id=lca.source_id
             JOIN
                 sys_attachment sa
             ON
                 sf.attachment_id = sa.attachment_id
             JOIN
                sys_attach_category_b sacb
              ON
                sa.category_id=sacb.category_id
             WHERE
                 lca.contract_id=#{contractId}
             ORDER BY
                 lca.order_number,
                 lca.creation_date))
    UNION ALL
        (
            SELECT
                *
            FROM
                (
                    SELECT
                        sf.file_id,
                        sf.file_name,
                        sf.file_type,
                        sf.file_suffix,
                        sf.upload_date,
                        sf.file_path,
                        sf.file_size,
                        sacb.category_path,
                        ppa.attachment_code,
                        ppa.order_number
                    FROM
                        prj_project_attachment ppa
                    JOIN
                        sys_file sf
                    ON
                        sf.file_id=ppa.source_id
                    AND ppa.project_attachment_category='LON_CONTRACT_WITHDRAW'
                    JOIN
                         sys_attachment sa
                    ON
                         sf.attachment_id = sa.attachment_id
                    JOIN
                         sys_attach_category_b sacb
                    ON
                         sa.category_id=sacb.category_id
                    JOIN
                        lon_contract_withdraw lcw
                    ON
                        lcw.withdraw_id=ppa.project_id
                    WHERE lcw.contract_id=#{contractId}
                    ORDER BY
                        ppa.order_number,
                        ppa.creation_date ))
    </select>

    <select id="selectAttachmentCodeNullCount" resultType="int">
        select
           count(1)
        from
             lon_contract_attachment lca
        where
          lca.attachment_code is null
        and
          lca.contract_id = #{contractId}
    </select>
    <delete id="deleteAttachmentBySourceIdAndType">
        delete lon_contract_attachment t where t.source_id = #{sourceId} and  t.source_type = 'LON_CONTRACT_WITHDRAW'
    </delete>

</mapper>