<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusCtLonContractMortgageMapper">

    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusCtLonContractMortgage">
        <id column="mortgage_id" property="mortgageId" jdbcType="BIGINT"/>
        <result column="contract_id" property="contractId" jdbcType="BIGINT"/>
        <result column="mortgage_name" property="mortgageName" jdbcType="VARCHAR"/>
        <result column="mortgage_bp_name" property="mortgageBpName" jdbcType="VARCHAR"/>
        <result column="mortgage_type" property="mortgageType" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DOUBLE"/>
        <result column="mortgage_date_from" property="mortgageDateFrom" jdbcType="TIMESTAMP"/>
        <result column="mortgage_date_to" property="mortgageDateTo" jdbcType="TIMESTAMP"/>
        <result column="MORTGAGE_CONTRACT_NUMBER" property="mortgageContractNumber" jdbcType="VARCHAR"/>
        <result column="MORTGAGE_CONTRACT_NAME" property="mortgageContractName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="MORTGAGE_COMPANY_NAME" property="mortgageCompanyName" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectLonContractMortgage" resultMap="BaseResultMap" parameterType="com.hand.hls.fin.dto.HlsCusCtLonContractMortgage">
        select *
        from ct_lon_contract_mortgage
        <where>
            1=1
            <if test="contractId != null">
                and contract_id=#{contractId}
            </if>
        </where>

    </select>
</mapper>