<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusLonContractMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusLonContract">
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="document_type" property="documentType" jdbcType="VARCHAR"/>
        <result column="document_category" property="documentCategory" jdbcType="VARCHAR"/>
        <result column="business_type" property="businessType" jdbcType="VARCHAR"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="contract_status" property="contractStatus" jdbcType="VARCHAR"/>
        <result column="credit_contract_id" property="creditContractId" jdbcType="DECIMAL"/>
        <result column="credit_line_id" property="creditLineId" jdbcType="DECIMAL"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="credit_bp_id" property="creditBpId" jdbcType="DECIMAL"/>
        <result column="original_contract_number" property="originalContractNumber" jdbcType="VARCHAR"/>
        <result column="finance_amount" property="financeAmount" jdbcType="DECIMAL"/>
        <result column="withdraw_bank_account_id" property="withdrawBankAccountId" jdbcType="DECIMAL"/>
        <result column="repayment_bank_account_id" property="repaymentBankAccountId" jdbcType="DECIMAL"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="credit_flag" property="creditFlag" jdbcType="VARCHAR"/>
        <result column="mortgage_flag" property="mortgageFlag" jdbcType="VARCHAR"/>
        <result column="pledge_flag" property="pledgeFlag" jdbcType="VARCHAR"/>
        <result column="guarantee_flag" property="guaranteeFlag" jdbcType="VARCHAR"/>
        <result column="escrow_flag" property="escrowFlag" jdbcType="VARCHAR"/>
        <result column="balance_flag" property="balanceFlag" jdbcType="VARCHAR"/>
        <result column="lon_company_id" property="lonCompanyId" jdbcType="BIGINT"/>
        <result column="financing_channel" property="financingChannel" jdbcType="VARCHAR"/>
        <result column="domestic_oversea_finance" property="domesticOverseaFinance" jdbcType="VARCHAR"/>
        <result column="comperhensive_financing_cost" property="comperhensiveFinancingCost" jdbcType="VARCHAR"/>
        <result column="credit_bp_name" property="creditBpName"/>
        <result column="bp_code" property="bpCode"/>
        <result column="bp_type_desc" property="bpTypeDesc"/>
        <result column="domestic_oversea" property="domesticOversea"/>
        <result column="local_nonlocal" property="localNonlocal"/>
        <result column="business_desc" property="businessDesc"/>
        <result column="contract_status_desc" property="contractStatusDesc"/>
        <result column="settle_status_desc" property="settleStatusDesc"/>
        <result column="credit_contract_number" property="creditContractNumber"/>
        <result column="credit_contract_name" property="creditContractName"/>
        <result column="credit_con_number" property="creditConNumber"/>
        <result column="ref_credit_bp_name" property="refCreditBpName"/>
        <result column="document_type2" property="documentType2"/>
        <result column="credit_category" property="creditCategory"/>
        <result column="credit_line_amt" property="creditLineAmt"/>
        <result column="open_to_buy" property="openToBuy"/>
        <result column="credit_exposure_amt" property="creditExposureAmt"/>
        <result column="valid_from" property="validFrom"/>
        <result column="valid_To" property="validTo"/>
        <result column="first_withdraw_date" property="firstWithdrawDate"/>
        <result column="delay_from" property="delayFrom"/>
        <result column="delay_to" property="delayTo"/>
        <result column="competent_dept" property="competentDept"/>
        <result column="finance_type" property="financeType"/>
        <result column="credit_line_desc" property="creditLineDesc"/>
        <result column="withdraw_bank_account_name" property="withdrawBankAccountName"/>
        <result column="withdraw_bank_account_number" property="withdrawBankAccountNumber"/>
        <result column="repayment_bank_account_name" property="repaymentBankAccountName"/>
        <result column="repayment_bank_account_number" property="repaymentBankAccountNumber"/>
        <result column="withdraw_bank_name" property="withdrawBankName"/>
        <result column="withdraw_bank_branch_name" property="withdrawBankAccountBranchName"/>
        <result column="withdraw_approved_amount" property="withdrawApprovedAmount"/>
        <result column="withdraw_left_amount" property="withdrawLeftAmount"/>
        <result column="loan_rate" property="loanRate"/>
        <result column="document_type_desc" property="documentTypeDesc"/>
        <result column="currency_name" property="currencyName"/>
        <result column="manager" property="manager" jdbcType="VARCHAR"/>
        <result column="data_class" property="dataClass"/>
        <result column="lon_company_id_desc" property="lonCompanyIdDesc"/>
        <result column="req_date" property="reqDate"/>
        <result column="financing_channel_desc" property="financingChannelDesc"/>
        <result column="domestic_oversea_finance_desc" property="domesticOverseaFinanceDesc"/>
        <result column="approval_result" property="approvalResult"/>
        <result column="approval_comment" property="approvalComment"/>
        <result column="product_name" property="productName"/>
        <result column="loan_term" property="loanTerm" jdbcType="DECIMAL"/>
        <result column="loan_term_uom" property="loanTermUom"/>
        <result column="review_content" property="reviewContent"/>
        <result column="extra_nam" property="extraNam"/>
        <result column="org_type_desc" property="orgTypeDesc"/>
        <result column="assure_flag" property="assureFlag" jdbcType="VARCHAR"/>
        <result column="bail_flag" property="bailFlag" jdbcType="VARCHAR"/>
        <result column="rele_credit_flag" property="releCreditFlag" jdbcType="VARCHAR"/>
        <result column="major_contract_number" property="majorContractNumber" jdbcType="VARCHAR"/>
        <result column="withdraw_perequisite" property="withdrawPerequisite" jdbcType="VARCHAR"/>
        <result column="post_loan_manage" property="postLoanManage" jdbcType="VARCHAR"/>
        <result column="credit_currency_code" property="creditCurrencyCode" jdbcType="VARCHAR"/>
        <result column="withdraw_deadline" property="withdrawDeadline" jdbcType="DATE"/>
        <result column="settle_status" property="settleStatus" jdbcType="VARCHAR"/>
        <result column="transfer_flag" property="transferFlag" jdbcType="VARCHAR"/>
        <result column="extra_nam" property="extraNam" jdbcType="VARCHAR"/>
        <result column="rele_com_flag" property="releComFlag" jdbcType="VARCHAR"/>
        <result column="con_release_flag" property="conReleaseFlag" jdbcType="VARCHAR"/>
        <result column="contract_value" property="contractValue" jdbcType="BIGINT"/>

        <!--******提款相关********-->
        <result column="quotation_id" property="quotationId"/>
        <result column="start_active_date" property="startActiveDate"/>
        <result column="end_active_date" property="endActiveDate"/>
        <result column="int_rate_type" property="intRateType"/>
        <result column="base_rate_type" property="baseRateType"/>
        <result column="base_rate" property="baseRate"/>
        <result column="base_rate_desc" property="baseRateDesc"/>
        <result column="loan_rate" property="loanRate"/>
        <result column="floating_way" property="floatingWay"/>
        <result column="floating_way_range" property="floatingWayRange"/>
        <result column="interest_cycle" property="interestCycle"/>
        <result column="floating_range_method" property="floatingRangeMethod"/>
        <result column="interest_calc_method" property="interestCalcMethod"/>
        <result column="interest_payment_date" property="interestPaymentDate"/>
        <result column="interest_calc_date" property="interestCalcDate"/>
        <result column="calc_interest_year_days" property="calcInterestYearDays" jdbcType="VARCHAR"/>
        <result column="CONTRACT_WITHDRAW_STATUS" property="contractWithdrawStatus" jdbcType="VARCHAR"/>
        <result column="remaining_amount" property="remainingAmount" jdbcType="DECIMAL"/>
        <result column="withdraw_balance" property="withdrawBalance" jdbcType="DECIMAL" />
        <result column="withdraw_start_date" property="withdrawStartDate"/>
        <result column="withdraw_end_date" property="withdrawEndDate"/>
        <result column="used_withdraw_amount" property="usedWithdrawAmount" jdbcType="DECIMAL"/>
        <result column="source_credit_line_id" property="sourceCreditLineId" jdbcType="DECIMAL"/>
        <result column="credit_bp_id_n" property="creditBpIdN"/>
        <result column="document_type_n" property="documentTypeN"/>
        <result column="currency_n" property="currencyN"/>
        <result column="rele_credit_flag_n" property="releCreditFlagN"/>
        <result column="credit_con_number_n" property="creditConNumberN" jdbcType="VARCHAR"/>
        <result column="credit_category_n" property="creditCategoryN" jdbcType="VARCHAR"/>
        <result column="con_release_flag_n" property="conReleaseFlagN" jdbcType="VARCHAR"/>
        <result column="credit_currency_code_n" property="creditCurrencyCodeN" jdbcType="VARCHAR"/>
        <result column="rele_company_flag" property="releCompanyFlag" jdbcType="VARCHAR"/>
        <result column="rele_company_flag_n" property="releCompanyFlagN" jdbcType="VARCHAR"/>
        <result column="document_type2_n" property="documentType2N" jdbcType="VARCHAR"/>

        <result column="FINANCING_TERM_FROM" property="financingTermFrom" jdbcType="DATE"/>
        <result column="FINANCING_TERM_TO" property="financingTermTo" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="BIGINT"/>
        <result column="CREATED_BY_n" property="createdByN" jdbcType="VARCHAR"/>
        <result column="lon_company_id_n" property="lonCompanyIdN" jdbcType="VARCHAR"/>
        <result column="contract_status_n" property="contractStatusN" jdbcType="VARCHAR"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="credit_contract_id_n" property="creditContractIdN" jdbcType="VARCHAR"/>
        <result column="date_from" property="dateFrom" jdbcType="DATE"/>
        <result column="date_to" property="dateTo" jdbcType="DATE"/>
        <result column="deposit_flag" property="depositFlag" jdbcType="VARCHAR"/>
        <result column="confirm_status" property="confirmStatus" jdbcType="VARCHAR"/>
        <result column="remain_withdraw_amount" property="remainWithdrawAmount" jdbcType="VARCHAR"/>
        <result column="OTHER_FLAG" property="otherFlag" jdbcType="VARCHAR"/>
        <result column="fin_due_amount" property="finDueAmount"/>
        <result column="due_amount" property="dueAmount"/>

    </resultMap>

    <resultMap id="LonConBoardMap" type="java.util.Map">
        <result column="settleStatus" property="settleStatus"/>
        <result column="contractCount" property="contractCount"/>
        <result column="contractCountPercent" property="contractCountPercent"/>
        <result column="contractSumCount" property="contractSumCount"/>
        <result column="currentMonthAppend" property="currentMonthAppend"/>
    </resultMap>

    <select id="validata" resultType="java.lang.Integer" parameterType="com.hand.hls.fin.dto.HlsCusLonContract">
        SELECT
        count(1)
        FROM
        ct_lon_contract_withdraw_plan clcwp
        WHERE
        1=1
        <if test="contractId!= null">
            and clcwp.contract_id = #{contractId}
        </if>
        AND EXISTS ( SELECT 1 FROM ct_lon_contract_repayment_plan clcrp WHERE clcrp.withdraw_plan_id = clcwp.withdraw_plan_id )
    </select>

    <select id="lonConBoard" parameterType="java.lang.Long" resultMap="LonConBoardMap">
        SELECT
         lc.settle_status AS settleStatus ,
        count(lc.contract_id) AS contractCount ,
        round(count(lc.contract_id) /
        (SELECT count(*) FROM lon_contract lcc where lcc.data_class='NORMAL' and lcc.company_id=#{request.companyId}) * 100,0) AS contractCountPercent ,
        (
        SELECT
        count(contract_id)
        FROM
        lon_contract
        lcc where lcc.data_class='NORMAL'
          and lcc.company_id=#{request.companyId}
        ) AS contractSumCount ,
        (
        SELECT
        count(contract_id)
        FROM
        lon_contract lcc
        where
        lcc.data_class='NORMAL' and
        lcc.creation_date >(CURDATE() - DAY(CURDATE()) + 1)
        and lcc.company_id=#{request.companyId}
        ) AS currentMonthAppend
        FROM
        lon_contract lc
        where
        lc.data_class = 'NORMAL'
        and lc.company_id=#{request.companyId}
        GROUP BY
          lc.settle_status
    </select>

    <select id="selectLonContract" parameterType="com.hand.hls.fin.dto.HlsCusLonContract" resultMap="BaseResultMap">
        SELECT
        lc.*,
        hbm.bp_name credit_bp_name ,
        hbm.extra_nam ,
        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'LON.CREDIT_CATEGORY'
        and scv.value = lc.document_type)  document_type_desc,
        case when lc.con_release_flag='Y' then
        (lc.FINANCE_AMOUNT-nvl(withdraw.surplus_amount,0))
        else
        (lc.FINANCE_AMOUNT-nvl(withdraw.due_amount,0)) end remaining_amount,
        nvl(withdraw.due_amount,0) used_withdraw_amount,
        (
        SELECT
        hds.description
        FROM
        hls_document_status hds
        WHERE
        hds.document_category = 'LON_CONTRACT'
        AND hds.enabled_flag = 'Y'
        AND hds.status_code = lc.settle_status
        ) settle_status_desc,
        (select fc.company_short_name from fnd_company fc
        where fc.company_id = lon_company_id) lon_company_id_desc,
        (SELECT fc.currency_name FROM fnd_currency fc WHERE fc.currency_code = lc.currency) currency_name,
        (select min(lcw.due_date) from  lon_contract_withdraw lcw
        where lcw.contract_id=lc.contract_id
        and lcw.approval_date=withdraw.approval_date) withdraw_start_date,
        (select max(lcw.withdraw_end_date) from  lon_contract_withdraw lcw
        where lcw.contract_id=lc.contract_id
        and lcw.approval_date=withdraw.approval_date) withdraw_end_date
        FROM
        lon_contract lc
        left join  hls_bp_master hbm
        on   hbm.bp_id = lc.credit_bp_id
        left join
        (
        select
        lcw.contract_id,
        max(lcw.approval_date) approval_date,
        sum(lcw.due_amount) due_amount,
        sum(lcw.due_amount-nvl(lr.write_off_amount,0)) surplus_amount
        from
        lon_contract_withdraw lcw
        left join
        (
        select
        lcr.withdraw_id,
        nvl(sum(lcr.write_off_amount),0) write_off_amount
        from
        lon_contract_repayment lcr
        where
        lcr.cf_item=301
        group by
        lcr.withdraw_id) lr
        on
        lcw.withdraw_id=lr.withdraw_id
        where
        lcw.data_class='NORMAL'
        and lcw.withdraw_status in('APPROVED','PENDING')
        group by
        lcw.contract_id
        ) withdraw
        on withdraw.contract_id=lc.contract_id
        <where>
            lc.data_class='NORMAL'
            and lc.company_id=#{request.companyId}
            <if test="contractStatus!=null">
                AND lc.contract_status = #{contractStatus}
            </if>
            <if test="settleStatus!=null">
                AND lc.settle_status = #{settleStatus}
            </if>
            <if test="contractId!=null">
                AND lc.contract_id = #{contractId}
            </if>
            <if test="contractNumber!=null">
                AND lc.contract_number LIKE CONCAT(concat('%',#{contractNumber}),'%')
            </if>
            <if test="contractName!=null">
                AND lc.contract_name LIKE CONCAT(concat('%',#{contractName}),'%')
            </if>
            <if test="params != null">
                and ((lc.contract_number like concat(concat('%',#{params}),'%'))
                or (lc.contract_name like concat(concat('%',#{params}),'%'))
                or (lc.major_contract_number like concat(concat('%',#{params}),'%'))
                or (hbm.extra_nam like concat(concat('%',#{params}),'%'))
                )
            </if>
        </where>
        ORDER BY lc.contract_number DESC
    </select>

    <select id="selectLonContractFormData" resultMap="BaseResultMap" parameterType="com.hand.hls.fin.dto.HlsCusLonContract">
        SELECT

        (select scv.MEANING
        FROM sys_code_b sc, sys_code_value_b scv
        WHERE sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'LON.CREDIT_CATEGORY'
        and scv.value = lccl.credit_category) credit_category_n,

        (select scv.MEANING
        FROM sys_code_b sc, sys_code_value_b scv
        WHERE sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'SYS.YES_NO'
        and scv.value = lc.CON_RELEASE_FLAG) con_release_flag_n,
        (lc.finance_amount - nvl((select sum(nvl(lcw.due_amount, 0))
        from lon_contract_withdraw lcw
        where lcw.contract_id = lc.contract_id
        and lcw.data_class = 'NORMAL'
        and lcw.withdraw_status in ('APPROVING', 'APPROVED', 'PENDING')),
        0)) as remain_withdraw_amount,
        (select scv.MEANING
        FROM sys_code_b sc, sys_code_value_b scv
        WHERE sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'CHS.CURRENCY_TYPE'
        and scv.value = lcc.currency) credit_currency_code_n,

        (select scv.MEANING
        FROM sys_code_b sc, sys_code_value_b scv
        WHERE sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'SYS.YES_NO'
        and scv.value = hbm.rele_com_flag) rele_company_flag,
        (select scv.MEANING
        FROM sys_code_b sc, sys_code_value_b scv
        WHERE sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'SYS.YES_NO'
        and scv.value = hbm.rele_com_flag) rele_company_flag_n,

        lc.* ,
        hbm.bp_name credit_bp_id_n ,
        hbm.extra_nam,
        hbm.rele_com_flag,
        hbm.bp_code,
        hbm.domestic_oversea,
        hbm.local_nonlocal,

        oldcre.credit_contract_name,
        oldcre.credit_con_number,
        lcc.credit_contract_name as credit_con_number_n ,
        lcc.withdraw_perequisite,
        lcc.post_loan_manage,

        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'SYS.YES_NO'
        and scv.value = lc.rele_credit_flag) rele_credit_flag_n,

        (select scv.MEANING
        FROM sys_code_b sc, sys_code_value_b scv
        WHERE sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'FCT.CREDIT_TYPE'
        and scv.value = hcl.document_type) document_type2_n,

        hcl.document_type  document_type2,

        (select scv.MEANING
        from sys_code_b sc,sys_code_value_b scv
        where sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'LON.CREDIT_CATEGORY'
        and scv.value = lc.document_type) document_type_n,

        lccl.credit_category,
        lccl.withdraw_deadline,
        hcl.credit_line_amt,
        calc.actual_available_amt open_to_buy,
        nvl(calc.credit_exposure_amt , 0)  credit_exposure_amt,
        nvl(calc.withdraw_balance,0) withdraw_balance,
        hcl.valid_from,
        hcl.valid_to,
        hcl.first_withdraw_date,
        hcl.delay_from,
        hcl.delay_to,
        hcl.competent_dept,
        hcl.finance_type,

        (
        SELECT
        hdt.description
        FROM
        hls_document_type hdt
        WHERE
        hdt.document_category = hcl.document_category
        AND hdt.document_type = hcl.document_type
        AND hdt.business_type = hcl.business_type
        ) credit_line_desc ,
        cba.bank_account_name withdraw_bank_account_name ,
        cba.bank_account_num  withdraw_bank_account_number ,
        cba.bank_account_name  repayment_bank_account_name ,
        cba.bank_account_num repayment_bank_account_number ,
        (
        SELECT ca.bank_name FROM csh_bank ca WHERE ca.bank_id =  cba.bank_id) withdraw_bank_name,
        cba.bank_branch_name withdraw_bank_branch_name,
        lcc.currency credit_currency_code,
        (SELECT fc.currency_name FROM fnd_currency fc WHERE fc.currency_code = lc.currency) currency_n,
        nvl(withdraw.due_amount,0) withdraw_approved_amount,
        case when  lc.con_release_flag='Y'
        then (lc.finance_amount - nvl(withdraw.surplus_amount,0))
        else  (lc.finance_amount - nvl(withdraw.due_amount,0))
        end withdraw_left_amount
        FROM
        lon_contract lc
        left join hls_credit_line hcl
        on  hcl.credit_line_id = lc.credit_line_id
        left join lon_credit_line_calc calc
        on  calc.credit_line_id = hcl.credit_line_id
        left join lon_credit_contract_line lccl
        on lccl.credit_line_id=hcl.credit_line_id
        left join  lon_credit_contract lcc
        on   lcc.credit_contract_id = lccl.credit_contract_id
        left join  lon_credit_contract oldcre
        on   oldcre.credit_contract_id=lc.credit_contract_id
        left join  hls_bp_master hbm
        on  hbm.bp_id = lc.credit_bp_id
        left join csh_bank_account cba
        on cba.bank_account_id = lc.repayment_bank_account_id
        left join
        (
        select
        lcw.contract_id,
        sum(lcw.due_amount) due_amount,
        sum(lcw.due_amount-nvl(lr.write_off_amount,0)) surplus_amount
        from
        lon_contract_withdraw lcw
        left join
        (
        select
        lcr.withdraw_id,
        nvl(sum(lcr.write_off_amount),0) write_off_amount
        from
        lon_contract_repayment lcr
        where
        lcr.cf_item=301
        group by
        lcr.withdraw_id) lr
        on
        lcw.withdraw_id=lr.withdraw_id
        where
        lcw.data_class='NORMAL'
        and lcw.withdraw_status in('APPROVED','PENDING')
        group by
        lcw.contract_id
        ) withdraw
        on withdraw.contract_id=lc.contract_id
        <where>
            1=1

            <if test="contractId!=null">
                and lc.contract_id = #{contractId}
            </if>
            <if test="contractStatus!=null">
                AND lc.contract_status = #{contractStatus}
            </if>
        </where>
        ORDER BY lc.contract_id DESC
    </select>
    <select id="lonContractQueryNew" resultMap="BaseResultMap">
        select *  from  (  SELECT
        lc.FINANCING_TERM_FROM,
        lc.FINANCING_TERM_TO,
        LC.DESCRIPTION,
        LC.ORIGINAL_CONTRACT_NUMBER,
        LC.CREDIT_CONTRACT_ID,

        LC.CREDIT_BP_ID,

        LC.DOCUMENT_TYPE,
        LC.CURRENCY,
        (select fc.currency_name
        from fnd_currency fc
        where fc.currency_code =LC.CURRENCY)        currency_n,
        LC.FINANCE_AMOUNT,
        LC.CREATED_BY,
        (select t.DESCRIPTION  from sys_user  t  where  t.user_id=lc.CREATED_BY) CREATED_BY_n,

        ( SELECT fc.company_short_name FROM fnd_company fc WHERE fc.company_id = lc.lon_company_id ) lon_company_id_n,
        ( SELECT m.BP_NAME FROM hls_bp_master m WHERE m.bp_id = lc.CREDIT_BP_ID ) CREDIT_BP_ID_n,
        (
        SELECT
        scvb.meaning AS value_name
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scb.CODE = 'FIN.CREDIT_METHOD'
        AND scb.code_id = scvb.code_id
        AND scvb.enabled_flag = 'Y'
        AND scvb.
        VALUE
        != 'F15'
        AND scvb.
        VALUE
        = lc.document_type

        ) document_type_n,
        lc.CONTRACT_ID,
        lc.COMPANY_ID,
        lc.CONTRACT_VALUE,

        lc.DOCUMENT_CATEGORY,
        lc.BUSINESS_TYPE,
        lc.CONTRACT_NUMBER,
        lc.CONTRACT_NAME,
        lc.CONTRACT_STATUS,
        lc.CREDIT_FLAG,
        lc.MORTGAGE_FLAG,
        lc.ASSURE_FLAG,
        lc.PLEDGE_FLAG,
        lc.GUARANTEE_FLAG,
        lc.LON_COMPANY_ID,
        lc.DATA_CLASS,
        lc.RELE_CREDIT_FLAG,
        lc.BAIL_FLAG,
        lc.TRANSFER_FLAG,
        lc.CON_RELEASE_FLAG,
        lc.CAPITAL_SOURCE,
        lc.CONTRACT_TYPE_INOUT,
        lc.OTHER_FLAG,
        lc.GZ_PLEDGE_FLAG,
        lc.RETURNED_AMOUNT,
        lc.CON_EXCHANGE_RATE,
        lc.CNY_FINANCE_AMOUNT,
        lc.COPY_INOUT_FLAG,
        lc.HISTORY_FLAG,
        lc.SERIAL_NUMBER,
        lc.CONFIRM_STATUS,LC.NOTE,
        (
        SELECT
        scvb.meaning AS value_name
        FROM
        sys_code_value_b scvb,
        sys_code_b scb
        WHERE
        scb.CODE = 'LON_CONTRACT_STATUS'
        AND scb.code_id = scvb.code_id
        AND scvb.enabled_flag = 'Y'

        AND scvb.
        VALUE
        = lc.contract_status

        ) contract_status_n,
        (SELECT M.CREDIT_CON_NUMBER   FROM lon_credit_contract  M  WHERE  M.credit_contract_id =LC.CREDIT_CONTRACT_ID)  CREDIT_CONTRACT_ID_N,
        (SELECT m.date_from FROM lon_credit_contract m WHERE m.credit_contract_id = LC.CREDIT_CONTRACT_ID) date_from,
        (SELECT m.date_to FROM lon_credit_contract m WHERE m.credit_contract_id = LC.CREDIT_CONTRACT_ID) date_to,
        lc.DEPOSIT_FLAG,
        nvl((SELECT
        sum(nvl(d.DUE_AMOUNT, 0))
        FROM
        lon_contract_withdraw d
        WHERE
        d.WITHDRAW_STATUS = 'APPROVED' and  d.contract_id = lc.contract_id),0)DUE_AMOUNT,
        (lc.FINANCE_AMOUNT - nvl((SELECT
        sum(nvl(d.DUE_AMOUNT, 0))
        FROM
        lon_contract_withdraw d
        WHERE
        d.WITHDRAW_STATUS = 'APPROVED' and  d.contract_id = lc.contract_id),0))fin_due_amount,
        lc.creation_date
        FROM
        lon_contract lc)   tc
	<where>
        tc.DATA_CLASS = 'NORMAL'
        <if test="contractId!=null">
            AND tc.contract_id = #{contractId}
        </if>
        <if test="contractNumber != null">
            AND tc.contract_number LIKE CONCAT(concat('%',#{contractNumber}),'%')
        </if>
        <if test="creditBpIdN != null">
            AND tc.credit_bp_id_n LIKE CONCAT(concat('%',#{creditBpIdN}),'%')
        </if>
        <if test="contractStatusN != null">    <!--状态-->
            AND tc.contract_status_n = #{contractStatusN}
        </if>
        <if test="contractStatus != null">
            AND tc.contract_status LIKE CONCAT(concat('%',#{contractStatus}),'%')
        </if>
        <if test="lonCompanyIdN != null">    <!--融资主体-->
            AND tc.lon_company_id_n = #{lonCompanyIdN}
        </if>
        <if test="documentTypeN != null">    <!--融资种类-->
            AND tc.document_type_n = #{documentTypeN}
        </if>
        <if test="currencyN != null">    <!--币种-->
            AND tc.currency_n = #{currencyN}
        </if>
        <if test="financingTermFrom != null">    <!--合同执行期从-->
            AND to_char(tc.financing_term_from, 'YYYY-MM-DD') &gt;= #{financingTermFrom}
        </if>
        <if test="financingTermTo != null">    <!--合同执行期到-->
            AND to_char(tc.financing_term_to, 'YYYY-MM-DD') &lt;= #{financingTermTo}
        </if>
    </where>
        ORDER BY tc.creation_date DESC
    </select>
    <select id="lonContractQuery" resultMap="BaseResultMap">
        select * from (SELECT
        lc.*, (select hbm.bp_name from hls_bp_master hbm
        where hbm.bp_id = lc.credit_bp_id) credit_bp_name,
        (
        select sc.code_value_name from
        <include refid="hls.core.sys.mapper.SysCodeValueMapper.queryCodeDetail"/>
        sc
        where sc.CODE = 'LON.CREDIT_CATEGORY'
        and sc.code_value=lc.document_type
        ) document_type_desc,
        (
        SELECT
        hds.description
        FROM
        hls_document_status hds
        WHERE
        hds.document_category = 'LON_CONTRACT'
        AND hds.enabled_flag = 'Y'
        AND hds.status_code = lc.contract_status
        ) contract_status_desc,
        (
        SELECT
        hds.description
        FROM
        hls_document_status hds
        WHERE
        hds.document_category = 'LON_CONTRACT'
        AND hds.enabled_flag = 'Y'
        AND hds.status_code = lc.settle_status
        ) settle_status_desc,
        lcc.credit_contract_name,
        lcc.credit_con_number,
        (select fc.company_short_name from fnd_company fc
        where fc.company_id = lc.lon_company_id) lon_company_id_desc,
        (select scvb.DESCRIPTION from sys_code_b scb,sys_code_value_b scvb
        where scb.CODE = 'LON.FINANCING_CHANNEL'
        and scb.CODE_ID = scvb.CODE_ID
        and scvb.VALUE =lc.financing_channel) financing_channel_desc,
        (select scvb.DESCRIPTION from sys_code_b scb,sys_code_value_b scvb
        where scb.CODE = 'LON.DOMESTIC_OVERSEA_FINANCE'
        and scb.CODE_ID = scvb.CODE_ID
        and scvb.VALUE =lc.domestic_oversea_finance) domestic_oversea_finance_desc,
        CASE
        WHEN nvl(CW.DUE_AMOUNT,0)=0
        THEN '未提款'
        WHEN nvl(LC.FINANCE_AMOUNT,0)> nvl(CW.DUE_AMOUNT,0)
        THEN '部分提款'
        WHEN nvl(LC.FINANCE_AMOUNT,0)= nvl(CW.DUE_AMOUNT,0)
        THEN '完全提款'
        END CONTRACT_WITHDRAW_STATUS,
        case when lc.con_release_flag='Y' then
        nvl(LC.FINANCE_AMOUNT,0)-(nvl(CW.DUE_AMOUNT,0)-nvl(CW.WRITE_OFF_AMOUNT,0)) ELSE
        nvl(LC.FINANCE_AMOUNT,0)-nvl(CW.DUE_AMOUNT,0) END withdraw_left_amount,
        (SELECT fc.currency_name FROM fnd_currency fc WHERE fc.currency_code = lc.currency) currency_name,
        (select min(lcw.due_date) from  lon_contract_withdraw lcw
        where lcw.contract_id=lc.contract_id
        and lcw.approval_date=CW.approval_date) withdraw_start_date,
        (select max(lcw.withdraw_end_date) from  lon_contract_withdraw lcw
        where lcw.contract_id=lc.contract_id
        and lcw.approval_date=CW.approval_date) withdraw_end_date
        FROM
        lon_contract lc
        left join
        (
        SELECT
        LCW.CONTRACT_ID,
        SUM(LCW.DUE_AMOUNT) DUE_AMOUNT,
        MAX(LCW.APPROVAL_DATE) APPROVAL_DATE,
        SUM(LCR.WRITE_OFF_AMOUNT) WRITE_OFF_AMOUNT
        FROM
        LON_CONTRACT_WITHDRAW LCW
        LEFT JOIN
        (SELECT CR.WITHDRAW_ID,nvl(SUM(CR.WRITE_OFF_AMOUNT),0) WRITE_OFF_AMOUNT
        FROM LON_CONTRACT_REPAYMENT CR
        WHERE CR.CF_ITEM=301
        GROUP BY CR.WITHDRAW_ID) LCR
        ON LCR.WITHDRAW_ID=LCW.WITHDRAW_ID
        WHERE
        LCW.DATA_CLASS='NORMAL'
        AND LCW.WITHDRAW_STATUS IN('APPROVED','PENDING')
        GROUP BY
        LCW.CONTRACT_ID ) CW
        ON
        LC.CONTRACT_ID=CW.CONTRACT_ID
        left join hls_credit_line hcl
        on  hcl.credit_line_id = lc.credit_line_id
        left join lon_credit_contract_line lccl
        on lccl.credit_line_id=hcl.credit_line_id
        left join  lon_credit_contract lcc
        on   lcc.credit_contract_id = lccl.credit_contract_id
        where
        lc.data_class = 'NORMAL'
        and lc.company_id=#{request.companyId}
        <if test="contractNumber!=null">
            AND lc.contract_number LIKE CONCAT(concat('%',#{contractNumber}),'%')
        </if>
        <if test="contractName!=null">
            AND lc.contract_name LIKE CONCAT(concat('%',#{contractName}),'%')
        </if>
        <if test="listDocumentType">
            AND lc.document_type in
            <foreach collection="listDocumentType" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="listContractStatus">
            AND lc.SETTLE_STATUS in
            <foreach collection="listContractStatus" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="listCurrency">
            AND lc.currency in
            <foreach collection="listCurrency" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="listFinancingChannel">
            AND lc.financing_channel in
            <foreach collection="listFinancingChannel" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="listDomesticOverseaFinance">
            AND lc.domestic_oversea_finance in
            <foreach collection="listDomesticOverseaFinance" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="amtFrom!=null or amtTo!=null">
            <if test="amtFrom">
                AND lc.finance_amount &gt;=#{amtFrom}
            </if>
            <if test="amtTo">
                AND lc.finance_amount &lt;=#{amtTo}
            </if>
        </if>
        <if test="creditBpName">
            AND exists (select hbm.bp_name from hls_bp_master hbm
            where hbm.bp_id = lc.credit_bp_id
            and hbm.bp_name LIKE CONCAT(concat('%',#{creditBpName}),'%'))
        </if>
        <if test="creditContractName">
            AND lcc.credit_contract_name LIKE CONCAT(concat('%',#{creditContractName}),'%')
        </if>
        <if test="creditConNumber">
            and lcc.credit_con_number LIKE CONCAT(concat('%',#{creditConNumber}),'%')
        </if>
        <if test="guarantorName">
            AND exists (select 1 from ct_lon_contract_guarantor_bp gb
            where gb.contract_id = lc.contract_id
            and gb.guarantor_name LIKE CONCAT(concat('%',#{guarantorName}),'%'))
        </if>
        <if test="majorContractNumber">
            AND lc.major_contract_number LIKE CONCAT(concat('%',#{majorContractNumber}),'%')
        </if>
        ORDER BY
        lc.LAST_UPDATE_DATE DESC) t1
        where 1=1
        <if test="orgTypeDesc != null">
            and t1.lon_company_id_desc like concat('%',#{orgTypeDesc},'%')
        </if>
        <if test="listWithdrawStatus">
            and t1.CONTRACT_WITHDRAW_STATUS in
            <foreach collection="listWithdrawStatus" item="item" open="(" close=")" separator=",">
                <choose>
                    <when test="item=='NULL'">
                        '未提款'
                    </when>
                    <when test="item=='PART'">
                        '部分提款'
                    </when>
                    <otherwise>
                        '完全提款'
                    </otherwise>
                </choose>
            </foreach>
        </if>
    </select>

    <select id="lonContractChangeReqQuery" resultMap="BaseResultMap">
        SELECT
        lc.*, (select hbm.bp_name from hls_bp_master hbm
        where hbm.bp_id = lc.credit_bp_id) credit_bp_name,
        (
        select sc.code_value_name from
        <include refid="hls.core.sys.mapper.SysCodeValueMapper.queryCodeDetail"/>
        sc
        where sc.CODE = 'LON.CREDIT_CATEGORY'
        and sc.code_value=lc.document_type
        ) document_type_desc,
        (
        SELECT
        hds.description
        FROM
        hls_document_status hds
        WHERE
        hds.document_category = 'LON_CONTRACT'
        AND hds.enabled_flag = 'Y'
        AND hds.status_code = lc.contract_status
        ) contract_status_desc,
        (
        SELECT
        hds.description
        FROM
        hls_document_status hds
        WHERE
        hds.document_category = 'LON_CONTRACT'
        AND hds.enabled_flag = 'Y'
        AND hds.status_code = lc.settle_status
        ) settle_status_desc,
        lcc.credit_contract_name,
        lcc.credit_con_number,
        (select fc.company_short_name from fnd_company fc
        where fc.company_id = lc.lon_company_id) lon_company_id_desc,
        lc.financing_channel,
        (select scvb.DESCRIPTION from sys_code_b scb,sys_code_value_b scvb
        where scb.CODE = 'LON.FINANCING_CHANNEL'
        and scb.CODE_ID = scvb.CODE_ID
        and scvb.VALUE =lc.financing_channel) financing_channel_desc,
        lc.domestic_oversea_finance,
        (select scvb.DESCRIPTION from sys_code_b scb,sys_code_value_b scvb
        where scb.CODE = 'LON.DOMESTIC_OVERSEA_FINANCE'
        and scb.CODE_ID = scvb.CODE_ID
        and scvb.VALUE =lc.domestic_oversea_finance) domestic_oversea_finance_desc,
        clccr.req_date
        FROM
        lon_contract lc,
        join ct_lon_contract_change_req clccr
        on  clccr.change_req_id = lc.contract_id
        left join hls_credit_line hcl
        on  hcl.credit_line_id = lc.credit_line_id
        left join lon_credit_contract_line lccl
        on lccl.credit_line_id=hcl.credit_line_id
        left join  lon_credit_contract lcc
        on   lcc.credit_contract_id = lccl.credit_contract_id
        <where>
            1=1
            <if test="contractNumber!=null">
                AND lc.contract_number LIKE CONCAT(concat('%',#{contractNumber}),'%')
            </if>
            <if test="contractName!=null">
                AND lc.contract_name LIKE CONCAT(concat('%',#{contractName}),'%')
            </if>
            <if test="listDocumentType">
                AND lc.document_type in
                <foreach collection="listDocumentType" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="listContractStatus">
                AND lc.contract_status in
                <foreach collection="listContractStatus" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="listCurrency">
                AND lc.currency in
                <foreach collection="listCurrency" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="listFinancingChannel">
                AND lc.financing_channel in
                <foreach collection="listFinancingChannel" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="listDomesticOverseaFinance">
                AND lc.domestic_oversea_finance in
                <foreach collection="listDomesticOverseaFinance" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="reqDateFrom!=null or reqDateTo!=null">
                <if test="reqDateFrom">
                    AND clccr.req_date &gt;=to_date(#{reqDateFrom},'YYYY-MM-DD')
                </if>
                <if test="reqDateTo">
                    AND clccr.req_date &lt;=to_date(#{reqDateTo},'YYYY-MM-DD')
                </if>
            </if>
            <if test="amtFrom!=null or amtTo!=null">
                <if test="amtFrom">
                    AND lc.finance_amount &gt;=#{amtFrom}
                </if>
                <if test="amtTo">
                    AND lc.finance_amount &lt;=#{amtTo}
                </if>
            </if>
            <if test="creditBpName">
                AND exists (select hbm.bp_name from hls_bp_master hbm
                where hbm.bp_id = lc.credit_bp_id
                and hbm.bp_name LIKE CONCAT(concat('%',#{creditBpName}),'%'))
            </if>
            <if test="creditContractName">
                AND lcc.credit_contract_name LIKE CONCAT(concat('%',#{creditContractName}),'%')
            </if>
            <if test="creditConNumber">
                and lcc.credit_con_number LIKE CONCAT(concat('%',#{creditConNumber}),'%')
            </if>
        </where>
        ORDER BY
        lc.LAST_UPDATE_DATE DESC
    </select>

    <select id="lonContractChangeReqLov" resultMap="BaseResultMap" parameterType="com.hand.hls.fin.dto.HlsCusLonContract">
        select  lc.contract_id,
        lc.contract_number,
        lc.contract_name,
        lc.finance_amount,
        lc.major_contract_number,
        lc.document_type,
        (
        select sc.code_value_name from
        <include refid="hls.core.sys.mapper.SysCodeValueMapper.queryCodeDetail"/>
        sc
        where sc.CODE = 'LON.CREDIT_CATEGORY'
        and sc.code_value=lc.document_type
        ) document_type_desc,
        lc.credit_bp_id,
        (select hbm.bp_name from hls_bp_master hbm
        where hbm.bp_id = lc.credit_bp_id) credit_bp_name
        from lon_contract lc
        <where> lc.contract_status = 'APPROVED'
            and lc.data_class = 'NORMAL'
            <if test="contractNumber!=null">
                AND lc.contract_number LIKE CONCAT(concat('%',#{contractNumber}),'%')
            </if>
            <if test="majorContractNumber!=null">
                AND lc.major_contract_number LIKE CONCAT(concat('%',#{majorContractNumber}),'%')
            </if>
            <if test="contractName!=null">
                AND lc.contract_name LIKE CONCAT(concat('%',#{contractName}),'%')
            </if>
            <if test="companyId!=null">
                AND lc.company_id = #{companyId}
            </if>
        </where>
    </select>

    <update id="updateContractSettleStatus" >
        update
            lon_contract lc
        set
            lc.settle_status='CLEARED'
        where
              lc.settle_status='UNCLEARED'
          and (select count(1)
               from lon_contract_withdraw cw
              where cw.contract_id=lc.contract_id
               and cw.withdraw_status!='APPROVED'
               and cw.data_class='NORMAL')=0
          and lc.finance_amount &lt;=
            (
                select
                     sum((case when lcp.cf_item = 301 then lcp.write_off_amount else 0 end))
                from
                    lon_contract_withdraw lcw
                join
                    lon_contract_repayment lcp
                on
                    lcp.withdraw_id=lcw.withdraw_id
                where
                    lcw.contract_id=lc.contract_id
                and lcw.data_class='NORMAL'
                and lcw.withdraw_status='APPROVED'
                and lcp.write_off_flag='FULL'
             )
          and (
                select
                    count(1)
                from
                    lon_contract_repayment cr,
                    lon_contract_withdraw cw
                where
                    cr.withdraw_id=cw.withdraw_id
                and cw.contract_id=lc.contract_id
                and cw.data_class='NORMAL'
                and nvl(cr.write_off_flag,'NOT')!='FULL') =0
    </update>

    <select id="selectMajorContractNumCount"  parameterType="com.hand.hls.fin.dto.HlsCusLonContract" resultType="int">
        select
        count(1)
        from  lon_contract lc
        where lc.major_contract_number=#{majorContractNumber}
        <if test="contractId!=null">
            and lc.contract_id != #{contractId}
        </if>
    </select>

    <select id="selectWithdrawValidStatus"  parameterType="com.hand.hls.fin.dto.HlsCusLonContract" resultType="int">
        select
             count(1)
        from
            lon_contract lc
        join
            lon_contract_withdraw lcw
        on
            lcw.contract_id=lc.contract_id
        where
            lcw.data_class='NORMAL'
        and lcw.withdraw_status in ('APPROVED','PENDING','APPROVING')
        and lc.contract_id = #{contractId}
    </select>

    <update id="updateLonContractSourceCreditLineId">
        update
            lon_contract lc
        set lc.source_credit_line_id=#{sourceCreditLineId}
        where
           lc.credit_contract_id=#{creditContractId}
       and lc.credit_line_id=#{creditLineId}
    </update>


    <select id="selectLonContractDataDetail" resultMap="BaseResultMap" parameterType="com.hand.hls.fin.dto.HlsCusLonContract">
        SELECT
        lc.* ,
        hbm.bp_name credit_bp_name ,
        hbm.extra_nam,
        hbm.rele_com_flag,
        hbm.bp_code,
        hbm.domestic_oversea,
        hbm.local_nonlocal,
        lc.original_contract_number ,
        lc.finance_amount ,
        lc.credit_contract_id ,
        oldcre.credit_contract_name,
        oldcre.credit_con_number,
        lcc.withdraw_perequisite,
        lcc.post_loan_manage,
        (
        select sc.code_value_name from
        <include refid="hls.core.sys.mapper.SysCodeValueMapper.queryCodeDetail"/>
        sc
        where sc.CODE = 'LON.CREDIT_CATEGORY'
        and sc.code_value=lcc.document_type
        ) document_type_desc,
        hcl.document_type  document_type2,
        lccl.credit_category,
        lccl.withdraw_deadline,
        hcl.credit_line_amt,
        calc.actual_available_amt open_to_buy,
        nvl(calc.credit_exposure_amt , 0)  credit_exposure_amt,
        nvl(calc.withdraw_balance,0) withdraw_balance,
        hcl.valid_from,
        hcl.valid_to,
        hcl.first_withdraw_date,
        hcl.delay_from,
        hcl.delay_to,
        hcl.competent_dept,
        hcl.finance_type,
        lc.credit_line_id ,
        (
        SELECT
        hdt.description
        FROM
        hls_document_type hdt
        WHERE
        hdt.document_category = hcl.document_category
        AND hdt.document_type = hcl.document_type
        AND hdt.business_type = hcl.business_type
        ) credit_line_desc ,
        cba.bank_account_name withdraw_bank_account_name ,
        cba.bank_account_num  withdraw_bank_account_number ,
        cba.bank_account_name  repayment_bank_account_name ,
        cba.bank_account_num repayment_bank_account_number ,
        (
        SELECT ca.bank_name FROM csh_bank ca WHERE ca.bank_id =  cba.bank_id) withdraw_bank_name,
        cba.bank_branch_name withdraw_bank_branch_name,
        lcc.currency credit_currency_code,
        (SELECT fc.currency_name FROM fnd_currency fc WHERE fc.currency_code = lc.currency) currency_name,
        nvl(withdraw.due_amount,0) withdraw_approved_amount,
        case when  lc.con_release_flag='Y'
        then (lc.finance_amount - nvl(withdraw.surplus_amount,0))
        else  (lc.finance_amount - nvl(withdraw.due_amount,0))
        end withdraw_left_amount
        FROM
        lon_contract lc
        left join hls_credit_line hcl
        on  hcl.credit_line_id = lc.credit_line_id
        left join lon_credit_line_calc calc
        on  calc.credit_line_id = hcl.credit_line_id
        left join lon_credit_contract_line lccl
        on lccl.credit_line_id=hcl.credit_line_id
        left join  lon_credit_contract lcc
        on   lcc.credit_contract_id = lccl.credit_contract_id
        left join  lon_credit_contract oldcre
        on   oldcre.credit_contract_id=lc.credit_contract_id
        left join  hls_bp_master hbm
        on  hbm.bp_id = lc.credit_bp_id
        left join csh_bank_account cba
        on cba.bank_account_id = lc.repayment_bank_account_id
        left join
        (
        select
        lcw.contract_id,
        sum(lcw.due_amount) due_amount,
        sum(lcw.due_amount-nvl(lr.write_off_amount,0)) surplus_amount
        from
        lon_contract_withdraw lcw
        left join
        (
        select
        lcr.withdraw_id,
        nvl(sum(lcr.write_off_amount),0) write_off_amount
        from
        lon_contract_repayment lcr
        where
        lcr.cf_item=301
        group by
        lcr.withdraw_id) lr
        on
        lcw.withdraw_id=lr.withdraw_id
        where
        lcw.data_class='NORMAL'
        and lcw.withdraw_status in('APPROVED','PENDING')
        group by
        lcw.contract_id
        ) withdraw
        on withdraw.contract_id=lc.contract_id
        <where>
            1=1

            <if test="contractId!=null">
                and lc.contract_id = #{contractId}
            </if>
            <if test="contractStatus!=null">
                AND lc.contract_status = #{contractStatus}
            </if>
        </where>
        ORDER BY lc.contract_id DESC
    </select>

    <select id="lonContractCheckQuery"  resultMap="BaseResultMap">
        SELECT
            ( SELECT min( lcw.due_date ) FROM lon_contract_withdraw lcw WHERE lcw.CONTRACT_ID = lc.CONTRACT_ID ) AS FINANCING_TERM_FROM,
            ( SELECT max( lcw.withdraw_end_date ) FROM lon_contract_withdraw lcw WHERE lcw.CONTRACT_ID = lc.CONTRACT_ID ) AS FINANCING_TERM_TO,
            ( SELECT sum( lcw.due_amount ) FROM lon_contract_withdraw lcw WHERE lcw.CONTRACT_ID = lc.CONTRACT_ID ) AS FINANCE_AMOUNT
        FROM
            lon_contract lc
        WHERE
            lc.contract_id = #{contractId}
    </select>
    <select id="selectLonContractByBpId" resultType="com.hand.hls.fin.dto.HlsCusLonContract" resultMap="BaseResultMap">
        SELECT *
        FROM lon_contract t
        <where>
            t.contract_id in (
                SELECT lcg.contract_id
                FROM lon_contract_guarantor lcg
                WHERE lcg.bp_id = #{bpId}
            )
        </where>
    </select>
    <select id="contractNumberCheck" resultType="com.hand.hls.fin.dto.HlsCusLonContract" resultMap="BaseResultMap">
        SELECT
               *
        FROM
             lon_contract t
        WHERE
              t.contract_number = #{contractNumber}
    </select>

</mapper>