<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusCreditContractLineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusCreditContractLine">
        <result column="CREDIT_CATEGORY" property="creditCategory" jdbcType="VARCHAR" />
        <result column="CREDIT_CATEGORY_N" property="creditCategoryN" jdbcType="VARCHAR" />
        <result column="WITHDRAW_DEADLINE" property="withdrawDeadline" jdbcType="DATE" />
        <result column="BUSINESS_DEADLINE" property="businessDeadline" jdbcType="VARCHAR" />
        <result column="CREDIT_CONTRACT_LINE_ID" property="creditContractLineId" jdbcType="DECIMAL" />
        <result column="CREDIT_CONTRACT_ID" property="creditContractId" jdbcType="DECIMAL" />
        <result column="RATE" property="rate" jdbcType="DECIMAL" />
        <result column="GUARANTEE_TYPE" property="guaranteeType" jdbcType="VARCHAR" />
        <result column="GUARANTEE_TYPE_N" property="guaranteeTypeN" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="CREDIT_LINE_ID" property="creditLineId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR" />
        <result column="DOCUMENT_TYPE_N" property="documentTypeN" jdbcType="VARCHAR" />
        <result column="VALID_FROM" property="validFrom" jdbcType="DATE" />
        <result column="VALID_TO" property="validTo" jdbcType="DATE" />
        <result column="CREDIT_LINE_AMT" property="creditLineAmt" jdbcType="DECIMAL" />
        <result column="CREDIT_EXPOSURE_AMT" property="creditExposureAmt" jdbcType="DECIMAL" />
        <result column="CREDIT_AVAILABLE_AMT" property="creditAvailableAmt" jdbcType="DECIMAL" />
        <result column="WITHDRAW_COUNT" property="withdrawCount" jdbcType="DECIMAL" />
        <result column="WITHDRAW_BALANCE" property="withdrawBalance" jdbcType="DECIMAL" />
        <result column="SOURCE_CREDIT_FLAG" property="sourceCreditFlag" jdbcType="VARCHAR" />
        <result column="CANCEL_FLAG" property="cancelFlag" jdbcType="VARCHAR" />
        <result column="SOURCE_CREDIT_LINE_ID" property="sourceCreditLineId" jdbcType="DECIMAL" />
        <result column="RATE_DESC" property="rateDesc" jdbcType="VARCHAR" />
        <result column="CREDIT_TERM" property="creditTerm" jdbcType="DECIMAL" />
        <result column="TOTAL_WITHDRAW_AMOUNT" property="totalWithdrawAmount" jdbcType="DECIMAL" />
        <result column="LIMIT_WITHDRAW_AMOUNT" property="limitWithdrawAmount" jdbcType="DECIMAL" />
        <result column="SOURCE_CANCEL_FLAG" property="sourceCancelFlag" jdbcType="VARCHAR" />

    </resultMap>


    <select id="selectCreditContractLine" parameterType="com.hand.hls.fin.dto.HlsCusCreditContractLine" resultMap="BaseResultMap">
    SELECT
        LCCL.CREDIT_CATEGORY,
        LCCL.WITHDRAW_DEADLINE,
        LCCL.BUSINESS_DEADLINE,
        LCCL.CREDIT_CONTRACT_LINE_ID,
        LCCL.CREDIT_CONTRACT_ID,
        LCCL.RATE,
        LCCL.RATE_DESC,
        LCCL.GUARANTEE_TYPE,
        LCCL.DESCRIPTION,
        LCCL.CREDIT_LINE_ID,
        LCCL.CREDIT_TERM,
        HCL.DOCUMENT_TYPE,
        HCL.CREDIT_LINE_AMT,
        CLC.CREDIT_EXPOSURE_AMT,
        nvl(CLC.WITHDRAW_BALANCE,0) WITHDRAW_BALANCE,
        nvl(HCL.CREDIT_LINE_AMT,0)- nvl(CLC.CREDIT_EXPOSURE_AMT,0) CREDIT_AVAILABLE_AMT,
        nvl(CLC.TOTAL_WITHDRAW_AMOUNT,0) TOTAL_WITHDRAW_AMOUNT,
        nvl(CLC.LIMIT_WITHDRAW_AMOUNT,0) LIMIT_WITHDRAW_AMOUNT,
        HCL.VALID_FROM,
        HCL.VALID_TO,
        HCL.CANCEL_FLAG,
        HCL.SOURCE_CREDIT_LINE_ID,
        nvl((SELECT
                COUNT(1)
            FROM
                LON_CONTRACT LC
            JOIN
                LON_CONTRACT_WITHDRAW LCW
            ON
                LC.CONTRACT_ID=LCW.CONTRACT_ID
            WHERE
                LC.RELE_CREDIT_FLAG='Y'
            AND LCW.DATA_CLASS='NORMAL'
            AND LC.CREDIT_LINE_ID=LCCL.CREDIT_LINE_ID),0) WITHDRAW_COUNT,
        'N'   SOURCE_CREDIT_FLAG,
        SHCL.CANCEL_FLAG  SOURCE_CANCEL_FLAG,
             v1.meaning credit_category_n,
             v2.meaning guarantee_type_n,
             hdt.description document_type_n
    FROM
        LON_CREDIT_CONTRACT_LINE LCCL
    JOIN  HLS_CREDIT_LINE HCL ON HCL.CREDIT_LINE_ID= LCCL.CREDIT_LINE_ID
    JOIN  LON_CREDIT_LINE_CALC CLC ON CLC.CREDIT_LINE_ID=LCCL.CREDIT_LINE_ID
    LEFT JOIN HLS_CREDIT_LINE SHCL ON SHCL.CREDIT_LINE_ID=HCL.SOURCE_CREDIT_LINE_ID
    left join sys_code_value_b_v v1 on v1.code= 'LON.CREDIT_CATEGORY' and v1.code_value = LCCL.CREDIT_CATEGORY
     left join sys_code_value_b_v v2 on v2.code= 'LON.GUARANTEE_TYPE' and v2.code_value = LCCL.GUARANTEE_TYPE
     left join hls_document_type hdt on hdt.document_category = 'HLS_CREDIT_LINE'
         and hdt.business_type = 'FINANCING_LOAN' and hdt.enabled_flag = 'Y'
         and hdt.document_type = HCL.DOCUMENT_TYPE
    WHERE
        LCCL.CREDIT_CONTRACT_ID=#{creditContractId}
    </select>

    <select id="selectCreditLineAmtSum" resultType="java.lang.Double">
    SELECT
        nvl(SUM(HCL.CREDIT_LINE_AMT),0) CREDIT_LINE_AMT_SUM
    FROM
        LON_CREDIT_CONTRACT_LINE LCCL
    JOIN
        HLS_CREDIT_LINE HCL
    ON
        HCL.CREDIT_LINE_ID= LCCL.CREDIT_LINE_ID
    WHERE
        LCCL.CREDIT_CONTRACT_ID=#{creditContractId}
    </select>


    <select id="selectRetainCreditAmt" resultType="java.lang.Double">
     SELECT
        nvl(SUM(LCC.CREDIT_UNEXPOSURE_AMT),0)-nvl(SUM(CRE.DUE_AMOUNT),0) AMOUNT
     FROM
        LON_CREDIT_CONTRACT_CALC LCC
     LEFT JOIN
        (
            SELECT
                LCCL.CREDIT_CONTRACT_ID,
                nvl(SUM(ROUND((LCW.DUE_AMOUNT*nvl(LCW.EXCHANGE_RATE,1)),2)) ,0) DUE_AMOUNT
            FROM
                LON_CONTRACT LC
            JOIN
                LON_CONTRACT_WITHDRAW LCW
            ON
                LCW.CONTRACT_ID=LC.CONTRACT_ID
            JOIN
                LON_CREDIT_CONTRACT_LINE LCCL
            ON
                LCCL.CREDIT_LINE_ID=LC.CREDIT_LINE_ID
            WHERE
                LC.RELE_CREDIT_FLAG='Y'
            AND LCW.WITHDRAW_STATUS!='APPROVED'
            AND LCW.WITHDRAW_STATUS!='PENDING'
            AND LCW.DATA_CLASS='NORMAL'
            GROUP BY
                LCCL.CREDIT_CONTRACT_ID) CRE
    ON
        CRE.CREDIT_CONTRACT_ID=LCC.CREDIT_CONTRACT_ID
    WHERE
        1=1
     <if test="creditLineId!=null">
        AND LCC.CREDIT_CONTRACT_ID=
        (
            SELECT
                LCCL.CREDIT_CONTRACT_ID
            FROM
                LON_CREDIT_CONTRACT_LINE LCCL
            WHERE
                LCCL.CREDIT_LINE_ID=#{creditLineId} )
     </if>
     <if test="creditContractId!=null">
          AND LCC.CREDIT_CONTRACT_ID=#{creditContractId}
     </if>
    </select>

        <select id="selectForecastCreditAmt" resultType="java.lang.Double">
                SELECT
                    nvl(SUM(ROUND((LCW.DUE_AMOUNT*nvl(LCW.EXCHANGE_RATE,1)),2)) ,0) DUE_AMOUNT
                FROM
                    LON_CONTRACT LC
                JOIN
                    LON_CONTRACT_WITHDRAW LCW
                ON
                    LCW.CONTRACT_ID=LC.CONTRACT_ID
                JOIN
                   LON_CREDIT_CONTRACT_LINE LCCL
                ON
                   LCCL.CREDIT_LINE_ID=LC.CREDIT_LINE_ID
                WHERE
                    LC.RELE_CREDIT_FLAG='Y'
                AND LCW.WITHDRAW_STATUS!='APPROVED'
                AND LCW.WITHDRAW_STATUS!='PENDING'
                AND LCW.DATA_CLASS='NORMAL'
                <if test="creditLineId!=null">
                AND LC.CREDIT_LINE_ID=#{creditLineId}
               </if>
               <if test="creditContractId!=null">
                AND LCCL.CREDIT_CONTRACT_ID=#{creditContractId}
               </if>
    </select>


    <select id="selectCreditWithdrawCount" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            LON_CREDIT_CONTRACT LCC
        JOIN
            LON_CREDIT_CONTRACT_LINE LCCL
        ON
            LCC.CREDIT_CONTRACT_ID=LCCL.CREDIT_CONTRACT_ID
        JOIN
            LON_CONTRACT LC
        ON
            LCCL.CREDIT_LINE_ID=LC.CREDIT_LINE_ID
        AND LC.RELE_CREDIT_FLAG='Y'
         <if test='withdrawFlag=="Y"'>
        JOIN
            LON_CONTRACT_WITHDRAW LCW
        ON
            LCW.CONTRACT_ID=LC.CONTRACT_ID
        AND LCW.DATA_CLASS='NORMAL'
           </if>
        WHERE
            1=1
        <if test="creditContractId!=null">
          AND  LCC.CREDIT_CONTRACT_ID=#{creditContractId}
        </if>
        <if test="creditLineId!=null">
           AND LCCL.CREDIT_LINE_ID =#{creditLineId}
        </if>
    </select>

   <select id="selectCreditLineCarry" parameterType="com.hand.hls.fin.dto.HlsCusCreditContractLine" resultMap="BaseResultMap">
                 (
         SELECT
             LCCL.CREDIT_CATEGORY,
             LCCL.WITHDRAW_DEADLINE,
             LCCL.BUSINESS_DEADLINE,
             LCCL.CREDIT_CONTRACT_LINE_ID,
             LCCL.CREDIT_CONTRACT_ID,
             LCCL.RATE,
             LCCL.GUARANTEE_TYPE,
             LCCL.DESCRIPTION,
             LCCL.CREDIT_LINE_ID,
             LCCL.CREDIT_TERM,
             HCL.DOCUMENT_TYPE,
             HCL.CREDIT_LINE_AMT,
             CLC.CREDIT_EXPOSURE_AMT,
             nvl(CLC.WITHDRAW_BALANCE,0)                                WITHDRAW_BALANCE,
             nvl(HCL.CREDIT_LINE_AMT,0)- nvl(CLC.CREDIT_EXPOSURE_AMT,0) CREDIT_AVAILABLE_AMT,
             nvl(CLC.TOTAL_WITHDRAW_AMOUNT,0) TOTAL_WITHDRAW_AMOUNT,
             nvl(CLC.LIMIT_WITHDRAW_AMOUNT,0) LIMIT_WITHDRAW_AMOUNT,
             HCL.VALID_FROM,
             HCL.VALID_TO,
             HCL.CANCEL_FLAG,
             HCL.SOURCE_CREDIT_LINE_ID,
             nvl(
                   (
                   SELECT
                       COUNT(1)
                   FROM
                       LON_CONTRACT LC
                   JOIN
                       LON_CONTRACT_WITHDRAW LCW
                   ON
                       LC.CONTRACT_ID=LCW.CONTRACT_ID
                   WHERE
                       LC.RELE_CREDIT_FLAG='Y'
                   AND LCW.DATA_CLASS='NORMAL'
                   AND LC.CREDIT_LINE_ID=LCCL.CREDIT_LINE_ID),0) WITHDRAW_COUNT,
             'N'   SOURCE_CREDIT_FLAG,
             v1.meaning credit_category_n,
             v2.meaning guarantee_type_n,
             hdt.description document_type_n
         FROM LON_CREDIT_CONTRACT_LINE LCCL
         JOIN HLS_CREDIT_LINE HCL ON HCL.CREDIT_LINE_ID= LCCL.CREDIT_LINE_ID
         JOIN LON_CREDIT_LINE_CALC CLC ON CLC.CREDIT_LINE_ID=HCL.CREDIT_LINE_ID
         left join sys_code_value_b_v v1 on v1.code= 'LON.CREDIT_CATEGORY' and v1.code_value = LCCL.CREDIT_CATEGORY
         left join sys_code_value_b_v v2 on v2.code= 'LON.GUARANTEE_TYPE' and v2.code_value = LCCL.GUARANTEE_TYPE
         left join hls_document_type hdt on hdt.document_category = 'HLS_CREDIT_LINE'
             and hdt.business_type = 'FINANCING_LOAN' and hdt.enabled_flag = 'Y'
             and hdt.document_type = HCL.DOCUMENT_TYPE
         WHERE
             1=1
           <if test="creditContractId!=null">
             AND LCCL.CREDIT_CONTRACT_ID=#{creditContractId}
           </if>
           <if test="creditContractId==null">
             AND LCCL.CREDIT_CONTRACT_ID=-1
           </if>
       )
        UNION
            (
                SELECT
                    LCCL.CREDIT_CATEGORY,
                    LCCL.WITHDRAW_DEADLINE,
                    LCCL.BUSINESS_DEADLINE,
                    LCCL.CREDIT_CONTRACT_LINE_ID,
                    LCCL.CREDIT_CONTRACT_ID,
                    LCCL.RATE,
                    LCCL.GUARANTEE_TYPE,
                    LCCL.DESCRIPTION,
                    LCCL.CREDIT_LINE_ID,
                    LCCL.CREDIT_TERM,
                    HCL.DOCUMENT_TYPE,
                    HCL.CREDIT_LINE_AMT,
                    CLC.CREDIT_EXPOSURE_AMT,
                    nvl(CLC.WITHDRAW_BALANCE,0)                                WITHDRAW_BALANCE,
                    nvl(HCL.CREDIT_LINE_AMT,0)- nvl(CLC.CREDIT_EXPOSURE_AMT,0) CREDIT_AVAILABLE_AMT,
                    nvl(CLC.TOTAL_WITHDRAW_AMOUNT,0) TOTAL_WITHDRAW_AMOUNT,
                    nvl(CLC.LIMIT_WITHDRAW_AMOUNT,0) LIMIT_WITHDRAW_AMOUNT,
                    HCL.VALID_FROM,
                    HCL.VALID_TO,
                    HCL.CANCEL_FLAG,
                    HCL.SOURCE_CREDIT_LINE_ID,
                    nvl(
                          (
                          SELECT
                              COUNT(1)
                          FROM
                              LON_CONTRACT LC
                          JOIN
                              LON_CONTRACT_WITHDRAW LCW
                          ON
                              LC.CONTRACT_ID=LCW.CONTRACT_ID
                          WHERE
                              LC.RELE_CREDIT_FLAG='Y'
                          AND LCW.DATA_CLASS='NORMAL'
                          AND LC.CREDIT_LINE_ID=LCCL.CREDIT_LINE_ID),0) WITHDRAW_COUNT,
                   'Y'   SOURCE_CREDIT_FLAG,

                   v1.meaning credit_category_n,
                   v2.meaning guarantee_type_n,
                   hdt.description document_type_n
                FROM
                    LON_CREDIT_CONTRACT_LINE LCCL
                JOIN
                    HLS_CREDIT_LINE HCL
                ON
                    HCL.CREDIT_LINE_ID= LCCL.CREDIT_LINE_ID
                JOIN
                    LON_CREDIT_CONTRACT_CALC LCC
                ON
                    LCC.CREDIT_CONTRACT_ID= LCCL.CREDIT_CONTRACT_ID
                JOIN
                     LON_CREDIT_LINE_CALC CLC
                  ON
                     CLC.CREDIT_LINE_ID=LCCL.CREDIT_LINE_ID

       left join sys_code_value_b_v v1 on v1.code= 'LON.CREDIT_CATEGORY' and v1.code_value = LCCL.CREDIT_CATEGORY
       left join sys_code_value_b_v v2 on v2.code= 'LON.GUARANTEE_TYPE' and v2.code_value = LCCL.GUARANTEE_TYPE
       left join hls_document_type hdt on hdt.document_category = 'HLS_CREDIT_LINE'
       and hdt.business_type = 'FINANCING_LOAN' and hdt.enabled_flag = 'Y'
       and hdt.document_type = HCL.DOCUMENT_TYPE
                WHERE
                    LCCL.CREDIT_CONTRACT_ID=
                    nvl((
                        SELECT
                            MAX(C.CREDIT_CONTRACT_ID)
                        FROM
                            LON_CREDIT_CONTRACT C
                        WHERE
                            C.CREDIT_BP_ID=#{creditBpId}
                        AND C.company_id =#{request.companyId}
                           <if test="creditContractId!=null">
                              AND C.CREDIT_CONTRACT_ID!=#{creditContractId}
                           </if>
                     ),0)
                AND (
                        HCL.CANCEL_FLAG='N'
                    OR  HCL.CANCEL_FLAG IS NULL)
                AND (
                        nvl(CLC.WITHDRAW_BALANCE,0)>0
                    OR  nvl(LCC.ACTUAL_AVAILABLE_AMT,0)>0) )
   </select>
</mapper>