<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusLonContractQuotationMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusLonContractQuotation">
        <result column="quotation_id" property="quotationId" jdbcType="DECIMAL" />
        <result column="contract_id" property="contractId" jdbcType="BIGINT" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="price_list" property="priceList" jdbcType="VARCHAR" />
        <result column="start_active_date" property="startActiveDate" jdbcType="DATE" />
        <result column="end_active_date" property="endActiveDate" jdbcType="DATE" />
        <result column="int_rate_type" property="intRateType" jdbcType="VARCHAR" />
        <result column="base_rate_type" property="baseRateType" jdbcType="VARCHAR" />
        <result column="base_rate" property="baseRate" jdbcType="DECIMAL" />
        <result column="loan_rate" property="loanRate" jdbcType="DECIMAL" />
        <result column="floating_way" property="floatingWay" jdbcType="VARCHAR" />
        <result column="floating_way_range" property="floatingWayRange" jdbcType="DECIMAL" />
        <result column="interest_cycle" property="interestCycle" jdbcType="VARCHAR" />
        <result column="floating_range_method" property="floatingRangeMethod" jdbcType="VARCHAR" />
        <result column="floating_range_method_remark" property="floatingRangeMethodRemark" jdbcType="VARCHAR" />
        <result column="interest_calc_method" property="interestCalcMethod" jdbcType="VARCHAR" />
        <result column="interest_payment_date" property="interestPaymentDate" jdbcType="DECIMAL" />
        <result column="calc_interest_year_days" property="calcInterestYearDays" jdbcType="VARCHAR" />
        <result column="loan_times" property="loanTimes" />
        <result column="loan_term" property="loanTerm" />
        <result column="interest_calc_date" property="interestCalcDate" />
        <result column="principal_cycle" property="principalCycle" />
        <result column="principal_payment_date" property="principalPaymentDate" />
        <result column="xirr" property="xirr" />
        <!-- 2019-2-28 添加下面字段 tengfei-->
        <result column="CONVERT_BEGIN_PRINCIPAL_AMOUNT" property="convertBeginPrincipalAmount" jdbcType="DECIMAL" />
        <result column="CONVERT_PAY_PRINCIPAL_AMOUNT" property="convertPayPrincipalAmount" jdbcType="DECIMAL" />
        <result column="CONVERT_PAY_INTEREST_AMOUNT" property="convertPayInterestAmount" jdbcType="DECIMAL" />
        <result column="measure_type" property="measureType" jdbcType="VARCHAR" />
        <result column="convertCurrency" property="convertCurrency" jdbcType="VARCHAR" />
        <!--end-->
        <result column="comperhensive_financing_cost" property="comperhensiveFinancingCost" />
        <result column="exchange_rate" property="exchangeRate"/>
        <result column="serve_amount" property="serveAmount"/>
        <result column="serve_rate" property="serveRate"/>
        <result column="serve_method" property="serveMethod"/>
        <result column="serve_currency_code" property="serveCurrencyCode"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="serve_flag" property="serveFlag"/>
        <result column="interest_month" property="interestMonth"/>
        <result column="first_rate" property="firstRate"/>
        <result column="base_rate_change_date" property="baseRateChangeDate" javaType="DATE"/>
        <result column="change_term" property="changeTerm" jdbcType="DECIMAL"/>
        <result column="withdraw_id" property="withdrawId" jdbcType="BIGINT"/>
        <result column="convert_begin_principal_amout" property="convertBeginPrincipalAmout"/>
        <result column="int_rate" property="intRate"/>
        <result column="rate_change_date" property="rateChangeDate"/>
        <result column="plan_interest_payment_date" property="planInterestPaymentDate"/>


    </resultMap>
    <select id="selectByLonContract" resultMap="BaseResultMap" parameterType="com.hand.hls.fin.dto.HlsCusLonContractQuotation">
       select * from lon_contract_quotation lcq
       <where>
           <if test="contractId != null">
               lcq.contract_id = #{contractId}
           </if>
       </where>
    </select>
    <select id="lonContractQuotationById" resultMap="BaseResultMap" parameterType="com.hand.hls.fin.dto.HlsCusLonContractQuotation">


    select  *  from  lon_contract_quotation  tt
        <where>
            1=1
            <if test="withdrawId != null">
                and tt.withdraw_id = #{withdrawId}
            </if>
        </where>
    </select>
    <update id="updateXirrNull">
        UPDATE
           LON_CONTRACT_QUOTATION LCQ
        SET
            LCQ.XIRR = NULL
        WHERE
            LCQ.QUOTATION_ID=#{quotationId}
    </update>

    <delete id="deleteDetailsById" parameterType="com.hand.hls.fin.dto.HlsCusLonContractQuotation">
        delete from lon_contract_quotation  WHERE quotation_id = #{quotationId,jdbcType=BIGINT}
    </delete>

    <resultMap id="HlsLonQuotationInfoMap" type="map">
        <result column="quotation_id" property="quotation_id"/>
        <result column="withdraw_id" property="withdraw_id"/>
        <result column="contract_id" property="contract_id"/>
        <result column="description" property="description"/>
        <result column="price_list" property="price_list"/>
        <result column="price_list_n" property="price_list_n"/>
        <result column="start_active_date" property="start_active_date"/>
        <result column="end_active_date" property="end_active_date"/>
        <result column="currency" property="currency"/>
        <result column="currency_n" property="currency_n"/>
        <result column="xirr" property="xirr"/>
        <result column="int_rate_type" property="int_rate_type"/>
        <result column="int_rate_type_n" property="int_rate_type_n"/>
        <result column="base_rate_type" property="base_rate_type"/>
        <result column="base_rate_type_n" property="base_rate_type_n"/>
        <result column="base_rate" property="base_rate"/>
        <result column="int_rate" property="int_rate"/>
        <result column="loan_rate" property="loan_rate"/>
        <result column="loan_times" property="loan_times"/>
        <result column="exchange_rate" property="exchange_rate"/>
        <result column="principal_payment_date" property="principal_payment_date"/>
        <result column="interest_cycle" property="interest_cycle"/>
        <result column="floating_range_method" property="floating_range_method"/>
        <result column="interest_calc_method" property="interest_calc_method"/>
        <result column="interest_payment_date" property="interest_payment_date"/>
        <result column="interest_calc_date" property="interest_calc_date"/>
        <result column="calc_interest_year_days" property="calc_interest_year_days"/>
        <result column="principal_cycle" property="principal_cycle"/>
        <result column="principal_payment_date" property="principal_payment_date"/>
        <result column="repayment_principal_times" property="repayment_principal_times"/>
    </resultMap>

    <select id="queryQuotationInfoByQuotationId" parameterType="com.hand.hls.fin.dto.HlsCusLonContractQuotation" resultMap="HlsLonQuotationInfoMap">
        select pq.quotation_id,
            pq.withdraw_id,
            pq.contract_id,
            pq.description,
            pq.price_list,
            (select h.description from hls_price_list h where h.price_list = pq.price_list) price_list_n,
            pq.start_active_date,
            pq.end_active_date,
            pq.currency,
            (select fc.currency_name from fnd_currency fc where fc.currency_code = pq.currency) currency_n,
            pq.xirr,
            pq.int_rate_type,
            (select s.MEANING from sys_code_value_b_v s where s.CODE = 'CON.INT_RATE_TYPE' and upper(s.code_value) = upper(pq.int_rate_type)) int_rate_type_n,
            pq.base_rate_type,
            (select s.MEANING from sys_code_value_b_v s where s.CODE = 'FND.BASE_RATE_TYPE' and s.code_value = pq.base_rate_type) base_rate_type_n,
            pq.base_rate,
            pq.int_rate,
            pq.loan_rate,
            pq.loan_times,
            pq.exchange_rate,
            pq.principal_payment_date,
            pq.interest_cycle,
            pq.floating_range_method,
            pq.interest_calc_method,
            pq.interest_payment_date,
            pq.interest_calc_date,
            pq.calc_interest_year_days,
            pq.principal_cycle,
            pq.principal_payment_date,
            pq.repayment_principal_times
        from lon_contract_quotation pq
        <where>
            1=1
            <if test="quotationId!=null ">
                and pq.quotation_id=#{quotationId}
            </if>
        </where>

    </select>
</mapper>