<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusLonContractBailMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusLonContractBail">
        <result column="CONTRACT_BAIL_ID" property="contractBailId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="BAIL_RATIO" property="bailRatio" jdbcType="DECIMAL" />
        <result column="BAIL_AMOUNT" property="bailAmount" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectLonContractBail" resultMap="BaseResultMap" parameterType="com.hand.hls.fin.dto.HlsCusLonContractBail">
        select *
        from CT_LON_CONTRACT_BAIL
        <where>
            1=1
            <if test="contractId != null">
                and contract_id=#{contractId}
            </if>
        </where>

    </select>
</mapper>