<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusLonBankMapper">

    <resultMap id="BaseResultMap" type="com.hand.hls.bp.dto.HlsCusBpMaster">
        <id column="bp_id" property="bpId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="bp_code" property="bpCode" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="bp_class" property="bpClass" jdbcType="VARCHAR"/>
        <result column="extra_nam" property="extraNam" jdbcType="VARCHAR"/>
        <result column="external_bp_code" property="externalBpCode" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="bp_type" property="bpType" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="VARCHAR"/>
        <result column="collect_flag" property="collectFlag" jdbcType="VARCHAR"/>
        <result column="enterprise_scale" property="enterpriseScale" jdbcType="VARCHAR"/>
        <result column="legal_form" property="legalForm" jdbcType="VARCHAR"/>
        <result column="Legal_representative" property="legalRepresentative" jdbcType="VARCHAR"/>
        <result column="Actual_controller" property="actualController" jdbcType="VARCHAR"/>
        <result column="registered_place" property="registeredPlace" jdbcType="VARCHAR"/>
        <result column="registered_date" property="registeredDate" jdbcType="TIMESTAMP"/>
        <result column="registered_capital" property="registeredCapital" jdbcType="VARCHAR"/>
        <result column="paid_in_capital" property="paidInCapital" jdbcType="VARCHAR"/>
        <result column="Enterprise_unified_credit_code" property="enterpriseUnifiedCreditCode" jdbcType="VARCHAR"/>
        <result column="founded_date" property="foundedDate" jdbcType="TIMESTAMP"/>
        <result column="business_license_num" property="businessLicenseNum" jdbcType="VARCHAR"/>
        <result column="organization_code" property="organizationCode" jdbcType="VARCHAR"/>
        <result column="tax_registry_num" property="taxRegistryNum" jdbcType="VARCHAR"/>
        <result column="loan_card_num" property="loanCardNum" jdbcType="VARCHAR"/>
        <result column="loan_card_password" property="loanCardPassword" jdbcType="VARCHAR"/>
        <result column="primary_business" property="primaryBusiness" jdbcType="VARCHAR"/>
        <result column="main_products" property="mainProducts" jdbcType="VARCHAR"/>
        <result column="company_Information" property="companyInformation" jdbcType="VARCHAR"/>
        <result column="taxpayer_type" property="taxpayerType" jdbcType="VARCHAR"/>
        <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR"/>
        <result column="invoice_bp_address_phone_num" property="invoiceBpAddressPhoneNum" jdbcType="VARCHAR"/>
        <result column="invoice_bp_bank_account" property="invoiceBpBankAccount" jdbcType="VARCHAR"/>
        <result column="nationality" property="nationality" jdbcType="VARCHAR"/>
        <result column="industry" property="industry" jdbcType="VARCHAR"/>
        <result column="date_of_birth" property="dateOfBirth" jdbcType="TIMESTAMP"/>
        <result column="native_place" property="nativePlace" jdbcType="VARCHAR"/>
        <result column="id_type" property="idType" jdbcType="VARCHAR"/>
        <result column="id_card_no" property="idCardNo" jdbcType="VARCHAR"/>
        <result column="marital_status" property="maritalStatus" jdbcType="VARCHAR"/>
        <result column="academic_background" property="academicBackground" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="BIGINT"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="annual_income" property="annualIncome" jdbcType="DOUBLE"/>
        <result column="working_company" property="workingCompany" jdbcType="VARCHAR"/>
        <result column="company_industry" property="companyIndustry" jdbcType="VARCHAR"/>
        <result column="business_job" property="businessJob" jdbcType="VARCHAR"/>
        <result column="working_years" property="workingYears" jdbcType="BIGINT"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="cell_phone" property="cellPhone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="id_type_desc" property="idTypeDesc" jdbcType="VARCHAR"/>
        <result column="bp_class_desc" property="bpClassDesc" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="allCount" property="allCount" jdbcType="VARCHAR"/>
        <result column="monthAddCount" property="monthAddCount" jdbcType="VARCHAR"/>
        <result column="createBy" property="createBy"/>
        <result column="bpPosition" property="bpPosition"/>
        <result column="contactPerson" property="contactPerson"/>
        <result column="bp_type_desc" property="bpTypeDesc"/>
        <result column="bp_category" property="bpCategory" jdbcType="VARCHAR"/>
        <result column="bp_category_desc" property="bpCategoryDesc" jdbcType="VARCHAR"/>
        <result column="bpTypeEn" property="bpTypeEn" jdbcType="VARCHAR"/>
        <result column="typedes" property="typeDes" jdbcType="VARCHAR"/>
        <result column="catedes" property="cateDes" jdbcType="VARCHAR"/>
        <result column="org_type" property="orgType" jdbcType="VARCHAR"/>
        <result column="bp_name_string" property="bpNameString" jdbcType="VARCHAR"/>
        <result column="domestic_oversea" property="domesticOversea" jdbcType="VARCHAR"/>
        <result column="local_nonlocal" property="localNonlocal" jdbcType="VARCHAR"/>
        <result column="contact_person" property="contactPerson"/>
        <result column="start_active_date" property="startActiveDate" jdbcType="TIMESTAMP"/>
        <result column="end_active_date" property="endActiveDate" jdbcType="TIMESTAMP"/>
        <result column="address" property="address"/>
        <result column="zipcode" property="zipcode"/>
        <result column="org_type_desc" property="orgTypeDesc"/>
         <result column="rele_com_flag" property="releComFlag"/>

    </resultMap>

    <select id="lonBankQuery" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        (
        SELECT
        bm.bp_id,
        bm.bp_code,
        bm.bp_name,
        bm.extra_nam,
        mr.bp_type,
        bm.domestic_oversea,
        bm.local_nonlocal,
        bm.org_type,
        bm.start_active_date,
        bm.end_active_date,
        bm.CREATED_BY,
        bm.company_id,
        (
        SELECT
        bt.description
        FROM
        hls_bp_type bt
        WHERE
        bt.bp_type = mr.bp_type
        ) bp_type_desc,
        mr.bp_category,
        (
        CASE
        WHEN (
        SELECT
        COUNT(*)
        FROM
        hls_user_relationship hur
        WHERE
        hur.RELATION_DOCUMENT_ID = bm.bp_id
        AND hur.RELATION_DOCUMENT_CATEGORY='HLS_BP_MASTER'
        AND hur.RELATION_TYPE='P2D'
        AND hur.source_event='HLS_BP_MASTER.COLLECT'
        and  hur.user_id = #{userId}
        ) > 0 THEN
        'Y'
        ELSE
        'N'
        END
        ) collectFlag
        FROM
        hls_bp_master bm,
        hls_bp_master_role mr
        WHERE
        bm.bp_id = mr.bp_id
        AND bm.enabled_flag = 'Y'
        and mr.enabled_flag = 'Y'
        ) v
        WHERE
        v.bp_category = 'CREDIT_ORGANIZATION'
        and v.company_id=#{request.companyId}
        <if test="bpTypes !=null and bpTypes !=''">
            and v.bp_type in
            <foreach item="item" index="index" collection="bpTypes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="orgTypes !=null and orgTypes !=''">
            and v.org_type in
            <foreach item="item" index="index" collection="orgTypes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="domesticOverseas !=null and domesticOverseas !=''">
            and v.domestic_oversea in
            <foreach item="item" index="index" collection="domesticOverseas" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="localNonlocals !=null and localNonlocals !=''">
            and v.local_nonlocal in
            <foreach item="item" index="index" collection="localNonlocals" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="collectFlag !=null and collectFlag !=''">
            and v.collectFlag in
            <foreach item="item" index="index" collection="collectFlag" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="bpCode!=null">
            and v.bp_code like concat('%',concat(#{bpCode},'%'))
        </if>
        <if test="bpName!=null">
            and v.bp_name like concat('%',concat(#{bpName},'%'))
        </if>
        <if test="extraNam!=null">
            and v.extra_nam like concat('%',concat(#{extraNam},'%'))
        </if>
        ORDER BY v.bp_id DESC
    </select>

    <select id="queryLonBankLov" resultMap="BaseResultMap">
            select hbm.bp_id,
        hbm.bp_code,
        hbm.bp_name,
        hbm.rele_com_flag,
        hbm.extra_nam,
        (select scvb.meaning
           from sys_code_b scb,
                sys_code_value_b scvb
          where scb.code_id = scvb.code_id
            and scb.code = 'CSH.BANK_ORG_TYPE'
            and scvb.value = hbm.org_type) org_type_desc,
        hbmr.bp_type,
        hbt.description bp_type_desc,
        hbm.domestic_oversea,hbm.local_nonlocal,
        /*(SELECT hbmci.contact_person
        FROM hls_bp_master_contact_info hbmci
        WHERE hbmci.bp_id = hbm.bp_id
        AND hbmci.position = 'BUSINESS_MANAGER'
        ORDER BY hbmci.contact_info_id ASC offset 0 rows FETCH FIRST 1 rows ONLY) AS contact_person,
        (SELECT hbmci.cell_phone
        FROM hls_bp_master_contact_info hbmci
        WHERE hbmci.bp_id = hbm.bp_id
        AND hbmci.position = 'BUSINESS_MANAGER'
        ORDER BY hbmci.contact_info_id ASC offset 0 rows FETCH FIRST 1 rows ONLY) AS cell_phone,
        (SELECT hbmci.phone
        FROM hls_bp_master_contact_info hbmci
        WHERE hbmci.bp_id = hbm.bp_id
        AND hbmci.position = 'BUSINESS_MANAGER'
        ORDER BY hbmci.contact_info_id ASC offset 0 rows FETCH FIRST 1 rows ONLY) AS phone,
        (SELECT hbmci.email
        FROM hls_bp_master_contact_info hbmci
        WHERE hbmci.bp_id = hbm.bp_id
        AND hbmci.position = 'BUSINESS_MANAGER'
        ORDER BY hbmci.contact_info_id ASC offset 0 rows FETCH FIRST 1 rows ONLY) AS email,
        (SELECT hbma.address
        FROM hls_bp_master_address hbma
        WHERE hbma.bp_id = hbm.bp_id
        AND hbma.address_type = 'MAILING_ADDRESS' FETCH FIRST 1 rows ONLY) AS address,
        (SELECT hbma.zipcode
        FROM hls_bp_master_address hbma
        WHERE hbma.bp_id = hbm.bp_id
        AND hbma.address_type = 'MAILING_ADDRESS' FETCH FIRST 1 rows ONLY) AS zipcode*/
        (SELECT hbmci.contact_person
        FROM hls_bp_master_contact_info hbmci
        WHERE hbmci.contact_info_id =
        get_bp_contract_info_last(p_bp_id => hbm.bp_id, p_position => 'BUSINESS_MANAGER')) AS contact_person,
        (SELECT hbmci.cell_phone
        FROM hls_bp_master_contact_info hbmci
        WHERE hbmci.contact_info_id =
        get_bp_contract_info_last(p_bp_id => hbm.bp_id, p_position => 'BUSINESS_MANAGER')) AS cell_phone,
        (SELECT hbmci.phone
        FROM hls_bp_master_contact_info hbmci
        WHERE hbmci.contact_info_id =
        get_bp_contract_info_last(p_bp_id => hbm.bp_id, p_position => 'BUSINESS_MANAGER')) AS phone,
        (SELECT hbmci.email
        FROM hls_bp_master_contact_info hbmci
        WHERE hbmci.contact_info_id =
        get_bp_contract_info_last(p_bp_id => hbm.bp_id, p_position => 'BUSINESS_MANAGER')) AS email,
        (SELECT hbma.address
        FROM hls_bp_master_address hbma
        WHERE hbma.address_id =
        get_bp_address_last(p_bp_id => hbm.bp_id, p_address_type => 'MAILING_ADDRESS')) AS address,
        (SELECT hbma.zipcode
        FROM hls_bp_master_address hbma
        WHERE hbma.address_id =
        get_bp_address_last(p_bp_id => hbm.bp_id, p_address_type => 'MAILING_ADDRESS')) AS zipcode
    from hls_bp_master hbm,hls_bp_master_role hbmr,hls_bp_type hbt
    <where>
        hbm.bp_id = hbmr.bp_id
        and hbmr.bp_category = 'CREDIT_ORGANIZATION'
        and hbmr.bp_type = hbt.bp_type
        and hbmr.enabled_flag = 'Y'
        and hbm.company_id = #{request.companyId}
        <if test="bpId != null">
            and hbm.bp_id = #{bpId}
        </if>
        <if test="bpCode != null">
            and hbm.bp_code like concat(concat('%',#{bpCode}),'%')
        </if>
        <if test="bpName != null">
            and hbm.bp_name like concat(concat('%',#{bpName}),'%')
        </if>
    </where>
order by hbm.bp_code desc
    </select>

</mapper>