<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusCtLonContractBankAccountMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusCtLonContractBankAccount">
        <result column="CON_BANK_ACCOUNT_ID" property="conBankAccountId" jdbcType="DECIMAL" />
        <result column="BANK_ACCOUNT_ID" property="bankAccountId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="BANK_ACCOUNT_TYPE" property="bankAccountType" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SOURCE" property="accountSource" jdbcType="VARCHAR" />
        <result column="LON_BANK_ACCOUNT_ID" property="lonBankAccountId" jdbcType="DECIMAL" />


         <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
         <result column="BANK_BRANCH_NAME" property="bankBranchName" jdbcType="VARCHAR" />
         <result column="BANK_ACCOUNT_NAME" property="bankAccountName" jdbcType="VARCHAR" />
         <result column="BANK_ACCOUNT_NUM" property="bankAccountNum" jdbcType="VARCHAR" />

        <result column="BANK_ACCOUNT_TYPE_N" property="bankAccountTypeN" jdbcType="VARCHAR" />
        <result column="ACCOUNT_SOURCE_N" property="accountSourceN" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_NAME_N" property="bankAccountNameN" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_ID_N" property="bankAccountIdN" jdbcType="VARCHAR" />
        <result column="WITHDRAW_ID" property="withdrawId" jdbcType="DECIMAL" />
        <result column="old_Withdraw_Id" property="oldwithdrawId" jdbcType="DECIMAL" />
        <result column="old_contract_Id" property="oldcontractId" jdbcType="DECIMAL" />

    </resultMap>


    <select id="selectConBankAccount" parameterType="com.hand.hls.fin.dto.HlsCusCtLonContractBankAccount" resultMap="BaseResultMap">
        SELECT
        CLCBA.CON_BANK_ACCOUNT_ID,
        CLCBA.BANK_ACCOUNT_ID,
        CLCBA.WITHDRAW_ID,
        CLCBA.CONTRACT_ID,
        CLCBA.BANK_ACCOUNT_TYPE,
        (select scvb.meaning
        from sys_code_value_b scvb, sys_code_b scb
        where scb.code = 'LON.ACCOUNT_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.value = CLCBA.BANK_ACCOUNT_TYPE) as BANK_ACCOUNT_TYPE_N,
        CLCBA.DESCRIPTION,
        CLCBA.ENABLED_FLAG,
        CLCBA.LON_BANK_ACCOUNT_ID,
        CLCBA.ACCOUNT_SOURCE,
        (select scvb.meaning
        from sys_code_value_b scvb, sys_code_b scb
        where scb.code = 'LON_CON_ACCOUNT_SOURCE'
        and scb.code_id = scvb.code_id
        and scvb.value = CLCBA.ACCOUNT_SOURCE) as ACCOUNT_SOURCE_N,
        -- 	nvl( CB.BANK_NAME, CLBA.BANK_NAME ) AS BANK_NAME,
        CLCBA.BANK_ACCOUNT_NAME  AS BANK_ACCOUNT_ID_N,
        CLCBA.BANK_BRANCH_NAME  AS BANK_BRANCH_NAME,
        CLCBA.BANK_ACCOUNT_NAME  AS BANK_ACCOUNT_NAME,
        CLCBA.BANK_ACCOUNT_NAME  AS BANK_ACCOUNT_NAME_N,
        CLCBA.BANK_ACCOUNT_NUM  AS BANK_ACCOUNT_NUM,
        CLCBA.OBJECT_VERSION_NUMBER
        FROM
            CT_LON_CONTRACT_BANK_ACCOUNT CLCBA
        LEFT JOIN
            CSH_BANK_ACCOUNT CBA
        ON
            CBA.BANK_ACCOUNT_ID=CLCBA.BANK_ACCOUNT_ID
        LEFT JOIN
            CSH_BANK CB
        ON
            CB.BANK_ID=CBA.BANK_ID

        WHERE 1=1
        <if test="contractId != null and contractId != ''">
            AND   CLCBA.CONTRACT_ID=#{contractId}
        </if>
        <if test="bankAccountType != null and bankAccountType != ''">
            and CLCBA.BANK_ACCOUNT_TYPE = #{bankAccountType}
        </if>
        <if test="withdrawId != null and withdrawId != ''">
            and CLCBA.withdraw_id = #{withdrawId}
        </if>
    </select>
    <select id="selectConBankAccountOld" parameterType="com.hand.hls.fin.dto.HlsCusCtLonContractBankAccount" resultMap="BaseResultMap">
    select  *  from  (    SELECT
        CLCBA.CON_BANK_ACCOUNT_ID,
        CLCBA.BANK_ACCOUNT_ID,
        CLCBA.WITHDRAW_ID  old_Withdraw_Id,
        CLCBA.WITHDRAW_ID,
        CLCBA.CONTRACT_ID old_contract_Id,
        CLCBA.CONTRACT_ID,
        CLCBA.BANK_ACCOUNT_TYPE,
        (select scvb.meaning
        from sys_code_value_b scvb, sys_code_b scb
        where scb.code = 'LON.ACCOUNT_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.value = CLCBA.BANK_ACCOUNT_TYPE) as BANK_ACCOUNT_TYPE_N,
        CLCBA.DESCRIPTION,
        CLCBA.ENABLED_FLAG,
        CLCBA.LON_BANK_ACCOUNT_ID,
        CLCBA.ACCOUNT_SOURCE,
        (select scvb.meaning
        from sys_code_value_b scvb, sys_code_b scb
        where scb.code = 'LON_CON_ACCOUNT_SOURCE'
        and scb.code_id = scvb.code_id
        and scvb.value = CLCBA.ACCOUNT_SOURCE) as ACCOUNT_SOURCE_N,
        -- 	nvl( CB.BANK_NAME, CLBA.BANK_NAME ) AS BANK_NAME,
        CLBA.BANK_ACCOUNT_NAME  AS BANK_ACCOUNT_ID_N,
        CLBA.BANK_BRANCH_NAME  AS BANK_BRANCH_NAME,
        CLBA.BANK_ACCOUNT_NAME  AS BANK_ACCOUNT_NAME,
        CLBA.BANK_ACCOUNT_NAME  AS BANK_ACCOUNT_NAME_N,
        CLBA.BANK_ACCOUNT_NUM  AS BANK_ACCOUNT_NUM,
        CLCBA.OBJECT_VERSION_NUMBER
        FROM
        CT_LON_CONTRACT_BANK_ACCOUNT CLCBA
        LEFT JOIN
        CSH_BANK_ACCOUNT CBA
        ON
        CBA.BANK_ACCOUNT_ID=CLCBA.BANK_ACCOUNT_ID
        LEFT JOIN
        CSH_BANK CB
        ON
        CB.BANK_ID=CBA.BANK_ID
        LEFT JOIN
        CT_LON_BANK_ACCOUNT CLBA
        ON
        CLBA.BANK_ACCOUNT_ID=CLCBA.BANK_ACCOUNT_ID)   ttt
        WHERE 1=1
        <if test="oldcontractId != null and oldcontractId != ''">
            AND   ttt.CONTRACT_ID=#{oldcontractId}
        </if>
        <if test="bankAccountType != null and bankAccountType != ''">
            and ttt.BANK_ACCOUNT_TYPE = #{bankAccountType}
        </if>
        <if test="oldWithdrawId != null and oldWithdrawId != ''">
            and ttt.withdraw_id = #{oldWithdrawId}
        </if>
    </select>
    <select id="selectBankAccountTypeCount" parameterType="com.hand.hls.fin.dto.HlsCusCtLonContractBankAccount" resultType="int">
        SELECT
           COUNT(1)
        FROM
            CT_LON_CONTRACT_BANK_ACCOUNT CLCBA
        WHERE CLCBA.BANK_ACCOUNT_TYPE=#{bankAccountType}
        AND   CLCBA.ENABLED_FLAG='Y'
        AND   CLCBA.CONTRACT_ID=#{contractId}
        <if test="conBankAccountId!=null">
           AND CLCBA.CON_BANK_ACCOUNT_ID !=#{conBankAccountId}
        </if>
    </select>
    <delete id="deleteBankAccountByWithdrawId" parameterType="com.hand.hls.fin.dto.HlsCusCtLonContractBankAccount">
        delete  CT_LON_CONTRACT_BANK_ACCOUNT t where t.withdraw_id = #{withdrawId}
    </delete>
    <update id="updateSelective" parameterType="com.hand.hls.fin.dto.HlsCusCtLonContractBankAccount">
        update CT_LON_CONTRACT_BANK_ACCOUNT set
     BANK_ACCOUNT_ID=#{bankAccountId},
     BANK_ACCOUNT_NUM=#{bankAccountNum},
     BANK_ACCOUNT_NAME=#{bankAccountName},
     BANK_BRANCH_NAME=#{bankBranchName}
      where CON_BANK_ACCOUNT_ID=#{conBankAccountId}
    </update>

</mapper>