<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusLonContractGuarantorMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusLonContractGuarantor">
        <result column="GUARANTOR_ID" property="guarantorId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    </resultMap>



    <select id="selectLonContractGuarantorByContractId" parameterType="com.hand.hls.fin.dto.HlsCusLonContractGuarantor" resultMap="BaseResultMap">
        select lcg.guarantor_id,
               lcg.contract_id,
               lcg.bp_id,
                /*(select fc.company_full_name  from   fnd_company fc where fc.company_id = lcg.bp_id ) bp_id_n,*/
               lcg.description,
               /*lcg.company_name,*/
               (select bm.bp_name from hls_bp_master bm where bm.bp_id = lcg.bp_id) company_name
          from lon_contract_guarantor lcg
          <where>
              lcg.contract_id = #{contractId}
          </where>
    </select>

    <select id="selectCompanyByBpId" resultType="com.hand.hls.fin.dto.HlsCusLonContractGuarantor" resultMap="BaseResultMap">
        select lcg.guarantor_id,
               lcg.contract_id,
               lcg.bp_id,
               (select fc.company_full_name  from   fnd_company fc where fc.company_id = lcg.bp_id ) bp_id_n,
               lcg.description,
               lcg.company_name
        from lon_contract_guarantor lcg
        <where>
             lcg.contract_id = #{contractId}
        and lcg.bp_id in (select lcg.bp_id
                          from lon_contract_guarantor lcg
                          group by lcg.bp_id
                          having count(lcg.bp_id) >= 2)
        </where>
    </select>


</mapper>