<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.hand.hls.fin.mapper.HlsCusLonConRepaymentBatchMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusLonConRepaymentBatch">
        <result column="batch_id" property="batchId" jdbcType="DECIMAL" />
        <result column="batch_number" property="batchNumber" jdbcType="VARCHAR" />
        <result column="batch_status" property="batchStatus" jdbcType="VARCHAR" />
        <result column="unit_id" property="unitId" jdbcType="DECIMAL" />
        <result column="unit_id_n" property="unitIdN" />
        <result column="repayment_date" property="repaymentDate" jdbcType="DATE" />
        <result column="create_person" property="createPerson" />
        <result column="create_time" property="createTime" />
        <result column="process_instance_id" property="processInstanceId" />
        <result column="credit_bp_id" property="creditBpId" />
        <result column="credit_bp_n" property="creditBpN" />
        <result column="credit_bp_name" property="creditBpName" />
        <result column="planned_due_date" property="plannedDueDate" />
        <result column="batch_status_n" property="batchStatusN" />
        <result column="created_by_n" property="createdByN" />
        <result column="with_bank_account_id" property="withBankAccountId" />
        <result column="with_bank_account_id_n" property="withBankAccountIdN" />
        <result column="with_bank_account_num" property="withBankAccountNum" />
        <result column="with_bank_account_name" property="withBankAccountName" />
        <result column="with_bank_branch_name" property="withBankBranchName" />
        <result column="powerful_choose" property="powerfulChoose" />
        <result column="powerful_choose_n" property="powerfulChooseN" />
        <result column="dept_head_choose" property="deptHeadChoose" />
        <result column="dept_head_choose_n" property="deptHeadChooseN" />
        <result column="description" property="description" />
        <result column="confirm_seq" property="confirmSeq" />
        <result column="confirm_status" property="confirmStatus" />
        <result column="confirm_status_n" property="confirmStatusN" />
        <result column="confirm_person" property="confirmPerson" />
        <result column="confirm_person_n" property="confirmPersonN" />
        <result column="batch_number_seq" property="batchNumberSeq" />
        <result column="confirm_date" property="confirmDate" />
        <result column="out_payment_id_n" property="outPaymentIdN" />
        <result column="in_payment_id_n" property="inPaymentIdN" />
        <result column="out_bank_account_num" property="outBankAccountNum" />
        <result column="in_bank_account_num" property="inBankAccountNum" />
        <result column="payment_amount" property="paymentAmount" />
        <result column="fund_document_type" property="fundDocumentType" />
        <result column="document_id" property="documentId" />
        <result column="currency_n" property="currencyN" />
        <result column="document_type_n" property="documentTypeN" />
        <result column="lon_company_id" property="lonCompanyId" />
        <result column="lon_company_id_n" property="lonCompanyIdN" />
        <result column="repayment_amount_total" property="repaymentAmountTotal" />
        <result column="creation_date" property="creationDate"/>
    </resultMap>
    <select id="selectLonConRepaymentBatch" parameterType="com.hand.hls.fin.dto.HlsCusLonConRepaymentBatch" resultMap="BaseResultMap">
        select t.* from (select lcrb.batch_id,
               lcrb.batch_number,
               lcrb.batch_status,
               lcrb.repayment_date,
               lcrb.credit_bp_id,
               (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id = lcrb.credit_bp_id) as credit_bp_n,
               (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id = lcrb.credit_bp_id) as credit_bp_name,
                (SELECT DISTINCT fc.company_full_name
                FROM fnd_company                fc,
                lon_con_repayment_batch_ln ln,
                lon_contract               lc
                WHERE ln.batch_id = lcrb.batch_id
                AND ln.contract_id = lc.contract_id
                and fc.company_id = lc.lon_company_id) AS lon_company_id_n,
                (SELECT DISTINCT lc.lon_company_id
                FROM
                lon_con_repayment_batch_ln ln,
                lon_contract               lc
                WHERE ln.batch_id = lcrb.batch_id
                AND ln.contract_id = lc.contract_id
                ) lon_company_id,
               (select s.MEANING
                  from sys_code_value_b_v s
                 where s.code = 'LON.REPAYMENT_BATCH_STATUS'
                   and s.code_value = lcrb.batch_status) as batch_status_n,
               (select su.description from sys_user su where su.user_id = lcrb.created_by) created_by_n,
        (select lcbat.out_bank_account_name
        from lon_con_bank_acc_transfer lcbat
        where lcbat.batch_id = lcrb.batch_id) with_bank_account_id_n,

        (select lcbat.out_bank_account_num
        from lon_con_bank_acc_transfer lcbat
        where lcbat.batch_id = lcrb.batch_id) with_bank_account_num,
        (select to_char(wm_concat(lcw.withdraw_number))
        from lon_con_repayment_batch_ln lcn,
        lon_contract_withdraw      lcw
        where lcn.withdraw_id = lcw.withdraw_id
        and lcn.batch_id = lcrb.batch_id) as withdraw_number,
        (select to_char(wm_concat(lc.contract_number))
        from lon_con_repayment_batch_ln lcn,
        lon_contract               lc
        where lcn.contract_id = lc.contract_id
        and lcn.batch_id = lcrb.batch_id) as contract_number,

        lcrb.confirm_seq,
        lcrb.confirm_status ,
        (case lcrb.confirm_status when  'N' then '未确认' when  null then '未确认' when 'Y' then'已确认' else '未确认'  end) as  confirm_status_n,
        lcrb.confirm_person,
        (select su.description from sys_user su where su.user_id = lcrb.confirm_person ) as confirm_person_n,
        lcrb.confirm_unit,
        (select fou.unit_name from fnd_org_unit fou where fou.unit_id = lcrb.confirm_unit)as confirm_unit_n,
        CASE
        WHEN lcrb.confirm_seq IS NOT NULL AND lcrb.confirm_status = 'Y' THEN
        lcrb.batch_number || '【' || lcrb.confirm_seq || '】'
        ELSE
        lcrb.batch_number
        END AS batch_number_seq,
        (
        SELECT
        ROUND( sum( ln.planned_due_amount ), 2 )
        FROM lon_con_repayment_batch_ln ln
        WHERE
        ln.batch_id = lcrb.batch_id
        ) AS repayment_amount_total,
        lcrb.description,
        lcrb.creation_date

        from lon_con_repayment_batch lcrb
         order by lcrb.creation_date desc) t
         <where>
             <if test="batchNumber != null">
                 and t.batch_number like concat('%',concat(#{batchNumber},'%'))
             </if>
             <if test="batchStatus != null">
                 and t.batch_status like concat('%',concat(#{batchStatus},'%'))
             </if>
             <if test="plannedDueDate != null">
                 and t.repayment_date = #{plannedDueDate}
             </if>
             <if test="creditBpName != null">
                 and t.credit_bp_name like concat('%',concat(#{creditBpName},'%'))
             </if>
             <if test="lonCompanyIdN != null">
                 and t.lon_company_id_n like concat('%',concat(#{lonCompanyIdN},'%'))
             </if>
             <if test="bpName != null">
                 and t.credit_bp_name like concat('%',concat(#{bpName},'%'))
             </if>
             <if test="plannedDueDateFrom != null">
                 and t.repayment_date &gt; #{plannedDueDateFrom}
             </if>
             <if test="plannedDueDateTo != null">
                 and t.repayment_date &lt; #{plannedDueDateTo}
             </if>

             <if test="withdrawNumber != null">
                 and t.withdraw_number like concat('%',concat(#{withdrawNumber},'%'))
             </if>
             <if test="contractNumber != null">
                 and t.contract_number like concat('%',concat(#{contractNumber},'%'))
             </if>
             <if test="plannedCalcDateFrom != null">
                 and t.creation_date  &gt;=  to_date(#{plannedCalcDateFrom}, 'yyyy-mm-dd')
             </if>
             <if test="plannedCalcDateTo != null">
                 and t.creation_date  &lt;=  to_date(#{plannedCalcDateTo}, 'yyyy-mm-dd')
             </if>
             <if test="createdByN != null">
                 <bind name="createdByN" value="'%' + createdByN + '%'"/>
                 and created_by_n like #{createdByN}
             </if>

         </where>
    </select>


    <select id="selectLonConRepaymentBatchConfirm" parameterType="com.hand.hls.fin.dto.HlsCusLonConRepaymentBatch" resultMap="BaseResultMap">
        select t.* from (

        select lcrb.batch_id as document_id,

        lcrb.confirm_status,
        (case when lcrb.confirm_status ='N' then '未确认'
             when lcrb.confirm_status = NULL then  '未确认'
             when lcrb.confirm_status = 'Y' '已确认' else '未确认'  end
        ) AS confirm_status_n,
        lcrb.confirm_person,
        (SELECT su.description
        FROM sys_user su
        WHERE su.user_id = lcrb.confirm_person) AS confirm_person_n,
        lcrb.confirm_unit,
        (SELECT fou.unit_name
        FROM fnd_org_unit fou
        WHERE fou.unit_id = lcrb.confirm_unit) AS confirm_unit_n,
        lcrb.confirm_date,
        lcrb.confirm_seq,
        CASE
        WHEN lcrb.confirm_seq IS NOT NULL AND lcrb.confirm_status = 'Y' THEN
        lcrb.batch_number || '【' || lcrb.confirm_seq || '】'
        ELSE
        lcrb.batch_number
        END AS batch_number_seq,

        lcrb.repayment_date,
        (select to_char(wm_concat(fc.company_full_name))
        from lon_con_bank_acc_transfer lcbat, fnd_company fc
        where lcbat.batch_id = lcrb.batch_id
        and fc.company_id = lcbat.out_payment_id) out_payment_id_n,

        (select to_char(wm_concat(hbm.bp_name))
        from lon_con_bank_acc_transfer lcbat, hls_bp_master hbm
        where lcbat.batch_id = lcrb.batch_id
        and hbm.bp_id = lcbat.in_payment_id) in_payment_id_n,

        (select to_char(wm_concat(lcbat.out_bank_account_num))
        from lon_con_bank_acc_transfer lcbat
        where lcbat.batch_id = lcrb.batch_id) out_bank_account_num,

        (select to_char(wm_concat(lcbat.in_bank_account_num))
        from lon_con_bank_acc_transfer lcbat
        where lcbat.batch_id = lcrb.batch_id) in_bank_account_num,

        (select sum(lcbat.payment_amount)
        from lon_con_bank_acc_transfer lcbat
        where lcbat.batch_id = lcrb.batch_id) payment_amount,

        (select to_char(wm_concat(distinct scvb.meaning))
        FROM sys_code_value_b          scvb,
        sys_code_b                scb,
        lon_con_bank_acc_transfer lcbat
        WHERE scb.code = 'CHS.CURRENCY_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.enabled_flag = 'Y'
        and scvb.value = lcbat.currency
        and lcbat.batch_id = lcrb.batch_id) as currency_n,
        (SELECT hbm.bp_name
        FROM hls_bp_master hbm
        WHERE hbm.bp_id = lcrb.credit_bp_id) AS credit_bp_name,
        'RONGZI' as fund_document_type,
        lcrb.creation_date as create_date

        from lon_con_repayment_batch lcrb
        where lcrb.principal_flag = 'Y'

        union

        select

        lc.contract_id as document_id,

        lc.confirm_status,
        (case when lc.confirm_status = 'N' then '未确认' when lc.confirm_status = NULL then '未确认' when lc.confirm_status = 'Y' then '已确认' else '未确认' end ) AS confirm_status_n,
        lc.confirm_person,
        (SELECT su.description
        FROM sys_user su
        WHERE su.user_id = lc.confirm_person) AS confirm_person_n,
        lc.confirm_unit,
        (SELECT fou.unit_name
        FROM fnd_org_unit fou
        WHERE fou.unit_id = lc.confirm_unit) AS confirm_unit_n,
        lc.confirm_date,
        lc.confirm_seq,
        CASE
        WHEN lc.confirm_seq IS NOT NULL AND lc.confirm_status = 'Y' THEN
        lc.contract_csh_number || '【' || lc.confirm_seq || '】'
        ELSE
        lc.contract_csh_number
        END AS batch_number_seq,

        lc.csh_payment_date as repayment_date,
        (select to_char(wm_concat(ccl.out_payment_id_rc))
        from lon_contract_csh_ln ccl
        where ccl.contract_id = lc.contract_id) out_payment_id_n,

        (select to_char(wm_concat(ccl.in_payment_id_rc))
        from lon_contract_csh_ln ccl
        where ccl.contract_id = lc.contract_id) in_payment_id_n,

        (select to_char(wm_concat(ccl.pay_bank_account_num))
        from lon_contract_csh_ln ccl
        where ccl.contract_id = lc.contract_id) out_bank_account_num,

        (select to_char(wm_concat(ccl.rec_bank_account_num))
        from lon_contract_csh_ln ccl
        where ccl.contract_id = lc.contract_id) in_bank_account_num,

        (select sum(ccl.csh_payment_amount)
        from lon_contract_csh_ln ccl
        where ccl.contract_id = lc.contract_id) as payment_amount,

        (select to_char(wm_concat(distinct scvb.meaning))
        FROM sys_code_value_b scvb, sys_code_b scb, lon_contract_csh_ln ccl
        WHERE scb.code = 'CHS.CURRENCY_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.enabled_flag = 'Y'
        and scvb.value = ccl.currency
        and ccl.contract_id = lc.contract_id) as currency_n,

        (select hbm.bp_name
        FROM hls_bp_master hbm
        WHERE hbm.bp_id = lc.credit_bp_id) as credit_bp_name,
        'RONGCHU' as fund_document_type,
        lc.csh_creation_date as create_date

        from lon_contract lc
        WHERE lc.contract_type_inout = 'OUT' AND lc.contract_status = 'APPROVED' AND lc.data_class = 'NORMAL'
        and lc.contract_csh_number is not null
        and lc.principal_flag = 'Y'
        union

        select

        cbt.transfer_id as document_id,

        cbt.confirm_status,
        (case when cbt.confirm_status = 'N' then '未确认' when cbt.confirm_status = NULL then '未确认' when cbt.confirm_status = 'Y' then '已确认' else '未确认' end )AS confirm_status_n,
        cbt.confirm_person,
        (SELECT su.description
        FROM sys_user su
        WHERE su.user_id = cbt.confirm_person) AS confirm_person_n,
        cbt.confirm_unit,
        (SELECT fou.unit_name
        FROM fnd_org_unit fou
        WHERE fou.unit_id = cbt.confirm_unit) AS confirm_unit_n,
        cbt.confirm_date,
        cbt.confirm_seq,
        CASE
        WHEN cbt.confirm_seq IS NOT NULL AND cbt.confirm_status = 'Y' THEN
        cbt.TRANSFER_NUMBER || '【' || cbt.confirm_seq || '】'
        ELSE
        cbt.TRANSFER_NUMBER
        END AS batch_number_seq,

        cbt.PAYMENT_DATE as repayment_date,
        (select to_char(wm_concat(fc.company_full_name))
        from csh_bank_transfer_detail cbtd, fnd_company fc
        where cbtd.transfer_id = cbt.transfer_id
        and fc.company_id = cbtd.payment_company_id) out_payment_id_n,

        (select to_char(wm_concat(fc.company_full_name))
        from csh_bank_transfer_detail cbtd, fnd_company fc
        where cbtd.transfer_id = cbt.transfer_id
        and fc.company_id = cbtd.receipt_company_id) in_payment_id_n,

        (select to_char(wm_concat(cba.bank_account_num))
        from csh_bank_transfer_detail cbtd, csh_bank_account cba
        where cbtd.transfer_id = cbt.transfer_id
        and cba.bank_account_id = cbtd.payment_bank_account_id) out_bank_account_num,

        (select to_char(wm_concat(cba.bank_account_num))
        from csh_bank_transfer_detail cbtd, csh_bank_account cba
        where cbtd.transfer_id = cbt.transfer_id
        and cba.bank_account_id = cbtd.receipt_bank_account_id) in_bank_account_num,

        (select sum(cbtd.payment_amount)
        from csh_bank_transfer_detail cbtd
        where cbtd.transfer_id = cbt.transfer_id) as payment_amount,

        (select to_char(wm_concat(distinct scvb.meaning))
        FROM sys_code_value_b         scvb,
        sys_code_b               scb,
        csh_bank_transfer_detail cbtd
        WHERE scb.code = 'CHS.CURRENCY_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.enabled_flag = 'Y'
        and scvb.value = cbtd.currency
        and cbtd.transfer_id = cbt.transfer_id) as currency_n,

        '同户名调拨' as credit_bp_name,
        'TONGHUMING' as fund_document_type,
        cbt.creation_date as create_date

        from csh_bank_transfer cbt
        where cbt.principal_flag = 'Y'




        ) t
        <where>
            <if test="batchNumberSeq != null">
                and t.batch_number_seq like concat('%',concat(#{batchNumberSeq},'%'))
            </if>

            <if test="creditBpName != null">
                and t.credit_bp_name like concat('%',concat(#{creditBpName},'%'))
            </if>
            <if test="bpName != null">
                and t.credit_bp_name like concat('%',concat(#{bpName},'%'))
            </if>


            <if test="withdrawNumber != null">
                and t.withdraw_number like concat('%',concat(#{withdrawNumber},'%'))
            </if>
            <if test="contractNumber != null">
                and t.contract_number like concat('%',concat(#{contractNumber},'%'))
            </if>
            <if test="confirmStatus != null">
                and t.confirm_status = #{confirmStatus}
            </if>
            <if test="confirmStatusN != null">
                and t.confirm_status_n = #{confirmStatusN}
            </if>
            <if test="paymentAmountFrom != null">
                and t.payment_amount &gt;= #{paymentAmountFrom}
            </if>
            <if test="paymentAmountTo != null">
                and t.payment_amount &lt;= #{paymentAmountTo}
            </if>
            <if test="currencyN != null">
                and t.currency_n = #{currencyN}
            </if>


        </where>
        order by t.create_date desc
    </select>


    <select id="selectLonConRepaymentBatchQuery" parameterType="com.hand.hls.fin.dto.HlsCusLonConRepaymentBatch" resultMap="BaseResultMap">
        select t.* from (select lcrb.batch_id,

        case when  lcrb.confirm_seq is not null and lcrb.confirm_status ='Y' then lcrb.batch_number || '【'|| lcrb.confirm_seq || '】'
        else lcrb.batch_number
        end  as batch_number_seq,
        lcrb.batch_number,

        lcrb.batch_status,
        lcrb.repayment_date,
        lcrb.credit_bp_id,
        (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id = lcrb.credit_bp_id) as credit_bp_n,
        (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id = lcrb.credit_bp_id) as credit_bp_name,
        (select s.MEANING
        from sys_code_value_b_v s
        where s.code = 'LON.REPAYMENT_BATCH_STATUS'
        and s.code_value = lcrb.batch_status) as batch_status_n,
        (select su.description from sys_user su where su.user_id = lcrb.created_by) created_by_n,
        (select wm_concat(lcbat.out_bank_account_name)
        from lon_con_bank_acc_transfer lcbat
        where lcbat.batch_id = lcrb.batch_id) with_bank_account_id_n,

        (select wm_concat(lcbat.out_bank_account_num)
        from lon_con_bank_acc_transfer lcbat
        where lcbat.batch_id = lcrb.batch_id) with_bank_account_num,
        (select to_char(wm_concat(lcw.withdraw_number))
        from lon_con_repayment_batch_ln lcn,
        lon_contract_withdraw      lcw
        where lcn.withdraw_id = lcw.withdraw_id
        and lcn.batch_id = lcrb.batch_id) as withdraw_number,
        (select to_char(wm_concat(lc.contract_number))
        from lon_con_repayment_batch_ln lcn,
        lon_contract               lc
        where lcn.contract_id = lc.contract_id
        and lcn.batch_id = lcrb.batch_id) as contract_number,

        lcrb.confirm_seq,
        lcrb.confirm_status ,
        (case when lcrb.confirm_status = 'N' then '未确认' when lcrb.confirm_status = NULL then '未确认' when lcrb.confirm_status = 'Y' then '已确认' else '未确认' end ) confirm_status_n,
        lcrb.confirm_person,
        (select su.description from sys_user su where su.user_id = lcrb.confirm_person ) as confirm_person_n,
        lcrb.confirm_unit,
        (select fou.unit_name from fnd_org_unit fou where fou.unit_id = lcrb.confirm_unit)as confirm_unit_n,
        lcrb.confirm_date,

        (select to_char(wm_concat(distinct lc.document_type))
        from lon_con_repayment_batch_ln ln,
        lon_contract               lc
        where ln.batch_id = lcrb.batch_id
        and ln.contract_id = lc.contract_id) as document_type,

        (select to_char(wm_concat(distinct scv.MEANING))
        from sys_code_b                 sc,
        sys_code_value_b           scv,
        lon_con_repayment_batch_ln ln,
        lon_contract               lc
        where ln.batch_id = lcrb.batch_id
        and ln.contract_id = lc.contract_id
        and sc.CODE_ID = scv.CODE_ID
        and sc.CODE = 'FIN.CREDIT_METHOD'
        and scv.value = lc.document_type) document_type_n,
        (SELECT to_char(WM_CONCAT(DISTINCT fc.company_full_name))
        FROM fnd_company                fc,
        lon_con_repayment_batch_ln ln,
        lon_contract               lc
        WHERE ln.batch_id = lcrb.batch_id
        AND ln.contract_id = lc.contract_id
        and fc.company_id = lc.lon_company_id) AS lon_company_id_n



        from lon_con_repayment_batch lcrb
        where lcrb.confirm_status = 'Y'
        order by lcrb.batch_id desc) t
        <where>
            <if test="batchNumber != null">
                and t.batch_number like concat('%',concat(#{batchNumber},'%'))
            </if>
            <if test="batchStatus != null">
                and t.batch_status like concat('%',concat(#{batchStatus},'%'))
            </if>
            <if test="plannedDueDate != null">
                and to_char(t.repayment_date,'yyyy-MM-dd') = to_char(to_date(#{plannedDueDate},'yyyy-MM-dd'),'yyyy-MM-dd')
            </if>
            <if test="creditBpName != null">
                and t.credit_bp_name like concat('%',concat(#{creditBpName},'%'))
            </if>
            <if test="bpName != null">
                and t.credit_bp_name like concat('%',concat(#{bpName},'%'))
            </if>
            <if test="plannedDueDateFrom != null">
                and to_char(t.repayment_date,'yyyy-MM-dd') &gt; to_char(to_date(#{plannedDueDateFrom},'yyyy-MM-dd'),'yyyy-MM-dd')
            </if>
            <if test="plannedDueDateTo != null">
                and to_char(t.repayment_date,'yyyy-MM-dd') &lt; to_char(to_date(#{plannedDueDateTo},'yyyy-MM-dd'),'yyyy-MM-dd')
            </if>

            <if test="withdrawNumber != null">
                and t.withdraw_number like concat('%',concat(#{withdrawNumber},'%'))
            </if>
            <if test="contractNumber != null">
                and t.contract_number like concat('%',concat(#{contractNumber},'%'))
            </if>

            <if test="lonCompanyIdN != null">
                and t.lon_company_id_n like concat('%',concat(#{lonCompanyIdN},'%'))
            </if>


            <if test="paymentDateFrom != null">
                and to_char(t.repayment_date , 'yyyy-MM-dd')  &gt;= to_char(to_date( #{paymentDateFrom} , 'yyyy-MM-dd'),'yyyy-MM-dd')
            </if>
            <if test="paymentDateTo != null">
                and to_char(t.repayment_date , 'yyyy-MM-dd')  &lt;=  to_char(to_date(  #{paymentDateTo} ,'yyyy-MM-dd') , 'yyyy-MM-dd')
            </if>
            <if test="confirmDateFrom != null">
                and to_char(t.confirm_date , 'yyyy-MM-dd')  &gt;=  to_char(to_date (#{confirmDateFrom} , 'yyyy-MM-dd') , 'yyyy-MM-dd')
            </if>
            <if test="confirmDateTo != null">
                and to_char(t.confirm_date , 'yyyy-MM-dd')  &lt;=  to_char(to_date ( #{confirmDateTo} ,'yyyy-MM-dd') , 'yyyy-MM-dd')
            </if>
            <if test="documentType != null">
                and t.document_type like concat('%',concat(#{documentType},'%'))
            </if>


        </where>
    </select>



    <resultMap id="selectLonConRepaymentBatchDetailMap" type="java.util.Map">
        <result column="batch_id" property="batch_id"/>
        <result column="batch_number" property="batch_number"/>
        <result column="batch_status" property="batch_status"/>
        <result column="unit_id" property="unit_id" />
        <result column="unit_id_n" property="unit_id_n" />
        <result column="currency_n" property="currency_n" />
        <result column="repayment_date" property="repayment_date" />
        <result column="create_person" property="create_person" />
        <result column="create_time" property="create_time" />
        <result column="credit_bp_id" property="credit_bp_id" />
        <result column="credit_bp_name" property="credit_bp_name" />
        <result column="repayment_amount_total" property="repayment_amount_total" />
        <result column="repayment_amount_back_total" property="repayment_amount_back_total" />
        <result column="powerful_choose" property="powerful_choose" />
        <result column="powerful_choose_n" property="powerful_choose_n" />
        <result column="dept_head_choose" property="dept_head_choose" />
        <result column="dept_head_choose_n" property="dept_head_choose_n" />
        <result column="description" property="description" />
        <result column="confirm_status" property="confirmStatus" />
        <result column="contract_csh_number_seq" property="contractCshNumberSeq" />
        <result column="batch_number_seq" property="batchNumberSeq" />
    </resultMap>

    <select id="selectLonConRepaymentBatchDetail" parameterType="com.hand.hls.fin.dto.HlsCusLonConRepaymentBatch" resultMap="selectLonConRepaymentBatchDetailMap">
        select lcrb.batch_id,
               lcrb.batch_number,
               lcrb.batch_status,
                ( SELECT
                scvb.meaning
                FROM
                sys_code_value_b scvb,
                sys_code_b scb,
                lon_contract lc, lon_con_repayment_batch_ln ln
                WHERE
                scb.CODE = 'CHS.CURRENCY_TYPE'
                AND scb.code_id = scvb.code_id
                AND scvb.enabled_flag = 'Y'
                AND scvb.
                VALUE
                = lc.currency
                AND ln.contract_id = lc.contract_id
                AND ln.batch_id = lcrb.batch_id  and  rownum=1
                ) AS currency_n,
               (select su.description
                  from sys_user su
                 where su.user_id = lcrb.created_by) as create_person,
               lcrb.creation_date as create_time,
               lcrb.unit_id,
               (select fou.unit_name
                  from fnd_org_unit fou
                 where fou.unit_id = lcrb.unit_id) unit_id_n,
               lcrb.repayment_date,
               lcrb.credit_bp_id,
               (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id = lcrb.credit_bp_id) credit_bp_name,
                (
                SELECT
                ROUND( sum( ln.planned_due_amount ), 2 )
                FROM lon_con_repayment_batch_ln ln
                WHERE
                ln.batch_id = lcrb.batch_id
                ) AS repayment_amount_total,
                nvl((select sum(lcbat.payment_amount)
                FROM
                lon_con_bank_acc_transfer lcbat
                WHERE
                lcbat.batch_id = lcrb.batch_id
                ),0) AS repayment_amount_back_total,
                lcrb.powerful_choose,
                (select scvb.meaning
                from sys_code_value_b scvb, sys_code_b scb
                where scb.code = 'FIN.POWFUL_CHOOSE'
                and scb.code_id = scvb.code_id
                and scvb.enabled_flag = 'Y'
                and scvb.value = lcrb.powerful_choose) as powerful_choose_n,
                lcrb.dept_head_choose,
                (select scvb.meaning
                from sys_code_value_b scvb, sys_code_b scb
                where scb.code = 'FIN.DEPT_HEAD_CHOOSE'
                and scb.code_id = scvb.code_id
                and scvb.enabled_flag = 'Y'
                and scvb.value = lcrb.dept_head_choose) as dept_head_choose_n,
                lcrb.description as  description,
                lcrb.confirm_status,
                (case when lcrb.confirm_status = 'Y' and lcrb.confirm_seq is not null
                then lcrb.batch_number || '【' || lcrb.confirm_seq || '】'
                else lcrb.batch_number
                end) as contract_csh_number_seq,
                (case when lcrb.confirm_status = 'Y' and lcrb.confirm_seq is not null
                then lcrb.batch_number || '【' || lcrb.confirm_seq || '】'
                else lcrb.batch_number
                end) as batch_number_seq
          from lon_con_repayment_batch lcrb
        <where>
            lcrb.batch_id = #{batchId}
        </where>
    </select>

</mapper>