<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusLonConBankAccTransferMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusLonConBankAccTransfer">
        <result column="TRANSFER_ACCOUNT_ID" property="transferAccountId" jdbcType="DECIMAL" />
        <result column="BATCH_ID" property="batchId" jdbcType="DECIMAL" />
        <result column="OUT_BANK_ACCOUNT_ID" property="outBankAccountId" jdbcType="DECIMAL" />
        <result column="OUT_BANK_ACCOUNT_NAME" property="outBankAccountName" jdbcType="VARCHAR" />
        <result column="OUT_BANK_ACCOUNT_NUM" property="outBankAccountNum" jdbcType="VARCHAR" />
        <result column="OUT_BANK_BRANCH_NAME" property="outBankBranchName" jdbcType="VARCHAR" />
        <result column="IN_BANK_ACCOUNT_ID" property="inBankAccountId" jdbcType="DECIMAL" />
        <result column="IN_BANK_ACCOUNT_NAME" property="inBankAccountName" jdbcType="VARCHAR" />
        <result column="IN_BANK_ACCOUNT_NUM" property="inBankAccountNum" jdbcType="VARCHAR" />
        <result column="IN_BANK_BRANCH_NAME" property="inBankBranchName" jdbcType="VARCHAR" />
        <result column="IN_BANK_BRANCH_NAME_N" property="inBankBranchNameN" jdbcType="VARCHAR" />
        <result column="PAYMENT_AMOUNT" property="paymentAmount" jdbcType="DECIMAL" />
        <result column="PAYMENT_METHOD" property="paymentMethod" jdbcType="VARCHAR" />
        <result column="OUT_PAYMENT_ID" property="outPaymentId" jdbcType="DECIMAL" />
        <result column="IN_PAYMENT_ID" property="inPaymentId" jdbcType="DECIMAL" />
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
        <result column="EXCHANGE" property="exchange" jdbcType="DECIMAL" />
        <result column="out_payment_id_n" property="outPaymentIdN" jdbcType="VARCHAR" />
        <result column="out_bank_account_id_n" property="outBankAccountIdN" jdbcType="VARCHAR" />
        <result column="in_payment_id_n" property="inPaymentIdN" jdbcType="VARCHAR" />
        <result column="currency_n" property="currencyN" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR" />
        <result column="payment_method_n" property="paymentMethodN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectConBankAccountByBatchId" parameterType="com.hand.hls.fin.dto.HlsCusLonConBankAccTransfer" resultMap="BaseResultMap">
        select lcbat.transfer_account_id,
        lcbat.batch_id,
        lcbat.out_bank_account_id,
        lcbat.out_bank_account_name,
        lcbat.out_bank_account_num,
        lcbat.out_bank_branch_name,
        lcbat.out_bank_branch_name as out_bank_account_id_n,
        lcbat.in_bank_account_id,
        lcbat.in_bank_account_name,
        lcbat.in_bank_account_num,
        lcbat.in_bank_branch_name,
        lcbat.in_bank_branch_name as in_bank_branch_name_n,
        lcbat.payment_amount,
        lcbat.payment_method,
        lcbat.out_payment_id,
        lcbat.in_payment_id,
        lcbat.currency,
        lcbat.exchange,
        lcbat.description,
        (
        select scvb.meaning
        from sys_code_b scb,sys_code_value_b scvb
        where scb.code = 'CSH.PAYMENT_METHOD'
        and scb.code_id = scvb.code_id
        and scvb.value = lcbat.payment_method
        ) payment_method_n,
        (select fc.company_full_name from fnd_company fc where fc.company_id = lcbat.out_payment_id) as out_payment_id_n,
        (select hbm.bp_name from hls_bp_master hbm where hbm.bp_id = lcbat.in_payment_id) as in_payment_id_n,
        (select scvb.meaning
        from sys_code_value_b scvb, sys_code_b scb
        where scb.code = 'CHS.CURRENCY_TYPE'
        and scb.code_id = scvb.code_id
        and scvb.enabled_flag = 'Y'
        and scvb.value = lcbat.currency) as currency_n
        from lon_con_bank_acc_transfer lcbat
        <where>
            lcbat.batch_id=#{batchId}
        </where>
    </select>

    <delete id="deleteTransferByBatchId">
        delete from lon_con_bank_acc_transfer where batch_id = #{batchId}
    </delete>


</mapper>