<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.fin.mapper.HlsCusLonContractPledgeInfoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.fin.dto.HlsCusLonContractPledgeInfo">
        <result column="PLEDGE_INFO_ID" property="pledgeInfoId" jdbcType="DECIMAL" />
        <result column="PLEDGE_ID" property="pledgeId" jdbcType="DECIMAL" />
        <result column="WITHDRAW_ID" property="withdrawId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="PLEDGE_TIMES" property="pledgeTimes" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />

        <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR" />
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="WITHDRAW_NUMBER" property="withdrawNumber" jdbcType="VARCHAR" />
        <result column="REPORT_NAME" property="reportName" jdbcType="VARCHAR" />
        <result column="DUE_AMOUNT" property="dueAmount" jdbcType="DECIMAL" />
        <result column="SURPLUS_AMOUNT" property="surplusAmount" jdbcType="DECIMAL" />
        <result column="PRINCIPAL" property="principal" jdbcType="DECIMAL" />
        <result column="INTEREST" property="interest" jdbcType="DECIMAL" />
        <result column="DUE_DATE" property="dueDate" jdbcType="DATE" />
    </resultMap>


    <select id="selectContractPledgeInfo" parameterType="com.hand.hls.fin.dto.HlsCusLonContractPledgeInfo" resultMap="BaseResultMap">
     SELECT
     *
       FROM(
       SELECT
            CPI.*,
            LCW.WITHDRAW_NUMBER,
            LCW.REPORT_NAME,
            CON.CONTRACT_NAME,
            CON.CONTRACT_NUMBER,
            FLOW.DUE_AMOUNT,
            FLOW.SURPLUS_AMOUNT,
            FLOW.PRINCIPAL,
            FLOW.INTEREST,
            FLOW.DUE_DATE
        FROM
            CT_LON_CONTRACT_PLEDGE_INFO CPI
        JOIN
            CT_LON_CONTRACT_PLEDGE CP
        ON
            CPI.PLEDGE_ID=CP.PLEDGE_ID
        JOIN
            LON_CONTRACT_WITHDRAW LCW
        ON
            LCW.WITHDRAW_ID=CPI.WITHDRAW_ID
        JOIN
            CON_CONTRACT CON
        ON
            CON.CONTRACT_ID=CP.PLEDGE_DOC_ID
        AND CP.PLEDGE_DOC_CATEGORY='CON_CONTRACT'
        JOIN
            (
                SELECT
                    CCC.CONTRACT_ID,
                    CCC.TIMES,
                    SUM(CCC.DUE_AMOUNT)                                         DUE_AMOUNT,
                    SUM(CCC.PRINCIPAL)                                          PRINCIPAL,
                    SUM(CCC.INTEREST)                                           INTEREST,
                    MIN(CCC.DUE_DATE)                                           DUE_DATE,
                    nvl(SUM(CCC.DUE_AMOUNT),0) -nvl(SUM(CCC.RECEIVED_AMOUNT),0) SURPLUS_AMOUNT
                FROM
                    CON_CONTRACT_CASHFLOW CCC
                WHERE
                    CCC.CF_STATUS='RELEASE'
                AND CCC.CF_DIRECTION='INFLOW'
                AND CCC.CF_ITEM=1
                GROUP BY
                    CCC.CONTRACT_ID,
                    CCC.TIMES) FLOW
        ON
            FLOW.CONTRACT_ID= CON.CONTRACT_ID
        AND FLOW.TIMES=CPI.PLEDGE_TIMES
        WHERE
            CON.DATA_CLASS='NORMAL'
        UNION
        SELECT
            CPI.*,
            LCW.WITHDRAW_NUMBER,
            LCW.REPORT_NAME,
            CON.CONTRACT_NAME,
            CON.CONTRACT_NUMBER,
            FLOW.DUE_AMOUNT,
            FLOW.SURPLUS_AMOUNT,
            FLOW.PRINCIPAL,
            FLOW.INTEREST,
            FLOW.DUE_DATE
        FROM
            CT_LON_CONTRACT_PLEDGE_INFO CPI
        JOIN
            CT_LON_CONTRACT_PLEDGE CP
        ON
            CPI.PLEDGE_ID=CP.PLEDGE_ID
        JOIN
            LON_CONTRACT_WITHDRAW LCW
        ON
            LCW.WITHDRAW_ID=CPI.WITHDRAW_ID
        JOIN
            FCT_CONTRACT CON
        ON
            CON.CONTRACT_ID=CP.PLEDGE_DOC_ID
        AND CP.PLEDGE_DOC_CATEGORY='FCT_CONTRACT'
        JOIN
            (
                SELECT
                    CCC.CONTRACT_ID,
                    CCC.TIMES,
                    SUM(CCC.DUE_AMOUNT)                                         DUE_AMOUNT,
                    SUM((case when CCC.CF_ITEM = 54 then CCC.DUE_AMOUNT else 0 end))                PRINCIPAL,
                    SUM((case when CCC.CF_ITEM = 55 then CCC.DUE_AMOUNT else 0 end))                INTEREST,
                    MIN(CCC.DUE_DATE)                                           DUE_DATE,
                    nvl(SUM(CCC.DUE_AMOUNT),0) -nvl(SUM(CCC.RECEIVED_AMOUNT),0) SURPLUS_AMOUNT
                FROM
                    FCT_QUOTATION_CASHFLOW CCC
                WHERE
                    CCC.CF_STATUS='RELEASE'
                AND CCC.CF_DIRECTION='INFLOW'
                AND CCC.CF_ITEM IN(54,55)
                GROUP BY
                    CCC.CONTRACT_ID,
                    CCC.TIMES) FLOW
        ON
            FLOW.CONTRACT_ID= CON.CONTRACT_ID
        AND FLOW.TIMES=CPI.PLEDGE_TIMES
        WHERE
            CON.DATA_CLASS='NORMAL'
        ) TEM
        WHERE 1=1
        <if test="pledgeId != null">
          AND TEM.PLEDGE_ID = #{pledgeId}
        </if>
        ORDER BY TEM.WITHDRAW_ID,TEM.PLEDGE_TIMES
    </select>

    <select id="selectPledgeMaxAndMinTimes" resultType="java.util.Map">
      SELECT
             MAX(CPI.PLEDGE_TIMES) "pledgeTimesMax",
             MIN(CPI.PLEDGE_TIMES) "pledgeTimesMin"
        FROM
            CT_LON_CONTRACT_PLEDGE_INFO CPI
        WHERE
            CPI.PLEDGE_ID = #{pledgeId}
    </select>

</mapper>