<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.ast.mapper.AssetClassLineMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.ast.dto.AssetClassLine">
        <result column="CLASS_LINE_ID" property="classLineId" jdbcType="DECIMAL"/>
        <result column="CLASS_HEAD_ID" property="classHeadId" jdbcType="DECIMAL"/>
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL"/>
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR"/>
        <result column="INITIAL_LEVEL" property="initialLevel" jdbcType="VARCHAR"/>
        <result column="REVIEW_LEVEL" property="reviewLevel" jdbcType="VARCHAR"/>
        <result column="CONTRACT_AMOUNT" property="contractAmount" jdbcType="DECIMAL"/>
        <result column="DELIVERY_TIME" property="deliveryTime" jdbcType="DATE"/>
        <result column="LEASE_TERM" property="leaseTerm" jdbcType="DECIMAL"/>
        <result column="REMAINING_RENT" property="remainingRent" jdbcType="DECIMAL"/>
        <result column="REMAINING_PRINCIPAL" property="remainingPrincipal" jdbcType="DECIMAL"/>
        <result column="REMAINING_PRINCIPAL_WO" property="remainingPrincipalWo" jdbcType="DECIMAL"/>
        <result column="REMAINING_MARGIN" property="remainingMargin" jdbcType="DECIMAL"/>
        <result column="OVERDUE_RENT" property="overdueRent" jdbcType="DECIMAL"/>
        <result column="OVERDUE_DAYS" property="overdueDays" jdbcType="DECIMAL"/>
        <result column="PENALTY_INTEREST" property="penaltyInterest" jdbcType="DECIMAL"/>
        <result column="REMAINING_EXPOSURE" property="remainingExposure" jdbcType="DECIMAL"/>
        <result column="MANUFACTURER_ID" property="manufacturerId" jdbcType="DECIMAL"/>
        <result column="initial_level_n" property="initialLevelN" jdbcType="VARCHAR"/>
        <result column="review_level_n" property="reviewLevelN" jdbcType="VARCHAR"/>
        <result column="manufacturer_id_n" property="manufacturerIdN" jdbcType="VARCHAR"/>
        <result column="lease_item_amount" property="leaseItemAmount" jdbcType="DECIMAL"/>
        <result column="residual_rent" property="residualRent" jdbcType="DECIMAL"/>
        <result column="residual_principal" property="residualPrincipal" jdbcType="DECIMAL"/>
        <result column="late_charge" property="lateCharge" jdbcType="DECIMAL"/>
        <result column="exposure" property="exposure" jdbcType="DECIMAL"/>
        <result column="residual_deposit" property="residualDeposit" jdbcType="DECIMAL"/>
        <result column="DELIVERY_TIME_N" property="deliveryTimeN" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TYPE_N" property="businessTypeN" jdbcType="VARCHAR"/>
        <result column="approve_review_level" property="approveReviewLevel" jdbcType="VARCHAR"/>
        <result column="APPROVE_REVIEW_LEVEL_N" property="approveReviewLevelN" jdbcType="VARCHAR"/>
        <result column="approve_initial_level" property="approveInitialLevel" jdbcType="VARCHAR"/>
        <result column="approve_initial_level_n" property="approveInitialLevelN" jdbcType="VARCHAR"/>
        <result column="approve_time_n" property="approveTimeN" jdbcType="VARCHAR"/>
        <result column="DOCUMENT_TYPE_N" property="documentTypeN" jdbcType="VARCHAR"/>
        <result column="class_season_n" property="classSeasonN" jdbcType="VARCHAR"/>
        <result column="class_year" property="classYear" jdbcType="VARCHAR"/>
        <result column="batch_num" property="batchNum" jdbcType="DECIMAL"/>
        <result column="FX_OVERDUE_RENT" property="fxOverdueRent" jdbcType="DECIMAL"/>
        <result column="FX_OVERDUE_DAYS" property="fxOverdueDays" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="queryOverdueContractInfo" resultMap="BaseResultMap">
        select cc.contract_id,
        cc.contract_number,
        cc.manufacturer_id,
        cc.business_type,
        cc.lease_item_amount CONTRACT_AMOUNT, --合同金额
        (select min(cwo.write_off_date)
        from csh_write_off cwo
        where cwo.contract_id = cc.contract_id
        and cwo.cf_item = '0'
        ) DELIVERY_TIME, --投放日期
        cc.lease_term, --租赁期限
        round(
        (select sum(nvl(ccc.due_amount,0) - nvl(ccc.received_amount, 0))
        from con_contract_cashflow ccc
        where ccc.contract_id = cc.contract_id
        and ccc.cf_type = 1),
        2) REMAINING_RENT, --剩余租金
        round(
        (select sum(nvl(ccc.principal,0) - nvl(ccc.received_principal, 0))
        from con_contract_cashflow ccc
        where ccc.contract_id = cc.contract_id
        and ccc.cf_type = 1),
        2) REMAINING_PRINCIPAL, --剩余本金
        nvl(round((select sum(nvl(csh.transaction_amount, 0)) -
        sum(nvl(csh.write_off_amount, 0))
        from csh_transaction csh
        where csh.contract_id = cc.contract_id
        and csh.business_type = 'DEPOSIT'),
        2),
        0) REMAINING_MARGIN, --剩余保证金
        round((select sum(nvl(ccc.due_amount, 0) -
        nvl(ccc.received_amount, 0))
        from con_contract_cashflow ccc
        where ccc.cf_type = 1
        and ccc.due_date &lt; sysdate
        and ccc.write_off_flag != 'FULL'
        and ccc.contract_id = cc.contract_id),
        2) OVERDUE_RENT, --逾期租金
        round((sysdate - (select min(ccc.due_date)
        from con_contract_cashflow ccc
        where ccc.contract_id = cc.contract_id
        and ccc.cf_type = 1
        and ccc.write_off_flag != 'FULL'
        and ccc.due_date &lt; sysdate))) OVERDUE_DAYS, --逾期天数
        round(nvl((select sum(nvl(ccc.due_amount, 0) -
        nvl(ccc.received_amount, 0))
        from con_contract_cashflow ccc
        where ccc.contract_id = cc.contract_id
        and ccc.cf_item = '9'),
        0),
        2) PENALTY_INTEREST, --罚息
        (round(
        (select sum(nvl(ccc.principal,0) - nvl(ccc.received_principal, 0))
        from con_contract_cashflow ccc
        where ccc.contract_id = cc.contract_id
        and ccc.cf_type = 1),
        2) - nvl(round((select sum(nvl(csh.transaction_amount, 0)) -
        sum(nvl(csh.write_off_amount, 0))
        from csh_transaction csh
        where csh.contract_id = cc.contract_id
        and csh.business_type = 'DEPOSIT'),
        2),
        0)) REMAINING_EXPOSURE --剩余敞口
        from con_contract cc
        <where>
            cc.contract_status in ('INCEPT', 'PENDING')
        </where>
    </select>

    <select id="queryClassLineGroupByLevelAndManufacturerId" resultMap="BaseResultMap">
          SELECT HAC.INITIAL_LEVEL,
       HAC.REVIEW_LEVEL,
       HAC.MANUFACTURER_ID,
       HAC.CLASS_HEAD_ID,
       (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HAC.INITIAL_LEVEL) INITIAL_LEVEL_N,
       (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HAC.REVIEW_LEVEL) REVIEW_LEVEL_N,
       (SELECT HBM.BP_NAME
          FROM HLS_BP_MASTER HBM
         WHERE HBM.BP_ID = HAC.MANUFACTURER_ID) MANUFACTURER_ID_N,
       ROUND(SUM(HAC.CONTRACT_AMOUNT), 2) LEASE_ITEM_AMOUNT, --投放金额
       ROUND(SUM(HAC.REMAINING_RENT), 2) RESIDUAL_RENT, --剩余租金
       ROUND(SUM(HAC.Remaining_Principal), 2) RESIDUAL_PRINCIPAL, --剩余本金
       ROUND(SUM(HAC.Overdue_Rent), 2) OVERDUE_RENT, --逾期租金
       ROUND(max(HAC.Overdue_Days), 2) OVERDUE_DAYS, --最大逾期天数
       ROUND(SUM(HAC.PENALTY_INTEREST), 2) LATE_CHARGE, --逾期罚息
       ROUND(SUM(HAC.REMAINING_EXPOSURE), 2) EXPOSURE, --剩余敞口
       ROUND(SUM(HAC.REMAINING_MARGIN), 2) RESIDUAL_DEPOSIT --剩余保证金
  FROM HLS_ASSET_CLASS_LINE HAC
 WHERE HAC.CLASS_HEAD_ID = #{classHeadId}
 group by HAC.INITIAL_LEVEL, HAC.REVIEW_LEVEL, HAC.MANUFACTURER_ID,HAC.CLASS_HEAD_ID
    </select>

    <select id="queryClassLineGroupByLevelAndManufacturerIdForWfl" resultMap="BaseResultMap">
          SELECT HAC.INITIAL_LEVEL,
       HAC.REVIEW_LEVEL,
       HAC.MANUFACTURER_ID,
       HAC.CLASS_HEAD_ID,
       (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HAC.INITIAL_LEVEL) INITIAL_LEVEL_N,
       (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HAC.REVIEW_LEVEL) REVIEW_LEVEL_N,
       (SELECT HBM.BP_NAME
          FROM HLS_BP_MASTER HBM
         WHERE HBM.BP_ID = HAC.MANUFACTURER_ID) MANUFACTURER_ID_N,
      (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HAC.APPROVE_REVIEW_LEVEL) APPROVE_REVIEW_LEVEL_N,
       HAC.APPROVE_REVIEW_LEVEL,
       ROUND(SUM(HAC.CONTRACT_AMOUNT), 2) LEASE_ITEM_AMOUNT, --投放金额
       ROUND(SUM(HAC.REMAINING_RENT), 2) RESIDUAL_RENT, --剩余租金
       ROUND(SUM(HAC.Remaining_Principal), 2) RESIDUAL_PRINCIPAL, --剩余本金
       ROUND(SUM(HAC.Overdue_Rent), 2) OVERDUE_RENT, --逾期租金
       ROUND(max(HAC.Overdue_Days), 2) OVERDUE_DAYS, --最大逾期天数
       ROUND(SUM(HAC.PENALTY_INTEREST), 2) LATE_CHARGE, --逾期罚息
       ROUND(SUM(HAC.REMAINING_EXPOSURE), 2) EXPOSURE, --剩余敞口
       ROUND(SUM(HAC.REMAINING_MARGIN), 2) RESIDUAL_DEPOSIT --剩余保证金
  FROM HLS_ASSET_CLASS_LINE HAC
 WHERE HAC.CLASS_HEAD_ID = #{classHeadId}
 group by HAC.INITIAL_LEVEL, HAC.REVIEW_LEVEL, HAC.MANUFACTURER_ID,HAC.CLASS_HEAD_ID,HAC.APPROVE_REVIEW_LEVEL
    </select>

    <select id="queryClassContractDetail" resultMap="BaseResultMap">
        select
        HACL.CLASS_LINE_ID,
        HACL.CLASS_HEAD_ID,
        HACL.CONTRACT_ID,
        HACL.CONTRACT_NUMBER,
        HACL.BUSINESS_TYPE,
        (select hbt.DESCRIPTION from HLS_BUSINESS_TYPE hbt
        where hbt.BUSINESS_TYPE = HACl.BUSINESS_TYPE
        and hbt.document_category = 'CONTRACT') as BUSINESS_TYPE_N,
        HACL.INITIAL_LEVEL,
        (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'FIVE_CLASSIFICATION_RESULT'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HACL.INITIAL_LEVEL) INITIAL_LEVEL_N,
        HACL.REVIEW_LEVEL,
        (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'FIVE_CLASSIFICATION_RESULT'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HACl.REVIEW_LEVEL) REVIEW_LEVEL_N,
        HACL.CONTRACT_AMOUNT,
        HACL.DELIVERY_TIME,
        TO_CHAR(HACL.DELIVERY_TIME, 'YYYY-MM-DD') DELIVERY_TIME_N,
        HACL.LEASE_TERM,
        HACL.REMAINING_RENT,
        HACL.REMAINING_PRINCIPAL,
        (
            SELECT
                sum( nvl( ccc.principal, 0 ) - nvl( ccc.received_principal, 0 ) )
            FROM
                con_contract cc,
                con_contract_cashflow ccc
            WHERE
                ccc.contract_id = cc.contract_id
              AND ccc.cf_type = 1
              AND cc.CONTRACT_NUMBER = HACL.CONTRACT_NUMBER
            GROUP BY
                cc.CONTRACT_NUMBER
        ) AS REMAINING_PRINCIPAL_WO,
        HACL.REMAINING_MARGIN,
        HACL.OVERDUE_RENT,
        HACL.OVERDUE_DAYS,
        HACL.FX_OVERDUE_RENT,
        HACL.FX_OVERDUE_DAYS,
        HACL.PENALTY_INTEREST,
        HACL.remaining_exposure
        from HLS_ASSET_CLASS_LINE HACL
        <where>
            <if test="classHeadId != null">
                and HACL.CLASS_HEAD_ID = #{classHeadId}
            </if>
            <if test="contractNumber != null">
                <bind name="contractNumber" value="'%'+contractNumber+'%'"/>
                and HACL.CONTRACT_NUMBER like #{contractNumber}
            </if>
            <if test="businessType != null">
                and HACl.BUSINESS_TYPE = #{businessType}
            </if>
            <if test="initialLevel != null">
                and HACL.INITIAL_LEVEL = #{initialLevel}
            </if>
            <if test="reviewLevel != null">
                and HACl.REVIEW_LEVEL = #{reviewLevel}
            </if>
            <if test="overdueDays != null">
                and HACl.OVERDUE_DAYS = #{overdueDays}
            </if>
            <if test="fxOverdueDays != null">
                and HACl.FX_OVERDUE_DAYS = #{fxOverdueDays}
            </if>
            <if test="deliveryTime != null">
                and HACl.DELIVERY_TIME = to_date(#{deliveryTime},'yyyy-mm-dd')
            </if>
            <if test="leaseTerm != null">
                and HACl.LEASE_TERM = #{leaseTerm}
            </if>
            <if test="manufacturerId != null">
                and hacl.class_head_id IN (
                select class_head_id from (
                select class_head_id from hls_asset_class_head where bp_id = #{manufacturerId}
<!--                and approve_status = 'APPROVED'-->
                order by batch_num desc) where rownum &lt;= 1
                )
            </if>
        </where>
    </select>
    <!--审批-->
    <select id="queryClassContractDetailApproval" resultMap="BaseResultMap">
        select
        HACL.CLASS_LINE_ID,
        HACL.CLASS_HEAD_ID,
        HACL.CONTRACT_ID,
        HACL.CONTRACT_NUMBER,
        HACL.BUSINESS_TYPE,
        (select hbt.DESCRIPTION from HLS_BUSINESS_TYPE hbt
        where hbt.BUSINESS_TYPE = HACl.BUSINESS_TYPE
        and hbt.document_category = 'CONTRACT') as BUSINESS_TYPE_N,
        HACL.approve_initial_level,
        (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HACL.approve_initial_level) approve_initial_level_n,
        HACL.approve_review_level,
        (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HACl.approve_review_level) APPROVE_REVIEW_LEVEL_N,
        HACL.CONTRACT_AMOUNT,
        HACL.DELIVERY_TIME,
        TO_CHAR(HACL.DELIVERY_TIME, 'YYYY-MM-DD') DELIVERY_TIME_N,
        HACL.LEASE_TERM,
        HACL.REMAINING_RENT,
        HACL.REMAINING_PRINCIPAL,
        (
            SELECT
                sum( nvl( ccc.principal, 0 ) - nvl( ccc.received_principal, 0 ) )
            FROM
                con_contract cc,
                con_contract_cashflow ccc
            WHERE
                ccc.contract_id = cc.contract_id
              AND ccc.cf_type = 1
              AND cc.CONTRACT_NUMBER = HACL.CONTRACT_NUMBER
            GROUP BY
                cc.CONTRACT_NUMBER
        ) AS REMAINING_PRINCIPAL_WO,
        HACL.REMAINING_MARGIN,
        HACL.OVERDUE_RENT,
        HACL.OVERDUE_DAYS,
        HACL.FX_OVERDUE_RENT,
        HACL.FX_OVERDUE_DAYS,
        HACL.PENALTY_INTEREST,
        HACL.remaining_exposure
        from HLS_ASSET_CLASS_LINE HACL
        <where>
            <if test="classHeadId != null">
                and HACL.CLASS_HEAD_ID = #{classHeadId}
            </if>
            <if test="contractNumber != null">
                <bind name="contractNumber" value="'%'+contractNumber+'%'"/>
                and HACL.CONTRACT_NUMBER like #{contractNumber}
            </if>
            <if test="businessType != null">
                and HACl.BUSINESS_TYPE = #{businessType}
            </if>
            <if test="approveInitialLevel != null">
                and HACL.APPROVE_INITIAL_LEVEL = #{approveInitialLevel}
            </if>
            <if test="approveReviewLevel != null">
                and HACl.APPROVE_REVIEW_LEVEL = #{approveReviewLevel}
            </if>
            <if test="overdueDays != null">
                and HACl.OVERDUE_DAYS = #{overdueDays}
            </if>
            <if test="fxOverdueDays != null">
                and HACl.FX_OVERDUE_DAYS = #{fxOverdueDays}
            </if>
            <if test="deliveryTime != null">
                and HACl.DELIVERY_TIME = to_date(#{deliveryTime},'yyyy-mm-dd')
            </if>
            <if test="leaseTerm != null">
                and HACl.LEASE_TERM = #{leaseTerm}
            </if>
        </where>
    </select>
    <select id="queryClassContractDetailInfo" resultMap="BaseResultMap">
        SELECT HAC.CLASS_LINE_ID,
       HAC.CLASS_HEAD_ID,
       HAC.CONTRACT_ID,
       HAC.CONTRACT_NUMBER,
       HAC.BUSINESS_TYPE,
       HAC.INITIAL_LEVEL,
       HAC.REVIEW_LEVEL,
       HAC.CONTRACT_AMOUNT,
       HAC.DELIVERY_TIME,
       HAC.LEASE_TERM,
       HAC.REMAINING_RENT,
       HAC.REMAINING_PRINCIPAL,
       HAC.REMAINING_MARGIN,
       HAC.OVERDUE_RENT,
       HAC.OVERDUE_DAYS,
       HAC.PENALTY_INTEREST,
       (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HAC.INITIAL_LEVEL) INITIAL_LEVEL_N,
       (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HAC.REVIEW_LEVEL) REVIEW_LEVEL_N,
           (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HAC.APPROVE_REVIEW_LEVEL) APPROVE_REVIEW_LEVEL_N,
       HAC.APPROVE_REVIEW_LEVEL,
       TO_CHAR(HAC.DELIVERY_TIME, 'YYYY-MM-DD') DELIVERY_TIME_N,
       (select hbt.DESCRIPTION from HLS_BUSINESS_TYPE hbt
        where hbt.BUSINESS_TYPE = HAC.BUSINESS_TYPE
        and hbt.document_category = 'CONTRACT') as BUSINESS_TYPE_N,
        hac.manufacturer_id,
        (SELECT HBM.BP_NAME
          FROM HLS_BP_MASTER HBM
         WHERE HBM.BP_ID = HAC.MANUFACTURER_ID) MANUFACTURER_ID_N,
        hac.remaining_exposure
  FROM HLS_ASSET_CLASS_LINE HAC
 WHERE HAC.CLASS_HEAD_ID = #{classHeadId}
   AND HAC.INITIAL_LEVEL = #{initialLevel}
   AND HAC.REVIEW_LEVEL = #{reviewLevel}
   AND HAC.manufacturer_id = #{manufacturerId}
    </select>

    <select id="queryClassContractDetailInfoForWfl" resultMap="BaseResultMap">
        SELECT HAC.CLASS_LINE_ID,
       HAC.CLASS_HEAD_ID,
       HAC.CONTRACT_ID,
       HAC.CONTRACT_NUMBER,
       HAC.BUSINESS_TYPE,
       HAC.INITIAL_LEVEL,
       HAC.REVIEW_LEVEL,
       HAC.CONTRACT_AMOUNT,
       HAC.DELIVERY_TIME,
       HAC.LEASE_TERM,
       HAC.REMAINING_RENT,
       HAC.REMAINING_PRINCIPAL,
       HAC.REMAINING_MARGIN,
       HAC.OVERDUE_RENT,
       HAC.OVERDUE_DAYS,
       HAC.PENALTY_INTEREST,
       (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HAC.INITIAL_LEVEL) INITIAL_LEVEL_N,
       (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HAC.REVIEW_LEVEL) REVIEW_LEVEL_N,
           (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = HAC.APPROVE_REVIEW_LEVEL) APPROVE_REVIEW_LEVEL_N,
       HAC.APPROVE_REVIEW_LEVEL,
       TO_CHAR(HAC.DELIVERY_TIME, 'YYYY-MM-DD') DELIVERY_TIME_N,
       (select hbt.DESCRIPTION from HLS_BUSINESS_TYPE hbt
        where hbt.BUSINESS_TYPE = HAC.BUSINESS_TYPE
        and hbt.document_category = 'CONTRACT') as BUSINESS_TYPE_N,
        hac.manufacturer_id,
        (SELECT HBM.BP_NAME
          FROM HLS_BP_MASTER HBM
         WHERE HBM.BP_ID = HAC.MANUFACTURER_ID) MANUFACTURER_ID_N,
        hac.remaining_exposure
  FROM HLS_ASSET_CLASS_LINE HAC
 WHERE HAC.CLASS_HEAD_ID = #{classHeadId}
   AND HAC.INITIAL_LEVEL = #{initialLevel}
   AND HAC.manufacturer_id = #{manufacturerId}
   AND HAC.APPROVE_REVIEW_LEVEL = #{approveReviewLevel}
    </select>

    <select id="queryLineInfoByIdAndReviewLevel" resultMap="BaseResultMap"
            parameterType="com.hand.hls.ast.dto.AssetClassLine">
        SELECT *
        FROM hls_asset_class_line hac
        <where>
            <choose>
                <when test="classLineId!= null">
                    and hac.class_line_id = #{classLineId}
                </when>
                <otherwise>
                    and hac.manufacturer_id = #{manufacturerId}
                    and hac.class_head_id = #{classHeadId}
                    and hac.review_level = #{reviewLevel}
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="queryLineInfoByIdAndInitLevel" resultMap="BaseResultMap"
            parameterType="com.hand.hls.ast.dto.AssetClassLine">
        SELECT *
        FROM hls_asset_class_line hac
        <where>
            and hac.manufacturer_id = #{manufacturerId}
            and hac.class_head_id = #{classHeadId}
            and hac.initial_level = #{initialLevel}
        </where>
    </select>

<!--    <select id="queryOverdueContractInfoByContractIds" resultMap="BaseResultMap">-->
<!--        select cc.contract_id,-->
<!--        cc.contract_number, &#45;&#45;合同编号-->
<!--        cc.manufacturer_id,-->
<!--        cc.business_type, &#45;&#45;业务模式-->
<!--        cc.lease_start_date DELIVERY_TIME, &#45;&#45;投放时间-->
<!--        cc.lease_term, &#45;&#45;租赁期限-->
<!--        cc.FINANCE_AMOUNT CONTRACT_AMOUNT, &#45;&#45;合同金额-->
<!--        nvl(case-->
<!--        when cc.lease_channel = '20' and cc.substitute_receipt_flag = 'Y' then-->
<!--        round(((select sum(ccc.due_amount)-->
<!--        from con_contract_cashflow ccc-->
<!--        where ccc.cf_type = 1-->
<!--        and ccc.contract_id = cc.contract_id) - -->
<!--        nvl((select sum(htri.received_amount)-->
<!--        from hls_tenant_repayment_info htri,hls_cashflow_item hci-->
<!--        where htri.contract_id = cc.contract_id-->
<!--        and htri.reversed_flag = 'N'-->
<!--        and hci.cf_item = htri.cf_item-->
<!--        and hci.cf_type = 1-->
<!--        <if test="manufacturerId!=null">-->
<!--            and trunc(htri.bank_slip_date) &lt; trunc(sysdate, 'q')-->
<!--        </if>-->
<!--        ),-->
<!--        0)),-->
<!--        2)-->
<!--        else-->
<!--        (select sum(nvl(ccc.due_amount, 0) - nvl(ccc.received_amount, 0))-->
<!--        from con_contract_cashflow ccc-->
<!--        where ccc.contract_id = cc.contract_id-->
<!--        and ccc.cf_type = 1)-->
<!--        <if test="manufacturerId!=null">-->
<!--            +-->
<!--            nvl((select sum(nvl(cwo.write_off_due_amount, 0))-->
<!--            from csh_write_off cwo-->
<!--            where cwo.contract_id = cc.contract_id-->
<!--            and cwo.cf_type = 1-->
<!--            and trunc(cwo.write_off_date) >= trunc(sysdate, 'q')-->
<!--            ),-->
<!--            0)-->
<!--        </if>-->

<!--        end,0) REMAINING_RENT, &#45;&#45;剩余租金-->
<!--        nvl(case-->
<!--        when cc.lease_channel = '20' and cc.substitute_receipt_flag = 'Y' then-->
<!--        (nvl((select sum(nvl(ccc.principal,0))-->
<!--        from con_contract_cashflow ccc-->
<!--        where ccc.cf_type = 1-->
<!--        and ccc.contract_id = cc.contract_id),0) - -->
<!--        nvl((select sum(nvl(htri.received_principal,0))-->
<!--        from hls_tenant_repayment_info htri,hls_cashflow_item hci-->
<!--        where htri.contract_id = cc.contract_id-->
<!--        and htri.reversed_flag = 'N'-->
<!--        and hci.cf_item = htri.cf_item-->
<!--        and hci.cf_type = 1-->
<!--        <if test="manufacturerId!=null">-->
<!--            and trunc(htri.bank_slip_date) &lt; trunc(sysdate, 'q')-->
<!--        </if>-->
<!--        ),0))-->
<!--        else-->
<!--        (select sum(nvl(ccc.principal, 0) - nvl(ccc.received_principal, 0))-->
<!--        from con_contract_cashflow ccc-->
<!--        where ccc.contract_id = cc.contract_id-->
<!--        and ccc.cf_type = 1)-->
<!--        <if test="manufacturerId!=null">-->
<!--            +-->
<!--            nvl((select sum(nvl(cwo.write_off_principal, 0))-->
<!--            from csh_write_off cwo-->
<!--            where cwo.contract_id = cc.contract_id-->
<!--            and cwo.cf_type = 1-->
<!--            and trunc(cwo.write_off_date) >= trunc(sysdate, 'q')-->
<!--            ),-->
<!--            0)-->
<!--        </if>-->
<!--        end,0) REMAINING_PRINCIPAL, &#45;&#45;剩余本金-->
<!--        &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--        nvl(case-->
<!--        when cc.lease_channel = '20' and cc.substitute_receipt_flag = 'Y' then-->
<!--        (select nvl(sum(ct.transaction_amount), 0)-->
<!--        from csh_transaction ct-->
<!--        where ct.business_type = 'DEPOSIT'-->
<!--        and ct.contract_id = cc.contract_id-->
<!--        and ct.REVERSED_FLAG = 'N') - -->
<!--        (select nvl(sum(htri.received_amount), 0)-->
<!--        from hls_tenant_repayment_info htri-->
<!--        where htri.write_off_source = 'DEPOSIT'-->
<!--        and htri.contract_id = cc.contract_id-->
<!--        <if test="manufacturerId!=null">-->
<!--            and trunc(htri.bank_slip_date) &lt; trunc(sysdate, 'q')-->
<!--        </if>-->
<!--        ) - -->
<!--        nvl((select sum(cwo.write_off_due_amount)-->
<!--        from CSH_WRITE_OFF cwo-->
<!--        where exists-->
<!--        (select 1-->
<!--        from CSH_TRANSACTION ct-->
<!--        where ct.TRANSACTION_TYPE = 'DEPOSIT'-->
<!--        and ct.TRANSACTION_ID = cwo.CSH_TRANSACTION_ID-->
<!--        and ct.CONTRACT_ID = cc.CONTRACT_ID-->
<!--        and ct.REVERSED_FLAG = 'N')-->
<!--        and cwo.WRITE_OFF_TYPE = 'REFUND'-->
<!--        and cwo.contract_id = cc.contract_id-->
<!--        and cwo.REVERSED_FLAG = 'N'-->
<!--        <if test="manufacturerId!=null">-->
<!--            and trunc(cwo.write_off_date) &lt; trunc(sysdate, 'q')-->
<!--        </if>-->
<!--        ),-->
<!--        0)-->
<!--        else-->
<!--        nvl((select sum(nvl(csh.transaction_amount, 0))-->
<!--        from csh_transaction csh-->
<!--        where csh.contract_id = cc.contract_id-->
<!--        and csh.business_type = 'DEPOSIT'-->
<!--        and csh.REVERSED_FLAG = 'N'),-->
<!--        0) - -->
<!--        nvl((select sum(nvl(cwo.write_off_due_amount, 0))-->
<!--        from csh_transaction csh, csh_write_off cwo-->
<!--        where csh.contract_id = cc.contract_id-->
<!--        and csh.business_type = 'DEPOSIT'-->
<!--        and csh.transaction_id = cwo.csh_transaction_id-->
<!--        and cwo.reversed_flag = 'N'-->
<!--        and csh.REVERSED_FLAG = 'N'-->
<!--        <if test="manufacturerId!=null">-->
<!--            and trunc(cwo.write_off_date) &lt; trunc(sysdate, 'q')-->
<!--        </if>-->
<!--        ),-->
<!--        0)-->
<!--        end,0) REMAINING_MARGIN, &#45;&#45;剩余保证金-->
<!--        -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--        nvl(case-->
<!--        when cc.lease_channel = '20' and cc.substitute_receipt_flag = 'Y' then-->
<!--        nvl((select sum(nvl(ccc.due_amount, 0-->
<!--        ))-->
<!--        from con_contract_cashflow ccc-->
<!--        where ccc.contract_id = cc.contract_id-->
<!--        and ccc.cf_type = 1-->
<!--        <if test="manufacturerId == null">-->
<!--            and trunc(ccc.due_date) &lt; trunc(sysdate)-->
<!--        </if>-->
<!--        <if test="manufacturerId!=null">-->
<!--            and trunc(ccc.due_date) &lt; trunc(sysdate, 'q')-->
<!--        </if>-->
<!--        ),-->
<!--        0) - nvl((select sum(nvl(htr.received_amount, 0))-->
<!--        from  hls_tenant_repayment_info htr,con_contract_cashflow ccc-->
<!--        where htr.cashflow_id = ccc.cashflow_id-->
<!--        and ccc.contract_id = cc.contract_id-->
<!--        and ccc.cf_type = 1-->
<!--        and htr.reversed_flag = 'N'-->
<!--        <if test="manufacturerId == null">-->
<!--            and trunc(ccc.due_date) &lt; trunc(sysdate)-->
<!--        </if>-->
<!--        <if test="manufacturerId!= null">-->
<!--            and trunc(ccc.due_date) &lt; trunc(sysdate, 'q')-->
<!--            and trunc(htr.bank_slip_date) &lt; trunc(sysdate, 'q')-->
<!--        </if>-->
<!--        ),0)-->
<!--        else-->
<!--        nvl((select sum(nvl(ccc.due_amount, 0) - -->
<!--        nvl(ccc.received_amount, 0))-->
<!--        from con_contract_cashflow ccc-->
<!--        where ccc.cf_type = 1-->
<!--        and ccc.due_date &lt; sysdate-->
<!--        and ccc.contract_id = cc.contract_id-->
<!--        <if test="manufacturerId!=null">-->
<!--            and trunc(ccc.due_date) &lt; trunc(sysdate, 'q')-->
<!--        </if>-->
<!--        ),-->
<!--        0)-->
<!--        <if test="manufacturerId!=null">-->
<!--            +-->
<!--            nvl((select sum(nvl(cwo.write_off_due_amount, 0))-->
<!--            from csh_write_off cwo, con_contract_cashflow ccc-->
<!--            where cwo.contract_id = cc.contract_id-->
<!--            and cwo.cashflow_id = ccc.cashflow_id-->
<!--            and ccc.cf_type = 1-->
<!--            and ccc.due_date &lt; sysdate-->
<!--            and trunc(ccc.due_date) &lt; trunc(sysdate, 'q')-->
<!--            and trunc(cwo.write_off_date) &gt;= trunc(sysdate, 'q')),-->
<!--            0)-->
<!--        </if>-->
<!--        end ,0)OVERDUE_RENT, &#45;&#45;逾期租金-->
<!--        <if test="manufacturerId!=null">-->
<!--            nvl(case-->
<!--            when cc.lease_channel = '20' and cc.substitute_receipt_flag = 'Y' then-->
<!--            (select max(trunc(sysdate, 'q') - 1 - trunc(ccc.due_date))-->
<!--            from con_contract_cashflow ccc-->
<!--            where ccc.contract_id = cc.contract_id-->
<!--            and ccc.due_amount >-->
<!--            nvl((select sum(nvl(htr.received_amount, 0))-->
<!--            from hls_tenant_repayment_info htr-->
<!--            where htr.cashflow_id = ccc.cashflow_id-->
<!--            and htr.reversed_flag = 'N'-->
<!--            and trunc(htr.bank_slip_date) &lt; trunc(sysdate, 'q')),-->
<!--            0)-->
<!--            and ccc.cf_type = 1-->
<!--            and trunc(ccc.due_date) &lt; trunc(sysdate, 'q'))-->
<!--            else-->
<!--            (select max(trunc(sysdate, 'q') - 1 - trunc(ccc.due_date))-->
<!--            from con_contract_cashflow ccc-->
<!--            where ccc.cf_type = 1-->
<!--            and ccc.contract_id = cc.contract_id-->
<!--            and trunc(ccc.due_date) &lt; trunc(sysdate, 'q')-->
<!--            and (nvl(ccc.due_amount,0) - nvl(ccc.received_amount,0) +-->
<!--            nvl((select sum(nvl(cwo.write_off_due_amount, 0))-->
<!--            from csh_write_off cwo-->
<!--            where cwo.contract_id = cc.contract_id-->
<!--            and cwo.cashflow_id = ccc.cashflow_id-->
<!--            and cwo.cf_type = 1-->
<!--            and trunc(cwo.write_off_date) >= trunc(sysdate, 'q')),-->
<!--            0)) > 0)-->
<!--            end,0) OVERDUE_DAYS, &#45;&#45;逾期天数-->
<!--        </if>-->
<!--        <if test="manufacturerId == null">-->
<!--            nvl(case-->
<!--            when cc.lease_channel = '20' and cc.substitute_receipt_flag = 'Y' then-->
<!--            (select max(trunc(sysdate) - trunc(ccc.due_date))-->
<!--            from con_contract_cashflow ccc-->
<!--            where ccc.contract_id = cc.contract_id-->
<!--            and nvl(ccc.due_amount,0) >-->
<!--            nvl((select sum(nvl(htr.received_amount, 0))-->
<!--            from hls_tenant_repayment_info htr-->
<!--            where htr.cashflow_id = ccc.cashflow_id-->
<!--            and htr.reversed_flag = 'N'),-->
<!--            0)-->
<!--            and trunc(ccc.due_date) &lt; trunc(sysdate)-->
<!--            and ccc.cf_type = 1)-->
<!--            else-->
<!--            (select trunc(sysdate) - trunc(min(ccc.due_date))-->
<!--            from con_contract_cashflow ccc-->
<!--            where trunc(ccc.due_date) &lt; trunc(sysdate)-->
<!--            and ccc.cf_type = 1-->
<!--            and ccc.write_off_flag != 'FULL'-->
<!--            and cc.contract_id = ccc.contract_id)-->
<!--            end,0)  OVERDUE_DAYS, &#45;&#45;逾期天数-->
<!--        </if>-->
<!--        <if test="manufacturerId == null">-->
<!--            case-->
<!--            when (select hbm.asset_class_type-->
<!--            from hls_bp_master hbm-->
<!--            where cc.manufacturer_id = hbm.bp_id) = 'NEW_CALIBER' then-->
<!--            nvl((select greatest(max(trunc(sysdate) - -->
<!--            trunc(case-->
<!--            when (select count(1)-->
<!--            from con_contract_cashflow t-->
<!--            where t.contract_id = ccc.contract_id-->
<!--            and t.cf_item in (11, 13)) > 0 then-->
<!--            (select max(t.due_date)-->
<!--            from con_contract_cashflow t-->
<!--            where t.contract_id = ccc.contract_id-->
<!--            and t.cf_item in (11, 13))-->
<!--            else-->
<!--            (select max(t.due_date)-->
<!--            from con_contract_cashflow t-->
<!--            where t.contract_id = ccc.contract_id-->
<!--            and t.cf_item = 1)-->
<!--            end)),-->
<!--            0)-->
<!--            from con_contract_cashflow ccc-->
<!--            where ccc.contract_id = cc.contract_id-->
<!--            and ccc.cf_item = 9-->
<!--            and (case-->
<!--            when cc.lease_channel = '20' and-->
<!--            cc.substitute_receipt_flag = 'Y' then-->
<!--            nvl((select sum(nvl(htr.received_amount, 0))-->
<!--            from hls_tenant_repayment_info htr-->
<!--            where htr.cashflow_id = ccc.cashflow_id-->
<!--            and htr.reversed_flag = 'N'),-->
<!--            0)-->
<!--            else-->
<!--            nvl(ccc.received_amount, 0)-->
<!--            end) &lt; nvl(ccc.due_amount, 0)),-->
<!--            0)-->
<!--            else-->
<!--            nvl((select greatest(max(trunc(sysdate) - -->
<!--            (select trunc(t.due_date)-->
<!--            from con_contract_cashflow t-->
<!--            where t.contract_id = ccc.contract_id-->
<!--            and t.times = ccc.times-->
<!--            and t.cf_item = 1)),-->
<!--            0)-->
<!--            from con_contract_cashflow ccc-->
<!--            where ccc.contract_id = cc.contract_id-->
<!--            and ccc.cf_item = 9-->
<!--            and (case-->
<!--            when cc.lease_channel = '20' and-->
<!--            cc.substitute_receipt_flag = 'Y' then-->
<!--            nvl((select sum(nvl(htr.received_amount, 0))-->
<!--            from hls_tenant_repayment_info htr-->
<!--            where htr.cashflow_id = ccc.cashflow_id-->
<!--            and htr.reversed_flag = 'N'),-->
<!--            0)-->
<!--            else-->
<!--            nvl(ccc.received_amount, 0)-->
<!--            end) &lt; nvl(ccc.due_amount, 0)),-->
<!--            0)-->
<!--            end FX_OVERDUE_DAYS, &#45;&#45;逾期天数(罚息)-->
<!--        </if>-->
<!--        <if test="manufacturerId != null">-->
<!--            case-->
<!--            when (select hbm.asset_class_type-->
<!--            from hls_bp_master hbm-->
<!--            where cc.manufacturer_id = hbm.bp_id) = 'NEW_CALIBER' then-->
<!--            nvl((select greatest(max(trunc(sysdate, 'q') - 1 - -->
<!--            trunc(case-->
<!--            when (select count(1)-->
<!--            from con_contract_cashflow t-->
<!--            where t.contract_id = cc.contract_id-->
<!--            and t.cf_item in (11, 13)) > 0 then-->
<!--            (select max(t.due_date)-->
<!--            from con_contract_cashflow t-->
<!--            where t.contract_id = cc.contract_id-->
<!--            and t.cf_item in (11, 13))-->
<!--            else-->
<!--            (select max(t.due_date)-->
<!--            from con_contract_cashflow t-->
<!--            where t.contract_id = cc.contract_id-->
<!--            and t.cf_item = 1)-->
<!--            end)),-->
<!--            0)-->
<!--            from yx_quarter_interest_history qih-->
<!--            where qih.contract_id = cc.contract_id-->
<!--            and qih.cf_item = 9-->
<!--            and trunc(qih.creation_date) = trunc(sysdate, 'q') - 1-->
<!--            and qih.received_amount &lt; qih.due_amount),-->
<!--            0)-->
<!--            else-->
<!--            nvl((select greatest(max(trunc(sysdate, 'q') - 1 - -->
<!--            (select trunc(t.due_date)-->
<!--            from con_contract_cashflow t-->
<!--            where t.contract_id = qih.contract_id-->
<!--            and t.times = qih.times-->
<!--            and t.cf_item = 1)),-->
<!--            0)-->
<!--            from yx_quarter_interest_history qih-->
<!--            where qih.contract_id = cc.contract_id-->
<!--            and qih.cf_item = 9-->
<!--            and trunc(qih.creation_date) = trunc(sysdate, 'q') - 1-->
<!--            and qih.received_amount &lt; qih.due_amount),-->
<!--            0)-->
<!--            end FX_OVERDUE_DAYS, &#45;&#45;逾期天数(罚息)-->
<!--        </if>-->
<!--        <if test="manufacturerId == null">-->
<!--            case-->
<!--            when (select hbm.asset_class_type-->
<!--            from hls_bp_master hbm-->
<!--            where cc.manufacturer_id = hbm.bp_id) = 'NEW_CALIBER' then-->
<!--            nvl((select nvl((SELECT sum(nvl(ccc.due_amount, 0))-->
<!--            FROM con_contract_cashflow ccc-->
<!--            WHERE ccc.contract_id = cc.contract_id-->
<!--            and ccc.cf_item = 9),-->
<!--            0) - -->
<!--            (case cc.substitute_receipt_flag-->
<!--            when 'Y' then-->
<!--            (nvl((SELECT sum(nvl(htr.received_amount, 0))-->
<!--            FROM con_contract_cashflow     ccc,-->
<!--            hls_tenant_repayment_info htr-->
<!--            WHERE htr.cashflow_id = ccc.cashflow_id-->
<!--            AND ccc.contract_id = cc.contract_id-->
<!--            and ccc.cf_item = 9),-->
<!--            0))-->
<!--            else-->
<!--            (SELECT sum(nvl(ccc.received_amount, 0))-->
<!--            FROM con_contract_cashflow ccc-->
<!--            WHERE ccc.contract_id = cc.contract_id-->
<!--            and ccc.cf_item = 9)-->
<!--            end)-->
<!--            from dual-->
<!--            where trunc(sysdate) > trunc(CASE-->

<!--            WHEN (SELECT count(1)-->
<!--            FROM con_contract_cashflow t-->
<!--            WHERE t.contract_id = cc.contract_id-->
<!--            AND t.cf_item IN (11, 13)) > 0 THEN-->
<!--            (SELECT max(t.due_date)-->
<!--            FROM con_contract_cashflow t-->
<!--            WHERE t.contract_id = cc.contract_id-->
<!--            AND t.cf_item IN (11, 13))-->
<!--            ELSE-->
<!--            (SELECT max(t.due_date)-->
<!--            FROM con_contract_cashflow t-->
<!--            WHERE t.contract_id = cc.contract_id-->
<!--            AND t.cf_item = 1)-->
<!--            END)),-->
<!--            0)-->
<!--            else-->
<!--            (select nvl(sum(ccc.due_amount), 0)-->
<!--            from con_contract_cashflow ccc-->
<!--            where ccc.contract_id = cc.contract_id-->
<!--            and ccc.cf_item = 9-->
<!--            and trunc(ccc.due_date) &lt; trunc(sysdate)) - -->
<!--            (case cc.substitute_receipt_flag-->
<!--            when 'Y' then-->
<!--            (nvl((SELECT sum(nvl(htr.received_amount, 0))-->
<!--            FROM con_contract_cashflow     ccc,-->
<!--            hls_tenant_repayment_info htr-->
<!--            WHERE htr.cashflow_id = ccc.cashflow_id-->
<!--            AND ccc.contract_id = cc.contract_id-->
<!--            and ccc.cf_item = 9-->
<!--            and trunc(ccc.due_date) &lt; trunc(sysdate)),-->
<!--            0))-->
<!--            else-->
<!--            (select nvl(sum(ccc.received_amount), 0)-->
<!--            from con_contract_cashflow ccc-->
<!--            where ccc.contract_id = cc.contract_id-->
<!--            and ccc.cf_item = 9-->
<!--            and trunc(ccc.due_date) &lt; trunc(sysdate))-->
<!--            end)-->
<!--            end FX_OVERDUE_RENT &#45;&#45; 逾期罚息金额-->
<!--        </if>-->
<!--        <if test="manufacturerId != null">-->
<!--            case-->
<!--            when (select hbm.asset_class_type-->
<!--            from hls_bp_master hbm-->
<!--            where cc.manufacturer_id = hbm.bp_id) = 'NEW_CALIBER' then-->
<!--            nvl((SELECT sum(nvl(qih.due_amount, 0)) - -->
<!--            sum(nvl(qih.received_amount, 0))-->
<!--            FROM yx_quarter_interest_history qih-->
<!--            WHERE qih.contract_id = cc.contract_id-->
<!--            and trunc(sysdate) > trunc(qih.due_date)-->
<!--            and trunc(qih.creation_date) = trunc(sysdate, 'q') - 1-->
<!--            and qih.cf_item = 9),-->
<!--            0)-->
<!--            else-->
<!--            (select nvl(sum(qih.due_amount), 0) - -->
<!--            nvl(sum(qih.received_amount), 0)-->
<!--            from yx_quarter_interest_history qih-->
<!--            where qih.contract_id = cc.contract_id-->
<!--            and qih.cf_item = 9-->
<!--            and trunc(qih.creation_date) = trunc(sysdate, 'q') - 1-->
<!--            and trunc(qih.due_date) &lt; trunc(sysdate))-->
<!--            end FX_OVERDUE_RENT &#45;&#45; 逾期罚息金额-->
<!--        </if>-->
<!--        from con_contract cc-->
<!--        <where>-->
<!--            <if test="contracts !=null">-->
<!--                and cc.contract_id in-->
<!--                <foreach item="contract" index="index" collection="contracts"-->
<!--                         open="(" separator="," close=")">-->
<!--                    #{contract.contractId}-->
<!--                </foreach>-->
<!--            </if>-->
<!--            <if test="manufacturerId!=null">-->
<!--                and cc.manufacturer_id = #{manufacturerId}-->
<!--                and  ((cc.contract_status in ('INCEPT', 'PENDING') and-->
<!--                trunc(cc.lease_start_date) &lt; trunc(sysdate, 'q')) or-->
<!--                (cc.contract_status = 'TERMINATE' and-->
<!--                trunc(cc.termination_date) >= trunc(sysdate, 'q')))-->
<!--            </if>-->
<!--            and cc.lease_channel != 40-->
<!--        </where>-->
<!--    </select>-->
    <select id="queryOverdueContractInfoByContractIds" resultMap="BaseResultMap">
        SELECT
        cc.contract_id,
        cc.contract_number,
        cc.manufacturer_id,
        cc.business_type,
        cc.lease_start_date DELIVERY_TIME,
        (select pq.lease_term_m from PRJ_QUOTATION pq where pq.QUOTATION_ID=cc.QUOTATION_ID) lease_term,
        cc.FINANCE_AMOUNT CONTRACT_AMOUNT,
        (
        SELECT
        nvl ( sum( to_date ( sysdate ) - to_date ( ccc.due_date ) ), 0 )
        FROM
        con_contract_cashflow ccc
        WHERE
        ccc.contract_id = cc.contract_id
        AND ccc.cf_direction = 'INFLOW'
        AND ccc.cf_status = 'RELEASE'
        AND ccc.overdue_status = 'Y'
        ) overdue_days,
        (
        SELECT
        nvl ( sum( nvl ( ccc.due_amount, 0 ) - nvl ( ccc.received_amount, 0 ) ), 0 )
        FROM
        con_contract_cashflow ccc
        WHERE
        ccc.contract_id = cc.contract_id
        AND ccc.cf_direction = 'INFLOW'
        AND ccc.cf_status = 'RELEASE'
        AND ccc.overdue_status = 'Y'
        ) overdue_rent,
        (select sum(nvl(ccc.FINE_DAYS,0)) from con_contract_cashflow ccc
        WHERE ccc.contract_id = cc.contract_id  )	FX_OVERDUE_DAYS,
        (select sum(nvl(ccc.FINE_DAYS,0)) from con_contract_cashflow ccc
        WHERE ccc.contract_id = cc.contract_id )	FX_OVERDUE_RENT
        FROM
        con_contract cc
        <where>
            cc.contract_status in ('INCEPT','PENDING')
              <if test="contracts !=null">
                   and cc.contract_id in
                   <foreach item="contract" index="index" collection="contracts"
                            open="(" separator="," close=")">
                        #{contract.contractId}
                    </foreach>
              </if>
              <if test="manufacturerId!=null">
                    and cc.manufacturer_id = #{manufacturerId}
                    </if>
                    and cc.lease_channel != 40
                </where>
    </select>

    <select id="queryByContractNumberAndClassHeadId" resultMap="BaseResultMap">
        select hacl.* from HLS_ASSET_CLASS_LINE hacl where hacl.contract_number=#{contractNumber} and hacl.class_head_id=#{classHeadId}
    </select>

    <select id="queryHistoryAssetByContractId" resultMap="BaseResultMap">
        select head.batch_num,
       head.class_year,
       (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'QUARTER'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = head.class_season) class_season_n,
       (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'HLS_ASSET_CLASS_HEAD_TYPE'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = head.document_type) DOCUMENT_TYPE_N,
       (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = line.INITIAL_LEVEL) INITIAL_LEVEL_N,
       (SELECT scv.meaning
          FROM sys_code_b scb, sys_code_value_b scv
         WHERE scb.CODE = 'ASSET_CLASS'
           AND scb.CODE_ID = scv.CODE_ID
           and scv.value = line.REVIEW_LEVEL) REVIEW_LEVEL_N,
       to_char(head.approve_time,'YYYY-MM-DD') approve_time_n
  from hls_asset_class_head head, hls_asset_class_line line
 where head.class_head_id = line.class_head_id
   and head.approve_status = 'APPROVED'
   and line.contract_id = #{contractId}
    </select>
    <update id="updateReviewLevel" parameterType="com.hand.hls.ast.dto.AssetClassLine">
        UPDATE HLS_ASSET_CLASS_LINE t
        SET t.review_level = #{reviewLevel}
        WHERE t.class_head_id = #{classHeadId}
          and t.contract_number = #{contractNumber}
    </update>
    <update id="updateApproveReviewLevel" parameterType="com.hand.hls.ast.dto.AssetClassLine">
        UPDATE HLS_ASSET_CLASS_LINE t
        SET t.approve_review_level = #{approveReviewLevel}
        WHERE t.class_head_id = #{classHeadId}
          and t.contract_number = #{contractNumber}
    </update>

</mapper>