<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.ast.mapper.AstFcEstimateMapper">
    <resultMap id="BaseResultMap1" type="com.hand.hls.ast.dto.AstFcEstimate">
        <result column="FC_ESTIMATE_ID" property="fcEstimateId" jdbcType="DECIMAL"/>
        <result column="FIVE_CLASS_PLAN" property="fiveClassPlan" jdbcType="VARCHAR"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="ESTIMATE_NUM" property="estimateNum" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="ESTIMATE_DATE" property="estimateDate" jdbcType="DATE"/>
        <result column="INTERNAL_PERIOD_NUM" property="internalPeriodNum" jdbcType="DECIMAL"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR"/>
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR"/>
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR"/>
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR"/>
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR"/>
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL"/>
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL"/>
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL"/>
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL"/>
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL"/>
        <result column="REF_D01" property="refD01" jdbcType="DATE"/>
        <result column="REF_D02" property="refD02" jdbcType="DATE"/>
        <result column="REF_D03" property="refD03" jdbcType="DATE"/>
        <result column="REF_D04" property="refD04" jdbcType="DATE"/>
        <result column="REF_D05" property="refD05" jdbcType="DATE"/>

        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL"/>
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL"/>
        <result column="UNIT_ID" property="unitId" jdbcType="DECIMAL"/>
        <result column="SYS_TEN_CLASS_RESULT" property="sysTenClassResult" jdbcType="VARCHAR"/>
        <result column="START_TEN_CLASS_RESULT" property="startTenClassResult" jdbcType="VARCHAR"/>
        <result column="START_SCORE_DESC" property="startScoreDesc" jdbcType="VARCHAR"/>
        <result column="FINAL_ASSETS_CLASS_RESULT" property="finalAssetsClassResult" jdbcType="VARCHAR"/>
        <result column="RAISE_STATUS" property="raiseStatus" jdbcType="VARCHAR"/>
        <result column="BREAK_RATE" property="breakRate" jdbcType="DECIMAL"/>
        <result column="NOW_COUNT_STATUS" property="nowCountStatus" jdbcType="VARCHAR"/>
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR"/>

        <result column="EMPLOYEE_ID_N" property="employeeIdN" jdbcType="VARCHAR"/>
        <result column="UNIT_ID_N" property="unitIdN" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TYPE_N" property="businessTypeN" jdbcType="VARCHAR"/>
        <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR"/>
        <result column="tenant_id_n" property="tenantIdN" jdbcType="VARCHAR"/>
        <result column="SYS_TEN_CLASS_RESULT_N" property="sysTenClassResultN" jdbcType="VARCHAR"/>
        <result column="START_TEN_CLASS_RESULT_N" property="startTenClassResultN" jdbcType="VARCHAR"/>
        <result column="FINAL_ASSETS_CLASS_RESULT_N" property="finalAssetsClassResultN" jdbcType="VARCHAR"/>
        <result column="RAISE_STATUS_N" property="raiseStatusN" jdbcType="VARCHAR"/>
        <result column="NOW_COUNT_STATUS_N" property="nowCountStatusN" jdbcType="VARCHAR"/>
        <result column="STATUS_N" property="statusN" jdbcType="VARCHAR"/>
        <result column="PROCESS_INSTANCE_ID" property="processInstanceId" jdbcType="DECIMAL" />
        <result column="FIVE_CLASS_PLAN_N" property="fiveClassPlanN" jdbcType="VARCHAR"/>
        <result column="NOW_COUNT" property="nowCount" jdbcType="DECIMAL" />
        <result column="PLAN_ID" property="planId" jdbcType="DECIMAL" />
        <result column="PLAN_ID_N" property="planIdN" jdbcType="VARCHAR" />
        <result column="START_SCORE_DESC_N" property="startScoreDescN" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="modelQueryMap1" type="uncertain.composite.CompositeMap">
        <result column="fc_estimate_id" property="fc_estimate_id"/>
        <result column="five_class_plan" property="five_class_plan"/>
        <result column="company_id" property="company_id"/>
        <result column="estimate_num" property="estimate_num"/>
        <result column="description" property="description"/>
        <result column="estimate_date" property="estimate_date"/>
        <result column="internal_period_num" property="internal_period_num"/>
        <result column="status" property="status"/>
        <result column="ref_v01" property="ref_v01"/>
        <result column="ref_v02" property="ref_v02"/>
        <result column="ref_v03" property="ref_v03"/>
        <result column="ref_v04" property="ref_v04"/>
        <result column="ref_v05" property="ref_v05"/>
        <result column="ref_n01" property="ref_n01"/>
        <result column="ref_n02" property="ref_n02"/>
        <result column="ref_n03" property="ref_n03"/>
        <result column="ref_n04" property="ref_n04"/>
        <result column="ref_n05" property="ref_n05"/>
        <result column="ref_d01" property="ref_d01"/>
        <result column="ref_d02" property="ref_d02"/>
        <result column="ref_d03" property="ref_d03"/>
        <result column="ref_d04" property="ref_d04"/>
        <result column="ref_d05" property="ref_d05"/>
    </resultMap>
    <select id="modelQuery1" resultMap="modelQueryMap1">
        SELECT
        fc_estimate_id,
        five_class_plan,
        company_id,
        estimate_num,
        description,
        estimate_date,
        internal_period_num,
        status,
        ref_v01,
        ref_v02,
        ref_v03,
        ref_v04,
        ref_v05,
        ref_n01,
        ref_n02,
        ref_n03,
        ref_n04,
        ref_n05,
        ref_d01,
        ref_d02,
        ref_d03,
        ref_d04,
        ref_d05
        FROM
        ast_fc_estimate t1
        <where>
            <if test="whereSql !=null">
                ${whereSql}
            </if>
        </where>
    </select>

    <select id="queryAstFcEstimate" parameterType="com.hand.hls.ast.dto.AstFcEstimate"
            resultMap="BaseResultMap1">
        SELECT pp.CREATED_BY,afe.FC_ESTIMATE_ID, afe.PROJECT_ID, afe.ESTIMATE_NUM, afe.ESTIMATE_DATE, afe.EMPLOYEE_ID , (
        SELECT em.name
        FROM fnd_employee em
        WHERE em.employee_id = afe.EMPLOYEE_ID ) AS EMPLOYEE_ID_N, afe.UNIT_ID , (
        SELECT fou.unit_name
        FROM fnd_org_unit fou
        WHERE fou.unit_id = afe.unit_id ) AS unit_id_n, afe.FIVE_CLASS_PLAN , (
        SELECT afcp.description
        FROM ast_five_class_plan afcp
        WHERE afcp.FIVE_CLASS_PLAN = afe.FIVE_CLASS_PLAN AND afcp.ENABLED_FLAG = 'Y' ) AS FIVE_CLASS_PLAN_N,
        pp.DATA_CLASS,
        pp.CONTRACT_NAME,
        afe.CONTRACT_NUMBER,
        pp.TENANT_ID ,
        (
        SELECT b.bp_name
        FROM hls_bp_master b
        WHERE b.bp_id = pp.tenant_id ) AS tenant_id_n,


--         CASE
--
--         WHEN pp.BUSINESS_TYPE in('T+N_LEASE_FACTORING','T+0_LEASE_FACTORING') THEN
--         ( SELECT wm_concat(b.bp_name separator ',')
--         FROM hls_bp_master b ,prj_project_bp hclcb
--         WHERE pp.PROJECT_ID = hclcb.PROJECT_ID
--         and b.bp_id = hclcb.bp_id
--         and hclcb.bp_type = 'RECEIVABLE_DEBTOR'
--         )
--         WHEN pp.BUSINESS_TYPE in('LEASE_WITHOUT_RECOURSE_IN','OPERATING_LEASE_WITHOUT_RECOURSE_IN') THEN
--         ( SELECT wm_concat(b.bp_name separator ',')
--         FROM hls_bp_master b ,prj_project_bp hclcb
--         WHERE pp.PROJECT_ID = hclcb.PROJECT_ID
--         and b.bp_id = hclcb.bp_id
--         and hclcb.bp_type = 'ASSET_TRANSFEROR'
--         )
--         ELSE
--         ( SELECT wm_concat(b.bp_name separator ',')
--         FROM hls_bp_master b ,prj_project_bp hclcb
--         WHERE pp.PROJECT_ID = hclcb.PROJECT_ID
--         and b.bp_id = hclcb.bp_id
--         and hclcb.bp_type = 'TENANT'
--         )
--         END AS tenant_id_n,


        pp.BUSINESS_TYPE , (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'HLS200.LEASING_PRODUCT_DETAIL' AND pp.BUSINESS_TYPE = v.CODE_VALUE ) AS BUSINESS_TYPE_N, afe.SYS_TEN_CLASS_RESULT , CASE WHEN afe.SYS_TEN_CLASS_RESULT != '' THEN (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'ASSET_CLASSIFICATION_RESULTS' AND afe.SYS_TEN_CLASS_RESULT = v.CODE_VALUE ) ELSE (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'ASSET_CLASSIFICATION_RESULTS' AND (
        SELECT afer.FIVE_CLASS_CODE_BY_SYSTEM

        FROM
        ast_fc_estimate_result afer
        WHERE afer.FC_ESTIMATE_ID = afe.FC_ESTIMATE_ID ) = v.CODE_VALUE ) END AS SYS_TEN_CLASS_RESULT_N,


        afe.START_SCORE_DESC,
        (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'QUALITATIVE_ANALYSIS' AND afe.START_SCORE_DESC = v.CODE_VALUE ) START_SCORE_DESC_N,

        afe.START_TEN_CLASS_RESULT ,
        CASE WHEN afe.START_TEN_CLASS_RESULT !='' THEN
        (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'QUANTITATIVE_INDICATORS' AND afe.START_TEN_CLASS_RESULT = v.CODE_VALUE )ELSE (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'QUANTITATIVE_INDICATORS' AND afe.START_SCORE_DESC = v.CODE_VALUE
        ) END AS START_TEN_CLASS_RESULT_N,

        afe.FINAL_ASSETS_CLASS_RESULT , CASE WHEN afe.FINAL_ASSETS_CLASS_RESULT != '' THEN (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'ASSET_CLASSIFICATION_RESULTS' AND afe.FINAL_ASSETS_CLASS_RESULT = v.CODE_VALUE ) ELSE (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'QUANTITATIVE_INDICATORS' AND afe.START_SCORE_DESC = v.CODE_VALUE ) END AS FINAL_ASSETS_CLASS_RESULT_N, afe.RAISE_STATUS , (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'LON.CONTRACT_WITHDRAW_STATUS' AND afe.RAISE_STATUS = v.CODE_VALUE ) AS RAISE_STATUS_N, afe.BREAK_RATE, afe.NOW_COUNT_STATUS , (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'LON.CONTRACT_WITHDRAW_STATUS' AND afe.NOW_COUNT_STATUS = v.CODE_VALUE ) AS NOW_COUNT_STATUS_N, afe.NOW_COUNT, afe.STATUS, afe.PLAN_ID , (
        SELECT pp.plan_number
        FROM prj_check_plan pp
        WHERE pp.plan_id = afe.PLAN_ID ) AS PLAN_ID_N, afe.NOW_COUNT, afe.BREAK_RATE , (
        SELECT meaning
        FROM sys_code_value_b_v v
        WHERE v.CODE = 'CREDIT.APPROVE_STATUS' AND v.code_value = afe.STATUS ) AS STATUS_N
        FROM ast_fc_estimate afe, prj_project pp
        <where>
            pp.PROJECT_ID = afe.PROJECT_ID
            and pp.DATA_CLASS = 'VIRTUAL_CON'
            <if test="createdBy != null">
                and (pp.created_by = #{request.userId}
                or EXISTS (SELECT
                1
                FROM
                sys_user U
                LEFT JOIN SYS_USER_ALLOCATION UR ON UR.USER_ID = U.USER_ID
                LEFT JOIN SYS_ROLE_B R ON R.ROLE_ID = UR.ROLE_ID
                WHERE
                R.ROLE_CODE = 'ADMIN' and U.USER_ID = #{createdBy}))
            </if>
            <if test="estimateNum!=null">
               and afe.ESTIMATE_NUM = #{estimateNum}
            </if>
            <if test="fcEstimateId!=null">
                and afe.FC_ESTIMATE_ID = #{fcEstimateId}
            </if>
            <if test="contractNumber!=null">
                and afe.CONTRACT_NUMBER = #{contractNumber}
            </if>
            <if test="projectNumber!=null">
                and afe.CONTRACT_NUMBER = #{projectNumber}
            </if>
            <if test="fiveClassPlan!=null">
                and afe.FIVE_CLASS_PLAN = #{fiveClassPlan}
            </if>
            <if test="employeeId!=null">
                and afe.EMPLOYEE_ID = #{employeeId}
            </if>
            <if test="unitId!=null">
                and afe.UNIT_ID = #{unitId}
            </if>
            <if test="raiseStatus!=null">
                and afe.RAISE_STATUS = #{raiseStatus}
            </if>
            <if test="nowCountStatus!=null">
                and afe.NOW_COUNT_STATUS = #{nowCountStatus}
            </if>
            <if test="estimateDateFrom!=null">
                <if test="estimateDateTo!=null">
                    and afe.ESTIMATE_DATE between #{estimateDateFrom} and #{estimateDateTo}
                </if>
            </if>
            ORDER BY afe.FC_ESTIMATE_ID desc
        </where>


    </select>

    <resultMap id="modelQueryMap2" type="com.hand.hls.ast.dto.AstFiveClassRuleDetail">
        <result column="FIVE_CLASS_TARGET" property="fiveClassTarget"/>
        <result column="FIVE_CLASS_RULE_ID" property="fiveClassRuleId"/>
    </resultMap>
    <select id="queryFiveClassTarget" parameterType="com.hand.hls.ast.dto.AstFcEstimate"
            resultMap="modelQueryMap2">
        select
        (
        select afcrd.FIVE_CLASS_TARGET
        from ast_five_class_rule afcr,ast_five_class_rule_detail afcrd,ast_five_class_plan afcp,ast_five_class_code afcc
        where afcr.FIVE_CLASS_RULE_ID = afcrd.FIVE_CLASS_RULE_ID
        and afcp.FIVE_CLASS_PLAN = afcc.FIVE_CLASS_PLAN
        and afcr.FIVE_CLASS_RULE_ID = afcc.FIVE_CLASS_RULE_ID
        and afcp.FIVE_CLASS_PLAN = afe.FIVE_CLASS_PLAN
        and rownum=1
        ) FIVE_CLASS_TARGET,

        (
        select afcc.FIVE_CLASS_RULE_ID
        from ast_five_class_rule afcr,ast_five_class_rule_detail afcrd,ast_five_class_plan afcp,ast_five_class_code afcc
        where afcr.FIVE_CLASS_RULE_ID = afcrd.FIVE_CLASS_RULE_ID
        and afcp.FIVE_CLASS_PLAN = afcc.FIVE_CLASS_PLAN
        and afcr.FIVE_CLASS_RULE_ID = afcc.FIVE_CLASS_RULE_ID
        and afcp.FIVE_CLASS_PLAN = afe.FIVE_CLASS_PLAN
        and rownum=1
        ) FIVE_CLASS_RULE_ID
        from ast_fc_estimate afe
        <where>
            afe.FC_ESTIMATE_ID = #{fcEstimateId}
        </where>

    </select>
    
    <select id="calculationNowCount" resultMap="BaseResultMap1">
        SELECT
            v.break_rate * v.unreceived_principal as now_count,
            v.break_rate
        FROM
            (
            SELECT
                nvl( SYS_TEN_CLASS_RESULT, ( SELECT afer.FIVE_CLASS_CODE_BY_SYSTEM FROM ast_fc_estimate_result afer WHERE afer.FC_ESTIMATE_ID = afe.FC_ESTIMATE_ID ) ) AS SYS_TEN_CLASS_RESULT,
                (
                SELECT
                    afcc.break_rate
                FROM
                    ast_five_class_code afcc
                WHERE
                    afcc.FIVE_CLASS_PLAN = 'FIVE_CLASS'
                    AND afcc.FIVE_CLASS_CODE =
                    /* nvl( SYS_TEN_CLASS_RESULT, ( SELECT afer.FIVE_CLASS_CODE_BY_SYSTEM FROM ast_fc_estimate_result afer WHERE afer.FC_ESTIMATE_ID = afe.FC_ESTIMATE_ID ) )*/
                    nvl(final_assets_class_result, ( SELECT afer.FIVE_CLASS_CODE_BY_SYSTEM FROM ast_fc_estimate_result afer WHERE afer.FC_ESTIMATE_ID = afe.FC_ESTIMATE_ID ))
                ) AS break_rate,
                (
                SELECT
                    sum( nvl( ccc.principal, 0 ) - nvl( ccc.received_principal, 0 ) )
                FROM
                    prj_project pp,
                    con_contract cc,
                    con_contract_cashflow ccc
                WHERE
                    pp.project_id = cc.project_id
                    AND cc.contract_id = ccc.contract_id
                    AND ccc.cf_item = 1
                    AND pp.project_id = afe.PROJECT_ID
                ) AS unreceived_principal
            FROM
                ast_fc_estimate afe
            WHERE
            afe.FC_ESTIMATE_ID = #{id}
            ) v
    </select>

</mapper>