<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.ast.mapper.AstFcEstimateResultMapper">
    <resultMap id="BaseResultMap1" type="com.hand.hls.ast.dto.AstFcEstimateResult">
        <result column="RESULT_ID" property="resultId" jdbcType="DECIMAL"/>
        <result column="FC_ESTIMATE_ID" property="fcEstimateId" jdbcType="DECIMAL"/>
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL"/>
        <result column="LAMP_COLOR_BY_SYSTEM" property="lampColorBySystem" jdbcType="VARCHAR"/>
        <result column="ORIGINAL_FIVE_CLASS_CODE" property="lampColorBySystem" jdbcType="VARCHAR"/>
        <result column="LAMP_COLOR" property="lampColor" jdbcType="VARCHAR"/>
        <result column="FIVE_CLASS_CODE_BY_SYSTEM" property="fiveClassCodeBySystem" jdbcType="VARCHAR"/>
        <result column="FIVE_CLASS_CODE" property="fiveClassCode" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="ESTIMATE_DATE" property="estimateDate" jdbcType="DATE"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR"/>
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR"/>
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR"/>
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR"/>
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR"/>
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL"/>
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL"/>
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL"/>
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL"/>
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL"/>
        <result column="REF_D01" property="refD01" jdbcType="DATE"/>
        <result column="REF_D02" property="refD02" jdbcType="DATE"/>
        <result column="REF_D03" property="refD03" jdbcType="DATE"/>
        <result column="REF_D04" property="refD04" jdbcType="DATE"/>
        <result column="REF_D05" property="refD05" jdbcType="DATE"/>
        <result column="OBJECT_VERSION_LONG" property="objectVersionLong" jdbcType="DECIMAL"/>

        <result column="FIVE_CLASS_TARGET" property="fiveClassTarget" jdbcType="VARCHAR"/>
        <result column="TARGET_VALUE" property="targetValue" jdbcType="VARCHAR"/>
        <result column="FIVE_CLASS_TARGET_NAME" property="fiveClassTargetName" jdbcType="VARCHAR"/>
        <result column="FINAL_ASSETS_CLASS_RESULT_N" property="finalAssetsClassResultN" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="queryByRequestDataMap1" type="uncertain.composite.CompositeMap">
        <result column="result_id" property="result_id"/>
        <result column="fc_estimate_id" property="fc_estimate_id"/>
        <result column="contract_id" property="contract_id"/>
        <result column="contract_number" property="contract_number"/>
        <result column="contract_name" property="contract_name"/>
        <result column="business_type" property="business_type"/>
        <result column="five_class_code" property="five_class_code"/>
        <result column="five_class_code_by_system" property="five_class_code_by_system"/>
        <result column="description" property="description"/>
        <result column="original_five_class_code" property="original_five_class_code"/>
        <result column="ref_v01" property="ref_v01"/>
        <result column="ref_v02" property="ref_v02"/>
        <result column="ref_v03" property="ref_v03"/>
        <result column="ref_v04" property="ref_v04"/>
        <result column="ref_v05" property="ref_v05"/>
        <result column="ref_n01" property="ref_n01"/>
        <result column="ref_n02" property="ref_n02"/>
        <result column="ref_n03" property="ref_n03"/>
        <result column="ref_n04" property="ref_n04"/>
        <result column="ref_n05" property="ref_n05"/>
        <result column="ref_d01" property="ref_d01"/>
        <result column="ref_d02" property="ref_d02"/>
        <result column="ref_d03" property="ref_d03"/>
        <result column="ref_d04" property="ref_d04"/>
        <result column="ref_d05" property="ref_d05"/>
        <result column="status" property="status"/>
        <result column="estimate_date" property="estimate_date"/>
        <result column="business_type_n" property="business_type_n"/>
        <result column="five_class_name" property="five_class_name"/>
        <result column="five_class_name_by_system" property="five_class_name_by_system"/>
        <result column="original_five_class_name" property="original_five_class_name"/>
        <result column="is_change_des" property="is_change_des"/>
        <result column="row_id" property="row_id"/>
    </resultMap>
    <select id="queryByRequestData1" resultMap="queryByRequestDataMap1">
        SELECT
        t1.*,(select bt.description
        from hls_business_type bt
        where bt.business_type = t1.business_type
        and bt.document_category &lt;&gt; 'PRJ_PROJECT'
        and bt.document_category &lt;&gt; 'HLS_CREDIT_LINE') as business_type_n,
        ( SELECT rfc.description FROM AST_FIVE_CLASS_CODE rfc WHERE rfc.five_class_code = t1.five_class_code ) AS
        five_class_name,
        ( SELECT rfc.description FROM AST_FIVE_CLASS_CODE rfc WHERE rfc.five_class_code = t1.five_class_code_by_system )
        AS five_class_name_by_system,
        ( SELECT rfc.description FROM AST_FIVE_CLASS_CODE rfc WHERE rfc.five_class_code = t1.original_five_class_code )
        AS original_five_class_name,
        ( case when
        nvl(t1.original_five_class_code,1) &lt;&gt; nvl(t1.five_class_code_by_system,1) then '是' else '否'
        end)is_change_des
        FROM
        (
        SELECT
        r.result_id,
        r.fc_estimate_id,
        t.contract_id,
        t.contract_number,
        t.contract_name,
        t.business_type,
        r.five_class_code,
        r.five_class_code_by_system,
        r.description,
        r.original_five_class_code,
        r.ref_v01,
        r.ref_v02,
        r.ref_v03,
        r.ref_v04,
        r.ref_v05,
        r.ref_n01,
        r.ref_n02,
        r.ref_n03,
        r.ref_n04,
        r.ref_n05,
        r.ref_d01,
        r.ref_d02,
        r.ref_d03,
        r.ref_d04,
        r.ref_d05,
        IFNULL ( r.STATUS, 'NEW' ) STATUS,
        r.estimate_date
        FROM
        CON_CONTRACT t,
        AST_FC_ESTIMATE_RESULT r
        WHERE
        t.data_class = 'NORMAL'
        AND t.contract_status ='INCEPT'
        AND t.contract_id = r.contract_id
        AND r.fc_estimate_id=#{map.fc_estimate_id}
        <if test="map.contract_number !=null">
            and t.contract_number = #{map.contract_number}
        </if>
        <if test="map.contract_name !=null">
            and t.contract_name like concat('%',concat(#{map.contract_name},'%'))
        </if>
        ) t1
        <where>
            <if test="map.result_id != null">
                t1.result_id = #{map.result_id}
            </if>

            <if test="map.business_type !=null">
                AND t1.business_type = #{map.business_type}
            </if>
            <if test="map.estimate_date_t">
                AND ${map.estimate_date_t}
            </if>
            <if test="map.estimate_date_f">
                AND ${map.estimate_date_f}
            </if>

            <choose>
                <when test='map.is_change !=null and map.is_change!="N"'>
                    AND (nvl(t1.original_five_class_code,1) &lt;&gt; nvl(t1.five_class_code_by_system,1))
                </when>
                <when test='map.is_change !=null and map.is_change!="Y"'>
                    AND (nvl(t1.original_five_class_code,1) = nvl(t1.five_class_code_by_system,1))
                </when>
            </choose>

        </where>
    </select>

    <select id="queryAstFcEstimateResult" resultMap="BaseResultMap1" parameterType="com.hand.hls.ast.dto.AstFcEstimateResult">
        select
        afrd.RESULT_DETAIL_ID,
        afrd.RESULT_ID,
        afe.FC_ESTIMATE_ID,
        afrd.FIVE_CLASS_TARGET,
        (select afct.FIVE_CLASS_TARGET_NAME from ast_five_class_target afct where afct.FIVE_CLASS_TARGET = afrd.FIVE_CLASS_TARGET) FIVE_CLASS_TARGET_NAME,
        afrd.TARGET_VALUE,
        afe.SYS_TEN_CLASS_RESULT ,
        CASE
        WHEN afe.SYS_TEN_CLASS_RESULT != '' THEN
        (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'ASSET_CLASSIFICATION_RESULTS' AND (select afer.FIVE_CLASS_CODE_BY_SYSTEM from ast_fc_estimate_result afer where afer.FC_ESTIMATE_ID = afe.FC_ESTIMATE_ID) = v.CODE_VALUE )

        WHEN afe.START_TEN_CLASS_RESULT !='' THEN

        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'QUANTITATIVE_INDICATORS' AND afe.START_TEN_CLASS_RESULT = v.CODE_VALUE)


        WHEN afe.START_SCORE_DESC != '' THEN(
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'QUANTITATIVE_INDICATORS' AND afe.START_SCORE_DESC = v.CODE_VALUE )

        WHEN afe.FINAL_ASSETS_CLASS_RESULT != '' THEN
        (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'ASSET_CLASSIFICATION_RESULTS' AND afe.FINAL_ASSETS_CLASS_RESULT = v.CODE_VALUE )
        ELSE
        (
        SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code = 'QUANTITATIVE_INDICATORS' AND (select afer.FIVE_CLASS_CODE_BY_SYSTEM from ast_fc_estimate_result afer where afer.FC_ESTIMATE_ID = afe.FC_ESTIMATE_ID) = v.CODE_VALUE )

        END FINAL_ASSETS_CLASS_RESULT_N
         from ast_fc_estimate_result_dtl afrd,ast_fc_estimate_result afer,ast_fc_estimate afe
         <where>
             afrd.RESULT_ID = afer.RESULT_ID
             and afe.FC_ESTIMATE_ID = afer.FC_ESTIMATE_ID
             and afer.FC_ESTIMATE_ID = #{fcEstimateId}
         </where>
    </select>


</mapper>