<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.ast.mapper.AstFiveClassTargetMapper">
    <resultMap id="BaseResultMap1" type="com.hand.hls.ast.dto.AstFiveClassTarget">
        <result column="five_class_target" property="fiveClassTarget"/>
        <result column="five_class_target_name" property="fiveClassTargetName"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="usage_type" property="usageType"/>
        <result column="target_type" property="targetType"/>
        <result column="target_object" property="targetObject"/>
        <result column="target_uom" property="targetUom"/>
        <result column="target_uom_n" property="targetUomN"/>
        <result column="include_target_value" property="includeTargetValue"/>
        <result column="enabled_flag" property="enabledFlag"/>
    </resultMap>
    <select id="queryAll1" resultMap="BaseResultMap1" parameterType="java.util.Map">
        SELECT
            afct.*,
            fuc.description target_uom_n
        FROM
            ast_five_class_target afct
        LEFT JOIN fnd_uom_code fuc ON afct.target_uom = fuc.uom_code
    </select>
</mapper>