<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.ast.mapper.NoticeManageMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.ast.dto.NoticeManage">
        <result column="NOTICE_MANAGE_ID" property="noticeManageId" jdbcType="DECIMAL"/>
        <result column="CASHFLOW_ID" property="cashflowId" jdbcType="DECIMAL"/>
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL"/>
        <result column="NOTICE_TYPE" property="noticeType" jdbcType="VARCHAR"/>
        <result column="PRINT_STATUS" property="printStatus" jdbcType="VARCHAR"/>
        <result column="SENDING_OBJECT" property="sendingObject" jdbcType="VARCHAR"/>
        <result column="DUE_AMOUNT" property="dueAmount" jdbcType="DECIMAL"/>

        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="times" property="times" jdbcType="DECIMAL"/>
        <result column="cf_item" property="cfItem" jdbcType="DECIMAL"/>
        <result column="due_date" property="dueDate" jdbcType="DATE"/>
        <result column="calc_date" property="calcDate" jdbcType="DATE"/>
        <result column="fine_days" property="fineDays" jdbcType="DECIMAL"/>
        <result column="write_off_flag" property="writeOffFlag" jdbcType="VARCHAR"/>
        <result column="cf_direction" property="cfDirection" jdbcType="VARCHAR"/>
        <result column="write_off_flag_desc" property="writeOffFlagDesc" jdbcType="VARCHAR"/>
        <result column="notice_type_desc" property="noticeTypeDesc" jdbcType="VARCHAR"/>
        <result column="print_status_desc" property="printStatusDesc" jdbcType="VARCHAR"/>
        <result column="cf_project" property="cfProject" jdbcType="VARCHAR"/>

        <result column="templet_code" property="templetCode" jdbcType="VARCHAR"/>
        <result column="templet_name" property="templetName" jdbcType="VARCHAR"/>
        <result column="templet_type" property="templetType" jdbcType="VARCHAR"/>
        <result column="templet_id" property="templetId" jdbcType="DECIMAL"/>
        <result column="user_id" property="userId" jdbcType="DECIMAL"/>
        <result column="unit_id" property="unitId" jdbcType="DECIMAL"/>
        <result column="apply_time" property="applyTime" jdbcType="DATE"/>
        <result column="due_date_start" property="dueDateStart" jdbcType="DATE"/>
        <result column="due_date_end" property="dueDateEnd" jdbcType="DATE"/>
        <result column="dis_print_status" property="disPrintStatus" jdbcType="VARCHAR"/>
        <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="attachment_id" property="attachmentId" jdbcType="DECIMAL"/>
        <result column="payment_number" property="paymentNumber" jdbcType="VARCHAR"/>


    </resultMap>

    <select id="queryAll" parameterType="com.hand.hls.ast.dto.NoticeManage" resultMap="BaseResultMap">
        SELECT t.*
        FROM (SELECT anm.*,
        tt.unit_name,
        tt.name,
        cc.contract_number payment_number,
        (select faam.attachment_id from fnd_atm_attachment_multi faam where faam.table_pk_value = anm.notice_manage_id and faam.table_name =
        'AST_NOTICE_MANAGE') attachment_id,
        (SELECT pp.contract_number FROM PRJ_PROJECT PP WHERE pp.project_id = cc.project_id) contract_number,
        (select h.bp_name from hls_bp_master h where h.bp_id = cc.tenant_id) bp_name,
        (select c.times
        from con_contract_cashflow c
        where c.cashflow_id = anm.cashflow_id) times,
        (select c.cf_item
        from con_contract_cashflow c
        where c.cashflow_id = anm.cashflow_id) cf_item,
        (select c.due_date
        from con_contract_cashflow c
        where c.cashflow_id = anm.cashflow_id) due_date,
        (select c.calc_date
        from con_contract_cashflow c
        where c.cashflow_id = anm.cashflow_id) calc_date,
        (select c.fine_days
        from con_contract_cashflow c
        where c.cashflow_id = anm.cashflow_id) fine_days,
        (select c.write_off_flag
        from con_contract_cashflow c
        where c.cashflow_id = anm.cashflow_id) write_off_flag,
        (select c.CF_DIRECTION
        from con_contract_cashflow c
        where c.cashflow_id = anm.cashflow_id) CF_DIRECTION,
        (select t.templet_name
        from hls_doc_file_templet t
        where t.templet_id = anm.templet_id) templet_name,
        (select t.templet_code
        from hls_doc_file_templet t
        where t.templet_id = anm.templet_id) templet_code,
        (SELECT CASE
        WHEN c.WRITE_OFF_FLAG = 'FULL' THEN
        '完全核销'
        WHEN c.WRITE_OFF_FLAG = 'PARTIAL' THEN
        '部分核销'
        ELSE
        '未核销'
        END
        from con_contract_cashflow c
        where c.cashflow_id = anm.cashflow_id) WRITE_OFF_FLAG_DESC,
        (select hci.description
        from con_contract_cashflow c, hls_cashflow_item hci
        where c.cashflow_id = anm.cashflow_id
        and hci.CF_ITEM = c.CF_ITEM) cf_project,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code_value = anm.notice_type
        and v.code = 'AST008.NOTICE_TYPE') as notice_type_desc,
        (SELECT v.meaning
        FROM sys_code_value_b_v v
        WHERE v.code_value = anm.print_status
        and v.code = 'AST.PRINT_STATUS') as print_status_desc
        FROM AST_NOTICE_MANAGE anm
        left join con_contract cc
        on cc.contract_id = anm.contract_id
        left join (SELECT FE.NAME,
        SUA.USER_ID,
        MIN(FOU.UNIT_NAME) UNIT_NAME,
        SUA.COMPANY_ID
        FROM SYS_USER_ALLOCATION SUA
        LEFT JOIN FND_EMPLOYEE_ASSIGNS FEA
        ON SUA.EMPLOYEE_ASSIGN_ID = FEA.EMPLOYEE_ASSIGN_ID
        LEFT JOIN FND_ORG_UNIT FOU
        ON FEA.UNIT_ID = FOU.UNIT_ID,
        (SELECT MIN(COMPANY_ID) COMPANY_ID, USER_ID
        FROM SYS_USER_ALLOCATION
        GROUP BY USER_ID
        ORDER BY USER_ID ASC) SUAC, FND_EMPLOYEE FE
        WHERE SUA.COMPANY_ID = FEA.COMPANY_ID
        AND SUA.COMPANY_ID = FOU.COMPANY_ID
        AND SUA.COMPANY_ID = SUAC.COMPANY_ID
        AND SUA.USER_ID = SUAC.USER_ID
        AND FE.EMPLOYEE_ID = FEA.EMPLOYEE_ID
        GROUP BY SUA.USER_ID, SUA.COMPANY_ID, FE.NAME
        ORDER BY SUA.USER_ID ASC) tt
        on tt.user_id = anm.user_id
        ) t
        <where>

            <if test="noticeManageId!=null">
                T.NOTICE_MANAGE_ID = #{noticeManageId}
            </if>

            <if test="noticeManageIds!=null">
                AND T.NOTICE_MANAGE_ID IN
                <foreach item="item" index="index" collection="noticeManageIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="contractId!=null">
                AND T.CONTRACT_ID = #{contractId}
            </if>

            <if test="contractNumber!=null and contractNumber!=''">
                and T.contract_number like '%'||#{contractNumber}||'%'
            </if>

            <if test="times!=null">
                AND T.TIMES = #{times}
            </if>
            <if test="noticeType!=null and noticeType!=''">
                AND T.NOTICE_TYPE = #{noticeType}
            </if>
            <if test="dueDateStart!=null">
                AND T.DUE_DATE &gt;= #{dueDateStart}
            </if>
            <if test="dueDateEnd!=null">
                AND T.DUE_DATE &lt;= #{dueDateEnd}
            </if>
            <if test="writeOffFlag!=null and writeOffFlag!=''">
                AND T.write_off_flag = #{writeOffFlag}
            </if>
            <if test="printStatus!=null and printStatus!=''">
                AND T.print_status = #{printStatus}
            </if>

            <if test="disPrintStatus!=null and disPrintStatus!=''">
                AND T.print_status != #{disPrintStatus}
            </if>

            <if test="bpName!=null and bpName!=''">
                AND T.BP_NAME like concat(concat('%',#{bpName}),'%')
            </if>

            <if test="cfProject != null and cfProject != ''">
                AND T.CF_PROJECT LIKE '%'|| #{cfProject,jdbcType=VARCHAR}||'%'
            </if>

            <if test="name != null">
                AND T.name LIKE '%'|| #{name,jdbcType=VARCHAR}||'%'
            </if>

            <if test="unitName != null">
                AND T.unit_name LIKE '%'|| #{unitName,jdbcType=VARCHAR}||'%'
            </if>

        </where>
        order by t.NOTICE_MANAGE_ID desc
    </select>

    <select id="queryContractCashflowLov" resultMap="BaseResultMap"
            resultType="com.hand.hls.ast.dto.NoticeManage">
        SELECT t1.*
        FROM (SELECT t.contract_id,
        t.cashflow_id,
        (SELECT c.contract_number
        FROM con_contract c
        WHERE c.contract_id = t.contract_id) contract_number,
        (SELECT c.contract_name
        FROM con_contract c
        WHERE c.contract_id = t.contract_id) contract_name,
        (select p.approval_number from prj_project p,con_contract c where p.project_id = c.project_id and c.contract_id
        = t.contract_id)approval_number,
        t.times,
        t.due_date,
        t.due_amount,
        t.cf_item,
        t.cf_type,
        t.calc_date,
        t.fine_days,
        t.write_off_flag,
        CASE
        WHEN t.WRITE_OFF_FLAG = 'FULL' THEN
        '完全核销'
        WHEN t.WRITE_OFF_FLAG = 'PARTIAL' THEN
        '部分核销'
        ELSE
        '未核销'
        END WRITE_OFF_FLAG_DESC,
        (SELECT i.description
        FROM hls_cashflow_item i
        WHERE i.cf_item = t.cf_item
        AND i.cf_type = t.cf_type) cf_project,
        (SELECT c.tenant_id
        FROM con_contract c
        WHERE c.contract_id = t.contract_id) bp_id,
        (SELECT bp.bp_name
        FROM con_contract c, hls_bp_master bp
        WHERE c.contract_id = t.contract_id
        AND c.tenant_id = bp.bp_id) bp_name,
        (SELECT bp.bp_name
        FROM con_contract c, hls_bp_master bp
        WHERE c.contract_id = t.contract_id
        AND c.tenant_id = bp.bp_id) sending_object
        FROM con_contract_cashflow t,con_contract c
        where c.contract_id = t.contract_id
        and c.data_class = 'NORMAL') t1
        WHERE 1 = 1
        <if test="contractId!=null">
            and t1.contract_id = #{contractId}
        </if>
        <if test="bpName!=null">
            and t1.bp_name like concat('%',concat(#{bpName},'%'))
        </if>
        <if test="contractNumber!=null">
            and t1.contract_number like concat('%',concat(#{contractNumber},'%') )
        </if>

        <if test="cfItem!=null">
            and t1.cf_item = #{cfItem}
        </if>

        <if test="cfProject!=null">
            and t1.cf_project like concat('%',concat(#{cfProject},'%'))
        </if>

        <if test="times!=null">
            and t1.times = #{times}
        </if>
        order by t1.contract_number,t1.times
    </select>

    <select id="queryNoticeTempLov" resultMap="BaseResultMap"
            resultType="com.hand.hls.ast.dto.NoticeManage">
        select a.templet_code, a.templet_id, a.templet_name, a.templet_type
        from hls_doc_file_templet a
        <where>
            a.enabled_flag = 'Y'
            and a.templet_code like concat('PLM_NOTICE_PRINT_',concat(#{templetNameStr},'%'))

            <if test="templetCode!=null">
                and a.templet_code = #{templetCode}
            </if>

            <if test="templetName!=null">
                and a.templet_name = #{templetName}
            </if>
        </where>
    </select>

    <select id="queryContractCashflowItemLov" resultMap="BaseResultMap"
            resultType="com.hand.hls.ast.dto.NoticeManage">
        SELECT t1.* FROM
        (SELECT
        hci.cf_item,
        hci.description cf_project
        FROM
        hls_cashflow_item hci) t1
        <where>
            1=1
            <if test="cfItem!=null">
                and t1.cf_item = #{cfItem}
            </if>

            <if test="cfProject!=null">
                and t1.cf_project = #{cfProject}
            </if>
        </where>
        order by t1.cf_item
    </select>
</mapper>