<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.eas.mapper.HlsCusCoreAccountHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.eas.dto.HlsCusCoreAccountHistory">
        <result column="CORE_HISTORY_ID" property="coreHistoryId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR" />
        <result column="ACCOUNT_ID" property="accountId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_CODE" property="accountCode" jdbcType="VARCHAR" />
        <result column="ACCOUNT_NUMBER" property="accountNumber" jdbcType="VARCHAR" />
        <result column="SUM_CR_AMOUNT" property="sumCrAmount" jdbcType="DECIMAL" />
        <result column="SUM_DR_AMOUNT" property="sumDrAmount" jdbcType="DECIMAL" />
        <result column="CHECK_DATE" property="checkDate" jdbcType="VARCHAR" />
        <result column="is_same" property="isSame" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="eas_amount" property="easAmount" jdbcType="DECIMAL" />
        <result column="core_amount" property="coreAmount" jdbcType="DECIMAL" />
        <result column="message" property="message" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="time" property="time" jdbcType="VARCHAR" />
        <result column="account_name" property="accountName" jdbcType="VARCHAR" />
        <result column="biz_date" property="bizDate" jdbcType="VARCHAR" />

        <result column="day_balance" property="dayBalance"/>
        <result column="after_balance" property="afterBalance"/>
        <result column="before_balance" property="beforeBalance"/>

        <result column="eas_day_balance" property="easDayBalance"/>
        <result column="eas_after_balance" property="easAfterBalance"/>
        <result column="eas_before_balance" property="easBeforeBalance"/>
        <result column="different_balance" property="differentBalance"/>
        <result column="currency_name" property="currencyName"/>
        <result column="company_name" property="companyName"/>
        <result column="eas_contract_code" property="easContractCode"/>


    </resultMap>

    <select id="insertCheckAccountHistroryData" parameterType="com.hand.hls.eas.dto.HlsCusCoreAccountHistory" resultMap="BaseResultMap">
           insert into eas_core_account_history (core_history_id,
contract_id,
contract_number,
contract_name,
account_id,
account_code,
account_number,
sum_cr_amount,
sum_dr_amount,
biz_date,
check_date,
status,
eas_contract_code
)
select
eas_core_account_history_s.nextval,
v.contract_id,
(select cc.contract_number
          from con_contract cc
         where cc.contract_id = v.contract_id) contract_number,
       (select cc.contract_name
          from con_contract cc
         where cc.contract_id = v.contract_id) contract_name,
       v.account_id,
       (select gc.account_code
          from gld_account gc
         where gc.account_id = v.account_id) account_code,
      (select fc.ws_com_code from
         fnd_company fc
         where
         fc.company_id=v.company_id
         ) account_number,
         v.sum_cr_amount,
       v.sum_dr_amount,
       v.je_creation_date biz_date,
         #{checkDate},
        (select fc.eas_code from fnd_currency fc where fc.currency_code=v.currency)currency_code,
        (select cc.eas_code
          from con_contract cc
         where cc.contract_id = v.contract_id) eas_contract_code
  from (select t.account_id,
               cc.contract_id,
               trunc(gh.je_creation_date) as je_creation_date,
               sum(nvl(t.cr_amount, 0)) sum_cr_amount,
               sum(nvl(t.dr_amount, 0)) sum_dr_amount,
               gh.company_id,
               gh.currency
          from gld_je_line t, con_contract cc,gld_je_head gh
         where t.segment_3 =  cc.contract_number
         and cc.data_class='NORMAL'
         and t.je_head_id=gh.je_head_id
         and t.account_id is not null
         and gh.je_creation_date=#{checkDate}
         and gh.gl_status in ('DELETE_FAILURE','SYN')
         group by t.account_id, cc.contract_id,trunc(gh.je_creation_date),gh.company_id,gh.currency) v
    </select>



    <select id="insertHlsCheckAccountHistroryData"  resultMap="BaseResultMap">
        <![CDATA[
        insert into hls_check_account_history
        (history_id,
        contract_id,
        contract_number,
        contract_name,
        account_id,
        account_code,
        account_number,
        sum_cr_amount,
        sum_dr_amount,
        check_date,
        day_balance,
        after_balance,
        before_balance,
        status,
        eas_contract_code
        )
        select hls_check_account_history_s.nextval,
        v.contract_id,
        (select cc.contract_number
        from con_contract cc
        where cc.contract_id = v.contract_id) contract_number,
        (select cc.contract_name
        from con_contract cc
        where cc.contract_id = v.contract_id) contract_name,
        v.account_id,
        (select gc.account_code
        from gld_account gc
        where gc.account_id = v.account_id) account_code,
        (select fc.ws_com_code from fnd_company fc where fc.company_id=v.company_id)as account_number,
        v.sum_cr_amount,
        v.sum_dr_amount,
        #{checkDate} as check_date,
        case when (select ga.borrowing_direction from  gld_account ga where ga.account_id=v.account_id)='BORROW' then
        (select sum(nvl(t2.dr_functional_amount, 0) - nvl(t2.cr_functional_amount, 0))
        from gld_je_head t1, gld_je_line t2, con_contract ccc
        where t1.je_head_id = t2.je_head_id
        and t2.segment_3 = ccc.contract_number
        and ccc.contract_id = v.contract_id
        and t1.je_creation_date =#{checkDate}
        and t2.account_id = v.account_id
        and t1.je_status ='CONFIRM'
        and t1.company_id=v.company_id
        and t1.currency=v.currency
        )
         ELSE
         (select sum(nvl(t2.cr_functional_amount, 0) - nvl(t2.dr_functional_amount, 0))
        from gld_je_head t1, gld_je_line t2, con_contract ccc
        where t1.je_head_id = t2.je_head_id
        and t2.segment_3 = ccc.contract_number
        and ccc.contract_id = v.contract_id
        and t1.je_creation_date =#{checkDate}
        and t2.account_id = v.account_id
        and t1.je_status  ='CONFIRM'
        and t1.company_id=v.company_id
        and t1.currency=v.currency
        )
        end day_balance,

    case when (select ga.borrowing_direction from  gld_account ga where ga.account_id=v.account_id)='BORROW' then
        (select sum(nvl(t2.dr_functional_amount, 0) - nvl(t2.cr_functional_amount, 0))
        from gld_je_head t1, gld_je_line t2, con_contract ccc
        where t1.je_head_id = t2.je_head_id
        and t2.segment_3 = ccc.contract_number
        and ccc.contract_id = v.contract_id
        and to_date(t1.je_creation_date,'YYYY-MM-DD') <= to_date(#{checkDate},'YYYY-MM-DD')
        and t2.account_id = v.account_id
        and t1.je_status  ='CONFIRM'
        and t1.company_id=v.company_id
        and t1.currency=v.currency
        )
        ELSE
        (select sum(nvl(t2.cr_functional_amount, 0) - nvl(t2.dr_functional_amount, 0))
        from gld_je_head t1, gld_je_line t2, con_contract ccc
        where t1.je_head_id = t2.je_head_id
        and t2.segment_3 = ccc.contract_number
        and ccc.contract_id = v.contract_id
        and to_date(t1.je_creation_date,'YYYY-MM-DD') <= to_date(#{checkDate},'YYYY-MM-DD')
        and t2.account_id = v.account_id
        and t1.je_status  ='CONFIRM'
        and t1.company_id=v.company_id
        and t1.currency=v.currency
        )
        end
        after_balance,

case when (select ga.borrowing_direction from  gld_account ga where ga.account_id=v.account_id)='BORROW' then
          (select sum(nvl(t2.dr_functional_amount, 0) - nvl(t2.cr_functional_amount, 0))
        from gld_je_head t1, gld_je_line t2, con_contract ccc
        where t1.je_head_id = t2.je_head_id
        and t2.segment_3 = ccc.contract_number
        and ccc.contract_id = v.contract_id
        and to_date(t1.je_creation_date,'YYYY-MM-DD') <= adddate(to_date(#{checkDate},'YYYY-MM-DD'),-1)
        and t2.account_id = v.account_id
        and t1.je_status ='CONFIRM'
          and t1.company_id=v.company_id
        and t1.currency=v.currency
        )
        ELSE
          (select sum(nvl(t2.cr_functional_amount, 0) - nvl(t2.dr_functional_amount, 0))
        from gld_je_head t1, gld_je_line t2, con_contract ccc
        where t1.je_head_id = t2.je_head_id
        and t2.segment_3 = ccc.contract_number
        and ccc.contract_id = v.contract_id
        and to_date(t1.je_creation_date,'YYYY-MM-DD') <= adddate(to_date(#{checkDate},'YYYY-MM-DD'),-1)
        and t2.account_id = v.account_id
        and t1.je_status  ='CONFIRM'
          and t1.company_id=v.company_id
        and t1.currency=v.currency
        )
        end
        before_balance,
        (select fc.eas_code from fnd_currency fc where fc.currency_code= v.currency)currency,
        (select cc.eas_code
        from con_contract cc
        where cc.contract_id = v.contract_id) eas_contract_code
        from (select t.account_id,
        cc.contract_id,
        sum(nvl(t.cr_functional_amount, 0)) sum_cr_amount,
        sum(nvl(t.dr_functional_amount, 0)) sum_dr_amount,
        gh.company_id,
        gh.currency
        from gld_je_line t, con_contract cc, gld_je_head gh
        where t.segment_3 = cc.contract_number
        and cc.data_class='NORMAL'
        and t.je_head_id = gh.je_head_id
        and t.account_id is not null
        and gh.je_creation_date=#{checkDate}
        and gh.je_status  ='CONFIRM'
        group by t.account_id, cc.contract_id,gh.company_id,gh.currency) v

         ]]>
    </select>


    <select id="selectDataByCheckDate" parameterType="com.hand.hls.eas.dto.HlsCusCoreAccountHistory" resultMap="BaseResultMap">

        select v.* from
        (select tt.*,
        case when nvl(tt.day_balance,0)=nvl(tt.eas_day_balance,0) and nvl(tt.after_balance,0)=nvl(tt.eas_after_balance,0) and nvl(tt.before_balance,0)=nvl(tt.eas_before_balance,0) then
        '是'
        else
        '否'
        end is_same,
        abs(nvl(tt.after_balance,0)-nvl(tt.eas_after_balance,0)) as different_balance
        from
        (select hc.account_code,
        (select ga.account_name
        from gld_account ga
        where ga.account_code = hc.account_code) account_name,
        hc.contract_number,
        hc.check_date,
        nvl(hc.day_balance,0) as day_balance,
        nvl(hc.after_balance,0) as after_balance,
        nvl(hc.before_balance,0) as before_balance,
        (select sum(nvl(t2.day_balance, 0))
        from eas_account_history t2
        where t2.acct_num = hc.account_code
        and t2.contract_no = hc.eas_contract_code
        and t2.account_number=hc.account_number
        and t2.companynumber=hc.status
        and t2.check_date = hc.check_date) eas_day_balance,
        (select sum(nvl(t2.after_balance, 0))
        from eas_account_history t2
        where t2.acct_num = hc.account_code
        and t2.contract_no = hc.eas_contract_code
        and t2.account_number=hc.account_number
        and t2.companynumber=hc.status
        and t2.check_date = hc.check_date) eas_after_balance,
        (select sum(nvl(t2.before_balance, 0))
        from eas_account_history t2
        where t2.acct_num = hc.account_code
        and t2.contract_no = hc.eas_contract_code
        and t2.account_number=hc.account_number
        and t2.companynumber=hc.status
        and t2.check_date = hc.check_date) eas_before_balance,
        (select fc.currency_name from fnd_currency fc where fc.eas_code=hc.status)currency_name,
        (select fc.fin_company_name from fnd_company fc where fc.ws_com_code=hc.account_number)company_name


        from hls_check_account_history hc
        where hc.check_date = #{checkDate})tt)v

        where 1=1
        <if test="accountName!=null">
            AND v.account_name LIKE CONCAT(CONCAT('%',#{accountName}),'%')
        </if>

        <if test="contractNumber!=null">
            AND v.contract_number LIKE CONCAT(CONCAT('%',#{contractNumber}),'%')
        </if>
        <if test="isSame!=null">
            AND v.is_same LIKE CONCAT(CONCAT('%',#{isSame}),'%')
        </if>
    </select>


    <select id="deleteCurrentHistroryData" parameterType="com.hand.hls.eas.dto.HlsCusCoreAccountHistory" resultMap="BaseResultMap">
      delete from eas_core_account_history t where t.check_date=#{checkDate}
    </select>


    <select id="deleteCurrentHlsEasHistroryData" parameterType="com.hand.hls.eas.dto.HlsCusCoreAccountHistory" resultMap="BaseResultMap">
        delete from hls_check_account_history t where t.check_date=#{checkDate}
    </select>


    <select id="deleteCurrentEasHistroryData" parameterType="com.hand.hls.eas.dto.HlsCusCoreAccountHistory" resultMap="BaseResultMap">
        delete from eas_account_history t where t.check_date=#{checkDate}
    </select>

</mapper>