<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.eas.mapper.HlsCusAccountHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.eas.dto.HlsCusAccountHistory">
        <result column="EAS_HISTORY_ID" property="easHistoryId" jdbcType="DECIMAL" />
        <result column="CONTRACT_NO" property="contractNo" jdbcType="VARCHAR" />
        <result column="ACCT_NUM" property="acctNum" jdbcType="VARCHAR" />
        <result column="ACCOUNT_NUMBER" property="accountNumber" jdbcType="VARCHAR" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="COMPANYNUMBER" property="companynumber" jdbcType="VARCHAR" />
        <result column="CHECK_DATE" property="checkDate" jdbcType="VARCHAR" />
        <result column="CODE" property="code" jdbcType="VARCHAR" />
        <result column="MESSAGE" property="message" jdbcType="VARCHAR" />
        <result column="TIME" property="time" jdbcType="VARCHAR" />
        <result column="core_history_id" property="coreHistoryId" jdbcType="DECIMAL" />
        <result column="biz_date" property="bizDate" jdbcType="VARCHAR" />
        <result column="day_balance" property="dayBalance"/>
        <result column="after_balance" property="afterBalance"/>
        <result column="before_balance" property="beforeBalance"/>
        <result column="acct_name" property="acctName"/>
    </resultMap>

    <select id="selectCheckAccountData" parameterType="com.hand.hls.eas.dto.HlsCusAccountHistory" resultMap="BaseResultMap">
           select t.core_history_id, t.eas_contract_code as contract_no,
  t.account_number,
     t.biz_date,
     t.check_date,
     t.account_code as acct_num,
     t.status as companynumber
    from eas_core_account_history t
    where t.check_date=#{checkDate}
    </select>

    <select id="selectCheckContractData" parameterType="com.hand.hls.eas.dto.HlsCusAccountHistory" resultMap="BaseResultMap">
        select distinct(t1.eas_contract_code) as contract_no
      from eas_core_account_history t1
      where t1.check_date=#{checkDate}
      and t1.eas_contract_code is not null
    </select>

    <select id="selectCheckGldAccountData" parameterType="com.hand.hls.eas.dto.HlsCusAccountHistory" resultMap="BaseResultMap">
        select distinct(t1.account_code) as acct_num
      from eas_core_account_history t1
      where t1.check_date=#{checkDate}
      and t1.account_code is not null
    </select>


    <select id="selectCheckCurrencyData" parameterType="com.hand.hls.eas.dto.HlsCusAccountHistory" resultMap="BaseResultMap">
         select distinct(t1.status) as companynumber
      from eas_core_account_history t1
      where t1.check_date=#{checkDate}
      and t1.status is not null
    </select>


    <select id="selectCheckCompanyData" parameterType="com.hand.hls.eas.dto.HlsCusAccountHistory" resultMap="BaseResultMap">
        select distinct(t1.account_number) as account_number
      from eas_core_account_history t1
      where t1.check_date=#{checkDate}
    </select>

</mapper>