<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.eas.mapper.HlsCusCheckAccountHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.eas.dto.HlsCusCheckAccountHistory">
        <result column="HISTORY_ID" property="historyId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="CONTRACT_NUMBER" property="contractNumber" jdbcType="VARCHAR" />
        <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR" />
        <result column="ACCOUNT_ID" property="accountId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_CODE" property="accountCode" jdbcType="VARCHAR" />
        <result column="ACCOUNT_NUMBER" property="accountNumber" jdbcType="VARCHAR" />
        <result column="SUM_CR_AMOUNT" property="sumCrAmount" jdbcType="DECIMAL" />
        <result column="SUM_DR_AMOUNT" property="sumDrAmount" jdbcType="DECIMAL" />
        <result column="CHECK_DATE" property="checkDate" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="EAS_AMOUNT" property="easAmount" jdbcType="DECIMAL" />
        <result column="BIZ_DATE" property="bizDate" jdbcType="VARCHAR" />
        <result column="BEFORE_BALANCE" property="beforeBalance" jdbcType="DECIMAL" />
        <result column="DAY_BALANCE" property="dayBalance" jdbcType="DECIMAL" />
        <result column="AFTER_BALANCE" property="afterBalance" jdbcType="DECIMAL" />
        <result column="is_no_count" property="isNoCount" jdbcType="DECIMAL" />
        <result column="eas_contract_code" property="easContractCode" jdbcType="DECIMAL" />

    </resultMap>



    <select id="isExistsNo" parameterType="com.hand.hls.eas.dto.HlsCusCheckAccountHistory" resultMap="BaseResultMap">
        select count(*) as is_no_count from
    (select
    case when nvl(tt.day_balance,0)=nvl(tt.eas_day_balance,0) and nvl(tt.after_balance,0)=nvl(tt.eas_after_balance,0) and nvl(tt.before_balance,0)=nvl(tt.eas_before_balance,0) then
    '是'
    else
    '否'
    end is_same
    from
    (select
    nvl(hc.day_balance,0) as day_balance,
    nvl(hc.after_balance,0) as after_balance,
    nvl(hc.before_balance,0) as before_balance,

    (select sum(nvl(t2.day_balance, 0))
    from eas_account_history t2
    where t2.acct_num = hc.account_code
    and t2.contract_no = hc.eas_contract_code
    and t2.account_number=hc.account_number
    and t2.companynumber=hc.status
    and t2.check_date = hc.check_date) eas_day_balance,

    (select sum(nvl(t2.after_balance, 0))
    from eas_account_history t2
    where t2.acct_num = hc.account_code
    and t2.contract_no = hc.eas_contract_code
    and t2.account_number=hc.account_number
    and t2.companynumber=hc.status
    and t2.check_date = hc.check_date) eas_after_balance,

    (select sum(nvl(t2.before_balance, 0))
    from eas_account_history t2
    where t2.acct_num = hc.account_code
    and t2.contract_no = hc.eas_contract_code
    and t2.account_number=hc.account_number
    and t2.companynumber=hc.status
    and t2.check_date = hc.check_date) eas_before_balance

    from hls_check_account_history hc
    where hc.check_date =#{checkDate})tt)v where v.is_same='否'
    </select>
</mapper>