<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.vat.mapper.AcrInvoiceLnMidMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.vat.dto.AcrInvoiceLnMid">
        <result column="INVOICE_LN_ID" property="invoiceLnId" jdbcType="DECIMAL" />
        <result column="INVOICE_HD_ID" property="invoiceHdId" jdbcType="DECIMAL" />
        <result column="LINE_TYPE" property="lineType" jdbcType="VARCHAR" />
        <result column="LINE_NUMBER" property="lineNumber" jdbcType="DECIMAL" />
        <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
        <result column="SPECIFICATION" property="specification" jdbcType="VARCHAR" />
        <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
        <result column="UOM" property="uom" jdbcType="VARCHAR" />
        <result column="PRICE" property="price" jdbcType="DECIMAL" />
        <result column="NET_PRICE" property="netPrice" jdbcType="DECIMAL" />
        <result column="TAX_TYPE_RATE" property="taxTypeRate" jdbcType="DECIMAL" />
        <result column="TAX_INCLUDED_FLAG" property="taxIncludedFlag" jdbcType="VARCHAR" />
        <result column="TAX_AMOUNT" property="taxAmount" jdbcType="DECIMAL" />
        <result column="NET_AMOUNT" property="netAmount" jdbcType="DECIMAL" />
        <result column="TOTAL_AMOUNT" property="totalAmount" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="ORIGINAL_TOTAL_AMOUNT" property="originalTotalAmount" jdbcType="DECIMAL" />
        <result column="DIFF_AMOUNT" property="diffAmount" jdbcType="DECIMAL" />
        <result column="TAX_PRINCIPAL" property="taxPrincipal" jdbcType="DECIMAL" />
        <result column="TAX_INTEREST" property="taxInterest" jdbcType="DECIMAL" />
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR" />
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR" />
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR" />
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR" />
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR" />
        <result column="REF_V06" property="refV06" jdbcType="VARCHAR" />
        <result column="REF_V07" property="refV07" jdbcType="VARCHAR" />
        <result column="REF_V08" property="refV08" jdbcType="VARCHAR" />
        <result column="REF_V09" property="refV09" jdbcType="VARCHAR" />
        <result column="REF_V10" property="refV10" jdbcType="VARCHAR" />
        <result column="REF_V11" property="refV11" jdbcType="VARCHAR" />
        <result column="REF_V12" property="refV12" jdbcType="VARCHAR" />
        <result column="REF_V13" property="refV13" jdbcType="VARCHAR" />
        <result column="REF_V14" property="refV14" jdbcType="VARCHAR" />
        <result column="REF_V15" property="refV15" jdbcType="VARCHAR" />
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL" />
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL" />
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL" />
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL" />
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL" />
        <result column="REF_N06" property="refN06" jdbcType="DECIMAL" />
        <result column="REF_N07" property="refN07" jdbcType="DECIMAL" />
        <result column="REF_N08" property="refN08" jdbcType="DECIMAL" />
        <result column="REF_N09" property="refN09" jdbcType="DECIMAL" />
        <result column="REF_N10" property="refN10" jdbcType="DECIMAL" />
        <result column="REF_D01" property="refD01" jdbcType="DATE" />
        <result column="REF_D02" property="refD02" jdbcType="DATE" />
        <result column="REF_D03" property="refD03" jdbcType="DATE" />
        <result column="REF_D04" property="refD04" jdbcType="DATE" />
        <result column="REF_D05" property="refD05" jdbcType="DATE" />
        <result column="REF_D06" property="refD06" jdbcType="DATE" />
        <result column="REF_D07" property="refD07" jdbcType="DATE" />
        <result column="REF_D08" property="refD08" jdbcType="DATE" />
        <result column="REF_D09" property="refD09" jdbcType="DATE" />
        <result column="REF_D10" property="refD10" jdbcType="DATE" />
    </resultMap>


</mapper>