<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.vat.mapper.AcrInvoiceHdMidMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.vat.dto.AcrInvoiceHdMid">
        <result column="INVOICE_HD_ID" property="invoiceHdId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_NUMBER" property="documentNumber" jdbcType="VARCHAR" />
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR" />
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR" />
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
        <result column="BILLING_METHOD" property="billingMethod" jdbcType="VARCHAR" />
        <result column="BILLING_WAY" property="billingWay" jdbcType="VARCHAR" />
        <result column="INVOICE_KIND" property="invoiceKind" jdbcType="VARCHAR" />
        <result column="BP_ID" property="bpId" jdbcType="DECIMAL" />
        <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />
        <result column="BP_TAX_REGISTRY_NUM" property="bpTaxRegistryNum" jdbcType="VARCHAR" />
        <result column="BP_ADDRESS_PHONE_NUM" property="bpAddressPhoneNum" jdbcType="VARCHAR" />
        <result column="BP_BANK_ACCOUNT" property="bpBankAccount" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="TOTAL_AMOUNT" property="totalAmount" jdbcType="DECIMAL" />
        <result column="NET_AMOUNT" property="netAmount" jdbcType="DECIMAL" />
        <result column="TAX_AMOUNT" property="taxAmount" jdbcType="DECIMAL" />
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
        <result column="INVOICE_DATE" property="invoiceDate" jdbcType="DATE" />
        <result column="INVOICE_NUMBER" property="invoiceNumber" jdbcType="VARCHAR" />
        <result column="INVOICE_STATUS" property="invoiceStatus" jdbcType="VARCHAR" />
        <result column="INVOICE_PERIOD" property="invoicePeriod" jdbcType="VARCHAR" />
        <result column="REVERSED_FLAG" property="reversedFlag" jdbcType="VARCHAR" />
        <result column="RECEIPT_FLAG" property="receiptFlag" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE_TYPE" property="exchangeRateType" jdbcType="VARCHAR" />
        <result column="EXCHANGE_RATE" property="exchangeRate" jdbcType="DECIMAL" />
        <result column="REVERSE_DATE" property="reverseDate" jdbcType="DATE" />
        <result column="SOURCE_INVOICE_HEADER_ID" property="sourceInvoiceHeaderId" jdbcType="DECIMAL" />
        <result column="CONFIRMED_DATE" property="confirmedDate" jdbcType="DATE" />
        <result column="CONFIRMED_BY" property="confirmedBy" jdbcType="DECIMAL" />
        <result column="POSTED_DATE" property="postedDate" jdbcType="DATE" />
        <result column="POSTED_BY" property="postedBy" jdbcType="DECIMAL" />
        <result column="INVOICE_CODE" property="invoiceCode" jdbcType="VARCHAR" />
        <result column="RED_INVOICE_NUMBER" property="redInvoiceNumber" jdbcType="VARCHAR" />
        <result column="RED_INVOICE_NOTICE" property="redInvoiceNotice" jdbcType="VARCHAR" />
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR" />
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR" />
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR" />
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR" />
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR" />
        <result column="REF_V06" property="refV06" jdbcType="VARCHAR" />
        <result column="REF_V07" property="refV07" jdbcType="VARCHAR" />
        <result column="REF_V08" property="refV08" jdbcType="VARCHAR" />
        <result column="REF_V09" property="refV09" jdbcType="VARCHAR" />
        <result column="REF_V10" property="refV10" jdbcType="VARCHAR" />
        <result column="REF_V11" property="refV11" jdbcType="VARCHAR" />
        <result column="REF_V12" property="refV12" jdbcType="VARCHAR" />
        <result column="REF_V13" property="refV13" jdbcType="VARCHAR" />
        <result column="REF_V14" property="refV14" jdbcType="VARCHAR" />
        <result column="REF_V15" property="refV15" jdbcType="VARCHAR" />
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL" />
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL" />
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL" />
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL" />
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL" />
        <result column="REF_N06" property="refN06" jdbcType="DECIMAL" />
        <result column="REF_N07" property="refN07" jdbcType="DECIMAL" />
        <result column="REF_N08" property="refN08" jdbcType="DECIMAL" />
        <result column="REF_N09" property="refN09" jdbcType="DECIMAL" />
        <result column="REF_N10" property="refN10" jdbcType="DECIMAL" />
        <result column="REF_D01" property="refD01" jdbcType="DATE" />
        <result column="REF_D02" property="refD02" jdbcType="DATE" />
        <result column="REF_D03" property="refD03" jdbcType="DATE" />
        <result column="REF_D04" property="refD04" jdbcType="DATE" />
        <result column="REF_D05" property="refD05" jdbcType="DATE" />
        <result column="REF_D06" property="refD06" jdbcType="DATE" />
        <result column="REF_D07" property="refD07" jdbcType="DATE" />
        <result column="REF_D08" property="refD08" jdbcType="DATE" />
        <result column="REF_D09" property="refD09" jdbcType="DATE" />
        <result column="REF_D10" property="refD10" jdbcType="DATE" />
        <result column="TAX_INVOICE_DATE" property="taxInvoiceDate" jdbcType="DECIMAL" />
        <result column="SOURCE_DOCUMENT_TYPE" property="sourceDocumentType" jdbcType="VARCHAR" />
        <result column="HANDOVER_DATE" property="handoverDate" jdbcType="DATE" />
        <result column="HANDOVER_STATUS" property="handoverStatus" jdbcType="VARCHAR" />
        <result column="HANDOVER_PERSON" property="handoverPerson" jdbcType="VARCHAR" />
        <result column="REVIEW_PERSON" property="reviewPerson" jdbcType="VARCHAR" />
        <result column="INVOICE_KIND_N" property="invoiceKindN" jdbcType="VARCHAR" />
        <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
        <result column="COMPANY_FULL_NAME" property="companyFullName" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryAcrInvoiceHdMidForUpdate" resultMap="BaseResultMap">
        select * from acr_invoice_hd_mid a where a.invoice_status = 'INVOICED'
    </select>

</mapper>