<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.vat.mapper.HlsCusAcrInvoiceRelationshipMapper">




    <insert id="insertRelationship" useGeneratedKeys="true" parameterType="java.util.Map" keyProperty="invoice_hd_id">

-- 		 INSERT INTO acr_invoice_ln (invoice_hd_id,line_type,line_number,source_document_category,contract_id,cashflow_id,cf_item,cf_type,times,total_amount)
-- 		 VALUES
-- 		 (#{headId},'SERVICE',#{lineNumber},'CON_CONTRACT',#{contractId},#{cashflowId},#{cfItem},#{cfType},#{times},#{writeOffDueAmount})
--         INSERT INTO  acr_invoice_relationship (invoice_ln_id,source_document_type,source_document_id,billing_amount,tax_type_rate,tax_included_flag,tax_amount,net_amount,description,invoice_kind,bp_id)
--         VALUES
--         (#{invoice_ln_id},'CON_CONTRACT_CASHFLOW',#{cashflowId},#{writeOffDueAmount},#{businessType},NULL,'RECEIPT' ,#{bpId},#{bpName},#{taxRegistryNum},#{addressPhone},#{bankAccount},#{writeOffDueAmount},#{currencyCode},'NEW','N')

  INSERT INTO  acr_invoice_relationship (invoice_ln_id,source_document_type,source_document_id,billing_amount,tax_type_rate,tax_included_flag,tax_amount,net_amount,description,invoice_kind,bp_id)
        VALUES
        (#{invoice_ln_id},'CON_CONTRACT_CASHFLOW',#{cashflowId},#{writeOffDueAmount},#{businessType},NULL,'RECEIPT' ,#{bpId},#{bpName},#{taxRegistryNum},#{addressPhone},#{bankAccount},#{writeOffDueAmount},#{currencyCode},'NEW','N')

    </insert>

</mapper>