<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.vat.mapper.HlsCusAcrReceiptLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.vat.dto.HlsCusAcrReceiptLn">
        <result column="receipt_ln_id" property="receiptLnId" jdbcType="DECIMAL"/>
        <result column="receipt_hd_id" property="receiptHdId" jdbcType="DECIMAL"/>
        <result column="source_type" property="sourceType" jdbcType="VARCHAR"/>
        <result column="source_id" property="sourceId" jdbcType="DECIMAL"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="ref_v01" property="refV01" jdbcType="VARCHAR"/>
        <result column="ref_v02" property="refV02" jdbcType="VARCHAR"/>
        <result column="ref_v03" property="refV03" jdbcType="VARCHAR"/>
        <result column="ref_v04" property="refV04" jdbcType="VARCHAR"/>
        <result column="ref_v05" property="refV05" jdbcType="VARCHAR"/>
        <result column="ref_v06" property="refV06" jdbcType="VARCHAR"/>
        <result column="ref_v07" property="refV07" jdbcType="VARCHAR"/>
        <result column="ref_v08" property="refV08" jdbcType="VARCHAR"/>
        <result column="ref_v09" property="refV09" jdbcType="VARCHAR"/>
        <result column="ref_v10" property="refV10" jdbcType="VARCHAR"/>
        <result column="ref_v11" property="refV11" jdbcType="VARCHAR"/>
        <result column="ref_v12" property="refV12" jdbcType="VARCHAR"/>
        <result column="ref_v13" property="refV13" jdbcType="VARCHAR"/>
        <result column="ref_v14" property="refV14" jdbcType="VARCHAR"/>
        <result column="ref_v15" property="refV15" jdbcType="VARCHAR"/>
        <result column="ref_n01" property="refN01" jdbcType="DECIMAL"/>
        <result column="ref_n02" property="refN02" jdbcType="DECIMAL"/>
        <result column="ref_n03" property="refN03" jdbcType="DECIMAL"/>
        <result column="ref_n04" property="refN04" jdbcType="DECIMAL"/>
        <result column="ref_n05" property="refN05" jdbcType="DECIMAL"/>
        <result column="ref_n06" property="refN06" jdbcType="DECIMAL"/>
        <result column="ref_n07" property="refN07" jdbcType="DECIMAL"/>
        <result column="ref_n08" property="refN08" jdbcType="DECIMAL"/>
        <result column="ref_n09" property="refN09" jdbcType="DECIMAL"/>
        <result column="ref_n10" property="refN10" jdbcType="DECIMAL"/>
        <result column="ref_d01" property="refD01" jdbcType="DATE"/>
        <result column="ref_d02" property="refD02" jdbcType="DATE"/>
        <result column="ref_d03" property="refD03" jdbcType="DATE"/>
        <result column="ref_d04" property="refD04" jdbcType="DATE"/>
        <result column="ref_d05" property="refD05" jdbcType="DATE"/>
        <result column="ref_d06" property="refD06" jdbcType="DATE"/>
        <result column="ref_d07" property="refD07" jdbcType="DATE"/>
        <result column="ref_d08" property="refD08" jdbcType="DATE"/>
        <result column="ref_d09" property="refD09" jdbcType="DATE"/>
        <result column="ref_d10" property="refD10" jdbcType="DATE"/>
    </resultMap>


</mapper>