<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.vat.mapper.HlsCusAcrInvoiceLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.vat.dto.HlsCusAcrInvoiceLn">
        <result column="invoice_ln_id" property="invoiceLnId" jdbcType="DECIMAL"/>
        <result column="invoice_hd_id" property="invoiceHdId" jdbcType="DECIMAL"/>
        <result column="line_type" property="lineType" jdbcType="VARCHAR"/>
        <result column="line_type_n" property="lineTypeN" jdbcType="VARCHAR"/>
        <result column="line_number" property="lineNumber" jdbcType="DECIMAL"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="specification" property="specification" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="DECIMAL"/>
        <result column="uom" property="uom" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="net_price" property="netPrice" jdbcType="DECIMAL"/>
        <result column="tax_type_rate" property="taxTypeRate" jdbcType="DECIMAL"/>
        <result column="tax_included_flag" property="taxIncludedFlag" jdbcType="VARCHAR"/>
        <result column="tax_amount" property="taxAmount" jdbcType="DECIMAL"/>
        <result column="net_amount" property="netAmount" jdbcType="DECIMAL"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="ORIGINAL_TOTAL_AMOUNT" property="originalTotalAmount" jdbcType="DECIMAL"/>
        <result column="DIFF_AMOUNT" property="diffAmount" jdbcType="DECIMAL"/>
        <result column="TAX_PRINCIPAL" property="taxPrincipal" jdbcType="DECIMAL"/>
        <result column="TAX_INTEREST" property="taxInterest" jdbcType="DECIMAL"/>
        <result column="REF_V01" property="refV01" jdbcType="VARCHAR"/>
        <result column="REF_V02" property="refV02" jdbcType="VARCHAR"/>
        <result column="REF_V03" property="refV03" jdbcType="VARCHAR"/>
        <result column="REF_V04" property="refV04" jdbcType="VARCHAR"/>
        <result column="REF_V05" property="refV05" jdbcType="VARCHAR"/>
        <result column="REF_V06" property="refV06" jdbcType="VARCHAR"/>
        <result column="REF_V07" property="refV07" jdbcType="VARCHAR"/>
        <result column="REF_V08" property="refV08" jdbcType="VARCHAR"/>
        <result column="REF_V09" property="refV09" jdbcType="VARCHAR"/>
        <result column="REF_V10" property="refV10" jdbcType="VARCHAR"/>
        <result column="REF_V11" property="refV11" jdbcType="VARCHAR"/>
        <result column="REF_V12" property="refV12" jdbcType="VARCHAR"/>
        <result column="REF_V13" property="refV13" jdbcType="VARCHAR"/>
        <result column="REF_V14" property="refV14" jdbcType="VARCHAR"/>
        <result column="REF_V15" property="refV15" jdbcType="VARCHAR"/>
        <result column="REF_N01" property="refN01" jdbcType="DECIMAL"/>
        <result column="REF_N02" property="refN02" jdbcType="DECIMAL"/>
        <result column="REF_N03" property="refN03" jdbcType="DECIMAL"/>
        <result column="REF_N04" property="refN04" jdbcType="DECIMAL"/>
        <result column="REF_N05" property="refN05" jdbcType="DECIMAL"/>
        <result column="REF_N06" property="refN06" jdbcType="DECIMAL"/>
        <result column="REF_N07" property="refN07" jdbcType="DECIMAL"/>
        <result column="REF_N08" property="refN08" jdbcType="DECIMAL"/>
        <result column="REF_N09" property="refN09" jdbcType="DECIMAL"/>
        <result column="REF_N10" property="refN10" jdbcType="DECIMAL"/>
        <result column="REF_D01" property="refD01" jdbcType="DATE"/>
        <result column="REF_D02" property="refD02" jdbcType="DATE"/>
        <result column="REF_D03" property="refD03" jdbcType="DATE"/>
        <result column="REF_D04" property="refD04" jdbcType="DATE"/>
        <result column="REF_D05" property="refD05" jdbcType="DATE"/>
        <result column="REF_D06" property="refD06" jdbcType="DATE"/>
        <result column="REF_D07" property="refD07" jdbcType="DATE"/>
        <result column="REF_D08" property="refD08" jdbcType="DATE"/>
        <result column="REF_D09" property="refD09" jdbcType="DATE"/>
        <result column="REF_D10" property="refD10" jdbcType="DATE"/>
        <result column="cashflow_id" property="cashflowId" jdbcType="DECIMAL"/>
        <result column="billing_method" property="billingMethod" jdbcType="VARCHAR"/>
        <result column="billing_method_n" property="billingMethodN" jdbcType="VARCHAR"/>

        <result column="due_amount" property="dueAmount" jdbcType="DECIMAL"/>
        <result column="principal" property="principal" jdbcType="DECIMAL"/>
        <result column="interest" property="interest" jdbcType="DECIMAL"/>
        <result column="billing_principal" property="billingPrincipal" jdbcType="DECIMAL"/>
        <result column="billing_interest" property="billingInterest" jdbcType="DECIMAL"/>
        <result column="billing_amount" property="billingAmount" jdbcType="DECIMAL"/>
        <result column="cf_item" property="cfItem" jdbcType="DECIMAL"/>
        <result column="times" property="times" jdbcType="VARCHAR"/>
        <result column="cf_item_n" property="cfItemN" jdbcType="VARCHAR"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="taxable_service_name" property="taxableServiceName" jdbcType="VARCHAR"/>
        <result column="tax_type_code" property="taxTypeCode" jdbcType="VARCHAR"/>
        <result column="tax_type_code_n" property="taxTypeCodeN" jdbcType="VARCHAR"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="cashflow_ids" property="cashflowIds" jdbcType="DECIMAL"/>
        <result column="currency_desc" property="currencyDesc" jdbcType="VARCHAR"/>

        <result column="attributes_1" property="attributes_1" jdbcType="VARCHAR"/>
        <result column="attributes_2" property="attributes_2" jdbcType="VARCHAR"/>
        <result column="attributes_3" property="attributes_3" jdbcType="VARCHAR"/>
        <result column="attributes_4" property="attributes_4" jdbcType="VARCHAR"/>
        <result column="attributes_5" property="attributes_5" jdbcType="VARCHAR"/>
        <result column="attributes_6" property="attributes_6" jdbcType="VARCHAR"/>
        <result column="attributes_7" property="attributes_7" jdbcType="VARCHAR"/>
        <result column="attributes_8" property="attributes_8" jdbcType="VARCHAR"/>
        <result column="attributes_9" property="attributes_9" jdbcType="VARCHAR"/>
        <result column="attributes_10" property="attributes_10" jdbcType="VARCHAR"/>
        <result column="attributes_11" property="attributes_11" jdbcType="VARCHAR"/>
        <result column="attributes_12" property="attributes_12" jdbcType="VARCHAR"/>
        <result column="attributes_13" property="attributes_13" jdbcType="VARCHAR"/>
        <result column="attributes_14" property="attributes_14" jdbcType="VARCHAR"/>
        <result column="attributes_15" property="attributes_15" jdbcType="VARCHAR"/>
        <result column="attributes_16" property="attributes_16" jdbcType="VARCHAR"/>
        <result column="attributes_17" property="attributes_17" jdbcType="VARCHAR"/>
        <result column="attributes_18" property="attributes_18" jdbcType="VARCHAR"/>
        <result column="attributes_19" property="attributes_19" jdbcType="VARCHAR"/>
        <result column="attributes_20" property="attributes_20" jdbcType="VARCHAR"/>
        <result column="attributes_21" property="attributes_21" jdbcType="VARCHAR"/>
        <result column="attributes_22" property="attributes_22" jdbcType="VARCHAR"/>
        <result column="attributes_23" property="attributes_23" jdbcType="VARCHAR"/>
        <result column="attributes_24" property="attributes_24" jdbcType="VARCHAR"/>
        <result column="attributes_25" property="attributes_25" jdbcType="VARCHAR"/>
        <result column="attributes_26" property="attributes_26" jdbcType="VARCHAR"/>
        <result column="attributes_27" property="attributes_27" jdbcType="VARCHAR"/>
        <result column="attributes_28" property="attributes_28" jdbcType="VARCHAR"/>
        <result column="attributes_29" property="attributes_29" jdbcType="VARCHAR"/>
        <result column="attributes_30" property="attributes_30" jdbcType="VARCHAR"/>
        <result column="attributes_31" property="attributes_31" jdbcType="VARCHAR"/>
        <result column="attributes_32" property="attributes_32" jdbcType="VARCHAR"/>
        <result column="attributes_33" property="attributes_33" jdbcType="VARCHAR"/>
        <result column="attributes_34" property="attributes_34" jdbcType="VARCHAR"/>
        <result column="attributes_35" property="attributes_35" jdbcType="VARCHAR"/>
        <result column="attributes_36" property="attributes_36" jdbcType="VARCHAR"/>
        <result column="attributes_37" property="attributes_37" jdbcType="VARCHAR"/>
        <result column="attributes_38" property="attributes_38" jdbcType="VARCHAR"/>
        <result column="attributes_39" property="attributes_39" jdbcType="VARCHAR"/>
        <result column="header_id" property="headerId" jdbcType="BIGINT"/>
        <result column="legal_contract_number" property="legalContractNumber" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectForCreateAcrInvoice" resultMap="BaseResultMap">
        select
        ccc.cashflow_id,
        ccc.times,
        nvl(ccc.due_amount,0) due_amount,
        nvl(ccc.billing_amount,0) billing_amount,
        nvl(ccc.principal,0) principal,
        nvl(ccc.interest,0) interest,
        nvl(ccc.received_amount,0)received_amount,
        nvl(ccc.billing_principal,0) billing_principal,
        nvl(ccc.billing_interest,0) billing_interest,
        vip.description billing_method_n,
        vip.invoice_profile billing_method,
        ccc.cf_item,
        cc.contract_number,
        cc.legal_contract_number,
        ccc.times,
        vipd.taxable_service_name,
        vipd.tax_type_code,
        vipd.tax_type_code,
        (select fttc.description from fnd_tax_type_code fttc where vipd.tax_type_code =
        fttc.tax_type_code)tax_type_code_n,
        (select fttc.tax_type_rate from fnd_tax_type_code fttc where vipd.tax_type_code =
        fttc.tax_type_code)tax_type_rate,
        '人民币' currency_desc,
        (select hci.description from hls_cashflow_item hci where hci.cf_item = ccc.cf_item and ccc.cf_type =
        hci.cf_type)cf_item_n
        from
        con_contract_cashflow ccc
        left join con_contract cc on ccc.contract_id = cc.contract_id
        left join vat_invoice_profile vip on
        (case when (cc.business_type='LEASE' and cc.lease_item_property='MOVABLE') THEN 'LEASE_MOVABLES'
        when (cc.business_type='LEASE' and cc.lease_item_property='IMMOVABLE') THEN 'LEASE_IMMOVABLES'
        when (cc.business_type='LEASEBACK'  and cc.lease_item_property='MOVABLE') THEN 'LEASEBACK_MOVABLES'
        when (cc.business_type='LEASEBACK'  and cc.lease_item_property='IMMOVABLE') THEN 'LEASEBACK_IMMOVABLES'
        else '' end) = vip.invoice_profile
        left join vat_invoice_profile_dtl vipd on vipd.invoice_profile = vip.invoice_profile
        and ( case when vipd.cf_item = 101 then 1 else vipd.cf_item end) = ccc.cf_item
        and vipd.ENABLED_FLAG = 'Y'
        where
        ccc.cashflow_id
        in
        <foreach collection="list" item="cashflowId" index="index"
                 open="(" close=")" separator=",">
            #{cashflowId}
        </foreach>
    </select>

    <select id="queryAcrInvoiceLnDetailByHdId" resultMap="BaseResultMap">
        select
        ail.invoice_hd_id,ail.invoice_ln_id,ail.line_number,ail.product_name,
        ail.quantity,ail.tax_type_rate,ail.tax_amount,ail.net_amount,
        ail.total_amount,ail.description,ail.net_amount net_price,ail.total_amount price,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'VAT.INVOICE_LINE_TYPE'
        AND ail.line_type = v.code_value
        ) line_type_n
        from
        acr_invoice_ln ail
        where
        ail.invoice_hd_id = #{invoiceHdId}
    </select>

    <select id="selectImportTempList" resultMap="BaseResultMap">
        select fil.attributes_1 ,
        fil.attributes_2 ,
        fil.attributes_3 ,
        fil.attributes_4 ,
        fil.attributes_5 ,
        fil.attributes_6 ,
        fil.attributes_7 ,
        fil.attributes_8 ,
        fil.attributes_9 ,
        fil.attributes_10 ,
        fil.attributes_11 ,
        fil.attributes_12 ,
        fil.attributes_13 ,
        fil.attributes_14 ,
        fil.attributes_15 ,
        fil.attributes_16 ,
        fil.attributes_17 ,
        fil.attributes_18 ,
        fil.attributes_19 ,
        fil.attributes_20 ,
        fil.attributes_21 ,
        fil.attributes_22 ,
        fil.attributes_23 ,
        fil.attributes_24 ,
        fil.attributes_25 ,
        fil.attributes_26 ,
        fil.attributes_27 ,
        fil.attributes_28 ,
        fil.attributes_29 ,
        fil.attributes_30 ,
        fil.attributes_31 ,
        fil.attributes_32 ,
        fil.attributes_33 ,
        fil.attributes_34 ,
        fil.attributes_35 ,
        fil.attributes_36 ,
        fil.attributes_37 ,
        fil.attributes_38 ,
        fil.attributes_39
        from fnd_interface_lines fil
        <where>
            and fil.header_id = #{headerId}
            and fil.line_number >= 2
        </where>
        order by line_number
    </select>
</mapper>