<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.vat.mapper.HlsCusAcpInvoiceLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.vat.dto.HlsCusAcpInvoiceLn">
        <result column="invoice_ln_id" property="invoiceLnId" jdbcType="DECIMAL"/>
        <result column="line_type" property="lineType" jdbcType="VARCHAR"/>
        <result column="line_number" property="lineNumber" jdbcType="DECIMAL"/>
        <result column="source_document_category" property="sourceDocumentCategory" jdbcType="VARCHAR"/>
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="cashflow_id" property="cashflowId" jdbcType="DECIMAL"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="cf_item" property="cfItem" jdbcType="DECIMAL"/>
        <result column="cf_type" property="cfType" jdbcType="DECIMAL"/>
        <result column="invoice_type" property="invoiceType" jdbcType="VARCHAR"/>
        <result column="invoice_code" property="invoiceCode" jdbcType="VARCHAR"/>
        <result column="invoice_number" property="invoiceNumber" jdbcType="VARCHAR"/>
        <result column="invoice_status" property="invoiceStatus" jdbcType="VARCHAR"/>
        <result column="record_date" property="recordDate" jdbcType="DATE"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="specification" property="specification" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="DECIMAL"/>
        <result column="uom" property="uom" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="net_price" property="netPrice" jdbcType="DECIMAL"/>
        <result column="tax_type_rate" property="taxTypeRate" jdbcType="DECIMAL"/>
        <result column="tax_included_flag" property="taxIncludedFlag" jdbcType="VARCHAR"/>
        <result column="tax_amount" property="taxAmount" jdbcType="DECIMAL"/>
        <result column="net_amount" property="netAmount" jdbcType="DECIMAL"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="je_gather_number" property="jeGatherNumber" jdbcType="VARCHAR"/>
        <result column="check_status" property="checkStatus" jdbcType="VARCHAR"/>
        <result column="reversed_flag" property="reversedFlag" jdbcType="VARCHAR"/>
        <result column="reversed_date" property="reversedDate" jdbcType="TIMESTAMP"/>
        <result column="reversed_reason" property="reversedReason" jdbcType="VARCHAR"/>
        <result column="ref_v01" property="refV01" jdbcType="VARCHAR"/>
        <result column="ref_v02" property="refV02" jdbcType="VARCHAR"/>
        <result column="ref_v03" property="refV03" jdbcType="VARCHAR"/>
        <result column="ref_v04" property="refV04" jdbcType="VARCHAR"/>
        <result column="ref_v05" property="refV05" jdbcType="VARCHAR"/>
        <result column="ref_v06" property="refV06" jdbcType="VARCHAR"/>
        <result column="ref_v07" property="refV07" jdbcType="VARCHAR"/>
        <result column="ref_v08" property="refV08" jdbcType="VARCHAR"/>
        <result column="ref_v09" property="refV09" jdbcType="VARCHAR"/>
        <result column="ref_v10" property="refV10" jdbcType="VARCHAR"/>
        <result column="ref_v11" property="refV11" jdbcType="VARCHAR"/>
        <result column="ref_v12" property="refV12" jdbcType="VARCHAR"/>
        <result column="ref_v13" property="refV13" jdbcType="VARCHAR"/>
        <result column="ref_v14" property="refV14" jdbcType="VARCHAR"/>
        <result column="ref_v15" property="refV15" jdbcType="VARCHAR"/>
        <result column="ref_n01" property="refN01" jdbcType="DECIMAL"/>
        <result column="ref_n02" property="refN02" jdbcType="DECIMAL"/>
        <result column="ref_n03" property="refN03" jdbcType="DECIMAL"/>
        <result column="ref_n04" property="refN04" jdbcType="DECIMAL"/>
        <result column="ref_n05" property="refN05" jdbcType="DECIMAL"/>
        <result column="ref_n06" property="refN06" jdbcType="DECIMAL"/>
        <result column="ref_n07" property="refN07" jdbcType="DECIMAL"/>
        <result column="ref_n08" property="refN08" jdbcType="DECIMAL"/>
        <result column="ref_n09" property="refN09" jdbcType="DECIMAL"/>
        <result column="ref_n10" property="refN10" jdbcType="DECIMAL"/>
        <result column="ref_d01" property="refD01" jdbcType="TIMESTAMP"/>
        <result column="ref_d02" property="refD02" jdbcType="TIMESTAMP"/>
        <result column="ref_d03" property="refD03" jdbcType="TIMESTAMP"/>
        <result column="ref_d04" property="refD04" jdbcType="TIMESTAMP"/>
        <result column="ref_d05" property="refD05" jdbcType="TIMESTAMP"/>
        <result column="ref_d06" property="refD06" jdbcType="TIMESTAMP"/>
        <result column="ref_d07" property="refD07" jdbcType="TIMESTAMP"/>
        <result column="ref_d08" property="refD08" jdbcType="TIMESTAMP"/>
        <result column="ref_d09" property="refD09" jdbcType="TIMESTAMP"/>
        <result column="ref_d10" property="refD10" jdbcType="TIMESTAMP"/>
        <result column="contract_id_n" property="contractIdN" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="quotation_number" property="quotationNumber" jdbcType="VARCHAR"/>
        <result column="cf_item_n" property="cfItemN" jdbcType="VARCHAR"/>
        <result column="invoice_type_n" property="invoiceTypeN" jdbcType="VARCHAR"/>
        <result column="bp_name" property="bpName" jdbcType="VARCHAR"/>
        <result column="bp_tax_registry_num" property="bpTaxRegistryNum" jdbcType="VARCHAR"/>
        <result column="invoice_status_n" property="invoiceStatusN" jdbcType="VARCHAR"/>
        <result column="record_date_from" property="recordDateFrom" jdbcType="VARCHAR"/>
        <result column="record_date_to" property="recordDateTo" jdbcType="VARCHAR"/>

        <result column="attributes_1" property="attributes_1" jdbcType="VARCHAR"/>
        <result column="attributes_2" property="attributes_2" jdbcType="VARCHAR"/>
        <result column="attributes_3" property="attributes_3" jdbcType="VARCHAR"/>
        <result column="attributes_4" property="attributes_4" jdbcType="VARCHAR"/>
        <result column="attributes_5" property="attributes_5" jdbcType="VARCHAR"/>
        <result column="attributes_6" property="attributes_6" jdbcType="VARCHAR"/>
        <result column="attributes_7" property="attributes_7" jdbcType="VARCHAR"/>
        <result column="attributes_8" property="attributes_8" jdbcType="VARCHAR"/>
        <result column="attributes_9" property="attributes_9" jdbcType="VARCHAR"/>
        <result column="attributes_10" property="attributes_10" jdbcType="VARCHAR"/>
        <result column="attributes_11" property="attributes_11" jdbcType="VARCHAR"/>
        <result column="attributes_12" property="attributes_12" jdbcType="VARCHAR"/>
        <result column="attributes_13" property="attributes_13" jdbcType="VARCHAR"/>
        <result column="attributes_14" property="attributes_14" jdbcType="VARCHAR"/>
        <result column="tax_type_rate_n" property="taxTypeRateN" jdbcType="VARCHAR"/>
        <result column="header_id" property="headerId" jdbcType="BIGINT"/>
        <result column="readLine" property="readLine" jdbcType="BIGINT"/>
        <result column="document_number" property="documentNumber"/>
        <result column="contract_amount" property="contractAmount"/>

        <result column="attach_count" property="attachCount" jdbcType="BIGINT"/>
    </resultMap>
<!--(case when ail.tax_type_rate = 0 then '0%'
        when ail.tax_type_rate = 0.03 then '3%'
        when ail.tax_type_rate = 0.05 then '5%'
        when ail.tax_type_rate = 0.09 then '9%'
        when ail.tax_type_rate = 0.13 then '13%'
        when ail.tax_type_rate = 0.06 then '6%' end) tax_type_rate_n-->
    <select id="queryAcpInvoiceDetail" resultMap="BaseResultMap">
        SELECT
        ail.*,
        (ail.tax_type_rate) tax_type_rate_n,
        (
        SELECT
        cc.contract_number
        FROM
        CON_CONTRACT cc
        WHERE
        cc.contract_id = ail.contract_id
        ) contract_number,
        ( SELECT cc.contract_amount FROM CON_CONTRACT cc WHERE cc.contract_id = ail.contract_id ) contract_amount,
        (
        SELECT
        cc.contract_name
        FROM
        CON_CONTRACT cc
        WHERE
        cc.contract_id = ail.contract_id
        ) contract_name,
        '设备款' cf_item_n,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'VAT.INVOICE_KIND'
        AND v.code_value = ail.invoice_type
        ) invoice_type_n,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'VAT.ACP_INVOICE_STATUS'
        AND v.code_value = ail.invoice_status
        ) invoice_status_n,
        (select count(*)
        from fnd_atm_attachment_multi m
        where m.table_name = 'acp_invoice_ln'
        and m.table_pk_value = ail.invoice_ln_id) attach_count

        FROM
        acp_invoice_ln ail
        <where>
            1 = 1
            <if test="contractNumber!=null">
                and exists
                (SELECT
                1
                FROM
                CON_CONTRACT cc
                WHERE
                cc.contract_number like concat('%',concat(#{contractNumber},'%'))
                and cc.contract_id = ail.contract_id)
            </if>
            <if test="contractName!=null">
                and exists
                (SELECT
                1
                FROM
                CON_CONTRACT cc
                WHERE
                cc.contract_name like concat('%',concat(#{contractName},'%'))
                AND ail.contract_id = cc.contract_id)
            </if>
            <if test="invoiceCode!=null">
                and ail.invoice_code like concat(concat('%',#{invoiceCode}),'%')
            </if>
            <if test="invoiceNumber!=null">
                and ail.invoice_number like concat(concat('%',#{invoiceNumber}),'%')
            </if>
            <if test="recordDateFrom!=null">
                and ail.record_date &gt;= #{recordDateFrom}
            </if>
            <if test="recordDateTo!=null">
                and ail.record_date &lt;= #{recordDateTo}
            </if>
            <if test="totalAmountFrom!=null">
                and ail.total_amount &gt; #{totalAmountFrom}
            </if>
            <if test="totalAmountTo!=null">
                and ail.total_amount &lt; #{totalAmountTo}
            </if>
            <if test="invoiceType!=null">
                and ail.invoice_type = #{invoiceType}
            </if>
            <if test="bpId!=null">
                and exists
                (SELECT
                1
                FROM
                hls_bp_master hbm,con_contract_bp ccb
                WHERE
                ccb.bp_id = hbm.bp_id
                and ail.bp_id = ccb.record_id
                and hbm.bp_id = #{bpId})
            </if>
            <if test="invoiceStatus!=null">
                and ail.invoice_status like concat('%',concat(#{invoiceStatus},'%'))
            </if>
            <if test="reversedFlag!=null">
                and ail.reversed_flag like concat('%',concat(#{reversedFlag},'%'))
            </if>
            order by ail.creation_date desc
        </where>
    </select>

    <select id="searchInvoiceLnHomeQuery" resultMap="BaseResultMap">
        SELECT
        ail.*, (
        SELECT
        cc.contract_number
        FROM
        con_contract cc
        WHERE
        cc.contract_id = ail.contract_id
        ) contract_id_n,
        (
        SELECT
        cc.contract_name
        FROM
        con_contract cc
        WHERE
        cc.contract_id = ail.contract_id
        ) contract_name,
        (
        SELECT
        hci.description
        FROM
        hls_cashflow_item hci
        WHERE
        ail.cf_item = hci.cf_item
        AND ail.cf_type = hci.cf_type
        ) cf_item_n,
        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'VAT.INVOICE_KIND'
        AND v.code_value = ail.invoice_type
        ) invoice_type_n,

        (
        SELECT
        v.meaning
        FROM
        sys_code_value_b_v v
        WHERE
        v. CODE = 'VAT.ACP_INVOICE_STATUS'
        AND v.code_value = ail.invoice_status
        ) invoice_status_n
        FROM
        acp_invoice_ln ail
        <where>
            <if test="queryInfo != null">
                and (
                exists
                (SELECT
                1
                FROM
                con_contract cc
                WHERE
                (
                cc.contract_number like concat('%',concat(#{queryInfo},'%'))
                or cc.contract_name like concat('%',concat(#{queryInfo},'%'))
                )
                and cc.contract_id = ail.contract_id)

                or ail.invoice_code like concat(concat('%',#{queryInfo}),'%')
                or ail.invoice_number like concat(concat('%',#{queryInfo}),'%')
                )
            </if>
        </where>
    </select>

    <resultMap id="SelectInvoiceKindMap" type="map">
        <result column="meaning" property="meaning" />
        <result column="code" property="code" />
    </resultMap>
    <select id="selectInvoiceKind" resultMap="SelectInvoiceKindMap">
        SELECT
            v.meaning,
            v.code_value code
        FROM
            sys_code_value_b_v v
        WHERE
            v. CODE = 'VAT.INVOICE_KIND'
        AND v.code_value IN ('0', '2')
    </select>

    <select id="selectImportTempList" resultMap="BaseResultMap">
        select
        fil.attributes_2  contract_id_n,
        fil.attributes_3  contract_name,
        fil.attributes_4  cf_item_n,
        fil.attributes_5  invoice_type_n,
        fil.attributes_6  invoice_code,
        fil.attributes_7 invoice_number,
        to_date(fil.attributes_8,'YYYY-MM-DD')  record_date,
        fil.attributes_9  bp_name,
        fil.attributes_10 ref_v01,
        fil.attributes_11 total_amount,
        fil.attributes_12 tax_type_rate_n,
        fil.attributes_15 description
        from fnd_interface_lines fil
        <where>header_id = #{headerId}
        </where>
        and line_number != 0

    </select>
    <select id="searchInvoiceLnByContractId" resultMap="BaseResultMap">
      SELECT
      sum(ail.TOTAL_AMOUNT)  TOTAL_AMOUNT
        FROM
        acp_invoice_ln ail
	where   ail.contract_id=#{contractId}
    </select>

    <select id="queryTotalAmount" resultType="java.lang.Double">
         SELECT
 nvl(SUM(ail.TOTAL_AMOUNT),0)
        FROM
        acp_invoice_ln ail
	where  ail.contract_id=#{contractId}
	and  ail.INVOICE_LN_ID !=#{invoiceLnId}

    </select>
    <select id="queryContractAmount" resultType="java.lang.Double">

  SELECT nvl(cc.contract_amount,0) FROM CON_CONTRACT cc WHERE cc.contract_id = #{contractId}

    </select>
<!--    prj_project-->
    <select id="queryTotalAmountNew" resultType="java.lang.Double">
         SELECT
 nvl(SUM(ail.TOTAL_AMOUNT),0)
        FROM
        acp_invoice_ln ail
	where  ail.contract_id=#{contractId}


    </select>
</mapper>