<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.vat.mapper.HlsInvoiceInterfaceInfoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.vat.dto.HlsInvoiceInterfaceInfo">
        <result column="INTERFACE_ID" property="interfaceId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_ID" property="documentId" jdbcType="DECIMAL" />
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="MESSAGE" property="message" jdbcType="VARCHAR" />
        <result column="RESPONSE_JSON" property="responseJson" jdbcType="VARCHAR" />
        <result column="BIZ_ID" property="bizId" jdbcType="VARCHAR" />
        <result column="REQSERIAL_NO" property="reqserialNo" jdbcType="VARCHAR" />
        <result column="INVOICE_CODE" property="invoiceCode" jdbcType="VARCHAR" />
        <result column="INVOICE_NO" property="invoiceNo" jdbcType="VARCHAR" />
        <result column="INVOICE_KIND_CODE" property="invoiceKindCode" jdbcType="VARCHAR" />
        <result column="INVOICE_DATE" property="invoiceDate" jdbcType="VARCHAR" />
        <result column="INVOICE_STATUS" property="invoiceStatus" jdbcType="VARCHAR" />
        <result column="INVOICE_TYPE" property="invoiceType" jdbcType="VARCHAR" />
        <result column="DZFP_URL" property="dzfpUrl" jdbcType="VARCHAR" />
        <result column="INVOICE_CHECK_CODE" property="invoiceCheckCode" jdbcType="VARCHAR" />
        <result column="INVOICE_QR_CODE" property="invoiceQrCode" jdbcType="VARCHAR" />
        <result column="ORIGINAL_INVOICE_CODE" property="originalInvoiceCode" jdbcType="VARCHAR" />
        <result column="ORIGINAL_INVOICE_NO" property="originalInvoiceNo" jdbcType="VARCHAR" />
        <result column="RED_INFO_NO" property="redInfoNo" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByDocument" parameterType="com.hand.hls.vat.dto.HlsInvoiceInterfaceInfo">

        delete from HLS_INVOICE_INTERFACE_INFO  where DOCUMENT_ID = #{documentId} and DOCUMENT_TYPE= #{documentType}

    </delete>
</mapper>