<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.vat.mapper.ReceiptAttachmentMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.vat.dto.ReceiptAttachment">
        <result column="RECEIPT_ATTACHMENT_ID" property="receiptAttachmentId" jdbcType="DECIMAL" />
        <result column="RECEIPT_HD_ID" property="receiptHdId" jdbcType="DECIMAL" />
        <result column="RECEIPT_ATTACHMENT_CATEGORY" property="receiptAttachmentCategory" jdbcType="VARCHAR" />
        <result column="DOCUMENT_NAME" property="documentName" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="UPLOAD_PERSON_ID" property="uploadPersonId" jdbcType="DECIMAL" />
        <result column="LIST_DOCUMENT_ID" property="listDocumentId" jdbcType="DECIMAL" />
        <result column="IS_PROCESS_CREATE_FLAG" property="isProcessCreateFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>