<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.app.fin.mapper.VersionMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.app.user.dto.HlsCusVersion">
        <result column="version_id" property="versionId" jdbcType="DECIMAL" />
        <result column="app_version" property="appVersion" jdbcType="VARCHAR" />
        <result column="version_url" property="versionUrl" jdbcType="VARCHAR" />
        <result column="platform" property="platform" jdbcType="VARCHAR" />
        <result column="update_content" property="updateContent" jdbcType="VARCHAR" />
        <result column="big_version" property="bigVersion" jdbcType="VARCHAR" />
        <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>