<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.partner.mapper.AlipayOrderMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.partner.dto.AlipayOrderDTO">
        <result column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
        <result column="OUT_SEQ_NO" property="outSeqNo" jdbcType="VARCHAR" />
        <result column="CASHFLOW_ID" property="cashflowId" jdbcType="DECIMAL" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="SUBJECT" property="subject" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="PENETRATE_ID" property="penetrateId" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectOrderForWithhold" resultMap="BaseResultMap">
        SELECT
        o.*,
        p.penetrate_id
        FROM
        gt_alipay_order o,
        con_contract_cashflow cf,
        con_contract cc,
        prj_project p
        WHERE
        o.cashflow_id = cf.cashflow_id
        AND cf.contract_id = cc.contract_id
        AND cc.project_id = p.project_id
        AND o.order_id = #{orderId}
    </select>

    <select id="getMeaningSysCode" resultType="java.lang.String">
        SELECT v.meaning
            FROM sys_code_value_b_v v
        WHERE v.code = #{code}
        AND v.code_value = #{codeValue}
    </select>

</mapper>