<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.partner.mapper.LeasingNoticeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.partner.dto.LeasingNotice">
        <result column="NOTICE_ID" property="noticeId" jdbcType="DECIMAL"/>
        <result column="SOURCE_ID" property="sourceId" jdbcType="DECIMAL"/>
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR"/>
        <result column="SCENE" property="scene" jdbcType="VARCHAR"/>
        <result column="NOTICE_STATUS" property="noticeStatus" jdbcType="VARCHAR"/>
        <result column="ERROR_MESSAGE" property="errorMessage" jdbcType="VARCHAR"/>
        <result column="NOTICE_BODY" property="noticeBody" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="RESEND_FLAG" property="resendFlag" jdbcType="VARCHAR"/>
        <result column="source_type_n" property="sourceTypeN" jdbcType="VARCHAR"/>
        <result column="scene_n" property="sceneN" jdbcType="VARCHAR"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="VARCHAR"/>
        <result column="notice_status_n" property="noticeStatusN" jdbcType="VARCHAR"/>
        <result column="resend_flags_n" property="resendFlagsN" jdbcType="VARCHAR"/>

    </resultMap>



    <!--下面的都是推送消息的查询sql-->
    <!--人工风险审核结果通知-->
    <select id="queryPerRiskResult" resultType="com.hand.hls.partner.dto.OrderAuditResultDto" parameterType="java.lang.Long">
        SELECT
            pp.PROJECT_NUMBER AS orderNo,
            CASE pp.CONFIRM_STATUS
                WHEN 'APPROVED' THEN'PASS'
                WHEN 'REJECTED' THEN 'REJECT'
                WHEN 'APPROVED_RETURN'   THEN 'REVIEW'
                END AS status,
            (SELECT ahc.MESSAGE_ FROM ACT_HI_COMMENT ahc WHERE pp.PROCESS_INSTANCE_ID=ahc.PROC_INST_ID_ AND ahc.type_ = 'comment' ORDER BY ahc.TIME_ DESC FETCH FIRST 1 ROWS ONLY) AS opinion
        FROM PRJ_PROJECT pp WHERE pp.PROJECT_ID = #{projectId}
    </select>

    <!--放款审核结果通知-->
    <select id="queryLoanAuditResult" resultType="com.hand.hls.partner.dto.OrderAuditResultDto" parameterType="java.lang.Long">
        SELECT
            pp.PROJECT_NUMBER AS orderNo,
            CASE pp.investment_status
                WHEN 'APPROVED' THEN'PASS'
                WHEN 'REJECTED'   THEN 'REVIEW'
                END AS status,
            (SELECT ahc.MESSAGE_ FROM ACT_HI_COMMENT ahc WHERE pp.INVESTMENT_INSTANCE_ID=ahc.PROC_INST_ID_ AND ahc.type_ = 'comment' ORDER BY ahc.TIME_ DESC FETCH FIRST 1 ROWS ONLY) AS opinion
        FROM PRJ_PROJECT pp WHERE pp.PROJECT_ID = #{projectId}
    </select>

    <!--抵押材料审核结果通知-->
    <select id="queryMortgageMaterialAuditResult" resultType="com.hand.hls.partner.dto.OrderAuditResultDto" parameterType="java.lang.Long">
        SELECT
            pp.PROJECT_NUMBER AS orderNo,
            CASE cc.mortgage_status WHEN 'APPROVED' THEN 'PASS'
                                    ELSE 'REVIEW' END AS status,
            (SELECT ahc.MESSAGE_ FROM ACT_HI_COMMENT ahc WHERE cc.MORTGAGE_INSTANCE_ID=ahc.PROC_INST_ID_ AND ahc.type_ = 'comment' ORDER BY ahc.TIME_ DESC FETCH FIRST 1 ROWS ONLY) AS opinion
        FROM CON_CONTRACT cc
                 INNER JOIN PRJ_PROJECT pp ON cc.PROJECT_ID = pp.PROJECT_ID
        WHERE cc.contract_id = #{contractId}
    </select>

    <!--易靓放款结果通知-->
    <select id="queryOrderLoanResult" resultType="com.hand.hls.partner.dto.OrderLoanResultDto" parameterType="java.lang.Long">
        SELECT
            pp.project_number as orderNo,
            to_char(reqhd.actual_pay_date,'YYYY-MM-DD HH24:MI:SS') as loanTime,
            to_char(reqhd.actual_hd_pay_amount*100) as loanAmount,
            CASE reqhd.payment_approved_status
                WHEN 'PAID' THEN 'SUCCESS'
                ELSE 'FAIL'END as status,
            reqhd.payment_type as type
        FROM prj_project pp
                 LEFT JOIN CON_CONTRACT cc ON pp.PROJECT_ID = cc.PROJECT_ID
                 LEFT JOIN csh_payment_req_hd reqhd ON reqhd.source_contract_id=cc.contract_id
        where pp.PROJECT_ID = #{projectId}
    </select>

    <!--关单结果-->
    <select id="queryOrderClosedList" resultType="java.lang.String">
        SELECT
            t.PROJECT_NUMBER
        FROM (
            SELECT
                pp.PROJECT_ID,
                pp.PROJECT_NAME,
                pp.PROJECT_NUMBER,
                pp.PROJECT_STATUS,
                pp.CREATION_DATE,
                pp.INVESTMENT_STATUS,
                (SELECT
                     max( END_TIME_ )
                 FROM
                     ACT_HI_PROCINST ahp
                 WHERE
                     ahp.BUSINESS_KEY_ = pp.PROJECT_ID
                   and pp.project_status='APPROVED' AND INSTR( ahp.PROC_DEF_ID_, 'FORMAL_APPROVAL_WORK_FLOW' ) > 0
                )  approved_time
            FROM
                PRJ_PROJECT pp
                left join hls_bp_master hbm on pp.MANUFACTURER_ID = hbm.bp_id
                where hbm.bp_code in ('BP202408090380','BP202407230057')
             ) t
        WHERE
            (NVL(t.PROJECT_STATUS, 'NEW') NOT IN ('APPROVED','APPROVING') AND trunc( SYSDATE ) - 30 > trunc(t.CREATION_DATE))
           OR (t.PROJECT_STATUS = 'APPROVED' AND NVL(t.INVESTMENT_STATUS, 'NEW') NOT IN ('APPROVED','APPROVING')
            AND trunc( SYSDATE ) - 50 > trunc(t.approved_time))
    </select>


    <!--易靓需代偿通知-->
    <select id="queryAssetNeedSubstitute" resultType="com.hand.hls.partner.dto.AssetNeedSubstituteDto" parameterType="com.hand.hls.partner.dto.AssetNeedSubstituteDto">
        SELECT
            ccc.CASHFLOW_ID AS cashflowId,
            pp.PROJECT_NUMBER AS orderNo,
            ccc.TIMES AS termNo,
            TO_CHAR(ccc.FIN_INCOME_DATE,'yyyy-mm-dd') AS trialTime,
            NVL(ccc.PRINCIPAL, 0)*100 AS principal,
            NVL(ccc.INTEREST, 0)*100 AS interest,
            0 AS penalty,
            NVL(ccc.DUE_AMOUNT, 0)*100 AS payableAmount
        FROM CON_CONTRACT_CASHFLOW ccc
                 INNER JOIN CON_CONTRACT cc ON ccc.CONTRACT_ID = cc.CONTRACT_ID
                 INNER JOIN PRJ_PROJECT pp ON cc.project_id = pp.project_id
                 INNER JOIN hls_bp_master hbm on pp.MANUFACTURER_ID = hbm.bp_id
        WHERE cc.contract_status = 'INCEPT'
          AND ccc.write_off_flag not in ('FULL')
          AND ccc.cf_direction='INFLOW'
          AND ccc.times not in (0)
          and nvl(ccc.plan_type,'NO') not in ('COMP','REPO')
          AND ccc.cf_item not in (9)
          AND ccc.due_amount-nvl(ccc.RECEIVED_AMOUNT,0)>0
          AND trunc(sysdate) - nvl(pp.compen_day,30)  > trunc(ccc.DUE_DATE) AND trunc(sysdate) - nvl(pp.buy_back_day,85) &lt; trunc(ccc.DUE_DATE)
          AND hbm.bp_code in ('BP202408090380','BP202407230057')
        <if test="cashflowId != null">
            AND ccc.CASHFLOW_ID = #{cashflowId}
        </if>
    </select>

    <!--易靓需回购通知-->
    <select id="queryAssetNeedBuybackDto" resultType="com.hand.hls.partner.dto.AssetNeedBuybackDto" parameterType="com.hand.hls.partner.dto.AssetNeedBuybackDto">
        SELECT
        MAX(cc.contract_id) AS contractId,
        MAX(pp.PROJECT_NUMBER) AS orderNo,
        LISTAGG(ccc.TIMES, ',') WITHIN GROUP (ORDER BY ccc.CONTRACT_ID) AS termNos,
        TO_CHAR(SYSDATE,'yyyy-mm-dd') AS trialTime,
        (NVL(SUM(ccc.PRINCIPAL), 0)+NVL(MIN(ccc.OUTSTANDING_PRINCIPAL), 0))*100 AS principal,
        NVL(SUM(ccc.INTEREST), 0)*100 AS interest,
        0 AS penalty,
        0 AS otherFee,
        (NVL(SUM(ccc.DUE_AMOUNT), 0)+NVL(MIN(ccc.OUTSTANDING_PRINCIPAL), 0))*100  AS payableAmount
        FROM CON_CONTRACT_CASHFLOW ccc
        INNER JOIN CON_CONTRACT cc ON ccc.CONTRACT_ID = cc.CONTRACT_ID
        INNER JOIN PRJ_PROJECT pp ON cc.project_id = pp.project_id
        INNER JOIN hls_bp_master hbm on pp.MANUFACTURER_ID = hbm.bp_id
        WHERE
        cc.contract_status = 'INCEPT'
        AND ccc.write_off_flag not in ('FULL')
        AND ccc.cf_direction='INFLOW'
        AND ccc.times not in (0)
        and nvl(ccc.plan_type,'NO') not in ('COMP','REPO')
        AND ccc.cf_item = 1
        AND ccc.due_amount-nvl(ccc.RECEIVED_AMOUNT,0)>0
        AND trunc(sysdate) - nvl(pp.buy_back_day,85)  > trunc(ccc.DUE_DATE)
        AND hbm.bp_code in ('BP202408090380','BP202407230057')
        <if test="contractId != null">
            AND ccc.CONTRACT_ID = #{contractId}
        </if>
        GROUP BY cc.CONTRACT_ID
    </select>

    <!--易靓代扣签约结果通知-->
    <select id="queryWithholdContractResult" resultType="java.util.Map" parameterType="java.lang.Long">
        SELECT
            pp.PROJECT_NUMBER AS orderNo,
            DECODE(pp.ALIPAY_STATUS, 'ACTIVATED','FINISHED','CANCELED','CANCLE','') status
        FROM
            PRJ_PROJECT pp
        WHERE
            pp.PROJECT_ID = #{ projectId}
    </select>

    <!--易靓期次代扣结果通知-->
    <select id="queryRepayPlanRepaidNotify" resultType="java.util.Map" parameterType="java.lang.Long">
        SELECT
            pp.PROJECT_NUMBER  AS orderNo,
            'DEDUCT' repayType
        FROM PRJ_PROJECT pp where pp.PROJECT_ID = #{projectId}
    </select>

    <!--易靓期次代扣结果通知:具体期次查询-->
    <select id="queryTerm" resultType="com.hand.hls.partner.dto.RepayPlanRepaidNotifyDto" parameterType="java.lang.Long">
        SELECT
            ccc.TIMES AS termNo,
            NVL(ccc.PRINCIPAL, 0)*100 AS principal,
            NVL(ccc.INTEREST, 0)*100 AS interest,
            (SELECT NVL(SUM(cf.DUE_AMOUNT), 0)*100 FROM CON_CONTRACT_CASHFLOW cf WHERE cf.GENERATED_SOURCE_DOC_ID = ccc.CASHFLOW_ID AND CF_ITEM=9) AS penalty,
            (SELECT NVL(cf1.DUE_AMOUNT, 0)*100 FROM CON_CONTRACT_CASHFLOW cf1 WHERE cf1.CONTRACT_ID = cc.CONTRACT_ID AND cf1.CF_ITEM=8) AS otherFee,
            ccc.DUE_AMOUNT*100 + (SELECT NVL(SUM(cf.DUE_AMOUNT), 0)*100 FROM CON_CONTRACT_CASHFLOW cf WHERE cf.GENERATED_SOURCE_DOC_ID = ccc.CASHFLOW_ID AND CF_ITEM=9) + (SELECT NVL(cf1.DUE_AMOUNT, 0)*100 FROM CON_CONTRACT_CASHFLOW cf1 WHERE cf1.CONTRACT_ID = cc.CONTRACT_ID AND cf1.CF_ITEM=8)
                AS total,
            ct.TRANSACTION_NO AS transactionNo,
            ct.EXTERNAL_DEDUCT_NO AS externalDeductNo
        FROM CON_CONTRACT_CASHFLOW CCC
                 INNER JOIN CON_CONTRACT cc on cc.CONTRACT_ID = ccc.CONTRACT_ID
                 INNER JOIN CSH_TRANSACTION ct on cc.CONTRACT_ID = ct.CONTRACT_ID AND ct.TERM_NO = ccc.times
                 INNER JOIN PRJ_PROJECT pp ON pp.PROJECT_ID = cc.PROJECT_ID
        WHERE ct.PAYMENT_METHOD = '代偿' AND ccc.CF_ITEM=1
          AND pp.PROJECT_ID=#{projectId}
    </select>

<!--    信息发送通知记录功能页面展示-->
    <select id="qureyLeasingNotice" resultMap="BaseResultMap">
        SELECT
        l.notice_id,
        l.source_id,
        l.source_type,
        (select scvb.MEANING from sys_code_value_b scvb, sys_code_b scb where scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'YL.LEASING_NOTICE_TYPE' and scvb.value = l.source_type) source_type_n,
        CASE SCENE
        WHEN 'PRE_RISK THEN'  THEN '人工审核'
        WHEN	'LOAN_AUDIT' THEN '放款审核'
        WHEN 'MORTGAGE_MATERIAL_AUDIT' THEN '抵押材料审核'
        END scene_n,
        l.scene,
        l.notice_status,
        (select scvb.MEANING from sys_code_value_b scvb, sys_code_b scb where scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'LN.NOTICE_STATUS' and scvb.value = l.notice_status) notice_status_n,
        l.error_message,
        l.description,
        l.resend_flag,
        (select scvb.MEANING from sys_code_value_b scvb, sys_code_b scb where scvb.CODE_ID = scb.CODE_ID and
        scb.code= 'LN.RESEND_FLAG' and scvb.value = l.resend_flag) resend_flags_n,
        dbms_lob.substr( notice_body ) AS notice_body,
        l.CREATION_DATE
        FROM
        LEASING_NOTICE l
        <where>
            <if test="sourceId">
               and l.source_id=#{sourceId}
            </if>
            <if test="sourceType">
                and l.source_type=#{sourceType}
            </if>
            <if test="scene">
                and l.scene=#{scene}
            </if>
            <if test="noticeStatus">
                and l.notice_status=#{noticeStatus}
            </if>
            <if test="resendFlag">
                and l.resend_flag=#{resendFlag}
            </if>
        </where>
order by l.CREATION_DATE desc

    </select>

    <!--通过projectId查询出订单供应商是汉得测试还是其他供应商-->
    <select id="queryBpCodeByProjectId" resultType="java.lang.String" parameterType="java.lang.Long">
        select hbm.BP_CODE,hbm.bp_id from prj_project pp,hls_bp_master hbm
        where pp.MANUFACTURER_ID = hbm.bp_id
        and pp.project_id = #{projectId}
    </select>



</mapper>