<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.partner.mapper.UploadAttachListMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.partner.dto.UploadAttachList">
        <result column="list_id" property="listId" jdbcType="DECIMAL" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
        <result column="file_size" property="fileSize" jdbcType="DECIMAL" />
        <result column="content_type" property="contentType" jdbcType="VARCHAR" />
        <result column="content_md5" property="contentMd5" jdbcType="VARCHAR" />
        <result column="file_id" property="fileId" jdbcType="VARCHAR" />
        <result column="upload_url" property="uploadUrl" jdbcType="VARCHAR" />
        <result column="upload_flag" property="uploadFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByFileId" resultMap="BaseResultMap">
        SELECT
            l.*
        FROM gt_upload_attach_list l WHERE l.file_id = #{fileId}
    </select>

</mapper>