<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.partner.mapper.YLCshTransferPaymentDtoMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.partner.dto.YLCshTransferPaymentDto">
        <result column="PAYMENT_ID" property="paymentId" jdbcType="DECIMAL" />
        <result column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL" />
        <result column="CASHFLOW_ID" property="cashflowId" jdbcType="DECIMAL" />
        <result column="REPAY_PRINCIPAL" property="repayPrincipal" jdbcType="DECIMAL" />
        <result column="REPAY_INTEREST" property="repayInterest" jdbcType="DECIMAL" />
        <result column="REPAY_PENALTY" property="repayPenalty" jdbcType="DECIMAL" />
        <result column="REPAY_AMOUNT" property="repayAmount" jdbcType="DECIMAL" />
        <result column="REPAY_DATE" property="repayDate" jdbcType="DATE" />
        <result column="CONFIRM_DATE" property="confirmDate" jdbcType="DATE" />
        <result column="TRANSFER_PAYMENT_STATUS" property="transferPaymentStatus" jdbcType="VARCHAR" />
        <result column="BANK_STATEMENT" property="bankStatement" jdbcType="VARCHAR" />
    </resultMap>


</mapper>