<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.lease.mapper.YxLeaseItemManuLogMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.lease.dto.YxLeaseItemManuLog">
        <result column="log_id" property="logId" jdbcType="DECIMAL"/>
        <result column="manufacturer_id" property="manufacturerId" jdbcType="DECIMAL"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR"/>
        <result column="manufacturer_name" property="manufacturerName" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="DECIMAL"/>
        <result column="create_user_id_n" property="createUserIdN" jdbcType="VARCHAR"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="log_creation_date" property="logCreationDate" jdbcType="DATE"/>
        <result column="log_created_by" property="logCreatedBy" jdbcType="DECIMAL"/>
        <result column="log_last_update_date" property="logLastUpdateDate" jdbcType="DATE"/>
        <result column="log_ast_updated_by" property="logLastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="change_info" property="changeInfo" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>