<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.lease.mapper.YxLeaseItemClassifyLogMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.lease.dto.YxLeaseItemClassifyLog">
        <result column="log_id" property="logId" jdbcType="DECIMAL"/>
        <result column="classify_id" property="classifyId" jdbcType="DECIMAL"/>
        <result column="classify_code" property="classifyCode" jdbcType="VARCHAR"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="label_n" property="labelN" jdbcType="VARCHAR"/>
        <result column="attribute" property="attribute" jdbcType="VARCHAR"/>
        <result column="attribute_n" property="attributeN" jdbcType="VARCHAR"/>
        <result column="attribute_value" property="attributeValue" jdbcType="VARCHAR"/>
        <result column="superior_classify_id" property="superiorClassifyId" jdbcType="DECIMAL"/>
        <result column="superior_classify_id_n" property="superiorClassifyIdN" jdbcType="VARCHAR"/>
        <result column="manufacturer_id" property="manufacturerId" jdbcType="DECIMAL"/>
        <result column="manufacturer_id_n" property="manufacturerIdN" jdbcType="VARCHAR"/>
        <result column="advanced_equipment_flag" property="advancedEquipmentFlag" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="DECIMAL"/>
        <result column="create_user_id_n" property="createUserIdN" jdbcType="VARCHAR"/>
        <result column="expand_flag" property="expandFlag" jdbcType="VARCHAR"/>
        <result column="seq_num" property="seqNum" jdbcType="VARCHAR"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="log_creation_date" property="logCreationDate" jdbcType="DATE"/>
        <result column="log_created_by" property="logCreatedBy" jdbcType="DECIMAL"/>
        <result column="log_last_update_date" property="logLastUpdateDate" jdbcType="DATE"/>
        <result column="log_ast_updated_by" property="logLastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="change_info" property="changeInfo" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>