<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hls.lease.mapper.YxLeaseItemManufacturerMapper">
    <resultMap id="BaseResultMap" type="com.hand.hls.lease.dto.YxLeaseItemManufacturer">
        <result column="manufacturer_id" property="manufacturerId" jdbcType="DECIMAL"/>
        <result column="bp_id" property="bpId" jdbcType="DECIMAL"/>
        <result column="bp_id_n" property="bpIdN" jdbcType="VARCHAR"/>
        <result column="manufacturer_name" property="manufacturerName" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="DECIMAL"/>
        <result column="create_user_id_n" property="createUserIdN" jdbcType="VARCHAR"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="yxLeaseItemManufacturerQuery" resultMap="BaseResultMap">
        select v.*
        from (select t.manufacturer_id,
        t.bp_id,
        (select hm.bp_name
        from hls_bp_master hm
        where hm.bp_id = t.bp_id) bp_id_n,
        t.manufacturer_name,
        t.enabled_flag,
        to_char(t.creation_date, 'yyyy-mm-dd') create_date,
        t.created_by create_user_id,
        (select su.description
        from sys_user su
        where su.user_id = t.created_by) create_user_id_n,
        t.last_update_date,
        t.last_updated_by
        from yx_lease_item_manufacturer t) v
        <where>
            <if test="bpId!=null">
                and v.bp_id = #{bpId}
            </if>
            <if test="manufacturerName!=null">
                and v.manufacturer_name like concat(concat('%',#{manufacturerName}),'%')
            </if>
            <if test="enabledFlag!=null">
                and v.enabled_flag = #{enabledFlag}
            </if>
            <if test="createDateFrom!=null">
                and to_date(v.create_date,'yyyy-mm-dd') &gt;= to_date(#{createDateFrom},'yyyy-mm-dd')
            </if>
            <if test="createDateTo!=null">
                and to_date(v.create_date,'yyyy-mm-dd') &lt;= to_date(#{createDateTo},'yyyy-mm-dd')
            </if>
            <if test="createUserId!=null">
                and v.create_user_id = #{createUserId}
            </if>
        </where>
    </select>
</mapper>