<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hls.core.sys.mapper.HlsPrjLayoutTabMapper">

    <sql id="queryHlsPrjLayoutTabDetail">
        (
        SELECT
        t1.LAYOUT_CODE AS layout_code,
        t1.TAB_CODE AS tab_code,
        t1.TAB_DESC AS tab_desc,
        t1.TAB_SEQ AS tab_seq,
        t1.TAB_GROUP AS tab_group,
        t1.BASE_TABLE AS base_table,
        t1.QUERY_SOURCE AS query_source,
        nvl( t1.ROW_COUNT, 0 ) AS row_count,
        nvl( t1.COLUMN_COUNT, 0 ) AS column_count,
        nvl( t1.FIELD_WIDTH, 120 ) AS field_width,
        t1.ENABLED_FLAG AS enabled_flag,
        t1.CREATED_BY AS created_by,
        t1.CREATION_DATE AS creation_date,
        t1.LAST_UPDATED_BY AS last_updated_by,
        t1.LAST_UPDATE_DATE AS last_update_date,
        t1.CONFIGURABLE AS configurable,
        t1.REF_TAB_CODE AS ref_tab_code,
        nvl( t1.LABEL_WIDTH, 120 ) AS label_width,
        nvl( t1.MARGIN_TOP, 3 ) AS margin_top,
        nvl( t1.BOX_WIDTH, 1200 ) AS box_width,
        nvl( t1.SHOW_BOX, 'N' ) AS show_box,
        t1.PARENT_TAB_CODE AS parent_tab_code,
        t1.TAB_TYPE AS tab_type,
        t1.BASE_TABLE_PK AS base_table_pk,
        t1.PARENT_TABLE AS parent_table,
        t1.selected_flag AS selected_flag,
        lower(nvl((SELECT d.BASE_TABLE_PK
                   FROM hls_doc_layout_tab d
                   WHERE d.LAYOUT_CODE = t1.LAYOUT_CODE
                     AND (d.ROOT_TREE_CODE = t1.ROOT_TREE_CODE OR
                          t1.PARENT_TABLE = 'PRJ_PROJECT')
                     AND d.BASE_TABLE = t1.PARENT_TABLE
                     AND d.ENABLED_FLAG = 'Y'
            and  rownum=1 ),
                  t1.BASE_TABLE_PK)) AS parent_base_table_pk,
        t1.TREE_CODE AS tree_code,
        t1.TREE_LEVEL AS tree_level,
        t1.TAB_REF_SCREEN AS tab_ref_screen,
        ( CASE WHEN ( t1.SETUP_WIDTH = 'MARGIN_WIDTH' ) THEN nvl( t1.MARGIN_WIDTH, 70 ) ELSE '' END ) AS margin_width,
        ( CASE WHEN ( t1.SETUP_WIDTH = 'ABSOLUTE_WIDTH' ) THEN nvl( t1.WIDTH, 300 ) ELSE '' END ) AS width,
        ( CASE WHEN ( t1.SETUP_HEIGHT = 'MARGIN_HEIGHT' ) THEN nvl( t1.MARGIN_HEIGHT, 70 ) ELSE '' END ) AS margin_height,
        ( CASE WHEN ( t1.SETUP_HEIGHT = 'ABSOLUTE_HEIGHT' ) THEN nvl( t1.HEIGHT, 200 ) ELSE '' END ) AS height,
        t1.REPEAT_OBJECT AS repeat_object,
        t1.REPEAT_BINDERTARGET_FLAG AS repeat_bindertarget_flag,
        t1.ROOT_TREE_CODE AS root_tree_code,
        (
        CASE

        WHEN ( t1.BASE_TABLE is null ) THEN
        'N'
        WHEN ( t1.RECREATE_DS_FLAG = 'Y' ) THEN
        'Y' ELSE (
        CASE

        WHEN (
        (
        SELECT
        1
        FROM
        DUAL
        WHERE
        EXISTS (
        SELECT
        1
        FROM
        hls_doc_layout_tab t
        WHERE
        (
        ( t.LAYOUT_CODE = t1.LAYOUT_CODE )
        AND ( t.BASE_TABLE = t1.BASE_TABLE )
        AND ( t.ENABLED_FLAG = 'Y' )
        AND (
        ( ( t.ROOT_TREE_CODE IN ( 'TENANT', 'GUARANTEE' ) ) AND ( t.ROOT_TREE_CODE = t1.ROOT_TREE_CODE ) )
        OR ( t.ROOT_TREE_CODE NOT IN ( 'TENANT', 'GUARANTEE' ) )
        )
        AND ( t.TAB_TYPE != 'GRID' )
        AND ( t.TAB_SEQ &lt; t1.TAB_SEQ )
        AND ( t.ENABLED_FLAG = 'Y' )
        )
        )
        ) = 1
        ) THEN
        'N' ELSE 'Y'
        END
        )
        END
        ) AS parent_tab_code_flag,
        ( CASE WHEN ( t1.PARENT_TABLE = '' ) THEN 'N' ELSE 'Y' END ) AS parent_table_flag,
        nvl(
        (
        SELECT
        d.TAB_CODE
        FROM
        hls_doc_layout_tab d
        WHERE
        (
        ( d.LAYOUT_CODE = t1.LAYOUT_CODE )
        AND ( d.BASE_TABLE = nvl( t1.PARENT_TABLE, t1.BASE_TABLE ) )
        AND ( d.ENABLED_FLAG = 'Y' )
        AND ( ( d.ROOT_TREE_CODE = t1.ROOT_TREE_CODE ) OR ( t1.PARENT_TABLE = 'PRJ_PROJECT' ) OR ( t1.BASE_TABLE = 'PRJ_PROJECT' ) )
        AND (
        d.TAB_SEQ = nvl(
        (
        SELECT
        max( ht.TAB_SEQ )
        FROM
        hls_doc_layout_tab ht
        WHERE
        (
        ( ht.LAYOUT_CODE = t1.LAYOUT_CODE )
        AND ( ht.ENABLED_FLAG = 'Y' )
        AND ( ( ht.ROOT_TREE_CODE = t1.ROOT_TREE_CODE ) OR ( t1.PARENT_TABLE = 'PRJ_PROJECT' ) OR ( t1.BASE_TABLE = 'PRJ_PROJECT' ) )
        AND ( ht.BASE_TABLE = nvl( t1.PARENT_TABLE, t1.BASE_TABLE ) )
        AND ( ht.ENABLED_FLAG = 'Y' )
        AND ( ( ( ht.REF_TAB_CODE IS NOT NULL ) AND ( ht.TAB_TYPE != 'GRID' ) ) OR ( ht.REF_TAB_CODE is null ) )
        AND ( ht.TAB_SEQ &lt;= t1.TAB_SEQ )
        AND ( ht.RECREATE_DS_FLAG = 'Y' )
        )
        ),
        (
        SELECT
        min( ht.TAB_SEQ )
        FROM
        hls_doc_layout_tab ht
        WHERE
        (
        ( ht.LAYOUT_CODE = t1.LAYOUT_CODE )
        AND ( ht.ENABLED_FLAG = 'Y' )
        AND ( ( ht.ROOT_TREE_CODE = t1.ROOT_TREE_CODE ) OR ( t1.PARENT_TABLE = 'PRJ_PROJECT' ) OR ( t1.BASE_TABLE = 'PRJ_PROJECT' ) )
        AND ( ht.BASE_TABLE = nvl( t1.PARENT_TABLE, t1.BASE_TABLE ) )
        AND ( ht.ENABLED_FLAG = 'Y' )
        AND ( ( ( ht.REF_TAB_CODE IS NOT NULL ) AND ( ht.TAB_TYPE != 'GRID' ) ) OR ( ht.REF_TAB_CODE is null ) )
        )
        )
        )
        )
        AND ( d.ENABLED_FLAG = 'Y' )
        )
        ),
        t1.TAB_CODE
        ) AS parent_table_tab_code,
        t1.PARENT_LOADED_OBJECT AS parent_loaded_object,
        t1.ATTACHMENT_TAB_GROUP AS attachment_tab_group,
        t1.REPEAT_BINDNAME_OBJECT AS repeat_bindname_object,
        (
        CASE

        WHEN ( t1.ROOT_TREE_CODE = 'TENANT' ) THEN
        'TENANT'
        WHEN ( ( t1.ROOT_TREE_CODE = 'GUARANTEE' ) AND ( ( t1.BASE_TABLE = 'PRJ_PROJECT_BP' ) OR ( t1.PARENT_TABLE = 'PRJ_PROJECT_BP' ) ) ) THEN
        'GUARANTOR'
        WHEN ( ( t1.ROOT_TREE_CODE = 'ACT_CTRLER' ) AND ( ( t1.BASE_TABLE = 'PRJ_PROJECT_BP' ) OR ( t1.PARENT_TABLE = 'PRJ_PROJECT_BP' ) ) ) THEN
        'GUARANTOR'
        END
        ) AS query_bp_category,
        nvl( t1.QUERY_ONLY, 'N' ) AS query_only,
        ( CASE WHEN ( t1.FETCHALL = 'Y' ) THEN 'true' ELSE 'false' END ) AS fetchall,
        ( CASE WHEN ( t1.REF_V05 = 'Y' ) THEN 'false' ELSE 'true' END ) AS navbar,
        t1.CHECK_BEFORE_DELETE_BM AS check_before_delete_bm,
        t1.CHECK_AFTER_SAVE_BM AS check_after_save_bm,
        t1.SWITCHCARD_VALUE AS switchcard_value,
        nvl( t1.RECREATE_DS_FLAG, 'N' ) AS recreate_ds_flag
        FROM
        hls_doc_layout_tab t1
        ORDER BY
        t1.ENABLED_FLAG DESC,
        t1.TAB_SEQ
        )
    </sql>

</mapper>