<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.mail.mapper.SysMessageEmailRuleLnMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.mail.dto.SysMessageEmailRuleLn">
        <result column="RULE_LN_ID" property="ruleLnId" jdbcType="DECIMAL" />
        <result column="RULE_ID" property="ruleId" jdbcType="DECIMAL" />
        <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="TYPE" property="type" jdbcType="VARCHAR" />
        <result column="USER_ID_N" property="userIdN" jdbcType="VARCHAR" />
        <result column="TYPE_N" property="typeN" jdbcType="VARCHAR" />
    </resultMap>

    <select id="query" resultMap="BaseResultMap">
        select l.RULE_LN_ID,
               l.RULE_ID,
               l.USER_ID,
               (select u.DESCRIPTION from SYS_USER u where u.USER_ID = l.USER_ID) as USER_ID_N,
               (select u.EMAIL from SYS_USER u where u.USER_ID = l.USER_ID) as EMAIL,
               l.TYPE,
               (select v.MEANING
                from SYS_CODE_VALUE_B_V v
                where v.CODE = 'SYS.MAIL_RECEIVER_TYPE'
                  and v.CODE_VALUE = l.TYPE)                                      as TYPE_N
        from SYS_MESSAGE_EMAIL_RULE_LN l
        where l.RULE_ID = #{ruleId}
        order by l.RULE_LN_ID asc
    </select>

    <select id="queryData" parameterType="long" resultMap="BaseResultMap">
        select l.RULE_LN_ID,
               l.RULE_ID,
               l.USER_ID,
               (select u.EMAIL from SYS_USER u where u.USER_ID = l.USER_ID) as EMAIL,
               l.TYPE
        from SYS_MESSAGE_EMAIL_RULE_LN l
        where l.RULE_ID = #{ruleId}
    </select>
</mapper>
